<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B59</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 40.86438,-63.21543 }</string>
	
								<string>{ 10.31778,-72.54019 }</string>
	
								<string>{ 17.07019,-48.74598 }</string>

							</array>

							<array>
	
								<string>{ 283.79144,-33.31288 }</string>
	
								<string>{ 240.84662,-32.39264 }</string>
	
								<string>{ 222.53641,31.63988 }</string>
	
								<string>{ 220.92871,47.39551 }</string>
	
								<string>{ 224.28220,73.43558 }</string>
	
								<string>{ 285.32513,50.12270 }</string>

							</array>

							<array>
	
								<string>{ 40.86438,-63.21543 }</string>
	
								<string>{ 59.83545,-69.00321 }</string>
	
								<string>{ 1.63608,-91.83279 }</string>
	
								<string>{ 10.31778,-72.54019 }</string>

							</array>

							<array>
	
								<string>{ -36.30603,25.20901 }</string>
	
								<string>{ -26.98126,33.89069 }</string>
	
								<string>{ -18.94269,16.20580 }</string>
	
								<string>{ -24.40894,13.31190 }</string>

							</array>

							<array>
	
								<string>{ -53.34784,36.78458 }</string>
	
								<string>{ -16.69189,44.82315 }</string>
	
								<string>{ -26.98126,33.89069 }</string>
	
								<string>{ -36.30603,25.20901 }</string>

							</array>

							<array>
	
								<string>{ -165.28835,-160.00000 }</string>
	
								<string>{ -50.77548,-126.88103 }</string>
	
								<string>{ -38.87837,-123.98714 }</string>
	
								<string>{ 142.26440,-89.64078 }</string>
	
								<string>{ 112.01227,-159.69325 }</string>

							</array>

							<array>
	
								<string>{ -69.42500,43.53699 }</string>
	
								<string>{ -36.62758,55.75563 }</string>
	
								<string>{ -2.22244,49.00322 }</string>
	
								<string>{ -16.69189,44.82315 }</string>
	
								<string>{ -53.34784,36.78458 }</string>

							</array>

							<array>
	
								<string>{ 224.28220,73.43558 }</string>
	
								<string>{ 195.84833,86.62381 }</string>
	
								<string>{ 176.87726,98.52090 }</string>
	
								<string>{ 240.54285,123.60129 }</string>
	
								<string>{ 242.07361,110.85889 }</string>

							</array>

							<array>
	
								<string>{ 77.52032,-72.54019 }</string>
	
								<string>{ -5.75940,-103.72990 }</string>
	
								<string>{ 1.63608,-91.83279 }</string>
	
								<string>{ 59.83545,-69.00321 }</string>

							</array>

							<array>
	
								<string>{ 15.78400,129.71063 }</string>
	
								<string>{ 240.54285,123.60129 }</string>
	
								<string>{ 81.37885,119.74277 }</string>
	
								<string>{ 18.99945,121.67203 }</string>

							</array>

							<array>
	
								<string>{ 96.16986,-75.75562 }</string>
	
								<string>{ -15.40570,-112.09003 }</string>
	
								<string>{ -5.75940,-103.72990 }</string>
	
								<string>{ 77.52032,-72.54019 }</string>

							</array>

							<array>
	
								<string>{ -2.22244,49.00322 }</string>
	
								<string>{ -36.62758,55.75563 }</string>
	
								<string>{ 65.94476,58.97107 }</string>
	
								<string>{ 64.98013,53.50484 }</string>

							</array>

							<array>
	
								<string>{ -69.42500,43.53699 }</string>
	
								<string>{ -112.19028,50.61095 }</string>
	
								<string>{ -36.62758,55.75563 }</string>

							</array>

							<array>
	
								<string>{ 114.49783,-73.82636 }</string>
	
								<string>{ 142.26440,-89.64078 }</string>
	
								<string>{ -26.98126,-119.16399 }</string>
	
								<string>{ -15.40570,-112.09003 }</string>
	
								<string>{ 96.16986,-75.75562 }</string>

							</array>

							<array>
	
								<string>{ 240.54285,123.60129 }</string>
	
								<string>{ 116.74863,117.17044 }</string>
	
								<string>{ 81.37885,119.74277 }</string>

							</array>

							<array>
	
								<string>{ 240.54285,123.60129 }</string>
	
								<string>{ 138.29205,112.02573 }</string>
	
								<string>{ 116.74863,117.17044 }</string>

							</array>

							<array>
	
								<string>{ 240.54285,123.60129 }</string>
	
								<string>{ 158.54929,106.23795 }</string>
	
								<string>{ 138.29205,112.02573 }</string>

							</array>

							<array>
	
								<string>{ 240.54285,123.60129 }</string>
	
								<string>{ 176.87726,98.52090 }</string>
	
								<string>{ 158.54929,106.23795 }</string>

							</array>

							<array>
	
								<string>{ 224.28220,73.43558 }</string>
	
								<string>{ 215.46246,64.11577 }</string>
	
								<string>{ 195.84833,86.62381 }</string>

							</array>

							<array>
	
								<string>{ 224.28220,73.43558 }</string>
	
								<string>{ 220.92871,47.39551 }</string>
	
								<string>{ 215.46246,64.11577 }</string>

							</array>

							<array>
	
								<string>{ 240.84662,-32.39264 }</string>
	
								<string>{ 217.39172,11.70419 }</string>
	
								<string>{ 222.53641,31.63988 }</string>

							</array>

							<array>
	
								<string>{ 186.55215,-46.80981 }</string>
	
								<string>{ 206.78079,-7.26688 }</string>
	
								<string>{ 217.39172,11.70419 }</string>
	
								<string>{ 240.84662,-32.39264 }</string>

							</array>

							<array>
	
								<string>{ 186.55215,-46.80981 }</string>
	
								<string>{ 195.84833,-23.66559 }</string>
	
								<string>{ 206.78079,-7.26688 }</string>

							</array>

							<array>
	
								<string>{ 186.55215,-46.80981 }</string>
	
								<string>{ 182.34351,-37.81350 }</string>
	
								<string>{ 195.84833,-23.66559 }</string>

							</array>

							<array>
	
								<string>{ 186.55215,-46.80981 }</string>
	
								<string>{ 142.26440,-89.64078 }</string>
	
								<string>{ 169.48175,-49.71061 }</string>
	
								<string>{ 182.34351,-37.81350 }</string>

							</array>

							<array>
	
								<string>{ 142.26440,-89.64078 }</string>
	
								<string>{ 152.11841,-60.64308 }</string>
	
								<string>{ 169.48175,-49.71061 }</string>

							</array>

							<array>
	
								<string>{ 142.26440,-89.64078 }</string>
	
								<string>{ 134.75507,-68.36012 }</string>
	
								<string>{ 152.11841,-60.64308 }</string>

							</array>

							<array>
	
								<string>{ 142.26440,-89.64078 }</string>
	
								<string>{ 114.49783,-73.82636 }</string>
	
								<string>{ 134.75507,-68.36012 }</string>

							</array>

							<array>
	
								<string>{ 142.26440,-89.64078 }</string>
	
								<string>{ -38.87837,-123.98714 }</string>
	
								<string>{ -26.98126,-119.16399 }</string>

							</array>

							<array>
	
								<string>{ -106.72404,44.82315 }</string>
	
								<string>{ -112.19028,50.61095 }</string>
	
								<string>{ -86.78835,46.10933 }</string>

							</array>

							<array>
	
								<string>{ -126.33820,37.42766 }</string>
	
								<string>{ -240.16456,34.98393 }</string>
	
								<string>{ -112.19028,50.61095 }</string>
	
								<string>{ -106.72404,44.82315 }</string>

							</array>

							<array>
	
								<string>{ -140.48610,27.45981 }</string>
	
								<string>{ -240.16456,34.98393 }</string>
	
								<string>{ -126.33820,37.42766 }</string>

							</array>

							<array>
	
								<string>{ -150.45395,18.13506 }</string>
	
								<string>{ -240.16456,34.98393 }</string>
	
								<string>{ -140.48610,27.45981 }</string>

							</array>

							<array>
	
								<string>{ -156.24173,6.88103 }</string>
	
								<string>{ -240.16456,34.98393 }</string>
	
								<string>{ -150.45395,18.13506 }</string>

							</array>

							<array>
	
								<string>{ -159.77870,-6.94533 }</string>
	
								<string>{ -240.16456,34.98393 }</string>
	
								<string>{ -156.24173,6.88103 }</string>

							</array>

							<array>
	
								<string>{ -159.77870,-6.94533 }</string>
	
								<string>{ -157.52790,-25.91640 }</string>
	
								<string>{ -165.28835,-160.00000 }</string>
	
								<string>{ -240.16456,34.98393 }</string>

							</array>

							<array>
	
								<string>{ -149.81085,-45.53054 }</string>
	
								<string>{ -165.28835,-160.00000 }</string>
	
								<string>{ -157.52790,-25.91640 }</string>

							</array>

							<array>
	
								<string>{ -142.41536,-59.67845 }</string>
	
								<string>{ -165.28835,-160.00000 }</string>
	
								<string>{ -149.81085,-45.53054 }</string>

							</array>

							<array>
	
								<string>{ -132.76906,-75.11253 }</string>
	
								<string>{ -165.28835,-160.00000 }</string>
	
								<string>{ -142.41536,-59.67845 }</string>

							</array>

							<array>
	
								<string>{ -120.22887,-89.58199 }</string>
	
								<string>{ -165.28835,-160.00000 }</string>
	
								<string>{ -132.76906,-75.11253 }</string>

							</array>

							<array>
	
								<string>{ -106.40250,-103.72990 }</string>
	
								<string>{ -165.28835,-160.00000 }</string>
	
								<string>{ -120.22887,-89.58199 }</string>

							</array>

							<array>
	
								<string>{ -87.43144,-116.59164 }</string>
	
								<string>{ -165.28835,-160.00000 }</string>
	
								<string>{ -106.40250,-103.72990 }</string>

							</array>

							<array>
	
								<string>{ -74.56970,-123.02251 }</string>
	
								<string>{ -165.28835,-160.00000 }</string>
	
								<string>{ -87.43144,-116.59164 }</string>

							</array>

							<array>
	
								<string>{ -62.02951,-126.23794 }</string>
	
								<string>{ -165.28835,-160.00000 }</string>
	
								<string>{ -74.56970,-123.02251 }</string>

							</array>

							<array>
	
								<string>{ -50.77548,-126.88103 }</string>
	
								<string>{ -165.28835,-160.00000 }</string>
	
								<string>{ -62.02951,-126.23794 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -31.45329,-11.82767 }</string>
	
								<string>{ -1.09958,-39.35178 }</string>
	
								<string>{ -7.65909,-49.44824 }</string>
	
								<string>{ -36.91953,-17.61545 }</string>
	
								<string>{ -38.52725,-11.05595 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

