<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B43</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -146.27438,0.93506 }</string>
	
								<string>{ -159.81150,35.43288 }</string>
	
								<string>{ -115.44469,19.10100 }</string>

							</array>

							<array>
	
								<string>{ -207.95834,-42.70033 }</string>
	
								<string>{ -186.88573,-64.56713 }</string>
	
								<string>{ -173.34862,-90.76801 }</string>
	
								<string>{ -284.22432,-160.70114 }</string>
	
								<string>{ -283.17468,-76.81891 }</string>

							</array>

							<array>
	
								<string>{ 283.61218,46.02563 }</string>
	
								<string>{ 270.95190,-13.28526 }</string>
	
								<string>{ 254.12500,35.20032 }</string>

							</array>

							<array>
	
								<string>{ 209.62082,-73.30076 }</string>
	
								<string>{ 185.16669,-104.74181 }</string>
	
								<string>{ 188.66013,-78.10425 }</string>

							</array>

							<array>
	
								<string>{ -163.74163,-18.27892 }</string>
	
								<string>{ -224.83334,38.86218 }</string>
	
								<string>{ -215.27002,45.30186 }</string>
	
								<string>{ -159.81150,35.43288 }</string>
	
								<string>{ -146.27438,0.93506 }</string>

							</array>

							<array>
	
								<string>{ 253.79730,-53.70609 }</string>
	
								<string>{ 283.60895,-160.56086 }</string>
	
								<string>{ 173.81296,-125.70250 }</string>
	
								<string>{ 185.16669,-104.74181 }</string>
	
								<string>{ 209.62082,-73.30076 }</string>
	
								<string>{ 225.77802,-59.32696 }</string>

							</array>

							<array>
	
								<string>{ 283.60895,-160.56086 }</string>
	
								<string>{ 267.79486,-34.87180 }</string>
	
								<string>{ 270.95190,-13.28526 }</string>
	
								<string>{ 283.61218,46.02563 }</string>

							</array>

							<array>
	
								<string>{ -180.33552,-39.23962 }</string>
	
								<string>{ -207.95834,-42.70033 }</string>
	
								<string>{ -181.08334,-2.70032 }</string>
	
								<string>{ -163.74163,-18.27892 }</string>

							</array>

							<array>
	
								<string>{ -186.88573,-64.56713 }</string>
	
								<string>{ -207.95834,-42.70033 }</string>
	
								<string>{ -180.33552,-39.23962 }</string>

							</array>

							<array>
	
								<string>{ -147.58443,-113.91211 }</string>
	
								<string>{ -284.22432,-160.70114 }</string>
	
								<string>{ -173.34862,-90.76801 }</string>

							</array>

							<array>
	
								<string>{ -118.76346,-126.57587 }</string>
	
								<string>{ -284.22432,-160.70114 }</string>
	
								<string>{ -147.58443,-113.91211 }</string>

							</array>

							<array>
	
								<string>{ -59.81149,-144.04311 }</string>
	
								<string>{ -284.22432,-160.70114 }</string>
	
								<string>{ -118.76346,-126.57587 }</string>

							</array>

							<array>
	
								<string>{ 283.60895,-160.56086 }</string>
	
								<string>{ 253.79730,-53.70609 }</string>
	
								<string>{ 267.79486,-34.87180 }</string>

							</array>

							<array>
	
								<string>{ 283.60895,-160.56086 }</string>
	
								<string>{ 148.04877,-137.49290 }</string>
	
								<string>{ 173.81296,-125.70250 }</string>

							</array>

							<array>
	
								<string>{ 283.60895,-160.56086 }</string>
	
								<string>{ 92.59024,-144.91648 }</string>
	
								<string>{ 148.04877,-137.49290 }</string>

							</array>

							<array>
	
								<string>{ -284.22432,-160.70114 }</string>
	
								<string>{ 92.59024,-144.91648 }</string>
	
								<string>{ 283.60895,-160.56086 }</string>

							</array>

							<array>
	
								<string>{ 8.74747,-147.53656 }</string>
	
								<string>{ -284.22432,-160.70114 }</string>
	
								<string>{ -59.81149,-144.04311 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -15.36221,-78.74919 }</string>
	
								<string>{ 9.09195,-63.90203 }</string>
	
								<string>{ 29.17926,-72.19897 }</string>
	
								<string>{ 14.76880,-94.03304 }</string>
	
								<string>{ -0.51505,-103.64002 }</string>
	
								<string>{ -15.36221,-102.76666 }</string>

							</array>

							<array>
	
								<string>{ 123.93909,-9.31688 }</string>
	
								<string>{ 103.85178,16.01064 }</string>
	
								<string>{ 96.42819,30.85779 }</string>
	
								<string>{ 93.37140,50.94513 }</string>
	
								<string>{ 124.81247,33.04120 }</string>

							</array>

							<array>
	
								<string>{ -52.91679,-12.81033 }</string>
	
								<string>{ -29.77269,-29.40422 }</string>
	
								<string>{ -49.86003,-31.15094 }</string>
	
								<string>{ -80.42772,-10.62692 }</string>
	
								<string>{ -74.31418,-3.81470 }</string>

							</array>

							<array>
	
								<string>{ -29.77269,-29.40422 }</string>
	
								<string>{ -8.81198,-46.43478 }</string>
	
								<string>{ -29.77269,-52.54832 }</string>
	
								<string>{ -49.86003,-31.15094 }</string>

							</array>

							<array>
	
								<string>{ -8.81198,-46.43478 }</string>
	
								<string>{ 9.09195,-63.90203 }</string>
	
								<string>{ -15.36221,-78.74919 }</string>
	
								<string>{ -29.77269,-52.54832 }</string>

							</array>

							<array>
	
								<string>{ 55.81683,-72.63566 }</string>
	
								<string>{ 109.09195,-75.69243 }</string>
	
								<string>{ 14.76880,-94.03304 }</string>
	
								<string>{ 29.17926,-72.19897 }</string>

							</array>

							<array>
	
								<string>{ 93.37140,50.94513 }</string>
	
								<string>{ 57.56357,50.50845 }</string>
	
								<string>{ 33.10941,53.56522 }</string>
	
								<string>{ -2.26178,62.29884 }</string>
	
								<string>{ 71.79935,75.66129 }</string>

							</array>

							<array>
	
								<string>{ 109.09195,-75.69243 }</string>
	
								<string>{ 130.92599,-38.13784 }</string>
	
								<string>{ 146.64651,-65.64876 }</string>
	
								<string>{ 143.58975,-76.56579 }</string>

							</array>

							<array>
	
								<string>{ 109.09195,-75.69243 }</string>
	
								<string>{ 103.85178,-23.72736 }</string>
	
								<string>{ 105.59848,-2.76666 }</string>
	
								<string>{ 123.93909,-9.31688 }</string>
	
								<string>{ 130.92599,-38.13784 }</string>

							</array>

							<array>
	
								<string>{ 76.77753,-66.52212 }</string>
	
								<string>{ 109.09195,-75.69243 }</string>
	
								<string>{ 55.81683,-72.63566 }</string>

							</array>

							<array>
	
								<string>{ 93.80811,-49.49155 }</string>
	
								<string>{ 109.09195,-75.69243 }</string>
	
								<string>{ 76.77753,-66.52212 }</string>

							</array>

							<array>
	
								<string>{ 103.85178,-23.72736 }</string>
	
								<string>{ 109.09195,-75.69243 }</string>
	
								<string>{ 93.80811,-49.49155 }</string>

							</array>

							<array>
	
								<string>{ 103.85178,16.01064 }</string>
	
								<string>{ 123.93909,-9.31688 }</string>
	
								<string>{ 105.59848,-2.76666 }</string>

							</array>

							<array>
	
								<string>{ -68.63733,43.52155 }</string>
	
								<string>{ -2.26178,62.29884 }</string>
	
								<string>{ -25.84256,46.14163 }</string>
	
								<string>{ -66.89059,35.22461 }</string>

							</array>

							<array>
	
								<string>{ -2.26178,62.29884 }</string>
	
								<string>{ 5.59848,50.94513 }</string>
	
								<string>{ -25.84256,46.14163 }</string>

							</array>

							<array>
	
								<string>{ -2.26178,62.29884 }</string>
	
								<string>{ 33.10941,53.56522 }</string>
	
								<string>{ 5.59848,50.94513 }</string>

							</array>

							<array>
	
								<string>{ 79.39761,42.64819 }</string>
	
								<string>{ 93.37140,50.94513 }</string>
	
								<string>{ 96.42819,30.85779 }</string>

							</array>

							<array>
	
								<string>{ 57.56357,50.50845 }</string>
	
								<string>{ 93.37140,50.94513 }</string>
	
								<string>{ 79.39761,42.64819 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 134.44754,81.88701 }</string>
	
								<string>{ 192.78815,87.56386 }</string>
	
								<string>{ 192.52615,77.69487 }</string>
	
								<string>{ 151.04144,65.90448 }</string>
	
								<string>{ 131.82745,66.77783 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

