<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B39</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -239.56332,-160.43668 }</string>
	
								<string>{ -240.00000,38.51529 }</string>
	
								<string>{ -228.20961,-8.90829 }</string>
	
								<string>{ -229.51965,-160.43668 }</string>

							</array>

							<array>
	
								<string>{ -184.10480,25.58952 }</string>
	
								<string>{ -240.00000,38.51529 }</string>
	
								<string>{ -122.27074,41.13538 }</string>
	
								<string>{ -124.71616,31.26637 }</string>

							</array>

							<array>
	
								<string>{ -215.54585,10.74236 }</string>
	
								<string>{ -240.00000,38.51529 }</string>
	
								<string>{ -184.10480,25.58952 }</string>

							</array>

							<array>
	
								<string>{ -228.20961,-8.90829 }</string>
	
								<string>{ -240.00000,38.51529 }</string>
	
								<string>{ -215.54585,10.74236 }</string>

							</array>

							<array>
	
								<string>{ -180.61135,-53.01310 }</string>
	
								<string>{ -196.33188,-39.03930 }</string>
	
								<string>{ -133.01310,-41.22270 }</string>
	
								<string>{ -133.44978,-48.20960 }</string>

							</array>

							<array>
	
								<string>{ -208.55895,-70.91703 }</string>
	
								<string>{ -219.91266,-25.93886 }</string>
	
								<string>{ -196.33188,-39.03930 }</string>
	
								<string>{ -180.61135,-53.01310 }</string>

							</array>

							<array>
	
								<string>{ -228.64629,-109.78166 }</string>
	
								<string>{ -228.20961,-8.90829 }</string>
	
								<string>{ -219.91266,-25.93886 }</string>
	
								<string>{ -208.55895,-70.91703 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 30.74237,22.96944 }</string>
	
								<string>{ 59.56332,11.17905 }</string>
	
								<string>{ 72.05240,-2.09607 }</string>
	
								<string>{ -12.92577,13.79913 }</string>
	
								<string>{ -20.78603,21.48473 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 107.16159,-32.92576 }</string>
	
								<string>{ 70.04367,-45.58952 }</string>
	
								<string>{ 70.48035,-26.37555 }</string>

							</array>

							<array>
	
								<string>{ 107.16159,-32.92576 }</string>
	
								<string>{ 143.40613,-32.05240 }</string>
	
								<string>{ 111.52838,-54.75983 }</string>
	
								<string>{ 65.24017,-78.77729 }</string>
	
								<string>{ 60.43668,-62.18340 }</string>
	
								<string>{ 70.04367,-45.58952 }</string>

							</array>

							<array>
	
								<string>{ -20.78603,-67.59825 }</string>
	
								<string>{ 60.43668,-62.18340 }</string>
	
								<string>{ 65.24017,-78.77729 }</string>
	
								<string>{ 18.51529,-81.39738 }</string>
	
								<string>{ -20.34933,-76.15720 }</string>

							</array>

							<array>
	
								<string>{ 143.40613,-32.05240 }</string>
	
								<string>{ 172.66376,-25.93886 }</string>
	
								<string>{ 146.02621,-59.12663 }</string>
	
								<string>{ 111.52838,-54.75983 }</string>

							</array>

							<array>
	
								<string>{ 172.66376,-25.93886 }</string>
	
								<string>{ 195.80786,-9.34497 }</string>
	
								<string>{ 172.66376,-67.86026 }</string>
	
								<string>{ 146.02621,-59.12663 }</string>

							</array>

							<array>
	
								<string>{ 195.80786,-9.34497 }</string>
	
								<string>{ 209.78168,10.30568 }</string>
	
								<string>{ 242.09607,-160.87336 }</string>
	
								<string>{ 184.89084,-99.73799 }</string>
	
								<string>{ 172.66376,-67.86026 }</string>

							</array>

							<array>
	
								<string>{ -32.57642,-142.09607 }</string>
	
								<string>{ 135.54587,-144.27948 }</string>
	
								<string>{ 242.09607,-160.87336 }</string>
	
								<string>{ -106.81223,-159.56332 }</string>
	
								<string>{ -102.44542,-146.46288 }</string>

							</array>

							<array>
	
								<string>{ 166.55023,-137.29258 }</string>
	
								<string>{ 242.09607,-160.87336 }</string>
	
								<string>{ 135.54587,-144.27948 }</string>

							</array>

							<array>
	
								<string>{ 178.77731,-119.82533 }</string>
	
								<string>{ 242.09607,-160.87336 }</string>
	
								<string>{ 166.55023,-137.29258 }</string>

							</array>

							<array>
	
								<string>{ 184.89084,-99.73799 }</string>
	
								<string>{ 242.09607,-160.87336 }</string>
	
								<string>{ 178.77731,-119.82533 }</string>

							</array>

							<array>
	
								<string>{ 224.62881,35.63319 }</string>
	
								<string>{ 242.09607,-160.87336 }</string>
	
								<string>{ 209.78168,10.30568 }</string>

							</array>

							<array>
	
								<string>{ 229.86902,64.89084 }</string>
	
								<string>{ 242.09607,-160.87336 }</string>
	
								<string>{ 224.62881,35.63319 }</string>

							</array>

							<array>
	
								<string>{ 229.86902,64.89084 }</string>
	
								<string>{ 232.05240,101.13538 }</string>
	
								<string>{ 239.73801,160.78604 }</string>
	
								<string>{ 242.09607,-160.87336 }</string>

							</array>

							<array>
	
								<string>{ 220.69870,125.15283 }</string>
	
								<string>{ 239.73801,160.78604 }</string>
	
								<string>{ 232.05240,101.13538 }</string>

							</array>

							<array>
	
								<string>{ 201.04803,143.49347 }</string>
	
								<string>{ 239.73801,160.78604 }</string>
	
								<string>{ 220.69870,125.15283 }</string>

							</array>

							<array>
	
								<string>{ 174.41049,150.04367 }</string>
	
								<string>{ 239.73801,160.78604 }</string>
	
								<string>{ 201.04803,143.49347 }</string>

							</array>

							<array>
	
								<string>{ 174.41049,150.04367 }</string>
	
								<string>{ -28.64629,156.59390 }</string>
	
								<string>{ -48.29694,160.96069 }</string>
	
								<string>{ 239.73801,160.78604 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

