<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B32</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 37.72925,-115.45852 }</string>
	
								<string>{ -42.62009,-119.82533 }</string>
	
								<string>{ 13.27512,-93.62445 }</string>

							</array>

							<array>
	
								<string>{ -30.82970,-33.79913 }</string>
	
								<string>{ -65.32751,-7.59825 }</string>
	
								<string>{ -53.71179,31.96507 }</string>
	
								<string>{ -31.70305,-0.17467 }</string>
	
								<string>{ -23.40611,-22.00873 }</string>

							</array>

							<array>
	
								<string>{ -99.38864,8.99564 }</string>
	
								<string>{ -142.18340,37.37991 }</string>
	
								<string>{ -53.71179,31.96507 }</string>
	
								<string>{ -65.32751,-7.59825 }</string>

							</array>

							<array>
	
								<string>{ -133.44978,12.92577 }</string>
	
								<string>{ -142.18340,37.37991 }</string>
	
								<string>{ -99.38864,8.99564 }</string>

							</array>

							<array>
	
								<string>{ -166.63755,5.93887 }</string>
	
								<string>{ -239.56332,31.96507 }</string>
	
								<string>{ -142.18340,37.37991 }</string>
	
								<string>{ -133.44978,12.92577 }</string>

							</array>

							<array>
	
								<string>{ -188.03493,-5.41484 }</string>
	
								<string>{ -239.56332,31.96507 }</string>
	
								<string>{ -166.63755,5.93887 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.43668 }</string>
	
								<string>{ -239.56332,31.96507 }</string>
	
								<string>{ -188.03493,-5.41484 }</string>

							</array>

							<array>
	
								<string>{ 83.14410,-40.34934 }</string>
	
								<string>{ 128.55896,-8.47162 }</string>
	
								<string>{ 118.51529,-28.99564 }</string>
	
								<string>{ 88.38428,-46.89956 }</string>

							</array>

							<array>
	
								<string>{ 128.55896,-8.47162 }</string>
	
								<string>{ 167.42358,16.85590 }</string>
	
								<string>{ 160.87338,-19.82533 }</string>
	
								<string>{ 118.51529,-28.99564 }</string>

							</array>

							<array>
	
								<string>{ 167.42358,16.85590 }</string>
	
								<string>{ 199.73801,38.25328 }</string>
	
								<string>{ 192.31442,-34.67249 }</string>
	
								<string>{ 160.87338,-19.82533 }</string>

							</array>

							<array>
	
								<string>{ 199.73801,38.25328 }</string>
	
								<string>{ 219.82535,61.39738 }</string>
	
								<string>{ 209.78168,-64.80349 }</string>
	
								<string>{ 192.31442,-34.67249 }</string>

							</array>

							<array>
	
								<string>{ 74.84717,-134.23581 }</string>
	
								<string>{ -92.40175,-135.10917 }</string>
	
								<string>{ -42.62009,-119.82533 }</string>
	
								<string>{ 37.72925,-115.45852 }</string>

							</array>

							<array>
	
								<string>{ 60.87338,129.95633 }</string>
	
								<string>{ 147.77292,145.24017 }</string>
	
								<string>{ 126.81223,128.64630 }</string>
	
								<string>{ 65.67685,124.71616 }</string>

							</array>

							<array>
	
								<string>{ 147.77292,145.24017 }</string>
	
								<string>{ 239.47598,152.66376 }</string>
	
								<string>{ 168.29694,124.27948 }</string>
	
								<string>{ 126.81223,128.64630 }</string>

							</array>

							<array>
	
								<string>{ 239.47598,152.66376 }</string>
	
								<string>{ 197.99127,114.67249 }</string>
	
								<string>{ 168.29694,124.27948 }</string>

							</array>

							<array>
	
								<string>{ 239.47598,152.66376 }</string>
	
								<string>{ 222.88211,86.28821 }</string>
	
								<string>{ 197.99127,114.67249 }</string>

							</array>

							<array>
	
								<string>{ 240.34937,-160.43668 }</string>
	
								<string>{ 215.89520,-125.50218 }</string>
	
								<string>{ 219.82535,61.39738 }</string>
	
								<string>{ 222.88211,86.28821 }</string>
	
								<string>{ 239.47598,152.66376 }</string>

							</array>

							<array>
	
								<string>{ 125.93887,-148.20961 }</string>
	
								<string>{ -140.87336,-137.29258 }</string>
	
								<string>{ -92.40175,-135.10917 }</string>
	
								<string>{ 74.84717,-134.23581 }</string>

							</array>

							<array>
	
								<string>{ -198.95197,-59.12663 }</string>
	
								<string>{ -240.00000,-160.43668 }</string>
	
								<string>{ -195.89520,-28.99564 }</string>

							</array>

							<array>
	
								<string>{ -195.02183,-89.25764 }</string>
	
								<string>{ -240.00000,-160.43668 }</string>
	
								<string>{ -198.95197,-59.12663 }</string>

							</array>

							<array>
	
								<string>{ -185.85153,-112.40174 }</string>
	
								<string>{ -240.00000,-160.43668 }</string>
	
								<string>{ -195.02183,-89.25764 }</string>

							</array>

							<array>
	
								<string>{ -171.00436,-129.86900 }</string>
	
								<string>{ -240.00000,-160.43668 }</string>
	
								<string>{ -185.85153,-112.40174 }</string>

							</array>

							<array>
	
								<string>{ -140.87336,-137.29258 }</string>
	
								<string>{ -240.00000,-160.43668 }</string>
	
								<string>{ -171.00436,-129.86900 }</string>

							</array>

							<array>
	
								<string>{ -140.87336,-137.29258 }</string>
	
								<string>{ 160.43668,-150.82969 }</string>
	
								<string>{ 240.34937,-160.43668 }</string>
	
								<string>{ -240.00000,-160.43668 }</string>

							</array>

							<array>
	
								<string>{ 219.82535,61.39738 }</string>
	
								<string>{ 215.89520,-97.99126 }</string>
	
								<string>{ 209.78168,-64.80349 }</string>

							</array>

							<array>
	
								<string>{ 240.34937,-160.43668 }</string>
	
								<string>{ 195.37119,-146.89956 }</string>
	
								<string>{ 215.89520,-125.50218 }</string>

							</array>

							<array>
	
								<string>{ 240.34937,-160.43668 }</string>
	
								<string>{ 160.43668,-150.82969 }</string>
	
								<string>{ 195.37119,-146.89956 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 88.20963,11.44106 }</string>
	
								<string>{ 60.43668,-11.96506 }</string>
	
								<string>{ 32.92578,-26.37555 }</string>
	
								<string>{ 12.83842,21.92140 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

