<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B59</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -176.68639,-109.70414 }</string>
	
								<string>{ -147.69231,-124.79290 }</string>
	
								<string>{ -130.82841,-136.33136 }</string>
	
								<string>{ -103.01776,-160.00000 }</string>
	
								<string>{ -185.85799,-161.18343 }</string>

							</array>

							<array>
	
								<string>{ -103.01776,-160.00000 }</string>
	
								<string>{ -110.71007,-140.76923 }</string>
	
								<string>{ -65.14793,-140.17752 }</string>
	
								<string>{ -62.48521,-148.75740 }</string>

							</array>

							<array>
	
								<string>{ -103.01776,-160.00000 }</string>
	
								<string>{ -130.82841,-136.33136 }</string>
	
								<string>{ -110.71007,-140.76923 }</string>

							</array>

							<array>
	
								<string>{ -136.15385,65.44379 }</string>
	
								<string>{ -144.73373,37.92899 }</string>
	
								<string>{ -159.23077,11.59763 }</string>
	
								<string>{ -177.27811,13.07692 }</string>
	
								<string>{ -207.45562,42.36685 }</string>
	
								<string>{ -209.52663,53.66864 }</string>

							</array>

							<array>
	
								<string>{ -18.99409,53.01775 }</string>
	
								<string>{ -86.74556,52.72189 }</string>
	
								<string>{ -136.15385,65.44379 }</string>
	
								<string>{ -70.76924,64.55620 }</string>
	
								<string>{ -13.90533,57.21893 }</string>

							</array>

							<array>
	
								<string>{ -125.20711,49.76331 }</string>
	
								<string>{ -136.15385,65.44379 }</string>
	
								<string>{ -86.74556,52.72189 }</string>

							</array>

							<array>
	
								<string>{ -144.73373,37.92899 }</string>
	
								<string>{ -136.15385,65.44379 }</string>
	
								<string>{ -125.20711,49.76331 }</string>

							</array>

							<array>
	
								<string>{ -162.48521,-37.51479 }</string>
	
								<string>{ -176.68639,-109.70414 }</string>
	
								<string>{ -177.27811,13.07692 }</string>
	
								<string>{ -159.23077,11.59763 }</string>

							</array>

							<array>
	
								<string>{ -161.59763,-82.78107 }</string>
	
								<string>{ -176.68639,-109.70414 }</string>
	
								<string>{ -162.48521,-37.51479 }</string>

							</array>

							<array>
	
								<string>{ -157.45563,-111.47929 }</string>
	
								<string>{ -176.68639,-109.70414 }</string>
	
								<string>{ -161.59763,-82.78107 }</string>

							</array>

							<array>
	
								<string>{ -147.69231,-124.79290 }</string>
	
								<string>{ -176.68639,-109.70414 }</string>
	
								<string>{ -157.45563,-111.47929 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 15.91714,-41.95267 }</string>
	
								<string>{ 17.98816,-23.01776 }</string>
	
								<string>{ 58.52069,-6.74556 }</string>
	
								<string>{ 71.24258,-25.97633 }</string>
	
								<string>{ 54.67456,-44.61539 }</string>
	
								<string>{ 32.48520,-52.01184 }</string>

							</array>

							<array>
	
								<string>{ 84.55621,-15.02959 }</string>
	
								<string>{ 78.63904,-3.78699 }</string>
	
								<string>{ 100.29584,-3.43196 }</string>
	
								<string>{ 99.64496,-9.40829 }</string>

							</array>

							<array>
	
								<string>{ 71.24258,-25.97633 }</string>
	
								<string>{ 58.52069,-6.74556 }</string>
	
								<string>{ 78.63904,-3.78699 }</string>
	
								<string>{ 84.55621,-15.02959 }</string>

							</array>

							<array>
	
								<string>{ -4.79291,-44.91125 }</string>
	
								<string>{ 17.98816,-23.01776 }</string>
	
								<string>{ 15.91714,-41.95267 }</string>

							</array>

							<array>
	
								<string>{ -4.79291,-44.91125 }</string>
	
								<string>{ -36.15385,-59.40829 }</string>
	
								<string>{ -41.77516,-55.20710 }</string>
	
								<string>{ 17.98816,-23.01776 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 66.21301,-103.19527 }</string>
	
								<string>{ 81.30176,-110.88758 }</string>
	
								<string>{ 35.73962,-160.29586 }</string>
	
								<string>{ 43.72781,-105.56213 }</string>

							</array>

							<array>
	
								<string>{ 103.78696,-120.35503 }</string>
	
								<string>{ 35.73962,-160.29586 }</string>
	
								<string>{ 81.30176,-110.88758 }</string>

							</array>

							<array>
	
								<string>{ 103.78696,-120.35503 }</string>
	
								<string>{ 130.71005,-121.83432 }</string>
	
								<string>{ 240.76923,-160.29586 }</string>
	
								<string>{ 35.73962,-160.29586 }</string>

							</array>

							<array>
	
								<string>{ 178.63904,91.77515 }</string>
	
								<string>{ 125.97632,76.68639 }</string>
	
								<string>{ 114.43787,78.81656 }</string>

							</array>

							<array>
	
								<string>{ 178.63904,91.77515 }</string>
	
								<string>{ 151.12424,71.95265 }</string>
	
								<string>{ 125.97632,76.68639 }</string>

							</array>

							<array>
	
								<string>{ 178.63904,91.77515 }</string>
	
								<string>{ 170.65088,65.44379 }</string>
	
								<string>{ 151.12424,71.95265 }</string>

							</array>

							<array>
	
								<string>{ 178.63904,91.77515 }</string>
	
								<string>{ 239.94083,95.08875 }</string>
	
								<string>{ 183.66861,58.04733 }</string>
	
								<string>{ 170.65088,65.44379 }</string>

							</array>

							<array>
	
								<string>{ 239.94083,95.08875 }</string>
	
								<string>{ 192.24850,49.46745 }</string>
	
								<string>{ 183.66861,58.04733 }</string>

							</array>

							<array>
	
								<string>{ 239.94083,95.08875 }</string>
	
								<string>{ 199.94083,36.44969 }</string>
	
								<string>{ 192.24850,49.46745 }</string>

							</array>

							<array>
	
								<string>{ 239.94083,95.08875 }</string>
	
								<string>{ 207.04141,22.24852 }</string>
	
								<string>{ 199.94083,36.44969 }</string>

							</array>

							<array>
	
								<string>{ 239.94083,95.08875 }</string>
	
								<string>{ 213.84613,4.49704 }</string>
	
								<string>{ 207.04141,22.24852 }</string>

							</array>

							<array>
	
								<string>{ 239.94083,95.08875 }</string>
	
								<string>{ 221.24258,-18.28403 }</string>
	
								<string>{ 213.84613,4.49704 }</string>

							</array>

							<array>
	
								<string>{ 240.76923,-160.29586 }</string>
	
								<string>{ 221.24258,-18.28403 }</string>
	
								<string>{ 239.94083,95.08875 }</string>

							</array>

							<array>
	
								<string>{ 157.04141,-119.76331 }</string>
	
								<string>{ 240.76923,-160.29586 }</string>
	
								<string>{ 130.71005,-121.83432 }</string>

							</array>

							<array>
	
								<string>{ 182.18933,-112.36687 }</string>
	
								<string>{ 240.76923,-160.29586 }</string>
	
								<string>{ 157.04141,-119.76331 }</string>

							</array>

							<array>
	
								<string>{ 202.30768,-100.82840 }</string>
	
								<string>{ 240.76923,-160.29586 }</string>
	
								<string>{ 182.18933,-112.36687 }</string>

							</array>

							<array>
	
								<string>{ 219.17157,-79.23077 }</string>
	
								<string>{ 240.76923,-160.29586 }</string>
	
								<string>{ 202.30768,-100.82840 }</string>

							</array>

							<array>
	
								<string>{ 224.49704,-59.11243 }</string>
	
								<string>{ 240.76923,-160.29586 }</string>
	
								<string>{ 219.17157,-79.23077 }</string>

							</array>

							<array>
	
								<string>{ 223.60947,-35.73965 }</string>
	
								<string>{ 240.76923,-160.29586 }</string>
	
								<string>{ 224.49704,-59.11243 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

