<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B13</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -54.84715,-11.96506 }</string>
	
								<string>{ -70.13100,-1.92140 }</string>
	
								<string>{ -91.52838,22.09607 }</string>
	
								<string>{ -108.12227,60.08734 }</string>
	
								<string>{ -75.37117,43.05678 }</string>
	
								<string>{ -47.42358,22.09607 }</string>
	
								<string>{ -32.57642,1.57205 }</string>
	
								<string>{ -22.27074,-23.49345 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-67.86026 }</string>
	
								<string>{ -232.13974,-15.02184 }</string>
	
								<string>{ -224.27948,-65.67686 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,62.53276 }</string>
	
								<string>{ -232.13974,-15.02184 }</string>
	
								<string>{ -240.00000,-67.86026 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,62.53276 }</string>
	
								<string>{ -226.02620,16.85590 }</string>
	
								<string>{ -232.13974,-15.02184 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,62.53276 }</string>
	
								<string>{ -203.31878,36.06987 }</string>
	
								<string>{ -226.02620,16.85590 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,62.53276 }</string>
	
								<string>{ -108.12227,60.08734 }</string>
	
								<string>{ -177.11790,39.12665 }</string>
	
								<string>{ -203.31878,36.06987 }</string>

							</array>

							<array>
	
								<string>{ -108.12227,60.08734 }</string>
	
								<string>{ -131.26637,36.94324 }</string>
	
								<string>{ -177.11790,39.12665 }</string>

							</array>

							<array>
	
								<string>{ -108.12227,60.08734 }</string>
	
								<string>{ -91.52838,22.09607 }</string>
	
								<string>{ -131.26637,36.94324 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 226.37555,150.04367 }</string>
	
								<string>{ 240.61136,161.22272 }</string>
	
								<string>{ 240.78604,133.44980 }</string>

							</array>

							<array>
	
								<string>{ -12.92577,156.59390 }</string>
	
								<string>{ -38.25327,161.22272 }</string>
	
								<string>{ 240.61136,161.22272 }</string>
	
								<string>{ 226.37555,150.04367 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 26.81223,50.04367 }</string>
	
								<string>{ 17.64194,58.60263 }</string>
	
								<string>{ 51.96506,74.75983 }</string>
	
								<string>{ 70.04367,65.76419 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -191.52839,-139.91266 }</string>
	
								<string>{ -239.56332,-161.31004 }</string>
	
								<string>{ -240.00000,-122.62009 }</string>

							</array>

							<array>
	
								<string>{ 164.36682,112.92578 }</string>
	
								<string>{ 121.57205,75.80786 }</string>
	
								<string>{ 90.39301,93.53712 }</string>

							</array>

							<array>
	
								<string>{ 164.36682,112.92578 }</string>
	
								<string>{ 239.91266,127.33624 }</string>
	
								<string>{ 150.82971,55.72052 }</string>
	
								<string>{ 121.57205,75.80786 }</string>

							</array>

							<array>
	
								<string>{ 239.91266,127.33624 }</string>
	
								<string>{ 167.42358,38.68996 }</string>
	
								<string>{ 150.82971,55.72052 }</string>

							</array>

							<array>
	
								<string>{ -45.67685,-49.08297 }</string>
	
								<string>{ -11.61572,-69.60699 }</string>
	
								<string>{ -67.51091,-92.31441 }</string>
	
								<string>{ -58.34061,-52.13974 }</string>
	
								<string>{ -52.66376,-49.51965 }</string>

							</array>

							<array>
	
								<string>{ 38.16595,-88.82096 }</string>
	
								<string>{ -88.47162,-122.88210 }</string>
	
								<string>{ -67.51091,-92.31441 }</string>
	
								<string>{ -11.61572,-69.60699 }</string>

							</array>

							<array>
	
								<string>{ -120.78603,-137.72926 }</string>
	
								<string>{ 240.34937,-160.00000 }</string>
	
								<string>{ -239.56332,-161.31004 }</string>
	
								<string>{ -191.52839,-139.91266 }</string>

							</array>

							<array>
	
								<string>{ 239.91266,127.33624 }</string>
	
								<string>{ 175.28384,25.58952 }</string>
	
								<string>{ 167.42358,38.68996 }</string>

							</array>

							<array>
	
								<string>{ 239.91266,127.33624 }</string>
	
								<string>{ 184.01749,3.75546 }</string>
	
								<string>{ 175.28384,25.58952 }</string>

							</array>

							<array>
	
								<string>{ 240.34937,-160.00000 }</string>
	
								<string>{ 187.07425,-18.95197 }</string>
	
								<string>{ 184.01749,3.75546 }</string>
	
								<string>{ 239.91266,127.33624 }</string>

							</array>

							<array>
	
								<string>{ 66.11356,-93.18777 }</string>
	
								<string>{ 240.34937,-160.00000 }</string>
	
								<string>{ -120.78603,-137.72926 }</string>
	
								<string>{ -88.47162,-122.88210 }</string>
	
								<string>{ 38.16595,-88.82096 }</string>

							</array>

							<array>
	
								<string>{ 101.04803,-92.75109 }</string>
	
								<string>{ 240.34937,-160.00000 }</string>
	
								<string>{ 66.11356,-93.18777 }</string>

							</array>

							<array>
	
								<string>{ 135.54587,-85.32751 }</string>
	
								<string>{ 240.34937,-160.00000 }</string>
	
								<string>{ 101.04803,-92.75109 }</string>

							</array>

							<array>
	
								<string>{ 162.18341,-71.35371 }</string>
	
								<string>{ 240.34937,-160.00000 }</string>
	
								<string>{ 135.54587,-85.32751 }</string>

							</array>

							<array>
	
								<string>{ 178.77731,-47.33624 }</string>
	
								<string>{ 240.34937,-160.00000 }</string>
	
								<string>{ 162.18341,-71.35371 }</string>

							</array>

							<array>
	
								<string>{ 187.07425,-18.95197 }</string>
	
								<string>{ 240.34937,-160.00000 }</string>
	
								<string>{ 178.77731,-47.33624 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

