<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B59</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -184.97816,-160.00000 }</string>
	
								<string>{ -174.93449,-0.61136 }</string>
	
								<string>{ -158.77729,-79.21397 }</string>
	
								<string>{ -149.60699,-160.00000 }</string>

							</array>

							<array>
	
								<string>{ -87.16158,-94.06113 }</string>
	
								<string>{ -158.77729,-79.21397 }</string>
	
								<string>{ -113.36244,-79.65065 }</string>
	
								<string>{ -79.73799,-86.63755 }</string>

							</array>

							<array>
	
								<string>{ -121.65939,54.84717 }</string>
	
								<string>{ -146.11353,65.32751 }</string>
	
								<string>{ -92.13974,65.58952 }</string>
	
								<string>{ -93.71179,58.34062 }</string>

							</array>

							<array>
	
								<string>{ -140.43668,41.31004 }</string>
	
								<string>{ -146.11353,65.32751 }</string>
	
								<string>{ -121.65939,54.84717 }</string>

							</array>

							<array>
	
								<string>{ -152.22707,22.96944 }</string>
	
								<string>{ -212.48908,51.61572 }</string>
	
								<string>{ -146.11353,65.32751 }</string>
	
								<string>{ -140.43668,41.31004 }</string>

							</array>

							<array>
	
								<string>{ -159.65065,0.69870 }</string>
	
								<string>{ -174.93449,-0.61136 }</string>
	
								<string>{ -207.68559,41.74673 }</string>
	
								<string>{ -212.48908,51.61572 }</string>
	
								<string>{ -152.22707,22.96944 }</string>

							</array>

							<array>
	
								<string>{ -158.77729,-79.21397 }</string>
	
								<string>{ -134.75983,-70.04366 }</string>
	
								<string>{ -113.36244,-79.65065 }</string>

							</array>

							<array>
	
								<string>{ -158.77729,-79.21397 }</string>
	
								<string>{ -148.73362,-58.25327 }</string>
	
								<string>{ -134.75983,-70.04366 }</string>

							</array>

							<array>
	
								<string>{ -158.77729,-79.21397 }</string>
	
								<string>{ -159.65065,-42.96943 }</string>
	
								<string>{ -148.73362,-58.25327 }</string>

							</array>

							<array>
	
								<string>{ -174.93449,-0.61136 }</string>
	
								<string>{ -162.27074,-24.62881 }</string>
	
								<string>{ -159.65065,-42.96943 }</string>
	
								<string>{ -158.77729,-79.21397 }</string>

							</array>

							<array>
	
								<string>{ -174.93449,-0.61136 }</string>
	
								<string>{ -159.65065,0.69870 }</string>
	
								<string>{ -162.27074,-24.62881 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 94.49783,-11.09171 }</string>
	
								<string>{ 78.34061,0.26201 }</string>
	
								<string>{ 93.18777,-0.17467 }</string>
	
								<string>{ 103.23145,-5.41484 }</string>

							</array>

							<array>
	
								<string>{ 75.72052,-23.31877 }</string>
	
								<string>{ 18.95197,-23.31877 }</string>
	
								<string>{ 78.34061,0.26201 }</string>
	
								<string>{ 94.49783,-11.09171 }</string>

							</array>

							<array>
	
								<string>{ 60.43668,-40.78603 }</string>
	
								<string>{ 18.95197,-23.31877 }</string>
	
								<string>{ 75.72052,-23.31877 }</string>

							</array>

							<array>
	
								<string>{ 59.12665,-64.36681 }</string>
	
								<string>{ 37.29257,-62.18340 }</string>
	
								<string>{ 24.62881,-46.02620 }</string>
	
								<string>{ 18.95197,-23.31877 }</string>
	
								<string>{ 60.43668,-40.78603 }</string>

							</array>

							<array>
	
								<string>{ -40.87335,-52.31441 }</string>
	
								<string>{ 18.95197,-23.31877 }</string>
	
								<string>{ 0.61136,-43.84280 }</string>
	
								<string>{ -39.56331,-61.31004 }</string>

							</array>

							<array>
	
								<string>{ 18.95197,-23.31877 }</string>
	
								<string>{ 24.62881,-46.02620 }</string>
	
								<string>{ 0.61136,-43.84280 }</string>

							</array>

							<array>
	
								<string>{ 59.12665,-64.36681 }</string>
	
								<string>{ 62.18341,-87.94759 }</string>
	
								<string>{ 44.27948,-76.15720 }</string>
	
								<string>{ 37.29257,-62.18340 }</string>

							</array>

							<array>
	
								<string>{ 62.18341,-87.94759 }</string>
	
								<string>{ 74.41049,-105.41484 }</string>
	
								<string>{ 45.15283,-95.37118 }</string>
	
								<string>{ 44.27948,-76.15720 }</string>

							</array>

							<array>
	
								<string>{ 74.41049,-105.41484 }</string>
	
								<string>{ 95.37119,-116.33188 }</string>
	
								<string>{ 42.53275,-118.95197 }</string>
	
								<string>{ 45.15283,-95.37118 }</string>

							</array>

							<array>
	
								<string>{ 95.37119,-116.33188 }</string>
	
								<string>{ 34.67249,-132.05240 }</string>
	
								<string>{ 42.53275,-118.95197 }</string>

							</array>

							<array>
	
								<string>{ 110.65503,78.42795 }</string>
	
								<string>{ 175.72052,89.34499 }</string>
	
								<string>{ 147.77292,71.87773 }</string>
	
								<string>{ 111.96506,71.00436 }</string>

							</array>

							<array>
	
								<string>{ 175.72052,89.34499 }</string>
	
								<string>{ 172.22708,67.51093 }</string>
	
								<string>{ 147.77292,71.87773 }</string>

							</array>

							<array>
	
								<string>{ 175.72052,89.34499 }</string>
	
								<string>{ 240.17468,93.97380 }</string>
	
								<string>{ 184.01749,59.65067 }</string>
	
								<string>{ 172.22708,67.51093 }</string>

							</array>

							<array>
	
								<string>{ 240.17468,93.97380 }</string>
	
								<string>{ 197.55460,41.31004 }</string>
	
								<string>{ 184.01749,59.65067 }</string>

							</array>

							<array>
	
								<string>{ 240.17468,93.97380 }</string>
	
								<string>{ 209.78168,14.23581 }</string>
	
								<string>{ 197.55460,41.31004 }</string>

							</array>

							<array>
	
								<string>{ -16.85590,-132.92576 }</string>
	
								<string>{ -2.44540,-160.43668 }</string>
	
								<string>{ -42.18340,-129.86900 }</string>
	
								<string>{ -39.56331,-125.50218 }</string>

							</array>

							<array>
	
								<string>{ 10.65503,-135.54585 }</string>
	
								<string>{ -2.44540,-160.43668 }</string>
	
								<string>{ -16.85590,-132.92576 }</string>

							</array>

							<array>
	
								<string>{ 34.67249,-132.05240 }</string>
	
								<string>{ -2.44540,-160.43668 }</string>
	
								<string>{ 10.65503,-135.54585 }</string>

							</array>

							<array>
	
								<string>{ 240.17468,93.97380 }</string>
	
								<string>{ 220.26202,-14.58514 }</string>
	
								<string>{ 209.78168,14.23581 }</string>

							</array>

							<array>
	
								<string>{ 95.37119,-116.33188 }</string>
	
								<string>{ 118.07861,-121.13537 }</string>
	
								<string>{ 240.34937,-160.43668 }</string>
	
								<string>{ -2.44540,-160.43668 }</string>
	
								<string>{ 34.67249,-132.05240 }</string>

							</array>

							<array>
	
								<string>{ 240.17468,93.97380 }</string>
	
								<string>{ 224.19214,-38.60262 }</string>
	
								<string>{ 220.26202,-14.58514 }</string>

							</array>

							<array>
	
								<string>{ 240.34937,-160.43668 }</string>
	
								<string>{ 224.62881,-63.05677 }</string>
	
								<string>{ 224.19214,-38.60262 }</string>
	
								<string>{ 240.17468,93.97380 }</string>

							</array>

							<array>
	
								<string>{ 240.34937,-160.43668 }</string>
	
								<string>{ 217.20526,-85.76419 }</string>
	
								<string>{ 224.62881,-63.05677 }</string>

							</array>

							<array>
	
								<string>{ 240.34937,-160.43668 }</string>
	
								<string>{ 197.11792,-104.97816 }</string>
	
								<string>{ 217.20526,-85.76419 }</string>

							</array>

							<array>
	
								<string>{ 240.34937,-160.43668 }</string>
	
								<string>{ 172.22708,-114.58515 }</string>
	
								<string>{ 197.11792,-104.97816 }</string>

							</array>

							<array>
	
								<string>{ 240.34937,-160.43668 }</string>
	
								<string>{ 143.40613,-119.38865 }</string>
	
								<string>{ 172.22708,-114.58515 }</string>

							</array>

							<array>
	
								<string>{ 240.34937,-160.43668 }</string>
	
								<string>{ 118.07861,-121.13537 }</string>
	
								<string>{ 143.40613,-119.38865 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

