<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B56</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 9.69998,-38.78422 }</string>
	
								<string>{ 40.56815,-57.11219 }</string>
	
								<string>{ 10.68317,-58.13601 }</string>
	
								<string>{ 0.84341,-45.57726 }</string>

							</array>

							<array>
	
								<string>{ 40.56815,-57.11219 }</string>
	
								<string>{ 17.29514,-69.44921 }</string>
	
								<string>{ 10.68317,-58.13601 }</string>

							</array>

							<array>
	
								<string>{ 40.56815,-57.11219 }</string>
	
								<string>{ 58.89612,-66.43695 }</string>
	
								<string>{ 22.40448,-81.11311 }</string>
	
								<string>{ 17.29514,-69.44921 }</string>

							</array>

							<array>
	
								<string>{ 205.92096,-103.36586 }</string>
	
								<string>{ 180.37149,-92.92630 }</string>
	
								<string>{ 189.12122,-42.64274 }</string>
	
								<string>{ 194.07864,-28.86319 }</string>
	
								<string>{ 241.86749,73.43848 }</string>
	
								<string>{ 284.45422,78.17033 }</string>
	
								<string>{ 284.20557,-115.39189 }</string>

							</array>

							<array>
	
								<string>{ -78.08136,-36.21187 }</string>
	
								<string>{ -104.76947,-36.21187 }</string>
	
								<string>{ -69.58696,-20.46243 }</string>
	
								<string>{ -60.03741,-21.16629 }</string>

							</array>

							<array>
	
								<string>{ -92.55081,-50.91541 }</string>
	
								<string>{ -104.76947,-36.21187 }</string>
	
								<string>{ -78.08136,-36.21187 }</string>

							</array>

							<array>
	
								<string>{ -104.12639,-64.37342 }</string>
	
								<string>{ -133.06529,-46.50126 }</string>
	
								<string>{ -104.76947,-36.21187 }</string>
	
								<string>{ -92.55081,-50.91541 }</string>

							</array>

							<array>
	
								<string>{ -112.48651,-75.76171 }</string>
	
								<string>{ -155.57333,-51.00287 }</string>
	
								<string>{ -133.06529,-46.50126 }</string>
	
								<string>{ -104.12639,-64.37342 }</string>

							</array>

							<array>
	
								<string>{ 51.45999,30.51016 }</string>
	
								<string>{ 121.27554,55.09410 }</string>
	
								<string>{ 74.60226,31.52425 }</string>
	
								<string>{ 51.45999,21.41949 }</string>

							</array>

							<array>
	
								<string>{ 58.89612,-66.43695 }</string>
	
								<string>{ 75.93793,-74.15399 }</string>
	
								<string>{ 24.58463,-96.29367 }</string>
	
								<string>{ 22.40448,-81.11311 }</string>

							</array>

							<array>
	
								<string>{ -58.09003,30.42534 }</string>
	
								<string>{ -62.08546,41.37991 }</string>
	
								<string>{ -33.38065,23.84166 }</string>
	
								<string>{ -45.40584,22.18713 }</string>

							</array>

							<array>
	
								<string>{ -73.17430,38.79520 }</string>
	
								<string>{ -62.08546,41.37991 }</string>
	
								<string>{ -58.09003,30.42534 }</string>

							</array>

							<array>
	
								<string>{ -88.36458,44.59535 }</string>
	
								<string>{ -130.77032,70.27200 }</string>
	
								<string>{ -62.08546,41.37991 }</string>
	
								<string>{ -73.17430,38.79520 }</string>

							</array>

							<array>
	
								<string>{ -118.59584,-85.72955 }</string>
	
								<string>{ -173.90131,-51.32441 }</string>
	
								<string>{ -155.57333,-51.00287 }</string>
	
								<string>{ -112.48651,-75.76171 }</string>

							</array>

							<array>
	
								<string>{ 97.15979,-80.58486 }</string>
	
								<string>{ 93.28360,-89.62960 }</string>
	
								<string>{ 23.84790,-107.59451 }</string>
	
								<string>{ 24.58463,-96.29367 }</string>
	
								<string>{ 75.93793,-74.15399 }</string>

							</array>

							<array>
	
								<string>{ -241.74697,75.17078 }</string>
	
								<string>{ -192.87237,77.61450 }</string>
	
								<string>{ -200.26787,16.84279 }</string>
	
								<string>{ -203.94530,1.13399 }</string>
	
								<string>{ -284.32154,-160.62483 }</string>
	
								<string>{ -284.31546,60.82019 }</string>

							</array>

							<array>
	
								<string>{ -88.36458,44.59535 }</string>
	
								<string>{ -192.87237,77.61450 }</string>
	
								<string>{ -130.77032,70.27200 }</string>

							</array>

							<array>
	
								<string>{ -122.45436,-94.08968 }</string>
	
								<string>{ -173.90131,-51.32441 }</string>
	
								<string>{ -118.59584,-85.72955 }</string>

							</array>

							<array>
	
								<string>{ -124.51788,-104.05753 }</string>
	
								<string>{ -188.69230,-47.46589 }</string>
	
								<string>{ -173.90131,-51.32441 }</string>
	
								<string>{ -122.45436,-94.08968 }</string>

							</array>

							<array>
	
								<string>{ 241.86749,73.43848 }</string>
	
								<string>{ 163.98782,43.85245 }</string>
	
								<string>{ 152.23737,46.41861 }</string>
	
								<string>{ 121.27554,55.09410 }</string>
	
								<string>{ 178.63837,70.24727 }</string>
	
								<string>{ 238.96045,79.54376 }</string>

							</array>

							<array>
	
								<string>{ -123.09744,-116.27618 }</string>
	
								<string>{ -188.69230,-47.46589 }</string>
	
								<string>{ -124.51788,-104.05753 }</string>

							</array>

							<array>
	
								<string>{ -120.45267,-122.87136 }</string>
	
								<string>{ -284.32154,-160.62483 }</string>
	
								<string>{ -188.69230,-47.46589 }</string>
	
								<string>{ -123.09744,-116.27618 }</string>

							</array>

							<array>
	
								<string>{ 121.27554,55.09410 }</string>
	
								<string>{ 85.59128,35.91985 }</string>
	
								<string>{ 74.60226,31.52425 }</string>

							</array>

							<array>
	
								<string>{ 121.27554,55.09410 }</string>
	
								<string>{ 101.67996,40.81192 }</string>
	
								<string>{ 85.59128,35.91985 }</string>

							</array>

							<array>
	
								<string>{ 121.27554,55.09410 }</string>
	
								<string>{ 120.81973,44.80470 }</string>
	
								<string>{ 101.67996,40.81192 }</string>

							</array>

							<array>
	
								<string>{ 121.27554,55.09410 }</string>
	
								<string>{ 136.89072,46.78078 }</string>
	
								<string>{ 120.81973,44.80470 }</string>

							</array>

							<array>
	
								<string>{ 121.27554,55.09410 }</string>
	
								<string>{ 152.23737,46.41861 }</string>
	
								<string>{ 136.89072,46.78078 }</string>

							</array>

							<array>
	
								<string>{ 241.86749,73.43848 }</string>
	
								<string>{ 174.18976,40.26865 }</string>
	
								<string>{ 163.98782,43.85245 }</string>

							</array>

							<array>
	
								<string>{ 241.86749,73.43848 }</string>
	
								<string>{ 181.40417,36.13541 }</string>
	
								<string>{ 174.18976,40.26865 }</string>

							</array>

							<array>
	
								<string>{ 241.86749,73.43848 }</string>
	
								<string>{ 187.83505,30.34763 }</string>
	
								<string>{ 181.40417,36.13541 }</string>

							</array>

							<array>
	
								<string>{ 241.86749,73.43848 }</string>
	
								<string>{ 192.73413,22.18358 }</string>
	
								<string>{ 187.83505,30.34763 }</string>

							</array>

							<array>
	
								<string>{ 241.86749,73.43848 }</string>
	
								<string>{ 195.73318,13.04346 }</string>
	
								<string>{ 192.73413,22.18358 }</string>

							</array>

							<array>
	
								<string>{ 241.86749,73.43848 }</string>
	
								<string>{ 197.48135,-0.19901 }</string>
	
								<string>{ 195.73318,13.04346 }</string>

							</array>

							<array>
	
								<string>{ 241.86749,73.43848 }</string>
	
								<string>{ 197.15979,-13.70383 }</string>
	
								<string>{ 197.48135,-0.19901 }</string>

							</array>

							<array>
	
								<string>{ 241.86749,73.43848 }</string>
	
								<string>{ 194.07864,-28.86319 }</string>
	
								<string>{ 197.15979,-13.70383 }</string>

							</array>

							<array>
	
								<string>{ 180.37149,-92.92630 }</string>
	
								<string>{ 182.04727,-57.47437 }</string>
	
								<string>{ 189.12122,-42.64274 }</string>

							</array>

							<array>
	
								<string>{ 180.37149,-92.92630 }</string>
	
								<string>{ 170.46552,-70.38911 }</string>
	
								<string>{ 182.04727,-57.47437 }</string>

							</array>

							<array>
	
								<string>{ 180.37149,-92.92630 }</string>
	
								<string>{ 160.86600,-77.54169 }</string>
	
								<string>{ 170.46552,-70.38911 }</string>

							</array>

							<array>
	
								<string>{ 180.37149,-92.92630 }</string>
	
								<string>{ 149.44330,-82.60158 }</string>
	
								<string>{ 160.86600,-77.54169 }</string>

							</array>

							<array>
	
								<string>{ 180.37149,-92.92630 }</string>
	
								<string>{ 136.48172,-84.58384 }</string>
	
								<string>{ 149.44330,-82.60158 }</string>

							</array>

							<array>
	
								<string>{ 93.28360,-89.62960 }</string>
	
								<string>{ 118.38165,-84.44338 }</string>
	
								<string>{ 136.48172,-84.58384 }</string>
	
								<string>{ 180.37149,-92.92630 }</string>

							</array>

							<array>
	
								<string>{ 93.28360,-89.62960 }</string>
	
								<string>{ 97.15979,-80.58486 }</string>
	
								<string>{ 118.38165,-84.44338 }</string>

							</array>

							<array>
	
								<string>{ 27.07480,-159.68454 }</string>
	
								<string>{ 20.31091,-119.49162 }</string>
	
								<string>{ 23.84790,-107.59451 }</string>
	
								<string>{ 49.05283,-101.44279 }</string>

							</array>

							<array>
	
								<string>{ 27.07480,-159.68454 }</string>
	
								<string>{ 15.16623,-127.20866 }</string>
	
								<string>{ 20.31091,-119.49162 }</string>

							</array>

							<array>
	
								<string>{ 27.07480,-159.68454 }</string>
	
								<string>{ 6.48456,-134.28261 }</string>
	
								<string>{ 15.16623,-127.20866 }</string>

							</array>

							<array>
	
								<string>{ 27.07480,-159.68454 }</string>
	
								<string>{ -0.58942,-139.10576 }</string>
	
								<string>{ 6.48456,-134.28261 }</string>

							</array>

							<array>
	
								<string>{ 27.07480,-159.68454 }</string>
	
								<string>{ -11.52188,-141.99965 }</string>
	
								<string>{ -0.58942,-139.10576 }</string>

							</array>

							<array>
	
								<string>{ 27.07480,-159.68454 }</string>
	
								<string>{ -33.06529,-143.92892 }</string>
	
								<string>{ -11.52188,-141.99965 }</string>

							</array>

							<array>
	
								<string>{ -284.32154,-160.62483 }</string>
	
								<string>{ -70.68587,-144.25046 }</string>
	
								<string>{ -33.06529,-143.92892 }</string>
	
								<string>{ 27.07480,-159.68454 }</string>

							</array>

							<array>
	
								<string>{ -284.32154,-160.62483 }</string>
	
								<string>{ -91.58618,-141.03502 }</string>
	
								<string>{ -70.68587,-144.25046 }</string>

							</array>

							<array>
	
								<string>{ -284.32154,-160.62483 }</string>
	
								<string>{ -103.02748,-137.63232 }</string>
	
								<string>{ -91.58618,-141.03502 }</string>

							</array>

							<array>
	
								<string>{ -284.32154,-160.62483 }</string>
	
								<string>{ -110.83728,-133.31092 }</string>
	
								<string>{ -103.02748,-137.63232 }</string>

							</array>

							<array>
	
								<string>{ -284.32154,-160.62483 }</string>
	
								<string>{ -116.34503,-128.49483 }</string>
	
								<string>{ -110.83728,-133.31092 }</string>

							</array>

							<array>
	
								<string>{ -284.32154,-160.62483 }</string>
	
								<string>{ -120.45267,-122.87136 }</string>
	
								<string>{ -116.34503,-128.49483 }</string>

							</array>

							<array>
	
								<string>{ -284.32154,-160.62483 }</string>
	
								<string>{ -199.62478,-35.89033 }</string>
	
								<string>{ -188.69230,-47.46589 }</string>

							</array>

							<array>
	
								<string>{ -284.32154,-160.62483 }</string>
	
								<string>{ -204.44793,-18.52698 }</string>
	
								<string>{ -199.62478,-35.89033 }</string>

							</array>

							<array>
	
								<string>{ -284.32154,-160.62483 }</string>
	
								<string>{ -203.94530,1.13399 }</string>
	
								<string>{ -204.44793,-18.52698 }</string>

							</array>

							<array>
	
								<string>{ -192.87237,77.61450 }</string>
	
								<string>{ -193.83700,28.09682 }</string>
	
								<string>{ -200.26787,16.84279 }</string>

							</array>

							<array>
	
								<string>{ -192.87237,77.61450 }</string>
	
								<string>{ -184.51224,39.67238 }</string>
	
								<string>{ -193.83700,28.09682 }</string>

							</array>

							<array>
	
								<string>{ -192.87237,77.61450 }</string>
	
								<string>{ -171.32896,49.31868 }</string>
	
								<string>{ -184.51224,39.67238 }</string>

							</array>

							<array>
	
								<string>{ -192.87237,77.61450 }</string>
	
								<string>{ -160.39648,52.21875 }</string>
	
								<string>{ -171.32896,49.31868 }</string>

							</array>

							<array>
	
								<string>{ -192.87237,77.61450 }</string>
	
								<string>{ -146.38902,53.55174 }</string>
	
								<string>{ -160.39648,52.21875 }</string>

							</array>

							<array>
	
								<string>{ -192.87237,77.61450 }</string>
	
								<string>{ -132.91866,53.37065 }</string>
	
								<string>{ -146.38902,53.55174 }</string>

							</array>

							<array>
	
								<string>{ -192.87237,77.61450 }</string>
	
								<string>{ -119.40764,51.99084 }</string>
	
								<string>{ -132.91866,53.37065 }</string>

							</array>

							<array>
	
								<string>{ -192.87237,77.61450 }</string>
	
								<string>{ -104.89755,49.32486 }</string>
	
								<string>{ -119.40764,51.99084 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

