<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B54</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -150.04366,33.44978 }</string>
	
								<string>{ -190.65502,36.50655 }</string>
	
								<string>{ -240.43668,54.67249 }</string>
	
								<string>{ -185.85153,50.91704 }</string>
	
								<string>{ -145.41485,39.82533 }</string>

							</array>

							<array>
	
								<string>{ -216.85589,23.40611 }</string>
	
								<string>{ -240.43668,54.67249 }</string>
	
								<string>{ -190.65502,36.50655 }</string>

							</array>

							<array>
	
								<string>{ -226.46288,-1.92140 }</string>
	
								<string>{ -240.43668,54.67249 }</string>
	
								<string>{ -216.85589,23.40611 }</string>

							</array>

							<array>
	
								<string>{ -233.01310,-38.16594 }</string>
	
								<string>{ -240.43668,54.67249 }</string>
	
								<string>{ -226.46288,-1.92140 }</string>

							</array>

							<array>
	
								<string>{ -240.43668,-159.56332 }</string>
	
								<string>{ -240.43668,54.67249 }</string>
	
								<string>{ -223.40611,-160.00000 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 74.41049,-17.20523 }</string>
	
								<string>{ 38.60263,-10.21834 }</string>
	
								<string>{ 58.25327,-4.10480 }</string>
	
								<string>{ 100.00000,-1.65939 }</string>

							</array>

							<array>
	
								<string>{ 38.60263,-10.21834 }</string>
	
								<string>{ -10.74236,-5.41484 }</string>
	
								<string>{ -13.36244,1.83406 }</string>
	
								<string>{ 58.25327,-4.10480 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 135.54587,-19.82533 }</string>
	
								<string>{ 137.29257,-49.95633 }</string>
	
								<string>{ 104.10480,-28.99564 }</string>

							</array>

							<array>
	
								<string>{ -23.84279,159.91266 }</string>
	
								<string>{ 47.77292,147.42358 }</string>
	
								<string>{ -6.81223,140.87338 }</string>
	
								<string>{ -25.58952,143.93015 }</string>

							</array>

							<array>
	
								<string>{ 155.19650,-9.34497 }</string>
	
								<string>{ 145.15283,-65.67686 }</string>
	
								<string>{ 137.29257,-49.95633 }</string>
	
								<string>{ 135.54587,-19.82533 }</string>

							</array>

							<array>
	
								<string>{ 176.59390,5.93887 }</string>
	
								<string>{ 147.77292,-84.01746 }</string>
	
								<string>{ 145.15283,-65.67686 }</string>
	
								<string>{ 155.19650,-9.34497 }</string>

							</array>

							<array>
	
								<string>{ -51.79039,-141.22271 }</string>
	
								<string>{ -20.78603,-141.65939 }</string>
	
								<string>{ -82.35808,-159.56332 }</string>
	
								<string>{ -71.87773,-148.20961 }</string>

							</array>

							<array>
	
								<string>{ 65.24017,-141.22271 }</string>
	
								<string>{ 241.22272,-161.31004 }</string>
	
								<string>{ -82.35808,-159.56332 }</string>
	
								<string>{ -20.78603,-141.65939 }</string>

							</array>

							<array>
	
								<string>{ 192.75110,23.84280 }</string>
	
								<string>{ 241.22272,-161.31004 }</string>
	
								<string>{ 142.09607,-102.79476 }</string>
	
								<string>{ 176.59390,5.93887 }</string>

							</array>

							<array>
	
								<string>{ 240.61136,159.91266 }</string>
	
								<string>{ 91.44104,144.36682 }</string>
	
								<string>{ 47.77292,147.42358 }</string>
	
								<string>{ -23.84279,159.91266 }</string>

							</array>

							<array>
	
								<string>{ 240.61136,159.91266 }</string>
	
								<string>{ 129.86899,139.56332 }</string>
	
								<string>{ 91.44104,144.36682 }</string>

							</array>

							<array>
	
								<string>{ 240.61136,159.91266 }</string>
	
								<string>{ 160.00000,132.13974 }</string>
	
								<string>{ 129.86899,139.56332 }</string>

							</array>

							<array>
	
								<string>{ 240.61136,159.91266 }</string>
	
								<string>{ 178.34061,122.09607 }</string>
	
								<string>{ 160.00000,132.13974 }</string>

							</array>

							<array>
	
								<string>{ 240.61136,159.91266 }</string>
	
								<string>{ 192.31442,110.30569 }</string>
	
								<string>{ 178.34061,122.09607 }</string>

							</array>

							<array>
	
								<string>{ 240.61136,159.91266 }</string>
	
								<string>{ 200.17468,95.89520 }</string>
	
								<string>{ 192.31442,110.30569 }</string>

							</array>

							<array>
	
								<string>{ 240.61136,159.91266 }</string>
	
								<string>{ 204.54150,77.55460 }</string>
	
								<string>{ 200.17468,95.89520 }</string>

							</array>

							<array>
	
								<string>{ 241.22272,-161.31004 }</string>
	
								<string>{ 206.28821,57.90393 }</string>
	
								<string>{ 204.54150,77.55460 }</string>
	
								<string>{ 240.61136,159.91266 }</string>

							</array>

							<array>
	
								<string>{ 96.24454,-138.60262 }</string>
	
								<string>{ 241.22272,-161.31004 }</string>
	
								<string>{ 65.24017,-141.22271 }</string>

							</array>

							<array>
	
								<string>{ 117.64194,-128.99563 }</string>
	
								<string>{ 241.22272,-161.31004 }</string>
	
								<string>{ 96.24454,-138.60262 }</string>

							</array>

							<array>
	
								<string>{ 132.92578,-118.95197 }</string>
	
								<string>{ 241.22272,-161.31004 }</string>
	
								<string>{ 117.64194,-128.99563 }</string>

							</array>

							<array>
	
								<string>{ 142.09607,-102.79476 }</string>
	
								<string>{ 241.22272,-161.31004 }</string>
	
								<string>{ 132.92578,-118.95197 }</string>

							</array>

							<array>
	
								<string>{ 202.35809,40.00000 }</string>
	
								<string>{ 241.22272,-161.31004 }</string>
	
								<string>{ 192.75110,23.84280 }</string>

							</array>

							<array>
	
								<string>{ 206.28821,57.90393 }</string>
	
								<string>{ 241.22272,-161.31004 }</string>
	
								<string>{ 202.35809,40.00000 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

