<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B17</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -196.76856,65.15285 }</string>
	
								<string>{ -130.82969,68.38428 }</string>
	
								<string>{ -103.31877,63.58080 }</string>
	
								<string>{ -126.89956,52.22708 }</string>
	
								<string>{ -172.75109,43.49345 }</string>
	
								<string>{ -206.81223,45.67686 }</string>

							</array>

							<array>
	
								<string>{ -121.65939,77.99127 }</string>
	
								<string>{ -64.19214,80.87337 }</string>
	
								<string>{ -64.01747,72.31441 }</string>
	
								<string>{ -103.31877,63.58080 }</string>
	
								<string>{ -130.82969,68.38428 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 18.95197,-58.68996 }</string>
	
								<string>{ 20.26202,-40.34934 }</string>
	
								<string>{ 52.13974,-28.12227 }</string>
	
								<string>{ 40.34933,-55.19650 }</string>
	
								<string>{ 26.37555,-64.36681 }</string>

							</array>

							<array>
	
								<string>{ 12.40175,-16.33188 }</string>
	
								<string>{ 11.96507,3.58080 }</string>
	
								<string>{ 52.13974,-28.12227 }</string>
	
								<string>{ 20.26202,-40.34934 }</string>

							</array>

							<array>
	
								<string>{ 116.59390,-4.27948 }</string>
	
								<string>{ 115.45853,-11.09171 }</string>
	
								<string>{ 52.13974,-28.12227 }</string>
	
								<string>{ 11.96507,3.58080 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -64.89082,41.31004 }</string>
	
								<string>{ -77.11790,23.84280 }</string>
	
								<string>{ -81.48471,38.95197 }</string>

							</array>

							<array>
	
								<string>{ -84.97816,-12.83842 }</string>
	
								<string>{ -82.79475,5.06551 }</string>
	
								<string>{ -77.11790,23.84280 }</string>
	
								<string>{ -64.89082,41.31004 }</string>
	
								<string>{ -60.52402,-7.16158 }</string>

							</array>

							<array>
	
								<string>{ -110.30568,-16.33188 }</string>
	
								<string>{ -126.89956,-46.89956 }</string>
	
								<string>{ -141.31004,-31.17903 }</string>
	
								<string>{ -144.36681,-16.76855 }</string>

							</array>

							<array>
	
								<string>{ 11.09171,36.94324 }</string>
	
								<string>{ 9.34499,85.41486 }</string>
	
								<string>{ 29.86899,53.53712 }</string>
	
								<string>{ 22.00873,39.56332 }</string>

							</array>

							<array>
	
								<string>{ 9.34499,85.41486 }</string>
	
								<string>{ 83.14410,74.93451 }</string>
	
								<string>{ 29.86899,53.53712 }</string>

							</array>

							<array>
	
								<string>{ -110.30568,-16.33188 }</string>
	
								<string>{ -104.19214,-30.30568 }</string>
	
								<string>{ -101.57205,-53.88646 }</string>
	
								<string>{ -112.48908,-95.37118 }</string>
	
								<string>{ -126.89956,-46.89956 }</string>

							</array>

							<array>
	
								<string>{ 240.61136,96.59390 }</string>
	
								<string>{ 167.86026,81.92140 }</string>
	
								<string>{ 83.14410,74.93451 }</string>
	
								<string>{ 9.34499,85.41486 }</string>

							</array>

							<array>
	
								<string>{ -112.48908,-95.37118 }</string>
	
								<string>{ 110.21835,-125.06550 }</string>
	
								<string>{ 240.78604,-160.43668 }</string>
	
								<string>{ -131.70306,-161.74672 }</string>

							</array>

							<array>
	
								<string>{ 194.06116,-12.83842 }</string>
	
								<string>{ 182.70743,-30.30568 }</string>
	
								<string>{ 169.60699,-15.89519 }</string>
	
								<string>{ 170.48035,-11.52838 }</string>

							</array>

							<array>
	
								<string>{ 194.06116,-12.83842 }</string>
	
								<string>{ 212.83844,-2.35808 }</string>
	
								<string>{ 187.51093,-63.49345 }</string>
	
								<string>{ 182.70743,-30.30568 }</string>

							</array>

							<array>
	
								<string>{ 240.61136,96.59390 }</string>
	
								<string>{ 215.89520,68.82097 }</string>
	
								<string>{ 167.86026,81.92140 }</string>

							</array>

							<array>
	
								<string>{ 240.61136,96.59390 }</string>
	
								<string>{ 228.99564,49.17030 }</string>
	
								<string>{ 215.89520,68.82097 }</string>

							</array>

							<array>
	
								<string>{ -84.97816,-12.83842 }</string>
	
								<string>{ -104.19214,-30.30568 }</string>
	
								<string>{ -110.30568,-16.33188 }</string>
	
								<string>{ -101.13538,-8.47162 }</string>
	
								<string>{ -82.79475,5.06551 }</string>

							</array>

							<array>
	
								<string>{ -88.03493,-71.79039 }</string>
	
								<string>{ -112.48908,-95.37118 }</string>
	
								<string>{ -101.57205,-53.88646 }</string>

							</array>

							<array>
	
								<string>{ -67.51091,-79.65065 }</string>
	
								<string>{ -112.48908,-95.37118 }</string>
	
								<string>{ -88.03493,-71.79039 }</string>

							</array>

							<array>
	
								<string>{ 49.51965,-107.16157 }</string>
	
								<string>{ 57.81659,-112.40174 }</string>
	
								<string>{ -112.48908,-95.37118 }</string>
	
								<string>{ -67.51091,-79.65065 }</string>

							</array>

							<array>
	
								<string>{ 212.83844,-2.35808 }</string>
	
								<string>{ 225.93887,14.67249 }</string>
	
								<string>{ 240.78604,-160.43668 }</string>
	
								<string>{ 184.45416,-86.20087 }</string>
	
								<string>{ 187.51093,-63.49345 }</string>

							</array>

							<array>
	
								<string>{ 240.61136,96.59390 }</string>
	
								<string>{ 240.78604,-160.43668 }</string>
	
								<string>{ 225.93887,14.67249 }</string>
	
								<string>{ 228.99564,49.17030 }</string>

							</array>

							<array>
	
								<string>{ 240.78604,-160.43668 }</string>
	
								<string>{ 171.79041,-108.03493 }</string>
	
								<string>{ 184.45416,-86.20087 }</string>

							</array>

							<array>
	
								<string>{ 240.78604,-160.43668 }</string>
	
								<string>{ 153.44980,-119.82533 }</string>
	
								<string>{ 171.79041,-108.03493 }</string>

							</array>

							<array>
	
								<string>{ 240.78604,-160.43668 }</string>
	
								<string>{ 134.23581,-124.62882 }</string>
	
								<string>{ 153.44980,-119.82533 }</string>

							</array>

							<array>
	
								<string>{ 240.78604,-160.43668 }</string>
	
								<string>{ 110.21835,-125.06550 }</string>
	
								<string>{ 134.23581,-124.62882 }</string>

							</array>

							<array>
	
								<string>{ 78.34061,-120.69869 }</string>
	
								<string>{ -112.48908,-95.37118 }</string>
	
								<string>{ 57.81659,-112.40174 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 228.12228,147.86026 }</string>
	
								<string>{ 241.92142,161.65939 }</string>
	
								<string>{ 241.22272,118.60263 }</string>

							</array>

							<array>
	
								<string>{ -10.30568,155.28384 }</string>
	
								<string>{ -39.56331,162.09607 }</string>
	
								<string>{ 241.92142,161.65939 }</string>
	
								<string>{ 228.12228,147.86026 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

