<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B2</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 184.27292,89.09578 }</string>
	
								<string>{ 213.56287,105.07211 }</string>
	
								<string>{ 189.00665,62.17270 }</string>
	
								<string>{ 170.36758,75.48631 }</string>

							</array>

							<array>
	
								<string>{ -184.95784,77.55731 }</string>
	
								<string>{ -202.41346,45.30879 }</string>
	
								<string>{ -223.71524,21.93602 }</string>
	
								<string>{ -281.81250,-11.56250 }</string>
	
								<string>{ -268.63757,63.17862 }</string>

							</array>

							<array>
	
								<string>{ 283.98999,160.59171 }</string>
	
								<string>{ 284.43750,-40.93750 }</string>
	
								<string>{ 221.84686,119.56915 }</string>
	
								<string>{ 227.22226,158.69635 }</string>

							</array>

							<array>
	
								<string>{ 213.56287,105.07211 }</string>
	
								<string>{ 210.60428,17.79401 }</string>
	
								<string>{ 189.00665,62.17270 }</string>

							</array>

							<array>
	
								<string>{ 98.47409,36.13719 }</string>
	
								<string>{ 80.72263,51.52180 }</string>
	
								<string>{ 72.43860,64.53957 }</string>
	
								<string>{ 72.73447,73.11945 }</string>
	
								<string>{ 112.67529,73.71117 }</string>
	
								<string>{ 120.07175,63.94785 }</string>

							</array>

							<array>
	
								<string>{ 0.24924,-3.50777 }</string>
	
								<string>{ 43.44452,7.43898 }</string>
	
								<string>{ 25.39719,-13.56694 }</string>
	
								<string>{ 1.13681,-11.49594 }</string>

							</array>

							<array>
	
								<string>{ 43.44452,7.43898 }</string>
	
								<string>{ 70.66345,21.34430 }</string>
	
								<string>{ 44.92380,-21.55511 }</string>
	
								<string>{ 25.39719,-13.56694 }</string>

							</array>

							<array>
	
								<string>{ 70.66345,21.34430 }</string>
	
								<string>{ 88.11908,7.73483 }</string>
	
								<string>{ 88.11908,-18.00481 }</string>
	
								<string>{ 59.71671,-38.12315 }</string>
	
								<string>{ 44.92380,-21.55511 }</string>

							</array>

							<array>
	
								<string>{ -71.34837,-28.95155 }</string>
	
								<string>{ -96.79216,-48.18233 }</string>
	
								<string>{ -98.56731,-33.09357 }</string>
	
								<string>{ -73.71524,-21.85097 }</string>

							</array>

							<array>
	
								<string>{ -96.79216,-48.18233 }</string>
	
								<string>{ -114.83951,-70.96339 }</string>
	
								<string>{ -122.82767,-38.71487 }</string>
	
								<string>{ -98.56731,-33.09357 }</string>

							</array>

							<array>
	
								<string>{ -114.83951,-70.96339 }</string>
	
								<string>{ -118.09393,-99.06990 }</string>
	
								<string>{ -282.09172,-159.98336 }</string>
	
								<string>{ -206.25962,-40.19416 }</string>
	
								<string>{ -122.82767,-38.71487 }</string>

							</array>

							<array>
	
								<string>{ 98.47409,36.13719 }</string>
	
								<string>{ 88.11908,7.73483 }</string>
	
								<string>{ 81.90607,37.61649 }</string>
	
								<string>{ 80.72263,51.52180 }</string>

							</array>

							<array>
	
								<string>{ 88.11908,7.73483 }</string>
	
								<string>{ 70.66345,21.34430 }</string>
	
								<string>{ 81.90607,37.61649 }</string>

							</array>

							<array>
	
								<string>{ 98.17825,-31.02257 }</string>
	
								<string>{ 62.97113,-59.72079 }</string>
	
								<string>{ 59.71671,-38.12315 }</string>
	
								<string>{ 88.11908,-18.00481 }</string>

							</array>

							<array>
	
								<string>{ 111.49185,-38.41901 }</string>
	
								<string>{ 63.26700,-78.65570 }</string>
	
								<string>{ 62.97113,-59.72079 }</string>
	
								<string>{ 98.17825,-31.02257 }</string>

							</array>

							<array>
	
								<string>{ 213.56287,-34.27700 }</string>
	
								<string>{ 133.36499,-62.25407 }</string>
	
								<string>{ 63.26700,-78.65570 }</string>
	
								<string>{ 111.49185,-38.41901 }</string>

							</array>

							<array>
	
								<string>{ -170.75666,60.10170 }</string>
	
								<string>{ -184.95784,77.55731 }</string>
	
								<string>{ -128.09393,77.91234 }</string>
	
								<string>{ -131.11169,69.27328 }</string>

							</array>

							<array>
	
								<string>{ -202.41346,45.30879 }</string>
	
								<string>{ -184.95784,77.55731 }</string>
	
								<string>{ -170.75666,60.10170 }</string>

							</array>

							<array>
	
								<string>{ 213.56287,105.07211 }</string>
	
								<string>{ 221.84686,119.56915 }</string>
	
								<string>{ 284.43750,-40.93750 }</string>
	
								<string>{ 224.80545,-14.45451 }</string>
	
								<string>{ 210.60428,17.79401 }</string>

							</array>

							<array>
	
								<string>{ -229.92826,-6.76221 }</string>
	
								<string>{ -281.81250,-11.56250 }</string>
	
								<string>{ -223.71524,21.93602 }</string>

							</array>

							<array>
	
								<string>{ -222.23595,-28.95155 }</string>
	
								<string>{ -282.09172,-159.98336 }</string>
	
								<string>{ -281.81250,-11.56250 }</string>
	
								<string>{ -229.92826,-6.76221 }</string>

							</array>

							<array>
	
								<string>{ -206.25962,-40.19416 }</string>
	
								<string>{ -282.09172,-159.98336 }</string>
	
								<string>{ -222.23595,-28.95155 }</string>

							</array>

							<array>
	
								<string>{ -103.00519,-119.18824 }</string>
	
								<string>{ -282.09172,-159.98336 }</string>
	
								<string>{ -118.09393,-99.06990 }</string>

							</array>

							<array>
	
								<string>{ -78.15311,-134.27700 }</string>
	
								<string>{ -282.09172,-159.98336 }</string>
	
								<string>{ -103.00519,-119.18824 }</string>

							</array>

							<array>
	
								<string>{ -78.15311,-134.27700 }</string>
	
								<string>{ 68.81250,-160.31250 }</string>
	
								<string>{ -282.09172,-159.98336 }</string>

							</array>

							<array>
	
								<string>{ 284.43750,-40.93750 }</string>
	
								<string>{ 220.95929,-26.58469 }</string>
	
								<string>{ 224.80545,-14.45451 }</string>

							</array>

							<array>
	
								<string>{ 284.43750,-40.93750 }</string>
	
								<string>{ 213.56287,-34.27700 }</string>
	
								<string>{ 220.95929,-26.58469 }</string>

							</array>

							<array>
	
								<string>{ 133.36499,-62.25407 }</string>
	
								<string>{ 213.56287,-34.27700 }</string>
	
								<string>{ 284.43750,-40.93750 }</string>

							</array>

							<array>
	
								<string>{ 77.87500,-94.06250 }</string>
	
								<string>{ 55.27884,-104.98706 }</string>
	
								<string>{ 63.26700,-78.65570 }</string>
	
								<string>{ 133.36499,-62.25407 }</string>

							</array>

							<array>
	
								<string>{ 68.81250,-160.31250 }</string>
	
								<string>{ 38.41492,-126.88055 }</string>
	
								<string>{ 55.27884,-104.98706 }</string>
	
								<string>{ 77.87500,-94.06250 }</string>

							</array>

							<array>
	
								<string>{ 68.81250,-160.31250 }</string>
	
								<string>{ 12.08356,-135.75629 }</string>
	
								<string>{ 38.41492,-126.88055 }</string>

							</array>

							<array>
	
								<string>{ 68.81250,-160.31250 }</string>
	
								<string>{ -23.71524,-138.71487 }</string>
	
								<string>{ 12.08356,-135.75629 }</string>

							</array>

							<array>
	
								<string>{ 68.81250,-160.31250 }</string>
	
								<string>{ -49.75075,-139.30658 }</string>
	
								<string>{ -23.71524,-138.71487 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 177.53845,150.05917 }</string>
	
								<string>{ 225.21597,159.58578 }</string>
	
								<string>{ 224.89423,141.49591 }</string>

							</array>

							<array>
	
								<string>{ 45.28992,154.20117 }</string>
	
								<string>{ 225.21597,159.58578 }</string>
	
								<string>{ 177.53845,150.05917 }</string>

							</array>

							<array>
	
								<string>{ -284.29586,160.47336 }</string>
	
								<string>{ 225.21597,159.58578 }</string>
	
								<string>{ -283.70414,147.39645 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 44.21930,123.68713 }</string>
	
								<string>{ 71.61758,125.20709 }</string>
	
								<string>{ 75.75961,114.26035 }</string>
	
								<string>{ 47.94894,96.80472 }</string>
	
								<string>{ 34.04364,110.41418 }</string>

							</array>

							<array>
	
								<string>{ 88.81064,132.17456 }</string>
	
								<string>{ 121.38092,129.40826 }</string>
	
								<string>{ 118.06729,123.13608 }</string>
	
								<string>{ 75.75961,114.26035 }</string>
	
								<string>{ 71.61758,125.20709 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

