<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B4</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 108.03494,-37.29257 }</string>
	
								<string>{ 76.59390,-66.55022 }</string>
	
								<string>{ 37.72925,-76.59389 }</string>
	
								<string>{ 96.24454,-35.10917 }</string>
	
								<string>{ 108.03494,-31.61572 }</string>

							</array>

							<array>
	
								<string>{ 67.86026,-87.94759 }</string>
	
								<string>{ 7.16158,-92.75109 }</string>
	
								<string>{ 37.72925,-76.59389 }</string>
	
								<string>{ 76.59390,-66.55022 }</string>

							</array>

							<array>
	
								<string>{ 73.10043,-107.59825 }</string>
	
								<string>{ -27.77292,-105.85153 }</string>
	
								<string>{ 7.16158,-92.75109 }</string>
	
								<string>{ 67.86026,-87.94759 }</string>

							</array>

							<array>
	
								<string>{ 136.41922,106.81223 }</string>
	
								<string>{ 199.30133,-79.65065 }</string>
	
								<string>{ 103.66812,126.89957 }</string>
	
								<string>{ 111.96506,129.51965 }</string>

							</array>

							<array>
	
								<string>{ 240.34937,-159.56332 }</string>
	
								<string>{ 206.28821,86.72490 }</string>
	
								<string>{ 240.78604,86.72490 }</string>

							</array>

							<array>
	
								<string>{ 240.34937,-159.56332 }</string>
	
								<string>{ 199.30133,-79.65065 }</string>
	
								<string>{ 171.35373,92.40175 }</string>
	
								<string>{ 206.28821,86.72490 }</string>

							</array>

							<array>
	
								<string>{ 171.35373,92.40175 }</string>
	
								<string>{ 199.30133,-79.65065 }</string>
	
								<string>{ 136.41922,106.81223 }</string>

							</array>

							<array>
	
								<string>{ -106.81223,11.61572 }</string>
	
								<string>{ -136.06987,36.94324 }</string>
	
								<string>{ -35.37117,-4.27948 }</string>
	
								<string>{ -39.56331,-11.09171 }</string>

							</array>

							<array>
	
								<string>{ -139.56332,11.17905 }</string>
	
								<string>{ -136.06987,36.94324 }</string>
	
								<string>{ -106.81223,11.61572 }</string>

							</array>

							<array>
	
								<string>{ -167.94759,0.69870 }</string>
	
								<string>{ -240.43668,76.06987 }</string>
	
								<string>{ -136.06987,36.94324 }</string>
	
								<string>{ -139.56332,11.17905 }</string>

							</array>

							<array>
	
								<string>{ -182.79476,-22.00873 }</string>
	
								<string>{ -240.43668,76.06987 }</string>
	
								<string>{ -167.94759,0.69870 }</string>

							</array>

							<array>
	
								<string>{ -182.79476,-22.00873 }</string>
	
								<string>{ -184.97816,-44.27947 }</string>
	
								<string>{ -240.43668,-160.00000 }</string>
	
								<string>{ -240.43668,76.06987 }</string>

							</array>

							<array>
	
								<string>{ 240.34937,-159.56332 }</string>
	
								<string>{ 196.24454,-99.30131 }</string>
	
								<string>{ 199.30133,-79.65065 }</string>

							</array>

							<array>
	
								<string>{ 240.34937,-159.56332 }</string>
	
								<string>{ 180.08734,-114.58515 }</string>
	
								<string>{ 196.24454,-99.30131 }</string>

							</array>

							<array>
	
								<string>{ 240.34937,-159.56332 }</string>
	
								<string>{ 145.58954,-118.95197 }</string>
	
								<string>{ 180.08734,-114.58515 }</string>

							</array>

							<array>
	
								<string>{ 240.34937,-159.56332 }</string>
	
								<string>{ -240.43668,-160.00000 }</string>
	
								<string>{ 96.68121,-117.20524 }</string>
	
								<string>{ 145.58954,-118.95197 }</string>

							</array>

							<array>
	
								<string>{ 96.68121,-117.20524 }</string>
	
								<string>{ -240.43668,-160.00000 }</string>
	
								<string>{ -71.87773,-110.21834 }</string>
	
								<string>{ -27.77292,-105.85153 }</string>
	
								<string>{ 73.10043,-107.59825 }</string>

							</array>

							<array>
	
								<string>{ -172.31441,-77.46725 }</string>
	
								<string>{ -240.43668,-160.00000 }</string>
	
								<string>{ -184.97816,-44.27947 }</string>

							</array>

							<array>
	
								<string>{ -143.93013,-99.30131 }</string>
	
								<string>{ -240.43668,-160.00000 }</string>
	
								<string>{ -172.31441,-77.46725 }</string>

							</array>

							<array>
	
								<string>{ -111.17903,-107.16157 }</string>
	
								<string>{ -240.43668,-160.00000 }</string>
	
								<string>{ -143.93013,-99.30131 }</string>

							</array>

							<array>
	
								<string>{ -71.87773,-110.21834 }</string>
	
								<string>{ -240.43668,-160.00000 }</string>
	
								<string>{ -111.17903,-107.16157 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 224.19214,132.13974 }</string>
	
								<string>{ 240.61136,161.22272 }</string>
	
								<string>{ 240.78604,109.43231 }</string>
	
								<string>{ 228.12228,109.86899 }</string>

							</array>

							<array>
	
								<string>{ 218.51529,146.11356 }</string>
	
								<string>{ 240.61136,161.22272 }</string>
	
								<string>{ 224.19214,132.13974 }</string>

							</array>

							<array>
	
								<string>{ 201.48471,151.79041 }</string>
	
								<string>{ 240.61136,161.22272 }</string>
	
								<string>{ 218.51529,146.11356 }</string>

							</array>

							<array>
	
								<string>{ 201.48471,151.79041 }</string>
	
								<string>{ -66.63756,161.22272 }</string>
	
								<string>{ 240.61136,161.22272 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

