<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B39</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -168.99409,26.39053 }</string>
	
								<string>{ -190.29586,41.18343 }</string>
	
								<string>{ -144.08284,40.05917 }</string>
	
								<string>{ -143.84616,29.05325 }</string>

							</array>

							<array>
	
								<string>{ -193.25444,22.84023 }</string>
	
								<string>{ -190.29586,41.18343 }</string>
	
								<string>{ -168.99409,26.39053 }</string>

							</array>

							<array>
	
								<string>{ -213.66864,10.71005 }</string>
	
								<string>{ -240.59172,37.10059 }</string>
	
								<string>{ -190.29586,41.18343 }</string>
	
								<string>{ -193.25444,22.84023 }</string>

							</array>

							<array>
	
								<string>{ -220.47337,-7.63315 }</string>
	
								<string>{ -240.59172,37.10059 }</string>
	
								<string>{ -213.66864,10.71005 }</string>

							</array>

							<array>
	
								<string>{ 67.37436,-31.58586 }</string>
	
								<string>{ 120.80103,-28.77448 }</string>
	
								<string>{ 96.31842,-36.11940 }</string>
	
								<string>{ 68.36938,-37.46328 }</string>

							</array>

							<array>
	
								<string>{ 120.80103,-28.77448 }</string>
	
								<string>{ 150.04974,-24.17911 }</string>
	
								<string>{ 159.55545,-42.86821 }</string>
	
								<string>{ 126.95810,-40.59554 }</string>
	
								<string>{ 96.31842,-36.11940 }</string>

							</array>

							<array>
	
								<string>{ 175.42288,-12.73631 }</string>
	
								<string>{ 178.16803,-49.24313 }</string>
	
								<string>{ 159.55545,-42.86821 }</string>
	
								<string>{ 150.04974,-24.17911 }</string>

							</array>

							<array>
	
								<string>{ 198.91928,2.73514 }</string>
	
								<string>{ 195.82089,-71.44279 }</string>
	
								<string>{ 178.16803,-49.24313 }</string>
	
								<string>{ 175.42288,-12.73631 }</string>

							</array>

							<array>
	
								<string>{ -240.59172,-160.59172 }</string>
	
								<string>{ -240.59172,37.10059 }</string>
	
								<string>{ -217.89161,-23.08546 }</string>
	
								<string>{ -202.18906,-102.78607 }</string>
	
								<string>{ -228.05970,-160.99502 }</string>

							</array>

							<array>
	
								<string>{ 90.17749,141.18341 }</string>
	
								<string>{ 240.76923,153.60947 }</string>
	
								<string>{ 135.14792,133.78699 }</string>
	
								<string>{ 88.69821,135.26627 }</string>

							</array>

							<array>
	
								<string>{ 19.76331,68.99408 }</string>
	
								<string>{ -50.36829,46.99313 }</string>
	
								<string>{ -60.37447,60.80426 }</string>
	
								<string>{ -65.95456,71.33444 }</string>

							</array>

							<array>
	
								<string>{ 19.76331,68.99408 }</string>
	
								<string>{ -42.08426,31.60852 }</string>
	
								<string>{ -50.36829,46.99313 }</string>

							</array>

							<array>
	
								<string>{ 19.76331,68.99408 }</string>
	
								<string>{ -34.67456,11.59763 }</string>
	
								<string>{ -42.08426,31.60852 }</string>

							</array>

							<array>
	
								<string>{ 19.76331,68.99408 }</string>
	
								<string>{ -29.72594,-7.79506 }</string>
	
								<string>{ -34.67456,11.59763 }</string>

							</array>

							<array>
	
								<string>{ 198.91928,2.73514 }</string>
	
								<string>{ 207.33725,13.07692 }</string>
	
								<string>{ 206.15384,-89.28994 }</string>
	
								<string>{ 195.82089,-71.44279 }</string>

							</array>

							<array>
	
								<string>{ 240.76923,153.60947 }</string>
	
								<string>{ 160.59171,128.46152 }</string>
	
								<string>{ 135.14792,133.78699 }</string>

							</array>

							<array>
	
								<string>{ 240.76923,153.60947 }</string>
	
								<string>{ 182.18933,121.65680 }</string>
	
								<string>{ 160.59171,128.46152 }</string>

							</array>

							<array>
	
								<string>{ 240.76923,153.60947 }</string>
	
								<string>{ 197.34579,110.49515 }</string>
	
								<string>{ 182.18933,121.65680 }</string>

							</array>

							<array>
	
								<string>{ 240.76923,153.60947 }</string>
	
								<string>{ 208.92548,94.78818 }</string>
	
								<string>{ 197.34579,110.49515 }</string>

							</array>

							<array>
	
								<string>{ 240.76923,153.60947 }</string>
	
								<string>{ 215.55505,78.74268 }</string>
	
								<string>{ 208.92548,94.78818 }</string>

							</array>

							<array>
	
								<string>{ 242.24850,-160.00000 }</string>
	
								<string>{ 215.55505,78.74268 }</string>
	
								<string>{ 240.76923,153.60947 }</string>

							</array>

							<array>
	
								<string>{ 19.76331,68.99408 }</string>
	
								<string>{ -2.09044,10.50839 }</string>
	
								<string>{ -31.42012,-29.82249 }</string>
	
								<string>{ -29.72594,-7.79506 }</string>

							</array>

							<array>
	
								<string>{ -217.89161,-23.08546 }</string>
	
								<string>{ -240.59172,37.10059 }</string>
	
								<string>{ -220.47337,-7.63315 }</string>

							</array>

							<array>
	
								<string>{ -206.64901,-35.33781 }</string>
	
								<string>{ -202.18906,-102.78607 }</string>
	
								<string>{ -217.89161,-23.08546 }</string>

							</array>

							<array>
	
								<string>{ -206.64901,-35.33781 }</string>
	
								<string>{ -182.36216,-46.54067 }</string>
	
								<string>{ -152.43781,-69.95025 }</string>
	
								<string>{ -202.18906,-102.78607 }</string>

							</array>

							<array>
	
								<string>{ -164.88004,-51.65121 }</string>
	
								<string>{ -152.43781,-69.95025 }</string>
	
								<string>{ -182.36216,-46.54067 }</string>

							</array>

							<array>
	
								<string>{ -142.92031,-54.78495 }</string>
	
								<string>{ -152.43781,-69.95025 }</string>
	
								<string>{ -164.88004,-51.65121 }</string>

							</array>

							<array>
	
								<string>{ -122.12930,-56.54685 }</string>
	
								<string>{ -57.41293,-69.95025 }</string>
	
								<string>{ -152.43781,-69.95025 }</string>
	
								<string>{ -142.92031,-54.78495 }</string>

							</array>

							<array>
	
								<string>{ -94.56152,-56.43940 }</string>
	
								<string>{ -57.41293,-69.95025 }</string>
	
								<string>{ -122.12930,-56.54685 }</string>

							</array>

							<array>
	
								<string>{ -73.01540,-55.48412 }</string>
	
								<string>{ -57.41293,-69.95025 }</string>
	
								<string>{ -94.56152,-56.43940 }</string>

							</array>

							<array>
	
								<string>{ -52.91031,-52.60503 }</string>
	
								<string>{ -57.41293,-69.95025 }</string>
	
								<string>{ -73.01540,-55.48412 }</string>

							</array>

							<array>
	
								<string>{ -40.80663,-44.48145 }</string>
	
								<string>{ -17.11443,-105.77114 }</string>
	
								<string>{ -57.41293,-69.95025 }</string>
	
								<string>{ -52.91031,-52.60503 }</string>

							</array>

							<array>
	
								<string>{ -31.42012,-29.82249 }</string>
	
								<string>{ -9.86223,-65.54182 }</string>
	
								<string>{ -1.88879,-86.53302 }</string>
	
								<string>{ -17.11443,-105.77114 }</string>
	
								<string>{ -40.80663,-44.48145 }</string>

							</array>

							<array>
	
								<string>{ 207.33725,13.07692 }</string>
	
								<string>{ 213.23383,25.07463 }</string>
	
								<string>{ 242.24850,-160.00000 }</string>
	
								<string>{ 214.23621,-124.65748 }</string>
	
								<string>{ 206.15384,-89.28994 }</string>

							</array>

							<array>
	
								<string>{ 57.92899,43.33539 }</string>
	
								<string>{ 19.76331,68.99408 }</string>
	
								<string>{ 139.04263,50.79955 }</string>
	
								<string>{ 134.06754,46.30722 }</string>

							</array>

							<array>
	
								<string>{ 13.57532,27.68141 }</string>
	
								<string>{ 19.76331,68.99408 }</string>
	
								<string>{ 57.92899,43.33539 }</string>

							</array>

							<array>
	
								<string>{ -2.09044,10.50839 }</string>
	
								<string>{ 19.76331,68.99408 }</string>
	
								<string>{ 13.57532,27.68141 }</string>

							</array>

							<array>
	
								<string>{ -4.79291,-5.26628 }</string>
	
								<string>{ -11.14427,-29.15424 }</string>
	
								<string>{ -31.42012,-29.82249 }</string>
	
								<string>{ -2.09044,10.50839 }</string>

							</array>

							<array>
	
								<string>{ -9.86223,-65.54182 }</string>
	
								<string>{ -31.42012,-29.82249 }</string>
	
								<string>{ -11.14427,-29.15424 }</string>

							</array>

							<array>
	
								<string>{ 14.22885,-113.23383 }</string>
	
								<string>{ -30.04974,-160.00000 }</string>
	
								<string>{ -17.11443,-105.77114 }</string>
	
								<string>{ -1.88879,-86.53302 }</string>

							</array>

							<array>
	
								<string>{ 33.13434,-124.67662 }</string>
	
								<string>{ -30.04974,-160.00000 }</string>
	
								<string>{ 14.22885,-113.23383 }</string>

							</array>

							<array>
	
								<string>{ 56.44971,-133.37278 }</string>
	
								<string>{ -30.04974,-160.00000 }</string>
	
								<string>{ 33.13434,-124.67662 }</string>

							</array>

							<array>
	
								<string>{ 126.66666,-140.09950 }</string>
	
								<string>{ 242.24850,-160.00000 }</string>
	
								<string>{ -30.04974,-160.00000 }</string>
	
								<string>{ 56.44971,-133.37278 }</string>

							</array>

							<array>
	
								<string>{ 186.62720,-141.95266 }</string>
	
								<string>{ 242.24850,-160.00000 }</string>
	
								<string>{ 126.66666,-140.09950 }</string>

							</array>

							<array>
	
								<string>{ 204.97040,-139.58580 }</string>
	
								<string>{ 242.24850,-160.00000 }</string>
	
								<string>{ 186.62720,-141.95266 }</string>

							</array>

							<array>
	
								<string>{ 214.23621,-124.65748 }</string>
	
								<string>{ 242.24850,-160.00000 }</string>
	
								<string>{ 204.97040,-139.58580 }</string>

							</array>

							<array>
	
								<string>{ 216.21890,38.00995 }</string>
	
								<string>{ 242.24850,-160.00000 }</string>
	
								<string>{ 213.23383,25.07463 }</string>

							</array>

							<array>
	
								<string>{ 217.71146,57.41293 }</string>
	
								<string>{ 242.24850,-160.00000 }</string>
	
								<string>{ 216.21890,38.00995 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

