<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B17</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -201.90868,35.97131 }</string>
	
								<string>{ -121.29951,57.30974 }</string>
	
								<string>{ -102.95891,42.89926 }</string>
	
								<string>{ -126.53969,31.54555 }</string>
	
								<string>{ -172.39122,22.81192 }</string>
	
								<string>{ -206.45235,24.99533 }</string>

							</array>

							<array>
	
								<string>{ -63.83226,60.19183 }</string>
	
								<string>{ -63.65759,51.63289 }</string>
	
								<string>{ -102.95891,42.89926 }</string>
	
								<string>{ -121.29951,57.30974 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 18.03796,-78.41607 }</string>
	
								<string>{ 19.34799,-60.07545 }</string>
	
								<string>{ 51.22574,-47.84838 }</string>
	
								<string>{ 39.43533,-74.92262 }</string>
	
								<string>{ 25.46155,-84.09293 }</string>

							</array>

							<array>
	
								<string>{ 11.48773,-36.05799 }</string>
	
								<string>{ 11.05106,-16.14532 }</string>
	
								<string>{ 51.22574,-47.84838 }</string>
	
								<string>{ 19.34799,-60.07545 }</string>

							</array>

							<array>
	
								<string>{ 115.67987,-24.00558 }</string>
	
								<string>{ 114.54449,-30.81781 }</string>
	
								<string>{ 51.22574,-47.84838 }</string>
	
								<string>{ 11.05106,-16.14532 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -65.44179,20.81004 }</string>
	
								<string>{ -77.66885,3.34280 }</string>
	
								<string>{ -82.03568,18.45197 }</string>

							</array>

							<array>
	
								<string>{ -85.52911,-33.33842 }</string>
	
								<string>{ -83.34572,-15.43449 }</string>
	
								<string>{ -77.66885,3.34280 }</string>
	
								<string>{ -65.44179,20.81004 }</string>
	
								<string>{ -61.07497,-27.66158 }</string>

							</array>

							<array>
	
								<string>{ -110.85663,-36.83188 }</string>
	
								<string>{ -127.45052,-67.39956 }</string>
	
								<string>{ -141.86099,-51.67904 }</string>
	
								<string>{ -144.91777,-37.26855 }</string>

							</array>

							<array>
	
								<string>{ 10.54074,16.44324 }</string>
	
								<string>{ 8.79404,64.91486 }</string>
	
								<string>{ 29.31805,33.03712 }</string>
	
								<string>{ 21.45779,19.06332 }</string>

							</array>

							<array>
	
								<string>{ 8.79404,64.91486 }</string>
	
								<string>{ 82.59314,54.43451 }</string>
	
								<string>{ 29.31805,33.03712 }</string>

							</array>

							<array>
	
								<string>{ -110.85663,-36.83188 }</string>
	
								<string>{ -104.74309,-50.80567 }</string>
	
								<string>{ -102.12300,-74.38646 }</string>
	
								<string>{ -113.04004,-115.87118 }</string>
	
								<string>{ -127.45052,-67.39956 }</string>

							</array>

							<array>
	
								<string>{ 128.00800,72.33842 }</string>
	
								<string>{ 283.05402,76.09389 }</string>
	
								<string>{ 167.30933,61.42140 }</string>
	
								<string>{ 82.59314,54.43451 }</string>
	
								<string>{ 8.79404,64.91486 }</string>

							</array>

							<array>
	
								<string>{ 193.51019,-33.33842 }</string>
	
								<string>{ 182.15646,-50.80567 }</string>
	
								<string>{ 169.05603,-36.39520 }</string>
	
								<string>{ 169.92941,-32.02838 }</string>

							</array>

							<array>
	
								<string>{ 193.51019,-33.33842 }</string>
	
								<string>{ 212.28748,-22.85808 }</string>
	
								<string>{ 284.36566,-161.93668 }</string>
	
								<string>{ 186.95996,-83.99345 }</string>
	
								<string>{ 182.15646,-50.80567 }</string>

							</array>

							<array>
	
								<string>{ -85.52911,-33.33842 }</string>
	
								<string>{ -104.74309,-50.80567 }</string>
	
								<string>{ -110.85663,-36.83188 }</string>
	
								<string>{ -101.68633,-28.97162 }</string>
	
								<string>{ -83.34572,-15.43449 }</string>

							</array>

							<array>
	
								<string>{ -88.58589,-92.29039 }</string>
	
								<string>{ -113.04004,-115.87118 }</string>
	
								<string>{ -102.12300,-74.38646 }</string>

							</array>

							<array>
	
								<string>{ -88.58589,-92.29039 }</string>
	
								<string>{ 48.96869,-127.66157 }</string>
	
								<string>{ 57.26566,-132.90175 }</string>
	
								<string>{ -126.25401,-161.24672 }</string>
	
								<string>{ -113.04004,-115.87118 }</string>

							</array>

							<array>
	
								<string>{ 283.05402,76.09389 }</string>
	
								<string>{ 215.34424,48.32097 }</string>
	
								<string>{ 167.30933,61.42140 }</string>

							</array>

							<array>
	
								<string>{ 283.05402,76.09389 }</string>
	
								<string>{ 228.44470,28.67030 }</string>
	
								<string>{ 215.34424,48.32097 }</string>

							</array>

							<array>
	
								<string>{ 284.36566,-161.93668 }</string>
	
								<string>{ 225.38791,-5.82751 }</string>
	
								<string>{ 228.44470,28.67030 }</string>
	
								<string>{ 283.05402,76.09389 }</string>

							</array>

							<array>
	
								<string>{ 284.36566,-161.93668 }</string>
	
								<string>{ 212.28748,-22.85808 }</string>
	
								<string>{ 225.38791,-5.82751 }</string>

							</array>

							<array>
	
								<string>{ 284.36566,-161.93668 }</string>
	
								<string>{ 183.90320,-106.70087 }</string>
	
								<string>{ 186.95996,-83.99345 }</string>

							</array>

							<array>
	
								<string>{ 284.36566,-161.93668 }</string>
	
								<string>{ 171.23944,-128.53493 }</string>
	
								<string>{ 183.90320,-106.70087 }</string>

							</array>

							<array>
	
								<string>{ 284.36566,-161.93668 }</string>
	
								<string>{ 152.89883,-140.32533 }</string>
	
								<string>{ 171.23944,-128.53493 }</string>

							</array>

							<array>
	
								<string>{ 284.36566,-161.93668 }</string>
	
								<string>{ 133.68484,-145.12882 }</string>
	
								<string>{ 152.89883,-140.32533 }</string>

							</array>

							<array>
	
								<string>{ -126.25401,-161.24672 }</string>
	
								<string>{ 109.66739,-145.56550 }</string>
	
								<string>{ 133.68484,-145.12882 }</string>
	
								<string>{ 284.36566,-161.93668 }</string>

							</array>

							<array>
	
								<string>{ 77.78967,-141.19869 }</string>
	
								<string>{ -126.25401,-161.24672 }</string>
	
								<string>{ 57.26566,-132.90175 }</string>

							</array>

							<array>
	
								<string>{ 109.66739,-145.56550 }</string>
	
								<string>{ -126.25401,-161.24672 }</string>
	
								<string>{ 77.78967,-141.19869 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 270.74646,146.58640 }</string>
	
								<string>{ 284.54559,160.38550 }</string>
	
								<string>{ 283.84692,117.32874 }</string>

							</array>

							<array>
	
								<string>{ 32.31854,154.00995 }</string>
	
								<string>{ 3.06088,160.82217 }</string>
	
								<string>{ 284.54559,160.38550 }</string>
	
								<string>{ 270.74646,146.58640 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

