<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B33</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 70.14084,14.36620 }</string>
	
								<string>{ 80.00000,13.23944 }</string>
	
								<string>{ 71.52756,3.41289 }</string>
	
								<string>{ 64.78873,5.07042 }</string>

							</array>

							<array>
	
								<string>{ -158.97106,34.21222 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -240.00000,43.98714 }</string>

							</array>

							<array>
	
								<string>{ 70.14084,14.36620 }</string>
	
								<string>{ 103.09860,47.04225 }</string>
	
								<string>{ 90.42255,20.00000 }</string>
	
								<string>{ 80.00000,13.23944 }</string>

							</array>

							<array>
	
								<string>{ 103.09860,47.04225 }</string>
	
								<string>{ 100.28171,24.22536 }</string>
	
								<string>{ 90.42255,20.00000 }</string>

							</array>

							<array>
	
								<string>{ 103.09860,47.04225 }</string>
	
								<string>{ 117.46478,67.04225 }</string>
	
								<string>{ 113.23944,26.47888 }</string>
	
								<string>{ 100.28171,24.22536 }</string>

							</array>

							<array>
	
								<string>{ 117.46478,67.04225 }</string>
	
								<string>{ 127.88733,27.32394 }</string>
	
								<string>{ 113.23944,26.47888 }</string>

							</array>

							<array>
	
								<string>{ 117.46478,67.04225 }</string>
	
								<string>{ 125.63382,84.22536 }</string>
	
								<string>{ 144.78873,27.32394 }</string>
	
								<string>{ 127.88733,27.32394 }</string>

							</array>

							<array>
	
								<string>{ 87.05133,-66.85023 }</string>
	
								<string>{ 120.56339,-85.63380 }</string>
	
								<string>{ 95.49295,-88.73239 }</string>
	
								<string>{ 84.50705,-73.52113 }</string>

							</array>

							<array>
	
								<string>{ 120.56339,-85.63380 }</string>
	
								<string>{ 146.81674,-96.33440 }</string>
	
								<string>{ 101.97183,-98.30986 }</string>
	
								<string>{ 95.49295,-88.73239 }</string>

							</array>

							<array>
	
								<string>{ 146.81674,-96.33440 }</string>
	
								<string>{ 159.03537,-98.90675 }</string>
	
								<string>{ 97.94214,-118.52090 }</string>
	
								<string>{ 101.97183,-98.30986 }</string>

							</array>

							<array>
	
								<string>{ 0.19293,-80.90032 }</string>
	
								<string>{ -12.34726,-79.61414 }</string>
	
								<string>{ 8.54996,-61.12617 }</string>
	
								<string>{ 12.65071,-63.37485 }</string>

							</array>

							<array>
	
								<string>{ -7.84566,-95.04823 }</string>
	
								<string>{ -32.60449,-95.36977 }</string>
	
								<string>{ -12.34726,-79.61414 }</string>
	
								<string>{ 0.19293,-80.90032 }</string>

							</array>

							<array>
	
								<string>{ -12.66881,-106.94534 }</string>
	
								<string>{ -52.54019,-107.90997 }</string>
	
								<string>{ -32.60449,-95.36977 }</string>
	
								<string>{ -7.84566,-95.04823 }</string>

							</array>

							<array>
	
								<string>{ -14.91960,-116.27010 }</string>
	
								<string>{ -68.29581,-116.59164 }</string>
	
								<string>{ -52.54019,-107.90997 }</string>
	
								<string>{ -12.66881,-106.94534 }</string>

							</array>

							<array>
	
								<string>{ -13.31189,-125.91640 }</string>
	
								<string>{ -68.29581,-116.59164 }</string>
	
								<string>{ -14.91960,-116.27010 }</string>

							</array>

							<array>
	
								<string>{ 164.22537,94.36620 }</string>
	
								<string>{ 65.63382,133.23944 }</string>
	
								<string>{ 176.99380,109.99774 }</string>

							</array>

							<array>
	
								<string>{ -9.45337,-134.91961 }</string>
	
								<string>{ -87.26688,-122.05788 }</string>
	
								<string>{ -68.29581,-116.59164 }</string>
	
								<string>{ -13.31189,-125.91640 }</string>

							</array>

							<array>
	
								<string>{ 65.63382,133.23944 }</string>
	
								<string>{ 104.50705,117.18311 }</string>
	
								<string>{ 64.22534,128.16901 }</string>

							</array>

							<array>
	
								<string>{ 159.03537,-98.90675 }</string>
	
								<string>{ 171.57556,-98.26366 }</string>
	
								<string>{ 87.65274,-131.38264 }</string>
	
								<string>{ 97.94214,-118.52090 }</string>

							</array>

							<array>
	
								<string>{ -77.62057,6.55949 }</string>
	
								<string>{ -97.23473,23.27975 }</string>
	
								<string>{ -8.53169,-5.22641 }</string>
	
								<string>{ -2.70096,-11.12540 }</string>

							</array>

							<array>
	
								<string>{ -111.38263,10.73956 }</string>
	
								<string>{ -97.23473,23.27975 }</string>
	
								<string>{ -77.62057,6.55949 }</string>

							</array>

							<array>
	
								<string>{ -134.53376,11.70419 }</string>
	
								<string>{ -158.97106,34.21222 }</string>
	
								<string>{ -97.23473,23.27975 }</string>
	
								<string>{ -111.38263,10.73956 }</string>

							</array>

							<array>
	
								<string>{ -145.14469,10.73956 }</string>
	
								<string>{ -158.97106,34.21222 }</string>
	
								<string>{ -134.53376,11.70419 }</string>

							</array>

							<array>
	
								<string>{ -155.11253,8.81029 }</string>
	
								<string>{ -158.97106,34.21222 }</string>
	
								<string>{ -145.14469,10.73956 }</string>

							</array>

							<array>
	
								<string>{ -162.82958,5.59486 }</string>
	
								<string>{ -158.97106,34.21222 }</string>
	
								<string>{ -155.11253,8.81029 }</string>

							</array>

							<array>
	
								<string>{ -169.90353,0.77171 }</string>
	
								<string>{ -158.97106,34.21222 }</string>
	
								<string>{ -162.82958,5.59486 }</string>

							</array>

							<array>
	
								<string>{ -174.40514,-5.01607 }</string>
	
								<string>{ -158.97106,34.21222 }</string>
	
								<string>{ -169.90353,0.77171 }</string>

							</array>

							<array>
	
								<string>{ -0.12862,-141.67203 }</string>
	
								<string>{ -101.09325,-124.63022 }</string>
	
								<string>{ -87.26688,-122.05788 }</string>
	
								<string>{ -9.45337,-134.91961 }</string>

							</array>

							<array>
	
								<string>{ 125.35211,97.46478 }</string>
	
								<string>{ 143.66199,42.81691 }</string>
	
								<string>{ 144.78873,27.32394 }</string>
	
								<string>{ 125.63382,84.22536 }</string>

							</array>

							<array>
	
								<string>{ 171.57556,-98.26366 }</string>
	
								<string>{ 182.82959,-96.65594 }</string>
	
								<string>{ 240.83603,-160.19293 }</string>
	
								<string>{ 77.36334,-139.09968 }</string>
	
								<string>{ 87.65274,-131.38264 }</string>

							</array>

							<array>
	
								<string>{ -0.12862,-141.67203 }</string>
	
								<string>{ 11.76849,-145.53055 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -115.24115,-124.30868 }</string>
	
								<string>{ -101.09325,-124.63022 }</string>

							</array>

							<array>
	
								<string>{ -178.26366,-12.73311 }</string>
	
								<string>{ -158.97106,34.21222 }</string>
	
								<string>{ -174.40514,-5.01607 }</string>

							</array>

							<array>
	
								<string>{ 164.22537,94.36620 }</string>
	
								<string>{ 120.00000,108.45071 }</string>
	
								<string>{ 104.50705,117.18311 }</string>

							</array>

							<array>
	
								<string>{ 150.98593,74.92958 }</string>
	
								<string>{ 125.35211,97.46478 }</string>
	
								<string>{ 120.00000,108.45071 }</string>
	
								<string>{ 164.22537,94.36620 }</string>

							</array>

							<array>
	
								<string>{ 143.66199,42.81691 }</string>
	
								<string>{ 125.35211,97.46478 }</string>
	
								<string>{ 150.98593,74.92958 }</string>

							</array>

							<array>
	
								<string>{ 143.66199,42.81691 }</string>
	
								<string>{ 185.63382,27.60564 }</string>
	
								<string>{ 160.56339,24.78874 }</string>
	
								<string>{ 144.78873,27.32394 }</string>

							</array>

							<array>
	
								<string>{ 185.63382,27.60564 }</string>
	
								<string>{ 172.67606,19.43661 }</string>
	
								<string>{ 160.56339,24.78874 }</string>

							</array>

							<array>
	
								<string>{ 185.63382,27.60564 }</string>
	
								<string>{ 239.74277,20.38586 }</string>
	
								<string>{ 188.29584,8.73331 }</string>
	
								<string>{ 172.67606,19.43661 }</string>

							</array>

							<array>
	
								<string>{ 239.74277,20.38586 }</string>
	
								<string>{ 196.65598,-1.15755 }</string>
	
								<string>{ 188.29584,8.73331 }</string>

							</array>

							<array>
	
								<string>{ 239.74277,20.38586 }</string>
	
								<string>{ 201.80066,-9.83922 }</string>
	
								<string>{ 196.65598,-1.15755 }</string>

							</array>

							<array>
	
								<string>{ 239.74277,20.38586 }</string>
	
								<string>{ 206.94534,-24.95177 }</string>
	
								<string>{ 201.80066,-9.83922 }</string>

							</array>

							<array>
	
								<string>{ 240.83603,-160.19293 }</string>
	
								<string>{ 209.39813,-39.50092 }</string>
	
								<string>{ 206.94534,-24.95177 }</string>
	
								<string>{ 239.74277,20.38586 }</string>

							</array>

							<array>
	
								<string>{ 240.83603,-160.19293 }</string>
	
								<string>{ 209.11646,-52.68420 }</string>
	
								<string>{ 209.39813,-39.50092 }</string>

							</array>

							<array>
	
								<string>{ 240.83603,-160.19293 }</string>
	
								<string>{ 208.19168,-64.50160 }</string>
	
								<string>{ 209.11646,-52.68420 }</string>

							</array>

							<array>
	
								<string>{ 240.83603,-160.19293 }</string>
	
								<string>{ 205.01608,-76.39871 }</string>
	
								<string>{ 208.19168,-64.50160 }</string>

							</array>

							<array>
	
								<string>{ 240.83603,-160.19293 }</string>
	
								<string>{ 199.87140,-85.72347 }</string>
	
								<string>{ 205.01608,-76.39871 }</string>

							</array>

							<array>
	
								<string>{ 240.83603,-160.19293 }</string>
	
								<string>{ 192.79745,-92.15434 }</string>
	
								<string>{ 199.87140,-85.72347 }</string>

							</array>

							<array>
	
								<string>{ 240.83603,-160.19293 }</string>
	
								<string>{ 182.82959,-96.65594 }</string>
	
								<string>{ 192.79745,-92.15434 }</string>

							</array>

							<array>
	
								<string>{ 240.83603,-160.19293 }</string>
	
								<string>{ 64.50162,-144.24437 }</string>
	
								<string>{ 77.36334,-139.09968 }</string>

							</array>

							<array>
	
								<string>{ 240.83603,-160.19293 }</string>
	
								<string>{ 38.45660,-146.49518 }</string>
	
								<string>{ 64.50162,-144.24437 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ 11.76849,-145.53055 }</string>
	
								<string>{ 240.83603,-160.19293 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -128.10289,-122.37942 }</string>
	
								<string>{ -115.24115,-124.30868 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -139.67845,-116.91318 }</string>
	
								<string>{ -128.10289,-122.37942 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -156.07717,-101.15755 }</string>
	
								<string>{ -139.67845,-116.91318 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -166.04501,-84.43729 }</string>
	
								<string>{ -156.07717,-101.15755 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -175.36977,-60.32154 }</string>
	
								<string>{ -166.04501,-84.43729 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -178.90675,-43.27974 }</string>
	
								<string>{ -175.36977,-60.32154 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -180.51447,-26.55948 }</string>
	
								<string>{ -178.90675,-43.27974 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -178.26366,-12.73311 }</string>
	
								<string>{ -180.51447,-26.55948 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 223.94366,112.95776 }</string>
	
								<string>{ 240.56339,161.12677 }</string>
	
								<string>{ 241.12677,78.30986 }</string>
	
								<string>{ 232.11267,82.53522 }</string>

							</array>

							<array>
	
								<string>{ 209.29578,130.42255 }</string>
	
								<string>{ 240.56339,161.12677 }</string>
	
								<string>{ 223.94366,112.95776 }</string>

							</array>

							<array>
	
								<string>{ 194.36621,143.09860 }</string>
	
								<string>{ 240.56339,161.12677 }</string>
	
								<string>{ 209.29578,130.42255 }</string>

							</array>

							<array>
	
								<string>{ 177.74649,151.26761 }</string>
	
								<string>{ 240.56339,161.12677 }</string>
	
								<string>{ 194.36621,143.09860 }</string>

							</array>

							<array>
	
								<string>{ 177.74649,151.26761 }</string>
	
								<string>{ 140.28171,161.69016 }</string>
	
								<string>{ 240.56339,161.12677 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

