<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B49</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -239.56332,-159.56332 }</string>
	
								<string>{ -240.43668,51.61572 }</string>
	
								<string>{ -224.71616,-44.27947 }</string>
	
								<string>{ -225.15284,-160.00000 }</string>

							</array>

							<array>
	
								<string>{ -240.43668,51.61572 }</string>
	
								<string>{ -218.16594,-20.69868 }</string>
	
								<string>{ -224.71616,-44.27947 }</string>

							</array>

							<array>
	
								<string>{ -240.43668,51.61572 }</string>
	
								<string>{ -199.38865,4.19214 }</string>
	
								<string>{ -218.16594,-20.69868 }</string>

							</array>

							<array>
	
								<string>{ -240.43668,51.61572 }</string>
	
								<string>{ -171.87773,24.71616 }</string>
	
								<string>{ -199.38865,4.19214 }</string>

							</array>

							<array>
	
								<string>{ -240.43668,51.61572 }</string>
	
								<string>{ -132.57642,40.43669 }</string>
	
								<string>{ -171.87773,24.71616 }</string>

							</array>

							<array>
	
								<string>{ -240.43668,51.61572 }</string>
	
								<string>{ -85.85153,51.35371 }</string>
	
								<string>{ -132.57642,40.43669 }</string>

							</array>

							<array>
	
								<string>{ -85.85153,51.35371 }</string>
	
								<string>{ -240.43668,51.61572 }</string>
	
								<string>{ -9.60698,64.71616 }</string>
	
								<string>{ -9.86899,57.46725 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 225.50220,150.04367 }</string>
	
								<string>{ 241.04803,160.34933 }</string>
	
								<string>{ 240.78604,128.64630 }</string>

							</array>

							<array>
	
								<string>{ -0.69868,155.72052 }</string>
	
								<string>{ -22.53275,160.78604 }</string>
	
								<string>{ 241.04803,160.34933 }</string>
	
								<string>{ 225.50220,150.04367 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -7.24890,-74.84716 }</string>
	
								<string>{ -19.91266,-57.81659 }</string>
	
								<string>{ 17.64194,-62.18340 }</string>
	
								<string>{ 6.28821,-77.46725 }</string>

							</array>

							<array>
	
								<string>{ 127.24890,-34.67249 }</string>
	
								<string>{ 43.84280,-46.89956 }</string>
	
								<string>{ -43.49345,-47.33624 }</string>
	
								<string>{ -69.69432,-35.10917 }</string>
	
								<string>{ 111.96506,-25.50218 }</string>
	
								<string>{ 131.00436,-29.60698 }</string>

							</array>

							<array>
	
								<string>{ -19.91266,-57.81659 }</string>
	
								<string>{ -43.49345,-47.33624 }</string>
	
								<string>{ 43.84280,-46.89956 }</string>
	
								<string>{ 17.64194,-62.18340 }</string>

							</array>

							<array>
	
								<string>{ -115.54585,-49.25764 }</string>
	
								<string>{ -69.69432,-35.10917 }</string>
	
								<string>{ -73.62445,-47.77293 }</string>
	
								<string>{ -112.48908,-55.19650 }</string>

							</array>

							<array>
	
								<string>{ -69.69432,-35.10917 }</string>
	
								<string>{ -43.49345,-47.33624 }</string>
	
								<string>{ -73.62445,-47.77293 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 18.95197,-123.31878 }</string>
	
								<string>{ -6.81223,-160.87336 }</string>
	
								<string>{ -8.99564,-133.79913 }</string>
	
								<string>{ -9.43231,-107.33624 }</string>

							</array>

							<array>
	
								<string>{ 49.51965,-130.74236 }</string>
	
								<string>{ -6.81223,-160.87336 }</string>
	
								<string>{ 18.95197,-123.31878 }</string>

							</array>

							<array>
	
								<string>{ 240.78604,-160.43668 }</string>
	
								<string>{ -6.81223,-160.87336 }</string>
	
								<string>{ 49.51965,-130.74236 }</string>

							</array>

							<array>
	
								<string>{ 93.44980,93.53712 }</string>
	
								<string>{ 163.49347,88.47162 }</string>
	
								<string>{ 134.67249,74.93451 }</string>
	
								<string>{ 93.18777,85.85153 }</string>

							</array>

							<array>
	
								<string>{ 163.49347,88.47162 }</string>
	
								<string>{ 165.24017,62.27075 }</string>
	
								<string>{ 134.67249,74.93451 }</string>

							</array>

							<array>
	
								<string>{ 163.49347,88.47162 }</string>
	
								<string>{ 240.34937,79.30132 }</string>
	
								<string>{ 190.13101,45.24017 }</string>
	
								<string>{ 165.24017,62.27075 }</string>

							</array>

							<array>
	
								<string>{ 240.34937,79.30132 }</string>
	
								<string>{ 208.90829,23.40611 }</string>
	
								<string>{ 190.13101,45.24017 }</string>

							</array>

							<array>
	
								<string>{ 240.34937,79.30132 }</string>
	
								<string>{ 222.44543,-1.92140 }</string>
	
								<string>{ 208.90829,23.40611 }</string>

							</array>

							<array>
	
								<string>{ 240.78604,-160.43668 }</string>
	
								<string>{ 224.19214,-31.17903 }</string>
	
								<string>{ 222.44543,-1.92140 }</string>
	
								<string>{ 240.34937,79.30132 }</string>

							</array>

							<array>
	
								<string>{ 119.82535,-135.54585 }</string>
	
								<string>{ 240.78604,-160.43668 }</string>
	
								<string>{ 81.39740,-135.54585 }</string>

							</array>

							<array>
	
								<string>{ 158.25330,-129.43231 }</string>
	
								<string>{ 240.78604,-160.43668 }</string>
	
								<string>{ 119.82535,-135.54585 }</string>

							</array>

							<array>
	
								<string>{ 186.63757,-112.83843 }</string>
	
								<string>{ 240.78604,-160.43668 }</string>
	
								<string>{ 158.25330,-129.43231 }</string>

							</array>

							<array>
	
								<string>{ 207.59827,-94.49782 }</string>
	
								<string>{ 240.78604,-160.43668 }</string>
	
								<string>{ 186.63757,-112.83843 }</string>

							</array>

							<array>
	
								<string>{ 218.07861,-75.72052 }</string>
	
								<string>{ 240.78604,-160.43668 }</string>
	
								<string>{ 207.59827,-94.49782 }</string>

							</array>

							<array>
	
								<string>{ 221.57205,-60.43668 }</string>
	
								<string>{ 240.78604,-160.43668 }</string>
	
								<string>{ 218.07861,-75.72052 }</string>

							</array>

							<array>
	
								<string>{ 224.19214,-31.17903 }</string>
	
								<string>{ 240.78604,-160.43668 }</string>
	
								<string>{ 221.57205,-60.43668 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

