<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B14</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 152.46954,160.90033 }</string>
	
								<string>{ 284.74420,160.31644 }</string>
	
								<string>{ 284.56348,-17.16948 }</string>
	
								<string>{ 153.11264,97.23474 }</string>
	
								<string>{ 124.81680,127.78137 }</string>

							</array>

							<array>
	
								<string>{ -27.59476,-44.56591 }</string>
	
								<string>{ -65.53690,-67.07395 }</string>
	
								<string>{ -21.16391,-20.45015 }</string>
	
								<string>{ -13.44687,-21.73633 }</string>

							</array>

							<array>
	
								<string>{ -33.70410,-58.39228 }</string>
	
								<string>{ -65.53690,-67.07395 }</string>
	
								<string>{ -27.59476,-44.56591 }</string>

							</array>

							<array>
	
								<string>{ -37.88416,-74.79099 }</string>
	
								<string>{ -65.53690,-67.07395 }</string>
	
								<string>{ -33.70410,-58.39228 }</string>

							</array>

							<array>
	
								<string>{ -38.20570,-92.47588 }</string>
	
								<string>{ -104.76518,-96.65594 }</string>
	
								<string>{ -65.53690,-67.07395 }</string>
	
								<string>{ -37.88416,-74.79099 }</string>

							</array>

							<array>
	
								<string>{ -246.88343,8.40491 }</string>
	
								<string>{ -284.30675,-160.00000 }</string>
	
								<string>{ -284.00000,3.80368 }</string>

							</array>

							<array>
	
								<string>{ 50.86182,-43.27974 }</string>
	
								<string>{ 96.84253,-49.06752 }</string>
	
								<string>{ 90.41165,-75.43408 }</string>
	
								<string>{ 46.03867,-50.03215 }</string>

							</array>

							<array>
	
								<string>{ 114.20587,-50.67524 }</string>
	
								<string>{ 110.66891,-95.36977 }</string>
	
								<string>{ 90.41165,-75.43408 }</string>
	
								<string>{ 96.84253,-49.06752 }</string>

							</array>

							<array>
	
								<string>{ 131.24768,-49.71061 }</string>
	
								<string>{ 110.66891,-95.36977 }</string>
	
								<string>{ 114.20587,-50.67524 }</string>

							</array>

							<array>
	
								<string>{ 151.18338,-48.10289 }</string>
	
								<string>{ 121.60138,-116.59164 }</string>
	
								<string>{ 110.66891,-95.36977 }</string>
	
								<string>{ 131.24768,-49.71061 }</string>

							</array>

							<array>
	
								<string>{ 168.86826,-45.20900 }</string>
	
								<string>{ 121.60138,-116.59164 }</string>
	
								<string>{ 151.18338,-48.10289 }</string>

							</array>

							<array>
	
								<string>{ -33.06100,-103.72990 }</string>
	
								<string>{ -104.76518,-96.65594 }</string>
	
								<string>{ -38.20570,-92.47588 }</string>

							</array>

							<array>
	
								<string>{ -219.27607,15.46013 }</string>
	
								<string>{ -198.97741,-15.62700 }</string>
	
								<string>{ -199.29896,-27.20256 }</string>
	
								<string>{ -284.30675,-160.00000 }</string>
	
								<string>{ -246.88343,8.40491 }</string>

							</array>

							<array>
	
								<string>{ -109.58835,23.27975 }</string>
	
								<string>{ -239.81343,74.21222 }</string>
	
								<string>{ -72.61086,20.70740 }</string>
	
								<string>{ -80.00635,17.17043 }</string>

							</array>

							<array>
	
								<string>{ -24.37933,-113.05466 }</string>
	
								<string>{ -120.84236,-103.72990 }</string>
	
								<string>{ -104.76518,-96.65594 }</string>
	
								<string>{ -33.06100,-103.72990 }</string>

							</array>

							<array>
	
								<string>{ -4.76520,-124.63022 }</string>
	
								<string>{ -139.81342,-107.26688 }</string>
	
								<string>{ -120.84236,-103.72990 }</string>
	
								<string>{ -24.37933,-113.05466 }</string>

							</array>

							<array>
	
								<string>{ 182.37308,-37.49196 }</string>
	
								<string>{ 121.60138,-116.59164 }</string>
	
								<string>{ 168.86826,-45.20900 }</string>

							</array>

							<array>
	
								<string>{ -132.09637,25.85210 }</string>
	
								<string>{ -239.81343,74.21222 }</string>
	
								<string>{ -109.58835,23.27975 }</string>

							</array>

							<array>
	
								<string>{ -153.96133,26.81673 }</string>
	
								<string>{ -239.81343,74.21222 }</string>
	
								<string>{ -132.09637,25.85210 }</string>

							</array>

							<array>
	
								<string>{ -153.96133,26.81673 }</string>
	
								<string>{ -169.71696,23.60129 }</string>
	
								<string>{ -219.27607,15.46013 }</string>
	
								<string>{ -239.81343,74.21222 }</string>

							</array>

							<array>
	
								<string>{ 284.56348,-17.16948 }</string>
	
								<string>{ 165.97437,79.54985 }</string>
	
								<string>{ 153.11264,97.23474 }</string>

							</array>

							<array>
	
								<string>{ 284.56348,-17.16948 }</string>
	
								<string>{ 175.94223,63.47267 }</string>
	
								<string>{ 165.97437,79.54985 }</string>

							</array>

							<array>
	
								<string>{ 284.56348,-17.16948 }</string>
	
								<string>{ 186.23160,46.75243 }</string>
	
								<string>{ 175.94223,63.47267 }</string>

							</array>

							<array>
	
								<string>{ 284.56348,-17.16948 }</string>
	
								<string>{ 192.66248,30.03217 }</string>
	
								<string>{ 186.23160,46.75243 }</string>

							</array>

							<array>
	
								<string>{ 284.56348,-17.16948 }</string>
	
								<string>{ 195.87790,18.45660 }</string>
	
								<string>{ 192.66248,30.03217 }</string>

							</array>

							<array>
	
								<string>{ 284.56348,-17.16948 }</string>
	
								<string>{ 197.48563,2.37943 }</string>
	
								<string>{ 195.87790,18.45660 }</string>

							</array>

							<array>
	
								<string>{ 284.56348,-17.16948 }</string>
	
								<string>{ 197.16409,-13.69774 }</string>
	
								<string>{ 197.48563,2.37943 }</string>

							</array>

							<array>
	
								<string>{ 190.14893,-43.91167 }</string>
	
								<string>{ 191.69785,-26.55948 }</string>
	
								<string>{ 197.16409,-13.69774 }</string>
	
								<string>{ 284.56348,-17.16948 }</string>

							</array>

							<array>
	
								<string>{ 190.14893,-43.91167 }</string>
	
								<string>{ 164.59689,-60.94637 }</string>
	
								<string>{ 182.37308,-37.49196 }</string>
	
								<string>{ 191.69785,-26.55948 }</string>

							</array>

							<array>
	
								<string>{ 145.03851,-159.68454 }</string>
	
								<string>{ -152.67516,-107.58842 }</string>
	
								<string>{ -139.81342,-107.26688 }</string>
	
								<string>{ -4.76520,-124.63022 }</string>

							</array>

							<array>
	
								<string>{ -184.18642,17.49197 }</string>
	
								<string>{ -219.27607,15.46013 }</string>
	
								<string>{ -169.71696,23.60129 }</string>

							</array>

							<array>
	
								<string>{ -192.86809,7.20258 }</string>
	
								<string>{ -219.27607,15.46013 }</string>
	
								<string>{ -184.18642,17.49197 }</string>

							</array>

							<array>
	
								<string>{ -197.36970,-5.98070 }</string>
	
								<string>{ -219.27607,15.46013 }</string>
	
								<string>{ -192.86809,7.20258 }</string>

							</array>

							<array>
	
								<string>{ -198.97741,-15.62700 }</string>
	
								<string>{ -219.27607,15.46013 }</string>
	
								<string>{ -197.36970,-5.98070 }</string>

							</array>

							<array>
	
								<string>{ -197.04815,-44.88746 }</string>
	
								<string>{ -284.30675,-160.00000 }</string>
	
								<string>{ -199.29896,-27.20256 }</string>

							</array>

							<array>
	
								<string>{ -192.22500,-64.50160 }</string>
	
								<string>{ -284.30675,-160.00000 }</string>
	
								<string>{ -197.04815,-44.88746 }</string>

							</array>

							<array>
	
								<string>{ -186.11568,-81.86495 }</string>
	
								<string>{ -284.30675,-160.00000 }</string>
	
								<string>{ -192.22500,-64.50160 }</string>

							</array>

							<array>
	
								<string>{ -176.46938,-97.29903 }</string>
	
								<string>{ -284.30675,-160.00000 }</string>
	
								<string>{ -186.11568,-81.86495 }</string>

							</array>

							<array>
	
								<string>{ -164.57227,-106.30225 }</string>
	
								<string>{ -284.30675,-160.00000 }</string>
	
								<string>{ -176.46938,-97.29903 }</string>

							</array>

							<array>
	
								<string>{ -164.57227,-106.30225 }</string>
	
								<string>{ -152.67516,-107.58842 }</string>
	
								<string>{ 145.03851,-159.68454 }</string>
	
								<string>{ -284.30675,-160.00000 }</string>

							</array>

							<array>
	
								<string>{ 142.19940,-95.01578 }</string>
	
								<string>{ 121.60138,-116.59164 }</string>
	
								<string>{ 164.59689,-60.94637 }</string>

							</array>

							<array>
	
								<string>{ 145.03851,-159.68454 }</string>
	
								<string>{ 121.60138,-116.59164 }</string>
	
								<string>{ 142.19940,-95.01578 }</string>

							</array>

							<array>
	
								<string>{ 145.03851,-159.68454 }</string>
	
								<string>{ 115.49207,-122.70096 }</string>
	
								<string>{ 121.60138,-116.59164 }</string>

							</array>

							<array>
	
								<string>{ 145.03851,-159.68454 }</string>
	
								<string>{ 103.59494,-128.16720 }</string>
	
								<string>{ 115.49207,-122.70096 }</string>

							</array>

							<array>
	
								<string>{ 145.03851,-159.68454 }</string>
	
								<string>{ 63.08047,-133.63344 }</string>
	
								<string>{ 103.59494,-128.16720 }</string>

							</array>

							<array>
	
								<string>{ 145.03851,-159.68454 }</string>
	
								<string>{ 26.74606,-131.38264 }</string>
	
								<string>{ 63.08047,-133.63344 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -78.04750,160.37106 }</string>
	
								<string>{ -48.46550,139.02060 }</string>
	
								<string>{ -73.22435,138.37750 }</string>

							</array>

							<array>
	
								<string>{ 81.75958,94.00450 }</string>
	
								<string>{ 53.46378,75.03345 }</string>
	
								<string>{ 49.60526,102.36462 }</string>
	
								<string>{ 96.22903,111.68939 }</string>

							</array>

							<array>
	
								<string>{ 53.46378,75.03345 }</string>
	
								<string>{ 21.63095,42.23602 }</string>
	
								<string>{ 15.84317,79.53505 }</string>
	
								<string>{ 17.12936,90.78908 }</string>
	
								<string>{ 21.95251,117.47717 }</string>
	
								<string>{ 49.60526,102.36462 }</string>

							</array>

							<array>
	
								<string>{ 21.95251,117.47717 }</string>
	
								<string>{ -0.87708,126.15884 }</string>
	
								<string>{ -78.04750,160.37106 }</string>
	
								<string>{ 7.93323,161.33569 }</string>

							</array>

							<array>
	
								<string>{ 4.91071,46.73763 }</string>
	
								<string>{ 11.98465,65.06560 }</string>
	
								<string>{ 21.63095,42.23602 }</string>
	
								<string>{ 7.80460,40.62830 }</string>

							</array>

							<array>
	
								<string>{ 15.84317,79.53505 }</string>
	
								<string>{ 21.63095,42.23602 }</string>
	
								<string>{ 11.98465,65.06560 }</string>

							</array>

							<array>
	
								<string>{ -78.04750,160.37106 }</string>
	
								<string>{ -30.45908,136.76978 }</string>
	
								<string>{ -48.46550,139.02060 }</string>

							</array>

							<array>
	
								<string>{ -78.04750,160.37106 }</string>
	
								<string>{ -14.70343,132.26816 }</string>
	
								<string>{ -30.45908,136.76978 }</string>

							</array>

							<array>
	
								<string>{ 15.84317,102.36462 }</string>
	
								<string>{ 21.95251,117.47717 }</string>
	
								<string>{ 17.12936,90.78908 }</string>

							</array>

							<array>
	
								<string>{ 9.73386,115.54791 }</string>
	
								<string>{ 21.95251,117.47717 }</string>
	
								<string>{ 15.84317,102.36462 }</string>

							</array>

							<array>
	
								<string>{ -0.87708,126.15884 }</string>
	
								<string>{ 21.95251,117.47717 }</string>
	
								<string>{ 9.73386,115.54791 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

