<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B13</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 269.99164,149.11487 }</string>
	
								<string>{ 284.22748,160.29391 }</string>
	
								<string>{ 284.71173,148.31046 }</string>

							</array>

							<array>
	
								<string>{ 74.96277,154.73630 }</string>
	
								<string>{ 63.25757,159.98431 }</string>
	
								<string>{ 284.22748,160.29391 }</string>
	
								<string>{ 269.99164,149.11487 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -214.28979,-133.35968 }</string>
	
								<string>{ -284.18251,-160.07165 }</string>
	
								<string>{ -284.00000,-107.75941 }</string>

							</array>

							<array>
	
								<string>{ 163.71048,114.16415 }</string>
	
								<string>{ 120.91571,77.04625 }</string>
	
								<string>{ 89.73666,94.77551 }</string>

							</array>

							<array>
	
								<string>{ 163.71048,114.16415 }</string>
	
								<string>{ 150.17334,56.95892 }</string>
	
								<string>{ 120.91571,77.04625 }</string>

							</array>

							<array>
	
								<string>{ 283.96545,-160.30960 }</string>
	
								<string>{ 179.27936,16.47955 }</string>
	
								<string>{ 174.62750,26.82791 }</string>
	
								<string>{ 163.71048,114.16415 }</string>
	
								<string>{ 284.14795,128.57465 }</string>

							</array>

							<array>
	
								<string>{ -53.32010,-48.28126 }</string>
	
								<string>{ -46.33321,-47.84457 }</string>
	
								<string>{ -12.27206,-68.36860 }</string>
	
								<string>{ -62.52129,-70.98026 }</string>
	
								<string>{ -58.99695,-50.90134 }</string>

							</array>

							<array>
	
								<string>{ -12.27206,-68.36860 }</string>
	
								<string>{ 11.75525,-78.69730 }</string>
	
								<string>{ -68.16727,-91.07602 }</string>
	
								<string>{ -62.52129,-70.98026 }</string>

							</array>

							<array>
	
								<string>{ 163.71048,114.16415 }</string>
	
								<string>{ 159.98676,47.99081 }</string>
	
								<string>{ 150.17334,56.95892 }</string>

							</array>

							<array>
	
								<string>{ 11.75525,-78.69730 }</string>
	
								<string>{ 37.50958,-87.58257 }</string>
	
								<string>{ -78.59846,-109.24392 }</string>
	
								<string>{ -68.16727,-91.07602 }</string>

							</array>

							<array>
	
								<string>{ -192.18473,-138.67427 }</string>
	
								<string>{ -284.18251,-160.07165 }</string>
	
								<string>{ -214.28979,-133.35968 }</string>

							</array>

							<array>
	
								<string>{ 163.71048,114.16415 }</string>
	
								<string>{ 166.76724,39.92834 }</string>
	
								<string>{ 159.98676,47.99081 }</string>

							</array>

							<array>
	
								<string>{ 163.71048,114.16415 }</string>
	
								<string>{ 174.62750,26.82791 }</string>
	
								<string>{ 166.76724,39.92834 }</string>

							</array>

							<array>
	
								<string>{ 37.50958,-87.58257 }</string>
	
								<string>{ 51.30508,-90.59441 }</string>
	
								<string>{ -89.12796,-121.64370 }</string>
	
								<string>{ -78.59846,-109.24392 }</string>

							</array>

							<array>
	
								<string>{ 283.96545,-160.30960 }</string>
	
								<string>{ -284.18251,-160.07165 }</string>
	
								<string>{ -192.18473,-138.67427 }</string>

							</array>

							<array>
	
								<string>{ 51.30508,-90.59441 }</string>
	
								<string>{ 65.45718,-91.94938 }</string>
	
								<string>{ -102.39267,-130.46579 }</string>
	
								<string>{ -89.12796,-121.64370 }</string>

							</array>

							<array>
	
								<string>{ 100.39169,-91.51270 }</string>
	
								<string>{ 283.96545,-160.30960 }</string>
	
								<string>{ -121.44237,-136.49087 }</string>
	
								<string>{ -102.39267,-130.46579 }</string>
	
								<string>{ 65.45718,-91.94938 }</string>

							</array>

							<array>
	
								<string>{ -121.44237,-136.49087 }</string>
	
								<string>{ 283.96545,-160.30960 }</string>
	
								<string>{ -157.05506,-139.46901 }</string>

							</array>

							<array>
	
								<string>{ 119.15073,-89.95132 }</string>
	
								<string>{ 283.96545,-160.30960 }</string>
	
								<string>{ 100.39169,-91.51270 }</string>

							</array>

							<array>
	
								<string>{ 151.30508,-78.05421 }</string>
	
								<string>{ 283.96545,-160.30960 }</string>
	
								<string>{ 119.15073,-89.95132 }</string>

							</array>

							<array>
	
								<string>{ 161.52707,-70.11532 }</string>
	
								<string>{ 283.96545,-160.30960 }</string>
	
								<string>{ 151.30508,-78.05421 }</string>

							</array>

							<array>
	
								<string>{ 171.24078,-59.08315 }</string>
	
								<string>{ 283.96545,-160.30960 }</string>
	
								<string>{ 161.52707,-70.11532 }</string>

							</array>

							<array>
	
								<string>{ 178.12094,-46.09785 }</string>
	
								<string>{ 283.96545,-160.30960 }</string>
	
								<string>{ 171.24078,-59.08315 }</string>

							</array>

							<array>
	
								<string>{ 183.78098,-32.07350 }</string>
	
								<string>{ 283.96545,-160.30960 }</string>
	
								<string>{ 178.12094,-46.09785 }</string>

							</array>

							<array>
	
								<string>{ 186.41791,-17.71358 }</string>
	
								<string>{ 283.96545,-160.30960 }</string>
	
								<string>{ 183.78098,-32.07350 }</string>

							</array>

							<array>
	
								<string>{ 186.35330,-4.74231 }</string>
	
								<string>{ 283.96545,-160.30960 }</string>
	
								<string>{ 186.41791,-17.71358 }</string>

							</array>

							<array>
	
								<string>{ 183.36111,4.99385 }</string>
	
								<string>{ 283.96545,-160.30960 }</string>
	
								<string>{ 186.35330,-4.74231 }</string>

							</array>

							<array>
	
								<string>{ 179.27936,16.47955 }</string>
	
								<string>{ 283.96545,-160.30960 }</string>
	
								<string>{ 183.36111,4.99385 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 65.20032,66.45935 }</string>
	
								<string>{ -68.04726,7.16673 }</string>
	
								<string>{ -22.38809,54.11208 }</string>
	
								<string>{ 24.55725,69.86771 }</string>
	
								<string>{ 45.13602,72.11852 }</string>

							</array>

							<array>
	
								<string>{ -68.04726,7.16673 }</string>
	
								<string>{ -85.73215,19.06384 }</string>
	
								<string>{ -60.00868,46.71658 }</string>
	
								<string>{ -22.38809,54.11208 }</string>

							</array>

							<array>
	
								<string>{ -114.67105,30.31787 }</string>
	
								<string>{ -60.00868,46.71658 }</string>
	
								<string>{ -85.73215,19.06384 }</string>

							</array>

							<array>
	
								<string>{ -114.67105,30.31787 }</string>
	
								<string>{ -147.46849,35.14102 }</string>
	
								<string>{ -151.64854,42.34358 }</string>
	
								<string>{ -60.00868,46.71658 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

