<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B35</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 61.70407,-112.15678 }</string>
	
								<string>{ -37.85925,-126.56726 }</string>
	
								<string>{ 14.10580,-87.26595 }</string>

							</array>

							<array>
	
								<string>{ 62.40274,132.64673 }</string>
	
								<string>{ 35.50320,106.18384 }</string>
	
								<string>{ -25.63217,114.91745 }</string>

							</array>

							<array>
	
								<string>{ 62.40274,132.64673 }</string>
	
								<string>{ 63.45078,96.14017 }</string>
	
								<string>{ 35.50320,106.18384 }</string>

							</array>

							<array>
	
								<string>{ 135.93988,42.86505 }</string>
	
								<string>{ 130.69971,49.85196 }</string>
	
								<string>{ 168.69098,53.78209 }</string>
	
								<string>{ 170.00101,45.92183 }</string>

							</array>

							<array>
	
								<string>{ -143.53612,16.22751 }</string>
	
								<string>{ -283.56988,29.46657 }</string>
	
								<string>{ -120.39201,28.01790 }</string>
	
								<string>{ -120.82869,21.90436 }</string>

							</array>

							<array>
	
								<string>{ 111.92239,31.51135 }</string>
	
								<string>{ 101.44205,51.16200 }</string>
	
								<string>{ 130.69971,49.85196 }</string>
	
								<string>{ 135.93988,42.86505 }</string>

							</array>

							<array>
	
								<string>{ 89.21500,16.22751 }</string>
	
								<string>{ 84.84818,66.88252 }</string>
	
								<string>{ 101.44205,51.16200 }</string>
	
								<string>{ 111.92239,31.51135 }</string>

							</array>

							<array>
	
								<string>{ 60.39401,-12.15678 }</string>
	
								<string>{ 70.87436,27.58122 }</string>
	
								<string>{ 84.84818,66.88252 }</string>
	
								<string>{ 89.21500,16.22751 }</string>

							</array>

							<array>
	
								<string>{ 62.40274,132.64673 }</string>
	
								<string>{ 92.70844,96.57684 }</string>
	
								<string>{ 84.84818,66.88252 }</string>
	
								<string>{ 73.93115,79.10960 }</string>
	
								<string>{ 63.45078,96.14017 }</string>

							</array>

							<array>
	
								<string>{ 98.82196,-126.13058 }</string>
	
								<string>{ -73.23044,-140.97774 }</string>
	
								<string>{ -37.85925,-126.56726 }</string>
	
								<string>{ 61.70407,-112.15678 }</string>

							</array>

							<array>
	
								<string>{ 70.87436,27.58122 }</string>
	
								<string>{ 60.39401,-12.15678 }</string>
	
								<string>{ 55.59052,-9.10001 }</string>

							</array>

							<array>
	
								<string>{ -165.80685,5.31047 }</string>
	
								<string>{ -283.56988,29.46657 }</string>
	
								<string>{ -143.53612,16.22751 }</string>

							</array>

							<array>
	
								<string>{ -182.83743,-16.08691 }</string>
	
								<string>{ -283.56988,29.46657 }</string>
	
								<string>{ -165.80685,5.31047 }</string>

							</array>

							<array>
	
								<string>{ -182.83743,-16.08691 }</string>
	
								<string>{ -189.82433,-45.78123 }</string>
	
								<string>{ -284.86537,-158.54315 }</string>
	
								<string>{ -283.56988,29.46657 }</string>

							</array>

							<array>
	
								<string>{ -186.76756,-75.91224 }</string>
	
								<string>{ -284.86537,-158.54315 }</string>
	
								<string>{ -189.82433,-45.78123 }</string>

							</array>

							<array>
	
								<string>{ -174.10380,-106.91660 }</string>
	
								<string>{ -284.86537,-158.54315 }</string>
	
								<string>{ -186.76756,-75.91224 }</string>

							</array>

							<array>
	
								<string>{ -147.02956,-130.06071 }</string>
	
								<string>{ -284.86537,-158.54315 }</string>
	
								<string>{ -174.10380,-106.91660 }</string>

							</array>

							<array>
	
								<string>{ -114.27847,-143.59783 }</string>
	
								<string>{ -284.86537,-158.54315 }</string>
	
								<string>{ -147.02956,-130.06071 }</string>

							</array>

							<array>
	
								<string>{ 283.99915,121.87863 }</string>
	
								<string>{ 62.40274,132.64673 }</string>
	
								<string>{ 171.60977,136.09756 }</string>

							</array>

							<array>
	
								<string>{ 138.55997,-135.73756 }</string>
	
								<string>{ -73.23044,-140.97774 }</string>
	
								<string>{ 98.82196,-126.13058 }</string>

							</array>

							<array>
	
								<string>{ 76.98792,54.65546 }</string>
	
								<string>{ 84.84818,66.88252 }</string>
	
								<string>{ 70.87436,27.58122 }</string>

							</array>

							<array>
	
								<string>{ 73.93115,79.10960 }</string>
	
								<string>{ 84.84818,66.88252 }</string>
	
								<string>{ 76.98792,54.65546 }</string>

							</array>

							<array>
	
								<string>{ 62.40274,132.64673 }</string>
	
								<string>{ 118.90930,120.15762 }</string>
	
								<string>{ 92.70844,96.57684 }</string>

							</array>

							<array>
	
								<string>{ 62.40274,132.64673 }</string>
	
								<string>{ 146.85690,127.58121 }</string>
	
								<string>{ 118.90930,120.15762 }</string>

							</array>

							<array>
	
								<string>{ -73.23044,-140.97774 }</string>
	
								<string>{ 138.55997,-135.73756 }</string>
	
								<string>{ 283.94659,-159.51220 }</string>
	
								<string>{ -284.86537,-158.54315 }</string>

							</array>

							<array>
	
								<string>{ 180.91803,-133.11748 }</string>
	
								<string>{ 283.94659,-159.51220 }</string>
	
								<string>{ 138.55997,-135.73756 }</string>

							</array>

							<array>
	
								<string>{ 204.93552,-119.14368 }</string>
	
								<string>{ 283.94659,-159.51220 }</string>
	
								<string>{ 180.91803,-133.11748 }</string>

							</array>

							<array>
	
								<string>{ 222.40277,-97.30962 }</string>
	
								<string>{ 283.94659,-159.51220 }</string>
	
								<string>{ 204.93552,-119.14368 }</string>

							</array>

							<array>
	
								<string>{ 232.88312,-69.79870 }</string>
	
								<string>{ 283.94659,-159.51220 }</string>
	
								<string>{ 222.40277,-97.30962 }</string>

							</array>

							<array>
	
								<string>{ 232.88312,-69.79870 }</string>
	
								<string>{ 231.13635,-21.32709 }</string>
	
								<string>{ 283.99915,121.87863 }</string>
	
								<string>{ 283.94659,-159.51220 }</string>

							</array>

							<array>
	
								<string>{ 222.83945,24.96112 }</string>
	
								<string>{ 283.99915,121.87863 }</string>
	
								<string>{ 231.13635,-21.32709 }</string>

							</array>

							<array>
	
								<string>{ 209.73901,75.17947 }</string>
	
								<string>{ 283.99915,121.87863 }</string>
	
								<string>{ 222.83945,24.96112 }</string>

							</array>

							<array>
	
								<string>{ 197.07526,97.01352 }</string>
	
								<string>{ 283.99915,121.87863 }</string>
	
								<string>{ 209.73901,75.17947 }</string>

							</array>

							<array>
	
								<string>{ 173.49445,117.97424 }</string>
	
								<string>{ 283.99915,121.87863 }</string>
	
								<string>{ 197.07526,97.01352 }</string>

							</array>

							<array>
	
								<string>{ 146.85690,127.58121 }</string>
	
								<string>{ 283.99915,121.87863 }</string>
	
								<string>{ 173.49445,117.97424 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

