<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B30</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -164.16629,18.72853 }</string>
	
								<string>{ -188.45200,-23.84290 }</string>
	
								<string>{ -203.02343,-45.55718 }</string>
	
								<string>{ -284.63091,-158.02708 }</string>
	
								<string>{ -285.21314,12.10576 }</string>

							</array>

							<array>
	
								<string>{ -284.63091,-158.02708 }</string>
	
								<string>{ -179.59486,-138.12861 }</string>
	
								<string>{ -163.61538,-160.52640 }</string>

							</array>

							<array>
	
								<string>{ -284.63091,-158.02708 }</string>
	
								<string>{ -195.30914,-106.98575 }</string>
	
								<string>{ -179.59486,-138.12861 }</string>

							</array>

							<array>
	
								<string>{ -284.63091,-158.02708 }</string>
	
								<string>{ -206.16629,-75.55718 }</string>
	
								<string>{ -195.30914,-106.98575 }</string>

							</array>

							<array>
	
								<string>{ -105.88057,11.58568 }</string>
	
								<string>{ -158.45200,-3.55717 }</string>
	
								<string>{ -164.16629,18.72853 }</string>
	
								<string>{ -102.45201,19.58568 }</string>

							</array>

							<array>
	
								<string>{ -188.45200,-23.84290 }</string>
	
								<string>{ -164.16629,18.72853 }</string>
	
								<string>{ -158.45200,-3.55717 }</string>

							</array>

							<array>
	
								<string>{ -284.63091,-158.02708 }</string>
	
								<string>{ -203.02343,-45.55718 }</string>
	
								<string>{ -206.16629,-75.55718 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 94.08969,94.02292 }</string>
	
								<string>{ 168.35004,97.21817 }</string>
	
								<string>{ 133.73468,88.34244 }</string>
	
								<string>{ 98.82343,90.11758 }</string>

							</array>

							<array>
	
								<string>{ 168.35004,97.21817 }</string>
	
								<string>{ 165.98318,83.01700 }</string>
	
								<string>{ 133.73468,88.34244 }</string>

							</array>

							<array>
	
								<string>{ 168.35004,97.21817 }</string>
	
								<string>{ 283.19244,91.73502 }</string>
	
								<string>{ 189.94769,77.39569 }</string>
	
								<string>{ 165.98318,83.01700 }</string>

							</array>

							<array>
	
								<string>{ 283.19244,91.73502 }</string>
	
								<string>{ 211.84119,66.74481 }</string>
	
								<string>{ 189.94769,77.39569 }</string>

							</array>

							<array>
	
								<string>{ 283.19244,91.73502 }</string>
	
								<string>{ 222.78790,49.88091 }</string>
	
								<string>{ 211.84119,66.74481 }</string>

							</array>

							<array>
	
								<string>{ 285.13647,-160.63091 }</string>
	
								<string>{ 228.40924,-47.16051 }</string>
	
								<string>{ 220.71692,36.27144 }</string>
	
								<string>{ 222.78790,49.88091 }</string>
	
								<string>{ 283.19244,91.73502 }</string>

							</array>

							<array>
	
								<string>{ 140.53940,-67.27885 }</string>
	
								<string>{ 138.76425,-87.98891 }</string>
	
								<string>{ 114.79974,-26.74631 }</string>
	
								<string>{ 121.01279,-30.59247 }</string>

							</array>

							<array>
	
								<string>{ 167.16663,-102.48595 }</string>
	
								<string>{ 149.11929,-158.69897 }</string>
	
								<string>{ 138.76425,-87.98891 }</string>
	
								<string>{ 140.53940,-67.27885 }</string>

							</array>

							<array>
	
								<string>{ 167.16663,-102.48595 }</string>
	
								<string>{ 180.48022,-106.03625 }</string>
	
								<string>{ 285.13647,-160.63091 }</string>
	
								<string>{ 149.11929,-158.69897 }</string>

							</array>

							<array>
	
								<string>{ 179.59265,18.81581 }</string>
	
								<string>{ 177.52164,7.86906 }</string>
	
								<string>{ 138.76425,17.63239 }</string>
	
								<string>{ 135.50983,20.88683 }</string>

							</array>

							<array>
	
								<string>{ 179.59265,18.81581 }</string>
	
								<string>{ 210.95361,24.43712 }</string>
	
								<string>{ 198.23172,-2.48596 }</string>
	
								<string>{ 177.52164,7.86906 }</string>

							</array>

							<array>
	
								<string>{ 210.95361,24.43712 }</string>
	
								<string>{ 220.71692,36.27144 }</string>
	
								<string>{ 218.94177,-19.34987 }</string>
	
								<string>{ 198.23172,-2.48596 }</string>

							</array>

							<array>
	
								<string>{ 220.71692,36.27144 }</string>
	
								<string>{ 228.40924,-47.16051 }</string>
	
								<string>{ 218.94177,-19.34987 }</string>

							</array>

							<array>
	
								<string>{ 285.13647,-160.63091 }</string>
	
								<string>{ 226.92993,-71.42087 }</string>
	
								<string>{ 228.40924,-47.16051 }</string>

							</array>

							<array>
	
								<string>{ 285.13647,-160.63091 }</string>
	
								<string>{ 217.75833,-94.20193 }</string>
	
								<string>{ 226.92993,-71.42087 }</string>

							</array>

							<array>
	
								<string>{ 285.13647,-160.63091 }</string>
	
								<string>{ 210.06601,-102.19010 }</string>
	
								<string>{ 217.75833,-94.20193 }</string>

							</array>

							<array>
	
								<string>{ 285.13647,-160.63091 }</string>
	
								<string>{ 197.04828,-106.62797 }</string>
	
								<string>{ 210.06601,-102.19010 }</string>

							</array>

							<array>
	
								<string>{ 285.13647,-160.63091 }</string>
	
								<string>{ 180.48022,-106.03625 }</string>
	
								<string>{ 197.04828,-106.62797 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

