<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B50-</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 68.73364,-4.54149 }</string>
	
								<string>{ 146.02621,0.26201 }</string>
	
								<string>{ 97.55460,-18.07860 }</string>
	
								<string>{ 74.41049,-25.06551 }</string>

							</array>

							<array>
	
								<string>{ -81.48471,-23.31877 }</string>
	
								<string>{ -95.02184,-14.14847 }</string>
	
								<string>{ -25.15283,-6.28821 }</string>
	
								<string>{ -24.27948,-15.89519 }</string>

							</array>

							<array>
	
								<string>{ -112.05240,-31.17903 }</string>
	
								<string>{ -128.64629,-12.83842 }</string>
	
								<string>{ -95.02184,-14.14847 }</string>
	
								<string>{ -81.48471,-23.31877 }</string>

							</array>

							<array>
	
								<string>{ -135.63319,-39.47598 }</string>
	
								<string>{ -166.63755,-3.66812 }</string>
	
								<string>{ -128.64629,-12.83842 }</string>
	
								<string>{ -112.05240,-31.17903 }</string>

							</array>

							<array>
	
								<string>{ -157.03056,-49.51965 }</string>
	
								<string>{ -192.83843,4.62883 }</string>
	
								<string>{ -166.63755,-3.66812 }</string>
	
								<string>{ -135.63319,-39.47598 }</string>

							</array>

							<array>
	
								<string>{ -171.87773,-63.49345 }</string>
	
								<string>{ -207.24891,22.96944 }</string>
	
								<string>{ -192.83843,4.62883 }</string>
	
								<string>{ -157.03056,-49.51965 }</string>

							</array>

							<array>
	
								<string>{ 79.21399,-97.55458 }</string>
	
								<string>{ 97.99127,-107.59825 }</string>
	
								<string>{ -14.23581,-123.75546 }</string>
	
								<string>{ 32.05240,-92.31441 }</string>
	
								<string>{ 39.91266,-90.56769 }</string>
	
								<string>{ 62.62009,-91.44105 }</string>

							</array>

							<array>
	
								<string>{ 146.02621,0.26201 }</string>
	
								<string>{ 114.58514,-15.45851 }</string>
	
								<string>{ 97.55460,-18.07860 }</string>

							</array>

							<array>
	
								<string>{ 146.02621,0.26201 }</string>
	
								<string>{ 135.98254,-16.76855 }</string>
	
								<string>{ 114.58514,-15.45851 }</string>

							</array>

							<array>
	
								<string>{ 146.02621,0.26201 }</string>
	
								<string>{ 155.63321,-22.44542 }</string>
	
								<string>{ 135.98254,-16.76855 }</string>

							</array>

							<array>
	
								<string>{ 146.02621,0.26201 }</string>
	
								<string>{ 241.65939,0.69870 }</string>
	
								<string>{ 178.34061,-35.54585 }</string>
	
								<string>{ 155.63321,-22.44542 }</string>

							</array>

							<array>
	
								<string>{ 241.65939,0.69870 }</string>
	
								<string>{ 200.17468,-54.32314 }</string>
	
								<string>{ 178.34061,-35.54585 }</string>

							</array>

							<array>
	
								<string>{ 241.65939,0.69870 }</string>
	
								<string>{ 211.09171,-73.10043 }</string>
	
								<string>{ 200.17468,-54.32314 }</string>

							</array>

							<array>
	
								<string>{ 240.78604,-161.31004 }</string>
	
								<string>{ 212.83844,-89.25764 }</string>
	
								<string>{ 211.09171,-73.10043 }</string>
	
								<string>{ 241.65939,0.69870 }</string>

							</array>

							<array>
	
								<string>{ -174.93449,-78.77729 }</string>
	
								<string>{ -239.56332,-160.43668 }</string>
	
								<string>{ -215.98253,41.31004 }</string>
	
								<string>{ -207.24891,22.96944 }</string>
	
								<string>{ -171.87773,-63.49345 }</string>

							</array>

							<array>
	
								<string>{ 12.83842,91.96507 }</string>
	
								<string>{ -85.85153,110.74237 }</string>
	
								<string>{ -123.40611,128.64630 }</string>
	
								<string>{ -55.72052,116.85590 }</string>
	
								<string>{ 18.77728,96.15720 }</string>

							</array>

							<array>
	
								<string>{ -148.73362,111.61572 }</string>
	
								<string>{ -240.00000,141.57205 }</string>
	
								<string>{ -123.40611,128.64630 }</string>
	
								<string>{ -85.85153,110.74237 }</string>

							</array>

							<array>
	
								<string>{ -184.10480,105.06552 }</string>
	
								<string>{ -240.00000,141.57205 }</string>
	
								<string>{ -148.73362,111.61572 }</string>

							</array>

							<array>
	
								<string>{ -211.17904,84.97816 }</string>
	
								<string>{ -240.00000,141.57205 }</string>
	
								<string>{ -184.10480,105.06552 }</string>

							</array>

							<array>
	
								<string>{ -215.54585,57.46725 }</string>
	
								<string>{ -240.00000,141.57205 }</string>
	
								<string>{ -211.17904,84.97816 }</string>

							</array>

							<array>
	
								<string>{ -215.54585,57.46725 }</string>
	
								<string>{ -215.98253,41.31004 }</string>
	
								<string>{ -239.56332,-160.43668 }</string>
	
								<string>{ -240.00000,141.57205 }</string>

							</array>

							<array>
	
								<string>{ 125.06552,-120.26201 }</string>
	
								<string>{ -14.23581,-123.75546 }</string>
	
								<string>{ 97.99127,-107.59825 }</string>

							</array>

							<array>
	
								<string>{ 147.77292,-130.30568 }</string>
	
								<string>{ -40.87335,-132.48908 }</string>
	
								<string>{ -14.23581,-123.75546 }</string>
	
								<string>{ 125.06552,-120.26201 }</string>

							</array>

							<array>
	
								<string>{ 240.78604,-161.31004 }</string>
	
								<string>{ 206.28821,-110.21834 }</string>
	
								<string>{ 212.83844,-89.25764 }</string>

							</array>

							<array>
	
								<string>{ 240.78604,-161.31004 }</string>
	
								<string>{ 188.82095,-122.44542 }</string>
	
								<string>{ 206.28821,-110.21834 }</string>

							</array>

							<array>
	
								<string>{ 240.78604,-161.31004 }</string>
	
								<string>{ 169.60699,-129.86900 }</string>
	
								<string>{ 188.82095,-122.44542 }</string>

							</array>

							<array>
	
								<string>{ 240.78604,-161.31004 }</string>
	
								<string>{ 147.77292,-130.30568 }</string>
	
								<string>{ 169.60699,-129.86900 }</string>

							</array>

							<array>
	
								<string>{ 240.78604,-161.31004 }</string>
	
								<string>{ -71.87773,-141.65939 }</string>
	
								<string>{ -40.87335,-132.48908 }</string>
	
								<string>{ 147.77292,-130.30568 }</string>

							</array>

							<array>
	
								<string>{ -239.56332,-160.43668 }</string>
	
								<string>{ -101.13538,-140.78603 }</string>
	
								<string>{ 240.78604,-161.31004 }</string>

							</array>

							<array>
	
								<string>{ -239.56332,-160.43668 }</string>
	
								<string>{ -121.22270,-135.98253 }</string>
	
								<string>{ -101.13538,-140.78603 }</string>

							</array>

							<array>
	
								<string>{ -239.56332,-160.43668 }</string>
	
								<string>{ -144.80349,-126.81223 }</string>
	
								<string>{ -121.22270,-135.98253 }</string>

							</array>

							<array>
	
								<string>{ -239.56332,-160.43668 }</string>
	
								<string>{ -160.08733,-114.14847 }</string>
	
								<string>{ -144.80349,-126.81223 }</string>

							</array>

							<array>
	
								<string>{ -239.56332,-160.43668 }</string>
	
								<string>{ -171.00436,-95.37118 }</string>
	
								<string>{ -160.08733,-114.14847 }</string>

							</array>

							<array>
	
								<string>{ -239.56332,-160.43668 }</string>
	
								<string>{ -174.93449,-78.77729 }</string>
	
								<string>{ -171.00436,-95.37118 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 240.34937,105.06552 }</string>
	
								<string>{ 135.54587,160.34933 }</string>
	
								<string>{ 239.73801,160.34933 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

