<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B28</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -41.31004,-43.84280 }</string>
	
								<string>{ -20.78603,-48.64629 }</string>
	
								<string>{ -21.65938,-72.22707 }</string>
	
								<string>{ -30.82970,-80.96070 }</string>
	
								<string>{ -51.35371,-66.98690 }</string>

							</array>

							<array>
	
								<string>{ -41.31004,-43.84280 }</string>
	
								<string>{ -39.12663,-17.20523 }</string>
	
								<string>{ -16.41920,-25.93886 }</string>
	
								<string>{ -20.78603,-48.64629 }</string>

							</array>

							<array>
	
								<string>{ -39.12663,-17.20523 }</string>
	
								<string>{ -53.53711,6.81223 }</string>
	
								<string>{ -5.93886,23.40611 }</string>
	
								<string>{ 5.85153,-13.27510 }</string>
	
								<string>{ -16.41920,-25.93886 }</string>

							</array>

							<array>
	
								<string>{ 146.02621,-46.89956 }</string>
	
								<string>{ 139.47598,-78.77729 }</string>
	
								<string>{ 122.00873,-66.98690 }</string>
	
								<string>{ 115.02185,-60.00000 }</string>

							</array>

							<array>
	
								<string>{ 170.91702,-30.74236 }</string>
	
								<string>{ 147.33624,-101.04803 }</string>
	
								<string>{ 139.47598,-78.77729 }</string>
	
								<string>{ 146.02621,-46.89956 }</string>

							</array>

							<array>
	
								<string>{ 37.72925,-120.26201 }</string>
	
								<string>{ -67.07423,-118.95197 }</string>
	
								<string>{ 5.41486,-101.48471 }</string>

							</array>

							<array>
	
								<string>{ 5.85153,-13.27510 }</string>
	
								<string>{ -5.93886,23.40611 }</string>
	
								<string>{ 43.66812,-3.84279 }</string>
	
								<string>{ 38.60263,-10.21834 }</string>

							</array>

							<array>
	
								<string>{ -53.53711,6.81223 }</string>
	
								<string>{ -82.35808,19.03931 }</string>
	
								<string>{ -88.90829,42.18341 }</string>
	
								<string>{ -5.93886,23.40611 }</string>

							</array>

							<array>
	
								<string>{ -115.98253,23.84280 }</string>
	
								<string>{ -88.90829,42.18341 }</string>
	
								<string>{ -82.35808,19.03931 }</string>

							</array>

							<array>
	
								<string>{ -159.21397,17.29257 }</string>
	
								<string>{ -240.00000,55.54585 }</string>
	
								<string>{ -88.90829,42.18341 }</string>
	
								<string>{ -115.98253,23.84280 }</string>

							</array>

							<array>
	
								<string>{ -181.48471,8.55896 }</string>
	
								<string>{ -240.00000,55.54585 }</string>
	
								<string>{ -159.21397,17.29257 }</string>

							</array>

							<array>
	
								<string>{ -196.76856,-5.41484 }</string>
	
								<string>{ -240.00000,55.54585 }</string>
	
								<string>{ -181.48471,8.55896 }</string>

							</array>

							<array>
	
								<string>{ -208.12227,-27.68559 }</string>
	
								<string>{ -240.00000,55.54585 }</string>
	
								<string>{ -196.76856,-5.41484 }</string>

							</array>

							<array>
	
								<string>{ -208.12227,-27.68559 }</string>
	
								<string>{ -209.86900,-54.75983 }</string>
	
								<string>{ -239.56332,-160.43668 }</string>
	
								<string>{ -240.00000,55.54585 }</string>

							</array>

							<array>
	
								<string>{ 190.13101,-15.02184 }</string>
	
								<string>{ 146.02621,-116.76856 }</string>
	
								<string>{ 147.33624,-101.04803 }</string>
	
								<string>{ 170.91702,-30.74236 }</string>

							</array>

							<array>
	
								<string>{ 105.41486,160.08734 }</string>
	
								<string>{ 129.43231,129.51965 }</string>
	
								<string>{ 42.09607,131.70306 }</string>
	
								<string>{ 41.22272,140.00000 }</string>

							</array>

							<array>
	
								<string>{ 105.41486,160.08734 }</string>
	
								<string>{ 239.91266,159.65067 }</string>
	
								<string>{ 157.81659,126.89957 }</string>
	
								<string>{ 129.43231,129.51965 }</string>

							</array>

							<array>
	
								<string>{ 239.91266,159.65067 }</string>
	
								<string>{ 184.01749,121.22272 }</string>
	
								<string>{ 157.81659,126.89957 }</string>

							</array>

							<array>
	
								<string>{ 239.91266,159.65067 }</string>
	
								<string>{ 202.35809,106.81223 }</string>
	
								<string>{ 184.01749,121.22272 }</string>

							</array>

							<array>
	
								<string>{ 239.91266,159.65067 }</string>
	
								<string>{ 214.14847,89.34499 }</string>
	
								<string>{ 202.35809,106.81223 }</string>

							</array>

							<array>
	
								<string>{ 239.91266,159.65067 }</string>
	
								<string>{ 222.88211,66.63756 }</string>
	
								<string>{ 214.14847,89.34499 }</string>

							</array>

							<array>
	
								<string>{ 72.66376,-135.54585 }</string>
	
								<string>{ -239.56332,-160.43668 }</string>
	
								<string>{ -67.07423,-118.95197 }</string>
	
								<string>{ 37.72925,-120.26201 }</string>

							</array>

							<array>
	
								<string>{ 239.91266,-159.56332 }</string>
	
								<string>{ 217.64194,30.82970 }</string>
	
								<string>{ 222.88211,66.63756 }</string>
	
								<string>{ 239.91266,159.65067 }</string>

							</array>

							<array>
	
								<string>{ 204.10480,1.57205 }</string>
	
								<string>{ 239.91266,-159.56332 }</string>
	
								<string>{ 146.02621,-116.76856 }</string>
	
								<string>{ 190.13101,-15.02184 }</string>

							</array>

							<array>
	
								<string>{ -205.06550,-82.27074 }</string>
	
								<string>{ -239.56332,-160.43668 }</string>
	
								<string>{ -209.86900,-54.75983 }</string>

							</array>

							<array>
	
								<string>{ -195.89520,-98.42795 }</string>
	
								<string>{ -239.56332,-160.43668 }</string>
	
								<string>{ -205.06550,-82.27074 }</string>

							</array>

							<array>
	
								<string>{ -177.11790,-119.82533 }</string>
	
								<string>{ -239.56332,-160.43668 }</string>
	
								<string>{ -195.89520,-98.42795 }</string>

							</array>

							<array>
	
								<string>{ -147.42358,-129.43231 }</string>
	
								<string>{ -239.56332,-160.43668 }</string>
	
								<string>{ -177.11790,-119.82533 }</string>

							</array>

							<array>
	
								<string>{ -108.12227,-128.12227 }</string>
	
								<string>{ -239.56332,-160.43668 }</string>
	
								<string>{ -147.42358,-129.43231 }</string>

							</array>

							<array>
	
								<string>{ 72.66376,-135.54585 }</string>
	
								<string>{ 119.82535,-138.16594 }</string>
	
								<string>{ 239.91266,-159.56332 }</string>
	
								<string>{ -239.56332,-160.43668 }</string>

							</array>

							<array>
	
								<string>{ 239.91266,-159.56332 }</string>
	
								<string>{ 204.10480,1.57205 }</string>
	
								<string>{ 217.64194,30.82970 }</string>

							</array>

							<array>
	
								<string>{ 239.91266,-159.56332 }</string>
	
								<string>{ 135.10916,-132.92576 }</string>
	
								<string>{ 146.02621,-116.76856 }</string>

							</array>

							<array>
	
								<string>{ 239.91266,-159.56332 }</string>
	
								<string>{ 119.82535,-138.16594 }</string>
	
								<string>{ 135.10916,-132.92576 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

