<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B10</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 20.69870,-2.35808 }</string>
	
								<string>{ 19.82532,9.86900 }</string>
	
								<string>{ 104.10480,23.84280 }</string>
	
								<string>{ 74.84717,1.13538 }</string>

							</array>

							<array>
	
								<string>{ 4.10481,91.96507 }</string>
	
								<string>{ 85.76419,96.33188 }</string>
	
								<string>{ 36.85590,80.61136 }</string>
	
								<string>{ 7.16158,83.66812 }</string>

							</array>

							<array>
	
								<string>{ 85.76419,96.33188 }</string>
	
								<string>{ 56.50656,74.49782 }</string>
	
								<string>{ 36.85590,80.61136 }</string>

							</array>

							<array>
	
								<string>{ 85.76419,96.33188 }</string>
	
								<string>{ 75.72052,65.76419 }</string>
	
								<string>{ 56.50656,74.49782 }</string>

							</array>

							<array>
	
								<string>{ 85.76419,96.33188 }</string>
	
								<string>{ 101.04803,77.55460 }</string>
	
								<string>{ 95.37119,59.65067 }</string>
	
								<string>{ 84.01749,49.60699 }</string>
	
								<string>{ 75.72052,65.76419 }</string>

							</array>

							<array>
	
								<string>{ -171.87773,1.57205 }</string>
	
								<string>{ -240.87336,14.06114 }</string>
	
								<string>{ -133.88646,13.36244 }</string>
	
								<string>{ -132.57642,5.50218 }</string>

							</array>

							<array>
	
								<string>{ 240.17468,101.83408 }</string>
	
								<string>{ 225.06552,74.93451 }</string>
	
								<string>{ 213.27512,89.34499 }</string>
	
								<string>{ 209.78168,94.58516 }</string>

							</array>

							<array>
	
								<string>{ 240.17468,101.83408 }</string>
	
								<string>{ 227.68561,54.84717 }</string>
	
								<string>{ 225.06552,74.93451 }</string>

							</array>

							<array>
	
								<string>{ -202.00873,-5.85153 }</string>
	
								<string>{ -240.87336,14.06114 }</string>
	
								<string>{ -171.87773,1.57205 }</string>

							</array>

							<array>
	
								<string>{ -220.78603,-22.88210 }</string>
	
								<string>{ -240.87336,14.06114 }</string>
	
								<string>{ -202.00873,-5.85153 }</string>

							</array>

							<array>
	
								<string>{ -230.39301,-48.64629 }</string>
	
								<string>{ -240.87336,14.06114 }</string>
	
								<string>{ -220.78603,-22.88210 }</string>

							</array>

							<array>
	
								<string>{ 114.58514,84.97816 }</string>
	
								<string>{ 85.76419,96.33188 }</string>
	
								<string>{ 156.06989,96.33188 }</string>
	
								<string>{ 153.44980,88.90829 }</string>

							</array>

							<array>
	
								<string>{ 101.04803,77.55460 }</string>
	
								<string>{ 85.76419,96.33188 }</string>
	
								<string>{ 114.58514,84.97816 }</string>

							</array>

							<array>
	
								<string>{ 103.66812,45.67686 }</string>
	
								<string>{ 79.65067,33.88646 }</string>
	
								<string>{ 84.01749,49.60699 }</string>
	
								<string>{ 95.37119,59.65067 }</string>

							</array>

							<array>
	
								<string>{ 127.24890,35.19650 }</string>
	
								<string>{ 104.10480,23.84280 }</string>
	
								<string>{ 64.80350,17.72926 }</string>
	
								<string>{ 79.65067,33.88646 }</string>
	
								<string>{ 103.66812,45.67686 }</string>

							</array>

							<array>
	
								<string>{ -230.39301,-48.64629 }</string>
	
								<string>{ -240.43668,-109.34498 }</string>
	
								<string>{ -240.87336,14.06114 }</string>

							</array>

							<array>
	
								<string>{ -219.47598,-68.29694 }</string>
	
								<string>{ -240.43668,-109.34498 }</string>
	
								<string>{ -230.39301,-48.64629 }</string>

							</array>

							<array>
	
								<string>{ -204.62882,-78.77729 }</string>
	
								<string>{ -240.43668,-109.34498 }</string>
	
								<string>{ -219.47598,-68.29694 }</string>

							</array>

							<array>
	
								<string>{ -180.61135,-85.32751 }</string>
	
								<string>{ -240.43668,-109.34498 }</string>
	
								<string>{ -204.62882,-78.77729 }</string>

							</array>

							<array>
	
								<string>{ -29.95633,8.55896 }</string>
	
								<string>{ 19.82532,9.86900 }</string>
	
								<string>{ 20.69870,-2.35808 }</string>
	
								<string>{ -30.82970,3.31879 }</string>

							</array>

							<array>
	
								<string>{ 127.24890,35.19650 }</string>
	
								<string>{ 178.77731,33.01311 }</string>
	
								<string>{ 141.65939,19.47598 }</string>
	
								<string>{ 104.10480,23.84280 }</string>

							</array>

							<array>
	
								<string>{ 178.77731,33.01311 }</string>
	
								<string>{ 163.49347,12.92577 }</string>
	
								<string>{ 141.65939,19.47598 }</string>

							</array>

							<array>
	
								<string>{ 178.77731,33.01311 }</string>
	
								<string>{ 216.76855,36.50655 }</string>
	
								<string>{ 188.38428,-11.09171 }</string>
	
								<string>{ 163.49347,12.92577 }</string>

							</array>

							<array>
	
								<string>{ 216.76855,36.50655 }</string>
	
								<string>{ 208.90829,-40.34934 }</string>
	
								<string>{ 188.38428,-11.09171 }</string>

							</array>

							<array>
	
								<string>{ 216.76855,36.50655 }</string>
	
								<string>{ 227.68561,54.84717 }</string>
	
								<string>{ 240.78604,-110.65502 }</string>
	
								<string>{ 208.90829,-40.34934 }</string>

							</array>

							<array>
	
								<string>{ 240.78604,-110.65502 }</string>
	
								<string>{ 227.68561,54.84717 }</string>
	
								<string>{ 240.17468,101.83408 }</string>

							</array>

							<array>
	
								<string>{ 240.78604,-110.65502 }</string>
	
								<string>{ 207.16159,-77.46725 }</string>
	
								<string>{ 216.76855,-58.25327 }</string>

							</array>

							<array>
	
								<string>{ 240.78604,-110.65502 }</string>
	
								<string>{ 177.03058,-84.45415 }</string>
	
								<string>{ 207.16159,-77.46725 }</string>

							</array>

							<array>
	
								<string>{ 240.78604,-110.65502 }</string>
	
								<string>{ -240.43668,-109.34498 }</string>
	
								<string>{ -180.61135,-85.32751 }</string>
	
								<string>{ 177.03058,-84.45415 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 228.12228,148.73364 }</string>
	
								<string>{ 241.92142,161.22272 }</string>
	
								<string>{ 241.22272,103.31879 }</string>

							</array>

							<array>
	
								<string>{ 228.12228,148.73364 }</string>
	
								<string>{ -31.70305,162.09607 }</string>
	
								<string>{ 241.92142,161.22272 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

