<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B42</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 139.10657,-26.81223 }</string>
	
								<string>{ 136.48648,-39.47598 }</string>
	
								<string>{ 90.63495,-65.24017 }</string>
	
								<string>{ 105.91879,-30.74236 }</string>

							</array>

							<array>
	
								<string>{ -254.38217,-49.49045 }</string>
	
								<string>{ -199.75807,-88.38428 }</string>
	
								<string>{ -180.98078,-110.65502 }</string>
	
								<string>{ -284.11821,-160.23642 }</string>
	
								<string>{ -283.36306,-65.09554 }</string>

							</array>

							<array>
	
								<string>{ 197.62186,29.51965 }</string>
	
								<string>{ 211.15897,-49.51965 }</string>
	
								<string>{ 195.43845,-36.41921 }</string>

							</array>

							<array>
	
								<string>{ 136.79523,160.20557 }</string>
	
								<string>{ 58.32053,129.51965 }</string>
	
								<string>{ -6.30829,133.01309 }</string>

							</array>

							<array>
	
								<string>{ 136.79523,160.20557 }</string>
	
								<string>{ 102.86203,123.40613 }</string>
	
								<string>{ 58.32053,129.51965 }</string>

							</array>

							<array>
	
								<string>{ 136.79523,160.20557 }</string>
	
								<string>{ 124.25940,119.03931 }</string>
	
								<string>{ 102.86203,123.40613 }</string>

							</array>

							<array>
	
								<string>{ 136.79523,160.20557 }</string>
	
								<string>{ 284.78979,160.06369 }</string>
	
								<string>{ 143.91006,112.05240 }</string>
	
								<string>{ 124.25940,119.03931 }</string>

							</array>

							<array>
	
								<string>{ -108.05501,57.03058 }</string>
	
								<string>{ -242.39846,57.09232 }</string>
	
								<string>{ -51.46114,71.26637 }</string>
	
								<string>{ -53.03319,62.27075 }</string>

							</array>

							<array>
	
								<string>{ 95.87512,-72.66376 }</string>
	
								<string>{ 90.63495,-65.24017 }</string>
	
								<string>{ 114.21573,-52.13974 }</string>

							</array>

							<array>
	
								<string>{ 90.63495,-94.93449 }</string>
	
								<string>{ 69.23755,-102.35808 }</string>
	
								<string>{ 90.63495,-65.24017 }</string>
	
								<string>{ 95.87512,-72.66376 }</string>

							</array>

							<array>
	
								<string>{ 114.21573,-124.62882 }</string>
	
								<string>{ 51.77032,-117.64192 }</string>
	
								<string>{ 69.23755,-102.35808 }</string>
	
								<string>{ 90.63495,-94.93449 }</string>

							</array>

							<array>
	
								<string>{ 114.21573,-124.62882 }</string>
	
								<string>{ 149.15024,-139.47598 }</string>
	
								<string>{ 21.20264,-132.48908 }</string>
	
								<string>{ 51.77032,-117.64192 }</string>

							</array>

							<array>
	
								<string>{ 284.78979,160.06369 }</string>
	
								<string>{ 163.99741,103.75546 }</string>
	
								<string>{ 143.91006,112.05240 }</string>

							</array>

							<array>
	
								<string>{ 284.78979,160.06369 }</string>
	
								<string>{ 180.59128,91.09171 }</string>
	
								<string>{ 163.99741,103.75546 }</string>

							</array>

							<array>
	
								<string>{ 284.78979,160.06369 }</string>
	
								<string>{ 191.07162,77.99127 }</string>
	
								<string>{ 180.59128,91.09171 }</string>

							</array>

							<array>
	
								<string>{ 285.48517,-160.00000 }</string>
	
								<string>{ 196.31180,53.97380 }</string>
	
								<string>{ 191.07162,77.99127 }</string>
	
								<string>{ 284.78979,160.06369 }</string>

							</array>

							<array>
	
								<string>{ -144.73624,45.67686 }</string>
	
								<string>{ -242.39846,57.09232 }</string>
	
								<string>{ -108.05501,57.03058 }</string>

							</array>

							<array>
	
								<string>{ -144.73624,45.67686 }</string>
	
								<string>{ -178.36069,30.39302 }</string>
	
								<string>{ -236.86625,12.61147 }</string>
	
								<string>{ -242.39846,57.09232 }</string>

							</array>

							<array>
	
								<string>{ 197.62186,29.51965 }</string>
	
								<string>{ 196.31180,53.97380 }</string>
	
								<string>{ 285.48517,-160.00000 }</string>
	
								<string>{ 222.07599,-75.72052 }</string>
	
								<string>{ 211.15897,-49.51965 }</string>

							</array>

							<array>
	
								<string>{ -201.94148,4.19214 }</string>
	
								<string>{ -236.86625,12.61147 }</string>
	
								<string>{ -178.36069,30.39302 }</string>

							</array>

							<array>
	
								<string>{ -211.11179,-26.37555 }</string>
	
								<string>{ -254.38217,-49.49045 }</string>
	
								<string>{ -236.86625,12.61147 }</string>
	
								<string>{ -201.94148,4.19214 }</string>

							</array>

							<array>
	
								<string>{ -209.80174,-56.50655 }</string>
	
								<string>{ -254.38217,-49.49045 }</string>
	
								<string>{ -211.11179,-26.37555 }</string>

							</array>

							<array>
	
								<string>{ -199.75807,-88.38428 }</string>
	
								<string>{ -254.38217,-49.49045 }</string>
	
								<string>{ -209.80174,-56.50655 }</string>

							</array>

							<array>
	
								<string>{ -155.65327,-128.12227 }</string>
	
								<string>{ -284.11821,-160.23642 }</string>
	
								<string>{ -180.98078,-110.65502 }</string>

							</array>

							<array>
	
								<string>{ -105.87161,-135.98253 }</string>
	
								<string>{ -284.11821,-160.23642 }</string>
	
								<string>{ -155.65327,-128.12227 }</string>

							</array>

							<array>
	
								<string>{ -105.87161,-135.98253 }</string>
	
								<string>{ -35.56593,-137.29258 }</string>
	
								<string>{ 285.48517,-160.00000 }</string>
	
								<string>{ -284.11821,-160.23642 }</string>

							</array>

							<array>
	
								<string>{ 149.15024,-139.47598 }</string>
	
								<string>{ 285.48517,-160.00000 }</string>
	
								<string>{ -35.56593,-137.29258 }</string>
	
								<string>{ 21.20264,-132.48908 }</string>

							</array>

							<array>
	
								<string>{ 285.48517,-160.00000 }</string>
	
								<string>{ 219.01923,-101.92140 }</string>
	
								<string>{ 222.07599,-75.72052 }</string>

							</array>

							<array>
	
								<string>{ 285.48517,-160.00000 }</string>
	
								<string>{ 205.48212,-126.37555 }</string>
	
								<string>{ 219.01923,-101.92140 }</string>

							</array>

							<array>
	
								<string>{ 285.48517,-160.00000 }</string>
	
								<string>{ 183.21136,-138.60262 }</string>
	
								<string>{ 205.48212,-126.37555 }</string>

							</array>

							<array>
	
								<string>{ 285.48517,-160.00000 }</string>
	
								<string>{ 149.15024,-139.47598 }</string>
	
								<string>{ 183.21136,-138.60262 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -157.87283,-37.70367 }</string>
	
								<string>{ -120.75493,-47.13598 }</string>
	
								<string>{ -157.43615,-54.12288 }</string>

							</array>

							<array>
	
								<string>{ -67.91650,-44.51589 }</string>
	
								<string>{ -157.87283,-37.70367 }</string>
	
								<string>{ 23.17520,-32.90018 }</string>
	
								<string>{ 23.78656,-47.13598 }</string>

							</array>

							<array>
	
								<string>{ -157.87283,-37.70367 }</string>
	
								<string>{ -67.91650,-44.51589 }</string>
	
								<string>{ -120.75493,-47.13598 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

