<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B33</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 183.47269,25.20901 }</string>
	
								<string>{ 239.74277,20.38586 }</string>
	
								<string>{ 188.29584,5.91640 }</string>
	
								<string>{ 178.00644,12.99036 }</string>

							</array>

							<array>
	
								<string>{ 146.81674,-96.33440 }</string>
	
								<string>{ 97.94214,-118.52090 }</string>
	
								<string>{ 119.16400,-85.72347 }</string>

							</array>

							<array>
	
								<string>{ -158.97106,34.21222 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -240.00000,43.98714 }</string>

							</array>

							<array>
	
								<string>{ -2.70096,-11.12540 }</string>
	
								<string>{ -77.62057,6.55949 }</string>
	
								<string>{ -97.23473,23.27975 }</string>
	
								<string>{ -6.88103,1.09325 }</string>
	
								<string>{ -0.12862,-7.90996 }</string>

							</array>

							<array>
	
								<string>{ 0.19293,-80.90032 }</string>
	
								<string>{ -12.34726,-79.61414 }</string>
	
								<string>{ 10.48233,-60.64308 }</string>
	
								<string>{ 14.34085,-64.50160 }</string>

							</array>

							<array>
	
								<string>{ -7.84566,-95.04823 }</string>
	
								<string>{ -32.60449,-95.36977 }</string>
	
								<string>{ -12.34726,-79.61414 }</string>
	
								<string>{ 0.19293,-80.90032 }</string>

							</array>

							<array>
	
								<string>{ -12.66881,-106.94534 }</string>
	
								<string>{ -52.54019,-107.90997 }</string>
	
								<string>{ -32.60449,-95.36977 }</string>
	
								<string>{ -7.84566,-95.04823 }</string>

							</array>

							<array>
	
								<string>{ -14.91960,-116.27010 }</string>
	
								<string>{ -68.29581,-116.59164 }</string>
	
								<string>{ -52.54019,-107.90997 }</string>
	
								<string>{ -12.66881,-106.94534 }</string>

							</array>

							<array>
	
								<string>{ 239.74277,20.38586 }</string>
	
								<string>{ 196.65598,-1.15755 }</string>
	
								<string>{ 188.29584,5.91640 }</string>

							</array>

							<array>
	
								<string>{ 239.74277,20.38586 }</string>
	
								<string>{ 201.80066,-9.83922 }</string>
	
								<string>{ 196.65598,-1.15755 }</string>

							</array>

							<array>
	
								<string>{ 239.74277,20.38586 }</string>
	
								<string>{ 206.94534,-24.95177 }</string>
	
								<string>{ 201.80066,-9.83922 }</string>

							</array>

							<array>
	
								<string>{ 240.83603,-160.19293 }</string>
	
								<string>{ 208.55307,-40.06431 }</string>
	
								<string>{ 206.94534,-24.95177 }</string>
	
								<string>{ 239.74277,20.38586 }</string>

							</array>

							<array>
	
								<string>{ -13.31189,-125.91640 }</string>
	
								<string>{ -68.29581,-116.59164 }</string>
	
								<string>{ -14.91960,-116.27010 }</string>

							</array>

							<array>
	
								<string>{ -111.38263,10.73956 }</string>
	
								<string>{ -97.23473,23.27975 }</string>
	
								<string>{ -77.62057,6.55949 }</string>

							</array>

							<array>
	
								<string>{ -134.53376,11.70419 }</string>
	
								<string>{ -158.97106,34.21222 }</string>
	
								<string>{ -97.23473,23.27975 }</string>
	
								<string>{ -111.38263,10.73956 }</string>

							</array>

							<array>
	
								<string>{ -145.14469,10.73956 }</string>
	
								<string>{ -158.97106,34.21222 }</string>
	
								<string>{ -134.53376,11.70419 }</string>

							</array>

							<array>
	
								<string>{ -155.11253,8.81029 }</string>
	
								<string>{ -158.97106,34.21222 }</string>
	
								<string>{ -145.14469,10.73956 }</string>

							</array>

							<array>
	
								<string>{ -162.82958,5.59486 }</string>
	
								<string>{ -158.97106,34.21222 }</string>
	
								<string>{ -155.11253,8.81029 }</string>

							</array>

							<array>
	
								<string>{ -169.90353,0.77171 }</string>
	
								<string>{ -158.97106,34.21222 }</string>
	
								<string>{ -162.82958,5.59486 }</string>

							</array>

							<array>
	
								<string>{ -9.45337,-134.91961 }</string>
	
								<string>{ -87.26688,-122.05788 }</string>
	
								<string>{ -68.29581,-116.59164 }</string>
	
								<string>{ -13.31189,-125.91640 }</string>

							</array>

							<array>
	
								<string>{ 159.03537,-98.90675 }</string>
	
								<string>{ 87.65274,-131.38264 }</string>
	
								<string>{ 97.94214,-118.52090 }</string>
	
								<string>{ 146.81674,-96.33440 }</string>

							</array>

							<array>
	
								<string>{ -174.40514,-5.01607 }</string>
	
								<string>{ -158.97106,34.21222 }</string>
	
								<string>{ -169.90353,0.77171 }</string>

							</array>

							<array>
	
								<string>{ -0.12862,-141.67203 }</string>
	
								<string>{ -101.09325,-124.63022 }</string>
	
								<string>{ -87.26688,-122.05788 }</string>
	
								<string>{ -9.45337,-134.91961 }</string>

							</array>

							<array>
	
								<string>{ 171.57556,-98.26366 }</string>
	
								<string>{ 77.36334,-139.09968 }</string>
	
								<string>{ 87.65274,-131.38264 }</string>
	
								<string>{ 159.03537,-98.90675 }</string>

							</array>

							<array>
	
								<string>{ 182.82959,-96.65594 }</string>
	
								<string>{ 240.83603,-160.19293 }</string>
	
								<string>{ 77.36334,-139.09968 }</string>
	
								<string>{ 171.57556,-98.26366 }</string>

							</array>

							<array>
	
								<string>{ -0.12862,-141.67203 }</string>
	
								<string>{ 11.76849,-145.53055 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -115.24115,-124.30868 }</string>
	
								<string>{ -101.09325,-124.63022 }</string>

							</array>

							<array>
	
								<string>{ 240.83603,-160.19293 }</string>
	
								<string>{ 208.55307,-53.24758 }</string>
	
								<string>{ 208.55307,-40.06431 }</string>

							</array>

							<array>
	
								<string>{ 240.83603,-160.19293 }</string>
	
								<string>{ 207.90997,-64.50160 }</string>
	
								<string>{ 208.55307,-53.24758 }</string>

							</array>

							<array>
	
								<string>{ 240.83603,-160.19293 }</string>
	
								<string>{ 205.01608,-76.39871 }</string>
	
								<string>{ 207.90997,-64.50160 }</string>

							</array>

							<array>
	
								<string>{ 240.83603,-160.19293 }</string>
	
								<string>{ 199.87140,-85.72347 }</string>
	
								<string>{ 205.01608,-76.39871 }</string>

							</array>

							<array>
	
								<string>{ 240.83603,-160.19293 }</string>
	
								<string>{ 192.79745,-92.15434 }</string>
	
								<string>{ 199.87140,-85.72347 }</string>

							</array>

							<array>
	
								<string>{ 240.83603,-160.19293 }</string>
	
								<string>{ 182.82959,-96.65594 }</string>
	
								<string>{ 192.79745,-92.15434 }</string>

							</array>

							<array>
	
								<string>{ 240.83603,-160.19293 }</string>
	
								<string>{ 64.50162,-144.24437 }</string>
	
								<string>{ 77.36334,-139.09968 }</string>

							</array>

							<array>
	
								<string>{ 240.83603,-160.19293 }</string>
	
								<string>{ 38.45660,-146.49518 }</string>
	
								<string>{ 64.50162,-144.24437 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ 11.76849,-145.53055 }</string>
	
								<string>{ 240.83603,-160.19293 }</string>

							</array>

							<array>
	
								<string>{ -178.26366,-12.73311 }</string>
	
								<string>{ -158.97106,34.21222 }</string>
	
								<string>{ -174.40514,-5.01607 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -128.10289,-122.37942 }</string>
	
								<string>{ -115.24115,-124.30868 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -139.67845,-116.91318 }</string>
	
								<string>{ -128.10289,-122.37942 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -156.07717,-101.15755 }</string>
	
								<string>{ -139.67845,-116.91318 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -166.04501,-84.43729 }</string>
	
								<string>{ -156.07717,-101.15755 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -175.36977,-60.32154 }</string>
	
								<string>{ -166.04501,-84.43729 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -178.90675,-43.27974 }</string>
	
								<string>{ -175.36977,-60.32154 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -180.51447,-26.55948 }</string>
	
								<string>{ -178.90675,-43.27974 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -178.26366,-12.73311 }</string>
	
								<string>{ -180.51447,-26.55948 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 154.53378,80.83601 }</string>
	
								<string>{ 127.52414,122.31512 }</string>
	
								<string>{ 177.49197,109.90353 }</string>

							</array>

							<array>
	
								<string>{ 150.35370,30.35370 }</string>
	
								<string>{ 129.77493,31.63988 }</string>
	
								<string>{ 142.95822,45.46625 }</string>
	
								<string>{ 152.60452,39.35692 }</string>

							</array>

							<array>
	
								<string>{ 142.95822,45.46625 }</string>
	
								<string>{ 126.55951,95.30548 }</string>
	
								<string>{ 124.63025,102.70096 }</string>
	
								<string>{ 127.52414,122.31512 }</string>
	
								<string>{ 154.53378,80.83601 }</string>

							</array>

							<array>
	
								<string>{ 114.01932,30.03217 }</string>
	
								<string>{ 110.80386,55.43410 }</string>
	
								<string>{ 119.16400,67.33119 }</string>
	
								<string>{ 142.95822,45.46625 }</string>
	
								<string>{ 129.77493,31.63988 }</string>

							</array>

							<array>
	
								<string>{ 62.89389,4.95177 }</string>
	
								<string>{ 97.94214,40.32155 }</string>
	
								<string>{ 86.68811,18.13506 }</string>
	
								<string>{ 70.61093,2.37943 }</string>

							</array>

							<array>
	
								<string>{ 97.94214,40.32155 }</string>
	
								<string>{ 94.72668,23.60129 }</string>
	
								<string>{ 86.68811,18.13506 }</string>

							</array>

							<array>
	
								<string>{ 97.94214,40.32155 }</string>
	
								<string>{ 103.40839,27.78136 }</string>
	
								<string>{ 94.72668,23.60129 }</string>

							</array>

							<array>
	
								<string>{ 97.94214,40.32155 }</string>
	
								<string>{ 110.80386,55.43410 }</string>
	
								<string>{ 114.01932,30.03217 }</string>
	
								<string>{ 103.40839,27.78136 }</string>

							</array>

							<array>
	
								<string>{ 124.95178,81.15756 }</string>
	
								<string>{ 142.95822,45.46625 }</string>
	
								<string>{ 119.16400,67.33119 }</string>

							</array>

							<array>
	
								<string>{ 62.57236,135.62701 }</string>
	
								<string>{ 127.52414,122.31512 }</string>
	
								<string>{ 91.18973,121.67203 }</string>
	
								<string>{ 63.53699,127.78137 }</string>

							</array>

							<array>
	
								<string>{ 127.52414,122.31512 }</string>
	
								<string>{ 108.87460,115.88425 }</string>
	
								<string>{ 91.18973,121.67203 }</string>

							</array>

							<array>
	
								<string>{ 127.52414,122.31512 }</string>
	
								<string>{ 118.84247,110.09647 }</string>
	
								<string>{ 108.87460,115.88425 }</string>

							</array>

							<array>
	
								<string>{ 127.52414,122.31512 }</string>
	
								<string>{ 124.63025,102.70096 }</string>
	
								<string>{ 118.84247,110.09647 }</string>

							</array>

							<array>
	
								<string>{ 126.55951,95.30548 }</string>
	
								<string>{ 142.95822,45.46625 }</string>
	
								<string>{ 124.95178,81.15756 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

