<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B41</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 60.72195,-64.24559 }</string>
	
								<string>{ -42.33482,-72.97921 }</string>
	
								<string>{ -6.96365,-32.36786 }</string>

							</array>

							<array>
	
								<string>{ -7.83701,119.59720 }</string>
	
								<string>{ 42.81802,125.71075 }</string>
	
								<string>{ 2.20667,96.01642 }</string>

							</array>

							<array>
	
								<string>{ -157.61867,33.13432 }</string>
	
								<string>{ -243.11176,42.93031 }</string>
	
								<string>{ -126.78897,50.86359 }</string>
	
								<string>{ -126.61430,39.24786 }</string>

							</array>

							<array>
	
								<string>{ -246.77603,-27.19243 }</string>
	
								<string>{ -284.87336,-160.24796 }</string>
	
								<string>{ -282.42271,-45.48896 }</string>

							</array>

							<array>
	
								<string>{ -27.48767,134.00769 }</string>
	
								<string>{ -12.20383,160.20856 }</string>
	
								<string>{ 75.13242,141.86795 }</string>
	
								<string>{ 42.81802,125.71075 }</string>
	
								<string>{ -7.83701,119.59720 }</string>

							</array>

							<array>
	
								<string>{ -195.17326,9.99022 }</string>
	
								<string>{ -243.11176,42.93031 }</string>
	
								<string>{ -157.61867,33.13432 }</string>

							</array>

							<array>
	
								<string>{ -215.69727,-12.28052 }</string>
	
								<string>{ -242.67508,34.63722 }</string>
	
								<string>{ -243.11176,42.93031 }</string>
	
								<string>{ -195.17326,9.99022 }</string>

							</array>

							<array>
	
								<string>{ -63.73221,147.98148 }</string>
	
								<string>{ -12.20383,160.20856 }</string>
	
								<string>{ -27.48767,134.00769 }</string>
	
								<string>{ -61.11212,140.55792 }</string>

							</array>

							<array>
	
								<string>{ 60.72195,-64.24559 }</string>
	
								<string>{ 95.21976,-76.90934 }</string>
	
								<string>{ -84.69290,-101.36349 }</string>
	
								<string>{ -42.33482,-72.97921 }</string>

							</array>

							<array>
	
								<string>{ -12.20383,160.20856 }</string>
	
								<string>{ 92.59967,145.36139 }</string>
	
								<string>{ 75.13242,141.86795 }</string>

							</array>

							<array>
	
								<string>{ 285.07001,160.03912 }</string>
	
								<string>{ 114.43375,143.61469 }</string>
	
								<string>{ 92.59967,145.36139 }</string>
	
								<string>{ -12.20383,160.20856 }</string>

							</array>

							<array>
	
								<string>{ -227.53312,7.50789 }</string>
	
								<string>{ -229.23439,-37.60803 }</string>
	
								<string>{ -284.87336,-160.24796 }</string>
	
								<string>{ -246.77603,-27.19243 }</string>

							</array>

							<array>
	
								<string>{ -229.23439,-37.60803 }</string>
	
								<string>{ -227.53312,7.50789 }</string>
	
								<string>{ -215.69727,-12.28052 }</string>

							</array>

							<array>
	
								<string>{ -224.43090,-70.79581 }</string>
	
								<string>{ -284.87336,-160.24796 }</string>
	
								<string>{ -229.23439,-37.60803 }</string>

							</array>

							<array>
	
								<string>{ -213.07719,-89.57310 }</string>
	
								<string>{ -284.87336,-160.24796 }</string>
	
								<string>{ -224.43090,-70.79581 }</string>

							</array>

							<array>
	
								<string>{ -194.29989,-108.35039 }</string>
	
								<string>{ -284.87336,-160.24796 }</string>
	
								<string>{ -213.07719,-89.57310 }</string>

							</array>

							<array>
	
								<string>{ -160.67544,-117.52070 }</string>
	
								<string>{ -284.87336,-160.24796 }</string>
	
								<string>{ -194.29989,-108.35039 }</string>

							</array>

							<array>
	
								<string>{ -160.67544,-117.52070 }</string>
	
								<string>{ -120.06409,-113.15388 }</string>
	
								<string>{ 285.33588,-160.66122 }</string>
	
								<string>{ -284.87336,-160.24796 }</string>

							</array>

							<array>
	
								<string>{ 132.77435,-81.27615 }</string>
	
								<string>{ 285.33588,-160.66122 }</string>
	
								<string>{ -120.06409,-113.15388 }</string>
	
								<string>{ -84.69290,-101.36349 }</string>
	
								<string>{ 95.21976,-76.90934 }</string>

							</array>

							<array>
	
								<string>{ 162.46866,-74.28925 }</string>
	
								<string>{ 285.33588,-160.66122 }</string>
	
								<string>{ 132.77435,-81.27615 }</string>

							</array>

							<array>
	
								<string>{ 175.56912,-65.11895 }</string>
	
								<string>{ 285.33588,-160.66122 }</string>
	
								<string>{ 162.46866,-74.28925 }</string>

							</array>

							<array>
	
								<string>{ 183.86606,-51.14515 }</string>
	
								<string>{ 285.33588,-160.66122 }</string>
	
								<string>{ 175.56912,-65.11895 }</string>

							</array>

							<array>
	
								<string>{ 183.86606,-51.14515 }</string>
	
								<string>{ 188.66956,-31.05782 }</string>
	
								<string>{ 285.07001,160.03912 }</string>
	
								<string>{ 285.33588,-160.66122 }</string>

							</array>

							<array>
	
								<string>{ 189.10623,-4.42026 }</string>
	
								<string>{ 285.07001,160.03912 }</string>
	
								<string>{ 188.66956,-31.05782 }</string>

							</array>

							<array>
	
								<string>{ 183.42938,26.58411 }</string>
	
								<string>{ 285.07001,160.03912 }</string>
	
								<string>{ 189.10623,-4.42026 }</string>

							</array>

							<array>
	
								<string>{ 174.25906,61.08192 }</string>
	
								<string>{ 285.07001,160.03912 }</string>
	
								<string>{ 183.42938,26.58411 }</string>

							</array>

							<array>
	
								<string>{ 162.90536,91.64961 }</string>
	
								<string>{ 285.07001,160.03912 }</string>
	
								<string>{ 174.25906,61.08192 }</string>

							</array>

							<array>
	
								<string>{ 145.87479,118.28717 }</string>
	
								<string>{ 285.07001,160.03912 }</string>
	
								<string>{ 162.90536,91.64961 }</string>

							</array>

							<array>
	
								<string>{ 131.02762,134.00769 }</string>
	
								<string>{ 285.07001,160.03912 }</string>
	
								<string>{ 145.87479,118.28717 }</string>

							</array>

							<array>
	
								<string>{ 114.43375,143.61469 }</string>
	
								<string>{ 285.07001,160.03912 }</string>
	
								<string>{ 131.02762,134.00769 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

