<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B38</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -67.94760,-9.78166 }</string>
	
								<string>{ -89.78166,10.74236 }</string>
	
								<string>{ -27.33624,-6.28821 }</string>
	
								<string>{ -36.94322,-26.37555 }</string>

							</array>

							<array>
	
								<string>{ -33.44978,-86.63755 }</string>
	
								<string>{ -9.43231,-105.41484 }</string>
	
								<string>{ -59.65065,-110.65502 }</string>
	
								<string>{ -48.73363,-85.32751 }</string>

							</array>

							<array>
	
								<string>{ -89.78166,10.74236 }</string>
	
								<string>{ -115.54585,20.34935 }</string>
	
								<string>{ -133.44978,43.93013 }</string>
	
								<string>{ -68.82095,39.56332 }</string>
	
								<string>{ -6.37555,10.30568 }</string>
	
								<string>{ -27.33624,-6.28821 }</string>

							</array>

							<array>
	
								<string>{ 77.03058,107.24890 }</string>
	
								<string>{ 156.94324,88.47162 }</string>
	
								<string>{ 113.27512,88.03494 }</string>
	
								<string>{ 76.59390,96.76855 }</string>

							</array>

							<array>
	
								<string>{ -9.43231,-105.41484 }</string>
	
								<string>{ 15.02184,-118.51528 }</string>
	
								<string>{ -76.24454,-129.86900 }</string>
	
								<string>{ -59.65065,-110.65502 }</string>

							</array>

							<array>
	
								<string>{ 156.94324,88.47162 }</string>
	
								<string>{ 139.47598,78.42795 }</string>
	
								<string>{ 113.27512,88.03494 }</string>

							</array>

							<array>
	
								<string>{ 156.94324,88.47162 }</string>
	
								<string>{ 202.35809,84.10481 }</string>
	
								<string>{ 167.42358,64.45415 }</string>
	
								<string>{ 139.47598,78.42795 }</string>

							</array>

							<array>
	
								<string>{ 202.35809,84.10481 }</string>
	
								<string>{ 180.96069,52.66376 }</string>
	
								<string>{ 167.42358,64.45415 }</string>

							</array>

							<array>
	
								<string>{ 202.35809,84.10481 }</string>
	
								<string>{ 239.47598,95.02184 }</string>
	
								<string>{ 191.00436,40.17244 }</string>
	
								<string>{ 180.96069,52.66376 }</string>

							</array>

							<array>
	
								<string>{ 239.47598,95.02184 }</string>
	
								<string>{ 202.56409,17.43590 }</string>
	
								<string>{ 191.00436,40.17244 }</string>

							</array>

							<array>
	
								<string>{ 240.78604,-160.43668 }</string>
	
								<string>{ 205.16629,-2.16548 }</string>
	
								<string>{ 202.56409,17.43590 }</string>
	
								<string>{ 239.47598,95.02184 }</string>

							</array>

							<array>
	
								<string>{ -6.37555,10.30568 }</string>
	
								<string>{ -68.82095,39.56332 }</string>
	
								<string>{ 29.69434,26.72490 }</string>
	
								<string>{ 23.75546,18.16594 }</string>

							</array>

							<array>
	
								<string>{ -150.91703,17.72926 }</string>
	
								<string>{ -133.44978,43.93013 }</string>
	
								<string>{ -115.54585,20.34935 }</string>

							</array>

							<array>
	
								<string>{ -177.55458,8.55896 }</string>
	
								<string>{ -240.43668,45.50218 }</string>
	
								<string>{ -133.44978,43.93013 }</string>
	
								<string>{ -150.91703,17.72926 }</string>

							</array>

							<array>
	
								<string>{ -202.44542,-11.09171 }</string>
	
								<string>{ -240.43668,45.50218 }</string>
	
								<string>{ -177.55458,8.55896 }</string>

							</array>

							<array>
	
								<string>{ -212.92576,-32.05240 }</string>
	
								<string>{ -240.43668,45.50218 }</string>
	
								<string>{ -202.44542,-11.09171 }</string>

							</array>

							<array>
	
								<string>{ -212.92576,-32.05240 }</string>
	
								<string>{ -215.10917,-54.32314 }</string>
	
								<string>{ -239.56332,-160.00000 }</string>
	
								<string>{ -240.43668,45.50218 }</string>

							</array>

							<array>
	
								<string>{ 49.95633,-128.12227 }</string>
	
								<string>{ -98.95197,-139.91266 }</string>
	
								<string>{ -76.24454,-129.86900 }</string>
	
								<string>{ 15.02184,-118.51528 }</string>

							</array>

							<array>
	
								<string>{ 94.49783,-128.99563 }</string>
	
								<string>{ 240.78604,-160.43668 }</string>
	
								<string>{ -239.56332,-160.00000 }</string>
	
								<string>{ -98.95197,-139.91266 }</string>
	
								<string>{ 49.95633,-128.12227 }</string>

							</array>

							<array>
	
								<string>{ -211.17904,-85.32751 }</string>
	
								<string>{ -239.56332,-160.00000 }</string>
	
								<string>{ -215.10917,-54.32314 }</string>

							</array>

							<array>
	
								<string>{ -196.33188,-113.71179 }</string>
	
								<string>{ -239.56332,-160.00000 }</string>
	
								<string>{ -211.17904,-85.32751 }</string>

							</array>

							<array>
	
								<string>{ -178.42795,-134.23581 }</string>
	
								<string>{ -239.56332,-160.00000 }</string>
	
								<string>{ -196.33188,-113.71179 }</string>

							</array>

							<array>
	
								<string>{ -153.97380,-139.03930 }</string>
	
								<string>{ -239.56332,-160.00000 }</string>
	
								<string>{ -178.42795,-134.23581 }</string>

							</array>

							<array>
	
								<string>{ -98.95197,-139.91266 }</string>
	
								<string>{ -239.56332,-160.00000 }</string>
	
								<string>{ -153.97380,-139.03930 }</string>

							</array>

							<array>
	
								<string>{ 115.89520,-123.31878 }</string>
	
								<string>{ 240.78604,-160.43668 }</string>
	
								<string>{ 94.49783,-128.99563 }</string>

							</array>

							<array>
	
								<string>{ 141.65939,-108.90829 }</string>
	
								<string>{ 240.78604,-160.43668 }</string>
	
								<string>{ 115.89520,-123.31878 }</string>

							</array>

							<array>
	
								<string>{ 163.49347,-90.56769 }</string>
	
								<string>{ 240.78604,-160.43668 }</string>
	
								<string>{ 141.65939,-108.90829 }</string>

							</array>

							<array>
	
								<string>{ 174.35898,-78.97436 }</string>
	
								<string>{ 240.78604,-160.43668 }</string>
	
								<string>{ 163.49347,-90.56769 }</string>

							</array>

							<array>
	
								<string>{ 185.93665,-61.28989 }</string>
	
								<string>{ 240.78604,-160.43668 }</string>
	
								<string>{ 174.35898,-78.97436 }</string>

							</array>

							<array>
	
								<string>{ 196.24454,-38.16594 }</string>
	
								<string>{ 240.78604,-160.43668 }</string>
	
								<string>{ 185.93665,-61.28989 }</string>

							</array>

							<array>
	
								<string>{ 201.53845,-20.00000 }</string>
	
								<string>{ 240.78604,-160.43668 }</string>
	
								<string>{ 196.24454,-38.16594 }</string>

							</array>

							<array>
	
								<string>{ 205.16629,-2.16548 }</string>
	
								<string>{ 240.78604,-160.43668 }</string>
	
								<string>{ 201.53845,-20.00000 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 226.37555,145.67685 }</string>
	
								<string>{ 241.04803,160.34933 }</string>
	
								<string>{ 240.34937,122.09607 }</string>

							</array>

							<array>
	
								<string>{ -17.29257,155.72052 }</string>
	
								<string>{ -32.57642,159.91266 }</string>
	
								<string>{ 241.04803,160.34933 }</string>
	
								<string>{ 226.37555,145.67685 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

