<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B9</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -133.49591,24.43803 }</string>
	
								<string>{ -158.85614,17.52161 }</string>
	
								<string>{ -189.40369,29.91354 }</string>
	
								<string>{ -143.64000,35.90778 }</string>
	
								<string>{ -130.32588,31.06628 }</string>

							</array>

							<array>
	
								<string>{ -179.89360,8.01152 }</string>
	
								<string>{ -189.40369,29.91354 }</string>
	
								<string>{ -158.85614,17.52161 }</string>

							</array>

							<array>
	
								<string>{ -201.50743,-6.97406 }</string>
	
								<string>{ -189.40369,29.91354 }</string>
	
								<string>{ -179.89360,8.01152 }</string>

							</array>

							<array>
	
								<string>{ -189.40369,29.91354 }</string>
	
								<string>{ -201.50743,-6.97406 }</string>
	
								<string>{ -284.91910,-160.94637 }</string>
	
								<string>{ -284.60364,9.42572 }</string>

							</array>

							<array>
	
								<string>{ 285.65063,122.36621 }</string>
	
								<string>{ 229.32831,99.07782 }</string>
	
								<string>{ 222.98825,126.16714 }</string>

							</array>

							<array>
	
								<string>{ 136.82111,-7.83862 }</string>
	
								<string>{ 151.51849,-11.87320 }</string>
	
								<string>{ 138.83838,-21.67148 }</string>
	
								<string>{ 133.93924,-17.92508 }</string>

							</array>

							<array>
	
								<string>{ 138.83838,8.29971 }</string>
	
								<string>{ 160.16403,-0.92220 }</string>
	
								<string>{ 151.51849,-11.87320 }</string>
	
								<string>{ 136.82111,-7.83862 }</string>

							</array>

							<array>
	
								<string>{ 139.41476,19.82709 }</string>
	
								<string>{ 171.97958,-0.05763 }</string>
	
								<string>{ 160.16403,-0.92220 }</string>
	
								<string>{ 138.83838,8.29971 }</string>

							</array>

							<array>
	
								<string>{ -23.12128,122.42075 }</string>
	
								<string>{ -13.32300,113.19885 }</string>
	
								<string>{ -38.97141,114.35159 }</string>
	
								<string>{ -38.68323,120.11526 }</string>

							</array>

							<array>
	
								<string>{ 102.52716,-82.19020 }</string>
	
								<string>{ 111.17267,-125.70605 }</string>
	
								<string>{ 80.33694,-98.61671 }</string>
	
								<string>{ 95.03436,-79.88473 }</string>

							</array>

							<array>
	
								<string>{ 111.17267,-125.70605 }</string>
	
								<string>{ 68.80957,-109.85591 }</string>
	
								<string>{ 80.33694,-98.61671 }</string>

							</array>

							<array>
	
								<string>{ 6.84991,12.62248 }</string>
	
								<string>{ 48.63666,38.55908 }</string>
	
								<string>{ -8.13568,-20.23055 }</string>
	
								<string>{ -16.49301,-15.33142 }</string>

							</array>

							<array>
	
								<string>{ 111.17267,-125.70605 }</string>
	
								<string>{ 123.27643,-134.06340 }</string>
	
								<string>{ 54.11215,-120.23055 }</string>
	
								<string>{ 68.80957,-109.85591 }</string>

							</array>

							<array>
	
								<string>{ 19.24185,34.23631 }</string>
	
								<string>{ 48.63666,38.55908 }</string>
	
								<string>{ 6.84991,12.62248 }</string>

							</array>

							<array>
	
								<string>{ 25.00552,48.35735 }</string>
	
								<string>{ 48.63666,38.55908 }</string>
	
								<string>{ 19.24185,34.23631 }</string>

							</array>

							<array>
	
								<string>{ 28.75192,60.74928 }</string>
	
								<string>{ 70.82684,50.37463 }</string>
	
								<string>{ 48.63666,38.55908 }</string>
	
								<string>{ 25.00552,48.35735 }</string>

							</array>

							<array>
	
								<string>{ 29.61649,72.56483 }</string>
	
								<string>{ 96.76346,57.00288 }</string>
	
								<string>{ 70.82684,50.37463 }</string>
	
								<string>{ 28.75192,60.74928 }</string>

							</array>

							<array>
	
								<string>{ 285.65063,122.36621 }</string>
	
								<string>{ 284.27972,-159.94545 }</string>
	
								<string>{ 231.92194,82.93948 }</string>
	
								<string>{ 229.32831,99.07782 }</string>

							</array>

							<array>
	
								<string>{ 139.70294,108.01154 }</string>
	
								<string>{ 138.55020,67.37752 }</string>
	
								<string>{ -23.12128,122.42075 }</string>
	
								<string>{ 129.90466,118.96252 }</string>
	
								<string>{ 135.66837,115.21613 }</string>

							</array>

							<array>
	
								<string>{ -23.12128,122.42075 }</string>
	
								<string>{ 5.40900,108.29971 }</string>
	
								<string>{ -13.32300,113.19885 }</string>

							</array>

							<array>
	
								<string>{ 137.10928,30.77809 }</string>
	
								<string>{ 171.97958,-0.05763 }</string>
	
								<string>{ 139.41476,19.82709 }</string>

							</array>

							<array>
	
								<string>{ -60.87343,-71.23920 }</string>
	
								<string>{ -51.07516,-82.19020 }</string>
	
								<string>{ -86.23366,-82.47839 }</string>
	
								<string>{ -65.19620,-68.93372 }</string>

							</array>

							<array>
	
								<string>{ -38.68323,-94.87032 }</string>
	
								<string>{ -105.83020,-91.41210 }</string>
	
								<string>{ -86.23366,-82.47839 }</string>
	
								<string>{ -51.07516,-82.19020 }</string>

							</array>

							<array>
	
								<string>{ -25.71494,-106.97406 }</string>
	
								<string>{ -105.83020,-91.41210 }</string>
	
								<string>{ -38.68323,-94.87032 }</string>

							</array>

							<array>
	
								<string>{ 28.46375,82.65129 }</string>
	
								<string>{ 96.76346,57.00288 }</string>
	
								<string>{ 29.61649,72.56483 }</string>

							</array>

							<array>
	
								<string>{ 142.00842,44.32277 }</string>
	
								<string>{ -23.12128,122.42075 }</string>
	
								<string>{ 138.55020,67.37752 }</string>

							</array>

							<array>
	
								<string>{ 133.07471,42.59366 }</string>
	
								<string>{ 152.67123,27.31989 }</string>
	
								<string>{ 171.97958,-0.05763 }</string>
	
								<string>{ 137.10928,30.77809 }</string>

							</array>

							<array>
	
								<string>{ 23.56461,93.31412 }</string>
	
								<string>{ 114.63089,57.00288 }</string>
	
								<string>{ 96.76346,57.00288 }</string>
	
								<string>{ 28.46375,82.65129 }</string>

							</array>

							<array>
	
								<string>{ 123.27643,-134.06340 }</string>
	
								<string>{ 37.39746,-125.12968 }</string>
	
								<string>{ 54.11215,-120.23055 }</string>

							</array>

							<array>
	
								<string>{ -10.44116,-117.92507 }</string>
	
								<string>{ -124.27400,-95.44669 }</string>
	
								<string>{ -105.83020,-91.41210 }</string>
	
								<string>{ -25.71494,-106.97406 }</string>

							</array>

							<array>
	
								<string>{ -10.44116,-117.92507 }</string>
	
								<string>{ 5.98535,-123.11239 }</string>
	
								<string>{ -284.91910,-160.94637 }</string>
	
								<string>{ -154.53337,-97.75216 }</string>
	
								<string>{ -124.27400,-95.44669 }</string>

							</array>

							<array>
	
								<string>{ 15.78363,101.95966 }</string>
	
								<string>{ 114.63089,57.00288 }</string>
	
								<string>{ 23.56461,93.31412 }</string>

							</array>

							<array>
	
								<string>{ -215.62847,-57.40634 }</string>
	
								<string>{ -284.91910,-160.94637 }</string>
	
								<string>{ -214.76392,-32.33430 }</string>

							</array>

							<array>
	
								<string>{ -210.72933,-71.81556 }</string>
	
								<string>{ -284.91910,-160.94637 }</string>
	
								<string>{ -215.62847,-57.40634 }</string>

							</array>

							<array>
	
								<string>{ -198.04922,-87.08934 }</string>
	
								<string>{ -284.91910,-160.94637 }</string>
	
								<string>{ -210.72933,-71.81556 }</string>

							</array>

							<array>
	
								<string>{ -180.46997,-94.58213 }</string>
	
								<string>{ -284.91910,-160.94637 }</string>
	
								<string>{ -198.04922,-87.08934 }</string>

							</array>

							<array>
	
								<string>{ -154.53337,-97.75216 }</string>
	
								<string>{ -284.91910,-160.94637 }</string>
	
								<string>{ -180.46997,-94.58213 }</string>

							</array>

							<array>
	
								<string>{ 123.27643,-134.06340 }</string>
	
								<string>{ 284.27972,-159.94545 }</string>
	
								<string>{ -284.91910,-160.94637 }</string>
	
								<string>{ 22.12369,-125.99424 }</string>
	
								<string>{ 37.39746,-125.12968 }</string>

							</array>

							<array>
	
								<string>{ 284.27972,-159.94545 }</string>
	
								<string>{ 230.48102,67.66571 }</string>
	
								<string>{ 231.92194,82.93948 }</string>

							</array>

							<array>
	
								<string>{ 284.27972,-159.94545 }</string>
	
								<string>{ 227.31100,53.25648 }</string>
	
								<string>{ 230.48102,67.66571 }</string>

							</array>

							<array>
	
								<string>{ 284.27972,-159.94545 }</string>
	
								<string>{ 219.81821,36.54178 }</string>
	
								<string>{ 227.31100,53.25648 }</string>

							</array>

							<array>
	
								<string>{ 284.27972,-159.94545 }</string>
	
								<string>{ 203.39169,24.43803 }</string>
	
								<string>{ 219.81821,36.54178 }</string>

							</array>

							<array>
	
								<string>{ 284.27972,-159.94545 }</string>
	
								<string>{ 187.25336,-42.13257 }</string>
	
								<string>{ 181.48969,-23.40057 }</string>
	
								<string>{ 170.53867,22.99712 }</string>
	
								<string>{ 203.39169,24.43803 }</string>

							</array>

							<array>
	
								<string>{ 22.12369,-125.99424 }</string>
	
								<string>{ -284.91910,-160.94637 }</string>
	
								<string>{ 5.98535,-123.11239 }</string>

							</array>

							<array>
	
								<string>{ 160.45221,-132.91066 }</string>
	
								<string>{ 284.27972,-159.94545 }</string>
	
								<string>{ 123.27643,-134.06340 }</string>

							</array>

							<array>
	
								<string>{ 180.62512,-114.46686 }</string>
	
								<string>{ 284.27972,-159.94545 }</string>
	
								<string>{ 160.45221,-132.91066 }</string>

							</array>

							<array>
	
								<string>{ 190.71158,-96.02306 }</string>
	
								<string>{ 284.27972,-159.94545 }</string>
	
								<string>{ 180.62512,-114.46686 }</string>

							</array>

							<array>
	
								<string>{ 192.44070,-67.20461 }</string>
	
								<string>{ 284.27972,-159.94545 }</string>
	
								<string>{ 190.71158,-96.02306 }</string>

							</array>

							<array>
	
								<string>{ 187.25336,-42.13257 }</string>
	
								<string>{ 284.27972,-159.94545 }</string>
	
								<string>{ 192.44070,-67.20461 }</string>

							</array>

							<array>
	
								<string>{ 177.16690,-11.29683 }</string>
	
								<string>{ 170.53867,22.99712 }</string>
	
								<string>{ 181.48969,-23.40057 }</string>

							</array>

							<array>
	
								<string>{ 171.97958,-0.05763 }</string>
	
								<string>{ 170.53867,22.99712 }</string>
	
								<string>{ 177.16690,-11.29683 }</string>

							</array>

							<array>
	
								<string>{ 171.97958,-0.05763 }</string>
	
								<string>{ 152.67123,27.31989 }</string>
	
								<string>{ 170.53867,22.99712 }</string>

							</array>

							<array>
	
								<string>{ 133.07471,42.59366 }</string>
	
								<string>{ 124.71735,51.23920 }</string>
	
								<string>{ 142.00842,44.32277 }</string>
	
								<string>{ 152.67123,27.31989 }</string>

							</array>

							<array>
	
								<string>{ 114.63089,57.00288 }</string>
	
								<string>{ 142.00842,44.32277 }</string>
	
								<string>{ 124.71735,51.23920 }</string>

							</array>

							<array>
	
								<string>{ 5.40900,108.29971 }</string>
	
								<string>{ 114.63089,57.00288 }</string>
	
								<string>{ 15.78363,101.95966 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 186.65610,131.15991 }</string>
	
								<string>{ 180.90787,143.81274 }</string>
	
								<string>{ 284.33118,160.08801 }</string>
	
								<string>{ 284.73151,123.20349 }</string>

							</array>

							<array>
	
								<string>{ 169.02594,148.35736 }</string>
	
								<string>{ 284.33118,160.08801 }</string>
	
								<string>{ 180.90787,143.81274 }</string>

							</array>

							<array>
	
								<string>{ 169.02594,148.35736 }</string>
	
								<string>{ -21.65308,153.65375 }</string>
	
								<string>{ -58.65796,160.03345 }</string>
	
								<string>{ 284.33118,160.08801 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

