<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B33</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -127.33624,1.13538 }</string>
	
								<string>{ -86.28821,-63.93013 }</string>
	
								<string>{ -77.99126,-98.86463 }</string>
	
								<string>{ -240.00000,-160.87336 }</string>
	
								<string>{ -240.00000,0.08734 }</string>

							</array>

							<array>
	
								<string>{ 171.35373,50.48035 }</string>
	
								<string>{ 201.04803,57.90393 }</string>
	
								<string>{ 182.27075,34.75983 }</string>
	
								<string>{ 171.35373,41.74673 }</string>

							</array>

							<array>
	
								<string>{ 201.04803,57.90393 }</string>
	
								<string>{ 232.48911,60.08734 }</string>
	
								<string>{ 204.54150,26.02620 }</string>
	
								<string>{ 193.18777,13.79913 }</string>
	
								<string>{ 182.27075,34.75983 }</string>

							</array>

							<array>
	
								<string>{ 60.00000,-48.64629 }</string>
	
								<string>{ 23.31879,-45.58952 }</string>
	
								<string>{ 30.74237,49.60699 }</string>

							</array>

							<array>
	
								<string>{ 60.00000,-48.64629 }</string>
	
								<string>{ 79.21399,-91.00436 }</string>
	
								<string>{ 9.34499,-99.30131 }</string>
	
								<string>{ 23.31879,-45.58952 }</string>

							</array>

							<array>
	
								<string>{ -89.78166,-20.69868 }</string>
	
								<string>{ -102.88210,17.72926 }</string>
	
								<string>{ -88.20961,41.13538 }</string>

							</array>

							<array>
	
								<string>{ -89.78166,-20.69868 }</string>
	
								<string>{ -86.28821,-63.93013 }</string>
	
								<string>{ -127.33624,1.13538 }</string>
	
								<string>{ -102.88210,17.72926 }</string>

							</array>

							<array>
	
								<string>{ 101.92142,-120.26201 }</string>
	
								<string>{ -8.55894,-125.93887 }</string>
	
								<string>{ 9.34499,-99.30131 }</string>
	
								<string>{ 79.21399,-91.00436 }</string>

							</array>

							<array>
	
								<string>{ -60.08733,-126.37555 }</string>
	
								<string>{ -240.00000,-160.87336 }</string>
	
								<string>{ -77.99126,-98.86463 }</string>

							</array>

							<array>
	
								<string>{ 204.54150,26.02620 }</string>
	
								<string>{ 232.48911,60.08734 }</string>
	
								<string>{ 228.12228,50.48035 }</string>

							</array>

							<array>
	
								<string>{ 115.89520,-129.43231 }</string>
	
								<string>{ -29.95633,-131.17904 }</string>
	
								<string>{ -8.55894,-125.93887 }</string>
	
								<string>{ 101.92142,-120.26201 }</string>

							</array>

							<array>
	
								<string>{ -29.95633,-131.17904 }</string>
	
								<string>{ -240.00000,-160.87336 }</string>
	
								<string>{ -60.08733,-126.37555 }</string>

							</array>

							<array>
	
								<string>{ -29.95633,-131.17904 }</string>
	
								<string>{ 115.89520,-129.43231 }</string>
	
								<string>{ 132.48907,-129.86900 }</string>
	
								<string>{ 239.91266,-160.87336 }</string>
	
								<string>{ -240.00000,-160.87336 }</string>

							</array>

							<array>
	
								<string>{ 132.48907,-129.86900 }</string>
	
								<string>{ 160.43668,-119.38865 }</string>
	
								<string>{ 215.45853,-122.44542 }</string>
	
								<string>{ 239.91266,-160.87336 }</string>

							</array>

							<array>
	
								<string>{ 175.28384,-98.42795 }</string>
	
								<string>{ 215.45853,-122.44542 }</string>
	
								<string>{ 160.43668,-119.38865 }</string>

							</array>

							<array>
	
								<string>{ 187.51093,-71.79039 }</string>
	
								<string>{ 215.45853,-122.44542 }</string>
	
								<string>{ 175.28384,-98.42795 }</string>

							</array>

							<array>
	
								<string>{ 197.11792,-32.92576 }</string>
	
								<string>{ 215.45853,-122.44542 }</string>
	
								<string>{ 187.51093,-71.79039 }</string>

							</array>

							<array>
	
								<string>{ 197.11792,-32.92576 }</string>
	
								<string>{ 193.18777,13.79913 }</string>
	
								<string>{ 204.54150,26.02620 }</string>
	
								<string>{ 215.45853,-122.44542 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

