<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B53</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -284.59172,-160.20941 }</string>
	
								<string>{ -284.23822,52.63698 }</string>
	
								<string>{ -219.78345,-126.21456 }</string>
	
								<string>{ -225.10889,-159.35065 }</string>

							</array>

							<array>
	
								<string>{ -284.23822,52.63698 }</string>
	
								<string>{ -204.39883,-93.07846 }</string>
	
								<string>{ -219.78345,-126.21456 }</string>

							</array>

							<array>
	
								<string>{ -284.23822,52.63698 }</string>
	
								<string>{ -215.64143,-13.19681 }</string>
	
								<string>{ -206.46984,-24.14355 }</string>
	
								<string>{ -182.20948,-70.88911 }</string>
	
								<string>{ -204.39883,-93.07846 }</string>

							</array>

							<array>
	
								<string>{ -75.99648,-30.35657 }</string>
	
								<string>{ -134.28049,-47.51633 }</string>
	
								<string>{ -124.22131,-33.01929 }</string>
	
								<string>{ -75.99648,-25.03113 }</string>

							</array>

							<array>
	
								<string>{ -134.28049,-47.51633 }</string>
	
								<string>{ -162.09114,-57.57551 }</string>
	
								<string>{ -152.91954,-34.49858 }</string>
	
								<string>{ -124.22131,-33.01929 }</string>

							</array>

							<array>
	
								<string>{ -162.09114,-57.57551 }</string>
	
								<string>{ -182.20948,-70.88911 }</string>
	
								<string>{ -178.65919,-34.49858 }</string>
	
								<string>{ -152.91954,-34.49858 }</string>

							</array>

							<array>
	
								<string>{ -182.20948,-70.88911 }</string>
	
								<string>{ -194.04380,-29.46899 }</string>
	
								<string>{ -178.65919,-34.49858 }</string>

							</array>

							<array>
	
								<string>{ -182.20948,-70.88911 }</string>
	
								<string>{ -206.46984,-24.14355 }</string>
	
								<string>{ -194.04380,-29.46899 }</string>

							</array>

							<array>
	
								<string>{ -89.60594,54.85052 }</string>
	
								<string>{ -159.42842,50.41266 }</string>
	
								<string>{ -150.84854,65.50142 }</string>
	
								<string>{ -87.47575,61.41858 }</string>

							</array>

							<array>
	
								<string>{ -184.28049,42.42448 }</string>
	
								<string>{ -284.23822,52.63698 }</string>
	
								<string>{ -150.84854,65.50142 }</string>
	
								<string>{ -159.42842,50.41266 }</string>

							</array>

							<array>
	
								<string>{ -204.69469,29.99846 }</string>
	
								<string>{ -284.23822,52.63698 }</string>
	
								<string>{ -184.28049,42.42448 }</string>

							</array>

							<array>
	
								<string>{ -215.64143,15.79727 }</string>
	
								<string>{ -284.23822,52.63698 }</string>
	
								<string>{ -204.69469,29.99846 }</string>

							</array>

							<array>
	
								<string>{ -219.19173,1.30023 }</string>
	
								<string>{ -284.23822,52.63698 }</string>
	
								<string>{ -215.64143,15.79727 }</string>

							</array>

							<array>
	
								<string>{ -215.64143,-13.19681 }</string>
	
								<string>{ -284.23822,52.63698 }</string>
	
								<string>{ -219.19173,1.30023 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 123.76529,-71.83432 }</string>
	
								<string>{ 79.38660,-67.39645 }</string>
	
								<string>{ 92.10849,-51.71598 }</string>
	
								<string>{ 146.01382,-54.31953 }</string>
	
								<string>{ 165.77713,-71.53847 }</string>

							</array>

							<array>
	
								<string>{ 79.38660,-67.39645 }</string>
	
								<string>{ 39.74164,-54.37870 }</string>
	
								<string>{ 38.55820,-44.26036 }</string>
	
								<string>{ 92.10849,-51.71598 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 205.68915,-43.99486 }</string>
	
								<string>{ 192.67139,-69.43864 }</string>
	
								<string>{ 192.96725,-47.84101 }</string>

							</array>

							<array>
	
								<string>{ -120.05049,-146.65757 }</string>
	
								<string>{ -102.89073,-145.47414 }</string>
	
								<string>{ -79.51794,-145.47414 }</string>
	
								<string>{ -148.15700,-159.97118 }</string>
	
								<string>{ -138.09782,-150.79959 }</string>

							</array>

							<array>
	
								<string>{ 205.68915,-43.99486 }</string>
	
								<string>{ 217.22760,-32.16054 }</string>
	
								<string>{ 284.78503,-159.94237 }</string>
	
								<string>{ 192.07968,-87.78184 }</string>
	
								<string>{ 192.67139,-69.43864 }</string>

							</array>

							<array>
	
								<string>{ 35.27493,43.93414 }</string>
	
								<string>{ 131.72464,39.73296 }</string>
	
								<string>{ 100.65955,32.04065 }</string>
	
								<string>{ 48.88440,34.11165 }</string>

							</array>

							<array>
	
								<string>{ 131.72464,39.73296 }</string>
	
								<string>{ 283.68958,29.29301 }</string>
	
								<string>{ 158.64774,24.94005 }</string>
	
								<string>{ 100.65955,32.04065 }</string>

							</array>

							<array>
	
								<string>{ 283.68958,29.29301 }</string>
	
								<string>{ 182.90808,17.54361 }</string>
	
								<string>{ 158.64774,24.94005 }</string>

							</array>

							<array>
	
								<string>{ 283.68958,29.29301 }</string>
	
								<string>{ 203.02643,7.18857 }</string>
	
								<string>{ 182.90808,17.54361 }</string>

							</array>

							<array>
	
								<string>{ 283.68958,29.29301 }</string>
	
								<string>{ 215.74832,-3.16646 }</string>
	
								<string>{ 203.02643,7.18857 }</string>

							</array>

							<array>
	
								<string>{ 284.78503,-159.94237 }</string>
	
								<string>{ 215.74832,-3.16646 }</string>
	
								<string>{ 283.68958,29.29301 }</string>

							</array>

							<array>
	
								<string>{ 8.94357,-145.47414 }</string>
	
								<string>{ 284.78503,-159.94237 }</string>
	
								<string>{ -148.15700,-159.97118 }</string>
	
								<string>{ -79.51794,-145.47414 }</string>

							</array>

							<array>
	
								<string>{ 105.39328,-127.42680 }</string>
	
								<string>{ 284.78503,-159.94237 }</string>
	
								<string>{ 8.94357,-145.47414 }</string>
	
								<string>{ 65.15662,-131.86468 }</string>

							</array>

							<array>
	
								<string>{ 139.12109,-119.73450 }</string>
	
								<string>{ 284.78503,-159.94237 }</string>
	
								<string>{ 105.39328,-127.42680 }</string>

							</array>

							<array>
	
								<string>{ 169.29861,-108.49189 }</string>
	
								<string>{ 284.78503,-159.94237 }</string>
	
								<string>{ 139.12109,-119.73450 }</string>

							</array>

							<array>
	
								<string>{ 184.38736,-99.02444 }</string>
	
								<string>{ 284.78503,-159.94237 }</string>
	
								<string>{ 169.29861,-108.49189 }</string>

							</array>

							<array>
	
								<string>{ 192.07968,-87.78184 }</string>
	
								<string>{ 284.78503,-159.94237 }</string>
	
								<string>{ 184.38736,-99.02444 }</string>

							</array>

							<array>
	
								<string>{ 220.77789,-15.29663 }</string>
	
								<string>{ 284.78503,-159.94237 }</string>
	
								<string>{ 217.22760,-32.16054 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

