<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B46</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 60.87338,-74.84716 }</string>
	
								<string>{ 35.98254,-77.03056 }</string>
	
								<string>{ 37.29257,-65.24017 }</string>
	
								<string>{ 60.87338,-69.17030 }</string>

							</array>

							<array>
	
								<string>{ 22.00873,-82.70742 }</string>
	
								<string>{ 23.75546,-54.32314 }</string>
	
								<string>{ 37.29257,-65.24017 }</string>
	
								<string>{ 35.98254,-77.03056 }</string>

							</array>

							<array>
	
								<string>{ 9.78166,-91.87773 }</string>
	
								<string>{ 15.02184,-41.65939 }</string>
	
								<string>{ 23.75546,-54.32314 }</string>
	
								<string>{ 22.00873,-82.70742 }</string>

							</array>

							<array>
	
								<string>{ -167.51092,57.03058 }</string>
	
								<string>{ -191.52839,67.51093 }</string>
	
								<string>{ -140.61135,66.02620 }</string>
	
								<string>{ -143.93013,59.65067 }</string>

							</array>

							<array>
	
								<string>{ -185.85153,50.04367 }</string>
	
								<string>{ -191.52839,67.51093 }</string>
	
								<string>{ -167.51092,57.03058 }</string>

							</array>

							<array>
	
								<string>{ -206.81223,36.06987 }</string>
	
								<string>{ -240.00000,65.15285 }</string>
	
								<string>{ -191.52839,67.51093 }</string>
	
								<string>{ -185.85153,50.04367 }</string>

							</array>

							<array>
	
								<string>{ -217.72926,17.72926 }</string>
	
								<string>{ -240.00000,65.15285 }</string>
	
								<string>{ -206.81223,36.06987 }</string>

							</array>

							<array>
	
								<string>{ -222.96943,-2.35808 }</string>
	
								<string>{ -240.00000,65.15285 }</string>
	
								<string>{ -217.72926,17.72926 }</string>

							</array>

							<array>
	
								<string>{ 10.65503,-26.81223 }</string>
	
								<string>{ -128.20960,23.84280 }</string>
	
								<string>{ 7.59825,-6.72488 }</string>
	
								<string>{ 11.09171,-11.96506 }</string>

							</array>

							<array>
	
								<string>{ -38.25327,87.59825 }</string>
	
								<string>{ 37.29257,91.52838 }</string>
	
								<string>{ 17.64194,81.92140 }</string>
	
								<string>{ -36.94322,79.30132 }</string>

							</array>

							<array>
	
								<string>{ 37.29257,91.52838 }</string>
	
								<string>{ 70.48035,80.17468 }</string>
	
								<string>{ 17.64194,81.92140 }</string>

							</array>

							<array>
	
								<string>{ 163.05676,-67.42358 }</string>
	
								<string>{ 170.04367,-84.01746 }</string>
	
								<string>{ 137.29257,-74.41048 }</string>
	
								<string>{ 136.85590,-70.91703 }</string>

							</array>

							<array>
	
								<string>{ 182.70743,-60.00000 }</string>
	
								<string>{ 182.70743,-93.18777 }</string>
	
								<string>{ 170.04367,-84.01746 }</string>
	
								<string>{ 163.05676,-67.42358 }</string>

							</array>

							<array>
	
								<string>{ 199.73801,-47.33624 }</string>
	
								<string>{ 189.69434,-107.59825 }</string>
	
								<string>{ 182.70743,-93.18777 }</string>
	
								<string>{ 182.70743,-60.00000 }</string>

							</array>

							<array>
	
								<string>{ -128.20960,23.84280 }</string>
	
								<string>{ -77.99126,5.06551 }</string>
	
								<string>{ -128.20960,17.72926 }</string>

							</array>

							<array>
	
								<string>{ -222.96943,-2.35808 }</string>
	
								<string>{ -223.40611,-28.55894 }</string>
	
								<string>{ -240.00000,-160.87336 }</string>
	
								<string>{ -240.00000,65.15285 }</string>

							</array>

							<array>
	
								<string>{ 7.59825,-108.47161 }</string>
	
								<string>{ -12.05240,-74.41048 }</string>
	
								<string>{ -11.61572,-52.57642 }</string>
	
								<string>{ 10.65503,-26.81223 }</string>
	
								<string>{ 15.02184,-41.65939 }</string>

							</array>

							<array>
	
								<string>{ 209.78168,-27.24890 }</string>
	
								<string>{ 189.69434,-107.59825 }</string>
	
								<string>{ 199.73801,-47.33624 }</string>

							</array>

							<array>
	
								<string>{ 37.29257,91.52838 }</string>
	
								<string>{ 240.78604,95.45853 }</string>
	
								<string>{ 125.06552,73.18777 }</string>
	
								<string>{ 70.48035,80.17468 }</string>

							</array>

							<array>
	
								<string>{ 240.78604,95.45853 }</string>
	
								<string>{ 156.50656,63.58080 }</string>
	
								<string>{ 125.06552,73.18777 }</string>

							</array>

							<array>
	
								<string>{ 240.78604,95.45853 }</string>
	
								<string>{ 185.76419,49.60699 }</string>
	
								<string>{ 156.50656,63.58080 }</string>

							</array>

							<array>
	
								<string>{ 240.78604,95.45853 }</string>
	
								<string>{ 201.04803,32.57642 }</string>
	
								<string>{ 185.76419,49.60699 }</string>

							</array>

							<array>
	
								<string>{ 240.78604,95.45853 }</string>
	
								<string>{ 206.72488,18.16594 }</string>
	
								<string>{ 201.04803,32.57642 }</string>

							</array>

							<array>
	
								<string>{ 240.34937,-160.00000 }</string>
	
								<string>{ 209.34497,-1.04803 }</string>
	
								<string>{ 206.72488,18.16594 }</string>
	
								<string>{ 240.78604,95.45853 }</string>

							</array>

							<array>
	
								<string>{ -217.72926,-58.25327 }</string>
	
								<string>{ -240.00000,-160.87336 }</string>
	
								<string>{ -223.40611,-28.55894 }</string>

							</array>

							<array>
	
								<string>{ -204.62882,-86.20087 }</string>
	
								<string>{ -240.00000,-160.87336 }</string>
	
								<string>{ -217.72926,-58.25327 }</string>

							</array>

							<array>
	
								<string>{ -181.48471,-105.85153 }</string>
	
								<string>{ -240.00000,-160.87336 }</string>
	
								<string>{ -204.62882,-86.20087 }</string>

							</array>

							<array>
	
								<string>{ -146.55022,-117.64192 }</string>
	
								<string>{ -240.00000,-160.87336 }</string>
	
								<string>{ -181.48471,-105.85153 }</string>

							</array>

							<array>
	
								<string>{ -112.92576,-125.50218 }</string>
	
								<string>{ -240.00000,-160.87336 }</string>
	
								<string>{ -146.55022,-117.64192 }</string>

							</array>

							<array>
	
								<string>{ -112.92576,-125.50218 }</string>
	
								<string>{ 240.34937,-160.00000 }</string>
	
								<string>{ -240.00000,-160.87336 }</string>

							</array>

							<array>
	
								<string>{ 209.78168,-27.24890 }</string>
	
								<string>{ 240.34937,-160.00000 }</string>
	
								<string>{ 186.63757,-122.88210 }</string>
	
								<string>{ 189.69434,-107.59825 }</string>

							</array>

							<array>
	
								<string>{ 240.34937,-160.00000 }</string>
	
								<string>{ 209.78168,-27.24890 }</string>
	
								<string>{ 209.34497,-1.04803 }</string>

							</array>

							<array>
	
								<string>{ 240.34937,-160.00000 }</string>
	
								<string>{ 165.24017,-131.61572 }</string>
	
								<string>{ 186.63757,-122.88210 }</string>

							</array>

							<array>
	
								<string>{ 240.34937,-160.00000 }</string>
	
								<string>{ 131.17905,-139.03930 }</string>
	
								<string>{ 165.24017,-131.61572 }</string>

							</array>

							<array>
	
								<string>{ 240.34937,-160.00000 }</string>
	
								<string>{ 100.17468,-140.34934 }</string>
	
								<string>{ 131.17905,-139.03930 }</string>

							</array>

							<array>
	
								<string>{ 240.34937,-160.00000 }</string>
	
								<string>{ 54.75983,-139.47598 }</string>
	
								<string>{ 100.17468,-140.34934 }</string>

							</array>

							<array>
	
								<string>{ -73.62445,-124.19214 }</string>
	
								<string>{ 54.75983,-139.47598 }</string>
	
								<string>{ -112.92576,-125.50218 }</string>

							</array>

							<array>
	
								<string>{ -41.74672,-117.64192 }</string>
	
								<string>{ 28.99564,-132.92576 }</string>
	
								<string>{ 54.75983,-139.47598 }</string>
	
								<string>{ -73.62445,-124.19214 }</string>

							</array>

							<array>
	
								<string>{ -41.74672,-117.64192 }</string>
	
								<string>{ 12.83842,-122.00873 }</string>
	
								<string>{ 28.99564,-132.92576 }</string>

							</array>

							<array>
	
								<string>{ -19.91266,-98.86463 }</string>
	
								<string>{ 12.83842,-122.00873 }</string>
	
								<string>{ -41.74672,-117.64192 }</string>

							</array>

							<array>
	
								<string>{ -12.05240,-74.41048 }</string>
	
								<string>{ 7.59825,-108.47161 }</string>
	
								<string>{ 12.83842,-122.00873 }</string>
	
								<string>{ -19.91266,-98.86463 }</string>

							</array>

							<array>
	
								<string>{ -21.65938,-27.24890 }</string>
	
								<string>{ 10.65503,-26.81223 }</string>
	
								<string>{ -11.61572,-52.57642 }</string>

							</array>

							<array>
	
								<string>{ -39.56331,-9.78166 }</string>
	
								<string>{ 10.65503,-26.81223 }</string>
	
								<string>{ -21.65938,-27.24890 }</string>

							</array>

							<array>
	
								<string>{ -77.99126,5.06551 }</string>
	
								<string>{ 10.65503,-26.81223 }</string>
	
								<string>{ -39.56331,-9.78166 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 222.44543,150.91702 }</string>
	
								<string>{ 239.73801,159.91266 }</string>
	
								<string>{ 240.78604,127.33624 }</string>

							</array>

							<array>
	
								<string>{ -26.46288,156.59390 }</string>
	
								<string>{ -55.72052,160.34933 }</string>
	
								<string>{ 239.73801,159.91266 }</string>
	
								<string>{ 222.44543,150.91702 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

