<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B24</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 72.54019,160.25723 }</string>
	
								<string>{ 99.22830,142.25082 }</string>
	
								<string>{ 80.90033,144.82315 }</string>

							</array>

							<array>
	
								<string>{ -147.39549,36.46303 }</string>
	
								<string>{ -174.72668,43.53699 }</string>
	
								<string>{ -106.23793,58.64952 }</string>
	
								<string>{ -104.63022,50.61095 }</string>

							</array>

							<array>
	
								<string>{ -165.40192,28.10291 }</string>
	
								<string>{ -174.72668,43.53699 }</string>
	
								<string>{ -147.39549,36.46303 }</string>

							</array>

							<array>
	
								<string>{ -181.80064,17.49197 }</string>
	
								<string>{ -239.67846,24.05145 }</string>
	
								<string>{ -174.72668,43.53699 }</string>
	
								<string>{ -165.40192,28.10291 }</string>

							</array>

							<array>
	
								<string>{ -189.83923,10.41801 }</string>
	
								<string>{ -239.67846,24.05145 }</string>
	
								<string>{ -181.80064,17.49197 }</string>

							</array>

							<array>
	
								<string>{ -197.23473,0.12862 }</string>
	
								<string>{ -239.67846,24.05145 }</string>
	
								<string>{ -189.83923,10.41801 }</string>

							</array>

							<array>
	
								<string>{ -201.73633,-13.37621 }</string>
	
								<string>{ -239.67846,24.05145 }</string>
	
								<string>{ -197.23473,0.12862 }</string>

							</array>

							<array>
	
								<string>{ -201.73633,-13.37621 }</string>
	
								<string>{ -203.98714,-30.73955 }</string>
	
								<string>{ -240.00000,-159.67846 }</string>
	
								<string>{ -239.67846,24.05145 }</string>

							</array>

							<array>
	
								<string>{ 72.54019,160.25723 }</string>
	
								<string>{ 240.06433,160.90033 }</string>
	
								<string>{ 118.19937,138.07074 }</string>
	
								<string>{ 99.22830,142.25082 }</string>

							</array>

							<array>
	
								<string>{ 240.06433,160.90033 }</string>
	
								<string>{ 137.49197,131.31833 }</string>
	
								<string>{ 118.19937,138.07074 }</string>

							</array>

							<array>
	
								<string>{ 240.06433,160.90033 }</string>
	
								<string>{ 153.56915,121.02896 }</string>
	
								<string>{ 137.49197,131.31833 }</string>

							</array>

							<array>
	
								<string>{ 240.06433,160.90033 }</string>
	
								<string>{ 165.46625,110.73956 }</string>
	
								<string>{ 153.56915,121.02896 }</string>

							</array>

							<array>
	
								<string>{ 240.06433,160.90033 }</string>
	
								<string>{ 174.46948,101.09326 }</string>
	
								<string>{ 165.46625,110.73956 }</string>

							</array>

							<array>
	
								<string>{ 240.06433,160.90033 }</string>
	
								<string>{ 179.61417,88.55307 }</string>
	
								<string>{ 174.46948,101.09326 }</string>

							</array>

							<array>
	
								<string>{ 240.19293,-159.22830 }</string>
	
								<string>{ 181.54343,76.33441 }</string>
	
								<string>{ 179.61417,88.55307 }</string>
	
								<string>{ 240.06433,160.90033 }</string>

							</array>

							<array>
	
								<string>{ -46.10931,17.17043 }</string>
	
								<string>{ 45.85211,21.02895 }</string>
	
								<string>{ 40.38586,4.63023 }</string>
	
								<string>{ -47.07394,10.09647 }</string>

							</array>

							<array>
	
								<string>{ 45.85211,21.02895 }</string>
	
								<string>{ 128.81030,30.35370 }</string>
	
								<string>{ 77.04181,1.09325 }</string>
	
								<string>{ 40.38586,4.63023 }</string>

							</array>

							<array>
	
								<string>{ 128.81030,30.35370 }</string>
	
								<string>{ 103.08682,-3.40836 }</string>
	
								<string>{ 77.04181,1.09325 }</string>

							</array>

							<array>
	
								<string>{ 128.81030,30.35370 }</string>
	
								<string>{ 148.10291,34.85532 }</string>
	
								<string>{ 127.84567,-12.09003 }</string>
	
								<string>{ 103.08682,-3.40836 }</string>

							</array>

							<array>
	
								<string>{ 148.10291,34.85532 }</string>
	
								<string>{ 166.75241,44.50162 }</string>
	
								<string>{ 145.53055,-22.05788 }</string>
	
								<string>{ 127.84567,-12.09003 }</string>

							</array>

							<array>
	
								<string>{ 166.75241,44.50162 }</string>
	
								<string>{ 177.36337,57.36336 }</string>
	
								<string>{ 160.64310,-36.20578 }</string>
	
								<string>{ 145.53055,-22.05788 }</string>

							</array>

							<array>
	
								<string>{ 177.36337,57.36336 }</string>
	
								<string>{ 180.90033,66.36656 }</string>
	
								<string>{ 240.19293,-159.22830 }</string>
	
								<string>{ 165.14471,-51.96141 }</string>
	
								<string>{ 160.64310,-36.20578 }</string>

							</array>

							<array>
	
								<string>{ -202.05788,-48.10289 }</string>
	
								<string>{ -240.00000,-159.67846 }</string>
	
								<string>{ -203.98714,-30.73955 }</string>

							</array>

							<array>
	
								<string>{ -195.94855,-61.60771 }</string>
	
								<string>{ -240.00000,-159.67846 }</string>
	
								<string>{ -202.05788,-48.10289 }</string>

							</array>

							<array>
	
								<string>{ -187.58842,-73.18327 }</string>
	
								<string>{ -240.00000,-159.67846 }</string>
	
								<string>{ -195.94855,-61.60771 }</string>

							</array>

							<array>
	
								<string>{ -176.33440,-84.75884 }</string>
	
								<string>{ -240.00000,-159.67846 }</string>
	
								<string>{ -187.58842,-73.18327 }</string>

							</array>

							<array>
	
								<string>{ -158.00643,-98.90675 }</string>
	
								<string>{ -240.00000,-159.67846 }</string>
	
								<string>{ -176.33440,-84.75884 }</string>

							</array>

							<array>
	
								<string>{ -135.17684,-109.83923 }</string>
	
								<string>{ -240.00000,-159.67846 }</string>
	
								<string>{ -158.00643,-98.90675 }</string>

							</array>

							<array>
	
								<string>{ -108.48874,-119.48553 }</string>
	
								<string>{ -240.00000,-159.67846 }</string>
	
								<string>{ -135.17684,-109.83923 }</string>

							</array>

							<array>
	
								<string>{ -79.22829,-125.59485 }</string>
	
								<string>{ -240.00000,-159.67846 }</string>
	
								<string>{ -108.48874,-119.48553 }</string>

							</array>

							<array>
	
								<string>{ -48.36012,-129.77492 }</string>
	
								<string>{ -240.00000,-159.67846 }</string>
	
								<string>{ -79.22829,-125.59485 }</string>

							</array>

							<array>
	
								<string>{ -48.36012,-129.77492 }</string>
	
								<string>{ -12.34726,-130.41800 }</string>
	
								<string>{ 240.19293,-159.22830 }</string>
	
								<string>{ -240.00000,-159.67846 }</string>

							</array>

							<array>
	
								<string>{ 26.55951,-129.13183 }</string>
	
								<string>{ 240.19293,-159.22830 }</string>
	
								<string>{ -12.34726,-130.41800 }</string>

							</array>

							<array>
	
								<string>{ 63.21545,-125.27331 }</string>
	
								<string>{ 240.19293,-159.22830 }</string>
	
								<string>{ 26.55951,-129.13183 }</string>

							</array>

							<array>
	
								<string>{ 100.83603,-116.59164 }</string>
	
								<string>{ 240.19293,-159.22830 }</string>
	
								<string>{ 63.21545,-125.27331 }</string>

							</array>

							<array>
	
								<string>{ 126.88104,-105.33762 }</string>
	
								<string>{ 240.19293,-159.22830 }</string>
	
								<string>{ 100.83603,-116.59164 }</string>

							</array>

							<array>
	
								<string>{ 150.03217,-89.26044 }</string>
	
								<string>{ 240.19293,-159.22830 }</string>
	
								<string>{ 126.88104,-105.33762 }</string>

							</array>

							<array>
	
								<string>{ 159.03537,-78.32797 }</string>
	
								<string>{ 240.19293,-159.22830 }</string>
	
								<string>{ 150.03217,-89.26044 }</string>

							</array>

							<array>
	
								<string>{ 164.50162,-65.14469 }</string>
	
								<string>{ 240.19293,-159.22830 }</string>
	
								<string>{ 159.03537,-78.32797 }</string>

							</array>

							<array>
	
								<string>{ 165.14471,-51.96141 }</string>
	
								<string>{ 240.19293,-159.22830 }</string>
	
								<string>{ 164.50162,-65.14469 }</string>

							</array>

							<array>
	
								<string>{ 181.54343,76.33441 }</string>
	
								<string>{ 240.19293,-159.22830 }</string>
	
								<string>{ 180.90033,66.36656 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

