<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B50</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 69.95026,-2.78607 }</string>
	
								<string>{ 93.33334,-16.71642 }</string>
	
								<string>{ 74.42786,-24.17911 }</string>

							</array>

							<array>
	
								<string>{ 69.95026,-2.78607 }</string>
	
								<string>{ 238.10947,4.17911 }</string>
	
								<string>{ 126.66666,-16.21890 }</string>
	
								<string>{ 93.33334,-16.71642 }</string>

							</array>

							<array>
	
								<string>{ -74.32835,-22.18906 }</string>
	
								<string>{ -76.81592,-13.23383 }</string>
	
								<string>{ -24.07961,-5.27364 }</string>
	
								<string>{ -23.58209,-15.72139 }</string>

							</array>

							<array>
	
								<string>{ -115.62189,-31.64178 }</string>
	
								<string>{ -118.60696,-14.22885 }</string>
	
								<string>{ -76.81592,-13.23383 }</string>
	
								<string>{ -74.32835,-22.18906 }</string>

							</array>

							<array>
	
								<string>{ -152.93533,-47.56219 }</string>
	
								<string>{ -165.37313,-6.26866 }</string>
	
								<string>{ -118.60696,-14.22885 }</string>
	
								<string>{ -115.62189,-31.64178 }</string>

							</array>

							<array>
	
								<string>{ -172.83582,-66.96517 }</string>
	
								<string>{ -195.72139,7.16418 }</string>
	
								<string>{ -165.37313,-6.26866 }</string>
	
								<string>{ -152.93533,-47.56219 }</string>

							</array>

							<array>
	
								<string>{ 72.43781,-92.33831 }</string>
	
								<string>{ 102.78607,-108.75622 }</string>
	
								<string>{ 131.64178,-126.16916 }</string>
	
								<string>{ 3.78110,-111.74129 }</string>
	
								<string>{ 31.64178,-93.33334 }</string>
	
								<string>{ 51.04477,-89.35323 }</string>

							</array>

							<array>
	
								<string>{ 238.10947,4.17911 }</string>
	
								<string>{ 157.51245,-26.66667 }</string>
	
								<string>{ 126.66666,-16.21890 }</string>

							</array>

							<array>
	
								<string>{ 238.10947,4.17911 }</string>
	
								<string>{ 183.88058,-41.59204 }</string>
	
								<string>{ 157.51245,-26.66667 }</string>

							</array>

							<array>
	
								<string>{ 238.10947,4.17911 }</string>
	
								<string>{ 204.27859,-60.99503 }</string>
	
								<string>{ 183.88058,-41.59204 }</string>

							</array>

							<array>
	
								<string>{ 239.60199,-160.00000 }</string>
	
								<string>{ 204.27859,-60.99503 }</string>
	
								<string>{ 238.10947,4.17911 }</string>

							</array>

							<array>
	
								<string>{ 131.64178,-126.16916 }</string>
	
								<string>{ -30.54726,-129.65174 }</string>
	
								<string>{ 3.78110,-111.74129 }</string>

							</array>

							<array>
	
								<string>{ -56.41791,106.66666 }</string>
	
								<string>{ -80.79602,123.58209 }</string>
	
								<string>{ 19.90051,98.90549 }</string>
	
								<string>{ 12.23880,92.23880 }</string>

							</array>

							<array>
	
								<string>{ -119.10448,113.13434 }</string>
	
								<string>{ -240.00000,142.18906 }</string>
	
								<string>{ -80.79602,123.58209 }</string>
	
								<string>{ -56.41791,106.66666 }</string>

							</array>

							<array>
	
								<string>{ -158.40796,109.65173 }</string>
	
								<string>{ -240.00000,142.18906 }</string>
	
								<string>{ -119.10448,113.13434 }</string>

							</array>

							<array>
	
								<string>{ -193.23383,101.69153 }</string>
	
								<string>{ -240.00000,142.18906 }</string>
	
								<string>{ -158.40796,109.65173 }</string>

							</array>

							<array>
	
								<string>{ -211.64179,85.27364 }</string>
	
								<string>{ -240.00000,142.18906 }</string>
	
								<string>{ -193.23383,101.69153 }</string>

							</array>

							<array>
	
								<string>{ -215.12438,62.88557 }</string>
	
								<string>{ -240.00000,142.18906 }</string>
	
								<string>{ -211.64179,85.27364 }</string>

							</array>

							<array>
	
								<string>{ -215.12438,62.88557 }</string>
	
								<string>{ -210.64677,33.53233 }</string>
	
								<string>{ -239.50249,-162.48756 }</string>
	
								<string>{ -240.00000,142.18906 }</string>

							</array>

							<array>
	
								<string>{ -172.83582,-91.84080 }</string>
	
								<string>{ -239.50249,-162.48756 }</string>
	
								<string>{ -210.64677,33.53233 }</string>
	
								<string>{ -195.72139,7.16418 }</string>
	
								<string>{ -172.83582,-66.96517 }</string>

							</array>

							<array>
	
								<string>{ 131.64178,-126.16916 }</string>
	
								<string>{ 160.00000,-133.63184 }</string>
	
								<string>{ 239.60199,-160.00000 }</string>
	
								<string>{ -62.88557,-140.09950 }</string>
	
								<string>{ -30.54726,-129.65174 }</string>

							</array>

							<array>
	
								<string>{ -158.40796,-116.71642 }</string>
	
								<string>{ -239.50249,-162.48756 }</string>
	
								<string>{ -172.83582,-91.84080 }</string>

							</array>

							<array>
	
								<string>{ -132.53732,-133.63184 }</string>
	
								<string>{ -239.50249,-162.48756 }</string>
	
								<string>{ -158.40796,-116.71642 }</string>

							</array>

							<array>
	
								<string>{ -98.20895,-141.59204 }</string>
	
								<string>{ -239.50249,-162.48756 }</string>
	
								<string>{ -132.53732,-133.63184 }</string>

							</array>

							<array>
	
								<string>{ -98.20895,-141.59204 }</string>
	
								<string>{ -62.88557,-140.09950 }</string>
	
								<string>{ 239.60199,-160.00000 }</string>
	
								<string>{ -239.50249,-162.48756 }</string>

							</array>

							<array>
	
								<string>{ 186.36816,-128.15920 }</string>
	
								<string>{ 239.60199,-160.00000 }</string>
	
								<string>{ 160.00000,-133.63184 }</string>

							</array>

							<array>
	
								<string>{ 206.76617,-109.75124 }</string>
	
								<string>{ 239.60199,-160.00000 }</string>
	
								<string>{ 186.36816,-128.15920 }</string>

							</array>

							<array>
	
								<string>{ 213.23383,-87.36318 }</string>
	
								<string>{ 239.60199,-160.00000 }</string>
	
								<string>{ 206.76617,-109.75124 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 241.09454,106.66666 }</string>
	
								<string>{ 155.02487,159.60199 }</string>
	
								<string>{ 239.80099,160.59702 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

