<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B15</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -142.47737,10.83363 }</string>
	
								<string>{ -152.24040,-36.26880 }</string>
	
								<string>{ -157.32453,-47.24497 }</string>
	
								<string>{ -284.66696,-160.66696 }</string>
	
								<string>{ -284.89723,-11.72272 }</string>

							</array>

							<array>
	
								<string>{ 85.47025,-92.65982 }</string>
	
								<string>{ 67.56631,-125.41092 }</string>
	
								<string>{ 49.66238,-86.54629 }</string>
	
								<string>{ 69.31302,-75.19257 }</string>

							</array>

							<array>
	
								<string>{ 97.32730,21.94446 }</string>
	
								<string>{ 119.09470,7.34018 }</string>
	
								<string>{ 100.49118,8.25078 }</string>

							</array>

							<array>
	
								<string>{ 67.56631,-125.41092 }</string>
	
								<string>{ 24.33487,-95.27991 }</string>
	
								<string>{ 49.66238,-86.54629 }</string>

							</array>

							<array>
	
								<string>{ 104.68420,-38.07467 }</string>
	
								<string>{ 107.70197,-31.94603 }</string>
	
								<string>{ 143.98550,-26.28427 }</string>
	
								<string>{ 139.18204,-54.23187 }</string>
	
								<string>{ 119.09470,-57.28864 }</string>

							</array>

							<array>
	
								<string>{ 97.32730,21.94446 }</string>
	
								<string>{ 91.96988,33.70377 }</string>
	
								<string>{ 91.58377,44.45808 }</string>
	
								<string>{ 119.09470,7.34018 }</string>

							</array>

							<array>
	
								<string>{ 67.56631,-125.41092 }</string>
	
								<string>{ -10.59964,-102.70349 }</string>
	
								<string>{ 24.33487,-95.27991 }</string>

							</array>

							<array>
	
								<string>{ 0.75406,94.23975 }</string>
	
								<string>{ 100.75409,116.07379 }</string>
	
								<string>{ 26.24185,81.63370 }</string>
	
								<string>{ 1.88065,85.54875 }</string>

							</array>

							<array>
	
								<string>{ 100.75409,116.07379 }</string>
	
								<string>{ 44.09845,76.36015 }</string>
	
								<string>{ 26.24185,81.63370 }</string>

							</array>

							<array>
	
								<string>{ 100.75409,116.07379 }</string>
	
								<string>{ 57.86139,68.38820 }</string>
	
								<string>{ 44.09845,76.36015 }</string>

							</array>

							<array>
	
								<string>{ 100.75409,116.07379 }</string>
	
								<string>{ 70.44702,59.86060 }</string>
	
								<string>{ 57.86139,68.38820 }</string>

							</array>

							<array>
	
								<string>{ 84.64719,44.13466 }</string>
	
								<string>{ 91.58377,44.45808 }</string>
	
								<string>{ 91.96988,33.70377 }</string>

							</array>

							<array>
	
								<string>{ 78.59534,51.91563 }</string>
	
								<string>{ 83.28683,65.85547 }</string>
	
								<string>{ 91.58377,44.45808 }</string>
	
								<string>{ 84.64719,44.13466 }</string>

							</array>

							<array>
	
								<string>{ 70.44702,59.86060 }</string>
	
								<string>{ 83.72351,83.75940 }</string>
	
								<string>{ 83.28683,65.85547 }</string>
	
								<string>{ 78.59534,51.91563 }</string>

							</array>

							<array>
	
								<string>{ 143.98550,-26.28427 }</string>
	
								<string>{ 107.70197,-31.94603 }</string>
	
								<string>{ 109.05103,-25.84760 }</string>

							</array>

							<array>
	
								<string>{ 143.98550,-26.28427 }</string>
	
								<string>{ 193.33051,-18.86070 }</string>
	
								<string>{ 158.39600,-59.90873 }</string>
	
								<string>{ 139.18204,-54.23187 }</string>

							</array>

							<array>
	
								<string>{ 193.33051,-18.86070 }</string>
	
								<string>{ 203.02789,-14.06496 }</string>
	
								<string>{ 203.37418,-123.22751 }</string>
	
								<string>{ 158.39600,-59.90873 }</string>

							</array>

							<array>
	
								<string>{ 67.56631,-125.41092 }</string>
	
								<string>{ 78.04666,-142.00480 }</string>
	
								<string>{ -72.60837,-107.94366 }</string>
	
								<string>{ -10.59964,-102.70349 }</string>

							</array>

							<array>
	
								<string>{ -62.61505,0.90700 }</string>
	
								<string>{ -76.10182,16.51048 }</string>
	
								<string>{ 8.43967,15.89912 }</string>
	
								<string>{ 3.81085,5.16559 }</string>

							</array>

							<array>
	
								<string>{ -84.94870,-1.96982 }</string>
	
								<string>{ -76.10182,16.51048 }</string>
	
								<string>{ -62.61505,0.90700 }</string>

							</array>

							<array>
	
								<string>{ -100.94357,-6.58580 }</string>
	
								<string>{ -142.47737,10.83363 }</string>
	
								<string>{ -76.10182,16.51048 }</string>
	
								<string>{ -84.94870,-1.96982 }</string>

							</array>

							<array>
	
								<string>{ -115.40314,-11.87379 }</string>
	
								<string>{ -142.47737,10.83363 }</string>
	
								<string>{ -100.94357,-6.58580 }</string>

							</array>

							<array>
	
								<string>{ -129.47383,-18.11317 }</string>
	
								<string>{ -142.47737,10.83363 }</string>
	
								<string>{ -115.40314,-11.87379 }</string>

							</array>

							<array>
	
								<string>{ -142.91405,-25.41092 }</string>
	
								<string>{ -142.47737,10.83363 }</string>
	
								<string>{ -129.47383,-18.11317 }</string>

							</array>

							<array>
	
								<string>{ -152.24040,-36.26880 }</string>
	
								<string>{ -142.47737,10.83363 }</string>
	
								<string>{ -142.91405,-25.41092 }</string>

							</array>

							<array>
	
								<string>{ 208.94507,-7.85194 }</string>
	
								<string>{ 203.37418,-123.22751 }</string>
	
								<string>{ 203.02789,-14.06496 }</string>

							</array>

							<array>
	
								<string>{ 217.05096,3.71585 }</string>
	
								<string>{ 203.37418,-123.22751 }</string>
	
								<string>{ 208.94507,-7.85194 }</string>

							</array>

							<array>
	
								<string>{ 78.04666,-142.00480 }</string>
	
								<string>{ -284.66696,-160.66696 }</string>
	
								<string>{ -109.72627,-105.76026 }</string>
	
								<string>{ -72.60837,-107.94366 }</string>

							</array>

							<array>
	
								<string>{ 223.44211,20.25456 }</string>
	
								<string>{ 283.80914,129.99988 }</string>
	
								<string>{ 203.37418,-123.22751 }</string>
	
								<string>{ 217.05096,3.71585 }</string>

							</array>

							<array>
	
								<string>{ -158.58047,-57.59445 }</string>
	
								<string>{ -284.66696,-160.66696 }</string>
	
								<string>{ -157.32453,-47.24497 }</string>

							</array>

							<array>
	
								<string>{ -156.88785,-69.51572 }</string>
	
								<string>{ -284.66696,-160.66696 }</string>
	
								<string>{ -158.58047,-57.59445 }</string>

							</array>

							<array>
	
								<string>{ -155.12225,-78.92010 }</string>
	
								<string>{ -284.66696,-160.66696 }</string>
	
								<string>{ -156.88785,-69.51572 }</string>

							</array>

							<array>
	
								<string>{ -151.64767,-87.41965 }</string>
	
								<string>{ -284.66696,-160.66696 }</string>
	
								<string>{ -155.12225,-78.92010 }</string>

							</array>

							<array>
	
								<string>{ -146.47672,-93.90569 }</string>
	
								<string>{ -284.66696,-160.66696 }</string>
	
								<string>{ -151.64767,-87.41965 }</string>

							</array>

							<array>
	
								<string>{ -139.42059,-99.64672 }</string>
	
								<string>{ -284.66696,-160.66696 }</string>
	
								<string>{ -146.47672,-93.90569 }</string>

							</array>

							<array>
	
								<string>{ -126.01562,-103.99214 }</string>
	
								<string>{ -284.66696,-160.66696 }</string>
	
								<string>{ -139.42059,-99.64672 }</string>

							</array>

							<array>
	
								<string>{ -109.72627,-105.76026 }</string>
	
								<string>{ -284.66696,-160.66696 }</string>
	
								<string>{ -126.01562,-103.99214 }</string>

							</array>

							<array>
	
								<string>{ 102.50079,-145.49825 }</string>
	
								<string>{ -284.66696,-160.66696 }</string>
	
								<string>{ 78.04666,-142.00480 }</string>

							</array>

							<array>
	
								<string>{ 102.50079,-145.49825 }</string>
	
								<string>{ 185.90692,-145.93493 }</string>
	
								<string>{ 284.22198,-159.70233 }</string>
	
								<string>{ -284.66696,-160.66696 }</string>

							</array>

							<array>
	
								<string>{ 200.31738,-137.63799 }</string>
	
								<string>{ 284.22198,-159.70233 }</string>
	
								<string>{ 185.90692,-145.93493 }</string>

							</array>

							<array>
	
								<string>{ 200.31738,-137.63799 }</string>
	
								<string>{ 203.37418,-123.22751 }</string>
	
								<string>{ 283.80914,129.99988 }</string>
	
								<string>{ 284.22198,-159.70233 }</string>

							</array>

							<array>
	
								<string>{ 100.75409,116.07379 }</string>
	
								<string>{ 102.50079,99.47992 }</string>
	
								<string>{ 83.72351,83.75940 }</string>

							</array>

							<array>
	
								<string>{ 100.75409,116.07379 }</string>
	
								<string>{ 125.20822,105.59344 }</string>
	
								<string>{ 102.50079,99.47992 }</string>

							</array>

							<array>
	
								<string>{ 100.75409,116.07379 }</string>
	
								<string>{ 283.80914,129.99988 }</string>
	
								<string>{ 150.97241,105.59344 }</string>
	
								<string>{ 125.20822,105.59344 }</string>

							</array>

							<array>
	
								<string>{ 283.80914,129.99988 }</string>
	
								<string>{ 183.48322,103.28345 }</string>
	
								<string>{ 150.97241,105.59344 }</string>

							</array>

							<array>
	
								<string>{ 283.80914,129.99988 }</string>
	
								<string>{ 203.32376,95.69835 }</string>
	
								<string>{ 183.48322,103.28345 }</string>

							</array>

							<array>
	
								<string>{ 283.80914,129.99988 }</string>
	
								<string>{ 215.16455,87.68953 }</string>
	
								<string>{ 203.32376,95.69835 }</string>

							</array>

							<array>
	
								<string>{ 283.80914,129.99988 }</string>
	
								<string>{ 224.03381,74.98830 }</string>
	
								<string>{ 215.16455,87.68953 }</string>

							</array>

							<array>
	
								<string>{ 283.80914,129.99988 }</string>
	
								<string>{ 228.26501,61.48865 }</string>
	
								<string>{ 224.03381,74.98830 }</string>

							</array>

							<array>
	
								<string>{ 283.80914,129.99988 }</string>
	
								<string>{ 227.70169,42.38837 }</string>
	
								<string>{ 228.26501,61.48865 }</string>

							</array>

							<array>
	
								<string>{ 283.80914,129.99988 }</string>
	
								<string>{ 223.44211,20.25456 }</string>
	
								<string>{ 227.70169,42.38837 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

