<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B10</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 2.15714,38.29817 }</string>
	
								<string>{ 31.84015,22.15984 }</string>
	
								<string>{ 42.79114,15.24341 }</string>
	
								<string>{ 82.56061,-15.59233 }</string>
	
								<string>{ 39.04474,-13.57503 }</string>
	
								<string>{ -0.72470,-3.20039 }</string>
	
								<string>{ -22.05035,7.17424 }</string>

							</array>

							<array>
	
								<string>{ -32.42499,-66.60097 }</string>
	
								<string>{ -85.45093,-68.61826 }</string>
	
								<string>{ -52.88608,-53.05630 }</string>

							</array>

							<array>
	
								<string>{ -67.29530,110.34427 }</string>
	
								<string>{ -4.47110,106.88605 }</string>
	
								<string>{ -35.01865,99.39328 }</string>
	
								<string>{ -62.97253,103.13965 }</string>

							</array>

							<array>
	
								<string>{ -4.47110,106.88605 }</string>
	
								<string>{ -13.11664,93.91776 }</string>
	
								<string>{ -35.01865,99.39328 }</string>

							</array>

							<array>
	
								<string>{ -4.47110,106.88605 }</string>
	
								<string>{ 56.62399,98.52872 }</string>
	
								<string>{ -2.16562,85.84860 }</string>
	
								<string>{ -13.11664,93.91776 }</string>

							</array>

							<array>
	
								<string>{ 56.62399,98.52872 }</string>
	
								<string>{ 5.03900,75.18578 }</string>
	
								<string>{ -2.16562,85.84860 }</string>

							</array>

							<array>
	
								<string>{ 56.62399,98.52872 }</string>
	
								<string>{ 57.48856,88.73044 }</string>
	
								<string>{ 29.24649,59.91200 }</string>
	
								<string>{ 9.36176,63.94658 }</string>
	
								<string>{ 5.03900,75.18578 }</string>

							</array>

							<array>
	
								<string>{ -4.75928,-80.14564 }</string>
	
								<string>{ -118.88033,-76.97561 }</string>
	
								<string>{ -85.45093,-68.61826 }</string>
	
								<string>{ -32.42499,-66.60097 }</string>

							</array>

							<array>
	
								<string>{ 284.76971,160.50473 }</string>
	
								<string>{ 285.33514,-160.26091 }</string>
	
								<string>{ 152.01306,81.81401 }</string>
	
								<string>{ 146.53754,94.78232 }</string>
	
								<string>{ 240.48566,161.06473 }</string>

							</array>

							<array>
	
								<string>{ 24.92371,45.21458 }</string>
	
								<string>{ 8.20901,51.84283 }</string>
	
								<string>{ 9.36176,63.94658 }</string>
	
								<string>{ 29.24649,59.91200 }</string>

							</array>

							<array>
	
								<string>{ 24.92371,45.21458 }</string>
	
								<string>{ 24.63553,32.24629 }</string>
	
								<string>{ 2.15714,38.29817 }</string>
	
								<string>{ 8.20901,51.84283 }</string>

							</array>

							<array>
	
								<string>{ 31.84015,22.15984 }</string>
	
								<string>{ 2.15714,38.29817 }</string>
	
								<string>{ 24.63553,32.24629 }</string>

							</array>

							<array>
	
								<string>{ -135.59502,29.36444 }</string>
	
								<string>{ -201.87743,12.93793 }</string>
	
								<string>{ -285.49547,46.84334 }</string>
	
								<string>{ -187.18003,43.48549 }</string>
	
								<string>{ -134.21173,37.37598 }</string>

							</array>

							<array>
	
								<string>{ -216.86303,-6.94679 }</string>
	
								<string>{ -285.49547,46.84334 }</string>
	
								<string>{ -201.87743,12.93793 }</string>

							</array>

							<array>
	
								<string>{ -216.86303,-6.94679 }</string>
	
								<string>{ -225.22038,-39.22345 }</string>
	
								<string>{ -284.57637,-160.28818 }</string>
	
								<string>{ -285.49547,46.84334 }</string>

							</array>

							<array>
	
								<string>{ 35.87473,-97.43670 }</string>
	
								<string>{ -118.88033,-76.97561 }</string>
	
								<string>{ -4.75928,-80.14564 }</string>

							</array>

							<array>
	
								<string>{ 82.56061,-114.15140 }</string>
	
								<string>{ -153.75064,-80.14564 }</string>
	
								<string>{ -118.88033,-76.97561 }</string>
	
								<string>{ 35.87473,-97.43670 }</string>

							</array>

							<array>
	
								<string>{ -220.03305,-53.63267 }</string>
	
								<string>{ -284.57637,-160.28818 }</string>
	
								<string>{ -225.22038,-39.22345 }</string>

							</array>

							<array>
	
								<string>{ -209.65842,-65.73642 }</string>
	
								<string>{ -284.57637,-160.28818 }</string>
	
								<string>{ -220.03305,-53.63267 }</string>

							</array>

							<array>
	
								<string>{ -186.60366,-76.39924 }</string>
	
								<string>{ -284.57637,-160.28818 }</string>
	
								<string>{ -209.65842,-65.73642 }</string>

							</array>

							<array>
	
								<string>{ -186.60366,-76.39924 }</string>
	
								<string>{ -153.75064,-80.14564 }</string>
	
								<string>{ 112.24359,-122.79694 }</string>
	
								<string>{ 285.33514,-160.26091 }</string>
	
								<string>{ -284.57637,-160.28818 }</string>

							</array>

							<array>
	
								<string>{ 42.79114,15.24341 }</string>
	
								<string>{ 59.50586,10.34427 }</string>
	
								<string>{ 111.95541,-11.26956 }</string>
	
								<string>{ 82.56061,-15.59233 }</string>

							</array>

							<array>
	
								<string>{ 80.54330,8.03880 }</string>
	
								<string>{ 111.95541,-11.26956 }</string>
	
								<string>{ 59.50586,10.34427 }</string>

							</array>

							<array>
	
								<string>{ 111.37906,9.19154 }</string>
	
								<string>{ 133.56924,-11.26956 }</string>
	
								<string>{ 111.95541,-11.26956 }</string>
	
								<string>{ 80.54330,8.03880 }</string>

							</array>

							<array>
	
								<string>{ 131.26376,15.81978 }</string>
	
								<string>{ 155.75946,-15.59233 }</string>
	
								<string>{ 133.56924,-11.26956 }</string>
	
								<string>{ 111.37906,9.19154 }</string>

							</array>

							<array>
	
								<string>{ 145.09662,28.21172 }</string>
	
								<string>{ 173.91507,-24.23785 }</string>
	
								<string>{ 155.75946,-15.59233 }</string>
	
								<string>{ 131.26376,15.81978 }</string>

							</array>

							<array>
	
								<string>{ 153.45398,43.19730 }</string>
	
								<string>{ 185.73062,-36.62979 }</string>
	
								<string>{ 173.91507,-24.23785 }</string>
	
								<string>{ 145.09662,28.21172 }</string>

							</array>

							<array>
	
								<string>{ 155.75946,62.50566 }</string>
	
								<string>{ 185.73062,-36.62979 }</string>
	
								<string>{ 153.45398,43.19730 }</string>

							</array>

							<array>
	
								<string>{ 152.01306,81.81401 }</string>
	
								<string>{ 285.33514,-160.26091 }</string>
	
								<string>{ 185.73062,-36.62979 }</string>
	
								<string>{ 155.75946,62.50566 }</string>

							</array>

							<array>
	
								<string>{ 112.24359,-122.79694 }</string>
	
								<string>{ -153.75064,-80.14564 }</string>
	
								<string>{ 82.56061,-114.15140 }</string>

							</array>

							<array>
	
								<string>{ 285.33514,-160.26091 }</string>
	
								<string>{ 188.61249,-57.37907 }</string>
	
								<string>{ 185.73062,-36.62979 }</string>

							</array>

							<array>
	
								<string>{ 285.33514,-160.26091 }</string>
	
								<string>{ 184.00153,-73.80558 }</string>
	
								<string>{ 188.61249,-57.37907 }</string>

							</array>

							<array>
	
								<string>{ 285.33514,-160.26091 }</string>
	
								<string>{ 175.06781,-91.09665 }</string>
	
								<string>{ 184.00153,-73.80558 }</string>

							</array>

							<array>
	
								<string>{ 285.33514,-160.26091 }</string>
	
								<string>{ 165.84592,-104.92950 }</string>
	
								<string>{ 175.06781,-91.09665 }</string>

							</array>

							<array>
	
								<string>{ 285.33514,-160.26091 }</string>
	
								<string>{ 152.30124,-115.59232 }</string>
	
								<string>{ 165.84592,-104.92950 }</string>

							</array>

							<array>
	
								<string>{ 285.33514,-160.26091 }</string>
	
								<string>{ 136.73929,-121.35601 }</string>
	
								<string>{ 152.30124,-115.59232 }</string>

							</array>

							<array>
	
								<string>{ 285.33514,-160.26091 }</string>
	
								<string>{ 112.24359,-122.79694 }</string>
	
								<string>{ 136.73929,-121.35601 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 137.31564,112.30701 }</string>
	
								<string>{ 240.13983,160.66437 }</string>
	
								<string>{ 147.11392,95.01595 }</string>

							</array>

							<array>
	
								<string>{ 124.34735,129.02173 }</string>
	
								<string>{ 240.13983,160.66437 }</string>
	
								<string>{ 137.31564,112.30701 }</string>

							</array>

							<array>
	
								<string>{ 108.20901,139.68454 }</string>
	
								<string>{ 240.13983,160.66437 }</string>
	
								<string>{ 124.34735,129.02173 }</string>

							</array>

							<array>
	
								<string>{ 92.35889,148.04190 }</string>
	
								<string>{ 240.13983,160.66437 }</string>
	
								<string>{ 108.20901,139.68454 }</string>

							</array>

							<array>
	
								<string>{ -169.02441,161.24072 }</string>
	
								<string>{ 240.13983,160.66437 }</string>
	
								<string>{ 61.81131,152.07648 }</string>
	
								<string>{ -159.51433,150.34735 }</string>

							</array>

							<array>
	
								<string>{ 61.81131,152.07648 }</string>
	
								<string>{ 240.13983,160.66437 }</string>
	
								<string>{ 92.35889,148.04190 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

