<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B26</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 232.05240,-10.21834 }</string>
	
								<string>{ 212.83844,-29.43231 }</string>
	
								<string>{ 216.76855,-11.09171 }</string>

							</array>

							<array>
	
								<string>{ 199.73801,65.76419 }</string>
	
								<string>{ 238.16595,161.39740 }</string>
	
								<string>{ 232.05240,33.88646 }</string>
	
								<string>{ 204.54150,41.31004 }</string>

							</array>

							<array>
	
								<string>{ -159.21397,46.11354 }</string>
	
								<string>{ -239.56332,52.92577 }</string>
	
								<string>{ -126.63755,62.53276 }</string>
	
								<string>{ -127.77293,52.66376 }</string>

							</array>

							<array>
	
								<string>{ 80.96069,147.86026 }</string>
	
								<string>{ 238.16595,161.39740 }</string>
	
								<string>{ 118.51529,133.88647 }</string>
	
								<string>{ 82.70743,138.25327 }</string>

							</array>

							<array>
	
								<string>{ 232.05240,-10.21834 }</string>
	
								<string>{ 239.91266,-159.56332 }</string>
	
								<string>{ 201.48471,-54.32314 }</string>
	
								<string>{ 212.83844,-29.43231 }</string>

							</array>

							<array>
	
								<string>{ -187.16157,26.46289 }</string>
	
								<string>{ -239.56332,52.92577 }</string>
	
								<string>{ -159.21397,46.11354 }</string>

							</array>

							<array>
	
								<string>{ -202.44542,2.00874 }</string>
	
								<string>{ -239.56332,52.92577 }</string>
	
								<string>{ -187.16157,26.46289 }</string>

							</array>

							<array>
	
								<string>{ -210.30568,-28.55894 }</string>
	
								<string>{ -239.56332,52.92577 }</string>
	
								<string>{ -202.44542,2.00874 }</string>

							</array>

							<array>
	
								<string>{ -210.30568,-28.55894 }</string>
	
								<string>{ -208.55895,-59.12663 }</string>
	
								<string>{ -240.00000,-160.87336 }</string>
	
								<string>{ -239.56332,52.92577 }</string>

							</array>

							<array>
	
								<string>{ 238.16595,161.39740 }</string>
	
								<string>{ 150.39301,123.40613 }</string>
	
								<string>{ 118.51529,133.88647 }</string>

							</array>

							<array>
	
								<string>{ 238.16595,161.39740 }</string>
	
								<string>{ 170.04367,108.99564 }</string>
	
								<string>{ 150.39301,123.40613 }</string>

							</array>

							<array>
	
								<string>{ 238.16595,161.39740 }</string>
	
								<string>{ 186.20087,90.21834 }</string>
	
								<string>{ 170.04367,108.99564 }</string>

							</array>

							<array>
	
								<string>{ 238.16595,161.39740 }</string>
	
								<string>{ 199.73801,65.76419 }</string>
	
								<string>{ 186.20087,90.21834 }</string>

							</array>

							<array>
	
								<string>{ -190.65502,-84.45415 }</string>
	
								<string>{ -240.00000,-160.87336 }</string>
	
								<string>{ -208.55895,-59.12663 }</string>

							</array>

							<array>
	
								<string>{ -160.52402,-101.04803 }</string>
	
								<string>{ -240.00000,-160.87336 }</string>
	
								<string>{ -190.65502,-84.45415 }</string>

							</array>

							<array>
	
								<string>{ -113.79913,-115.45852 }</string>
	
								<string>{ -240.00000,-160.87336 }</string>
	
								<string>{ -160.52402,-101.04803 }</string>

							</array>

							<array>
	
								<string>{ 239.91266,-159.56332 }</string>
	
								<string>{ -240.00000,-160.87336 }</string>
	
								<string>{ -113.79913,-115.45852 }</string>

							</array>

							<array>
	
								<string>{ 239.91266,-159.56332 }</string>
	
								<string>{ 232.05240,-10.21834 }</string>
	
								<string>{ 232.05240,33.88646 }</string>
	
								<string>{ 238.16595,161.39740 }</string>

							</array>

							<array>
	
								<string>{ 8.90829,-124.19214 }</string>
	
								<string>{ 239.91266,-159.56332 }</string>
	
								<string>{ -56.15720,-121.57205 }</string>

							</array>

							<array>
	
								<string>{ 58.68997,-117.64192 }</string>
	
								<string>{ 239.91266,-159.56332 }</string>
	
								<string>{ 8.90829,-124.19214 }</string>

							</array>

							<array>
	
								<string>{ 111.52838,-102.79476 }</string>
	
								<string>{ 239.91266,-159.56332 }</string>
	
								<string>{ 58.68997,-117.64192 }</string>

							</array>

							<array>
	
								<string>{ 148.20963,-91.44105 }</string>
	
								<string>{ 239.91266,-159.56332 }</string>
	
								<string>{ 111.52838,-102.79476 }</string>

							</array>

							<array>
	
								<string>{ 177.90393,-76.15720 }</string>
	
								<string>{ 239.91266,-159.56332 }</string>
	
								<string>{ 148.20963,-91.44105 }</string>

							</array>

							<array>
	
								<string>{ 201.48471,-54.32314 }</string>
	
								<string>{ 239.91266,-159.56332 }</string>
	
								<string>{ 177.90393,-76.15720 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 2.79477,-63.49345 }</string>
	
								<string>{ -3.75545,-39.47598 }</string>
	
								<string>{ 24.19214,-40.78603 }</string>
	
								<string>{ 22.44540,-64.80349 }</string>

							</array>

							<array>
	
								<string>{ -3.75545,-39.47598 }</string>
	
								<string>{ -16.41920,-21.13538 }</string>
	
								<string>{ 32.48907,-15.89519 }</string>
	
								<string>{ 24.19214,-40.78603 }</string>

							</array>

							<array>
	
								<string>{ -16.41920,-21.13538 }</string>
	
								<string>{ -45.24017,-13.27510 }</string>
	
								<string>{ -4.19214,16.85590 }</string>
	
								<string>{ 51.26639,5.93887 }</string>
	
								<string>{ 32.48907,-15.89519 }</string>

							</array>

							<array>
	
								<string>{ -102.88210,-7.77292 }</string>
	
								<string>{ -4.19214,16.85590 }</string>
	
								<string>{ -45.24017,-13.27510 }</string>
	
								<string>{ -95.02184,-19.82533 }</string>

							</array>

							<array>
	
								<string>{ 85.15283,27.59825 }</string>
	
								<string>{ 80.08734,17.29257 }</string>
	
								<string>{ 51.26639,5.93887 }</string>
	
								<string>{ -4.19214,16.85590 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

