<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entities</key>
	<array>
		<dict>
			<key>components</key>
			<dict>
				<key>slinger</key>
				<dict>
					<key>queuedBeeTypes</key>
					<array>
						<string>SAWEE</string>
						<string>BEE</string>
					</array>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{68, 268}</string>
					<key>rotation</key>
					<real>330</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>SLINGER</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>-4.5029492378234863</real>
					<key>position</key>
					<string>{138, 205}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{138, 205}</string>
					<key>rotation</key>
					<real>258</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>WOOD</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>captured</key>
				<dict>
					<key>containedBeeType</key>
					<string>BEE</string>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{326, 220}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{326, 220}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>BEEATER-LAND-B</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>captured</key>
				<dict>
					<key>containedBeeType</key>
					<string>BEE</string>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{387, 127}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{387, 127}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>BEEATER-LAND-B</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>captured</key>
				<dict>
					<key>containedBeeType</key>
					<string>BEE</string>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{416, 20}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{416, 20}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>BEEATER-LAND-B</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>captured</key>
				<dict>
					<key>containedBeeType</key>
					<string>BEE</string>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{296, 28}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{296, 28}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>BEEATER-LAND-B</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>captured</key>
				<dict>
					<key>containedBeeType</key>
					<string>SUMEE</string>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>-0.20943951606750488</real>
					<key>position</key>
					<string>{122, 82}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{122, 82}</string>
					<key>rotation</key>
					<real>12</real>
					<key>scale</key>
					<string>{-1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>BEEATER-LAND-B</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>-0.10471975803375244</real>
					<key>position</key>
					<string>{378, 207}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{378, 207}</string>
					<key>rotation</key>
					<real>6</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>RAMP-B</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{307, 110}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{307, 110}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>RAMP-B</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>overrideBodyName</key>
					<string>B39-Glass</string>
					<key>position</key>
					<string>{287, 262}</string>
				</dict>
				<key>render</key>
				<dict>
					<key>overrideTextureFile</key>
					<string>B39-Glass.png</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{287, 262}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>GLASS-B</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>captured</key>
				<dict>
					<key>containedBeeType</key>
					<string>BEE</string>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{216, 233}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{216, 233}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>BEEATER-LAND-B</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{240, 160}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>SMOKE</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>-6.1435589790344238</real>
					<key>position</key>
					<string>{338, 160}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{338, 160}</string>
					<key>rotation</key>
					<real>352</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>WOOD</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>-0.38397243618965149</real>
					<key>position</key>
					<string>{361, 70}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{361, 70}</string>
					<key>rotation</key>
					<real>22</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>WOOD</string>
		</dict>
	</array>
	<key>format</key>
	<integer>2</integer>
	<key>hasWater</key>
	<true/>
	<key>name</key>
	<string>Level-B39</string>
	<key>version</key>
	<integer>9</integer>
</dict>
</plist>
