<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B23</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 155.77856,-23.70003 }</string>
	
								<string>{ 143.11481,-22.38998 }</string>
	
								<string>{ 152.28510,-10.59959 }</string>
	
								<string>{ 157.96198,-11.47295 }</string>

							</array>

							<array>
	
								<string>{ 120.84406,-48.15417 }</string>
	
								<string>{ 86.78293,-69.98824 }</string>
	
								<string>{ 109.05365,-42.47732 }</string>
	
								<string>{ 143.11481,-22.38998 }</string>
	
								<string>{ 155.77856,-23.70003 }</string>

							</array>

							<array>
	
								<string>{ 86.78293,-69.98824 }</string>
	
								<string>{ 54.03183,-97.06247 }</string>
	
								<string>{ 42.24142,-74.79173 }</string>
	
								<string>{ 109.05365,-42.47732 }</string>

							</array>

							<array>
	
								<string>{ 36.12790,-127.19348 }</string>
	
								<string>{ -19.76730,-98.80920 }</string>
	
								<string>{ 42.24142,-74.79173 }</string>
	
								<string>{ 54.03183,-97.06247 }</string>

							</array>

							<array>
	
								<string>{ 34.38116,-159.50789 }</string>
	
								<string>{ -80.90266,-115.40308 }</string>
	
								<string>{ -19.76730,-98.80920 }</string>
	
								<string>{ 36.12790,-127.19348 }</string>

							</array>

							<array>
	
								<string>{ -284.56376,-160.74628 }</string>
	
								<string>{ -154.70180,-111.47295 }</string>
	
								<string>{ -80.90266,-115.40308 }</string>
	
								<string>{ 34.38116,-159.50789 }</string>

							</array>

							<array>
	
								<string>{ -242.82353,42.16718 }</string>
	
								<string>{ -202.73673,-44.22404 }</string>
	
								<string>{ -199.67996,-72.17165 }</string>
	
								<string>{ -284.56376,-160.74628 }</string>
	
								<string>{ -285.23839,43.09598 }</string>

							</array>

							<array>
	
								<string>{ -15.40048,55.33928 }</string>
	
								<string>{ -86.57953,64.94626 }</string>
	
								<string>{ 36.82660,70.44844 }</string>
	
								<string>{ 36.12790,59.70609 }</string>

							</array>

							<array>
	
								<string>{ -54.70180,42.23885 }</string>
	
								<string>{ -86.57953,64.94626 }</string>
	
								<string>{ -15.40048,55.33928 }</string>

							</array>

							<array>
	
								<string>{ -66.05551,27.39168 }</string>
	
								<string>{ -112.78040,27.39168 }</string>
	
								<string>{ -142.47473,29.57509 }</string>
	
								<string>{ -242.82353,42.16718 }</string>
	
								<string>{ -240.72800,50.79779 }</string>
	
								<string>{ -86.57953,64.94626 }</string>
	
								<string>{ -54.70180,42.23885 }</string>

							</array>

							<array>
	
								<string>{ -284.56376,-160.74628 }</string>
	
								<string>{ -183.95944,-94.00571 }</string>
	
								<string>{ -154.70180,-111.47295 }</string>

							</array>

							<array>
	
								<string>{ -284.56376,-160.74628 }</string>
	
								<string>{ -199.67996,-72.17165 }</string>
	
								<string>{ -183.95944,-94.00571 }</string>

							</array>

							<array>
	
								<string>{ 10.36371,-11.90964 }</string>
	
								<string>{ 24.33749,3.37421 }</string>
	
								<string>{ 79.35934,10.36111 }</string>
	
								<string>{ 80.23270,5.99429 }</string>
	
								<string>{ 49.66501,-7.54282 }</string>

							</array>

							<array>
	
								<string>{ -86.57953,14.72792 }</string>
	
								<string>{ -45.53149,7.30434 }</string>
	
								<string>{ 10.36371,-11.90964 }</string>
	
								<string>{ -30.68433,-9.72623 }</string>
	
								<string>{ -66.49219,0.31744 }</string>

							</array>

							<array>
	
								<string>{ 10.36371,-11.90964 }</string>
	
								<string>{ -16.71054,3.37421 }</string>
	
								<string>{ 24.33749,3.37421 }</string>

							</array>

							<array>
	
								<string>{ 10.36371,-11.90964 }</string>
	
								<string>{ -45.53149,7.30434 }</string>
	
								<string>{ -16.71054,3.37421 }</string>

							</array>

							<array>
	
								<string>{ -242.82353,42.16718 }</string>
	
								<string>{ -198.80660,-19.33322 }</string>
	
								<string>{ -202.73673,-44.22404 }</string>

							</array>

							<array>
	
								<string>{ -242.82353,42.16718 }</string>
	
								<string>{ -187.01621,-1.42929 }</string>
	
								<string>{ -198.80660,-19.33322 }</string>

							</array>

							<array>
	
								<string>{ -242.82353,42.16718 }</string>
	
								<string>{ -164.74547,21.71483 }</string>
	
								<string>{ -187.01621,-1.42929 }</string>

							</array>

							<array>
	
								<string>{ -242.82353,42.16718 }</string>
	
								<string>{ -142.47473,29.57509 }</string>
	
								<string>{ -164.74547,21.71483 }</string>

							</array>

							<array>
	
								<string>{ -86.57953,14.72792 }</string>
	
								<string>{ -60.81534,16.03796 }</string>
	
								<string>{ -45.53149,7.30434 }</string>

							</array>

							<array>
	
								<string>{ -86.57953,14.72792 }</string>
	
								<string>{ -112.78040,27.39168 }</string>
	
								<string>{ -66.05551,27.39168 }</string>
	
								<string>{ -60.81534,16.03796 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

