<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B44</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -46.11354,-101.48471 }</string>
	
								<string>{ -26.46288,-124.19214 }</string>
	
								<string>{ -10.74236,-160.00000 }</string>
	
								<string>{ -240.43668,-161.31004 }</string>
	
								<string>{ -105.50218,-94.49782 }</string>
	
								<string>{ -87.59825,-88.82096 }</string>
	
								<string>{ -70.56769,-88.82096 }</string>

							</array>

							<array>
	
								<string>{ -76.68121,34.32315 }</string>
	
								<string>{ -146.55022,34.75983 }</string>
	
								<string>{ -149.60699,56.59389 }</string>
	
								<string>{ -73.36244,42.00874 }</string>

							</array>

							<array>
	
								<string>{ -171.44105,26.46289 }</string>
	
								<string>{ -240.00000,65.58952 }</string>
	
								<string>{ -149.60699,56.59389 }</string>
	
								<string>{ -146.55022,34.75983 }</string>

							</array>

							<array>
	
								<string>{ -185.65916,20.06432 }</string>
	
								<string>{ -240.00000,65.58952 }</string>
	
								<string>{ -171.44105,26.46289 }</string>

							</array>

							<array>
	
								<string>{ -197.64192,11.61572 }</string>
	
								<string>{ -240.00000,65.58952 }</string>
	
								<string>{ -185.65916,20.06432 }</string>

							</array>

							<array>
	
								<string>{ -204.30868,2.37943 }</string>
	
								<string>{ -240.00000,65.58952 }</string>
	
								<string>{ -197.64192,11.61572 }</string>

							</array>

							<array>
	
								<string>{ -208.99563,-9.78166 }</string>
	
								<string>{ -240.00000,65.58952 }</string>
	
								<string>{ -204.30868,2.37943 }</string>

							</array>

							<array>
	
								<string>{ -208.99563,-9.78166 }</string>
	
								<string>{ -211.06109,-22.70096 }</string>
	
								<string>{ -240.43668,-161.31004 }</string>
	
								<string>{ -240.00000,65.58952 }</string>

							</array>

							<array>
	
								<string>{ -240.43668,-161.31004 }</string>
	
								<string>{ -130.03215,-97.62057 }</string>
	
								<string>{ -105.50218,-94.49782 }</string>

							</array>

							<array>
	
								<string>{ -240.43668,-161.31004 }</string>
	
								<string>{ -152.66376,-95.80786 }</string>
	
								<string>{ -130.03215,-97.62057 }</string>

							</array>

							<array>
	
								<string>{ -240.43668,-161.31004 }</string>
	
								<string>{ -169.90353,-92.79742 }</string>
	
								<string>{ -152.66376,-95.80786 }</string>

							</array>

							<array>
	
								<string>{ -240.43668,-161.31004 }</string>
	
								<string>{ -184.10480,-86.63755 }</string>
	
								<string>{ -169.90353,-92.79742 }</string>

							</array>

							<array>
	
								<string>{ -240.43668,-161.31004 }</string>
	
								<string>{ -196.59164,-76.39871 }</string>
	
								<string>{ -184.10480,-86.63755 }</string>

							</array>

							<array>
	
								<string>{ -240.43668,-161.31004 }</string>
	
								<string>{ -205.50218,-63.93013 }</string>
	
								<string>{ -196.59164,-76.39871 }</string>

							</array>

							<array>
	
								<string>{ -240.43668,-161.31004 }</string>
	
								<string>{ -209.77492,-50.67524 }</string>
	
								<string>{ -205.50218,-63.93013 }</string>

							</array>

							<array>
	
								<string>{ -240.43668,-161.31004 }</string>
	
								<string>{ -210.74236,-36.85590 }</string>
	
								<string>{ -209.77492,-50.67524 }</string>

							</array>

							<array>
	
								<string>{ -240.43668,-161.31004 }</string>
	
								<string>{ -211.06109,-22.70096 }</string>
	
								<string>{ -210.74236,-36.85590 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 118.52090,-160.64309 }</string>
	
								<string>{ 169.64630,-16.27010 }</string>
	
								<string>{ 239.87140,91.25403 }</string>
	
								<string>{ 240.70740,-160.32154 }</string>

							</array>

							<array>
	
								<string>{ 66.43088,116.65594 }</string>
	
								<string>{ 154.53378,106.23795 }</string>
	
								<string>{ 101.47913,92.09004 }</string>
	
								<string>{ 68.03860,106.55951 }</string>

							</array>

							<array>
	
								<string>{ 154.53378,106.23795 }</string>
	
								<string>{ 124.95178,80.19293 }</string>
	
								<string>{ 101.47913,92.09004 }</string>

							</array>

							<array>
	
								<string>{ 154.53378,106.23795 }</string>
	
								<string>{ 239.87140,91.25403 }</string>
	
								<string>{ 144.56592,67.65274 }</string>
	
								<string>{ 124.95178,80.19293 }</string>

							</array>

							<array>
	
								<string>{ 239.87140,91.25403 }</string>
	
								<string>{ 161.28619,53.82637 }</string>
	
								<string>{ 144.56592,67.65274 }</string>

							</array>

							<array>
	
								<string>{ 239.87140,91.25403 }</string>
	
								<string>{ 172.86176,37.74921 }</string>
	
								<string>{ 161.28619,53.82637 }</string>

							</array>

							<array>
	
								<string>{ 23.98715,-47.45980 }</string>
	
								<string>{ 41.67203,-79.61414 }</string>
	
								<string>{ -20.38585,-43.60128 }</string>
	
								<string>{ -16.20578,-36.84887 }</string>

							</array>

							<array>
	
								<string>{ 62.89389,-53.56913 }</string>
	
								<string>{ 79.61417,-106.94534 }</string>
	
								<string>{ 41.67203,-79.61414 }</string>
	
								<string>{ 23.98715,-47.45980 }</string>

							</array>

							<array>
	
								<string>{ 89.90353,-53.24758 }</string>
	
								<string>{ 107.90997,-135.24116 }</string>
	
								<string>{ 79.61417,-106.94534 }</string>
	
								<string>{ 62.89389,-53.56913 }</string>

							</array>

							<array>
	
								<string>{ 117.55627,-48.42443 }</string>
	
								<string>{ 107.90997,-135.24116 }</string>
	
								<string>{ 89.90353,-53.24758 }</string>

							</array>

							<array>
	
								<string>{ 140.38586,-40.38585 }</string>
	
								<string>{ 118.52090,-160.64309 }</string>
	
								<string>{ 107.90997,-135.24116 }</string>
	
								<string>{ 117.55627,-48.42443 }</string>

							</array>

							<array>
	
								<string>{ 239.87140,91.25403 }</string>
	
								<string>{ 178.00644,27.45981 }</string>
	
								<string>{ 172.86176,37.74921 }</string>

							</array>

							<array>
	
								<string>{ 160.32156,-27.52411 }</string>
	
								<string>{ 118.52090,-160.64309 }</string>
	
								<string>{ 140.38586,-40.38585 }</string>

							</array>

							<array>
	
								<string>{ 239.87140,91.25403 }</string>
	
								<string>{ 179.93570,17.49197 }</string>
	
								<string>{ 178.00644,27.45981 }</string>

							</array>

							<array>
	
								<string>{ 239.87140,91.25403 }</string>
	
								<string>{ 178.32800,2.37943 }</string>
	
								<string>{ 179.93570,17.49197 }</string>

							</array>

							<array>
	
								<string>{ 169.64630,-16.27010 }</string>
	
								<string>{ 118.52090,-160.64309 }</string>
	
								<string>{ 160.32156,-27.52411 }</string>

							</array>

							<array>
	
								<string>{ 239.87140,91.25403 }</string>
	
								<string>{ 174.79102,-8.23151 }</string>
	
								<string>{ 178.32800,2.37943 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

