<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B44</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -107.38303,39.24936 }</string>
	
								<string>{ -151.48480,57.23698 }</string>
	
								<string>{ -75.24025,42.65182 }</string>
	
								<string>{ -79.16003,36.81035 }</string>

							</array>

							<array>
	
								<string>{ -127.24367,38.90094 }</string>
	
								<string>{ -151.48480,57.23698 }</string>
	
								<string>{ -107.38303,39.24936 }</string>

							</array>

							<array>
	
								<string>{ -144.66527,37.15877 }</string>
	
								<string>{ -151.48480,57.23698 }</string>
	
								<string>{ -127.24367,38.90094 }</string>

							</array>

							<array>
	
								<string>{ -156.79040,34.35762 }</string>
	
								<string>{ -151.48480,57.23698 }</string>
	
								<string>{ -144.66527,37.15877 }</string>

							</array>

							<array>
	
								<string>{ -172.97043,28.49969 }</string>
	
								<string>{ -285.60772,72.34193 }</string>
	
								<string>{ -151.48480,57.23698 }</string>
	
								<string>{ -156.79040,34.35762 }</string>

							</array>

							<array>
	
								<string>{ -47.99135,-100.84163 }</string>
	
								<string>{ -28.34070,-123.54905 }</string>
	
								<string>{ -12.62018,-159.35691 }</string>
	
								<string>{ -284.75822,-160.66696 }</string>
	
								<string>{ -107.37999,-93.85473 }</string>
	
								<string>{ -89.47606,-88.17787 }</string>
	
								<string>{ -72.44550,-88.17787 }</string>

							</array>

							<array>
	
								<string>{ -187.53697,20.70740 }</string>
	
								<string>{ -285.60772,72.34193 }</string>
	
								<string>{ -172.97043,28.49969 }</string>

							</array>

							<array>
	
								<string>{ -198.82287,11.91039 }</string>
	
								<string>{ -285.60772,72.34193 }</string>
	
								<string>{ -187.53697,20.70740 }</string>

							</array>

							<array>
	
								<string>{ -206.18649,3.02251 }</string>
	
								<string>{ -285.60772,72.34193 }</string>
	
								<string>{ -198.82287,11.91039 }</string>

							</array>

							<array>
	
								<string>{ -206.18649,3.02251 }</string>
	
								<string>{ -210.87344,-9.13857 }</string>
	
								<string>{ -284.75822,-160.66696 }</string>
	
								<string>{ -285.60772,72.34193 }</string>

							</array>

							<array>
	
								<string>{ -213.28734,-21.70944 }</string>
	
								<string>{ -284.75822,-160.66696 }</string>
	
								<string>{ -210.87344,-9.13857 }</string>

							</array>

							<array>
	
								<string>{ -212.96861,-35.86437 }</string>
	
								<string>{ -284.75822,-160.66696 }</string>
	
								<string>{ -213.28734,-21.70944 }</string>

							</array>

							<array>
	
								<string>{ -211.65273,-50.03215 }</string>
	
								<string>{ -284.75822,-160.66696 }</string>
	
								<string>{ -212.96861,-35.86437 }</string>

							</array>

							<array>
	
								<string>{ -207.38000,-63.28704 }</string>
	
								<string>{ -284.75822,-160.66696 }</string>
	
								<string>{ -211.65273,-50.03215 }</string>

							</array>

							<array>
	
								<string>{ -198.46945,-75.75562 }</string>
	
								<string>{ -284.75822,-160.66696 }</string>
	
								<string>{ -207.38000,-63.28704 }</string>

							</array>

							<array>
	
								<string>{ -185.98261,-85.99447 }</string>
	
								<string>{ -284.75822,-160.66696 }</string>
	
								<string>{ -198.46945,-75.75562 }</string>

							</array>

							<array>
	
								<string>{ -171.78135,-92.15434 }</string>
	
								<string>{ -284.75822,-160.66696 }</string>
	
								<string>{ -185.98261,-85.99447 }</string>

							</array>

							<array>
	
								<string>{ -154.54156,-95.16477 }</string>
	
								<string>{ -284.75822,-160.66696 }</string>
	
								<string>{ -171.78135,-92.15434 }</string>

							</array>

							<array>
	
								<string>{ -131.90996,-96.97749 }</string>
	
								<string>{ -284.75822,-160.66696 }</string>
	
								<string>{ -154.54156,-95.16477 }</string>

							</array>

							<array>
	
								<string>{ -107.37999,-93.85473 }</string>
	
								<string>{ -284.75822,-160.66696 }</string>
	
								<string>{ -131.90996,-96.97749 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 117.92926,-160.00000 }</string>
	
								<string>{ 159.72992,-26.88103 }</string>
	
								<string>{ 169.05469,-15.62700 }</string>
	
								<string>{ 284.93890,85.14470 }</string>
	
								<string>{ 284.48877,-160.32154 }</string>

							</array>

							<array>
	
								<string>{ 65.83923,117.29904 }</string>
	
								<string>{ 153.94214,106.88104 }</string>
	
								<string>{ 100.88748,92.73312 }</string>
	
								<string>{ 67.44696,107.20258 }</string>

							</array>

							<array>
	
								<string>{ 153.94214,106.88104 }</string>
	
								<string>{ 124.36014,80.83601 }</string>
	
								<string>{ 100.88748,92.73312 }</string>

							</array>

							<array>
	
								<string>{ 153.94214,106.88104 }</string>
	
								<string>{ 143.97430,68.29582 }</string>
	
								<string>{ 124.36014,80.83601 }</string>

							</array>

							<array>
	
								<string>{ 153.94214,106.88104 }</string>
	
								<string>{ 284.93890,85.14470 }</string>
	
								<string>{ 160.69455,54.46947 }</string>
	
								<string>{ 143.97430,68.29582 }</string>

							</array>

							<array>
	
								<string>{ 284.93890,85.14470 }</string>
	
								<string>{ 172.27011,38.39229 }</string>
	
								<string>{ 160.69455,54.46947 }</string>

							</array>

							<array>
	
								<string>{ 284.93890,85.14470 }</string>
	
								<string>{ 177.41479,28.10291 }</string>
	
								<string>{ 172.27011,38.39229 }</string>

							</array>

							<array>
	
								<string>{ -68.81462,-8.83426 }</string>
	
								<string>{ -16.79742,-36.20578 }</string>
	
								<string>{ 9.58258,-59.00848 }</string>
	
								<string>{ -33.27455,-37.05726 }</string>
	
								<string>{ -76.37819,-8.81186 }</string>

							</array>

							<array>
	
								<string>{ 2.96237,-42.28374 }</string>
	
								<string>{ 9.58258,-59.00848 }</string>
	
								<string>{ -16.79742,-36.20578 }</string>

							</array>

							<array>
	
								<string>{ 22.35022,-47.86201 }</string>
	
								<string>{ 41.08038,-78.97106 }</string>
	
								<string>{ 9.58258,-59.00848 }</string>
	
								<string>{ 2.96237,-42.28374 }</string>

							</array>

							<array>
	
								<string>{ 41.63834,-51.34297 }</string>
	
								<string>{ 41.08038,-78.97106 }</string>
	
								<string>{ 22.35022,-47.86201 }</string>

							</array>

							<array>
	
								<string>{ 62.30228,-52.92604 }</string>
	
								<string>{ 79.02252,-106.30225 }</string>
	
								<string>{ 41.08038,-78.97106 }</string>
	
								<string>{ 41.63834,-51.34297 }</string>

							</array>

							<array>
	
								<string>{ 89.31192,-52.60450 }</string>
	
								<string>{ 107.31833,-134.59807 }</string>
	
								<string>{ 79.02252,-106.30225 }</string>
	
								<string>{ 62.30228,-52.92604 }</string>

							</array>

							<array>
	
								<string>{ 116.96463,-47.78135 }</string>
	
								<string>{ 107.31833,-134.59807 }</string>
	
								<string>{ 89.31192,-52.60450 }</string>

							</array>

							<array>
	
								<string>{ 139.79422,-39.74276 }</string>
	
								<string>{ 117.92926,-160.00000 }</string>
	
								<string>{ 107.31833,-134.59807 }</string>
	
								<string>{ 116.96463,-47.78135 }</string>

							</array>

							<array>
	
								<string>{ 159.72992,-26.88103 }</string>
	
								<string>{ 117.92926,-160.00000 }</string>
	
								<string>{ 139.79422,-39.74276 }</string>

							</array>

							<array>
	
								<string>{ 284.93890,85.14470 }</string>
	
								<string>{ 179.34406,18.13506 }</string>
	
								<string>{ 177.41479,28.10291 }</string>

							</array>

							<array>
	
								<string>{ 284.93890,85.14470 }</string>
	
								<string>{ 177.73636,3.02251 }</string>
	
								<string>{ 179.34406,18.13506 }</string>

							</array>

							<array>
	
								<string>{ 284.93890,85.14470 }</string>
	
								<string>{ 174.19937,-7.58842 }</string>
	
								<string>{ 177.73636,3.02251 }</string>

							</array>

							<array>
	
								<string>{ 284.93890,85.14470 }</string>
	
								<string>{ 169.05469,-15.62700 }</string>
	
								<string>{ 174.19937,-7.58842 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

