<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B44</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -106.88303,24.24936 }</string>
	
								<string>{ -150.98480,42.23698 }</string>
	
								<string>{ -74.74025,27.65182 }</string>
	
								<string>{ -78.66003,21.81035 }</string>

							</array>

							<array>
	
								<string>{ -126.74367,23.90094 }</string>
	
								<string>{ -150.98480,42.23698 }</string>
	
								<string>{ -106.88303,24.24936 }</string>

							</array>

							<array>
	
								<string>{ -144.16527,22.15877 }</string>
	
								<string>{ -150.98480,42.23698 }</string>
	
								<string>{ -126.74367,23.90094 }</string>

							</array>

							<array>
	
								<string>{ -156.29040,19.35762 }</string>
	
								<string>{ -150.98480,42.23698 }</string>
	
								<string>{ -144.16527,22.15877 }</string>

							</array>

							<array>
	
								<string>{ -172.47043,13.49969 }</string>
	
								<string>{ -285.10772,57.34193 }</string>
	
								<string>{ -150.98480,42.23698 }</string>
	
								<string>{ -156.29040,19.35762 }</string>

							</array>

							<array>
	
								<string>{ -47.49135,-115.84163 }</string>
	
								<string>{ -27.84070,-138.54905 }</string>
	
								<string>{ -18.62018,-161.35691 }</string>
	
								<string>{ -106.87999,-108.85473 }</string>
	
								<string>{ -88.97606,-103.17787 }</string>
	
								<string>{ -71.94550,-103.17787 }</string>

							</array>

							<array>
	
								<string>{ -284.75822,-160.16696 }</string>
	
								<string>{ -131.40996,-111.97749 }</string>
	
								<string>{ -106.87999,-108.85473 }</string>
	
								<string>{ -18.62018,-161.35691 }</string>

							</array>

							<array>
	
								<string>{ -187.03697,5.70740 }</string>
	
								<string>{ -285.10772,57.34193 }</string>
	
								<string>{ -172.47043,13.49969 }</string>

							</array>

							<array>
	
								<string>{ -198.32287,-3.08961 }</string>
	
								<string>{ -285.10772,57.34193 }</string>
	
								<string>{ -187.03697,5.70740 }</string>

							</array>

							<array>
	
								<string>{ -205.68649,-11.97749 }</string>
	
								<string>{ -285.10772,57.34193 }</string>
	
								<string>{ -198.32287,-3.08961 }</string>

							</array>

							<array>
	
								<string>{ -205.68649,-11.97749 }</string>
	
								<string>{ -210.37344,-24.13857 }</string>
	
								<string>{ -284.75822,-160.16696 }</string>
	
								<string>{ -285.10772,57.34193 }</string>

							</array>

							<array>
	
								<string>{ -284.75822,-160.16696 }</string>
	
								<string>{ -154.04156,-110.16477 }</string>
	
								<string>{ -131.40996,-111.97749 }</string>

							</array>

							<array>
	
								<string>{ -284.75822,-160.16696 }</string>
	
								<string>{ -171.28135,-107.15434 }</string>
	
								<string>{ -154.04156,-110.16477 }</string>

							</array>

							<array>
	
								<string>{ -284.75822,-160.16696 }</string>
	
								<string>{ -185.48261,-100.99446 }</string>
	
								<string>{ -171.28135,-107.15434 }</string>

							</array>

							<array>
	
								<string>{ -284.75822,-160.16696 }</string>
	
								<string>{ -197.96945,-90.75562 }</string>
	
								<string>{ -185.48261,-100.99446 }</string>

							</array>

							<array>
	
								<string>{ -284.75822,-160.16696 }</string>
	
								<string>{ -206.88000,-78.28704 }</string>
	
								<string>{ -197.96945,-90.75562 }</string>

							</array>

							<array>
	
								<string>{ -284.75822,-160.16696 }</string>
	
								<string>{ -211.15273,-65.03215 }</string>
	
								<string>{ -206.88000,-78.28704 }</string>

							</array>

							<array>
	
								<string>{ -284.75822,-160.16696 }</string>
	
								<string>{ -212.46861,-50.86437 }</string>
	
								<string>{ -211.15273,-65.03215 }</string>

							</array>

							<array>
	
								<string>{ -284.75822,-160.16696 }</string>
	
								<string>{ -212.78734,-36.70944 }</string>
	
								<string>{ -212.46861,-50.86437 }</string>

							</array>

							<array>
	
								<string>{ -284.75822,-160.16696 }</string>
	
								<string>{ -210.37344,-24.13857 }</string>
	
								<string>{ -212.78734,-36.70944 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 113.42926,-159.50000 }</string>
	
								<string>{ 107.31833,-148.59807 }</string>
	
								<string>{ 159.72992,-40.88103 }</string>
	
								<string>{ 169.05469,-29.62700 }</string>
	
								<string>{ 284.93890,71.14470 }</string>
	
								<string>{ 283.98877,-161.82154 }</string>

							</array>

							<array>
	
								<string>{ 65.83923,103.29904 }</string>
	
								<string>{ 153.94214,92.88104 }</string>
	
								<string>{ 100.88748,78.73312 }</string>
	
								<string>{ 67.44696,93.20258 }</string>

							</array>

							<array>
	
								<string>{ 153.94214,92.88104 }</string>
	
								<string>{ 124.36014,66.83601 }</string>
	
								<string>{ 100.88748,78.73312 }</string>

							</array>

							<array>
	
								<string>{ 153.94214,92.88104 }</string>
	
								<string>{ 143.97430,54.29582 }</string>
	
								<string>{ 124.36014,66.83601 }</string>

							</array>

							<array>
	
								<string>{ 153.94214,92.88104 }</string>
	
								<string>{ 284.93890,71.14470 }</string>
	
								<string>{ 160.69455,40.46947 }</string>
	
								<string>{ 143.97430,54.29582 }</string>

							</array>

							<array>
	
								<string>{ 284.93890,71.14470 }</string>
	
								<string>{ 172.27011,24.39229 }</string>
	
								<string>{ 160.69455,40.46947 }</string>

							</array>

							<array>
	
								<string>{ 284.93890,71.14470 }</string>
	
								<string>{ 177.41479,14.10291 }</string>
	
								<string>{ 172.27011,24.39229 }</string>

							</array>

							<array>
	
								<string>{ -68.81462,-22.83426 }</string>
	
								<string>{ -16.79742,-50.20578 }</string>
	
								<string>{ 9.58258,-73.00848 }</string>
	
								<string>{ -33.27455,-51.05726 }</string>
	
								<string>{ -76.37819,-22.81186 }</string>

							</array>

							<array>
	
								<string>{ 2.96237,-56.28374 }</string>
	
								<string>{ 9.58258,-73.00848 }</string>
	
								<string>{ -16.79742,-50.20578 }</string>

							</array>

							<array>
	
								<string>{ 22.35022,-61.86201 }</string>
	
								<string>{ 41.08038,-92.97106 }</string>
	
								<string>{ 9.58258,-73.00848 }</string>
	
								<string>{ 2.96237,-56.28374 }</string>

							</array>

							<array>
	
								<string>{ 41.63834,-65.34297 }</string>
	
								<string>{ 41.08038,-92.97106 }</string>
	
								<string>{ 22.35022,-61.86201 }</string>

							</array>

							<array>
	
								<string>{ 62.30228,-66.92604 }</string>
	
								<string>{ 79.02252,-120.30225 }</string>
	
								<string>{ 41.08038,-92.97106 }</string>
	
								<string>{ 41.63834,-65.34297 }</string>

							</array>

							<array>
	
								<string>{ 89.31192,-66.60450 }</string>
	
								<string>{ 107.31833,-148.59807 }</string>
	
								<string>{ 79.02252,-120.30225 }</string>
	
								<string>{ 62.30228,-66.92604 }</string>

							</array>

							<array>
	
								<string>{ 116.96463,-61.78135 }</string>
	
								<string>{ 107.31833,-148.59807 }</string>
	
								<string>{ 89.31192,-66.60450 }</string>

							</array>

							<array>
	
								<string>{ 139.79422,-53.74276 }</string>
	
								<string>{ 107.31833,-148.59807 }</string>
	
								<string>{ 116.96463,-61.78135 }</string>

							</array>

							<array>
	
								<string>{ 159.72992,-40.88103 }</string>
	
								<string>{ 107.31833,-148.59807 }</string>
	
								<string>{ 139.79422,-53.74276 }</string>

							</array>

							<array>
	
								<string>{ 284.93890,71.14470 }</string>
	
								<string>{ 179.34406,4.13506 }</string>
	
								<string>{ 177.41479,14.10291 }</string>

							</array>

							<array>
	
								<string>{ 284.93890,71.14470 }</string>
	
								<string>{ 177.73636,-10.97749 }</string>
	
								<string>{ 179.34406,4.13506 }</string>

							</array>

							<array>
	
								<string>{ 284.93890,71.14470 }</string>
	
								<string>{ 174.19937,-21.58842 }</string>
	
								<string>{ 177.73636,-10.97749 }</string>

							</array>

							<array>
	
								<string>{ 284.93890,71.14470 }</string>
	
								<string>{ 169.05469,-29.62700 }</string>
	
								<string>{ 174.19937,-21.58842 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

