<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entities</key>
	<array>
		<dict>
			<key>components</key>
			<dict>
				<key>slinger</key>
				<dict>
					<key>queuedBeeTypes</key>
					<array>
						<string>BEE</string>
						<string>SPEEDEE</string>
					</array>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{63, 282}</string>
					<key>rotation</key>
					<real>330</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>SLINGER</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{280, 203}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{280, 203}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>WOOD-3</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{430, 240}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{430, 240}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>EGG</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>captured</key>
				<dict>
					<key>containedBeeTypes</key>
					<array>
						<string>BEE</string>
					</array>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{240, 321}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{240, 321}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>BEEATER-HANGING-B</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>captured</key>
				<dict>
					<key>containedBeeTypes</key>
					<array>
						<string>BEE</string>
					</array>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{205, 324}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{205, 324}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>BEEATER-HANGING-B</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>captured</key>
				<dict>
					<key>containedBeeTypes</key>
					<array>
						<string>SAWEE</string>
					</array>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{161, 51}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{161, 51}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{-1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>BEEATER-LAND-B</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>captured</key>
				<dict>
					<key>containedBeeTypes</key>
					<array>
						<string>BEE</string>
					</array>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{382, 42}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{382, 42}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>BEEATER-LAND-B</string>
		</dict>
	</array>
	<key>format</key>
	<integer>2</integer>
	<key>hasWater</key>
	<true/>
	<key>name</key>
	<string>Level-B4</string>
	<key>pollenForThreeFlowers</key>
	<integer>250</integer>
	<key>pollenForTwoFlowers</key>
	<integer>220</integer>
	<key>version</key>
	<integer>4</integer>
</dict>
</plist>
