<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B55</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 71.93576,29.13840 }</string>
	
								<string>{ 99.88336,33.50522 }</string>
	
								<string>{ 73.68250,13.85455 }</string>

							</array>

							<array>
	
								<string>{ 65.38553,38.74539 }</string>
	
								<string>{ 102.50345,63.63622 }</string>
	
								<string>{ 113.42047,43.54889 }</string>
	
								<string>{ 99.88336,33.50522 }</string>
	
								<string>{ 71.93576,29.13840 }</string>

							</array>

							<array>
	
								<string>{ 132.63446,49.22574 }</string>
	
								<string>{ 102.50345,63.63622 }</string>
	
								<string>{ 160.40738,59.96809 }</string>
	
								<string>{ 158.39865,53.15587 }</string>

							</array>

							<array>
	
								<string>{ 113.42047,43.54889 }</string>
	
								<string>{ 102.50345,63.63622 }</string>
	
								<string>{ 132.63446,49.22574 }</string>

							</array>

							<array>
	
								<string>{ 65.38553,38.74539 }</string>
	
								<string>{ 17.78729,66.69299 }</string>
	
								<string>{ 102.50345,63.63622 }</string>

							</array>

							<array>
	
								<string>{ -100.11664,60.84146 }</string>
	
								<string>{ 17.78729,66.69299 }</string>
	
								<string>{ -37.67123,54.46591 }</string>
	
								<string>{ -97.05988,50.09911 }</string>

							</array>

							<array>
	
								<string>{ 17.78729,66.69299 }</string>
	
								<string>{ 26.95758,54.46591 }</string>
	
								<string>{ -37.67123,54.46591 }</string>

							</array>

							<array>
	
								<string>{ 17.78729,66.69299 }</string>
	
								<string>{ 48.35498,48.35237 }</string>
	
								<string>{ 26.95758,54.46591 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 253.44238,118.16595 }</string>
	
								<string>{ 187.94019,160.34933 }</string>
	
								<string>{ 252.83105,159.47598 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 284.83881,-160.00000 }</string>
	
								<string>{ 217.78729,-51.77471 }</string>
	
								<string>{ 283.78296,7.21106 }</string>

							</array>

							<array>
	
								<string>{ -160.99001,50.67070 }</string>
	
								<string>{ -159.06861,28.57463 }</string>
	
								<string>{ -284.00000,-160.12708 }</string>
	
								<string>{ -284.74628,36.41975 }</string>

							</array>

							<array>
	
								<string>{ 100.75671,-53.08475 }</string>
	
								<string>{ 61.73477,-42.04691 }</string>
	
								<string>{ 75.71741,-33.59140 }</string>
	
								<string>{ 86.78293,-28.19392 }</string>

							</array>

							<array>
	
								<string>{ 284.83881,-160.00000 }</string>
	
								<string>{ 185.47287,-76.66553 }</string>
	
								<string>{ 217.78729,-51.77471 }</string>

							</array>

							<array>
	
								<string>{ 111.67377,-71.42536 }</string>
	
								<string>{ 20.90573,-77.93153 }</string>
	
								<string>{ 37.52728,-61.35527 }</string>
	
								<string>{ 48.81808,-51.17191 }</string>
	
								<string>{ 61.73477,-42.04691 }</string>
	
								<string>{ 100.75671,-53.08475 }</string>

							</array>

							<array>
	
								<string>{ 284.83881,-160.00000 }</string>
	
								<string>{ 161.01874,-83.65244 }</string>
	
								<string>{ 185.47287,-76.66553 }</string>

							</array>

							<array>
	
								<string>{ -284.00000,-160.12708 }</string>
	
								<string>{ 142.67813,-85.39916 }</string>
	
								<string>{ 161.01874,-83.65244 }</string>
	
								<string>{ 284.83881,-160.00000 }</string>

							</array>

							<array>
	
								<string>{ 111.67377,-71.42536 }</string>
	
								<string>{ 127.83096,-81.90572 }</string>
	
								<string>{ 2.50345,-95.00615 }</string>
	
								<string>{ 20.90573,-77.93153 }</string>

							</array>

							<array>
	
								<string>{ 127.83096,-81.90572 }</string>
	
								<string>{ 142.67813,-85.39916 }</string>
	
								<string>{ -11.17587,-106.60023 }</string>
	
								<string>{ 2.50345,-95.00615 }</string>

							</array>

							<array>
	
								<string>{ -156.01184,4.55717 }</string>
	
								<string>{ -284.00000,-160.12708 }</string>
	
								<string>{ -159.06861,28.57463 }</string>

							</array>

							<array>
	
								<string>{ -150.77167,-14.22012 }</string>
	
								<string>{ -284.00000,-160.12708 }</string>
	
								<string>{ -156.01184,4.55717 }</string>

							</array>

							<array>
	
								<string>{ -143.34808,-30.81401 }</string>
	
								<string>{ -284.00000,-160.12708 }</string>
	
								<string>{ -150.77167,-14.22012 }</string>

							</array>

							<array>
	
								<string>{ -133.74110,-46.97121 }</string>
	
								<string>{ -284.00000,-160.12708 }</string>
	
								<string>{ -143.34808,-30.81401 }</string>

							</array>

							<array>
	
								<string>{ -123.26074,-60.94501 }</string>
	
								<string>{ -284.00000,-160.12708 }</string>
	
								<string>{ -133.74110,-46.97121 }</string>

							</array>

							<array>
	
								<string>{ -111.47035,-74.91882 }</string>
	
								<string>{ -284.00000,-160.12708 }</string>
	
								<string>{ -123.26074,-60.94501 }</string>

							</array>

							<array>
	
								<string>{ -100.11664,-87.58257 }</string>
	
								<string>{ -284.00000,-160.12708 }</string>
	
								<string>{ -111.47035,-74.91882 }</string>

							</array>

							<array>
	
								<string>{ -87.88957,-97.18956 }</string>
	
								<string>{ -284.00000,-160.12708 }</string>
	
								<string>{ -100.11664,-87.58257 }</string>

							</array>

							<array>
	
								<string>{ -72.16905,-107.66991 }</string>
	
								<string>{ -284.00000,-160.12708 }</string>
	
								<string>{ -87.88957,-97.18956 }</string>

							</array>

							<array>
	
								<string>{ -58.60550,-113.34676 }</string>
	
								<string>{ -284.00000,-160.12708 }</string>
	
								<string>{ -72.16905,-107.66991 }</string>

							</array>

							<array>
	
								<string>{ 142.67813,-85.39916 }</string>
	
								<string>{ -26.55286,-112.46459 }</string>
	
								<string>{ -11.17587,-106.60023 }</string>

							</array>

							<array>
	
								<string>{ -41.29556,-113.94075 }</string>
	
								<string>{ -284.00000,-160.12708 }</string>
	
								<string>{ -58.60550,-113.34676 }</string>

							</array>

							<array>
	
								<string>{ -284.00000,-160.12708 }</string>
	
								<string>{ -41.29556,-113.94075 }</string>
	
								<string>{ -26.55286,-112.46459 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

