<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B24</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -130.82969,42.62009 }</string>
	
								<string>{ -136.06987,-12.83842 }</string>
	
								<string>{ -241.31004,-161.31004 }</string>
	
								<string>{ -240.00000,45.50218 }</string>

							</array>

							<array>
	
								<string>{ -65.32751,53.53712 }</string>
	
								<string>{ -63.58078,104.62881 }</string>
	
								<string>{ -48.29694,74.93451 }</string>
	
								<string>{ -56.15720,53.53712 }</string>

							</array>

							<array>
	
								<string>{ -63.58078,104.62881 }</string>
	
								<string>{ -20.78603,94.58516 }</string>
	
								<string>{ -48.29694,74.93451 }</string>

							</array>

							<array>
	
								<string>{ 19.82532,121.65939 }</string>
	
								<string>{ 114.58514,134.75983 }</string>
	
								<string>{ 54.32315,110.30569 }</string>
	
								<string>{ -20.78603,94.58516 }</string>
	
								<string>{ -63.58078,104.62881 }</string>

							</array>

							<array>
	
								<string>{ 114.58514,134.75983 }</string>
	
								<string>{ 106.72488,112.48907 }</string>
	
								<string>{ 54.32315,110.30569 }</string>

							</array>

							<array>
	
								<string>{ 114.58514,134.75983 }</string>
	
								<string>{ 239.73801,137.64194 }</string>
	
								<string>{ 145.15283,110.74237 }</string>
	
								<string>{ 106.72488,112.48907 }</string>

							</array>

							<array>
	
								<string>{ 239.73801,137.64194 }</string>
	
								<string>{ 178.77731,100.69870 }</string>
	
								<string>{ 145.15283,110.74237 }</string>

							</array>

							<array>
	
								<string>{ 239.73801,137.64194 }</string>
	
								<string>{ 200.61136,73.62445 }</string>
	
								<string>{ 178.77731,100.69870 }</string>

							</array>

							<array>
	
								<string>{ 239.73801,137.64194 }</string>
	
								<string>{ 209.34497,33.88646 }</string>
	
								<string>{ 200.61136,73.62445 }</string>

							</array>

							<array>
	
								<string>{ 240.78604,-159.56332 }</string>
	
								<string>{ 211.96509,-22.00873 }</string>
	
								<string>{ 209.34497,33.88646 }</string>
	
								<string>{ 239.73801,137.64194 }</string>

							</array>

							<array>
	
								<string>{ -136.50655,-49.08297 }</string>
	
								<string>{ -241.31004,-161.31004 }</string>
	
								<string>{ -136.06987,-12.83842 }</string>

							</array>

							<array>
	
								<string>{ -128.64629,-73.10043 }</string>
	
								<string>{ -241.31004,-161.31004 }</string>
	
								<string>{ -136.50655,-49.08297 }</string>

							</array>

							<array>
	
								<string>{ -119.91266,-97.55458 }</string>
	
								<string>{ -241.31004,-161.31004 }</string>
	
								<string>{ -128.64629,-73.10043 }</string>

							</array>

							<array>
	
								<string>{ -103.31877,-113.27511 }</string>
	
								<string>{ -241.31004,-161.31004 }</string>
	
								<string>{ -119.91266,-97.55458 }</string>

							</array>

							<array>
	
								<string>{ -81.48471,-120.26201 }</string>
	
								<string>{ -241.31004,-161.31004 }</string>
	
								<string>{ -103.31877,-113.27511 }</string>

							</array>

							<array>
	
								<string>{ -81.48471,-120.26201 }</string>
	
								<string>{ 173.97382,-124.19214 }</string>
	
								<string>{ 240.78604,-159.56332 }</string>
	
								<string>{ -241.31004,-161.31004 }</string>

							</array>

							<array>
	
								<string>{ 191.87775,-108.03493 }</string>
	
								<string>{ 240.78604,-159.56332 }</string>
	
								<string>{ 173.97382,-124.19214 }</string>

							</array>

							<array>
	
								<string>{ 199.73801,-90.13100 }</string>
	
								<string>{ 240.78604,-159.56332 }</string>
	
								<string>{ 191.87775,-108.03493 }</string>

							</array>

							<array>
	
								<string>{ 209.34497,-58.68996 }</string>
	
								<string>{ 240.78604,-159.56332 }</string>
	
								<string>{ 199.73801,-90.13100 }</string>

							</array>

							<array>
	
								<string>{ 211.96509,-22.00873 }</string>
	
								<string>{ 240.78604,-159.56332 }</string>
	
								<string>{ 209.34497,-58.68996 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

