<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B38-Cave</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 241.11456,8.73065 }</string>
	
								<string>{ 177.95667,-58.45201 }</string>
	
								<string>{ 129.34985,0.99071 }</string>

							</array>

							<array>
	
								<string>{ 241.11456,8.73065 }</string>
	
								<string>{ 197.77090,-86.31579 }</string>
	
								<string>{ 177.95667,-58.45201 }</string>

							</array>

							<array>
	
								<string>{ 241.42413,-160.00000 }</string>
	
								<string>{ 203.96286,-109.84520 }</string>
	
								<string>{ 197.77090,-86.31579 }</string>
	
								<string>{ 241.11456,8.73065 }</string>

							</array>

							<array>
	
								<string>{ 124.08667,-128.11146 }</string>
	
								<string>{ -138.45201,-135.23220 }</string>
	
								<string>{ 5.51083,-91.88854 }</string>

							</array>

							<array>
	
								<string>{ -153.31269,-65.26316 }</string>
	
								<string>{ -168.79257,-65.88235 }</string>
	
								<string>{ -240.30960,-49.72136 }</string>
	
								<string>{ -131.57895,-50.65015 }</string>
	
								<string>{ -131.33127,-55.66563 }</string>

							</array>

							<array>
	
								<string>{ -187.36842,-82.29102 }</string>
	
								<string>{ -240.30960,-49.72136 }</string>
	
								<string>{ -168.79257,-65.88235 }</string>

							</array>

							<array>
	
								<string>{ -187.36842,-82.29102 }</string>
	
								<string>{ -194.79876,-99.93808 }</string>
	
								<string>{ -240.30960,-160.30960 }</string>
	
								<string>{ -240.30960,-49.72136 }</string>

							</array>

							<array>
	
								<string>{ 241.42413,-160.00000 }</string>
	
								<string>{ 195.91330,-125.94427 }</string>
	
								<string>{ 203.96286,-109.84520 }</string>

							</array>

							<array>
	
								<string>{ 241.42413,-160.00000 }</string>
	
								<string>{ 168.97833,-136.16099 }</string>
	
								<string>{ 195.91330,-125.94427 }</string>

							</array>

							<array>
	
								<string>{ -240.30960,-160.30960 }</string>
	
								<string>{ -170.34056,-138.94737 }</string>
	
								<string>{ -138.45201,-135.23220 }</string>
	
								<string>{ 124.08667,-128.11146 }</string>
	
								<string>{ 168.97833,-136.16099 }</string>
	
								<string>{ 241.42413,-160.00000 }</string>

							</array>

							<array>
	
								<string>{ -199.44273,-116.96595 }</string>
	
								<string>{ -240.30960,-160.30960 }</string>
	
								<string>{ -194.79876,-99.93808 }</string>

							</array>

							<array>
	
								<string>{ -190.46440,-130.58824 }</string>
	
								<string>{ -240.30960,-160.30960 }</string>
	
								<string>{ -199.44273,-116.96595 }</string>

							</array>

							<array>
	
								<string>{ -170.34056,-138.94737 }</string>
	
								<string>{ -240.30960,-160.30960 }</string>
	
								<string>{ -190.46440,-130.58824 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -239.69040,-48.23530 }</string>
	
								<string>{ -197.27554,-1.48607 }</string>
	
								<string>{ -196.34675,-48.85449 }</string>

							</array>

							<array>
	
								<string>{ 129.65945,2.53870 }</string>
	
								<string>{ 129.34985,8.11145 }</string>
	
								<string>{ 187.86377,95.41795 }</string>
	
								<string>{ 239.93808,160.49536 }</string>
	
								<string>{ 240.49536,9.65944 }</string>

							</array>

							<array>
	
								<string>{ -197.27554,-1.48607 }</string>
	
								<string>{ -198.20433,84.27245 }</string>
	
								<string>{ -180.86687,39.07121 }</string>
	
								<string>{ -176.84211,23.90092 }</string>
	
								<string>{ -175.91331,5.94427 }</string>

							</array>

							<array>
	
								<string>{ -239.69040,-48.23530 }</string>
	
								<string>{ -240.61920,160.18576 }</string>
	
								<string>{ -207.18266,123.90094 }</string>
	
								<string>{ -198.20433,84.27245 }</string>
	
								<string>{ -197.27554,-1.48607 }</string>

							</array>

							<array>
	
								<string>{ -240.61920,160.18576 }</string>
	
								<string>{ -198.82353,138.76160 }</string>
	
								<string>{ -207.18266,123.90094 }</string>

							</array>

							<array>
	
								<string>{ -112.75542,106.25388 }</string>
	
								<string>{ 11.39319,116.16098 }</string>
	
								<string>{ -74.98453,88.60681 }</string>
	
								<string>{ -83.96284,86.74922 }</string>

							</array>

							<array>
	
								<string>{ -174.05573,137.83282 }</string>
	
								<string>{ 97.46130,134.42725 }</string>
	
								<string>{ 11.39319,116.16098 }</string>
	
								<string>{ -112.75542,106.25388 }</string>

							</array>

							<array>
	
								<string>{ -240.61920,160.18576 }</string>
	
								<string>{ 239.93808,160.49536 }</string>
	
								<string>{ 164.64395,137.21362 }</string>
	
								<string>{ 97.46130,134.42725 }</string>
	
								<string>{ -198.82353,138.76160 }</string>

							</array>

							<array>
	
								<string>{ 239.93808,160.49536 }</string>
	
								<string>{ 182.60062,127.30649 }</string>
	
								<string>{ 164.64395,137.21362 }</string>

							</array>

							<array>
	
								<string>{ 239.93808,160.49536 }</string>
	
								<string>{ 188.17337,113.37460 }</string>
	
								<string>{ 182.60062,127.30649 }</string>

							</array>

							<array>
	
								<string>{ 239.93808,160.49536 }</string>
	
								<string>{ 187.86377,95.41795 }</string>
	
								<string>{ 188.17337,113.37460 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

