<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B52</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 10.65503,-67.42358 }</string>
	
								<string>{ -22.96942,-52.13974 }</string>
	
								<string>{ -62.27074,-27.68559 }</string>
	
								<string>{ -7.24890,-41.65939 }</string>
	
								<string>{ 23.58078,-56.68122 }</string>

							</array>

							<array>
	
								<string>{ -63.14410,-43.40611 }</string>
	
								<string>{ -62.27074,-27.68559 }</string>
	
								<string>{ -22.96942,-52.13974 }</string>

							</array>

							<array>
	
								<string>{ -109.86899,-35.54585 }</string>
	
								<string>{ -131.70306,-17.20523 }</string>
	
								<string>{ -62.27074,-27.68559 }</string>
	
								<string>{ -63.14410,-43.40611 }</string>

							</array>

							<array>
	
								<string>{ -136.94323,-33.36244 }</string>
	
								<string>{ -131.70306,-17.20523 }</string>
	
								<string>{ -109.86899,-35.54585 }</string>

							</array>

							<array>
	
								<string>{ -159.65065,-35.54585 }</string>
	
								<string>{ -240.00000,-8.64629 }</string>
	
								<string>{ -131.70306,-17.20523 }</string>
	
								<string>{ -136.94323,-33.36244 }</string>

							</array>

							<array>
	
								<string>{ 188.38428,22.09607 }</string>
	
								<string>{ 194.06116,-14.14847 }</string>
	
								<string>{ 172.66376,1.57205 }</string>
	
								<string>{ 167.86026,7.68559 }</string>

							</array>

							<array>
	
								<string>{ 208.03494,38.68996 }</string>
	
								<string>{ 213.71179,-37.29257 }</string>
	
								<string>{ 194.06116,-14.14847 }</string>
	
								<string>{ 188.38428,22.09607 }</string>

							</array>

							<array>
	
								<string>{ 222.88211,62.27075 }</string>
	
								<string>{ 220.69870,-58.25327 }</string>
	
								<string>{ 213.71179,-37.29257 }</string>
	
								<string>{ 208.03494,38.68996 }</string>

							</array>

							<array>
	
								<string>{ -182.79476,-38.60262 }</string>
	
								<string>{ -240.00000,-8.64629 }</string>
	
								<string>{ -159.65065,-35.54585 }</string>

							</array>

							<array>
	
								<string>{ -202.44542,-53.44978 }</string>
	
								<string>{ -240.00000,-8.64629 }</string>
	
								<string>{ -182.79476,-38.60262 }</string>

							</array>

							<array>
	
								<string>{ -210.30568,-67.42358 }</string>
	
								<string>{ -240.00000,-8.64629 }</string>
	
								<string>{ -202.44542,-53.44978 }</string>

							</array>

							<array>
	
								<string>{ -210.30568,-67.42358 }</string>
	
								<string>{ -210.74236,-87.07423 }</string>
	
								<string>{ -239.56332,-160.87336 }</string>
	
								<string>{ -240.00000,-8.64629 }</string>

							</array>

							<array>
	
								<string>{ 55.63318,159.65067 }</string>
	
								<string>{ 241.22272,160.96069 }</string>
	
								<string>{ 170.04367,149.60699 }</string>
	
								<string>{ 70.48035,146.11356 }</string>

							</array>

							<array>
	
								<string>{ 241.22272,160.96069 }</string>
	
								<string>{ 197.99127,141.31006 }</string>
	
								<string>{ 170.04367,149.60699 }</string>

							</array>

							<array>
	
								<string>{ 241.22272,160.96069 }</string>
	
								<string>{ 217.20526,126.46289 }</string>
	
								<string>{ 197.99127,141.31006 }</string>

							</array>

							<array>
	
								<string>{ 241.22272,160.96069 }</string>
	
								<string>{ 225.93887,109.86899 }</string>
	
								<string>{ 217.20526,126.46289 }</string>

							</array>

							<array>
	
								<string>{ 241.22272,160.96069 }</string>
	
								<string>{ 228.55896,87.59825 }</string>
	
								<string>{ 225.93887,109.86899 }</string>

							</array>

							<array>
	
								<string>{ 92.31442,-90.56769 }</string>
	
								<string>{ 131.61572,-108.90829 }</string>
	
								<string>{ 45.58954,-118.07860 }</string>
	
								<string>{ 83.58078,-91.00436 }</string>

							</array>

							<array>
	
								<string>{ 131.61572,-108.90829 }</string>
	
								<string>{ 156.50656,-115.89520 }</string>
	
								<string>{ 27.68561,-129.86900 }</string>
	
								<string>{ 45.58954,-118.07860 }</string>

							</array>

							<array>
	
								<string>{ 156.50656,-115.89520 }</string>
	
								<string>{ 188.82095,-115.89520 }</string>
	
								<string>{ 241.22272,-159.56332 }</string>
	
								<string>{ 1.48473,-143.84279 }</string>
	
								<string>{ 27.68561,-129.86900 }</string>

							</array>

							<array>
	
								<string>{ -202.44542,-97.99126 }</string>
	
								<string>{ -239.56332,-160.87336 }</string>
	
								<string>{ -210.74236,-87.07423 }</string>

							</array>

							<array>
	
								<string>{ -192.40174,-107.16157 }</string>
	
								<string>{ -239.56332,-160.87336 }</string>
	
								<string>{ -202.44542,-97.99126 }</string>

							</array>

							<array>
	
								<string>{ -174.93449,-115.02183 }</string>
	
								<string>{ -239.56332,-160.87336 }</string>
	
								<string>{ -192.40174,-107.16157 }</string>

							</array>

							<array>
	
								<string>{ -150.04366,-125.93887 }</string>
	
								<string>{ -239.56332,-160.87336 }</string>
	
								<string>{ -174.93449,-115.02183 }</string>

							</array>

							<array>
	
								<string>{ -124.71616,-134.23581 }</string>
	
								<string>{ -239.56332,-160.87336 }</string>
	
								<string>{ -150.04366,-125.93887 }</string>

							</array>

							<array>
	
								<string>{ -98.07860,-141.22271 }</string>
	
								<string>{ -239.56332,-160.87336 }</string>
	
								<string>{ -124.71616,-134.23581 }</string>

							</array>

							<array>
	
								<string>{ -67.94760,-146.46288 }</string>
	
								<string>{ -239.56332,-160.87336 }</string>
	
								<string>{ -98.07860,-141.22271 }</string>

							</array>

							<array>
	
								<string>{ 241.22272,-159.56332 }</string>
	
								<string>{ 222.00873,-83.14410 }</string>
	
								<string>{ 220.69870,-58.25327 }</string>
	
								<string>{ 228.55896,87.59825 }</string>
	
								<string>{ 241.22272,160.96069 }</string>

							</array>

							<array>
	
								<string>{ 228.55896,87.59825 }</string>
	
								<string>{ 220.69870,-58.25327 }</string>
	
								<string>{ 222.88211,62.27075 }</string>

							</array>

							<array>
	
								<string>{ 241.22272,-159.56332 }</string>
	
								<string>{ 211.96509,-104.10480 }</string>
	
								<string>{ 222.00873,-83.14410 }</string>

							</array>

							<array>
	
								<string>{ 241.22272,-159.56332 }</string>
	
								<string>{ 188.82095,-115.89520 }</string>
	
								<string>{ 211.96509,-104.10480 }</string>

							</array>

							<array>
	
								<string>{ -29.08296,-149.51965 }</string>
	
								<string>{ -239.56332,-160.87336 }</string>
	
								<string>{ -67.94760,-146.46288 }</string>

							</array>

							<array>
	
								<string>{ -29.08296,-149.51965 }</string>
	
								<string>{ 241.22272,-159.56332 }</string>
	
								<string>{ -239.56332,-160.87336 }</string>

							</array>

							<array>
	
								<string>{ 241.22272,-159.56332 }</string>
	
								<string>{ -29.08296,-149.51965 }</string>
	
								<string>{ 1.48473,-143.84279 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -240.00000,-120.00000 }</string>
	
								<string>{ -200.00000,-120.00000 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 127.24890,16.41922 }</string>
	
								<string>{ 96.24454,22.96944 }</string>
	
								<string>{ 116.76855,39.56332 }</string>
	
								<string>{ 135.98254,26.46289 }</string>

							</array>

							<array>
	
								<string>{ 96.24454,22.96944 }</string>
	
								<string>{ 56.06989,28.64629 }</string>
	
								<string>{ 38.16595,48.29695 }</string>
	
								<string>{ 60.87338,55.28384 }</string>
	
								<string>{ 104.10480,54.41048 }</string>
	
								<string>{ 116.76855,39.56332 }</string>

							</array>

							<array>
	
								<string>{ 99.30133,71.87773 }</string>
	
								<string>{ 80.08734,70.56769 }</string>
	
								<string>{ 87.94760,91.09171 }</string>
	
								<string>{ 96.94324,90.48035 }</string>

							</array>

							<array>
	
								<string>{ 104.10480,54.41048 }</string>
	
								<string>{ 60.87338,55.28384 }</string>
	
								<string>{ 80.08734,70.56769 }</string>
	
								<string>{ 99.30133,71.87773 }</string>

							</array>

							<array>
	
								<string>{ 18.07861,32.13974 }</string>
	
								<string>{ 7.59825,45.24017 }</string>
	
								<string>{ 38.16595,48.29695 }</string>
	
								<string>{ 56.06989,28.64629 }</string>

							</array>

							<array>
	
								<string>{ -33.88646,33.44978 }</string>
	
								<string>{ -35.19650,42.44542 }</string>
	
								<string>{ 7.59825,45.24017 }</string>
	
								<string>{ 18.07861,32.13974 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -240.43668,120.78604 }</string>
	
								<string>{ -240.43668,160.78604 }</string>
	
								<string>{ -180.78603,159.91266 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

