<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B2</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 185.14792,89.40828 }</string>
	
								<string>{ 214.43787,105.38461 }</string>
	
								<string>{ 189.88165,62.48520 }</string>
	
								<string>{ 171.24258,75.79881 }</string>

							</array>

							<array>
	
								<string>{ 240.17749,140.59171 }</string>
	
								<string>{ 240.17749,-158.81657 }</string>
	
								<string>{ 225.68045,-14.14201 }</string>
	
								<string>{ 222.72186,119.88165 }</string>
	
								<string>{ 227.15976,146.50888 }</string>

							</array>

							<array>
	
								<string>{ 214.43787,105.38461 }</string>
	
								<string>{ 211.47928,18.10651 }</string>
	
								<string>{ 189.88165,62.48520 }</string>

							</array>

							<array>
	
								<string>{ 99.34909,36.44969 }</string>
	
								<string>{ 81.59763,51.83430 }</string>
	
								<string>{ 73.31360,64.85207 }</string>
	
								<string>{ 73.60947,73.43195 }</string>
	
								<string>{ 113.55029,74.02367 }</string>
	
								<string>{ 120.94675,64.26035 }</string>

							</array>

							<array>
	
								<string>{ 1.12425,-3.19527 }</string>
	
								<string>{ 44.31952,7.75148 }</string>
	
								<string>{ 26.27219,-13.25444 }</string>
	
								<string>{ 2.01183,-11.18344 }</string>

							</array>

							<array>
	
								<string>{ 44.31952,7.75148 }</string>
	
								<string>{ 71.53845,21.65680 }</string>
	
								<string>{ 45.79880,-21.24261 }</string>
	
								<string>{ 26.27219,-13.25444 }</string>

							</array>

							<array>
	
								<string>{ 71.53845,21.65680 }</string>
	
								<string>{ 88.99408,8.04733 }</string>
	
								<string>{ 88.99408,-17.69231 }</string>
	
								<string>{ 60.59171,-37.81065 }</string>
	
								<string>{ 45.79880,-21.24261 }</string>

							</array>

							<array>
	
								<string>{ -70.47337,-28.63905 }</string>
	
								<string>{ -95.91716,-47.86983 }</string>
	
								<string>{ -97.69231,-32.78107 }</string>
	
								<string>{ -72.84024,-21.53847 }</string>

							</array>

							<array>
	
								<string>{ -95.91716,-47.86983 }</string>
	
								<string>{ -113.96450,-70.65089 }</string>
	
								<string>{ -121.95267,-38.40237 }</string>
	
								<string>{ -97.69231,-32.78107 }</string>

							</array>

							<array>
	
								<string>{ -113.96450,-70.65089 }</string>
	
								<string>{ -117.21894,-98.75740 }</string>
	
								<string>{ -240.59172,-160.29586 }</string>
	
								<string>{ -205.38462,-39.88166 }</string>
	
								<string>{ -121.95267,-38.40237 }</string>

							</array>

							<array>
	
								<string>{ 99.34909,36.44969 }</string>
	
								<string>{ 88.99408,8.04733 }</string>
	
								<string>{ 82.78107,37.92899 }</string>
	
								<string>{ 81.59763,51.83430 }</string>

							</array>

							<array>
	
								<string>{ 88.99408,8.04733 }</string>
	
								<string>{ 71.53845,21.65680 }</string>
	
								<string>{ 82.78107,37.92899 }</string>

							</array>

							<array>
	
								<string>{ 99.05325,-30.71007 }</string>
	
								<string>{ 63.84613,-59.40829 }</string>
	
								<string>{ 60.59171,-37.81065 }</string>
	
								<string>{ 88.99408,-17.69231 }</string>

							</array>

							<array>
	
								<string>{ 112.36685,-38.10651 }</string>
	
								<string>{ 64.14200,-78.34320 }</string>
	
								<string>{ 63.84613,-59.40829 }</string>
	
								<string>{ 99.05325,-30.71007 }</string>

							</array>

							<array>
	
								<string>{ 214.43787,-33.96450 }</string>
	
								<string>{ 56.15384,-104.67456 }</string>
	
								<string>{ 64.14200,-78.34320 }</string>
	
								<string>{ 112.36685,-38.10651 }</string>

							</array>

							<array>
	
								<string>{ -169.88166,60.41420 }</string>
	
								<string>{ -184.08284,77.86981 }</string>
	
								<string>{ -127.21894,78.22484 }</string>
	
								<string>{ -130.23669,69.58578 }</string>

							</array>

							<array>
	
								<string>{ -201.53846,45.62129 }</string>
	
								<string>{ -240.88757,73.49112 }</string>
	
								<string>{ -184.08284,77.86981 }</string>
	
								<string>{ -169.88166,60.41420 }</string>

							</array>

							<array>
	
								<string>{ -222.84024,22.24852 }</string>
	
								<string>{ -240.88757,73.49112 }</string>
	
								<string>{ -201.53846,45.62129 }</string>

							</array>

							<array>
	
								<string>{ -229.05326,-6.44971 }</string>
	
								<string>{ -240.88757,73.49112 }</string>
	
								<string>{ -222.84024,22.24852 }</string>

							</array>

							<array>
	
								<string>{ 214.43787,105.38461 }</string>
	
								<string>{ 222.72186,119.88165 }</string>
	
								<string>{ 225.68045,-14.14201 }</string>
	
								<string>{ 211.47928,18.10651 }</string>

							</array>

							<array>
	
								<string>{ -229.05326,-6.44971 }</string>
	
								<string>{ -240.59172,-160.29586 }</string>
	
								<string>{ -240.88757,73.49112 }</string>

							</array>

							<array>
	
								<string>{ -221.36095,-28.63905 }</string>
	
								<string>{ -240.59172,-160.29586 }</string>
	
								<string>{ -229.05326,-6.44971 }</string>

							</array>

							<array>
	
								<string>{ -205.38462,-39.88166 }</string>
	
								<string>{ -240.59172,-160.29586 }</string>
	
								<string>{ -221.36095,-28.63905 }</string>

							</array>

							<array>
	
								<string>{ -102.13019,-118.87574 }</string>
	
								<string>{ -240.59172,-160.29586 }</string>
	
								<string>{ -117.21894,-98.75740 }</string>

							</array>

							<array>
	
								<string>{ -77.27811,-133.96450 }</string>
	
								<string>{ -240.59172,-160.29586 }</string>
	
								<string>{ -102.13019,-118.87574 }</string>

							</array>

							<array>
	
								<string>{ 214.43787,-33.96450 }</string>
	
								<string>{ 240.17749,-158.81657 }</string>
	
								<string>{ 39.28992,-126.56805 }</string>
	
								<string>{ 56.15384,-104.67456 }</string>

							</array>

							<array>
	
								<string>{ -48.87575,-138.99408 }</string>
	
								<string>{ -240.59172,-160.29586 }</string>
	
								<string>{ -77.27811,-133.96450 }</string>

							</array>

							<array>
	
								<string>{ -48.87575,-138.99408 }</string>
	
								<string>{ -22.84024,-138.40237 }</string>
	
								<string>{ 240.17749,-158.81657 }</string>
	
								<string>{ -240.59172,-160.29586 }</string>

							</array>

							<array>
	
								<string>{ 240.17749,-158.81657 }</string>
	
								<string>{ 221.83429,-26.27219 }</string>
	
								<string>{ 225.68045,-14.14201 }</string>

							</array>

							<array>
	
								<string>{ 240.17749,-158.81657 }</string>
	
								<string>{ 214.43787,-33.96450 }</string>
	
								<string>{ 221.83429,-26.27219 }</string>

							</array>

							<array>
	
								<string>{ 240.17749,-158.81657 }</string>
	
								<string>{ 12.95857,-135.44379 }</string>
	
								<string>{ 39.28992,-126.56805 }</string>

							</array>

							<array>
	
								<string>{ 240.17749,-158.81657 }</string>
	
								<string>{ -22.84024,-138.40237 }</string>
	
								<string>{ 12.95857,-135.44379 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 221.53845,150.05917 }</string>
	
								<string>{ 241.71597,159.58578 }</string>
	
								<string>{ 240.76923,141.18341 }</string>

							</array>

							<array>
	
								<string>{ 89.28992,154.20117 }</string>
	
								<string>{ 241.71597,159.58578 }</string>
	
								<string>{ 221.53845,150.05917 }</string>

							</array>

							<array>
	
								<string>{ -240.29586,160.47336 }</string>
	
								<string>{ 241.71597,159.58578 }</string>
	
								<string>{ -239.70414,147.39645 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 41.65680,125.56213 }</string>
	
								<string>{ 71.24258,125.20709 }</string>
	
								<string>{ 75.38461,114.26035 }</string>
	
								<string>{ 47.57394,96.80472 }</string>
	
								<string>{ 33.66864,110.41418 }</string>

							</array>

							<array>
	
								<string>{ 87.81064,134.67456 }</string>
	
								<string>{ 121.00592,129.40826 }</string>
	
								<string>{ 117.69229,123.13608 }</string>
	
								<string>{ 75.38461,114.26035 }</string>
	
								<string>{ 71.24258,125.20709 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

