<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B35</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 41.70407,-85.32751 }</string>
	
								<string>{ -57.85925,-99.73799 }</string>
	
								<string>{ -5.89420,-60.43668 }</string>

							</array>

							<array>
	
								<string>{ 42.40274,159.47598 }</string>
	
								<string>{ 15.50320,133.01309 }</string>
	
								<string>{ -45.63219,141.74673 }</string>

							</array>

							<array>
	
								<string>{ 42.40274,159.47598 }</string>
	
								<string>{ 43.45078,122.96945 }</string>
	
								<string>{ 15.50320,133.01309 }</string>

							</array>

							<array>
	
								<string>{ 115.93988,69.69432 }</string>
	
								<string>{ 110.69971,76.68123 }</string>
	
								<string>{ 148.69098,80.61136 }</string>
	
								<string>{ 150.00101,72.75110 }</string>

							</array>

							<array>
	
								<string>{ -163.53611,43.05678 }</string>
	
								<string>{ -284.54549,54.34462 }</string>
	
								<string>{ -140.39201,54.84717 }</string>
	
								<string>{ -140.82869,48.73363 }</string>

							</array>

							<array>
	
								<string>{ 91.92239,58.34062 }</string>
	
								<string>{ 81.44205,77.99127 }</string>
	
								<string>{ 110.69971,76.68123 }</string>
	
								<string>{ 115.93988,69.69432 }</string>

							</array>

							<array>
	
								<string>{ 69.21500,43.05678 }</string>
	
								<string>{ 64.84818,93.71179 }</string>
	
								<string>{ 81.44205,77.99127 }</string>
	
								<string>{ 91.92239,58.34062 }</string>

							</array>

							<array>
	
								<string>{ 40.39401,14.67249 }</string>
	
								<string>{ 50.87436,54.41048 }</string>
	
								<string>{ 64.84818,93.71179 }</string>
	
								<string>{ 69.21500,43.05678 }</string>

							</array>

							<array>
	
								<string>{ 42.40274,159.47598 }</string>
	
								<string>{ 72.70844,123.40613 }</string>
	
								<string>{ 64.84818,93.71179 }</string>
	
								<string>{ 53.93115,105.93887 }</string>
	
								<string>{ 43.45078,122.96945 }</string>

							</array>

							<array>
	
								<string>{ 78.82196,-99.30131 }</string>
	
								<string>{ -93.23044,-114.14847 }</string>
	
								<string>{ -57.85925,-99.73799 }</string>
	
								<string>{ 41.70407,-85.32751 }</string>

							</array>

							<array>
	
								<string>{ 50.87436,54.41048 }</string>
	
								<string>{ 40.39401,14.67249 }</string>
	
								<string>{ 35.59052,17.72926 }</string>

							</array>

							<array>
	
								<string>{ -185.80685,32.13974 }</string>
	
								<string>{ -284.54549,54.34462 }</string>
	
								<string>{ -163.53611,43.05678 }</string>

							</array>

							<array>
	
								<string>{ -202.83743,10.74236 }</string>
	
								<string>{ -284.54549,54.34462 }</string>
	
								<string>{ -185.80685,32.13974 }</string>

							</array>

							<array>
	
								<string>{ -202.83743,10.74236 }</string>
	
								<string>{ -209.82433,-18.95197 }</string>
	
								<string>{ -283.88976,-160.98217 }</string>
	
								<string>{ -284.54549,54.34462 }</string>

							</array>

							<array>
	
								<string>{ 118.55997,-108.90829 }</string>
	
								<string>{ 284.43439,-160.00000 }</string>
	
								<string>{ -93.23044,-114.14847 }</string>
	
								<string>{ 78.82196,-99.30131 }</string>

							</array>

							<array>
	
								<string>{ 56.98792,81.48473 }</string>
	
								<string>{ 64.84818,93.71179 }</string>
	
								<string>{ 50.87436,54.41048 }</string>

							</array>

							<array>
	
								<string>{ 53.93115,105.93887 }</string>
	
								<string>{ 64.84818,93.71179 }</string>
	
								<string>{ 56.98792,81.48473 }</string>

							</array>

							<array>
	
								<string>{ 42.40274,159.47598 }</string>
	
								<string>{ 98.90930,146.98691 }</string>
	
								<string>{ 72.70844,123.40613 }</string>

							</array>

							<array>
	
								<string>{ 42.40274,159.47598 }</string>
	
								<string>{ 126.85690,154.41049 }</string>
	
								<string>{ 98.90930,146.98691 }</string>

							</array>

							<array>
	
								<string>{ -206.76756,-49.08297 }</string>
	
								<string>{ -283.88976,-160.98217 }</string>
	
								<string>{ -209.82433,-18.95197 }</string>

							</array>

							<array>
	
								<string>{ -194.10380,-80.08733 }</string>
	
								<string>{ -283.88976,-160.98217 }</string>
	
								<string>{ -206.76756,-49.08297 }</string>

							</array>

							<array>
	
								<string>{ -167.02956,-103.23144 }</string>
	
								<string>{ -283.88976,-160.98217 }</string>
	
								<string>{ -194.10380,-80.08733 }</string>

							</array>

							<array>
	
								<string>{ -134.27847,-116.76856 }</string>
	
								<string>{ -283.88976,-160.98217 }</string>
	
								<string>{ -167.02956,-103.23144 }</string>

							</array>

							<array>
	
								<string>{ -134.27847,-116.76856 }</string>
	
								<string>{ -93.23044,-114.14847 }</string>
	
								<string>{ 284.43439,-160.00000 }</string>
	
								<string>{ -283.88976,-160.98217 }</string>

							</array>

							<array>
	
								<string>{ 283.99915,160.41522 }</string>
	
								<string>{ 126.85690,154.41049 }</string>
	
								<string>{ 42.40274,159.47598 }</string>

							</array>

							<array>
	
								<string>{ 283.99915,160.41522 }</string>
	
								<string>{ 153.49445,144.80350 }</string>
	
								<string>{ 126.85690,154.41049 }</string>

							</array>

							<array>
	
								<string>{ 283.99915,160.41522 }</string>
	
								<string>{ 177.07526,123.84280 }</string>
	
								<string>{ 153.49445,144.80350 }</string>

							</array>

							<array>
	
								<string>{ 283.99915,160.41522 }</string>
	
								<string>{ 189.73901,102.00873 }</string>
	
								<string>{ 177.07526,123.84280 }</string>

							</array>

							<array>
	
								<string>{ 283.99915,160.41522 }</string>
	
								<string>{ 284.43439,-160.00000 }</string>
	
								<string>{ 202.83945,51.79039 }</string>
	
								<string>{ 189.73901,102.00873 }</string>

							</array>

							<array>
	
								<string>{ 284.43439,-160.00000 }</string>
	
								<string>{ 211.13638,5.50218 }</string>
	
								<string>{ 202.83945,51.79039 }</string>

							</array>

							<array>
	
								<string>{ 284.43439,-160.00000 }</string>
	
								<string>{ 212.88312,-42.96943 }</string>
	
								<string>{ 211.13638,5.50218 }</string>

							</array>

							<array>
	
								<string>{ 284.43439,-160.00000 }</string>
	
								<string>{ 202.40277,-70.48035 }</string>
	
								<string>{ 212.88312,-42.96943 }</string>

							</array>

							<array>
	
								<string>{ 284.43439,-160.00000 }</string>
	
								<string>{ 184.93552,-92.31441 }</string>
	
								<string>{ 202.40277,-70.48035 }</string>

							</array>

							<array>
	
								<string>{ 284.43439,-160.00000 }</string>
	
								<string>{ 160.91803,-106.28821 }</string>
	
								<string>{ 184.93552,-92.31441 }</string>

							</array>

							<array>
	
								<string>{ 284.43439,-160.00000 }</string>
	
								<string>{ 118.55997,-108.90829 }</string>
	
								<string>{ 160.91803,-106.28821 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

