<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B26-Cave</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 166.50156,-11.08359 }</string>
	
								<string>{ 239.56656,23.59132 }</string>
	
								<string>{ 191.88855,-23.77708 }</string>
	
								<string>{ 168.35913,-20.99071 }</string>

							</array>

							<array>
	
								<string>{ -212.44582,-99.31889 }</string>
	
								<string>{ -240.00000,-38.88545 }</string>
	
								<string>{ -201.30031,-72.69350 }</string>
	
								<string>{ -200.68111,-80.74303 }</string>

							</array>

							<array>
	
								<string>{ 53.18884,22.35294 }</string>
	
								<string>{ 239.56656,23.59132 }</string>
	
								<string>{ 166.50156,-11.08359 }</string>
	
								<string>{ 111.08359,-3.03406 }</string>
	
								<string>{ 53.49844,13.37462 }</string>

							</array>

							<array>
	
								<string>{ 242.04333,-160.61920 }</string>
	
								<string>{ 201.17648,-53.18886 }</string>
	
								<string>{ 191.88855,-23.77708 }</string>
	
								<string>{ 239.56656,23.59132 }</string>

							</array>

							<array>
	
								<string>{ -110.27864,-84.76780 }</string>
	
								<string>{ -80.55728,-86.93498 }</string>
	
								<string>{ -53.93188,-94.36533 }</string>
	
								<string>{ -39.07121,-103.34365 }</string>
	
								<string>{ -180.24768,-112.32198 }</string>
	
								<string>{ -161.98142,-102.10526 }</string>
	
								<string>{ -135.35604,-89.41177 }</string>

							</array>

							<array>
	
								<string>{ -20.18576,-113.86997 }</string>
	
								<string>{ -240.61920,-161.85759 }</string>
	
								<string>{ -196.96595,-117.58514 }</string>
	
								<string>{ -180.24768,-112.32198 }</string>
	
								<string>{ -39.07121,-103.34365 }</string>

							</array>

							<array>
	
								<string>{ -179.31889,-55.35604 }</string>
	
								<string>{ -240.00000,-38.88545 }</string>
	
								<string>{ -114.86068,-34.24149 }</string>
	
								<string>{ -114.61301,-38.32817 }</string>

							</array>

							<array>
	
								<string>{ -201.30031,-72.69350 }</string>
	
								<string>{ -240.00000,-38.88545 }</string>
	
								<string>{ -179.31889,-55.35604 }</string>

							</array>

							<array>
	
								<string>{ -212.44582,-99.31889 }</string>
	
								<string>{ -209.96904,-114.17957 }</string>
	
								<string>{ -240.61920,-161.85759 }</string>
	
								<string>{ -240.00000,-38.88545 }</string>

							</array>

							<array>
	
								<string>{ -196.96595,-117.58514 }</string>
	
								<string>{ -240.61920,-161.85759 }</string>
	
								<string>{ -209.96904,-114.17957 }</string>

							</array>

							<array>
	
								<string>{ 25.32507,-123.77709 }</string>
	
								<string>{ -240.61920,-161.85759 }</string>
	
								<string>{ -20.18576,-113.86997 }</string>

							</array>

							<array>
	
								<string>{ 74.24149,-133.68421 }</string>
	
								<string>{ -240.61920,-161.85759 }</string>
	
								<string>{ 25.32507,-123.77709 }</string>

							</array>

							<array>
	
								<string>{ 74.24149,-133.68421 }</string>
	
								<string>{ 114.48917,-136.16099 }</string>
	
								<string>{ 242.04333,-160.61920 }</string>
	
								<string>{ -240.61920,-161.85759 }</string>

							</array>

							<array>
	
								<string>{ 148.85449,-133.06502 }</string>
	
								<string>{ 242.04333,-160.61920 }</string>
	
								<string>{ 114.48917,-136.16099 }</string>

							</array>

							<array>
	
								<string>{ 180.74304,-120.68111 }</string>
	
								<string>{ 242.04333,-160.61920 }</string>
	
								<string>{ 148.85449,-133.06502 }</string>

							</array>

							<array>
	
								<string>{ 193.43652,-104.58204 }</string>
	
								<string>{ 242.04333,-160.61920 }</string>
	
								<string>{ 180.74304,-120.68111 }</string>

							</array>

							<array>
	
								<string>{ 202.10526,-82.29102 }</string>
	
								<string>{ 242.04333,-160.61920 }</string>
	
								<string>{ 193.43652,-104.58204 }</string>

							</array>

							<array>
	
								<string>{ 201.17648,-53.18886 }</string>
	
								<string>{ 242.04333,-160.61920 }</string>
	
								<string>{ 202.10526,-82.29102 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 202.41486,64.76781 }</string>
	
								<string>{ 240.24768,160.18576 }</string>
	
								<string>{ 240.18576,25.13931 }</string>
	
								<string>{ 199.31888,24.52013 }</string>

							</array>

							<array>
	
								<string>{ -240.30960,-37.08978 }</string>
	
								<string>{ -240.30960,160.18576 }</string>
	
								<string>{ -208.11146,74.05573 }</string>
	
								<string>{ -204.70588,60.74303 }</string>
	
								<string>{ -202.53870,-35.85139 }</string>

							</array>

							<array>
	
								<string>{ -202.84830,5.01547 }</string>
	
								<string>{ -204.70588,60.74303 }</string>
	
								<string>{ -186.43963,39.38080 }</string>
	
								<string>{ -181.17647,21.11455 }</string>
	
								<string>{ -182.41486,11.51703 }</string>

							</array>

							<array>
	
								<string>{ 195.29413,93.56036 }</string>
	
								<string>{ 240.24768,160.18576 }</string>
	
								<string>{ 202.41486,64.76781 }</string>

							</array>

							<array>
	
								<string>{ 180.74304,114.92261 }</string>
	
								<string>{ 240.24768,160.18576 }</string>
	
								<string>{ 195.29413,93.56036 }</string>

							</array>

							<array>
	
								<string>{ 155.97522,130.09286 }</string>
	
								<string>{ 240.24768,160.18576 }</string>
	
								<string>{ 180.74304,114.92261 }</string>

							</array>

							<array>
	
								<string>{ 106.74924,138.76160 }</string>
	
								<string>{ 240.24768,160.18576 }</string>
	
								<string>{ 155.97522,130.09286 }</string>

							</array>

							<array>
	
								<string>{ -161.05264,87.67802 }</string>
	
								<string>{ -80.24768,100.06192 }</string>
	
								<string>{ -117.70898,85.20123 }</string>
	
								<string>{ -131.95046,83.03406 }</string>

							</array>

							<array>
	
								<string>{ 3.65324,125.44891 }</string>
	
								<string>{ -240.30960,160.18576 }</string>
	
								<string>{ 54.73685,137.52322 }</string>
	
								<string>{ 33.06500,130.40247 }</string>

							</array>

							<array>
	
								<string>{ 106.74924,138.76160 }</string>
	
								<string>{ 54.73685,137.52322 }</string>
	
								<string>{ -240.30960,160.18576 }</string>
	
								<string>{ 240.24768,160.18576 }</string>

							</array>

							<array>
	
								<string>{ -161.05264,87.67802 }</string>
	
								<string>{ -185.82043,88.29721 }</string>
	
								<string>{ -45.57275,112.13623 }</string>
	
								<string>{ -80.24768,100.06192 }</string>

							</array>

							<array>
	
								<string>{ -185.82043,88.29721 }</string>
	
								<string>{ -240.30960,160.18576 }</string>
	
								<string>{ 3.65324,125.44891 }</string>
	
								<string>{ -45.57275,112.13623 }</string>

							</array>

							<array>
	
								<string>{ -202.22910,82.10526 }</string>
	
								<string>{ -240.30960,160.18576 }</string>
	
								<string>{ -185.82043,88.29721 }</string>

							</array>

							<array>
	
								<string>{ -208.11146,74.05573 }</string>
	
								<string>{ -240.30960,160.18576 }</string>
	
								<string>{ -202.22910,82.10526 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

