<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B60</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -283.72175,-7.13316 }</string>
	
								<string>{ -155.76126,-138.47619 }</string>
	
								<string>{ -140.17583,-162.06163 }</string>
	
								<string>{ -283.75976,-161.01945 }</string>

							</array>

							<array>
	
								<string>{ -140.04697,6.66667 }</string>
	
								<string>{ -152.04697,20.09523 }</string>
	
								<string>{ -111.47554,24.09523 }</string>

							</array>

							<array>
	
								<string>{ -153.47554,-13.33333 }</string>
	
								<string>{ -283.72175,-7.13316 }</string>
	
								<string>{ -152.04697,20.09523 }</string>
	
								<string>{ -140.04697,6.66667 }</string>

							</array>

							<array>
	
								<string>{ -170.33269,-44.47620 }</string>
	
								<string>{ -283.72175,-7.13316 }</string>
	
								<string>{ -153.47554,-13.33333 }</string>

							</array>

							<array>
	
								<string>{ -174.90411,-80.47620 }</string>
	
								<string>{ -283.72175,-7.13316 }</string>
	
								<string>{ -170.33269,-44.47620 }</string>

							</array>

							<array>
	
								<string>{ -166.90411,-109.04762 }</string>
	
								<string>{ -283.72175,-7.13316 }</string>
	
								<string>{ -174.90411,-80.47620 }</string>

							</array>

							<array>
	
								<string>{ -155.76126,-138.47619 }</string>
	
								<string>{ -283.72175,-7.13316 }</string>
	
								<string>{ -166.90411,-109.04762 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 171.91840,-53.55425 }</string>
	
								<string>{ 202.30716,-64.10558 }</string>
	
								<string>{ 156.70517,-63.33724 }</string>

							</array>

							<array>
	
								<string>{ 284.05585,-74.36958 }</string>
	
								<string>{ 202.30716,-64.10558 }</string>
	
								<string>{ 238.60461,-61.39171 }</string>
	
								<string>{ 283.22974,-60.67567 }</string>

							</array>

							<array>
	
								<string>{ 176.50070,-46.80352 }</string>
	
								<string>{ 202.30716,-64.10558 }</string>
	
								<string>{ 171.91840,-53.55425 }</string>

							</array>

							<array>
	
								<string>{ 178.61969,-36.28571 }</string>
	
								<string>{ 189.67792,-48.60913 }</string>
	
								<string>{ 202.30716,-64.10558 }</string>
	
								<string>{ 176.50070,-46.80352 }</string>

							</array>

							<array>
	
								<string>{ 166.61969,44.28572 }</string>
	
								<string>{ 176.90540,2.00000 }</string>
	
								<string>{ 178.76212,-11.32300 }</string>
	
								<string>{ 162.34906,-2.51865 }</string>
	
								<string>{ 134.61969,20.85715 }</string>
	
								<string>{ 84.04825,75.71428 }</string>
	
								<string>{ 157.76254,64.00000 }</string>

							</array>

							<array>
	
								<string>{ 202.30716,-64.10558 }</string>
	
								<string>{ 209.05203,-54.13490 }</string>
	
								<string>{ 238.60461,-61.39171 }</string>

							</array>

							<array>
	
								<string>{ 202.30716,-64.10558 }</string>
	
								<string>{ 189.67792,-48.60913 }</string>
	
								<string>{ 209.05203,-54.13490 }</string>

							</array>

							<array>
	
								<string>{ 84.04825,75.71428 }</string>
	
								<string>{ 63.47684,62.28572 }</string>
	
								<string>{ 2.90540,82.00000 }</string>

							</array>

							<array>
	
								<string>{ 84.04825,75.71428 }</string>
	
								<string>{ 101.76254,40.85715 }</string>
	
								<string>{ 63.47684,62.28572 }</string>

							</array>

							<array>
	
								<string>{ 84.04825,75.71428 }</string>
	
								<string>{ 134.61969,20.85715 }</string>
	
								<string>{ 101.76254,40.85715 }</string>

							</array>

							<array>
	
								<string>{ 178.76212,-11.32300 }</string>
	
								<string>{ 180.49820,-28.41307 }</string>
	
								<string>{ 173.27490,-18.65103 }</string>
	
								<string>{ 162.34906,-2.51865 }</string>

							</array>

							<array>
	
								<string>{ 180.49820,-28.41307 }</string>
	
								<string>{ 189.67792,-48.60913 }</string>
	
								<string>{ 178.61969,-36.28571 }</string>
	
								<string>{ 173.27490,-18.65103 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 216.96011,65.67725 }</string>
	
								<string>{ 221.76447,49.09073 }</string>
	
								<string>{ 212.05020,57.94788 }</string>

							</array>

							<array>
	
								<string>{ 221.76447,49.09073 }</string>
	
								<string>{ 217.19305,97.37643 }</string>
	
								<string>{ 284.64288,159.94788 }</string>
	
								<string>{ 284.40924,81.51930 }</string>

							</array>

							<array>
	
								<string>{ 218.59146,78.94075 }</string>
	
								<string>{ 221.76447,49.09073 }</string>
	
								<string>{ 216.96011,65.67725 }</string>

							</array>

							<array>
	
								<string>{ 211.47876,117.94788 }</string>
	
								<string>{ 284.64288,159.94788 }</string>
	
								<string>{ 217.19305,97.37643 }</string>

							</array>

							<array>
	
								<string>{ 202.50430,128.22522 }</string>
	
								<string>{ 284.64288,159.94788 }</string>
	
								<string>{ 211.47876,117.94788 }</string>

							</array>

							<array>
	
								<string>{ 189.47876,137.09073 }</string>
	
								<string>{ 284.64288,159.94788 }</string>
	
								<string>{ 202.50430,128.22522 }</string>

							</array>

							<array>
	
								<string>{ 161.76447,146.23358 }</string>
	
								<string>{ 284.64288,159.94788 }</string>
	
								<string>{ 189.47876,137.09073 }</string>

							</array>

							<array>
	
								<string>{ 28.05020,160.23358 }</string>
	
								<string>{ 284.64288,159.94788 }</string>
	
								<string>{ 122.05020,151.37643 }</string>
	
								<string>{ 42.62161,153.09073 }</string>

							</array>

							<array>
	
								<string>{ 122.05020,151.37643 }</string>
	
								<string>{ 284.64288,159.94788 }</string>
	
								<string>{ 161.76447,146.23358 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

