<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B56</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -77.29903,-36.52733 }</string>
	
								<string>{ -103.98714,-36.52733 }</string>
	
								<string>{ -69.90353,-22.70096 }</string>
	
								<string>{ -59.61414,-22.37941 }</string>

							</array>

							<array>
	
								<string>{ -91.76848,-52.60450 }</string>
	
								<string>{ -103.98714,-36.52733 }</string>
	
								<string>{ -77.29903,-36.52733 }</string>

							</array>

							<array>
	
								<string>{ -103.34404,-65.78778 }</string>
	
								<string>{ -132.28295,-46.81672 }</string>
	
								<string>{ -103.98714,-36.52733 }</string>
	
								<string>{ -91.76848,-52.60450 }</string>

							</array>

							<array>
	
								<string>{ -111.70418,-76.07717 }</string>
	
								<string>{ -154.79099,-51.31832 }</string>
	
								<string>{ -132.28295,-46.81672 }</string>
	
								<string>{ -103.34404,-65.78778 }</string>

							</array>

							<array>
	
								<string>{ 10.48233,-39.09968 }</string>
	
								<string>{ 41.35049,-57.42765 }</string>
	
								<string>{ 17.23474,-62.57234 }</string>
	
								<string>{ 4.37300,-44.24437 }</string>

							</array>

							<array>
	
								<string>{ 41.35049,-57.42765 }</string>
	
								<string>{ 59.67847,-66.75241 }</string>
	
								<string>{ 23.02252,-78.00643 }</string>
	
								<string>{ 17.23474,-62.57234 }</string>

							</array>

							<array>
	
								<string>{ 59.67847,-66.75241 }</string>
	
								<string>{ 76.72028,-74.46945 }</string>
	
								<string>{ 25.91641,-96.33440 }</string>
	
								<string>{ 23.02252,-78.00643 }</string>

							</array>

							<array>
	
								<string>{ -39.67845,26.81673 }</string>
	
								<string>{ -60.57877,37.10611 }</string>
	
								<string>{ -58.00642,43.53699 }</string>
	
								<string>{ -30.67523,28.74599 }</string>

							</array>

							<array>
	
								<string>{ -85.65916,46.75243 }</string>
	
								<string>{ -93.05466,56.39873 }</string>
	
								<string>{ -58.00642,43.53699 }</string>
	
								<string>{ -60.57877,37.10611 }</string>

							</array>

							<array>
	
								<string>{ -101.09325,50.93248 }</string>
	
								<string>{ -93.05466,56.39873 }</string>
	
								<string>{ -85.65916,46.75243 }</string>

							</array>

							<array>
	
								<string>{ -113.95498,54.14792 }</string>
	
								<string>{ -144.82315,72.15434 }</string>
	
								<string>{ -93.05466,56.39873 }</string>
	
								<string>{ -101.09325,50.93248 }</string>

							</array>

							<array>
	
								<string>{ -129.38906,56.07718 }</string>
	
								<string>{ -144.82315,72.15434 }</string>
	
								<string>{ -113.95498,54.14792 }</string>

							</array>

							<array>
	
								<string>{ -146.43086,55.43410 }</string>
	
								<string>{ -144.82315,72.15434 }</string>
	
								<string>{ -129.38906,56.07718 }</string>

							</array>

							<array>
	
								<string>{ -159.61414,53.82637 }</string>
	
								<string>{ -240.96463,74.85532 }</string>
	
								<string>{ -192.09003,77.29904 }</string>
	
								<string>{ -144.82315,72.15434 }</string>
	
								<string>{ -146.43086,55.43410 }</string>

							</array>

							<array>
	
								<string>{ -117.81350,-86.04501 }</string>
	
								<string>{ -173.11897,-51.63987 }</string>
	
								<string>{ -154.79099,-51.31832 }</string>
	
								<string>{ -111.70418,-76.07717 }</string>

							</array>

							<array>
	
								<string>{ 97.94214,-80.90032 }</string>
	
								<string>{ 24.63025,-107.90997 }</string>
	
								<string>{ 25.91641,-96.33440 }</string>
	
								<string>{ 76.72028,-74.46945 }</string>

							</array>

							<array>
	
								<string>{ -121.67202,-94.40514 }</string>
	
								<string>{ -173.11897,-51.63987 }</string>
	
								<string>{ -117.81350,-86.04501 }</string>

							</array>

							<array>
	
								<string>{ 53.89069,23.60129 }</string>
	
								<string>{ 122.05789,50.93248 }</string>
	
								<string>{ 108.23154,37.74921 }</string>
	
								<string>{ 53.89069,15.88425 }</string>

							</array>

							<array>
	
								<string>{ 122.05789,50.93248 }</string>
	
								<string>{ 122.70099,40.64310 }</string>
	
								<string>{ 108.23154,37.74921 }</string>

							</array>

							<array>
	
								<string>{ 122.05789,50.93248 }</string>
	
								<string>{ 136.84888,42.89389 }</string>
	
								<string>{ 122.70099,40.64310 }</string>

							</array>

							<array>
	
								<string>{ 122.05789,50.93248 }</string>
	
								<string>{ 176.39874,64.43730 }</string>
	
								<string>{ 153.56915,44.18007 }</string>
	
								<string>{ 136.84888,42.89389 }</string>

							</array>

							<array>
	
								<string>{ 176.39874,64.43730 }</string>
	
								<string>{ 162.57236,43.53699 }</string>
	
								<string>{ 153.56915,44.18007 }</string>

							</array>

							<array>
	
								<string>{ 176.39874,64.43730 }</string>
	
								<string>{ 239.74277,79.22830 }</string>
	
								<string>{ 174.14792,39.67847 }</string>
	
								<string>{ 162.57236,43.53699 }</string>

							</array>

							<array>
	
								<string>{ 97.94214,-80.90032 }</string>
	
								<string>{ 119.16400,-84.75884 }</string>
	
								<string>{ 21.09326,-119.80707 }</string>
	
								<string>{ 24.63025,-107.90997 }</string>

							</array>

							<array>
	
								<string>{ -122.63665,-104.37299 }</string>
	
								<string>{ -173.11897,-51.63987 }</string>
	
								<string>{ -121.67202,-94.40514 }</string>

							</array>

							<array>
	
								<string>{ 239.74277,79.22830 }</string>
	
								<string>{ 182.18652,35.81995 }</string>
	
								<string>{ 174.14792,39.67847 }</string>

							</array>

							<array>
	
								<string>{ 239.74277,79.22830 }</string>
	
								<string>{ 188.61737,30.03217 }</string>
	
								<string>{ 182.18652,35.81995 }</string>

							</array>

							<array>
	
								<string>{ 239.74277,79.22830 }</string>
	
								<string>{ 195.69135,16.84888 }</string>
	
								<string>{ 188.61737,30.03217 }</string>

							</array>

							<array>
	
								<string>{ 240.19293,-159.87138 }</string>
	
								<string>{ 198.26367,-0.51447 }</string>
	
								<string>{ 195.69135,16.84888 }</string>
	
								<string>{ 239.74277,79.22830 }</string>

							</array>

							<array>
	
								<string>{ -122.31511,-116.59164 }</string>
	
								<string>{ -187.90997,-47.78135 }</string>
	
								<string>{ -173.11897,-51.63987 }</string>
	
								<string>{ -122.63665,-104.37299 }</string>

							</array>

							<array>
	
								<string>{ -170.54662,49.00322 }</string>
	
								<string>{ -240.96463,74.85532 }</string>
	
								<string>{ -159.61414,53.82637 }</string>

							</array>

							<array>
	
								<string>{ -183.72990,39.35692 }</string>
	
								<string>{ -240.96463,74.85532 }</string>
	
								<string>{ -170.54662,49.00322 }</string>

							</array>

							<array>
	
								<string>{ -193.05466,27.78136 }</string>
	
								<string>{ -240.96463,74.85532 }</string>
	
								<string>{ -183.72990,39.35692 }</string>

							</array>

							<array>
	
								<string>{ -199.48553,16.52734 }</string>
	
								<string>{ -240.96463,74.85532 }</string>
	
								<string>{ -193.05466,27.78136 }</string>

							</array>

							<array>
	
								<string>{ -203.98714,1.09325 }</string>
	
								<string>{ -240.96463,74.85532 }</string>
	
								<string>{ -199.48553,16.52734 }</string>

							</array>

							<array>
	
								<string>{ -203.98714,1.09325 }</string>
	
								<string>{ -203.66559,-18.84244 }</string>
	
								<string>{ -240.32154,-159.67846 }</string>
	
								<string>{ -240.96463,74.85532 }</string>

							</array>

							<array>
	
								<string>{ 137.81351,-85.72347 }</string>
	
								<string>{ 15.94856,-127.52412 }</string>
	
								<string>{ 21.09326,-119.80707 }</string>
	
								<string>{ 119.16400,-84.75884 }</string>

							</array>

							<array>
	
								<string>{ -115.56270,-128.81029 }</string>
	
								<string>{ -240.32154,-159.67846 }</string>
	
								<string>{ -187.90997,-47.78135 }</string>
	
								<string>{ -122.31511,-116.59164 }</string>

							</array>

							<array>
	
								<string>{ -198.84244,-36.20578 }</string>
	
								<string>{ -240.32154,-159.67846 }</string>
	
								<string>{ -203.66559,-18.84244 }</string>

							</array>

							<array>
	
								<string>{ -187.90997,-47.78135 }</string>
	
								<string>{ -240.32154,-159.67846 }</string>
	
								<string>{ -198.84244,-36.20578 }</string>

							</array>

							<array>
	
								<string>{ -103.34404,-136.84887 }</string>
	
								<string>{ -240.32154,-159.67846 }</string>
	
								<string>{ -115.56270,-128.81029 }</string>

							</array>

							<array>
	
								<string>{ -90.80385,-141.35048 }</string>
	
								<string>{ -240.32154,-159.67846 }</string>
	
								<string>{ -103.34404,-136.84887 }</string>

							</array>

							<array>
	
								<string>{ -69.90353,-144.56592 }</string>
	
								<string>{ -240.32154,-159.67846 }</string>
	
								<string>{ -90.80385,-141.35048 }</string>

							</array>

							<array>
	
								<string>{ -69.90353,-144.56592 }</string>
	
								<string>{ -32.28294,-144.24437 }</string>
	
								<string>{ 240.19293,-159.87138 }</string>
	
								<string>{ -240.32154,-159.67846 }</string>

							</array>

							<array>
	
								<string>{ 137.81351,-85.72347 }</string>
	
								<string>{ 7.26689,-134.59807 }</string>
	
								<string>{ 15.94856,-127.52412 }</string>

							</array>

							<array>
	
								<string>{ 137.81351,-85.72347 }</string>
	
								<string>{ 153.24759,-81.54340 }</string>
	
								<string>{ 240.19293,-159.87138 }</string>
	
								<string>{ 0.19293,-139.42122 }</string>
	
								<string>{ 7.26689,-134.59807 }</string>

							</array>

							<array>
	
								<string>{ 240.19293,-159.87138 }</string>
	
								<string>{ 197.94214,-14.01929 }</string>
	
								<string>{ 198.26367,-0.51447 }</string>

							</array>

							<array>
	
								<string>{ 240.19293,-159.87138 }</string>
	
								<string>{ 193.76208,-29.45337 }</string>
	
								<string>{ 197.94214,-14.01929 }</string>

							</array>

							<array>
	
								<string>{ 240.19293,-159.87138 }</string>
	
								<string>{ 189.90356,-42.95820 }</string>
	
								<string>{ 193.76208,-29.45337 }</string>

							</array>

							<array>
	
								<string>{ 240.19293,-159.87138 }</string>
	
								<string>{ 182.82959,-56.14147 }</string>
	
								<string>{ 189.90356,-42.95820 }</string>

							</array>

							<array>
	
								<string>{ 240.19293,-159.87138 }</string>
	
								<string>{ 169.32477,-71.25401 }</string>
	
								<string>{ 182.82959,-56.14147 }</string>

							</array>

							<array>
	
								<string>{ 240.19293,-159.87138 }</string>
	
								<string>{ 153.24759,-81.54340 }</string>
	
								<string>{ 169.32477,-71.25401 }</string>

							</array>

							<array>
	
								<string>{ 240.19293,-159.87138 }</string>
	
								<string>{ -10.73955,-142.31511 }</string>
	
								<string>{ 0.19293,-139.42122 }</string>

							</array>

							<array>
	
								<string>{ 240.19293,-159.87138 }</string>
	
								<string>{ -32.28294,-144.24437 }</string>
	
								<string>{ -10.73955,-142.31511 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

