<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B30</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -175.14286,-129.42857 }</string>
	
								<string>{ -146.00000,-159.71429 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -198.85714,-95.42857 }</string>
	
								<string>{ -175.14286,-129.42857 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -214.57143,-64.28571 }</string>
	
								<string>{ -198.85714,-95.42857 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -225.42857,-32.85714 }</string>
	
								<string>{ -214.57143,-64.28571 }</string>

							</array>

							<array>
	
								<string>{ -125.14286,54.28572 }</string>
	
								<string>{ -177.71429,39.14285 }</string>
	
								<string>{ -183.42857,61.42857 }</string>
	
								<string>{ -121.71429,62.28572 }</string>

							</array>

							<array>
	
								<string>{ -207.71429,18.85715 }</string>
	
								<string>{ -239.71429,56.85715 }</string>
	
								<string>{ -183.42857,61.42857 }</string>
	
								<string>{ -177.71429,39.14285 }</string>

							</array>

							<array>
	
								<string>{ -222.28572,-2.85715 }</string>
	
								<string>{ -239.71429,56.85715 }</string>
	
								<string>{ -207.71429,18.85715 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -239.71429,56.85715 }</string>
	
								<string>{ -222.28572,-2.85715 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 140.17749,-89.88166 }</string>
	
								<string>{ 168.57986,-104.37870 }</string>
	
								<string>{ 240.17749,-160.00000 }</string>
	
								<string>{ 150.53253,-160.59172 }</string>

							</array>

							<array>
	
								<string>{ 95.50296,92.13017 }</string>
	
								<string>{ 169.76331,95.32544 }</string>
	
								<string>{ 135.14792,86.44969 }</string>
	
								<string>{ 100.23666,88.22484 }</string>

							</array>

							<array>
	
								<string>{ 169.76331,95.32544 }</string>
	
								<string>{ 167.39642,81.12425 }</string>
	
								<string>{ 135.14792,86.44969 }</string>

							</array>

							<array>
	
								<string>{ 169.76331,95.32544 }</string>
	
								<string>{ 240.53253,92.72189 }</string>
	
								<string>{ 191.36093,75.50294 }</string>
	
								<string>{ 167.39642,81.12425 }</string>

							</array>

							<array>
	
								<string>{ 240.53253,92.72189 }</string>
	
								<string>{ 213.25443,64.85207 }</string>
	
								<string>{ 191.36093,75.50294 }</string>

							</array>

							<array>
	
								<string>{ 240.53253,92.72189 }</string>
	
								<string>{ 224.20117,47.98816 }</string>
	
								<string>{ 213.25443,64.85207 }</string>

							</array>

							<array>
	
								<string>{ 240.17749,-160.00000 }</string>
	
								<string>{ 222.13016,34.37869 }</string>
	
								<string>{ 224.20117,47.98816 }</string>
	
								<string>{ 240.53253,92.72189 }</string>

							</array>

							<array>
	
								<string>{ 141.95264,-69.17160 }</string>
	
								<string>{ 140.17749,-89.88166 }</string>
	
								<string>{ 116.21301,-28.63905 }</string>
	
								<string>{ 122.42603,-32.48521 }</string>

							</array>

							<array>
	
								<string>{ 168.57986,-104.37870 }</string>
	
								<string>{ 140.17749,-89.88166 }</string>
	
								<string>{ 141.95264,-69.17160 }</string>

							</array>

							<array>
	
								<string>{ 181.00589,16.92307 }</string>
	
								<string>{ 178.93491,5.97632 }</string>
	
								<string>{ 140.17749,15.73964 }</string>
	
								<string>{ 136.92307,18.99408 }</string>

							</array>

							<array>
	
								<string>{ 181.00589,16.92307 }</string>
	
								<string>{ 212.36685,22.54437 }</string>
	
								<string>{ 199.64496,-4.37871 }</string>
	
								<string>{ 178.93491,5.97632 }</string>

							</array>

							<array>
	
								<string>{ 212.36685,22.54437 }</string>
	
								<string>{ 222.13016,34.37869 }</string>
	
								<string>{ 220.35501,-21.24261 }</string>
	
								<string>{ 199.64496,-4.37871 }</string>

							</array>

							<array>
	
								<string>{ 222.13016,34.37869 }</string>
	
								<string>{ 229.82248,-49.05326 }</string>
	
								<string>{ 220.35501,-21.24261 }</string>

							</array>

							<array>
	
								<string>{ 181.89346,-107.92900 }</string>
	
								<string>{ 240.17749,-160.00000 }</string>
	
								<string>{ 168.57986,-104.37870 }</string>

							</array>

							<array>
	
								<string>{ 198.46152,-108.52071 }</string>
	
								<string>{ 240.17749,-160.00000 }</string>
	
								<string>{ 181.89346,-107.92900 }</string>

							</array>

							<array>
	
								<string>{ 211.47928,-104.08284 }</string>
	
								<string>{ 240.17749,-160.00000 }</string>
	
								<string>{ 198.46152,-108.52071 }</string>

							</array>

							<array>
	
								<string>{ 219.17157,-96.09468 }</string>
	
								<string>{ 240.17749,-160.00000 }</string>
	
								<string>{ 211.47928,-104.08284 }</string>

							</array>

							<array>
	
								<string>{ 228.34317,-73.31361 }</string>
	
								<string>{ 240.17749,-160.00000 }</string>
	
								<string>{ 219.17157,-96.09468 }</string>

							</array>

							<array>
	
								<string>{ 229.82248,-49.05326 }</string>
	
								<string>{ 240.17749,-160.00000 }</string>
	
								<string>{ 228.34317,-73.31361 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

