<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B18</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -136.15385,58.93491 }</string>
	
								<string>{ -176.68639,67.81064 }</string>
	
								<string>{ -115.08876,67.57396 }</string>
	
								<string>{ -118.99409,59.23076 }</string>

							</array>

							<array>
	
								<string>{ -119.28995,36.74556 }</string>
	
								<string>{ -89.40829,25.79881 }</string>
	
								<string>{ -58.63905,3.90532 }</string>
	
								<string>{ -130.23669,18.40236 }</string>
	
								<string>{ -136.44971,27.86981 }</string>
	
								<string>{ -135.56213,34.97041 }</string>

							</array>

							<array>
	
								<string>{ -53.60947,17.81064 }</string>
	
								<string>{ -58.63905,3.90532 }</string>
	
								<string>{ -89.40829,25.79881 }</string>

							</array>

							<array>
	
								<string>{ -12.18936,15.14792 }</string>
	
								<string>{ -6.27220,0.35503 }</string>
	
								<string>{ -58.63905,3.90532 }</string>
	
								<string>{ -53.60947,17.81064 }</string>

							</array>

							<array>
	
								<string>{ 36.62720,18.10651 }</string>
	
								<string>{ 49.94083,4.49704 }</string>
	
								<string>{ -6.27220,0.35503 }</string>
	
								<string>{ -12.18936,15.14792 }</string>

							</array>

							<array>
	
								<string>{ 98.46152,23.43195 }</string>
	
								<string>{ 100.23666,9.52663 }</string>
	
								<string>{ 49.94083,4.49704 }</string>
	
								<string>{ 36.62720,18.10651 }</string>

							</array>

							<array>
	
								<string>{ 98.46152,23.43195 }</string>
	
								<string>{ 145.50296,30.53253 }</string>
	
								<string>{ 136.92307,8.93491 }</string>
	
								<string>{ 100.23666,9.52663 }</string>

							</array>

							<array>
	
								<string>{ 145.50296,30.53253 }</string>
	
								<string>{ 167.98816,35.85799 }</string>
	
								<string>{ 160.59171,0.65088 }</string>
	
								<string>{ 136.92307,8.93491 }</string>

							</array>

							<array>
	
								<string>{ 167.98816,35.85799 }</string>
	
								<string>{ 186.33136,41.77515 }</string>
	
								<string>{ 178.63904,-12.07101 }</string>
	
								<string>{ 160.59171,0.65088 }</string>

							</array>

							<array>
	
								<string>{ -154.49705,55.68047 }</string>
	
								<string>{ -176.68639,67.81064 }</string>
	
								<string>{ -136.15385,58.93491 }</string>

							</array>

							<array>
	
								<string>{ -170.47337,50.65088 }</string>
	
								<string>{ -176.68639,67.81064 }</string>
	
								<string>{ -154.49705,55.68047 }</string>

							</array>

							<array>
	
								<string>{ -186.74556,44.43787 }</string>
	
								<string>{ -240.59172,63.43195 }</string>
	
								<string>{ -176.68639,67.81064 }</string>
	
								<string>{ -170.47337,50.65088 }</string>

							</array>

							<array>
	
								<string>{ -198.57988,36.15384 }</string>
	
								<string>{ -240.59172,63.43195 }</string>
	
								<string>{ -186.74556,44.43787 }</string>

							</array>

							<array>
	
								<string>{ -208.93491,24.61537 }</string>
	
								<string>{ -240.59172,63.43195 }</string>
	
								<string>{ -198.57988,36.15384 }</string>

							</array>

							<array>
	
								<string>{ -217.51479,11.59763 }</string>
	
								<string>{ -240.59172,63.43195 }</string>
	
								<string>{ -208.93491,24.61537 }</string>

							</array>

							<array>
	
								<string>{ 55.26627,-94.02367 }</string>
	
								<string>{ -83.78699,-65.02959 }</string>
	
								<string>{ 48.75739,-66.50888 }</string>
	
								<string>{ 54.67456,-72.42604 }</string>

							</array>

							<array>
	
								<string>{ 186.33136,41.77515 }</string>
	
								<string>{ 197.27811,50.65088 }</string>
	
								<string>{ 189.58578,-33.96450 }</string>
	
								<string>{ 178.63904,-12.07101 }</string>

							</array>

							<array>
	
								<string>{ 66.80472,136.74554 }</string>
	
								<string>{ 153.19525,146.80472 }</string>
	
								<string>{ 122.13016,118.69821 }</string>
	
								<string>{ 94.31952,121.65680 }</string>
	
								<string>{ 73.90530,128.46152 }</string>

							</array>

							<array>
	
								<string>{ 153.19525,146.80472 }</string>
	
								<string>{ 148.75739,115.73962 }</string>
	
								<string>{ 122.13016,118.69821 }</string>

							</array>

							<array>
	
								<string>{ 153.19525,146.80472 }</string>
	
								<string>{ 241.06506,147.39645 }</string>
	
								<string>{ 169.46744,111.59763 }</string>
	
								<string>{ 148.75739,115.73962 }</string>

							</array>

							<array>
	
								<string>{ 241.06506,147.39645 }</string>
	
								<string>{ 183.96448,103.90530 }</string>
	
								<string>{ 169.46744,111.59763 }</string>

							</array>

							<array>
	
								<string>{ 241.06506,147.39645 }</string>
	
								<string>{ 195.50293,95.32544 }</string>
	
								<string>{ 183.96448,103.90530 }</string>

							</array>

							<array>
	
								<string>{ 241.06506,147.39645 }</string>
	
								<string>{ 202.60355,83.78697 }</string>
	
								<string>{ 195.50293,95.32544 }</string>

							</array>

							<array>
	
								<string>{ 241.06506,-160.00000 }</string>
	
								<string>{ 203.78696,72.24852 }</string>
	
								<string>{ 202.60355,83.78697 }</string>
	
								<string>{ 241.06506,147.39645 }</string>

							</array>

							<array>
	
								<string>{ 67.39645,-117.39645 }</string>
	
								<string>{ -240.29586,-159.40828 }</string>
	
								<string>{ -123.72781,-60.00000 }</string>
	
								<string>{ -83.78699,-65.02959 }</string>
	
								<string>{ 55.26627,-94.02367 }</string>

							</array>

							<array>
	
								<string>{ -220.17752,-3.78699 }</string>
	
								<string>{ -240.59172,63.43195 }</string>
	
								<string>{ -217.51479,11.59763 }</string>

							</array>

							<array>
	
								<string>{ -220.17752,-3.78699 }</string>
	
								<string>{ -240.29586,-159.40828 }</string>
	
								<string>{ -240.59172,63.43195 }</string>

							</array>

							<array>
	
								<string>{ 197.27811,50.65088 }</string>
	
								<string>{ 202.89938,61.59763 }</string>
	
								<string>{ 241.06506,-160.00000 }</string>
	
								<string>{ 194.31952,-52.89941 }</string>
	
								<string>{ 189.58578,-33.96450 }</string>

							</array>

							<array>
	
								<string>{ -215.44379,-16.80473 }</string>
	
								<string>{ -240.29586,-159.40828 }</string>
	
								<string>{ -220.17752,-3.78699 }</string>

							</array>

							<array>
	
								<string>{ -205.08876,-28.63905 }</string>
	
								<string>{ -240.29586,-159.40828 }</string>
	
								<string>{ -215.44379,-16.80473 }</string>

							</array>

							<array>
	
								<string>{ -189.11243,-38.40237 }</string>
	
								<string>{ -240.29586,-159.40828 }</string>
	
								<string>{ -205.08876,-28.63905 }</string>

							</array>

							<array>
	
								<string>{ -172.24852,-46.09468 }</string>
	
								<string>{ -240.29586,-159.40828 }</string>
	
								<string>{ -189.11243,-38.40237 }</string>

							</array>

							<array>
	
								<string>{ -154.20119,-52.30769 }</string>
	
								<string>{ -240.29586,-159.40828 }</string>
	
								<string>{ -172.24852,-46.09468 }</string>

							</array>

							<array>
	
								<string>{ -123.72781,-60.00000 }</string>
	
								<string>{ -240.29586,-159.40828 }</string>
	
								<string>{ -154.20119,-52.30769 }</string>

							</array>

							<array>
	
								<string>{ 97.27811,-128.34320 }</string>
	
								<string>{ -240.29586,-159.40828 }</string>
	
								<string>{ 67.39645,-117.39645 }</string>

							</array>

							<array>
	
								<string>{ 97.27811,-128.34320 }</string>
	
								<string>{ 131.00589,-131.30178 }</string>
	
								<string>{ 241.06506,-160.00000 }</string>
	
								<string>{ -240.29586,-159.40828 }</string>

							</array>

							<array>
	
								<string>{ 161.18341,-125.38462 }</string>
	
								<string>{ 241.06506,-160.00000 }</string>
	
								<string>{ 131.00589,-131.30178 }</string>

							</array>

							<array>
	
								<string>{ 179.23074,-109.11243 }</string>
	
								<string>{ 241.06506,-160.00000 }</string>
	
								<string>{ 161.18341,-125.38462 }</string>

							</array>

							<array>
	
								<string>{ 188.99408,-93.72781 }</string>
	
								<string>{ 241.06506,-160.00000 }</string>
	
								<string>{ 179.23074,-109.11243 }</string>

							</array>

							<array>
	
								<string>{ 196.68637,-75.68047 }</string>
	
								<string>{ 241.06506,-160.00000 }</string>
	
								<string>{ 188.99408,-93.72781 }</string>

							</array>

							<array>
	
								<string>{ 194.31952,-52.89941 }</string>
	
								<string>{ 241.06506,-160.00000 }</string>
	
								<string>{ 196.68637,-75.68047 }</string>

							</array>

							<array>
	
								<string>{ 203.78696,72.24852 }</string>
	
								<string>{ 241.06506,-160.00000 }</string>
	
								<string>{ 202.89938,61.59763 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

