<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B25</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 116.76855,98.07861 }</string>
	
								<string>{ 153.88647,88.47162 }</string>
	
								<string>{ 191.00436,70.56769 }</string>
	
								<string>{ 144.27948,53.10043 }</string>
	
								<string>{ 76.15720,93.71179 }</string>

							</array>

							<array>
	
								<string>{ 191.00436,70.56769 }</string>
	
								<string>{ 240.78604,38.68996 }</string>
	
								<string>{ 163.49347,31.70306 }</string>
	
								<string>{ 144.27948,53.10043 }</string>

							</array>

							<array>
	
								<string>{ -158.77729,85.85153 }</string>
	
								<string>{ -163.58079,36.06987 }</string>
	
								<string>{ -168.82096,15.98253 }</string>
	
								<string>{ -240.43668,-160.00000 }</string>
	
								<string>{ -240.00000,49.43231 }</string>

							</array>

							<array>
	
								<string>{ 240.78604,38.68996 }</string>
	
								<string>{ 175.28384,15.54585 }</string>
	
								<string>{ 163.49347,31.70306 }</string>

							</array>

							<array>
	
								<string>{ 240.78604,38.68996 }</string>
	
								<string>{ 184.01749,-1.04803 }</string>
	
								<string>{ 175.28384,15.54585 }</string>

							</array>

							<array>
	
								<string>{ 240.78604,38.68996 }</string>
	
								<string>{ 196.68124,-27.24890 }</string>
	
								<string>{ 184.01749,-1.04803 }</string>

							</array>

							<array>
	
								<string>{ 241.22272,-159.56332 }</string>
	
								<string>{ 201.92142,-51.70306 }</string>
	
								<string>{ 196.68124,-27.24890 }</string>
	
								<string>{ 240.78604,38.68996 }</string>

							</array>

							<array>
	
								<string>{ -69.69432,83.66812 }</string>
	
								<string>{ -107.24890,74.06114 }</string>
	
								<string>{ -158.77729,85.85153 }</string>
	
								<string>{ -99.38864,97.64194 }</string>
	
								<string>{ -65.93886,89.17030 }</string>

							</array>

							<array>
	
								<string>{ -133.88646,64.45415 }</string>
	
								<string>{ -158.77729,85.85153 }</string>
	
								<string>{ -107.24890,74.06114 }</string>

							</array>

							<array>
	
								<string>{ -154.84716,51.79039 }</string>
	
								<string>{ -158.77729,85.85153 }</string>
	
								<string>{ -133.88646,64.45415 }</string>

							</array>

							<array>
	
								<string>{ -163.58079,36.06987 }</string>
	
								<string>{ -158.77729,85.85153 }</string>
	
								<string>{ -154.84716,51.79039 }</string>

							</array>

							<array>
	
								<string>{ 241.22272,-159.56332 }</string>
	
								<string>{ 194.93451,-75.28384 }</string>
	
								<string>{ 201.92142,-51.70306 }</string>

							</array>

							<array>
	
								<string>{ 241.22272,-159.56332 }</string>
	
								<string>{ 177.03058,-88.82096 }</string>
	
								<string>{ 194.93451,-75.28384 }</string>

							</array>

							<array>
	
								<string>{ 241.22272,-159.56332 }</string>
	
								<string>{ 86.63757,-119.82533 }</string>
	
								<string>{ 141.65939,-99.73799 }</string>
	
								<string>{ 177.03058,-88.82096 }</string>

							</array>

							<array>
	
								<string>{ 241.22272,-159.56332 }</string>
	
								<string>{ 46.89957,-133.36245 }</string>
	
								<string>{ 86.63757,-119.82533 }</string>

							</array>

							<array>
	
								<string>{ 241.22272,-159.56332 }</string>
	
								<string>{ 10.21834,-140.34934 }</string>
	
								<string>{ 46.89957,-133.36245 }</string>

							</array>

							<array>
	
								<string>{ 241.22272,-159.56332 }</string>
	
								<string>{ -25.58952,-144.27948 }</string>
	
								<string>{ 10.21834,-140.34934 }</string>

							</array>

							<array>
	
								<string>{ -240.43668,-160.00000 }</string>
	
								<string>{ -25.58952,-144.27948 }</string>
	
								<string>{ 241.22272,-159.56332 }</string>

							</array>

							<array>
	
								<string>{ -240.43668,-160.00000 }</string>
	
								<string>{ -49.60698,-138.60262 }</string>
	
								<string>{ -25.58952,-144.27948 }</string>

							</array>

							<array>
	
								<string>{ -240.43668,-160.00000 }</string>
	
								<string>{ -103.31877,-109.78166 }</string>
	
								<string>{ -49.60698,-138.60262 }</string>

							</array>

							<array>
	
								<string>{ -240.43668,-160.00000 }</string>
	
								<string>{ -131.70306,-84.89083 }</string>
	
								<string>{ -103.31877,-109.78166 }</string>

							</array>

							<array>
	
								<string>{ -240.43668,-160.00000 }</string>
	
								<string>{ -151.79039,-56.94323 }</string>
	
								<string>{ -131.70306,-84.89083 }</string>

							</array>

							<array>
	
								<string>{ -240.43668,-160.00000 }</string>
	
								<string>{ -166.20087,-27.68559 }</string>
	
								<string>{ -151.79039,-56.94323 }</string>

							</array>

							<array>
	
								<string>{ -240.43668,-160.00000 }</string>
	
								<string>{ -169.69432,-3.23145 }</string>
	
								<string>{ -166.20087,-27.68559 }</string>

							</array>

							<array>
	
								<string>{ -240.43668,-160.00000 }</string>
	
								<string>{ -168.82096,15.98253 }</string>
	
								<string>{ -169.69432,-3.23145 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 4.10481,156.59390 }</string>
	
								<string>{ -42.62009,160.78604 }</string>
	
								<string>{ 237.11792,160.34933 }</string>
	
								<string>{ 212.83844,149.17032 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -25.15283,43.49345 }</string>
	
								<string>{ -18.16594,21.65939 }</string>
	
								<string>{ -19.03929,-15.02184 }</string>
	
								<string>{ -43.05676,14.67249 }</string>
	
								<string>{ -50.48035,53.79913 }</string>
	
								<string>{ -33.01309,57.03058 }</string>

							</array>

							<array>
	
								<string>{ 16.76855,-68.73362 }</string>
	
								<string>{ 8.47162,-42.53275 }</string>
	
								<string>{ 52.57642,-69.17030 }</string>
	
								<string>{ 55.19650,-84.45415 }</string>

							</array>

							<array>
	
								<string>{ -17.29257,-76.59389 }</string>
	
								<string>{ -41.74672,-39.03930 }</string>
	
								<string>{ -19.03929,-15.02184 }</string>
	
								<string>{ 8.47162,-42.53275 }</string>
	
								<string>{ 16.76855,-68.73362 }</string>

							</array>

							<array>
	
								<string>{ -50.48035,-95.37118 }</string>
	
								<string>{ -41.74672,-39.03930 }</string>
	
								<string>{ -17.29257,-76.59389 }</string>
	
								<string>{ -38.68996,-99.30131 }</string>

							</array>

							<array>
	
								<string>{ -43.05676,14.67249 }</string>
	
								<string>{ -19.03929,-15.02184 }</string>
	
								<string>{ -41.74672,-39.03930 }</string>

							</array>

							<array>
	
								<string>{ -25.15283,43.49345 }</string>
	
								<string>{ -3.31877,63.58080 }</string>
	
								<string>{ -2.00873,49.17030 }</string>
	
								<string>{ -18.16594,21.65939 }</string>

							</array>

							<array>
	
								<string>{ -3.31877,63.58080 }</string>
	
								<string>{ 27.07425,79.56332 }</string>
	
								<string>{ 32.92578,72.75110 }</string>
	
								<string>{ -2.00873,49.17030 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

