<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B56</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 57.81659,-26.37555 }</string>
	
								<string>{ 77.03058,-5.41484 }</string>
	
								<string>{ 82.27075,-47.33624 }</string>
	
								<string>{ 61.74673,-48.64629 }</string>

							</array>

							<array>
	
								<string>{ 45.58954,-12.83842 }</string>
	
								<string>{ 84.89084,28.20961 }</string>
	
								<string>{ 77.03058,-5.41484 }</string>
	
								<string>{ 57.81659,-26.37555 }</string>

							</array>

							<array>
	
								<string>{ 148.20963,93.71179 }</string>
	
								<string>{ 127.68561,78.86464 }</string>
	
								<string>{ 94.93451,65.76419 }</string>
	
								<string>{ 135.54587,95.02184 }</string>
	
								<string>{ 148.03494,100.52402 }</string>

							</array>

							<array>
	
								<string>{ 20.26202,-2.35808 }</string>
	
								<string>{ -0.26201,27.33624 }</string>
	
								<string>{ 50.82971,43.93013 }</string>
	
								<string>{ 84.89084,28.20961 }</string>
	
								<string>{ 45.58954,-12.83842 }</string>

							</array>

							<array>
	
								<string>{ 101.04803,53.10043 }</string>
	
								<string>{ 94.93451,65.76419 }</string>
	
								<string>{ 127.68561,78.86464 }</string>

							</array>

							<array>
	
								<string>{ 84.89084,28.20961 }</string>
	
								<string>{ 50.82971,43.93013 }</string>
	
								<string>{ 94.93451,65.76419 }</string>
	
								<string>{ 101.04803,53.10043 }</string>

							</array>

							<array>
	
								<string>{ -12.48907,0.69870 }</string>
	
								<string>{ -56.15720,9.86900 }</string>
	
								<string>{ -0.26201,27.33624 }</string>
	
								<string>{ 20.26202,-2.35808 }</string>

							</array>

							<array>
	
								<string>{ -43.93013,-2.35808 }</string>
	
								<string>{ -56.15720,9.86900 }</string>
	
								<string>{ -12.48907,0.69870 }</string>

							</array>

							<array>
	
								<string>{ -110.30568,-11.52838 }</string>
	
								<string>{ -115.54585,-6.02620 }</string>
	
								<string>{ -56.15720,9.86900 }</string>
	
								<string>{ -43.93013,-2.35808 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -142.18340,-120.69869 }</string>
	
								<string>{ -81.48471,-115.89520 }</string>
	
								<string>{ -99.38864,-160.43668 }</string>
	
								<string>{ -155.72052,-159.12664 }</string>

							</array>

							<array>
	
								<string>{ -145.67686,-80.52402 }</string>
	
								<string>{ -76.24454,-73.53712 }</string>
	
								<string>{ -39.56331,-74.84716 }</string>
	
								<string>{ -47.42358,-93.62445 }</string>
	
								<string>{ -81.48471,-115.89520 }</string>
	
								<string>{ -142.18340,-120.69869 }</string>

							</array>

							<array>
	
								<string>{ -165.76419,-37.72926 }</string>
	
								<string>{ -169.69432,-46.02620 }</string>
	
								<string>{ -191.09170,-22.00873 }</string>
	
								<string>{ -189.78166,-10.82970 }</string>

							</array>

							<array>
	
								<string>{ -140.00000,-55.19650 }</string>
	
								<string>{ -145.67686,-80.52402 }</string>
	
								<string>{ -169.69432,-46.02620 }</string>
	
								<string>{ -165.76419,-37.72926 }</string>

							</array>

							<array>
	
								<string>{ -112.92576,-64.36681 }</string>
	
								<string>{ -145.67686,-80.52402 }</string>
	
								<string>{ -140.00000,-55.19650 }</string>

							</array>

							<array>
	
								<string>{ -76.24454,-73.53712 }</string>
	
								<string>{ -145.67686,-80.52402 }</string>
	
								<string>{ -112.92576,-64.36681 }</string>

							</array>

							<array>
	
								<string>{ -39.56331,-74.84716 }</string>
	
								<string>{ 13.10043,-78.95197 }</string>
	
								<string>{ 8.90829,-84.45415 }</string>
	
								<string>{ -47.42358,-93.62445 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 37.72925,-132.05240 }</string>
	
								<string>{ 84.01749,-160.00000 }</string>
	
								<string>{ 42.53275,-161.31004 }</string>
	
								<string>{ 7.16158,-135.28384 }</string>

							</array>

							<array>
	
								<string>{ 103.23145,-78.34061 }</string>
	
								<string>{ 105.85153,-94.06113 }</string>
	
								<string>{ 84.01749,-160.00000 }</string>
	
								<string>{ 74.84717,-116.76856 }</string>
	
								<string>{ 74.84717,-78.77729 }</string>

							</array>

							<array>
	
								<string>{ 74.84717,-116.76856 }</string>
	
								<string>{ 84.01749,-160.00000 }</string>
	
								<string>{ 37.72925,-132.05240 }</string>

							</array>

							<array>
	
								<string>{ 134.23581,-71.35371 }</string>
	
								<string>{ 145.15283,-80.52402 }</string>
	
								<string>{ 105.85153,-94.06113 }</string>
	
								<string>{ 103.23145,-78.34061 }</string>

							</array>

							<array>
	
								<string>{ 161.74673,-61.74673 }</string>
	
								<string>{ 184.45416,-55.19650 }</string>
	
								<string>{ 145.15283,-80.52402 }</string>
	
								<string>{ 134.23581,-71.35371 }</string>

							</array>

							<array>
	
								<string>{ 184.45416,-55.19650 }</string>
	
								<string>{ 161.74673,-61.74673 }</string>
	
								<string>{ 183.40613,-48.38428 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -240.00000,160.78604 }</string>
	
								<string>{ -226.46288,150.48035 }</string>
	
								<string>{ -240.00000,120.78604 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,160.78604 }</string>
	
								<string>{ 133.18777,159.91266 }</string>
	
								<string>{ 115.89520,155.28384 }</string>
	
								<string>{ -226.46288,150.48035 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

