<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B7</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 8.99135,-160.28818 }</string>
	
								<string>{ -239.42363,-160.28818 }</string>
	
								<string>{ -86.97406,-129.16426 }</string>
	
								<string>{ -33.37177,-129.45245 }</string>
	
								<string>{ -14.06340,-136.94525 }</string>
	
								<string>{ -1.38329,-144.14986 }</string>

							</array>

							<array>
	
								<string>{ -134.52450,61.90201 }</string>
	
								<string>{ -164.78386,75.73486 }</string>
	
								<string>{ -88.18443,72.50720 }</string>
	
								<string>{ -88.99135,63.63112 }</string>

							</array>

							<array>
	
								<string>{ -155.56196,59.59654 }</string>
	
								<string>{ -164.78386,75.73486 }</string>
	
								<string>{ -134.52450,61.90201 }</string>

							</array>

							<array>
	
								<string>{ -172.27666,54.98560 }</string>
	
								<string>{ -164.78386,75.73486 }</string>
	
								<string>{ -155.56196,59.59654 }</string>

							</array>

							<array>
	
								<string>{ -186.68588,47.20461 }</string>
	
								<string>{ -240.86455,74.52449 }</string>
	
								<string>{ -164.78386,75.73486 }</string>
	
								<string>{ -172.27666,54.98560 }</string>

							</array>

							<array>
	
								<string>{ -203.11239,33.08357 }</string>
	
								<string>{ -240.86455,74.52449 }</string>
	
								<string>{ -186.68588,47.20461 }</string>

							</array>

							<array>
	
								<string>{ -212.62248,19.53891 }</string>
	
								<string>{ -240.86455,74.52449 }</string>
	
								<string>{ -203.11239,33.08357 }</string>

							</array>

							<array>
	
								<string>{ -220.40346,5.12968 }</string>
	
								<string>{ -240.86455,74.52449 }</string>
	
								<string>{ -212.62248,19.53891 }</string>

							</array>

							<array>
	
								<string>{ -239.42363,-160.28818 }</string>
	
								<string>{ -137.11816,-125.70605 }</string>
	
								<string>{ -86.97406,-129.16426 }</string>

							</array>

							<array>
	
								<string>{ -239.42363,-160.28818 }</string>
	
								<string>{ -157.29107,-122.53602 }</string>
	
								<string>{ -137.11816,-125.70605 }</string>

							</array>

							<array>
	
								<string>{ -239.42363,-160.28818 }</string>
	
								<string>{ -171.70029,-117.06052 }</string>
	
								<string>{ -157.29107,-122.53602 }</string>

							</array>

							<array>
	
								<string>{ -239.42363,-160.28818 }</string>
	
								<string>{ -188.70317,-107.26225 }</string>
	
								<string>{ -171.70029,-117.06052 }</string>

							</array>

							<array>
	
								<string>{ -239.42363,-160.28818 }</string>
	
								<string>{ -202.24784,-95.15850 }</string>
	
								<string>{ -188.70317,-107.26225 }</string>

							</array>

							<array>
	
								<string>{ -239.42363,-160.28818 }</string>
	
								<string>{ -216.94525,-72.39193 }</string>
	
								<string>{ -202.24784,-95.15850 }</string>

							</array>

							<array>
	
								<string>{ -239.42363,-160.28818 }</string>
	
								<string>{ -223.86167,-49.62536 }</string>
	
								<string>{ -216.94525,-72.39193 }</string>

							</array>

							<array>
	
								<string>{ -240.86455,74.52449 }</string>
	
								<string>{ -225.87896,-29.45245 }</string>
	
								<string>{ -223.86167,-49.62536 }</string>
	
								<string>{ -239.42363,-160.28818 }</string>

							</array>

							<array>
	
								<string>{ -224.43804,-10.72046 }</string>
	
								<string>{ -240.86455,74.52449 }</string>
	
								<string>{ -220.40346,5.12968 }</string>

							</array>

							<array>
	
								<string>{ -225.87896,-29.45245 }</string>
	
								<string>{ -240.86455,74.52449 }</string>
	
								<string>{ -224.43804,-10.72046 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -104.84151,3.40057 }</string>
	
								<string>{ -87.55043,-4.09222 }</string>
	
								<string>{ -92.44957,-24.26514 }</string>
	
								<string>{ -109.74063,-16.48415 }</string>
	
								<string>{ -114.92796,4.49568 }</string>

							</array>

							<array>
	
								<string>{ -71.98848,-7.26225 }</string>
	
								<string>{ -28.47263,-24.55331 }</string>
	
								<string>{ -92.44957,-24.26514 }</string>
	
								<string>{ -87.55043,-4.09222 }</string>

							</array>

							<array>
	
								<string>{ 16.77234,-7.55043 }</string>
	
								<string>{ 23.68875,-20.23055 }</string>
	
								<string>{ -28.47263,-24.55331 }</string>
	
								<string>{ -71.98848,-7.26225 }</string>

							</array>

							<array>
	
								<string>{ 170.95102,59.02017 }</string>
	
								<string>{ 163.45822,34.23631 }</string>
	
								<string>{ 159.42361,52.39192 }</string>
	
								<string>{ 162.30548,79.76945 }</string>
	
								<string>{ 170.02881,79.71181 }</string>

							</array>

							<array>
	
								<string>{ 163.45822,34.23631 }</string>
	
								<string>{ 153.94812,37.98271 }</string>
	
								<string>{ 159.42361,52.39192 }</string>

							</array>

							<array>
	
								<string>{ 163.45822,34.23631 }</string>
	
								<string>{ 144.72623,4.84149 }</string>
	
								<string>{ 147.03171,28.47263 }</string>
	
								<string>{ 153.94812,37.98271 }</string>

							</array>

							<array>
	
								<string>{ 144.72623,4.84149 }</string>
	
								<string>{ 140.40344,20.69164 }</string>
	
								<string>{ 147.03171,28.47263 }</string>

							</array>

							<array>
	
								<string>{ 144.72623,4.84149 }</string>
	
								<string>{ 105.82132,-19.07780 }</string>
	
								<string>{ 124.55331,10.02882 }</string>
	
								<string>{ 140.40344,20.69164 }</string>

							</array>

							<array>
	
								<string>{ 105.82132,-19.07780 }</string>
	
								<string>{ 102.07492,1.38329 }</string>
	
								<string>{ 124.55331,10.02882 }</string>

							</array>

							<array>
	
								<string>{ 105.82132,-19.07780 }</string>
	
								<string>{ 23.68875,-20.23055 }</string>
	
								<string>{ 75.27377,-4.09222 }</string>
	
								<string>{ 102.07492,1.38329 }</string>

							</array>

							<array>
	
								<string>{ 23.68875,-20.23055 }</string>
	
								<string>{ 16.77234,-7.55043 }</string>
	
								<string>{ 75.27377,-4.09222 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 125.70605,-145.01441 }</string>
	
								<string>{ 140.40344,-139.82709 }</string>
	
								<string>{ 161.72910,-137.23343 }</string>
	
								<string>{ 192.56485,-135.21614 }</string>
	
								<string>{ 239.82709,-160.28818 }</string>
	
								<string>{ 103.22766,-160.00000 }</string>

							</array>

							<array>
	
								<string>{ 43.86166,160.97983 }</string>
	
								<string>{ 240.05765,159.25073 }</string>
	
								<string>{ 102.36310,149.79828 }</string>
	
								<string>{ 47.60806,154.69742 }</string>

							</array>

							<array>
	
								<string>{ 208.12680,-133.19885 }</string>
	
								<string>{ 239.82709,-160.28818 }</string>
	
								<string>{ 192.56485,-135.21614 }</string>

							</array>

							<array>
	
								<string>{ 219.36600,-125.12968 }</string>
	
								<string>{ 239.82709,-160.28818 }</string>
	
								<string>{ 208.12680,-133.19885 }</string>

							</array>

							<array>
	
								<string>{ 225.70605,-113.31412 }</string>
	
								<string>{ 239.82709,-160.28818 }</string>
	
								<string>{ 219.36600,-125.12968 }</string>

							</array>

							<array>
	
								<string>{ 240.05765,159.25073 }</string>
	
								<string>{ 131.46973,142.59366 }</string>
	
								<string>{ 102.36310,149.79828 }</string>

							</array>

							<array>
	
								<string>{ 240.05765,159.25073 }</string>
	
								<string>{ 154.52451,132.79538 }</string>
	
								<string>{ 131.46973,142.59366 }</string>

							</array>

							<array>
	
								<string>{ 240.05765,159.25073 }</string>
	
								<string>{ 179.59653,119.82709 }</string>
	
								<string>{ 154.52451,132.79538 }</string>

							</array>

							<array>
	
								<string>{ 240.05765,159.25073 }</string>
	
								<string>{ 195.44669,104.55331 }</string>
	
								<string>{ 179.59653,119.82709 }</string>

							</array>

							<array>
	
								<string>{ 240.05765,159.25073 }</string>
	
								<string>{ 208.99136,84.95677 }</string>
	
								<string>{ 195.44669,104.55331 }</string>

							</array>

							<array>
	
								<string>{ 240.05765,159.25073 }</string>
	
								<string>{ 219.94235,59.59654 }</string>
	
								<string>{ 208.99136,84.95677 }</string>

							</array>

							<array>
	
								<string>{ 226.28241,-99.19308 }</string>
	
								<string>{ 239.82709,-160.28818 }</string>
	
								<string>{ 225.70605,-113.31412 }</string>

							</array>

							<array>
	
								<string>{ 240.05765,159.25073 }</string>
	
								<string>{ 224.26514,37.11815 }</string>
	
								<string>{ 219.94235,59.59654 }</string>

							</array>

							<array>
	
								<string>{ 239.82709,-160.28818 }</string>
	
								<string>{ 224.26514,37.11815 }</string>
	
								<string>{ 240.05765,159.25073 }</string>

							</array>

							<array>
	
								<string>{ 225.41788,-76.71470 }</string>
	
								<string>{ 225.99423,-51.64265 }</string>
	
								<string>{ 239.82709,-160.28818 }</string>
	
								<string>{ 226.28241,-99.19308 }</string>

							</array>

							<array>
	
								<string>{ 226.57059,-20.51874 }</string>
	
								<string>{ 239.82709,-160.28818 }</string>
	
								<string>{ 225.99423,-51.64265 }</string>

							</array>

							<array>
	
								<string>{ 225.99423,14.92795 }</string>
	
								<string>{ 239.82709,-160.28818 }</string>
	
								<string>{ 226.57059,-20.51874 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

