<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B35</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 40.78604,-85.32751 }</string>
	
								<string>{ -58.77728,-99.73799 }</string>
	
								<string>{ -6.81223,-60.43668 }</string>

							</array>

							<array>
	
								<string>{ 41.48471,159.47598 }</string>
	
								<string>{ 14.58516,133.01309 }</string>
	
								<string>{ -46.55022,141.74673 }</string>

							</array>

							<array>
	
								<string>{ 41.48471,159.47598 }</string>
	
								<string>{ 42.53275,122.96945 }</string>
	
								<string>{ 14.58516,133.01309 }</string>

							</array>

							<array>
	
								<string>{ 115.02185,69.69432 }</string>
	
								<string>{ 109.78168,76.68123 }</string>
	
								<string>{ 147.77292,80.61136 }</string>
	
								<string>{ 149.08298,72.75110 }</string>

							</array>

							<array>
	
								<string>{ -164.45415,43.05678 }</string>
	
								<string>{ -240.87336,54.67249 }</string>
	
								<string>{ -141.31004,54.84717 }</string>
	
								<string>{ -141.74673,48.73363 }</string>

							</array>

							<array>
	
								<string>{ 91.00436,58.34062 }</string>
	
								<string>{ 80.52402,77.99127 }</string>
	
								<string>{ 109.78168,76.68123 }</string>
	
								<string>{ 115.02185,69.69432 }</string>

							</array>

							<array>
	
								<string>{ 68.29694,43.05678 }</string>
	
								<string>{ 63.93015,93.71179 }</string>
	
								<string>{ 80.52402,77.99127 }</string>
	
								<string>{ 91.00436,58.34062 }</string>

							</array>

							<array>
	
								<string>{ 39.47598,14.67249 }</string>
	
								<string>{ 49.95633,54.41048 }</string>
	
								<string>{ 63.93015,93.71179 }</string>
	
								<string>{ 68.29694,43.05678 }</string>

							</array>

							<array>
	
								<string>{ 41.48471,159.47598 }</string>
	
								<string>{ 71.79041,123.40613 }</string>
	
								<string>{ 63.93015,93.71179 }</string>
	
								<string>{ 53.01309,105.93887 }</string>
	
								<string>{ 42.53275,122.96945 }</string>

							</array>

							<array>
	
								<string>{ -186.72489,32.13974 }</string>
	
								<string>{ -240.87336,54.67249 }</string>
	
								<string>{ -164.45415,43.05678 }</string>

							</array>

							<array>
	
								<string>{ -203.75546,10.74236 }</string>
	
								<string>{ -240.87336,54.67249 }</string>
	
								<string>{ -186.72489,32.13974 }</string>

							</array>

							<array>
	
								<string>{ -210.74236,-18.95197 }</string>
	
								<string>{ -240.87336,54.67249 }</string>
	
								<string>{ -203.75546,10.74236 }</string>

							</array>

							<array>
	
								<string>{ -210.74236,-18.95197 }</string>
	
								<string>{ -207.68559,-49.08297 }</string>
	
								<string>{ -240.87336,-161.31004 }</string>
	
								<string>{ -240.87336,54.67249 }</string>

							</array>

							<array>
	
								<string>{ 77.90393,-99.30131 }</string>
	
								<string>{ -94.14847,-114.14847 }</string>
	
								<string>{ -58.77728,-99.73799 }</string>
	
								<string>{ 40.78604,-85.32751 }</string>

							</array>

							<array>
	
								<string>{ 49.95633,54.41048 }</string>
	
								<string>{ 39.47598,14.67249 }</string>
	
								<string>{ 34.67249,17.72926 }</string>

							</array>

							<array>
	
								<string>{ -195.02183,-80.08733 }</string>
	
								<string>{ -240.87336,-161.31004 }</string>
	
								<string>{ -207.68559,-49.08297 }</string>

							</array>

							<array>
	
								<string>{ -167.94759,-103.23144 }</string>
	
								<string>{ -240.87336,-161.31004 }</string>
	
								<string>{ -195.02183,-80.08733 }</string>

							</array>

							<array>
	
								<string>{ -135.19650,-116.76856 }</string>
	
								<string>{ -240.87336,-161.31004 }</string>
	
								<string>{ -167.94759,-103.23144 }</string>

							</array>

							<array>
	
								<string>{ -135.19650,-116.76856 }</string>
	
								<string>{ -94.14847,-114.14847 }</string>
	
								<string>{ 117.64194,-108.90829 }</string>
	
								<string>{ 242.53275,-160.00000 }</string>
	
								<string>{ -240.87336,-161.31004 }</string>

							</array>

							<array>
	
								<string>{ 117.64194,-108.90829 }</string>
	
								<string>{ -94.14847,-114.14847 }</string>
	
								<string>{ 77.90393,-99.30131 }</string>

							</array>

							<array>
	
								<string>{ 56.06989,81.48473 }</string>
	
								<string>{ 63.93015,93.71179 }</string>
	
								<string>{ 49.95633,54.41048 }</string>

							</array>

							<array>
	
								<string>{ 53.01309,105.93887 }</string>
	
								<string>{ 63.93015,93.71179 }</string>
	
								<string>{ 56.06989,81.48473 }</string>

							</array>

							<array>
	
								<string>{ 41.48471,159.47598 }</string>
	
								<string>{ 97.99127,146.98691 }</string>
	
								<string>{ 71.79041,123.40613 }</string>

							</array>

							<array>
	
								<string>{ 41.48471,159.47598 }</string>
	
								<string>{ 125.93887,154.41049 }</string>
	
								<string>{ 97.99127,146.98691 }</string>

							</array>

							<array>
	
								<string>{ 240.78604,160.08734 }</string>
	
								<string>{ 125.93887,154.41049 }</string>
	
								<string>{ 41.48471,159.47598 }</string>

							</array>

							<array>
	
								<string>{ 240.78604,160.08734 }</string>
	
								<string>{ 152.57642,144.80350 }</string>
	
								<string>{ 125.93887,154.41049 }</string>

							</array>

							<array>
	
								<string>{ 240.78604,160.08734 }</string>
	
								<string>{ 176.15723,123.84280 }</string>
	
								<string>{ 152.57642,144.80350 }</string>

							</array>

							<array>
	
								<string>{ 240.78604,160.08734 }</string>
	
								<string>{ 188.82095,102.00873 }</string>
	
								<string>{ 176.15723,123.84280 }</string>

							</array>

							<array>
	
								<string>{ 240.78604,160.08734 }</string>
	
								<string>{ 201.92142,51.79039 }</string>
	
								<string>{ 188.82095,102.00873 }</string>

							</array>

							<array>
	
								<string>{ 242.53275,-160.00000 }</string>
	
								<string>{ 201.92142,51.79039 }</string>
	
								<string>{ 240.78604,160.08734 }</string>

							</array>

							<array>
	
								<string>{ 160.00000,-106.28821 }</string>
	
								<string>{ 242.53275,-160.00000 }</string>
	
								<string>{ 117.64194,-108.90829 }</string>

							</array>

							<array>
	
								<string>{ 184.01749,-92.31441 }</string>
	
								<string>{ 242.53275,-160.00000 }</string>
	
								<string>{ 160.00000,-106.28821 }</string>

							</array>

							<array>
	
								<string>{ 201.48471,-70.48035 }</string>
	
								<string>{ 242.53275,-160.00000 }</string>
	
								<string>{ 184.01749,-92.31441 }</string>

							</array>

							<array>
	
								<string>{ 211.96509,-42.96943 }</string>
	
								<string>{ 242.53275,-160.00000 }</string>
	
								<string>{ 201.48471,-70.48035 }</string>

							</array>

							<array>
	
								<string>{ 210.21835,5.50218 }</string>
	
								<string>{ 242.53275,-160.00000 }</string>
	
								<string>{ 211.96509,-42.96943 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

