<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B39</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -285.23480,-160.27017 }</string>
	
								<string>{ -284.91326,35.17133 }</string>
	
								<string>{ -217.84016,-21.79929 }</string>
	
								<string>{ -206.59756,-34.05164 }</string>
	
								<string>{ -202.13760,-101.49990 }</string>
	
								<string>{ -228.00825,-159.70885 }</string>

							</array>

							<array>
	
								<string>{ -168.94263,27.67670 }</string>
	
								<string>{ -190.24441,42.46960 }</string>
	
								<string>{ -144.03139,41.34534 }</string>
	
								<string>{ -143.79471,30.33942 }</string>

							</array>

							<array>
	
								<string>{ -193.20299,24.12640 }</string>
	
								<string>{ -190.24441,42.46960 }</string>
	
								<string>{ -168.94263,27.67670 }</string>

							</array>

							<array>
	
								<string>{ -213.61720,11.99623 }</string>
	
								<string>{ -284.91326,35.17133 }</string>
	
								<string>{ -190.24441,42.46960 }</string>
	
								<string>{ -193.20299,24.12640 }</string>

							</array>

							<array>
	
								<string>{ -220.42192,-6.34697 }</string>
	
								<string>{ -284.91326,35.17133 }</string>
	
								<string>{ -213.61720,11.99623 }</string>

							</array>

							<array>
	
								<string>{ 67.42581,-30.29968 }</string>
	
								<string>{ 120.85245,-27.48830 }</string>
	
								<string>{ 96.36987,-34.83323 }</string>
	
								<string>{ 68.42084,-36.17711 }</string>

							</array>

							<array>
	
								<string>{ 120.85245,-27.48830 }</string>
	
								<string>{ 150.10120,-22.89293 }</string>
	
								<string>{ 159.60690,-41.58203 }</string>
	
								<string>{ 127.00955,-39.30937 }</string>
	
								<string>{ 96.36987,-34.83323 }</string>

							</array>

							<array>
	
								<string>{ 175.47433,-11.45015 }</string>
	
								<string>{ 178.21948,-47.95696 }</string>
	
								<string>{ 159.60690,-41.58203 }</string>
	
								<string>{ 150.10120,-22.89293 }</string>

							</array>

							<array>
	
								<string>{ 198.97073,4.02132 }</string>
	
								<string>{ 195.87234,-70.15661 }</string>
	
								<string>{ 178.21948,-47.95696 }</string>
	
								<string>{ 175.47433,-11.45015 }</string>

							</array>

							<array>
	
								<string>{ -217.84016,-21.79929 }</string>
	
								<string>{ -284.91326,35.17133 }</string>
	
								<string>{ -220.42192,-6.34697 }</string>

							</array>

							<array>
	
								<string>{ 90.22894,142.46960 }</string>
	
								<string>{ 283.90747,160.36188 }</string>
	
								<string>{ 135.19937,135.07315 }</string>
	
								<string>{ 88.74966,136.55243 }</string>

							</array>

							<array>
	
								<string>{ 19.81476,70.28024 }</string>
	
								<string>{ -50.31683,48.27931 }</string>
	
								<string>{ -60.32301,62.09042 }</string>
	
								<string>{ -65.90311,72.62062 }</string>

							</array>

							<array>
	
								<string>{ 19.81476,70.28024 }</string>
	
								<string>{ -42.03281,32.89470 }</string>
	
								<string>{ -50.31683,48.27931 }</string>

							</array>

							<array>
	
								<string>{ 19.81476,70.28024 }</string>
	
								<string>{ -34.62311,12.88380 }</string>
	
								<string>{ -42.03281,32.89470 }</string>

							</array>

							<array>
	
								<string>{ 19.81476,70.28024 }</string>
	
								<string>{ -29.67448,-6.50888 }</string>
	
								<string>{ -34.62311,12.88380 }</string>

							</array>

							<array>
	
								<string>{ -206.59756,-34.05164 }</string>
	
								<string>{ -182.31071,-45.25450 }</string>
	
								<string>{ -152.38637,-68.66408 }</string>
	
								<string>{ -202.13760,-101.49990 }</string>

							</array>

							<array>
	
								<string>{ 198.97073,4.02132 }</string>
	
								<string>{ 207.38870,14.36310 }</string>
	
								<string>{ 206.20529,-88.00377 }</string>
	
								<string>{ 195.87234,-70.15661 }</string>

							</array>

							<array>
	
								<string>{ -164.82859,-50.36504 }</string>
	
								<string>{ -152.38637,-68.66408 }</string>
	
								<string>{ -182.31071,-45.25450 }</string>

							</array>

							<array>
	
								<string>{ -142.86887,-53.49878 }</string>
	
								<string>{ -152.38637,-68.66408 }</string>
	
								<string>{ -164.82859,-50.36504 }</string>

							</array>

							<array>
	
								<string>{ -122.07785,-55.26068 }</string>
	
								<string>{ -57.36148,-68.66408 }</string>
	
								<string>{ -152.38637,-68.66408 }</string>
	
								<string>{ -142.86887,-53.49878 }</string>

							</array>

							<array>
	
								<string>{ -94.51007,-55.15323 }</string>
	
								<string>{ -57.36148,-68.66408 }</string>
	
								<string>{ -122.07785,-55.26068 }</string>

							</array>

							<array>
	
								<string>{ -72.96396,-54.19794 }</string>
	
								<string>{ -57.36148,-68.66408 }</string>
	
								<string>{ -94.51007,-55.15323 }</string>

							</array>

							<array>
	
								<string>{ -52.85886,-51.31886 }</string>
	
								<string>{ -57.36148,-68.66408 }</string>
	
								<string>{ -72.96396,-54.19794 }</string>

							</array>

							<array>
	
								<string>{ -40.75517,-43.19527 }</string>
	
								<string>{ -17.06299,-104.48497 }</string>
	
								<string>{ -57.36148,-68.66408 }</string>
	
								<string>{ -52.85886,-51.31886 }</string>

							</array>

							<array>
	
								<string>{ -31.36868,-28.53632 }</string>
	
								<string>{ -9.81079,-64.25565 }</string>
	
								<string>{ -1.83734,-85.24684 }</string>
	
								<string>{ -17.06299,-104.48497 }</string>
	
								<string>{ -40.75517,-43.19527 }</string>

							</array>

							<array>
	
								<string>{ 19.81476,70.28024 }</string>
	
								<string>{ -2.03900,11.79457 }</string>
	
								<string>{ -31.36868,-28.53632 }</string>
	
								<string>{ -29.67448,-6.50888 }</string>

							</array>

							<array>
	
								<string>{ 283.90747,160.36188 }</string>
	
								<string>{ 160.64316,129.74771 }</string>
	
								<string>{ 135.19937,135.07315 }</string>

							</array>

							<array>
	
								<string>{ 283.90747,160.36188 }</string>
	
								<string>{ 182.24078,122.94296 }</string>
	
								<string>{ 160.64316,129.74771 }</string>

							</array>

							<array>
	
								<string>{ 283.90747,160.36188 }</string>
	
								<string>{ 197.39725,111.78131 }</string>
	
								<string>{ 182.24078,122.94296 }</string>

							</array>

							<array>
	
								<string>{ 283.90747,160.36188 }</string>
	
								<string>{ 208.97693,96.07434 }</string>
	
								<string>{ 197.39725,111.78131 }</string>

							</array>

							<array>
	
								<string>{ 283.90747,160.36188 }</string>
	
								<string>{ 215.60651,80.02884 }</string>
	
								<string>{ 208.97693,96.07434 }</string>

							</array>

							<array>
	
								<string>{ 284.10059,-159.67846 }</string>
	
								<string>{ 217.76288,58.69911 }</string>
	
								<string>{ 215.60651,80.02884 }</string>
	
								<string>{ 283.90747,160.36188 }</string>

							</array>

							<array>
	
								<string>{ 207.38870,14.36310 }</string>
	
								<string>{ 213.28528,26.36079 }</string>
	
								<string>{ 284.10059,-159.67846 }</string>
	
								<string>{ 214.28766,-123.37131 }</string>
	
								<string>{ 206.20529,-88.00377 }</string>

							</array>

							<array>
	
								<string>{ 57.98044,44.62157 }</string>
	
								<string>{ 19.81476,70.28024 }</string>
	
								<string>{ 139.09409,52.08572 }</string>
	
								<string>{ 134.11896,47.59338 }</string>

							</array>

							<array>
	
								<string>{ 13.62677,28.96759 }</string>
	
								<string>{ 19.81476,70.28024 }</string>
	
								<string>{ 57.98044,44.62157 }</string>

							</array>

							<array>
	
								<string>{ -2.03900,11.79457 }</string>
	
								<string>{ 19.81476,70.28024 }</string>
	
								<string>{ 13.62677,28.96759 }</string>

							</array>

							<array>
	
								<string>{ -4.74146,-3.98010 }</string>
	
								<string>{ -11.09283,-27.86806 }</string>
	
								<string>{ -31.36868,-28.53632 }</string>
	
								<string>{ -2.03900,11.79457 }</string>

							</array>

							<array>
	
								<string>{ -9.81079,-64.25565 }</string>
	
								<string>{ -31.36868,-28.53632 }</string>
	
								<string>{ -11.09283,-27.86806 }</string>

							</array>

							<array>
	
								<string>{ 14.28030,-111.94766 }</string>
	
								<string>{ -29.99831,-158.71383 }</string>
	
								<string>{ -17.06299,-104.48497 }</string>
	
								<string>{ -1.83734,-85.24684 }</string>

							</array>

							<array>
	
								<string>{ 33.18579,-123.39044 }</string>
	
								<string>{ -29.99831,-158.71383 }</string>
	
								<string>{ 14.28030,-111.94766 }</string>

							</array>

							<array>
	
								<string>{ 56.50113,-132.08661 }</string>
	
								<string>{ -29.99831,-158.71383 }</string>
	
								<string>{ 33.18579,-123.39044 }</string>

							</array>

							<array>
	
								<string>{ 126.71811,-138.81333 }</string>
	
								<string>{ 284.10059,-159.67846 }</string>
	
								<string>{ -29.99831,-158.71383 }</string>
	
								<string>{ 56.50113,-132.08661 }</string>

							</array>

							<array>
	
								<string>{ 186.67865,-140.66649 }</string>
	
								<string>{ 284.10059,-159.67846 }</string>
	
								<string>{ 126.71811,-138.81333 }</string>

							</array>

							<array>
	
								<string>{ 205.02185,-138.29963 }</string>
	
								<string>{ 284.10059,-159.67846 }</string>
	
								<string>{ 186.67865,-140.66649 }</string>

							</array>

							<array>
	
								<string>{ 214.28766,-123.37131 }</string>
	
								<string>{ 284.10059,-159.67846 }</string>
	
								<string>{ 205.02185,-138.29963 }</string>

							</array>

							<array>
	
								<string>{ 216.27036,39.29613 }</string>
	
								<string>{ 284.10059,-159.67846 }</string>
	
								<string>{ 213.28528,26.36079 }</string>

							</array>

							<array>
	
								<string>{ 217.76288,58.69911 }</string>
	
								<string>{ 284.10059,-159.67846 }</string>
	
								<string>{ 216.27036,39.29613 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

