<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B11</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -32.21814,-125.62341 }</string>
	
								<string>{ -145.31859,-98.98585 }</string>
	
								<string>{ -113.44086,-65.36140 }</string>

							</array>

							<array>
	
								<string>{ 285.11414,-160.75214 }</string>
	
								<string>{ 209.70325,9.74777 }</string>
	
								<string>{ 207.08316,38.13205 }</string>
	
								<string>{ 215.05362,50.72554 }</string>
	
								<string>{ 285.40063,12.55521 }</string>

							</array>

							<array>
	
								<string>{ -157.54566,16.29799 }</string>
	
								<string>{ -178.50636,40.31546 }</string>
	
								<string>{ -116.67230,9.57310 }</string>
	
								<string>{ -122.61116,3.63423 }</string>

							</array>

							<array>
	
								<string>{ -178.94304,16.29799 }</string>
	
								<string>{ -178.50636,40.31546 }</string>
	
								<string>{ -157.54566,16.29799 }</string>

							</array>

							<array>
	
								<string>{ -198.59370,12.36786 }</string>
	
								<string>{ -283.49031,61.71036 }</string>
	
								<string>{ -178.50636,40.31546 }</string>
	
								<string>{ -178.94304,16.29799 }</string>

							</array>

							<array>
	
								<string>{ -219.11771,-10.33957 }</string>
	
								<string>{ -283.49031,61.71036 }</string>
	
								<string>{ -198.59370,12.36786 }</string>

							</array>

							<array>
	
								<string>{ -219.11771,-10.33957 }</string>
	
								<string>{ -223.92120,-42.21729 }</string>
	
								<string>{ -283.87878,-160.43668 }</string>
	
								<string>{ -283.49031,61.71036 }</string>

							</array>

							<array>
	
								<string>{ 215.05362,50.72554 }</string>
	
								<string>{ 182.62903,67.82639 }</string>
	
								<string>{ 134.59409,102.76086 }</string>
	
								<string>{ 241.58099,87.91371 }</string>
	
								<string>{ 244.70660,79.43217 }</string>

							</array>

							<array>
	
								<string>{ -31.78146,108.43774 }</string>
	
								<string>{ 63.41504,107.56436 }</string>
	
								<string>{ 134.59409,102.76086 }</string>
	
								<string>{ 146.38449,77.87004 }</string>
	
								<string>{ 53.80804,86.16699 }</string>
	
								<string>{ -30.47142,98.83075 }</string>

							</array>

							<array>
	
								<string>{ 134.59409,102.76086 }</string>
	
								<string>{ 182.62903,67.82639 }</string>
	
								<string>{ 146.38449,77.87004 }</string>

							</array>

							<array>
	
								<string>{ -32.21814,-125.62341 }</string>
	
								<string>{ -8.20068,-136.10376 }</string>
	
								<string>{ -283.87878,-160.43668 }</string>
	
								<string>{ -179.37972,-102.04262 }</string>
	
								<string>{ -145.31859,-98.98585 }</string>

							</array>

							<array>
	
								<string>{ -219.99107,-69.29153 }</string>
	
								<string>{ -283.87878,-160.43668 }</string>
	
								<string>{ -223.92120,-42.21729 }</string>

							</array>

							<array>
	
								<string>{ -207.32732,-88.50550 }</string>
	
								<string>{ -283.87878,-160.43668 }</string>
	
								<string>{ -219.99107,-69.29153 }</string>

							</array>

							<array>
	
								<string>{ -179.37972,-102.04262 }</string>
	
								<string>{ -283.87878,-160.43668 }</string>
	
								<string>{ -207.32732,-88.50550 }</string>

							</array>

							<array>
	
								<string>{ 215.05362,50.72554 }</string>
	
								<string>{ 197.91287,54.28926 }</string>
	
								<string>{ 182.62903,67.82639 }</string>

							</array>

							<array>
	
								<string>{ 215.05362,50.72554 }</string>
	
								<string>{ 207.08316,38.13205 }</string>
	
								<string>{ 197.91287,54.28926 }</string>

							</array>

							<array>
	
								<string>{ 285.11414,-160.75214 }</string>
	
								<string>{ 205.33646,-12.95966 }</string>
	
								<string>{ 209.70325,9.74777 }</string>

							</array>

							<array>
	
								<string>{ 285.11414,-160.75214 }</string>
	
								<string>{ 188.74255,-33.92035 }</string>
	
								<string>{ 205.33646,-12.95966 }</string>

							</array>

							<array>
	
								<string>{ 285.11414,-160.75214 }</string>
	
								<string>{ 126.29715,-94.61904 }</string>
	
								<string>{ 188.74255,-33.92035 }</string>

							</array>

							<array>
	
								<string>{ 285.11414,-160.75214 }</string>
	
								<string>{ 96.16614,-119.07319 }</string>
	
								<string>{ 126.29715,-94.61904 }</string>

							</array>

							<array>
	
								<string>{ 285.11414,-160.75214 }</string>
	
								<string>{ 61.23163,-136.10376 }</string>
	
								<string>{ 96.16614,-119.07319 }</string>

							</array>

							<array>
	
								<string>{ 285.11414,-160.75214 }</string>
	
								<string>{ 28.48056,-140.47057 }</string>
	
								<string>{ 61.23163,-136.10376 }</string>

							</array>

							<array>
	
								<string>{ -283.87878,-160.43668 }</string>
	
								<string>{ 28.48056,-140.47057 }</string>
	
								<string>{ 285.11414,-160.75214 }</string>

							</array>

							<array>
	
								<string>{ -283.87878,-160.43668 }</string>
	
								<string>{ -8.20068,-136.10376 }</string>
	
								<string>{ 28.48056,-140.47057 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -59.92329,-18.19983 }</string>
	
								<string>{ -40.27264,-31.30026 }</string>
	
								<string>{ -72.15038,-51.82428 }</string>
	
								<string>{ -90.92766,-40.64524 }</string>

							</array>

							<array>
	
								<string>{ 106.45224,38.13205 }</string>
	
								<string>{ 153.17715,-15.14305 }</string>
	
								<string>{ 73.70117,27.65170 }</string>
	
								<string>{ 78.32999,43.19756 }</string>

							</array>

							<array>
	
								<string>{ 153.17715,-15.14305 }</string>
	
								<string>{ 142.26010,-21.25659 }</string>
	
								<string>{ 75.88455,-12.08629 }</string>
	
								<string>{ 37.01993,4.50760 }</string>
	
								<string>{ 73.70117,27.65170 }</string>

							</array>

							<array>
	
								<string>{ -59.92329,-18.19983 }</string>
	
								<string>{ 37.01993,4.50760 }</string>
	
								<string>{ 9.50903,-17.32646 }</string>
	
								<string>{ -40.27264,-31.30026 }</string>

							</array>

							<array>
	
								<string>{ 37.01993,4.50760 }</string>
	
								<string>{ 75.88455,-12.08629 }</string>
	
								<string>{ 9.50903,-17.32646 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 266.11780,144.97293 }</string>
	
								<string>{ 282.10034,159.64542 }</string>
	
								<string>{ 282.71167,116.58865 }</string>

							</array>

							<array>
	
								<string>{ 34.61197,151.04102 }</string>
	
								<string>{ -3.53082,159.76666 }</string>
	
								<string>{ 282.10034,159.64542 }</string>
	
								<string>{ 266.11780,144.97293 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

