<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entities</key>
	<array>
		<dict>
			<key>components</key>
			<dict>
				<key>slinger</key>
				<dict>
					<key>queuedBeeTypes</key>
					<array>
						<string>BEE</string>
					</array>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{ 77.00, 288.00 }</string>
					<key>rotation</key>
					<real>330</real>
					<key>scale</key>
					<string>{ 1.00, 1.00 }</string>
				</dict>
			</dict>
			<key>type</key>
			<string>SLINGER</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>beeater</key>
				<dict>
					<key>containedBeeType</key>
					<string>SPEEDEE</string>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{ 286.00, 232.00 }</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{ 286.00, 232.00 }</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{ 1.00, 1.00 }</string>
				</dict>
			</dict>
			<key>type</key>
			<string>BEEATER-LAND-B</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>beeater</key>
				<dict>
					<key>containedBeeType</key>
					<string>BEE</string>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{ 343.00, 71.00 }</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{ 343.00, 71.00 }</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{ 1.00, 1.00 }</string>
				</dict>
			</dict>
			<key>type</key>
			<string>BEEATER-LAND-B</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>beeater</key>
				<dict>
					<key>containedBeeType</key>
					<string>BEE</string>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{ 68.00, 23.00 }</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{ 68.00, 23.00 }</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{ -1.00, 1.00 }</string>
				</dict>
			</dict>
			<key>type</key>
			<string>BEEATER-LAND-B</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>beeater</key>
				<dict>
					<key>containedBeeType</key>
					<string>BEE</string>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{ 74.00, 197.00 }</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{ 74.00, 197.00 }</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{ -1.00, 1.00 }</string>
				</dict>
			</dict>
			<key>type</key>
			<string>BEEATER-HANGING-B</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{ 99.00, 106.00 }</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{ 99.00, 106.00 }</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{ 1.00, 1.00 }</string>
				</dict>
			</dict>
			<key>type</key>
			<string>POLLEN</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{ 125.00, 106.00 }</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{ 125.00, 106.00 }</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{ 1.00, 1.00 }</string>
				</dict>
			</dict>
			<key>type</key>
			<string>POLLEN</string>
		</dict>
	</array>
	<key>format</key>
	<integer>2</integer>
	<key>hasWater</key>
	<false/>
	<key>name</key>
	<string>Level-B13</string>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
