<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B36</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -1.57205,-53.88646 }</string>
	
								<string>{ 15.89520,-76.59389 }</string>
	
								<string>{ -52.22707,-77.90393 }</string>
	
								<string>{ -36.50655,-54.32314 }</string>

							</array>

							<array>
	
								<string>{ -124.27947,-112.83843 }</string>
	
								<string>{ 239.47598,-161.74672 }</string>
	
								<string>{ -239.56332,-160.00000 }</string>
	
								<string>{ -239.56332,-113.44978 }</string>

							</array>

							<array>
	
								<string>{ 15.89520,-76.59389 }</string>
	
								<string>{ 46.02621,-88.38428 }</string>
	
								<string>{ -82.35808,-100.61135 }</string>
	
								<string>{ -52.22707,-77.90393 }</string>

							</array>

							<array>
	
								<string>{ -82.35808,-100.61135 }</string>
	
								<string>{ 46.02621,-88.38428 }</string>
	
								<string>{ 107.16159,-85.32751 }</string>
	
								<string>{ 239.47598,-161.74672 }</string>
	
								<string>{ -124.27947,-112.83843 }</string>

							</array>

							<array>
	
								<string>{ 151.26639,-73.53712 }</string>
	
								<string>{ 239.47598,-161.74672 }</string>
	
								<string>{ 107.16159,-85.32751 }</string>

							</array>

							<array>
	
								<string>{ 180.08734,-50.82969 }</string>
	
								<string>{ 239.47598,-161.74672 }</string>
	
								<string>{ 151.26639,-73.53712 }</string>

							</array>

							<array>
	
								<string>{ 197.99127,-20.26201 }</string>
	
								<string>{ 239.47598,-161.74672 }</string>
	
								<string>{ 180.08734,-50.82969 }</string>

							</array>

							<array>
	
								<string>{ 197.99127,-20.26201 }</string>
	
								<string>{ 202.79477,15.98253 }</string>
	
								<string>{ 239.91266,159.21399 }</string>
	
								<string>{ 239.47598,-161.74672 }</string>

							</array>

							<array>
	
								<string>{ 199.73801,59.21397 }</string>
	
								<string>{ 239.91266,159.21399 }</string>
	
								<string>{ 202.79477,15.98253 }</string>

							</array>

							<array>
	
								<string>{ 192.75110,90.21834 }</string>
	
								<string>{ 239.91266,159.21399 }</string>
	
								<string>{ 199.73801,59.21397 }</string>

							</array>

							<array>
	
								<string>{ 187.07425,112.92578 }</string>
	
								<string>{ 239.91266,159.21399 }</string>
	
								<string>{ 192.75110,90.21834 }</string>

							</array>

							<array>
	
								<string>{ 187.07425,112.92578 }</string>
	
								<string>{ 178.34061,133.44980 }</string>
	
								<string>{ 174.23581,159.47598 }</string>
	
								<string>{ 239.91266,159.21399 }</string>

							</array>

							<array>
	
								<string>{ 167.86026,145.67685 }</string>
	
								<string>{ 174.23581,159.47598 }</string>
	
								<string>{ 178.34061,133.44980 }</string>

							</array>

							<array>
	
								<string>{ 152.57642,152.66376 }</string>
	
								<string>{ 174.23581,159.47598 }</string>
	
								<string>{ 167.86026,145.67685 }</string>

							</array>

							<array>
	
								<string>{ -95.02184,155.28384 }</string>
	
								<string>{ -131.70306,160.08734 }</string>
	
								<string>{ 174.23581,159.47598 }</string>
	
								<string>{ 152.57642,152.66376 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -99.82533,79.56332 }</string>
	
								<string>{ -77.99126,68.82097 }</string>
	
								<string>{ -95.89519,67.51093 }</string>

							</array>

							<array>
	
								<string>{ -41.74672,52.66376 }</string>
	
								<string>{ 8.47162,57.90393 }</string>
	
								<string>{ -11.17903,32.13974 }</string>
	
								<string>{ -31.26637,31.70306 }</string>

							</array>

							<array>
	
								<string>{ -41.74672,52.66376 }</string>
	
								<string>{ -56.15720,65.76419 }</string>
	
								<string>{ 28.12228,107.24890 }</string>
	
								<string>{ 30.74237,81.04803 }</string>
	
								<string>{ 8.47162,57.90393 }</string>

							</array>

							<array>
	
								<string>{ -99.82533,79.56332 }</string>
	
								<string>{ 28.12228,107.24890 }</string>
	
								<string>{ -56.15720,65.76419 }</string>
	
								<string>{ -77.99126,68.82097 }</string>

							</array>

							<array>
	
								<string>{ 28.12228,107.24890 }</string>
	
								<string>{ 63.49347,97.64194 }</string>
	
								<string>{ 30.74237,81.04803 }</string>

							</array>

							<array>
	
								<string>{ 108.73364,114.49783 }</string>
	
								<string>{ 105.41486,107.68561 }</string>
	
								<string>{ 63.49347,97.64194 }</string>
	
								<string>{ 28.12228,107.24890 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

