<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B28</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -41.36099,-43.52432 }</string>
	
								<string>{ -20.83698,-48.32781 }</string>
	
								<string>{ -21.71033,-71.90860 }</string>
	
								<string>{ -30.88065,-80.64223 }</string>
	
								<string>{ -51.40466,-66.66843 }</string>

							</array>

							<array>
	
								<string>{ -41.36099,-43.52432 }</string>
	
								<string>{ -39.17760,-16.88676 }</string>
	
								<string>{ -16.47015,-25.62039 }</string>
	
								<string>{ -20.83698,-48.32781 }</string>

							</array>

							<array>
	
								<string>{ -39.17760,-16.88676 }</string>
	
								<string>{ -53.58807,7.13071 }</string>
	
								<string>{ -5.98981,23.72459 }</string>
	
								<string>{ 5.80057,-12.95663 }</string>
	
								<string>{ -16.47015,-25.62039 }</string>

							</array>

							<array>
	
								<string>{ 145.97525,-46.58109 }</string>
	
								<string>{ 139.42502,-78.45882 }</string>
	
								<string>{ 121.95779,-66.66843 }</string>
	
								<string>{ 114.97089,-59.68153 }</string>

							</array>

							<array>
	
								<string>{ 170.86609,-30.42389 }</string>
	
								<string>{ 147.28531,-100.72956 }</string>
	
								<string>{ 139.42502,-78.45882 }</string>
	
								<string>{ 145.97525,-46.58109 }</string>

							</array>

							<array>
	
								<string>{ 37.67831,-119.94353 }</string>
	
								<string>{ -67.12518,-118.63349 }</string>
	
								<string>{ 5.36389,-101.16624 }</string>

							</array>

							<array>
	
								<string>{ 5.80057,-12.95663 }</string>
	
								<string>{ -5.98981,23.72459 }</string>
	
								<string>{ 43.61716,-3.52432 }</string>
	
								<string>{ 38.55167,-9.89987 }</string>

							</array>

							<array>
	
								<string>{ -53.58807,7.13071 }</string>
	
								<string>{ -82.40903,19.35777 }</string>
	
								<string>{ -88.95924,42.50188 }</string>
	
								<string>{ -5.98981,23.72459 }</string>

							</array>

							<array>
	
								<string>{ -116.03349,24.16127 }</string>
	
								<string>{ -88.95924,42.50188 }</string>
	
								<string>{ -82.40903,19.35777 }</string>

							</array>

							<array>
	
								<string>{ -159.26493,17.61105 }</string>
	
								<string>{ -285.59236,60.00446 }</string>
	
								<string>{ -88.95924,42.50188 }</string>
	
								<string>{ -116.03349,24.16127 }</string>

							</array>

							<array>
	
								<string>{ 190.08005,-14.70335 }</string>
	
								<string>{ 284.76617,-160.51873 }</string>
	
								<string>{ 145.97525,-116.45009 }</string>
	
								<string>{ 147.28531,-100.72956 }</string>
	
								<string>{ 170.86609,-30.42389 }</string>

							</array>

							<array>
	
								<string>{ -181.53568,8.87743 }</string>
	
								<string>{ -285.59236,60.00446 }</string>
	
								<string>{ -159.26493,17.61105 }</string>

							</array>

							<array>
	
								<string>{ -196.81951,-5.09637 }</string>
	
								<string>{ -285.59236,60.00446 }</string>
	
								<string>{ -181.53568,8.87743 }</string>

							</array>

							<array>
	
								<string>{ -196.81951,-5.09637 }</string>
	
								<string>{ -208.17323,-27.36711 }</string>
	
								<string>{ -283.88179,-160.75515 }</string>
	
								<string>{ -285.59236,60.00446 }</string>

							</array>

							<array>
	
								<string>{ 105.36389,160.40582 }</string>
	
								<string>{ 129.38138,129.83813 }</string>
	
								<string>{ 42.04510,132.02155 }</string>
	
								<string>{ 41.17175,140.31848 }</string>

							</array>

							<array>
	
								<string>{ 105.36389,160.40582 }</string>
	
								<string>{ 284.12921,159.96915 }</string>
	
								<string>{ 157.76566,127.21805 }</string>
	
								<string>{ 129.38138,129.83813 }</string>

							</array>

							<array>
	
								<string>{ 284.12921,159.96915 }</string>
	
								<string>{ 183.96652,121.54117 }</string>
	
								<string>{ 157.76566,127.21805 }</string>

							</array>

							<array>
	
								<string>{ 284.12921,159.96915 }</string>
	
								<string>{ 202.30713,107.13071 }</string>
	
								<string>{ 183.96652,121.54117 }</string>

							</array>

							<array>
	
								<string>{ 284.12921,159.96915 }</string>
	
								<string>{ 214.09753,89.66345 }</string>
	
								<string>{ 202.30713,107.13071 }</string>

							</array>

							<array>
	
								<string>{ 284.12921,159.96915 }</string>
	
								<string>{ 222.83115,66.95602 }</string>
	
								<string>{ 214.09753,89.66345 }</string>

							</array>

							<array>
	
								<string>{ 284.76617,-160.51873 }</string>
	
								<string>{ 217.59097,31.14816 }</string>
	
								<string>{ 222.83115,66.95602 }</string>
	
								<string>{ 284.12921,159.96915 }</string>

							</array>

							<array>
	
								<string>{ 72.61279,-135.22738 }</string>
	
								<string>{ -108.17323,-127.80380 }</string>
	
								<string>{ -67.12518,-118.63349 }</string>
	
								<string>{ 37.67831,-119.94353 }</string>

							</array>

							<array>
	
								<string>{ 284.76617,-160.51873 }</string>
	
								<string>{ 204.05386,1.89053 }</string>
	
								<string>{ 217.59097,31.14816 }</string>

							</array>

							<array>
	
								<string>{ 284.76617,-160.51873 }</string>
	
								<string>{ 190.08005,-14.70335 }</string>
	
								<string>{ 204.05386,1.89053 }</string>

							</array>

							<array>
	
								<string>{ 284.76617,-160.51873 }</string>
	
								<string>{ 135.05823,-132.60729 }</string>
	
								<string>{ 145.97525,-116.45009 }</string>

							</array>

							<array>
	
								<string>{ 284.76617,-160.51873 }</string>
	
								<string>{ 119.77438,-137.84747 }</string>
	
								<string>{ 135.05823,-132.60729 }</string>

							</array>

							<array>
	
								<string>{ -283.88179,-160.75515 }</string>
	
								<string>{ -147.47453,-129.11384 }</string>
	
								<string>{ -108.17323,-127.80380 }</string>
	
								<string>{ 119.77438,-137.84747 }</string>
	
								<string>{ 284.76617,-160.51873 }</string>

							</array>

							<array>
	
								<string>{ -283.88179,-160.75515 }</string>
	
								<string>{ -177.16886,-119.50686 }</string>
	
								<string>{ -147.47453,-129.11384 }</string>

							</array>

							<array>
	
								<string>{ -283.88179,-160.75515 }</string>
	
								<string>{ -195.94615,-98.10947 }</string>
	
								<string>{ -177.16886,-119.50686 }</string>

							</array>

							<array>
	
								<string>{ -283.88179,-160.75515 }</string>
	
								<string>{ -205.11646,-81.95227 }</string>
	
								<string>{ -195.94615,-98.10947 }</string>

							</array>

							<array>
	
								<string>{ -283.88179,-160.75515 }</string>
	
								<string>{ -209.91995,-54.44135 }</string>
	
								<string>{ -205.11646,-81.95227 }</string>

							</array>

							<array>
	
								<string>{ -283.88179,-160.75515 }</string>
	
								<string>{ -208.17323,-27.36711 }</string>
	
								<string>{ -209.91995,-54.44135 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

