<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B31</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 68.73364,0.26201 }</string>
	
								<string>{ 57.37991,9.86900 }</string>
	
								<string>{ 56.50656,31.70306 }</string>
	
								<string>{ 79.21399,15.54585 }</string>
	
								<string>{ 82.27075,1.57205 }</string>

							</array>

							<array>
	
								<string>{ 37.72925,18.60263 }</string>
	
								<string>{ 18.95197,38.68996 }</string>
	
								<string>{ 56.50656,31.70306 }</string>
	
								<string>{ 57.37991,9.86900 }</string>

							</array>

							<array>
	
								<string>{ -77.11790,110.74237 }</string>
	
								<string>{ -5.50218,111.17905 }</string>
	
								<string>{ 6.28821,90.21834 }</string>
	
								<string>{ -42.18340,85.85153 }</string>
	
								<string>{ -81.04803,85.41486 }</string>
	
								<string>{ -91.52838,102.44540 }</string>

							</array>

							<array>
	
								<string>{ 0.61136,20.78603 }</string>
	
								<string>{ -43.93013,33.44978 }</string>
	
								<string>{ 18.95197,38.68996 }</string>
	
								<string>{ 37.72925,18.60263 }</string>

							</array>

							<array>
	
								<string>{ 96.24454,-39.91266 }</string>
	
								<string>{ 45.15283,-59.56332 }</string>
	
								<string>{ 72.22708,-36.41921 }</string>

							</array>

							<array>
	
								<string>{ -36.06987,19.47598 }</string>
	
								<string>{ -43.93013,33.44978 }</string>
	
								<string>{ 0.61136,20.78603 }</string>

							</array>

							<array>
	
								<string>{ -68.38428,14.23581 }</string>
	
								<string>{ -107.68559,26.46289 }</string>
	
								<string>{ -62.88210,39.82533 }</string>
	
								<string>{ -43.93013,33.44978 }</string>
	
								<string>{ -36.06987,19.47598 }</string>

							</array>

							<array>
	
								<string>{ -106.37555,1.13538 }</string>
	
								<string>{ -153.53712,2.00874 }</string>
	
								<string>{ -107.68559,26.46289 }</string>
	
								<string>{ -68.38428,14.23581 }</string>

							</array>

							<array>
	
								<string>{ -144.80349,-14.14847 }</string>
	
								<string>{ -188.03493,-20.69868 }</string>
	
								<string>{ -153.53712,2.00874 }</string>
	
								<string>{ -106.37555,1.13538 }</string>

							</array>

							<array>
	
								<string>{ -179.73799,-36.85590 }</string>
	
								<string>{ -188.03493,-20.69868 }</string>
	
								<string>{ -144.80349,-14.14847 }</string>

							</array>

							<array>
	
								<string>{ -195.45852,-53.01310 }</string>
	
								<string>{ -213.79913,-21.57205 }</string>
	
								<string>{ -188.03493,-20.69868 }</string>
	
								<string>{ -179.73799,-36.85590 }</string>

							</array>

							<array>
	
								<string>{ -195.45852,-53.01310 }</string>
	
								<string>{ -205.93887,-67.86026 }</string>
	
								<string>{ -240.87336,-16.94324 }</string>
	
								<string>{ -213.79913,-21.57205 }</string>

							</array>

							<array>
	
								<string>{ -205.93887,-67.86026 }</string>
	
								<string>{ -207.68559,-89.69432 }</string>
	
								<string>{ -240.43668,-134.23581 }</string>
	
								<string>{ -240.87336,-16.94324 }</string>

							</array>

							<array>
	
								<string>{ -5.50218,111.17905 }</string>
	
								<string>{ 79.65067,92.40175 }</string>
	
								<string>{ 57.81659,84.97816 }</string>
	
								<string>{ 6.28821,90.21834 }</string>

							</array>

							<array>
	
								<string>{ 240.78604,-133.36245 }</string>
	
								<string>{ 190.56769,-8.90829 }</string>
	
								<string>{ 182.70743,13.36244 }</string>
	
								<string>{ 207.16159,32.13974 }</string>
	
								<string>{ 239.91266,33.44978 }</string>

							</array>

							<array>
	
								<string>{ 79.65067,92.40175 }</string>
	
								<string>{ 91.87775,73.62445 }</string>
	
								<string>{ 57.81659,84.97816 }</string>

							</array>

							<array>
	
								<string>{ 79.65067,92.40175 }</string>
	
								<string>{ 150.39301,62.27075 }</string>
	
								<string>{ 128.55896,60.08734 }</string>
	
								<string>{ 91.87775,73.62445 }</string>

							</array>

							<array>
	
								<string>{ 150.39301,62.27075 }</string>
	
								<string>{ 184.45416,40.00000 }</string>
	
								<string>{ 166.55023,32.13974 }</string>
	
								<string>{ 128.55896,60.08734 }</string>

							</array>

							<array>
	
								<string>{ 184.45416,40.00000 }</string>
	
								<string>{ 207.16159,32.13974 }</string>
	
								<string>{ 182.70743,13.36244 }</string>
	
								<string>{ 166.55023,32.13974 }</string>

							</array>

							<array>
	
								<string>{ -193.27511,-108.03493 }</string>
	
								<string>{ -240.43668,-134.23581 }</string>
	
								<string>{ -207.68559,-89.69432 }</string>

							</array>

							<array>
	
								<string>{ -163.58079,-117.20524 }</string>
	
								<string>{ -240.43668,-134.23581 }</string>
	
								<string>{ -193.27511,-108.03493 }</string>

							</array>

							<array>
	
								<string>{ 128.55896,-40.78603 }</string>
	
								<string>{ 240.78604,-133.36245 }</string>
	
								<string>{ 15.02184,-82.70742 }</string>
	
								<string>{ 45.15283,-59.56332 }</string>
	
								<string>{ 96.24454,-39.91266 }</string>

							</array>

							<array>
	
								<string>{ 240.78604,-133.36245 }</string>
	
								<string>{ 181.39740,-29.43231 }</string>
	
								<string>{ 190.56769,-8.90829 }</string>

							</array>

							<array>
	
								<string>{ 240.78604,-133.36245 }</string>
	
								<string>{ 158.25330,-37.72926 }</string>
	
								<string>{ 181.39740,-29.43231 }</string>

							</array>

							<array>
	
								<string>{ 240.78604,-133.36245 }</string>
	
								<string>{ 128.55896,-40.78603 }</string>
	
								<string>{ 158.25330,-37.72926 }</string>

							</array>

							<array>
	
								<string>{ 240.78604,-133.36245 }</string>
	
								<string>{ -35.63318,-103.23144 }</string>
	
								<string>{ 15.02184,-82.70742 }</string>

							</array>

							<array>
	
								<string>{ -122.53275,-117.20524 }</string>
	
								<string>{ -240.43668,-134.23581 }</string>
	
								<string>{ -163.58079,-117.20524 }</string>

							</array>

							<array>
	
								<string>{ 240.78604,-133.36245 }</string>
	
								<string>{ -83.66812,-114.14847 }</string>
	
								<string>{ -35.63318,-103.23144 }</string>

							</array>

							<array>
	
								<string>{ -240.43668,-134.23581 }</string>
	
								<string>{ -122.53275,-117.20524 }</string>
	
								<string>{ -83.66812,-114.14847 }</string>
	
								<string>{ 240.78604,-133.36245 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 223.75546,147.42358 }</string>
	
								<string>{ 241.48471,160.34933 }</string>
	
								<string>{ 240.78604,131.26639 }</string>

							</array>

							<array>
	
								<string>{ -22.96942,155.28384 }</string>
	
								<string>{ -69.25764,160.78604 }</string>
	
								<string>{ 241.48471,160.34933 }</string>
	
								<string>{ 223.75546,147.42358 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

