<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B7</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -151.35371,73.62445 }</string>
	
								<string>{ -174.49782,51.79039 }</string>
	
								<string>{ -202.44542,27.77293 }</string>
	
								<string>{ -240.43668,31.70306 }</string>
	
								<string>{ -240.43668,71.70306 }</string>

							</array>

							<array>
	
								<string>{ 13.27512,-161.74672 }</string>
	
								<string>{ -240.87336,-160.87336 }</string>
	
								<string>{ -100.69868,-130.30568 }</string>
	
								<string>{ -19.91266,-135.10917 }</string>
	
								<string>{ -0.26201,-143.84279 }</string>

							</array>

							<array>
	
								<string>{ -240.87336,-160.87336 }</string>
	
								<string>{ -157.03056,-124.19214 }</string>
	
								<string>{ -100.69868,-130.30568 }</string>

							</array>

							<array>
	
								<string>{ -240.87336,-160.87336 }</string>
	
								<string>{ -185.85153,-108.90829 }</string>
	
								<string>{ -157.03056,-124.19214 }</string>

							</array>

							<array>
	
								<string>{ -240.87336,-160.87336 }</string>
	
								<string>{ -212.05240,-78.77729 }</string>
	
								<string>{ -185.85153,-108.90829 }</string>

							</array>

							<array>
	
								<string>{ -240.87336,-160.87336 }</string>
	
								<string>{ -223.40611,-41.65939 }</string>
	
								<string>{ -212.05240,-78.77729 }</string>

							</array>

							<array>
	
								<string>{ -130.39301,60.08734 }</string>
	
								<string>{ -151.35371,73.62445 }</string>
	
								<string>{ -83.84279,70.39302 }</string>
	
								<string>{ -86.28821,63.14410 }</string>

							</array>

							<array>
	
								<string>{ -174.49782,51.79039 }</string>
	
								<string>{ -151.35371,73.62445 }</string>
	
								<string>{ -130.39301,60.08734 }</string>

							</array>

							<array>
	
								<string>{ -220.34934,-3.66812 }</string>
	
								<string>{ -240.43668,31.70306 }</string>
	
								<string>{ -202.44542,27.77293 }</string>

							</array>

							<array>
	
								<string>{ -223.40611,-41.65939 }</string>
	
								<string>{ -240.87336,-160.87336 }</string>
	
								<string>{ -240.43668,31.70306 }</string>
	
								<string>{ -220.34934,-3.66812 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -103.75546,1.13538 }</string>
	
								<string>{ -84.97816,-6.28821 }</string>
	
								<string>{ -93.71179,-24.62881 }</string>
	
								<string>{ -107.24890,-17.20523 }</string>
	
								<string>{ -113.36244,2.27075 }</string>

							</array>

							<array>
	
								<string>{ -59.65065,-10.65501 }</string>
	
								<string>{ -3.75545,-28.12227 }</string>
	
								<string>{ -93.71179,-24.62881 }</string>
	
								<string>{ -84.97816,-6.28821 }</string>

							</array>

							<array>
	
								<string>{ 47.59827,90.04367 }</string>
	
								<string>{ 84.89084,51.79039 }</string>
	
								<string>{ 60.00000,60.96071 }</string>
	
								<string>{ 45.15283,76.24455 }</string>

							</array>

							<array>
	
								<string>{ 84.89084,51.79039 }</string>
	
								<string>{ 73.53711,45.24017 }</string>
	
								<string>{ 60.00000,60.96071 }</string>

							</array>

							<array>
	
								<string>{ 84.89084,51.79039 }</string>
	
								<string>{ 100.61136,26.02620 }</string>
	
								<string>{ 83.14410,29.08298 }</string>
	
								<string>{ 73.53711,45.24017 }</string>

							</array>

							<array>
	
								<string>{ 100.61136,26.02620 }</string>
	
								<string>{ 102.35809,-1.48471 }</string>
	
								<string>{ 87.07425,-18.07860 }</string>
	
								<string>{ 83.14410,29.08298 }</string>

							</array>

							<array>
	
								<string>{ 87.07425,-18.07860 }</string>
	
								<string>{ 71.79041,-5.41484 }</string>
	
								<string>{ 84.45416,9.43231 }</string>

							</array>

							<array>
	
								<string>{ 87.07425,-18.07860 }</string>
	
								<string>{ -3.75545,-28.12227 }</string>
	
								<string>{ 40.34933,-9.34497 }</string>
	
								<string>{ 71.79041,-5.41484 }</string>

							</array>

							<array>
	
								<string>{ -3.75545,-28.12227 }</string>
	
								<string>{ -12.05240,-11.09171 }</string>
	
								<string>{ 40.34933,-9.34497 }</string>

							</array>

							<array>
	
								<string>{ -3.75545,-28.12227 }</string>
	
								<string>{ -59.65065,-10.65501 }</string>
	
								<string>{ -12.05240,-11.09171 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 48.20963,159.91266 }</string>
	
								<string>{ 237.99127,159.91266 }</string>
	
								<string>{ 113.71179,145.24017 }</string>
	
								<string>{ 52.57642,152.22708 }</string>

							</array>

							<array>
	
								<string>{ 237.99127,159.91266 }</string>
	
								<string>{ 156.50656,133.88647 }</string>
	
								<string>{ 113.71179,145.24017 }</string>

							</array>

							<array>
	
								<string>{ 237.99127,159.91266 }</string>
	
								<string>{ 192.31442,107.68561 }</string>
	
								<string>{ 156.50656,133.88647 }</string>

							</array>

							<array>
	
								<string>{ 237.99127,159.91266 }</string>
	
								<string>{ 216.76855,73.62445 }</string>
	
								<string>{ 192.31442,107.68561 }</string>

							</array>

							<array>
	
								<string>{ 237.99127,159.91266 }</string>
	
								<string>{ 230.30569,26.02620 }</string>
	
								<string>{ 216.76855,73.62445 }</string>

							</array>

							<array>
	
								<string>{ 237.99127,159.91266 }</string>
	
								<string>{ 241.22272,-160.87336 }</string>
	
								<string>{ 225.93887,-160.43668 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

