<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B30</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -175.14286,-129.42857 }</string>
	
								<string>{ -146.00000,-159.71429 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -198.85714,-95.42857 }</string>
	
								<string>{ -175.14286,-129.42857 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -214.57143,-64.28571 }</string>
	
								<string>{ -198.85714,-95.42857 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -225.42857,-32.85714 }</string>
	
								<string>{ -214.57143,-64.28571 }</string>

							</array>

							<array>
	
								<string>{ -125.14286,54.28572 }</string>
	
								<string>{ -177.71429,39.14285 }</string>
	
								<string>{ -183.42857,61.42857 }</string>
	
								<string>{ -121.71429,62.28572 }</string>

							</array>

							<array>
	
								<string>{ -207.71429,18.85715 }</string>
	
								<string>{ -239.71429,56.85715 }</string>
	
								<string>{ -183.42857,61.42857 }</string>
	
								<string>{ -177.71429,39.14285 }</string>

							</array>

							<array>
	
								<string>{ -222.28572,-2.85715 }</string>
	
								<string>{ -239.71429,56.85715 }</string>
	
								<string>{ -207.71429,18.85715 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -239.71429,56.85715 }</string>
	
								<string>{ -222.28572,-2.85715 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 176.85715,-3.42857 }</string>
	
								<string>{ 197.42856,0.57143 }</string>
	
								<string>{ 194.57144,-16.57143 }</string>
	
								<string>{ 171.71429,-10.28572 }</string>

							</array>

							<array>
	
								<string>{ 210.57144,6.00000 }</string>
	
								<string>{ 219.14285,-34.28571 }</string>
	
								<string>{ 194.57144,-16.57143 }</string>
	
								<string>{ 197.42856,0.57143 }</string>

							</array>

							<array>
	
								<string>{ 219.42856,14.00000 }</string>
	
								<string>{ 219.14285,-34.28571 }</string>
	
								<string>{ 210.57144,6.00000 }</string>

							</array>

							<array>
	
								<string>{ 126.28571,-135.71428 }</string>
	
								<string>{ 165.42856,-137.71428 }</string>
	
								<string>{ 182.28571,-141.42857 }</string>
	
								<string>{ 240.85715,-160.00000 }</string>
	
								<string>{ 132.85715,-160.00000 }</string>

							</array>

							<array>
	
								<string>{ 148.00000,-55.42857 }</string>
	
								<string>{ 141.71429,-80.00000 }</string>
	
								<string>{ 128.28571,-107.14286 }</string>
	
								<string>{ 133.71429,-76.00000 }</string>
	
								<string>{ 143.71429,-53.42857 }</string>

							</array>

							<array>
	
								<string>{ 142.85715,-108.28571 }</string>
	
								<string>{ 126.28571,-135.71428 }</string>
	
								<string>{ 128.28571,-107.14286 }</string>
	
								<string>{ 141.71429,-80.00000 }</string>

							</array>

							<array>
	
								<string>{ 151.71429,-129.71428 }</string>
	
								<string>{ 126.28571,-135.71428 }</string>
	
								<string>{ 142.85715,-108.28571 }</string>

							</array>

							<array>
	
								<string>{ 165.42856,-137.71428 }</string>
	
								<string>{ 126.28571,-135.71428 }</string>
	
								<string>{ 151.71429,-129.71428 }</string>

							</array>

							<array>
	
								<string>{ 229.42856,30.28572 }</string>
	
								<string>{ 228.00000,-48.28571 }</string>
	
								<string>{ 219.14285,-34.28571 }</string>
	
								<string>{ 219.42856,14.00000 }</string>

							</array>

							<array>
	
								<string>{ 104.00000,88.28572 }</string>
	
								<string>{ 177.14285,95.71428 }</string>
	
								<string>{ 161.14285,83.71428 }</string>
	
								<string>{ 104.85715,84.00000 }</string>

							</array>

							<array>
	
								<string>{ 177.14285,95.71428 }</string>
	
								<string>{ 240.00000,96.28571 }</string>
	
								<string>{ 196.85715,81.42857 }</string>
	
								<string>{ 161.14285,83.71428 }</string>

							</array>

							<array>
	
								<string>{ 240.00000,96.28571 }</string>
	
								<string>{ 210.85715,76.85715 }</string>
	
								<string>{ 196.85715,81.42857 }</string>

							</array>

							<array>
	
								<string>{ 240.00000,96.28571 }</string>
	
								<string>{ 223.42856,69.42857 }</string>
	
								<string>{ 210.85715,76.85715 }</string>

							</array>

							<array>
	
								<string>{ 240.00000,96.28571 }</string>
	
								<string>{ 229.71429,60.57143 }</string>
	
								<string>{ 223.42856,69.42857 }</string>

							</array>

							<array>
	
								<string>{ 240.00000,96.28571 }</string>
	
								<string>{ 233.42856,48.57143 }</string>
	
								<string>{ 229.71429,60.57143 }</string>

							</array>

							<array>
	
								<string>{ 229.42856,30.28572 }</string>
	
								<string>{ 233.42856,48.57143 }</string>
	
								<string>{ 233.14285,-66.57143 }</string>
	
								<string>{ 228.00000,-48.28571 }</string>

							</array>

							<array>
	
								<string>{ 240.00000,96.28571 }</string>
	
								<string>{ 240.85715,-160.00000 }</string>
	
								<string>{ 233.14285,-66.57143 }</string>
	
								<string>{ 233.42856,48.57143 }</string>

							</array>

							<array>
	
								<string>{ 240.85715,-160.00000 }</string>
	
								<string>{ 229.14285,-86.28571 }</string>
	
								<string>{ 233.14285,-66.57143 }</string>

							</array>

							<array>
	
								<string>{ 240.85715,-160.00000 }</string>
	
								<string>{ 220.28571,-109.42857 }</string>
	
								<string>{ 229.14285,-86.28571 }</string>

							</array>

							<array>
	
								<string>{ 240.85715,-160.00000 }</string>
	
								<string>{ 212.57144,-124.00000 }</string>
	
								<string>{ 220.28571,-109.42857 }</string>

							</array>

							<array>
	
								<string>{ 240.85715,-160.00000 }</string>
	
								<string>{ 200.57144,-136.57143 }</string>
	
								<string>{ 212.57144,-124.00000 }</string>

							</array>

							<array>
	
								<string>{ 240.85715,-160.00000 }</string>
	
								<string>{ 182.28571,-141.42857 }</string>
	
								<string>{ 200.57144,-136.57143 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

