<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-B55</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 71.35373,28.20961 }</string>
	
								<string>{ 99.30133,32.57642 }</string>
	
								<string>{ 73.10043,12.92577 }</string>

							</array>

							<array>
	
								<string>{ 64.80350,37.81660 }</string>
	
								<string>{ 101.92142,62.70743 }</string>
	
								<string>{ 112.83844,42.62009 }</string>
	
								<string>{ 99.30133,32.57642 }</string>
	
								<string>{ 71.35373,28.20961 }</string>

							</array>

							<array>
	
								<string>{ 132.05240,48.29695 }</string>
	
								<string>{ 101.92142,62.70743 }</string>
	
								<string>{ 159.82535,59.03931 }</string>
	
								<string>{ 157.81659,52.22708 }</string>

							</array>

							<array>
	
								<string>{ 112.83844,42.62009 }</string>
	
								<string>{ 101.92142,62.70743 }</string>
	
								<string>{ 132.05240,48.29695 }</string>

							</array>

							<array>
	
								<string>{ 64.80350,37.81660 }</string>
	
								<string>{ 17.20523,65.76419 }</string>
	
								<string>{ 101.92142,62.70743 }</string>

							</array>

							<array>
	
								<string>{ -100.69868,59.91267 }</string>
	
								<string>{ 17.20523,65.76419 }</string>
	
								<string>{ -38.25327,53.53712 }</string>
	
								<string>{ -97.64192,49.17030 }</string>

							</array>

							<array>
	
								<string>{ 17.20523,65.76419 }</string>
	
								<string>{ 26.37555,53.53712 }</string>
	
								<string>{ -38.25327,53.53712 }</string>

							</array>

							<array>
	
								<string>{ 17.20523,65.76419 }</string>
	
								<string>{ 47.77292,47.42358 }</string>
	
								<string>{ 26.37555,53.53712 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 240.78604,118.16595 }</string>
	
								<string>{ 175.28384,160.34933 }</string>
	
								<string>{ 240.17468,159.47598 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 100.17468,-54.32314 }</string>
	
								<string>{ 61.15274,-43.28530 }</string>
	
								<string>{ 75.13535,-34.82980 }</string>
	
								<string>{ 86.20087,-29.43231 }</string>

							</array>

							<array>
	
								<string>{ -161.57205,49.43231 }</string>
	
								<string>{ -159.65065,27.33624 }</string>
	
								<string>{ -240.00000,-160.43668 }</string>
	
								<string>{ -240.43668,39.82533 }</string>

							</array>

							<array>
	
								<string>{ 111.09171,-72.66376 }</string>
	
								<string>{ 20.32367,-79.16993 }</string>
	
								<string>{ 36.94525,-62.59366 }</string>
	
								<string>{ 48.23605,-52.41030 }</string>
	
								<string>{ 61.15274,-43.28530 }</string>
	
								<string>{ 100.17468,-54.32314 }</string>

							</array>

							<array>
	
								<string>{ 241.22272,-160.00000 }</string>
	
								<string>{ 217.20526,-53.01310 }</string>
	
								<string>{ 240.78604,-31.17903 }</string>

							</array>

							<array>
	
								<string>{ 241.22272,-160.00000 }</string>
	
								<string>{ 184.89084,-77.90393 }</string>
	
								<string>{ 217.20526,-53.01310 }</string>

							</array>

							<array>
	
								<string>{ 241.22272,-160.00000 }</string>
	
								<string>{ 160.43668,-84.89083 }</string>
	
								<string>{ 184.89084,-77.90393 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.43668 }</string>
	
								<string>{ -27.13489,-113.70298 }</string>
	
								<string>{ 142.09607,-86.63755 }</string>
	
								<string>{ 160.43668,-84.89083 }</string>
	
								<string>{ 241.22272,-160.00000 }</string>

							</array>

							<array>
	
								<string>{ 111.09171,-72.66376 }</string>
	
								<string>{ 127.24890,-83.14410 }</string>
	
								<string>{ 1.92140,-96.24454 }</string>
	
								<string>{ 20.32367,-79.16993 }</string>

							</array>

							<array>
	
								<string>{ 127.24890,-83.14410 }</string>
	
								<string>{ 142.09607,-86.63755 }</string>
	
								<string>{ -11.75793,-107.83862 }</string>
	
								<string>{ 1.92140,-96.24454 }</string>

							</array>

							<array>
	
								<string>{ -156.59389,3.31879 }</string>
	
								<string>{ -240.00000,-160.43668 }</string>
	
								<string>{ -159.65065,27.33624 }</string>

							</array>

							<array>
	
								<string>{ -151.35371,-15.45851 }</string>
	
								<string>{ -240.00000,-160.43668 }</string>
	
								<string>{ -156.59389,3.31879 }</string>

							</array>

							<array>
	
								<string>{ -143.93013,-32.05240 }</string>
	
								<string>{ -240.00000,-160.43668 }</string>
	
								<string>{ -151.35371,-15.45851 }</string>

							</array>

							<array>
	
								<string>{ -134.32314,-48.20960 }</string>
	
								<string>{ -240.00000,-160.43668 }</string>
	
								<string>{ -143.93013,-32.05240 }</string>

							</array>

							<array>
	
								<string>{ -123.84280,-62.18340 }</string>
	
								<string>{ -240.00000,-160.43668 }</string>
	
								<string>{ -134.32314,-48.20960 }</string>

							</array>

							<array>
	
								<string>{ -112.05240,-76.15720 }</string>
	
								<string>{ -240.00000,-160.43668 }</string>
	
								<string>{ -123.84280,-62.18340 }</string>

							</array>

							<array>
	
								<string>{ -100.69868,-88.82096 }</string>
	
								<string>{ -240.00000,-160.43668 }</string>
	
								<string>{ -112.05240,-76.15720 }</string>

							</array>

							<array>
	
								<string>{ -88.47162,-98.42795 }</string>
	
								<string>{ -240.00000,-160.43668 }</string>
	
								<string>{ -100.69868,-88.82096 }</string>

							</array>

							<array>
	
								<string>{ -72.75108,-108.90829 }</string>
	
								<string>{ -240.00000,-160.43668 }</string>
	
								<string>{ -88.47162,-98.42795 }</string>

							</array>

							<array>
	
								<string>{ -59.18755,-114.58515 }</string>
	
								<string>{ -240.00000,-160.43668 }</string>
	
								<string>{ -72.75108,-108.90829 }</string>

							</array>

							<array>
	
								<string>{ -41.87759,-115.17914 }</string>
	
								<string>{ -240.00000,-160.43668 }</string>
	
								<string>{ -59.18755,-114.58515 }</string>

							</array>

							<array>
	
								<string>{ 142.09607,-86.63755 }</string>
	
								<string>{ -27.13489,-113.70298 }</string>
	
								<string>{ -11.75793,-107.83862 }</string>

							</array>

							<array>
	
								<string>{ -27.13489,-113.70298 }</string>
	
								<string>{ -240.00000,-160.43668 }</string>
	
								<string>{ -41.87759,-115.17914 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

