<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A10</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -98.88889,-11.48149 }</string>
	
								<string>{ -3.33334,-6.66667 }</string>
	
								<string>{ -63.70370,-29.25926 }</string>
	
								<string>{ -98.51852,-21.85185 }</string>

							</array>

							<array>
	
								<string>{ -3.33334,-6.66667 }</string>
	
								<string>{ -36.66667,-42.96297 }</string>
	
								<string>{ -63.70370,-29.25926 }</string>

							</array>

							<array>
	
								<string>{ -3.33334,-6.66667 }</string>
	
								<string>{ -2.59259,-29.25926 }</string>
	
								<string>{ -20.37038,-50.37037 }</string>
	
								<string>{ -35.55556,-67.03704 }</string>
	
								<string>{ -36.66667,-42.96297 }</string>

							</array>

							<array>
	
								<string>{ 60.37036,-106.29630 }</string>
	
								<string>{ -78.51852,-103.70370 }</string>
	
								<string>{ -35.55556,-67.03704 }</string>
	
								<string>{ -10.37038,-71.85185 }</string>
	
								<string>{ 25.55554,-83.33334 }</string>

							</array>

							<array>
	
								<string>{ 34.44443,-19.62964 }</string>
	
								<string>{ -3.33334,-6.66667 }</string>
	
								<string>{ 91.85184,-9.25926 }</string>
	
								<string>{ 90.37036,-16.29630 }</string>

							</array>

							<array>
	
								<string>{ -2.59259,-29.25926 }</string>
	
								<string>{ -3.33334,-6.66667 }</string>
	
								<string>{ 34.44443,-19.62964 }</string>

							</array>

							<array>
	
								<string>{ -10.37038,-71.85185 }</string>
	
								<string>{ -35.55556,-67.03704 }</string>
	
								<string>{ -20.37038,-50.37037 }</string>

							</array>

							<array>
	
								<string>{ 97.40741,82.22221 }</string>
	
								<string>{ 239.62961,85.92592 }</string>
	
								<string>{ 158.51852,68.88889 }</string>
	
								<string>{ 97.40741,75.18518 }</string>

							</array>

							<array>
	
								<string>{ 239.62961,85.92592 }</string>
	
								<string>{ 182.96295,45.92592 }</string>
	
								<string>{ 158.51852,68.88889 }</string>

							</array>

							<array>
	
								<string>{ 239.62961,85.92592 }</string>
	
								<string>{ 196.29630,18.14815 }</string>
	
								<string>{ 182.96295,45.92592 }</string>

							</array>

							<array>
	
								<string>{ 240.37036,-134.07407 }</string>
	
								<string>{ 200.37036,-22.59259 }</string>
	
								<string>{ 196.29630,18.14815 }</string>
	
								<string>{ 239.62961,85.92592 }</string>

							</array>

							<array>
	
								<string>{ -82.22223,56.66666 }</string>
	
								<string>{ -171.11111,55.55556 }</string>
	
								<string>{ -240.00000,60.00000 }</string>
	
								<string>{ -162.96297,67.77777 }</string>
	
								<string>{ -82.96297,64.07407 }</string>

							</array>

							<array>
	
								<string>{ -208.88889,40.74074 }</string>
	
								<string>{ -240.00000,60.00000 }</string>
	
								<string>{ -171.11111,55.55556 }</string>

							</array>

							<array>
	
								<string>{ -220.37037,7.03703 }</string>
	
								<string>{ -240.00000,60.00000 }</string>
	
								<string>{ -208.88889,40.74074 }</string>

							</array>

							<array>
	
								<string>{ -217.77778,-38.14815 }</string>
	
								<string>{ -240.00000,-143.33333 }</string>
	
								<string>{ -240.00000,60.00000 }</string>
	
								<string>{ -220.37037,7.03703 }</string>

							</array>

							<array>
	
								<string>{ -212.59259,-68.14815 }</string>
	
								<string>{ -240.00000,-143.33333 }</string>
	
								<string>{ -217.77778,-38.14815 }</string>

							</array>

							<array>
	
								<string>{ -198.88889,-99.25926 }</string>
	
								<string>{ -240.00000,-143.33333 }</string>
	
								<string>{ -212.59259,-68.14815 }</string>

							</array>

							<array>
	
								<string>{ -136.29630,-118.14815 }</string>
	
								<string>{ -240.00000,-143.33333 }</string>
	
								<string>{ -198.88889,-99.25926 }</string>

							</array>

							<array>
	
								<string>{ 109.25925,-124.07407 }</string>
	
								<string>{ -136.29630,-118.14815 }</string>
	
								<string>{ -78.51852,-103.70370 }</string>
	
								<string>{ 60.37036,-106.29630 }</string>

							</array>

							<array>
	
								<string>{ 109.25925,-124.07407 }</string>
	
								<string>{ 240.37036,-134.07407 }</string>
	
								<string>{ -240.00000,-143.33333 }</string>
	
								<string>{ -136.29630,-118.14815 }</string>

							</array>

							<array>
	
								<string>{ 240.37036,-134.07407 }</string>
	
								<string>{ 194.44443,-65.55556 }</string>
	
								<string>{ 200.37036,-22.59259 }</string>

							</array>

							<array>
	
								<string>{ 240.37036,-134.07407 }</string>
	
								<string>{ 177.77777,-100.74074 }</string>
	
								<string>{ 194.44443,-65.55556 }</string>

							</array>

							<array>
	
								<string>{ 240.37036,-134.07407 }</string>
	
								<string>{ 152.96295,-118.51852 }</string>
	
								<string>{ 177.77777,-100.74074 }</string>

							</array>

							<array>
	
								<string>{ 240.37036,-134.07407 }</string>
	
								<string>{ 109.25925,-124.07407 }</string>
	
								<string>{ 152.96295,-118.51852 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

