<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A7</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -26.25000,-50.93750 }</string>
	
								<string>{ 52.81250,-51.87500 }</string>
	
								<string>{ 27.50000,-67.18750 }</string>
	
								<string>{ -15.62500,-59.68750 }</string>
	
								<string>{ -26.25000,-57.18750 }</string>

							</array>

							<array>
	
								<string>{ 27.50000,-67.18750 }</string>
	
								<string>{ 52.81250,-51.87500 }</string>
	
								<string>{ 53.12500,-61.87500 }</string>

							</array>

							<array>
	
								<string>{ -162.50000,14.68750 }</string>
	
								<string>{ -186.87500,23.43750 }</string>
	
								<string>{ -125.00000,25.93750 }</string>
	
								<string>{ -125.93750,19.37500 }</string>

							</array>

							<array>
	
								<string>{ -200.93750,-9.06250 }</string>
	
								<string>{ -239.68750,15.93750 }</string>
	
								<string>{ -186.87500,23.43750 }</string>
	
								<string>{ -162.50000,14.68750 }</string>

							</array>

							<array>
	
								<string>{ -210.31250,-34.68750 }</string>
	
								<string>{ -239.68750,15.93750 }</string>
	
								<string>{ -200.93750,-9.06250 }</string>

							</array>

							<array>
	
								<string>{ -210.31250,-34.68750 }</string>
	
								<string>{ -206.87500,-69.06250 }</string>
	
								<string>{ -240.31250,-124.37500 }</string>
	
								<string>{ -239.68750,15.93750 }</string>

							</array>

							<array>
	
								<string>{ -187.18750,-100.31250 }</string>
	
								<string>{ -240.31250,-124.37500 }</string>
	
								<string>{ -206.87500,-69.06250 }</string>

							</array>

							<array>
	
								<string>{ -148.43750,-118.43750 }</string>
	
								<string>{ -240.31250,-124.37500 }</string>
	
								<string>{ -187.18750,-100.31250 }</string>

							</array>

							<array>
	
								<string>{ -148.43750,-118.43750 }</string>
	
								<string>{ -101.25000,-129.37500 }</string>
	
								<string>{ -10.62500,-160.31250 }</string>
	
								<string>{ -240.31250,-124.37500 }</string>

							</array>

							<array>
	
								<string>{ -11.87500,-92.81250 }</string>
	
								<string>{ -15.62500,-59.68750 }</string>
	
								<string>{ 27.50000,-67.18750 }</string>

							</array>

							<array>
	
								<string>{ -11.87500,-92.81250 }</string>
	
								<string>{ -25.62500,-126.87500 }</string>
	
								<string>{ -41.56250,-112.81250 }</string>
	
								<string>{ -15.62500,-59.68750 }</string>

							</array>

							<array>
	
								<string>{ -25.62500,-126.87500 }</string>
	
								<string>{ -10.62500,-160.31250 }</string>
	
								<string>{ -66.56250,-126.25000 }</string>
	
								<string>{ -41.56250,-112.81250 }</string>

							</array>

							<array>
	
								<string>{ -10.62500,-160.31250 }</string>
	
								<string>{ -101.25000,-129.37500 }</string>
	
								<string>{ -66.56250,-126.25000 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 5.93750,160.31250 }</string>
	
								<string>{ -9.68750,138.43750 }</string>
	
								<string>{ -34.06250,160.31250 }</string>

							</array>

							<array>
	
								<string>{ 6.56250,90.00000 }</string>
	
								<string>{ 2.18750,89.37500 }</string>
	
								<string>{ -9.68750,138.43750 }</string>
	
								<string>{ 5.93750,160.31250 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 214.37500,-85.00000 }</string>
	
								<string>{ 224.06250,-50.31250 }</string>
	
								<string>{ 240.00000,-94.68750 }</string>
	
								<string>{ 225.62500,-95.00000 }</string>

							</array>

							<array>
	
								<string>{ 239.37500,36.56250 }</string>
	
								<string>{ 240.00000,-94.68750 }</string>
	
								<string>{ 224.06250,-50.31250 }</string>

							</array>

							<array>
	
								<string>{ 216.87500,31.56250 }</string>
	
								<string>{ 209.68750,21.56250 }</string>
	
								<string>{ 185.31250,36.87500 }</string>
	
								<string>{ 185.62500,42.50000 }</string>

							</array>

							<array>
	
								<string>{ 216.87500,31.56250 }</string>
	
								<string>{ 239.37500,36.56250 }</string>
	
								<string>{ 223.12500,11.25000 }</string>
	
								<string>{ 209.68750,21.56250 }</string>

							</array>

							<array>
	
								<string>{ 239.37500,36.56250 }</string>
	
								<string>{ 231.87500,-2.81250 }</string>
	
								<string>{ 223.12500,11.25000 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 172.18750,-149.68750 }</string>
	
								<string>{ 196.87500,-159.68750 }</string>
	
								<string>{ 112.50000,-160.31250 }</string>
	
								<string>{ 129.68750,-150.00000 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

