<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>animations</key>
		<dict>
			<key>Beeater-Head-Piece-C-1</key>
			<dict>
				<key>frames</key>
				<array>
					<string>Obstacles/Beeater/Head/C/Beeater-Head-Ending-C-Part-1.png</string>
				</array>
				<key>delay</key>
				<real>1</real>
			</dict>
			<key>Beeater-Head-Piece-C-2</key>
			<dict>
				<key>frames</key>
				<array>
					<string>Obstacles/Beeater/Head/C/Beeater-Head-Ending-C-Part-2.png</string>
				</array>
				<key>delay</key>
				<real>1</real>
			</dict>
			<key>Beeater-Head-Piece-C-3</key>
			<dict>
				<key>frames</key>
				<array>
					<string>Obstacles/Beeater/Head/C/Beeater-Head-Ending-C-Part-3.png</string>
				</array>
				<key>delay</key>
				<real>1</real>
			</dict>
			<key>Beeater-Head-Piece-C-4</key>
			<dict>
				<key>frames</key>
				<array>
					<string>Obstacles/Beeater/Head/C/Beeater-Head-Ending-C-Part-4.png</string>
				</array>
				<key>delay</key>
				<real>1</real>
			</dict>
			<key>Beeater-Head-Piece-C-5</key>
			<dict>
				<key>frames</key>
				<array>
					<string>Obstacles/Beeater/Head/C/Beeater-Head-Ending-C-Part-5.png</string>
				</array>
				<key>delay</key>
				<real>1</real>
			</dict>
		</dict>
	</dict>
</plist>
