<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>Beeater-Head-G-Burn</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Beeater/Head/Generic/Beeater-Head-G-Burn-4.png</string>
				<string>Obstacles/Beeater/Head/Generic/Beeater-Head-G-Burn-5.png</string>
				<string>Obstacles/Beeater/Head/Generic/Beeater-Head-G-Burn-6.png</string>
				<string>Obstacles/Beeater/Head/Generic/Beeater-Head-G-Burn-7.png</string>
				<string>Obstacles/Beeater/Head/Generic/Beeater-Head-G-Burn-8.png</string>
				<string>Obstacles/Beeater/Head/Generic/Beeater-Head-G-Burn-9.png</string>
				<string>Obstacles/Beeater/Head/Generic/Beeater-Head-G-Burn-10.png</string>
				<string>Obstacles/Beeater/Head/Generic/Beeater-Head-G-Burn-11.png</string>
				<string>Obstacles/Beeater/Head/Generic/Beeater-Head-G-Burn-12.png</string>
				<string>Obstacles/Beeater/Head/Generic/Beeater-Head-G-Burn-13.png</string>
				<string>Obstacles/Beeater/Head/Generic/Beeater-Head-G-Burn-14.png</string>
				<string>Obstacles/Beeater/Head/Generic/Beeater-Head-G-Burn-15.png</string>
				<string>Obstacles/Beeater/Head/Generic/Beeater-Head-G-Burn-16.png</string>
				<string>Obstacles/Beeater/Head/Generic/Beeater-Head-G-Burn-17.png</string>
				<string>Obstacles/Beeater/Head/Generic/Beeater-Head-G-Burn-18.png</string>
				<string>Obstacles/Beeater/Head/Generic/Beeater-Head-G-Burn-19.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
	</dict>
</dict>
</plist>
