<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>animations</key>
		<dict>
			<key>Beeater-Body-Hanging-C-Idle</key>
			<dict>
				<key>frames</key>
				<array>
					<string>Obstacles/Beeater/Body/Hanging/C/Beeater-Body-Hanging-C-Idle-1.png</string>
					<string>Obstacles/Beeater/Body/Hanging/C/Beeater-Body-Hanging-C-Idle-1.png</string>
					<string>Obstacles/Beeater/Body/Hanging/C/Beeater-Body-Hanging-C-Idle-1.png</string>
					<string>Obstacles/Beeater/Body/Hanging/C/Beeater-Body-Hanging-C-Idle-1.png</string>
					<string>Obstacles/Beeater/Body/Hanging/C/Beeater-Body-Hanging-C-Idle-1.png</string>
					<string>Obstacles/Beeater/Body/Hanging/C/Beeater-Body-Hanging-C-Idle-1.png</string>
					<string>Obstacles/Beeater/Body/Hanging/C/Beeater-Body-Hanging-C-Idle-1.png</string>
					<string>Obstacles/Beeater/Body/Hanging/C/Beeater-Body-Hanging-C-Idle-2.png</string>
					<string>Obstacles/Beeater/Body/Hanging/C/Beeater-Body-Hanging-C-Idle-3.png</string>
					<string>Obstacles/Beeater/Body/Hanging/C/Beeater-Body-Hanging-C-Idle-4.png</string>
					<string>Obstacles/Beeater/Body/Hanging/C/Beeater-Body-Hanging-C-Idle-3.png</string>
					<string>Obstacles/Beeater/Body/Hanging/C/Beeater-Body-Hanging-C-Idle-2.png</string>
				</array>
				<key>delay</key>
				<real>0.1</real>
			</dict>
			<key>Beeater-Hanging-C-Destroy</key>
			<dict>
				<key>frames</key>
				<array>
					<string>Obstacles/Beeater/Ending/Hanging/C/Beeater-Ending-Hanging-C-End-1.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/C/Beeater-Ending-Hanging-C-End-2.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/C/Beeater-Ending-Hanging-C-End-3.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/C/Beeater-Ending-Hanging-C-End-4.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/C/Beeater-Ending-Hanging-C-End-5.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/C/Beeater-Ending-Hanging-C-End-6.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/C/Beeater-Ending-Hanging-C-End-7.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/C/Beeater-Ending-Hanging-C-End-8.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/C/Beeater-Ending-Hanging-C-End-9.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/C/Beeater-Ending-Hanging-C-End-10.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/C/Beeater-Ending-Hanging-C-End-11.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/C/Beeater-Ending-Hanging-C-End-12.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/C/Beeater-Ending-Hanging-C-End-13.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/C/Beeater-Ending-Hanging-C-End-14.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/C/Beeater-Ending-Hanging-C-End-15.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/C/Beeater-Ending-Hanging-C-End-16.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/C/Beeater-Ending-Hanging-C-End-17.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/C/Beeater-Ending-Hanging-C-End-18.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/C/Beeater-Ending-Hanging-C-End-19.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/C/Beeater-Ending-Hanging-C-End-20.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/C/Beeater-Ending-Hanging-C-End-21.png</string>
				</array>
				<key>delay</key>
				<real>0.08</real>
			</dict>
			<key>Beeater-Body-Hanging-C-Still</key>
			<dict>
				<key>frames</key>
				<array>
					<string>Obstacles/Beeater/Body/Hanging/C/Beeater-Body-Hanging-C-Idle-1.png</string>
				</array>
				<key>delay</key>
				<real>1</real>
			</dict>
			<key>Beeater-Body-Hanging-C-Idle-Reflection</key>
			<dict>
				<key>frames</key>
				<array>
					<string>Obstacles/Beeater/Body/Hanging/C/Beeater-Body-Hanging-C-Idle-Refl-1.png</string>
					<string>Obstacles/Beeater/Body/Hanging/C/Beeater-Body-Hanging-C-Idle-Refl-1.png</string>
					<string>Obstacles/Beeater/Body/Hanging/C/Beeater-Body-Hanging-C-Idle-Refl-1.png</string>
					<string>Obstacles/Beeater/Body/Hanging/C/Beeater-Body-Hanging-C-Idle-Refl-1.png</string>
					<string>Obstacles/Beeater/Body/Hanging/C/Beeater-Body-Hanging-C-Idle-Refl-1.png</string>
					<string>Obstacles/Beeater/Body/Hanging/C/Beeater-Body-Hanging-C-Idle-Refl-1.png</string>
					<string>Obstacles/Beeater/Body/Hanging/C/Beeater-Body-Hanging-C-Idle-Refl-1.png</string>
					<string>Obstacles/Beeater/Body/Hanging/C/Beeater-Body-Hanging-C-Idle-Refl-2.png</string>
					<string>Obstacles/Beeater/Body/Hanging/C/Beeater-Body-Hanging-C-Idle-Refl-3.png</string>
					<string>Obstacles/Beeater/Body/Hanging/C/Beeater-Body-Hanging-C-Idle-Refl-4.png</string>
					<string>Obstacles/Beeater/Body/Hanging/C/Beeater-Body-Hanging-C-Idle-Refl-3.png</string>
					<string>Obstacles/Beeater/Body/Hanging/C/Beeater-Body-Hanging-C-Idle-Refl-2.png</string>
				</array>
				<key>delay</key>
				<real>0.1</real>
			</dict>
			<key>Beeater-Hanging-C-Destroy-Reflection</key>
			<dict>
				<key>frames</key>
				<array>
					<string>Obstacles/Beeater/Ending/Hanging/C/Beeater-Ending-Hanging-C-End-Refl-1.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/C/Beeater-Ending-Hanging-C-End-Refl-2.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/C/Beeater-Ending-Hanging-C-End-Refl-3.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/C/Beeater-Ending-Hanging-C-End-Refl-4.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/C/Beeater-Ending-Hanging-C-End-Refl-5.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/C/Beeater-Ending-Hanging-C-End-Refl-6.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/C/Beeater-Ending-Hanging-C-End-Refl-7.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/C/Beeater-Ending-Hanging-C-End-Refl-8.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/C/Beeater-Ending-Hanging-C-End-Refl-9.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/C/Beeater-Ending-Hanging-C-End-Refl-10.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/C/Beeater-Ending-Hanging-C-End-Refl-11.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/C/Beeater-Ending-Hanging-C-End-Refl-12.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/C/Beeater-Ending-Hanging-C-End-Refl-13.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/C/Beeater-Ending-Hanging-C-End-Refl-14.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/C/Beeater-Ending-Hanging-C-End-Refl-15.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/C/Beeater-Ending-Hanging-C-End-Refl-16.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/C/Beeater-Ending-Hanging-C-End-Refl-17.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/C/Beeater-Ending-Hanging-C-End-Refl-18.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/C/Beeater-Ending-Hanging-C-End-Refl-19.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/C/Beeater-Ending-Hanging-C-End-Refl-20.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/C/Beeater-Ending-Hanging-C-End-Refl-21.png</string>
				</array>
				<key>delay</key>
				<real>0.08</real>
			</dict>
			<key>Beeater-Body-Hanging-C-Still-Reflection</key>
			<dict>
				<key>frames</key>
				<array>
					<string>Obstacles/Beeater/Body/Hanging/C/Beeater-Body-Hanging-C-Idle-Refl-1.png</string>
				</array>
				<key>delay</key>
				<real>1</real>
			</dict>
		</dict>
	</dict>
</plist>
