<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>Beeater-Head-Piece-E-1</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-Ending-A-Part-1.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
        <key>Beeater-Head-Piece-E-2</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-Ending-A-Part-2.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
        <key>Beeater-Head-Piece-E-3</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-Ending-A-Part-3.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
        <key>Beeater-Head-Piece-E-4</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-Ending-A-Part-4.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
        <key>Beeater-Head-Piece-E-5</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-Ending-A-Part-5.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
	</dict>
</dict>
</plist>
