<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>Beeater-Head-C-Idle-NoBee</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Blink.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Licking-1.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Licking-2.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Licking-3.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Licking-4.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Licking-5.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Licking-6.png</string>
			</array>
			<key>delay</key>
			<real>0.15</real>
		</dict>
		<key>Beeater-Head-C-Idle-Between-Short</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Blink.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
			</array>
			<key>delay</key>
			<real>0.15</real>
		</dict>
		<key>Beeater-Head-C-Idle-Between-Medium</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Licking-1.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Licking-2.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Licking-3.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Licking-4.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Licking-5.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Licking-6.png</string>
			</array>
			<key>delay</key>
			<real>0.15</real>
		</dict>
		<key>Beeater-Head-C-Idle-Between-Long</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Blink.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Licking-1.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Licking-2.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Licking-3.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Licking-4.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Licking-5.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Licking-6.png</string>
			</array>
			<key>delay</key>
			<real>0.15</real>
		</dict>
		<key>Beeater-Head-C-Idle-Bee</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Blink.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Show-Bee-1.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Show-Bee-1.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Show-Bee-1.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Show-Bee-2.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Show-Bee-2.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Show-Bee-2.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Show-Bee-3.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Show-Bee-3.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Show-Bee-3.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Show-Bee-3.png</string>
			</array>
			<key>delay</key>
			<real>0.15</real>
		</dict>
		<key>Beeater-Head-C-Idle-Bombee</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Blink.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Show-Bombee-1.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Show-Bombee-1.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Show-Bombee-1.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Show-Bombee-2.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Show-Bombee-2.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Show-Bombee-2.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Show-Bombee-3.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Show-Bombee-3.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Show-Bombee-3.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Show-Bombee-3.png</string>
			</array>
			<key>delay</key>
			<real>0.15</real>
		</dict>
		<key>Beeater-Head-C-Idle-Sawee</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Blink.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Show-Sawee-1.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Show-Sawee-1.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Show-Sawee-1.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Show-Sawee-2.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Show-Sawee-2.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Show-Sawee-2.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Show-Sawee-3.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Show-Sawee-3.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Show-Sawee-3.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Show-Sawee-3.png</string>
			</array>
			<key>delay</key>
			<real>0.15</real>
		</dict>
		<key>Beeater-Head-C-Idle-Speedee</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Blink.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Show-Speedee-1.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Show-Speedee-1.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Show-Speedee-1.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Show-Speedee-2.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Show-Speedee-2.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Show-Speedee-2.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Show-Speedee-3.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Show-Speedee-3.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Show-Speedee-3.png</string>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Show-Speedee-3.png</string>
			</array>
			<key>delay</key>
			<real>0.15</real>
		</dict>
		<key>Beeater-Head-C-Idle-Sumee</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Beeater-Head-C-Still-NoBee</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Beeater-Head-C-Still-Bee</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Show-Bee-2.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Beeater-Head-C-Still-Bombee</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Show-Bombee-2.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Beeater-Head-C-Still-Sawee</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Show-Sawee-2.png</string>
			</array>
			<key>delay</key>
			<real>0.15</real>
		</dict>
		<key>Beeater-Head-C-Still-Speedee</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Show-Speedee-2.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Beeater-Head-C-Still-Sumee</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Beeater/Head/C/Beeater-Head-C-Idle.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
        <key>Beeater-Head-C-Brr</key>
        <dict>
            <key>frames</key>
            <array>
                <string>Obstacles/Beeater/Head/C/Beeater-Head-C-Brr-1.png</string>
                <string>Obstacles/Beeater/Head/C/Beeater-Head-C-Brr-2.png</string>
                <string>Obstacles/Beeater/Head/C/Beeater-Head-C-Brr-1.png</string>
                <string>Obstacles/Beeater/Head/C/Beeater-Head-C-Brr-2.png</string>
                <string>Obstacles/Beeater/Head/C/Beeater-Head-C-Brr-1.png</string>
                <string>Obstacles/Beeater/Head/C/Beeater-Head-C-Brr-2.png</string>
                <string>Obstacles/Beeater/Head/C/Beeater-Head-C-Brr-1.png</string>
                <string>Obstacles/Beeater/Head/C/Beeater-Head-C-Brr-2.png</string>
                <string>Obstacles/Beeater/Head/C/Beeater-Head-C-Brr-1.png</string>
                <string>Obstacles/Beeater/Head/C/Beeater-Head-C-Brr-2.png</string>
                <string>Obstacles/Beeater/Head/C/Beeater-Head-C-Brr-1.png</string>
                <string>Obstacles/Beeater/Head/C/Beeater-Head-C-Brr-2.png</string>
                <string>Obstacles/Beeater/Head/C/Beeater-Head-C-Brr-1.png</string>
            </array>
            <key>delay</key>
            <real>0.1</real>
        </dict>
	</dict>
</dict>
</plist>
