<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>animations</key>
		<dict>
			<key>Beeater-Body-Land-D-Idle</key>
			<dict>
				<key>frames</key>
				<array>
					<string>Obstacles/Beeater/Body/Land/D/Beeater-Body-Land-D-Idle-1.png</string>
					<string>Obstacles/Beeater/Body/Land/D/Beeater-Body-Land-D-Idle-1.png</string>
					<string>Obstacles/Beeater/Body/Land/D/Beeater-Body-Land-D-Idle-1.png</string>
					<string>Obstacles/Beeater/Body/Land/D/Beeater-Body-Land-D-Idle-1.png</string>
					<string>Obstacles/Beeater/Body/Land/D/Beeater-Body-Land-D-Idle-1.png</string>
					<string>Obstacles/Beeater/Body/Land/D/Beeater-Body-Land-D-Idle-1.png</string>
					<string>Obstacles/Beeater/Body/Land/D/Beeater-Body-Land-D-Idle-1.png</string>
					<string>Obstacles/Beeater/Body/Land/D/Beeater-Body-Land-D-Idle-2.png</string>
					<string>Obstacles/Beeater/Body/Land/D/Beeater-Body-Land-D-Idle-3.png</string>
					<string>Obstacles/Beeater/Body/Land/D/Beeater-Body-Land-D-Idle-4.png</string>
					<string>Obstacles/Beeater/Body/Land/D/Beeater-Body-Land-D-Idle-3.png</string>
					<string>Obstacles/Beeater/Body/Land/D/Beeater-Body-Land-D-Idle-2.png</string>
				</array>
				<key>delay</key>
				<real>0.1</real>
			</dict>
			<key>Beeater-Body-Land-D-Destroy</key>
			<dict>
				<key>frames</key>
				<array>
					<string>Obstacles/Beeater/Body/Land/D/Beeater-Body-Land-D-Ending-1.png</string>
					<string>Obstacles/Beeater/Body/Land/D/Beeater-Body-Land-D-Ending-2.png</string>
					<string>Obstacles/Beeater/Body/Land/D/Beeater-Body-Land-D-Ending-3.png</string>
					<string>Obstacles/Beeater/Body/Land/D/Beeater-Body-Land-D-Ending-4.png</string>
					<string>Obstacles/Beeater/Body/Land/D/Beeater-Body-Land-D-Ending-5.png</string>
					<string>Obstacles/Beeater/Body/Land/D/Beeater-Body-Land-D-Ending-6.png</string>
					<string>Obstacles/Beeater/Body/Land/D/Beeater-Body-Land-D-Ending-7.png</string>
					<string>Obstacles/Beeater/Body/Land/D/Beeater-Body-Land-D-Ending-8.png</string>
				</array>
				<key>delay</key>
				<real>0.15</real>
			</dict>
			<key>Beeater-Body-Land-D-Still</key>
			<dict>
				<key>frames</key>
				<array>
					<string>Obstacles/Beeater/Body/Land/D/Beeater-Body-Land-D-Idle-1.png</string>
				</array>
				<key>delay</key>
				<real>1</real>
			</dict>
            <key>Beeater-Body-Land-D-Fan</key>
            <dict>
                <key>frames</key>
                <array>
                    <string>Obstacles/Beeater/Body/Land/D/Beeater-Body-Land-D-Fan-1.png</string>
                    <string>Obstacles/Beeater/Body/Land/D/Beeater-Body-Land-D-Fan-2.png</string>
                    <string>Obstacles/Beeater/Body/Land/D/Beeater-Body-Land-D-Fan-3.png</string>
                    <string>Obstacles/Beeater/Body/Land/D/Beeater-Body-Land-D-Fan-4.png</string>
                    <string>Obstacles/Beeater/Body/Land/D/Beeater-Body-Land-D-Fan-5.png</string>
                    <string>Obstacles/Beeater/Body/Land/D/Beeater-Body-Land-D-Fan-6.png</string>
                    <string>Obstacles/Beeater/Body/Land/D/Beeater-Body-Land-D-Fan-7.png</string>
                    <string>Obstacles/Beeater/Body/Land/D/Beeater-Body-Land-D-Fan-8.png</string>
                    <string>Obstacles/Beeater/Body/Land/D/Beeater-Body-Land-D-Fan-9.png</string>
                    <string>Obstacles/Beeater/Body/Land/D/Beeater-Body-Land-D-Fan-8.png</string>
                    <string>Obstacles/Beeater/Body/Land/D/Beeater-Body-Land-D-Fan-9.png</string>
                    <string>Obstacles/Beeater/Body/Land/D/Beeater-Body-Land-D-Fan-8.png</string>
                    <string>Obstacles/Beeater/Body/Land/D/Beeater-Body-Land-D-Fan-9.png</string>
                    <string>Obstacles/Beeater/Body/Land/D/Beeater-Body-Land-D-Fan-8.png</string>
                    <string>Obstacles/Beeater/Body/Land/D/Beeater-Body-Land-D-Fan-9.png</string>
                    <string>Obstacles/Beeater/Body/Land/D/Beeater-Body-Land-D-Fan-8.png</string>
                    <string>Obstacles/Beeater/Body/Land/D/Beeater-Body-Land-D-Fan-9.png</string>
                    <string>Obstacles/Beeater/Body/Land/D/Beeater-Body-Land-D-Fan-8.png</string>
                    <string>Obstacles/Beeater/Body/Land/D/Beeater-Body-Land-D-Fan-7.png</string>
                    <string>Obstacles/Beeater/Body/Land/D/Beeater-Body-Land-D-Fan-6.png</string>
                </array>
                <key>delay</key>
                <real>0.1</real>
            </dict>
		</dict>
	</dict>
</plist>
