<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<!-- A -->
		<key>Beeater-Head-A-Idle-NoBee</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Blink.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Licking-1.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Licking-2.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Licking-3.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Licking-4.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Licking-5.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Licking-6.png</string>
			</array>
			<key>delay</key>
			<real>0.15</real>
		</dict>
		<key>Beeater-Head-A-Idle-Between-Short</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Blink.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
			</array>
			<key>delay</key>
			<real>0.15</real>
		</dict>
		<key>Beeater-Head-A-Idle-Between-Medium</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Licking-1.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Licking-2.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Licking-3.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Licking-4.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Licking-5.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Licking-6.png</string>
			</array>
			<key>delay</key>
			<real>0.15</real>
		</dict>
		<key>Beeater-Head-A-Idle-Between-Long</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Blink.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Licking-1.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Licking-2.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Licking-3.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Licking-4.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Licking-5.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Licking-6.png</string>
			</array>
			<key>delay</key>
			<real>0.15</real>
		</dict>
		<key>Beeater-Head-A-Idle-Bee</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Blink.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Show-Bee-1.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Show-Bee-1.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Show-Bee-2.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Show-Bee-2.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Show-Bee-3.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Show-Bee-3.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Show-Closing-1.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Show-Closing-2.png</string>
			</array>
			<key>delay</key>
			<real>0.15</real>
		</dict>
		<key>Beeater-Head-A-Idle-Bombee</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Blink.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Show-Bombee-1.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Show-Bombee-1.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Show-Bombee-2.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Show-Bombee-2.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Show-Bombee-3.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Show-Bombee-3.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Show-Closing-1.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Show-Closing-2.png</string>
			</array>
			<key>delay</key>
			<real>0.15</real>
		</dict>
		<key>Beeater-Head-A-Idle-Sawee</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Blink.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Show-Sawee-1.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Show-Sawee-1.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Show-Sawee-2.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Show-Sawee-2.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Show-Sawee-3.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Show-Sawee-3.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Show-Closing-1.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Show-Closing-2.png</string>
			</array>
			<key>delay</key>
			<real>0.15</real>
		</dict>
		<key>Beeater-Head-A-Idle-Speedee</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Blink.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Show-Speedee-1.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Show-Speedee-1.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Show-Speedee-2.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Show-Speedee-2.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Show-Speedee-3.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Show-Speedee-3.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Show-Closing-1.png</string>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Show-Closing-2.png</string>
			</array>
			<key>delay</key>
			<real>0.15</real>
		</dict>
		<key>Beeater-Head-A-Idle-Sumee</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
        
		<!-- B -->
		<key>Beeater-Head-B-Idle-NoBee</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Blink.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Licking-1.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Licking-2.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Licking-3.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Licking-4.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Licking-5.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Licking-6.png</string>
			</array>
			<key>delay</key>
			<real>0.15</real>
		</dict>
		<key>Beeater-Head-B-Idle-Between-Short</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Blink.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
			</array>
			<key>delay</key>
			<real>0.15</real>
		</dict>
		<key>Beeater-Head-B-Idle-Between-Medium</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Licking-1.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Licking-2.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Licking-3.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Licking-4.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Licking-5.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Licking-6.png</string>
			</array>
			<key>delay</key>
			<real>0.15</real>
		</dict>
		<key>Beeater-Head-B-Idle-Between-Long</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Blink.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Licking-1.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Licking-2.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Licking-3.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Licking-4.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Licking-5.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Licking-6.png</string>
			</array>
			<key>delay</key>
			<real>0.15</real>
		</dict>
		<key>Beeater-Head-B-Idle-Bee</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Blink.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Bee-1.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Bee-1.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Bee-2.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Bee-2.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Bee-3.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Bee-3.png</string>
			</array>
			<key>delay</key>
			<real>0.15</real>
		</dict>
		<key>Beeater-Head-B-Idle-Bombee</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Blink.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Bombee-1.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Bombee-1.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Bombee-2.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Bombee-2.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Bombee-3.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Bombee-3.png</string>
			</array>
			<key>delay</key>
			<real>0.15</real>
		</dict>
		<key>Beeater-Head-B-Idle-Sawee</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Blink.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Sawee-1.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Sawee-1.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Sawee-2.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Sawee-2.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Sawee-3.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Sawee-3.png</string>
			</array>
			<key>delay</key>
			<real>0.15</real>
		</dict>
		<key>Beeater-Head-B-Idle-Speedee</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Blink.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Speedee-1.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Speedee-1.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Speedee-2.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Speedee-2.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Speedee-3.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Speedee-3.png</string>
			</array>
			<key>delay</key>
			<real>0.15</real>
		</dict>
		<key>Beeater-Head-B-Idle-Sumee</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Blink.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Sumee-1.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Sumee-1.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Sumee-2.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Sumee-2.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Sumee-3.png</string>
				<string>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Sumee-3.png</string>
			</array>
			<key>delay</key>
			<real>0.15</real>
		</dict>
	</dict>
</dict>
</plist>
