<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>animations</key>
		<dict>
			<key>Beeater-Body-Hanging-A-Idle</key>
			<dict>
				<key>frames</key>
				<array>
					<string>Obstacles/Beeater/Body/Hanging/A/Beeater-Body-Hanging-A-Idle-1.png</string>
					<string>Obstacles/Beeater/Body/Hanging/A/Beeater-Body-Hanging-A-Idle-1.png</string>
					<string>Obstacles/Beeater/Body/Hanging/A/Beeater-Body-Hanging-A-Idle-1.png</string>
					<string>Obstacles/Beeater/Body/Hanging/A/Beeater-Body-Hanging-A-Idle-1.png</string>
					<string>Obstacles/Beeater/Body/Hanging/A/Beeater-Body-Hanging-A-Idle-1.png</string>
					<string>Obstacles/Beeater/Body/Hanging/A/Beeater-Body-Hanging-A-Idle-1.png</string>
					<string>Obstacles/Beeater/Body/Hanging/A/Beeater-Body-Hanging-A-Idle-1.png</string>
					<string>Obstacles/Beeater/Body/Hanging/A/Beeater-Body-Hanging-A-Idle-2.png</string>
					<string>Obstacles/Beeater/Body/Hanging/A/Beeater-Body-Hanging-A-Idle-3.png</string>
					<string>Obstacles/Beeater/Body/Hanging/A/Beeater-Body-Hanging-A-Idle-4.png</string>
					<string>Obstacles/Beeater/Body/Hanging/A/Beeater-Body-Hanging-A-Idle-3.png</string>
					<string>Obstacles/Beeater/Body/Hanging/A/Beeater-Body-Hanging-A-Idle-2.png</string>
				</array>
				<key>delay</key>
				<real>0.1</real>
			</dict>
			<key>Beeater-Hanging-A-Destroy</key>
			<dict>
				<key>frames</key>
				<array>
					<string>Obstacles/Beeater/Ending/Hanging/A/Beeater-Ending-Hanging-A-End-1.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/A/Beeater-Ending-Hanging-A-End-2.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/A/Beeater-Ending-Hanging-A-End-3.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/A/Beeater-Ending-Hanging-A-End-4.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/A/Beeater-Ending-Hanging-A-End-5.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/A/Beeater-Ending-Hanging-A-End-6.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/A/Beeater-Ending-Hanging-A-End-7.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/A/Beeater-Ending-Hanging-A-End-8.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/A/Beeater-Ending-Hanging-A-End-9.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/A/Beeater-Ending-Hanging-A-End-10.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/A/Beeater-Ending-Hanging-A-End-11.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/A/Beeater-Ending-Hanging-A-End-12.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/A/Beeater-Ending-Hanging-A-End-13.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/A/Beeater-Ending-Hanging-A-End-14.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/A/Beeater-Ending-Hanging-A-End-15.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/A/Beeater-Ending-Hanging-A-End-16.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/A/Beeater-Ending-Hanging-A-End-17.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/A/Beeater-Ending-Hanging-A-End-18.png</string>
					<string>Obstacles/Beeater/Ending/Hanging/A/Beeater-Ending-Hanging-A-End-19.png</string>
				</array>
				<key>delay</key>
				<real>0.08</real>
			</dict>
			<key>Beeater-Body-Hanging-A-Still</key>
			<dict>
				<key>frames</key>
				<array>
					<string>Obstacles/Beeater/Body/Hanging/A/Beeater-Body-Hanging-A-Idle-1.png</string>
				</array>
				<key>delay</key>
				<real>1</real>
			</dict>
		</dict>
	</dict>
</plist>
