<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>animations</key>
		<dict>
			<key>Fish-Beeater-A-Body-Idle</key>
			<dict>
				<key>frames</key>
				<array>
					<string>Obsticles/Beeater/Fish/A-Fish/FishWater-01.png</string>
					<string>Obsticles/Beeater/Fish/A-Fish/FishWater-02.png</string>
					<string>Obsticles/Beeater/Fish/A-Fish/FishWater-03.png</string>
					<string>Obsticles/Beeater/Fish/A-Fish/FishWater-04.png</string>
					<string>Obsticles/Beeater/Fish/A-Fish/FishWater-05.png</string>
					<string>Obsticles/Beeater/Fish/A-Fish/FishWater-06.png</string>
					<string>Obsticles/Beeater/Fish/A-Fish/FishWater-07.png</string>
				</array>
				<key>delay</key>
				<real>0.1</real>
			</dict>
			<key>Fish-Beeater-A-Body-Kill</key>
			<dict>
				<key>frames</key>
				<array>
					<string>Obsticles/Beeater/Ending/A-FishBeeaterEnd/FishEnd-01.png</string>
					<string>Obsticles/Beeater/Ending/A-FishBeeaterEnd/FishEnd-02.png</string>
					<string>Obsticles/Beeater/Ending/A-FishBeeaterEnd/FishEnd-03.png</string>
					<string>Obsticles/Beeater/Ending/A-FishBeeaterEnd/FishEnd-04.png</string>
					<string>Obsticles/Beeater/Ending/A-FishBeeaterEnd/FishEnd-05.png</string>
					<string>Obsticles/Beeater/Ending/A-FishBeeaterEnd/FishEnd-06.png</string>
					<string>Obsticles/Beeater/Ending/A-FishBeeaterEnd/FishEnd-07.png</string>
					<string>Obsticles/Beeater/Ending/A-FishBeeaterEnd/FishEnd-08.png</string>
					<string>Obsticles/Beeater/Ending/A-FishBeeaterEnd/FishEnd-09.png</string>
					<string>Obsticles/Beeater/Ending/A-FishBeeaterEnd/FishEnd-10.png</string>
					<string>Obsticles/Beeater/Ending/A-FishBeeaterEnd/FishEnd-11.png</string>
				</array>
				<key>delay</key>
				<real>0.15</real>
			</dict>
		</dict>
	</dict>
</plist>
