<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>animations</key>
		<dict>
			<key>Hanging-Beeater-Body-Idle</key>
			<dict>
				<key>frames</key>
				<array>
					<string>Obsticles/Beeater/Hanging/HangBody-1.png</string>
					<string>Obsticles/Beeater/Hanging/HangBody-1.png</string>
					<string>Obsticles/Beeater/Hanging/HangBody-1.png</string>
					<string>Obsticles/Beeater/Hanging/HangBody-1.png</string>
					<string>Obsticles/Beeater/Hanging/HangBody-1.png</string>
					<string>Obsticles/Beeater/Hanging/HangBody-1.png</string>
					<string>Obsticles/Beeater/Hanging/HangBody-1.png</string>
					<string>Obsticles/Beeater/Hanging/HangBody-2.png</string>
					<string>Obsticles/Beeater/Hanging/HangBody-3.png</string>
					<string>Obsticles/Beeater/Hanging/HangBody-4.png</string>
					<string>Obsticles/Beeater/Hanging/HangBody-3.png</string>
					<string>Obsticles/Beeater/Hanging/HangBody-2.png</string>
				</array>
				<key>delay</key>
				<real>0.1</real>
			</dict>
			<key>Hanging-Beeater-Body-Kill</key>
			<dict>
				<key>frames</key>
				<array>
					<string>Obsticles/Beeater/Ending/A-AirBeeaterEnd/BeeaterAirEnd-01.png</string>
					<string>Obsticles/Beeater/Ending/A-AirBeeaterEnd/BeeaterAirEnd-02.png</string>
					<string>Obsticles/Beeater/Ending/A-AirBeeaterEnd/BeeaterAirEnd-03.png</string>
					<string>Obsticles/Beeater/Ending/A-AirBeeaterEnd/BeeaterAirEnd-04.png</string>
					<string>Obsticles/Beeater/Ending/A-AirBeeaterEnd/BeeaterAirEnd-05.png</string>
					<string>Obsticles/Beeater/Ending/A-AirBeeaterEnd/BeeaterAirEnd-06.png</string>
					<string>Obsticles/Beeater/Ending/A-AirBeeaterEnd/BeeaterAirEnd-07.png</string>
					<string>Obsticles/Beeater/Ending/A-AirBeeaterEnd/BeeaterAirEnd-08.png</string>
					<string>Obsticles/Beeater/Ending/A-AirBeeaterEnd/BeeaterAirEnd-09.png</string>
					<string>Obsticles/Beeater/Ending/A-AirBeeaterEnd/BeeaterAirEnd-10.png</string>
					<string>Obsticles/Beeater/Ending/A-AirBeeaterEnd/BeeaterAirEnd-11.png</string>
					<string>Obsticles/Beeater/Ending/A-AirBeeaterEnd/BeeaterAirEnd-12.png</string>
					<string>Obsticles/Beeater/Ending/A-AirBeeaterEnd/BeeaterAirEnd-13.png</string>
				</array>
				<key>delay</key>
				<real>0.08</real>
			</dict>
		</dict>
	</dict>
</plist>
