<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>animations</key>
		<dict>
			<key>Land-Beeater-Body-Idle</key>
			<dict>
				<key>frames</key>
				<array>
					<string>Beeater/BeeaterBody/BeeaterBody A/Body-1.png</string>
					<string>Beeater/BeeaterBody/BeeaterBody A/Body-1.png</string>
					<string>Beeater/BeeaterBody/BeeaterBody A/Body-1.png</string>
					<string>Beeater/BeeaterBody/BeeaterBody A/Body-1.png</string>
					<string>Beeater/BeeaterBody/BeeaterBody A/Body-1.png</string>
					<string>Beeater/BeeaterBody/BeeaterBody A/Body-1.png</string>
					<string>Beeater/BeeaterBody/BeeaterBody A/Body-1.png</string>
					<string>Beeater/BeeaterBody/BeeaterBody A/Body-2.png</string>
					<string>Beeater/BeeaterBody/BeeaterBody A/Body-3.png</string>
					<string>Beeater/BeeaterBody/BeeaterBody A/Body-4.png</string>
					<string>Beeater/BeeaterBody/BeeaterBody A/Body-3.png</string>
					<string>Beeater/BeeaterBody/BeeaterBody A/Body-2.png</string>
				</array>
				<key>delay</key>
				<real>0.1</real>
			</dict>
			<key>Land-Beeater-Body-Kill</key>
			<dict>
				<key>frames</key>
				<array>
					<string>Beeater/Ending/A-LandBeeaterEnd/LandBeeaterEnd-01.png</string>
					<string>Beeater/Ending/A-LandBeeaterEnd/LandBeeaterEnd-02.png</string>
					<string>Beeater/Ending/A-LandBeeaterEnd/LandBeeaterEnd-03.png</string>
					<string>Beeater/Ending/A-LandBeeaterEnd/LandBeeaterEnd-04.png</string>
					<string>Beeater/Ending/A-LandBeeaterEnd/LandBeeaterEnd-05.png</string>
					<string>Beeater/Ending/A-LandBeeaterEnd/LandBeeaterEnd-06.png</string>
					<string>Beeater/Ending/A-LandBeeaterEnd/LandBeeaterEnd-07.png</string>
					<string>Beeater/Ending/A-LandBeeaterEnd/LandBeeaterEnd-08.png</string>
					<string>Beeater/Ending/A-LandBeeaterEnd/LandBeeaterEnd-09.png</string>
					<string>Beeater/Ending/A-LandBeeaterEnd/LandBeeaterEnd-10.png</string>
					<string>Beeater/Ending/A-LandBeeaterEnd/LandBeeaterEnd-11.png</string>
					<string>Beeater/Ending/A-LandBeeaterEnd/LandBeeaterEnd-12.png</string>
					<string>Beeater/Ending/A-LandBeeaterEnd/LandBeeaterEnd-13.png</string>
					<string>Beeater/Ending/A-LandBeeaterEnd/LandBeeaterEnd-14.png</string>
					<string>Beeater/Ending/A-LandBeeaterEnd/LandBeeaterEnd-15.png</string>
					<string>Beeater/Ending/A-LandBeeaterEnd/LandBeeaterEnd-16.png</string>
					<string>Beeater/Ending/A-LandBeeaterEnd/LandBeeaterEnd-17.png</string>
					<string>Beeater/Ending/A-LandBeeaterEnd/LandBeeaterEnd-18.png</string>
					<string>Beeater/Ending/A-LandBeeaterEnd/LandBeeaterEnd-19.png</string>
				</array>
				<key>delay</key>
				<real>0.08</real>
			</dict>
		</dict>
	</dict>
</plist>
