<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>animations</key>
		<dict>
			<!-- Idle -->
			<key>Super-Beeater-C-Head-Front-Idle</key>
			<dict>
				<key>frames</key>
				<array>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Head-Front-1.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Head-Front-2.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Head-Front-3.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Head-Front-4.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Head-Front-5.png</string>
				</array>
				<key>delay</key>
				<real>0.1</real>
			</dict>
            <key>Super-Beeater-C-Head-Back-Idle</key>
			<dict>
				<key>frames</key>
				<array>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Head-Back-1.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Head-Back-2.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Head-Back-3.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Head-Back-4.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Head-Back-5.png</string>
				</array>
				<key>delay</key>
				<real>0.1</real>
			</dict>
			<key>Super-Beeater-C-Wing-Idle</key>
			<dict>
				<key>frames</key>
				<array>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Wing-1.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Wing-2.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Wing-3.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Wing-4.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Wing-5.png</string>
				</array>
				<key>delay</key>
				<real>0.08</real>
			</dict>
			<key>Super-Beeater-C-Tail-Idle</key>
			<dict>
				<key>frames</key>
				<array>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Tail-1.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Tail-2.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Tail-3.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Tail-4.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Tail-5.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Tail-6.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Tail-7.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Tail-8.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Tail-9.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Tail-10.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Tail-11.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Tail-12.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Tail-11.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Tail-10.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Tail-9.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Tail-8.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Tail-7.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Tail-6.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Tail-5.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Tail-4.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Tail-3.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Tail-2.png</string>
				</array>
				<key>delay</key>
				<real>0.08</real>
			</dict>
            <key>Super-Beeater-C-Bees-Idle</key>
            <dict>
                <key>frames</key>
                <array>
                    <string>Bees/Bee-x5/C/Bee-x5-1.png</string>
                    <string>Bees/Bee-x5/C/Bee-x5-2.png</string>
                    <string>Bees/Bee-x5/C/Bee-x5-3.png</string>
                    <string>Bees/Bee-x5/C/Bee-x5-4.png</string>
                </array>
                <key>delay</key>
                <real>0.1</real>
            </dict>
			
			<!-- Hit -->
			<key>Super-Beeater-C-Head-Front-Hit</key>
			<dict>
				<key>frames</key>
				<array>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Head-Front-Blue-1.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Head-Front-Blue-2.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Head-Front-Blue-3.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Head-Front-Blue-4.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Head-Front-Blue-5.png</string>
				</array>
				<key>delay</key>
				<real>0.1</real>
			</dict>
			<key>Super-Beeater-C-Head-Back-Hit</key>
			<dict>
				<key>frames</key>
				<array>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Head-Back-1.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Head-Back-2.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Head-Back-3.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Head-Back-4.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Head-Back-5.png</string>
				</array>
				<key>delay</key>
				<real>0.1</real>
			</dict>
			<key>Super-Beeater-C-Wing-Hit</key>
			<dict>
				<key>frames</key>
				<array>
                    <string>Obstacles/Super-Beeater/C/Super-Beeater-C-Wing-1.png</string>
				</array>
				<key>delay</key>
				<real>0.5</real>
			</dict>
			<key>Super-Beeater-C-Tail-Hit</key>
			<dict>
				<key>frames</key>
				<array>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Tail-1.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Tail-2.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Tail-3.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Tail-4.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Tail-5.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Tail-6.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Tail-7.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Tail-8.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Tail-9.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Tail-10.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Tail-11.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Tail-12.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Tail-11.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Tail-10.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Tail-9.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Tail-8.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Tail-7.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Tail-6.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Tail-5.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Tail-4.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Tail-3.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Tail-2.png</string>
				</array>
				<key>delay</key>
				<real>0.04</real>
			</dict>
			
			<!-- Destroy -->
			<key>Super-Beeater-C-Head-Front-Destroy</key>
			<dict>
				<key>frames</key>
				<array>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Head-Front-Blue-1.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Head-Front-Blue-2.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Head-Front-Blue-3.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Head-Front-Blue-4.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Head-Front-Blue-4.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Head-Front-Blue-5.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Head-Front-Blue-5.png</string>
				</array>
				<key>delay</key>
				<real>0.2</real>
			</dict>
			<key>Super-Beeater-C-Head-Back-Destroy</key>
			<dict>
				<key>frames</key>
				<array>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Head-Back-1.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Head-Back-2.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Head-Back-3.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Head-Back-4.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Head-Back-4.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Head-Back-5.png</string>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Head-Back-5.png</string>
				</array>
				<key>delay</key>
				<real>0.2</real>
			</dict>
			<key>Super-Beeater-C-Wing-Destroy</key>
			<dict>
				<key>frames</key>
				<array>
                    <string>Obstacles/Super-Beeater/C/Super-Beeater-C-Wing-1.png</string>
				</array>
				<key>delay</key>
				<real>1.4</real>
			</dict>
			<key>Super-Beeater-C-Tail-Destroy</key>
			<dict>
				<key>frames</key>
				<array>
                    <string>Obstacles/Super-Beeater/C/Super-Beeater-C-Tail-1.png</string>
				</array>
				<key>delay</key>
				<real>1.4</real>
			</dict>

            <!-- Still -->
            <key>Super-Beeater-C-Head-Front-Still</key>
			<dict>
				<key>frames</key>
				<array>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Head-Front-3.png</string>
				</array>
				<key>delay</key>
				<real>1</real>
			</dict>
            <key>Super-Beeater-C-Head-Back-Still</key>
			<dict>
				<key>frames</key>
				<array>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Head-Back-3.png</string>
				</array>
				<key>delay</key>
				<real>1</real>
			</dict>
			<key>Super-Beeater-C-Wing-Still</key>
			<dict>
				<key>frames</key>
				<array>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Wing-1.png</string>
				</array>
				<key>delay</key>
				<real>1</real>
			</dict>
			<key>Super-Beeater-C-Tail-Still</key>
			<dict>
				<key>frames</key>
				<array>
					<string>Obstacles/Super-Beeater/C/Super-Beeater-C-Tail-1.png</string>
				</array>
				<key>delay</key>
				<real>1</real>
			</dict>
            <key>Super-Beeater-C-Bees-Still</key>
            <dict>
                <key>frames</key>
                <array>
                    <string>Bees/Bee-x5/C/Bee-x5-1.png</string>
                </array>
                <key>delay</key>
                <real>1</real>
            </dict>
		</dict>
	</dict>
</plist>
