<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>animations</key>
		<dict>
			<key>Super-Beeater-Front-Idle</key>
			<dict>
				<key>frames</key>
				<array>
					<string>Obsticles/Super Beeater/A-SB-Head-Front-1.png</string>
                    <string>Obsticles/Super Beeater/A-SB-Head-Front-2.png</string>
                    <string>Obsticles/Super Beeater/A-SB-Head-Front-3.png</string>
                    <string>Obsticles/Super Beeater/A-SB-Head-Front-4.png</string>
                    <string>Obsticles/Super Beeater/A-SB-Head-Front-5.png</string>
				</array>
				<key>delay</key>
				<real>0.1</real>
			</dict>
            <key>Super-Beeater-Back-Idle</key>
			<dict>
				<key>frames</key>
				<array>
                    <string>Obsticles/Super Beeater/A-SB-Head-Back-1.png</string>
                    <string>Obsticles/Super Beeater/A-SB-Head-Back-2.png</string>
                    <string>Obsticles/Super Beeater/A-SB-Head-Back-3.png</string>
                    <string>Obsticles/Super Beeater/A-SB-Head-Back-4.png</string>
                    <string>Obsticles/Super Beeater/A-SB-Head-Back-5.png</string>
				</array>
				<key>delay</key>
				<real>0.1</real>
			</dict>
			<key>Super-Beeater-Wing-Idle</key>
			<dict>
				<key>frames</key>
				<array>
                    <string>Obsticles/Super Beeater/A-SB-Wing-1.png</string>
                    <string>Obsticles/Super Beeater/A-SB-Wing-2.png</string>
                    <string>Obsticles/Super Beeater/A-SB-Wing-3.png</string>
                    <string>Obsticles/Super Beeater/A-SB-Wing-4.png</string>
                    <string>Obsticles/Super Beeater/A-SB-Wing-5.png</string>
				</array>
				<key>delay</key>
				<real>0.08</real>
			</dict>
			<key>Super-Beeater-Tail-Idle</key>
			<dict>
				<key>frames</key>
				<array>
                    <string>Obsticles/Super Beeater/A-SB-Tale-1.png</string>
                    <string>Obsticles/Super Beeater/A-SB-Tale-2.png</string>
                    <string>Obsticles/Super Beeater/A-SB-Tale-3.png</string>
                    <string>Obsticles/Super Beeater/A-SB-Tale-4.png</string>
                    <string>Obsticles/Super Beeater/A-SB-Tale-5.png</string>
                    <string>Obsticles/Super Beeater/A-SB-Tale-6.png</string>
                    <string>Obsticles/Super Beeater/A-SB-Tale-7.png</string>
                    <string>Obsticles/Super Beeater/A-SB-Tale-8.png</string>
                    <string>Obsticles/Super Beeater/A-SB-Tale-9.png</string>
                    <string>Obsticles/Super Beeater/A-SB-Tale-10.png</string>
                    <string>Obsticles/Super Beeater/A-SB-Tale-11.png</string>
                    <string>Obsticles/Super Beeater/A-SB-Tale-12.png</string>
                    <string>Obsticles/Super Beeater/A-SB-Tale-11.png</string>
                    <string>Obsticles/Super Beeater/A-SB-Tale-10.png</string>
                    <string>Obsticles/Super Beeater/A-SB-Tale-9.png</string>
                    <string>Obsticles/Super Beeater/A-SB-Tale-8.png</string>
                    <string>Obsticles/Super Beeater/A-SB-Tale-7.png</string>
                    <string>Obsticles/Super Beeater/A-SB-Tale-6.png</string>
                    <string>Obsticles/Super Beeater/A-SB-Tale-5.png</string>
                    <string>Obsticles/Super Beeater/A-SB-Tale-4.png</string>
                    <string>Obsticles/Super Beeater/A-SB-Tale-3.png</string>
                    <string>Obsticles/Super Beeater/A-SB-Tale-2.png</string>
				</array>
				<key>delay</key>
				<real>0.08</real>
			</dict>
			
			<key>Super-Beeater-Front-Destroy</key>
			<dict>
				<key>frames</key>
				<array>
					<string>Obsticles/Super Beeater/A-SB-Head-Front-Blue-1.png</string>
                    <string>Obsticles/Super Beeater/A-SB-Head-Front-Blue-2.png</string>
                    <string>Obsticles/Super Beeater/A-SB-Head-Front-Blue-3.png</string>
                    <string>Obsticles/Super Beeater/A-SB-Head-Front-Blue-4.png</string>
					<string>Obsticles/Super Beeater/A-SB-Head-Front-Blue-4.png</string>
                    <string>Obsticles/Super Beeater/A-SB-Head-Front-Blue-5.png</string>
					<string>Obsticles/Super Beeater/A-SB-Head-Front-Blue-5.png</string>
					<string>Obsticles/Super Beeater/A-SB-Head-Front-Blue-5.png</string>
				</array>
				<key>delay</key>
				<real>0.2</real>
			</dict>
			<key>Super-Beeater-Back-Destroy</key>
			<dict>
				<key>frames</key>
				<array>
                    <string>Obsticles/Super Beeater/A-SB-Head-Back-1.png</string>
                    <string>Obsticles/Super Beeater/A-SB-Head-Back-2.png</string>
                    <string>Obsticles/Super Beeater/A-SB-Head-Back-3.png</string>
                    <string>Obsticles/Super Beeater/A-SB-Head-Back-4.png</string>
					<string>Obsticles/Super Beeater/A-SB-Head-Back-4.png</string>
                    <string>Obsticles/Super Beeater/A-SB-Head-Back-5.png</string>
					<string>Obsticles/Super Beeater/A-SB-Head-Back-5.png</string>
					<string>Obsticles/Super Beeater/A-SB-Head-Back-5.png</string>
				</array>
				<key>delay</key>
				<real>0.2</real>
			</dict>
			<key>Super-Beeater-Wing-Destroy</key>
			<dict>
				<key>frames</key>
				<array>
                    <string>Obsticles/Super Beeater/A-SB-Wing-1.png</string>
				</array>
				<key>delay</key>
				<real>1.6</real>
			</dict>
			<key>Super-Beeater-Tail-Destroy</key>
			<dict>
				<key>frames</key>
				<array>
                    <string>Obsticles/Super Beeater/A-SB-Tale-8.png</string>
				</array>
				<key>delay</key>
				<real>1.6</real>
			</dict>
		</dict>
	</dict>
</plist>
