<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>type</key>
	<string>BOMBEE</string>
	<key>groups</key>
	<array>
		<string>BEES</string>
	</array>
	<key>components</key>
	<dict>
		<key>bee</key>
		<dict>
			<key>type</key>
			<string>BOMBEE</string>
		</dict>
		<key>consumer</key>
		<dict/>
        <key>disposable</key>
        <dict>
            <key>deleteEntityWhenDisposed</key>
            <true/>
        </dict>
		<key>explode</key>
		<dict>
			<key>radius</key>
			<integer>40</integer>
			<key>explodeStartAnimation</key>
			<string>Bombee-Boom-Start</string>
			<key>explodeEndAnimation</key>
			<string>Bombee-Boom-End</string>
			<key>explodeSound</key>
			<string>BombeeBoom</string>
		</dict>
		<key>physics</key>
		<dict>
			<key>file</key>
			<string>Bee-Shapes.plist</string>
			<key>bodyName</key>
			<string>Bee</string>
			<key>layers</key>
			<real>4</real>
			<key>group</key>
			<string>OBJECT</string>
		</dict>
		<key>render</key>
		<dict>
			<key>sprites</key>
			<array>
				<dict>
					<key>spriteSheetName</key>
					<string>Shared</string>
					<key>animationFile</key>
					<string>Bombee-Animations.plist</string>
                    <key>z</key>
                    <string>Z_BEES</string>
					<key>defaultIdleAnimation</key>
					<string>Bombee-Idle</string>
					<key>defaultDestroyAnimation</key>
					<string>Bombee-Boom-End</string>
				</dict>
			</array>
		</dict>
		<key>shard</key>
		<dict>
			<key>piecesEntityType</key>
			<string>BOMBEE-PIECE</string>
			<key>piecesCount</key>
			<integer>8</integer>
            <key>piecesSpawnType</key>
            <string>SHARD_PIECES_SPAWN_FADEOUT</string>
		</dict>
		<key>solid</key>
		<dict/>
		<key>transform</key>
		<dict/>
	</dict>
</dict>
</plist>
