<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
	
		<key>Sawee-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<key>frame 1</key>
				<string>Sawee-1.png</string>
				<key>frame 2</key>
				<string>Sawee-2.png</string>
			</array>
			<key>delay</key>
			<Number>0.3</Number>
		</dict>
		
	</dict>
</dict>
</plist>