<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>type</key>
	<string>RAMP-PIECE-E</string>
	<key>template</key>
    <string>Ramp-Piece-Template.plist</string>
    <key>templateSubstitutions</key>
    <dict>
		<key>renderSpriteSheetName</key>
		<string>Shared</string>
		<key>renderAnimationFile</key>
		<string>Ramp-Animations.plist</string>
		<key>renderDefaultIdleAnimation1</key>
		<string>Ramp-Part-1</string>
		<key>renderDefaultIdleAnimation2</key>
		<string>Ramp-Part-2</string>
		<key>renderDefaultIdleAnimation3</key>
		<string>Ramp-Part-3</string>
		<key>renderDefaultIdleAnimation4</key>
		<string>Ramp-Part-4</string>
		<key>renderDefaultIdleAnimation5</key>
		<string>Ramp-Part-5</string>
		<key>shardPiecesEntityType</key>
		<string>Ramp-Piece-Small-E</string>
    </dict>
</dict>
</plist>
