<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A32</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 239.56656,159.19504 }</string>
	
								<string>{ 203.96286,120.49536 }</string>
	
								<string>{ 182.60062,159.19504 }</string>

							</array>

							<array>
	
								<string>{ 239.56656,159.19504 }</string>
	
								<string>{ 240.49536,-142.35294 }</string>
	
								<string>{ 203.96286,120.49536 }</string>

							</array>

							<array>
	
								<string>{ -208.73065,-4.27245 }</string>
	
								<string>{ -240.00000,50.89783 }</string>
	
								<string>{ -190.77399,14.61301 }</string>
	
								<string>{ -192.32198,7.49226 }</string>

							</array>

							<array>
	
								<string>{ 17.27554,-48.85449 }</string>
	
								<string>{ 83.52942,-46.37771 }</string>
	
								<string>{ -50.83591,-102.41486 }</string>
	
								<string>{ -20.80496,-69.28793 }</string>
	
								<string>{ 3.03406,-51.64087 }</string>

							</array>

							<array>
	
								<string>{ -71.88855,42.47678 }</string>
	
								<string>{ -149.59753,58.26625 }</string>
	
								<string>{ 42.10526,52.75542 }</string>
	
								<string>{ 41.42413,44.95355 }</string>

							</array>

							<array>
	
								<string>{ -126.68731,35.66563 }</string>
	
								<string>{ -149.59753,58.26625 }</string>
	
								<string>{ -71.88855,42.47678 }</string>

							</array>

							<array>
	
								<string>{ -190.77399,14.61301 }</string>
	
								<string>{ -240.00000,50.89783 }</string>
	
								<string>{ -149.59753,58.26625 }</string>
	
								<string>{ -126.68731,35.66563 }</string>

							</array>

							<array>
	
								<string>{ -208.73065,-4.27245 }</string>
	
								<string>{ -210.27864,-39.56657 }</string>
	
								<string>{ -240.30960,-143.59133 }</string>
	
								<string>{ -240.00000,50.89783 }</string>

							</array>

							<array>
	
								<string>{ 143.59134,-36.16099 }</string>
	
								<string>{ 240.49536,-142.35294 }</string>
	
								<string>{ -50.83591,-102.41486 }</string>
	
								<string>{ 83.52942,-46.37771 }</string>

							</array>

							<array>
	
								<string>{ 240.49536,-142.35294 }</string>
	
								<string>{ 208.91641,11.51703 }</string>
	
								<string>{ 210.77399,71.26935 }</string>

							</array>

							<array>
	
								<string>{ 240.49536,-142.35294 }</string>
	
								<string>{ 201.48605,-10.15480 }</string>
	
								<string>{ 208.91641,11.51703 }</string>

							</array>

							<array>
	
								<string>{ 240.49536,-142.35294 }</string>
	
								<string>{ 173.00308,-27.18266 }</string>
	
								<string>{ 201.48605,-10.15480 }</string>

							</array>

							<array>
	
								<string>{ 240.49536,-142.35294 }</string>
	
								<string>{ 143.59134,-36.16099 }</string>
	
								<string>{ 173.00308,-27.18266 }</string>

							</array>

							<array>
	
								<string>{ -240.30960,-143.59133 }</string>
	
								<string>{ -96.03716,-106.43963 }</string>
	
								<string>{ -50.83591,-102.41486 }</string>
	
								<string>{ 240.49536,-142.35294 }</string>

							</array>

							<array>
	
								<string>{ -204.39629,-62.78638 }</string>
	
								<string>{ -240.30960,-143.59133 }</string>
	
								<string>{ -210.27864,-39.56657 }</string>

							</array>

							<array>
	
								<string>{ -185.20124,-84.76780 }</string>
	
								<string>{ -240.30960,-143.59133 }</string>
	
								<string>{ -204.39629,-62.78638 }</string>

							</array>

							<array>
	
								<string>{ -148.97833,-103.34365 }</string>
	
								<string>{ -240.30960,-143.59133 }</string>
	
								<string>{ -185.20124,-84.76780 }</string>

							</array>

							<array>
	
								<string>{ -96.03716,-106.43963 }</string>
	
								<string>{ -240.30960,-143.59133 }</string>
	
								<string>{ -148.97833,-103.34365 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

