<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A31</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 240.18576,-144.82972 }</string>
	
								<string>{ 95.60370,46.81114 }</string>
	
								<string>{ 94.67493,59.19504 }</string>
	
								<string>{ 110.77399,83.34366 }</string>
	
								<string>{ 156.28482,91.70279 }</string>
	
								<string>{ 239.87616,92.63158 }</string>

							</array>

							<array>
	
								<string>{ 25.94427,-7.67802 }</string>
	
								<string>{ -34.73685,-66.81115 }</string>
	
								<string>{ -27.61610,-21.30031 }</string>
	
								<string>{ -18.32817,-10.77400 }</string>

							</array>

							<array>
	
								<string>{ -34.73685,70.95975 }</string>
	
								<string>{ -110.89783,74.36533 }</string>
	
								<string>{ 33.43652,86.81114 }</string>
	
								<string>{ 34.30341,74.67493 }</string>

							</array>

							<array>
	
								<string>{ 56.90402,0.37152 }</string>
	
								<string>{ 240.18576,-144.82972 }</string>
	
								<string>{ -44.33437,-91.88854 }</string>
	
								<string>{ -34.73685,-66.81115 }</string>
	
								<string>{ 25.94427,-7.67802 }</string>

							</array>

							<array>
	
								<string>{ -104.70589,61.98143 }</string>
	
								<string>{ -110.89783,74.36533 }</string>
	
								<string>{ -34.73685,70.95975 }</string>

							</array>

							<array>
	
								<string>{ -166.62539,43.09598 }</string>
	
								<string>{ -240.30960,55.54179 }</string>
	
								<string>{ -110.89783,74.36533 }</string>
	
								<string>{ -104.70589,61.98143 }</string>

							</array>

							<array>
	
								<string>{ -195.41796,21.42415 }</string>
	
								<string>{ -240.30960,55.54179 }</string>
	
								<string>{ -166.62539,43.09598 }</string>

							</array>

							<array>
	
								<string>{ -206.87307,-1.79567 }</string>
	
								<string>{ -240.30960,55.54179 }</string>
	
								<string>{ -195.41796,21.42415 }</string>

							</array>

							<array>
	
								<string>{ -206.87307,-1.79567 }</string>
	
								<string>{ -204.70588,-33.68421 }</string>
	
								<string>{ -240.00000,-146.37771 }</string>
	
								<string>{ -240.30960,55.54179 }</string>

							</array>

							<array>
	
								<string>{ -192.01238,-66.19195 }</string>
	
								<string>{ -240.00000,-146.37771 }</string>
	
								<string>{ -204.70588,-33.68421 }</string>

							</array>

							<array>
	
								<string>{ -167.55418,-93.74613 }</string>
	
								<string>{ -240.00000,-146.37771 }</string>
	
								<string>{ -192.01238,-66.19195 }</string>

							</array>

							<array>
	
								<string>{ -131.33127,-115.41796 }</string>
	
								<string>{ -240.00000,-146.37771 }</string>
	
								<string>{ -167.55418,-93.74613 }</string>

							</array>

							<array>
	
								<string>{ -100.68112,-119.75232 }</string>
	
								<string>{ -240.00000,-146.37771 }</string>
	
								<string>{ -131.33127,-115.41796 }</string>

							</array>

							<array>
	
								<string>{ -100.68112,-119.75232 }</string>
	
								<string>{ -70.34056,-118.20433 }</string>
	
								<string>{ 240.18576,-144.82972 }</string>
	
								<string>{ -240.00000,-146.37771 }</string>

							</array>

							<array>
	
								<string>{ 240.18576,-144.82972 }</string>
	
								<string>{ 82.29102,20.49536 }</string>
	
								<string>{ 95.60370,46.81114 }</string>

							</array>

							<array>
	
								<string>{ 240.18576,-144.82972 }</string>
	
								<string>{ 56.90402,0.37152 }</string>
	
								<string>{ 82.29102,20.49536 }</string>

							</array>

							<array>
	
								<string>{ 240.18576,-144.82972 }</string>
	
								<string>{ -70.34056,-118.20433 }</string>
	
								<string>{ -44.33437,-91.88854 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

