<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A33</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 16.01373,90.17181 }</string>
	
								<string>{ 42.81787,87.42267 }</string>
	
								<string>{ 19.45016,66.11684 }</string>
	
								<string>{ 0.54982,74.02061 }</string>
	
								<string>{ 0.89346,87.76631 }</string>

							</array>

							<array>
	
								<string>{ 19.10651,108.04123 }</string>
	
								<string>{ 34.91409,122.81787 }</string>
	
								<string>{ 61.03091,135.18900 }</string>
	
								<string>{ 93.67697,145.49826 }</string>
	
								<string>{ 75.46390,101.16837 }</string>
	
								<string>{ 42.81787,87.42267 }</string>
	
								<string>{ 16.01373,90.17181 }</string>

							</array>

							<array>
	
								<string>{ 93.67697,145.49826 }</string>
	
								<string>{ 148.31613,160.61856 }</string>
	
								<string>{ 110.85910,111.13400 }</string>
	
								<string>{ 75.46390,101.16837 }</string>

							</array>

							<array>
	
								<string>{ 148.31613,160.61856 }</string>
	
								<string>{ 239.72507,160.61856 }</string>
	
								<string>{ 143.16150,107.01031 }</string>
	
								<string>{ 110.85910,111.13400 }</string>

							</array>

							<array>
	
								<string>{ 239.72507,160.61856 }</string>
	
								<string>{ 170.65292,91.54639 }</string>
	
								<string>{ 143.16150,107.01031 }</string>

							</array>

							<array>
	
								<string>{ 239.72507,160.61856 }</string>
	
								<string>{ 190.92783,70.92783 }</string>
	
								<string>{ 170.65292,91.54639 }</string>

							</array>

							<array>
	
								<string>{ 239.72507,160.61856 }</string>
	
								<string>{ 207.76630,44.81099 }</string>
	
								<string>{ 190.92783,70.92783 }</string>

							</array>

							<array>
	
								<string>{ 239.72507,160.61856 }</string>
	
								<string>{ 222.19931,-5.70447 }</string>
	
								<string>{ 207.76630,44.81099 }</string>

							</array>

							<array>
	
								<string>{ -197.04467,23.50514 }</string>
	
								<string>{ -240.00000,66.59793 }</string>
	
								<string>{ -163.71134,41.37456 }</string>
	
								<string>{ -178.48798,30.03436 }</string>

							</array>

							<array>
	
								<string>{ -35.53265,27.62886 }</string>
	
								<string>{ -78.83162,39.31271 }</string>
	
								<string>{ -59.93127,43.78006 }</string>
	
								<string>{ 8.93471,30.17181 }</string>
	
								<string>{ 7.76631,23.50514 }</string>

							</array>

							<array>
	
								<string>{ 240.41235,-159.65636 }</string>
	
								<string>{ 220.82474,-48.31615 }</string>
	
								<string>{ 222.19931,-5.70447 }</string>
	
								<string>{ 239.72507,160.61856 }</string>

							</array>

							<array>
	
								<string>{ 122.88660,-47.97251 }</string>
	
								<string>{ 109.48453,-50.03437 }</string>
	
								<string>{ 111.89001,1.85567 }</string>
	
								<string>{ 117.04468,1.51202 }</string>

							</array>

							<array>
	
								<string>{ 140.41235,-84.39863 }</string>
	
								<string>{ 98.48798,-91.61512 }</string>
	
								<string>{ 109.48453,-50.03437 }</string>
	
								<string>{ 122.88660,-47.97251 }</string>

							</array>

							<array>
	
								<string>{ 140.41235,-84.39863 }</string>
	
								<string>{ 153.81442,-96.08248 }</string>
	
								<string>{ 79.24399,-113.95189 }</string>
	
								<string>{ 98.48798,-91.61512 }</string>

							</array>

							<array>
	
								<string>{ 176.83847,-101.23711 }</string>
	
								<string>{ 240.41235,-159.65636 }</string>
	
								<string>{ 57.25085,-128.72852 }</string>
	
								<string>{ 79.24399,-113.95189 }</string>
	
								<string>{ 153.81442,-96.08248 }</string>

							</array>

							<array>
	
								<string>{ -117.31959,38.96907 }</string>
	
								<string>{ -163.71134,41.37456 }</string>
	
								<string>{ -240.00000,66.59793 }</string>
	
								<string>{ -59.93127,43.78006 }</string>
	
								<string>{ -78.83162,39.31271 }</string>

							</array>

							<array>
	
								<string>{ -208.04124,14.22679 }</string>
	
								<string>{ -240.00000,66.59793 }</string>
	
								<string>{ -197.04467,23.50514 }</string>

							</array>

							<array>
	
								<string>{ -216.97595,-7.76633 }</string>
	
								<string>{ -240.00000,66.59793 }</string>
	
								<string>{ -208.04124,14.22679 }</string>

							</array>

							<array>
	
								<string>{ -216.97595,-7.76633 }</string>
	
								<string>{ -218.00687,-33.53952 }</string>
	
								<string>{ -240.34364,-159.31271 }</string>
	
								<string>{ -240.00000,66.59793 }</string>

							</array>

							<array>
	
								<string>{ 240.41235,-159.65636 }</string>
	
								<string>{ 213.95187,-72.37114 }</string>
	
								<string>{ 220.82474,-48.31615 }</string>

							</array>

							<array>
	
								<string>{ 240.41235,-159.65636 }</string>
	
								<string>{ 202.61166,-95.39519 }</string>
	
								<string>{ 213.95187,-72.37114 }</string>

							</array>

							<array>
	
								<string>{ 240.41235,-159.65636 }</string>
	
								<string>{ 176.83847,-101.23711 }</string>
	
								<string>{ 202.61166,-95.39519 }</string>

							</array>

							<array>
	
								<string>{ 240.41235,-159.65636 }</string>
	
								<string>{ 30.44672,-138.00687 }</string>
	
								<string>{ 57.25085,-128.72852 }</string>

							</array>

							<array>
	
								<string>{ -240.34364,-159.31271 }</string>
	
								<string>{ 30.44672,-138.00687 }</string>
	
								<string>{ 240.41235,-159.65636 }</string>

							</array>

							<array>
	
								<string>{ -209.07217,-61.37457 }</string>
	
								<string>{ -240.34364,-159.31271 }</string>
	
								<string>{ -218.00687,-33.53952 }</string>

							</array>

							<array>
	
								<string>{ -188.79725,-88.17870 }</string>
	
								<string>{ -240.34364,-159.31271 }</string>
	
								<string>{ -209.07217,-61.37457 }</string>

							</array>

							<array>
	
								<string>{ -154.43299,-112.23368 }</string>
	
								<string>{ -240.34364,-159.31271 }</string>
	
								<string>{ -188.79725,-88.17870 }</string>

							</array>

							<array>
	
								<string>{ -110.10310,-129.07217 }</string>
	
								<string>{ -240.34364,-159.31271 }</string>
	
								<string>{ -154.43299,-112.23368 }</string>

							</array>

							<array>
	
								<string>{ -73.33334,-138.35052 }</string>
	
								<string>{ -240.34364,-159.31271 }</string>
	
								<string>{ -110.10310,-129.07217 }</string>

							</array>

							<array>
	
								<string>{ -36.56358,-142.81787 }</string>
	
								<string>{ -240.34364,-159.31271 }</string>
	
								<string>{ -73.33334,-138.35052 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

