<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A43</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -19.06978,-31.51163 }</string>
	
								<string>{ -3.77907,16.04651 }</string>
	
								<string>{ -6.86047,-68.13953 }</string>
	
								<string>{ -13.54651,-68.13953 }</string>

							</array>

							<array>
	
								<string>{ -36.22093,-12.90698 }</string>
	
								<string>{ -3.77907,16.04651 }</string>
	
								<string>{ -19.06978,-31.51163 }</string>

							</array>

							<array>
	
								<string>{ -60.93024,-3.02325 }</string>
	
								<string>{ -3.77907,16.04651 }</string>
	
								<string>{ -36.22093,-12.90698 }</string>

							</array>

							<array>
	
								<string>{ -60.93024,-3.02325 }</string>
	
								<string>{ -94.36047,-2.44186 }</string>
	
								<string>{ -119.06977,18.77907 }</string>
	
								<string>{ -3.77907,16.04651 }</string>

							</array>

							<array>
	
								<string>{ -158.89535,-20.17442 }</string>
	
								<string>{ -240.00000,18.08139 }</string>
	
								<string>{ -119.06977,18.77907 }</string>
	
								<string>{ -94.36047,-2.44186 }</string>

							</array>

							<array>
	
								<string>{ -175.46512,-43.13953 }</string>
	
								<string>{ -240.00000,18.08139 }</string>
	
								<string>{ -158.89535,-20.17442 }</string>

							</array>

							<array>
	
								<string>{ -175.46512,-43.13953 }</string>
	
								<string>{ -177.50000,-66.68605 }</string>
	
								<string>{ -240.00000,-159.41860 }</string>
	
								<string>{ -240.00000,18.08139 }</string>

							</array>

							<array>
	
								<string>{ -48.43024,91.45349 }</string>
	
								<string>{ 7.96512,97.84885 }</string>
	
								<string>{ 4.47675,87.96512 }</string>
	
								<string>{ -48.72093,82.73256 }</string>

							</array>

							<array>
	
								<string>{ 7.96512,97.84885 }</string>
	
								<string>{ 125.98837,93.48837 }</string>
	
								<string>{ 50.40698,88.25581 }</string>
	
								<string>{ 4.47675,87.96512 }</string>

							</array>

							<array>
	
								<string>{ 125.98837,93.48837 }</string>
	
								<string>{ 101.27905,78.37209 }</string>
	
								<string>{ 50.40698,88.25581 }</string>

							</array>

							<array>
	
								<string>{ 125.98837,93.48837 }</string>
	
								<string>{ 239.94186,82.15115 }</string>
	
								<string>{ 138.48837,61.22093 }</string>
	
								<string>{ 101.27905,78.37209 }</string>

							</array>

							<array>
	
								<string>{ 239.94186,82.15115 }</string>
	
								<string>{ 164.94186,37.09302 }</string>
	
								<string>{ 138.48837,61.22093 }</string>

							</array>

							<array>
	
								<string>{ 239.94186,82.15115 }</string>
	
								<string>{ 175.40698,12.38371 }</string>
	
								<string>{ 164.94186,37.09302 }</string>

							</array>

							<array>
	
								<string>{ 239.36044,-159.12791 }</string>
	
								<string>{ 182.96512,-21.04651 }</string>
	
								<string>{ 175.40698,12.38371 }</string>
	
								<string>{ 239.94186,82.15115 }</string>

							</array>

							<array>
	
								<string>{ -171.10465,-87.32558 }</string>
	
								<string>{ -240.00000,-159.41860 }</string>
	
								<string>{ -177.50000,-66.68605 }</string>

							</array>

							<array>
	
								<string>{ -153.66279,-108.54651 }</string>
	
								<string>{ -240.00000,-159.41860 }</string>
	
								<string>{ -171.10465,-87.32558 }</string>

							</array>

							<array>
	
								<string>{ -127.20930,-124.82558 }</string>
	
								<string>{ -240.00000,-159.41860 }</string>
	
								<string>{ -153.66279,-108.54651 }</string>

							</array>

							<array>
	
								<string>{ -99.59303,-135.29070 }</string>
	
								<string>{ -240.00000,-159.41860 }</string>
	
								<string>{ -127.20930,-124.82558 }</string>

							</array>

							<array>
	
								<string>{ 239.36044,-159.12791 }</string>
	
								<string>{ -240.00000,-159.41860 }</string>
	
								<string>{ -99.59303,-135.29070 }</string>

							</array>

							<array>
	
								<string>{ 239.36044,-159.12791 }</string>
	
								<string>{ 180.05814,-62.32558 }</string>
	
								<string>{ 182.96512,-21.04651 }</string>

							</array>

							<array>
	
								<string>{ 239.36044,-159.12791 }</string>
	
								<string>{ 170.75580,-91.10465 }</string>
	
								<string>{ 180.05814,-62.32558 }</string>

							</array>

							<array>
	
								<string>{ 239.36044,-159.12791 }</string>
	
								<string>{ 159.12790,-110.87209 }</string>
	
								<string>{ 170.75580,-91.10465 }</string>

							</array>

							<array>
	
								<string>{ 239.36044,-159.12791 }</string>
	
								<string>{ 127.15115,-128.89535 }</string>
	
								<string>{ 159.12790,-110.87209 }</string>

							</array>

							<array>
	
								<string>{ 239.36044,-159.12791 }</string>
	
								<string>{ 88.48837,-139.06977 }</string>
	
								<string>{ 127.15115,-128.89535 }</string>

							</array>

							<array>
	
								<string>{ 239.36044,-159.12791 }</string>
	
								<string>{ 19.59302,-143.43023 }</string>
	
								<string>{ 88.48837,-139.06977 }</string>

							</array>

							<array>
	
								<string>{ 239.36044,-159.12791 }</string>
	
								<string>{ -11.80232,-141.39535 }</string>
	
								<string>{ 19.59302,-143.43023 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

