<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entities</key>
	<array>
		<dict>
			<key>bees</key>
			<array>
				<string>BEE</string>
			</array>
			<key>mirrored</key>
			<false/>
			<key>position</key>
			<string>{ 58.50, 139.00 }</string>
			<key>rotation</key>
			<integer>-34</integer>
			<key>type</key>
			<string>SLINGER</string>
		</dict>
		<dict>
			<key>bee</key>
			<string>BEE</string>
			<key>mirrored</key>
			<false/>
			<key>position</key>
			<string>{ 374.00, 215.00 }</string>
			<key>rotation</key>
			<integer>0</integer>
			<key>type</key>
			<string>BEEATER</string>
		</dict>
		<dict>
			<key>bee</key>
			<string>BEE</string>
			<key>mirrored</key>
			<false/>
			<key>position</key>
			<string>{ 315.00, 70.00 }</string>
			<key>rotation</key>
			<integer>0</integer>
			<key>type</key>
			<string>BEEATER</string>
		</dict>
		<dict>
			<key>mirrored</key>
			<false/>
			<key>position</key>
			<string>{ 202.00, 233.50 }</string>
			<key>rotation</key>
			<integer>0</integer>
			<key>type</key>
			<string>POLLEN</string>
		</dict>
		<dict>
			<key>mirrored</key>
			<false/>
			<key>position</key>
			<string>{ 232.50, 233.50 }</string>
			<key>rotation</key>
			<integer>0</integer>
			<key>type</key>
			<string>POLLEN</string>
		</dict>
	</array>
	<key>name</key>
	<string>Level-A2</string>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
