<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entities</key>
	<array>
		<dict>
			<key>bees</key>
			<array>
				<string>BEE</string>
			</array>
			<key>mirrored</key>
			<false/>
			<key>position</key>
			<string>{ 98.50, 263.00 }</string>
			<key>rotation</key>
			<integer>-36</integer>
			<key>type</key>
			<string>SLINGER</string>
		</dict>
		<dict>
			<key>mirrored</key>
			<false/>
			<key>position</key>
			<string>{ 254.00, 267.50 }</string>
			<key>rotation</key>
			<integer>0</integer>
			<key>type</key>
			<string>POLLEN</string>
		</dict>
		<dict>
			<key>bee</key>
			<string>BEE</string>
			<key>mirrored</key>
			<false/>
			<key>position</key>
			<string>{ 285.50, 23.50 }</string>
			<key>rotation</key>
			<integer>0</integer>
			<key>type</key>
			<string>BEEATER</string>
		</dict>
		<dict>
			<key>bee</key>
			<string>BEE</string>
			<key>mirrored</key>
			<false/>
			<key>position</key>
			<string>{ 345.00, 240.00 }</string>
			<key>rotation</key>
			<integer>0</integer>
			<key>type</key>
			<string>BEEATER</string>
		</dict>
		<dict>
			<key>mirrored</key>
			<false/>
			<key>position</key>
			<string>{ 225.50, 266.50 }</string>
			<key>rotation</key>
			<integer>0</integer>
			<key>type</key>
			<string>POLLEN</string>
		</dict>
	</array>
	<key>name</key>
	<string>Level-A1</string>
	<key>version</key>
	<integer>5</integer>
</dict>
</plist>
