<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A3</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 144.37500,55.31250 }</string>
	
								<string>{ 240.00000,64.68750 }</string>
	
								<string>{ 164.68750,36.25000 }</string>
	
								<string>{ 145.93750,40.00000 }</string>

							</array>

							<array>
	
								<string>{ -202.81250,9.68750 }</string>
	
								<string>{ -239.68750,20.93750 }</string>
	
								<string>{ -175.00000,22.81250 }</string>
	
								<string>{ -175.62500,15.00000 }</string>

							</array>

							<array>
	
								<string>{ -217.18750,-10.62500 }</string>
	
								<string>{ -239.68750,20.93750 }</string>
	
								<string>{ -202.81250,9.68750 }</string>

							</array>

							<array>
	
								<string>{ -220.93750,-57.18750 }</string>
	
								<string>{ -239.37500,-135.31250 }</string>
	
								<string>{ -239.68750,20.93750 }</string>
	
								<string>{ -217.18750,-10.62500 }</string>

							</array>

							<array>
	
								<string>{ -207.81250,-100.62500 }</string>
	
								<string>{ -239.37500,-135.31250 }</string>
	
								<string>{ -220.93750,-57.18750 }</string>

							</array>

							<array>
	
								<string>{ -175.93750,-124.37500 }</string>
	
								<string>{ -239.37500,-135.31250 }</string>
	
								<string>{ -207.81250,-100.62500 }</string>

							</array>

							<array>
	
								<string>{ -3.12500,80.31250 }</string>
	
								<string>{ -30.31250,70.31250 }</string>
	
								<string>{ -45.00000,73.43750 }</string>
	
								<string>{ -68.43750,80.62500 }</string>
	
								<string>{ -68.43750,85.62500 }</string>
	
								<string>{ -34.37500,90.00000 }</string>
	
								<string>{ -1.56250,86.87500 }</string>

							</array>

							<array>
	
								<string>{ 240.00000,64.68750 }</string>
	
								<string>{ 171.87500,25.00000 }</string>
	
								<string>{ 164.68750,36.25000 }</string>

							</array>

							<array>
	
								<string>{ 240.00000,-137.18750 }</string>
	
								<string>{ 178.12500,2.81250 }</string>
	
								<string>{ 171.87500,25.00000 }</string>
	
								<string>{ 240.00000,64.68750 }</string>

							</array>

							<array>
	
								<string>{ -30.31250,70.31250 }</string>
	
								<string>{ -36.87500,63.43750 }</string>
	
								<string>{ -45.00000,73.43750 }</string>

							</array>

							<array>
	
								<string>{ -27.50000,23.12500 }</string>
	
								<string>{ -38.12500,23.43750 }</string>
	
								<string>{ -36.87500,63.43750 }</string>
	
								<string>{ -30.31250,70.31250 }</string>

							</array>

							<array>
	
								<string>{ -16.56250,-8.75000 }</string>
	
								<string>{ -43.43750,-43.75000 }</string>
	
								<string>{ -38.12500,23.43750 }</string>
	
								<string>{ -27.50000,23.12500 }</string>

							</array>

							<array>
	
								<string>{ 7.50000,-40.62500 }</string>
	
								<string>{ -57.18750,-95.00000 }</string>
	
								<string>{ -43.43750,-43.75000 }</string>
	
								<string>{ -16.56250,-8.75000 }</string>

							</array>

							<array>
	
								<string>{ 32.18750,-59.06250 }</string>
	
								<string>{ -57.18750,-95.00000 }</string>
	
								<string>{ 7.50000,-40.62500 }</string>

							</array>

							<array>
	
								<string>{ 76.56250,-80.93750 }</string>
	
								<string>{ -73.43750,-119.68750 }</string>
	
								<string>{ -57.18750,-95.00000 }</string>
	
								<string>{ 32.18750,-59.06250 }</string>

							</array>

							<array>
	
								<string>{ -126.25000,-126.87500 }</string>
	
								<string>{ -239.37500,-135.31250 }</string>
	
								<string>{ -175.93750,-124.37500 }</string>

							</array>

							<array>
	
								<string>{ 110.62500,-84.37500 }</string>
	
								<string>{ 240.00000,-137.18750 }</string>
	
								<string>{ -73.43750,-119.68750 }</string>
	
								<string>{ 76.56250,-80.93750 }</string>

							</array>

							<array>
	
								<string>{ -126.25000,-126.87500 }</string>
	
								<string>{ 240.00000,-137.18750 }</string>
	
								<string>{ -239.37500,-135.31250 }</string>

							</array>

							<array>
	
								<string>{ -73.43750,-119.68750 }</string>
	
								<string>{ 240.00000,-137.18750 }</string>
	
								<string>{ -126.25000,-126.87500 }</string>

							</array>

							<array>
	
								<string>{ 143.12500,-77.50000 }</string>
	
								<string>{ 240.00000,-137.18750 }</string>
	
								<string>{ 110.62500,-84.37500 }</string>

							</array>

							<array>
	
								<string>{ 167.81250,-56.56250 }</string>
	
								<string>{ 240.00000,-137.18750 }</string>
	
								<string>{ 143.12500,-77.50000 }</string>

							</array>

							<array>
	
								<string>{ 178.12500,-28.43750 }</string>
	
								<string>{ 240.00000,-137.18750 }</string>
	
								<string>{ 167.81250,-56.56250 }</string>

							</array>

							<array>
	
								<string>{ 178.12500,2.81250 }</string>
	
								<string>{ 240.00000,-137.18750 }</string>
	
								<string>{ 178.12500,-28.43750 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 241.25000,148.75000 }</string>
	
								<string>{ -32.50000,160.93750 }</string>
	
								<string>{ 241.25000,160.93750 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

