<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>type</key>
	<string>MUSHROOM</string>
    <key>template</key>
    <string>Mushroom-Template.plist</string>
    <key>templateSubstitutions</key>
    <dict>
		<key>renderAnchorPoint</key>
		<string>{ 0.5, 0.0 }</string>
		<key>renderDefaultIdleAnimation</key>
		<string>Mushroom-Idle</string>
		<key>wobbleFirstWobbleAnimation</key>
		<string>Mushroom-Bounce</string>
        <key>wobbleWobbleAnimation</key>
        <string>Mushroom-Bounce</string>
        <key>wobbleWobbleFollowupAnimation</key>
        <string>Mushroom-Idle</string>
    </dict>
</dict>
</plist>
