<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>type</key>
	<string>SMOKE-MUSHROOM</string>
	<key>components</key>
	<dict>
		<key>breakable</key>
		<dict/>
		<key>disposable</key>
		<dict>
            <key>deleteEntityWhenDisposed</key>
            <true/>
        </dict>
		<key>physics</key>
		<dict>
			<key>file</key>
			<string>Mushroom-Shapes.plist</string>
			<key>bodyName</key>
			<string>Mushroom</string>
			<key>layers</key>
			<real>7</real>
			<key>group</key>
			<string>LEVEL</string>
		</dict>
		<key>render</key>
		<dict>
			<key>sprites</key>
			<array>
				<dict>
					<key>spriteSheetName</key>
					<string>Shared</string>
					<key>animationFile</key>
					<string>Smoke-Mushroom-Animations.plist</string>
					<key>anchorPoint</key>
					<string>%renderAnchorPoint%</string>
					<key>defaultIdleAnimation</key>
					<string>%renderDefaultIdleAnimation%</string>
                    <key>defaultDestroyAnimation</key>
                    <string>%renderDefaultDestroyAnimation%</string>
				</dict>
			</array>
		</dict>
        <key>sound</key>
        <dict>
            <key>defaultDestroySound</key>
            <string>SmokeMushroom</string>
        </dict>
		<key>transform</key>
		<dict/>
	</dict>
</dict>
</plist>
