<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A47</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 202.95532,159.24399 }</string>
	
								<string>{ 163.09277,131.06528 }</string>
	
								<string>{ 168.24741,159.58762 }</string>

							</array>

							<array>
	
								<string>{ 27.35394,-14.63918 }</string>
	
								<string>{ -31.75258,-13.26460 }</string>
	
								<string>{ -11.82132,0.82474 }</string>
	
								<string>{ 24.94846,2.54295 }</string>
	
								<string>{ 29.75943,-5.70447 }</string>

							</array>

							<array>
	
								<string>{ -31.75258,-13.26460 }</string>
	
								<string>{ -80.20619,11.13402 }</string>
	
								<string>{ -32.43987,12.16495 }</string>
	
								<string>{ -11.82132,0.82474 }</string>

							</array>

							<array>
	
								<string>{ -80.20619,11.13402 }</string>
	
								<string>{ -44.81100,32.78349 }</string>
	
								<string>{ -32.43987,12.16495 }</string>

							</array>

							<array>
	
								<string>{ -80.20619,11.13402 }</string>
	
								<string>{ -111.47766,16.97594 }</string>
	
								<string>{ -240.68729,73.81442 }</string>
	
								<string>{ -48.79726,70.03436 }</string>
	
								<string>{ -44.81100,32.78349 }</string>

							</array>

							<array>
	
								<string>{ 8.45360,55.12027 }</string>
	
								<string>{ 64.81097,60.61855 }</string>
	
								<string>{ 17.38831,39.65636 }</string>
	
								<string>{ 10.17181,46.52921 }</string>

							</array>

							<array>
	
								<string>{ -143.09279,7.35394 }</string>
	
								<string>{ -240.68729,73.81442 }</string>
	
								<string>{ -111.47766,16.97594 }</string>

							</array>

							<array>
	
								<string>{ -163.71134,-10.85912 }</string>
	
								<string>{ -240.68729,73.81442 }</string>
	
								<string>{ -143.09279,7.35394 }</string>

							</array>

							<array>
	
								<string>{ -177.80069,-36.63231 }</string>
	
								<string>{ -240.68729,73.81442 }</string>
	
								<string>{ -163.71134,-10.85912 }</string>

							</array>

							<array>
	
								<string>{ -177.80069,-36.63231 }</string>
	
								<string>{ -181.23711,-70.30928 }</string>
	
								<string>{ -239.65636,-160.34364 }</string>
	
								<string>{ -240.68729,73.81442 }</string>

							</array>

							<array>
	
								<string>{ 64.81097,60.61855 }</string>
	
								<string>{ 101.23709,70.24054 }</string>
	
								<string>{ 118.76288,30.72165 }</string>
	
								<string>{ 76.15118,29.00343 }</string>
	
								<string>{ 18.76288,29.34708 }</string>
	
								<string>{ 17.38831,39.65636 }</string>

							</array>

							<array>
	
								<string>{ 132.16495,92.23367 }</string>
	
								<string>{ 136.97592,22.13058 }</string>
	
								<string>{ 118.76288,30.72165 }</string>
	
								<string>{ 101.23709,70.24054 }</string>

							</array>

							<array>
	
								<string>{ 163.09277,131.06528 }</string>
	
								<string>{ 202.95532,159.24399 }</string>
	
								<string>{ 147.97250,11.13402 }</string>
	
								<string>{ 136.97592,22.13058 }</string>
	
								<string>{ 132.16495,92.23367 }</string>

							</array>

							<array>
	
								<string>{ -17.66324,-72.02750 }</string>
	
								<string>{ 14.63916,-64.46735 }</string>
	
								<string>{ 81.64948,-61.37457 }</string>
	
								<string>{ -52.37114,-110.51546 }</string>
	
								<string>{ -33.12715,-79.58763 }</string>

							</array>

							<array>
	
								<string>{ -178.48798,-93.67698 }</string>
	
								<string>{ -239.65636,-160.34364 }</string>
	
								<string>{ -181.23711,-70.30928 }</string>

							</array>

							<array>
	
								<string>{ -170.24055,-113.95189 }</string>
	
								<string>{ -239.65636,-160.34364 }</string>
	
								<string>{ -178.48798,-93.67698 }</string>

							</array>

							<array>
	
								<string>{ -144.81100,-129.41581 }</string>
	
								<string>{ -239.65636,-160.34364 }</string>
	
								<string>{ -170.24055,-113.95189 }</string>

							</array>

							<array>
	
								<string>{ -82.95534,-124.26117 }</string>
	
								<string>{ 210.85910,-160.68729 }</string>
	
								<string>{ -239.65636,-160.34364 }</string>
	
								<string>{ -144.81100,-129.41581 }</string>

							</array>

							<array>
	
								<string>{ 123.91751,-58.96908 }</string>
	
								<string>{ 210.85910,-160.68729 }</string>
	
								<string>{ -82.95534,-124.26117 }</string>
	
								<string>{ -52.37114,-110.51546 }</string>
	
								<string>{ 81.64948,-61.37457 }</string>

							</array>

							<array>
	
								<string>{ 141.78693,-47.62887 }</string>
	
								<string>{ 210.85910,-160.68729 }</string>
	
								<string>{ 123.91751,-58.96908 }</string>

							</array>

							<array>
	
								<string>{ 150.03436,-33.88316 }</string>
	
								<string>{ 210.85910,-160.68729 }</string>
	
								<string>{ 141.78693,-47.62887 }</string>

							</array>

							<array>
	
								<string>{ 150.03436,-33.88316 }</string>
	
								<string>{ 202.95532,159.24399 }</string>
	
								<string>{ 210.85910,-160.68729 }</string>

							</array>

							<array>
	
								<string>{ 202.95532,159.24399 }</string>
	
								<string>{ 153.47076,-1.58076 }</string>
	
								<string>{ 147.97250,11.13402 }</string>

							</array>

							<array>
	
								<string>{ 202.95532,159.24399 }</string>
	
								<string>{ 153.81442,-18.41925 }</string>
	
								<string>{ 153.47076,-1.58076 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -33.81444,133.47079 }</string>
	
								<string>{ -10.10310,142.40549 }</string>
	
								<string>{ -21.44330,118.00687 }</string>
	
								<string>{ -31.06529,117.66321 }</string>

							</array>

							<array>
	
								<string>{ -41.71822,145.49826 }</string>
	
								<string>{ 20.27490,160.75601 }</string>
	
								<string>{ -10.10310,142.40549 }</string>
	
								<string>{ -33.81444,133.47079 }</string>

							</array>

							<array>
	
								<string>{ -56.15121,155.80756 }</string>
	
								<string>{ 20.27490,160.75601 }</string>
	
								<string>{ -41.71822,145.49826 }</string>

							</array>

							<array>
	
								<string>{ -56.15121,155.80756 }</string>
	
								<string>{ -90.85912,161.09964 }</string>
	
								<string>{ 20.27490,160.75601 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

