<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>type</key>
	<string>GLASS-PIECE-SMALL-E</string>
	<key>template</key>
    <string>Glass-Piece-Small-Template.plist</string>
    <key>templateSubstitutions</key>
    <dict>
		<key>renderSpriteSheetName</key>
		<string>A</string>
		<key>renderAnimationFile</key>
		<string>Glass-Piece-E-Animations.plist</string>
        <key>renderDefaultIdleAnimation1</key>
		<string>Glass-Piece-E-1</string>
		<key>renderDefaultIdleAnimation2</key>
		<string>Glass-Piece-E-1</string>
		<key>renderDefaultIdleAnimation3</key>
		<string>Glass-Piece-E-1</string>
		<key>renderDefaultIdleAnimation4</key>
		<string>Glass-Piece-E-2</string>
		<key>renderDefaultIdleAnimation5</key>
		<string>Glass-Piece-E-2</string>
		<key>renderDefaultIdleAnimation6</key>
		<string>Glass-Piece-E-2</string>
		<key>renderDefaultIdleAnimation7</key>
		<string>Glass-Piece-E-3</string>
		<key>renderDefaultIdleAnimation8</key>
		<string>Glass-Piece-E-3</string>
    </dict>
</dict>
</plist>
