<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>Sling-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Sling/BeeSlingerC-01.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Sling-Stretch-1</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Sling/BeeSlingerC-02.png</string>
			</array>
			<key>delay</key>
			<integer>1</integer>
		</dict>
		<key>Sling-Stretch-2</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Sling/BeeSlingerC-03.png</string>
			</array>
			<key>delay</key>
			<integer>1</integer>
		</dict>
		<key>Sling-Stretch-3</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Sling/BeeSlingerC-04.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Sling-Stretch-4</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Sling/BeeSlingerC-05.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Sling-Shoot</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Sling/BeeSlingerC-06.png</string>
				<string>Sling/BeeSlingerC-07.png</string>
				<string>Sling/BeeSlingerC-08.png</string>
				<string>Sling/BeeSlingerC-09.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
	</dict>
</dict>
</plist>
