<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>type</key>
    <string>SUPER_BEEATER-D</string>
    <key>template</key>
    <string>Super-Beeater-Template.plist</string>
    <key>templateSubstitutions</key>
    <dict>
        <key>healthTotalHealthPoints</key>
        <string>3</string>
        <key>healthHitAnimationTail</key>
        <string>Super-Beeater-D-Tail-Hit</string>
        <key>healthHitAnimationHeadBack</key>
        <string>Super-Beeater-D-Head-Back-Hit</string>
        <key>healthHitAnimationBees</key>
        <string>Super-Beeater-D-Bees-Idle</string>
        <key>healthHitAnimationHeadFront</key>
        <string>Super-Beeater-D-Head-Front-Hit</string>
        <key>healthHitAnimationWing</key>
        <string>Super-Beeater-D-Wing-Hit</string>
        <key>renderSpriteSheetName</key>
        <string>Boss-D</string>
        <key>renderAnimationFile</key>
        <string>Super-Beeater-D-Animations.plist</string>
        <key>renderDefaultIdleAnimationTail</key>
        <string>Super-Beeater-D-Tail-Idle</string>
        <key>renderDefaultDestroyAnimationTail</key>
        <string>Super-Beeater-D-Tail-Destroy</string>
        <key>renderDefaultIdleAnimationHeadBack</key>
        <string>Super-Beeater-D-Head-Back-Idle</string>
        <key>renderDefaultDestroyAnimationHeadBack</key>
        <string>Super-Beeater-D-Head-Back-Destroy</string>
        <key>renderDefaultAnimationsBees</key>
        <string>Super-Beeater-D-Bees-Idle</string>
        <key>renderDefaultIdleAnimationHeadFront</key>
        <string>Super-Beeater-D-Head-Front-Idle</string>
        <key>renderDefaultDestroyAnimationHeadFront</key>
        <string>Super-Beeater-D-Head-Front-Destroy</string>
        <key>renderDefaultIdleAnimationWing</key>
        <string>Super-Beeater-D-Wing-Idle</string>
        <key>renderDefaultDestroyAnimationWing</key>
        <string>Super-Beeater-D-Wing-Destroy</string>
    </dict>
</dict>
</plist>
