<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
        <!-- Theme/level select title -->
        <key>Title-Bee-Idle</key>
        <dict>
            <key>delayPerUnit</key>
            <real>0.1</real>
            <key>restoreOriginalFrame</key>
            <false/>
            <key>frames</key>
            <array>
                <dict>
                    <key>spriteframe</key>
                    <string>Chooser/Title-Bee-1.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>Chooser/Title-Bee-2.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>Chooser/Title-Bee-3.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
            </array>
        </dict>
        <key>Title-Bee-Blink</key>
        <dict>
            <key>delayPerUnit</key>
            <real>0.1</real>
            <key>restoreOriginalFrame</key>
            <false/>
            <key>frames</key>
            <array>
                <dict>
                    <key>spriteframe</key>
                    <string>Chooser/Title-Bee-1.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>Chooser/Title-Bee-Blink.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
            </array>
        </dict>
        <key>Title-Sumee-Idle</key>
        <dict>
            <key>delayPerUnit</key>
            <real>0.1</real>
            <key>restoreOriginalFrame</key>
            <false/>
            <key>frames</key>
            <array>
                <dict>
                    <key>spriteframe</key>
                    <string>Chooser/Title-Sumee-1.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>Chooser/Title-Sumee-2.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
            </array>
        </dict>
        <key>Title-Sumee-Blink</key>
        <dict>
            <key>delayPerUnit</key>
            <real>0.1</real>
            <key>restoreOriginalFrame</key>
            <false/>
            <key>frames</key>
            <array>
                <dict>
                    <key>spriteframe</key>
                    <string>Chooser/Title-Sumee-1.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>Chooser/Title-Sumee-Blink.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
            </array>
        </dict>
        <key>Title-Sumee-Fart</key>
        <dict>
            <key>delayPerUnit</key>
            <real>0.1</real>
            <key>restoreOriginalFrame</key>
            <false/>
            <key>frames</key>
            <array>
                <dict>
                    <key>spriteframe</key>
                    <string>Chooser/Title-Sumee-Fart-1.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                    <key>notification</key>
                    <dict>
                        <key>type</key>
                        <string>playSound</string>
                        <key>soundName</key>
                        <string>SlingerSumee</string>
                    </dict>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>Chooser/Title-Sumee-Fart-2.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>Chooser/Title-Sumee-Fart-3.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>Chooser/Title-Sumee-Fart-4.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>Chooser/Title-Sumee-Fart-5.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>Chooser/Title-Sumee-Fart-6.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>Chooser/Title-Sumee-Fart-7.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>Chooser/Title-Sumee-Fart-8.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
            </array>
        </dict>
        <key>Title-TBee-Idle</key>
        <dict>
            <key>delayPerUnit</key>
            <real>0.1</real>
            <key>restoreOriginalFrame</key>
            <false/>
            <key>frames</key>
            <array>
                <dict>
                    <key>spriteframe</key>
                    <string>Chooser/Title-TBee-1.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>Chooser/Title-TBee-2.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
            </array>
        </dict>
        <key>Title-TBee-Blink</key>
        <dict>
            <key>delayPerUnit</key>
            <real>0.1</real>
            <key>restoreOriginalFrame</key>
            <false/>
            <key>frames</key>
            <array>
                <dict>
                    <key>spriteframe</key>
                    <string>Chooser/Title-TBee-1.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>Chooser/Title-TBee-Blink.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
            </array>
        </dict>
        <key>Title-Mumee-Idle</key>
        <dict>
            <key>delayPerUnit</key>
            <real>0.1</real>
            <key>restoreOriginalFrame</key>
            <false/>
            <key>frames</key>
            <array>
                <dict>
                    <key>spriteframe</key>
                    <string>Chooser/Title-Mumee-1.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>Chooser/Title-Mumee-2.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
            </array>
        </dict>
        <key>Title-Mumee-Blink</key>
        <dict>
            <key>delayPerUnit</key>
            <real>0.1</real>
            <key>restoreOriginalFrame</key>
            <false/>
            <key>frames</key>
            <array>
                <dict>
                    <key>spriteframe</key>
                    <string>Chooser/Title-Mumee-1.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>Chooser/Title-Mumee-Blink.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
            </array>
        </dict>
        <key>Title-BeeBack-Idle</key>
        <dict>
            <key>delayPerUnit</key>
            <real>0.1</real>
            <key>restoreOriginalFrame</key>
            <false/>
            <key>frames</key>
            <array>
                <dict>
                    <key>spriteframe</key>
                    <string>Chooser/Title-BeeBack-1.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>Chooser/Title-BeeBack-2.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
            </array>
        </dict>

        <!-- Theme/Level select bottom -->
        <key>Chooser-Bee-Idle</key>
        <dict>
            <key>delayPerUnit</key>
            <real>0.1</real>
            <key>restoreOriginalFrame</key>
            <false/>
            <key>frames</key>
            <array>
                <dict>
                    <key>spriteframe</key>
                    <string>Chooser/Chooser-Bee-1.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>Chooser/Chooser-Bee-2.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
            </array>
        </dict>
        <key>Chooser-Bee-Blink</key>
        <dict>
            <key>delayPerUnit</key>
            <real>0.1</real>
            <key>restoreOriginalFrame</key>
            <false/>
            <key>frames</key>
            <array>
                <dict>
                    <key>spriteframe</key>
                    <string>Chooser/Chooser-Bee-1.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>Chooser/Chooser-Bee-Blink.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
            </array>
        </dict>
        <key>Chooser-Beeater-Idle</key>
        <dict>
            <key>delayPerUnit</key>
            <real>0.1</real>
            <key>restoreOriginalFrame</key>
            <false/>
            <key>frames</key>
            <array>
                <dict>
                    <key>spriteframe</key>
                    <string>Chooser/Chooser-Beeater-1.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
            </array>
        </dict>
        <key>Chooser-Beeater-Lick</key>
        <dict>
            <key>delayPerUnit</key>
            <real>0.1</real>
            <key>restoreOriginalFrame</key>
            <false/>
            <key>frames</key>
            <array>
                <dict>
                    <key>spriteframe</key>
                    <string>Chooser/Chooser-Beeater-2.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>Chooser/Chooser-Beeater-3.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>Chooser/Chooser-Beeater-4.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>Chooser/Chooser-Beeater-5.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>Chooser/Chooser-Beeater-6.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
            </array>
        </dict>
        <key>Chooser-Bombee-Idle</key>
        <dict>
            <key>delayPerUnit</key>
            <real>0.1</real>
            <key>restoreOriginalFrame</key>
            <false/>
            <key>frames</key>
            <array>
                <dict>
                    <key>spriteframe</key>
                    <string>Chooser/Chooser-Bombee-1.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>Chooser/Chooser-Bombee-2.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
            </array>
        </dict>
        <key>Chooser-Bombee-Blink</key>
        <dict>
            <key>delayPerUnit</key>
            <real>0.1</real>
            <key>restoreOriginalFrame</key>
            <false/>
            <key>frames</key>
            <array>
                <dict>
                    <key>spriteframe</key>
                    <string>Chooser/Chooser-Bombee-1.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>Chooser/Chooser-Bombee-Blink.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
            </array>
        </dict>
        <key>Chooser-Sawee-Idle</key>
        <dict>
            <key>delayPerUnit</key>
            <real>0.1</real>
            <key>restoreOriginalFrame</key>
            <false/>
            <key>frames</key>
            <array>
                <dict>
                    <key>spriteframe</key>
                    <string>Chooser/Chooser-Sawee-1.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>Chooser/Chooser-Sawee-2.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
            </array>
        </dict>
        <key>Chooser-Speedee-Idle</key>
        <dict>
            <key>delayPerUnit</key>
            <real>0.1</real>
            <key>restoreOriginalFrame</key>
            <false/>
            <key>frames</key>
            <array>
                <dict>
                    <key>spriteframe</key>
                    <string>Chooser/Chooser-Speedee-1.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>Chooser/Chooser-Speedee-2.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
            </array>
        </dict>
        <key>Chooser-Speedee-Blink</key>
        <dict>
            <key>delayPerUnit</key>
            <real>0.1</real>
            <key>restoreOriginalFrame</key>
            <false/>
            <key>frames</key>
            <array>
                <dict>
                    <key>spriteframe</key>
                    <string>Chooser/Chooser-Speedee-1.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>Chooser/Chooser-Speedee-Blink.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
            </array>
        </dict>
	</dict>
    <key>properties</key>
    <dict>
        <key>spritesheets</key>
        <array/>
        <key>format</key>
        <integer>2</integer>
    </dict>
</dict>
</plist>
