<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>type</key>
	<string>POLLEN-YELLOW</string>
	<key>components</key>
	<dict>
        <key>burnable</key>
        <dict>
            <key>burnSprites</key>
            <array>
                <dict>
                    <key>name</key>
                    <string>default</string>
                    <key>spriteSheetName</key>
                    <string>Shared</string>
                    <key>animationFile</key>
                    <string>Pollen-Yellow-Animations.plist</string>
                    <key>burnAnimation</key>
                    <string>Pollen-Yellow-Burn</string>
                </dict>
            </array>
            <key>pieceSpriteSheet</key>
            <string>Shared</string>
            <key>pieceAnimationFile</key>
            <string>Burn-Parts-Animations.plist</string>
            <key>pieceAnimations</key>
            <array>
                <string>Popcorn-Large-Part</string>
            </array>
            <key>pieceVelocities</key>
            <array>
                <string>{ 0.0, 20.0f }</string>
            </array>
            <key>pieceSmallAnimations</key>
            <array>
                <string>Popcorn-Small-Part-1</string>
                <string>Popcorn-Small-Part-2</string>
                <string>Popcorn-Small-Part-3</string>
            </array>
            <key>pieceDelay</key>
            <real>0.2</real>
            <key>burnSound</key>
            <string>Popcorn</string>
        </dict>
		<key>disposable</key>
		<dict>
			<key>deleteEntityWhenDisposed</key>
			<true/>
		</dict>
		<key>freezable</key>
		<dict/>
		<key>physics</key>
		<dict>
			<key>body</key>
			<dict>
				<key>mass</key>
				<real>0</real>
			</dict>
			<key>shapes</key>
			<array>
				<dict>
					<key>type</key>
					<string>circle</string>
					<key>radius</key>
					<real>8</real>
					<key>elasticity</key>
					<real>0.8</real>
					<key>friction</key>
					<real>0.5</real>
                    <key>isSensor</key>
                    <true/>
					<key>layers</key>
					<real>5</real>
					<key>group</key>
					<string>LEVEL</string>
				</dict>
			</array>
		</dict>
		<key>pollen</key>
		<dict>
			<key>pollenCount</key>
			<integer>1</integer>
		</dict>
		<key>render</key>
		<dict>
			<key>sprites</key>
			<array>
				<dict>
					<key>spriteSheetName</key>
					<string>Shared</string>
					<key>animationFile</key>
					<string>Pollen-Yellow-Animations.plist</string>
					<key>defaultIdleAnimation</key>
					<string>Pollen-Yellow-Idle</string>
                    <key>defaultDestroyAnimation</key>
                    <string>Pollen-Yellow-Pickup</string>
					<key>defaultStillAnimation</key>
					<string>Pollen-Yellow-Still</string>
				</dict>
			</array>
		</dict>
        <key>sound</key>
        <dict>
            <key>defaultDestroySound</key>
            <string>PollenCollect</string>
        </dict>
		<key>transform</key>
		<dict/>
		<key>volatile</key>
		<dict/>
	</dict>
</dict>
</plist>
