<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>type</key>
	<string>POLLEN-ORANGE</string>
	<key>components</key>
	<dict>
		<key>disposable</key>
		<dict>
			<key>deleteEntityWhenDisposed</key>
			<true/>
		</dict>
		<key>physics</key>
		<dict>
			<key>body</key>
			<dict>
				<key>mass</key>
				<real>0</real>
			</dict>
			<key>shapes</key>
			<array>
				<dict>
					<key>type</key>
					<string>circle</string>
					<key>radius</key>
					<real>8</real>
					<key>elasticity</key>
					<real>0.8</real>
					<key>friction</key>
					<real>0.5</real>
                    <key>isSensor</key>
                    <true/>
					<key>layers</key>
					<real>5</real>
					<key>group</key>
					<string>LEVEL</string>
				</dict>
			</array>
		</dict>
		<key>pollen</key>
		<dict>
			<key>pollenCount</key>
			<integer>5</integer>
		</dict>
		<key>render</key>
		<dict>
			<key>sprites</key>
			<array>
				<dict>
					<key>spriteSheetName</key>
					<string>Back</string>
					<key>animationFile</key>
					<string>Pollen-Orange-Animations.plist</string>
					<key>defaultIdleAnimation</key>
					<string>Pollen-Orange-Idle</string>
                    <key>defaultDestroyAnimation</key>
                    <string>Pollen-Orange-Pickup</string>
				</dict>
			</array>
		</dict>
		<key>transform</key>
		<dict/>
		<key>volatile</key>
		<dict/>
	</dict>
</dict>
</plist>
