<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>Branch-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Tools/Branch/Branch-Idle.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Branch-Bounce</key>
		<dict>
			<key>frames</key>
			<array>
                <string>Tools/Branch/Branch-Bounce-1.png</string>
                <string>Tools/Branch/Branch-Bounce-2.png</string>
                <string>Tools/Branch/Branch-Bounce-3.png</string>
                <string>Tools/Branch/Branch-Bounce-4.png</string>
                <string>Tools/Branch/Branch-Bounce-1.png</string>
                <string>Tools/Branch/Branch-Bounce-2.png</string>
                <string>Tools/Branch/Branch-Bounce-3.png</string>
                <string>Tools/Branch/Branch-Bounce-4.png</string>
			</array>
			<key>delay</key>
			<real>0.04</real>
		</dict>
        <key>Branch-Destroy</key>
        <dict>
            <key>frames</key>
            <array>
                <string>Tools/Branch/Branch-Destroy-1.png</string>
                <string>Tools/Branch/Branch-Destroy-2.png</string>
                <string>Tools/Branch/Branch-Destroy-3.png</string>
                <string>Tools/Branch/Branch-Destroy-4.png</string>
                <string>Tools/Branch/Branch-Destroy-5.png</string>
                <string>Tools/Branch/Branch-Destroy-6.png</string>
                <string>Tools/Branch/Branch-Destroy-7.png</string>
                <string>Tools/Branch/Branch-Destroy-8.png</string>
                <string>Tools/Branch/Branch-Destroy-9.png</string>
                <string>Tools/Branch/Branch-Destroy-10.png</string>
                <string>Tools/Branch/Branch-Destroy-11.png</string>
                <string>Tools/Branch/Branch-Destroy-12.png</string>
                <string>Tools/Branch/Branch-Destroy-13.png</string>
            </array>
            <key>delay</key>
            <real>0.08</real>
        </dict>
        <key>Branch-Pulver</key>
        <dict>
            <key>frames</key>
            <array>
                <string>Tools/Branch/Branch-Pulver-1.png</string>
                <string>Tools/Branch/Branch-Pulver-2.png</string>
                <string>Tools/Branch/Branch-Pulver-3.png</string>
                <string>Tools/Branch/Branch-Pulver-4.png</string>
                <string>Tools/Branch/Branch-Pulver-5.png</string>
                <string>Tools/Branch/Branch-Pulver-6.png</string>
                <string>Tools/Branch/Branch-Pulver-7.png</string>
                <string>Tools/Branch/Branch-Pulver-8.png</string>
                <string>Tools/Branch/Branch-Pulver-9.png</string>
            </array>
            <key>delay</key>
            <real>0.1</real>
        </dict>
        <key>Branch-Burn</key>
        <dict>
            <key>frames</key>
            <array>
                <string>Tools/Branch/Branch-Burn-1.png</string>
                <string>Tools/Branch/Branch-Burn-2.png</string>
                <string>Tools/Branch/Branch-Burn-3.png</string>
                <string>Tools/Branch/Branch-Burn-4.png</string>
                <string>Tools/Branch/Branch-Burn-5.png</string>
                <string>Tools/Branch/Branch-Burn-6.png</string>
                <string>Tools/Branch/Branch-Burn-7.png</string>
                <string>Tools/Branch/Branch-Burn-8.png</string>
                <string>Tools/Branch/Branch-Burn-9.png</string>
                <string>Tools/Branch/Branch-Burn-10.png</string>
                <string>Tools/Branch/Branch-Burn-11.png</string>
                <string>Tools/Branch/Branch-Burn-12.png</string>
            </array>
            <key>delay</key>
            <real>0.08</real>
        </dict>
	</dict>
</dict>
</plist>
