<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>Cactus-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Cactus/Cactus-Idle.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Cactus-Destroy</key>
		<dict>
			<key>frames</key>
			<array>
                <string>Obstacles/Cactus/Cactus-Destroy-1.png</string>
                <string>Obstacles/Cactus/Cactus-Destroy-2.png</string>
                <string>Obstacles/Cactus/Cactus-Destroy-3.png</string>
                <string>Obstacles/Cactus/Cactus-Destroy-4.png</string>
                <string>Obstacles/Cactus/Cactus-Destroy-5.png</string>
                <string>Obstacles/Cactus/Cactus-Destroy-6.png</string>
                <string>Obstacles/Cactus/Cactus-Destroy-7.png</string>
                <string>Obstacles/Cactus/Cactus-Destroy-8.png</string>
                <string>Obstacles/Cactus/Cactus-Destroy-9.png</string>
                <string>Obstacles/Cactus/Cactus-Destroy-10.png</string>
                <string>Obstacles/Cactus/Cactus-Destroy-11.png</string>
                <string>Obstacles/Cactus/Cactus-Destroy-12.png</string>
                <string>Obstacles/Cactus/Cactus-Destroy-13.png</string>
			</array>
			<key>delay</key>
			<real>0.1</real>
		</dict>
        <key>Cactus-Pulver</key>
        <dict>
            <key>frames</key>
            <array>
                <string>Obstacles/Cactus/Cactus-Pulver-1.png</string>
                <string>Obstacles/Cactus/Cactus-Pulver-2.png</string>
                <string>Obstacles/Cactus/Cactus-Pulver-3.png</string>
                <string>Obstacles/Cactus/Cactus-Pulver-4.png</string>
                <string>Obstacles/Cactus/Cactus-Pulver-5.png</string>
                <string>Obstacles/Cactus/Cactus-Pulver-6.png</string>
                <string>Obstacles/Cactus/Cactus-Pulver-7.png</string>
                <string>Obstacles/Cactus/Cactus-Pulver-8.png</string>
            </array>
            <key>delay</key>
            <real>0.1</real>
        </dict>
	</dict>
</dict>
</plist>
