<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>Cavegate-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>CaveGate/CaveGate-01.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Cavegate-Opening</key>
		<dict>
			<key>frames</key>
			<array>
				<string>CaveGate/CaveGate-02.png</string>
				<string>CaveGate/CaveGate-03.png</string>
				<string>CaveGate/CaveGate-04.png</string>
				<string>CaveGate/CaveGate-05.png</string>
				<string>CaveGate/CaveGate-06.png</string>
				<string>CaveGate/CaveGate-07.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
		<key>Cavegate-Open-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>CaveGate/CaveGate-07.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
	</dict>
</dict>
</plist>
