<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<!-- C55 -->
		<key>C55-Clirr-1</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Clirr/C55-Clirr-1.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>C55-Clirr-2</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Clirr/C55-Clirr-2.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>C55-Clirr-3</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Clirr/C55-Clirr-3.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>C55-Clirr-4</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Clirr/C55-Clirr-4.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>C55-Clirr-5</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Clirr/C55-Clirr-5.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>C55-Clirr-6</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Clirr/C55-Clirr-6.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>C55-Clirr-7</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Clirr/C55-Clirr-7.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>C55-Clirr-8</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Clirr/C55-Clirr-8.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>C55-Clirr-9</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Clirr/C55-Clirr-9.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>C55-Clirr-10</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Clirr/C55-Clirr-10.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>C55-Clirr-11</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Clirr/C55-Clirr-11.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>C55-Clirr-12</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Clirr/C55-Clirr-12.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>C55-Clirr-13</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Clirr/C55-Clirr-13.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>C55-Clirr-14</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Clirr/C55-Clirr-14.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>C55-Clirr-15</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Clirr/C55-Clirr-15.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>C55-Clirr-16</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Clirr/C55-Clirr-16.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>C55-Clirr-17</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Clirr/C55-Clirr-17.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>C55-Clirr-18</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Clirr/C55-Clirr-18.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
	</dict>
</dict>
</plist>
