<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>Glass-A-Pc1-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obsticles/Glass/Loose A Glass Pcs/GlassPc1.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Glass-A-Pc2-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obsticles/Glass/Loose A Glass Pcs/GlassPc2.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Glass-A-Pc3-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obsticles/Glass/Loose A Glass Pcs/GlassPc3.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Glass-A-Pc4-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obsticles/Glass/Loose A Glass Pcs/GlassPc4.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Glass-A-Pc5-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obsticles/Glass/Loose A Glass Pcs/GlassPc5.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Glass-A-Pc6-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obsticles/Glass/Loose A Glass Pcs/GlassPc6.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Glass-A-Pc7-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obsticles/Glass/Loose A Glass Pcs/GlassPc7.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Glass-A-Pc8-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obsticles/Glass/Loose A Glass Pcs/GlassPc8.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		
		<key>Glass-B-Pc1-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obsticles/Glass/Loose B Glass Pcs/B-GlassPc1.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Glass-B-Pc2-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obsticles/Glass/Loose B Glass Pcs/B-GlassPc2.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Glass-B-Pc3-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obsticles/Glass/Loose B Glass Pcs/B-GlassPc3.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Glass-B-Pc4-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obsticles/Glass/Loose B Glass Pcs/B-GlassPc4.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Glass-B-Pc5-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obsticles/Glass/Loose B Glass Pcs/B-GlassPc5.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Glass-B-Pc6-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obsticles/Glass/Loose B Glass Pcs/B-GlassPc6.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Glass-B-Pc7-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obsticles/Glass/Loose B Glass Pcs/B-GlassPc7.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Glass-B-Pc8-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obsticles/Glass/Loose B Glass Pcs/B-GlassPc8.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
	</dict>
</dict>
</plist>
