<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>Glass-A22-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obsticles/Glass/All Level A Glass/A22-Glass-01.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Glass-A27-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obsticles/Glass/All Level A Glass/A27-Glass-01.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Glass-A29-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obsticles/Glass/All Level A Glass/A29-Glass-01.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Glass-A33-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obsticles/Glass/All Level A Glass/A33-Glass-01.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Glass-A34-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obsticles/Glass/All Level A Glass/A34-Glass-01.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Glass-A35-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obsticles/Glass/All Level A Glass/A35-Glass-01.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Glass-A37-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obsticles/Glass/All Level A Glass/A37-Glass-01.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Glass-A45-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obsticles/Glass/All Level A Glass/A45-Glass-01.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Glass-A46-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obsticles/Glass/All Level A Glass/A46-Glass-01.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Glass-A51-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obsticles/Glass/All Level A Glass/A51-Glass-01.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Glass-A53-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obsticles/Glass/All Level A Glass/A53-Glass-01.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Glass-A55-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obsticles/Glass/All Level A Glass/A55-Glass-01.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Glass-A56-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obsticles/Glass/All Level A Glass/A56-Glass-01.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Glass-A58-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obsticles/Glass/All Level A Glass/A58-Glass-01.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Glass-A59-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obsticles/Glass/All Level A Glass/A59-Glass-01.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Glass-Pc1-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obsticles/Glass/Loose A Glass Pcs/GlassPc1.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Glass-Pc2-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obsticles/Glass/Loose A Glass Pcs/GlassPc2.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Glass-Pc3-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obsticles/Glass/Loose A Glass Pcs/GlassPc3.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Glass-Pc4-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obsticles/Glass/Loose A Glass Pcs/GlassPc4.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Glass-Pc5-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obsticles/Glass/Loose A Glass Pcs/GlassPc5.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Glass-Pc6-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obsticles/Glass/Loose A Glass Pcs/GlassPc6.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Glass-Pc7-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obsticles/Glass/Loose A Glass Pcs/GlassPc7.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Glass-Pc8-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obsticles/Glass/Loose A Glass Pcs/GlassPc8.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
	</dict>
</dict>
</plist>
