<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>Glass-A29-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Glass/GlassA29.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Glass-Pc1-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>GlassPc/GlassPc1.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Glass-Pc2-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>GlassPc/GlassPc2.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Glass-Pc3-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>GlassPc/GlassPc3.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Glass-Pc4-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>GlassPc/GlassPc4.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Glass-Pc5-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>GlassPc/GlassPc5.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Glass-Pc6-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>GlassPc/GlassPc6.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Glass-Pc7-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>GlassPc/GlassPc7.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Glass-Pc8-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>GlassPc/GlassPc8.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
	</dict>
</dict>
</plist>
