<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>HangNest-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>HangNest/HangNest-01.png</string>
				<string>HangNest/HangNest-02.png</string>
				<string>HangNest/HangNest-03.png</string>
				<string>HangNest/HangNest-04.png</string>
				<string>HangNest/HangNest-05.png</string>
				<string>HangNest/HangNest-06.png</string>
				<string>HangNest/HangNest-07.png</string>
				<string>HangNest/HangNest-08.png</string>
			</array>
			<key>delay</key>
			<real>0.15</real>
		</dict>
	</dict>
</dict>
</plist>
