<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>Ice-Piece-C-1</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Ice/Pieces/C/Ice-Piece-C-1.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Ice-Piece-C-2</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obstacles/Ice/Pieces/C/Ice-Piece-C-2.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
	</dict>
</dict>
</plist>
