<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>Nut-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Tools/Nut/NutKey-01.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Nut-Collect</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Tools/Nut/NutKey-02.png</string>
				<string>Tools/Nut/NutKey-03.png</string>
				<string>Tools/Nut/NutKey-04.png</string>
				<string>Tools/Nut/NutKey-05.png</string>
				<string>Tools/Nut/NutKey-06.png</string>
				<string>Tools/Nut/NutKey-07.png</string>
				<string>Tools/Nut/NutKey-08.png</string>
				<string>Tools/Nut/NutKey-09.png</string>
				<string>Tools/Nut/NutKey-10.png</string>
				<string>Tools/Nut/NutKey-11.png</string>
				<string>Tools/Nut/NutKey-12.png</string>
				<string>Tools/Nut/NutKey-13.png</string>
				<string>Tools/Nut/NutKey-14.png</string>
				<string>Tools/Nut/NutKey-15.png</string>
				<string>Tools/Nut/NutKey-15.png</string>
				<string>Tools/Nut/NutKey-15.png</string>
				<string>Tools/Nut/NutKey-15.png</string>
				<string>Tools/Nut/NutKey-15.png</string>
				<string>Tools/Nut/NutKey-15.png</string>
			</array>
			<key>delay</key>
			<real>0.1</real>
		</dict>
		<key>Nut-Open-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Tools/Nut/NutKey-15.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
	</dict>
</dict>
</plist>
