<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
        <!-- Bee -->
        <key>Presentation-Bee</key>
        <dict>
            <key>frames</key>
            <array>
                <string>Pres-Bee-1.png</string>
                <string>Pres-Bee-2.png</string>
                <string>Pres-Bee-1.png</string>
                <string>Pres-Bee-2.png</string>
                <string>Pres-Bee-1.png</string>
                <string>Pres-Bee-2.png</string>
                <string>Pres-Bee-1.png</string>
                <string>Pres-Bee-2.png</string>
                <string>Pres-Bee-1.png</string>
                <string>Pres-Bee-Blink.png</string>
            </array>
            <key>delay</key>
            <real>0.1</real>
        </dict>
        <key>Presentation-Bee-Text</key>
        <dict>
            <key>frames</key>
            <array>
                <string>Pres-Text-Bee.png</string>
            </array>
            <key>delay</key>
            <real>1</real>
        </dict>

        <!-- Bombee -->
        <key>Presentation-Bombee</key>
        <dict>
            <key>frames</key>
            <array>
                <string>Pres-Bombee-1.png</string>
                <string>Pres-Bombee-2.png</string>
                <string>Pres-Bombee-1.png</string>
                <string>Pres-Bombee-2.png</string>
                <string>Pres-Bombee-1.png</string>
                <string>Pres-Bombee-2.png</string>
                <string>Pres-Bombee-1.png</string>
                <string>Pres-Bombee-2.png</string>
                <string>Pres-Bombee-1.png</string>
                <string>Pres-Bombee-Blink.png</string>
            </array>
            <key>delay</key>
            <real>0.1</real>
        </dict>
        <key>Presentation-Bombee-Text</key>
        <dict>
            <key>frames</key>
            <array>
                <string>Pres-Text-Bombee.png</string>
            </array>
            <key>delay</key>
            <real>1</real>
        </dict>
	</dict>
</dict>
</plist>
