<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>Ramp-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obsticles/Ramp/Ramp-01.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Ramp-Crash</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obsticles/Ramp/Ramp-02.png</string>
				<string>Obsticles/Ramp/Ramp-03.png</string>
				<string>Obsticles/Ramp/Ramp-04.png</string>
				<string>Obsticles/Ramp/Ramp-05.png</string>
				<string>Obsticles/Ramp/Ramp-06.png</string>
				<string>Obsticles/Ramp/Ramp-07.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
		<key>Ramp-Pc-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Obsticles/Ramp/Ramp-Pc-1.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
	</dict>
</dict>
</plist>
