<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>Sling-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Tools/Slinger/Slinger-Idle.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Sling-Shoot</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Tools/Slinger/Slinger-Shoot-1.png</string>
				<string>Tools/Slinger/Slinger-Shoot-2.png</string>
				<string>Tools/Slinger/Slinger-Shoot-3.png</string>
				<string>Tools/Slinger/Slinger-Shoot-4.png</string>
			</array>
			<key>delay</key>
			<real>0.05</real>
		</dict>
        <key>Sling-Addon-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Tools/Slinger/Slinger-Addon.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
	</dict>
</dict>
</plist>
