<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
        <key>Slinger-Body-Idle</key>
        <dict>
            <key>frames</key>
            <array>
                <string>Tools/Slinger/Slinger-AB-Nest.png</string>
            </array>
            <key>delay</key>
            <real>1</real>
        </dict>
        <key>Slinger-Back-Idle</key>
        <dict>
            <key>frames</key>
            <array>
                <string>Tools/Slinger/Slinger-AB-Back.png</string>
            </array>
            <key>delay</key>
            <real>1</real>
        </dict>
        <key>Slinger-Addon-Idle</key>
        <dict>
            <key>frames</key>
            <array>
                <string>Tools/Slinger/Slinger-AB-Honey.png</string>
            </array>
            <key>delay</key>
            <real>1</real>
        </dict>
        <key>Slinger-Body-Shoot</key>
        <dict>
            <key>frames</key>
            <array>
                <string>Tools/Slinger/Slinger-AB-Shoot-1.png</string>
                <string>Tools/Slinger/Slinger-AB-Shoot-2.png</string>
                <string>Tools/Slinger/Slinger-AB-Shoot-3.png</string>
            </array>
            <key>delay</key>
            <real>0.07</real>
        </dict>

        <!-- Goggles -->
        <key>Slinger-Goggles-Back</key>
        <dict>
            <key>frames</key>
            <array>
                <string>Tools/Slinger/Goggles-back.png</string>
            </array>
            <key>delay</key>
            <real>1</real>
        </dict>
        <key>Slinger-Goggles-Front</key>
        <dict>
            <key>frames</key>
            <array>
                <string>Tools/Slinger/Goggles-front.png</string>
            </array>
            <key>delay</key>
            <real>1</real>
        </dict>

        <!-- Highlight -->
        <key>Slinger-Highlight</key>
        <dict>
            <key>frames</key>
            <array>
                <string>Tools/Slinger/InApp-Level-Slinger-Intro-1.png</string>
                <string>Tools/Slinger/InApp-Level-Slinger-Intro-2.png</string>
                <string>Tools/Slinger/InApp-Level-Slinger-Intro-3.png</string>
                <string>Tools/Slinger/InApp-Level-Slinger-Intro-4.png</string>
                <string>Tools/Slinger/InApp-Level-Slinger-Intro-5.png</string>
            </array>
            <key>delay</key>
            <real>0.08</real>
        </dict>
	</dict>
</dict>
</plist>
