<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>Waterdrop-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Other/WaterDrop-01.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Waterdrop-Splash</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Other/DropOnWater/DropOnWater-01.png</string>
				<string>Other/DropOnWater/DropOnWater-02.png</string>
				<string>Other/DropOnWater/DropOnWater-03.png</string>
				<string>Other/DropOnWater/DropOnWater-04.png</string>
				<string>Other/DropOnWater/DropOnWater-05.png</string>
				<string>Other/DropOnWater/DropOnWater-06.png</string>
				<string>Other/DropOnWater/DropOnWater-07.png</string>
			</array>
			<key>delay</key>
			<real>0.05</real>
		</dict>
	</dict>
</dict>
</plist>
