<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C18</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -230.80043,36.65216 }</string>
	
								<string>{ -195.00161,42.51015 }</string>
	
								<string>{ -152.66125,46.12578 }</string>
	
								<string>{ -171.23859,36.37155 }</string>
	
								<string>{ -216.89510,25.05452 }</string>
	
								<string>{ -229.61699,30.37997 }</string>

							</array>

							<array>
	
								<string>{ -152.66125,46.12578 }</string>
	
								<string>{ -115.11995,44.87701 }</string>
	
								<string>{ -120.14954,34.81784 }</string>
	
								<string>{ -171.23859,36.37155 }</string>

							</array>

							<array>
	
								<string>{ -115.11995,44.87701 }</string>
	
								<string>{ -74.29155,43.98944 }</string>
	
								<string>{ -39.61700,39.61073 }</string>
	
								<string>{ -46.48091,32.74684 }</string>
	
								<string>{ -72.81227,30.37997 }</string>
	
								<string>{ -99.73534,31.85925 }</string>
	
								<string>{ -120.14954,34.81784 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 239.41815,95.67575 }</string>
	
								<string>{ 218.41223,97.45090 }</string>
	
								<string>{ 201.54831,104.55148 }</string>
	
								<string>{ 191.48914,112.24380 }</string>
	
								<string>{ 283.65997,123.89587 }</string>
	
								<string>{ 284.09814,115.15338 }</string>

							</array>

							<array>
	
								<string>{ 166.34122,109.28522 }</string>
	
								<string>{ 85.27612,113.13138 }</string>
	
								<string>{ 283.65997,123.89587 }</string>

							</array>

							<array>
	
								<string>{ 85.27612,113.13138 }</string>
	
								<string>{ 166.34122,109.28522 }</string>
	
								<string>{ 145.03946,101.29706 }</string>
	
								<string>{ -45.78896,90.64616 }</string>
	
								<string>{ -49.04338,98.39764 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 283.62732,-160.23669 }</string>
	
								<string>{ -283.38650,-160.30675 }</string>
	
								<string>{ 283.57904,-146.35786 }</string>

							</array>

							<array>
	
								<string>{ -283.38650,-160.30675 }</string>
	
								<string>{ -283.98911,-153.49729 }</string>
	
								<string>{ -67.60983,-143.13610 }</string>
	
								<string>{ 46.88721,-146.39053 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

