<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C11</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -94.43788,-149.05326 }</string>
	
								<string>{ -240.00000,-160.29586 }</string>
	
								<string>{ -132.01184,-135.44379 }</string>
	
								<string>{ -102.13019,-141.36095 }</string>

							</array>

							<array>
	
								<string>{ 240.47336,-47.57397 }</string>
	
								<string>{ 166.50885,-53.19527 }</string>
	
								<string>{ 144.91122,-44.02367 }</string>

							</array>

							<array>
	
								<string>{ 240.47336,-47.57397 }</string>
	
								<string>{ 181.30176,-61.77515 }</string>
	
								<string>{ 166.50885,-53.19527 }</string>

							</array>

							<array>
	
								<string>{ 240.47336,-47.57397 }</string>
	
								<string>{ 192.54437,-73.90533 }</string>
	
								<string>{ 181.30176,-61.77515 }</string>

							</array>

							<array>
	
								<string>{ 241.36093,-159.70414 }</string>
	
								<string>{ 192.54437,-73.90533 }</string>
	
								<string>{ 240.47336,-47.57397 }</string>

							</array>

							<array>
	
								<string>{ -90.00000,64.85207 }</string>
	
								<string>{ -120.17752,58.93491 }</string>
	
								<string>{ -124.31953,67.51479 }</string>
	
								<string>{ -88.75740,66.98224 }</string>

							</array>

							<array>
	
								<string>{ -141.77515,53.01775 }</string>
	
								<string>{ -171.95267,66.62721 }</string>
	
								<string>{ -124.31953,67.51479 }</string>
	
								<string>{ -120.17752,58.93491 }</string>

							</array>

							<array>
	
								<string>{ -160.11835,44.14200 }</string>
	
								<string>{ -171.95267,66.62721 }</string>
	
								<string>{ -141.77515,53.01775 }</string>

							</array>

							<array>
	
								<string>{ -173.43195,34.37869 }</string>
	
								<string>{ -240.29586,61.36095 }</string>
	
								<string>{ -171.95267,66.62721 }</string>
	
								<string>{ -160.11835,44.14200 }</string>

							</array>

							<array>
	
								<string>{ -184.67456,23.72780 }</string>
	
								<string>{ -240.29586,61.36095 }</string>
	
								<string>{ -173.43195,34.37869 }</string>

							</array>

							<array>
	
								<string>{ -193.84616,10.41420 }</string>
	
								<string>{ -240.29586,61.36095 }</string>
	
								<string>{ -184.67456,23.72780 }</string>

							</array>

							<array>
	
								<string>{ -199.46746,-3.19527 }</string>
	
								<string>{ -240.29586,61.36095 }</string>
	
								<string>{ -193.84616,10.41420 }</string>

							</array>

							<array>
	
								<string>{ -199.46746,-3.19527 }</string>
	
								<string>{ -201.83432,-20.35504 }</string>
	
								<string>{ -240.00000,-160.29586 }</string>
	
								<string>{ -240.29586,61.36095 }</string>

							</array>

							<array>
	
								<string>{ 11.77515,-148.75740 }</string>
	
								<string>{ -94.43788,-149.05326 }</string>
	
								<string>{ -21.06509,-146.39053 }</string>

							</array>

							<array>
	
								<string>{ -202.13018,-37.21894 }</string>
	
								<string>{ -240.00000,-160.29586 }</string>
	
								<string>{ -201.83432,-20.35504 }</string>

							</array>

							<array>
	
								<string>{ -200.05917,-56.15385 }</string>
	
								<string>{ -240.00000,-160.29586 }</string>
	
								<string>{ -202.13018,-37.21894 }</string>

							</array>

							<array>
	
								<string>{ -196.80474,-71.83432 }</string>
	
								<string>{ -240.00000,-160.29586 }</string>
	
								<string>{ -200.05917,-56.15385 }</string>

							</array>

							<array>
	
								<string>{ -191.18343,-85.44379 }</string>
	
								<string>{ -240.00000,-160.29586 }</string>
	
								<string>{ -196.80474,-71.83432 }</string>

							</array>

							<array>
	
								<string>{ -183.49113,-99.05326 }</string>
	
								<string>{ -240.00000,-160.29586 }</string>
	
								<string>{ -191.18343,-85.44379 }</string>

							</array>

							<array>
	
								<string>{ -173.13609,-110.88758 }</string>
	
								<string>{ -240.00000,-160.29586 }</string>
	
								<string>{ -183.49113,-99.05326 }</string>

							</array>

							<array>
	
								<string>{ -162.18935,-119.76331 }</string>
	
								<string>{ -240.00000,-160.29586 }</string>
	
								<string>{ -173.13609,-110.88758 }</string>

							</array>

							<array>
	
								<string>{ -149.17160,-128.34320 }</string>
	
								<string>{ -240.00000,-160.29586 }</string>
	
								<string>{ -162.18935,-119.76331 }</string>

							</array>

							<array>
	
								<string>{ -132.01184,-135.44379 }</string>
	
								<string>{ -240.00000,-160.29586 }</string>
	
								<string>{ -149.17160,-128.34320 }</string>

							</array>

							<array>
	
								<string>{ -94.43788,-149.05326 }</string>
	
								<string>{ 151.12424,-148.46154 }</string>
	
								<string>{ 241.36093,-159.70414 }</string>
	
								<string>{ -240.00000,-160.29586 }</string>

							</array>

							<array>
	
								<string>{ 168.28400,-144.61539 }</string>
	
								<string>{ 241.36093,-159.70414 }</string>
	
								<string>{ 151.12424,-148.46154 }</string>

							</array>

							<array>
	
								<string>{ 180.71005,-138.40237 }</string>
	
								<string>{ 241.36093,-159.70414 }</string>
	
								<string>{ 168.28400,-144.61539 }</string>

							</array>

							<array>
	
								<string>{ 191.36093,-130.41420 }</string>
	
								<string>{ 241.36093,-159.70414 }</string>
	
								<string>{ 180.71005,-138.40237 }</string>

							</array>

							<array>
	
								<string>{ 198.46152,-121.53846 }</string>
	
								<string>{ 241.36093,-159.70414 }</string>
	
								<string>{ 191.36093,-130.41420 }</string>

							</array>

							<array>
	
								<string>{ 202.60355,-110.29586 }</string>
	
								<string>{ 241.36093,-159.70414 }</string>
	
								<string>{ 198.46152,-121.53846 }</string>

							</array>

							<array>
	
								<string>{ 202.60355,-99.94083 }</string>
	
								<string>{ 241.36093,-159.70414 }</string>
	
								<string>{ 202.60355,-110.29586 }</string>

							</array>

							<array>
	
								<string>{ 200.23666,-88.10651 }</string>
	
								<string>{ 241.36093,-159.70414 }</string>
	
								<string>{ 202.60355,-99.94083 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 114.43787,-71.83432 }</string>
	
								<string>{ 102.60355,-72.13018 }</string>
	
								<string>{ 75.68045,-60.29586 }</string>
	
								<string>{ 93.19525,-44.85207 }</string>
	
								<string>{ 124.79288,-64.43787 }</string>

							</array>

							<array>
	
								<string>{ 75.68045,-60.29586 }</string>
	
								<string>{ 61.77515,-59.11243 }</string>
	
								<string>{ 40.17749,-51.12427 }</string>
	
								<string>{ 93.19525,-44.85207 }</string>

							</array>

							<array>
	
								<string>{ 40.17749,-51.12427 }</string>
	
								<string>{ 61.77515,-59.11243 }</string>
	
								<string>{ 41.36093,-66.80473 }</string>
	
								<string>{ 7.04141,-65.62131 }</string>
	
								<string>{ -0.05917,-60.23669 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 9.40828,28.46153 }</string>
	
								<string>{ 58.81656,38.81656 }</string>
	
								<string>{ 58.22485,29.05325 }</string>
	
								<string>{ 42.54437,23.43195 }</string>
	
								<string>{ 20.65088,21.65680 }</string>

							</array>

							<array>
	
								<string>{ -117.51479,33.25444 }</string>
	
								<string>{ 58.81656,38.81656 }</string>
	
								<string>{ 9.40828,28.46153 }</string>
	
								<string>{ -67.81065,22.84023 }</string>
	
								<string>{ -110.11835,24.61537 }</string>

							</array>

							<array>
	
								<string>{ 139.58578,19.88165 }</string>
	
								<string>{ 96.68637,29.94083 }</string>
	
								<string>{ 239.34909,38.87573 }</string>
	
								<string>{ 239.28992,24.31952 }</string>

							</array>

							<array>
	
								<string>{ 58.81656,38.81656 }</string>
	
								<string>{ 239.34909,38.87573 }</string>
	
								<string>{ 96.68637,29.94083 }</string>
	
								<string>{ 58.22485,29.05325 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 138.40234,91.18343 }</string>
	
								<string>{ 112.07098,92.07100 }</string>
	
								<string>{ 86.33136,95.32544 }</string>
	
								<string>{ 132.78107,102.72189 }</string>
	
								<string>{ 240.23666,102.18933 }</string>
	
								<string>{ 240.17749,93.55029 }</string>

							</array>

							<array>
	
								<string>{ 86.33136,95.32544 }</string>
	
								<string>{ -3.60948,94.73372 }</string>
	
								<string>{ -5.38463,99.23077 }</string>
	
								<string>{ 132.78107,102.72189 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

