<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C21</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -2.03671,-84.86034 }</string>
	
								<string>{ 23.66162,-102.17877 }</string>
	
								<string>{ 21.42697,-126.20112 }</string>
	
								<string>{ -20.75180,-118.37989 }</string>
	
								<string>{ -38.90822,-98.54749 }</string>

							</array>

							<array>
	
								<string>{ -77.17638,-141.84357 }</string>
	
								<string>{ -109.29929,-108.04469 }</string>
	
								<string>{ -64.32721,-106.36871 }</string>
	
								<string>{ -49.24341,-123.68715 }</string>

							</array>

							<array>
	
								<string>{ -169.63448,12.34637 }</string>
	
								<string>{ -174.94173,-32.06704 }</string>
	
								<string>{ -181.08699,-45.19553 }</string>
	
								<string>{ -284.65715,-160.35319 }</string>
	
								<string>{ -285.28967,-5.99191 }</string>

							</array>

							<array>
	
								<string>{ 47.12531,-113.07262 }</string>
	
								<string>{ 53.82922,-150.50279 }</string>
	
								<string>{ 21.42697,-126.20112 }</string>
	
								<string>{ 23.66162,-102.17877 }</string>

							</array>

							<array>
	
								<string>{ 70.86832,-118.65922 }</string>
	
								<string>{ 53.82922,-150.50279 }</string>
	
								<string>{ 47.12531,-113.07262 }</string>

							</array>

							<array>
	
								<string>{ 95.17001,-119.49721 }</string>
	
								<string>{ 53.82922,-150.50279 }</string>
	
								<string>{ 70.86832,-118.65922 }</string>

							</array>

							<array>
	
								<string>{ 181.48285,50.89386 }</string>
	
								<string>{ 119.75101,43.07263 }</string>
	
								<string>{ 100.19794,53.68715 }</string>
	
								<string>{ 67.23703,85.53073 }</string>
	
								<string>{ 145.72867,83.29610 }</string>
	
								<string>{ 163.32642,76.87152 }</string>
	
								<string>{ 175.89627,71.00558 }</string>

							</array>

							<array>
	
								<string>{ 284.90338,-160.27271 }</string>
	
								<string>{ 187.62811,-30.39105 }</string>
	
								<string>{ 182.32083,-19.77654 }</string>
	
								<string>{ 225.89627,44.45314 }</string>
	
								<string>{ 284.00958,72.35979 }</string>

							</array>

							<array>
	
								<string>{ -24.38309,-8.32402 }</string>
	
								<string>{ -13.20990,21.28493 }</string>
	
								<string>{ 40.70071,14.86034 }</string>
	
								<string>{ 44.05267,-9.16200 }</string>
	
								<string>{ 29.80688,-20.61452 }</string>

							</array>

							<array>
	
								<string>{ 36.79010,87.48604 }</string>
	
								<string>{ 67.23703,85.53073 }</string>
	
								<string>{ 78.13089,64.30168 }</string>
	
								<string>{ 47.96329,75.75420 }</string>
	
								<string>{ 38.46609,82.45810 }</string>

							</array>

							<array>
	
								<string>{ 67.23703,85.53073 }</string>
	
								<string>{ 100.19794,53.68715 }</string>
	
								<string>{ 78.13089,64.30168 }</string>

							</array>

							<array>
	
								<string>{ -77.17638,-141.84357 }</string>
	
								<string>{ -125.50040,-106.92737 }</string>
	
								<string>{ -109.29929,-108.04469 }</string>

							</array>

							<array>
	
								<string>{ 118.91302,-117.54190 }</string>
	
								<string>{ 53.82922,-150.50279 }</string>
	
								<string>{ 95.17001,-119.49721 }</string>

							</array>

							<array>
	
								<string>{ 181.48285,50.89386 }</string>
	
								<string>{ 143.49402,25.75420 }</string>
	
								<string>{ 119.75101,43.07263 }</string>

							</array>

							<array>
	
								<string>{ 181.48285,50.89386 }</string>
	
								<string>{ 194.61133,43.07263 }</string>
	
								<string>{ 156.06384,14.02235 }</string>
	
								<string>{ 143.49402,25.75420 }</string>

							</array>

							<array>
	
								<string>{ 194.61133,43.07263 }</string>
	
								<string>{ 165.84039,3.68715 }</string>
	
								<string>{ 156.06384,14.02235 }</string>

							</array>

							<array>
	
								<string>{ 194.61133,43.07263 }</string>
	
								<string>{ 209.39120,38.89117 }</string>
	
								<string>{ 175.61694,-8.32402 }</string>
	
								<string>{ 165.84039,3.68715 }</string>

							</array>

							<array>
	
								<string>{ 209.39120,38.89117 }</string>
	
								<string>{ 225.89627,44.45314 }</string>
	
								<string>{ 182.32083,-19.77654 }</string>
	
								<string>{ 175.61694,-8.32402 }</string>

							</array>

							<array>
	
								<string>{ 61.92978,-4.13408 }</string>
	
								<string>{ 40.70071,14.86034 }</string>
	
								<string>{ 90.42139,6.48045 }</string>
	
								<string>{ 85.39346,0.89386 }</string>

							</array>

							<array>
	
								<string>{ 44.05267,-9.16200 }</string>
	
								<string>{ 40.70071,14.86034 }</string>
	
								<string>{ 61.92978,-4.13408 }</string>

							</array>

							<array>
	
								<string>{ -53.43335,-3.85475 }</string>
	
								<string>{ -101.47804,19.32962 }</string>
	
								<string>{ -13.20990,21.28493 }</string>
	
								<string>{ -24.38309,-8.32402 }</string>

							</array>

							<array>
	
								<string>{ -81.64565,-1.06145 }</string>
	
								<string>{ -101.47804,19.32962 }</string>
	
								<string>{ -53.43335,-3.85475 }</string>

							</array>

							<array>
	
								<string>{ -104.83000,-1.34077 }</string>
	
								<string>{ -101.47804,19.32962 }</string>
	
								<string>{ -81.64565,-1.06145 }</string>

							</array>

							<array>
	
								<string>{ -122.98643,-3.29608 }</string>
	
								<string>{ -169.63448,12.34637 }</string>
	
								<string>{ -101.47804,19.32962 }</string>
	
								<string>{ -104.83000,-1.34077 }</string>

							</array>

							<array>
	
								<string>{ -137.51157,-6.36871 }</string>
	
								<string>{ -169.63448,12.34637 }</string>
	
								<string>{ -122.98643,-3.29608 }</string>

							</array>

							<array>
	
								<string>{ -148.40543,-10.27933 }</string>
	
								<string>{ -169.63448,12.34637 }</string>
	
								<string>{ -137.51157,-6.36871 }</string>

							</array>

							<array>
	
								<string>{ -160.13727,-16.70390 }</string>
	
								<string>{ -169.63448,12.34637 }</string>
	
								<string>{ -148.40543,-10.27933 }</string>

							</array>

							<array>
	
								<string>{ -168.51716,-24.52513 }</string>
	
								<string>{ -169.63448,12.34637 }</string>
	
								<string>{ -160.13727,-16.70390 }</string>

							</array>

							<array>
	
								<string>{ -174.94173,-32.06704 }</string>
	
								<string>{ -169.63448,12.34637 }</string>
	
								<string>{ -168.51716,-24.52513 }</string>

							</array>

							<array>
	
								<string>{ -77.17638,-141.84357 }</string>
	
								<string>{ -69.35515,-151.06145 }</string>
	
								<string>{ -143.09816,-103.29609 }</string>
	
								<string>{ -125.50040,-106.92737 }</string>

							</array>

							<array>
	
								<string>{ 139.02475,-113.07262 }</string>
	
								<string>{ 284.90338,-160.27271 }</string>
	
								<string>{ 53.82922,-150.50279 }</string>
	
								<string>{ 118.91302,-117.54190 }</string>

							</array>

							<array>
	
								<string>{ -69.35515,-151.06145 }</string>
	
								<string>{ -284.65715,-160.35319 }</string>
	
								<string>{ -159.01995,-97.43017 }</string>
	
								<string>{ -143.09816,-103.29609 }</string>

							</array>

							<array>
	
								<string>{ -181.92498,-55.25140 }</string>
	
								<string>{ -284.65715,-160.35319 }</string>
	
								<string>{ -181.08699,-45.19553 }</string>

							</array>

							<array>
	
								<string>{ -181.08699,-66.98324 }</string>
	
								<string>{ -284.65715,-160.35319 }</string>
	
								<string>{ -181.92498,-55.25140 }</string>

							</array>

							<array>
	
								<string>{ -178.29369,-78.99442 }</string>
	
								<string>{ -284.65715,-160.35319 }</string>
	
								<string>{ -181.08699,-66.98324 }</string>

							</array>

							<array>
	
								<string>{ -169.91380,-88.49162 }</string>
	
								<string>{ -284.65715,-160.35319 }</string>
	
								<string>{ -178.29369,-78.99442 }</string>

							</array>

							<array>
	
								<string>{ -159.01995,-97.43017 }</string>
	
								<string>{ -284.65715,-160.35319 }</string>
	
								<string>{ -169.91380,-88.49162 }</string>

							</array>

							<array>
	
								<string>{ -69.35515,-151.06145 }</string>
	
								<string>{ 53.82922,-150.50279 }</string>
	
								<string>{ 284.90338,-160.27271 }</string>
	
								<string>{ -284.65715,-160.35319 }</string>

							</array>

							<array>
	
								<string>{ 156.90186,-104.97206 }</string>
	
								<string>{ 284.90338,-160.27271 }</string>
	
								<string>{ 139.02475,-113.07262 }</string>

							</array>

							<array>
	
								<string>{ 167.79568,-97.70950 }</string>
	
								<string>{ 284.90338,-160.27271 }</string>
	
								<string>{ 156.90186,-104.97206 }</string>

							</array>

							<array>
	
								<string>{ 176.17560,-90.72626 }</string>
	
								<string>{ 284.90338,-160.27271 }</string>
	
								<string>{ 167.79568,-97.70950 }</string>

							</array>

							<array>
	
								<string>{ 183.15881,-81.78770 }</string>
	
								<string>{ 284.90338,-160.27271 }</string>
	
								<string>{ 176.17560,-90.72626 }</string>

							</array>

							<array>
	
								<string>{ 187.62811,-73.40782 }</string>
	
								<string>{ 284.90338,-160.27271 }</string>
	
								<string>{ 183.15881,-81.78770 }</string>

							</array>

							<array>
	
								<string>{ 190.98007,-63.63129 }</string>
	
								<string>{ 284.90338,-160.27271 }</string>
	
								<string>{ 187.62811,-73.40782 }</string>

							</array>

							<array>
	
								<string>{ 192.37671,-53.01675 }</string>
	
								<string>{ 284.90338,-160.27271 }</string>
	
								<string>{ 190.98007,-63.63129 }</string>

							</array>

							<array>
	
								<string>{ 190.70071,-40.72626 }</string>
	
								<string>{ 284.90338,-160.27271 }</string>
	
								<string>{ 192.37671,-53.01675 }</string>

							</array>

							<array>
	
								<string>{ 187.62811,-30.39105 }</string>
	
								<string>{ 284.90338,-160.27271 }</string>
	
								<string>{ 190.70071,-40.72626 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 39.30408,137.25595 }</string>
	
								<string>{ 40.98004,160.77551 }</string>
	
								<string>{ 85.11414,130.83136 }</string>
	
								<string>{ 44.05267,109.88165 }</string>

							</array>

							<array>
	
								<string>{ 149.35995,117.42355 }</string>
	
								<string>{ 197.46051,160.21686 }</string>
	
								<string>{ 177.57224,106.80902 }</string>
	
								<string>{ 171.14764,102.61908 }</string>
	
								<string>{ 156.06384,107.36768 }</string>

							</array>

							<array>
	
								<string>{ 40.98004,160.77551 }</string>
	
								<string>{ 99.08063,135.57999 }</string>
	
								<string>{ 85.11414,130.83136 }</string>

							</array>

							<array>
	
								<string>{ 197.46051,160.21686 }</string>
	
								<string>{ 109.97446,136.97662 }</string>
	
								<string>{ 99.08063,135.57999 }</string>
	
								<string>{ 40.98004,160.77551 }</string>

							</array>

							<array>
	
								<string>{ 142.09738,125.24478 }</string>
	
								<string>{ 197.46051,160.21686 }</string>
	
								<string>{ 149.35995,117.42355 }</string>

							</array>

							<array>
	
								<string>{ 134.83481,131.94870 }</string>
	
								<string>{ 197.46051,160.21686 }</string>
	
								<string>{ 142.09738,125.24478 }</string>

							</array>

							<array>
	
								<string>{ 124.77893,135.85931 }</string>
	
								<string>{ 197.46051,160.21686 }</string>
	
								<string>{ 134.83481,131.94870 }</string>

							</array>

							<array>
	
								<string>{ 109.97446,136.97662 }</string>
	
								<string>{ 197.46051,160.21686 }</string>
	
								<string>{ 124.77893,135.85931 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

