<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C22</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 90.47336,5.08875 }</string>
	
								<string>{ 125.68045,4.20117 }</string>
	
								<string>{ 95.20709,-7.04143 }</string>
	
								<string>{ 89.88165,-0.82841 }</string>

							</array>

							<array>
	
								<string>{ 125.68045,4.20117 }</string>
	
								<string>{ 94.61539,-21.83432 }</string>
	
								<string>{ 95.20709,-7.04143 }</string>

							</array>

							<array>
	
								<string>{ -121.65681,40.00000 }</string>
	
								<string>{ -125.50296,22.84023 }</string>
	
								<string>{ -161.59763,20.47337 }</string>
	
								<string>{ -167.81065,28.16568 }</string>

							</array>

							<array>
	
								<string>{ -121.65681,40.00000 }</string>
	
								<string>{ -63.07693,51.24260 }</string>
	
								<string>{ 5.91716,59.28993 }</string>
	
								<string>{ -45.02959,37.04141 }</string>
	
								<string>{ -108.93492,16.62721 }</string>
	
								<string>{ -125.50296,22.84023 }</string>

							</array>

							<array>
	
								<string>{ 125.68045,4.20117 }</string>
	
								<string>{ 91.95264,-38.40237 }</string>
	
								<string>{ 94.61539,-21.83432 }</string>

							</array>

							<array>
	
								<string>{ -20.47337,47.39644 }</string>
	
								<string>{ 5.91716,59.28993 }</string>
	
								<string>{ 4.37869,54.20117 }</string>

							</array>

							<array>
	
								<string>{ -221.65681,-24.49704 }</string>
	
								<string>{ -240.00000,-160.88757 }</string>
	
								<string>{ -240.59172,-12.89941 }</string>

							</array>

							<array>
	
								<string>{ -191.47929,-40.47337 }</string>
	
								<string>{ -240.00000,-160.88757 }</string>
	
								<string>{ -221.65681,-24.49704 }</string>

							</array>

							<array>
	
								<string>{ -160.41421,-52.30769 }</string>
	
								<string>{ -240.00000,-160.88757 }</string>
	
								<string>{ -191.47929,-40.47337 }</string>

							</array>

							<array>
	
								<string>{ -125.20711,-55.85799 }</string>
	
								<string>{ -27.27811,-102.01184 }</string>
	
								<string>{ -12.48521,-109.70414 }</string>
	
								<string>{ -240.00000,-160.88757 }</string>
	
								<string>{ -160.41421,-52.30769 }</string>

							</array>

							<array>
	
								<string>{ 241.95264,-160.59172 }</string>
	
								<string>{ -240.00000,-160.88757 }</string>
	
								<string>{ 159.11243,-148.16568 }</string>
	
								<string>{ 240.17749,-149.34911 }</string>

							</array>

							<array>
	
								<string>{ 125.68045,4.20117 }</string>
	
								<string>{ 125.68045,-2.01184 }</string>
	
								<string>{ 123.60947,-23.60947 }</string>
	
								<string>{ 87.21893,-53.78699 }</string>
	
								<string>{ 91.95264,-38.40237 }</string>

							</array>

							<array>
	
								<string>{ 121.83432,-52.89941 }</string>
	
								<string>{ 87.21893,-53.78699 }</string>
	
								<string>{ 123.60947,-23.60947 }</string>

							</array>

							<array>
	
								<string>{ 122.72189,-76.56805 }</string>
	
								<string>{ 81.30176,-67.39645 }</string>
	
								<string>{ 87.21893,-53.78699 }</string>
	
								<string>{ 121.83432,-52.89941 }</string>

							</array>

							<array>
	
								<string>{ 128.04733,-98.75740 }</string>
	
								<string>{ 75.68045,-78.63905 }</string>
	
								<string>{ 81.30176,-67.39645 }</string>
	
								<string>{ 122.72189,-76.56805 }</string>

							</array>

							<array>
	
								<string>{ 128.04733,-98.75740 }</string>
	
								<string>{ 137.51477,-119.76331 }</string>
	
								<string>{ 66.21301,-91.95267 }</string>
	
								<string>{ 75.68045,-78.63905 }</string>

							</array>

							<array>
	
								<string>{ 137.51477,-119.76331 }</string>
	
								<string>{ 149.34909,-139.28994 }</string>
	
								<string>{ 54.97040,-102.60355 }</string>
	
								<string>{ 66.21301,-91.95267 }</string>

							</array>

							<array>
	
								<string>{ 149.34909,-139.28994 }</string>
	
								<string>{ 42.84024,-109.11243 }</string>
	
								<string>{ 54.97040,-102.60355 }</string>

							</array>

							<array>
	
								<string>{ 149.34909,-139.28994 }</string>
	
								<string>{ 159.11243,-148.16568 }</string>
	
								<string>{ 26.56802,-114.14201 }</string>
	
								<string>{ 42.84024,-109.11243 }</string>

							</array>

							<array>
	
								<string>{ 159.11243,-148.16568 }</string>
	
								<string>{ -240.00000,-160.88757 }</string>
	
								<string>{ 4.97041,-114.73373 }</string>
	
								<string>{ 26.56802,-114.14201 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.88757 }</string>
	
								<string>{ -12.48521,-109.70414 }</string>
	
								<string>{ 4.97041,-114.73373 }</string>

							</array>

							<array>
	
								<string>{ -63.37279,20.47337 }</string>
	
								<string>{ -108.93492,16.62721 }</string>
	
								<string>{ -45.02959,37.04141 }</string>

							</array>

							<array>
	
								<string>{ -72.54439,0.65088 }</string>
	
								<string>{ -100.65089,7.45561 }</string>
	
								<string>{ -108.93492,16.62721 }</string>
	
								<string>{ -63.37279,20.47337 }</string>

							</array>

							<array>
	
								<string>{ -75.79883,-23.60947 }</string>
	
								<string>{ -100.65089,7.45561 }</string>
	
								<string>{ -72.54439,0.65088 }</string>

							</array>

							<array>
	
								<string>{ -71.95267,-50.23669 }</string>
	
								<string>{ -97.10060,-4.08284 }</string>
	
								<string>{ -100.65089,7.45561 }</string>
	
								<string>{ -75.79883,-23.60947 }</string>

							</array>

							<array>
	
								<string>{ -71.95267,-50.23669 }</string>
	
								<string>{ -97.39645,-18.87575 }</string>
	
								<string>{ -97.10060,-4.08284 }</string>

							</array>

							<array>
	
								<string>{ -71.95267,-50.23669 }</string>
	
								<string>{ -101.24261,-33.96450 }</string>
	
								<string>{ -97.39645,-18.87575 }</string>

							</array>

							<array>
	
								<string>{ -71.95267,-50.23669 }</string>
	
								<string>{ -64.55621,-64.43787 }</string>
	
								<string>{ -110.71007,-46.98225 }</string>
	
								<string>{ -101.24261,-33.96450 }</string>

							</array>

							<array>
	
								<string>{ -64.55621,-64.43787 }</string>
	
								<string>{ -54.49706,-78.63905 }</string>
	
								<string>{ -125.20711,-55.85799 }</string>
	
								<string>{ -110.71007,-46.98225 }</string>

							</array>

							<array>
	
								<string>{ -42.07101,-90.47337 }</string>
	
								<string>{ -125.20711,-55.85799 }</string>
	
								<string>{ -54.49706,-78.63905 }</string>

							</array>

							<array>
	
								<string>{ -27.27811,-102.01184 }</string>
	
								<string>{ -125.20711,-55.85799 }</string>
	
								<string>{ -42.07101,-90.47337 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

