<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C24</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -1.17245,100.66708 }</string>
	
								<string>{ 26.84952,103.68909 }</string>
	
								<string>{ 57.61874,104.23853 }</string>
	
								<string>{ 63.93744,49.29347 }</string>
	
								<string>{ -4.19443,74.56819 }</string>
	
								<string>{ -25.89774,92.42534 }</string>

							</array>

							<array>
	
								<string>{ -161.06256,63.30446 }</string>
	
								<string>{ -144.30432,-0.43179 }</string>
	
								<string>{ -284.18454,-159.68454 }</string>
	
								<string>{ -285.72110,59.69421 }</string>

							</array>

							<array>
	
								<string>{ -76.17245,44.07370 }</string>
	
								<string>{ -105.84277,27.86490 }</string>
	
								<string>{ -115.45816,62.48029 }</string>
	
								<string>{ -68.48015,58.08469 }</string>

							</array>

							<array>
	
								<string>{ -130.29333,11.38139 }</string>
	
								<string>{ -161.06256,63.30446 }</string>
	
								<string>{ -115.45816,62.48029 }</string>
	
								<string>{ -105.84277,27.86490 }</string>

							</array>

							<array>
	
								<string>{ -144.30432,-0.43179 }</string>
	
								<string>{ -161.06256,63.30446 }</string>
	
								<string>{ -130.29333,11.38139 }</string>

							</array>

							<array>
	
								<string>{ 63.93744,49.29347 }</string>
	
								<string>{ 3.77261,65.50226 }</string>
	
								<string>{ -4.19443,74.56819 }</string>

							</array>

							<array>
	
								<string>{ 71.08029,-32.84938 }</string>
	
								<string>{ 3.77261,65.50226 }</string>
	
								<string>{ 63.93744,49.29347 }</string>

							</array>

							<array>
	
								<string>{ 284.34357,-159.60989 }</string>
	
								<string>{ -284.18454,-159.68454 }</string>
	
								<string>{ 284.63800,-148.10535 }</string>

							</array>

							<array>
	
								<string>{ -284.18454,-159.68454 }</string>
	
								<string>{ -43.75487,-105.65158 }</string>
	
								<string>{ 74.10226,-98.78345 }</string>
	
								<string>{ 75.32755,-148.19553 }</string>

							</array>

							<array>
	
								<string>{ 71.08029,-32.84938 }</string>
	
								<string>{ 17.78360,39.95282 }</string>
	
								<string>{ 11.19019,54.23853 }</string>

							</array>

							<array>
	
								<string>{ 71.08029,-32.84938 }</string>
	
								<string>{ 24.92645,22.37039 }</string>
	
								<string>{ 17.78360,39.95282 }</string>

							</array>

							<array>
	
								<string>{ 74.10226,-98.78345 }</string>
	
								<string>{ 29.32205,7.26051 }</string>
	
								<string>{ 24.92645,22.37039 }</string>
	
								<string>{ 71.08029,-32.84938 }</string>

							</array>

							<array>
	
								<string>{ 74.10226,-98.78345 }</string>
	
								<string>{ 31.79459,-10.32191 }</string>
	
								<string>{ 29.32205,7.26051 }</string>

							</array>

							<array>
	
								<string>{ 74.10226,-98.78345 }</string>
	
								<string>{ 32.34402,-27.62961 }</string>
	
								<string>{ 31.79459,-10.32191 }</string>

							</array>

							<array>
	
								<string>{ 74.10226,-98.78345 }</string>
	
								<string>{ 31.51987,-44.38784 }</string>
	
								<string>{ 32.34402,-27.62961 }</string>

							</array>

							<array>
	
								<string>{ 74.10226,-98.78345 }</string>
	
								<string>{ 29.32205,-57.57465 }</string>
	
								<string>{ 31.51987,-44.38784 }</string>

							</array>

							<array>
	
								<string>{ 74.10226,-98.78345 }</string>
	
								<string>{ 26.02536,-69.38784 }</string>
	
								<string>{ 29.32205,-57.57465 }</string>

							</array>

							<array>
	
								<string>{ 74.10226,-98.78345 }</string>
	
								<string>{ 21.62973,-78.72850 }</string>
	
								<string>{ 26.02536,-69.38784 }</string>

							</array>

							<array>
	
								<string>{ 74.10226,-98.78345 }</string>
	
								<string>{ 14.76163,-86.97026 }</string>
	
								<string>{ 21.62973,-78.72850 }</string>

							</array>

							<array>
	
								<string>{ 74.10226,-98.78345 }</string>
	
								<string>{ 3.49786,-94.66257 }</string>
	
								<string>{ 14.76163,-86.97026 }</string>

							</array>

							<array>
	
								<string>{ 74.10226,-98.78345 }</string>
	
								<string>{ -10.51312,-100.43180 }</string>
	
								<string>{ 3.49786,-94.66257 }</string>

							</array>

							<array>
	
								<string>{ 74.10226,-98.78345 }</string>
	
								<string>{ -26.44717,-104.55268 }</string>
	
								<string>{ -10.51312,-100.43180 }</string>

							</array>

							<array>
	
								<string>{ -284.18454,-159.68454 }</string>
	
								<string>{ -60.51311,-105.37685 }</string>
	
								<string>{ -43.75487,-105.65158 }</string>

							</array>

							<array>
	
								<string>{ -284.18454,-159.68454 }</string>
	
								<string>{ -78.09552,-102.90432 }</string>
	
								<string>{ -60.51311,-105.37685 }</string>

							</array>

							<array>
	
								<string>{ -284.18454,-159.68454 }</string>
	
								<string>{ -96.77684,-98.78345 }</string>
	
								<string>{ -78.09552,-102.90432 }</string>

							</array>

							<array>
	
								<string>{ -284.18454,-159.68454 }</string>
	
								<string>{ -114.63399,-93.28894 }</string>
	
								<string>{ -96.77684,-98.78345 }</string>

							</array>

							<array>
	
								<string>{ -284.18454,-159.68454 }</string>
	
								<string>{ -126.99663,-87.79443 }</string>
	
								<string>{ -114.63399,-93.28894 }</string>

							</array>

							<array>
	
								<string>{ -284.18454,-159.68454 }</string>
	
								<string>{ -139.63399,-80.92630 }</string>
	
								<string>{ -126.99663,-87.79443 }</string>

							</array>

							<array>
	
								<string>{ -284.18454,-159.68454 }</string>
	
								<string>{ -148.97464,-75.15707 }</string>
	
								<string>{ -139.63399,-80.92630 }</string>

							</array>

							<array>
	
								<string>{ -284.18454,-159.68454 }</string>
	
								<string>{ -157.49113,-66.91531 }</string>
	
								<string>{ -148.97464,-75.15707 }</string>

							</array>

							<array>
	
								<string>{ -284.18454,-159.68454 }</string>
	
								<string>{ -163.80981,-56.75048 }</string>
	
								<string>{ -157.49113,-66.91531 }</string>

							</array>

							<array>
	
								<string>{ -284.18454,-159.68454 }</string>
	
								<string>{ -166.55706,-45.48675 }</string>
	
								<string>{ -163.80981,-56.75048 }</string>

							</array>

							<array>
	
								<string>{ -284.18454,-159.68454 }</string>
	
								<string>{ -165.18343,-34.49773 }</string>
	
								<string>{ -166.55706,-45.48675 }</string>

							</array>

							<array>
	
								<string>{ -284.18454,-159.68454 }</string>
	
								<string>{ -160.51311,-22.40982 }</string>
	
								<string>{ -165.18343,-34.49773 }</string>

							</array>

							<array>
	
								<string>{ -284.18454,-159.68454 }</string>
	
								<string>{ -153.64497,-11.14609 }</string>
	
								<string>{ -160.51311,-22.40982 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 150.87280,5.23721 }</string>
	
								<string>{ 176.14755,23.91853 }</string>
	
								<string>{ 192.63104,26.11633 }</string>
	
								<string>{ 283.37622,-82.27708 }</string>
	
								<string>{ 196.75192,-100.53202 }</string>

							</array>

							<array>
	
								<string>{ 152.52118,42.32512 }</string>
	
								<string>{ 129.44424,11.47244 }</string>
	
								<string>{ 126.69699,103.20425 }</string>
	
								<string>{ 161.86182,100.28488 }</string>

							</array>

							<array>
	
								<string>{ 283.92230,101.27371 }</string>
	
								<string>{ 220.92776,80.51193 }</string>
	
								<string>{ 208.77618,105.53375 }</string>

							</array>

							<array>
	
								<string>{ 152.52118,42.32512 }</string>
	
								<string>{ 160.76294,27.21524 }</string>
	
								<string>{ 150.87280,5.23721 }</string>
	
								<string>{ 129.44424,11.47244 }</string>

							</array>

							<array>
	
								<string>{ 176.14755,23.91853 }</string>
	
								<string>{ 150.87280,5.23721 }</string>
	
								<string>{ 160.76294,27.21524 }</string>

							</array>

							<array>
	
								<string>{ 283.37622,-82.27708 }</string>
	
								<string>{ 225.04865,63.47897 }</string>
	
								<string>{ 220.92776,80.51193 }</string>
	
								<string>{ 283.92230,101.27371 }</string>

							</array>

							<array>
	
								<string>{ 206.91678,33.25919 }</string>
	
								<string>{ 283.37622,-82.27708 }</string>
	
								<string>{ 192.63104,26.11633 }</string>

							</array>

							<array>
	
								<string>{ 216.80688,40.12732 }</string>
	
								<string>{ 283.37622,-82.27708 }</string>
	
								<string>{ 206.91678,33.25919 }</string>

							</array>

							<array>
	
								<string>{ 222.57611,50.84160 }</string>
	
								<string>{ 283.37622,-82.27708 }</string>
	
								<string>{ 216.80688,40.12732 }</string>

							</array>

							<array>
	
								<string>{ 225.04865,63.47897 }</string>
	
								<string>{ 283.37622,-82.27708 }</string>
	
								<string>{ 222.57611,50.84160 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 178.01434,-104.91077 }</string>
	
								<string>{ 153.94843,-108.64704 }</string>
	
								<string>{ 137.46490,-102.05363 }</string>
	
								<string>{ 134.16821,-72.65803 }</string>
	
								<string>{ 130.04733,-8.18384 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

