<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C46</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -100.66220,-69.25017 }</string>
	
								<string>{ -111.65416,-64.42443 }</string>
	
								<string>{ -104.14746,-58.25821 }</string>

							</array>

							<array>
	
								<string>{ -283.28619,-13.14091 }</string>
	
								<string>{ -171.70778,46.03133 }</string>
	
								<string>{ -207.43750,-87.50000 }</string>
	
								<string>{ -284.04440,-109.18314 }</string>

							</array>

							<array>
	
								<string>{ -145.16621,6.62114 }</string>
	
								<string>{ -124.52280,25.11981 }</string>
	
								<string>{ -118.42076,-14.57207 }</string>

							</array>

							<array>
	
								<string>{ 28.56033,-159.59869 }</string>
	
								<string>{ 11.67023,-142.70861 }</string>
	
								<string>{ 26.14746,-144.58529 }</string>

							</array>

							<array>
	
								<string>{ -158.03485,-89.62550 }</string>
	
								<string>{ -47.57909,-120.72470 }</string>
	
								<string>{ -32.29759,-127.96330 }</string>
	
								<string>{ -110.31367,-120.99279 }</string>
	
								<string>{ -139.80429,-115.09467 }</string>

							</array>

							<array>
	
								<string>{ -166.61395,8.49782 }</string>
	
								<string>{ -171.70778,46.03133 }</string>
	
								<string>{ -120.58290,37.65237 }</string>
	
								<string>{ -124.52280,25.11981 }</string>
	
								<string>{ -145.16621,6.62114 }</string>

							</array>

							<array>
	
								<string>{ -94.49599,-81.85070 }</string>
	
								<string>{ -133.90617,-66.03301 }</string>
	
								<string>{ -111.65416,-64.42443 }</string>
	
								<string>{ -100.66220,-69.25017 }</string>

							</array>

							<array>
	
								<string>{ -116.21179,-148.33864 }</string>
	
								<string>{ -166.61395,-147.53435 }</string>
	
								<string>{ -151.06435,-139.22336 }</string>

							</array>

							<array>
	
								<string>{ 28.56033,-159.59869 }</string>
	
								<string>{ -1.46649,-139.75955 }</string>
	
								<string>{ 11.67023,-142.70861 }</string>

							</array>

							<array>
	
								<string>{ -40.87668,75.25385 }</string>
	
								<string>{ -110.58177,49.24849 }</string>
	
								<string>{ -119.96515,67.47905 }</string>
	
								<string>{ -72.78017,80.07959 }</string>
	
								<string>{ -28.75871,82.00989 }</string>

							</array>

							<array>
	
								<string>{ -120.58290,37.65237 }</string>
	
								<string>{ -171.70778,46.03133 }</string>
	
								<string>{ -119.96515,67.47905 }</string>
	
								<string>{ -110.58177,49.24849 }</string>

							</array>

							<array>
	
								<string>{ -189.13405,-19.92041 }</string>
	
								<string>{ -171.70778,46.03133 }</string>
	
								<string>{ -166.61395,8.49782 }</string>

							</array>

							<array>
	
								<string>{ -84.84451,-93.64695 }</string>
	
								<string>{ -153.47722,-63.35204 }</string>
	
								<string>{ -133.90617,-66.03301 }</string>
	
								<string>{ -94.49599,-81.85070 }</string>

							</array>

							<array>
	
								<string>{ 28.56033,-159.59869 }</string>
	
								<string>{ -14.06702,-135.20191 }</string>
	
								<string>{ -1.46649,-139.75955 }</string>

							</array>

							<array>
	
								<string>{ -166.61395,-147.53435 }</string>
	
								<string>{ -116.21179,-148.33864 }</string>
	
								<string>{ 28.56033,-159.59869 }</string>
	
								<string>{ -283.95560,-160.35690 }</string>
	
								<string>{ -283.28619,-153.38639 }</string>

							</array>

							<array>
	
								<string>{ -73.58446,-103.56652 }</string>
	
								<string>{ -153.47722,-63.35204 }</string>
	
								<string>{ -84.84451,-93.64695 }</string>

							</array>

							<array>
	
								<string>{ 28.56033,-159.59869 }</string>
	
								<string>{ -116.21179,-148.33864 }</string>
	
								<string>{ -110.31367,-120.99279 }</string>
	
								<string>{ -32.29759,-127.96330 }</string>
	
								<string>{ -14.06702,-135.20191 }</string>

							</array>

							<array>
	
								<string>{ -60.17963,-112.68180 }</string>
	
								<string>{ -158.03485,-89.62550 }</string>
	
								<string>{ -171.17159,-55.84534 }</string>
	
								<string>{ -153.47722,-63.35204 }</string>
	
								<string>{ -73.58446,-103.56652 }</string>

							</array>

							<array>
	
								<string>{ -158.03485,-89.62550 }</string>
	
								<string>{ -60.17963,-112.68180 }</string>
	
								<string>{ -47.57909,-120.72470 }</string>

							</array>

							<array>
	
								<string>{ -207.43750,-87.50000 }</string>
	
								<string>{ -184.30831,-43.78100 }</string>
	
								<string>{ -171.17159,-55.84534 }</string>
	
								<string>{ -158.03485,-89.62550 }</string>

							</array>

							<array>
	
								<string>{ -207.43750,-87.50000 }</string>
	
								<string>{ -189.13405,-19.92041 }</string>
	
								<string>{ -184.30831,-43.78100 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 11.94000,6.21983 }</string>
	
								<string>{ 33.70944,18.06970 }</string>
	
								<string>{ 26.95343,-30.77748 }</string>
	
								<string>{ -2.80530,-15.49597 }</string>

							</array>

							<array>
	
								<string>{ 17.03384,25.52278 }</string>
	
								<string>{ 31.77914,37.85522 }</string>
	
								<string>{ 33.70944,18.06970 }</string>
	
								<string>{ 11.94000,6.21983 }</string>

							</array>

							<array>
	
								<string>{ 13.54858,45.89812 }</string>
	
								<string>{ 11.40381,65.73726 }</string>
	
								<string>{ 23.46817,53.94102 }</string>
	
								<string>{ 31.77914,37.85522 }</string>
	
								<string>{ 17.03384,25.52278 }</string>

							</array>

							<array>
	
								<string>{ 13.54858,45.89812 }</string>
	
								<string>{ 3.36093,62.84183 }</string>
	
								<string>{ 11.40381,65.73726 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 72.21732,40.53619 }</string>
	
								<string>{ 73.55780,-1.01877 }</string>
	
								<string>{ 52.37817,-34.79893 }</string>
	
								<string>{ 48.89291,31.42091 }</string>
	
								<string>{ 56.66772,56.13940 }</string>
	
								<string>{ 66.90903,55.06702 }</string>

							</array>

							<array>
	
								<string>{ 82.13690,-33.72654 }</string>
	
								<string>{ 78.91974,-43.91421 }</string>
	
								<string>{ 52.37817,-34.79893 }</string>
	
								<string>{ 73.55780,-1.01877 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 165.29123,-66.97051 }</string>
	
								<string>{ 167.97217,-83.86059 }</string>
	
								<string>{ 152.95877,-73.67292 }</string>

							</array>

							<array>
	
								<string>{ 80.84082,-150.61662 }</string>
	
								<string>{ 51.35019,-160.26810 }</string>
	
								<string>{ 53.22687,-147.39946 }</string>

							</array>

							<array>
	
								<string>{ 109.52713,93.88741 }</string>
	
								<string>{ 146.79257,96.30026 }</string>
	
								<string>{ 119.44672,81.28687 }</string>
	
								<string>{ 81.10892,84.28955 }</string>

							</array>

							<array>
	
								<string>{ 146.79257,96.30026 }</string>
	
								<string>{ 192.36896,85.30830 }</string>
	
								<string>{ 238.53516,65.52278 }</string>
	
								<string>{ 145.45209,67.34584 }</string>
	
								<string>{ 119.44672,81.28687 }</string>

							</array>

							<array>
	
								<string>{ 174.40649,-56.51475 }</string>
	
								<string>{ 174.94269,-99.67828 }</string>
	
								<string>{ 167.97217,-83.86059 }</string>
	
								<string>{ 165.29123,-66.97051 }</string>

							</array>

							<array>
	
								<string>{ 284.46515,-160.22369 }</string>
	
								<string>{ 178.69604,17.21179 }</string>
	
								<string>{ 171.99362,33.29759 }</string>
	
								<string>{ 238.53516,65.52278 }</string>
	
								<string>{ 283.50000,44.68750 }</string>

							</array>

							<array>
	
								<string>{ 108.99094,-152.76139 }</string>
	
								<string>{ 51.35019,-160.26810 }</string>
	
								<string>{ 80.84082,-150.61662 }</string>

							</array>

							<array>
	
								<string>{ 238.53516,65.52278 }</string>
	
								<string>{ 155.10355,57.69437 }</string>
	
								<string>{ 145.45209,67.34584 }</string>

							</array>

							<array>
	
								<string>{ 238.53516,65.52278 }</string>
	
								<string>{ 163.68265,47.23860 }</string>
	
								<string>{ 155.10355,57.69437 }</string>

							</array>

							<array>
	
								<string>{ 238.53516,65.52278 }</string>
	
								<string>{ 171.99362,33.29759 }</string>
	
								<string>{ 163.68265,47.23860 }</string>

							</array>

							<array>
	
								<string>{ 174.40649,-56.51475 }</string>
	
								<string>{ 178.69604,-45.79089 }</string>
	
								<string>{ 180.30463,-117.37265 }</string>
	
								<string>{ 174.94269,-99.67828 }</string>

							</array>

							<array>
	
								<string>{ 182.71750,-30.24129 }</string>
	
								<string>{ 284.46515,-160.22369 }</string>
	
								<string>{ 180.30463,-117.37265 }</string>
	
								<string>{ 178.69604,-45.79089 }</string>

							</array>

							<array>
	
								<string>{ 108.99094,-152.76139 }</string>
	
								<string>{ 131.51105,-150.88472 }</string>
	
								<string>{ 284.46515,-160.22369 }</string>
	
								<string>{ 51.35019,-160.26810 }</string>

							</array>

							<array>
	
								<string>{ 156.98022,-145.25469 }</string>
	
								<string>{ 284.46515,-160.22369 }</string>
	
								<string>{ 131.51105,-150.88472 }</string>

							</array>

							<array>
	
								<string>{ 174.67459,-133.72654 }</string>
	
								<string>{ 284.46515,-160.22369 }</string>
	
								<string>{ 156.98022,-145.25469 }</string>

							</array>

							<array>
	
								<string>{ 180.30463,-117.37265 }</string>
	
								<string>{ 284.46515,-160.22369 }</string>
	
								<string>{ 174.67459,-133.72654 }</string>

							</array>

							<array>
	
								<string>{ 183.52179,-12.01073 }</string>
	
								<string>{ 284.46515,-160.22369 }</string>
	
								<string>{ 182.71750,-30.24129 }</string>

							</array>

							<array>
	
								<string>{ 181.64511,3.53888 }</string>
	
								<string>{ 284.46515,-160.22369 }</string>
	
								<string>{ 183.52179,-12.01073 }</string>

							</array>

							<array>
	
								<string>{ 178.69604,17.21179 }</string>
	
								<string>{ 284.46515,-160.22369 }</string>
	
								<string>{ 181.64511,3.53888 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 141.31250,151.25000 }</string>
	
								<string>{ 34.12500,154.06250 }</string>
	
								<string>{ 284.12500,159.68750 }</string>
	
								<string>{ 284.43750,153.12500 }</string>

							</array>

							<array>
	
								<string>{ -284.31250,160.31250 }</string>
	
								<string>{ 284.12500,159.68750 }</string>
	
								<string>{ -284.31250,154.37500 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

