<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C3</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 36.33136,-4.67456 }</string>
	
								<string>{ 91.95264,6.86391 }</string>
	
								<string>{ 78.34317,-21.83432 }</string>
	
								<string>{ 56.44971,-29.52663 }</string>
	
								<string>{ 25.08875,-18.57988 }</string>
	
								<string>{ 22.13016,-12.36687 }</string>

							</array>

							<array>
	
								<string>{ 91.95264,6.86391 }</string>
	
								<string>{ 98.46152,-17.98817 }</string>
	
								<string>{ 78.34317,-21.83432 }</string>

							</array>

							<array>
	
								<string>{ 91.95264,6.86391 }</string>
	
								<string>{ 144.91122,16.62721 }</string>
	
								<string>{ 118.57986,-19.76332 }</string>
	
								<string>{ 98.46152,-17.98817 }</string>

							</array>

							<array>
	
								<string>{ 186.33136,25.79881 }</string>
	
								<string>{ 124.49704,-23.31361 }</string>
	
								<string>{ 118.57986,-19.76332 }</string>
	
								<string>{ 144.91122,16.62721 }</string>

							</array>

							<array>
	
								<string>{ -66.33136,21.36095 }</string>
	
								<string>{ -86.44971,10.41420 }</string>
	
								<string>{ -128.46154,2.42603 }</string>
	
								<string>{ -161.00592,39.40828 }</string>
	
								<string>{ -102.72189,37.33727 }</string>
	
								<string>{ -55.62131,32.66272 }</string>

							</array>

							<array>
	
								<string>{ -163.96450,-12.07101 }</string>
	
								<string>{ -240.29586,34.14201 }</string>
	
								<string>{ -161.00592,39.40828 }</string>
	
								<string>{ -128.46154,2.42603 }</string>

							</array>

							<array>
	
								<string>{ -186.15385,-29.23077 }</string>
	
								<string>{ -240.29586,34.14201 }</string>
	
								<string>{ -163.96450,-12.07101 }</string>

							</array>

							<array>
	
								<string>{ 84.55621,139.70413 }</string>
	
								<string>{ 118.28400,144.43787 }</string>
	
								<string>{ 158.52069,147.39645 }</string>
	
								<string>{ 126.86389,132.89938 }</string>
	
								<string>{ 57.92899,121.65680 }</string>
	
								<string>{ 57.33728,131.71597 }</string>

							</array>

							<array>
	
								<string>{ 158.52069,147.39645 }</string>
	
								<string>{ 214.14200,147.39645 }</string>
	
								<string>{ 182.18933,137.33728 }</string>
	
								<string>{ 126.86389,132.89938 }</string>

							</array>

							<array>
	
								<string>{ 214.14200,147.39645 }</string>
	
								<string>{ 198.75739,133.49112 }</string>
	
								<string>{ 182.18933,137.33728 }</string>

							</array>

							<array>
	
								<string>{ 214.14200,147.39645 }</string>
	
								<string>{ 239.88165,147.69229 }</string>
	
								<string>{ 211.77515,126.68637 }</string>
	
								<string>{ 198.75739,133.49112 }</string>

							</array>

							<array>
	
								<string>{ 239.88165,147.69229 }</string>
	
								<string>{ 224.49704,114.26035 }</string>
	
								<string>{ 211.77515,126.68637 }</string>

							</array>

							<array>
	
								<string>{ 239.88165,147.69229 }</string>
	
								<string>{ 231.89346,100.05917 }</string>
	
								<string>{ 224.49704,114.26035 }</string>

							</array>

							<array>
	
								<string>{ -198.87574,-46.98225 }</string>
	
								<string>{ -240.29586,34.14201 }</string>
	
								<string>{ -186.15385,-29.23077 }</string>

							</array>

							<array>
	
								<string>{ -198.87574,-46.98225 }</string>
	
								<string>{ -240.59172,-161.18343 }</string>
	
								<string>{ -240.29586,34.14201 }</string>

							</array>

							<array>
	
								<string>{ 186.33136,25.79881 }</string>
	
								<string>{ 137.51477,-31.89349 }</string>
	
								<string>{ 124.49704,-23.31361 }</string>

							</array>

							<array>
	
								<string>{ 186.33136,25.79881 }</string>
	
								<string>{ 145.20709,-40.47337 }</string>
	
								<string>{ 137.51477,-31.89349 }</string>

							</array>

							<array>
	
								<string>{ 186.33136,25.79881 }</string>
	
								<string>{ 203.19525,33.49112 }</string>
	
								<string>{ 155.85797,-52.60355 }</string>
	
								<string>{ 145.20709,-40.47337 }</string>

							</array>

							<array>
	
								<string>{ 203.19525,33.49112 }</string>
	
								<string>{ 162.95856,-66.80473 }</string>
	
								<string>{ 155.85797,-52.60355 }</string>

							</array>

							<array>
	
								<string>{ 203.19525,33.49112 }</string>
	
								<string>{ 213.84613,43.55029 }</string>
	
								<string>{ 167.69229,-85.14793 }</string>
	
								<string>{ 162.95856,-66.80473 }</string>

							</array>

							<array>
	
								<string>{ 239.88165,147.69229 }</string>
	
								<string>{ 233.96448,85.26627 }</string>
	
								<string>{ 231.89346,100.05917 }</string>

							</array>

							<array>
	
								<string>{ 213.84613,43.55029 }</string>
	
								<string>{ 169.76331,-104.37870 }</string>
	
								<string>{ 167.69229,-85.14793 }</string>

							</array>

							<array>
	
								<string>{ 213.84613,43.55029 }</string>
	
								<string>{ 223.60947,56.86389 }</string>
	
								<string>{ 170.65088,-125.68047 }</string>
	
								<string>{ 169.76331,-104.37870 }</string>

							</array>

							<array>
	
								<string>{ 239.58578,-159.40828 }</string>
	
								<string>{ 233.96448,85.26627 }</string>
	
								<string>{ 239.88165,147.69229 }</string>

							</array>

							<array>
	
								<string>{ 71.24258,-146.98225 }</string>
	
								<string>{ 239.58578,-159.40828 }</string>
	
								<string>{ -240.59172,-161.18343 }</string>
	
								<string>{ -163.07693,-149.05326 }</string>
	
								<string>{ -44.43788,-145.20710 }</string>

							</array>

							<array>
	
								<string>{ 223.60947,56.86389 }</string>
	
								<string>{ 230.71005,71.36093 }</string>
	
								<string>{ 239.58578,-159.40828 }</string>
	
								<string>{ 168.87573,-145.50296 }</string>
	
								<string>{ 170.65088,-125.68047 }</string>

							</array>

							<array>
	
								<string>{ 239.58578,-159.40828 }</string>
	
								<string>{ 230.71005,71.36093 }</string>
	
								<string>{ 233.96448,85.26627 }</string>

							</array>

							<array>
	
								<string>{ 239.58578,-159.40828 }</string>
	
								<string>{ 71.24258,-146.98225 }</string>
	
								<string>{ 168.87573,-145.50296 }</string>

							</array>

							<array>
	
								<string>{ -240.59172,-161.18343 }</string>
	
								<string>{ -177.27811,-143.13610 }</string>
	
								<string>{ -163.07693,-149.05326 }</string>

							</array>

							<array>
	
								<string>{ -240.59172,-161.18343 }</string>
	
								<string>{ -189.40829,-130.41420 }</string>
	
								<string>{ -177.27811,-143.13610 }</string>

							</array>

							<array>
	
								<string>{ -240.59172,-161.18343 }</string>
	
								<string>{ -198.87574,-116.21302 }</string>
	
								<string>{ -189.40829,-130.41420 }</string>

							</array>

							<array>
	
								<string>{ -240.59172,-161.18343 }</string>
	
								<string>{ -203.90533,-101.12426 }</string>
	
								<string>{ -198.87574,-116.21302 }</string>

							</array>

							<array>
	
								<string>{ -240.59172,-161.18343 }</string>
	
								<string>{ -205.97633,-85.14793 }</string>
	
								<string>{ -203.90533,-101.12426 }</string>

							</array>

							<array>
	
								<string>{ -240.59172,-161.18343 }</string>
	
								<string>{ -206.56805,-69.76331 }</string>
	
								<string>{ -205.97633,-85.14793 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

