<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C58</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -140.58651,63.75366 }</string>
	
								<string>{ -190.73314,-43.87097 }</string>
	
								<string>{ -196.59824,-53.25513 }</string>
	
								<string>{ -240.58651,-113.07918 }</string>
	
								<string>{ -239.70674,61.52492 }</string>

							</array>

							<array>
	
								<string>{ -22.40469,37.06744 }</string>
	
								<string>{ -35.89444,27.09677 }</string>
	
								<string>{ -58.18182,15.65982 }</string>
	
								<string>{ -100.99707,-0.17596 }</string>
	
								<string>{ -140.58651,63.75366 }</string>
	
								<string>{ -74.31085,59.94135 }</string>
	
								<string>{ -22.99121,49.67741 }</string>
	
								<string>{ -19.47215,44.39882 }</string>

							</array>

							<array>
	
								<string>{ -126.80352,-9.26686 }</string>
	
								<string>{ -140.58651,63.75366 }</string>
	
								<string>{ -100.99707,-0.17596 }</string>

							</array>

							<array>
	
								<string>{ -151.73021,-19.82405 }</string>
	
								<string>{ -140.58651,63.75366 }</string>
	
								<string>{ -126.80352,-9.26686 }</string>

							</array>

							<array>
	
								<string>{ -168.44575,-28.32845 }</string>
	
								<string>{ -140.58651,63.75366 }</string>
	
								<string>{ -151.73021,-19.82405 }</string>

							</array>

							<array>
	
								<string>{ 105.16129,-19.53079 }</string>
	
								<string>{ 49.14957,-49.73608 }</string>
	
								<string>{ -29.73607,-77.00880 }</string>
	
								<string>{ 19.23752,-47.68329 }</string>
	
								<string>{ 75.83575,-24.22287 }</string>
	
								<string>{ 105.45453,-14.83871 }</string>

							</array>

							<array>
	
								<string>{ -29.73607,-77.00880 }</string>
	
								<string>{ -42.93256,-64.98534 }</string>
	
								<string>{ 19.23752,-47.68329 }</string>

							</array>

							<array>
	
								<string>{ -29.73607,-77.00880 }</string>
	
								<string>{ -240.58651,-113.07918 }</string>
	
								<string>{ -90.14664,-72.90323 }</string>
	
								<string>{ -42.93256,-64.98534 }</string>

							</array>

							<array>
	
								<string>{ -182.81525,-37.12611 }</string>
	
								<string>{ -140.58651,63.75366 }</string>
	
								<string>{ -168.44575,-28.32845 }</string>

							</array>

							<array>
	
								<string>{ -240.58651,-113.07918 }</string>
	
								<string>{ -137.06745,-76.71555 }</string>
	
								<string>{ -90.14664,-72.90323 }</string>

							</array>

							<array>
	
								<string>{ -240.58651,-113.07918 }</string>
	
								<string>{ -159.94135,-75.24927 }</string>
	
								<string>{ -137.06745,-76.71555 }</string>

							</array>

							<array>
	
								<string>{ -240.58651,-113.07918 }</string>
	
								<string>{ -182.22874,-72.02346 }</string>
	
								<string>{ -159.94135,-75.24927 }</string>

							</array>

							<array>
	
								<string>{ -240.58651,-113.07918 }</string>
	
								<string>{ -195.13197,-63.81232 }</string>
	
								<string>{ -182.22874,-72.02346 }</string>

							</array>

							<array>
	
								<string>{ -240.58651,-113.07918 }</string>
	
								<string>{ -196.59824,-53.25513 }</string>
	
								<string>{ -195.13197,-63.81232 }</string>

							</array>

							<array>
	
								<string>{ -190.73314,-43.87097 }</string>
	
								<string>{ -140.58651,63.75366 }</string>
	
								<string>{ -182.81525,-37.12611 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 240.35190,111.26099 }</string>
	
								<string>{ 56.18768,104.34018 }</string>
	
								<string>{ 101.64221,111.84750 }</string>
	
								<string>{ 240.46921,128.09384 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 240.76245,1.99413 }</string>
	
								<string>{ 170.85043,4.80939 }</string>
	
								<string>{ 110.14661,35.42522 }</string>

							</array>

							<array>
	
								<string>{ 240.76245,1.99413 }</string>
	
								<string>{ 192.84457,-8.09384 }</string>
	
								<string>{ 170.85043,4.80939 }</string>

							</array>

							<array>
	
								<string>{ 240.76245,1.99413 }</string>
	
								<string>{ 211.31964,-22.46335 }</string>
	
								<string>{ 192.84457,-8.09384 }</string>

							</array>

							<array>
	
								<string>{ 240.76245,1.99413 }</string>
	
								<string>{ 223.04984,-37.12611 }</string>
	
								<string>{ 211.31964,-22.46335 }</string>

							</array>

							<array>
	
								<string>{ 240.76245,1.99413 }</string>
	
								<string>{ 228.62170,-51.78886 }</string>
	
								<string>{ 223.04984,-37.12611 }</string>

							</array>

							<array>
	
								<string>{ 241.23166,-160.58651 }</string>
	
								<string>{ 229.20819,-67.33138 }</string>
	
								<string>{ 228.62170,-51.78886 }</string>
	
								<string>{ 240.76245,1.99413 }</string>

							</array>

							<array>
	
								<string>{ -129.73608,-143.28446 }</string>
	
								<string>{ 154.42813,-141.52493 }</string>
	
								<string>{ 241.23166,-160.58651 }</string>
	
								<string>{ -240.58651,-160.58651 }</string>
	
								<string>{ -241.46628,-149.73607 }</string>

							</array>

							<array>
	
								<string>{ 22.75659,-142.11144 }</string>
	
								<string>{ -129.73608,-143.28446 }</string>
	
								<string>{ -50.55719,-139.76540 }</string>

							</array>

							<array>
	
								<string>{ 177.59531,-138.29912 }</string>
	
								<string>{ 241.23166,-160.58651 }</string>
	
								<string>{ 154.42813,-141.52493 }</string>

							</array>

							<array>
	
								<string>{ 194.60410,-126.86217 }</string>
	
								<string>{ 241.23166,-160.58651 }</string>
	
								<string>{ 177.59531,-138.29912 }</string>

							</array>

							<array>
	
								<string>{ 207.80057,-115.13197 }</string>
	
								<string>{ 241.23166,-160.58651 }</string>
	
								<string>{ 194.60410,-126.86217 }</string>

							</array>

							<array>
	
								<string>{ 215.71848,-103.69501 }</string>
	
								<string>{ 241.23166,-160.58651 }</string>
	
								<string>{ 207.80057,-115.13197 }</string>

							</array>

							<array>
	
								<string>{ 222.46332,-92.84457 }</string>
	
								<string>{ 241.23166,-160.58651 }</string>
	
								<string>{ 215.71848,-103.69501 }</string>

							</array>

							<array>
	
								<string>{ 226.56891,-81.11437 }</string>
	
								<string>{ 241.23166,-160.58651 }</string>
	
								<string>{ 222.46332,-92.84457 }</string>

							</array>

							<array>
	
								<string>{ 229.20819,-67.33138 }</string>
	
								<string>{ 241.23166,-160.58651 }</string>
	
								<string>{ 226.56891,-81.11437 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

