<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C34</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 144.48755,-19.83379 }</string>
	
								<string>{ 143.65652,-38.11634 }</string>
	
								<string>{ 125.65097,-12.90858 }</string>
	
								<string>{ 144.32135,3.26871 }</string>

							</array>

							<array>
	
								<string>{ -172.96399,24.76454 }</string>
	
								<string>{ -127.25761,20.88643 }</string>
	
								<string>{ -149.97230,-18.72575 }</string>
	
								<string>{ -240.00000,-37.56232 }</string>
	
								<string>{ -240.83102,27.64543 }</string>

							</array>

							<array>
	
								<string>{ -127.25761,20.88643 }</string>
	
								<string>{ -87.92244,13.40721 }</string>
	
								<string>{ -82.93628,-24.26593 }</string>
	
								<string>{ -149.97230,-18.72575 }</string>

							</array>

							<array>
	
								<string>{ -62.99168,8.69806 }</string>
	
								<string>{ 9.30748,-9.58449 }</string>
	
								<string>{ -34.73683,-48.08864 }</string>
	
								<string>{ -82.93628,-24.26593 }</string>
	
								<string>{ -87.92244,13.40721 }</string>

							</array>

							<array>
	
								<string>{ 9.30748,-9.58449 }</string>
	
								<string>{ 46.98062,-17.61772 }</string>
	
								<string>{ -10.08310,-68.58726 }</string>
	
								<string>{ -34.73683,-48.08864 }</string>

							</array>

							<array>
	
								<string>{ 143.65652,-38.11634 }</string>
	
								<string>{ 139.22440,-55.29086 }</string>
	
								<string>{ 131.46814,-69.14127 }</string>
	
								<string>{ 114.57065,-20.38780 }</string>
	
								<string>{ 125.65097,-12.90858 }</string>

							</array>

							<array>
	
								<string>{ 3.21330,-86.03878 }</string>
	
								<string>{ 46.98062,-17.61772 }</string>
	
								<string>{ 75.78949,-21.77284 }</string>
	
								<string>{ 120.38782,-83.26869 }</string>
	
								<string>{ 89.91690,-100.44321 }</string>
	
								<string>{ 71.35736,-104.87534 }</string>
	
								<string>{ 27.31302,-106.53740 }</string>

							</array>

							<array>
	
								<string>{ 46.98062,-17.61772 }</string>
	
								<string>{ 3.21330,-86.03878 }</string>
	
								<string>{ -10.08310,-68.58726 }</string>

							</array>

							<array>
	
								<string>{ 131.46814,-69.14127 }</string>
	
								<string>{ 120.38782,-83.26869 }</string>
	
								<string>{ 99.61221,-22.88089 }</string>
	
								<string>{ 114.57065,-20.38780 }</string>

							</array>

							<array>
	
								<string>{ 120.38782,-83.26869 }</string>
	
								<string>{ 75.78949,-21.77284 }</string>
	
								<string>{ 99.61221,-22.88089 }</string>

							</array>

							<array>
	
								<string>{ 89.91690,-100.44321 }</string>
	
								<string>{ 120.38782,-83.26869 }</string>
	
								<string>{ 105.42938,-93.51801 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 89.91690,23.37950 }</string>
	
								<string>{ 76.06650,50.80333 }</string>
	
								<string>{ 122.04987,29.47369 }</string>
	
								<string>{ 109.30750,15.34627 }</string>

							</array>

							<array>
	
								<string>{ 69.14130,28.91968 }</string>
	
								<string>{ 76.06650,50.80333 }</string>
	
								<string>{ 89.91690,23.37950 }</string>

							</array>

							<array>
	
								<string>{ 48.36566,33.07480 }</string>
	
								<string>{ 53.35181,68.53186 }</string>
	
								<string>{ 76.06650,50.80333 }</string>
	
								<string>{ 69.14130,28.91968 }</string>

							</array>

							<array>
	
								<string>{ -18.67035,42.21608 }</string>
	
								<string>{ -22.27147,48.31026 }</string>
	
								<string>{ -10.63712,72.13297 }</string>
	
								<string>{ 35.90030,87.09142 }</string>
	
								<string>{ 53.35181,68.53186 }</string>
	
								<string>{ 48.36566,33.07480 }</string>

							</array>

							<array>
	
								<string>{ 194.90305,50.80333 }</string>
	
								<string>{ 177.17453,5.37396 }</string>
	
								<string>{ 171.91138,26.70361 }</string>

							</array>

							<array>
	
								<string>{ -5.37395,92.63159 }</string>
	
								<string>{ 35.90030,87.09142 }</string>
	
								<string>{ -10.63712,72.13297 }</string>

							</array>

							<array>
	
								<string>{ -2.04985,124.76456 }</string>
	
								<string>{ 35.90030,87.09142 }</string>
	
								<string>{ -5.37395,92.63159 }</string>

							</array>

							<array>
	
								<string>{ -6.20499,160.49863 }</string>
	
								<string>{ 33.68420,100.66483 }</string>
	
								<string>{ 35.90030,87.09142 }</string>
	
								<string>{ -2.04985,124.76456 }</string>

							</array>

							<array>
	
								<string>{ 67.20224,-139.22438 }</string>
	
								<string>{ 240.99725,-160.16621 }</string>
	
								<string>{ 23.43491,-145.59557 }</string>
	
								<string>{ 43.37952,-139.77839 }</string>

							</array>

							<array>
	
								<string>{ 210.96954,69.91690 }</string>
	
								<string>{ 178.28256,-9.86150 }</string>
	
								<string>{ 177.17453,5.37396 }</string>
	
								<string>{ 194.90305,50.80333 }</string>

							</array>

							<array>
	
								<string>{ -6.20499,160.49863 }</string>
	
								<string>{ 39.22440,110.08310 }</string>
	
								<string>{ 33.68420,100.66483 }</string>

							</array>

							<array>
	
								<string>{ -6.20499,160.49863 }</string>
	
								<string>{ 52.24377,121.44046 }</string>
	
								<string>{ 39.22440,110.08310 }</string>

							</array>

							<array>
	
								<string>{ -6.20499,160.49863 }</string>
	
								<string>{ 71.08035,129.19669 }</string>
	
								<string>{ 52.24377,121.44046 }</string>

							</array>

							<array>
	
								<string>{ 239.77841,160.22162 }</string>
	
								<string>{ 71.08035,129.19669 }</string>
	
								<string>{ -6.20499,160.49863 }</string>

							</array>

							<array>
	
								<string>{ 210.96954,69.91690 }</string>
	
								<string>{ 178.83658,-24.26593 }</string>
	
								<string>{ 178.28256,-9.86150 }</string>

							</array>

							<array>
	
								<string>{ -94.57063,-146.42659 }</string>
	
								<string>{ 23.43491,-145.59557 }</string>
	
								<string>{ 240.99725,-160.16621 }</string>
	
								<string>{ -239.72299,-160.00000 }</string>
	
								<string>{ -239.72299,-152.96399 }</string>

							</array>

							<array>
	
								<string>{ 210.96954,69.91690 }</string>
	
								<string>{ 222.04987,92.35458 }</string>
	
								<string>{ 240.99725,-160.16621 }</string>
	
								<string>{ 177.45154,-38.94736 }</string>
	
								<string>{ 178.83658,-24.26593 }</string>

							</array>

							<array>
	
								<string>{ 84.93076,-136.73130 }</string>
	
								<string>{ 240.99725,-160.16621 }</string>
	
								<string>{ 67.20224,-139.22438 }</string>

							</array>

							<array>
	
								<string>{ 98.22714,-133.13019 }</string>
	
								<string>{ 240.99725,-160.16621 }</string>
	
								<string>{ 84.93076,-136.73130 }</string>

							</array>

							<array>
	
								<string>{ 112.90860,-127.31302 }</string>
	
								<string>{ 240.99725,-160.16621 }</string>
	
								<string>{ 98.22714,-133.13019 }</string>

							</array>

							<array>
	
								<string>{ 124.26593,-121.49584 }</string>
	
								<string>{ 240.99725,-160.16621 }</string>
	
								<string>{ 112.90860,-127.31302 }</string>

							</array>

							<array>
	
								<string>{ 135.62329,-114.01662 }</string>
	
								<string>{ 240.99725,-160.16621 }</string>
	
								<string>{ 124.26593,-121.49584 }</string>

							</array>

							<array>
	
								<string>{ 145.87259,-105.15235 }</string>
	
								<string>{ 240.99725,-160.16621 }</string>
	
								<string>{ 135.62329,-114.01662 }</string>

							</array>

							<array>
	
								<string>{ 154.18283,-95.45706 }</string>
	
								<string>{ 240.99725,-160.16621 }</string>
	
								<string>{ 145.87259,-105.15235 }</string>

							</array>

							<array>
	
								<string>{ 164.43216,-80.22160 }</string>
	
								<string>{ 240.99725,-160.16621 }</string>
	
								<string>{ 154.18283,-95.45706 }</string>

							</array>

							<array>
	
								<string>{ 172.46539,-63.60110 }</string>
	
								<string>{ 240.99725,-160.16621 }</string>
	
								<string>{ 164.43216,-80.22160 }</string>

							</array>

							<array>
	
								<string>{ 175.51248,-50.30470 }</string>
	
								<string>{ 240.99725,-160.16621 }</string>
	
								<string>{ 172.46539,-63.60110 }</string>

							</array>

							<array>
	
								<string>{ 177.45154,-38.94736 }</string>
	
								<string>{ 240.99725,-160.16621 }</string>
	
								<string>{ 175.51248,-50.30470 }</string>

							</array>

							<array>
	
								<string>{ 222.04987,92.35458 }</string>
	
								<string>{ 223.98892,105.65097 }</string>
	
								<string>{ 239.77841,160.22162 }</string>
	
								<string>{ 240.99725,-160.16621 }</string>

							</array>

							<array>
	
								<string>{ 219.00278,119.77841 }</string>
	
								<string>{ 239.77841,160.22162 }</string>
	
								<string>{ 223.98892,105.65097 }</string>

							</array>

							<array>
	
								<string>{ 201.82828,131.96677 }</string>
	
								<string>{ 239.77841,160.22162 }</string>
	
								<string>{ 219.00278,119.77841 }</string>

							</array>

							<array>
	
								<string>{ 179.94461,136.67590 }</string>
	
								<string>{ 239.77841,160.22162 }</string>
	
								<string>{ 201.82828,131.96677 }</string>

							</array>

							<array>
	
								<string>{ 143.93353,137.78394 }</string>
	
								<string>{ 239.77841,160.22162 }</string>
	
								<string>{ 179.94461,136.67590 }</string>

							</array>

							<array>
	
								<string>{ 100.44324,134.45984 }</string>
	
								<string>{ 239.77841,160.22162 }</string>
	
								<string>{ 143.93353,137.78394 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

