<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C43</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -58.15695,-61.40543 }</string>
	
								<string>{ -42.92149,-84.39712 }</string>
	
								<string>{ -74.14453,-71.97120 }</string>
	
								<string>{ -72.18575,-55.05396 }</string>

							</array>

							<array>
	
								<string>{ -73.39241,38.59457 }</string>
	
								<string>{ -93.89102,26.12920 }</string>
	
								<string>{ -102.75529,42.74969 }</string>

							</array>

							<array>
	
								<string>{ 105.00095,90.94914 }</string>
	
								<string>{ 114.69623,83.46992 }</string>
	
								<string>{ 123.00647,74.32864 }</string>
	
								<string>{ 95.30566,74.88266 }</string>
	
								<string>{ 93.08960,95.10428 }</string>

							</array>

							<array>
	
								<string>{ -73.39241,38.59457 }</string>
	
								<string>{ -45.13756,33.88544 }</string>
	
								<string>{ -88.35086,11.72478 }</string>
	
								<string>{ -93.89102,26.12920 }</string>

							</array>

							<array>
	
								<string>{ 77.68515,160.99902 }</string>
	
								<string>{ 284.61749,158.88644 }</string>
	
								<string>{ 105.83197,126.12921 }</string>
	
								<string>{ 85.05634,131.11536 }</string>

							</array>

							<array>
	
								<string>{ 123.00647,74.32864 }</string>
	
								<string>{ 128.26965,65.74139 }</string>
	
								<string>{ 133.25580,54.66106 }</string>
	
								<string>{ 125.72397,15.62590 }</string>
	
								<string>{ 93.08960,61.03226 }</string>
	
								<string>{ 95.30566,74.88266 }</string>

							</array>

							<array>
	
								<string>{ -85.38268,-2.08620 }</string>
	
								<string>{ -88.35086,11.72478 }</string>
	
								<string>{ -45.13756,33.88544 }</string>
	
								<string>{ -20.20682,27.79126 }</string>
	
								<string>{ -32.67220,-5.17273 }</string>
	
								<string>{ -55.66388,-17.08409 }</string>

							</array>

							<array>
	
								<string>{ 139.34998,106.46161 }</string>
	
								<string>{ 162.06467,128.89929 }</string>
	
								<string>{ 147.93723,97.59735 }</string>

							</array>

							<array>
	
								<string>{ -42.92149,-84.39712 }</string>
	
								<string>{ -23.80792,-106.83479 }</string>
	
								<string>{ -76.89488,-83.88255 }</string>
	
								<string>{ -74.14453,-71.97120 }</string>

							</array>

							<array>
	
								<string>{ 129.93170,113.94083 }</string>
	
								<string>{ 162.06467,128.89929 }</string>
	
								<string>{ 139.34998,106.46161 }</string>

							</array>

							<array>
	
								<string>{ 47.97916,8.20750 }</string>
	
								<string>{ 41.56604,-4.06470 }</string>
	
								<string>{ 11.09512,-0.74060 }</string>
	
								<string>{ 18.85135,20.58904 }</string>
	
								<string>{ 41.28903,18.92699 }</string>

							</array>

							<array>
	
								<string>{ 79.51617,32.22339 }</string>
	
								<string>{ 98.07574,-25.67136 }</string>
	
								<string>{ 85.61035,-18.46913 }</string>
	
								<string>{ 68.19666,14.55568 }</string>
	
								<string>{ 71.75995,26.68323 }</string>

							</array>

							<array>
	
								<string>{ -134.88826,13.94084 }</string>
	
								<string>{ -143.75253,46.07381 }</string>
	
								<string>{ -122.42288,10.06271 }</string>

							</array>

							<array>
	
								<string>{ -148.46167,14.77187 }</string>
	
								<string>{ -143.75253,46.07381 }</string>
	
								<string>{ -134.88826,13.94084 }</string>

							</array>

							<array>
	
								<string>{ -162.03507,12.00179 }</string>
	
								<string>{ -284.90792,49.03159 }</string>
	
								<string>{ -143.75253,46.07381 }</string>
	
								<string>{ -148.46167,14.77187 }</string>

							</array>

							<array>
	
								<string>{ 118.57434,121.14307 }</string>
	
								<string>{ 162.06467,128.89929 }</string>
	
								<string>{ 129.93170,113.94083 }</string>

							</array>

							<array>
	
								<string>{ -20.20682,27.79126 }</string>
	
								<string>{ 18.85135,20.58904 }</string>
	
								<string>{ -8.57248,-1.01761 }</string>
	
								<string>{ -32.67220,-5.17273 }</string>

							</array>

							<array>
	
								<string>{ 18.85135,20.58904 }</string>
	
								<string>{ 11.09512,-0.74060 }</string>
	
								<string>{ -8.57248,-1.01761 }</string>

							</array>

							<array>
	
								<string>{ 60.14532,7.61403 }</string>
	
								<string>{ 70.65192,-11.26692 }</string>
	
								<string>{ 41.56604,-4.06470 }</string>
	
								<string>{ 47.97916,8.20750 }</string>

							</array>

							<array>
	
								<string>{ 68.19666,14.55568 }</string>
	
								<string>{ 85.61035,-18.46913 }</string>
	
								<string>{ 70.65192,-11.26692 }</string>
	
								<string>{ 60.14532,7.61403 }</string>

							</array>

							<array>
	
								<string>{ 127.71564,-21.51622 }</string>
	
								<string>{ 98.07574,-25.67136 }</string>
	
								<string>{ 90.04248,49.95192 }</string>
	
								<string>{ 93.08960,61.03226 }</string>
	
								<string>{ 125.72397,15.62590 }</string>

							</array>

							<array>
	
								<string>{ -23.80792,-106.83479 }</string>
	
								<string>{ -6.07941,-123.73230 }</string>
	
								<string>{ -82.79097,-93.00410 }</string>
	
								<string>{ -76.89488,-83.88255 }</string>

							</array>

							<array>
	
								<string>{ 105.83197,126.12921 }</string>
	
								<string>{ 168.15884,135.54749 }</string>
	
								<string>{ 162.06467,128.89929 }</string>
	
								<string>{ 118.57434,121.14307 }</string>

							</array>

							<array>
	
								<string>{ 85.05634,39.70261 }</string>
	
								<string>{ 98.07574,-25.67136 }</string>
	
								<string>{ 79.51617,32.22339 }</string>

							</array>

							<array>
	
								<string>{ -6.07941,-123.73230 }</string>
	
								<string>{ -90.28992,-99.35556 }</string>
	
								<string>{ -82.79097,-93.00410 }</string>

							</array>

							<array>
	
								<string>{ 90.04248,49.95192 }</string>
	
								<string>{ 98.07574,-25.67136 }</string>
	
								<string>{ 85.05634,39.70261 }</string>

							</array>

							<array>
	
								<string>{ 132.70178,-34.53562 }</string>
	
								<string>{ 105.00095,-33.70459 }</string>
	
								<string>{ 98.07574,-25.67136 }</string>
	
								<string>{ 127.71564,-21.51622 }</string>

							</array>

							<array>
	
								<string>{ 132.70178,-34.53562 }</string>
	
								<string>{ 108.87906,-40.90681 }</string>
	
								<string>{ 105.00095,-33.70459 }</string>

							</array>

							<array>
	
								<string>{ 132.70178,-34.53562 }</string>
	
								<string>{ 141.28903,-45.33894 }</string>
	
								<string>{ 112.20316,-50.60210 }</string>
	
								<string>{ 108.87906,-40.90681 }</string>

							</array>

							<array>
	
								<string>{ 141.28903,-45.33894 }</string>
	
								<string>{ 155.97049,-51.71014 }</string>
	
								<string>{ 113.58820,-59.74338 }</string>
	
								<string>{ 112.20316,-50.60210 }</string>

							</array>

							<array>
	
								<string>{ 155.97049,-51.71014 }</string>
	
								<string>{ 112.20316,-73.03977 }</string>
	
								<string>{ 113.58820,-59.74338 }</string>

							</array>

							<array>
	
								<string>{ 155.97049,-51.71014 }</string>
	
								<string>{ 170.92892,-53.37218 }</string>
	
								<string>{ 108.60205,-86.89019 }</string>
	
								<string>{ 112.20316,-73.03977 }</string>

							</array>

							<array>
	
								<string>{ 170.92892,-53.37218 }</string>
	
								<string>{ 185.05634,-52.26415 }</string>
	
								<string>{ 103.06189,-98.80155 }</string>
	
								<string>{ 108.60205,-86.89019 }</string>

							</array>

							<array>
	
								<string>{ -6.07941,-123.73230 }</string>
	
								<string>{ -98.32317,-103.51069 }</string>
	
								<string>{ -90.28992,-99.35556 }</string>

							</array>

							<array>
	
								<string>{ -173.11541,7.29263 }</string>
	
								<string>{ -284.90792,49.03159 }</string>
	
								<string>{ -162.03507,12.00179 }</string>

							</array>

							<array>
	
								<string>{ -182.53369,1.47546 }</string>
	
								<string>{ -284.90792,49.03159 }</string>
	
								<string>{ -173.11541,7.29263 }</string>

							</array>

							<array>
	
								<string>{ -188.62788,-6.28078 }</string>
	
								<string>{ -284.90792,49.03159 }</string>
	
								<string>{ -182.53369,1.47546 }</string>

							</array>

							<array>
	
								<string>{ -188.62788,-6.28078 }</string>
	
								<string>{ -193.06001,-14.86803 }</string>
	
								<string>{ -284.23856,-161.55402 }</string>
	
								<string>{ -284.90792,49.03159 }</string>

							</array>

							<array>
	
								<string>{ 185.05634,-52.26415 }</string>
	
								<string>{ 199.73779,-46.44698 }</string>
	
								<string>{ 95.58267,-109.88188 }</string>
	
								<string>{ 103.06189,-98.80155 }</string>

							</array>

							<array>
	
								<string>{ -6.07941,-123.73230 }</string>
	
								<string>{ 9.43307,-130.10349 }</string>
	
								<string>{ -107.74144,-104.89573 }</string>
	
								<string>{ -98.32317,-103.51069 }</string>

							</array>

							<array>
	
								<string>{ 105.83197,126.12921 }</string>
	
								<string>{ 175.63806,138.59457 }</string>
	
								<string>{ 168.15884,135.54749 }</string>

							</array>

							<array>
	
								<string>{ 9.43307,-130.10349 }</string>
	
								<string>{ -284.23856,-161.55402 }</string>
	
								<string>{ -115.77469,-104.89573 }</string>
	
								<string>{ -107.74144,-104.89573 }</string>

							</array>

							<array>
	
								<string>{ 199.73779,-46.44698 }</string>
	
								<string>{ 284.98383,-160.23856 }</string>
	
								<string>{ 84.77933,-118.46914 }</string>
	
								<string>{ 95.58267,-109.88188 }</string>

							</array>

							<array>
	
								<string>{ -140.15141,-97.41651 }</string>
	
								<string>{ -284.23856,-161.55402 }</string>
	
								<string>{ -156.77192,-89.10625 }</string>

							</array>

							<array>
	
								<string>{ -196.66112,-25.67136 }</string>
	
								<string>{ -284.23856,-161.55402 }</string>
	
								<string>{ -193.06001,-14.86803 }</string>

							</array>

							<array>
	
								<string>{ -197.21513,-36.19767 }</string>
	
								<string>{ -284.23856,-161.55402 }</string>
	
								<string>{ -196.66112,-25.67136 }</string>

							</array>

							<array>
	
								<string>{ -196.38411,-47.55501 }</string>
	
								<string>{ -284.23856,-161.55402 }</string>
	
								<string>{ -197.21513,-36.19767 }</string>

							</array>

							<array>
	
								<string>{ -191.12095,-58.91235 }</string>
	
								<string>{ -284.23856,-161.55402 }</string>
	
								<string>{ -196.38411,-47.55501 }</string>

							</array>

							<array>
	
								<string>{ -183.64172,-68.33064 }</string>
	
								<string>{ -284.23856,-161.55402 }</string>
	
								<string>{ -191.12095,-58.91235 }</string>

							</array>

							<array>
	
								<string>{ -175.33147,-75.80986 }</string>
	
								<string>{ -284.23856,-161.55402 }</string>
	
								<string>{ -183.64172,-68.33064 }</string>

							</array>

							<array>
	
								<string>{ -166.19020,-83.28909 }</string>
	
								<string>{ -284.23856,-161.55402 }</string>
	
								<string>{ -175.33147,-75.80986 }</string>

							</array>

							<array>
	
								<string>{ -156.77192,-89.10625 }</string>
	
								<string>{ -284.23856,-161.55402 }</string>
	
								<string>{ -166.19020,-83.28909 }</string>

							</array>

							<array>
	
								<string>{ -132.11818,-101.01762 }</string>
	
								<string>{ -284.23856,-161.55402 }</string>
	
								<string>{ -140.15141,-97.41651 }</string>

							</array>

							<array>
	
								<string>{ -123.25391,-103.23368 }</string>
	
								<string>{ -284.23856,-161.55402 }</string>
	
								<string>{ -132.11818,-101.01762 }</string>

							</array>

							<array>
	
								<string>{ -115.77469,-104.89573 }</string>
	
								<string>{ -284.23856,-161.55402 }</string>
	
								<string>{ -123.25391,-103.23368 }</string>

							</array>

							<array>
	
								<string>{ 22.45245,-132.59656 }</string>
	
								<string>{ -284.23856,-161.55402 }</string>
	
								<string>{ 9.43307,-130.10349 }</string>

							</array>

							<array>
	
								<string>{ 22.45245,-132.59656 }</string>
	
								<string>{ 284.98383,-160.23856 }</string>
	
								<string>{ -284.23856,-161.55402 }</string>

							</array>

							<array>
	
								<string>{ 284.61749,158.88644 }</string>
	
								<string>{ 188.93448,128.89929 }</string>
	
								<string>{ 175.63806,138.59457 }</string>

							</array>

							<array>
	
								<string>{ 284.61749,158.88644 }</string>
	
								<string>{ 198.07574,109.50870 }</string>
	
								<string>{ 188.93448,128.89929 }</string>

							</array>

							<array>
	
								<string>{ 284.61749,158.88644 }</string>
	
								<string>{ 210.26410,72.66660 }</string>
	
								<string>{ 198.07574,109.50870 }</string>

							</array>

							<array>
	
								<string>{ 284.98383,-160.23856 }</string>
	
								<string>{ 215.25024,52.16798 }</string>
	
								<string>{ 210.26410,72.66660 }</string>
	
								<string>{ 284.61749,158.88644 }</string>

							</array>

							<array>
	
								<string>{ 284.98383,-160.23856 }</string>
	
								<string>{ 217.46631,30.28433 }</string>
	
								<string>{ 215.25024,52.16798 }</string>

							</array>

							<array>
	
								<string>{ 284.98383,-160.23856 }</string>
	
								<string>{ 219.40536,4.79956 }</string>
	
								<string>{ 217.46631,30.28433 }</string>

							</array>

							<array>
	
								<string>{ 284.98383,-160.23856 }</string>
	
								<string>{ 218.29733,-9.88188 }</string>
	
								<string>{ 219.40536,4.79956 }</string>

							</array>

							<array>
	
								<string>{ 284.98383,-160.23856 }</string>
	
								<string>{ 214.97324,-25.39435 }</string>
	
								<string>{ 218.29733,-9.88188 }</string>

							</array>

							<array>
	
								<string>{ 284.98383,-160.23856 }</string>
	
								<string>{ 209.43307,-37.02869 }</string>
	
								<string>{ 214.97324,-25.39435 }</string>

							</array>

							<array>
	
								<string>{ 284.98383,-160.23856 }</string>
	
								<string>{ 199.73779,-46.44698 }</string>
	
								<string>{ 209.43307,-37.02869 }</string>

							</array>

							<array>
	
								<string>{ 284.98383,-160.23856 }</string>
	
								<string>{ 73.14499,-124.56332 }</string>
	
								<string>{ 84.77933,-118.46914 }</string>

							</array>

							<array>
	
								<string>{ 284.98383,-160.23856 }</string>
	
								<string>{ 63.17270,-129.27246 }</string>
	
								<string>{ 73.14499,-124.56332 }</string>

							</array>

							<array>
	
								<string>{ 284.98383,-160.23856 }</string>
	
								<string>{ 50.15329,-132.04255 }</string>
	
								<string>{ 63.17270,-129.27246 }</string>

							</array>

							<array>
	
								<string>{ 284.98383,-160.23856 }</string>
	
								<string>{ 36.57990,-133.98161 }</string>
	
								<string>{ 50.15329,-132.04255 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

