<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entities</key>
	<array>
		<dict>
			<key>components</key>
			<dict>
				<key>slinger</key>
				<dict>
					<key>queuedBeeTypes</key>
					<array>
						<string>BEE</string>
					</array>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{94, 267}</string>
					<key>rotation</key>
					<real>326</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>SLINGER</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{360, 265}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{360, 265}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>EGG-REFLECTION</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>captured</key>
				<dict>
					<key>containedBeeType</key>
					<string>TBEE</string>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>-2.7227139472961426</real>
					<key>position</key>
					<string>{405, 252}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{405, 252}</string>
					<key>rotation</key>
					<real>156.00001525878906</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>FROZEN-TBEE</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>captured</key>
				<dict>
					<key>containedBeeType</key>
					<string>BEE</string>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{435, 207}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{435, 207}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>BEEATER-HANGING-C-REFLECTION</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>captured</key>
				<dict>
					<key>containedBeeType</key>
					<string>BOMBEE</string>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{206, 199}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{206, 199}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{-1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>BEEATER-HANGING-C</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>captured</key>
				<dict>
					<key>containedBeeType</key>
					<string>BEE</string>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{95, 71}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{95, 71}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{-1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>BEEATER-LAND-C-REFLECTION</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>captured</key>
				<dict>
					<key>containedBeeType</key>
					<string>SPEEDEE</string>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{179, 43}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{179, 43}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{-1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>BEEATER-LAND-C-REFLECTION</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>captured</key>
				<dict>
					<key>containedBeeType</key>
					<string>BEE</string>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{348, 14}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{348, 14}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>BEEATER-LAND-C-REFLECTION</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>overrideBodyName</key>
					<string>C35b-Ice</string>
					<key>position</key>
					<string>{376, 184}</string>
				</dict>
				<key>render</key>
				<dict>
					<key>overrideTextureFile</key>
					<string>C35b-Ice.png</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{376, 184}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>ICE</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>overrideBodyName</key>
					<string>C35a-Ice</string>
					<key>position</key>
					<string>{150, 209}</string>
				</dict>
				<key>render</key>
				<dict>
					<key>overrideTextureFile</key>
					<string>C35a-Ice.png</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{150, 209}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>ICE</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>overrideBodyName</key>
					<string>C35c-Ice</string>
					<key>position</key>
					<string>{292, 62}</string>
				</dict>
				<key>render</key>
				<dict>
					<key>overrideTextureFile</key>
					<string>C35c-Ice.png</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{292, 62}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>ICE</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{196, 319}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{196, 319}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>ICICLE-SMALL</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{193, 319}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{193, 319}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>ICICLE</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{186, 319}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{186, 319}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>ICICLE-SMALL</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{188, 329}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{188, 329}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>ICICLE-SMALL</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{180, 339}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{180, 339}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>ICICLE-SMALL</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{183, 330}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{183, 330}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>ICICLE-SMALL</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{221, 208}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{221, 208}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>EGG-REFLECTION</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{204, 275}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{204, 275}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>ICICLE-SMALL</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{206, 278}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{206, 278}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>ICICLE-SMALL</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{201, 336}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{201, 336}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>ICICLE-SMALL</string>
		</dict>
	</array>
	<key>format</key>
	<integer>2</integer>
	<key>hasWater</key>
	<false/>
	<key>name</key>
	<string>Level-C35</string>
	<key>version</key>
	<integer>11</integer>
</dict>
</plist>
