<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C56</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -14.33884,70.69600 }</string>
	
								<string>{ -10.98688,88.85242 }</string>
	
								<string>{ 14.99078,76.00325 }</string>
	
								<string>{ -5.67960,60.91946 }</string>

							</array>

							<array>
	
								<string>{ -7.35559,109.24347 }</string>
	
								<string>{ 31.19189,84.66248 }</string>
	
								<string>{ 14.99078,76.00325 }</string>
	
								<string>{ -10.98688,88.85242 }</string>

							</array>

							<array>
	
								<string>{ 283.99780,-159.66481 }</string>
	
								<string>{ 197.67236,-0.81239 }</string>
	
								<string>{ 196.55502,16.22672 }</string>
	
								<string>{ 195.43771,102.53958 }</string>
	
								<string>{ 283.81396,98.78720 }</string>

							</array>

							<array>
	
								<string>{ -7.35559,109.24347 }</string>
	
								<string>{ 54.65558,93.88036 }</string>
	
								<string>{ 31.19189,84.66248 }</string>

							</array>

							<array>
	
								<string>{ 129.79526,115.66806 }</string>
	
								<string>{ 73.37067,98.34964 }</string>
	
								<string>{ 54.65558,93.88036 }</string>
	
								<string>{ -7.35559,109.24347 }</string>

							</array>

							<array>
	
								<string>{ 147.39304,-79.58334 }</string>
	
								<string>{ 69.73938,-142.99116 }</string>
	
								<string>{ 134.26453,-79.58334 }</string>

							</array>

							<array>
	
								<string>{ 103.53827,-109.19228 }</string>
	
								<string>{ 69.73938,-142.99116 }</string>
	
								<string>{ 83.42654,-123.71742 }</string>

							</array>

							<array>
	
								<string>{ 160.24219,-75.67272 }</string>
	
								<string>{ 283.99780,-159.66481 }</string>
	
								<string>{ 69.73938,-142.99116 }</string>
	
								<string>{ 147.39304,-79.58334 }</string>

							</array>

							<array>
	
								<string>{ 50.46564,-148.29842 }</string>
	
								<string>{ 283.99780,-159.66481 }</string>
	
								<string>{ -284.30960,-160.30960 }</string>
	
								<string>{ -283.87893,-148.21229 }</string>

							</array>

							<array>
	
								<string>{ 69.73938,-142.99116 }</string>
	
								<string>{ 283.99780,-159.66481 }</string>
	
								<string>{ 50.46564,-148.29842 }</string>

							</array>

							<array>
	
								<string>{ 171.97403,-66.45485 }</string>
	
								<string>{ 283.99780,-159.66481 }</string>
	
								<string>{ 160.24219,-75.67272 }</string>

							</array>

							<array>
	
								<string>{ 180.35391,-55.00233 }</string>
	
								<string>{ 283.99780,-159.66481 }</string>
	
								<string>{ 171.97403,-66.45485 }</string>

							</array>

							<array>
	
								<string>{ 187.05783,-44.66714 }</string>
	
								<string>{ 283.99780,-159.66481 }</string>
	
								<string>{ 180.35391,-55.00233 }</string>

							</array>

							<array>
	
								<string>{ 192.08575,-30.97998 }</string>
	
								<string>{ 283.99780,-159.66481 }</string>
	
								<string>{ 187.05783,-44.66714 }</string>

							</array>

							<array>
	
								<string>{ 195.99637,-17.01350 }</string>
	
								<string>{ 283.99780,-159.66481 }</string>
	
								<string>{ 192.08575,-30.97998 }</string>

							</array>

							<array>
	
								<string>{ 197.67236,-0.81239 }</string>
	
								<string>{ 283.99780,-159.66481 }</string>
	
								<string>{ 195.99637,-17.01350 }</string>

							</array>

							<array>
	
								<string>{ 155.21426,109.80215 }</string>
	
								<string>{ 94.59973,100.30493 }</string>
	
								<string>{ 73.37067,98.34964 }</string>
	
								<string>{ 129.79526,115.66806 }</string>

							</array>

							<array>
	
								<string>{ 195.43771,102.53958 }</string>
	
								<string>{ 111.91815,98.90829 }</string>
	
								<string>{ 94.59973,100.30493 }</string>
	
								<string>{ 155.21426,109.80215 }</string>

							</array>

							<array>
	
								<string>{ 195.43771,102.53958 }</string>
	
								<string>{ 125.88464,95.27699 }</string>
	
								<string>{ 111.91815,98.90829 }</string>

							</array>

							<array>
	
								<string>{ 195.43771,102.53958 }</string>
	
								<string>{ 139.01312,89.96974 }</string>
	
								<string>{ 125.88464,95.27699 }</string>

							</array>

							<array>
	
								<string>{ 195.43771,102.53958 }</string>
	
								<string>{ 151.30365,83.82449 }</string>
	
								<string>{ 139.01312,89.96974 }</string>

							</array>

							<array>
	
								<string>{ 195.43771,102.53958 }</string>
	
								<string>{ 163.03549,75.44460 }</string>
	
								<string>{ 151.30365,83.82449 }</string>

							</array>

							<array>
	
								<string>{ 195.43771,102.53958 }</string>
	
								<string>{ 174.20868,64.27141 }</string>
	
								<string>{ 163.03549,75.44460 }</string>

							</array>

							<array>
	
								<string>{ 195.43771,102.53958 }</string>
	
								<string>{ 181.47122,54.49487 }</string>
	
								<string>{ 174.20868,64.27141 }</string>

							</array>

							<array>
	
								<string>{ 195.43771,102.53958 }</string>
	
								<string>{ 188.17514,42.76303 }</string>
	
								<string>{ 181.47122,54.49487 }</string>

							</array>

							<array>
	
								<string>{ 195.43771,102.53958 }</string>
	
								<string>{ 192.92374,30.19321 }</string>
	
								<string>{ 188.17514,42.76303 }</string>

							</array>

							<array>
	
								<string>{ 195.43771,102.53958 }</string>
	
								<string>{ 196.55502,16.22672 }</string>
	
								<string>{ 192.92374,30.19321 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 22.00430,159.57867 }</string>
	
								<string>{ 85.97076,148.62897 }</string>
	
								<string>{ 92.67468,136.89713 }</string>
	
								<string>{ 3.84787,131.86917 }</string>

							</array>

							<array>
	
								<string>{ 85.97076,148.62897 }</string>
	
								<string>{ 22.00430,159.57867 }</string>
	
								<string>{ 85.74731,159.57867 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -148.16798,10.82173 }</string>
	
								<string>{ -193.41937,24.22955 }</string>
	
								<string>{ -219.29412,34.73685 }</string>
	
								<string>{ -223.31889,62.60062 }</string>
	
								<string>{ -164.03390,71.49213 }</string>

							</array>

							<array>
	
								<string>{ -170.51434,-59.29000 }</string>
	
								<string>{ -140.62608,-9.56932 }</string>
	
								<string>{ -91.86447,-123.99675 }</string>
	
								<string>{ -178.78960,-123.74768 }</string>

							</array>

							<array>
	
								<string>{ -284.30960,47.03651 }</string>
	
								<string>{ -223.31889,62.60062 }</string>
	
								<string>{ -219.29412,34.73685 }</string>
	
								<string>{ -283.41107,1.43089 }</string>

							</array>

							<array>
	
								<string>{ 40.93817,-83.59167 }</string>
	
								<string>{ 87.30688,-54.82072 }</string>
	
								<string>{ 94.01080,-78.28442 }</string>
	
								<string>{ 88.42419,-87.22296 }</string>
	
								<string>{ 71.38510,-98.11682 }</string>
	
								<string>{ 54.62534,-106.77604 }</string>

							</array>

							<array>
	
								<string>{ 86.18958,-32.75368 }</string>
	
								<string>{ 5.46332,-67.11123 }</string>
	
								<string>{ 7.41861,-7.89336 }</string>
	
								<string>{ 23.34039,13.05637 }</string>
	
								<string>{ 75.29572,6.63179 }</string>
	
								<string>{ 97.08344,-17.11122 }</string>

							</array>

							<array>
	
								<string>{ -148.16798,10.82173 }</string>
	
								<string>{ -140.62608,-9.56932 }</string>
	
								<string>{ -170.51434,-59.29000 }</string>
	
								<string>{ -193.41937,24.22955 }</string>

							</array>

							<array>
	
								<string>{ 5.46332,-67.11123 }</string>
	
								<string>{ 86.18958,-32.75368 }</string>
	
								<string>{ 87.30688,-54.82072 }</string>
	
								<string>{ 40.93817,-83.59167 }</string>

							</array>

							<array>
	
								<string>{ -91.86447,-123.99675 }</string>
	
								<string>{ -4.87189,-21.02184 }</string>
	
								<string>{ 7.41861,-7.89336 }</string>
	
								<string>{ 5.46332,-67.11123 }</string>

							</array>

							<array>
	
								<string>{ -91.86447,-123.99675 }</string>
	
								<string>{ -18.83838,-34.15034 }</string>
	
								<string>{ -4.87189,-21.02184 }</string>

							</array>

							<array>
	
								<string>{ -91.86447,-123.99675 }</string>
	
								<string>{ -33.92216,-47.27882 }</string>
	
								<string>{ -18.83838,-34.15034 }</string>

							</array>

							<array>
	
								<string>{ -91.86447,-123.99675 }</string>
	
								<string>{ -46.77133,-56.21738 }</string>
	
								<string>{ -33.92216,-47.27882 }</string>

							</array>

							<array>
	
								<string>{ -91.86447,-123.99675 }</string>
	
								<string>{ -60.73781,-64.87659 }</string>
	
								<string>{ -46.77133,-56.21738 }</string>

							</array>

							<array>
	
								<string>{ -91.86447,-123.99675 }</string>
	
								<string>{ -74.70428,-70.74252 }</string>
	
								<string>{ -60.73781,-64.87659 }</string>

							</array>

							<array>
	
								<string>{ -91.86447,-123.99675 }</string>
	
								<string>{ -84.48082,-72.69782 }</string>
	
								<string>{ -74.70428,-70.74252 }</string>

							</array>

							<array>
	
								<string>{ -91.86447,-123.99675 }</string>
	
								<string>{ -94.81602,-71.85983 }</string>
	
								<string>{ -84.48082,-72.69782 }</string>

							</array>

							<array>
	
								<string>{ -91.86447,-123.99675 }</string>
	
								<string>{ -102.63725,-68.22855 }</string>
	
								<string>{ -94.81602,-71.85983 }</string>

							</array>

							<array>
	
								<string>{ -91.86447,-123.99675 }</string>
	
								<string>{ -111.01714,-60.68665 }</string>
	
								<string>{ -102.63725,-68.22855 }</string>

							</array>

							<array>
	
								<string>{ -91.86447,-123.99675 }</string>
	
								<string>{ -120.79367,-48.39614 }</string>
	
								<string>{ -111.01714,-60.68665 }</string>

							</array>

							<array>
	
								<string>{ -91.86447,-123.99675 }</string>
	
								<string>{ -132.52551,-28.28441 }</string>
	
								<string>{ -120.79367,-48.39614 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

