<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C23</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -96.80473,45.62129 }</string>
	
								<string>{ -239.70414,15.44379 }</string>
	
								<string>{ -167.51479,45.02957 }</string>
	
								<string>{ -97.98817,53.01775 }</string>
	
								<string>{ -92.30769,50.41420 }</string>

							</array>

							<array>
	
								<string>{ -115.44379,2.72189 }</string>
	
								<string>{ -163.07693,-0.23669 }</string>
	
								<string>{ -239.70414,15.44379 }</string>
	
								<string>{ -96.80473,45.62129 }</string>
	
								<string>{ -96.21303,18.40236 }</string>

							</array>

							<array>
	
								<string>{ -163.07693,-0.23669 }</string>
	
								<string>{ -115.44379,2.72189 }</string>
	
								<string>{ -134.67456,-10.88757 }</string>

							</array>

							<array>
	
								<string>{ -167.51479,45.02957 }</string>
	
								<string>{ -239.70414,15.44379 }</string>
	
								<string>{ -240.29586,32.36685 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -94.73373,-54.37870 }</string>
	
								<string>{ -118.69823,-31.00592 }</string>
	
								<string>{ -95.85799,-15.56213 }</string>

							</array>

							<array>
	
								<string>{ -94.73373,-54.37870 }</string>
	
								<string>{ -94.43788,-94.02367 }</string>
	
								<string>{ -148.87574,-47.57397 }</string>
	
								<string>{ -118.69823,-31.00592 }</string>

							</array>

							<array>
	
								<string>{ -189.70414,-65.32545 }</string>
	
								<string>{ -94.43788,-94.02367 }</string>
	
								<string>{ -96.50888,-146.09468 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -240.29586,-80.65089 }</string>

							</array>

							<array>
	
								<string>{ -17.21895,-35.73965 }</string>
	
								<string>{ 22.42603,-35.14793 }</string>
	
								<string>{ 9.40828,-51.71598 }</string>
	
								<string>{ -18.69823,-49.64497 }</string>

							</array>

							<array>
	
								<string>{ 137.81064,-74.20119 }</string>
	
								<string>{ 95.50296,-89.58580 }</string>
	
								<string>{ 87.51477,-77.75148 }</string>
	
								<string>{ 102.30768,-52.89941 }</string>
	
								<string>{ 124.20117,-52.89941 }</string>

							</array>

							<array>
	
								<string>{ -94.43788,-94.02367 }</string>
	
								<string>{ -189.70414,-65.32545 }</string>
	
								<string>{ -148.87574,-47.57397 }</string>

							</array>

							<array>
	
								<string>{ 22.42603,-35.14793 }</string>
	
								<string>{ -17.21895,-35.73965 }</string>
	
								<string>{ -21.06509,-17.39645 }</string>

							</array>

							<array>
	
								<string>{ 22.42603,-35.14793 }</string>
	
								<string>{ 51.12424,-44.61539 }</string>
	
								<string>{ 38.99408,-56.74557 }</string>
	
								<string>{ 9.40828,-51.71598 }</string>

							</array>

							<array>
	
								<string>{ 51.12424,-44.61539 }</string>
	
								<string>{ 76.56802,-50.23669 }</string>
	
								<string>{ 59.40826,-62.66273 }</string>
	
								<string>{ 38.99408,-56.74557 }</string>

							</array>

							<array>
	
								<string>{ 76.56802,-50.23669 }</string>
	
								<string>{ 102.30768,-52.89941 }</string>
	
								<string>{ 74.20117,-68.57989 }</string>
	
								<string>{ 59.40826,-62.66273 }</string>

							</array>

							<array>
	
								<string>{ 102.30768,-52.89941 }</string>
	
								<string>{ 87.51477,-77.75148 }</string>
	
								<string>{ 74.20117,-68.57989 }</string>

							</array>

							<array>
	
								<string>{ 137.81064,-74.20119 }</string>
	
								<string>{ 137.21893,-84.26036 }</string>
	
								<string>{ 131.59763,-99.64497 }</string>
	
								<string>{ 96.98224,-104.37870 }</string>
	
								<string>{ 95.50296,-89.58580 }</string>

							</array>

							<array>
	
								<string>{ 129.82248,-117.98817 }</string>
	
								<string>{ 93.13608,-115.91716 }</string>
	
								<string>{ 96.98224,-104.37870 }</string>
	
								<string>{ 131.59763,-99.64497 }</string>

							</array>

							<array>
	
								<string>{ 133.37277,-134.55621 }</string>
	
								<string>{ 85.44379,-125.38462 }</string>
	
								<string>{ 93.13608,-115.91716 }</string>
	
								<string>{ 129.82248,-117.98817 }</string>

							</array>

							<array>
	
								<string>{ 137.81064,-147.86982 }</string>
	
								<string>{ 74.79288,-131.00592 }</string>
	
								<string>{ 85.44379,-125.38462 }</string>
	
								<string>{ 133.37277,-134.55621 }</string>

							</array>

							<array>
	
								<string>{ -5.97633,-98.46154 }</string>
	
								<string>{ -12.18936,-146.98225 }</string>
	
								<string>{ -16.62723,-88.99409 }</string>
	
								<string>{ -12.78107,-90.76923 }</string>

							</array>

							<array>
	
								<string>{ 4.37869,-107.63314 }</string>
	
								<string>{ -12.18936,-146.98225 }</string>
	
								<string>{ -5.97633,-98.46154 }</string>

							</array>

							<array>
	
								<string>{ 15.91714,-116.80474 }</string>
	
								<string>{ -12.18936,-146.98225 }</string>
	
								<string>{ 4.37869,-107.63314 }</string>

							</array>

							<array>
	
								<string>{ 29.23077,-124.79290 }</string>
	
								<string>{ -12.18936,-146.98225 }</string>
	
								<string>{ 15.91714,-116.80474 }</string>

							</array>

							<array>
	
								<string>{ 46.68637,-131.00592 }</string>
	
								<string>{ -12.18936,-146.98225 }</string>
	
								<string>{ 29.23077,-124.79290 }</string>

							</array>

							<array>
	
								<string>{ 240.17749,-159.70414 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -12.18936,-146.98225 }</string>
	
								<string>{ 239.58578,-149.64497 }</string>

							</array>

							<array>
	
								<string>{ 62.36685,-132.78107 }</string>
	
								<string>{ 137.81064,-147.86982 }</string>
	
								<string>{ -12.18936,-146.98225 }</string>
	
								<string>{ 46.68637,-131.00592 }</string>

							</array>

							<array>
	
								<string>{ 137.81064,-147.86982 }</string>
	
								<string>{ 62.36685,-132.78107 }</string>
	
								<string>{ 74.79288,-131.00592 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -96.50888,-146.09468 }</string>
	
								<string>{ -12.18936,-146.98225 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -24.61539,52.48520 }</string>
	
								<string>{ 65.91714,47.69231 }</string>
	
								<string>{ 8.22484,18.10651 }</string>
	
								<string>{ -24.61539,12.48520 }</string>

							</array>

							<array>
	
								<string>{ 240.17749,-58.81657 }</string>
	
								<string>{ 191.65680,-59.40829 }</string>
	
								<string>{ 149.05325,-23.01776 }</string>
	
								<string>{ 148.16568,40.00000 }</string>
	
								<string>{ 240.53253,26.15384 }</string>

							</array>

							<array>
	
								<string>{ 139.28992,-47.86983 }</string>
	
								<string>{ 144.91122,-39.58580 }</string>
	
								<string>{ 191.65680,-59.40829 }</string>
	
								<string>{ 151.42010,-65.91716 }</string>

							</array>

							<array>
	
								<string>{ 148.16568,40.00000 }</string>
	
								<string>{ 8.22484,18.10651 }</string>
	
								<string>{ 65.91714,47.69231 }</string>

							</array>

							<array>
	
								<string>{ 147.57394,-31.00592 }</string>
	
								<string>{ 191.65680,-59.40829 }</string>
	
								<string>{ 144.91122,-39.58580 }</string>

							</array>

							<array>
	
								<string>{ 149.05325,-23.01776 }</string>
	
								<string>{ 191.65680,-59.40829 }</string>
	
								<string>{ 147.57394,-31.00592 }</string>

							</array>

							<array>
	
								<string>{ 148.16568,40.00000 }</string>
	
								<string>{ 53.49112,22.24852 }</string>
	
								<string>{ 31.00592,21.06508 }</string>

							</array>

							<array>
	
								<string>{ 148.16568,40.00000 }</string>
	
								<string>{ 81.00592,22.24852 }</string>
	
								<string>{ 53.49112,22.24852 }</string>

							</array>

							<array>
	
								<string>{ 148.16568,40.00000 }</string>
	
								<string>{ 97.57394,20.17751 }</string>
	
								<string>{ 81.00592,22.24852 }</string>

							</array>

							<array>
	
								<string>{ 148.16568,40.00000 }</string>
	
								<string>{ 114.43787,17.21893 }</string>
	
								<string>{ 97.57394,20.17751 }</string>

							</array>

							<array>
	
								<string>{ 148.16568,40.00000 }</string>
	
								<string>{ 126.86389,12.18935 }</string>
	
								<string>{ 114.43787,17.21893 }</string>

							</array>

							<array>
	
								<string>{ 148.16568,40.00000 }</string>
	
								<string>{ 135.73962,6.56804 }</string>
	
								<string>{ 126.86389,12.18935 }</string>

							</array>

							<array>
	
								<string>{ 148.16568,40.00000 }</string>
	
								<string>{ 142.54437,-0.23669 }</string>
	
								<string>{ 135.73962,6.56804 }</string>

							</array>

							<array>
	
								<string>{ 148.16568,40.00000 }</string>
	
								<string>{ 146.98224,-6.44971 }</string>
	
								<string>{ 142.54437,-0.23669 }</string>

							</array>

							<array>
	
								<string>{ 148.16568,40.00000 }</string>
	
								<string>{ 148.75739,-14.43788 }</string>
	
								<string>{ 146.98224,-6.44971 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

