<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C20</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -113.19648,-15.60118 }</string>
	
								<string>{ -111.26100,-30.67448 }</string>
	
								<string>{ -113.60704,-70.55719 }</string>
	
								<string>{ -122.11144,-97.24340 }</string>
	
								<string>{ -241.17302,-160.58651 }</string>
	
								<string>{ -240.87977,-25.86511 }</string>

							</array>

							<array>
	
								<string>{ -46.15836,-28.03519 }</string>
	
								<string>{ -71.67155,-31.55426 }</string>
	
								<string>{ -85.16130,-27.74194 }</string>
	
								<string>{ -87.21408,-21.29033 }</string>
	
								<string>{ -88.09384,-12.19942 }</string>
	
								<string>{ -63.46042,-12.78593 }</string>
	
								<string>{ -49.38417,-16.30499 }</string>
	
								<string>{ -42.63930,-22.17009 }</string>

							</array>

							<array>
	
								<string>{ 124.51611,-146.21701 }</string>
	
								<string>{ 84.92667,-74.07625 }</string>
	
								<string>{ 84.92667,-49.73608 }</string>
	
								<string>{ 127.44867,-92.55132 }</string>

							</array>

							<array>
	
								<string>{ -87.21408,-40.35191 }</string>
	
								<string>{ -88.68036,-36.53959 }</string>
	
								<string>{ -85.16130,-27.74194 }</string>
	
								<string>{ -71.67155,-31.55426 }</string>

							</array>

							<array>
	
								<string>{ -87.21408,-40.35191 }</string>
	
								<string>{ -100.99707,-52.08212 }</string>
	
								<string>{ -96.30499,-39.76540 }</string>
	
								<string>{ -88.68036,-36.53959 }</string>

							</array>

							<array>
	
								<string>{ -100.99707,-52.08212 }</string>
	
								<string>{ -113.60704,-70.55719 }</string>
	
								<string>{ -105.98241,-36.83285 }</string>
	
								<string>{ -96.30499,-39.76540 }</string>

							</array>

							<array>
	
								<string>{ -113.60704,-70.55719 }</string>
	
								<string>{ -111.26100,-30.67448 }</string>
	
								<string>{ -105.98241,-36.83285 }</string>

							</array>

							<array>
	
								<string>{ 124.51611,-146.21701 }</string>
	
								<string>{ 82.58063,-103.69501 }</string>
	
								<string>{ 84.92667,-74.07625 }</string>

							</array>

							<array>
	
								<string>{ 124.51611,-146.21701 }</string>
	
								<string>{ 78.18182,-122.46334 }</string>
	
								<string>{ 82.58063,-103.69501 }</string>

							</array>

							<array>
	
								<string>{ 124.51611,-146.21701 }</string>
	
								<string>{ 69.09091,-137.71261 }</string>
	
								<string>{ 78.18182,-122.46334 }</string>

							</array>

							<array>
	
								<string>{ 124.51611,-146.21701 }</string>
	
								<string>{ 59.12024,-144.75073 }</string>
	
								<string>{ 69.09091,-137.71261 }</string>

							</array>

							<array>
	
								<string>{ 241.23166,-160.58651 }</string>
	
								<string>{ -241.17302,-160.58651 }</string>
	
								<string>{ -119.17889,-145.92375 }</string>
	
								<string>{ 241.52490,-147.68328 }</string>

							</array>

							<array>
	
								<string>{ -124.45748,-115.13197 }</string>
	
								<string>{ -241.17302,-160.58651 }</string>
	
								<string>{ -122.11144,-97.24340 }</string>

							</array>

							<array>
	
								<string>{ -124.75073,-133.02053 }</string>
	
								<string>{ -241.17302,-160.58651 }</string>
	
								<string>{ -124.45748,-115.13197 }</string>

							</array>

							<array>
	
								<string>{ -119.17889,-145.92375 }</string>
	
								<string>{ -241.17302,-160.58651 }</string>
	
								<string>{ -124.75073,-133.02053 }</string>

							</array>

							<array>
	
								<string>{ 9.56010,-145.33724 }</string>
	
								<string>{ -119.17889,-145.92375 }</string>
	
								<string>{ -40.58652,-143.28446 }</string>

							</array>

							<array>
	
								<string>{ 124.51611,-146.21701 }</string>
	
								<string>{ 9.56010,-145.33724 }</string>
	
								<string>{ 59.12024,-144.75073 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 106.92081,-23.63637 }</string>
	
								<string>{ 148.56305,-8.38710 }</string>
	
								<string>{ 135.07330,-50.32259 }</string>

							</array>

							<array>
	
								<string>{ 201.93549,49.09090 }</string>
	
								<string>{ 180.23459,64.34016 }</string>
	
								<string>{ 184.04691,76.65689 }</string>
	
								<string>{ 240.17593,77.06744 }</string>
	
								<string>{ 239.76538,54.07625 }</string>

							</array>

							<array>
	
								<string>{ 184.04691,76.65689 }</string>
	
								<string>{ 180.23459,64.34016 }</string>
	
								<string>{ 174.95599,66.97946 }</string>

							</array>

							<array>
	
								<string>{ 156.77417,57.30205 }</string>
	
								<string>{ -10.38124,38.53372 }</string>
	
								<string>{ -44.10558,44.69208 }</string>
	
								<string>{ -83.40176,54.19354 }</string>
	
								<string>{ 88.15250,70.20528 }</string>
	
								<string>{ 145.63049,72.55132 }</string>
	
								<string>{ 154.72141,66.97946 }</string>

							</array>

							<array>
	
								<string>{ 73.19647,2.17009 }</string>
	
								<string>{ 162.05276,50.55717 }</string>
	
								<string>{ 170.26392,43.81232 }</string>
	
								<string>{ 166.15836,23.28445 }</string>
	
								<string>{ 148.56305,-8.38710 }</string>
	
								<string>{ 106.92081,-23.63637 }</string>

							</array>

							<array>
	
								<string>{ 201.93549,49.09090 }</string>
	
								<string>{ 188.15250,49.67741 }</string>
	
								<string>{ 188.73898,58.18181 }</string>

							</array>

							<array>
	
								<string>{ 201.93549,49.09090 }</string>
	
								<string>{ 166.15836,23.28445 }</string>
	
								<string>{ 181.99411,43.81232 }</string>
	
								<string>{ 188.15250,49.67741 }</string>

							</array>

							<array>
	
								<string>{ 166.15836,23.28445 }</string>
	
								<string>{ 170.26392,43.81232 }</string>
	
								<string>{ 181.99411,43.81232 }</string>

							</array>

							<array>
	
								<string>{ -83.40176,54.19354 }</string>
	
								<string>{ -44.10558,44.69208 }</string>
	
								<string>{ -80.76247,47.33138 }</string>

							</array>

							<array>
	
								<string>{ 52.08209,15.95308 }</string>
	
								<string>{ 162.05276,50.55717 }</string>
	
								<string>{ 73.19647,2.17009 }</string>

							</array>

							<array>
	
								<string>{ 25.68915,27.97653 }</string>
	
								<string>{ 162.05276,50.55717 }</string>
	
								<string>{ 52.08209,15.95308 }</string>

							</array>

							<array>
	
								<string>{ -10.38124,38.53372 }</string>
	
								<string>{ 156.77417,57.30205 }</string>
	
								<string>{ 162.05276,50.55717 }</string>
	
								<string>{ 25.68915,27.97653 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

