<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C20</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 128.04733,-91.65681 }</string>
	
								<string>{ 124.79288,-146.98225 }</string>
	
								<string>{ 83.37277,-96.09468 }</string>
	
								<string>{ 85.14792,-49.94083 }</string>

							</array>

							<array>
	
								<string>{ -46.50888,-28.34320 }</string>
	
								<string>{ -83.19527,-37.81065 }</string>
	
								<string>{ -144.73373,-18.28403 }</string>
	
								<string>{ -47.04143,-17.63313 }</string>
	
								<string>{ -42.36687,-23.60947 }</string>

							</array>

							<array>
	
								<string>{ -144.73373,-18.28403 }</string>
	
								<string>{ -105.97633,-60.59172 }</string>
	
								<string>{ -117.21894,-81.89349 }</string>
	
								<string>{ -240.59172,-160.88757 }</string>
	
								<string>{ -240.59172,-25.62131 }</string>

							</array>

							<array>
	
								<string>{ 124.79288,-146.98225 }</string>
	
								<string>{ 80.71005,-123.90533 }</string>
	
								<string>{ 83.37277,-96.09468 }</string>

							</array>

							<array>
	
								<string>{ 124.79288,-146.98225 }</string>
	
								<string>{ 74.20117,-146.68639 }</string>
	
								<string>{ 80.71005,-123.90533 }</string>

							</array>

							<array>
	
								<string>{ -105.97633,-60.59172 }</string>
	
								<string>{ -144.73373,-18.28403 }</string>
	
								<string>{ -83.19527,-37.81065 }</string>

							</array>

							<array>
	
								<string>{ 240.17749,-160.00000 }</string>
	
								<string>{ -240.59172,-160.88757 }</string>
	
								<string>{ 74.20117,-146.68639 }</string>
	
								<string>{ 240.47336,-147.86982 }</string>

							</array>

							<array>
	
								<string>{ -122.54438,-100.23669 }</string>
	
								<string>{ -240.59172,-160.88757 }</string>
	
								<string>{ -117.21894,-81.89349 }</string>

							</array>

							<array>
	
								<string>{ -126.39053,-123.90533 }</string>
	
								<string>{ -240.59172,-160.88757 }</string>
	
								<string>{ -122.54438,-100.23669 }</string>

							</array>

							<array>
	
								<string>{ -125.79882,-145.79882 }</string>
	
								<string>{ -240.59172,-160.88757 }</string>
	
								<string>{ -126.39053,-123.90533 }</string>

							</array>

							<array>
	
								<string>{ 74.20117,-146.68639 }</string>
	
								<string>{ -240.59172,-160.88757 }</string>
	
								<string>{ -125.79882,-145.79882 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 91.95264,-10.88757 }</string>
	
								<string>{ 152.30768,2.13017 }</string>
	
								<string>{ 134.85205,-50.53255 }</string>

							</array>

							<array>
	
								<string>{ 214.14200,52.72189 }</string>
	
								<string>{ 240.82840,70.82840 }</string>
	
								<string>{ 240.47336,53.01775 }</string>

							</array>

							<array>
	
								<string>{ 91.95264,-10.88757 }</string>
	
								<string>{ 66.50888,6.86391 }</string>
	
								<string>{ 181.00589,38.22484 }</string>
	
								<string>{ 152.30768,2.13017 }</string>

							</array>

							<array>
	
								<string>{ 41.95267,20.17751 }</string>
	
								<string>{ 181.00589,38.22484 }</string>
	
								<string>{ 66.50888,6.86391 }</string>

							</array>

							<array>
	
								<string>{ -82.89941,52.48520 }</string>
	
								<string>{ -37.63315,43.25443 }</string>
	
								<string>{ -81.71599,47.69231 }</string>

							</array>

							<array>
	
								<string>{ 15.02957,31.42010 }</string>
	
								<string>{ 240.82840,70.82840 }</string>
	
								<string>{ 214.14200,52.72189 }</string>
	
								<string>{ 181.00589,38.22484 }</string>
	
								<string>{ 41.95267,20.17751 }</string>

							</array>

							<array>
	
								<string>{ -11.89349,38.81656 }</string>
	
								<string>{ 240.82840,70.82840 }</string>
	
								<string>{ 15.02957,31.42010 }</string>

							</array>

							<array>
	
								<string>{ -11.89349,38.81656 }</string>
	
								<string>{ -82.89941,52.48520 }</string>
	
								<string>{ 240.82840,70.82840 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

