<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C58</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 119.15131,-89.36047 }</string>
	
								<string>{ 103.16293,-82.38372 }</string>
	
								<string>{ 79.61642,-53.31396 }</string>
	
								<string>{ 130.48849,-48.66280 }</string>
	
								<string>{ 156.36060,-65.23256 }</string>

							</array>

							<array>
	
								<string>{ 79.61642,-53.31396 }</string>
	
								<string>{ 54.61642,-39.36047 }</string>
	
								<string>{ 123.80246,-20.75581 }</string>
	
								<string>{ 130.48849,-48.66280 }</string>

							</array>

							<array>
	
								<string>{ 125.25595,9.47675 }</string>
	
								<string>{ 123.80246,-20.75581 }</string>
	
								<string>{ 54.61642,-39.36047 }</string>
	
								<string>{ 34.26758,-12.32558 }</string>
	
								<string>{ 42.11642,22.26744 }</string>

							</array>

							<array>
	
								<string>{ 54.61642,-39.36047 }</string>
	
								<string>{ 44.44199,-57.38372 }</string>
	
								<string>{ 14.50015,-50.69768 }</string>
	
								<string>{ 34.26758,-12.32558 }</string>

							</array>

							<array>
	
								<string>{ 42.98853,-94.88372 }</string>
	
								<string>{ -16.02310,-85.87209 }</string>
	
								<string>{ 14.50015,-50.69768 }</string>
	
								<string>{ 44.44199,-57.38372 }</string>

							</array>

							<array>
	
								<string>{ 49.96524,-146.33721 }</string>
	
								<string>{ -68.63939,-136.74419 }</string>
	
								<string>{ -56.43010,-119.30233 }</string>
	
								<string>{ -16.02310,-85.87209 }</string>
	
								<string>{ 42.98853,-94.88372 }</string>

							</array>

							<array>
	
								<string>{ 4.03503,74.01163 }</string>
	
								<string>{ 27.58154,78.66278 }</string>
	
								<string>{ 61.30246,70.23256 }</string>
	
								<string>{ 44.15131,55.98837 }</string>
	
								<string>{ -13.11615,62.38371 }</string>

							</array>

							<array>
	
								<string>{ 86.59317,68.48837 }</string>
	
								<string>{ 152.58154,37.96512 }</string>
	
								<string>{ 44.15131,55.98837 }</string>
	
								<string>{ 61.30246,70.23256 }</string>

							</array>

							<array>
	
								<string>{ 114.79083,76.91859 }</string>
	
								<string>{ 152.58154,37.96512 }</string>
	
								<string>{ 86.59317,68.48837 }</string>

							</array>

							<array>
	
								<string>{ 143.86060,97.26743 }</string>
	
								<string>{ 157.81409,100.75580 }</string>
	
								<string>{ 181.94199,90.58139 }</string>
	
								<string>{ 181.65131,21.10464 }</string>
	
								<string>{ 152.58154,37.96512 }</string>
	
								<string>{ 114.79083,76.91859 }</string>

							</array>

							<array>
	
								<string>{ 173.51175,-92.84884 }</string>
	
								<string>{ 284.41168,-160.13233 }</string>
	
								<string>{ 130.48849,-145.17442 }</string>
	
								<string>{ 140.37222,-116.68605 }</string>

							</array>

							<array>
	
								<string>{ 208.10480,86.51163 }</string>
	
								<string>{ 200.83734,-3.31395 }</string>
	
								<string>{ 181.65131,21.10464 }</string>
	
								<string>{ 181.94199,90.58139 }</string>

							</array>

							<array>
	
								<string>{ 239.50012,99.01163 }</string>
	
								<string>{ 284.41168,-160.13233 }</string>
	
								<string>{ 206.94199,-32.96512 }</string>
	
								<string>{ 200.83734,-3.31395 }</string>
	
								<string>{ 208.10480,86.51163 }</string>

							</array>

							<array>
	
								<string>{ 284.41168,-160.13233 }</string>
	
								<string>{ 239.50012,99.01163 }</string>
	
								<string>{ 285.01843,153.49695 }</string>

							</array>

							<array>
	
								<string>{ 49.96524,-146.33721 }</string>
	
								<string>{ -89.56963,-146.62791 }</string>
	
								<string>{ -68.63939,-136.74419 }</string>

							</array>

							<array>
	
								<string>{ 284.41168,-160.13233 }</string>
	
								<string>{ 196.47687,-68.13953 }</string>
	
								<string>{ 206.94199,-32.96512 }</string>

							</array>

							<array>
	
								<string>{ 284.41168,-160.13233 }</string>
	
								<string>{ 173.51175,-92.84884 }</string>
	
								<string>{ 196.47687,-68.13953 }</string>

							</array>

							<array>
	
								<string>{ 49.96524,-146.33721 }</string>
	
								<string>{ 284.41168,-160.13233 }</string>
	
								<string>{ -277.55828,-160.30675 }</string>
	
								<string>{ -273.87730,-151.16885 }</string>

							</array>

							<array>
	
								<string>{ 284.41168,-160.13233 }</string>
	
								<string>{ 49.96524,-146.33721 }</string>
	
								<string>{ 130.48849,-145.17442 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -1.44009,-19.64117 }</string>
	
								<string>{ -31.67264,-57.72257 }</string>
	
								<string>{ -66.55637,-87.66444 }</string>
	
								<string>{ -88.64938,-82.43188 }</string>
	
								<string>{ -102.02147,-66.15280 }</string>
	
								<string>{ -42.42845,30.94022 }</string>
	
								<string>{ 12.39713,24.13789 }</string>

							</array>

							<array>
	
								<string>{ -203.18427,13.78905 }</string>
	
								<string>{ -163.94008,21.92859 }</string>
	
								<string>{ -131.67264,16.98672 }</string>
	
								<string>{ -106.52461,4.90584 }</string>
	
								<string>{ -284.30675,-159.69325 }</string>
	
								<string>{ -284.92025,-23.49693 }</string>

							</array>

							<array>
	
								<string>{ -126.73077,-60.92025 }</string>
	
								<string>{ -42.42845,30.94022 }</string>
	
								<string>{ -102.02147,-66.15280 }</string>

							</array>

							<array>
	
								<string>{ -90.44171,-1.41104 }</string>
	
								<string>{ -174.98659,-76.32722 }</string>
	
								<string>{ -276.28314,-159.53631 }</string>
	
								<string>{ -284.30675,-159.69325 }</string>
	
								<string>{ -106.52461,4.90584 }</string>

							</array>

							<array>
	
								<string>{ -90.44171,-1.41104 }</string>
	
								<string>{ -77.86504,-0.79755 }</string>
	
								<string>{ -126.73077,-60.92025 }</string>
	
								<string>{ -174.98659,-76.32722 }</string>

							</array>

							<array>
	
								<string>{ -61.60202,10.96233 }</string>
	
								<string>{ -126.73077,-60.92025 }</string>
	
								<string>{ -77.86504,-0.79755 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

