<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C21</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -106.56892,-18.94429 }</string>
	
								<string>{ -62.28740,5.98241 }</string>
	
								<string>{ -60.82112,-11.02640 }</string>
	
								<string>{ -65.51320,-27.15543 }</string>
	
								<string>{ -80.76247,-38.29913 }</string>
	
								<string>{ -96.89149,-42.11144 }</string>
	
								<string>{ -113.31379,-42.69795 }</string>

							</array>

							<array>
	
								<string>{ -240.29326,25.16129 }</string>
	
								<string>{ -205.68915,-25.98241 }</string>
	
								<string>{ -194.25220,-72.90323 }</string>
	
								<string>{ -239.70674,-65.57185 }</string>

							</array>

							<array>
	
								<string>{ -152.31672,-87.27273 }</string>
	
								<string>{ -194.25220,-72.90323 }</string>
	
								<string>{ -176.65689,-58.82698 }</string>
	
								<string>{ -146.74487,-74.36951 }</string>

							</array>

							<array>
	
								<string>{ -194.25220,-72.90323 }</string>
	
								<string>{ -192.49267,-47.97654 }</string>
	
								<string>{ -176.65689,-58.82698 }</string>

							</array>

							<array>
	
								<string>{ -194.25220,-72.90323 }</string>
	
								<string>{ -202.75660,-36.83285 }</string>
	
								<string>{ -192.49267,-47.97654 }</string>

							</array>

							<array>
	
								<string>{ -106.27567,-6.04106 }</string>
	
								<string>{ -67.27274,18.00586 }</string>
	
								<string>{ -62.28740,5.98241 }</string>
	
								<string>{ -106.56892,-18.94429 }</string>

							</array>

							<array>
	
								<string>{ -107.74194,5.98241 }</string>
	
								<string>{ -85.63051,33.07918 }</string>
	
								<string>{ -74.60411,26.51025 }</string>
	
								<string>{ -67.27274,18.00586 }</string>
	
								<string>{ -106.27567,-6.04106 }</string>

							</array>

							<array>
	
								<string>{ -107.74194,5.98241 }</string>
	
								<string>{ -114.78006,15.07330 }</string>
	
								<string>{ -118.00587,38.24046 }</string>
	
								<string>{ -85.63051,33.07918 }</string>

							</array>

							<array>
	
								<string>{ -114.78006,15.07330 }</string>
	
								<string>{ -124.16422,20.35190 }</string>
	
								<string>{ -148.50440,38.82698 }</string>
	
								<string>{ -118.00587,38.24046 }</string>

							</array>

							<array>
	
								<string>{ -240.29326,25.16129 }</string>
	
								<string>{ -205.39590,-15.71848 }</string>
	
								<string>{ -205.68915,-25.98241 }</string>

							</array>

							<array>
	
								<string>{ -199.82405,33.54839 }</string>
	
								<string>{ -202.17009,-6.33432 }</string>
	
								<string>{ -205.39590,-15.71848 }</string>
	
								<string>{ -240.29326,25.16129 }</string>

							</array>

							<array>
	
								<string>{ -199.82405,33.54839 }</string>
	
								<string>{ -196.59824,4.80939 }</string>
	
								<string>{ -202.17009,-6.33432 }</string>

							</array>

							<array>
	
								<string>{ -199.82405,33.54839 }</string>
	
								<string>{ -186.04106,13.60704 }</string>
	
								<string>{ -196.59824,4.80939 }</string>

							</array>

							<array>
	
								<string>{ -148.50440,38.82698 }</string>
	
								<string>{ -175.19062,19.17888 }</string>
	
								<string>{ -186.04106,13.60704 }</string>
	
								<string>{ -199.82405,33.54839 }</string>

							</array>

							<array>
	
								<string>{ -148.50440,38.82698 }</string>
	
								<string>{ -159.94135,22.40469 }</string>
	
								<string>{ -175.19062,19.17888 }</string>

							</array>

							<array>
	
								<string>{ -148.50440,38.82698 }</string>
	
								<string>{ -144.98534,24.45747 }</string>
	
								<string>{ -159.94135,22.40469 }</string>

							</array>

							<array>
	
								<string>{ -148.50440,38.82698 }</string>
	
								<string>{ -135.30792,23.57771 }</string>
	
								<string>{ -144.98534,24.45747 }</string>

							</array>

							<array>
	
								<string>{ -148.50440,38.82698 }</string>
	
								<string>{ -124.16422,20.35190 }</string>
	
								<string>{ -135.30792,23.57771 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -136.18768,-30.67448 }</string>
	
								<string>{ -138.12317,-40.52786 }</string>
	
								<string>{ -178.41642,-32.14076 }</string>
	
								<string>{ -177.82991,-17.94722 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -47.03813,112.72726 }</string>
	
								<string>{ -35.30792,101.58356 }</string>
	
								<string>{ -47.03813,102.17007 }</string>
	
								<string>{ -52.90323,107.44867 }</string>

							</array>

							<array>
	
								<string>{ 108.38708,123.57770 }</string>
	
								<string>{ 110.43988,102.46335 }</string>
	
								<string>{ 101.64221,73.72433 }</string>
	
								<string>{ 78.47507,104.51611 }</string>
	
								<string>{ 77.88855,126.21701 }</string>

							</array>

							<array>
	
								<string>{ 128.91495,108.03519 }</string>
	
								<string>{ 110.43988,102.46335 }</string>
	
								<string>{ 108.38708,123.57770 }</string>
	
								<string>{ 135.36655,118.88562 }</string>
	
								<string>{ 137.41934,113.02051 }</string>

							</array>

							<array>
	
								<string>{ 101.64221,73.72433 }</string>
	
								<string>{ 76.12903,86.33430 }</string>
	
								<string>{ 78.47507,104.51611 }</string>

							</array>

							<array>
	
								<string>{ 101.64221,73.72433 }</string>
	
								<string>{ 103.69501,50.26393 }</string>
	
								<string>{ 68.50439,49.67741 }</string>
	
								<string>{ 71.14368,69.32550 }</string>
	
								<string>{ 76.12903,86.33430 }</string>

							</array>

							<array>
	
								<string>{ 118.65103,29.14955 }</string>
	
								<string>{ 135.95306,-18.94429 }</string>
	
								<string>{ 125.68915,-21.87683 }</string>
	
								<string>{ 79.64807,12.14076 }</string>
	
								<string>{ 72.31671,22.40469 }</string>
	
								<string>{ 68.21115,35.30791 }</string>
	
								<string>{ 68.50439,49.67741 }</string>
	
								<string>{ 103.69501,50.26393 }</string>

							</array>

							<array>
	
								<string>{ 154.42813,-0.76247 }</string>
	
								<string>{ 144.45746,-12.78593 }</string>
	
								<string>{ 135.95306,-18.94429 }</string>
	
								<string>{ 134.19354,16.83284 }</string>
	
								<string>{ 156.77417,9.20821 }</string>

							</array>

							<array>
	
								<string>{ 149.73605,-38.88564 }</string>
	
								<string>{ 126.86215,-98.12317 }</string>
	
								<string>{ 129.20819,-62.05279 }</string>
	
								<string>{ 136.83282,-44.75073 }</string>

							</array>

							<array>
	
								<string>{ 135.95306,-18.94429 }</string>
	
								<string>{ 118.65103,29.14955 }</string>
	
								<string>{ 134.19354,16.83284 }</string>

							</array>

							<array>
	
								<string>{ -121.52493,-80.23460 }</string>
	
								<string>{ -115.65983,-77.88857 }</string>
	
								<string>{ -86.04106,-78.76833 }</string>
	
								<string>{ -120.64516,-128.91496 }</string>
	
								<string>{ -127.68329,-96.65689 }</string>

							</array>

							<array>
	
								<string>{ 52.96188,99.23752 }</string>
	
								<string>{ 46.21701,72.25806 }</string>
	
								<string>{ -25.63051,99.53079 }</string>
	
								<string>{ -47.03813,112.72726 }</string>
	
								<string>{ 54.72141,121.52493 }</string>

							</array>

							<array>
	
								<string>{ -47.03813,112.72726 }</string>
	
								<string>{ -25.63051,99.53079 }</string>
	
								<string>{ -35.30792,101.58356 }</string>

							</array>

							<array>
	
								<string>{ 241.34897,-160.46921 }</string>
	
								<string>{ 176.71555,-17.47801 }</string>
	
								<string>{ 205.45453,19.17888 }</string>
	
								<string>{ 239.76538,27.09677 }</string>

							</array>

							<array>
	
								<string>{ -54.95601,-76.12904 }</string>
	
								<string>{ -124.45748,-143.87097 }</string>
	
								<string>{ -120.64516,-128.91496 }</string>
	
								<string>{ -86.04106,-78.76833 }</string>

							</array>

							<array>
	
								<string>{ 205.45453,19.17888 }</string>
	
								<string>{ 186.97946,-3.98828 }</string>
	
								<string>{ 195.19061,10.08797 }</string>

							</array>

							<array>
	
								<string>{ 161.75952,-30.67448 }</string>
	
								<string>{ 241.34897,-160.46921 }</string>
	
								<string>{ 122.17007,-135.36657 }</string>
	
								<string>{ 126.86215,-98.12317 }</string>
	
								<string>{ 149.73605,-38.88564 }</string>

							</array>

							<array>
	
								<string>{ 241.34897,-160.46921 }</string>
	
								<string>{ 161.75952,-30.67448 }</string>
	
								<string>{ 176.71555,-17.47801 }</string>

							</array>

							<array>
	
								<string>{ 241.34897,-160.46921 }</string>
	
								<string>{ 110.43988,-149.44282 }</string>
	
								<string>{ 122.17007,-135.36657 }</string>

							</array>

							<array>
	
								<string>{ -34.13490,-69.09091 }</string>
	
								<string>{ -124.45748,-143.87097 }</string>
	
								<string>{ -54.95601,-76.12904 }</string>

							</array>

							<array>
	
								<string>{ -132.66862,-147.97654 }</string>
	
								<string>{ -16.53960,-147.97654 }</string>
	
								<string>{ 241.34897,-160.46921 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -240.00000,-153.13783 }</string>

							</array>

							<array>
	
								<string>{ 99.29617,-18.65103 }</string>
	
								<string>{ 77.88855,1.87683 }</string>
	
								<string>{ 79.64807,12.14076 }</string>
	
								<string>{ 125.68915,-21.87683 }</string>

							</array>

							<array>
	
								<string>{ 68.21115,-29.50146 }</string>
	
								<string>{ 77.88855,1.87683 }</string>
	
								<string>{ 99.29617,-18.65103 }</string>

							</array>

							<array>
	
								<string>{ 37.71262,-55.89443 }</string>
	
								<string>{ 77.88855,1.87683 }</string>
	
								<string>{ 68.21115,-29.50146 }</string>

							</array>

							<array>
	
								<string>{ 12.78592,-82.87390 }</string>
	
								<string>{ 71.73019,-3.40176 }</string>
	
								<string>{ 77.88855,1.87683 }</string>
	
								<string>{ 37.71262,-55.89443 }</string>

							</array>

							<array>
	
								<string>{ 46.21701,72.25806 }</string>
	
								<string>{ -15.36658,91.61290 }</string>
	
								<string>{ -25.63051,99.53079 }</string>

							</array>

							<array>
	
								<string>{ 43.28445,45.27858 }</string>
	
								<string>{ -15.36658,91.61290 }</string>
	
								<string>{ 46.21701,72.25806 }</string>

							</array>

							<array>
	
								<string>{ 44.16422,27.97653 }</string>
	
								<string>{ -15.36658,91.61290 }</string>
	
								<string>{ 43.28445,45.27858 }</string>

							</array>

							<array>
	
								<string>{ 241.34897,-160.46921 }</string>
	
								<string>{ -16.53960,-147.97654 }</string>
	
								<string>{ 110.43988,-149.44282 }</string>

							</array>

							<array>
	
								<string>{ -132.66862,-147.97654 }</string>
	
								<string>{ -25.92375,-141.52493 }</string>
	
								<string>{ -16.53960,-147.97654 }</string>

							</array>

							<array>
	
								<string>{ -132.66862,-147.97654 }</string>
	
								<string>{ -26.21701,-131.55425 }</string>
	
								<string>{ -25.92375,-141.52493 }</string>

							</array>

							<array>
	
								<string>{ -132.66862,-147.97654 }</string>
	
								<string>{ -12.14076,-111.90616 }</string>
	
								<string>{ -26.21701,-131.55425 }</string>

							</array>

							<array>
	
								<string>{ -132.66862,-147.97654 }</string>
	
								<string>{ -124.45748,-143.87097 }</string>
	
								<string>{ 12.78592,-82.87390 }</string>
	
								<string>{ -12.14076,-111.90616 }</string>

							</array>

							<array>
	
								<string>{ -10.38124,-55.60117 }</string>
	
								<string>{ 12.78592,-82.87390 }</string>
	
								<string>{ -124.45748,-143.87097 }</string>
	
								<string>{ -34.13490,-69.09091 }</string>

							</array>

							<array>
	
								<string>{ 12.78592,-82.87390 }</string>
	
								<string>{ 59.12024,-1.34898 }</string>
	
								<string>{ 71.73019,-3.40176 }</string>

							</array>

							<array>
	
								<string>{ 12.78592,-82.87390 }</string>
	
								<string>{ 48.85629,13.31378 }</string>
	
								<string>{ 59.12024,-1.34898 }</string>

							</array>

							<array>
	
								<string>{ 12.78592,-82.87390 }</string>
	
								<string>{ 7.80058,-35.65983 }</string>
	
								<string>{ 44.16422,27.97653 }</string>
	
								<string>{ 48.85629,13.31378 }</string>

							</array>

							<array>
	
								<string>{ 7.80058,-35.65983 }</string>
	
								<string>{ 12.78592,-82.87390 }</string>
	
								<string>{ -10.38124,-55.60117 }</string>

							</array>

							<array>
	
								<string>{ 20.99707,-3.40176 }</string>
	
								<string>{ 44.16422,27.97653 }</string>
	
								<string>{ 16.89148,-19.23753 }</string>

							</array>

							<array>
	
								<string>{ 21.87683,12.14076 }</string>
	
								<string>{ 44.16422,27.97653 }</string>
	
								<string>{ 20.99707,-3.40176 }</string>

							</array>

							<array>
	
								<string>{ 20.11731,27.97653 }</string>
	
								<string>{ 44.16422,27.97653 }</string>
	
								<string>{ 21.87683,12.14076 }</string>

							</array>

							<array>
	
								<string>{ 15.42522,42.63930 }</string>
	
								<string>{ 44.16422,27.97653 }</string>
	
								<string>{ 20.11731,27.97653 }</string>

							</array>

							<array>
	
								<string>{ 9.26686,56.71553 }</string>
	
								<string>{ 44.16422,27.97653 }</string>
	
								<string>{ 15.42522,42.63930 }</string>

							</array>

							<array>
	
								<string>{ 2.52199,69.61876 }</string>
	
								<string>{ 44.16422,27.97653 }</string>
	
								<string>{ 9.26686,56.71553 }</string>

							</array>

							<array>
	
								<string>{ -5.98241,81.34897 }</string>
	
								<string>{ 44.16422,27.97653 }</string>
	
								<string>{ 2.52199,69.61876 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 189.61874,97.18475 }</string>
	
								<string>{ 189.03226,104.22287 }</string>
	
								<string>{ 241.34897,160.64514 }</string>
	
								<string>{ 240.05862,100.70380 }</string>

							</array>

							<array>
	
								<string>{ 184.92667,113.60703 }</string>
	
								<string>{ 241.34897,160.64514 }</string>
	
								<string>{ 189.03226,104.22287 }</string>

							</array>

							<array>
	
								<string>{ 178.47507,120.05865 }</string>
	
								<string>{ 241.34897,160.64514 }</string>
	
								<string>{ 184.92667,113.60703 }</string>

							</array>

							<array>
	
								<string>{ 166.74487,127.68329 }</string>
	
								<string>{ 241.34897,160.64514 }</string>
	
								<string>{ 178.47507,120.05865 }</string>

							</array>

							<array>
	
								<string>{ 145.92374,136.48093 }</string>
	
								<string>{ 241.34897,160.64514 }</string>
	
								<string>{ 166.74487,127.68329 }</string>

							</array>

							<array>
	
								<string>{ 116.01172,144.69208 }</string>
	
								<string>{ 241.34897,160.64514 }</string>
	
								<string>{ 145.92374,136.48093 }</string>

							</array>

							<array>
	
								<string>{ 71.73019,152.90323 }</string>
	
								<string>{ 241.34897,160.64514 }</string>
	
								<string>{ 116.01172,144.69208 }</string>

							</array>

							<array>
	
								<string>{ 71.73019,152.90323 }</string>
	
								<string>{ -15.36658,161.23166 }</string>
	
								<string>{ 241.34897,160.64514 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

