<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C56</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -14.30167,71.00558 }</string>
	
								<string>{ -10.94972,89.16202 }</string>
	
								<string>{ 15.02794,76.31285 }</string>
	
								<string>{ -5.64246,61.22905 }</string>

							</array>

							<array>
	
								<string>{ -7.31844,109.55307 }</string>
	
								<string>{ 31.22906,84.97208 }</string>
	
								<string>{ 15.02794,76.31285 }</string>
	
								<string>{ -10.94972,89.16202 }</string>

							</array>

							<array>
	
								<string>{ -7.31844,109.55307 }</string>
	
								<string>{ 54.69275,94.18996 }</string>
	
								<string>{ 31.22906,84.97208 }</string>

							</array>

							<array>
	
								<string>{ 129.83240,115.97766 }</string>
	
								<string>{ 73.40784,98.65921 }</string>
	
								<string>{ 54.69275,94.18996 }</string>
	
								<string>{ -7.31844,109.55307 }</string>

							</array>

							<array>
	
								<string>{ 147.43018,-79.27374 }</string>
	
								<string>{ 69.77655,-142.68156 }</string>
	
								<string>{ 134.30170,-79.27374 }</string>

							</array>

							<array>
	
								<string>{ 241.62012,-159.66481 }</string>
	
								<string>{ 197.70950,-0.50279 }</string>
	
								<string>{ 196.59219,16.53632 }</string>
	
								<string>{ 195.47488,102.84918 }</string>
	
								<string>{ 239.88828,100.33521 }</string>

							</array>

							<array>
	
								<string>{ 103.57544,-108.88268 }</string>
	
								<string>{ 69.77655,-142.68156 }</string>
	
								<string>{ 83.46368,-123.40782 }</string>

							</array>

							<array>
	
								<string>{ 160.27933,-75.36313 }</string>
	
								<string>{ 241.62012,-159.66481 }</string>
	
								<string>{ 69.77655,-142.68156 }</string>
	
								<string>{ 147.43018,-79.27374 }</string>

							</array>

							<array>
	
								<string>{ 50.50281,-147.98883 }</string>
	
								<string>{ 241.62012,-159.66481 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -241.11732,-148.21229 }</string>

							</array>

							<array>
	
								<string>{ 69.77655,-142.68156 }</string>
	
								<string>{ 241.62012,-159.66481 }</string>
	
								<string>{ 50.50281,-147.98883 }</string>

							</array>

							<array>
	
								<string>{ 172.01117,-66.14525 }</string>
	
								<string>{ 241.62012,-159.66481 }</string>
	
								<string>{ 160.27933,-75.36313 }</string>

							</array>

							<array>
	
								<string>{ 180.39108,-54.69273 }</string>
	
								<string>{ 241.62012,-159.66481 }</string>
	
								<string>{ 172.01117,-66.14525 }</string>

							</array>

							<array>
	
								<string>{ 187.09497,-44.35754 }</string>
	
								<string>{ 241.62012,-159.66481 }</string>
	
								<string>{ 180.39108,-54.69273 }</string>

							</array>

							<array>
	
								<string>{ 192.12292,-30.67039 }</string>
	
								<string>{ 241.62012,-159.66481 }</string>
	
								<string>{ 187.09497,-44.35754 }</string>

							</array>

							<array>
	
								<string>{ 196.03354,-16.70390 }</string>
	
								<string>{ 241.62012,-159.66481 }</string>
	
								<string>{ 192.12292,-30.67039 }</string>

							</array>

							<array>
	
								<string>{ 197.70950,-0.50279 }</string>
	
								<string>{ 241.62012,-159.66481 }</string>
	
								<string>{ 196.03354,-16.70390 }</string>

							</array>

							<array>
	
								<string>{ 155.25140,110.11172 }</string>
	
								<string>{ 94.63687,100.61453 }</string>
	
								<string>{ 73.40784,98.65921 }</string>
	
								<string>{ 129.83240,115.97766 }</string>

							</array>

							<array>
	
								<string>{ 195.47488,102.84918 }</string>
	
								<string>{ 111.95532,99.21790 }</string>
	
								<string>{ 94.63687,100.61453 }</string>
	
								<string>{ 155.25140,110.11172 }</string>

							</array>

							<array>
	
								<string>{ 195.47488,102.84918 }</string>
	
								<string>{ 125.92178,95.58659 }</string>
	
								<string>{ 111.95532,99.21790 }</string>

							</array>

							<array>
	
								<string>{ 195.47488,102.84918 }</string>
	
								<string>{ 139.05029,90.27933 }</string>
	
								<string>{ 125.92178,95.58659 }</string>

							</array>

							<array>
	
								<string>{ 195.47488,102.84918 }</string>
	
								<string>{ 151.34079,84.13408 }</string>
	
								<string>{ 139.05029,90.27933 }</string>

							</array>

							<array>
	
								<string>{ 195.47488,102.84918 }</string>
	
								<string>{ 163.07263,75.75420 }</string>
	
								<string>{ 151.34079,84.13408 }</string>

							</array>

							<array>
	
								<string>{ 195.47488,102.84918 }</string>
	
								<string>{ 174.24582,64.58101 }</string>
	
								<string>{ 163.07263,75.75420 }</string>

							</array>

							<array>
	
								<string>{ 195.47488,102.84918 }</string>
	
								<string>{ 181.50839,54.80447 }</string>
	
								<string>{ 174.24582,64.58101 }</string>

							</array>

							<array>
	
								<string>{ 195.47488,102.84918 }</string>
	
								<string>{ 188.21231,43.07263 }</string>
	
								<string>{ 181.50839,54.80447 }</string>

							</array>

							<array>
	
								<string>{ 195.47488,102.84918 }</string>
	
								<string>{ 192.96091,30.50279 }</string>
	
								<string>{ 188.21231,43.07263 }</string>

							</array>

							<array>
	
								<string>{ 195.47488,102.84918 }</string>
	
								<string>{ 196.59219,16.53632 }</string>
	
								<string>{ 192.96091,30.50279 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 21.73184,159.88828 }</string>
	
								<string>{ 85.69833,148.93857 }</string>
	
								<string>{ 92.40225,137.20670 }</string>
	
								<string>{ 3.57542,132.17877 }</string>

							</array>

							<array>
	
								<string>{ 85.69833,148.93857 }</string>
	
								<string>{ 21.73184,159.88828 }</string>
	
								<string>{ 85.47485,159.88828 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -170.16759,-60.83799 }</string>
	
								<string>{ -90.27933,-123.68715 }</string>
	
								<string>{ -173.79888,-123.12849 }</string>

							</array>

							<array>
	
								<string>{ -147.82123,9.27374 }</string>
	
								<string>{ -193.07262,22.68156 }</string>
	
								<string>{ -240.00000,58.49162 }</string>
	
								<string>{ -163.68715,69.94414 }</string>

							</array>

							<array>
	
								<string>{ 41.28491,-85.13966 }</string>
	
								<string>{ 87.65363,-56.36871 }</string>
	
								<string>{ 94.35754,-79.83240 }</string>
	
								<string>{ 88.77097,-88.77095 }</string>
	
								<string>{ 71.73184,-99.66480 }</string>
	
								<string>{ 54.97208,-108.32402 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,58.49162 }</string>
	
								<string>{ -193.07262,22.68156 }</string>
	
								<string>{ -239.72067,30.22346 }</string>

							</array>

							<array>
	
								<string>{ 86.53632,-34.30167 }</string>
	
								<string>{ 5.81006,-68.65922 }</string>
	
								<string>{ 7.76537,-9.44133 }</string>
	
								<string>{ 23.68716,11.50838 }</string>
	
								<string>{ 75.64246,5.08380 }</string>
	
								<string>{ 97.43018,-18.65921 }</string>

							</array>

							<array>
	
								<string>{ -193.07262,22.68156 }</string>
	
								<string>{ -132.17877,-29.83240 }</string>
	
								<string>{ -120.44692,-49.94413 }</string>
	
								<string>{ -90.27933,-123.68715 }</string>
	
								<string>{ -170.16759,-60.83799 }</string>

							</array>

							<array>
	
								<string>{ 5.81006,-68.65922 }</string>
	
								<string>{ 86.53632,-34.30167 }</string>
	
								<string>{ 87.65363,-56.36871 }</string>
	
								<string>{ 41.28491,-85.13966 }</string>

							</array>

							<array>
	
								<string>{ -90.27933,-123.68715 }</string>
	
								<string>{ -4.52513,-22.56982 }</string>
	
								<string>{ 7.76537,-9.44133 }</string>
	
								<string>{ 5.81006,-68.65922 }</string>

							</array>

							<array>
	
								<string>{ -140.27933,-11.11731 }</string>
	
								<string>{ -193.07262,22.68156 }</string>
	
								<string>{ -147.82123,9.27374 }</string>

							</array>

							<array>
	
								<string>{ -132.17877,-29.83240 }</string>
	
								<string>{ -193.07262,22.68156 }</string>
	
								<string>{ -140.27933,-11.11731 }</string>

							</array>

							<array>
	
								<string>{ -110.67039,-62.23463 }</string>
	
								<string>{ -90.27933,-123.68715 }</string>
	
								<string>{ -120.44692,-49.94413 }</string>

							</array>

							<array>
	
								<string>{ -102.29050,-69.77654 }</string>
	
								<string>{ -90.27933,-123.68715 }</string>
	
								<string>{ -110.67039,-62.23463 }</string>

							</array>

							<array>
	
								<string>{ -94.46927,-73.40782 }</string>
	
								<string>{ -90.27933,-123.68715 }</string>
	
								<string>{ -102.29050,-69.77654 }</string>

							</array>

							<array>
	
								<string>{ -84.13408,-74.24581 }</string>
	
								<string>{ -90.27933,-123.68715 }</string>
	
								<string>{ -94.46927,-73.40782 }</string>

							</array>

							<array>
	
								<string>{ -74.35754,-72.29050 }</string>
	
								<string>{ -90.27933,-123.68715 }</string>
	
								<string>{ -84.13408,-74.24581 }</string>

							</array>

							<array>
	
								<string>{ -60.39105,-66.42458 }</string>
	
								<string>{ -90.27933,-123.68715 }</string>
	
								<string>{ -74.35754,-72.29050 }</string>

							</array>

							<array>
	
								<string>{ -46.42458,-57.76536 }</string>
	
								<string>{ -90.27933,-123.68715 }</string>
	
								<string>{ -60.39105,-66.42458 }</string>

							</array>

							<array>
	
								<string>{ -33.57541,-48.82681 }</string>
	
								<string>{ -90.27933,-123.68715 }</string>
	
								<string>{ -46.42458,-57.76536 }</string>

							</array>

							<array>
	
								<string>{ -18.49162,-35.69832 }</string>
	
								<string>{ -90.27933,-123.68715 }</string>
	
								<string>{ -33.57541,-48.82681 }</string>

							</array>

							<array>
	
								<string>{ -4.52513,-22.56982 }</string>
	
								<string>{ -90.27933,-123.68715 }</string>
	
								<string>{ -18.49162,-35.69832 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

