<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C1</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 163.28360,68.65672 }</string>
	
								<string>{ 133.73135,16.71642 }</string>
	
								<string>{ 94.92538,49.85075 }</string>
	
								<string>{ 85.37314,61.19403 }</string>
	
								<string>{ 91.64182,71.64180 }</string>
	
								<string>{ 131.94031,91.64180 }</string>
	
								<string>{ 157.01492,91.34329 }</string>

							</array>

							<array>
	
								<string>{ 163.28360,68.65672 }</string>
	
								<string>{ 163.88062,-11.94029 }</string>
	
								<string>{ 133.73135,16.71642 }</string>

							</array>

							<array>
	
								<string>{ 241.49255,-160.29851 }</string>
	
								<string>{ 196.41791,10.74628 }</string>
	
								<string>{ 239.40298,-25.07462 }</string>

							</array>

							<array>
	
								<string>{ 163.28360,68.65672 }</string>
	
								<string>{ 185.07465,-36.11940 }</string>
	
								<string>{ 163.88062,-11.94029 }</string>

							</array>

							<array>
	
								<string>{ 241.49255,-160.29851 }</string>
	
								<string>{ 194.32837,-55.82089 }</string>
	
								<string>{ 170.74628,42.68657 }</string>
	
								<string>{ 196.41791,10.74628 }</string>

							</array>

							<array>
	
								<string>{ 150.14926,-149.85075 }</string>
	
								<string>{ 241.49255,-160.29851 }</string>
	
								<string>{ -17.60115,-151.64449 }</string>
	
								<string>{ 0.59103,-144.17910 }</string>

							</array>

							<array>
	
								<string>{ 241.49255,-160.29851 }</string>
	
								<string>{ -240.00000,-160.29851 }</string>
	
								<string>{ -239.70149,-153.13433 }</string>

							</array>

							<array>
	
								<string>{ 163.28360,68.65672 }</string>
	
								<string>{ 170.74628,42.68657 }</string>
	
								<string>{ 194.32837,-55.82089 }</string>
	
								<string>{ 185.07465,-36.11940 }</string>

							</array>

							<array>
	
								<string>{ 191.64182,-116.71642 }</string>
	
								<string>{ 241.49255,-160.29851 }</string>
	
								<string>{ 168.95523,-143.88060 }</string>

							</array>

							<array>
	
								<string>{ 241.49255,-160.29851 }</string>
	
								<string>{ 198.20895,-72.23880 }</string>
	
								<string>{ 194.32837,-55.82089 }</string>

							</array>

							<array>
	
								<string>{ 241.49255,-160.29851 }</string>
	
								<string>{ 197.61194,-95.52238 }</string>
	
								<string>{ 198.20895,-72.23880 }</string>

							</array>

							<array>
	
								<string>{ 241.49255,-160.29851 }</string>
	
								<string>{ 191.64182,-116.71642 }</string>
	
								<string>{ 197.61194,-95.52238 }</string>

							</array>

							<array>
	
								<string>{ 241.49255,-160.29851 }</string>
	
								<string>{ 150.14926,-149.85075 }</string>
	
								<string>{ 168.95523,-143.88060 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -139.10448,37.31345 }</string>
	
								<string>{ -75.52238,32.83583 }</string>
	
								<string>{ -92.23880,3.58209 }</string>
	
								<string>{ -150.14925,-43.88059 }</string>
	
								<string>{ -240.00000,-98.20895 }</string>
	
								<string>{ -240.59701,26.26866 }</string>

							</array>

							<array>
	
								<string>{ -15.56073,-127.01909 }</string>
	
								<string>{ -82.68657,-130.14925 }</string>
	
								<string>{ -97.31343,-116.11940 }</string>
	
								<string>{ -116.71642,-81.19403 }</string>
	
								<string>{ -50.14925,-80.89552 }</string>
	
								<string>{ -10.14925,-106.56716 }</string>

							</array>

							<array>
	
								<string>{ -150.14925,-43.88059 }</string>
	
								<string>{ -92.23880,3.58209 }</string>
	
								<string>{ -93.73134,-22.68657 }</string>

							</array>

							<array>
	
								<string>{ -122.98507,-104.47761 }</string>
	
								<string>{ -116.71642,-81.19403 }</string>
	
								<string>{ -97.31343,-116.11940 }</string>

							</array>

							<array>
	
								<string>{ -162.08955,-97.91045 }</string>
	
								<string>{ -167.46268,-77.01492 }</string>
	
								<string>{ -116.71642,-81.19403 }</string>
	
								<string>{ -122.98507,-104.47761 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-98.20895 }</string>
	
								<string>{ -179.10448,-68.65672 }</string>
	
								<string>{ -167.46268,-77.01492 }</string>
	
								<string>{ -162.08955,-97.91045 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-98.20895 }</string>
	
								<string>{ -170.74627,-57.01492 }</string>
	
								<string>{ -179.10448,-68.65672 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 45.67166,-23.28358 }</string>
	
								<string>{ 111.94031,-45.07462 }</string>
	
								<string>{ 39.40298,-78.50746 }</string>
	
								<string>{ 34.32837,-35.82089 }</string>
	
								<string>{ 36.11942,-24.47762 }</string>

							</array>

							<array>
	
								<string>{ 146.26868,-103.28358 }</string>
	
								<string>{ 136.41791,-82.38805 }</string>
	
								<string>{ 156.71643,-53.73134 }</string>
	
								<string>{ 169.55225,-60.59702 }</string>
	
								<string>{ 172.23883,-75.82089 }</string>
	
								<string>{ 172.53732,-94.02985 }</string>
	
								<string>{ 168.05972,-107.46268 }</string>

							</array>

							<array>
	
								<string>{ 136.41791,-82.38805 }</string>
	
								<string>{ 123.58209,-67.16418 }</string>
	
								<string>{ 111.94031,-45.07462 }</string>
	
								<string>{ 156.71643,-53.73134 }</string>

							</array>

							<array>
	
								<string>{ 24.77612,-112.23880 }</string>
	
								<string>{ 1.93614,-128.25148 }</string>
	
								<string>{ 10.74628,-114.02985 }</string>

							</array>

							<array>
	
								<string>{ 1.93614,-128.25148 }</string>
	
								<string>{ 85.07465,-96.41791 }</string>
	
								<string>{ 73.73135,-128.96871 }</string>

							</array>

							<array>
	
								<string>{ 111.94031,-45.07462 }</string>
	
								<string>{ 103.58209,-67.16418 }</string>
	
								<string>{ 35.22388,-100.89552 }</string>
	
								<string>{ 39.40298,-78.50746 }</string>

							</array>

							<array>
	
								<string>{ 1.93614,-128.25148 }</string>
	
								<string>{ 24.77612,-112.23880 }</string>
	
								<string>{ 103.58209,-67.16418 }</string>
	
								<string>{ 85.07465,-96.41791 }</string>

							</array>

							<array>
	
								<string>{ 103.58209,-67.16418 }</string>
	
								<string>{ 111.94031,-45.07462 }</string>
	
								<string>{ 123.58209,-67.16418 }</string>

							</array>

							<array>
	
								<string>{ 103.58209,-67.16418 }</string>
	
								<string>{ 24.77612,-112.23880 }</string>
	
								<string>{ 35.22388,-100.89552 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 134.02985,117.01492 }</string>
	
								<string>{ 33.43283,123.88062 }</string>
	
								<string>{ -13.43283,139.70151 }</string>
	
								<string>{ -9.85074,160.00000 }</string>
	
								<string>{ 241.19403,159.70151 }</string>
	
								<string>{ 239.70151,120.00000 }</string>

							</array>

							<array>
	
								<string>{ -13.43283,139.70151 }</string>
	
								<string>{ 33.43283,123.88062 }</string>
	
								<string>{ -11.04477,122.98508 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

