<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C25</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -68.69823,66.33136 }</string>
	
								<string>{ -18.69823,68.40236 }</string>
	
								<string>{ 29.82248,66.33136 }</string>
	
								<string>{ -63.07693,37.63313 }</string>
	
								<string>{ -76.39053,49.76331 }</string>

							</array>

							<array>
	
								<string>{ -63.07693,37.63313 }</string>
	
								<string>{ 29.82248,66.33136 }</string>
	
								<string>{ 30.41418,54.20117 }</string>
	
								<string>{ 23.90530,-48.46154 }</string>
	
								<string>{ -6.27220,-57.04142 }</string>
	
								<string>{ -57.45563,-7.33728 }</string>
	
								<string>{ -72.54439,26.39053 }</string>

							</array>

							<array>
	
								<string>{ -66.62723,12.48520 }</string>
	
								<string>{ -57.45563,-7.33728 }</string>
	
								<string>{ -66.62723,-0.53255 }</string>

							</array>

							<array>
	
								<string>{ -156.86391,-39.88166 }</string>
	
								<string>{ -157.45563,-6.74556 }</string>
	
								<string>{ -145.91716,-31.30177 }</string>

							</array>

							<array>
	
								<string>{ -157.45563,-6.74556 }</string>
	
								<string>{ -241.18343,-160.88757 }</string>
	
								<string>{ -240.29586,52.18935 }</string>
	
								<string>{ -161.00592,32.01183 }</string>
	
								<string>{ -150.05917,16.03549 }</string>

							</array>

							<array>
	
								<string>{ 30.41418,54.20117 }</string>
	
								<string>{ 29.82248,66.33136 }</string>
	
								<string>{ 33.66864,63.07692 }</string>

							</array>

							<array>
	
								<string>{ -161.00592,32.01183 }</string>
	
								<string>{ -240.29586,52.18935 }</string>
	
								<string>{ -144.67456,60.47337 }</string>

							</array>

							<array>
	
								<string>{ -57.45563,-7.33728 }</string>
	
								<string>{ -6.27220,-57.04142 }</string>
	
								<string>{ -60.41420,-76.86391 }</string>
	
								<string>{ -68.69823,-55.85799 }</string>
	
								<string>{ -70.47337,-30.11835 }</string>

							</array>

							<array>
	
								<string>{ -68.69823,-55.85799 }</string>
	
								<string>{ -60.41420,-76.86391 }</string>
	
								<string>{ -66.92308,-76.56805 }</string>

							</array>

							<array>
	
								<string>{ -156.27219,-90.47337 }</string>
	
								<string>{ -241.18343,-160.88757 }</string>
	
								<string>{ -156.86391,-39.88166 }</string>
	
								<string>{ -149.76331,-73.01775 }</string>

							</array>

							<array>
	
								<string>{ 241.06506,-159.70414 }</string>
	
								<string>{ 113.25443,15.73964 }</string>
	
								<string>{ 121.53845,21.95265 }</string>
	
								<string>{ 147.86981,32.89940 }</string>
	
								<string>{ 161.77515,35.56212 }</string>
	
								<string>{ 178.93491,36.44969 }</string>
	
								<string>{ 207.04141,35.26627 }</string>
	
								<string>{ 239.88165,31.71597 }</string>

							</array>

							<array>
	
								<string>{ -77.57397,-144.31953 }</string>
	
								<string>{ -241.18343,-160.88757 }</string>
	
								<string>{ -106.27219,-128.93491 }</string>
	
								<string>{ -92.95859,-132.48521 }</string>

							</array>

							<array>
	
								<string>{ -118.40237,-124.20118 }</string>
	
								<string>{ -241.18343,-160.88757 }</string>
	
								<string>{ -150.05917,-103.49113 }</string>
	
								<string>{ -126.39053,-115.62130 }</string>

							</array>

							<array>
	
								<string>{ -156.86391,-39.88166 }</string>
	
								<string>{ -241.18343,-160.88757 }</string>
	
								<string>{ -157.45563,-6.74556 }</string>

							</array>

							<array>
	
								<string>{ -150.05917,-103.49113 }</string>
	
								<string>{ -241.18343,-160.88757 }</string>
	
								<string>{ -156.27219,-90.47337 }</string>

							</array>

							<array>
	
								<string>{ 147.86981,32.89940 }</string>
	
								<string>{ 121.53845,21.95265 }</string>
	
								<string>{ 133.66864,28.46153 }</string>

							</array>

							<array>
	
								<string>{ -106.27219,-128.93491 }</string>
	
								<string>{ -241.18343,-160.88757 }</string>
	
								<string>{ -118.40237,-124.20118 }</string>

							</array>

							<array>
	
								<string>{ -77.57397,-144.31953 }</string>
	
								<string>{ 241.06506,-159.70414 }</string>
	
								<string>{ -241.18343,-160.88757 }</string>

							</array>

							<array>
	
								<string>{ 241.06506,-159.70414 }</string>
	
								<string>{ 101.71597,11.30177 }</string>
	
								<string>{ 113.25443,15.73964 }</string>

							</array>

							<array>
	
								<string>{ 241.06506,-159.70414 }</string>
	
								<string>{ 92.24850,8.34319 }</string>
	
								<string>{ 101.71597,11.30177 }</string>

							</array>

							<array>
	
								<string>{ 241.06506,-159.70414 }</string>
	
								<string>{ 78.04733,6.86391 }</string>
	
								<string>{ 92.24850,8.34319 }</string>

							</array>

							<array>
	
								<string>{ 241.06506,-159.70414 }</string>
	
								<string>{ 138.69821,-67.10059 }</string>
	
								<string>{ 63.55029,10.11833 }</string>
	
								<string>{ 78.04733,6.86391 }</string>

							</array>

							<array>
	
								<string>{ 33.66864,-147.27811 }</string>
	
								<string>{ -77.57397,-144.31953 }</string>
	
								<string>{ -11.59764,-144.31953 }</string>

							</array>

							<array>
	
								<string>{ 30.41418,54.20117 }</string>
	
								<string>{ 34.85205,41.18343 }</string>
	
								<string>{ 56.74554,-42.84024 }</string>
	
								<string>{ 23.90530,-48.46154 }</string>

							</array>

							<array>
	
								<string>{ 149.94083,-147.27811 }</string>
	
								<string>{ 241.06506,-159.70414 }</string>
	
								<string>{ 33.66864,-147.27811 }</string>

							</array>

							<array>
	
								<string>{ 153.49112,-119.46746 }</string>
	
								<string>{ 241.06506,-159.70414 }</string>
	
								<string>{ 149.94083,-147.27811 }</string>

							</array>

							<array>
	
								<string>{ 152.01181,-96.09468 }</string>
	
								<string>{ 241.06506,-159.70414 }</string>
	
								<string>{ 153.49112,-119.46746 }</string>

							</array>

							<array>
	
								<string>{ 146.68637,-80.11835 }</string>
	
								<string>{ 241.06506,-159.70414 }</string>
	
								<string>{ 152.01181,-96.09468 }</string>

							</array>

							<array>
	
								<string>{ 138.69821,-67.10059 }</string>
	
								<string>{ 241.06506,-159.70414 }</string>
	
								<string>{ 146.68637,-80.11835 }</string>

							</array>

							<array>
	
								<string>{ 138.69821,-67.10059 }</string>
	
								<string>{ 53.49112,16.33136 }</string>
	
								<string>{ 63.55029,10.11833 }</string>

							</array>

							<array>
	
								<string>{ 40.17749,31.12425 }</string>
	
								<string>{ 56.74554,-42.84024 }</string>
	
								<string>{ 34.85205,41.18343 }</string>

							</array>

							<array>
	
								<string>{ 40.17749,31.12425 }</string>
	
								<string>{ 79.82248,-41.95267 }</string>
	
								<string>{ 56.74554,-42.84024 }</string>

							</array>

							<array>
	
								<string>{ 40.17749,31.12425 }</string>
	
								<string>{ 46.98224,23.43195 }</string>
	
								<string>{ 100.53253,-44.31953 }</string>
	
								<string>{ 79.82248,-41.95267 }</string>

							</array>

							<array>
	
								<string>{ 53.49112,16.33136 }</string>
	
								<string>{ 100.53253,-44.31953 }</string>
	
								<string>{ 46.98224,23.43195 }</string>

							</array>

							<array>
	
								<string>{ 53.49112,16.33136 }</string>
	
								<string>{ 116.50885,-49.34911 }</string>
	
								<string>{ 100.53253,-44.31953 }</string>

							</array>

							<array>
	
								<string>{ 53.49112,16.33136 }</string>
	
								<string>{ 129.23074,-57.92900 }</string>
	
								<string>{ 116.50885,-49.34911 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

