<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C46</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -171.37830,21.81818 }</string>
	
								<string>{ -115.07332,-35.95308 }</string>
	
								<string>{ -240.00000,-25.98241 }</string>
	
								<string>{ -240.58651,33.07918 }</string>

							</array>

							<array>
	
								<string>{ 62.05276,31.78885 }</string>
	
								<string>{ 70.26392,79.00293 }</string>
	
								<string>{ 86.09970,73.43108 }</string>
	
								<string>{ 85.51318,35.30791 }</string>

							</array>

							<array>
	
								<string>{ 69.67740,-85.51320 }</string>
	
								<string>{ 58.24045,-94.31085 }</string>
	
								<string>{ 35.65982,-97.82991 }</string>
	
								<string>{ 48.56305,-61.17302 }</string>
	
								<string>{ 70.55719,-67.62463 }</string>
	
								<string>{ 74.95599,-77.00880 }</string>

							</array>

							<array>
	
								<string>{ -135.30792,22.99120 }</string>
	
								<string>{ -115.07332,-35.95308 }</string>
	
								<string>{ -171.37830,21.81818 }</string>

							</array>

							<array>
	
								<string>{ -104.22287,28.85629 }</string>
	
								<string>{ 28.32843,-47.97654 }</string>
	
								<string>{ -73.43109,-55.30792 }</string>
	
								<string>{ -115.07332,-35.95308 }</string>
	
								<string>{ -135.30792,22.99120 }</string>

							</array>

							<array>
	
								<string>{ 35.65982,-97.82991 }</string>
	
								<string>{ -32.37537,-99.29619 }</string>
	
								<string>{ -56.12904,-85.80645 }</string>
	
								<string>{ -73.43109,-55.30792 }</string>
	
								<string>{ 28.32843,-47.97654 }</string>
	
								<string>{ 48.56305,-61.17302 }</string>

							</array>

							<array>
	
								<string>{ 62.05276,31.78885 }</string>
	
								<string>{ 44.75073,26.80351 }</string>
	
								<string>{ -61.99414,49.67741 }</string>
	
								<string>{ -41.46628,67.56598 }</string>
	
								<string>{ -19.06158,81.17302 }</string>
	
								<string>{ 53.84164,88.97360 }</string>
	
								<string>{ 70.26392,79.00293 }</string>

							</array>

							<array>
	
								<string>{ -80.46921,37.06744 }</string>
	
								<string>{ 28.32843,-47.97654 }</string>
	
								<string>{ -104.22287,28.85629 }</string>

							</array>

							<array>
	
								<string>{ -61.99414,49.67741 }</string>
	
								<string>{ 16.30499,-31.84750 }</string>
	
								<string>{ 28.32843,-47.97654 }</string>
	
								<string>{ -80.46921,37.06744 }</string>

							</array>

							<array>
	
								<string>{ 26.86215,16.53958 }</string>
	
								<string>{ -61.99414,49.67741 }</string>
	
								<string>{ 44.75073,26.80351 }</string>

							</array>

							<array>
	
								<string>{ 14.54544,-0.46921 }</string>
	
								<string>{ -61.99414,49.67741 }</string>
	
								<string>{ 26.86215,16.53958 }</string>

							</array>

							<array>
	
								<string>{ 11.61290,-16.59825 }</string>
	
								<string>{ -61.99414,49.67741 }</string>
	
								<string>{ 14.54544,-0.46921 }</string>

							</array>

							<array>
	
								<string>{ 16.30499,-31.84750 }</string>
	
								<string>{ -61.99414,49.67741 }</string>
	
								<string>{ 11.61290,-16.59825 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 46.80350,126.80350 }</string>
	
								<string>{ 38.59238,117.41934 }</string>
	
								<string>{ -12.43402,112.72726 }</string>
	
								<string>{ -32.66862,128.56305 }</string>
	
								<string>{ -32.96188,160.93842 }</string>
	
								<string>{ 54.83871,160.64514 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 143.87097,-67.62463 }</string>
	
								<string>{ 160.87976,-77.00880 }</string>
	
								<string>{ 106.62756,-89.61877 }</string>
	
								<string>{ 110.73312,-78.76833 }</string>
	
								<string>{ 126.86215,-60.00000 }</string>

							</array>

							<array>
	
								<string>{ 240.46921,-160.17595 }</string>
	
								<string>{ -98.35777,-146.80352 }</string>
	
								<string>{ -82.81525,-143.57771 }</string>
	
								<string>{ 240.35190,-147.68328 }</string>

							</array>

							<array>
	
								<string>{ -46.15836,-130.38123 }</string>
	
								<string>{ 23.92963,-128.62170 }</string>
	
								<string>{ 156.77417,-145.63050 }</string>
	
								<string>{ -82.81525,-143.57771 }</string>
	
								<string>{ -67.27274,-134.78006 }</string>

							</array>

							<array>
	
								<string>{ 160.87976,-77.00880 }</string>
	
								<string>{ 102.52197,-97.24340 }</string>
	
								<string>{ 106.62756,-89.61877 }</string>

							</array>

							<array>
	
								<string>{ 160.87976,-77.00880 }</string>
	
								<string>{ 163.22580,-81.11437 }</string>
	
								<string>{ 156.77417,-145.63050 }</string>
	
								<string>{ 94.60410,-106.33431 }</string>
	
								<string>{ 102.52197,-97.24340 }</string>

							</array>

							<array>
	
								<string>{ 156.77417,-145.63050 }</string>
	
								<string>{ 84.34018,-115.13197 }</string>
	
								<string>{ 94.60410,-106.33431 }</string>

							</array>

							<array>
	
								<string>{ 156.77417,-145.63050 }</string>
	
								<string>{ 68.79764,-122.17009 }</string>
	
								<string>{ 84.34018,-115.13197 }</string>

							</array>

							<array>
	
								<string>{ 156.77417,-145.63050 }</string>
	
								<string>{ 52.08209,-125.98241 }</string>
	
								<string>{ 68.79764,-122.17009 }</string>

							</array>

							<array>
	
								<string>{ -98.35777,-146.80352 }</string>
	
								<string>{ 240.46921,-160.17595 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -240.29326,-151.67155 }</string>

							</array>

							<array>
	
								<string>{ 156.77417,-145.63050 }</string>
	
								<string>{ 23.92963,-128.62170 }</string>
	
								<string>{ 52.08209,-125.98241 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 143.40176,60.05864 }</string>
	
								<string>{ 142.99118,32.37537 }</string>
	
								<string>{ 116.30496,33.25513 }</string>
	
								<string>{ 115.42520,61.52492 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 240.46921,160.05865 }</string>
	
								<string>{ 227.15543,138.24045 }</string>
	
								<string>{ 219.82404,160.23459 }</string>

							</array>

							<array>
	
								<string>{ 180.52786,65.92375 }</string>
	
								<string>{ 196.95013,72.25806 }</string>
	
								<string>{ 240.64514,9.79472 }</string>
	
								<string>{ 172.60995,27.68327 }</string>

							</array>

							<array>
	
								<string>{ 240.46921,160.05865 }</string>
	
								<string>{ 240.64514,9.79472 }</string>
	
								<string>{ 228.32843,115.95306 }</string>
	
								<string>{ 227.15543,138.24045 }</string>

							</array>

							<array>
	
								<string>{ 212.19940,83.98827 }</string>
	
								<string>{ 240.64514,9.79472 }</string>
	
								<string>{ 196.95013,72.25806 }</string>

							</array>

							<array>
	
								<string>{ 223.34311,98.65103 }</string>
	
								<string>{ 240.64514,9.79472 }</string>
	
								<string>{ 212.19940,83.98827 }</string>

							</array>

							<array>
	
								<string>{ 240.64514,9.79472 }</string>
	
								<string>{ 223.34311,98.65103 }</string>
	
								<string>{ 228.32843,115.95306 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

