<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C28</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -194.84764,58.83658 }</string>
	
								<string>{ -171.85596,57.45152 }</string>
	
								<string>{ -164.65374,24.76454 }</string>
	
								<string>{ -183.49030,15.34627 }</string>
	
								<string>{ -240.00000,-7.36842 }</string>
	
								<string>{ -240.27701,58.94737 }</string>

							</array>

							<array>
	
								<string>{ -144.70914,40.83102 }</string>
	
								<string>{ -150.80332,33.35181 }</string>
	
								<string>{ -164.65374,24.76454 }</string>
	
								<string>{ -171.85596,57.45152 }</string>
	
								<string>{ -157.45152,54.95845 }</string>
	
								<string>{ -147.47923,50.52632 }</string>
	
								<string>{ -143.49030,46.20499 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -186.53740,-102.10526 }</string>
	
								<string>{ -240.27701,-160.55402 }</string>
	
								<string>{ -240.00000,-97.28532 }</string>

							</array>

							<array>
	
								<string>{ -91.24654,-141.99446 }</string>
	
								<string>{ -137.50692,-98.50415 }</string>
	
								<string>{ -112.57617,-94.90305 }</string>
	
								<string>{ -92.63158,-97.39612 }</string>
	
								<string>{ -72.13297,-112.35457 }</string>

							</array>

							<array>
	
								<string>{ -55.51247,-63.04709 }</string>
	
								<string>{ -46.64819,-48.64265 }</string>
	
								<string>{ -16.45428,-56.12188 }</string>
	
								<string>{ -54.12741,-88.25484 }</string>
	
								<string>{ -64.37672,-79.11357 }</string>

							</array>

							<array>
	
								<string>{ 122.60388,-17.34071 }</string>
	
								<string>{ 130.63712,16.17729 }</string>
	
								<string>{ 140.88644,44.70915 }</string>
	
								<string>{ 150.85873,68.25485 }</string>
	
								<string>{ 163.60110,94.84766 }</string>
	
								<string>{ 155.84488,-54.73684 }</string>
	
								<string>{ 143.10251,-52.24377 }</string>
	
								<string>{ 122.04987,-44.21053 }</string>

							</array>

							<array>
	
								<string>{ -24.21053,86.26039 }</string>
	
								<string>{ -14.51523,83.49031 }</string>
	
								<string>{ -5.65096,76.84212 }</string>
	
								<string>{ -38.06093,30.30472 }</string>
	
								<string>{ -40.00000,52.46538 }</string>
	
								<string>{ -39.44598,67.70084 }</string>
	
								<string>{ -37.22990,77.11913 }</string>
	
								<string>{ -32.79778,84.87535 }</string>

							</array>

							<array>
	
								<string>{ -38.06093,-26.48199 }</string>
	
								<string>{ 13.46262,-55.29086 }</string>
	
								<string>{ -16.45428,-56.12188 }</string>
	
								<string>{ -46.64819,-48.64265 }</string>

							</array>

							<array>
	
								<string>{ 240.05542,160.49863 }</string>
	
								<string>{ 189.08588,140.83102 }</string>
	
								<string>{ 200.16623,159.94461 }</string>

							</array>

							<array>
	
								<string>{ -35.29085,-0.16620 }</string>
	
								<string>{ -5.65096,76.84212 }</string>
	
								<string>{ 2.65929,69.08588 }</string>
	
								<string>{ 14.84766,56.62050 }</string>
	
								<string>{ 32.29916,34.45984 }</string>
	
								<string>{ 49.19669,8.69806 }</string>
	
								<string>{ 13.46262,-55.29086 }</string>
	
								<string>{ -38.06093,-26.48199 }</string>

							</array>

							<array>
	
								<string>{ -91.24654,-141.99446 }</string>
	
								<string>{ -240.27701,-160.55402 }</string>
	
								<string>{ -161.32964,-101.82825 }</string>
	
								<string>{ -137.50692,-98.50415 }</string>

							</array>

							<array>
	
								<string>{ 240.05542,160.49863 }</string>
	
								<string>{ 240.99725,-160.16621 }</string>
	
								<string>{ 155.84488,-54.73684 }</string>
	
								<string>{ 163.60110,94.84766 }</string>
	
								<string>{ 176.34351,119.50140 }</string>
	
								<string>{ 189.08588,140.83102 }</string>

							</array>

							<array>
	
								<string>{ -5.65096,76.84212 }</string>
	
								<string>{ -35.29085,-0.16620 }</string>
	
								<string>{ -38.06093,30.30472 }</string>

							</array>

							<array>
	
								<string>{ -161.32964,-101.82825 }</string>
	
								<string>{ -240.27701,-160.55402 }</string>
	
								<string>{ -186.53740,-102.10526 }</string>

							</array>

							<array>
	
								<string>{ 98.78116,-143.37950 }</string>
	
								<string>{ 23.71191,-71.91135 }</string>
	
								<string>{ 13.46262,-55.29086 }</string>
	
								<string>{ 76.62051,-46.42659 }</string>
	
								<string>{ 85.20776,-69.41828 }</string>
	
								<string>{ 93.24100,-94.62604 }</string>
	
								<string>{ 97.95013,-120.66482 }</string>

							</array>

							<array>
	
								<string>{ 30.63712,-143.65651 }</string>
	
								<string>{ 240.99725,-160.16621 }</string>
	
								<string>{ -240.27701,-160.55402 }</string>
	
								<string>{ -91.24654,-141.99446 }</string>

							</array>

							<array>
	
								<string>{ 64.15512,-19.27977 }</string>
	
								<string>{ 76.62051,-46.42659 }</string>
	
								<string>{ 13.46262,-55.29086 }</string>
	
								<string>{ 49.19669,8.69806 }</string>

							</array>

							<array>
	
								<string>{ 98.78116,-143.37950 }</string>
	
								<string>{ 28.69806,-89.08587 }</string>
	
								<string>{ 23.71191,-71.91135 }</string>

							</array>

							<array>
	
								<string>{ 98.78116,-143.37950 }</string>
	
								<string>{ 30.91412,-109.03047 }</string>
	
								<string>{ 28.69806,-89.08587 }</string>

							</array>

							<array>
	
								<string>{ 98.78116,-143.37950 }</string>
	
								<string>{ 32.57617,-124.81994 }</string>
	
								<string>{ 30.91412,-109.03047 }</string>

							</array>

							<array>
	
								<string>{ 98.78116,-143.37950 }</string>
	
								<string>{ 30.63712,-143.65651 }</string>
	
								<string>{ 32.57617,-124.81994 }</string>

							</array>

							<array>
	
								<string>{ 98.78116,-143.37950 }</string>
	
								<string>{ 240.99725,-160.16621 }</string>
	
								<string>{ 30.63712,-143.65651 }</string>

							</array>

							<array>
	
								<string>{ 169.69531,-141.99446 }</string>
	
								<string>{ 240.99725,-160.16621 }</string>
	
								<string>{ 98.78116,-143.37950 }</string>

							</array>

							<array>
	
								<string>{ 172.74240,-115.67867 }</string>
	
								<string>{ 240.99725,-160.16621 }</string>
	
								<string>{ 169.69531,-141.99446 }</string>

							</array>

							<array>
	
								<string>{ 171.63437,-91.57895 }</string>
	
								<string>{ 240.99725,-160.16621 }</string>
	
								<string>{ 172.74240,-115.67867 }</string>

							</array>

							<array>
	
								<string>{ 165.26318,-66.92520 }</string>
	
								<string>{ 240.99725,-160.16621 }</string>
	
								<string>{ 171.63437,-91.57895 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -79.33517,8.14404 }</string>
	
								<string>{ -86.81441,23.93352 }</string>
	
								<string>{ -93.46260,40.27701 }</string>
	
								<string>{ -59.11357,51.08034 }</string>
	
								<string>{ -60.22160,34.18283 }</string>
	
								<string>{ -62.71468,17.28532 }</string>
	
								<string>{ -66.31578,6.48199 }</string>
	
								<string>{ -71.30194,2.60388 }</string>

							</array>

							<array>
	
								<string>{ -100.94182,61.88367 }</string>
	
								<string>{ -108.97507,88.47646 }</string>
	
								<string>{ -127.81163,160.33243 }</string>
	
								<string>{ -57.17451,71.30194 }</string>
	
								<string>{ -59.11357,51.08034 }</string>
	
								<string>{ -93.46260,40.27701 }</string>

							</array>

							<array>
	
								<string>{ 85.20776,83.49031 }</string>
	
								<string>{ 70.52634,84.04433 }</string>
	
								<string>{ 56.39890,90.13850 }</string>
	
								<string>{ 122.71469,160.60944 }</string>
	
								<string>{ 119.27979,128.91968 }</string>
	
								<string>{ 113.46262,110.08310 }</string>
	
								<string>{ 106.81442,98.17175 }</string>
	
								<string>{ 98.50415,88.47646 }</string>

							</array>

							<array>
	
								<string>{ 41.44046,99.27979 }</string>
	
								<string>{ 29.52908,109.25208 }</string>
	
								<string>{ 19.27979,119.22440 }</string>
	
								<string>{ 8.47646,130.58173 }</string>
	
								<string>{ 122.71469,160.60944 }</string>
	
								<string>{ 56.39890,90.13850 }</string>

							</array>

							<array>
	
								<string>{ -127.81163,160.33243 }</string>
	
								<string>{ -54.12741,87.64543 }</string>
	
								<string>{ -57.17451,71.30194 }</string>

							</array>

							<array>
	
								<string>{ -127.81163,160.33243 }</string>
	
								<string>{ -49.97229,103.43491 }</string>
	
								<string>{ -54.12741,87.64543 }</string>

							</array>

							<array>
	
								<string>{ -127.81163,160.33243 }</string>
	
								<string>{ -45.81717,115.06927 }</string>
	
								<string>{ -49.97229,103.43491 }</string>

							</array>

							<array>
	
								<string>{ -127.81163,160.33243 }</string>
	
								<string>{ -41.10803,125.04156 }</string>
	
								<string>{ -45.81717,115.06927 }</string>

							</array>

							<array>
	
								<string>{ -127.81163,160.33243 }</string>
	
								<string>{ -33.62880,135.56787 }</string>
	
								<string>{ -41.10803,125.04156 }</string>

							</array>

							<array>
	
								<string>{ -1.77284,140.27701 }</string>
	
								<string>{ 122.71469,160.60944 }</string>
	
								<string>{ 8.47646,130.58173 }</string>

							</array>

							<array>
	
								<string>{ -127.81163,160.33243 }</string>
	
								<string>{ -25.87257,142.21606 }</string>
	
								<string>{ -33.62880,135.56787 }</string>

							</array>

							<array>
	
								<string>{ -8.97507,144.70914 }</string>
	
								<string>{ 122.71469,160.60944 }</string>
	
								<string>{ -1.77284,140.27701 }</string>

							</array>

							<array>
	
								<string>{ -8.97507,144.70914 }</string>
	
								<string>{ -17.00830,144.70914 }</string>
	
								<string>{ -127.81163,160.33243 }</string>
	
								<string>{ 122.71469,160.60944 }</string>

							</array>

							<array>
	
								<string>{ -127.81163,160.33243 }</string>
	
								<string>{ -17.00830,144.70914 }</string>
	
								<string>{ -25.87257,142.21606 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

