<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C29</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -240.27701,-43.54571 }</string>
	
								<string>{ -194.01662,-76.62050 }</string>
	
								<string>{ -170.47091,-109.30748 }</string>
	
								<string>{ -240.55402,-121.21883 }</string>

							</array>

							<array>
	
								<string>{ 39.50140,25.04155 }</string>
	
								<string>{ 37.28534,19.22438 }</string>
	
								<string>{ 29.80609,12.02217 }</string>
	
								<string>{ 13.18561,2.04987 }</string>
	
								<string>{ -6.48199,-6.81441 }</string>
	
								<string>{ -37.50691,-17.89473 }</string>
	
								<string>{ 30.36011,37.78394 }</string>
	
								<string>{ 37.56235,32.24377 }</string>

							</array>

							<array>
	
								<string>{ 1.55125,47.75624 }</string>
	
								<string>{ 12.07758,44.98616 }</string>
	
								<string>{ -65.48476,10.91414 }</string>
	
								<string>{ -59.94460,20.05540 }</string>
	
								<string>{ -19.50137,51.35735 }</string>

							</array>

							<array>
	
								<string>{ -170.47091,-109.30748 }</string>
	
								<string>{ -123.65651,-86.31579 }</string>
	
								<string>{ -103.43491,-86.03878 }</string>
	
								<string>{ -83.49030,-87.14681 }</string>
	
								<string>{ -85.15234,-100.72022 }</string>

							</array>

							<array>
	
								<string>{ -70.19389,-28.97507 }</string>
	
								<string>{ -110.08310,-39.22437 }</string>
	
								<string>{ 12.07758,44.98616 }</string>
	
								<string>{ 23.43491,41.66205 }</string>
	
								<string>{ 30.36011,37.78394 }</string>
	
								<string>{ -37.50691,-17.89473 }</string>

							</array>

							<array>
	
								<string>{ -158.83656,-52.24377 }</string>
	
								<string>{ -188.47645,-58.33794 }</string>
	
								<string>{ 12.07758,44.98616 }</string>
	
								<string>{ -110.08310,-39.22437 }</string>

							</array>

							<array>
	
								<string>{ -83.49030,-87.14681 }</string>
	
								<string>{ -103.43491,-86.03878 }</string>
	
								<string>{ -81.27423,-85.48476 }</string>

							</array>

							<array>
	
								<string>{ -170.47091,-109.30748 }</string>
	
								<string>{ -140.27701,-86.03878 }</string>
	
								<string>{ -123.65651,-86.31579 }</string>

							</array>

							<array>
	
								<string>{ -170.47091,-109.30748 }</string>
	
								<string>{ -156.62050,-84.93075 }</string>
	
								<string>{ -140.27701,-86.03878 }</string>

							</array>

							<array>
	
								<string>{ -170.47091,-109.30748 }</string>
	
								<string>{ -172.96399,-83.54571 }</string>
	
								<string>{ -156.62050,-84.93075 }</string>

							</array>

							<array>
	
								<string>{ -170.47091,-109.30748 }</string>
	
								<string>{ -185.15235,-80.49861 }</string>
	
								<string>{ -172.96399,-83.54571 }</string>

							</array>

							<array>
	
								<string>{ -170.47091,-109.30748 }</string>
	
								<string>{ -194.01662,-76.62050 }</string>
	
								<string>{ -185.15235,-80.49861 }</string>

							</array>

							<array>
	
								<string>{ -240.27701,-43.54571 }</string>
	
								<string>{ -198.17175,-70.24931 }</string>
	
								<string>{ -194.01662,-76.62050 }</string>

							</array>

							<array>
	
								<string>{ -206.75900,-39.22437 }</string>
	
								<string>{ -197.06371,-64.15512 }</string>
	
								<string>{ -198.17175,-70.24931 }</string>
	
								<string>{ -240.27701,-43.54571 }</string>

							</array>

							<array>
	
								<string>{ -172.96399,-32.85318 }</string>
	
								<string>{ -197.06371,-64.15512 }</string>
	
								<string>{ -206.75900,-39.22437 }</string>

							</array>

							<array>
	
								<string>{ -143.04709,-24.81995 }</string>
	
								<string>{ -188.47645,-58.33794 }</string>
	
								<string>{ -197.06371,-64.15512 }</string>
	
								<string>{ -172.96399,-32.85318 }</string>

							</array>

							<array>
	
								<string>{ 12.07758,44.98616 }</string>
	
								<string>{ -74.62604,2.60388 }</string>
	
								<string>{ -65.48476,10.91414 }</string>

							</array>

							<array>
	
								<string>{ 12.07758,44.98616 }</string>
	
								<string>{ -91.52354,-6.53738 }</string>
	
								<string>{ -74.62604,2.60388 }</string>

							</array>

							<array>
	
								<string>{ -188.47645,-58.33794 }</string>
	
								<string>{ -111.63435,-13.90581 }</string>
	
								<string>{ -91.52354,-6.53738 }</string>

							</array>

							<array>
	
								<string>{ -188.47645,-58.33794 }</string>
	
								<string>{ -143.04709,-24.81995 }</string>
	
								<string>{ -111.63435,-13.90581 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -240.00000,60.60942 }</string>
	
								<string>{ -162.43767,61.05264 }</string>
	
								<string>{ -158.83656,35.56787 }</string>
	
								<string>{ -239.44598,8.14404 }</string>

							</array>

							<array>
	
								<string>{ -162.43767,61.05264 }</string>
	
								<string>{ -64.81995,57.56233 }</string>
	
								<string>{ -115.90028,43.87813 }</string>
	
								<string>{ -158.83656,35.56787 }</string>

							</array>

							<array>
	
								<string>{ -115.90028,43.87813 }</string>
	
								<string>{ -64.81995,57.56233 }</string>
	
								<string>{ -81.55124,43.87813 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 55.56787,116.73132 }</string>
	
								<string>{ 11.80057,123.65652 }</string>
	
								<string>{ 3.21330,136.95291 }</string>
	
								<string>{ 79.50140,160.05542 }</string>
	
								<string>{ 79.11359,121.99448 }</string>

							</array>

							<array>
	
								<string>{ -7.86703,145.54016 }</string>
	
								<string>{ 79.50140,160.05542 }</string>
	
								<string>{ 3.21330,136.95291 }</string>

							</array>

							<array>
	
								<string>{ -21.44043,153.57343 }</string>
	
								<string>{ 79.50140,160.05542 }</string>
	
								<string>{ -7.86703,145.54016 }</string>

							</array>

							<array>
	
								<string>{ -21.44043,153.57343 }</string>
	
								<string>{ -47.47922,160.05542 }</string>
	
								<string>{ 79.50140,160.05542 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -17.56232,-86.31579 }</string>
	
								<string>{ 9.86150,-84.65374 }</string>
	
								<string>{ 48.64267,-102.93629 }</string>
	
								<string>{ -14.23822,-98.78116 }</string>
	
								<string>{ -18.11633,-95.73407 }</string>

							</array>

							<array>
	
								<string>{ 47.53464,-80.77562 }</string>
	
								<string>{ 68.86429,-108.47645 }</string>
	
								<string>{ 48.64267,-102.93629 }</string>
	
								<string>{ 9.86150,-84.65374 }</string>

							</array>

							<array>
	
								<string>{ 89.63989,-75.51247 }</string>
	
								<string>{ 88.53186,-115.67867 }</string>
	
								<string>{ 68.86429,-108.47645 }</string>
	
								<string>{ 47.53464,-80.77562 }</string>

							</array>

							<array>
	
								<string>{ 124.26593,-67.75623 }</string>
	
								<string>{ 105.42938,-127.31302 }</string>
	
								<string>{ 88.53186,-115.67867 }</string>
	
								<string>{ 89.63989,-75.51247 }</string>

							</array>

							<array>
	
								<string>{ 76.06650,80.44322 }</string>
	
								<string>{ 103.76733,73.51801 }</string>
	
								<string>{ 121.77286,61.60666 }</string>
	
								<string>{ 81.88367,35.84488 }</string>
	
								<string>{ 0.72023,66.31580 }</string>
	
								<string>{ -2.04985,74.90306 }</string>
	
								<string>{ 9.03047,93.18561 }</string>

							</array>

							<array>
	
								<string>{ 146.42661,-60.55402 }</string>
	
								<string>{ 113.73962,-139.22438 }</string>
	
								<string>{ 105.42938,-127.31302 }</string>
	
								<string>{ 124.26593,-67.75623 }</string>

							</array>

							<array>
	
								<string>{ 240.72025,-160.16621 }</string>
	
								<string>{ 206.81442,29.75070 }</string>
	
								<string>{ 239.77841,26.98062 }</string>

							</array>

							<array>
	
								<string>{ 240.72025,-160.16621 }</string>
	
								<string>{ 182.16068,-26.20499 }</string>
	
								<string>{ 170.24933,38.89197 }</string>
	
								<string>{ 206.81442,29.75070 }</string>

							</array>

							<array>
	
								<string>{ 169.14130,-50.30470 }</string>
	
								<string>{ 240.72025,-160.16621 }</string>
	
								<string>{ 114.01663,-149.75069 }</string>
	
								<string>{ 113.73962,-139.22438 }</string>
	
								<string>{ 146.42661,-60.55402 }</string>

							</array>

							<array>
	
								<string>{ 121.77286,61.60666 }</string>
	
								<string>{ 140.88644,50.80333 }</string>
	
								<string>{ 119.55679,19.22438 }</string>
	
								<string>{ 81.88367,35.84488 }</string>

							</array>

							<array>
	
								<string>{ 140.88644,50.80333 }</string>
	
								<string>{ 170.24933,38.89197 }</string>
	
								<string>{ 144.76456,6.48199 }</string>
	
								<string>{ 119.55679,19.22438 }</string>

							</array>

							<array>
	
								<string>{ 170.24933,38.89197 }</string>
	
								<string>{ 164.15515,-5.42935 }</string>
	
								<string>{ 144.76456,6.48199 }</string>

							</array>

							<array>
	
								<string>{ 170.24933,38.89197 }</string>
	
								<string>{ 176.62051,-15.95567 }</string>
	
								<string>{ 164.15515,-5.42935 }</string>

							</array>

							<array>
	
								<string>{ 170.24933,38.89197 }</string>
	
								<string>{ 182.16068,-26.20499 }</string>
	
								<string>{ 176.62051,-15.95567 }</string>

							</array>

							<array>
	
								<string>{ -51.91135,-145.59557 }</string>
	
								<string>{ 114.01663,-149.75069 }</string>
	
								<string>{ 240.72025,-160.16621 }</string>
	
								<string>{ -240.27701,-160.83102 }</string>
	
								<string>{ -240.55402,-151.85596 }</string>

							</array>

							<array>
	
								<string>{ 240.72025,-160.16621 }</string>
	
								<string>{ 181.60666,-36.73130 }</string>
	
								<string>{ 182.16068,-26.20499 }</string>

							</array>

							<array>
	
								<string>{ 240.72025,-160.16621 }</string>
	
								<string>{ 169.14130,-50.30470 }</string>
	
								<string>{ 181.60666,-36.73130 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

