<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C14</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -102.53520,-47.60563 }</string>
	
								<string>{ -193.23944,-4.50703 }</string>
	
								<string>{ -136.33803,12.95775 }</string>
	
								<string>{ -41.40845,-17.18309 }</string>
	
								<string>{ -33.80281,-55.21127 }</string>

							</array>

							<array>
	
								<string>{ 72.67606,-90.70422 }</string>
	
								<string>{ -54.36620,-112.67606 }</string>
	
								<string>{ -18.87323,-78.02817 }</string>

							</array>

							<array>
	
								<string>{ 61.12677,116.33804 }</string>
	
								<string>{ 138.02817,98.59155 }</string>
	
								<string>{ 87.88733,85.63380 }</string>
	
								<string>{ 36.05634,104.22534 }</string>
	
								<string>{ 37.46478,115.21127 }</string>

							</array>

							<array>
	
								<string>{ 138.02817,98.59155 }</string>
	
								<string>{ 128.16901,64.50705 }</string>
	
								<string>{ 87.88733,85.63380 }</string>

							</array>

							<array>
	
								<string>{ 138.02817,98.59155 }</string>
	
								<string>{ 239.71832,67.60564 }</string>
	
								<string>{ 164.22537,33.52113 }</string>
	
								<string>{ 128.16901,64.50705 }</string>

							</array>

							<array>
	
								<string>{ 239.71832,67.60564 }</string>
	
								<string>{ 176.05634,7.88733 }</string>
	
								<string>{ 164.22537,33.52113 }</string>

							</array>

							<array>
	
								<string>{ 240.84506,-160.00000 }</string>
	
								<string>{ 181.40845,-20.56339 }</string>
	
								<string>{ 176.05634,7.88733 }</string>
	
								<string>{ 239.71832,67.60564 }</string>

							</array>

							<array>
	
								<string>{ 9.85916,31.26761 }</string>
	
								<string>{ -48.73239,40.00000 }</string>
	
								<string>{ 68.16901,53.23944 }</string>

							</array>

							<array>
	
								<string>{ -22.25352,11.54930 }</string>
	
								<string>{ -48.73239,40.00000 }</string>
	
								<string>{ 9.85916,31.26761 }</string>

							</array>

							<array>
	
								<string>{ -41.40845,-17.18309 }</string>
	
								<string>{ -136.33803,12.95775 }</string>
	
								<string>{ -48.73239,40.00000 }</string>
	
								<string>{ -22.25352,11.54930 }</string>

							</array>

							<array>
	
								<string>{ -133.80282,-46.47887 }</string>
	
								<string>{ -193.23944,-4.50703 }</string>
	
								<string>{ -102.53520,-47.60563 }</string>

							</array>

							<array>
	
								<string>{ -169.57746,-51.54929 }</string>
	
								<string>{ -226.47887,-4.22536 }</string>
	
								<string>{ -193.23944,-4.50703 }</string>
	
								<string>{ -133.80282,-46.47887 }</string>

							</array>

							<array>
	
								<string>{ -189.01408,-64.78873 }</string>
	
								<string>{ -226.47887,-4.22536 }</string>
	
								<string>{ -169.57746,-51.54929 }</string>

							</array>

							<array>
	
								<string>{ -198.30986,-84.50704 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -240.28169,6.76056 }</string>
	
								<string>{ -226.47887,-4.22536 }</string>
	
								<string>{ -189.01408,-64.78873 }</string>

							</array>

							<array>
	
								<string>{ -196.61972,-107.88732 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -198.30986,-84.50704 }</string>

							</array>

							<array>
	
								<string>{ -183.94366,-123.94366 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -196.61972,-107.88732 }</string>

							</array>

							<array>
	
								<string>{ -167.04225,-131.26760 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -183.94366,-123.94366 }</string>

							</array>

							<array>
	
								<string>{ -138.30986,-134.64789 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -167.04225,-131.26760 }</string>

							</array>

							<array>
	
								<string>{ -138.30986,-134.64789 }</string>
	
								<string>{ -98.30986,-129.01408 }</string>
	
								<string>{ 240.84506,-160.00000 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>

							</array>

							<array>
	
								<string>{ 72.67606,-90.70422 }</string>
	
								<string>{ 115.77466,-89.57746 }</string>
	
								<string>{ 240.84506,-160.00000 }</string>
	
								<string>{ -98.30986,-129.01408 }</string>
	
								<string>{ -54.36620,-112.67606 }</string>

							</array>

							<array>
	
								<string>{ 240.84506,-160.00000 }</string>
	
								<string>{ 177.46478,-49.57746 }</string>
	
								<string>{ 181.40845,-20.56339 }</string>

							</array>

							<array>
	
								<string>{ 240.84506,-160.00000 }</string>
	
								<string>{ 163.94366,-69.85915 }</string>
	
								<string>{ 177.46478,-49.57746 }</string>

							</array>

							<array>
	
								<string>{ 240.84506,-160.00000 }</string>
	
								<string>{ 144.50705,-83.38028 }</string>
	
								<string>{ 163.94366,-69.85915 }</string>

							</array>

							<array>
	
								<string>{ 240.84506,-160.00000 }</string>
	
								<string>{ 115.77466,-89.57746 }</string>
	
								<string>{ 144.50705,-83.38028 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

