<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C30</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 114.77319,160.81696 }</string>
	
								<string>{ 284.08862,160.93225 }</string>
	
								<string>{ 146.64133,141.86093 }</string>
	
								<string>{ 99.93802,138.56421 }</string>

							</array>

							<array>
	
								<string>{ 99.93802,105.04773 }</string>
	
								<string>{ 130.98196,84.99278 }</string>
	
								<string>{ 147.19077,73.45433 }</string>
	
								<string>{ 153.78418,33.34444 }</string>
	
								<string>{ 126.31165,58.61916 }</string>
	
								<string>{ 108.45450,77.84993 }</string>
	
								<string>{ 99.38858,94.60817 }</string>

							</array>

							<array>
	
								<string>{ -133.57846,9.71806 }</string>
	
								<string>{ -284.70888,79.09476 }</string>
	
								<string>{ -111.05098,25.37741 }</string>
	
								<string>{ -111.60043,19.88290 }</string>

							</array>

							<array>
	
								<string>{ 174.93802,-57.04018 }</string>
	
								<string>{ 139.49844,-96.87534 }</string>
	
								<string>{ 134.82812,-85.88633 }</string>
	
								<string>{ 133.17978,-79.01820 }</string>

							</array>

							<array>
	
								<string>{ 174.93802,-57.04018 }</string>
	
								<string>{ 148.01495,-120.77644 }</string>
	
								<string>{ 139.49844,-96.87534 }</string>

							</array>

							<array>
	
								<string>{ 174.93802,-57.04018 }</string>
	
								<string>{ 181.80615,-51.54567 }</string>
	
								<string>{ 150.21274,-146.05116 }</string>
	
								<string>{ 148.01495,-120.77644 }</string>

							</array>

							<array>
	
								<string>{ -151.43559,0.10268 }</string>
	
								<string>{ -284.70888,79.09476 }</string>
	
								<string>{ -133.57846,9.71806 }</string>

							</array>

							<array>
	
								<string>{ -166.27077,-12.25996 }</string>
	
								<string>{ -284.70888,79.09476 }</string>
	
								<string>{ -151.43559,0.10268 }</string>

							</array>

							<array>
	
								<string>{ 130.98196,84.99278 }</string>
	
								<string>{ 99.93802,105.04773 }</string>
	
								<string>{ 102.13583,108.06970 }</string>

							</array>

							<array>
	
								<string>{ 162.57538,66.58620 }</string>
	
								<string>{ 178.50946,11.64114 }</string>
	
								<string>{ 153.78418,33.34444 }</string>
	
								<string>{ 147.19077,73.45433 }</string>

							</array>

							<array>
	
								<string>{ 172.19077,64.66312 }</string>
	
								<string>{ 178.50946,11.64114 }</string>
	
								<string>{ 162.57538,66.58620 }</string>

							</array>

							<array>
	
								<string>{ 183.45450,65.48729 }</string>
	
								<string>{ 178.50946,11.64114 }</string>
	
								<string>{ 172.19077,64.66312 }</string>

							</array>

							<array>
	
								<string>{ 191.97098,70.70708 }</string>
	
								<string>{ 185.37756,3.94884 }</string>
	
								<string>{ 178.50946,11.64114 }</string>
	
								<string>{ 183.45450,65.48729 }</string>

							</array>

							<array>
	
								<string>{ 191.97098,70.70708 }</string>
	
								<string>{ 198.01495,81.14664 }</string>
	
								<string>{ 190.87207,-5.11710 }</string>
	
								<string>{ 185.37756,3.94884 }</string>

							</array>

							<array>
	
								<string>{ -173.96307,-18.85336 }</string>
	
								<string>{ -284.70888,79.09476 }</string>
	
								<string>{ -166.27077,-12.25996 }</string>

							</array>

							<array>
	
								<string>{ -173.96307,-18.85336 }</string>
	
								<string>{ -179.18285,-26.54567 }</string>
	
								<string>{ -284.00000,-159.67213 }</string>
	
								<string>{ -284.70888,79.09476 }</string>

							</array>

							<array>
	
								<string>{ 198.01495,81.14664 }</string>
	
								<string>{ 201.03693,96.25653 }</string>
	
								<string>{ 284.30658,-159.78202 }</string>
	
								<string>{ 194.44351,-14.73248 }</string>
	
								<string>{ 190.87207,-5.11710 }</string>

							</array>

							<array>
	
								<string>{ 187.85010,-44.40282 }</string>
	
								<string>{ 150.21274,-146.05116 }</string>
	
								<string>{ 181.80615,-51.54567 }</string>

							</array>

							<array>
	
								<string>{ 284.08862,160.93225 }</string>
	
								<string>{ 162.57538,140.48730 }</string>
	
								<string>{ 146.64133,141.86093 }</string>

							</array>

							<array>
	
								<string>{ 284.08862,160.93225 }</string>
	
								<string>{ 175.48746,136.64114 }</string>
	
								<string>{ 162.57538,140.48730 }</string>

							</array>

							<array>
	
								<string>{ 284.08862,160.93225 }</string>
	
								<string>{ 188.12482,128.94882 }</string>
	
								<string>{ 175.48746,136.64114 }</string>

							</array>

							<array>
	
								<string>{ 284.08862,160.93225 }</string>
	
								<string>{ 195.54242,119.60818 }</string>
	
								<string>{ 188.12482,128.94882 }</string>

							</array>

							<array>
	
								<string>{ 284.08862,160.93225 }</string>
	
								<string>{ 199.66330,109.99280 }</string>
	
								<string>{ 195.54242,119.60818 }</string>

							</array>

							<array>
	
								<string>{ 284.30658,-159.78202 }</string>
	
								<string>{ 201.03693,96.25653 }</string>
	
								<string>{ 199.66330,109.99280 }</string>
	
								<string>{ 284.08862,160.93225 }</string>

							</array>

							<array>
	
								<string>{ 192.79517,-34.78743 }</string>
	
								<string>{ 284.30658,-159.78202 }</string>
	
								<string>{ 150.21274,-146.05116 }</string>
	
								<string>{ 187.85010,-44.40282 }</string>

							</array>

							<array>
	
								<string>{ 284.30658,-159.78202 }</string>
	
								<string>{ 194.99295,-24.62259 }</string>
	
								<string>{ 194.44351,-14.73248 }</string>

							</array>

							<array>
	
								<string>{ 284.30658,-159.78202 }</string>
	
								<string>{ 192.79517,-34.78743 }</string>
	
								<string>{ 194.99295,-24.62259 }</string>

							</array>

							<array>
	
								<string>{ 284.30658,-159.78202 }</string>
	
								<string>{ -284.00000,-159.67213 }</string>
	
								<string>{ -125.06197,-145.50171 }</string>
	
								<string>{ 150.21274,-146.05116 }</string>

							</array>

							<array>
	
								<string>{ -284.00000,-159.67213 }</string>
	
								<string>{ -137.42461,-142.75446 }</string>
	
								<string>{ -125.06197,-145.50171 }</string>

							</array>

							<array>
	
								<string>{ -284.00000,-159.67213 }</string>
	
								<string>{ -147.31471,-136.43578 }</string>
	
								<string>{ -137.42461,-142.75446 }</string>

							</array>

							<array>
	
								<string>{ -284.00000,-159.67213 }</string>
	
								<string>{ -157.47955,-128.74347 }</string>
	
								<string>{ -147.31471,-136.43578 }</string>

							</array>

							<array>
	
								<string>{ -284.00000,-159.67213 }</string>
	
								<string>{ -167.36967,-118.57864 }</string>
	
								<string>{ -157.47955,-128.74347 }</string>

							</array>

							<array>
	
								<string>{ -284.00000,-159.67213 }</string>
	
								<string>{ -176.43560,-106.76545 }</string>
	
								<string>{ -167.36967,-118.57864 }</string>

							</array>

							<array>
	
								<string>{ -284.00000,-159.67213 }</string>
	
								<string>{ -184.95208,-93.57864 }</string>
	
								<string>{ -176.43560,-106.76545 }</string>

							</array>

							<array>
	
								<string>{ -284.00000,-159.67213 }</string>
	
								<string>{ -189.07296,-82.58962 }</string>
	
								<string>{ -184.95208,-93.57864 }</string>

							</array>

							<array>
	
								<string>{ -284.00000,-159.67213 }</string>
	
								<string>{ -191.54549,-71.32589 }</string>
	
								<string>{ -189.07296,-82.58962 }</string>

							</array>

							<array>
	
								<string>{ -284.00000,-159.67213 }</string>
	
								<string>{ -191.82021,-58.41380 }</string>
	
								<string>{ -191.54549,-71.32589 }</string>

							</array>

							<array>
	
								<string>{ -284.00000,-159.67213 }</string>
	
								<string>{ -189.34769,-47.42479 }</string>
	
								<string>{ -191.82021,-58.41380 }</string>

							</array>

							<array>
	
								<string>{ -284.00000,-159.67213 }</string>
	
								<string>{ -186.32571,-38.90831 }</string>
	
								<string>{ -189.34769,-47.42479 }</string>

							</array>

							<array>
	
								<string>{ -284.00000,-159.67213 }</string>
	
								<string>{ -179.18285,-26.54567 }</string>
	
								<string>{ -186.32571,-38.90831 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

