<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C26</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -193.07918,10.03322 }</string>
	
								<string>{ -132.96188,-33.31379 }</string>
	
								<string>{ -240.58651,-13.95895 }</string>
	
								<string>{ -240.03750,34.88295 }</string>

							</array>

							<array>
	
								<string>{ 150.61581,20.05864 }</string>
	
								<string>{ 120.11728,29.73607 }</string>
	
								<string>{ 119.82404,61.11436 }</string>
	
								<string>{ 155.89441,33.54839 }</string>
	
								<string>{ 157.94720,25.04399 }</string>

							</array>

							<array>
	
								<string>{ -77.71262,107.27274 }</string>
	
								<string>{ -61.40762,110.08798 }</string>
	
								<string>{ -71.96481,96.01172 }</string>
	
								<string>{ -77.53667,100.41055 }</string>

							</array>

							<array>
	
								<string>{ 99.58945,35.01466 }</string>
	
								<string>{ 75.24927,83.10851 }</string>
	
								<string>{ 119.82404,61.11436 }</string>
	
								<string>{ 120.11728,29.73607 }</string>

							</array>

							<array>
	
								<string>{ 79.35483,37.94720 }</string>
	
								<string>{ -69.03226,72.55132 }</string>
	
								<string>{ -22.99121,107.15543 }</string>
	
								<string>{ 27.44867,99.23752 }</string>
	
								<string>{ 75.24927,83.10851 }</string>
	
								<string>{ 99.58945,35.01466 }</string>

							</array>

							<array>
	
								<string>{ -115.70333,3.17136 }</string>
	
								<string>{ -129.25832,-3.98978 }</string>
	
								<string>{ -128.23530,1.63683 }</string>

							</array>

							<array>
	
								<string>{ -61.40762,110.08798 }</string>
	
								<string>{ -22.99121,107.15543 }</string>
	
								<string>{ -69.03226,72.55132 }</string>
	
								<string>{ -71.96481,96.01172 }</string>

							</array>

							<array>
	
								<string>{ -132.96188,-33.31379 }</string>
	
								<string>{ -141.46628,-11.02640 }</string>
	
								<string>{ -104.65263,5.95164 }</string>
	
								<string>{ -1.29033,19.76540 }</string>
	
								<string>{ -81.05573,-47.09678 }</string>
	
								<string>{ -99.53079,-54.42815 }</string>

							</array>

							<array>
	
								<string>{ -129.25832,-3.98978 }</string>
	
								<string>{ -135.89443,-6.62756 }</string>
	
								<string>{ -133.66089,-4.44878 }</string>

							</array>

							<array>
	
								<string>{ -153.78300,-6.04106 }</string>
	
								<string>{ -172.73657,3.17136 }</string>
	
								<string>{ -154.33200,-1.00471 }</string>

							</array>

							<array>
	
								<string>{ 79.35483,37.94720 }</string>
	
								<string>{ -71.08505,49.38416 }</string>
	
								<string>{ -69.03226,72.55132 }</string>

							</array>

							<array>
	
								<string>{ -129.25832,-3.98978 }</string>
	
								<string>{ -141.46628,-11.02640 }</string>
	
								<string>{ -135.89443,-6.62756 }</string>

							</array>

							<array>
	
								<string>{ -172.73657,3.17136 }</string>
	
								<string>{ -153.78300,-6.04106 }</string>
	
								<string>{ -148.21114,-11.31966 }</string>
	
								<string>{ -132.96188,-33.31379 }</string>
	
								<string>{ -193.07918,10.03322 }</string>

							</array>

							<array>
	
								<string>{ -104.65263,5.95164 }</string>
	
								<string>{ -141.46628,-11.02640 }</string>
	
								<string>{ -129.25832,-3.98978 }</string>
	
								<string>{ -115.70333,3.17136 }</string>

							</array>

							<array>
	
								<string>{ -141.46628,-11.02640 }</string>
	
								<string>{ -132.96188,-33.31379 }</string>
	
								<string>{ -148.21114,-11.31966 }</string>

							</array>

							<array>
	
								<string>{ -104.65263,5.95164 }</string>
	
								<string>{ 10.73314,29.73607 }</string>
	
								<string>{ -1.29033,19.76540 }</string>

							</array>

							<array>
	
								<string>{ -104.65263,5.95164 }</string>
	
								<string>{ -95.24297,9.82097 }</string>
	
								<string>{ 23.63635,35.30791 }</string>
	
								<string>{ 10.73314,29.73607 }</string>

							</array>

							<array>
	
								<string>{ -87.21408,15.65982 }</string>
	
								<string>{ 23.63635,35.30791 }</string>
	
								<string>{ -95.24297,9.82097 }</string>

							</array>

							<array>
	
								<string>{ -77.53667,30.32257 }</string>
	
								<string>{ 23.63635,35.30791 }</string>
	
								<string>{ -87.21408,15.65982 }</string>

							</array>

							<array>
	
								<string>{ -71.08505,49.38416 }</string>
	
								<string>{ 39.47214,38.24046 }</string>
	
								<string>{ 23.63635,35.30791 }</string>
	
								<string>{ -77.53667,30.32257 }</string>

							</array>

							<array>
	
								<string>{ -71.08505,49.38416 }</string>
	
								<string>{ 55.89441,39.12022 }</string>
	
								<string>{ 39.47214,38.24046 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -20.05865,-66.15836 }</string>
	
								<string>{ -60.82112,-69.97068 }</string>
	
								<string>{ -23.57771,-39.17889 }</string>

							</array>

							<array>
	
								<string>{ -13.31378,-89.91203 }</string>
	
								<string>{ -74.60411,-120.99707 }</string>
	
								<string>{ -74.60411,-90.49854 }</string>
	
								<string>{ -60.82112,-69.97068 }</string>
	
								<string>{ -20.05865,-66.15836 }</string>

							</array>

							<array>
	
								<string>{ -5.98241,-109.26686 }</string>
	
								<string>{ -74.60411,-120.99707 }</string>
	
								<string>{ -13.31378,-89.91203 }</string>

							</array>

							<array>
	
								<string>{ 2.81525,-126.86217 }</string>
	
								<string>{ -82.52200,-135.07331 }</string>
	
								<string>{ -74.60411,-120.99707 }</string>
	
								<string>{ -5.98241,-109.26686 }</string>

							</array>

							<array>
	
								<string>{ 15.42522,-140.93842 }</string>
	
								<string>{ -97.77127,-145.33724 }</string>
	
								<string>{ -82.52200,-135.07331 }</string>
	
								<string>{ 2.81525,-126.86217 }</string>

							</array>

							<array>
	
								<string>{ 241.34897,-159.88270 }</string>
	
								<string>{ 105.16129,-145.04399 }</string>
	
								<string>{ 160.87976,-143.28446 }</string>
	
								<string>{ 240.93842,-147.97654 }</string>

							</array>

							<array>
	
								<string>{ -97.77127,-145.33724 }</string>
	
								<string>{ 32.72726,-145.92375 }</string>
	
								<string>{ 241.34897,-159.88270 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -239.70674,-150.79179 }</string>

							</array>

							<array>
	
								<string>{ 32.72726,-145.92375 }</string>
	
								<string>{ -97.77127,-145.33724 }</string>
	
								<string>{ 15.42522,-140.93842 }</string>

							</array>

							<array>
	
								<string>{ 241.34897,-159.88270 }</string>
	
								<string>{ 32.72726,-145.92375 }</string>
	
								<string>{ 105.16129,-145.04399 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -129.73608,142.05276 }</string>
	
								<string>{ -137.06745,160.64514 }</string>
	
								<string>{ -99.53079,140.58652 }</string>
	
								<string>{ -117.41936,127.97653 }</string>

							</array>

							<array>
	
								<string>{ 95.77713,6.56891 }</string>
	
								<string>{ 115.71848,-32.72728 }</string>
	
								<string>{ 71.43695,1.29031 }</string>
	
								<string>{ 59.41348,17.12610 }</string>

							</array>

							<array>
	
								<string>{ 119.82404,0.11729 }</string>
	
								<string>{ 115.71848,-32.72728 }</string>
	
								<string>{ 95.77713,6.56891 }</string>

							</array>

							<array>
	
								<string>{ 140.93842,-5.16130 }</string>
	
								<string>{ 239.76538,-104.57478 }</string>
	
								<string>{ 172.60995,-71.14370 }</string>
	
								<string>{ 115.71848,-32.72728 }</string>
	
								<string>{ 119.82404,0.11729 }</string>

							</array>

							<array>
	
								<string>{ -137.06745,160.64514 }</string>
	
								<string>{ -82.52200,146.74487 }</string>
	
								<string>{ -99.53079,140.58652 }</string>

							</array>

							<array>
	
								<string>{ -137.06745,160.64514 }</string>
	
								<string>{ -62.58064,152.02344 }</string>
	
								<string>{ -82.52200,146.74487 }</string>

							</array>

							<array>
	
								<string>{ 151.04858,-6.29156 }</string>
	
								<string>{ 239.76538,-104.57478 }</string>
	
								<string>{ 140.93842,-5.16130 }</string>

							</array>

							<array>
	
								<string>{ 158.97021,-6.25931 }</string>
	
								<string>{ 239.76538,-104.57478 }</string>
	
								<string>{ 151.04858,-6.29156 }</string>

							</array>

							<array>
	
								<string>{ 167.67264,-5.52431 }</string>
	
								<string>{ 239.76538,-104.57478 }</string>
	
								<string>{ 158.97021,-6.25931 }</string>

							</array>

							<array>
	
								<string>{ 176.12903,-2.74025 }</string>
	
								<string>{ 239.76538,-104.57478 }</string>
	
								<string>{ 167.67264,-5.52431 }</string>

							</array>

							<array>
	
								<string>{ 181.99487,1.38107 }</string>
	
								<string>{ 239.76538,-104.57478 }</string>
	
								<string>{ 176.12903,-2.74025 }</string>

							</array>

							<array>
	
								<string>{ 185.51318,6.56891 }</string>
	
								<string>{ 239.76538,-104.57478 }</string>
	
								<string>{ 181.99487,1.38107 }</string>

							</array>

							<array>
	
								<string>{ 185.51318,6.56891 }</string>
	
								<string>{ 187.10995,11.61125 }</string>
	
								<string>{ 241.34897,160.35190 }</string>
	
								<string>{ 239.76538,-104.57478 }</string>

							</array>

							<array>
	
								<string>{ -137.06745,160.64514 }</string>
	
								<string>{ -45.86511,153.78299 }</string>
	
								<string>{ -62.58064,152.02344 }</string>

							</array>

							<array>
	
								<string>{ -137.06745,160.64514 }</string>
	
								<string>{ -23.28447,154.36951 }</string>
	
								<string>{ -45.86511,153.78299 }</string>

							</array>

							<array>
	
								<string>{ 241.34897,160.35190 }</string>
	
								<string>{ -23.28447,154.36951 }</string>
	
								<string>{ -137.06745,160.64514 }</string>

							</array>

							<array>
	
								<string>{ 241.34897,160.35190 }</string>
	
								<string>{ 1.05571,152.60995 }</string>
	
								<string>{ -23.28447,154.36951 }</string>

							</array>

							<array>
	
								<string>{ 241.34897,160.35190 }</string>
	
								<string>{ 40.64514,147.33136 }</string>
	
								<string>{ 1.05571,152.60995 }</string>

							</array>

							<array>
	
								<string>{ 241.34897,160.35190 }</string>
	
								<string>{ 74.66275,141.17300 }</string>
	
								<string>{ 40.64514,147.33136 }</string>

							</array>

							<array>
	
								<string>{ 241.34897,160.35190 }</string>
	
								<string>{ 85.57544,137.95395 }</string>
	
								<string>{ 74.66275,141.17300 }</string>

							</array>

							<array>
	
								<string>{ 241.34897,160.35190 }</string>
	
								<string>{ 96.36362,133.84164 }</string>
	
								<string>{ 85.57544,137.95395 }</string>

							</array>

							<array>
	
								<string>{ 241.34897,160.35190 }</string>
	
								<string>{ 108.33759,127.21228 }</string>
	
								<string>{ 96.36362,133.84164 }</string>

							</array>

							<array>
	
								<string>{ 241.34897,160.35190 }</string>
	
								<string>{ 117.77124,120.35190 }</string>
	
								<string>{ 108.33759,127.21228 }</string>

							</array>

							<array>
	
								<string>{ 241.34897,160.35190 }</string>
	
								<string>{ 134.48679,103.92963 }</string>
	
								<string>{ 117.77124,120.35190 }</string>

							</array>

							<array>
	
								<string>{ 241.34897,160.35190 }</string>
	
								<string>{ 162.63928,67.85924 }</string>
	
								<string>{ 134.48679,103.92963 }</string>

							</array>

							<array>
	
								<string>{ 241.34897,160.35190 }</string>
	
								<string>{ 175.83575,48.50439 }</string>
	
								<string>{ 162.63928,67.85924 }</string>

							</array>

							<array>
	
								<string>{ 241.34897,160.35190 }</string>
	
								<string>{ 184.34018,29.73607 }</string>
	
								<string>{ 175.83575,48.50439 }</string>

							</array>

							<array>
	
								<string>{ 241.34897,160.35190 }</string>
	
								<string>{ 186.59845,23.88747 }</string>
	
								<string>{ 184.34018,29.73607 }</string>

							</array>

							<array>
	
								<string>{ 241.34897,160.35190 }</string>
	
								<string>{ 187.27271,16.83284 }</string>
	
								<string>{ 186.59845,23.88747 }</string>

							</array>

							<array>
	
								<string>{ 241.34897,160.35190 }</string>
	
								<string>{ 187.10995,11.61125 }</string>
	
								<string>{ 187.27271,16.83284 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

