<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C59</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -118.38617,-29.16426 }</string>
	
								<string>{ -171.41210,28.47263 }</string>
	
								<string>{ -130.20173,15.79251 }</string>
	
								<string>{ -75.44669,-8.99135 }</string>

							</array>

							<array>
	
								<string>{ 204.66858,-51.64265 }</string>
	
								<string>{ 240.11526,-80.46110 }</string>
	
								<string>{ 240.63400,-160.05764 }</string>
	
								<string>{ 168.06915,-72.96830 }</string>
	
								<string>{ 177.57925,-48.47263 }</string>

							</array>

							<array>
	
								<string>{ -143.17003,-49.04900 }</string>
	
								<string>{ -239.71182,11.98846 }</string>
	
								<string>{ -204.26513,28.18443 }</string>
	
								<string>{ -171.41210,28.47263 }</string>
	
								<string>{ -118.38617,-29.16426 }</string>

							</array>

							<array>
	
								<string>{ 240.63400,-160.05764 }</string>
	
								<string>{ 140.40344,-105.53314 }</string>
	
								<string>{ 168.06915,-72.96830 }</string>

							</array>

							<array>
	
								<string>{ -143.17003,-49.04900 }</string>
	
								<string>{ -151.52738,-70.37464 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -239.71182,11.98846 }</string>

							</array>

							<array>
	
								<string>{ 240.63400,-160.05764 }</string>
	
								<string>{ 103.80405,-131.18156 }</string>
	
								<string>{ 140.40344,-105.53314 }</string>

							</array>

							<array>
	
								<string>{ -81.21037,-140.69164 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -129.91354,-112.16138 }</string>
	
								<string>{ -101.09511,-123.40058 }</string>

							</array>

							<array>
	
								<string>{ 240.63400,-160.05764 }</string>
	
								<string>{ 69.79828,-142.99712 }</string>
	
								<string>{ 103.80405,-131.18156 }</string>

							</array>

							<array>
	
								<string>{ -148.93372,-90.83574 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -151.52738,-70.37464 }</string>

							</array>

							<array>
	
								<string>{ -129.91354,-112.16138 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -148.93372,-90.83574 }</string>

							</array>

							<array>
	
								<string>{ 240.63400,-160.05764 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -81.21037,-140.69164 }</string>

							</array>

							<array>
	
								<string>{ 240.63400,-160.05764 }</string>
	
								<string>{ 29.45245,-146.45533 }</string>
	
								<string>{ 69.79828,-142.99712 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 158.84726,61.32565 }</string>
	
								<string>{ 171.52737,89.27954 }</string>
	
								<string>{ 189.10663,107.43515 }</string>
	
								<string>{ 208.70316,118.09799 }</string>
	
								<string>{ 240.11526,127.89624 }</string>
	
								<string>{ 240.92218,44.84149 }</string>

							</array>

							<array>
	
								<string>{ 58.27090,-89.68300 }</string>
	
								<string>{ 87.37753,-110.43228 }</string>
	
								<string>{ 44.43805,-120.80692 }</string>

							</array>

							<array>
	
								<string>{ 3.22766,-2.07494 }</string>
	
								<string>{ 54.52451,-29.45245 }</string>
	
								<string>{ 13.31412,-51.35447 }</string>
	
								<string>{ -5.70605,-49.62536 }</string>
	
								<string>{ -25.59077,-13.89049 }</string>

							</array>

							<array>
	
								<string>{ 67.78098,-48.47263 }</string>
	
								<string>{ 156.54178,-25.99423 }</string>
	
								<string>{ 147.89624,-55.38905 }</string>
	
								<string>{ 125.99423,-83.91931 }</string>
	
								<string>{ 87.37753,-110.43228 }</string>
	
								<string>{ 58.27090,-89.68300 }</string>

							</array>

							<array>
	
								<string>{ 26.28241,13.48703 }</string>
	
								<string>{ 54.52451,-29.45245 }</string>
	
								<string>{ 3.22766,-2.07494 }</string>

							</array>

							<array>
	
								<string>{ 43.86166,32.50720 }</string>
	
								<string>{ 134.92795,29.62537 }</string>
	
								<string>{ 160.86456,-10.14409 }</string>
	
								<string>{ 156.54178,-25.99423 }</string>
	
								<string>{ 67.78098,-48.47263 }</string>
	
								<string>{ 26.28241,13.48703 }</string>

							</array>

							<array>
	
								<string>{ -45.76369,101.03748 }</string>
	
								<string>{ -16.94525,112.62247 }</string>
	
								<string>{ 21.38327,114.06339 }</string>
	
								<string>{ 7.55043,83.22766 }</string>
	
								<string>{ -54.40923,86.97406 }</string>

							</array>

							<array>
	
								<string>{ 21.38327,114.06339 }</string>
	
								<string>{ 63.74640,110.02881 }</string>
	
								<string>{ 120.51874,101.38327 }</string>
	
								<string>{ 171.52737,89.27954 }</string>
	
								<string>{ 158.84726,61.32565 }</string>
	
								<string>{ 138.96252,54.40923 }</string>
	
								<string>{ 36.65704,70.83574 }</string>
	
								<string>{ 7.55043,83.22766 }</string>

							</array>

							<array>
	
								<string>{ 43.86166,32.50720 }</string>
	
								<string>{ 45.87897,54.40923 }</string>
	
								<string>{ 138.96252,54.40923 }</string>
	
								<string>{ 134.92795,29.62537 }</string>

							</array>

							<array>
	
								<string>{ 36.65704,70.83574 }</string>
	
								<string>{ 138.96252,54.40923 }</string>
	
								<string>{ 45.87897,54.40923 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -12.04611,60.17291 }</string>
	
								<string>{ 6.10951,57.57925 }</string>
	
								<string>{ 20.74927,49.16426 }</string>
	
								<string>{ 16.48416,39.71181 }</string>
	
								<string>{ 5.53314,29.91354 }</string>
	
								<string>{ -34.81268,7.43515 }</string>
	
								<string>{ -54.12103,60.97983 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -14.35159,-57.40634 }</string>
	
								<string>{ -25.30260,-78.44380 }</string>
	
								<string>{ -54.40923,-100.34582 }</string>
	
								<string>{ -74.87032,-102.65130 }</string>
	
								<string>{ -111.18156,-93.14121 }</string>
	
								<string>{ -100.51874,-48.76081 }</string>
	
								<string>{ -51.87320,-27.49280 }</string>

							</array>

							<array>
	
								<string>{ -121.84438,-64.61095 }</string>
	
								<string>{ -100.51874,-48.76081 }</string>
	
								<string>{ -111.18156,-93.14121 }</string>
	
								<string>{ -125.01441,-79.94236 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

