<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C2</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -241.13314,53.08781 }</string>
	
								<string>{ -188.15864,56.71388 }</string>
	
								<string>{ -211.38810,23.00284 }</string>
	
								<string>{ -241.13314,13.08781 }</string>

							</array>

							<array>
	
								<string>{ -152.18130,-20.62323 }</string>
	
								<string>{ -194.67422,9.68839 }</string>
	
								<string>{ -211.38810,23.00284 }</string>
	
								<string>{ -188.15864,56.71388 }</string>
	
								<string>{ -136.26062,54.78754 }</string>

							</array>

							<array>
	
								<string>{ -175.69405,-46.11898 }</string>
	
								<string>{ -152.18130,-20.62323 }</string>
	
								<string>{ -158.13031,-82.66289 }</string>
	
								<string>{ -166.62889,-88.61190 }</string>

							</array>

							<array>
	
								<string>{ -194.67422,9.68839 }</string>
	
								<string>{ -152.18130,-20.62323 }</string>
	
								<string>{ -175.69405,-46.11898 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -15.63739,-108.44193 }</string>
	
								<string>{ 35.35410,-102.49292 }</string>
	
								<string>{ 57.45044,-103.34278 }</string>
	
								<string>{ 106.17563,-147.53541 }</string>
	
								<string>{ -39.15015,-146.40227 }</string>
	
								<string>{ -45.66573,-118.64022 }</string>

							</array>

							<array>
	
								<string>{ 69.34845,-30.25496 }</string>
	
								<string>{ 85.21246,-43.56940 }</string>
	
								<string>{ 98.52692,-60.28329 }</string>
	
								<string>{ 105.32578,-82.94617 }</string>
	
								<string>{ 106.17563,-147.53541 }</string>
	
								<string>{ 57.45044,-103.34278 }</string>
	
								<string>{ 53.48444,-32.52125 }</string>
	
								<string>{ 59.15015,-25.15581 }</string>

							</array>

							<array>
	
								<string>{ -151.04816,-148.38527 }</string>
	
								<string>{ -176.82719,-143.28612 }</string>
	
								<string>{ -165.77904,-125.43909 }</string>
	
								<string>{ -156.43060,-119.49009 }</string>

							</array>

							<array>
	
								<string>{ -151.04816,-148.38527 }</string>
	
								<string>{ -192.12465,-149.51841 }</string>
	
								<string>{ -176.82719,-143.28612 }</string>

							</array>

							<array>
	
								<string>{ -192.12465,-149.51841 }</string>
	
								<string>{ 239.60339,-150.93484 }</string>
	
								<string>{ 240.22662,-160.22663 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -239.71671,-153.42776 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 93.71106,5.72238 }</string>
	
								<string>{ 72.74786,2.88953 }</string>
	
								<string>{ 54.61755,9.68839 }</string>
	
								<string>{ 46.11899,17.33711 }</string>
	
								<string>{ 37.90369,45.38243 }</string>
	
								<string>{ 101.64307,32.91785 }</string>
	
								<string>{ 109.00851,18.47026 }</string>

							</array>

							<array>
	
								<string>{ 178.69690,73.42776 }</string>
	
								<string>{ 116.94052,115.07083 }</string>
	
								<string>{ 240.50992,116.82721 }</string>
	
								<string>{ 240.16998,83.62607 }</string>

							</array>

							<array>
	
								<string>{ 124.58923,59.26346 }</string>
	
								<string>{ 13.54108,82.20964 }</string>
	
								<string>{ -11.10481,91.27480 }</string>
	
								<string>{ -12.80453,97.28046 }</string>
	
								<string>{ 46.68555,109.68839 }</string>
	
								<string>{ 116.94052,115.07083 }</string>
	
								<string>{ 178.69690,73.42776 }</string>

							</array>

							<array>
	
								<string>{ 26.57224,68.04533 }</string>
	
								<string>{ 104.47592,47.08215 }</string>
	
								<string>{ 101.64307,32.91785 }</string>
	
								<string>{ 37.90369,45.38243 }</string>

							</array>

							<array>
	
								<string>{ 26.57224,68.04533 }</string>
	
								<string>{ 13.54108,82.20964 }</string>
	
								<string>{ 124.58923,59.26346 }</string>
	
								<string>{ 104.47592,47.08215 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 120.33994,-13.82436 }</string>
	
								<string>{ 177.84702,-47.25212 }</string>
	
								<string>{ 120.05667,-38.18697 }</string>
	
								<string>{ 106.45892,-21.69972 }</string>

							</array>

							<array>
	
								<string>{ 120.05667,-38.18697 }</string>
	
								<string>{ 177.84702,-47.25212 }</string>
	
								<string>{ 131.67139,-59.71671 }</string>

							</array>

							<array>
	
								<string>{ 177.84702,-47.25212 }</string>
	
								<string>{ 131.95468,-2.20963 }</string>
	
								<string>{ 139.03683,9.12181 }</string>
	
								<string>{ 239.94336,-16.88385 }</string>
	
								<string>{ 239.60339,-39.32011 }</string>

							</array>

							<array>
	
								<string>{ 131.95468,-2.20963 }</string>
	
								<string>{ 177.84702,-47.25212 }</string>
	
								<string>{ 120.33994,-13.82436 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

