<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C52</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -240.83102,-36.62050 }</string>
	
								<string>{ -211.19114,-40.33241 }</string>
	
								<string>{ -188.19944,-84.65374 }</string>
	
								<string>{ -241.10803,-89.63988 }</string>

							</array>

							<array>
	
								<string>{ -175.18005,-37.00831 }</string>
	
								<string>{ -104.81995,-58.06094 }</string>
	
								<string>{ -144.43213,-76.34349 }</string>
	
								<string>{ -188.19944,-84.65374 }</string>
	
								<string>{ -211.19114,-40.33241 }</string>

							</array>

							<array>
	
								<string>{ -148.58726,-25.37396 }</string>
	
								<string>{ -104.81995,-58.06094 }</string>
	
								<string>{ -175.18005,-37.00831 }</string>

							</array>

							<array>
	
								<string>{ -125.31856,-3.76730 }</string>
	
								<string>{ -50.52631,-5.98337 }</string>
	
								<string>{ -72.68698,-34.51523 }</string>
	
								<string>{ -104.81995,-58.06094 }</string>
	
								<string>{ -148.58726,-25.37396 }</string>

							</array>

							<array>
	
								<string>{ -111.74515,19.77840 }</string>
	
								<string>{ -37.50691,21.99446 }</string>
	
								<string>{ -50.52631,-5.98337 }</string>
	
								<string>{ -125.31856,-3.76730 }</string>

							</array>

							<array>
	
								<string>{ -105.65097,44.98616 }</string>
	
								<string>{ -40.99722,53.68422 }</string>
	
								<string>{ -35.29085,41.66205 }</string>
	
								<string>{ -37.50691,21.99446 }</string>
	
								<string>{ -111.74515,19.77840 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 150.58173,15.06926 }</string>
	
								<string>{ 145.87259,8.42105 }</string>
	
								<string>{ 138.11636,2.32687 }</string>
	
								<string>{ 126.20499,-3.21329 }</string>
	
								<string>{ 125.92798,40.27701 }</string>
	
								<string>{ 138.39337,35.01385 }</string>
	
								<string>{ 145.87259,28.91968 }</string>
	
								<string>{ 152.07758,22.10527 }</string>

							</array>

							<array>
	
								<string>{ 126.20499,-3.21329 }</string>
	
								<string>{ 110.41553,-9.03047 }</string>
	
								<string>{ 95.45706,-13.18559 }</string>
	
								<string>{ 76.06650,-17.34071 }</string>
	
								<string>{ 12.63159,28.36566 }</string>
	
								<string>{ 6.53740,51.35735 }</string>
	
								<string>{ 107.92245,45.54018 }</string>
	
								<string>{ 125.92798,40.27701 }</string>

							</array>

							<array>
	
								<string>{ 12.63159,28.36566 }</string>
	
								<string>{ 76.06650,-17.34071 }</string>
	
								<string>{ 50.30472,-21.21883 }</string>
	
								<string>{ 31.19113,-15.95567 }</string>

							</array>

							<array>
	
								<string>{ 35.06927,56.06648 }</string>
	
								<string>{ 60.55402,54.40443 }</string>
	
								<string>{ 77.72855,51.91136 }</string>
	
								<string>{ 107.92245,45.54018 }</string>
	
								<string>{ 6.53740,51.35735 }</string>
	
								<string>{ 11.52356,56.17729 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -101.49583,118.11636 }</string>
	
								<string>{ -68.25484,81.27425 }</string>
	
								<string>{ -103.43491,76.84212 }</string>

							</array>

							<array>
	
								<string>{ 240.05542,161.32965 }</string>
	
								<string>{ 240.72025,-159.61219 }</string>
	
								<string>{ 186.86566,129.55225 }</string>
	
								<string>{ 191.34329,160.89554 }</string>

							</array>

							<array>
	
								<string>{ 73.29642,-48.08864 }</string>
	
								<string>{ 91.30194,-45.04155 }</string>
	
								<string>{ 109.86151,-136.73130 }</string>
	
								<string>{ 82.99170,-106.26039 }</string>
	
								<string>{ 54.45984,-60.27701 }</string>

							</array>

							<array>
	
								<string>{ -101.49583,118.11636 }</string>
	
								<string>{ -107.59003,160.22162 }</string>
	
								<string>{ 47.06467,160.89554 }</string>
	
								<string>{ 54.52737,122.08954 }</string>
	
								<string>{ -36.67589,84.32133 }</string>
	
								<string>{ -68.25484,81.27425 }</string>

							</array>

							<array>
	
								<string>{ 88.85571,92.23880 }</string>
	
								<string>{ -36.67589,84.32133 }</string>
	
								<string>{ 54.52737,122.08954 }</string>

							</array>

							<array>
	
								<string>{ 112.07758,-40.60941 }</string>
	
								<string>{ 109.86151,-136.73130 }</string>
	
								<string>{ 91.30194,-45.04155 }</string>

							</array>

							<array>
	
								<string>{ 128.69806,-35.06925 }</string>
	
								<string>{ 109.86151,-136.73130 }</string>
	
								<string>{ 112.07758,-40.60941 }</string>

							</array>

							<array>
	
								<string>{ 142.54849,-29.25208 }</string>
	
								<string>{ 109.86151,-136.73130 }</string>
	
								<string>{ 128.69806,-35.06925 }</string>

							</array>

							<array>
	
								<string>{ 153.62881,-23.43491 }</string>
	
								<string>{ 109.86151,-136.73130 }</string>
	
								<string>{ 142.54849,-29.25208 }</string>

							</array>

							<array>
	
								<string>{ 240.72025,-159.61219 }</string>
	
								<string>{ 181.60666,27.25763 }</string>
	
								<string>{ 171.94031,106.16916 }</string>
	
								<string>{ 186.86566,129.55225 }</string>

							</array>

							<array>
	
								<string>{ 163.04709,-17.06371 }</string>
	
								<string>{ 240.72025,-159.61219 }</string>
	
								<string>{ 109.86151,-136.73130 }</string>
	
								<string>{ 153.62881,-23.43491 }</string>

							</array>

							<array>
	
								<string>{ -48.86426,-144.76454 }</string>
	
								<string>{ 103.49033,-146.98061 }</string>
	
								<string>{ 240.72025,-159.61219 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -240.83102,-152.68698 }</string>

							</array>

							<array>
	
								<string>{ 109.86151,-136.73130 }</string>
	
								<string>{ 240.72025,-159.61219 }</string>
	
								<string>{ 103.49033,-146.98061 }</string>

							</array>

							<array>
	
								<string>{ 171.91138,-8.75346 }</string>
	
								<string>{ 240.72025,-159.61219 }</string>
	
								<string>{ 163.04709,-17.06371 }</string>

							</array>

							<array>
	
								<string>{ 176.89752,-1.27423 }</string>
	
								<string>{ 240.72025,-159.61219 }</string>
	
								<string>{ 171.91138,-8.75346 }</string>

							</array>

							<array>
	
								<string>{ 181.32965,7.31302 }</string>
	
								<string>{ 240.72025,-159.61219 }</string>
	
								<string>{ 176.89752,-1.27423 }</string>

							</array>

							<array>
	
								<string>{ 182.16068,17.00832 }</string>
	
								<string>{ 240.72025,-159.61219 }</string>
	
								<string>{ 181.32965,7.31302 }</string>

							</array>

							<array>
	
								<string>{ 181.60666,27.25763 }</string>
	
								<string>{ 240.72025,-159.61219 }</string>
	
								<string>{ 182.16068,17.00832 }</string>

							</array>

							<array>
	
								<string>{ 178.83658,34.73685 }</string>
	
								<string>{ 171.94031,106.16916 }</string>
	
								<string>{ 181.60666,27.25763 }</string>

							</array>

							<array>
	
								<string>{ 178.83658,34.73685 }</string>
	
								<string>{ 174.40445,42.77010 }</string>
	
								<string>{ 150.54727,91.24379 }</string>
	
								<string>{ 171.94031,106.16916 }</string>

							</array>

							<array>
	
								<string>{ 165.26318,52.46538 }</string>
	
								<string>{ 150.54727,91.24379 }</string>
	
								<string>{ 174.40445,42.77010 }</string>

							</array>

							<array>
	
								<string>{ 165.26318,52.46538 }</string>
	
								<string>{ 153.35181,61.05264 }</string>
	
								<string>{ 120.69653,86.76617 }</string>
	
								<string>{ 150.54727,91.24379 }</string>

							</array>

							<array>
	
								<string>{ 153.35181,61.05264 }</string>
	
								<string>{ 88.85571,92.23880 }</string>
	
								<string>{ 120.69653,86.76617 }</string>

							</array>

							<array>
	
								<string>{ 88.85571,92.23880 }</string>
	
								<string>{ 22.32687,86.26039 }</string>
	
								<string>{ 1.55125,86.26039 }</string>

							</array>

							<array>
	
								<string>{ 88.85571,92.23880 }</string>
	
								<string>{ 54.45984,84.87535 }</string>
	
								<string>{ 22.32687,86.26039 }</string>

							</array>

							<array>
	
								<string>{ 88.85571,92.23880 }</string>
	
								<string>{ 75.23547,82.38228 }</string>
	
								<string>{ 54.45984,84.87535 }</string>

							</array>

							<array>
	
								<string>{ 88.85571,92.23880 }</string>
	
								<string>{ 110.13852,76.01109 }</string>
	
								<string>{ 75.23547,82.38228 }</string>

							</array>

							<array>
	
								<string>{ 88.85571,92.23880 }</string>
	
								<string>{ 127.86703,71.30194 }</string>
	
								<string>{ 110.13852,76.01109 }</string>

							</array>

							<array>
	
								<string>{ 88.85571,92.23880 }</string>
	
								<string>{ 141.71747,66.59280 }</string>
	
								<string>{ 127.86703,71.30194 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

