<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C23</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 186.84845,-34.16764 }</string>
	
								<string>{ 214.36166,37.79002 }</string>
	
								<string>{ 285.77496,111.06110 }</string>
	
								<string>{ 284.20056,-23.11336 }</string>

							</array>

							<array>
	
								<string>{ 55.76767,-118.20697 }</string>
	
								<string>{ 51.39871,-93.42690 }</string>
	
								<string>{ 121.76907,-81.25759 }</string>
	
								<string>{ 112.24527,-117.89076 }</string>

							</array>

							<array>
	
								<string>{ 41.87488,-73.85018 }</string>
	
								<string>{ 148.22409,-51.62796 }</string>
	
								<string>{ 121.76907,-81.25759 }</string>
	
								<string>{ 51.39871,-93.42690 }</string>

							</array>

							<array>
	
								<string>{ 118.59448,114.50961 }</string>
	
								<string>{ 174.67914,117.68420 }</string>
	
								<string>{ 151.44409,95.21153 }</string>
	
								<string>{ 80.02805,95.40250 }</string>
	
								<string>{ 55.81934,98.69922 }</string>

							</array>

							<array>
	
								<string>{ 174.67914,117.68420 }</string>
	
								<string>{ 174.15002,93.87468 }</string>
	
								<string>{ 151.44409,95.21153 }</string>

							</array>

							<array>
	
								<string>{ 174.67914,117.68420 }</string>
	
								<string>{ 242.40399,115.88525 }</string>
	
								<string>{ 189.49393,86.99638 }</string>
	
								<string>{ 174.15002,93.87468 }</string>

							</array>

							<array>
	
								<string>{ 242.40399,115.88525 }</string>
	
								<string>{ 285.77496,111.06110 }</string>
	
								<string>{ 203.25055,79.05988 }</string>
	
								<string>{ 189.49393,86.99638 }</string>

							</array>

							<array>
	
								<string>{ 28.11829,-56.38987 }</string>
	
								<string>{ 148.22409,-51.62796 }</string>
	
								<string>{ 41.87488,-73.85018 }</string>

							</array>

							<array>
	
								<string>{ 285.77496,111.06110 }</string>
	
								<string>{ 212.77435,68.47786 }</string>
	
								<string>{ 203.25055,79.05988 }</string>

							</array>

							<array>
	
								<string>{ 285.77496,111.06110 }</string>
	
								<string>{ 216.47806,52.60484 }</string>
	
								<string>{ 212.77435,68.47786 }</string>

							</array>

							<array>
	
								<string>{ 15.41986,-42.63326 }</string>
	
								<string>{ 186.84845,-34.16764 }</string>
	
								<string>{ 148.22409,-51.62796 }</string>
	
								<string>{ 28.11829,-56.38987 }</string>

							</array>

							<array>
	
								<string>{ 285.77496,111.06110 }</string>
	
								<string>{ 214.36166,37.79002 }</string>
	
								<string>{ 216.47806,52.60484 }</string>

							</array>

							<array>
	
								<string>{ 2.72147,-29.40575 }</string>
	
								<string>{ 186.84845,-34.16764 }</string>
	
								<string>{ 15.41986,-42.63326 }</string>

							</array>

							<array>
	
								<string>{ -10.50607,-19.35283 }</string>
	
								<string>{ 63.03891,-17.23642 }</string>
	
								<string>{ 186.84845,-34.16764 }</string>
	
								<string>{ 2.72147,-29.40575 }</string>

							</array>

							<array>
	
								<string>{ -141.41624,14.62483 }</string>
	
								<string>{ 25.70602,-8.22450 }</string>
	
								<string>{ -23.20447,-10.88722 }</string>
	
								<string>{ -141.08678,9.36954 }</string>

							</array>

							<array>
	
								<string>{ 25.70602,-8.22450 }</string>
	
								<string>{ 42.45407,-13.17738 }</string>
	
								<string>{ -10.50607,-19.35283 }</string>
	
								<string>{ -23.20447,-10.88722 }</string>

							</array>

							<array>
	
								<string>{ 63.03891,-17.23642 }</string>
	
								<string>{ -10.50607,-19.35283 }</string>
	
								<string>{ 42.45407,-13.17738 }</string>

							</array>

							<array>
	
								<string>{ 105.36694,-20.41103 }</string>
	
								<string>{ 186.84845,-34.16764 }</string>
	
								<string>{ 82.39490,-19.39041 }</string>

							</array>

							<array>
	
								<string>{ 132.88019,-20.41103 }</string>
	
								<string>{ 186.84845,-34.16764 }</string>
	
								<string>{ 105.36694,-20.41103 }</string>

							</array>

							<array>
	
								<string>{ 151.39871,-18.29463 }</string>
	
								<string>{ 186.84845,-34.16764 }</string>
	
								<string>{ 132.88019,-20.41103 }</string>

							</array>

							<array>
	
								<string>{ 167.27173,-13.53273 }</string>
	
								<string>{ 186.84845,-34.16764 }</string>
	
								<string>{ 151.39871,-18.29463 }</string>

							</array>

							<array>
	
								<string>{ 183.14474,-5.59622 }</string>
	
								<string>{ 186.84845,-34.16764 }</string>
	
								<string>{ 167.27173,-13.53273 }</string>

							</array>

							<array>
	
								<string>{ 198.48865,7.10220 }</string>
	
								<string>{ 186.84845,-34.16764 }</string>
	
								<string>{ 183.14474,-5.59622 }</string>

							</array>

							<array>
	
								<string>{ 208.01245,21.38791 }</string>
	
								<string>{ 186.84845,-34.16764 }</string>
	
								<string>{ 198.48865,7.10220 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -238.22685,46.57309 }</string>
	
								<string>{ -181.61309,53.13394 }</string>
	
								<string>{ -182.14219,22.44611 }</string>
	
								<string>{ -184.78770,10.27679 }</string>
	
								<string>{ -284.43553,-160.41511 }</string>
	
								<string>{ -285.28617,36.78458 }</string>

							</array>

							<array>
	
								<string>{ 13.62500,70.78210 }</string>
	
								<string>{ 68.65146,57.89584 }</string>
	
								<string>{ 45.90015,51.54665 }</string>
	
								<string>{ -27.32736,34.40378 }</string>
	
								<string>{ -2.49066,60.19539 }</string>

							</array>

							<array>
	
								<string>{ -27.32736,34.40378 }</string>
	
								<string>{ 28.25198,18.25870 }</string>
	
								<string>{ -156.43861,36.61659 }</string>
	
								<string>{ -181.61309,53.13394 }</string>
	
								<string>{ -135.05225,53.66304 }</string>
	
								<string>{ -83.20039,48.37204 }</string>

							</array>

							<array>
	
								<string>{ 284.07025,-159.90643 }</string>
	
								<string>{ -284.43553,-160.41511 }</string>
	
								<string>{ 142.19644,-144.74966 }</string>
	
								<string>{ 284.82733,-150.47619 }</string>

							</array>

							<array>
	
								<string>{ 68.65146,57.89584 }</string>
	
								<string>{ 13.62500,70.78210 }</string>
	
								<string>{ 141.59219,71.14214 }</string>
	
								<string>{ 143.25464,66.89056 }</string>

							</array>

							<array>
	
								<string>{ 34.25992,40.43553 }</string>
	
								<string>{ -27.32736,34.40378 }</string>
	
								<string>{ 45.90015,51.54665 }</string>

							</array>

							<array>
	
								<string>{ 28.25198,18.25870 }</string>
	
								<string>{ -27.32736,34.40378 }</string>
	
								<string>{ 34.25992,40.43553 }</string>

							</array>

							<array>
	
								<string>{ -172.61839,33.55722 }</string>
	
								<string>{ -181.61309,53.13394 }</string>
	
								<string>{ -156.43861,36.61659 }</string>

							</array>

							<array>
	
								<string>{ -182.14219,22.44611 }</string>
	
								<string>{ -181.61309,53.13394 }</string>
	
								<string>{ -172.61839,33.55722 }</string>

							</array>

							<array>
	
								<string>{ -184.78770,-2.95071 }</string>
	
								<string>{ -284.43553,-160.41511 }</string>
	
								<string>{ -184.78770,10.27679 }</string>

							</array>

							<array>
	
								<string>{ -182.14219,-15.64912 }</string>
	
								<string>{ -284.43553,-160.41511 }</string>
	
								<string>{ -184.78770,-2.95071 }</string>

							</array>

							<array>
	
								<string>{ -175.26389,-29.93484 }</string>
	
								<string>{ -284.43553,-160.41511 }</string>
	
								<string>{ -182.14219,-15.64912 }</string>

							</array>

							<array>
	
								<string>{ -160.97817,-51.09886 }</string>
	
								<string>{ -284.43553,-160.41511 }</string>
	
								<string>{ -175.26389,-29.93484 }</string>

							</array>

							<array>
	
								<string>{ -143.51785,-70.67558 }</string>
	
								<string>{ -284.43553,-160.41511 }</string>
	
								<string>{ -160.97817,-51.09886 }</string>

							</array>

							<array>
	
								<string>{ -122.88293,-90.25230 }</string>
	
								<string>{ -284.43553,-160.41511 }</string>
	
								<string>{ -143.51785,-70.67558 }</string>

							</array>

							<array>
	
								<string>{ -102.24802,-105.59621 }</string>
	
								<string>{ -284.43553,-160.41511 }</string>
	
								<string>{ -122.88293,-90.25230 }</string>

							</array>

							<array>
	
								<string>{ -80.55489,-120.41103 }</string>
	
								<string>{ -284.43553,-160.41511 }</string>
	
								<string>{ -102.24802,-105.59621 }</string>

							</array>

							<array>
	
								<string>{ -55.15807,-133.10944 }</string>
	
								<string>{ -284.43553,-160.41511 }</string>
	
								<string>{ -80.55489,-120.41103 }</string>

							</array>

							<array>
	
								<string>{ -25.52844,-142.10415 }</string>
	
								<string>{ -284.43553,-160.41511 }</string>
	
								<string>{ -55.15807,-133.10944 }</string>

							</array>

							<array>
	
								<string>{ 2.51389,-146.86606 }</string>
	
								<string>{ -284.43553,-160.41511 }</string>
	
								<string>{ -25.52844,-142.10415 }</string>

							</array>

							<array>
	
								<string>{ -284.43553,-160.41511 }</string>
	
								<string>{ 2.51389,-146.86606 }</string>
	
								<string>{ 30.02713,-146.86606 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

