<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C4</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -182.52251,52.72998 }</string>
	
								<string>{ -193.17340,18.70631 }</string>
	
								<string>{ -284.00000,-159.97572 }</string>
	
								<string>{ -284.91995,44.48085 }</string>

							</array>

							<array>
	
								<string>{ 31.97452,-54.66647 }</string>
	
								<string>{ 34.93311,-65.31735 }</string>
	
								<string>{ 28.72009,-79.51854 }</string>
	
								<string>{ -4.41602,-57.03333 }</string>
	
								<string>{ -15.95447,-42.83215 }</string>
	
								<string>{ -14.77103,-36.91499 }</string>
	
								<string>{ 7.12247,-33.95641 }</string>

							</array>

							<array>
	
								<string>{ -120.98405,-41.94457 }</string>
	
								<string>{ -135.77695,-25.96825 }</string>
	
								<string>{ -95.54027,-34.25227 }</string>
	
								<string>{ -95.24440,-40.46529 }</string>

							</array>

							<array>
	
								<string>{ -138.73553,-47.56587 }</string>
	
								<string>{ -164.17931,-15.61322 }</string>
	
								<string>{ -135.77695,-25.96825 }</string>
	
								<string>{ -120.98405,-41.94457 }</string>

							</array>

							<array>
	
								<string>{ -153.23257,-58.21676 }</string>
	
								<string>{ -164.17931,-15.61322 }</string>
	
								<string>{ -138.73553,-47.56587 }</string>

							</array>

							<array>
	
								<string>{ -164.77103,-70.34694 }</string>
	
								<string>{ -181.04322,-6.44162 }</string>
	
								<string>{ -164.17931,-15.61322 }</string>
	
								<string>{ -153.23257,-58.21676 }</string>

							</array>

							<array>
	
								<string>{ 28.72009,-79.51854 }</string>
	
								<string>{ 0.90942,-73.89723 }</string>
	
								<string>{ -4.41602,-57.03333 }</string>

							</array>

							<array>
	
								<string>{ 28.72009,-79.51854 }</string>
	
								<string>{ 26.35321,-94.90315 }</string>
	
								<string>{ 4.75558,-93.12801 }</string>
	
								<string>{ 0.90942,-73.89723 }</string>

							</array>

							<array>
	
								<string>{ 26.35321,-94.90315 }</string>
	
								<string>{ 26.64908,-111.76706 }</string>
	
								<string>{ 5.34732,-108.51262 }</string>
	
								<string>{ 4.75558,-93.12801 }</string>

							</array>

							<array>
	
								<string>{ 26.64908,-111.76706 }</string>
	
								<string>{ 31.08694,-128.63096 }</string>
	
								<string>{ 4.45975,-124.19309 }</string>
	
								<string>{ 5.34732,-108.51262 }</string>

							</array>

							<array>
	
								<string>{ 31.08694,-128.63096 }</string>
	
								<string>{ 38.77927,-142.83214 }</string>
	
								<string>{ 0.31772,-140.46528 }</string>
	
								<string>{ 4.45975,-124.19309 }</string>

							</array>

							<array>
	
								<string>{ -174.83020,-86.32327 }</string>
	
								<string>{ -191.10239,2.43413 }</string>
	
								<string>{ -181.04322,-6.44162 }</string>
	
								<string>{ -164.77103,-70.34694 }</string>

							</array>

							<array>
	
								<string>{ 38.77927,-142.83214 }</string>
	
								<string>{ -6.19116,-145.19901 }</string>
	
								<string>{ 0.31772,-140.46528 }</string>

							</array>

							<array>
	
								<string>{ -133.11423,47.10867 }</string>
	
								<string>{ -182.52251,52.72998 }</string>
	
								<string>{ -96.36867,58.70631 }</string>
	
								<string>{ -96.13197,55.39270 }</string>

							</array>

							<array>
	
								<string>{ -163.29174,37.34537 }</string>
	
								<string>{ -182.52251,52.72998 }</string>
	
								<string>{ -133.11423,47.10867 }</string>

							</array>

							<array>
	
								<string>{ -184.88937,26.39862 }</string>
	
								<string>{ -182.52251,52.72998 }</string>
	
								<string>{ -163.29174,37.34537 }</string>

							</array>

							<array>
	
								<string>{ -193.17340,18.70631 }</string>
	
								<string>{ -182.52251,52.72998 }</string>
	
								<string>{ -184.88937,26.39862 }</string>

							</array>

							<array>
	
								<string>{ -180.15565,-103.48303 }</string>
	
								<string>{ -195.54026,10.71814 }</string>
	
								<string>{ -191.10239,2.43413 }</string>
	
								<string>{ -174.83020,-86.32327 }</string>

							</array>

							<array>
	
								<string>{ 284.31531,-160.59981 }</string>
	
								<string>{ -284.00000,-159.97572 }</string>
	
								<string>{ 122.50708,-144.90315 }</string>
	
								<string>{ 283.47723,-153.31307 }</string>

							</array>

							<array>
	
								<string>{ 122.50708,-144.90315 }</string>
	
								<string>{ -6.19116,-145.19901 }</string>
	
								<string>{ 38.77927,-142.83214 }</string>

							</array>

							<array>
	
								<string>{ -180.45151,-121.53037 }</string>
	
								<string>{ -284.00000,-159.97572 }</string>
	
								<string>{ -195.54026,10.71814 }</string>
	
								<string>{ -180.15565,-103.48303 }</string>

							</array>

							<array>
	
								<string>{ -195.54026,10.71814 }</string>
	
								<string>{ -284.00000,-159.97572 }</string>
	
								<string>{ -193.17340,18.70631 }</string>

							</array>

							<array>
	
								<string>{ -177.78878,-134.25226 }</string>
	
								<string>{ -284.00000,-159.97572 }</string>
	
								<string>{ -180.45151,-121.53037 }</string>

							</array>

							<array>
	
								<string>{ -169.50476,-143.71972 }</string>
	
								<string>{ -284.00000,-159.97572 }</string>
	
								<string>{ -177.78878,-134.25226 }</string>

							</array>

							<array>
	
								<string>{ -61.51660,-146.97416 }</string>
	
								<string>{ -284.00000,-159.97572 }</string>
	
								<string>{ -169.50476,-143.71972 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 69.24454,-16.77237 }</string>
	
								<string>{ 84.92502,-32.74870 }</string>
	
								<string>{ 70.72382,-39.25757 }</string>
	
								<string>{ 63.32736,-36.59485 }</string>
	
								<string>{ 48.83032,-24.46468 }</string>

							</array>

							<array>
	
								<string>{ 200.30963,31.45248 }</string>
	
								<string>{ 169.24454,46.54124 }</string>
	
								<string>{ 200.36880,40.09154 }</string>
	
								<string>{ 204.74750,36.18622 }</string>

							</array>

							<array>
	
								<string>{ 83.74158,-8.48834 }</string>
	
								<string>{ 99.12619,-29.79012 }</string>
	
								<string>{ 84.92502,-32.74870 }</string>
	
								<string>{ 69.24454,-16.77237 }</string>

							</array>

							<array>
	
								<string>{ 83.74158,-8.48834 }</string>
	
								<string>{ 88.17944,-0.50018 }</string>
	
								<string>{ 163.91910,-19.13924 }</string>
	
								<string>{ 163.03152,-28.31082 }</string>
	
								<string>{ 99.12619,-29.79012 }</string>

							</array>

							<array>
	
								<string>{ 163.91910,-19.13924 }</string>
	
								<string>{ 88.17944,-0.50018 }</string>
	
								<string>{ 85.22086,9.85486 }</string>
	
								<string>{ 105.33920,45.06195 }</string>
	
								<string>{ 117.17352,49.49982 }</string>
	
								<string>{ 135.51672,49.79568 }</string>
	
								<string>{ 169.24454,46.54124 }</string>
	
								<string>{ 200.30963,31.45248 }</string>

							</array>

							<array>
	
								<string>{ 77.52856,17.25130 }</string>
	
								<string>{ 105.33920,45.06195 }</string>
	
								<string>{ 85.22086,9.85486 }</string>

							</array>

							<array>
	
								<string>{ 56.52264,29.38148 }</string>
	
								<string>{ 105.33920,45.06195 }</string>
	
								<string>{ 77.52856,17.25130 }</string>

							</array>

							<array>
	
								<string>{ 23.09070,42.39923 }</string>
	
								<string>{ 105.33920,45.06195 }</string>
	
								<string>{ 56.52264,29.38148 }</string>

							</array>

							<array>
	
								<string>{ 23.09070,42.39923 }</string>
	
								<string>{ -19.21701,54.23355 }</string>
	
								<string>{ -19.21701,58.73059 }</string>
	
								<string>{ 105.33920,45.06195 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

