<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C25</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 92.51758,-104.02676 }</string>
	
								<string>{ 69.14691,-128.93351 }</string>
	
								<string>{ 70.28003,-107.53585 }</string>

							</array>

							<array>
	
								<string>{ 46.03650,-127.09561 }</string>
	
								<string>{ -47.66833,-129.74349 }</string>
	
								<string>{ -73.75807,-123.67485 }</string>
	
								<string>{ 32.98679,-107.25257 }</string>
	
								<string>{ 47.29648,-108.41562 }</string>

							</array>

							<array>
	
								<string>{ 6.88708,105.06415 }</string>
	
								<string>{ 8.35336,117.67410 }</string>
	
								<string>{ 53.22141,108.58319 }</string>
	
								<string>{ 23.89587,97.73276 }</string>
	
								<string>{ 12.16568,96.26648 }</string>

							</array>

							<array>
	
								<string>{ 68.47067,32.92339 }</string>
	
								<string>{ 81.37390,34.68291 }</string>
	
								<string>{ 99.55569,31.75037 }</string>
	
								<string>{ 105.12756,-27.78043 }</string>
	
								<string>{ 71.40323,-9.30536 }</string>
	
								<string>{ 63.48532,6.23717 }</string>
	
								<string>{ 60.25952,17.67412 }</string>
	
								<string>{ 61.13928,26.47177 }</string>

							</array>

							<array>
	
								<string>{ -17.15982,16.20784 }</string>
	
								<string>{ -5.42963,8.87646 }</string>
	
								<string>{ 6.59384,-2.26723 }</string>
	
								<string>{ 13.92520,-40.39040 }</string>
	
								<string>{ -43.25954,-16.63673 }</string>
	
								<string>{ -41.50000,1.25183 }</string>
	
								<string>{ -37.68768,10.92924 }</string>
	
								<string>{ -31.52933,17.67412 }</string>

							</array>

							<array>
	
								<string>{ 13.92520,-40.39040 }</string>
	
								<string>{ 6.59384,-2.26723 }</string>
	
								<string>{ 16.85776,-13.41093 }</string>

							</array>

							<array>
	
								<string>{ 13.92520,-40.39040 }</string>
	
								<string>{ -47.07185,-35.99157 }</string>
	
								<string>{ -43.25954,-16.63673 }</string>

							</array>

							<array>
	
								<string>{ 13.92520,-40.39040 }</string>
	
								<string>{ 11.28592,-57.10594 }</string>
	
								<string>{ -54.40323,-56.51943 }</string>
	
								<string>{ -47.07185,-35.99157 }</string>

							</array>

							<array>
	
								<string>{ 99.55569,31.75037 }</string>
	
								<string>{ 115.68475,27.35153 }</string>
	
								<string>{ 136.79910,20.02016 }</string>
	
								<string>{ 134.15982,-45.37573 }</string>
	
								<string>{ 105.12756,-27.78043 }</string>

							</array>

							<array>
	
								<string>{ 203.66129,88.34860 }</string>
	
								<string>{ 180.78738,95.09348 }</string>
	
								<string>{ 167.88416,105.94391 }</string>
	
								<string>{ 149.40909,127.64478 }</string>
	
								<string>{ 176.38855,121.48642 }</string>
	
								<string>{ 193.10410,110.34274 }</string>

							</array>

							<array>
	
								<string>{ 9.81964,-73.82148 }</string>
	
								<string>{ -66.13344,-74.99451 }</string>
	
								<string>{ -54.40323,-56.51943 }</string>
	
								<string>{ 11.28592,-57.10594 }</string>

							</array>

							<array>
	
								<string>{ 110.99265,-100.80095 }</string>
	
								<string>{ 69.14691,-128.93351 }</string>
	
								<string>{ 92.51758,-104.02676 }</string>

							</array>

							<array>
	
								<string>{ 12.16568,-90.24377 }</string>
	
								<string>{ -83.14223,-92.29655 }</string>
	
								<string>{ -66.13344,-74.99451 }</string>
	
								<string>{ 9.81964,-73.82148 }</string>

							</array>

							<array>
	
								<string>{ -241.50000,44.77089 }</string>
	
								<string>{ -176.39736,62.83540 }</string>
	
								<string>{ -114.22728,65.18144 }</string>
	
								<string>{ -284.27401,-160.62500 }</string>
	
								<string>{ -284.62500,28.75000 }</string>

							</array>

							<array>
	
								<string>{ 8.35336,117.67410 }</string>
	
								<string>{ 82.54691,116.20782 }</string>
	
								<string>{ 53.22141,108.58319 }</string>

							</array>

							<array>
	
								<string>{ 154.39441,15.32808 }</string>
	
								<string>{ 148.52933,-57.69245 }</string>
	
								<string>{ 134.15982,-45.37573 }</string>
	
								<string>{ 136.79910,20.02016 }</string>

							</array>

							<array>
	
								<string>{ 169.35043,15.62132 }</string>
	
								<string>{ 148.52933,-57.69245 }</string>
	
								<string>{ 154.39441,15.32808 }</string>

							</array>

							<array>
	
								<string>{ -80.50293,51.98497 }</string>
	
								<string>{ -98.09825,37.02896 }</string>
	
								<string>{ -121.85191,24.71223 }</string>
	
								<string>{ -114.22728,65.18144 }</string>
	
								<string>{ -79.79912,57.67412 }</string>

							</array>

							<array>
	
								<string>{ -152.05719,5.06415 }</string>
	
								<string>{ -114.22728,65.18144 }</string>
	
								<string>{ -121.85191,24.71223 }</string>

							</array>

							<array>
	
								<string>{ 165.24484,-111.65139 }</string>
	
								<string>{ 203.66129,88.34860 }</string>
	
								<string>{ 207.47360,59.90285 }</string>
	
								<string>{ 193.10410,-99.92119 }</string>

							</array>

							<array>
	
								<string>{ 179.90762,19.14040 }</string>
	
								<string>{ 154.39441,-66.78336 }</string>
	
								<string>{ 148.52933,-57.69245 }</string>
	
								<string>{ 169.35043,15.62132 }</string>

							</array>

							<array>
	
								<string>{ 21.54984,-101.68072 }</string>
	
								<string>{ -73.75807,-123.67485 }</string>
	
								<string>{ -102.49707,-99.92119 }</string>
	
								<string>{ -83.14223,-92.29655 }</string>
	
								<string>{ 12.16568,-90.24377 }</string>

							</array>

							<array>
	
								<string>{ 283.77490,-160.60576 }</string>
	
								<string>{ -284.27401,-160.62500 }</string>
	
								<string>{ 158.20673,-146.84201 }</string>
	
								<string>{ 283.11145,-149.13032 }</string>

							</array>

							<array>
	
								<string>{ 149.40909,127.64478 }</string>
	
								<string>{ 82.54691,116.20782 }</string>
	
								<string>{ 8.35336,117.67410 }</string>

							</array>

							<array>
	
								<string>{ 110.99265,-100.80095 }</string>
	
								<string>{ 126.53519,-95.52236 }</string>
	
								<string>{ 50.13031,-149.02951 }</string>
	
								<string>{ 69.14691,-128.93351 }</string>

							</array>

							<array>
	
								<string>{ -73.75807,-123.67485 }</string>
	
								<string>{ 21.54984,-101.68072 }</string>
	
								<string>{ 32.98679,-107.25257 }</string>

							</array>

							<array>
	
								<string>{ -98.68475,-134.23204 }</string>
	
								<string>{ -123.31819,-101.09421 }</string>
	
								<string>{ -102.49707,-99.92119 }</string>
	
								<string>{ -73.75807,-123.67485 }</string>

							</array>

							<array>
	
								<string>{ -124.78445,-151.53409 }</string>
	
								<string>{ -137.68768,-98.16166 }</string>
	
								<string>{ -123.31819,-101.09421 }</string>
	
								<string>{ -98.68475,-134.23204 }</string>

							</array>

							<array>
	
								<string>{ -124.78445,-151.53409 }</string>
	
								<string>{ -148.24487,-92.88306 }</string>
	
								<string>{ -137.68768,-98.16166 }</string>

							</array>

							<array>
	
								<string>{ -124.78445,-151.53409 }</string>
	
								<string>{ -162.61437,-84.37867 }</string>
	
								<string>{ -148.24487,-92.88306 }</string>

							</array>

							<array>
	
								<string>{ -171.99854,-13.70418 }</string>
	
								<string>{ -114.22728,65.18144 }</string>
	
								<string>{ -152.05719,5.06415 }</string>

							</array>

							<array>
	
								<string>{ 187.23898,27.35153 }</string>
	
								<string>{ 154.68768,-76.16753 }</string>
	
								<string>{ 154.39441,-66.78336 }</string>
	
								<string>{ 179.90762,19.14040 }</string>

							</array>

							<array>
	
								<string>{ -124.78445,-151.53409 }</string>
	
								<string>{ -284.27401,-160.62500 }</string>
	
								<string>{ -174.05132,-71.18219 }</string>
	
								<string>{ -162.61437,-84.37867 }</string>

							</array>

							<array>
	
								<string>{ 142.37097,-89.07075 }</string>
	
								<string>{ 155.56744,-130.71298 }</string>
	
								<string>{ 158.20673,-146.84201 }</string>
	
								<string>{ 50.13031,-149.02951 }</string>
	
								<string>{ 126.53519,-95.52236 }</string>

							</array>

							<array>
	
								<string>{ 155.56744,-130.71298 }</string>
	
								<string>{ 203.66129,88.34860 }</string>
	
								<string>{ 165.24484,-111.65139 }</string>

							</array>

							<array>
	
								<string>{ 149.40909,127.64478 }</string>
	
								<string>{ 120.96335,119.43365 }</string>
	
								<string>{ 103.95453,119.43365 }</string>

							</array>

							<array>
	
								<string>{ 149.40909,127.64478 }</string>
	
								<string>{ 132.69354,117.38086 }</string>
	
								<string>{ 120.96335,119.43365 }</string>

							</array>

							<array>
	
								<string>{ 149.40909,127.64478 }</string>
	
								<string>{ 152.04837,112.68878 }</string>
	
								<string>{ 132.69354,117.38086 }</string>

							</array>

							<array>
	
								<string>{ 149.40909,127.64478 }</string>
	
								<string>{ 167.88416,105.94391 }</string>
	
								<string>{ 152.04837,112.68878 }</string>

							</array>

							<array>
	
								<string>{ 203.66129,88.34860 }</string>
	
								<string>{ 188.41202,84.24303 }</string>
	
								<string>{ 180.78738,95.09348 }</string>

							</array>

							<array>
	
								<string>{ 203.66129,88.34860 }</string>
	
								<string>{ 191.93106,72.80608 }</string>
	
								<string>{ 188.41202,84.24303 }</string>

							</array>

							<array>
	
								<string>{ 203.66129,88.34860 }</string>
	
								<string>{ 194.27710,61.95564 }</string>
	
								<string>{ 191.93106,72.80608 }</string>

							</array>

							<array>
	
								<string>{ 203.66129,88.34860 }</string>
	
								<string>{ 193.98386,49.93217 }</string>
	
								<string>{ 194.27710,61.95564 }</string>

							</array>

							<array>
	
								<string>{ 203.66129,88.34860 }</string>
	
								<string>{ 191.63782,37.90872 }</string>
	
								<string>{ 193.98386,49.93217 }</string>

							</array>

							<array>
	
								<string>{ 191.63782,37.90872 }</string>
	
								<string>{ 155.56744,-130.71298 }</string>
	
								<string>{ 154.68768,-76.16753 }</string>
	
								<string>{ 187.23898,27.35153 }</string>

							</array>

							<array>
	
								<string>{ -181.38270,-29.83322 }</string>
	
								<string>{ -284.27401,-160.62500 }</string>
	
								<string>{ -171.99854,-13.70418 }</string>

							</array>

							<array>
	
								<string>{ -183.72874,-44.49597 }</string>
	
								<string>{ -284.27401,-160.62500 }</string>
	
								<string>{ -181.38270,-29.83322 }</string>

							</array>

							<array>
	
								<string>{ -181.96921,-58.86547 }</string>
	
								<string>{ -284.27401,-160.62500 }</string>
	
								<string>{ -183.72874,-44.49597 }</string>

							</array>

							<array>
	
								<string>{ -174.05132,-71.18219 }</string>
	
								<string>{ -284.27401,-160.62500 }</string>
	
								<string>{ -181.96921,-58.86547 }</string>

							</array>

							<array>
	
								<string>{ 50.13031,-149.02951 }</string>
	
								<string>{ -284.27401,-160.62500 }</string>
	
								<string>{ -124.78445,-151.53409 }</string>

							</array>

							<array>
	
								<string>{ 155.56744,-130.71298 }</string>
	
								<string>{ 150.58209,-84.37867 }</string>
	
								<string>{ 154.68768,-76.16753 }</string>

							</array>

							<array>
	
								<string>{ 155.56744,-130.71298 }</string>
	
								<string>{ 142.37097,-89.07075 }</string>
	
								<string>{ 150.58209,-84.37867 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 223.76117,61.38837 }</string>
	
								<string>{ 284.47870,160.05865 }</string>
	
								<string>{ 283.83264,-119.14681 }</string>
	
								<string>{ 210.85794,-101.95473 }</string>

							</array>

							<array>
	
								<string>{ 225.52069,105.96317 }</string>
	
								<string>{ 284.47870,160.05865 }</string>
	
								<string>{ 223.76117,61.38837 }</string>

							</array>

							<array>
	
								<string>{ 223.17465,119.74615 }</string>
	
								<string>{ 284.47870,160.05865 }</string>
	
								<string>{ 225.52069,105.96317 }</string>

							</array>

							<array>
	
								<string>{ 219.94885,129.42355 }</string>
	
								<string>{ 284.47870,160.05865 }</string>
	
								<string>{ 223.17465,119.74615 }</string>

							</array>

							<array>
	
								<string>{ 215.55002,137.04819 }</string>
	
								<string>{ 284.47870,160.05865 }</string>
	
								<string>{ 219.94885,129.42355 }</string>

							</array>

							<array>
	
								<string>{ 29.03976,159.74615 }</string>
	
								<string>{ 284.47870,160.05865 }</string>
	
								<string>{ 187.39752,149.65817 }</string>
	
								<string>{ 19.36234,141.74026 }</string>

							</array>

							<array>
	
								<string>{ 207.33887,143.20654 }</string>
	
								<string>{ 284.47870,160.05865 }</string>
	
								<string>{ 215.55002,137.04819 }</string>

							</array>

							<array>
	
								<string>{ 197.36819,147.89865 }</string>
	
								<string>{ 284.47870,160.05865 }</string>
	
								<string>{ 207.33887,143.20654 }</string>

							</array>

							<array>
	
								<string>{ 187.39752,149.65817 }</string>
	
								<string>{ 284.47870,160.05865 }</string>
	
								<string>{ 197.36819,147.89865 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

