<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C9</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 25.38461,1.53845 }</string>
	
								<string>{ 18.57986,-26.86391 }</string>
	
								<string>{ 7.63313,4.79289 }</string>

							</array>

							<array>
	
								<string>{ 44.31952,0.35503 }</string>
	
								<string>{ 54.37869,-36.03551 }</string>
	
								<string>{ 26.56802,-36.33137 }</string>
	
								<string>{ 18.57986,-26.86391 }</string>
	
								<string>{ 25.38461,1.53845 }</string>

							</array>

							<array>
	
								<string>{ 44.31952,0.35503 }</string>
	
								<string>{ 82.48520,3.01775 }</string>
	
								<string>{ 75.68045,-37.51479 }</string>
	
								<string>{ 54.37869,-36.03551 }</string>

							</array>

							<array>
	
								<string>{ 82.48520,3.01775 }</string>
	
								<string>{ 98.16568,0.94675 }</string>
	
								<string>{ 116.50885,-5.85799 }</string>
	
								<string>{ 98.75739,-42.84024 }</string>
	
								<string>{ 75.68045,-37.51479 }</string>

							</array>

							<array>
	
								<string>{ 116.50885,-5.85799 }</string>
	
								<string>{ 129.52661,-13.25444 }</string>
	
								<string>{ 143.13608,-23.60947 }</string>
	
								<string>{ 117.98816,-49.94083 }</string>
	
								<string>{ 98.75739,-42.84024 }</string>

							</array>

							<array>
	
								<string>{ 143.13608,-23.60947 }</string>
	
								<string>{ 153.19525,-34.55622 }</string>
	
								<string>{ 158.81656,-46.39053 }</string>
	
								<string>{ 129.82248,-59.11243 }</string>
	
								<string>{ 117.98816,-49.94083 }</string>

							</array>

							<array>
	
								<string>{ 158.22485,-97.57397 }</string>
	
								<string>{ 129.82248,-59.11243 }</string>
	
								<string>{ 158.81656,-46.39053 }</string>

							</array>

							<array>
	
								<string>{ -127.86983,22.84023 }</string>
	
								<string>{ -240.29586,25.85799 }</string>
	
								<string>{ -111.83432,48.34319 }</string>
	
								<string>{ -111.30177,44.73372 }</string>

							</array>

							<array>
	
								<string>{ -127.86983,22.84023 }</string>
	
								<string>{ -240.59172,-160.59172 }</string>
	
								<string>{ -240.29586,25.85799 }</string>

							</array>

							<array>
	
								<string>{ 58.52069,-106.74556 }</string>
	
								<string>{ -240.59172,-160.59172 }</string>
	
								<string>{ -64.26036,-91.95267 }</string>
	
								<string>{ -32.89941,-93.72781 }</string>
	
								<string>{ 1.42010,-97.27811 }</string>

							</array>

							<array>
	
								<string>{ 161.18341,-160.29586 }</string>
	
								<string>{ 137.21893,-76.56805 }</string>
	
								<string>{ 136.33136,-68.28403 }</string>
	
								<string>{ 158.22485,-97.57397 }</string>

							</array>

							<array>
	
								<string>{ 161.18341,-160.29586 }</string>
	
								<string>{ 135.14792,-86.03551 }</string>
	
								<string>{ 137.21893,-76.56805 }</string>

							</array>

							<array>
	
								<string>{ 161.18341,-160.29586 }</string>
	
								<string>{ 129.82248,-94.31953 }</string>
	
								<string>{ 135.14792,-86.03551 }</string>

							</array>

							<array>
	
								<string>{ 161.18341,-160.29586 }</string>
	
								<string>{ 121.83432,-102.01184 }</string>
	
								<string>{ 129.82248,-94.31953 }</string>

							</array>

							<array>
	
								<string>{ 161.18341,-160.29586 }</string>
	
								<string>{ 109.70413,-106.74556 }</string>
	
								<string>{ 121.83432,-102.01184 }</string>

							</array>

							<array>
	
								<string>{ 161.18341,-160.29586 }</string>
	
								<string>{ 96.39053,-109.11243 }</string>
	
								<string>{ 109.70413,-106.74556 }</string>

							</array>

							<array>
	
								<string>{ -240.59172,-160.59172 }</string>
	
								<string>{ 78.34317,-108.81657 }</string>
	
								<string>{ 96.39053,-109.11243 }</string>
	
								<string>{ 161.18341,-160.29586 }</string>

							</array>

							<array>
	
								<string>{ -240.59172,-160.59172 }</string>
	
								<string>{ 58.52069,-106.74556 }</string>
	
								<string>{ 78.34317,-108.81657 }</string>

							</array>

							<array>
	
								<string>{ -240.59172,-160.59172 }</string>
	
								<string>{ -85.85799,-90.17752 }</string>
	
								<string>{ -64.26036,-91.95267 }</string>

							</array>

							<array>
	
								<string>{ -240.59172,-160.59172 }</string>
	
								<string>{ -111.00592,-87.21894 }</string>
	
								<string>{ -85.85799,-90.17752 }</string>

							</array>

							<array>
	
								<string>{ -240.59172,-160.59172 }</string>
	
								<string>{ -127.57397,-81.89349 }</string>
	
								<string>{ -111.00592,-87.21894 }</string>

							</array>

							<array>
	
								<string>{ -240.59172,-160.59172 }</string>
	
								<string>{ -138.52071,-73.90533 }</string>
	
								<string>{ -127.57397,-81.89349 }</string>

							</array>

							<array>
	
								<string>{ -240.59172,-160.59172 }</string>
	
								<string>{ -146.50888,-64.43787 }</string>
	
								<string>{ -138.52071,-73.90533 }</string>

							</array>

							<array>
	
								<string>{ -240.59172,-160.59172 }</string>
	
								<string>{ -152.42604,-52.89941 }</string>
	
								<string>{ -146.50888,-64.43787 }</string>

							</array>

							<array>
	
								<string>{ -240.59172,-160.59172 }</string>
	
								<string>{ -152.42604,-38.99409 }</string>
	
								<string>{ -152.42604,-52.89941 }</string>

							</array>

							<array>
	
								<string>{ -240.59172,-160.59172 }</string>
	
								<string>{ -150.05917,-21.83432 }</string>
	
								<string>{ -152.42604,-38.99409 }</string>

							</array>

							<array>
	
								<string>{ -240.59172,-160.59172 }</string>
	
								<string>{ -141.77515,-0.53255 }</string>
	
								<string>{ -150.05917,-21.83432 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -3.31361,53.37277 }</string>
	
								<string>{ 239.94083,69.34911 }</string>
	
								<string>{ 69.46744,35.26627 }</string>
	
								<string>{ 52.89938,33.78697 }</string>
	
								<string>{ 34.85205,33.49112 }</string>
	
								<string>{ 17.98816,34.97041 }</string>
	
								<string>{ 7.33727,37.92899 }</string>
	
								<string>{ -0.35504,40.88757 }</string>

							</array>

							<array>
	
								<string>{ 158.52069,8.34319 }</string>
	
								<string>{ 142.84021,19.58580 }</string>
	
								<string>{ 183.37277,34.37869 }</string>
	
								<string>{ 171.24258,9.82248 }</string>

							</array>

							<array>
	
								<string>{ 125.68045,27.57396 }</string>
	
								<string>{ 239.88165,61.89348 }</string>
	
								<string>{ 183.37277,34.37869 }</string>
	
								<string>{ 142.84021,19.58580 }</string>

							</array>

							<array>
	
								<string>{ 108.52069,32.89940 }</string>
	
								<string>{ 239.94083,69.34911 }</string>
	
								<string>{ 239.88165,61.89348 }</string>
	
								<string>{ 125.68045,27.57396 }</string>

							</array>

							<array>
	
								<string>{ 89.28992,36.15384 }</string>
	
								<string>{ 239.94083,69.34911 }</string>
	
								<string>{ 108.52069,32.89940 }</string>

							</array>

							<array>
	
								<string>{ 69.46744,35.26627 }</string>
	
								<string>{ 239.94083,69.34911 }</string>
	
								<string>{ 89.28992,36.15384 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

