<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C57</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -8.91496,-109.85337 }</string>
	
								<string>{ 80.52786,-108.97361 }</string>
	
								<string>{ -26.51027,-131.84751 }</string>
	
								<string>{ -24.16423,-118.65103 }</string>

							</array>

							<array>
	
								<string>{ 240.93842,99.53079 }</string>
	
								<string>{ 149.44281,85.16129 }</string>
	
								<string>{ 126.86215,100.41055 }</string>

							</array>

							<array>
	
								<string>{ 240.93842,99.53079 }</string>
	
								<string>{ 166.15836,73.72433 }</string>
	
								<string>{ 149.44281,85.16129 }</string>

							</array>

							<array>
	
								<string>{ 240.93842,99.53079 }</string>
	
								<string>{ 180.52786,63.16714 }</string>
	
								<string>{ 166.15836,73.72433 }</string>

							</array>

							<array>
	
								<string>{ 240.93842,99.53079 }</string>
	
								<string>{ 193.13782,53.19647 }</string>
	
								<string>{ 180.52786,63.16714 }</string>

							</array>

							<array>
	
								<string>{ 240.93842,99.53079 }</string>
	
								<string>{ 206.33429,38.53372 }</string>
	
								<string>{ 193.13782,53.19647 }</string>

							</array>

							<array>
	
								<string>{ 240.93842,99.53079 }</string>
	
								<string>{ 214.83868,25.92375 }</string>
	
								<string>{ 206.33429,38.53372 }</string>

							</array>

							<array>
	
								<string>{ 240.93842,99.53079 }</string>
	
								<string>{ 221.87683,13.31378 }</string>
	
								<string>{ 214.83868,25.92375 }</string>

							</array>

							<array>
	
								<string>{ 80.52786,-108.97361 }</string>
	
								<string>{ 140.93842,-105.16129 }</string>
	
								<string>{ 239.88269,-160.17595 }</string>
	
								<string>{ -33.54839,-142.99120 }</string>
	
								<string>{ -26.51027,-131.84751 }</string>

							</array>

							<array>
	
								<string>{ 240.93842,99.53079 }</string>
	
								<string>{ 226.56891,0.11729 }</string>
	
								<string>{ 221.87683,13.31378 }</string>

							</array>

							<array>
	
								<string>{ -33.54839,-142.99120 }</string>
	
								<string>{ 239.88269,-160.17595 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -240.00000,-152.55132 }</string>

							</array>

							<array>
	
								<string>{ 240.93842,99.53079 }</string>
	
								<string>{ 229.50146,-15.13197 }</string>
	
								<string>{ 226.56891,0.11729 }</string>

							</array>

							<array>
	
								<string>{ 239.88269,-160.17595 }</string>
	
								<string>{ 229.50146,-15.13197 }</string>
	
								<string>{ 240.93842,99.53079 }</string>

							</array>

							<array>
	
								<string>{ 164.98532,-100.76247 }</string>
	
								<string>{ 239.88269,-160.17595 }</string>
	
								<string>{ 140.93842,-105.16129 }</string>

							</array>

							<array>
	
								<string>{ 180.52786,-95.77713 }</string>
	
								<string>{ 239.88269,-160.17595 }</string>
	
								<string>{ 164.98532,-100.76247 }</string>

							</array>

							<array>
	
								<string>{ 193.43106,-90.49854 }</string>
	
								<string>{ 239.88269,-160.17595 }</string>
	
								<string>{ 180.52786,-95.77713 }</string>

							</array>

							<array>
	
								<string>{ 204.86801,-84.04692 }</string>
	
								<string>{ 239.88269,-160.17595 }</string>
	
								<string>{ 193.43106,-90.49854 }</string>

							</array>

							<array>
	
								<string>{ 214.25220,-76.12904 }</string>
	
								<string>{ 239.88269,-160.17595 }</string>
	
								<string>{ 204.86801,-84.04692 }</string>

							</array>

							<array>
	
								<string>{ 222.75659,-64.39883 }</string>
	
								<string>{ 239.88269,-160.17595 }</string>
	
								<string>{ 214.25220,-76.12904 }</string>

							</array>

							<array>
	
								<string>{ 228.91495,-49.73608 }</string>
	
								<string>{ 239.88269,-160.17595 }</string>
	
								<string>{ 222.75659,-64.39883 }</string>

							</array>

							<array>
	
								<string>{ 230.38123,-39.76540 }</string>
	
								<string>{ 239.88269,-160.17595 }</string>
	
								<string>{ 228.91495,-49.73608 }</string>

							</array>

							<array>
	
								<string>{ 230.38123,-30.67448 }</string>
	
								<string>{ 239.88269,-160.17595 }</string>
	
								<string>{ 230.38123,-39.76540 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 126.09970,75.89442 }</string>
	
								<string>{ 103.69501,61.11436 }</string>
	
								<string>{ 72.60995,68.73900 }</string>

							</array>

							<array>
	
								<string>{ 126.09970,75.89442 }</string>
	
								<string>{ 154.72141,57.30205 }</string>
	
								<string>{ 125.98239,53.19647 }</string>
	
								<string>{ 103.69501,61.11436 }</string>

							</array>

							<array>
	
								<string>{ 154.72141,57.30205 }</string>
	
								<string>{ 147.97653,42.63930 }</string>
	
								<string>{ 125.98239,53.19647 }</string>

							</array>

							<array>
	
								<string>{ 154.72141,57.30205 }</string>
	
								<string>{ 172.31671,43.51906 }</string>
	
								<string>{ 162.34604,33.84164 }</string>
	
								<string>{ 147.97653,42.63930 }</string>

							</array>

							<array>
	
								<string>{ 172.31671,43.51906 }</string>
	
								<string>{ 187.56598,28.85629 }</string>
	
								<string>{ 174.36948,23.87096 }</string>
	
								<string>{ 162.34604,33.84164 }</string>

							</array>

							<array>
	
								<string>{ 187.56598,28.85629 }</string>
	
								<string>{ 199.88269,11.26099 }</string>
	
								<string>{ 184.04691,12.14076 }</string>
	
								<string>{ 174.36948,23.87096 }</string>

							</array>

							<array>
	
								<string>{ 199.88269,11.26099 }</string>
	
								<string>{ 206.92081,-6.62756 }</string>
	
								<string>{ 189.32550,1.29031 }</string>
	
								<string>{ 184.04691,12.14076 }</string>

							</array>

							<array>
	
								<string>{ 206.92081,-6.62756 }</string>
	
								<string>{ 210.14661,-22.46335 }</string>
	
								<string>{ 192.84457,-12.19942 }</string>
	
								<string>{ 189.32550,1.29031 }</string>

							</array>

							<array>
	
								<string>{ 210.14661,-22.46335 }</string>
	
								<string>{ 210.14661,-40.64516 }</string>
	
								<string>{ 204.28152,-56.18768 }</string>
	
								<string>{ 195.48386,-65.57185 }</string>
	
								<string>{ 192.55130,-22.75661 }</string>
	
								<string>{ 192.84457,-12.19942 }</string>

							</array>

							<array>
	
								<string>{ -88.38710,-9.56012 }</string>
	
								<string>{ -81.93549,2.75659 }</string>
	
								<string>{ -68.44576,11.08504 }</string>
	
								<string>{ -37.65396,21.52492 }</string>
	
								<string>{ -42.63930,-63.51907 }</string>
	
								<string>{ -64.63344,-48.56305 }</string>
	
								<string>{ -78.70969,-35.36657 }</string>
	
								<string>{ -87.50734,-23.34311 }</string>

							</array>

							<array>
	
								<string>{ 181.99411,-73.48974 }</string>
	
								<string>{ 189.91202,-31.84750 }</string>
	
								<string>{ 192.55130,-22.75661 }</string>
	
								<string>{ 195.48386,-65.57185 }</string>

							</array>

							<array>
	
								<string>{ -11.84752,25.92375 }</string>
	
								<string>{ 162.63928,-80.52786 }</string>
	
								<string>{ 140.35190,-84.63343 }</string>
	
								<string>{ 117.47800,-87.56599 }</string>
	
								<string>{ -17.71262,-89.61877 }</string>
	
								<string>{ -42.63930,-63.51907 }</string>
	
								<string>{ -37.65396,21.52492 }</string>

							</array>

							<array>
	
								<string>{ 99.29617,-20.11731 }</string>
	
								<string>{ -11.84752,25.92375 }</string>
	
								<string>{ 4.57477,24.45747 }</string>
	
								<string>{ 28.91495,19.17888 }</string>
	
								<string>{ 54.72141,10.08797 }</string>
	
								<string>{ 71.14368,1.29031 }</string>
	
								<string>{ 86.97946,-8.97362 }</string>

							</array>

							<array>
	
								<string>{ -11.84752,25.92375 }</string>
	
								<string>{ 124.80939,-40.05865 }</string>
	
								<string>{ 181.99411,-73.48974 }</string>
	
								<string>{ 162.63928,-80.52786 }</string>

							</array>

							<array>
	
								<string>{ 111.61288,-30.38124 }</string>
	
								<string>{ -11.84752,25.92375 }</string>
	
								<string>{ 99.29617,-20.11731 }</string>

							</array>

							<array>
	
								<string>{ 124.80939,-40.05865 }</string>
	
								<string>{ -11.84752,25.92375 }</string>
	
								<string>{ 111.61288,-30.38124 }</string>

							</array>

							<array>
	
								<string>{ 139.76538,-46.80352 }</string>
	
								<string>{ 181.99411,-73.48974 }</string>
	
								<string>{ 124.80939,-40.05865 }</string>

							</array>

							<array>
	
								<string>{ 150.90909,-49.73608 }</string>
	
								<string>{ 181.99411,-73.48974 }</string>
	
								<string>{ 139.76538,-46.80352 }</string>

							</array>

							<array>
	
								<string>{ 162.05276,-49.44282 }</string>
	
								<string>{ 181.99411,-73.48974 }</string>
	
								<string>{ 150.90909,-49.73608 }</string>

							</array>

							<array>
	
								<string>{ 174.36948,-46.51027 }</string>
	
								<string>{ 181.99411,-73.48974 }</string>
	
								<string>{ 162.05276,-49.44282 }</string>

							</array>

							<array>
	
								<string>{ 184.34018,-40.35191 }</string>
	
								<string>{ 181.99411,-73.48974 }</string>
	
								<string>{ 174.36948,-46.51027 }</string>

							</array>

							<array>
	
								<string>{ 189.91202,-31.84750 }</string>
	
								<string>{ 181.99411,-73.48974 }</string>
	
								<string>{ 184.34018,-40.35191 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 33.72433,54.48680 }</string>
	
								<string>{ 53.54837,52.90321 }</string>
	
								<string>{ 32.14075,39.70674 }</string>
	
								<string>{ 10.43988,43.92961 }</string>

							</array>

							<array>
	
								<string>{ 53.54837,52.90321 }</string>
	
								<string>{ 84.34018,45.86510 }</string>
	
								<string>{ 51.78885,33.84164 }</string>
	
								<string>{ 32.14075,39.70674 }</string>

							</array>

							<array>
	
								<string>{ 84.34018,45.86510 }</string>
	
								<string>{ 108.38708,37.94720 }</string>
	
								<string>{ 71.73019,24.16422 }</string>
	
								<string>{ 51.78885,33.84164 }</string>

							</array>

							<array>
	
								<string>{ 108.38708,37.94720 }</string>
	
								<string>{ 84.63342,17.41936 }</string>
	
								<string>{ 71.73019,24.16422 }</string>

							</array>

							<array>
	
								<string>{ 108.38708,37.94720 }</string>
	
								<string>{ 124.22287,30.90909 }</string>
	
								<string>{ 100.17593,6.27565 }</string>
	
								<string>{ 84.63342,17.41936 }</string>

							</array>

							<array>
	
								<string>{ 124.22287,30.90909 }</string>
	
								<string>{ 138.00586,24.16422 }</string>
	
								<string>{ 150.90909,15.95308 }</string>
	
								<string>{ 159.70673,7.74193 }</string>
	
								<string>{ 138.59238,-24.22287 }</string>
	
								<string>{ 127.44867,-16.89149 }</string>
	
								<string>{ 100.17593,6.27565 }</string>

							</array>

							<array>
	
								<string>{ 157.94720,-30.08798 }</string>
	
								<string>{ 148.26978,-29.20822 }</string>
	
								<string>{ 166.45160,-0.17596 }</string>
	
								<string>{ 170.85043,-8.68036 }</string>
	
								<string>{ 172.31671,-17.18475 }</string>
	
								<string>{ 171.14368,-23.34311 }</string>
	
								<string>{ 166.15836,-28.62170 }</string>

							</array>

							<array>
	
								<string>{ 159.70673,7.74193 }</string>
	
								<string>{ 166.45160,-0.17596 }</string>
	
								<string>{ 148.26978,-29.20822 }</string>
	
								<string>{ 138.59238,-24.22287 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -155.24927,77.53665 }</string>
	
								<string>{ -68.32845,78.82698 }</string>
	
								<string>{ -75.19061,72.25806 }</string>
	
								<string>{ -240.87977,50.26393 }</string>
	
								<string>{ -240.58651,70.90909 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

