<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C51</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 124.51611,-34.19355 }</string>
	
								<string>{ 185.21994,-79.94135 }</string>
	
								<string>{ 240.76245,-159.88270 }</string>
	
								<string>{ 80.82111,-65.57185 }</string>
	
								<string>{ 89.61877,-51.78886 }</string>
	
								<string>{ 96.65689,-42.11144 }</string>
	
								<string>{ 108.38708,-28.62170 }</string>

							</array>

							<array>
	
								<string>{ 240.76245,-159.88270 }</string>
	
								<string>{ 185.21994,-79.94135 }</string>
	
								<string>{ 240.93842,-112.78593 }</string>

							</array>

							<array>
	
								<string>{ -186.04106,-20.70381 }</string>
	
								<string>{ -132.08212,-26.56892 }</string>
	
								<string>{ -136.18768,-39.76540 }</string>
	
								<string>{ -240.00000,-159.70674 }</string>
	
								<string>{ -240.58651,-60.76247 }</string>

							</array>

							<array>
	
								<string>{ 240.76245,-159.88270 }</string>
	
								<string>{ 68.21115,-79.64809 }</string>
	
								<string>{ 80.82111,-65.57185 }</string>

							</array>

							<array>
	
								<string>{ 240.76245,-159.88270 }</string>
	
								<string>{ 50.32257,-92.84457 }</string>
	
								<string>{ 68.21115,-79.64809 }</string>

							</array>

							<array>
	
								<string>{ 240.76245,-159.88270 }</string>
	
								<string>{ 27.74194,-104.28152 }</string>
	
								<string>{ 50.32257,-92.84457 }</string>

							</array>

							<array>
	
								<string>{ 240.76245,-159.88270 }</string>
	
								<string>{ 1.05571,-112.19941 }</string>
	
								<string>{ 27.74194,-104.28152 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-159.70674 }</string>
	
								<string>{ 1.05571,-112.19941 }</string>
	
								<string>{ 240.76245,-159.88270 }</string>

							</array>

							<array>
	
								<string>{ -139.41349,-56.18768 }</string>
	
								<string>{ -240.00000,-159.70674 }</string>
	
								<string>{ -136.18768,-39.76540 }</string>

							</array>

							<array>
	
								<string>{ -139.41349,-70.85044 }</string>
	
								<string>{ -240.00000,-159.70674 }</string>
	
								<string>{ -139.41349,-56.18768 }</string>

							</array>

							<array>
	
								<string>{ -136.48094,-82.87390 }</string>
	
								<string>{ -240.00000,-159.70674 }</string>
	
								<string>{ -139.41349,-70.85044 }</string>

							</array>

							<array>
	
								<string>{ -130.61584,-94.89736 }</string>
	
								<string>{ -240.00000,-159.70674 }</string>
	
								<string>{ -136.48094,-82.87390 }</string>

							</array>

							<array>
	
								<string>{ -121.23167,-104.57478 }</string>
	
								<string>{ -240.00000,-159.70674 }</string>
	
								<string>{ -130.61584,-94.89736 }</string>

							</array>

							<array>
	
								<string>{ -109.20822,-111.90616 }</string>
	
								<string>{ -240.00000,-159.70674 }</string>
	
								<string>{ -121.23167,-104.57478 }</string>

							</array>

							<array>
	
								<string>{ -96.59825,-116.01173 }</string>
	
								<string>{ -240.00000,-159.70674 }</string>
	
								<string>{ -109.20822,-111.90616 }</string>

							</array>

							<array>
	
								<string>{ -79.00293,-118.94428 }</string>
	
								<string>{ -240.00000,-159.70674 }</string>
	
								<string>{ -96.59825,-116.01173 }</string>

							</array>

							<array>
	
								<string>{ -58.47508,-120.41056 }</string>
	
								<string>{ -240.00000,-159.70674 }</string>
	
								<string>{ -79.00293,-118.94428 }</string>

							</array>

							<array>
	
								<string>{ -29.14957,-118.06452 }</string>
	
								<string>{ -240.00000,-159.70674 }</string>
	
								<string>{ -58.47508,-120.41056 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -156.42229,40.00000 }</string>
	
								<string>{ -104.22287,27.09677 }</string>
	
								<string>{ -114.48681,13.31378 }</string>
	
								<string>{ -149.97068,14.19354 }</string>

							</array>

							<array>
	
								<string>{ -80.76247,42.93254 }</string>
	
								<string>{ -67.15543,59.17888 }</string>
	
								<string>{ -65.21994,51.14369 }</string>

							</array>

							<array>
	
								<string>{ -240.29326,51.84750 }</string>
	
								<string>{ -193.66569,42.05278 }</string>
	
								<string>{ -240.00000,34.42815 }</string>

							</array>

							<array>
	
								<string>{ -156.42229,40.00000 }</string>
	
								<string>{ -67.15543,59.17888 }</string>
	
								<string>{ -91.90616,36.18768 }</string>
	
								<string>{ -104.22287,27.09677 }</string>

							</array>

							<array>
	
								<string>{ -91.90616,36.18768 }</string>
	
								<string>{ -67.15543,59.17888 }</string>
	
								<string>{ -80.76247,42.93254 }</string>

							</array>

							<array>
	
								<string>{ -156.42229,40.00000 }</string>
	
								<string>{ -193.66569,42.05278 }</string>
	
								<string>{ -240.29326,51.84750 }</string>
	
								<string>{ -67.15543,59.17888 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 239.76538,35.89442 }</string>
	
								<string>{ 152.08209,41.75952 }</string>
	
								<string>{ 185.80643,81.93547 }</string>
	
								<string>{ 239.76538,80.17595 }</string>

							</array>

							<array>
	
								<string>{ 152.08209,41.75952 }</string>
	
								<string>{ 105.45453,36.48093 }</string>
	
								<string>{ 100.00000,88.79765 }</string>
	
								<string>{ 140.93842,90.73314 }</string>
	
								<string>{ 185.80643,81.93547 }</string>

							</array>

							<array>
	
								<string>{ 50.02933,-30.67448 }</string>
	
								<string>{ 92.84457,4.22287 }</string>
	
								<string>{ 94.31085,-13.95895 }</string>
	
								<string>{ 70.55719,-43.57771 }</string>

							</array>

							<array>
	
								<string>{ 16.30499,-19.82405 }</string>
	
								<string>{ 92.25806,23.28445 }</string>
	
								<string>{ 92.84457,4.22287 }</string>
	
								<string>{ 50.02933,-30.67448 }</string>

							</array>

							<array>
	
								<string>{ 92.25806,23.28445 }</string>
	
								<string>{ 96.36362,81.05571 }</string>
	
								<string>{ 100.00000,88.79765 }</string>
	
								<string>{ 105.45453,36.48093 }</string>

							</array>

							<array>
	
								<string>{ -33.84164,-10.43988 }</string>
	
								<string>{ 1.34897,25.92375 }</string>
	
								<string>{ 25.68915,36.77419 }</string>
	
								<string>{ 92.25806,23.28445 }</string>
	
								<string>{ 16.30499,-19.82405 }</string>

							</array>

							<array>
	
								<string>{ -79.00293,-2.69795 }</string>
	
								<string>{ -35.01466,12.14076 }</string>
	
								<string>{ -33.84164,-10.43988 }</string>
	
								<string>{ -78.41643,-7.50734 }</string>

							</array>

							<array>
	
								<string>{ 1.34897,25.92375 }</string>
	
								<string>{ -33.84164,-10.43988 }</string>
	
								<string>{ -35.01466,12.14076 }</string>

							</array>

							<array>
	
								<string>{ 48.26978,47.62463 }</string>
	
								<string>{ 92.25806,23.28445 }</string>
	
								<string>{ 25.68915,36.77419 }</string>

							</array>

							<array>
	
								<string>{ 69.97067,59.64809 }</string>
	
								<string>{ 92.25806,23.28445 }</string>
	
								<string>{ 48.26978,47.62463 }</string>

							</array>

							<array>
	
								<string>{ 89.61877,73.72433 }</string>
	
								<string>{ 92.25806,23.28445 }</string>
	
								<string>{ 69.97067,59.64809 }</string>

							</array>

							<array>
	
								<string>{ 96.36362,81.05571 }</string>
	
								<string>{ 92.25806,23.28445 }</string>
	
								<string>{ 89.61877,73.72433 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 89.61877,113.90030 }</string>
	
								<string>{ 79.94135,118.88562 }</string>
	
								<string>{ 114.83871,137.65396 }</string>
	
								<string>{ 116.89148,113.02051 }</string>

							</array>

							<array>
	
								<string>{ 79.94135,118.88562 }</string>
	
								<string>{ 68.50439,123.28445 }</string>
	
								<string>{ -0.11731,160.64514 }</string>
	
								<string>{ 121.40762,160.35190 }</string>
	
								<string>{ 114.83871,137.65396 }</string>

							</array>

							<array>
	
								<string>{ -0.11731,160.64514 }</string>
	
								<string>{ 32.72726,130.61581 }</string>
	
								<string>{ -6.56892,134.72141 }</string>
	
								<string>{ -8.32845,140.58652 }</string>

							</array>

							<array>
	
								<string>{ -0.11731,160.64514 }</string>
	
								<string>{ 68.50439,123.28445 }</string>
	
								<string>{ 32.72726,130.61581 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

