<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C7</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -126.92308,33.55029 }</string>
	
								<string>{ -133.78699,13.96449 }</string>
	
								<string>{ -240.88757,-160.29586 }</string>
	
								<string>{ -240.59172,33.84615 }</string>

							</array>

							<array>
	
								<string>{ 241.95264,-160.59172 }</string>
	
								<string>{ -240.88757,-160.29586 }</string>
	
								<string>{ -113.96450,-145.50296 }</string>
	
								<string>{ 240.76923,-150.23669 }</string>

							</array>

							<array>
	
								<string>{ -240.88757,-160.29586 }</string>
	
								<string>{ -126.98225,-136.33136 }</string>
	
								<string>{ -113.96450,-145.50296 }</string>

							</array>

							<array>
	
								<string>{ -240.88757,-160.29586 }</string>
	
								<string>{ -138.52071,-120.65089 }</string>
	
								<string>{ -126.98225,-136.33136 }</string>

							</array>

							<array>
	
								<string>{ -240.88757,-160.29586 }</string>
	
								<string>{ -145.62131,-104.08284 }</string>
	
								<string>{ -138.52071,-120.65089 }</string>

							</array>

							<array>
	
								<string>{ -240.88757,-160.29586 }</string>
	
								<string>{ -147.98817,-86.03551 }</string>
	
								<string>{ -145.62131,-104.08284 }</string>

							</array>

							<array>
	
								<string>{ -240.88757,-160.29586 }</string>
	
								<string>{ -148.87574,-69.76331 }</string>
	
								<string>{ -147.98817,-86.03551 }</string>

							</array>

							<array>
	
								<string>{ -240.88757,-160.29586 }</string>
	
								<string>{ -147.98817,-52.30769 }</string>
	
								<string>{ -148.87574,-69.76331 }</string>

							</array>

							<array>
	
								<string>{ -240.88757,-160.29586 }</string>
	
								<string>{ -144.73373,-31.30177 }</string>
	
								<string>{ -147.98817,-52.30769 }</string>

							</array>

							<array>
	
								<string>{ -240.88757,-160.29586 }</string>
	
								<string>{ -133.78699,13.96449 }</string>
	
								<string>{ -144.73373,-31.30177 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 181.30176,-115.62130 }</string>
	
								<string>{ 181.30176,-60.59172 }</string>
	
								<string>{ 182.18933,-50.23669 }</string>
	
								<string>{ 240.23666,3.37277 }</string>
	
								<string>{ 239.88165,-81.89349 }</string>

							</array>

							<array>
	
								<string>{ -89.11243,-29.17160 }</string>
	
								<string>{ -41.18344,-18.28403 }</string>
	
								<string>{ -41.47929,-21.24261 }</string>
	
								<string>{ -55.68048,-39.88166 }</string>
	
								<string>{ -88.22485,-33.96450 }</string>

							</array>

							<array>
	
								<string>{ -105.38461,-75.08876 }</string>
	
								<string>{ -96.80473,-59.40829 }</string>
	
								<string>{ -86.15385,-49.05326 }</string>
	
								<string>{ -65.44379,-114.73373 }</string>
	
								<string>{ -87.63315,-108.81657 }</string>
	
								<string>{ -100.94675,-101.42012 }</string>
	
								<string>{ -107.75148,-89.88166 }</string>

							</array>

							<array>
	
								<string>{ 51.12424,-41.65681 }</string>
	
								<string>{ 39.58578,-57.92900 }</string>
	
								<string>{ 43.13608,-18.28403 }</string>
	
								<string>{ 49.64496,-17.39645 }</string>

							</array>

							<array>
	
								<string>{ 55.56213,-63.55030 }</string>
	
								<string>{ 32.78107,-75.68047 }</string>
	
								<string>{ 39.58578,-57.92900 }</string>
	
								<string>{ 51.12424,-41.65681 }</string>

							</array>

							<array>
	
								<string>{ 61.47928,-77.75148 }</string>
	
								<string>{ 21.24258,-88.69823 }</string>
	
								<string>{ 32.78107,-75.68047 }</string>
	
								<string>{ 55.56213,-63.55030 }</string>

							</array>

							<array>
	
								<string>{ 70.65088,-90.47337 }</string>
	
								<string>{ 9.40828,-96.68639 }</string>
	
								<string>{ 21.24258,-88.69823 }</string>
	
								<string>{ 61.47928,-77.75148 }</string>

							</array>

							<array>
	
								<string>{ 139.58578,-9.40829 }</string>
	
								<string>{ 175.38461,0.05917 }</string>
	
								<string>{ 158.22485,-21.53847 }</string>
	
								<string>{ 139.58578,-15.32545 }</string>

							</array>

							<array>
	
								<string>{ 175.38461,0.05917 }</string>
	
								<string>{ 213.25443,4.79289 }</string>
	
								<string>{ 240.23666,3.37277 }</string>
	
								<string>{ 170.35501,-28.04735 }</string>
	
								<string>{ 158.22485,-21.53847 }</string>

							</array>

							<array>
	
								<string>{ -77.57397,-36.03551 }</string>
	
								<string>{ -69.28995,-75.97633 }</string>
	
								<string>{ -65.44379,-114.73373 }</string>
	
								<string>{ -86.15385,-49.05326 }</string>

							</array>

							<array>
	
								<string>{ 240.23666,3.37277 }</string>
	
								<string>{ 178.93491,-34.26036 }</string>
	
								<string>{ 170.35501,-28.04735 }</string>

							</array>

							<array>
	
								<string>{ 81.30176,-97.27811 }</string>
	
								<string>{ -5.97633,-101.12426 }</string>
	
								<string>{ 9.40828,-96.68639 }</string>
	
								<string>{ 70.65088,-90.47337 }</string>

							</array>

							<array>
	
								<string>{ 240.23666,3.37277 }</string>
	
								<string>{ 181.00589,-41.95267 }</string>
	
								<string>{ 178.93491,-34.26036 }</string>

							</array>

							<array>
	
								<string>{ 240.23666,3.37277 }</string>
	
								<string>{ 182.18933,-50.23669 }</string>
	
								<string>{ 181.00589,-41.95267 }</string>

							</array>

							<array>
	
								<string>{ -63.96451,-54.97042 }</string>
	
								<string>{ -77.57397,-36.03551 }</string>
	
								<string>{ -55.68048,-39.88166 }</string>

							</array>

							<array>
	
								<string>{ -68.69823,-65.91716 }</string>
	
								<string>{ -77.57397,-36.03551 }</string>
	
								<string>{ -63.96451,-54.97042 }</string>

							</array>

							<array>
	
								<string>{ -69.28995,-75.97633 }</string>
	
								<string>{ -77.57397,-36.03551 }</string>
	
								<string>{ -68.69823,-65.91716 }</string>

							</array>

							<array>
	
								<string>{ -65.14793,-86.33136 }</string>
	
								<string>{ -65.44379,-114.73373 }</string>
	
								<string>{ -69.28995,-75.97633 }</string>

							</array>

							<array>
	
								<string>{ -54.79291,-95.20710 }</string>
	
								<string>{ -65.44379,-114.73373 }</string>
	
								<string>{ -65.14793,-86.33136 }</string>

							</array>

							<array>
	
								<string>{ -41.18344,-100.53255 }</string>
	
								<string>{ -65.44379,-114.73373 }</string>
	
								<string>{ -54.79291,-95.20710 }</string>

							</array>

							<array>
	
								<string>{ -21.06509,-102.01184 }</string>
	
								<string>{ -65.44379,-114.73373 }</string>
	
								<string>{ -41.18344,-100.53255 }</string>

							</array>

							<array>
	
								<string>{ -21.06509,-102.01184 }</string>
	
								<string>{ -5.97633,-101.12426 }</string>
	
								<string>{ 94.31952,-101.71598 }</string>
	
								<string>{ 181.30176,-115.62130 }</string>
	
								<string>{ -65.44379,-114.73373 }</string>

							</array>

							<array>
	
								<string>{ 94.31952,-101.71598 }</string>
	
								<string>{ -5.97633,-101.12426 }</string>
	
								<string>{ 81.30176,-97.27811 }</string>

							</array>

							<array>
	
								<string>{ 181.30176,-115.62130 }</string>
	
								<string>{ 177.15976,-70.94675 }</string>
	
								<string>{ 181.30176,-60.59172 }</string>

							</array>

							<array>
	
								<string>{ 181.30176,-115.62130 }</string>
	
								<string>{ 168.87573,-80.41421 }</string>
	
								<string>{ 177.15976,-70.94675 }</string>

							</array>

							<array>
	
								<string>{ 181.30176,-115.62130 }</string>
	
								<string>{ 157.04141,-88.69823 }</string>
	
								<string>{ 168.87573,-80.41421 }</string>

							</array>

							<array>
	
								<string>{ 181.30176,-115.62130 }</string>
	
								<string>{ 142.54437,-95.50296 }</string>
	
								<string>{ 157.04141,-88.69823 }</string>

							</array>

							<array>
	
								<string>{ 181.30176,-115.62130 }</string>
	
								<string>{ 129.23074,-99.34911 }</string>
	
								<string>{ 142.54437,-95.50296 }</string>

							</array>

							<array>
	
								<string>{ 181.30176,-115.62130 }</string>
	
								<string>{ 112.07098,-101.42012 }</string>
	
								<string>{ 129.23074,-99.34911 }</string>

							</array>

							<array>
	
								<string>{ 181.30176,-115.62130 }</string>
	
								<string>{ 94.31952,-101.71598 }</string>
	
								<string>{ 112.07098,-101.42012 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 68.87573,21.06508 }</string>
	
								<string>{ 91.06506,16.62721 }</string>
	
								<string>{ 55.85797,15.44379 }</string>
	
								<string>{ 55.26627,20.17751 }</string>

							</array>

							<array>
	
								<string>{ 99.64496,28.16568 }</string>
	
								<string>{ 124.79288,25.79881 }</string>
	
								<string>{ 91.06506,16.62721 }</string>
	
								<string>{ 68.87573,21.06508 }</string>

							</array>

							<array>
	
								<string>{ 120.94675,38.52071 }</string>
	
								<string>{ 124.79288,25.79881 }</string>
	
								<string>{ 99.64496,28.16568 }</string>

							</array>

							<array>
	
								<string>{ 135.44379,48.28401 }</string>
	
								<string>{ 152.60355,37.92899 }</string>
	
								<string>{ 124.79288,25.79881 }</string>
	
								<string>{ 120.94675,38.52071 }</string>

							</array>

							<array>
	
								<string>{ 148.16568,59.23076 }</string>
	
								<string>{ 169.76331,51.83430 }</string>
	
								<string>{ 152.60355,37.92899 }</string>
	
								<string>{ 135.44379,48.28401 }</string>

							</array>

							<array>
	
								<string>{ 158.81656,75.20709 }</string>
	
								<string>{ 183.07690,68.99408 }</string>
	
								<string>{ 169.76331,51.83430 }</string>
	
								<string>{ 148.16568,59.23076 }</string>

							</array>

							<array>
	
								<string>{ 164.73370,92.07100 }</string>
	
								<string>{ 202.30768,80.23668 }</string>
	
								<string>{ 183.07690,68.99408 }</string>
	
								<string>{ 158.81656,75.20709 }</string>

							</array>

							<array>
	
								<string>{ 167.39642,106.86389 }</string>
	
								<string>{ 223.31360,82.01183 }</string>
	
								<string>{ 202.30768,80.23668 }</string>
	
								<string>{ 164.73370,92.07100 }</string>

							</array>

							<array>
	
								<string>{ 164.43787,126.09467 }</string>
	
								<string>{ 240.47336,161.00592 }</string>
	
								<string>{ 239.34909,76.74556 }</string>
	
								<string>{ 223.31360,82.01183 }</string>
	
								<string>{ 167.39642,106.86389 }</string>

							</array>

							<array>
	
								<string>{ 157.33725,140.59171 }</string>
	
								<string>{ 240.47336,161.00592 }</string>
	
								<string>{ 164.43787,126.09467 }</string>

							</array>

							<array>
	
								<string>{ 144.91122,150.65088 }</string>
	
								<string>{ 240.47336,161.00592 }</string>
	
								<string>{ 157.33725,140.59171 }</string>

							</array>

							<array>
	
								<string>{ 126.86389,153.31360 }</string>
	
								<string>{ 240.47336,161.00592 }</string>
	
								<string>{ 144.91122,150.65088 }</string>

							</array>

							<array>
	
								<string>{ -240.88757,160.47336 }</string>
	
								<string>{ 240.47336,161.00592 }</string>
	
								<string>{ 126.86389,153.31360 }</string>
	
								<string>{ -240.29586,151.24258 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

