<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C27</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -284.00000,-47.26115 }</string>
	
								<string>{ -240.98376,-75.91716 }</string>
	
								<string>{ -191.57548,-138.10651 }</string>
	
								<string>{ -204.00151,-160.29586 }</string>
	
								<string>{ -283.06720,-160.02261 }</string>

							</array>

							<array>
	
								<string>{ -139.80032,5.08875 }</string>
	
								<string>{ -166.42754,10.71005 }</string>
	
								<string>{ -171.16128,21.95265 }</string>
	
								<string>{ -138.61690,23.72780 }</string>

							</array>

							<array>
	
								<string>{ 104.28250,-62.95858 }</string>
	
								<string>{ 94.22333,-69.76331 }</string>
	
								<string>{ 82.09314,-74.79290 }</string>
	
								<string>{ 73.21741,-68.57989 }</string>
	
								<string>{ 95.40677,-28.63905 }</string>
	
								<string>{ 115.82095,-52.60355 }</string>

							</array>

							<array>
	
								<string>{ 159.90381,29.34911 }</string>
	
								<string>{ 138.30618,32.01183 }</string>
	
								<string>{ 82.09314,58.34319 }</string>
	
								<string>{ 165.12927,38.33795 }</string>
	
								<string>{ 171.77750,33.35181 }</string>
	
								<string>{ 172.62570,28.46153 }</string>

							</array>

							<array>
	
								<string>{ -102.52222,-107.04142 }</string>
	
								<string>{ -63.76483,-119.76331 }</string>
	
								<string>{ -84.47488,-121.24260 }</string>
	
								<string>{ -97.19678,-117.69231 }</string>

							</array>

							<array>
	
								<string>{ 24.10498,-83.07693 }</string>
	
								<string>{ 48.06949,-75.08876 }</string>
	
								<string>{ 41.85648,-83.37278 }</string>

							</array>

							<array>
	
								<string>{ -139.80032,5.08875 }</string>
	
								<string>{ -136.84175,-10.88757 }</string>
	
								<string>{ -166.13169,-40.76923 }</string>
	
								<string>{ -166.42754,10.71005 }</string>

							</array>

							<array>
	
								<string>{ -129.74117,-28.04735 }</string>
	
								<string>{ -166.13169,-40.76923 }</string>
	
								<string>{ -136.84175,-10.88757 }</string>

							</array>

							<array>
	
								<string>{ -118.79442,-41.95267 }</string>
	
								<string>{ -170.27370,-55.26627 }</string>
	
								<string>{ -166.13169,-40.76923 }</string>
	
								<string>{ -129.74117,-28.04735 }</string>

							</array>

							<array>
	
								<string>{ -102.52222,-56.15385 }</string>
	
								<string>{ -175.00743,-65.91716 }</string>
	
								<string>{ -170.27370,-55.26627 }</string>
	
								<string>{ -118.79442,-41.95267 }</string>

							</array>

							<array>
	
								<string>{ 73.21741,-68.57989 }</string>
	
								<string>{ 64.04581,-65.02959 }</string>
	
								<string>{ 88.01031,-13.84616 }</string>
	
								<string>{ 95.40677,-28.63905 }</string>

							</array>

							<array>
	
								<string>{ -240.98376,-75.91716 }</string>
	
								<string>{ -180.03702,-119.76331 }</string>
	
								<string>{ -191.57548,-138.10651 }</string>

							</array>

							<array>
	
								<string>{ -240.98376,-75.91716 }</string>
	
								<string>{ -221.45713,-81.30178 }</string>
	
								<string>{ -164.65240,-102.30769 }</string>
	
								<string>{ -180.03702,-119.76331 }</string>

							</array>

							<array>
	
								<string>{ -52.22636,-117.69231 }</string>
	
								<string>{ -63.76483,-119.76331 }</string>
	
								<string>{ -102.52222,-107.04142 }</string>
	
								<string>{ -111.10211,-96.98225 }</string>
	
								<string>{ -32.10803,-104.97042 }</string>
	
								<string>{ -40.98376,-112.95858 }</string>

							</array>

							<array>
	
								<string>{ -90.68791,79.05325 }</string>
	
								<string>{ -32.99561,77.86981 }</string>
	
								<string>{ -61.98969,71.36093 }</string>
	
								<string>{ -88.32104,74.31952 }</string>

							</array>

							<array>
	
								<string>{ -32.99561,77.86981 }</string>
	
								<string>{ -39.80034,67.81064 }</string>
	
								<string>{ -61.98969,71.36093 }</string>

							</array>

							<array>
	
								<string>{ -32.99561,77.86981 }</string>
	
								<string>{ 25.58429,70.47336 }</string>
	
								<string>{ -18.79440,60.11833 }</string>
	
								<string>{ -39.80034,67.81064 }</string>

							</array>

							<array>
	
								<string>{ 25.58429,70.47336 }</string>
	
								<string>{ -3.40979,50.05916 }</string>
	
								<string>{ -18.79440,60.11833 }</string>

							</array>

							<array>
	
								<string>{ 25.58429,70.47336 }</string>
	
								<string>{ 82.09314,58.34319 }</string>
	
								<string>{ 138.30618,32.01183 }</string>
	
								<string>{ 123.21741,32.30768 }</string>
	
								<string>{ 7.53696,39.70413 }</string>
	
								<string>{ -3.40979,50.05916 }</string>

							</array>

							<array>
	
								<string>{ 24.10498,-83.07693 }</string>
	
								<string>{ 6.05765,-84.55621 }</string>
	
								<string>{ 84.46002,-2.01184 }</string>
	
								<string>{ 88.01031,-13.84616 }</string>
	
								<string>{ 53.09906,-68.57989 }</string>
	
								<string>{ 48.06949,-75.08876 }</string>

							</array>

							<array>
	
								<string>{ 53.09906,-68.57989 }</string>
	
								<string>{ 88.01031,-13.84616 }</string>
	
								<string>{ 64.04581,-65.02959 }</string>

							</array>

							<array>
	
								<string>{ -85.95418,-65.02959 }</string>
	
								<string>{ -182.40388,-73.90533 }</string>
	
								<string>{ -175.00743,-65.91716 }</string>
	
								<string>{ -102.52222,-56.15385 }</string>

							</array>

							<array>
	
								<string>{ -111.10211,-96.98225 }</string>
	
								<string>{ -22.04886,-96.39053 }</string>
	
								<string>{ -32.10803,-104.97042 }</string>

							</array>

							<array>
	
								<string>{ -111.10211,-96.98225 }</string>
	
								<string>{ -121.45714,-91.06509 }</string>
	
								<string>{ -7.25595,-88.40237 }</string>
	
								<string>{ -22.04886,-96.39053 }</string>

							</array>

							<array>
	
								<string>{ -68.20270,-71.83432 }</string>
	
								<string>{ -194.82991,-81.00592 }</string>
	
								<string>{ -182.40388,-73.90533 }</string>
	
								<string>{ -85.95418,-65.02959 }</string>

							</array>

							<array>
	
								<string>{ 6.05765,-84.55621 }</string>
	
								<string>{ -7.25595,-88.40237 }</string>
	
								<string>{ 83.57245,9.23076 }</string>
	
								<string>{ 84.46002,-2.01184 }</string>

							</array>

							<array>
	
								<string>{ -7.25595,-88.40237 }</string>
	
								<string>{ 16.11682,-55.56213 }</string>
	
								<string>{ 85.64346,19.28993 }</string>
	
								<string>{ 83.57245,9.23076 }</string>

							</array>

							<array>
	
								<string>{ -50.74707,-74.49705 }</string>
	
								<string>{ -194.82991,-81.00592 }</string>
	
								<string>{ -68.20270,-71.83432 }</string>

							</array>

							<array>
	
								<string>{ -221.45713,-81.30178 }</string>
	
								<string>{ -154.88908,-95.20710 }</string>
	
								<string>{ -164.65240,-102.30769 }</string>

							</array>

							<array>
	
								<string>{ -221.45713,-81.30178 }</string>
	
								<string>{ -208.43938,-82.48521 }</string>
	
								<string>{ -146.01335,-90.76923 }</string>
	
								<string>{ -154.88908,-95.20710 }</string>

							</array>

							<array>
	
								<string>{ -133.29146,-88.99409 }</string>
	
								<string>{ -28.55772,-74.79290 }</string>
	
								<string>{ -7.25595,-88.40237 }</string>
	
								<string>{ -121.45714,-91.06509 }</string>

							</array>

							<array>
	
								<string>{ -28.55772,-74.79290 }</string>
	
								<string>{ -133.29146,-88.99409 }</string>
	
								<string>{ -194.82991,-81.00592 }</string>
	
								<string>{ -50.74707,-74.49705 }</string>

							</array>

							<array>
	
								<string>{ -194.82991,-81.00592 }</string>
	
								<string>{ -133.29146,-88.99409 }</string>
	
								<string>{ -146.01335,-90.76923 }</string>
	
								<string>{ -208.43938,-82.48521 }</string>

							</array>

							<array>
	
								<string>{ -9.91867,-71.53847 }</string>
	
								<string>{ -7.25595,-88.40237 }</string>
	
								<string>{ -28.55772,-74.79290 }</string>

							</array>

							<array>
	
								<string>{ 3.09906,-66.50888 }</string>
	
								<string>{ -7.25595,-88.40237 }</string>
	
								<string>{ -9.91867,-71.53847 }</string>

							</array>

							<array>
	
								<string>{ 16.11682,-55.56213 }</string>
	
								<string>{ -7.25595,-88.40237 }</string>
	
								<string>{ 3.09906,-66.50888 }</string>

							</array>

							<array>
	
								<string>{ 24.10498,-42.84024 }</string>
	
								<string>{ 85.64346,19.28993 }</string>
	
								<string>{ 16.11682,-55.56213 }</string>

							</array>

							<array>
	
								<string>{ 27.95114,-26.56805 }</string>
	
								<string>{ 85.64346,19.28993 }</string>
	
								<string>{ 24.10498,-42.84024 }</string>

							</array>

							<array>
	
								<string>{ 28.24701,-12.07101 }</string>
	
								<string>{ 85.64346,19.28993 }</string>
	
								<string>{ 27.95114,-26.56805 }</string>

							</array>

							<array>
	
								<string>{ 26.17599,1.24260 }</string>
	
								<string>{ 85.64346,19.28993 }</string>
	
								<string>{ 28.24701,-12.07101 }</string>

							</array>

							<array>
	
								<string>{ 22.03400,15.73964 }</string>
	
								<string>{ 85.64346,19.28993 }</string>
	
								<string>{ 26.17599,1.24260 }</string>

							</array>

							<array>
	
								<string>{ 16.41269,28.46153 }</string>
	
								<string>{ 85.64346,19.28993 }</string>
	
								<string>{ 22.03400,15.73964 }</string>

							</array>

							<array>
	
								<string>{ 7.53696,39.70413 }</string>
	
								<string>{ 93.63162,26.39053 }</string>
	
								<string>{ 85.64346,19.28993 }</string>
	
								<string>{ 16.41269,28.46153 }</string>

							</array>

							<array>
	
								<string>{ 7.53696,39.70413 }</string>
	
								<string>{ 103.09906,29.05325 }</string>
	
								<string>{ 93.63162,26.39053 }</string>

							</array>

							<array>
	
								<string>{ 7.53696,39.70413 }</string>
	
								<string>{ 113.45410,31.42010 }</string>
	
								<string>{ 103.09906,29.05325 }</string>

							</array>

							<array>
	
								<string>{ 7.53696,39.70413 }</string>
	
								<string>{ 123.21741,32.30768 }</string>
	
								<string>{ 113.45410,31.42010 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 39.53336,-111.44062 }</string>
	
								<string>{ 30.66910,-147.17469 }</string>
	
								<string>{ -11.43616,-115.59574 }</string>
	
								<string>{ -6.72702,-110.88660 }</string>
	
								<string>{ 0.19818,-107.00848 }</string>
	
								<string>{ 33.72208,-104.57016 }</string>

							</array>

							<array>
	
								<string>{ 147.84363,-62.13314 }</string>
	
								<string>{ 131.22311,-67.95031 }</string>
	
								<string>{ 135.37823,-62.13314 }</string>

							</array>

							<array>
	
								<string>{ 285.10828,90.95540 }</string>
	
								<string>{ 284.39404,-160.34108 }</string>
	
								<string>{ 238.42535,41.74498 }</string>
	
								<string>{ 240.91840,65.56770 }</string>
	
								<string>{ 244.66241,82.03821 }</string>

							</array>

							<array>
	
								<string>{ 105.73834,-88.17192 }</string>
	
								<string>{ 108.23141,-146.34367 }</string>
	
								<string>{ 94.65802,-92.60405 }</string>

							</array>

							<array>
	
								<string>{ -57.41956,-139.97248 }</string>
	
								<string>{ 30.66910,-147.17469 }</string>
	
								<string>{ -84.03970,-146.45835 }</string>
	
								<string>{ -76.53313,-141.63453 }</string>

							</array>

							<array>
	
								<string>{ 147.84363,-62.13314 }</string>
	
								<string>{ 164.18710,-59.91707 }</string>
	
								<string>{ 108.23141,-146.34367 }</string>
	
								<string>{ 125.95996,-73.49048 }</string>
	
								<string>{ 131.22311,-67.95031 }</string>

							</array>

							<array>
	
								<string>{ 30.66910,-147.17469 }</string>
	
								<string>{ -16.14532,-120.30489 }</string>
	
								<string>{ -11.43616,-115.59574 }</string>

							</array>

							<array>
	
								<string>{ 30.66910,-147.17469 }</string>
	
								<string>{ -20.85446,-124.73702 }</string>
	
								<string>{ -16.14532,-120.30489 }</string>

							</array>

							<array>
	
								<string>{ 30.66910,-147.17469 }</string>
	
								<string>{ -27.22565,-129.44616 }</string>
	
								<string>{ -20.85446,-124.73702 }</string>

							</array>

							<array>
	
								<string>{ 112.10953,-84.29380 }</string>
	
								<string>{ 108.23141,-146.34367 }</string>
	
								<string>{ 105.73834,-88.17192 }</string>

							</array>

							<array>
	
								<string>{ 119.86578,-78.75364 }</string>
	
								<string>{ 108.23141,-146.34367 }</string>
	
								<string>{ 112.10953,-84.29380 }</string>

							</array>

							<array>
	
								<string>{ 30.66910,-147.17469 }</string>
	
								<string>{ -34.98187,-133.60128 }</string>
	
								<string>{ -27.22565,-129.44616 }</string>

							</array>

							<array>
	
								<string>{ 30.66910,-147.17469 }</string>
	
								<string>{ 284.39404,-160.34108 }</string>
	
								<string>{ -200.65285,-159.01067 }</string>
	
								<string>{ -195.87578,-148.94697 }</string>

							</array>

							<array>
	
								<string>{ 30.66910,-147.17469 }</string>
	
								<string>{ -44.67717,-137.47940 }</string>
	
								<string>{ -34.98187,-133.60128 }</string>

							</array>

							<array>
	
								<string>{ 125.95996,-73.49048 }</string>
	
								<string>{ 108.23141,-146.34367 }</string>
	
								<string>{ 119.86578,-78.75364 }</string>

							</array>

							<array>
	
								<string>{ 178.86856,-54.37691 }</string>
	
								<string>{ 284.39404,-160.34108 }</string>
	
								<string>{ 108.23141,-146.34367 }</string>
	
								<string>{ 164.18710,-59.91707 }</string>

							</array>

							<array>
	
								<string>{ 30.66910,-147.17469 }</string>
	
								<string>{ -57.41956,-139.97248 }</string>
	
								<string>{ -44.67717,-137.47940 }</string>

							</array>

							<array>
	
								<string>{ 284.39404,-160.34108 }</string>
	
								<string>{ 234.54724,24.01645 }</string>
	
								<string>{ 238.42535,41.74498 }</string>

							</array>

							<array>
	
								<string>{ 284.39404,-160.34108 }</string>
	
								<string>{ 228.45306,7.11894 }</string>
	
								<string>{ 234.54724,24.01645 }</string>

							</array>

							<array>
	
								<string>{ 284.39404,-160.34108 }</string>
	
								<string>{ 222.08185,-6.73148 }</string>
	
								<string>{ 228.45306,7.11894 }</string>

							</array>

							<array>
	
								<string>{ 284.39404,-160.34108 }</string>
	
								<string>{ 212.66357,-23.62898 }</string>
	
								<string>{ 222.08185,-6.73148 }</string>

							</array>

							<array>
	
								<string>{ 284.39404,-160.34108 }</string>
	
								<string>{ 202.96826,-35.81734 }</string>
	
								<string>{ 212.66357,-23.62898 }</string>

							</array>

							<array>
	
								<string>{ 284.39404,-160.34108 }</string>
	
								<string>{ 190.22589,-47.45170 }</string>
	
								<string>{ 202.96826,-35.81734 }</string>

							</array>

							<array>
	
								<string>{ 284.39404,-160.34108 }</string>
	
								<string>{ 178.86856,-54.37691 }</string>
	
								<string>{ 190.22589,-47.45170 }</string>

							</array>

							<array>
	
								<string>{ 284.39404,-160.34108 }</string>
	
								<string>{ 30.66910,-147.17469 }</string>
	
								<string>{ 108.23141,-146.34367 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

