<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C12</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -124.18156,-22.29050 }</string>
	
								<string>{ -152.11452,-59.44134 }</string>
	
								<string>{ -159.37709,-67.82123 }</string>
	
								<string>{ -284.31250,-160.31250 }</string>
	
								<string>{ -284.59183,-21.29713 }</string>

							</array>

							<array>
	
								<string>{ -3.51117,-146.31285 }</string>
	
								<string>{ -65.52234,-124.80447 }</string>
	
								<string>{ -45.41061,-122.56983 }</string>

							</array>

							<array>
	
								<string>{ 284.66095,-159.91096 }</string>
	
								<string>{ -284.31250,-160.31250 }</string>
	
								<string>{ 284.91760,-147.70950 }</string>

							</array>

							<array>
	
								<string>{ -59.37709,-33.74301 }</string>
	
								<string>{ -124.18156,-22.29050 }</string>
	
								<string>{ -11.33240,-26.48044 }</string>
	
								<string>{ -12.17038,-31.50838 }</string>

							</array>

							<array>
	
								<string>{ -89.26537,-37.65363 }</string>
	
								<string>{ -124.18156,-22.29050 }</string>
	
								<string>{ -59.37709,-33.74301 }</string>

							</array>

							<array>
	
								<string>{ -111.05307,-42.40223 }</string>
	
								<string>{ -124.18156,-22.29050 }</string>
	
								<string>{ -89.26537,-37.65363 }</string>

							</array>

							<array>
	
								<string>{ -124.46089,-46.87151 }</string>
	
								<string>{ -124.18156,-22.29050 }</string>
	
								<string>{ -111.05307,-42.40223 }</string>

							</array>

							<array>
	
								<string>{ -142.61731,-53.29609 }</string>
	
								<string>{ -124.18156,-22.29050 }</string>
	
								<string>{ -124.46089,-46.87151 }</string>

							</array>

							<array>
	
								<string>{ -152.11452,-59.44134 }</string>
	
								<string>{ -124.18156,-22.29050 }</string>
	
								<string>{ -142.61731,-53.29609 }</string>

							</array>

							<array>
	
								<string>{ -3.51117,-146.31285 }</string>
	
								<string>{ -85.91341,-126.75978 }</string>
	
								<string>{ -65.52234,-124.80447 }</string>

							</array>

							<array>
	
								<string>{ -3.51117,-146.31285 }</string>
	
								<string>{ -284.31250,-160.31250 }</string>
	
								<string>{ -103.79050,-125.36313 }</string>
	
								<string>{ -85.91341,-126.75978 }</string>

							</array>

							<array>
	
								<string>{ 196.48883,-148.54749 }</string>
	
								<string>{ -284.31250,-160.31250 }</string>
	
								<string>{ -3.51117,-146.31285 }</string>
	
								<string>{ 142.85754,-144.63687 }</string>

							</array>

							<array>
	
								<string>{ -284.31250,-160.31250 }</string>
	
								<string>{ -118.31564,-122.84916 }</string>
	
								<string>{ -103.79050,-125.36313 }</string>

							</array>

							<array>
	
								<string>{ -284.31250,-160.31250 }</string>
	
								<string>{ -133.67877,-119.77654 }</string>
	
								<string>{ -118.31564,-122.84916 }</string>

							</array>

							<array>
	
								<string>{ -284.31250,-160.31250 }</string>
	
								<string>{ -148.76257,-113.35196 }</string>
	
								<string>{ -133.67877,-119.77654 }</string>

							</array>

							<array>
	
								<string>{ -284.31250,-160.31250 }</string>
	
								<string>{ -158.25977,-104.41341 }</string>
	
								<string>{ -148.76257,-113.35196 }</string>

							</array>

							<array>
	
								<string>{ -284.31250,-160.31250 }</string>
	
								<string>{ -163.28771,-94.91620 }</string>
	
								<string>{ -158.25977,-104.41341 }</string>

							</array>

							<array>
	
								<string>{ -284.31250,-160.31250 }</string>
	
								<string>{ -165.52235,-84.86034 }</string>
	
								<string>{ -163.28771,-94.91620 }</string>

							</array>

							<array>
	
								<string>{ -284.31250,-160.31250 }</string>
	
								<string>{ -163.84637,-75.64246 }</string>
	
								<string>{ -165.52235,-84.86034 }</string>

							</array>

							<array>
	
								<string>{ -284.31250,-160.31250 }</string>
	
								<string>{ -159.37709,-67.82123 }</string>
	
								<string>{ -163.84637,-75.64246 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 193.32193,84.69275 }</string>
	
								<string>{ 191.08731,97.82123 }</string>
	
								<string>{ 283.91376,159.76608 }</string>
	
								<string>{ 284.01331,71.57298 }</string>

							</array>

							<array>
	
								<string>{ -15.61661,133.29608 }</string>
	
								<string>{ 25.72418,146.70392 }</string>
	
								<string>{ 32.98672,127.98883 }</string>
	
								<string>{ -49.97415,111.78772 }</string>
	
								<string>{ -51.09148,116.03354 }</string>

							</array>

							<array>
	
								<string>{ 25.72418,146.70392 }</string>
	
								<string>{ 83.60126,159.60895 }</string>
	
								<string>{ 70.13757,131.89944 }</string>
	
								<string>{ 32.98672,127.98883 }</string>

							</array>

							<array>
	
								<string>{ 83.60126,159.60895 }</string>
	
								<string>{ 99.74652,133.29608 }</string>
	
								<string>{ 70.13757,131.89944 }</string>

							</array>

							<array>
	
								<string>{ 83.60126,159.60895 }</string>
	
								<string>{ 283.91376,159.76608 }</string>
	
								<string>{ 121.25488,133.57544 }</string>
	
								<string>{ 99.74652,133.29608 }</string>

							</array>

							<array>
	
								<string>{ 186.89737,108.43576 }</string>
	
								<string>{ 283.91376,159.76608 }</string>
	
								<string>{ 191.08731,97.82123 }</string>

							</array>

							<array>
	
								<string>{ 178.79678,116.53632 }</string>
	
								<string>{ 283.91376,159.76608 }</string>
	
								<string>{ 186.89737,108.43576 }</string>

							</array>

							<array>
	
								<string>{ 169.57892,123.79889 }</string>
	
								<string>{ 283.91376,159.76608 }</string>
	
								<string>{ 178.79678,116.53632 }</string>

							</array>

							<array>
	
								<string>{ 155.61243,129.10614 }</string>
	
								<string>{ 283.91376,159.76608 }</string>
	
								<string>{ 169.57892,123.79889 }</string>

							</array>

							<array>
	
								<string>{ 140.24930,132.45810 }</string>
	
								<string>{ 283.91376,159.76608 }</string>
	
								<string>{ 155.61243,129.10614 }</string>

							</array>

							<array>
	
								<string>{ 121.25488,133.57544 }</string>
	
								<string>{ 283.91376,159.76608 }</string>
	
								<string>{ 140.24930,132.45810 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 240.78876,7.94344 }</string>
	
								<string>{ 195.53738,56.04399 }</string>
	
								<string>{ 284.00281,36.61313 }</string>
	
								<string>{ 284.43750,-12.81250 }</string>

							</array>

							<array>
	
								<string>{ 195.53738,56.04399 }</string>
	
								<string>{ 240.78876,7.94344 }</string>
	
								<string>{ 195.25803,9.61942 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 103.60477,-77.01990 }</string>
	
								<string>{ 113.66061,-46.85230 }</string>
	
								<string>{ 127.06845,-43.22102 }</string>
	
								<string>{ 164.21927,-42.38303 }</string>
	
								<string>{ 159.47067,-82.88583 }</string>

							</array>

							<array>
	
								<string>{ 172.31985,-14.17073 }</string>
	
								<string>{ 151.09079,9.41042 }</string>
	
								<string>{ 144.99136,18.49077 }</string>
	
								<string>{ 110.02933,74.93541 }</string>
	
								<string>{ 169.02374,61.02480 }</string>

							</array>

							<array>
	
								<string>{ 25.11313,-48.94513 }</string>
	
								<string>{ 62.26398,-51.60091 }</string>
	
								<string>{ 61.42599,-70.59532 }</string>
	
								<string>{ 37.68295,-63.05342 }</string>
	
								<string>{ 22.04050,-53.55621 }</string>

							</array>

							<array>
	
								<string>{ 92.15225,-50.20425 }</string>
	
								<string>{ 103.60477,-77.01990 }</string>
	
								<string>{ 61.42599,-70.59532 }</string>
	
								<string>{ 62.26398,-51.60091 }</string>

							</array>

							<array>
	
								<string>{ 113.66061,-46.85230 }</string>
	
								<string>{ 103.60477,-77.01990 }</string>
	
								<string>{ 92.15225,-50.20425 }</string>

							</array>

							<array>
	
								<string>{ 69.24722,82.75664 }</string>
	
								<string>{ 65.41537,67.96936 }</string>
	
								<string>{ 39.92191,77.95790 }</string>
	
								<string>{ 35.72766,85.32648 }</string>

							</array>

							<array>
	
								<string>{ 69.24722,82.75664 }</string>
	
								<string>{ 110.02933,74.93541 }</string>
	
								<string>{ 80.77563,61.78685 }</string>
	
								<string>{ 65.41537,67.96936 }</string>

							</array>

							<array>
	
								<string>{ 110.02933,74.93541 }</string>
	
								<string>{ 96.23761,54.38248 }</string>
	
								<string>{ 80.77563,61.78685 }</string>

							</array>

							<array>
	
								<string>{ 110.02933,74.93541 }</string>
	
								<string>{ 111.55490,45.49406 }</string>
	
								<string>{ 96.23761,54.38248 }</string>

							</array>

							<array>
	
								<string>{ 110.02933,74.93541 }</string>
	
								<string>{ 124.50003,36.23035 }</string>
	
								<string>{ 111.55490,45.49406 }</string>

							</array>

							<array>
	
								<string>{ 110.02933,74.93541 }</string>
	
								<string>{ 135.81503,27.52530 }</string>
	
								<string>{ 124.50003,36.23035 }</string>

							</array>

							<array>
	
								<string>{ 137.68298,-38.75175 }</string>
	
								<string>{ 164.21927,-42.38303 }</string>
	
								<string>{ 127.06845,-43.22102 }</string>

							</array>

							<array>
	
								<string>{ 145.50421,-34.00314 }</string>
	
								<string>{ 164.21927,-42.38303 }</string>
	
								<string>{ 137.68298,-38.75175 }</string>

							</array>

							<array>
	
								<string>{ 145.50421,-34.00314 }</string>
	
								<string>{ 151.92877,-27.01990 }</string>
	
								<string>{ 172.31985,-14.17073 }</string>
	
								<string>{ 164.21927,-42.38303 }</string>

							</array>

							<array>
	
								<string>{ 154.39691,-18.26900 }</string>
	
								<string>{ 172.31985,-14.17073 }</string>
	
								<string>{ 151.92877,-27.01990 }</string>

							</array>

							<array>
	
								<string>{ 155.64743,-6.93109 }</string>
	
								<string>{ 172.31985,-14.17073 }</string>
	
								<string>{ 154.39691,-18.26900 }</string>

							</array>

							<array>
	
								<string>{ 154.10898,1.27403 }</string>
	
								<string>{ 172.31985,-14.17073 }</string>
	
								<string>{ 155.64743,-6.93109 }</string>

							</array>

							<array>
	
								<string>{ 151.09079,9.41042 }</string>
	
								<string>{ 172.31985,-14.17073 }</string>
	
								<string>{ 154.10898,1.27403 }</string>

							</array>

							<array>
	
								<string>{ 110.02933,74.93541 }</string>
	
								<string>{ 144.99136,18.49077 }</string>
	
								<string>{ 135.81503,27.52530 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

