<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C12</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -19.28995,-101.71598 }</string>
	
								<string>{ -35.56213,-100.82840 }</string>
	
								<string>{ -61.00592,-39.28995 }</string>
	
								<string>{ -38.52072,-41.95267 }</string>
	
								<string>{ -20.17752,-50.23669 }</string>
	
								<string>{ -5.68048,-62.07101 }</string>
	
								<string>{ 3.49112,-75.38462 }</string>
	
								<string>{ 9.46745,-91.59763 }</string>

							</array>

							<array>
	
								<string>{ -35.56213,-100.82840 }</string>
	
								<string>{ -48.28403,-91.36095 }</string>
	
								<string>{ -92.36687,-40.47337 }</string>
	
								<string>{ -61.00592,-39.28995 }</string>

							</array>

							<array>
	
								<string>{ -153.01775,-51.12427 }</string>
	
								<string>{ -167.81065,-75.08876 }</string>
	
								<string>{ -239.70414,-91.06509 }</string>
	
								<string>{ -240.29586,-77.69231 }</string>

							</array>

							<array>
	
								<string>{ -153.01775,-51.12427 }</string>
	
								<string>{ -124.02367,-45.20711 }</string>
	
								<string>{ -92.36687,-40.47337 }</string>
	
								<string>{ -102.13019,-72.13018 }</string>
	
								<string>{ -167.81065,-75.08876 }</string>

							</array>

							<array>
	
								<string>{ -92.36687,-40.47337 }</string>
	
								<string>{ -68.40237,-79.52663 }</string>
	
								<string>{ -102.13019,-72.13018 }</string>

							</array>

							<array>
	
								<string>{ -92.36687,-40.47337 }</string>
	
								<string>{ -48.28403,-91.36095 }</string>
	
								<string>{ -68.40237,-79.52663 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -4.20119,-129.23077 }</string>
	
								<string>{ 60.59171,-102.89941 }</string>
	
								<string>{ 240.82840,-159.64497 }</string>
	
								<string>{ -13.07693,-146.09468 }</string>
	
								<string>{ -13.96451,-137.21894 }</string>

							</array>

							<array>
	
								<string>{ 28.04733,36.74556 }</string>
	
								<string>{ 95.50296,44.43787 }</string>
	
								<string>{ 36.92307,29.34911 }</string>
	
								<string>{ 26.27219,33.19527 }</string>

							</array>

							<array>
	
								<string>{ 95.50296,44.43787 }</string>
	
								<string>{ 50.82840,17.21893 }</string>
	
								<string>{ 36.92307,29.34911 }</string>

							</array>

							<array>
	
								<string>{ 95.50296,44.43787 }</string>
	
								<string>{ 139.88165,46.80473 }</string>
	
								<string>{ 62.95856,2.72189 }</string>
	
								<string>{ 50.82840,17.21893 }</string>

							</array>

							<array>
	
								<string>{ 139.88165,46.80473 }</string>
	
								<string>{ 74.79288,-14.14201 }</string>
	
								<string>{ 62.95856,2.72189 }</string>

							</array>

							<array>
	
								<string>{ 139.88165,46.80473 }</string>
	
								<string>{ 140.47336,41.77515 }</string>
	
								<string>{ 123.90530,16.92307 }</string>
	
								<string>{ 83.37277,-31.89349 }</string>
	
								<string>{ 74.79288,-14.14201 }</string>

							</array>

							<array>
	
								<string>{ 240.82840,-159.64497 }</string>
	
								<string>{ 228.93491,-55.26627 }</string>
	
								<string>{ 240.17749,-44.61539 }</string>

							</array>

							<array>
	
								<string>{ 240.82840,-159.64497 }</string>
	
								<string>{ 209.40826,-67.39645 }</string>
	
								<string>{ 228.93491,-55.26627 }</string>

							</array>

							<array>
	
								<string>{ 240.82840,-159.64497 }</string>
	
								<string>{ 188.40234,-73.31361 }</string>
	
								<string>{ 209.40826,-67.39645 }</string>

							</array>

							<array>
	
								<string>{ 240.82840,-159.64497 }</string>
	
								<string>{ 165.91714,-75.38462 }</string>
	
								<string>{ 188.40234,-73.31361 }</string>

							</array>

							<array>
	
								<string>{ 240.82840,-159.64497 }</string>
	
								<string>{ 78.93491,-88.40237 }</string>
	
								<string>{ 85.44379,-78.34320 }</string>
	
								<string>{ 146.09467,-70.05917 }</string>
	
								<string>{ 165.91714,-75.38462 }</string>

							</array>

							<array>
	
								<string>{ 115.91714,-10.00000 }</string>
	
								<string>{ 83.37277,-31.89349 }</string>
	
								<string>{ 123.90530,16.92307 }</string>

							</array>

							<array>
	
								<string>{ 115.62128,-33.37279 }</string>
	
								<string>{ 88.69821,-53.49113 }</string>
	
								<string>{ 83.37277,-31.89349 }</string>
	
								<string>{ 115.91714,-10.00000 }</string>

							</array>

							<array>
	
								<string>{ 122.13016,-49.34911 }</string>
	
								<string>{ 88.69821,-66.50888 }</string>
	
								<string>{ 88.69821,-53.49113 }</string>
	
								<string>{ 115.62128,-33.37279 }</string>

							</array>

							<array>
	
								<string>{ 132.48520,-60.88758 }</string>
	
								<string>{ 85.44379,-78.34320 }</string>
	
								<string>{ 88.69821,-66.50888 }</string>
	
								<string>{ 122.13016,-49.34911 }</string>

							</array>

							<array>
	
								<string>{ 146.09467,-70.05917 }</string>
	
								<string>{ 85.44379,-78.34320 }</string>
	
								<string>{ 132.48520,-60.88758 }</string>

							</array>

							<array>
	
								<string>{ 240.82840,-159.64497 }</string>
	
								<string>{ 72.13016,-96.68639 }</string>
	
								<string>{ 78.93491,-88.40237 }</string>

							</array>

							<array>
	
								<string>{ 240.82840,-159.64497 }</string>
	
								<string>{ 60.59171,-102.89941 }</string>
	
								<string>{ 72.13016,-96.68639 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-159.70414 }</string>
	
								<string>{ -240.00000,-151.36095 }</string>
	
								<string>{ -13.07693,-146.09468 }</string>
	
								<string>{ 240.82840,-159.64497 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 71.53845,101.53845 }</string>
	
								<string>{ 48.16568,116.03549 }</string>
	
								<string>{ 81.95267,130.59171 }</string>
	
								<string>{ 110.88757,111.00592 }</string>

							</array>

							<array>
	
								<string>{ -23.72781,67.86981 }</string>
	
								<string>{ 48.16568,116.03549 }</string>
	
								<string>{ 71.53845,101.53845 }</string>

							</array>

							<array>
	
								<string>{ -21.95267,61.59763 }</string>
	
								<string>{ -23.72781,67.86981 }</string>
	
								<string>{ 31.30176,86.74556 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 142.89938,159.88165 }</string>
	
								<string>{ 240.76923,160.41418 }</string>
	
								<string>{ 179.82248,110.11835 }</string>
	
								<string>{ 153.19525,116.92307 }</string>
	
								<string>{ 109.40826,148.93491 }</string>

							</array>

							<array>
	
								<string>{ 240.76923,160.41418 }</string>
	
								<string>{ 199.05325,103.31360 }</string>
	
								<string>{ 179.82248,110.11835 }</string>

							</array>

							<array>
	
								<string>{ 240.76923,160.41418 }</string>
	
								<string>{ 214.14200,94.14200 }</string>
	
								<string>{ 199.05325,103.31360 }</string>

							</array>

							<array>
	
								<string>{ 240.76923,160.41418 }</string>
	
								<string>{ 227.15976,82.30768 }</string>
	
								<string>{ 214.14200,94.14200 }</string>

							</array>

							<array>
	
								<string>{ 240.76923,160.41418 }</string>
	
								<string>{ 234.85205,69.58578 }</string>
	
								<string>{ 227.15976,82.30768 }</string>

							</array>

							<array>
	
								<string>{ 234.85205,69.58578 }</string>
	
								<string>{ 240.76923,160.41418 }</string>
	
								<string>{ 240.17749,51.53845 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

