<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C21</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -0.89384,-84.86034 }</string>
	
								<string>{ 24.80447,-102.17877 }</string>
	
								<string>{ 22.56982,-126.20112 }</string>
	
								<string>{ -19.60893,-118.37989 }</string>
	
								<string>{ -37.76537,-98.54749 }</string>

							</array>

							<array>
	
								<string>{ -76.03352,-141.84357 }</string>
	
								<string>{ -108.15642,-108.04469 }</string>
	
								<string>{ -63.18436,-106.36871 }</string>
	
								<string>{ -48.10056,-123.68715 }</string>

							</array>

							<array>
	
								<string>{ 48.26816,-113.07262 }</string>
	
								<string>{ 54.97208,-150.50279 }</string>
	
								<string>{ 22.56982,-126.20112 }</string>
	
								<string>{ 24.80447,-102.17877 }</string>

							</array>

							<array>
	
								<string>{ 72.01117,-118.65922 }</string>
	
								<string>{ 54.97208,-150.50279 }</string>
	
								<string>{ 48.26816,-113.07262 }</string>

							</array>

							<array>
	
								<string>{ 96.31287,-119.49721 }</string>
	
								<string>{ 54.97208,-150.50279 }</string>
	
								<string>{ 72.01117,-118.65922 }</string>

							</array>

							<array>
	
								<string>{ -168.49162,12.34637 }</string>
	
								<string>{ -173.79888,-32.06704 }</string>
	
								<string>{ -179.94413,-45.19553 }</string>
	
								<string>{ -239.44134,-159.44134 }</string>
	
								<string>{ -239.16201,0.39107 }</string>

							</array>

							<array>
	
								<string>{ 182.62570,50.89386 }</string>
	
								<string>{ 120.89386,43.07263 }</string>
	
								<string>{ 101.34079,53.68715 }</string>
	
								<string>{ 68.37988,85.53073 }</string>
	
								<string>{ 146.87152,83.29610 }</string>
	
								<string>{ 164.46927,76.87152 }</string>
	
								<string>{ 177.03912,71.00558 }</string>

							</array>

							<array>
	
								<string>{ -23.24022,-8.32402 }</string>
	
								<string>{ -12.06703,21.28493 }</string>
	
								<string>{ 41.84357,14.86034 }</string>
	
								<string>{ 45.19553,-9.16200 }</string>
	
								<string>{ 30.94974,-20.61452 }</string>

							</array>

							<array>
	
								<string>{ 37.93295,87.48604 }</string>
	
								<string>{ 68.37988,85.53073 }</string>
	
								<string>{ 79.27374,64.30168 }</string>
	
								<string>{ 49.10614,75.75420 }</string>
	
								<string>{ 39.60895,82.45810 }</string>

							</array>

							<array>
	
								<string>{ 68.37988,85.53073 }</string>
	
								<string>{ 101.34079,53.68715 }</string>
	
								<string>{ 79.27374,64.30168 }</string>

							</array>

							<array>
	
								<string>{ -76.03352,-141.84357 }</string>
	
								<string>{ -124.35754,-106.92737 }</string>
	
								<string>{ -108.15642,-108.04469 }</string>

							</array>

							<array>
	
								<string>{ 120.05588,-117.54190 }</string>
	
								<string>{ 54.97208,-150.50279 }</string>
	
								<string>{ 96.31287,-119.49721 }</string>

							</array>

							<array>
	
								<string>{ 182.62570,50.89386 }</string>
	
								<string>{ 144.63687,25.75420 }</string>
	
								<string>{ 120.89386,43.07263 }</string>

							</array>

							<array>
	
								<string>{ 182.62570,50.89386 }</string>
	
								<string>{ 195.75421,43.07263 }</string>
	
								<string>{ 157.20673,14.02235 }</string>
	
								<string>{ 144.63687,25.75420 }</string>

							</array>

							<array>
	
								<string>{ 195.75421,43.07263 }</string>
	
								<string>{ 166.98325,3.68715 }</string>
	
								<string>{ 157.20673,14.02235 }</string>

							</array>

							<array>
	
								<string>{ 195.75421,43.07263 }</string>
	
								<string>{ 210.83801,42.23463 }</string>
	
								<string>{ 176.75980,-8.32402 }</string>
	
								<string>{ 166.98325,3.68715 }</string>

							</array>

							<array>
	
								<string>{ 210.83801,42.23463 }</string>
	
								<string>{ 227.03912,48.10057 }</string>
	
								<string>{ 183.46368,-19.77654 }</string>
	
								<string>{ 176.75980,-8.32402 }</string>

							</array>

							<array>
	
								<string>{ 63.07263,-4.13408 }</string>
	
								<string>{ 41.84357,14.86034 }</string>
	
								<string>{ 91.56424,6.48045 }</string>
	
								<string>{ 86.53632,0.89386 }</string>

							</array>

							<array>
	
								<string>{ 45.19553,-9.16200 }</string>
	
								<string>{ 41.84357,14.86034 }</string>
	
								<string>{ 63.07263,-4.13408 }</string>

							</array>

							<array>
	
								<string>{ -52.29050,-3.85475 }</string>
	
								<string>{ -100.33519,19.32962 }</string>
	
								<string>{ -12.06703,21.28493 }</string>
	
								<string>{ -23.24022,-8.32402 }</string>

							</array>

							<array>
	
								<string>{ -80.50279,-1.06145 }</string>
	
								<string>{ -100.33519,19.32962 }</string>
	
								<string>{ -52.29050,-3.85475 }</string>

							</array>

							<array>
	
								<string>{ -103.68715,-1.34077 }</string>
	
								<string>{ -100.33519,19.32962 }</string>
	
								<string>{ -80.50279,-1.06145 }</string>

							</array>

							<array>
	
								<string>{ -121.84357,-3.29608 }</string>
	
								<string>{ -168.49162,12.34637 }</string>
	
								<string>{ -100.33519,19.32962 }</string>
	
								<string>{ -103.68715,-1.34077 }</string>

							</array>

							<array>
	
								<string>{ -136.36871,-6.36871 }</string>
	
								<string>{ -168.49162,12.34637 }</string>
	
								<string>{ -121.84357,-3.29608 }</string>

							</array>

							<array>
	
								<string>{ -147.26257,-10.27933 }</string>
	
								<string>{ -168.49162,12.34637 }</string>
	
								<string>{ -136.36871,-6.36871 }</string>

							</array>

							<array>
	
								<string>{ -158.99442,-16.70390 }</string>
	
								<string>{ -168.49162,12.34637 }</string>
	
								<string>{ -147.26257,-10.27933 }</string>

							</array>

							<array>
	
								<string>{ -167.37430,-24.52513 }</string>
	
								<string>{ -168.49162,12.34637 }</string>
	
								<string>{ -158.99442,-16.70390 }</string>

							</array>

							<array>
	
								<string>{ -173.79888,-32.06704 }</string>
	
								<string>{ -168.49162,12.34637 }</string>
	
								<string>{ -167.37430,-24.52513 }</string>

							</array>

							<array>
	
								<string>{ 227.03912,48.10057 }</string>
	
								<string>{ 240.16760,55.64246 }</string>
	
								<string>{ 188.77097,-30.39105 }</string>
	
								<string>{ 183.46368,-19.77654 }</string>

							</array>

							<array>
	
								<string>{ -76.03352,-141.84357 }</string>
	
								<string>{ -68.21228,-151.06145 }</string>
	
								<string>{ -141.95531,-103.29609 }</string>
	
								<string>{ -124.35754,-106.92737 }</string>

							</array>

							<array>
	
								<string>{ 241.06146,-159.66481 }</string>
	
								<string>{ 191.84360,-40.72626 }</string>
	
								<string>{ 188.77097,-30.39105 }</string>
	
								<string>{ 240.16760,55.64246 }</string>

							</array>

							<array>
	
								<string>{ 140.16760,-113.07262 }</string>
	
								<string>{ 241.06146,-159.66481 }</string>
	
								<string>{ 54.97208,-150.50279 }</string>
	
								<string>{ 120.05588,-117.54190 }</string>

							</array>

							<array>
	
								<string>{ -68.21228,-151.06145 }</string>
	
								<string>{ -239.44134,-159.44134 }</string>
	
								<string>{ -157.87709,-97.43017 }</string>
	
								<string>{ -141.95531,-103.29609 }</string>

							</array>

							<array>
	
								<string>{ 241.06146,-159.66481 }</string>
	
								<string>{ 193.51956,-53.01675 }</string>
	
								<string>{ 191.84360,-40.72626 }</string>

							</array>

							<array>
	
								<string>{ 241.06146,-159.66481 }</string>
	
								<string>{ 192.12292,-63.63129 }</string>
	
								<string>{ 193.51956,-53.01675 }</string>

							</array>

							<array>
	
								<string>{ 241.06146,-159.66481 }</string>
	
								<string>{ 188.77097,-73.40782 }</string>
	
								<string>{ 192.12292,-63.63129 }</string>

							</array>

							<array>
	
								<string>{ 241.06146,-159.66481 }</string>
	
								<string>{ 184.30170,-81.78770 }</string>
	
								<string>{ 188.77097,-73.40782 }</string>

							</array>

							<array>
	
								<string>{ 241.06146,-159.66481 }</string>
	
								<string>{ 177.31845,-90.72626 }</string>
	
								<string>{ 184.30170,-81.78770 }</string>

							</array>

							<array>
	
								<string>{ 241.06146,-159.66481 }</string>
	
								<string>{ 168.93857,-97.70950 }</string>
	
								<string>{ 177.31845,-90.72626 }</string>

							</array>

							<array>
	
								<string>{ 241.06146,-159.66481 }</string>
	
								<string>{ 158.04471,-104.97206 }</string>
	
								<string>{ 168.93857,-97.70950 }</string>

							</array>

							<array>
	
								<string>{ 241.06146,-159.66481 }</string>
	
								<string>{ 140.16760,-113.07262 }</string>
	
								<string>{ 158.04471,-104.97206 }</string>

							</array>

							<array>
	
								<string>{ -239.44134,-159.44134 }</string>
	
								<string>{ -68.21228,-151.06145 }</string>
	
								<string>{ 54.97208,-150.50279 }</string>
	
								<string>{ 241.06146,-159.66481 }</string>

							</array>

							<array>
	
								<string>{ -239.44134,-159.44134 }</string>
	
								<string>{ -168.77095,-88.49162 }</string>
	
								<string>{ -157.87709,-97.43017 }</string>

							</array>

							<array>
	
								<string>{ -239.44134,-159.44134 }</string>
	
								<string>{ -177.15084,-78.99442 }</string>
	
								<string>{ -168.77095,-88.49162 }</string>

							</array>

							<array>
	
								<string>{ -239.44134,-159.44134 }</string>
	
								<string>{ -179.94413,-66.98324 }</string>
	
								<string>{ -177.15084,-78.99442 }</string>

							</array>

							<array>
	
								<string>{ -239.44134,-159.44134 }</string>
	
								<string>{ -180.78212,-55.25140 }</string>
	
								<string>{ -179.94413,-66.98324 }</string>

							</array>

							<array>
	
								<string>{ -239.44134,-159.44134 }</string>
	
								<string>{ -179.94413,-45.19553 }</string>
	
								<string>{ -180.78212,-55.25140 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 40.44693,136.64804 }</string>
	
								<string>{ 42.12292,160.16760 }</string>
	
								<string>{ 86.25699,130.22348 }</string>
	
								<string>{ 45.19553,109.27374 }</string>

							</array>

							<array>
	
								<string>{ 150.50281,116.81564 }</string>
	
								<string>{ 198.60336,159.60895 }</string>
	
								<string>{ 178.71509,106.20111 }</string>
	
								<string>{ 172.29050,102.01117 }</string>
	
								<string>{ 157.20673,106.75980 }</string>

							</array>

							<array>
	
								<string>{ 42.12292,160.16760 }</string>
	
								<string>{ 100.22348,134.97208 }</string>
	
								<string>{ 86.25699,130.22348 }</string>

							</array>

							<array>
	
								<string>{ 198.60336,159.60895 }</string>
	
								<string>{ 111.11734,136.36871 }</string>
	
								<string>{ 100.22348,134.97208 }</string>
	
								<string>{ 42.12292,160.16760 }</string>

							</array>

							<array>
	
								<string>{ 143.24023,124.63687 }</string>
	
								<string>{ 198.60336,159.60895 }</string>
	
								<string>{ 150.50281,116.81564 }</string>

							</array>

							<array>
	
								<string>{ 135.97766,131.34079 }</string>
	
								<string>{ 198.60336,159.60895 }</string>
	
								<string>{ 143.24023,124.63687 }</string>

							</array>

							<array>
	
								<string>{ 125.92178,135.25140 }</string>
	
								<string>{ 198.60336,159.60895 }</string>
	
								<string>{ 135.97766,131.34079 }</string>

							</array>

							<array>
	
								<string>{ 111.11734,136.36871 }</string>
	
								<string>{ 198.60336,159.60895 }</string>
	
								<string>{ 125.92178,135.25140 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

