<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C58</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 42.82550,38.33795 }</string>
	
								<string>{ 33.68420,31.96677 }</string>
	
								<string>{ 19.55679,24.76454 }</string>
	
								<string>{ -3.98891,15.62328 }</string>
	
								<string>{ 32.85318,52.46538 }</string>
	
								<string>{ 40.33243,49.69530 }</string>
	
								<string>{ 45.04156,46.64821 }</string>
	
								<string>{ 46.98062,42.77010 }</string>

							</array>

							<array>
	
								<string>{ -125.04155,64.65375 }</string>
	
								<string>{ -240.55402,-160.27701 }</string>
	
								<string>{ -240.55402,61.99446 }</string>

							</array>

							<array>
	
								<string>{ 214.84766,-21.77284 }</string>
	
								<string>{ 206.81442,-33.13019 }</string>
	
								<string>{ 192.40997,-46.70360 }</string>
	
								<string>{ 158.33795,-75.23546 }</string>
	
								<string>{ 183.26871,-17.34071 }</string>
	
								<string>{ 196.28812,-14.01662 }</string>
	
								<string>{ 207.09143,-13.46260 }</string>
	
								<string>{ 212.90860,-15.67867 }</string>

							</array>

							<array>
	
								<string>{ 99.05817,-120.66482 }</string>
	
								<string>{ 62.21606,-141.71745 }</string>
	
								<string>{ 123.43491,-37.56232 }</string>
	
								<string>{ 170.52634,-20.94182 }</string>
	
								<string>{ 183.26871,-17.34071 }</string>
	
								<string>{ 158.33795,-75.23546 }</string>

							</array>

							<array>
	
								<string>{ -43.60110,3.43491 }</string>
	
								<string>{ -92.90858,-9.30748 }</string>
	
								<string>{ -125.04155,64.65375 }</string>
	
								<string>{ -42.21606,61.88367 }</string>
	
								<string>{ 25.20776,55.34627 }</string>
	
								<string>{ 32.85318,52.46538 }</string>
	
								<string>{ -3.98891,15.62328 }</string>

							</array>

							<array>
	
								<string>{ 240.88644,-160.00000 }</string>
	
								<string>{ -240.55402,-160.27701 }</string>
	
								<string>{ 62.21606,-141.71745 }</string>
	
								<string>{ 240.60944,-144.21053 }</string>

							</array>

							<array>
	
								<string>{ -127.53462,-20.66481 }</string>
	
								<string>{ -125.04155,64.65375 }</string>
	
								<string>{ -92.90858,-9.30748 }</string>

							</array>

							<array>
	
								<string>{ -149.41828,-30.08310 }</string>
	
								<string>{ -125.04155,64.65375 }</string>
	
								<string>{ -127.53462,-20.66481 }</string>

							</array>

							<array>
	
								<string>{ -165.76177,-37.56232 }</string>
	
								<string>{ -125.04155,64.65375 }</string>
	
								<string>{ -149.41828,-30.08310 }</string>

							</array>

							<array>
	
								<string>{ -177.67313,-45.31856 }</string>
	
								<string>{ -125.04155,64.65375 }</string>
	
								<string>{ -165.76177,-37.56232 }</string>

							</array>

							<array>
	
								<string>{ -240.55402,-160.27701 }</string>
	
								<string>{ 92.13297,-45.87257 }</string>
	
								<string>{ 123.43491,-37.56232 }</string>
	
								<string>{ 62.21606,-141.71745 }</string>

							</array>

							<array>
	
								<string>{ -183.21329,-51.13573 }</string>
	
								<string>{ -125.04155,64.65375 }</string>
	
								<string>{ -177.67313,-45.31856 }</string>

							</array>

							<array>
	
								<string>{ -182.65928,-57.78393 }</string>
	
								<string>{ -240.55402,-160.27701 }</string>
	
								<string>{ -183.21329,-51.13573 }</string>

							</array>

							<array>
	
								<string>{ -177.39612,-63.60110 }</string>
	
								<string>{ -240.55402,-160.27701 }</string>
	
								<string>{ -182.65928,-57.78393 }</string>

							</array>

							<array>
	
								<string>{ -158.00554,-69.14127 }</string>
	
								<string>{ -240.55402,-160.27701 }</string>
	
								<string>{ -177.39612,-63.60110 }</string>

							</array>

							<array>
	
								<string>{ -136.12188,-72.18836 }</string>
	
								<string>{ -240.55402,-160.27701 }</string>
	
								<string>{ -158.00554,-69.14127 }</string>

							</array>

							<array>
	
								<string>{ -107.03601,-72.74238 }</string>
	
								<string>{ -240.55402,-160.27701 }</string>
	
								<string>{ -136.12188,-72.18836 }</string>

							</array>

							<array>
	
								<string>{ -79.61218,-71.63435 }</string>
	
								<string>{ -240.55402,-160.27701 }</string>
	
								<string>{ -107.03601,-72.74238 }</string>

							</array>

							<array>
	
								<string>{ -48.31024,-70.24931 }</string>
	
								<string>{ -240.55402,-160.27701 }</string>
	
								<string>{ -79.61218,-71.63435 }</string>

							</array>

							<array>
	
								<string>{ -22.54848,-67.47923 }</string>
	
								<string>{ -240.55402,-160.27701 }</string>
	
								<string>{ -48.31024,-70.24931 }</string>

							</array>

							<array>
	
								<string>{ 9.58449,-63.32410 }</string>
	
								<string>{ -240.55402,-160.27701 }</string>
	
								<string>{ -22.54848,-67.47923 }</string>

							</array>

							<array>
	
								<string>{ 42.27148,-57.22991 }</string>
	
								<string>{ -240.55402,-160.27701 }</string>
	
								<string>{ 9.58449,-63.32410 }</string>

							</array>

							<array>
	
								<string>{ 92.13297,-45.87257 }</string>
	
								<string>{ -240.55402,-160.27701 }</string>
	
								<string>{ 42.27148,-57.22991 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 240.33243,68.80887 }</string>
	
								<string>{ 87.97784,79.05818 }</string>
	
								<string>{ 62.49307,82.38228 }</string>
	
								<string>{ 36.45432,98.00555 }</string>
	
								<string>{ 106.81442,111.46814 }</string>
	
								<string>{ 240.44324,126.53741 }</string>

							</array>

							<array>
	
								<string>{ 36.45432,98.00555 }</string>
	
								<string>{ 62.49307,82.38228 }</string>
	
								<string>{ 46.70361,86.26039 }</string>
	
								<string>{ 39.22440,88.47646 }</string>
	
								<string>{ 34.79227,93.46262 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

