<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entities</key>
	<array>
		<dict>
			<key>components</key>
			<dict>
				<key>slinger</key>
				<dict>
					<key>queuedBeeTypes</key>
					<array>
						<string>SPEEDEE</string>
					</array>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{ 61.00, 263.00 }</string>
					<key>rotation</key>
					<real>318</real>
					<key>scale</key>
					<string>{ 1.00, 1.00 }</string>
				</dict>
			</dict>
			<key>type</key>
			<string>SLINGER</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>captured</key>
				<dict>
					<key>containedBeeType</key>
					<string>BEE</string>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{ 288.00, 253.00 }</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{ 288.00, 253.00 }</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{ 1.00, 1.00 }</string>
				</dict>
			</dict>
			<key>type</key>
			<string>BEEATER-LAND-C-REFLECTION</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>captured</key>
				<dict>
					<key>containedBeeType</key>
					<string>BOMBEE</string>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{ 339.00, 255.00 }</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{ 339.00, 255.00 }</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{ 1.00, 1.00 }</string>
				</dict>
			</dict>
			<key>type</key>
			<string>BEEATER-LAND-C-REFLECTION</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>captured</key>
				<dict>
					<key>containedBeeType</key>
					<string>BOMBEE</string>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{ 290.00, 225.00 }</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{ 290.00, 225.00 }</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{ 1.00, 1.00 }</string>
				</dict>
			</dict>
			<key>type</key>
			<string>BEEATER-HANGING-C</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>captured</key>
				<dict>
					<key>containedBeeType</key>
					<string>SPEEDEE</string>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{ 129.00, 78.00 }</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{ 129.00, 78.00 }</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{ -1.00, 1.00 }</string>
				</dict>
			</dict>
			<key>type</key>
			<string>BEEATER-LAND-C-REFLECTION</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{ 171.00, 10.00 }</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{ 171.00, 10.00 }</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{ 1.00, 1.00 }</string>
				</dict>
			</dict>
			<key>type</key>
			<string>EGG-REFLECTION</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>captured</key>
				<dict>
					<key>containedBeeType</key>
					<string>BEE</string>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{ 365.00, 15.00 }</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{ 365.00, 15.00 }</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{ 1.00, 1.00 }</string>
				</dict>
			</dict>
			<key>type</key>
			<string>BEEATER-LAND-C-REFLECTION</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{ 275.00, 121.00 }</string>
				</dict>
				<key>render</key>
				<dict>
					<key>overrideIdleAnimation</key>
					<string>C50-Clirr-1</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{ 275.00, 121.00 }</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{ 1.00, 1.00 }</string>
				</dict>
			</dict>
			<key>type</key>
			<string>CLIRR</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{ 279.00, 109.00 }</string>
				</dict>
				<key>render</key>
				<dict>
					<key>overrideIdleAnimation</key>
					<string>C50-Clirr-2</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{ 279.00, 109.00 }</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{ 1.00, 1.00 }</string>
				</dict>
			</dict>
			<key>type</key>
			<string>CLIRR</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{ 285.00, 97.00 }</string>
				</dict>
				<key>render</key>
				<dict>
					<key>overrideIdleAnimation</key>
					<string>C50-Clirr-3</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{ 285.00, 97.00 }</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{ 1.00, 1.00 }</string>
				</dict>
			</dict>
			<key>type</key>
			<string>CLIRR</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{ 292.00, 81.00 }</string>
				</dict>
				<key>render</key>
				<dict>
					<key>overrideIdleAnimation</key>
					<string>C50-Clirr-4</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{ 292.00, 81.00 }</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{ 1.00, 1.00 }</string>
				</dict>
			</dict>
			<key>type</key>
			<string>CLIRR</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{ 301.00, 69.00 }</string>
				</dict>
				<key>render</key>
				<dict>
					<key>overrideIdleAnimation</key>
					<string>C50-Clirr-5</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{ 301.00, 69.00 }</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{ 1.00, 1.00 }</string>
				</dict>
			</dict>
			<key>type</key>
			<string>CLIRR</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{ 310.00, 57.00 }</string>
				</dict>
				<key>render</key>
				<dict>
					<key>overrideIdleAnimation</key>
					<string>C50-Clirr-6</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{ 310.00, 57.00 }</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{ 1.00, 1.00 }</string>
				</dict>
			</dict>
			<key>type</key>
			<string>CLIRR</string>
		</dict>
	</array>
	<key>format</key>
	<integer>2</integer>
	<key>hasWater</key>
	<false/>
	<key>name</key>
	<string>Level-C50</string>
	<key>version</key>
	<integer>4</integer>
</dict>
</plist>
