<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entities</key>
	<array>
		<dict>
			<key>components</key>
			<dict>
				<key>slinger</key>
				<dict>
					<key>queuedBeeTypes</key>
					<array>
						<string>BEE</string>
					</array>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{ 83.00, 270.00 }</string>
					<key>rotation</key>
					<real>324</real>
					<key>scale</key>
					<string>{ 1.00, 1.00 }</string>
				</dict>
			</dict>
			<key>type</key>
			<string>SLINGER</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{ 112.00, 81.00 }</string>
				</dict>
				<key>render</key>
				<dict>
					<key>overrideIdleAnimation</key>
					<string>C10-Clirr-1-1</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{ 112.00, 81.00 }</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{ 1.00, 1.00 }</string>
				</dict>
			</dict>
			<key>type</key>
			<string>CLIRR</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{ 250.00, 179.00 }</string>
				</dict>
				<key>render</key>
				<dict>
					<key>overrideIdleAnimation</key>
					<string>C10-Clirr-2-1</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{ 250.00, 179.00 }</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{ 1.00, 1.00 }</string>
				</dict>
			</dict>
			<key>type</key>
			<string>CLIRR</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{ 274.00, 169.00 }</string>
				</dict>
				<key>render</key>
				<dict>
					<key>overrideIdleAnimation</key>
					<string>C10-Clirr-2-2</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{ 274.00, 169.00 }</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{ 1.00, 1.00 }</string>
				</dict>
			</dict>
			<key>type</key>
			<string>CLIRR</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{ 290.00, 163.00 }</string>
				</dict>
				<key>render</key>
				<dict>
					<key>overrideIdleAnimation</key>
					<string>C10-Clirr-2-3</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{ 290.00, 163.00 }</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{ 1.00, 1.00 }</string>
				</dict>
			</dict>
			<key>type</key>
			<string>CLIRR</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>overrideBodyName</key>
					<string>C10-Glass</string>
					<key>position</key>
					<string>{ 211.00, 129.00 }</string>
				</dict>
				<key>render</key>
				<dict>
					<key>overrideTextureFile</key>
					<string>C10-Glass.png</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{ 211.00, 129.00 }</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{ 1.00, 1.00 }</string>
				</dict>
			</dict>
			<key>type</key>
			<string>GLASS-C</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>captured</key>
				<dict>
					<key>containedBeeType</key>
					<string>TBEE</string>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>-0.66322511434555054</real>
					<key>position</key>
					<string>{ 296.00, 235.00 }</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{ 296.00, 235.00 }</string>
					<key>rotation</key>
					<real>38</real>
					<key>scale</key>
					<string>{ 1.00, 1.00 }</string>
				</dict>
			</dict>
			<key>type</key>
			<string>FROZEN-TBEE</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>captured</key>
				<dict>
					<key>containedBeeType</key>
					<string>BEE</string>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{ 350.00, 187.00 }</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{ 350.00, 187.00 }</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{ 1.00, 1.00 }</string>
				</dict>
			</dict>
			<key>type</key>
			<string>BEEATER-HANGING-C-REFLECTION</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>captured</key>
				<dict>
					<key>containedBeeType</key>
					<string>BEE</string>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{ 412.00, 14.00 }</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{ 412.00, 14.00 }</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{ 1.00, 1.00 }</string>
				</dict>
			</dict>
			<key>type</key>
			<string>BEEATER-LAND-C-REFLECTION</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>captured</key>
				<dict>
					<key>containedBeeType</key>
					<string>BOMBEE</string>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{ 43.00, 10.00 }</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{ 43.00, 10.00 }</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{ -1.00, 1.00 }</string>
				</dict>
			</dict>
			<key>type</key>
			<string>BEEATER-LAND-C-REFLECTION</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>captured</key>
				<dict>
					<key>containedBeeType</key>
					<string>BEE</string>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{ 382.00, 240.00 }</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{ 382.00, 240.00 }</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{ 1.00, 1.00 }</string>
				</dict>
			</dict>
			<key>type</key>
			<string>BEEATER-LAND-C-REFLECTION</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>-5.7595863342285156</real>
					<key>position</key>
					<string>{ 143.00, 63.00 }</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{ 143.00, 63.00 }</string>
					<key>rotation</key>
					<real>330</real>
					<key>scale</key>
					<string>{ 1.00, 1.00 }</string>
				</dict>
			</dict>
			<key>type</key>
			<string>RAMP-C</string>
		</dict>
	</array>
	<key>format</key>
	<integer>2</integer>
	<key>hasWater</key>
	<false/>
	<key>name</key>
	<string>Level-C10</string>
	<key>version</key>
	<integer>3</integer>
</dict>
</plist>
