<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C7</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -126.75130,32.93680 }</string>
	
								<string>{ -133.61520,13.35100 }</string>
	
								<string>{ -284.27408,-161.21610 }</string>
	
								<string>{ -284.89846,31.08542 }</string>

							</array>

							<array>
	
								<string>{ -144.56195,-31.91528 }</string>
	
								<string>{ -284.27408,-161.21610 }</string>
	
								<string>{ -133.61520,13.35100 }</string>

							</array>

							<array>
	
								<string>{ -147.81639,-52.92120 }</string>
	
								<string>{ -284.27408,-161.21610 }</string>
	
								<string>{ -144.56195,-31.91528 }</string>

							</array>

							<array>
	
								<string>{ -148.70396,-70.37682 }</string>
	
								<string>{ -284.27408,-161.21610 }</string>
	
								<string>{ -147.81639,-52.92120 }</string>

							</array>

							<array>
	
								<string>{ -147.81639,-86.64900 }</string>
	
								<string>{ -284.27408,-161.21610 }</string>
	
								<string>{ -148.70396,-70.37682 }</string>

							</array>

							<array>
	
								<string>{ -138.65569,-117.27666 }</string>
	
								<string>{ -284.27408,-161.21610 }</string>
	
								<string>{ -147.81639,-86.64900 }</string>

							</array>

							<array>
	
								<string>{ -120.36876,-135.71786 }</string>
	
								<string>{ -284.27408,-161.21610 }</string>
	
								<string>{ -138.65569,-117.27666 }</string>

							</array>

							<array>
	
								<string>{ -87.10561,-147.03670 }</string>
	
								<string>{ -284.27408,-161.21610 }</string>
	
								<string>{ -120.36876,-135.71786 }</string>

							</array>

							<array>
	
								<string>{ -87.10561,-147.03670 }</string>
	
								<string>{ 284.19250,-150.85018 }</string>
	
								<string>{ 285.37598,-161.51196 }</string>
	
								<string>{ -284.27408,-161.21610 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 208.94479,-83.92638 }</string>
	
								<string>{ 181.48444,-41.95267 }</string>
	
								<string>{ 179.41342,-34.26036 }</string>
	
								<string>{ 175.86313,0.05917 }</string>
	
								<string>{ 213.73294,4.79289 }</string>
	
								<string>{ 253.90540,3.37277 }</string>
	
								<string>{ 284.09814,-0.49080 }</string>
	
								<string>{ 284.22522,-105.20638 }</string>

							</array>

							<array>
	
								<string>{ -88.63390,-29.17160 }</string>
	
								<string>{ -40.70491,-18.28403 }</string>
	
								<string>{ -41.00076,-21.24261 }</string>
	
								<string>{ -55.20195,-39.88166 }</string>
	
								<string>{ -87.74632,-33.96450 }</string>

							</array>

							<array>
	
								<string>{ -104.90610,-75.08876 }</string>
	
								<string>{ -96.32622,-59.40829 }</string>
	
								<string>{ -85.67532,-49.05326 }</string>
	
								<string>{ -64.96527,-114.73373 }</string>
	
								<string>{ -87.15462,-108.81657 }</string>
	
								<string>{ -100.46822,-101.42012 }</string>
	
								<string>{ -107.27295,-89.88166 }</string>

							</array>

							<array>
	
								<string>{ 51.60278,-41.65681 }</string>
	
								<string>{ 40.06433,-57.92900 }</string>
	
								<string>{ 43.61462,-18.28403 }</string>
	
								<string>{ 50.12347,-17.39645 }</string>

							</array>

							<array>
	
								<string>{ 56.04065,-63.55030 }</string>
	
								<string>{ 33.25958,-75.68047 }</string>
	
								<string>{ 40.06433,-57.92900 }</string>
	
								<string>{ 51.60278,-41.65681 }</string>

							</array>

							<array>
	
								<string>{ 61.95779,-77.75148 }</string>
	
								<string>{ 21.72113,-88.69823 }</string>
	
								<string>{ 33.25958,-75.68047 }</string>
	
								<string>{ 56.04065,-63.55030 }</string>

							</array>

							<array>
	
								<string>{ 71.12939,-90.47337 }</string>
	
								<string>{ 9.88681,-96.68639 }</string>
	
								<string>{ 21.72113,-88.69823 }</string>
	
								<string>{ 61.95779,-77.75148 }</string>

							</array>

							<array>
	
								<string>{ 140.06430,-9.40829 }</string>
	
								<string>{ 175.86313,0.05917 }</string>
	
								<string>{ 158.70337,-21.53847 }</string>
	
								<string>{ 140.06430,-15.32545 }</string>

							</array>

							<array>
	
								<string>{ 175.86313,0.05917 }</string>
	
								<string>{ 170.83356,-28.04735 }</string>
	
								<string>{ 158.70337,-21.53847 }</string>

							</array>

							<array>
	
								<string>{ 175.86313,0.05917 }</string>
	
								<string>{ 179.41342,-34.26036 }</string>
	
								<string>{ 170.83356,-28.04735 }</string>

							</array>

							<array>
	
								<string>{ -77.09544,-36.03551 }</string>
	
								<string>{ -68.81142,-75.97633 }</string>
	
								<string>{ -64.96527,-114.73373 }</string>
	
								<string>{ -85.67532,-49.05326 }</string>

							</array>

							<array>
	
								<string>{ 81.78030,-97.27811 }</string>
	
								<string>{ -5.49780,-101.12426 }</string>
	
								<string>{ 9.88681,-96.68639 }</string>
	
								<string>{ 71.12939,-90.47337 }</string>

							</array>

							<array>
	
								<string>{ -63.48598,-54.97042 }</string>
	
								<string>{ -77.09544,-36.03551 }</string>
	
								<string>{ -55.20195,-39.88166 }</string>

							</array>

							<array>
	
								<string>{ -68.21970,-65.91716 }</string>
	
								<string>{ -77.09544,-36.03551 }</string>
	
								<string>{ -63.48598,-54.97042 }</string>

							</array>

							<array>
	
								<string>{ -68.81142,-75.97633 }</string>
	
								<string>{ -77.09544,-36.03551 }</string>
	
								<string>{ -68.21970,-65.91716 }</string>

							</array>

							<array>
	
								<string>{ -64.66940,-86.33136 }</string>
	
								<string>{ -64.96527,-114.73373 }</string>
	
								<string>{ -68.81142,-75.97633 }</string>

							</array>

							<array>
	
								<string>{ -54.31438,-95.20710 }</string>
	
								<string>{ -64.96527,-114.73373 }</string>
	
								<string>{ -64.66940,-86.33136 }</string>

							</array>

							<array>
	
								<string>{ -40.70491,-100.53255 }</string>
	
								<string>{ -64.96527,-114.73373 }</string>
	
								<string>{ -54.31438,-95.20710 }</string>

							</array>

							<array>
	
								<string>{ -20.58658,-102.01184 }</string>
	
								<string>{ -64.96527,-114.73373 }</string>
	
								<string>{ -40.70491,-100.53255 }</string>

							</array>

							<array>
	
								<string>{ -20.58658,-102.01184 }</string>
	
								<string>{ -5.49780,-101.12426 }</string>
	
								<string>{ 94.79803,-101.71598 }</string>
	
								<string>{ 181.78027,-115.62130 }</string>
	
								<string>{ -64.96527,-114.73373 }</string>

							</array>

							<array>
	
								<string>{ 94.79803,-101.71598 }</string>
	
								<string>{ -5.49780,-101.12426 }</string>
	
								<string>{ 81.78030,-97.27811 }</string>

							</array>

							<array>
	
								<string>{ 208.94479,-83.92638 }</string>
	
								<string>{ 182.66788,-50.23669 }</string>
	
								<string>{ 181.48444,-41.95267 }</string>

							</array>

							<array>
	
								<string>{ 181.78027,-115.62130 }</string>
	
								<string>{ 181.78027,-60.59172 }</string>
	
								<string>{ 182.66788,-50.23669 }</string>
	
								<string>{ 208.94479,-83.92638 }</string>

							</array>

							<array>
	
								<string>{ 181.78027,-115.62130 }</string>
	
								<string>{ 177.63828,-70.94675 }</string>
	
								<string>{ 181.78027,-60.59172 }</string>

							</array>

							<array>
	
								<string>{ 181.78027,-115.62130 }</string>
	
								<string>{ 169.35425,-80.41421 }</string>
	
								<string>{ 177.63828,-70.94675 }</string>

							</array>

							<array>
	
								<string>{ 181.78027,-115.62130 }</string>
	
								<string>{ 157.51993,-88.69823 }</string>
	
								<string>{ 169.35425,-80.41421 }</string>

							</array>

							<array>
	
								<string>{ 181.78027,-115.62130 }</string>
	
								<string>{ 143.02289,-95.50296 }</string>
	
								<string>{ 157.51993,-88.69823 }</string>

							</array>

							<array>
	
								<string>{ 181.78027,-115.62130 }</string>
	
								<string>{ 129.70929,-99.34911 }</string>
	
								<string>{ 143.02289,-95.50296 }</string>

							</array>

							<array>
	
								<string>{ 181.78027,-115.62130 }</string>
	
								<string>{ 112.54953,-101.42012 }</string>
	
								<string>{ 129.70929,-99.34911 }</string>

							</array>

							<array>
	
								<string>{ 181.78027,-115.62130 }</string>
	
								<string>{ 94.79803,-101.71598 }</string>
	
								<string>{ 112.54953,-101.42012 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 237.98712,77.66580 }</string>
	
								<string>{ 283.58990,160.69916 }</string>
	
								<string>{ 283.48468,42.14725 }</string>

							</array>

							<array>
	
								<string>{ 67.51376,21.98532 }</string>
	
								<string>{ 89.70312,17.54745 }</string>
	
								<string>{ 54.49600,16.36403 }</string>
	
								<string>{ 53.90430,21.09775 }</string>

							</array>

							<array>
	
								<string>{ 98.28299,29.08592 }</string>
	
								<string>{ 123.43094,26.71906 }</string>
	
								<string>{ 89.70312,17.54745 }</string>
	
								<string>{ 67.51376,21.98532 }</string>

							</array>

							<array>
	
								<string>{ 119.58478,39.44095 }</string>
	
								<string>{ 123.43094,26.71906 }</string>
	
								<string>{ 98.28299,29.08592 }</string>

							</array>

							<array>
	
								<string>{ 134.08182,49.20427 }</string>
	
								<string>{ 151.24158,38.84923 }</string>
	
								<string>{ 123.43094,26.71906 }</string>
	
								<string>{ 119.58478,39.44095 }</string>

							</array>

							<array>
	
								<string>{ 146.80371,60.15100 }</string>
	
								<string>{ 168.40134,52.75456 }</string>
	
								<string>{ 151.24158,38.84923 }</string>
	
								<string>{ 134.08182,49.20427 }</string>

							</array>

							<array>
	
								<string>{ 157.45459,76.12733 }</string>
	
								<string>{ 181.71494,69.91432 }</string>
	
								<string>{ 168.40134,52.75456 }</string>
	
								<string>{ 146.80371,60.15100 }</string>

							</array>

							<array>
	
								<string>{ 163.37177,92.99124 }</string>
	
								<string>{ 200.94571,81.15692 }</string>
	
								<string>{ 181.71494,69.91432 }</string>
	
								<string>{ 157.45459,76.12733 }</string>

							</array>

							<array>
	
								<string>{ 166.03448,107.78415 }</string>
	
								<string>{ 221.95163,82.93207 }</string>
	
								<string>{ 200.94571,81.15692 }</string>
	
								<string>{ 163.37177,92.99124 }</string>

							</array>

							<array>
	
								<string>{ 163.07590,127.01492 }</string>
	
								<string>{ 283.58990,160.69916 }</string>
	
								<string>{ 237.98712,77.66580 }</string>
	
								<string>{ 221.95163,82.93207 }</string>
	
								<string>{ 166.03448,107.78415 }</string>

							</array>

							<array>
	
								<string>{ 155.97531,141.51196 }</string>
	
								<string>{ 283.58990,160.69916 }</string>
	
								<string>{ 163.07590,127.01492 }</string>

							</array>

							<array>
	
								<string>{ 143.54926,151.57114 }</string>
	
								<string>{ 283.58990,160.69916 }</string>
	
								<string>{ 155.97531,141.51196 }</string>

							</array>

							<array>
	
								<string>{ 125.50192,154.23386 }</string>
	
								<string>{ 283.58990,160.69916 }</string>
	
								<string>{ 143.54926,151.57114 }</string>

							</array>

							<array>
	
								<string>{ -284.27408,160.47336 }</string>
	
								<string>{ 283.58990,160.69916 }</string>
	
								<string>{ -283.68236,151.24258 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

