<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C16</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -180.76299,-109.73663 }</string>
	
								<string>{ -183.57880,-88.76422 }</string>
	
								<string>{ -166.86326,-49.46803 }</string>
	
								<string>{ -151.90724,-60.90498 }</string>
	
								<string>{ -142.22983,-77.62053 }</string>
	
								<string>{ -131.30374,-105.99997 }</string>

							</array>

							<array>
	
								<string>{ -208.21223,-81.43285 }</string>
	
								<string>{ -182.40578,-40.37713 }</string>
	
								<string>{ -166.86326,-49.46803 }</string>
	
								<string>{ -183.57880,-88.76422 }</string>

							</array>

							<array>
	
								<string>{ -41.35007,39.97478 }</string>
	
								<string>{ -80.35300,29.41759 }</string>
	
								<string>{ -159.53188,17.10088 }</string>
	
								<string>{ -164.22396,63.43520 }</string>
	
								<string>{ -28.32953,53.87508 }</string>
	
								<string>{ -26.68732,47.30615 }</string>

							</array>

							<array>
	
								<string>{ -208.21223,-81.43285 }</string>
	
								<string>{ -247.05733,-116.05096 }</string>
	
								<string>{ -194.72250,-29.52669 }</string>
	
								<string>{ -182.40578,-40.37713 }</string>

							</array>

							<array>
	
								<string>{ -159.53188,17.10088 }</string>
	
								<string>{ -175.66091,13.28856 }</string>
	
								<string>{ -284.53608,65.97418 }</string>
	
								<string>{ -164.22396,63.43520 }</string>

							</array>

							<array>
	
								<string>{ -284.53608,65.97418 }</string>
	
								<string>{ -201.17410,-21.60880 }</string>
	
								<string>{ -194.72250,-29.52669 }</string>
	
								<string>{ -247.05733,-116.05096 }</string>
	
								<string>{ -284.24282,-160.68270 }</string>

							</array>

							<array>
	
								<string>{ -187.68437,8.00996 }</string>
	
								<string>{ -284.53608,65.97418 }</string>
	
								<string>{ -175.66091,13.28856 }</string>

							</array>

							<array>
	
								<string>{ -196.48203,3.31789 }</string>
	
								<string>{ -284.53608,65.97418 }</string>
	
								<string>{ -187.68437,8.00996 }</string>

							</array>

							<array>
	
								<string>{ -204.10666,-5.77303 }</string>
	
								<string>{ -284.53608,65.97418 }</string>
	
								<string>{ -196.48203,3.31789 }</string>

							</array>

							<array>
	
								<string>{ -204.69317,-13.69090 }</string>
	
								<string>{ -284.53608,65.97418 }</string>
	
								<string>{ -204.10666,-5.77303 }</string>

							</array>

							<array>
	
								<string>{ -201.17410,-21.60880 }</string>
	
								<string>{ -284.53608,65.97418 }</string>
	
								<string>{ -204.69317,-13.69090 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 138.22293,102.53897 }</string>
	
								<string>{ 140.27573,85.23694 }</string>
	
								<string>{ 118.57483,92.86157 }</string>

							</array>

							<array>
	
								<string>{ 139.39597,-42.62230 }</string>
	
								<string>{ 125.61298,-17.40236 }</string>
	
								<string>{ 144.49860,-10.54019 }</string>

							</array>

							<array>
	
								<string>{ 157.28452,-97.75426 }</string>
	
								<string>{ 111.24347,-131.18535 }</string>
	
								<string>{ 108.89743,-113.59004 }</string>

							</array>

							<array>
	
								<string>{ 139.39597,-42.62230 }</string>
	
								<string>{ 138.80945,-61.09737 }</string>
	
								<string>{ 109.19067,-85.43755 }</string>
	
								<string>{ 100.97952,-21.80119 }</string>
	
								<string>{ 125.61298,-17.40236 }</string>

							</array>

							<array>
	
								<string>{ 138.22293,102.53897 }</string>
	
								<string>{ 174.58658,111.33664 }</string>
	
								<string>{ 154.64523,76.73253 }</string>
	
								<string>{ 140.27573,85.23694 }</string>

							</array>

							<array>
	
								<string>{ -17.20227,-17.69562 }</string>
	
								<string>{ -5.17883,-69.30852 }</string>
	
								<string>{ -22.48087,-89.83638 }</string>
	
								<string>{ -82.30492,-71.06805 }</string>
	
								<string>{ -66.76239,-40.27626 }</string>
	
								<string>{ -42.71547,-12.00647 }</string>

							</array>

							<array>
	
								<string>{ 109.19067,-85.43755 }</string>
	
								<string>{ 138.80945,-61.09737 }</string>
	
								<string>{ 141.44873,-76.63989 }</string>

							</array>

							<array>
	
								<string>{ 285.12976,-161.19824 }</string>
	
								<string>{ 181.33145,41.54192 }</string>
	
								<string>{ 178.10562,50.92609 }</string>
	
								<string>{ 174.58658,111.33664 }</string>
	
								<string>{ 284.93738,116.05392 }</string>

							</array>

							<array>
	
								<string>{ 170.48099,11.33664 }</string>
	
								<string>{ 177.81238,-10.07098 }</string>
	
								<string>{ 164.61591,0.48621 }</string>
	
								<string>{ 163.44287,5.17828 }</string>

							</array>

							<array>
	
								<string>{ 174.58658,111.33664 }</string>
	
								<string>{ 166.37543,67.93488 }</string>
	
								<string>{ 154.64523,76.73253 }</string>

							</array>

							<array>
	
								<string>{ 177.51913,19.84103 }</string>
	
								<string>{ 190.71561,-20.62817 }</string>
	
								<string>{ 177.81238,-10.07098 }</string>
	
								<string>{ 170.48099,11.33664 }</string>

							</array>

							<array>
	
								<string>{ 109.19067,-85.43755 }</string>
	
								<string>{ 93.94141,-86.31731 }</string>
	
								<string>{ 74.87982,-63.44341 }</string>
	
								<string>{ 68.42822,-23.85397 }</string>
	
								<string>{ 100.97952,-21.80119 }</string>

							</array>

							<array>
	
								<string>{ 44.38129,-48.48740 }</string>
	
								<string>{ 39.68921,-24.14723 }</string>
	
								<string>{ 68.42822,-23.85397 }</string>
	
								<string>{ 74.87982,-63.44341 }</string>

							</array>

							<array>
	
								<string>{ 20.33438,-51.71321 }</string>
	
								<string>{ 5.37836,-21.50793 }</string>
	
								<string>{ 39.68921,-24.14723 }</string>
	
								<string>{ 44.38129,-48.48740 }</string>

							</array>

							<array>
	
								<string>{ -5.17883,-69.30852 }</string>
	
								<string>{ -17.20227,-17.69562 }</string>
	
								<string>{ 5.37836,-21.50793 }</string>
	
								<string>{ 20.33438,-51.71321 }</string>

							</array>

							<array>
	
								<string>{ -39.19641,-115.93608 }</string>
	
								<string>{ -45.64803,-116.81585 }</string>
	
								<string>{ -90.80931,-100.10031 }</string>
	
								<string>{ -82.30492,-71.06805 }</string>
	
								<string>{ -22.48087,-89.83638 }</string>

							</array>

							<array>
	
								<string>{ 174.58658,111.33664 }</string>
	
								<string>{ 173.41354,60.01700 }</string>
	
								<string>{ 166.37543,67.93488 }</string>

							</array>

							<array>
	
								<string>{ 181.33145,31.57124 }</string>
	
								<string>{ 200.09976,-31.77187 }</string>
	
								<string>{ 190.71561,-20.62817 }</string>
	
								<string>{ 177.51913,19.84103 }</string>

							</array>

							<array>
	
								<string>{ 157.28452,-97.75426 }</string>
	
								<string>{ 178.10562,-91.30265 }</string>
	
								<string>{ 103.61884,-144.96834 }</string>
	
								<string>{ 111.24347,-131.18535 }</string>

							</array>

							<array>
	
								<string>{ 174.58658,111.33664 }</string>
	
								<string>{ 178.10562,50.92609 }</string>
	
								<string>{ 173.41354,60.01700 }</string>

							</array>

							<array>
	
								<string>{ -45.64803,-116.81585 }</string>
	
								<string>{ -59.43102,-141.44928 }</string>
	
								<string>{ -94.91489,-127.66629 }</string>
	
								<string>{ -90.80931,-100.10031 }</string>

							</array>

							<array>
	
								<string>{ -59.43102,-141.44928 }</string>
	
								<string>{ -100.48674,-139.39649 }</string>
	
								<string>{ -94.91489,-127.66629 }</string>

							</array>

							<array>
	
								<string>{ -59.43102,-141.44928 }</string>
	
								<string>{ -54.15242,-145.55485 }</string>
	
								<string>{ -111.63043,-147.31438 }</string>
	
								<string>{ -100.48674,-139.39649 }</string>

							</array>

							<array>
	
								<string>{ 103.61884,-144.96834 }</string>
	
								<string>{ 285.12976,-161.19824 }</string>
	
								<string>{ -283.63110,-161.14780 }</string>
	
								<string>{ -282.99415,-153.22992 }</string>

							</array>

							<array>
	
								<string>{ 181.33145,31.57124 }</string>
	
								<string>{ 181.33145,41.54192 }</string>
	
								<string>{ 285.12976,-161.19824 }</string>
	
								<string>{ 207.72440,-45.55486 }</string>
	
								<string>{ 200.09976,-31.77187 }</string>

							</array>

							<array>
	
								<string>{ 193.35489,-81.91849 }</string>
	
								<string>{ 285.12976,-161.19824 }</string>
	
								<string>{ 103.61884,-144.96834 }</string>
	
								<string>{ 178.10562,-91.30265 }</string>

							</array>

							<array>
	
								<string>{ 203.32556,-71.06805 }</string>
	
								<string>{ 285.12976,-161.19824 }</string>
	
								<string>{ 193.35489,-81.91849 }</string>

							</array>

							<array>
	
								<string>{ 209.19067,-58.45808 }</string>
	
								<string>{ 285.12976,-161.19824 }</string>
	
								<string>{ 203.32556,-71.06805 }</string>

							</array>

							<array>
	
								<string>{ 207.72440,-45.55486 }</string>
	
								<string>{ 285.12976,-161.19824 }</string>
	
								<string>{ 209.19067,-58.45808 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

