<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C35</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -118.29913,26.80351 }</string>
	
								<string>{ -114.07625,53.60704 }</string>
	
								<string>{ -91.90616,31.78885 }</string>

							</array>

							<array>
	
								<string>{ 63.22580,-73.48974 }</string>
	
								<string>{ 74.66275,-63.22581 }</string>
	
								<string>{ 105.45453,-66.74487 }</string>
	
								<string>{ 75.54251,-93.72434 }</string>

							</array>

							<array>
	
								<string>{ 43.57770,-145.33724 }</string>
	
								<string>{ -20.35191,-113.07918 }</string>
	
								<string>{ 7.80058,-108.68036 }</string>
	
								<string>{ 41.81818,-111.90616 }</string>
	
								<string>{ 56.48093,-121.58358 }</string>

							</array>

							<array>
	
								<string>{ 132.72726,1.29031 }</string>
	
								<string>{ 110.73312,-8.38710 }</string>
	
								<string>{ 114.83871,3.04985 }</string>

							</array>

							<array>
	
								<string>{ -138.24047,17.71260 }</string>
	
								<string>{ -240.87977,27.21407 }</string>
	
								<string>{ -114.07625,53.60704 }</string>
	
								<string>{ -118.29913,26.80351 }</string>

							</array>

							<array>
	
								<string>{ 41.81818,-111.90616 }</string>
	
								<string>{ 7.80058,-108.68036 }</string>
	
								<string>{ 28.32843,-101.93549 }</string>

							</array>

							<array>
	
								<string>{ 241.52490,-160.29326 }</string>
	
								<string>{ 176.12903,-118.65103 }</string>
	
								<string>{ 167.33136,-97.82991 }</string>
	
								<string>{ 132.72726,1.29031 }</string>
	
								<string>{ 240.05862,-73.19648 }</string>

							</array>

							<array>
	
								<string>{ 132.72726,1.29031 }</string>
	
								<string>{ 138.59238,-59.70675 }</string>
	
								<string>{ 101.34897,-26.27567 }</string>
	
								<string>{ 110.73312,-8.38710 }</string>

							</array>

							<array>
	
								<string>{ 82.58063,-53.25513 }</string>
	
								<string>{ 105.45453,-66.74487 }</string>
	
								<string>{ 74.66275,-63.22581 }</string>

							</array>

							<array>
	
								<string>{ 91.08502,-42.11144 }</string>
	
								<string>{ 138.59238,-59.70675 }</string>
	
								<string>{ 105.45453,-66.74487 }</string>
	
								<string>{ 82.58063,-53.25513 }</string>

							</array>

							<array>
	
								<string>{ 101.34897,-26.27567 }</string>
	
								<string>{ 138.59238,-59.70675 }</string>
	
								<string>{ 91.08502,-42.11144 }</string>

							</array>

							<array>
	
								<string>{ 132.72726,1.29031 }</string>
	
								<string>{ 167.33136,-97.82991 }</string>
	
								<string>{ 138.59238,-59.70675 }</string>

							</array>

							<array>
	
								<string>{ 43.57770,-145.33724 }</string>
	
								<string>{ -50.85045,-116.59824 }</string>
	
								<string>{ -20.35191,-113.07918 }</string>

							</array>

							<array>
	
								<string>{ -156.12904,5.98241 }</string>
	
								<string>{ -240.87977,27.21407 }</string>
	
								<string>{ -138.24047,17.71260 }</string>

							</array>

							<array>
	
								<string>{ -166.39297,-6.62756 }</string>
	
								<string>{ -240.87977,27.21407 }</string>
	
								<string>{ -156.12904,5.98241 }</string>

							</array>

							<array>
	
								<string>{ -166.39297,-6.62756 }</string>
	
								<string>{ -240.00000,-161.46628 }</string>
	
								<string>{ -240.87977,27.21407 }</string>

							</array>

							<array>
	
								<string>{ 241.52490,-160.29326 }</string>
	
								<string>{ 177.30203,-144.75073 }</string>
	
								<string>{ 176.12903,-118.65103 }</string>

							</array>

							<array>
	
								<string>{ 241.52490,-160.29326 }</string>
	
								<string>{ -240.00000,-161.46628 }</string>
	
								<string>{ 43.57770,-145.33724 }</string>
	
								<string>{ 177.30203,-144.75073 }</string>

							</array>

							<array>
	
								<string>{ 43.57770,-145.33724 }</string>
	
								<string>{ -240.00000,-161.46628 }</string>
	
								<string>{ -79.00293,-116.01173 }</string>
	
								<string>{ -50.85045,-116.59824 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-161.46628 }</string>
	
								<string>{ -102.75661,-112.19941 }</string>
	
								<string>{ -79.00293,-116.01173 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-161.46628 }</string>
	
								<string>{ -121.81818,-105.45455 }</string>
	
								<string>{ -102.75661,-112.19941 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-161.46628 }</string>
	
								<string>{ -136.18768,-97.24340 }</string>
	
								<string>{ -121.81818,-105.45455 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-161.46628 }</string>
	
								<string>{ -150.55719,-85.80645 }</string>
	
								<string>{ -136.18768,-97.24340 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-161.46628 }</string>
	
								<string>{ -161.70088,-71.14370 }</string>
	
								<string>{ -150.55719,-85.80645 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-161.46628 }</string>
	
								<string>{ -169.32552,-54.13490 }</string>
	
								<string>{ -161.70088,-71.14370 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-161.46628 }</string>
	
								<string>{ -173.13783,-35.36657 }</string>
	
								<string>{ -169.32552,-54.13490 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-161.46628 }</string>
	
								<string>{ -172.55132,-20.70381 }</string>
	
								<string>{ -173.13783,-35.36657 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 21.58356,36.48093 }</string>
	
								<string>{ -24.75073,38.53372 }</string>
	
								<string>{ -17.12610,57.59531 }</string>
	
								<string>{ 26.39294,50.08797 }</string>
	
								<string>{ 27.74194,42.05278 }</string>

							</array>

							<array>
	
								<string>{ -17.12610,57.59531 }</string>
	
								<string>{ -24.75073,38.53372 }</string>
	
								<string>{ -59.35484,37.36070 }</string>
	
								<string>{ -81.64223,58.59238 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 200.17593,51.73019 }</string>
	
								<string>{ 146.21701,110.38123 }</string>
	
								<string>{ 240.17593,99.64810 }</string>
	
								<string>{ 240.35190,68.15248 }</string>

							</array>

							<array>
	
								<string>{ 166.45160,29.14955 }</string>
	
								<string>{ 115.13196,47.33138 }</string>
	
								<string>{ 110.14661,62.87390 }</string>
	
								<string>{ 146.21701,110.38123 }</string>
	
								<string>{ 200.17593,51.73019 }</string>

							</array>

							<array>
	
								<string>{ 99.58945,77.24339 }</string>
	
								<string>{ 146.21701,110.38123 }</string>
	
								<string>{ 110.14661,62.87390 }</string>

							</array>

							<array>
	
								<string>{ 99.58945,77.24339 }</string>
	
								<string>{ 83.75366,89.85336 }</string>
	
								<string>{ 58.82697,119.47214 }</string>
	
								<string>{ 146.21701,110.38123 }</string>

							</array>

							<array>
	
								<string>{ -35.60118,116.36362 }</string>
	
								<string>{ 58.82697,119.47214 }</string>
	
								<string>{ 16.01172,107.74194 }</string>
	
								<string>{ -19.76540,109.20819 }</string>

							</array>

							<array>
	
								<string>{ 58.82697,119.47214 }</string>
	
								<string>{ 43.28445,103.92963 }</string>
	
								<string>{ 16.01172,107.74194 }</string>

							</array>

							<array>
	
								<string>{ 58.82697,119.47214 }</string>
	
								<string>{ 64.39883,98.35776 }</string>
	
								<string>{ 43.28445,103.92963 }</string>

							</array>

							<array>
	
								<string>{ 58.82697,119.47214 }</string>
	
								<string>{ 83.75366,89.85336 }</string>
	
								<string>{ 64.39883,98.35776 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -240.58651,160.64514 }</string>
	
								<string>{ 241.05569,161.52493 }</string>
	
								<string>{ 239.76538,154.07623 }</string>

							</array>

							<array>
	
								<string>{ -240.58651,160.64514 }</string>
	
								<string>{ -71.37830,155.24927 }</string>
	
								<string>{ -240.58651,155.24927 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

