<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C45</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -176.37556,31.36404 }</string>
	
								<string>{ -164.76265,21.27608 }</string>
	
								<string>{ -157.43127,-8.92920 }</string>
	
								<string>{ -240.15142,-63.78549 }</string>
	
								<string>{ -284.00000,-86.16539 }</string>
	
								<string>{ -284.29326,20.94470 }</string>

							</array>

							<array>
	
								<string>{ -240.15142,-63.78549 }</string>
	
								<string>{ -157.43127,-8.92920 }</string>
	
								<string>{ -158.89755,-37.96146 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -128.73668,-8.68036 }</string>
	
								<string>{ -92.07979,-5.45454 }</string>
	
								<string>{ -111.43462,-19.53079 }</string>
	
								<string>{ -127.85690,-26.27567 }</string>

							</array>

							<array>
	
								<string>{ 64.51846,105.98239 }</string>
	
								<string>{ 40.47153,117.12610 }</string>
	
								<string>{ 159.94366,160.35190 }</string>
	
								<string>{ 159.53311,116.24634 }</string>

							</array>

							<array>
	
								<string>{ -130.20296,5.39589 }</string>
	
								<string>{ -78.88330,7.44867 }</string>
	
								<string>{ -92.07979,-5.45454 }</string>
	
								<string>{ -128.73668,-8.68036 }</string>

							</array>

							<array>
	
								<string>{ -134.60178,21.52492 }</string>
	
								<string>{ -136.94781,51.43695 }</string>
	
								<string>{ -122.87157,79.00293 }</string>
	
								<string>{ -66.27333,53.78299 }</string>
	
								<string>{ -65.39357,35.60117 }</string>
	
								<string>{ -69.49915,21.52492 }</string>
	
								<string>{ -78.88330,7.44867 }</string>
	
								<string>{ -130.20296,5.39589 }</string>

							</array>

							<array>
	
								<string>{ -136.94781,51.43695 }</string>
	
								<string>{ -134.60178,21.52492 }</string>
	
								<string>{ -139.29385,34.42815 }</string>

							</array>

							<array>
	
								<string>{ -139.88037,116.83282 }</string>
	
								<string>{ -79.17656,75.19061 }</string>
	
								<string>{ -71.55193,63.16714 }</string>
	
								<string>{ -66.27333,53.78299 }</string>
	
								<string>{ -122.87157,79.00293 }</string>

							</array>

							<array>
	
								<string>{ 8.79999,128.56305 }</string>
	
								<string>{ 159.94366,160.35190 }</string>
	
								<string>{ 40.47153,117.12610 }</string>

							</array>

							<array>
	
								<string>{ -21.11203,135.30792 }</string>
	
								<string>{ 159.94366,160.35190 }</string>
	
								<string>{ 8.79999,128.56305 }</string>

							</array>

							<array>
	
								<string>{ -21.11203,135.30792 }</string>
	
								<string>{ -44.86571,137.06744 }</string>
	
								<string>{ -199.41116,160.05865 }</string>
	
								<string>{ 159.94366,160.35190 }</string>

							</array>

							<array>
	
								<string>{ -139.88037,116.83282 }</string>
	
								<string>{ -86.80119,89.26686 }</string>
	
								<string>{ -79.17656,75.19061 }</string>

							</array>

							<array>
	
								<string>{ -139.88037,116.83282 }</string>
	
								<string>{ -89.44049,102.46335 }</string>
	
								<string>{ -86.80119,89.26686 }</string>

							</array>

							<array>
	
								<string>{ -139.88037,116.83282 }</string>
	
								<string>{ -199.41116,160.05865 }</string>
	
								<string>{ -87.38771,112.72726 }</string>
	
								<string>{ -89.44049,102.46335 }</string>

							</array>

							<array>
	
								<string>{ -199.41116,160.05865 }</string>
	
								<string>{ -83.28214,122.69794 }</string>
	
								<string>{ -87.38771,112.72726 }</string>

							</array>

							<array>
	
								<string>{ -199.41116,160.05865 }</string>
	
								<string>{ -74.77773,130.32257 }</string>
	
								<string>{ -83.28214,122.69794 }</string>

							</array>

							<array>
	
								<string>{ -199.41116,160.05865 }</string>
	
								<string>{ -61.28799,135.30792 }</string>
	
								<string>{ -74.77773,130.32257 }</string>

							</array>

							<array>
	
								<string>{ -199.41116,160.05865 }</string>
	
								<string>{ -44.86571,137.06744 }</string>
	
								<string>{ -61.28799,135.30792 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 0.94870,-89.34772 }</string>
	
								<string>{ 11.79913,-104.01048 }</string>
	
								<string>{ 17.66425,-121.31253 }</string>
	
								<string>{ -61.51465,-144.77294 }</string>
	
								<string>{ -47.14514,-118.08672 }</string>
	
								<string>{ -34.24191,-98.43863 }</string>
	
								<string>{ -22.51172,-84.36238 }</string>
	
								<string>{ -11.95453,-81.72308 }</string>

							</array>

							<array>
	
								<string>{ 24.40912,-135.97528 }</string>
	
								<string>{ -61.51465,-144.77294 }</string>
	
								<string>{ 17.66425,-121.31253 }</string>

							</array>

							<array>
	
								<string>{ 284.81946,-161.14453 }</string>
	
								<string>{ 197.42963,-147.99874 }</string>
	
								<string>{ 283.73358,-146.51026 }</string>

							</array>

							<array>
	
								<string>{ 37.31232,-145.06619 }</string>
	
								<string>{ -61.51465,-144.77294 }</string>
	
								<string>{ 24.40912,-135.97528 }</string>

							</array>

							<array>
	
								<string>{ -61.51465,-144.77294 }</string>
	
								<string>{ 197.42963,-147.99874 }</string>
	
								<string>{ 284.81946,-161.14453 }</string>
	
								<string>{ -283.05363,-160.63091 }</string>
	
								<string>{ -284.29326,-153.54210 }</string>

							</array>

							<array>
	
								<string>{ 197.42963,-147.99874 }</string>
	
								<string>{ 37.31232,-145.06619 }</string>
	
								<string>{ 151.38858,-144.77294 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 77.91013,-89.64560 }</string>
	
								<string>{ 94.91891,-31.87434 }</string>
	
								<string>{ 108.70190,-22.78343 }</string>
	
								<string>{ 284.43109,78.63382 }</string>
	
								<string>{ 284.04907,-75.72939 }</string>

							</array>

							<array>
	
								<string>{ 43.01276,-73.80982 }</string>
	
								<string>{ 53.56995,-61.49310 }</string>
	
								<string>{ 65.30017,-51.22918 }</string>
	
								<string>{ 79.66965,-41.25850 }</string>
	
								<string>{ 94.91891,-31.87434 }</string>
	
								<string>{ 77.91013,-89.64560 }</string>
	
								<string>{ 51.81042,-86.41979 }</string>
	
								<string>{ 44.18579,-79.96818 }</string>

							</array>

							<array>
	
								<string>{ 175.38812,91.11687 }</string>
	
								<string>{ 199.02451,79.26935 }</string>
	
								<string>{ 128.05676,64.89986 }</string>
	
								<string>{ 115.44678,75.28108 }</string>

							</array>

							<array>
	
								<string>{ 199.02451,79.26935 }</string>
	
								<string>{ 241.86749,73.75394 }</string>
	
								<string>{ 133.92184,56.68871 }</string>
	
								<string>{ 128.05676,64.89986 }</string>

							</array>

							<array>
	
								<string>{ 241.86749,73.75394 }</string>
	
								<string>{ 138.90720,46.42477 }</string>
	
								<string>{ 133.92184,56.68871 }</string>

							</array>

							<array>
	
								<string>{ 241.86749,73.75394 }</string>
	
								<string>{ 142.71951,33.22830 }</string>
	
								<string>{ 138.90720,46.42477 }</string>

							</array>

							<array>
	
								<string>{ 241.86749,73.75394 }</string>
	
								<string>{ 284.43109,78.63382 }</string>
	
								<string>{ 142.42627,21.49809 }</string>
	
								<string>{ 142.71951,33.22830 }</string>

							</array>

							<array>
	
								<string>{ 284.43109,78.63382 }</string>
	
								<string>{ 139.20044,10.35440 }</string>
	
								<string>{ 142.42627,21.49809 }</string>

							</array>

							<array>
	
								<string>{ 284.43109,78.63382 }</string>
	
								<string>{ 131.28256,-2.25557 }</string>
	
								<string>{ 139.20044,10.35440 }</string>

							</array>

							<array>
	
								<string>{ 284.43109,78.63382 }</string>
	
								<string>{ 122.19165,-12.22624 }</string>
	
								<string>{ 131.28256,-2.25557 }</string>

							</array>

							<array>
	
								<string>{ 284.43109,78.63382 }</string>
	
								<string>{ 108.70190,-22.78343 }</string>
	
								<string>{ 122.19165,-12.22624 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

