<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C40</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 108.38708,-114.83871 }</string>
	
								<string>{ 89.32550,-112.49267 }</string>
	
								<string>{ 101.05573,-105.16129 }</string>

							</array>

							<array>
	
								<string>{ -143.81232,52.31671 }</string>
	
								<string>{ -156.42229,2.17009 }</string>
	
								<string>{ -160.52786,-9.26686 }</string>
	
								<string>{ -240.87977,-160.00000 }</string>
	
								<string>{ -240.87977,27.80058 }</string>

							</array>

							<array>
	
								<string>{ -39.12024,53.48973 }</string>
	
								<string>{ -114.48681,32.37537 }</string>
	
								<string>{ -143.81232,52.31671 }</string>
	
								<string>{ -46.33432,68.56305 }</string>
	
								<string>{ -38.53372,66.39296 }</string>
	
								<string>{ -35.89444,61.11436 }</string>

							</array>

							<array>
	
								<string>{ 120.99707,-124.22287 }</string>
	
								<string>{ 76.71555,-117.47801 }</string>
	
								<string>{ 89.32550,-112.49267 }</string>
	
								<string>{ 108.38708,-114.83871 }</string>

							</array>

							<array>
	
								<string>{ -135.89443,22.11143 }</string>
	
								<string>{ -143.81232,52.31671 }</string>
	
								<string>{ -114.48681,32.37537 }</string>

							</array>

							<array>
	
								<string>{ -147.91789,13.31378 }</string>
	
								<string>{ -143.81232,52.31671 }</string>
	
								<string>{ -135.89443,22.11143 }</string>

							</array>

							<array>
	
								<string>{ 241.52490,-160.29326 }</string>
	
								<string>{ -240.87977,-160.00000 }</string>
	
								<string>{ 154.42813,-144.45748 }</string>
	
								<string>{ 240.35190,-147.68328 }</string>

							</array>

							<array>
	
								<string>{ -156.42229,2.17009 }</string>
	
								<string>{ -143.81232,52.31671 }</string>
	
								<string>{ -147.91789,13.31378 }</string>

							</array>

							<array>
	
								<string>{ 143.87097,-138.59238 }</string>
	
								<string>{ 60.29324,-119.82405 }</string>
	
								<string>{ 76.71555,-117.47801 }</string>
	
								<string>{ 120.99707,-124.22287 }</string>
	
								<string>{ 132.14075,-128.91496 }</string>

							</array>

							<array>
	
								<string>{ 143.87097,-138.59238 }</string>
	
								<string>{ 154.42813,-144.45748 }</string>
	
								<string>{ -240.87977,-160.00000 }</string>
	
								<string>{ 40.64514,-119.82405 }</string>
	
								<string>{ 60.29324,-119.82405 }</string>

							</array>

							<array>
	
								<string>{ -240.87977,-160.00000 }</string>
	
								<string>{ 19.82404,-116.59824 }</string>
	
								<string>{ 40.64514,-119.82405 }</string>

							</array>

							<array>
	
								<string>{ -240.87977,-160.00000 }</string>
	
								<string>{ -3.92963,-110.14663 }</string>
	
								<string>{ 19.82404,-116.59824 }</string>

							</array>

							<array>
	
								<string>{ -240.87977,-160.00000 }</string>
	
								<string>{ -31.49561,-101.05572 }</string>
	
								<string>{ -3.92963,-110.14663 }</string>

							</array>

							<array>
	
								<string>{ -240.87977,-160.00000 }</string>
	
								<string>{ -59.06158,-90.49854 }</string>
	
								<string>{ -31.49561,-101.05572 }</string>

							</array>

							<array>
	
								<string>{ -240.87977,-160.00000 }</string>
	
								<string>{ -84.86804,-79.64809 }</string>
	
								<string>{ -59.06158,-90.49854 }</string>

							</array>

							<array>
	
								<string>{ -240.87977,-160.00000 }</string>
	
								<string>{ -113.02053,-66.15836 }</string>
	
								<string>{ -84.86804,-79.64809 }</string>

							</array>

							<array>
	
								<string>{ -240.87977,-160.00000 }</string>
	
								<string>{ -133.25513,-54.42815 }</string>
	
								<string>{ -113.02053,-66.15836 }</string>

							</array>

							<array>
	
								<string>{ -240.87977,-160.00000 }</string>
	
								<string>{ -148.50440,-42.69795 }</string>
	
								<string>{ -133.25513,-54.42815 }</string>

							</array>

							<array>
	
								<string>{ -240.87977,-160.00000 }</string>
	
								<string>{ -157.30206,-32.43402 }</string>
	
								<string>{ -148.50440,-42.69795 }</string>

							</array>

							<array>
	
								<string>{ -240.87977,-160.00000 }</string>
	
								<string>{ -161.11437,-21.58359 }</string>
	
								<string>{ -157.30206,-32.43402 }</string>

							</array>

							<array>
	
								<string>{ -240.87977,-160.00000 }</string>
	
								<string>{ -160.52786,-9.26686 }</string>
	
								<string>{ -161.11437,-21.58359 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 200.17593,122.40469 }</string>
	
								<string>{ 240.46921,160.93842 }</string>
	
								<string>{ 240.35190,124.16422 }</string>

							</array>

							<array>
	
								<string>{ 77.88855,92.78592 }</string>
	
								<string>{ 135.65982,95.42522 }</string>
	
								<string>{ 136.53958,76.95013 }</string>
	
								<string>{ 93.72433,70.49854 }</string>

							</array>

							<array>
	
								<string>{ 163.81232,117.12610 }</string>
	
								<string>{ 40.64514,125.63049 }</string>
	
								<string>{ 23.04984,134.72141 }</string>
	
								<string>{ -2.17009,160.64514 }</string>
	
								<string>{ 240.46921,160.93842 }</string>
	
								<string>{ 200.17593,122.40469 }</string>

							</array>

							<array>
	
								<string>{ 60.00000,110.08798 }</string>
	
								<string>{ 141.81818,108.32843 }</string>
	
								<string>{ 135.65982,95.42522 }</string>
	
								<string>{ 77.88855,92.78592 }</string>

							</array>

							<array>
	
								<string>{ -2.17009,160.64514 }</string>
	
								<string>{ 23.04984,134.72141 }</string>
	
								<string>{ 8.68034,141.46628 }</string>
	
								<string>{ 1.34897,146.74487 }</string>
	
								<string>{ -1.87685,152.90323 }</string>

							</array>

							<array>
	
								<string>{ 40.64514,125.63049 }</string>
	
								<string>{ 163.81232,117.12610 }</string>
	
								<string>{ 141.81818,108.32843 }</string>
	
								<string>{ 60.00000,110.08798 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 128.32843,-75.54253 }</string>
	
								<string>{ 150.02933,-70.26393 }</string>
	
								<string>{ 134.78006,-91.96481 }</string>

							</array>

							<array>
	
								<string>{ 119.82404,-55.30792 }</string>
	
								<string>{ 121.87683,-24.51613 }</string>
	
								<string>{ 162.93256,-27.44868 }</string>
	
								<string>{ 150.02933,-70.26393 }</string>
	
								<string>{ 128.32843,-75.54253 }</string>

							</array>

							<array>
	
								<string>{ 194.60410,6.27565 }</string>
	
								<string>{ 109.56012,40.11729 }</string>
	
								<string>{ 184.75073,50.38123 }</string>
	
								<string>{ 239.17886,26.21701 }</string>
	
								<string>{ 240.35190,2.17009 }</string>

							</array>

							<array>
	
								<string>{ 162.93256,-27.44868 }</string>
	
								<string>{ 114.83871,21.81818 }</string>
	
								<string>{ 109.56012,40.11729 }</string>
	
								<string>{ 194.60410,6.27565 }</string>

							</array>

							<array>
	
								<string>{ 119.23752,0.70381 }</string>
	
								<string>{ 162.93256,-27.44868 }</string>
	
								<string>{ 121.87683,-24.51613 }</string>

							</array>

							<array>
	
								<string>{ 114.83871,21.81818 }</string>
	
								<string>{ 162.93256,-27.44868 }</string>
	
								<string>{ 119.23752,0.70381 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

