<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C13</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 170.61453,56.75978 }</string>
	
								<string>{ 190.44693,65.13966 }</string>
	
								<string>{ 240.16760,58.15643 }</string>
	
								<string>{ 172.84918,30.22346 }</string>
	
								<string>{ 152.73743,43.35196 }</string>

							</array>

							<array>
	
								<string>{ -28.26816,-20.05586 }</string>
	
								<string>{ -75.75418,-19.21788 }</string>
	
								<string>{ -123.24022,-11.11731 }</string>
	
								<string>{ -71.56424,2.84917 }</string>
	
								<string>{ -27.15083,11.78772 }</string>

							</array>

							<array>
	
								<string>{ 42.12292,20.72626 }</string>
	
								<string>{ 58.88269,-8.60335 }</string>
	
								<string>{ 35.97766,-36.81564 }</string>
	
								<string>{ 9.72067,-23.96648 }</string>
	
								<string>{ -0.05586,-15.30727 }</string>
	
								<string>{ -3.40782,19.32962 }</string>

							</array>

							<array>
	
								<string>{ -108.99442,59.27374 }</string>
	
								<string>{ -131.89944,53.96649 }</string>
	
								<string>{ -181.89944,58.71509 }</string>
	
								<string>{ -112.90502,71.28493 }</string>
	
								<string>{ -105.36313,64.02235 }</string>

							</array>

							<array>
	
								<string>{ 73.12851,5.64246 }</string>
	
								<string>{ 42.12292,20.72626 }</string>
	
								<string>{ 88.49164,17.65364 }</string>

							</array>

							<array>
	
								<string>{ 58.88269,-8.60335 }</string>
	
								<string>{ 42.12292,20.72626 }</string>
	
								<string>{ 73.12851,5.64246 }</string>

							</array>

							<array>
	
								<string>{ -148.10056,45.58659 }</string>
	
								<string>{ -181.89944,58.71509 }</string>
	
								<string>{ -131.89944,53.96649 }</string>

							</array>

							<array>
	
								<string>{ -163.74301,33.57542 }</string>
	
								<string>{ -181.89944,58.71509 }</string>
	
								<string>{ -148.10056,45.58659 }</string>

							</array>

							<array>
	
								<string>{ -175.75419,21.84358 }</string>
	
								<string>{ -240.27933,43.40782 }</string>
	
								<string>{ -181.89944,58.71509 }</string>
	
								<string>{ -163.74301,33.57542 }</string>

							</array>

							<array>
	
								<string>{ -186.08939,8.43576 }</string>
	
								<string>{ -240.27933,43.40782 }</string>
	
								<string>{ -175.75419,21.84358 }</string>

							</array>

							<array>
	
								<string>{ 240.16760,58.15643 }</string>
	
								<string>{ 186.25699,18.21230 }</string>
	
								<string>{ 172.84918,30.22346 }</string>

							</array>

							<array>
	
								<string>{ 240.16760,58.15643 }</string>
	
								<string>{ 197.70950,4.52515 }</string>
	
								<string>{ 186.25699,18.21230 }</string>

							</array>

							<array>
	
								<string>{ -193.63128,-3.85475 }</string>
	
								<string>{ -240.27933,43.40782 }</string>
	
								<string>{ -186.08939,8.43576 }</string>

							</array>

							<array>
	
								<string>{ 240.16760,58.15643 }</string>
	
								<string>{ 206.08939,-11.11731 }</string>
	
								<string>{ 197.70950,4.52515 }</string>

							</array>

							<array>
	
								<string>{ -199.21788,-17.54190 }</string>
	
								<string>{ -240.27933,43.40782 }</string>
	
								<string>{ -193.63128,-3.85475 }</string>

							</array>

							<array>
	
								<string>{ -206.48045,-39.32961 }</string>
	
								<string>{ -240.27933,43.40782 }</string>
	
								<string>{ -199.21788,-17.54190 }</string>

							</array>

							<array>
	
								<string>{ -206.48045,-39.32961 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -240.27933,43.40782 }</string>

							</array>

							<array>
	
								<string>{ -123.24022,-11.11731 }</string>
	
								<string>{ -75.75418,-19.21788 }</string>
	
								<string>{ -93.35196,-22.56982 }</string>
	
								<string>{ -118.77095,-17.82123 }</string>

							</array>

							<array>
	
								<string>{ 240.16760,58.15643 }</string>
	
								<string>{ 211.11734,-26.48044 }</string>
	
								<string>{ 206.08939,-11.11731 }</string>

							</array>

							<array>
	
								<string>{ 241.06146,-160.22346 }</string>
	
								<string>{ 210.83801,-40.72626 }</string>
	
								<string>{ 211.11734,-26.48044 }</string>
	
								<string>{ 240.16760,58.15643 }</string>

							</array>

							<array>
	
								<string>{ 29.55307,-50.22346 }</string>
	
								<string>{ 13.91061,-33.18436 }</string>
	
								<string>{ 9.72067,-23.96648 }</string>
	
								<string>{ 35.97766,-36.81564 }</string>

							</array>

							<array>
	
								<string>{ 29.55307,-50.22346 }</string>
	
								<string>{ 24.80447,-66.70391 }</string>
	
								<string>{ 10.27933,-45.19553 }</string>
	
								<string>{ 13.91061,-33.18436 }</string>

							</array>

							<array>
	
								<string>{ 24.80447,-66.70391 }</string>
	
								<string>{ 25.64246,-79.55307 }</string>
	
								<string>{ -3.68715,-50.50279 }</string>
	
								<string>{ 10.27933,-45.19553 }</string>

							</array>

							<array>
	
								<string>{ 25.64246,-79.55307 }</string>
	
								<string>{ -3.12848,-79.27374 }</string>
	
								<string>{ -8.71507,-67.26257 }</string>
	
								<string>{ -17.65363,-44.63687 }</string>
	
								<string>{ -3.68715,-50.50279 }</string>

							</array>

							<array>
	
								<string>{ -28.26816,-20.05586 }</string>
	
								<string>{ -53.68715,-32.06704 }</string>
	
								<string>{ -75.75418,-19.21788 }</string>

							</array>

							<array>
	
								<string>{ -28.26816,-20.05586 }</string>
	
								<string>{ -26.31285,-34.02235 }</string>
	
								<string>{ -35.53072,-43.24022 }</string>
	
								<string>{ -53.68715,-32.06704 }</string>

							</array>

							<array>
	
								<string>{ -17.65363,-44.63687 }</string>
	
								<string>{ -19.88826,-54.69273 }</string>
	
								<string>{ -35.53072,-43.24022 }</string>
	
								<string>{ -26.31285,-34.02235 }</string>

							</array>

							<array>
	
								<string>{ -17.65363,-44.63687 }</string>
	
								<string>{ -8.71507,-67.26257 }</string>
	
								<string>{ -19.88826,-54.69273 }</string>

							</array>

							<array>
	
								<string>{ 25.64246,-79.55307 }</string>
	
								<string>{ 32.06705,-91.00558 }</string>
	
								<string>{ -2.56982,-90.72626 }</string>
	
								<string>{ -3.12848,-79.27374 }</string>

							</array>

							<array>
	
								<string>{ 32.06705,-91.00558 }</string>
	
								<string>{ 42.40225,-99.94413 }</string>
	
								<string>{ -7.31844,-102.73743 }</string>
	
								<string>{ -2.56982,-90.72626 }</string>

							</array>

							<array>
	
								<string>{ 42.40225,-99.94413 }</string>
	
								<string>{ 58.04471,-108.32402 }</string>
	
								<string>{ -18.21228,-114.46927 }</string>
	
								<string>{ -7.31844,-102.73743 }</string>

							</array>

							<array>
	
								<string>{ 58.04471,-108.32402 }</string>
	
								<string>{ 75.36313,-113.91061 }</string>
	
								<string>{ -31.06145,-123.68715 }</string>
	
								<string>{ -18.21228,-114.46927 }</string>

							</array>

							<array>
	
								<string>{ 75.36313,-113.91061 }</string>
	
								<string>{ 94.91620,-118.65922 }</string>
	
								<string>{ -48.37988,-132.34637 }</string>
	
								<string>{ -31.06145,-123.68715 }</string>

							</array>

							<array>
	
								<string>{ 94.91620,-118.65922 }</string>
	
								<string>{ 112.51398,-120.05587 }</string>
	
								<string>{ 241.06146,-160.22346 }</string>
	
								<string>{ -73.79887,-140.16760 }</string>
	
								<string>{ -48.37988,-132.34637 }</string>

							</array>

							<array>
	
								<string>{ 241.06146,-160.22346 }</string>
	
								<string>{ 209.16202,-54.69273 }</string>
	
								<string>{ 210.83801,-40.72626 }</string>

							</array>

							<array>
	
								<string>{ 241.06146,-160.22346 }</string>
	
								<string>{ 205.53073,-66.98324 }</string>
	
								<string>{ 209.16202,-54.69273 }</string>

							</array>

							<array>
	
								<string>{ 241.06146,-160.22346 }</string>
	
								<string>{ 200.78214,-78.43575 }</string>
	
								<string>{ 205.53073,-66.98324 }</string>

							</array>

							<array>
	
								<string>{ 241.06146,-160.22346 }</string>
	
								<string>{ 195.47488,-88.77095 }</string>
	
								<string>{ 200.78214,-78.43575 }</string>

							</array>

							<array>
	
								<string>{ 241.06146,-160.22346 }</string>
	
								<string>{ 188.21231,-96.87151 }</string>
	
								<string>{ 195.47488,-88.77095 }</string>

							</array>

							<array>
	
								<string>{ 241.06146,-160.22346 }</string>
	
								<string>{ 177.87711,-104.97206 }</string>
	
								<string>{ 188.21231,-96.87151 }</string>

							</array>

							<array>
	
								<string>{ 241.06146,-160.22346 }</string>
	
								<string>{ 166.14526,-112.51397 }</string>
	
								<string>{ 177.87711,-104.97206 }</string>

							</array>

							<array>
	
								<string>{ 241.06146,-160.22346 }</string>
	
								<string>{ 151.06146,-117.54190 }</string>
	
								<string>{ 166.14526,-112.51397 }</string>

							</array>

							<array>
	
								<string>{ 241.06146,-160.22346 }</string>
	
								<string>{ 130.11172,-120.33519 }</string>
	
								<string>{ 151.06146,-117.54190 }</string>

							</array>

							<array>
	
								<string>{ 241.06146,-160.22346 }</string>
	
								<string>{ 112.51398,-120.05587 }</string>
	
								<string>{ 130.11172,-120.33519 }</string>

							</array>

							<array>
	
								<string>{ 241.06146,-160.22346 }</string>
	
								<string>{ -104.52513,-147.43017 }</string>
	
								<string>{ -73.79887,-140.16760 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -194.18994,-150.78212 }</string>
	
								<string>{ -104.52513,-147.43017 }</string>
	
								<string>{ 241.06146,-160.22346 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -205.08380,-144.35754 }</string>
	
								<string>{ -194.18994,-150.78212 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -210.67039,-133.74302 }</string>
	
								<string>{ -205.08380,-144.35754 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -214.02235,-116.14525 }</string>
	
								<string>{ -210.67039,-133.74302 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -215.41899,-101.62011 }</string>
	
								<string>{ -214.02235,-116.14525 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -214.86033,-84.86034 }</string>
	
								<string>{ -215.41899,-101.62011 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -211.78771,-60.55865 }</string>
	
								<string>{ -214.86033,-84.86034 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 81.22906,68.77095 }</string>
	
								<string>{ 76.75980,73.29610 }</string>
	
								<string>{ 144.13409,72.17877 }</string>
	
								<string>{ 118.65924,56.75978 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 123.12851,-26.75978 }</string>
	
								<string>{ 108.04471,-27.87709 }</string>
	
								<string>{ 86.81564,-25.08380 }</string>
	
								<string>{ 113.35196,7.09497 }</string>
	
								<string>{ 123.40784,-0.22346 }</string>
	
								<string>{ 130.67041,-10.00000 }</string>
	
								<string>{ 132.96091,-20.27933 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

