<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C23</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -96.59825,18.88562 }</string>
	
								<string>{ -113.31379,3.92961 }</string>
	
								<string>{ -167.85924,0.41055 }</string>
	
								<string>{ -240.29326,15.36656 }</string>
	
								<string>{ -240.87977,32.49266 }</string>
	
								<string>{ -156.71555,49.67741 }</string>
	
								<string>{ -94.42816,52.14076 }</string>

							</array>

							<array>
	
								<string>{ -167.85924,0.41055 }</string>
	
								<string>{ -113.31379,3.92961 }</string>
	
								<string>{ -134.13490,-10.73314 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 9.26686,-111.61290 }</string>
	
								<string>{ -12.72728,-142.69795 }</string>
	
								<string>{ -17.12610,-87.56599 }</string>

							</array>

							<array>
	
								<string>{ 27.44867,-123.92962 }</string>
	
								<string>{ -12.72728,-142.69795 }</string>
	
								<string>{ 9.26686,-111.61290 }</string>

							</array>

							<array>
	
								<string>{ -94.25220,-78.76833 }</string>
	
								<string>{ -117.12611,-30.96774 }</string>
	
								<string>{ -94.13490,-14.42816 }</string>

							</array>

							<array>
	
								<string>{ -94.25220,-78.76833 }</string>
	
								<string>{ -96.30499,-138.00587 }</string>
	
								<string>{ -144.98534,-46.21701 }</string>
	
								<string>{ -117.12611,-30.96774 }</string>

							</array>

							<array>
	
								<string>{ 138.59238,-74.07625 }</string>
	
								<string>{ 133.60703,-101.05572 }</string>
	
								<string>{ 96.95013,-90.20528 }</string>
	
								<string>{ 79.94135,-71.14370 }</string>
	
								<string>{ 96.65689,-52.96188 }</string>
	
								<string>{ 125.10263,-53.54839 }</string>

							</array>

							<array>
	
								<string>{ -30.61584,-31.84750 }</string>
	
								<string>{ 2.22873,-49.14957 }</string>
	
								<string>{ -30.90910,-46.80352 }</string>

							</array>

							<array>
	
								<string>{ -204.22287,-70.85044 }</string>
	
								<string>{ -96.30499,-138.00587 }</string>
	
								<string>{ -89.85338,-148.26980 }</string>
	
								<string>{ -240.29326,-160.00000 }</string>
	
								<string>{ -240.29326,-79.23754 }</string>

							</array>

							<array>
	
								<string>{ -96.30499,-138.00587 }</string>
	
								<string>{ -174.60411,-59.70675 }</string>
	
								<string>{ -144.98534,-46.21701 }</string>

							</array>

							<array>
	
								<string>{ -33.84164,-14.54546 }</string>
	
								<string>{ 28.32843,-36.83285 }</string>
	
								<string>{ 47.97653,-57.06745 }</string>
	
								<string>{ 2.22873,-49.14957 }</string>
	
								<string>{ -30.61584,-31.84750 }</string>

							</array>

							<array>
	
								<string>{ 62.05276,-47.09678 }</string>
	
								<string>{ 79.94135,-71.14370 }</string>
	
								<string>{ 47.97653,-57.06745 }</string>
	
								<string>{ 28.32843,-36.83285 }</string>

							</array>

							<array>
	
								<string>{ 96.65689,-52.96188 }</string>
	
								<string>{ 79.94135,-71.14370 }</string>
	
								<string>{ 62.05276,-47.09678 }</string>

							</array>

							<array>
	
								<string>{ 133.60703,-101.05572 }</string>
	
								<string>{ 133.60703,-125.10264 }</string>
	
								<string>{ 96.65689,-110.14663 }</string>
	
								<string>{ 96.95013,-90.20528 }</string>

							</array>

							<array>
	
								<string>{ 133.60703,-125.10264 }</string>
	
								<string>{ 138.00586,-136.53959 }</string>
	
								<string>{ 87.85922,-123.34311 }</string>
	
								<string>{ 96.65689,-110.14663 }</string>

							</array>

							<array>
	
								<string>{ 48.85629,-131.84751 }</string>
	
								<string>{ -19.47215,-148.56305 }</string>
	
								<string>{ -12.72728,-142.69795 }</string>
	
								<string>{ 27.44867,-123.92962 }</string>

							</array>

							<array>
	
								<string>{ -96.30499,-138.00587 }</string>
	
								<string>{ -204.22287,-70.85044 }</string>
	
								<string>{ -174.60411,-59.70675 }</string>

							</array>

							<array>
	
								<string>{ 138.00586,-136.53959 }</string>
	
								<string>{ 153.84164,-146.51026 }</string>
	
								<string>{ 74.07623,-130.96774 }</string>
	
								<string>{ 87.85922,-123.34311 }</string>

							</array>

							<array>
	
								<string>{ 241.52490,-160.29326 }</string>
	
								<string>{ -240.29326,-160.00000 }</string>
	
								<string>{ -19.47215,-148.56305 }</string>
	
								<string>{ 153.84164,-146.51026 }</string>
	
								<string>{ 240.35190,-149.44282 }</string>

							</array>

							<array>
	
								<string>{ 74.07623,-130.96774 }</string>
	
								<string>{ 153.84164,-146.51026 }</string>
	
								<string>{ -19.47215,-148.56305 }</string>
	
								<string>{ 48.85629,-131.84751 }</string>

							</array>

							<array>
	
								<string>{ -240.29326,-160.00000 }</string>
	
								<string>{ -89.85338,-148.26980 }</string>
	
								<string>{ -19.47215,-148.56305 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -24.75073,52.43401 }</string>
	
								<string>{ 39.17886,52.90321 }</string>
	
								<string>{ 25.10263,20.64516 }</string>
	
								<string>{ -20.35191,13.90028 }</string>

							</array>

							<array>
	
								<string>{ 139.76538,-47.09678 }</string>
	
								<string>{ 146.80350,-39.17889 }</string>
	
								<string>{ 171.43695,-15.42522 }</string>
	
								<string>{ 176.42227,-42.99120 }</string>
	
								<string>{ 169.38416,-60.00000 }</string>
	
								<string>{ 151.20233,-66.15836 }</string>

							</array>

							<array>
	
								<string>{ 39.17886,52.90321 }</string>
	
								<string>{ 105.16129,47.91788 }</string>
	
								<string>{ 85.80646,21.81818 }</string>
	
								<string>{ 25.10263,20.64516 }</string>

							</array>

							<array>
	
								<string>{ 176.42227,-42.99120 }</string>
	
								<string>{ 171.43695,-15.42522 }</string>
	
								<string>{ 186.39294,-31.55426 }</string>

							</array>

							<array>
	
								<string>{ 105.16129,47.91788 }</string>
	
								<string>{ 178.00586,37.18475 }</string>
	
								<string>{ 125.39587,13.31378 }</string>
	
								<string>{ 85.80646,21.81818 }</string>

							</array>

							<array>
	
								<string>{ 178.00586,37.18475 }</string>
	
								<string>{ 142.99118,0.41055 }</string>
	
								<string>{ 125.39587,13.31378 }</string>

							</array>

							<array>
	
								<string>{ 178.00586,37.18475 }</string>
	
								<string>{ 177.59531,28.85629 }</string>
	
								<string>{ 170.85043,17.12610 }</string>
	
								<string>{ 149.44281,-15.13197 }</string>
	
								<string>{ 142.99118,0.41055 }</string>

							</array>

							<array>
	
								<string>{ 170.85043,17.12610 }</string>
	
								<string>{ 149.44281,-26.86217 }</string>
	
								<string>{ 149.44281,-15.13197 }</string>

							</array>

							<array>
	
								<string>{ 170.85043,17.12610 }</string>
	
								<string>{ 146.80350,-39.17889 }</string>
	
								<string>{ 149.44281,-26.86217 }</string>

							</array>

							<array>
	
								<string>{ 146.80350,-39.17889 }</string>
	
								<string>{ 167.03812,-3.98828 }</string>
	
								<string>{ 171.43695,-15.42522 }</string>

							</array>

							<array>
	
								<string>{ 146.80350,-39.17889 }</string>
	
								<string>{ 167.03812,7.74193 }</string>
	
								<string>{ 167.03812,-3.98828 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 239.76538,-15.13197 }</string>
	
								<string>{ 203.10849,-18.94429 }</string>
	
								<string>{ 197.82990,25.04399 }</string>
	
								<string>{ 199.00293,38.06451 }</string>
	
								<string>{ 240.46921,31.61290 }</string>

							</array>

							<array>
	
								<string>{ 187.85922,4.51613 }</string>
	
								<string>{ 193.13782,13.90028 }</string>
	
								<string>{ 203.10849,-18.94429 }</string>
	
								<string>{ 192.55130,-9.56012 }</string>
	
								<string>{ 187.56598,-2.52200 }</string>

							</array>

							<array>
	
								<string>{ 197.82990,25.04399 }</string>
	
								<string>{ 203.10849,-18.94429 }</string>
	
								<string>{ 193.13782,13.90028 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

