<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C43</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -58.15695,-52.40543 }</string>
	
								<string>{ -42.92149,-75.39712 }</string>
	
								<string>{ -74.14453,-62.97120 }</string>
	
								<string>{ -72.18575,-46.05396 }</string>

							</array>

							<array>
	
								<string>{ -73.39241,47.59457 }</string>
	
								<string>{ -93.89102,35.12920 }</string>
	
								<string>{ -102.75529,51.74969 }</string>

							</array>

							<array>
	
								<string>{ 105.00095,99.94916 }</string>
	
								<string>{ 114.69623,92.46992 }</string>
	
								<string>{ 123.00647,83.32864 }</string>
	
								<string>{ 95.30566,83.88266 }</string>
	
								<string>{ 93.08960,104.10428 }</string>

							</array>

							<array>
	
								<string>{ -73.39241,47.59457 }</string>
	
								<string>{ -45.13756,42.88544 }</string>
	
								<string>{ -88.35086,20.72478 }</string>
	
								<string>{ -93.89102,35.12920 }</string>

							</array>

							<array>
	
								<string>{ 78.68515,161.99902 }</string>
	
								<string>{ 168.15884,144.54749 }</string>
	
								<string>{ 162.06467,137.89929 }</string>
	
								<string>{ 105.83197,135.12921 }</string>
	
								<string>{ 85.05634,140.11536 }</string>

							</array>

							<array>
	
								<string>{ 123.00647,83.32864 }</string>
	
								<string>{ 128.26965,74.74139 }</string>
	
								<string>{ 133.25580,63.66106 }</string>
	
								<string>{ 125.72397,24.62590 }</string>
	
								<string>{ 93.08960,70.03226 }</string>
	
								<string>{ 95.30566,83.88266 }</string>

							</array>

							<array>
	
								<string>{ -85.38268,6.91380 }</string>
	
								<string>{ -88.35086,20.72478 }</string>
	
								<string>{ -45.13756,42.88544 }</string>
	
								<string>{ -20.20682,36.79126 }</string>
	
								<string>{ -32.67220,3.82727 }</string>
	
								<string>{ -55.66388,-8.08409 }</string>

							</array>

							<array>
	
								<string>{ 139.34998,115.46161 }</string>
	
								<string>{ 162.06467,137.89929 }</string>
	
								<string>{ 147.93723,106.59735 }</string>

							</array>

							<array>
	
								<string>{ -42.92149,-75.39712 }</string>
	
								<string>{ -23.80792,-97.83479 }</string>
	
								<string>{ -76.89488,-74.88255 }</string>
	
								<string>{ -74.14453,-62.97120 }</string>

							</array>

							<array>
	
								<string>{ 129.93170,122.94083 }</string>
	
								<string>{ 162.06467,137.89929 }</string>
	
								<string>{ 139.34998,115.46161 }</string>

							</array>

							<array>
	
								<string>{ 47.97916,17.20750 }</string>
	
								<string>{ 41.56604,4.93530 }</string>
	
								<string>{ 11.09512,8.25940 }</string>
	
								<string>{ 18.85135,29.58904 }</string>
	
								<string>{ 41.28903,27.92699 }</string>

							</array>

							<array>
	
								<string>{ 79.51617,41.22339 }</string>
	
								<string>{ 98.07574,-16.67136 }</string>
	
								<string>{ 85.61035,-9.46913 }</string>
	
								<string>{ 68.19666,23.55568 }</string>
	
								<string>{ 71.75995,35.68323 }</string>

							</array>

							<array>
	
								<string>{ -134.88826,22.94084 }</string>
	
								<string>{ -143.75253,55.07381 }</string>
	
								<string>{ -122.42288,19.06271 }</string>

							</array>

							<array>
	
								<string>{ -148.46167,23.77187 }</string>
	
								<string>{ -143.75253,55.07381 }</string>
	
								<string>{ -134.88826,22.94084 }</string>

							</array>

							<array>
	
								<string>{ -162.03507,21.00179 }</string>
	
								<string>{ -284.90792,58.03159 }</string>
	
								<string>{ -143.75253,55.07381 }</string>
	
								<string>{ -148.46167,23.77187 }</string>

							</array>

							<array>
	
								<string>{ 118.57434,130.14307 }</string>
	
								<string>{ 162.06467,137.89929 }</string>
	
								<string>{ 129.93170,122.94083 }</string>

							</array>

							<array>
	
								<string>{ -20.20682,36.79126 }</string>
	
								<string>{ 18.85135,29.58904 }</string>
	
								<string>{ -8.57248,7.98239 }</string>
	
								<string>{ -32.67220,3.82727 }</string>

							</array>

							<array>
	
								<string>{ 18.85135,29.58904 }</string>
	
								<string>{ 11.09512,8.25940 }</string>
	
								<string>{ -8.57248,7.98239 }</string>

							</array>

							<array>
	
								<string>{ 60.14532,16.61403 }</string>
	
								<string>{ 70.65192,-2.26692 }</string>
	
								<string>{ 41.56604,4.93530 }</string>
	
								<string>{ 47.97916,17.20750 }</string>

							</array>

							<array>
	
								<string>{ 68.19666,23.55568 }</string>
	
								<string>{ 85.61035,-9.46913 }</string>
	
								<string>{ 70.65192,-2.26692 }</string>
	
								<string>{ 60.14532,16.61403 }</string>

							</array>

							<array>
	
								<string>{ 127.71564,-12.51622 }</string>
	
								<string>{ 98.07574,-16.67136 }</string>
	
								<string>{ 90.04248,58.95192 }</string>
	
								<string>{ 93.08960,70.03226 }</string>
	
								<string>{ 125.72397,24.62590 }</string>

							</array>

							<array>
	
								<string>{ -23.80792,-97.83479 }</string>
	
								<string>{ -6.07941,-114.73230 }</string>
	
								<string>{ -82.79097,-84.00410 }</string>
	
								<string>{ -76.89488,-74.88255 }</string>

							</array>

							<array>
	
								<string>{ 105.83197,135.12921 }</string>
	
								<string>{ 162.06467,137.89929 }</string>
	
								<string>{ 118.57434,130.14307 }</string>

							</array>

							<array>
	
								<string>{ 85.05634,48.70261 }</string>
	
								<string>{ 98.07574,-16.67136 }</string>
	
								<string>{ 79.51617,41.22339 }</string>

							</array>

							<array>
	
								<string>{ -6.07941,-114.73230 }</string>
	
								<string>{ -90.28992,-90.35557 }</string>
	
								<string>{ -82.79097,-84.00410 }</string>

							</array>

							<array>
	
								<string>{ 90.04248,58.95192 }</string>
	
								<string>{ 98.07574,-16.67136 }</string>
	
								<string>{ 85.05634,48.70261 }</string>

							</array>

							<array>
	
								<string>{ 132.70178,-25.53561 }</string>
	
								<string>{ 105.00095,-24.70459 }</string>
	
								<string>{ 98.07574,-16.67136 }</string>
	
								<string>{ 127.71564,-12.51622 }</string>

							</array>

							<array>
	
								<string>{ 132.70178,-25.53561 }</string>
	
								<string>{ 108.87906,-31.90681 }</string>
	
								<string>{ 105.00095,-24.70459 }</string>

							</array>

							<array>
	
								<string>{ 132.70178,-25.53561 }</string>
	
								<string>{ 141.28903,-36.33894 }</string>
	
								<string>{ 112.20316,-41.60210 }</string>
	
								<string>{ 108.87906,-31.90681 }</string>

							</array>

							<array>
	
								<string>{ 141.28903,-36.33894 }</string>
	
								<string>{ 155.97049,-42.71014 }</string>
	
								<string>{ 113.58820,-50.74338 }</string>
	
								<string>{ 112.20316,-41.60210 }</string>

							</array>

							<array>
	
								<string>{ 155.97049,-42.71014 }</string>
	
								<string>{ 112.20316,-64.03977 }</string>
	
								<string>{ 113.58820,-50.74338 }</string>

							</array>

							<array>
	
								<string>{ 155.97049,-42.71014 }</string>
	
								<string>{ 170.92892,-44.37218 }</string>
	
								<string>{ 108.60205,-77.89019 }</string>
	
								<string>{ 112.20316,-64.03977 }</string>

							</array>

							<array>
	
								<string>{ 170.92892,-44.37218 }</string>
	
								<string>{ 185.05634,-43.26415 }</string>
	
								<string>{ 103.06189,-89.80155 }</string>
	
								<string>{ 108.60205,-77.89019 }</string>

							</array>

							<array>
	
								<string>{ -6.07941,-114.73230 }</string>
	
								<string>{ -98.32317,-94.51069 }</string>
	
								<string>{ -90.28992,-90.35557 }</string>

							</array>

							<array>
	
								<string>{ -173.11541,16.29263 }</string>
	
								<string>{ -284.90792,58.03159 }</string>
	
								<string>{ -162.03507,21.00179 }</string>

							</array>

							<array>
	
								<string>{ -182.53369,10.47546 }</string>
	
								<string>{ -284.90792,58.03159 }</string>
	
								<string>{ -173.11541,16.29263 }</string>

							</array>

							<array>
	
								<string>{ -188.62788,2.71922 }</string>
	
								<string>{ -284.90792,58.03159 }</string>
	
								<string>{ -182.53369,10.47546 }</string>

							</array>

							<array>
	
								<string>{ -188.62788,2.71922 }</string>
	
								<string>{ -193.06001,-5.86803 }</string>
	
								<string>{ -284.23856,-160.55402 }</string>
	
								<string>{ -284.90792,58.03159 }</string>

							</array>

							<array>
	
								<string>{ 185.05634,-43.26415 }</string>
	
								<string>{ 199.73779,-37.44698 }</string>
	
								<string>{ 95.58267,-100.88188 }</string>
	
								<string>{ 103.06189,-89.80155 }</string>

							</array>

							<array>
	
								<string>{ 78.68515,161.99902 }</string>
	
								<string>{ 175.63806,147.59457 }</string>
	
								<string>{ 168.15884,144.54749 }</string>

							</array>

							<array>
	
								<string>{ 284.61749,160.88644 }</string>
	
								<string>{ 175.63806,147.59457 }</string>
	
								<string>{ 78.68515,161.99902 }</string>

							</array>

							<array>
	
								<string>{ 284.61749,160.88644 }</string>
	
								<string>{ 188.93448,137.89929 }</string>
	
								<string>{ 175.63806,147.59457 }</string>

							</array>

							<array>
	
								<string>{ 284.61749,160.88644 }</string>
	
								<string>{ 198.07574,118.50870 }</string>
	
								<string>{ 188.93448,137.89929 }</string>

							</array>

							<array>
	
								<string>{ 284.61749,160.88644 }</string>
	
								<string>{ 210.26410,81.66660 }</string>
	
								<string>{ 198.07574,118.50870 }</string>

							</array>

							<array>
	
								<string>{ 284.98383,-160.23856 }</string>
	
								<string>{ 215.25024,61.16798 }</string>
	
								<string>{ 210.26410,81.66660 }</string>
	
								<string>{ 284.61749,160.88644 }</string>

							</array>

							<array>
	
								<string>{ -6.07941,-114.73230 }</string>
	
								<string>{ 9.43307,-121.10349 }</string>
	
								<string>{ -107.74144,-95.89573 }</string>
	
								<string>{ -98.32317,-94.51069 }</string>

							</array>

							<array>
	
								<string>{ 9.43307,-121.10349 }</string>
	
								<string>{ -284.23856,-160.55402 }</string>
	
								<string>{ -115.77469,-95.89573 }</string>
	
								<string>{ -107.74144,-95.89573 }</string>

							</array>

							<array>
	
								<string>{ 199.73779,-37.44698 }</string>
	
								<string>{ 284.98383,-160.23856 }</string>
	
								<string>{ 84.77933,-109.46914 }</string>
	
								<string>{ 95.58267,-100.88188 }</string>

							</array>

							<array>
	
								<string>{ -140.15141,-88.41650 }</string>
	
								<string>{ -284.23856,-160.55402 }</string>
	
								<string>{ -156.77192,-80.10625 }</string>

							</array>

							<array>
	
								<string>{ 284.98383,-160.23856 }</string>
	
								<string>{ 217.46631,39.28433 }</string>
	
								<string>{ 215.25024,61.16798 }</string>

							</array>

							<array>
	
								<string>{ 284.98383,-160.23856 }</string>
	
								<string>{ 219.40536,13.79956 }</string>
	
								<string>{ 217.46631,39.28433 }</string>

							</array>

							<array>
	
								<string>{ 284.98383,-160.23856 }</string>
	
								<string>{ 218.29733,-0.88188 }</string>
	
								<string>{ 219.40536,13.79956 }</string>

							</array>

							<array>
	
								<string>{ 284.98383,-160.23856 }</string>
	
								<string>{ 214.97324,-16.39435 }</string>
	
								<string>{ 218.29733,-0.88188 }</string>

							</array>

							<array>
	
								<string>{ 284.98383,-160.23856 }</string>
	
								<string>{ 209.43307,-28.02869 }</string>
	
								<string>{ 214.97324,-16.39435 }</string>

							</array>

							<array>
	
								<string>{ 284.98383,-160.23856 }</string>
	
								<string>{ 199.73779,-37.44698 }</string>
	
								<string>{ 209.43307,-28.02869 }</string>

							</array>

							<array>
	
								<string>{ 284.98383,-160.23856 }</string>
	
								<string>{ 73.14499,-115.56332 }</string>
	
								<string>{ 84.77933,-109.46914 }</string>

							</array>

							<array>
	
								<string>{ 284.98383,-160.23856 }</string>
	
								<string>{ 63.17270,-120.27246 }</string>
	
								<string>{ 73.14499,-115.56332 }</string>

							</array>

							<array>
	
								<string>{ 284.98383,-160.23856 }</string>
	
								<string>{ 50.15329,-123.04255 }</string>
	
								<string>{ 63.17270,-120.27246 }</string>

							</array>

							<array>
	
								<string>{ 284.98383,-160.23856 }</string>
	
								<string>{ 36.57990,-124.98161 }</string>
	
								<string>{ 50.15329,-123.04255 }</string>

							</array>

							<array>
	
								<string>{ -284.23856,-160.55402 }</string>
	
								<string>{ 22.45245,-123.59656 }</string>
	
								<string>{ 36.57990,-124.98161 }</string>
	
								<string>{ 284.98383,-160.23856 }</string>

							</array>

							<array>
	
								<string>{ -284.23856,-160.55402 }</string>
	
								<string>{ 9.43307,-121.10349 }</string>
	
								<string>{ 22.45245,-123.59656 }</string>

							</array>

							<array>
	
								<string>{ -284.23856,-160.55402 }</string>
	
								<string>{ -123.25391,-94.23368 }</string>
	
								<string>{ -115.77469,-95.89573 }</string>

							</array>

							<array>
	
								<string>{ -284.23856,-160.55402 }</string>
	
								<string>{ -132.11818,-92.01762 }</string>
	
								<string>{ -123.25391,-94.23368 }</string>

							</array>

							<array>
	
								<string>{ -284.23856,-160.55402 }</string>
	
								<string>{ -140.15141,-88.41650 }</string>
	
								<string>{ -132.11818,-92.01762 }</string>

							</array>

							<array>
	
								<string>{ -284.23856,-160.55402 }</string>
	
								<string>{ -166.19020,-74.28909 }</string>
	
								<string>{ -156.77192,-80.10625 }</string>

							</array>

							<array>
	
								<string>{ -284.23856,-160.55402 }</string>
	
								<string>{ -175.33147,-66.80986 }</string>
	
								<string>{ -166.19020,-74.28909 }</string>

							</array>

							<array>
	
								<string>{ -284.23856,-160.55402 }</string>
	
								<string>{ -183.64172,-59.33064 }</string>
	
								<string>{ -175.33147,-66.80986 }</string>

							</array>

							<array>
	
								<string>{ -284.23856,-160.55402 }</string>
	
								<string>{ -191.12095,-49.91235 }</string>
	
								<string>{ -183.64172,-59.33064 }</string>

							</array>

							<array>
	
								<string>{ -284.23856,-160.55402 }</string>
	
								<string>{ -196.38411,-38.55501 }</string>
	
								<string>{ -191.12095,-49.91235 }</string>

							</array>

							<array>
	
								<string>{ -284.23856,-160.55402 }</string>
	
								<string>{ -197.21513,-27.19766 }</string>
	
								<string>{ -196.38411,-38.55501 }</string>

							</array>

							<array>
	
								<string>{ -284.23856,-160.55402 }</string>
	
								<string>{ -196.66112,-16.67136 }</string>
	
								<string>{ -197.21513,-27.19766 }</string>

							</array>

							<array>
	
								<string>{ -284.23856,-160.55402 }</string>
	
								<string>{ -193.06001,-5.86803 }</string>
	
								<string>{ -196.66112,-16.67136 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

