<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C39</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -98.72575,29.19669 }</string>
	
								<string>{ -206.75900,-2.38226 }</string>
	
								<string>{ -240.27701,-7.09142 }</string>
	
								<string>{ -240.27701,52.29918 }</string>

							</array>

							<array>
	
								<string>{ -36.39888,-47.81163 }</string>
	
								<string>{ -48.03323,-40.05540 }</string>
	
								<string>{ -59.11357,-20.94182 }</string>
	
								<string>{ 7.64543,-22.60387 }</string>
	
								<string>{ 0.72023,-47.53462 }</string>

							</array>

							<array>
	
								<string>{ -59.11357,-20.94182 }</string>
	
								<string>{ -76.84210,-4.87534 }</string>
	
								<string>{ -98.72575,29.19669 }</string>
	
								<string>{ -15.90027,9.52908 }</string>
	
								<string>{ 16.89752,-0.88643 }</string>
	
								<string>{ 17.34073,-5.42935 }</string>
	
								<string>{ 7.64543,-22.60387 }</string>

							</array>

							<array>
	
								<string>{ -99.83379,1.49585 }</string>
	
								<string>{ -98.72575,29.19669 }</string>
	
								<string>{ -76.84210,-4.87534 }</string>

							</array>

							<array>
	
								<string>{ -125.59557,3.15790 }</string>
	
								<string>{ -98.72575,29.19669 }</string>
	
								<string>{ -99.83379,1.49585 }</string>

							</array>

							<array>
	
								<string>{ -151.91135,3.98892 }</string>
	
								<string>{ -98.72575,29.19669 }</string>
	
								<string>{ -125.59557,3.15790 }</string>

							</array>

							<array>
	
								<string>{ -178.22715,1.49585 }</string>
	
								<string>{ -98.72575,29.19669 }</string>
	
								<string>{ -151.91135,3.98892 }</string>

							</array>

							<array>
	
								<string>{ -206.75900,-2.38226 }</string>
	
								<string>{ -98.72575,29.19669 }</string>
	
								<string>{ -178.22715,1.49585 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 91.02493,44.70915 }</string>
	
								<string>{ 112.90860,48.31026 }</string>
	
								<string>{ 93.24100,5.37396 }</string>
	
								<string>{ 38.67038,27.81165 }</string>

							</array>

							<array>
	
								<string>{ 112.90860,48.31026 }</string>
	
								<string>{ 144.48755,40.00000 }</string>
	
								<string>{ 131.46814,-15.95567 }</string>
	
								<string>{ 93.24100,5.37396 }</string>

							</array>

							<array>
	
								<string>{ 186.59280,29.19669 }</string>
	
								<string>{ 131.46814,-15.95567 }</string>
	
								<string>{ 144.48755,40.00000 }</string>

							</array>

							<array>
	
								<string>{ -214.51523,-82.99168 }</string>
	
								<string>{ -240.83102,-160.27701 }</string>
	
								<string>{ -240.83102,-77.34072 }</string>

							</array>

							<array>
	
								<string>{ 222.88089,21.16344 }</string>
	
								<string>{ 147.25763,-27.31302 }</string>
	
								<string>{ 131.46814,-15.95567 }</string>
	
								<string>{ 186.59280,29.19669 }</string>

							</array>

							<array>
	
								<string>{ -189.30748,-87.70083 }</string>
	
								<string>{ -240.83102,-160.27701 }</string>
	
								<string>{ -214.51523,-82.99168 }</string>

							</array>

							<array>
	
								<string>{ -159.94460,-91.85596 }</string>
	
								<string>{ -240.83102,-160.27701 }</string>
	
								<string>{ -189.30748,-87.70083 }</string>

							</array>

							<array>
	
								<string>{ 114.57065,-73.57340 }</string>
	
								<string>{ 93.51801,-94.90305 }</string>
	
								<string>{ 81.32965,-84.37673 }</string>
	
								<string>{ 79.66760,-77.17451 }</string>

							</array>

							<array>
	
								<string>{ 114.57065,-73.57340 }</string>
	
								<string>{ 134.23825,-69.69529 }</string>
	
								<string>{ 100.44324,-107.92244 }</string>
	
								<string>{ 93.51801,-94.90305 }</string>

							</array>

							<array>
	
								<string>{ -1.49583,-89.08587 }</string>
	
								<string>{ -43.87811,-80.77562 }</string>
	
								<string>{ 0.55402,-80.11080 }</string>

							</array>

							<array>
	
								<string>{ -2.88087,-109.03047 }</string>
	
								<string>{ -43.87811,-80.77562 }</string>
	
								<string>{ -1.49583,-89.08587 }</string>

							</array>

							<array>
	
								<string>{ -0.66481,-145.87258 }</string>
	
								<string>{ -91.80055,-89.91689 }</string>
	
								<string>{ -71.02493,-82.99168 }</string>
	
								<string>{ -43.87811,-80.77562 }</string>
	
								<string>{ -2.88087,-109.03047 }</string>

							</array>

							<array>
	
								<string>{ 134.23825,-69.69529 }</string>
	
								<string>{ 146.70361,-64.98615 }</string>
	
								<string>{ 104.32135,-121.49584 }</string>
	
								<string>{ 100.44324,-107.92244 }</string>

							</array>

							<array>
	
								<string>{ 222.88089,21.16344 }</string>
	
								<string>{ 240.33243,18.94737 }</string>
	
								<string>{ 155.29086,-37.00831 }</string>
	
								<string>{ 147.25763,-27.31302 }</string>

							</array>

							<array>
	
								<string>{ 241.44046,-160.00000 }</string>
	
								<string>{ 159.44598,-44.48753 }</string>
	
								<string>{ 155.29086,-37.00831 }</string>
	
								<string>{ 240.33243,18.94737 }</string>

							</array>

							<array>
	
								<string>{ -138.06094,-92.96399 }</string>
	
								<string>{ -240.83102,-160.27701 }</string>
	
								<string>{ -159.94460,-91.85596 }</string>

							</array>

							<array>
	
								<string>{ 146.70361,-64.98615 }</string>
	
								<string>{ 155.29086,-60.27701 }</string>
	
								<string>{ 241.44046,-160.00000 }</string>
	
								<string>{ 103.76733,-136.45429 }</string>
	
								<string>{ 104.32135,-121.49584 }</string>

							</array>

							<array>
	
								<string>{ -0.66481,-145.87258 }</string>
	
								<string>{ -240.83102,-160.27701 }</string>
	
								<string>{ -113.40720,-91.57895 }</string>
	
								<string>{ -91.80055,-89.91689 }</string>

							</array>

							<array>
	
								<string>{ -113.40720,-91.57895 }</string>
	
								<string>{ -240.83102,-160.27701 }</string>
	
								<string>{ -138.06094,-92.96399 }</string>

							</array>

							<array>
	
								<string>{ -0.66481,-145.87258 }</string>
	
								<string>{ 96.84210,-146.98061 }</string>
	
								<string>{ 241.44046,-160.00000 }</string>
	
								<string>{ -240.83102,-160.27701 }</string>

							</array>

							<array>
	
								<string>{ 103.76733,-136.45429 }</string>
	
								<string>{ 241.44046,-160.00000 }</string>
	
								<string>{ 96.84210,-146.98061 }</string>

							</array>

							<array>
	
								<string>{ 159.44598,-52.52077 }</string>
	
								<string>{ 241.44046,-160.00000 }</string>
	
								<string>{ 155.29086,-60.27701 }</string>

							</array>

							<array>
	
								<string>{ 159.44598,-44.48753 }</string>
	
								<string>{ 241.44046,-160.00000 }</string>
	
								<string>{ 159.44598,-52.52077 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -36.39888,82.10527 }</string>
	
								<string>{ -30.02769,51.63435 }</string>
	
								<string>{ -47.20221,55.78947 }</string>

							</array>

							<array>
	
								<string>{ -36.39888,82.10527 }</string>
	
								<string>{ -31.96675,107.59003 }</string>
	
								<string>{ 49.47369,63.54572 }</string>
	
								<string>{ -15.34625,45.81718 }</string>
	
								<string>{ -30.02769,51.63435 }</string>

							</array>

							<array>
	
								<string>{ 75.62329,160.88644 }</string>
	
								<string>{ 39.22440,149.41830 }</string>
	
								<string>{ -31.13573,132.52078 }</string>
	
								<string>{ -34.45982,160.88644 }</string>

							</array>

							<array>
	
								<string>{ -31.13573,132.52078 }</string>
	
								<string>{ 22.60388,91.80057 }</string>
	
								<string>{ 49.47369,63.54572 }</string>
	
								<string>{ -31.96675,107.59003 }</string>

							</array>

							<array>
	
								<string>{ 49.47369,63.54572 }</string>
	
								<string>{ 22.60388,91.80057 }</string>
	
								<string>{ 46.42661,74.90306 }</string>

							</array>

							<array>
	
								<string>{ -31.13573,132.52078 }</string>
	
								<string>{ 12.07758,104.26593 }</string>
	
								<string>{ 22.60388,91.80057 }</string>

							</array>

							<array>
	
								<string>{ -31.13573,132.52078 }</string>
	
								<string>{ 10.96954,117.00833 }</string>
	
								<string>{ 12.07758,104.26593 }</string>

							</array>

							<array>
	
								<string>{ -31.13573,132.52078 }</string>
	
								<string>{ 15.67868,130.30472 }</string>
	
								<string>{ 10.96954,117.00833 }</string>

							</array>

							<array>
	
								<string>{ -31.13573,132.52078 }</string>
	
								<string>{ 26.75900,140.55402 }</string>
	
								<string>{ 15.67868,130.30472 }</string>

							</array>

							<array>
	
								<string>{ -31.13573,132.52078 }</string>
	
								<string>{ 39.22440,149.41830 }</string>
	
								<string>{ 26.75900,140.55402 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

