<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C42</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 86.86981,0.38782 }</string>
	
								<string>{ 104.87537,-4.59833 }</string>
	
								<string>{ 120.38782,-11.24654 }</string>
	
								<string>{ 132.85321,-19.00276 }</string>
	
								<string>{ 73.29642,-45.59557 }</string>
	
								<string>{ 71.08035,-31.19113 }</string>
	
								<string>{ 69.69531,1.49585 }</string>

							</array>

							<array>
	
								<string>{ 37.00833,-22.88089 }</string>
	
								<string>{ -13.13019,-28.97507 }</string>
	
								<string>{ -11.74515,-11.52354 }</string>
	
								<string>{ 35.90030,-0.16620 }</string>

							</array>

							<array>
	
								<string>{ -178.78116,-12.07756 }</string>
	
								<string>{ -165.48476,-50.85872 }</string>
	
								<string>{ -166.03878,-60.55402 }</string>
	
								<string>{ -240.27701,-160.55402 }</string>
	
								<string>{ -240.55402,-23.32410 }</string>

							</array>

							<array>
	
								<string>{ 39.50140,-43.37950 }</string>
	
								<string>{ 34.23822,-58.61495 }</string>
	
								<string>{ 15.12466,-76.62050 }</string>
	
								<string>{ -17.56232,-45.04155 }</string>
	
								<string>{ -13.13019,-28.97507 }</string>
	
								<string>{ 37.00833,-22.88089 }</string>

							</array>

							<array>
	
								<string>{ -1.21883,-93.51801 }</string>
	
								<string>{ -24.48753,-57.78393 }</string>
	
								<string>{ -17.56232,-45.04155 }</string>
	
								<string>{ 15.12466,-76.62050 }</string>

							</array>

							<array>
	
								<string>{ 129.80609,-101.27423 }</string>
	
								<string>{ 81.88367,-146.14958 }</string>
	
								<string>{ 82.99170,-120.66482 }</string>
	
								<string>{ 132.85321,-19.00276 }</string>
	
								<string>{ 141.99448,-28.97507 }</string>
	
								<string>{ 148.08865,-42.82548 }</string>
	
								<string>{ 151.13574,-61.66205 }</string>

							</array>

							<array>
	
								<string>{ -1.21883,-93.51801 }</string>
	
								<string>{ -12.57617,-106.53740 }</string>
	
								<string>{ -35.84486,-71.91135 }</string>
	
								<string>{ -24.48753,-57.78393 }</string>

							</array>

							<array>
	
								<string>{ -12.57617,-106.53740 }</string>
	
								<string>{ -25.04155,-122.32687 }</string>
	
								<string>{ -50.80331,-82.71468 }</string>
	
								<string>{ -35.84486,-71.91135 }</string>

							</array>

							<array>
	
								<string>{ -25.04155,-122.32687 }</string>
	
								<string>{ -31.41273,-133.40720 }</string>
	
								<string>{ -67.14680,-90.47091 }</string>
	
								<string>{ -50.80331,-82.71468 }</string>

							</array>

							<array>
	
								<string>{ -31.41273,-133.40720 }</string>
	
								<string>{ -82.38226,-94.62604 }</string>
	
								<string>{ -67.14680,-90.47091 }</string>

							</array>

							<array>
	
								<string>{ 132.85321,-19.00276 }</string>
	
								<string>{ 81.32965,-85.20776 }</string>
	
								<string>{ 73.29642,-45.59557 }</string>

							</array>

							<array>
	
								<string>{ 132.85321,-19.00276 }</string>
	
								<string>{ 82.99170,-120.66482 }</string>
	
								<string>{ 81.32965,-85.20776 }</string>

							</array>

							<array>
	
								<string>{ -141.93906,-20.66481 }</string>
	
								<string>{ -178.78116,-12.07756 }</string>
	
								<string>{ -119.11357,-5.31856 }</string>
	
								<string>{ -118.94736,-10.41551 }</string>

							</array>

							<array>
	
								<string>{ -154.68143,-30.36011 }</string>
	
								<string>{ -178.78116,-12.07756 }</string>
	
								<string>{ -141.93906,-20.66481 }</string>

							</array>

							<array>
	
								<string>{ -161.88365,-39.77839 }</string>
	
								<string>{ -178.78116,-12.07756 }</string>
	
								<string>{ -154.68143,-30.36011 }</string>

							</array>

							<array>
	
								<string>{ -165.48476,-50.85872 }</string>
	
								<string>{ -178.78116,-12.07756 }</string>
	
								<string>{ -161.88365,-39.77839 }</string>

							</array>

							<array>
	
								<string>{ -31.41273,-133.40720 }</string>
	
								<string>{ -98.44875,-96.84210 }</string>
	
								<string>{ -82.38226,-94.62604 }</string>

							</array>

							<array>
	
								<string>{ 240.88644,-159.72299 }</string>
	
								<string>{ -240.27701,-160.55402 }</string>
	
								<string>{ 133.13022,-144.48753 }</string>
	
								<string>{ 240.33243,-146.42659 }</string>

							</array>

							<array>
	
								<string>{ -31.41273,-133.40720 }</string>
	
								<string>{ -24.21053,-144.21053 }</string>
	
								<string>{ -240.27701,-160.55402 }</string>
	
								<string>{ -120.60941,-96.56509 }</string>
	
								<string>{ -98.44875,-96.84210 }</string>

							</array>

							<array>
	
								<string>{ 125.65097,-119.55679 }</string>
	
								<string>{ 81.88367,-146.14958 }</string>
	
								<string>{ 129.80609,-101.27423 }</string>

							</array>

							<array>
	
								<string>{ 123.71191,-136.45429 }</string>
	
								<string>{ 81.88367,-146.14958 }</string>
	
								<string>{ 125.65097,-119.55679 }</string>

							</array>

							<array>
	
								<string>{ 133.13022,-144.48753 }</string>
	
								<string>{ 81.88367,-146.14958 }</string>
	
								<string>{ 123.71191,-136.45429 }</string>

							</array>

							<array>
	
								<string>{ -162.99168,-69.97230 }</string>
	
								<string>{ -240.27701,-160.55402 }</string>
	
								<string>{ -166.03878,-60.55402 }</string>

							</array>

							<array>
	
								<string>{ -156.62050,-79.11357 }</string>
	
								<string>{ -240.27701,-160.55402 }</string>
	
								<string>{ -162.99168,-69.97230 }</string>

							</array>

							<array>
	
								<string>{ -145.81717,-86.86980 }</string>
	
								<string>{ -240.27701,-160.55402 }</string>
	
								<string>{ -156.62050,-79.11357 }</string>

							</array>

							<array>
	
								<string>{ -135.56786,-92.40997 }</string>
	
								<string>{ -240.27701,-160.55402 }</string>
	
								<string>{ -145.81717,-86.86980 }</string>

							</array>

							<array>
	
								<string>{ -120.60941,-96.56509 }</string>
	
								<string>{ -240.27701,-160.55402 }</string>
	
								<string>{ -135.56786,-92.40997 }</string>

							</array>

							<array>
	
								<string>{ -240.27701,-160.55402 }</string>
	
								<string>{ -24.21053,-144.21053 }</string>
	
								<string>{ 81.88367,-146.14958 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 66.37119,46.64821 }</string>
	
								<string>{ 89.63989,33.62881 }</string>
	
								<string>{ 67.20224,35.56787 }</string>

							</array>

							<array>
	
								<string>{ 182.16068,-37.00831 }</string>
	
								<string>{ 213.46262,-50.30470 }</string>
	
								<string>{ 191.30194,-53.90582 }</string>
	
								<string>{ 183.82272,-48.91966 }</string>

							</array>

							<array>
	
								<string>{ 239.77841,-50.02769 }</string>
	
								<string>{ 145.59558,14.23824 }</string>
	
								<string>{ 70.24933,94.01663 }</string>
	
								<string>{ 156.39890,83.49031 }</string>
	
								<string>{ 203.76733,73.51801 }</string>
	
								<string>{ 240.44324,63.10249 }</string>

							</array>

							<array>
	
								<string>{ 177.45154,-24.26593 }</string>
	
								<string>{ 239.77841,-50.02769 }</string>
	
								<string>{ 213.46262,-50.30470 }</string>
	
								<string>{ 182.16068,-37.00831 }</string>

							</array>

							<array>
	
								<string>{ 62.21606,57.45152 }</string>
	
								<string>{ 70.24933,94.01663 }</string>
	
								<string>{ 107.36844,30.30472 }</string>
	
								<string>{ 89.63989,33.62881 }</string>
	
								<string>{ 66.37119,46.64821 }</string>

							</array>

							<array>
	
								<string>{ -99.00276,99.66760 }</string>
	
								<string>{ -4.26591,97.61774 }</string>
	
								<string>{ -49.41827,91.24655 }</string>
	
								<string>{ -98.17174,91.24655 }</string>

							</array>

							<array>
	
								<string>{ -4.26591,97.61774 }</string>
	
								<string>{ -23.93352,90.13850 }</string>
	
								<string>{ -49.41827,91.24655 }</string>

							</array>

							<array>
	
								<string>{ -4.26591,97.61774 }</string>
	
								<string>{ -0.11079,88.47646 }</string>
	
								<string>{ -23.93352,90.13850 }</string>

							</array>

							<array>
	
								<string>{ -4.26591,97.61774 }</string>
	
								<string>{ 70.24933,94.01663 }</string>
	
								<string>{ 22.04987,83.49031 }</string>
	
								<string>{ -0.11079,88.47646 }</string>

							</array>

							<array>
	
								<string>{ 70.24933,94.01663 }</string>
	
								<string>{ 40.88644,76.56511 }</string>
	
								<string>{ 22.04987,83.49031 }</string>

							</array>

							<array>
	
								<string>{ 70.24933,94.01663 }</string>
	
								<string>{ 53.90582,68.25485 }</string>
	
								<string>{ 40.88644,76.56511 }</string>

							</array>

							<array>
	
								<string>{ 70.24933,94.01663 }</string>
	
								<string>{ 62.21606,57.45152 }</string>
	
								<string>{ 53.90582,68.25485 }</string>

							</array>

							<array>
	
								<string>{ 172.18839,-12.35457 }</string>
	
								<string>{ 239.77841,-50.02769 }</string>
	
								<string>{ 177.45154,-24.26593 }</string>

							</array>

							<array>
	
								<string>{ 70.24933,94.01663 }</string>
	
								<string>{ 121.21884,25.59557 }</string>
	
								<string>{ 107.36844,30.30472 }</string>

							</array>

							<array>
	
								<string>{ 70.24933,94.01663 }</string>
	
								<string>{ 134.23825,20.88643 }</string>
	
								<string>{ 121.21884,25.59557 }</string>

							</array>

							<array>
	
								<string>{ 163.87814,-1.82825 }</string>
	
								<string>{ 239.77841,-50.02769 }</string>
	
								<string>{ 172.18839,-12.35457 }</string>

							</array>

							<array>
	
								<string>{ 70.24933,94.01663 }</string>
	
								<string>{ 145.59558,14.23824 }</string>
	
								<string>{ 134.23825,20.88643 }</string>

							</array>

							<array>
	
								<string>{ 155.56787,7.03601 }</string>
	
								<string>{ 239.77841,-50.02769 }</string>
	
								<string>{ 163.87814,-1.82825 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -6.20499,54.40443 }</string>
	
								<string>{ -20.88641,44.15514 }</string>
	
								<string>{ -26.70360,56.17729 }</string>

							</array>

							<array>
	
								<string>{ -18.11633,33.07480 }</string>
	
								<string>{ -6.20499,54.40443 }</string>
	
								<string>{ 7.64543,51.63435 }</string>
	
								<string>{ 18.72577,48.03325 }</string>
	
								<string>{ -0.11079,26.42661 }</string>
	
								<string>{ -17.28531,20.88643 }</string>

							</array>

							<array>
	
								<string>{ 15.67868,30.30472 }</string>
	
								<string>{ 18.72577,48.03325 }</string>
	
								<string>{ 29.80609,42.21608 }</string>
	
								<string>{ 33.79501,34.29364 }</string>

							</array>

							<array>
	
								<string>{ -0.11079,26.42661 }</string>
	
								<string>{ 18.72577,48.03325 }</string>
	
								<string>{ 15.67868,30.30472 }</string>

							</array>

							<array>
	
								<string>{ -6.20499,54.40443 }</string>
	
								<string>{ -18.11633,33.07480 }</string>
	
								<string>{ -20.88641,44.15514 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 74.68146,147.47925 }</string>
	
								<string>{ 35.06927,152.46539 }</string>
	
								<string>{ 240.72025,160.88644 }</string>
	
								<string>{ 239.77841,152.18839 }</string>

							</array>

							<array>
	
								<string>{ -240.83102,160.88644 }</string>
	
								<string>{ 240.72025,160.88644 }</string>
	
								<string>{ 35.06927,152.46539 }</string>
	
								<string>{ -240.55402,152.18839 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

