<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C45</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -240.27701,20.99724 }</string>
	
								<string>{ -177.00831,29.03047 }</string>
	
								<string>{ -166.59280,21.71745 }</string>
	
								<string>{ -162.16066,9.25208 }</string>
	
								<string>{ -159.11357,-3.49030 }</string>
	
								<string>{ -157.45152,-19.83379 }</string>
	
								<string>{ -159.11357,-38.67036 }</string>
	
								<string>{ -240.27701,-64.70914 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 10.69254,22.82549 }</string>
	
								<string>{ 20.11081,6.20499 }</string>
	
								<string>{ 26.48199,-19.27977 }</string>
	
								<string>{ -33.62880,-2.65927 }</string>
	
								<string>{ -22.27147,14.51524 }</string>
	
								<string>{ -13.13019,25.59557 }</string>
	
								<string>{ -5.92798,30.02771 }</string>
	
								<string>{ 2.93629,29.75070 }</string>

							</array>

							<array>
	
								<string>{ 26.48199,-19.27977 }</string>
	
								<string>{ 29.52908,-40.33241 }</string>
	
								<string>{ -95.95567,-145.87258 }</string>
	
								<string>{ -69.63988,-77.45152 }</string>
	
								<string>{ -49.97229,-33.68420 }</string>
	
								<string>{ -33.62880,-2.65927 }</string>

							</array>

							<array>
	
								<string>{ 33.13019,-61.10803 }</string>
	
								<string>{ 36.73132,-94.62604 }</string>
	
								<string>{ -95.95567,-145.87258 }</string>
	
								<string>{ 29.52908,-40.33241 }</string>

							</array>

							<array>
	
								<string>{ 40.05542,-107.64543 }</string>
	
								<string>{ -95.95567,-145.87258 }</string>
	
								<string>{ 36.73132,-94.62604 }</string>

							</array>

							<array>
	
								<string>{ 46.14960,-120.94183 }</string>
	
								<string>{ -95.95567,-145.87258 }</string>
	
								<string>{ 40.05542,-107.64543 }</string>

							</array>

							<array>
	
								<string>{ 55.01385,-131.74515 }</string>
	
								<string>{ -95.95567,-145.87258 }</string>
	
								<string>{ 46.14960,-120.94183 }</string>

							</array>

							<array>
	
								<string>{ 240.99725,-160.44321 }</string>
	
								<string>{ -240.00000,-160.27701 }</string>
	
								<string>{ -239.72299,-152.40997 }</string>
	
								<string>{ 85.76178,-143.93352 }</string>
	
								<string>{ 240.33243,-148.64266 }</string>

							</array>

							<array>
	
								<string>{ 65.81717,-140.33241 }</string>
	
								<string>{ -95.95567,-145.87258 }</string>
	
								<string>{ 55.01385,-131.74515 }</string>

							</array>

							<array>
	
								<string>{ 85.76178,-143.93352 }</string>
	
								<string>{ -95.95567,-145.87258 }</string>
	
								<string>{ 65.81717,-140.33241 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -127.53462,-9.58449 }</string>
	
								<string>{ -86.53738,-1.55124 }</string>
	
								<string>{ -105.65097,-15.95567 }</string>
	
								<string>{ -126.70360,-26.48199 }</string>

							</array>

							<array>
	
								<string>{ -128.64265,3.71191 }</string>
	
								<string>{ -86.53738,-1.55124 }</string>
	
								<string>{ -127.53462,-9.58449 }</string>

							</array>

							<array>
	
								<string>{ -133.62881,20.33241 }</string>
	
								<string>{ -126.14958,62.71469 }</string>
	
								<string>{ -65.76176,30.02771 }</string>
	
								<string>{ -73.24100,12.85320 }</string>
	
								<string>{ -86.53738,-1.55124 }</string>
	
								<string>{ -128.64265,3.71191 }</string>

							</array>

							<array>
	
								<string>{ -126.14958,62.71469 }</string>
	
								<string>{ -133.62881,20.33241 }</string>
	
								<string>{ -138.89196,35.56787 }</string>
	
								<string>{ -136.95290,49.97231 }</string>

							</array>

							<array>
	
								<string>{ -122.82548,85.98338 }</string>
	
								<string>{ -60.49861,84.04433 }</string>
	
								<string>{ -59.94460,67.42383 }</string>
	
								<string>{ -61.05263,48.31026 }</string>
	
								<string>{ -65.76176,30.02771 }</string>
	
								<string>{ -126.14958,62.71469 }</string>

							</array>

							<array>
	
								<string>{ 50.85873,100.66483 }</string>
	
								<string>{ 140.88644,138.61496 }</string>
	
								<string>{ 146.42661,114.23822 }</string>

							</array>

							<array>
	
								<string>{ -134.73684,112.29916 }</string>
	
								<string>{ -59.66759,98.72577 }</string>
	
								<string>{ -60.49861,84.04433 }</string>
	
								<string>{ -122.82548,85.98338 }</string>

							</array>

							<array>
	
								<string>{ 50.85873,100.66483 }</string>
	
								<string>{ 41.71747,109.80609 }</string>
	
								<string>{ 140.44324,160.60944 }</string>
	
								<string>{ 140.88644,138.61496 }</string>

							</array>

							<array>
	
								<string>{ -197.89474,160.33243 }</string>
	
								<string>{ -53.85040,110.08310 }</string>
	
								<string>{ -59.66759,98.72577 }</string>
	
								<string>{ -134.73684,112.29916 }</string>

							</array>

							<array>
	
								<string>{ 28.14404,115.62329 }</string>
	
								<string>{ 140.44324,160.60944 }</string>
	
								<string>{ 41.71747,109.80609 }</string>

							</array>

							<array>
	
								<string>{ 7.36842,121.44046 }</string>
	
								<string>{ 140.44324,160.60944 }</string>
	
								<string>{ 28.14404,115.62329 }</string>

							</array>

							<array>
	
								<string>{ 7.36842,121.44046 }</string>
	
								<string>{ -11.74515,123.10251 }</string>
	
								<string>{ -197.89474,160.33243 }</string>
	
								<string>{ 140.44324,160.60944 }</string>

							</array>

							<array>
	
								<string>{ -197.89474,160.33243 }</string>
	
								<string>{ -43.60110,117.28534 }</string>
	
								<string>{ -53.85040,110.08310 }</string>

							</array>

							<array>
	
								<string>{ -197.89474,160.33243 }</string>
	
								<string>{ -28.08864,121.99448 }</string>
	
								<string>{ -43.60110,117.28534 }</string>

							</array>

							<array>
	
								<string>{ -197.89474,160.33243 }</string>
	
								<string>{ -11.74515,123.10251 }</string>
	
								<string>{ -28.08864,121.99448 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 116.78671,-92.68698 }</string>
	
								<string>{ 91.57895,-86.86980 }</string>
	
								<string>{ 100.99725,-27.03601 }</string>
	
								<string>{ 118.17175,-12.90858 }</string>
	
								<string>{ 240.05542,71.85596 }</string>
	
								<string>{ 240.05542,-80.77562 }</string>

							</array>

							<array>
	
								<string>{ 77.17453,-43.10249 }</string>
	
								<string>{ 100.99725,-27.03601 }</string>
	
								<string>{ 91.57895,-86.86980 }</string>
	
								<string>{ 72.46539,-82.71468 }</string>
	
								<string>{ 64.15512,-71.63435 }</string>
	
								<string>{ 63.87811,-57.22991 }</string>

							</array>

							<array>
	
								<string>{ 170.91412,87.47923 }</string>
	
								<string>{ 120.38782,62.71469 }</string>
	
								<string>{ 106.53741,73.35181 }</string>

							</array>

							<array>
	
								<string>{ 170.91412,87.47923 }</string>
	
								<string>{ 183.26871,79.33519 }</string>
	
								<string>{ 130.08310,49.97231 }</string>
	
								<string>{ 120.38782,62.71469 }</string>

							</array>

							<array>
	
								<string>{ 183.26871,79.33519 }</string>
	
								<string>{ 205.98340,74.07202 }</string>
	
								<string>{ 135.06927,37.78394 }</string>
	
								<string>{ 130.08310,49.97231 }</string>

							</array>

							<array>
	
								<string>{ 240.05542,71.85596 }</string>
	
								<string>{ 135.90030,25.87259 }</string>
	
								<string>{ 135.06927,37.78394 }</string>
	
								<string>{ 205.98340,74.07202 }</string>

							</array>

							<array>
	
								<string>{ 240.05542,71.85596 }</string>
	
								<string>{ 134.79227,13.68422 }</string>
	
								<string>{ 135.90030,25.87259 }</string>

							</array>

							<array>
	
								<string>{ 240.05542,71.85596 }</string>
	
								<string>{ 129.52908,0.94183 }</string>
	
								<string>{ 134.79227,13.68422 }</string>

							</array>

							<array>
	
								<string>{ 240.05542,71.85596 }</string>
	
								<string>{ 118.17175,-12.90858 }</string>
	
								<string>{ 129.52908,0.94183 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

