<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C5</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -178.75740,18.99408 }</string>
	
								<string>{ -143.84616,25.20709 }</string>
	
								<string>{ -150.94675,-2.60356 }</string>
	
								<string>{ -171.65681,-2.60356 }</string>

							</array>

							<array>
	
								<string>{ -186.15385,31.71597 }</string>
	
								<string>{ -170.47337,53.60947 }</string>
	
								<string>{ -135.56213,40.59171 }</string>
	
								<string>{ -143.84616,25.20709 }</string>
	
								<string>{ -178.75740,18.99408 }</string>

							</array>

							<array>
	
								<string>{ -218.99408,49.82248 }</string>
	
								<string>{ -170.47337,53.60947 }</string>
	
								<string>{ -203.60947,45.91716 }</string>
	
								<string>{ -217.51479,45.62129 }</string>

							</array>

							<array>
	
								<string>{ -135.56213,40.59171 }</string>
	
								<string>{ -170.47337,53.60947 }</string>
	
								<string>{ -129.28994,48.63905 }</string>

							</array>

							<array>
	
								<string>{ -203.60947,45.91716 }</string>
	
								<string>{ -170.47337,53.60947 }</string>
	
								<string>{ -186.15385,31.71597 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -69.88167,-80.11835 }</string>
	
								<string>{ -71.65681,-46.68639 }</string>
	
								<string>{ -47.98817,-63.55030 }</string>
	
								<string>{ -54.49706,-80.11835 }</string>

							</array>

							<array>
	
								<string>{ -71.65681,-46.68639 }</string>
	
								<string>{ -74.91125,-34.85207 }</string>
	
								<string>{ -78.75740,-12.36687 }</string>
	
								<string>{ -61.00592,-28.93492 }</string>
	
								<string>{ -40.00000,-51.42012 }</string>
	
								<string>{ -47.98817,-63.55030 }</string>

							</array>

							<array>
	
								<string>{ 2.89940,-50.53255 }</string>
	
								<string>{ -21.36095,-52.30769 }</string>
	
								<string>{ -40.00000,-51.42012 }</string>
	
								<string>{ -18.10652,-41.06509 }</string>
	
								<string>{ 16.27219,-42.48521 }</string>
	
								<string>{ 16.21301,-46.09468 }</string>

							</array>

							<array>
	
								<string>{ -40.00000,-51.42012 }</string>
	
								<string>{ -42.66273,-37.51479 }</string>
	
								<string>{ -18.10652,-41.06509 }</string>

							</array>

							<array>
	
								<string>{ -40.00000,-51.42012 }</string>
	
								<string>{ -61.00592,-28.93492 }</string>
	
								<string>{ -42.66273,-37.51479 }</string>

							</array>

							<array>
	
								<string>{ -94.43788,5.97632 }</string>
	
								<string>{ -95.91716,13.72781 }</string>
	
								<string>{ -78.75740,-12.36687 }</string>
	
								<string>{ -74.91125,-34.85207 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 193.72778,77.86981 }</string>
	
								<string>{ 186.92307,65.14792 }</string>
	
								<string>{ 188.46152,80.00000 }</string>

							</array>

							<array>
	
								<string>{ -9.23077,10.17751 }</string>
	
								<string>{ 54.97040,-10.59172 }</string>
	
								<string>{ 22.42603,-7.63315 }</string>
	
								<string>{ -7.45563,3.31360 }</string>

							</array>

							<array>
	
								<string>{ 54.97040,-10.59172 }</string>
	
								<string>{ 38.10651,-16.80473 }</string>
	
								<string>{ 22.42603,-7.63315 }</string>

							</array>

							<array>
	
								<string>{ 54.97040,-10.59172 }</string>
	
								<string>{ 81.89349,-15.02959 }</string>
	
								<string>{ 176.56802,-36.03551 }</string>
	
								<string>{ 48.46152,-25.38461 }</string>
	
								<string>{ 38.10651,-16.80473 }</string>

							</array>

							<array>
	
								<string>{ 183.07690,28.46153 }</string>
	
								<string>{ 181.59763,48.87573 }</string>
	
								<string>{ 186.92307,65.14792 }</string>
	
								<string>{ 193.72778,77.86981 }</string>

							</array>

							<array>
	
								<string>{ 183.07690,28.46153 }</string>
	
								<string>{ 168.28400,28.16568 }</string>
	
								<string>{ 181.59763,48.87573 }</string>

							</array>

							<array>
	
								<string>{ 183.07690,28.46153 }</string>
	
								<string>{ 176.56802,-36.03551 }</string>
	
								<string>{ 152.89938,11.30177 }</string>
	
								<string>{ 168.28400,28.16568 }</string>

							</array>

							<array>
	
								<string>{ 176.56802,-36.03551 }</string>
	
								<string>{ 131.30176,-3.49113 }</string>
	
								<string>{ 152.89938,11.30177 }</string>

							</array>

							<array>
	
								<string>{ 176.56802,-36.03551 }</string>
	
								<string>{ 107.04141,-13.25444 }</string>
	
								<string>{ 131.30176,-3.49113 }</string>

							</array>

							<array>
	
								<string>{ 176.56802,-36.03551 }</string>
	
								<string>{ 81.89349,-15.02959 }</string>
	
								<string>{ 107.04141,-13.25444 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 225.97632,103.90530 }</string>
	
								<string>{ 241.12424,111.95267 }</string>
	
								<string>{ 240.47336,95.32544 }</string>

							</array>

							<array>
	
								<string>{ 209.40826,106.27219 }</string>
	
								<string>{ 241.12424,111.95267 }</string>
	
								<string>{ 225.97632,103.90530 }</string>

							</array>

							<array>
	
								<string>{ 60.00000,109.23077 }</string>
	
								<string>{ 121.83432,111.59763 }</string>
	
								<string>{ 181.30176,105.38461 }</string>
	
								<string>{ 152.30768,100.65088 }</string>
	
								<string>{ -0.65089,99.82248 }</string>

							</array>

							<array>
	
								<string>{ 241.12424,111.95267 }</string>
	
								<string>{ 209.40826,106.27219 }</string>
	
								<string>{ 181.30176,105.38461 }</string>
	
								<string>{ 121.83432,111.59763 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -240.88757,155.08875 }</string>
	
								<string>{ -241.18343,161.36093 }</string>
	
								<string>{ 241.42010,161.06509 }</string>
	
								<string>{ 241.06506,153.90530 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

