<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C28</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 284.73889,20.28040 }</string>
	
								<string>{ 283.99957,-159.68454 }</string>
	
								<string>{ 217.87689,-6.33258 }</string>
	
								<string>{ 226.19232,41.19029 }</string>

							</array>

							<array>
	
								<string>{ -142.73764,18.80708 }</string>
	
								<string>{ -177.37451,52.88530 }</string>
	
								<string>{ -123.40804,46.51657 }</string>
	
								<string>{ -121.50859,39.47748 }</string>
	
								<string>{ -124.77612,29.04169 }</string>

							</array>

							<array>
	
								<string>{ -46.08960,-124.20968 }</string>
	
								<string>{ -84.91641,-121.13705 }</string>
	
								<string>{ -66.20132,-118.06443 }</string>

							</array>

							<array>
	
								<string>{ 158.37967,-73.65102 }</string>
	
								<string>{ 137.15063,-80.35493 }</string>
	
								<string>{ 184.07800,-41.80744 }</string>

							</array>

							<array>
	
								<string>{ -241.34100,53.22049 }</string>
	
								<string>{ -177.37451,52.88530 }</string>
	
								<string>{ -174.47074,-0.61935 }</string>
	
								<string>{ -182.40244,-13.31583 }</string>
	
								<string>{ -284.31546,-160.94637 }</string>
	
								<string>{ -284.63091,48.83281 }</string>

							</array>

							<array>
	
								<string>{ -162.09581,7.39677 }</string>
	
								<string>{ -177.37451,52.88530 }</string>
	
								<string>{ -142.73764,18.80708 }</string>

							</array>

							<array>
	
								<string>{ -174.47074,-0.61935 }</string>
	
								<string>{ -177.37451,52.88530 }</string>
	
								<string>{ -162.09581,7.39677 }</string>

							</array>

							<array>
	
								<string>{ 89.10593,-119.18175 }</string>
	
								<string>{ 95.25119,-109.12588 }</string>
	
								<string>{ 137.15063,-80.35493 }</string>
	
								<string>{ 158.37967,-73.65102 }</string>

							</array>

							<array>
	
								<string>{ 89.10593,-119.18175 }</string>
	
								<string>{ 39.66461,-148.79069 }</string>
	
								<string>{ 68.99420,-125.04767 }</string>
	
								<string>{ 95.25119,-109.12588 }</string>

							</array>

							<array>
	
								<string>{ 39.66461,-148.79069 }</string>
	
								<string>{ 58.10034,-130.63426 }</string>
	
								<string>{ 68.99420,-125.04767 }</string>

							</array>

							<array>
	
								<string>{ 39.66461,-148.79069 }</string>
	
								<string>{ 45.53052,-133.42756 }</string>
	
								<string>{ 58.10034,-130.63426 }</string>

							</array>

							<array>
	
								<string>{ 39.66461,-148.79069 }</string>
	
								<string>{ 26.25677,-134.82421 }</string>
	
								<string>{ 45.53052,-133.42756 }</string>

							</array>

							<array>
	
								<string>{ 39.66461,-148.79069 }</string>
	
								<string>{ 0.27911,-133.42756 }</string>
	
								<string>{ 26.25677,-134.82421 }</string>

							</array>

							<array>
	
								<string>{ 39.66461,-148.79069 }</string>
	
								<string>{ -284.31546,-160.94637 }</string>
	
								<string>{ -110.89406,-119.18175 }</string>
	
								<string>{ -84.91641,-121.13705 }</string>
	
								<string>{ 0.27911,-133.42756 }</string>

							</array>

							<array>
	
								<string>{ -22.90524,-130.07560 }</string>
	
								<string>{ -84.91641,-121.13705 }</string>
	
								<string>{ -46.08960,-124.20968 }</string>

							</array>

							<array>
	
								<string>{ 283.99957,-159.68454 }</string>
	
								<string>{ 216.20093,-15.55046 }</string>
	
								<string>{ 217.87689,-6.33258 }</string>

							</array>

							<array>
	
								<string>{ 283.99957,-159.68454 }</string>
	
								<string>{ 212.84897,-26.44432 }</string>
	
								<string>{ 216.20093,-15.55046 }</string>

							</array>

							<array>
	
								<string>{ 283.99957,-159.68454 }</string>
	
								<string>{ 188.54727,-81.47225 }</string>
	
								<string>{ 212.84897,-26.44432 }</string>

							</array>

							<array>
	
								<string>{ 283.99957,-159.68454 }</string>
	
								<string>{ 163.68695,-136.50019 }</string>
	
								<string>{ 183.51935,-90.69012 }</string>
	
								<string>{ 188.54727,-81.47225 }</string>

							</array>

							<array>
	
								<string>{ 283.99957,-159.68454 }</string>
	
								<string>{ 158.37967,-144.04208 }</string>
	
								<string>{ 163.68695,-136.50019 }</string>

							</array>

							<array>
	
								<string>{ 283.99957,-159.68454 }</string>
	
								<string>{ 148.88248,-149.34935 }</string>
	
								<string>{ 158.37967,-144.04208 }</string>

							</array>

							<array>
	
								<string>{ 283.99957,-159.68454 }</string>
	
								<string>{ -284.31546,-160.94637 }</string>
	
								<string>{ 39.66461,-148.79069 }</string>
	
								<string>{ 148.88248,-149.34935 }</string>

							</array>

							<array>
	
								<string>{ -284.31546,-160.94637 }</string>
	
								<string>{ -129.88847,-113.87449 }</string>
	
								<string>{ -110.89406,-119.18175 }</string>

							</array>

							<array>
	
								<string>{ -284.31546,-160.94637 }</string>
	
								<string>{ -146.08960,-106.61192 }</string>
	
								<string>{ -129.88847,-113.87449 }</string>

							</array>

							<array>
	
								<string>{ -284.31546,-160.94637 }</string>
	
								<string>{ -160.05608,-98.51136 }</string>
	
								<string>{ -146.08960,-106.61192 }</string>

							</array>

							<array>
	
								<string>{ -284.31546,-160.94637 }</string>
	
								<string>{ -170.39127,-91.24879 }</string>
	
								<string>{ -160.05608,-98.51136 }</string>

							</array>

							<array>
	
								<string>{ -284.31546,-160.94637 }</string>
	
								<string>{ -178.49183,-81.19292 }</string>
	
								<string>{ -170.39127,-91.24879 }</string>

							</array>

							<array>
	
								<string>{ -284.31546,-160.94637 }</string>
	
								<string>{ -184.63708,-71.97504 }</string>
	
								<string>{ -178.49183,-81.19292 }</string>

							</array>

							<array>
	
								<string>{ -284.31546,-160.94637 }</string>
	
								<string>{ -189.38569,-61.63985 }</string>
	
								<string>{ -184.63708,-71.97504 }</string>

							</array>

							<array>
	
								<string>{ -284.31546,-160.94637 }</string>
	
								<string>{ -191.89965,-48.79069 }</string>
	
								<string>{ -189.38569,-61.63985 }</string>

							</array>

							<array>
	
								<string>{ -284.31546,-160.94637 }</string>
	
								<string>{ -190.78233,-38.17616 }</string>
	
								<string>{ -191.89965,-48.79069 }</string>

							</array>

							<array>
	
								<string>{ -284.31546,-160.94637 }</string>
	
								<string>{ -187.98904,-25.88565 }</string>
	
								<string>{ -190.78233,-38.17616 }</string>

							</array>

							<array>
	
								<string>{ -284.31546,-160.94637 }</string>
	
								<string>{ -182.40244,-13.31583 }</string>
	
								<string>{ -187.98904,-25.88565 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 72.27390,147.85736 }</string>
	
								<string>{ 89.92755,159.92441 }</string>
	
								<string>{ 86.51971,147.57803 }</string>

							</array>

							<array>
	
								<string>{ -11.24564,102.60596 }</string>
	
								<string>{ -6.21771,131.65625 }</string>
	
								<string>{ 6.91077,114.05847 }</string>
	
								<string>{ -0.07245,101.48865 }</string>

							</array>

							<array>
	
								<string>{ -6.21771,131.65625 }</string>
	
								<string>{ 1.32419,146.74005 }</string>
	
								<string>{ 12.49738,122.43835 }</string>
	
								<string>{ 6.91077,114.05847 }</string>

							</array>

							<array>
	
								<string>{ 1.32419,146.74005 }</string>
	
								<string>{ 9.42474,159.92441 }</string>
	
								<string>{ 20.59793,131.09760 }</string>
	
								<string>{ 12.49738,122.43835 }</string>

							</array>

							<array>
	
								<string>{ 9.42474,159.92441 }</string>
	
								<string>{ 30.37445,137.80148 }</string>
	
								<string>{ 20.59793,131.09760 }</string>

							</array>

							<array>
	
								<string>{ 9.42474,159.92441 }</string>
	
								<string>{ 40.15100,141.99146 }</string>
	
								<string>{ 30.37445,137.80148 }</string>

							</array>

							<array>
	
								<string>{ 89.92755,159.92441 }</string>
	
								<string>{ 50.76553,145.34338 }</string>
	
								<string>{ 40.15100,141.99146 }</string>
	
								<string>{ 9.42474,159.92441 }</string>

							</array>

							<array>
	
								<string>{ 60.82138,147.29871 }</string>
	
								<string>{ 89.92755,159.92441 }</string>
	
								<string>{ 72.27390,147.85736 }</string>

							</array>

							<array>
	
								<string>{ 50.76553,145.34338 }</string>
	
								<string>{ 89.92755,159.92441 }</string>
	
								<string>{ 60.82138,147.29871 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 87.32111,109.46475 }</string>
	
								<string>{ 102.30670,73.20410 }</string>
	
								<string>{ 89.17819,79.07002 }</string>
	
								<string>{ 62.36255,118.73483 }</string>
	
								<string>{ 69.90445,120.41080 }</string>
	
								<string>{ 81.63629,121.80746 }</string>

							</array>

							<array>
	
								<string>{ -19.48102,-7.24283 }</string>
	
								<string>{ -66.40840,12.58957 }</string>
	
								<string>{ -15.51456,10.13147 }</string>

							</array>

							<array>
	
								<string>{ 190.85419,92.47784 }</string>
	
								<string>{ 188.89886,15.10355 }</string>
	
								<string>{ 177.44635,-18.13669 }</string>
	
								<string>{ 151.74802,35.77393 }</string>
	
								<string>{ 123.53574,117.61752 }</string>
	
								<string>{ 177.44635,110.63428 }</string>
	
								<string>{ 186.66425,105.60632 }</string>

							</array>

							<array>
	
								<string>{ 41.41284,105.60632 }</string>
	
								<string>{ 51.46869,113.98624 }</string>
	
								<string>{ 62.36255,118.73483 }</string>
	
								<string>{ 69.34579,85.77393 }</string>
	
								<string>{ 38.87280,95.46605 }</string>

							</array>

							<array>
	
								<string>{ 62.36255,118.73483 }</string>
	
								<string>{ 89.17819,79.07002 }</string>
	
								<string>{ 69.34579,85.77393 }</string>

							</array>

							<array>
	
								<string>{ -21.99500,-25.39925 }</string>
	
								<string>{ -103.83856,12.08678 }</string>
	
								<string>{ -66.40840,12.58957 }</string>
	
								<string>{ -19.48102,-7.24283 }</string>

							</array>

							<array>
	
								<string>{ -47.97264,-67.01936 }</string>
	
								<string>{ 7.61395,-109.47747 }</string>
	
								<string>{ -51.04527,-87.96909 }</string>

							</array>

							<array>
	
								<string>{ 87.32111,109.46475 }</string>
	
								<string>{ 96.11230,104.51971 }</string>
	
								<string>{ 115.71451,67.61751 }</string>
	
								<string>{ 102.30670,73.20410 }</string>

							</array>

							<array>
	
								<string>{ -21.99500,-45.51099 }</string>
	
								<string>{ -101.88326,7.56165 }</string>
	
								<string>{ -103.83856,12.08678 }</string>
	
								<string>{ -21.99500,-25.39925 }</string>

							</array>

							<array>
	
								<string>{ -49.08997,-53.33221 }</string>
	
								<string>{ 7.61395,-109.47747 }</string>
	
								<string>{ -47.97264,-67.01936 }</string>

							</array>

							<array>
	
								<string>{ 7.61395,-109.47747 }</string>
	
								<string>{ 98.95474,-88.24841 }</string>
	
								<string>{ 54.54132,-107.80149 }</string>
	
								<string>{ 26.04971,-111.99143 }</string>

							</array>

							<array>
	
								<string>{ 110.94748,109.46475 }</string>
	
								<string>{ 115.71451,67.61751 }</string>
	
								<string>{ 96.11230,104.51971 }</string>

							</array>

							<array>
	
								<string>{ 123.53574,117.61752 }</string>
	
								<string>{ 128.00500,60.07561 }</string>
	
								<string>{ 115.71451,67.61751 }</string>
	
								<string>{ 110.94748,109.46475 }</string>

							</array>

							<array>
	
								<string>{ 123.53574,117.61752 }</string>
	
								<string>{ 136.94357,52.81303 }</string>
	
								<string>{ 128.00500,60.07561 }</string>

							</array>

							<array>
	
								<string>{ 123.53574,117.61752 }</string>
	
								<string>{ 145.60278,44.71248 }</string>
	
								<string>{ 136.94357,52.81303 }</string>

							</array>

							<array>
	
								<string>{ -54.39723,-40.20372 }</string>
	
								<string>{ 7.61395,-109.47747 }</string>
	
								<string>{ -49.08997,-53.33221 }</string>

							</array>

							<array>
	
								<string>{ 122.97708,-71.20931 }</string>
	
								<string>{ 98.95474,-88.24841 }</string>
	
								<string>{ 131.91562,-43.55568 }</string>
	
								<string>{ 141.41284,-31.82384 }</string>
	
								<string>{ 177.44635,-18.13669 }</string>
	
								<string>{ 141.13351,-56.40484 }</string>

							</array>

							<array>
	
								<string>{ 123.53574,117.61752 }</string>
	
								<string>{ 151.74802,35.77393 }</string>
	
								<string>{ 145.60278,44.71248 }</string>

							</array>

							<array>
	
								<string>{ -20.87769,-62.27076 }</string>
	
								<string>{ -77.86092,-8.63948 }</string>
	
								<string>{ -21.99500,-45.51099 }</string>

							</array>

							<array>
	
								<string>{ -17.52573,-79.30987 }</string>
	
								<string>{ -77.86092,-8.63948 }</string>
	
								<string>{ -20.87769,-62.27076 }</string>

							</array>

							<array>
	
								<string>{ 177.44635,-18.13669 }</string>
	
								<string>{ 155.93799,25.99739 }</string>
	
								<string>{ 151.74802,35.77393 }</string>

							</array>

							<array>
	
								<string>{ 177.44635,-18.13669 }</string>
	
								<string>{ 157.61395,14.26555 }</string>
	
								<string>{ 155.93799,25.99739 }</string>

							</array>

							<array>
	
								<string>{ 177.44635,-18.13669 }</string>
	
								<string>{ 156.49664,2.81303 }</string>
	
								<string>{ 157.61395,14.26555 }</string>

							</array>

							<array>
	
								<string>{ 177.44635,-18.13669 }</string>
	
								<string>{ 153.42401,-8.36015 }</string>
	
								<string>{ 156.49664,2.81303 }</string>

							</array>

							<array>
	
								<string>{ 177.44635,-18.13669 }</string>
	
								<string>{ 148.39609,-19.81267 }</string>
	
								<string>{ 153.42401,-8.36015 }</string>

							</array>

							<array>
	
								<string>{ 177.44635,-18.13669 }</string>
	
								<string>{ 141.41284,-31.82384 }</string>
	
								<string>{ 148.39609,-19.81267 }</string>

							</array>

							<array>
	
								<string>{ 98.95474,-88.24841 }</string>
	
								<string>{ 123.81506,-53.05289 }</string>
	
								<string>{ 131.91562,-43.55568 }</string>

							</array>

							<array>
	
								<string>{ 98.95474,-88.24841 }</string>
	
								<string>{ 114.03854,-62.55009 }</string>
	
								<string>{ 123.81506,-53.05289 }</string>

							</array>

							<array>
	
								<string>{ 98.95474,-88.24841 }</string>
	
								<string>{ 101.46869,-72.88528 }</string>
	
								<string>{ 114.03854,-62.55009 }</string>

							</array>

							<array>
	
								<string>{ 98.95474,-88.24841 }</string>
	
								<string>{ 88.06088,-81.26517 }</string>
	
								<string>{ 101.46869,-72.88528 }</string>

							</array>

							<array>
	
								<string>{ 98.95474,-88.24841 }</string>
	
								<string>{ 69.34579,-91.60037 }</string>
	
								<string>{ 88.06088,-81.26517 }</string>

							</array>

							<array>
	
								<string>{ 98.95474,-88.24841 }</string>
	
								<string>{ 48.95474,-99.14227 }</string>
	
								<string>{ 69.34579,-91.60037 }</string>

							</array>

							<array>
	
								<string>{ 7.61395,-109.47747 }</string>
	
								<string>{ 36.66422,-101.65624 }</string>
	
								<string>{ 48.95474,-99.14227 }</string>

							</array>

							<array>
	
								<string>{ 7.61395,-109.47747 }</string>
	
								<string>{ 22.41843,-102.21490 }</string>
	
								<string>{ 36.66422,-101.65624 }</string>

							</array>

							<array>
	
								<string>{ 7.61395,-109.47747 }</string>
	
								<string>{ 8.45193,-99.70093 }</string>
	
								<string>{ 22.41843,-102.21490 }</string>

							</array>

							<array>
	
								<string>{ 7.61395,-109.47747 }</string>
	
								<string>{ -1.88327,-96.34898 }</string>
	
								<string>{ 8.45193,-99.70093 }</string>

							</array>

							<array>
	
								<string>{ 7.61395,-109.47747 }</string>
	
								<string>{ -9.14584,-90.48306 }</string>
	
								<string>{ -1.88327,-96.34898 }</string>

							</array>

							<array>
	
								<string>{ -54.39723,-40.20372 }</string>
	
								<string>{ -13.61511,-85.17579 }</string>
	
								<string>{ -9.14584,-90.48306 }</string>

							</array>

							<array>
	
								<string>{ -62.49779,-26.79590 }</string>
	
								<string>{ -17.52573,-79.30987 }</string>
	
								<string>{ -13.61511,-85.17579 }</string>
	
								<string>{ -54.39723,-40.20372 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 219.93869,67.74455 }</string>
	
								<string>{ 213.74951,108.39963 }</string>
	
								<string>{ 284.30835,159.85214 }</string>
	
								<string>{ 284.49567,61.82312 }</string>

							</array>

							<array>
	
								<string>{ 210.95621,119.01416 }</string>
	
								<string>{ 284.30835,159.85214 }</string>
	
								<string>{ 213.74951,108.39963 }</string>

							</array>

							<array>
	
								<string>{ 87.41272,160.12225 }</string>
	
								<string>{ 284.30835,159.85214 }</string>
	
								<string>{ 171.57074,145.55048 }</string>
	
								<string>{ 86.39978,149.96448 }</string>

							</array>

							<array>
	
								<string>{ 207.32492,128.23203 }</string>
	
								<string>{ 284.30835,159.85214 }</string>
	
								<string>{ 210.95621,119.01416 }</string>

							</array>

							<array>
	
								<string>{ 202.01767,134.93594 }</string>
	
								<string>{ 284.30835,159.85214 }</string>
	
								<string>{ 207.32492,128.23203 }</string>

							</array>

							<array>
	
								<string>{ 194.75510,139.68454 }</string>
	
								<string>{ 284.30835,159.85214 }</string>
	
								<string>{ 202.01767,134.93594 }</string>

							</array>

							<array>
	
								<string>{ 184.69922,143.03650 }</string>
	
								<string>{ 284.30835,159.85214 }</string>
	
								<string>{ 194.75510,139.68454 }</string>

							</array>

							<array>
	
								<string>{ 171.57074,145.55048 }</string>
	
								<string>{ 284.30835,159.85214 }</string>
	
								<string>{ 184.69922,143.03650 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

