<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C57</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 81.04666,83.84697 }</string>
	
								<string>{ 69.80746,63.38588 }</string>
	
								<string>{ 47.61728,72.89597 }</string>

							</array>

							<array>
	
								<string>{ 81.04666,83.84697 }</string>
	
								<string>{ 110.15329,87.59337 }</string>
	
								<string>{ 135.80170,46.09482 }</string>
	
								<string>{ 87.67490,50.41757 }</string>
	
								<string>{ 69.80746,63.38588 }</string>

							</array>

							<array>
	
								<string>{ 150.49911,4.30807 }</string>
	
								<string>{ 102.94867,33.99107 }</string>
	
								<string>{ 87.67490,50.41757 }</string>
	
								<string>{ 135.80170,46.09482 }</string>

							</array>

							<array>
	
								<string>{ -125.58157,-81.85908 }</string>
	
								<string>{ 12.97751,-99.49596 }</string>
	
								<string>{ 35.80170,-125.95129 }</string>
	
								<string>{ -13.47784,-129.12132 }</string>
	
								<string>{ -78.89571,-127.68040 }</string>
	
								<string>{ -117.80060,-106.06657 }</string>

							</array>

							<array>
	
								<string>{ 49.34637,-100.87925 }</string>
	
								<string>{ 84.21667,-117.88213 }</string>
	
								<string>{ 35.80170,-125.95129 }</string>
	
								<string>{ 12.97751,-99.49596 }</string>

							</array>

							<array>
	
								<string>{ 86.52216,-89.92824 }</string>
	
								<string>{ 117.06970,-101.16743 }</string>
	
								<string>{ 84.21667,-117.88213 }</string>
	
								<string>{ 49.34637,-100.87925 }</string>

							</array>

							<array>
	
								<string>{ 111.30603,-70.61988 }</string>
	
								<string>{ 144.15906,-74.36628 }</string>
	
								<string>{ 117.06970,-101.16743 }</string>
	
								<string>{ 86.52216,-89.92824 }</string>

							</array>

							<array>
	
								<string>{ 123.12158,-44.10692 }</string>
	
								<string>{ 154.53369,-36.32594 }</string>
	
								<string>{ 144.15906,-74.36628 }</string>
	
								<string>{ 111.30603,-70.61988 }</string>

							</array>

							<array>
	
								<string>{ 122.83340,-12.69481 }</string>
	
								<string>{ 150.49911,4.30807 }</string>
	
								<string>{ 154.53369,-36.32594 }</string>
	
								<string>{ 123.12158,-44.10692 }</string>

							</array>

							<array>
	
								<string>{ 115.91699,11.80086 }</string>
	
								<string>{ 150.49911,4.30807 }</string>
	
								<string>{ 122.83340,-12.69481 }</string>

							</array>

							<array>
	
								<string>{ 102.94867,33.99107 }</string>
	
								<string>{ 150.49911,4.30807 }</string>
	
								<string>{ 115.91699,11.80086 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 155.02417,141.15274 }</string>
	
								<string>{ 125.91754,110.02881 }</string>
	
								<string>{ 93.35272,131.06628 }</string>

							</array>

							<array>
	
								<string>{ 155.02417,141.15274 }</string>
	
								<string>{ 241.19135,140.86456 }</string>
	
								<string>{ 157.90604,83.51585 }</string>
	
								<string>{ 125.91754,110.02881 }</string>

							</array>

							<array>
	
								<string>{ 241.19135,140.86456 }</string>
	
								<string>{ 284.21191,132.05298 }</string>
	
								<string>{ 183.84262,55.27377 }</string>
	
								<string>{ 157.90604,83.51585 }</string>

							</array>

							<array>
	
								<string>{ 284.21191,132.05298 }</string>
	
								<string>{ 205.16827,23.28529 }</string>
	
								<string>{ 183.84262,55.27377 }</string>

							</array>

							<array>
	
								<string>{ 285.00165,-160.05764 }</string>
	
								<string>{ 212.94925,-10.72046 }</string>
	
								<string>{ 205.16827,23.28529 }</string>
	
								<string>{ 284.21191,132.05298 }</string>

							</array>

							<array>
	
								<string>{ 285.00165,-160.05764 }</string>
	
								<string>{ 208.05011,-38.38617 }</string>
	
								<string>{ 212.94925,-10.72046 }</string>

							</array>

							<array>
	
								<string>{ 285.00165,-160.05764 }</string>
	
								<string>{ 188.74176,-70.08646 }</string>
	
								<string>{ 208.05011,-38.38617 }</string>

							</array>

							<array>
	
								<string>{ 285.00165,-160.05764 }</string>
	
								<string>{ 154.44781,-98.32853 }</string>
	
								<string>{ 188.74176,-70.08646 }</string>

							</array>

							<array>
	
								<string>{ 285.00165,-160.05764 }</string>
	
								<string>{ 114.39017,-123.68876 }</string>
	
								<string>{ 154.44781,-98.32853 }</string>

							</array>

							<array>
	
								<string>{ 285.00165,-160.05764 }</string>
	
								<string>{ 55.31238,-149.62536 }</string>
	
								<string>{ 114.39017,-123.68876 }</string>

							</array>

							<array>
	
								<string>{ -284.66225,-159.66887 }</string>
	
								<string>{ -284.99338,-150.99510 }</string>
	
								<string>{ 55.31238,-149.62536 }</string>
	
								<string>{ 285.00165,-160.05764 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -166.64500,6.85880 }</string>
	
								<string>{ -194.88708,-55.96542 }</string>
	
								<string>{ -220.82367,-86.22478 }</string>
	
								<string>{ -283.66887,-151.72185 }</string>
	
								<string>{ -284.66225,4.80199 }</string>

							</array>

							<array>
	
								<string>{ -34.94472,34.81268 }</string>
	
								<string>{ -7.62482,24.66858 }</string>
	
								<string>{ -9.58447,-31.18156 }</string>
	
								<string>{ -46.47209,-9.56772 }</string>
	
								<string>{ -47.62483,25.59077 }</string>
	
								<string>{ -43.87843,33.37175 }</string>

							</array>

							<array>
	
								<string>{ -137.53838,-56.25360 }</string>
	
								<string>{ -158.86402,-43.57349 }</string>
	
								<string>{ -54.25307,-28.58789 }</string>
	
								<string>{ -9.58447,-31.18156 }</string>
	
								<string>{ 1.07834,-73.54467 }</string>

							</array>

							<array>
	
								<string>{ -9.58447,-31.18156 }</string>
	
								<string>{ -47.33664,-21.95966 }</string>
	
								<string>{ -46.47209,-9.56772 }</string>

							</array>

							<array>
	
								<string>{ -283.66887,-151.72185 }</string>
	
								<string>{ -220.82367,-86.22478 }</string>
	
								<string>{ -255.56612,-152.00622 }</string>

							</array>

							<array>
	
								<string>{ -9.58447,-31.18156 }</string>
	
								<string>{ -54.25307,-28.58789 }</string>
	
								<string>{ -47.33664,-21.95966 }</string>

							</array>

							<array>
	
								<string>{ -113.04269,-6.10951 }</string>
	
								<string>{ -176.44327,-45.59078 }</string>
	
								<string>{ -194.88708,-55.96542 }</string>
	
								<string>{ -166.64500,6.85880 }</string>

							</array>

							<array>
	
								<string>{ -64.91589,-27.14697 }</string>
	
								<string>{ -158.86402,-43.57349 }</string>
	
								<string>{ -176.44327,-45.59078 }</string>
	
								<string>{ -113.04269,-6.10951 }</string>
	
								<string>{ -78.17238,-19.94237 }</string>

							</array>

							<array>
	
								<string>{ -158.86402,-43.57349 }</string>
	
								<string>{ -64.91589,-27.14697 }</string>
	
								<string>{ -54.25307,-28.58789 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

