<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C14</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 130.11172,40.27933 }</string>
	
								<string>{ 240.44693,46.42459 }</string>
	
								<string>{ 168.37988,11.78772 }</string>
	
								<string>{ 130.94974,34.69275 }</string>

							</array>

							<array>
	
								<string>{ 240.44693,46.42459 }</string>
	
								<string>{ 198.54749,-12.23463 }</string>
	
								<string>{ 168.37988,11.78772 }</string>

							</array>

							<array>
	
								<string>{ 240.44693,46.42459 }</string>
	
								<string>{ 208.60336,-23.96648 }</string>
	
								<string>{ 198.54749,-12.23463 }</string>

							</array>

							<array>
	
								<string>{ 240.44693,46.42459 }</string>
	
								<string>{ 215.02795,-34.30167 }</string>
	
								<string>{ 208.60336,-23.96648 }</string>

							</array>

							<array>
	
								<string>{ 240.44693,46.42459 }</string>
	
								<string>{ 220.05588,-43.51955 }</string>
	
								<string>{ 215.02795,-34.30167 }</string>

							</array>

							<array>
	
								<string>{ 240.44693,46.42459 }</string>
	
								<string>{ 223.68716,-54.13408 }</string>
	
								<string>{ 220.05588,-43.51955 }</string>

							</array>

							<array>
	
								<string>{ 240.22348,-159.94413 }</string>
	
								<string>{ 224.52515,-66.14525 }</string>
	
								<string>{ 223.68716,-54.13408 }</string>
	
								<string>{ 240.44693,46.42459 }</string>

							</array>

							<array>
	
								<string>{ -45.86592,-145.75419 }</string>
	
								<string>{ 155.25140,-146.59218 }</string>
	
								<string>{ 240.22348,-159.94413 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -240.27933,-152.68156 }</string>

							</array>

							<array>
	
								<string>{ 174.80447,-140.44693 }</string>
	
								<string>{ 240.22348,-159.94413 }</string>
	
								<string>{ 155.25140,-146.59218 }</string>

							</array>

							<array>
	
								<string>{ 188.49164,-129.83240 }</string>
	
								<string>{ 240.22348,-159.94413 }</string>
	
								<string>{ 174.80447,-140.44693 }</string>

							</array>

							<array>
	
								<string>{ 198.82681,-120.05587 }</string>
	
								<string>{ 240.22348,-159.94413 }</string>
	
								<string>{ 188.49164,-129.83240 }</string>

							</array>

							<array>
	
								<string>{ 207.48605,-108.88268 }</string>
	
								<string>{ 240.22348,-159.94413 }</string>
	
								<string>{ 198.82681,-120.05587 }</string>

							</array>

							<array>
	
								<string>{ 215.02795,-97.15084 }</string>
	
								<string>{ 240.22348,-159.94413 }</string>
	
								<string>{ 207.48605,-108.88268 }</string>

							</array>

							<array>
	
								<string>{ 221.17319,-82.62569 }</string>
	
								<string>{ 240.22348,-159.94413 }</string>
	
								<string>{ 215.02795,-97.15084 }</string>

							</array>

							<array>
	
								<string>{ 224.52515,-66.14525 }</string>
	
								<string>{ 240.22348,-159.94413 }</string>
	
								<string>{ 221.17319,-82.62569 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -179.38548,60.67039 }</string>
	
								<string>{ -160.11173,-18.37988 }</string>
	
								<string>{ -170.16759,-65.58659 }</string>
	
								<string>{ -207.87709,-88.21229 }</string>
	
								<string>{ -239.72067,-73.68715 }</string>
	
								<string>{ -240.27933,56.53632 }</string>

							</array>

							<array>
	
								<string>{ -207.87709,-88.21229 }</string>
	
								<string>{ -170.16759,-65.58659 }</string>
	
								<string>{ -173.51955,-121.45251 }</string>
	
								<string>{ -193.35196,-122.56983 }</string>

							</array>

							<array>
	
								<string>{ -179.38548,60.67039 }</string>
	
								<string>{ -144.46927,24.63687 }</string>
	
								<string>{ -160.11173,-18.37988 }</string>

							</array>

							<array>
	
								<string>{ -122.90503,58.77095 }</string>
	
								<string>{ -124.63687,54.24582 }</string>
	
								<string>{ -144.46927,24.63687 }</string>
	
								<string>{ -179.38548,60.67039 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 91.00558,-61.67597 }</string>
	
								<string>{ 58.32404,-89.05028 }</string>
	
								<string>{ 46.31287,-68.10056 }</string>
	
								<string>{ 41.00558,-24.24580 }</string>
	
								<string>{ 76.20111,-29.27374 }</string>
	
								<string>{ 110.89386,-36.75977 }</string>

							</array>

							<array>
	
								<string>{ 65.30728,-112.23463 }</string>
	
								<string>{ 58.32404,-89.05028 }</string>
	
								<string>{ 85.97766,-85.69833 }</string>
	
								<string>{ 87.09497,-112.23463 }</string>

							</array>

							<array>
	
								<string>{ 58.32404,-89.05028 }</string>
	
								<string>{ 91.00558,-61.67597 }</string>
	
								<string>{ 85.97766,-85.69833 }</string>

							</array>

							<array>
	
								<string>{ 46.31287,-68.10056 }</string>
	
								<string>{ 24.24582,-55.53072 }</string>
	
								<string>{ -5.92178,-23.68715 }</string>
	
								<string>{ 41.00558,-24.24580 }</string>

							</array>

							<array>
	
								<string>{ -57.31844,-27.87709 }</string>
	
								<string>{ -5.92178,-23.68715 }</string>
	
								<string>{ -12.62569,-50.78212 }</string>
	
								<string>{ -110.11172,-42.68156 }</string>
	
								<string>{ -117.93296,-37.03910 }</string>

							</array>

							<array>
	
								<string>{ -5.92178,-23.68715 }</string>
	
								<string>{ 24.24582,-55.53072 }</string>
	
								<string>{ -12.62569,-50.78212 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

