<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C42</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -142.87302,-11.18204 }</string>
	
								<string>{ -129.57661,-49.96320 }</string>
	
								<string>{ -130.13063,-59.65849 }</string>
	
								<string>{ -284.90432,-159.77659 }</string>
	
								<string>{ -285.81225,-36.74387 }</string>

							</array>

							<array>
	
								<string>{ 72.91647,-21.98537 }</string>
	
								<string>{ 22.77795,-28.07954 }</string>
	
								<string>{ 24.16299,-10.62802 }</string>
	
								<string>{ 71.80844,1.75496 }</string>

							</array>

							<array>
	
								<string>{ 75.40955,-42.48398 }</string>
	
								<string>{ 70.14639,-57.71944 }</string>
	
								<string>{ 51.03281,-75.72498 }</string>
	
								<string>{ 18.34583,-44.14603 }</string>
	
								<string>{ 22.77795,-28.07954 }</string>
	
								<string>{ 72.91647,-21.98537 }</string>

							</array>

							<array>
	
								<string>{ 34.68933,-92.62248 }</string>
	
								<string>{ 11.42062,-56.88840 }</string>
	
								<string>{ 18.34583,-44.14603 }</string>
	
								<string>{ 51.03281,-75.72498 }</string>

							</array>

							<array>
	
								<string>{ 165.71426,-100.37872 }</string>
	
								<string>{ 117.79181,-145.25406 }</string>
	
								<string>{ 118.89984,-119.76929 }</string>
	
								<string>{ 168.76135,-18.10724 }</string>
	
								<string>{ 177.90262,-28.07954 }</string>
	
								<string>{ 183.99680,-41.92996 }</string>
	
								<string>{ 187.04388,-60.76653 }</string>

							</array>

							<array>
	
								<string>{ 34.68933,-92.62248 }</string>
	
								<string>{ 23.33197,-105.64187 }</string>
	
								<string>{ 0.06329,-71.01583 }</string>
	
								<string>{ 11.42062,-56.88840 }</string>

							</array>

							<array>
	
								<string>{ 23.33197,-105.64187 }</string>
	
								<string>{ 10.86661,-121.43135 }</string>
	
								<string>{ -14.89517,-81.81916 }</string>
	
								<string>{ 0.06329,-71.01583 }</string>

							</array>

							<array>
	
								<string>{ 10.86661,-121.43135 }</string>
	
								<string>{ 4.49542,-132.51168 }</string>
	
								<string>{ -31.23866,-89.57539 }</string>
	
								<string>{ -14.89517,-81.81916 }</string>

							</array>

							<array>
	
								<string>{ 4.49542,-132.51168 }</string>
	
								<string>{ -46.47412,-93.73051 }</string>
	
								<string>{ -31.23866,-89.57539 }</string>

							</array>

							<array>
	
								<string>{ -106.03090,-19.76929 }</string>
	
								<string>{ -142.87302,-11.18204 }</string>
	
								<string>{ -83.20541,-4.42303 }</string>
	
								<string>{ -83.03922,-9.51999 }</string>

							</array>

							<array>
	
								<string>{ -118.77328,-29.46458 }</string>
	
								<string>{ -142.87302,-11.18204 }</string>
	
								<string>{ -106.03090,-19.76929 }</string>

							</array>

							<array>
	
								<string>{ -125.97551,-38.88287 }</string>
	
								<string>{ -142.87302,-11.18204 }</string>
	
								<string>{ -118.77328,-29.46458 }</string>

							</array>

							<array>
	
								<string>{ -129.57661,-49.96320 }</string>
	
								<string>{ -142.87302,-11.18204 }</string>
	
								<string>{ -125.97551,-38.88287 }</string>

							</array>

							<array>
	
								<string>{ 122.77795,-1.28076 }</string>
	
								<string>{ 140.27069,-4.21564 }</string>
	
								<string>{ 156.29596,-10.35101 }</string>
	
								<string>{ 168.76135,-18.10724 }</string>
	
								<string>{ 117.23779,-84.31223 }</string>
	
								<string>{ 109.19321,-0.17273 }</string>

							</array>

							<array>
	
								<string>{ 168.76135,-18.10724 }</string>
	
								<string>{ 118.89984,-119.76929 }</string>
	
								<string>{ 117.23779,-84.31223 }</string>

							</array>

							<array>
	
								<string>{ 4.49542,-132.51168 }</string>
	
								<string>{ -62.54060,-95.94658 }</string>
	
								<string>{ -46.47412,-93.73051 }</string>

							</array>

							<array>
	
								<string>{ 284.34912,-160.32001 }</string>
	
								<string>{ 117.79181,-145.25406 }</string>
	
								<string>{ 169.03836,-143.59201 }</string>
	
								<string>{ 282.68530,-145.44688 }</string>

							</array>

							<array>
	
								<string>{ 4.49542,-132.51168 }</string>
	
								<string>{ 11.69763,-143.31500 }</string>
	
								<string>{ -284.90432,-159.77659 }</string>
	
								<string>{ -84.70126,-95.66957 }</string>
	
								<string>{ -62.54060,-95.94658 }</string>

							</array>

							<array>
	
								<string>{ 161.55914,-118.66126 }</string>
	
								<string>{ 117.79181,-145.25406 }</string>
	
								<string>{ 165.71426,-100.37872 }</string>

							</array>

							<array>
	
								<string>{ 159.62009,-135.55877 }</string>
	
								<string>{ 117.79181,-145.25406 }</string>
	
								<string>{ 161.55914,-118.66126 }</string>

							</array>

							<array>
	
								<string>{ 169.03836,-143.59201 }</string>
	
								<string>{ 117.79181,-145.25406 }</string>
	
								<string>{ 159.62009,-135.55877 }</string>

							</array>

							<array>
	
								<string>{ -127.08354,-69.07677 }</string>
	
								<string>{ -284.90432,-159.77659 }</string>
	
								<string>{ -130.13063,-59.65849 }</string>

							</array>

							<array>
	
								<string>{ -120.71234,-78.21805 }</string>
	
								<string>{ -284.90432,-159.77659 }</string>
	
								<string>{ -127.08354,-69.07677 }</string>

							</array>

							<array>
	
								<string>{ -110.42184,-86.48710 }</string>
	
								<string>{ -284.90432,-159.77659 }</string>
	
								<string>{ -120.71234,-78.21805 }</string>

							</array>

							<array>
	
								<string>{ -100.17253,-92.02727 }</string>
	
								<string>{ -284.90432,-159.77659 }</string>
	
								<string>{ -110.42184,-86.48710 }</string>

							</array>

							<array>
	
								<string>{ -84.70126,-95.66957 }</string>
	
								<string>{ -284.90432,-159.77659 }</string>
	
								<string>{ -100.17253,-92.02727 }</string>

							</array>

							<array>
	
								<string>{ 11.69763,-143.31500 }</string>
	
								<string>{ 117.79181,-145.25406 }</string>
	
								<string>{ 284.34912,-160.32001 }</string>
	
								<string>{ -284.90432,-159.77659 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 218.58163,-37.81963 }</string>
	
								<string>{ 249.88361,-51.11604 }</string>
	
								<string>{ 227.72293,-54.71714 }</string>
	
								<string>{ 220.24371,-49.73100 }</string>

							</array>

							<array>
	
								<string>{ 284.40448,-50.83903 }</string>
	
								<string>{ 249.88361,-51.11604 }</string>
	
								<string>{ 106.67029,93.20531 }</string>
	
								<string>{ 192.81989,82.67899 }</string>
	
								<string>{ 240.18829,72.70668 }</string>
	
								<string>{ 284.04370,61.26553 }</string>

							</array>

							<array>
	
								<string>{ 102.79218,45.83688 }</string>
	
								<string>{ 129.21545,33.76385 }</string>
	
								<string>{ 103.93866,36.96475 }</string>

							</array>

							<array>
	
								<string>{ 213.87250,-25.07726 }</string>
	
								<string>{ 249.88361,-51.11604 }</string>
	
								<string>{ 218.58163,-37.81963 }</string>

							</array>

							<array>
	
								<string>{ 98.63705,56.64020 }</string>
	
								<string>{ 106.67029,93.20531 }</string>
	
								<string>{ 146.31305,30.43976 }</string>
	
								<string>{ 129.21545,33.76385 }</string>
	
								<string>{ 102.79218,45.83688 }</string>

							</array>

							<array>
	
								<string>{ -62.58179,98.85626 }</string>
	
								<string>{ 32.15506,96.80640 }</string>
	
								<string>{ -12.99731,90.43521 }</string>
	
								<string>{ -63.28923,92.48650 }</string>

							</array>

							<array>
	
								<string>{ 32.15506,96.80640 }</string>
	
								<string>{ 12.48746,89.32718 }</string>
	
								<string>{ -12.99731,90.43521 }</string>

							</array>

							<array>
	
								<string>{ 32.15506,96.80640 }</string>
	
								<string>{ 36.31018,87.66513 }</string>
	
								<string>{ 12.48746,89.32718 }</string>

							</array>

							<array>
	
								<string>{ 32.15506,96.80640 }</string>
	
								<string>{ 106.67029,93.20531 }</string>
	
								<string>{ 58.47086,82.67899 }</string>
	
								<string>{ 36.31018,87.66513 }</string>

							</array>

							<array>
	
								<string>{ 106.67029,93.20531 }</string>
	
								<string>{ 77.30740,75.75377 }</string>
	
								<string>{ 58.47086,82.67899 }</string>

							</array>

							<array>
	
								<string>{ 106.67029,93.20531 }</string>
	
								<string>{ 90.32681,67.44353 }</string>
	
								<string>{ 77.30740,75.75377 }</string>

							</array>

							<array>
	
								<string>{ 106.67029,93.20531 }</string>
	
								<string>{ 98.63705,56.64020 }</string>
	
								<string>{ 90.32681,67.44353 }</string>

							</array>

							<array>
	
								<string>{ 208.60934,-13.16589 }</string>
	
								<string>{ 249.88361,-51.11604 }</string>
	
								<string>{ 213.87250,-25.07726 }</string>

							</array>

							<array>
	
								<string>{ 106.67029,93.20531 }</string>
	
								<string>{ 160.47894,25.73062 }</string>
	
								<string>{ 146.31305,30.43976 }</string>

							</array>

							<array>
	
								<string>{ 106.67029,93.20531 }</string>
	
								<string>{ 171.92105,20.39056 }</string>
	
								<string>{ 160.47894,25.73062 }</string>

							</array>

							<array>
	
								<string>{ 200.29910,-2.63957 }</string>
	
								<string>{ 249.88361,-51.11604 }</string>
	
								<string>{ 208.60934,-13.16589 }</string>

							</array>

							<array>
	
								<string>{ 106.67029,93.20531 }</string>
	
								<string>{ 182.01654,13.42691 }</string>
	
								<string>{ 171.92105,20.39056 }</string>

							</array>

							<array>
	
								<string>{ 106.67029,93.20531 }</string>
	
								<string>{ 191.98886,6.22469 }</string>
	
								<string>{ 182.01654,13.42691 }</string>

							</array>

							<array>
	
								<string>{ 191.98886,6.22469 }</string>
	
								<string>{ 249.88361,-51.11604 }</string>
	
								<string>{ 200.29910,-2.63957 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 29.93576,56.25836 }</string>
	
								<string>{ 15.25433,46.00905 }</string>
	
								<string>{ 9.43713,58.03120 }</string>

							</array>

							<array>
	
								<string>{ 18.02441,34.92871 }</string>
	
								<string>{ 29.93576,56.25836 }</string>
	
								<string>{ 36.02994,28.28052 }</string>
	
								<string>{ 18.85544,22.74036 }</string>

							</array>

							<array>
	
								<string>{ 29.93576,56.25836 }</string>
	
								<string>{ 18.02441,34.92871 }</string>
	
								<string>{ 15.25433,46.00905 }</string>

							</array>

							<array>
	
								<string>{ 29.93576,56.25836 }</string>
	
								<string>{ 43.78616,53.48828 }</string>
	
								<string>{ 54.86652,49.88716 }</string>
	
								<string>{ 65.94684,44.06999 }</string>
	
								<string>{ 71.82849,32.59825 }</string>
	
								<string>{ 36.02994,28.28052 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 96.65161,147.47925 }</string>
	
								<string>{ 57.03940,152.46539 }</string>
	
								<string>{ 283.28741,160.88644 }</string>
	
								<string>{ 283.24109,153.08389 }</string>

							</array>

							<array>
	
								<string>{ -283.63700,160.58792 }</string>
	
								<string>{ 283.28741,160.88644 }</string>
	
								<string>{ -283.06148,151.59137 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

