<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C59</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 84.10257,-126.66667 }</string>
	
								<string>{ 117.94870,-144.10256 }</string>
	
								<string>{ 18.46152,-122.56410 }</string>
	
								<string>{ 25.64102,-112.30769 }</string>

							</array>

							<array>
	
								<string>{ 241.02563,-160.51282 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ 117.94870,-144.10256 }</string>
	
								<string>{ 240.51282,-147.69231 }</string>

							</array>

							<array>
	
								<string>{ 117.94870,-144.10256 }</string>
	
								<string>{ 6.66666,-131.28205 }</string>
	
								<string>{ 18.46152,-122.56410 }</string>

							</array>

							<array>
	
								<string>{ 117.94870,-144.10256 }</string>
	
								<string>{ -4.61539,-135.38462 }</string>
	
								<string>{ 6.66666,-131.28205 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -239.48718,-150.76923 }</string>
	
								<string>{ -4.61539,-135.38462 }</string>
	
								<string>{ 117.94870,-144.10256 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -178.46154,34.87180 }</string>
	
								<string>{ -163.58974,37.94872 }</string>
	
								<string>{ -164.10257,19.48718 }</string>

							</array>

							<array>
	
								<string>{ -178.46154,34.87180 }</string>
	
								<string>{ -160.51283,48.20512 }</string>
	
								<string>{ -163.58974,37.94872 }</string>

							</array>

							<array>
	
								<string>{ -137.94872,-53.33334 }</string>
	
								<string>{ -166.15385,-40.00000 }</string>
	
								<string>{ -142.56410,-41.53847 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,45.12820 }</string>
	
								<string>{ -200.00000,63.07692 }</string>
	
								<string>{ -199.48718,0.51282 }</string>
	
								<string>{ -200.51282,-11.79488 }</string>
	
								<string>{ -207.17949,-44.10257 }</string>
	
								<string>{ -239.48718,-48.71795 }</string>

							</array>

							<array>
	
								<string>{ -143.07693,-77.43590 }</string>
	
								<string>{ -15.38463,-113.84615 }</string>
	
								<string>{ -112.82052,-111.79487 }</string>

							</array>

							<array>
	
								<string>{ -130.25642,-64.61539 }</string>
	
								<string>{ -181.53846,-37.43590 }</string>
	
								<string>{ -166.15385,-40.00000 }</string>
	
								<string>{ -137.94872,-53.33334 }</string>

							</array>

							<array>
	
								<string>{ -15.38463,-113.84615 }</string>
	
								<string>{ -70.25641,-93.33334 }</string>
	
								<string>{ -8.20514,-108.71795 }</string>

							</array>

							<array>
	
								<string>{ -178.46154,34.87180 }</string>
	
								<string>{ -200.00000,63.07692 }</string>
	
								<string>{ -154.35898,55.89743 }</string>
	
								<string>{ -160.51283,48.20512 }</string>

							</array>

							<array>
	
								<string>{ -172.82051,-56.41026 }</string>
	
								<string>{ -15.38463,-113.84615 }</string>
	
								<string>{ -143.07693,-77.43590 }</string>

							</array>

							<array>
	
								<string>{ -73.33334,85.12820 }</string>
	
								<string>{ -86.15385,80.00000 }</string>
	
								<string>{ -127.17949,69.74359 }</string>
	
								<string>{ -200.00000,63.07692 }</string>
	
								<string>{ -146.15385,77.43590 }</string>

							</array>

							<array>
	
								<string>{ -115.38462,-75.89744 }</string>
	
								<string>{ -172.82051,-56.41026 }</string>
	
								<string>{ -193.33334,-32.82052 }</string>
	
								<string>{ -181.53846,-37.43590 }</string>
	
								<string>{ -130.25642,-64.61539 }</string>

							</array>

							<array>
	
								<string>{ -144.10257,62.56410 }</string>
	
								<string>{ -200.00000,63.07692 }</string>
	
								<string>{ -127.17949,69.74359 }</string>

							</array>

							<array>
	
								<string>{ -154.35898,55.89743 }</string>
	
								<string>{ -200.00000,63.07692 }</string>
	
								<string>{ -144.10257,62.56410 }</string>

							</array>

							<array>
	
								<string>{ -189.23077,22.05128 }</string>
	
								<string>{ -200.00000,63.07692 }</string>
	
								<string>{ -178.46154,34.87180 }</string>

							</array>

							<array>
	
								<string>{ -195.89744,11.79486 }</string>
	
								<string>{ -200.00000,63.07692 }</string>
	
								<string>{ -189.23077,22.05128 }</string>

							</array>

							<array>
	
								<string>{ -199.48718,0.51282 }</string>
	
								<string>{ -200.00000,63.07692 }</string>
	
								<string>{ -195.89744,11.79486 }</string>

							</array>

							<array>
	
								<string>{ -193.33334,-32.82052 }</string>
	
								<string>{ -207.17949,-44.10257 }</string>
	
								<string>{ -200.51282,-11.79488 }</string>

							</array>

							<array>
	
								<string>{ -193.33334,-32.82052 }</string>
	
								<string>{ -172.82051,-56.41026 }</string>
	
								<string>{ -207.17949,-44.10257 }</string>

							</array>

							<array>
	
								<string>{ -70.25641,-93.33334 }</string>
	
								<string>{ -172.82051,-56.41026 }</string>
	
								<string>{ -115.38462,-75.89744 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 116.41025,-87.69231 }</string>
	
								<string>{ 88.20511,-102.05128 }</string>
	
								<string>{ 63.58972,-97.94872 }</string>
	
								<string>{ 33.33331,-59.48718 }</string>
	
								<string>{ 89.23077,-45.64103 }</string>
	
								<string>{ 121.02563,-52.82052 }</string>
	
								<string>{ 141.02563,-66.15385 }</string>

							</array>

							<array>
	
								<string>{ -16.41026,76.41025 }</string>
	
								<string>{ -0.51283,69.74359 }</string>
	
								<string>{ -3.58975,38.97435 }</string>
	
								<string>{ -49.23077,45.64102 }</string>
	
								<string>{ -49.74359,67.69231 }</string>

							</array>

							<array>
	
								<string>{ -66.15385,10.76923 }</string>
	
								<string>{ -3.58975,38.97435 }</string>
	
								<string>{ 9.23076,13.33333 }</string>
	
								<string>{ -37.43590,-20.00000 }</string>
	
								<string>{ -85.12820,-2.05128 }</string>

							</array>

							<array>
	
								<string>{ 33.33331,-59.48718 }</string>
	
								<string>{ 60.51282,-32.30769 }</string>
	
								<string>{ 89.23077,-45.64103 }</string>

							</array>

							<array>
	
								<string>{ 33.33331,-59.48718 }</string>
	
								<string>{ -2.56410,-34.87180 }</string>
	
								<string>{ 28.20511,-10.76924 }</string>
	
								<string>{ 60.51282,-32.30769 }</string>

							</array>

							<array>
	
								<string>{ -2.56410,-34.87180 }</string>
	
								<string>{ -37.43590,-20.00000 }</string>
	
								<string>{ 9.23076,13.33333 }</string>
	
								<string>{ 28.20511,-10.76924 }</string>

							</array>

							<array>
	
								<string>{ -3.58975,38.97435 }</string>
	
								<string>{ -53.84616,28.20512 }</string>
	
								<string>{ -49.23077,45.64102 }</string>

							</array>

							<array>
	
								<string>{ -53.84616,28.20512 }</string>
	
								<string>{ -3.58975,38.97435 }</string>
	
								<string>{ -66.15385,10.76923 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 183.58972,-61.53847 }</string>
	
								<string>{ 241.02563,-101.53846 }</string>
	
								<string>{ 157.43588,-86.66667 }</string>

							</array>

							<array>
	
								<string>{ 62.56409,88.71794 }</string>
	
								<string>{ 99.48718,84.61537 }</string>
	
								<string>{ 167.69229,68.20512 }</string>
	
								<string>{ 111.79486,65.64102 }</string>
	
								<string>{ 37.43588,84.61537 }</string>
	
								<string>{ 22.56409,90.25641 }</string>

							</array>

							<array>
	
								<string>{ 192.82050,-51.28205 }</string>
	
								<string>{ 241.02563,-101.53846 }</string>
	
								<string>{ 183.58972,-61.53847 }</string>

							</array>

							<array>
	
								<string>{ 201.02563,-37.94872 }</string>
	
								<string>{ 241.02563,-101.53846 }</string>
	
								<string>{ 192.82050,-51.28205 }</string>

							</array>

							<array>
	
								<string>{ 201.02563,-37.94872 }</string>
	
								<string>{ 204.61539,-21.02565 }</string>
	
								<string>{ 240.00000,47.69231 }</string>
	
								<string>{ 241.02563,-101.53846 }</string>

							</array>

							<array>
	
								<string>{ 167.69229,68.20512 }</string>
	
								<string>{ 144.10257,52.82051 }</string>
	
								<string>{ 111.79486,65.64102 }</string>

							</array>

							<array>
	
								<string>{ 167.69229,68.20512 }</string>
	
								<string>{ 240.00000,47.69231 }</string>
	
								<string>{ 166.66666,39.48717 }</string>
	
								<string>{ 144.10257,52.82051 }</string>

							</array>

							<array>
	
								<string>{ 240.00000,47.69231 }</string>
	
								<string>{ 180.51282,26.15384 }</string>
	
								<string>{ 166.66666,39.48717 }</string>

							</array>

							<array>
	
								<string>{ 240.00000,47.69231 }</string>
	
								<string>{ 192.82050,12.82051 }</string>
	
								<string>{ 180.51282,26.15384 }</string>

							</array>

							<array>
	
								<string>{ 240.00000,47.69231 }</string>
	
								<string>{ 202.56409,-4.61539 }</string>
	
								<string>{ 192.82050,12.82051 }</string>

							</array>

							<array>
	
								<string>{ 240.00000,47.69231 }</string>
	
								<string>{ 204.61539,-21.02565 }</string>
	
								<string>{ 202.56409,-4.61539 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

