<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C42</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 85.85489,1.28334 }</string>
	
								<string>{ 103.86044,-3.70280 }</string>
	
								<string>{ 119.37289,-10.35101 }</string>
	
								<string>{ 131.83829,-18.10724 }</string>
	
								<string>{ 72.28149,-44.70004 }</string>
	
								<string>{ 70.06543,-30.29561 }</string>
	
								<string>{ 68.68039,2.39137 }</string>

							</array>

							<array>
	
								<string>{ -179.79609,-11.18204 }</string>
	
								<string>{ -166.49969,-49.96320 }</string>
	
								<string>{ -167.05370,-59.65849 }</string>
	
								<string>{ -283.87868,-160.28941 }</string>
	
								<string>{ -284.78661,-33.15413 }</string>

							</array>

							<array>
	
								<string>{ 35.99341,-21.98537 }</string>
	
								<string>{ -14.14511,-28.07954 }</string>
	
								<string>{ -12.76007,-10.62802 }</string>
	
								<string>{ 34.88538,0.72932 }</string>

							</array>

							<array>
	
								<string>{ 38.48648,-42.48398 }</string>
	
								<string>{ 33.22330,-57.71944 }</string>
	
								<string>{ 14.10974,-75.72498 }</string>
	
								<string>{ -18.57724,-44.14603 }</string>
	
								<string>{ -14.14511,-28.07954 }</string>
	
								<string>{ 35.99341,-21.98537 }</string>

							</array>

							<array>
	
								<string>{ -2.23376,-92.62248 }</string>
	
								<string>{ -25.50244,-56.88840 }</string>
	
								<string>{ -18.57724,-44.14603 }</string>
	
								<string>{ 14.10974,-75.72498 }</string>

							</array>

							<array>
	
								<string>{ 128.79117,-100.37872 }</string>
	
								<string>{ 80.86874,-145.25406 }</string>
	
								<string>{ 81.97678,-119.76929 }</string>
	
								<string>{ 131.83829,-18.10724 }</string>
	
								<string>{ 140.97955,-28.07954 }</string>
	
								<string>{ 147.07373,-41.92996 }</string>
	
								<string>{ 150.12082,-60.76653 }</string>

							</array>

							<array>
	
								<string>{ -2.23376,-92.62248 }</string>
	
								<string>{ -13.59109,-105.64187 }</string>
	
								<string>{ -36.85979,-71.01583 }</string>
	
								<string>{ -25.50244,-56.88840 }</string>

							</array>

							<array>
	
								<string>{ -13.59109,-105.64187 }</string>
	
								<string>{ -26.05646,-121.43135 }</string>
	
								<string>{ -51.81824,-81.81916 }</string>
	
								<string>{ -36.85979,-71.01583 }</string>

							</array>

							<array>
	
								<string>{ -26.05646,-121.43135 }</string>
	
								<string>{ -32.42766,-132.51168 }</string>
	
								<string>{ -68.16173,-89.57539 }</string>
	
								<string>{ -51.81824,-81.81916 }</string>

							</array>

							<array>
	
								<string>{ -32.42766,-132.51168 }</string>
	
								<string>{ -83.39719,-93.73051 }</string>
	
								<string>{ -68.16173,-89.57539 }</string>

							</array>

							<array>
	
								<string>{ 131.83829,-18.10724 }</string>
	
								<string>{ 80.31473,-84.31223 }</string>
	
								<string>{ 72.28149,-44.70004 }</string>

							</array>

							<array>
	
								<string>{ 131.83829,-18.10724 }</string>
	
								<string>{ 81.97678,-119.76929 }</string>
	
								<string>{ 80.31473,-84.31223 }</string>

							</array>

							<array>
	
								<string>{ -142.95398,-19.76929 }</string>
	
								<string>{ -179.79609,-11.18204 }</string>
	
								<string>{ -120.12849,-4.42303 }</string>
	
								<string>{ -119.96230,-9.51999 }</string>

							</array>

							<array>
	
								<string>{ -155.69637,-29.46458 }</string>
	
								<string>{ -179.79609,-11.18204 }</string>
	
								<string>{ -142.95398,-19.76929 }</string>

							</array>

							<array>
	
								<string>{ -162.89857,-38.88287 }</string>
	
								<string>{ -179.79609,-11.18204 }</string>
	
								<string>{ -155.69637,-29.46458 }</string>

							</array>

							<array>
	
								<string>{ -166.49969,-49.96320 }</string>
	
								<string>{ -179.79609,-11.18204 }</string>
	
								<string>{ -162.89857,-38.88287 }</string>

							</array>

							<array>
	
								<string>{ -32.42766,-132.51168 }</string>
	
								<string>{ -99.46367,-95.94658 }</string>
	
								<string>{ -83.39719,-93.73051 }</string>

							</array>

							<array>
	
								<string>{ -32.42766,-132.51168 }</string>
	
								<string>{ -25.22543,-143.31500 }</string>
	
								<string>{ -283.87868,-160.28941 }</string>
	
								<string>{ -121.62434,-95.66957 }</string>
	
								<string>{ -99.46367,-95.94658 }</string>

							</array>

							<array>
	
								<string>{ 284.34912,-160.32001 }</string>
	
								<string>{ 80.86874,-145.25406 }</string>
	
								<string>{ 132.11530,-143.59201 }</string>
	
								<string>{ 283.19812,-144.93406 }</string>

							</array>

							<array>
	
								<string>{ 124.63605,-118.66126 }</string>
	
								<string>{ 80.86874,-145.25406 }</string>
	
								<string>{ 128.79117,-100.37872 }</string>

							</array>

							<array>
	
								<string>{ 122.69699,-135.55877 }</string>
	
								<string>{ 80.86874,-145.25406 }</string>
	
								<string>{ 124.63605,-118.66126 }</string>

							</array>

							<array>
	
								<string>{ 132.11530,-143.59201 }</string>
	
								<string>{ 80.86874,-145.25406 }</string>
	
								<string>{ 122.69699,-135.55877 }</string>

							</array>

							<array>
	
								<string>{ -164.00661,-69.07677 }</string>
	
								<string>{ -283.87868,-160.28941 }</string>
	
								<string>{ -167.05370,-59.65849 }</string>

							</array>

							<array>
	
								<string>{ -157.63542,-78.21805 }</string>
	
								<string>{ -283.87868,-160.28941 }</string>
	
								<string>{ -164.00661,-69.07677 }</string>

							</array>

							<array>
	
								<string>{ -146.83209,-85.97428 }</string>
	
								<string>{ -283.87868,-160.28941 }</string>
	
								<string>{ -157.63542,-78.21805 }</string>

							</array>

							<array>
	
								<string>{ -136.58279,-91.51445 }</string>
	
								<string>{ -283.87868,-160.28941 }</string>
	
								<string>{ -146.83209,-85.97428 }</string>

							</array>

							<array>
	
								<string>{ -121.62434,-95.66957 }</string>
	
								<string>{ -283.87868,-160.28941 }</string>
	
								<string>{ -136.58279,-91.51445 }</string>

							</array>

							<array>
	
								<string>{ -25.22543,-143.31500 }</string>
	
								<string>{ 80.86874,-145.25406 }</string>
	
								<string>{ 284.34912,-160.32001 }</string>
	
								<string>{ -283.87868,-160.28941 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 238.76349,-50.32620 }</string>
	
								<string>{ 134.48514,20.90338 }</string>
	
								<string>{ 69.23441,93.71812 }</string>
	
								<string>{ 155.38397,83.19180 }</string>
	
								<string>{ 202.75241,73.21950 }</string>
	
								<string>{ 239.42828,62.80399 }</string>
	
								<string>{ 283.19244,37.47633 }</string>
	
								<string>{ 284.76971,-60.94637 }</string>

							</array>

							<array>
	
								<string>{ 181.14575,-37.30682 }</string>
	
								<string>{ 212.44769,-50.60321 }</string>
	
								<string>{ 190.28702,-54.20432 }</string>
	
								<string>{ 182.80780,-49.21817 }</string>

							</array>

							<array>
	
								<string>{ 65.35626,46.34970 }</string>
	
								<string>{ 91.77954,34.27667 }</string>
	
								<string>{ 66.50275,37.47757 }</string>

							</array>

							<array>
	
								<string>{ 176.43661,-24.56444 }</string>
	
								<string>{ 238.76349,-50.32620 }</string>
	
								<string>{ 212.44769,-50.60321 }</string>
	
								<string>{ 181.14575,-37.30682 }</string>

							</array>

							<array>
	
								<string>{ 61.20114,57.15302 }</string>
	
								<string>{ 69.23441,93.71812 }</string>
	
								<string>{ 108.87717,30.95258 }</string>
	
								<string>{ 91.77954,34.27667 }</string>
	
								<string>{ 65.35626,46.34970 }</string>

							</array>

							<array>
	
								<string>{ -100.01768,99.36908 }</string>
	
								<string>{ -5.28085,97.31921 }</string>
	
								<string>{ -50.43320,90.94804 }</string>
	
								<string>{ -99.18666,90.94804 }</string>

							</array>

							<array>
	
								<string>{ -5.28085,97.31921 }</string>
	
								<string>{ -24.94843,89.84000 }</string>
	
								<string>{ -50.43320,90.94804 }</string>

							</array>

							<array>
	
								<string>{ -5.28085,97.31921 }</string>
	
								<string>{ -1.12573,88.17795 }</string>
	
								<string>{ -24.94843,89.84000 }</string>

							</array>

							<array>
	
								<string>{ -5.28085,97.31921 }</string>
	
								<string>{ 69.23441,93.71812 }</string>
	
								<string>{ 21.03494,83.19180 }</string>
	
								<string>{ -1.12573,88.17795 }</string>

							</array>

							<array>
	
								<string>{ 69.23441,93.71812 }</string>
	
								<string>{ 39.87152,76.26660 }</string>
	
								<string>{ 21.03494,83.19180 }</string>

							</array>

							<array>
	
								<string>{ 69.23441,93.71812 }</string>
	
								<string>{ 52.89090,67.95634 }</string>
	
								<string>{ 39.87152,76.26660 }</string>

							</array>

							<array>
	
								<string>{ 69.23441,93.71812 }</string>
	
								<string>{ 61.20114,57.15302 }</string>
	
								<string>{ 52.89090,67.95634 }</string>

							</array>

							<array>
	
								<string>{ 171.17346,-12.65308 }</string>
	
								<string>{ 238.76349,-50.32620 }</string>
	
								<string>{ 176.43661,-24.56444 }</string>

							</array>

							<array>
	
								<string>{ 69.23441,93.71812 }</string>
	
								<string>{ 123.04303,26.24344 }</string>
	
								<string>{ 108.87717,30.95258 }</string>

							</array>

							<array>
	
								<string>{ 69.23441,93.71812 }</string>
	
								<string>{ 134.48514,20.90338 }</string>
	
								<string>{ 123.04303,26.24344 }</string>

							</array>

							<array>
	
								<string>{ 162.86319,-2.12675 }</string>
	
								<string>{ 238.76349,-50.32620 }</string>
	
								<string>{ 171.17346,-12.65308 }</string>

							</array>

							<array>
	
								<string>{ 154.55295,6.73750 }</string>
	
								<string>{ 238.76349,-50.32620 }</string>
	
								<string>{ 162.86319,-2.12675 }</string>

							</array>

							<array>
	
								<string>{ 144.58066,13.93973 }</string>
	
								<string>{ 238.76349,-50.32620 }</string>
	
								<string>{ 154.55295,6.73750 }</string>

							</array>

							<array>
	
								<string>{ 134.48514,20.90338 }</string>
	
								<string>{ 238.76349,-50.32620 }</string>
	
								<string>{ 144.58066,13.93973 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -6.98730,54.71989 }</string>
	
								<string>{ -21.66876,44.47058 }</string>
	
								<string>{ -27.48593,56.49275 }</string>

							</array>

							<array>
	
								<string>{ -18.89868,33.39026 }</string>
	
								<string>{ -6.98730,54.71989 }</string>
	
								<string>{ -0.89313,26.74205 }</string>
	
								<string>{ -18.06766,21.20189 }</string>

							</array>

							<array>
	
								<string>{ -6.98730,54.71989 }</string>
	
								<string>{ -18.89868,33.39026 }</string>
	
								<string>{ -21.66876,44.47058 }</string>

							</array>

							<array>
	
								<string>{ -6.98730,54.71989 }</string>
	
								<string>{ 6.86310,51.94981 }</string>
	
								<string>{ 17.94342,48.34871 }</string>
	
								<string>{ 29.02377,42.53152 }</string>
	
								<string>{ 34.90543,32.08543 }</string>
	
								<string>{ -0.89313,26.74205 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 96.65161,147.47925 }</string>
	
								<string>{ 57.03940,152.46539 }</string>
	
								<string>{ 283.28741,160.88644 }</string>
	
								<string>{ 283.24109,153.08389 }</string>

							</array>

							<array>
	
								<string>{ -283.63700,160.58792 }</string>
	
								<string>{ 283.28741,160.88644 }</string>
	
								<string>{ -283.06148,151.59137 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

