<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C49</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 215.12466,-39.50138 }</string>
	
								<string>{ 190.47092,-32.29916 }</string>
	
								<string>{ 194.73401,-19.25636 }</string>

							</array>

							<array>
	
								<string>{ 160.27701,-46.98061 }</string>
	
								<string>{ 150.02771,-59.44598 }</string>
	
								<string>{ 138.39337,-68.86427 }</string>
	
								<string>{ 124.54294,-75.51247 }</string>
	
								<string>{ 107.64545,-81.32964 }</string>
	
								<string>{ 91.30194,-83.82272 }</string>
	
								<string>{ 119.56979,7.15826 }</string>
	
								<string>{ 173.01941,-20.38780 }</string>

							</array>

							<array>
	
								<string>{ -156.62050,-1.55124 }</string>
	
								<string>{ -159.66759,-84.93075 }</string>
	
								<string>{ -162.43767,-100.99723 }</string>
	
								<string>{ -240.27701,-160.83102 }</string>
	
								<string>{ -240.55402,37.34073 }</string>

							</array>

							<array>
	
								<string>{ 215.12466,-39.50138 }</string>
	
								<string>{ 239.50140,-52.52077 }</string>
	
								<string>{ 240.60944,-160.00000 }</string>
	
								<string>{ 186.72415,-43.74104 }</string>
	
								<string>{ 190.47092,-32.29916 }</string>

							</array>

							<array>
	
								<string>{ -76.84210,-80.77562 }</string>
	
								<string>{ -15.90027,-87.97784 }</string>
	
								<string>{ -44.70914,-96.56509 }</string>

							</array>

							<array>
	
								<string>{ -8.69806,-107.92244 }</string>
	
								<string>{ 7.92244,-105.70637 }</string>
	
								<string>{ 56.12189,-104.59834 }</string>
	
								<string>{ 25.92798,-141.99446 }</string>
	
								<string>{ -21.44043,-112.07756 }</string>

							</array>

							<array>
	
								<string>{ 91.57895,-103.49030 }</string>
	
								<string>{ 25.92798,-141.99446 }</string>
	
								<string>{ 56.12189,-104.59834 }</string>

							</array>

							<array>
	
								<string>{ 70.52634,-84.09972 }</string>
	
								<string>{ 79.90689,-38.39335 }</string>
	
								<string>{ 86.90231,-25.30373 }</string>
	
								<string>{ 108.28790,0.20964 }</string>
	
								<string>{ 119.56979,7.15826 }</string>
	
								<string>{ 91.30194,-83.82272 }</string>

							</array>

							<array>
	
								<string>{ 116.78671,-99.88919 }</string>
	
								<string>{ 240.60944,-160.00000 }</string>
	
								<string>{ 25.92798,-141.99446 }</string>
	
								<string>{ 91.57895,-103.49030 }</string>

							</array>

							<array>
	
								<string>{ 99.90610,-6.94836 }</string>
	
								<string>{ 108.28790,0.20964 }</string>
	
								<string>{ 86.90231,-25.30373 }</string>
	
								<string>{ 93.01993,-14.83333 }</string>

							</array>

							<array>
	
								<string>{ 240.60944,-160.00000 }</string>
	
								<string>{ 181.24512,-53.37521 }</string>
	
								<string>{ 186.72415,-43.74104 }</string>

							</array>

							<array>
	
								<string>{ 240.60944,-160.00000 }</string>
	
								<string>{ 174.40445,-62.77008 }</string>
	
								<string>{ 181.24512,-53.37521 }</string>

							</array>

							<array>
	
								<string>{ 240.60944,-160.00000 }</string>
	
								<string>{ 163.04709,-75.23546 }</string>
	
								<string>{ 174.40445,-62.77008 }</string>

							</array>

							<array>
	
								<string>{ 240.60944,-160.00000 }</string>
	
								<string>{ 150.02771,-85.20776 }</string>
	
								<string>{ 163.04709,-75.23546 }</string>

							</array>

							<array>
	
								<string>{ 240.60944,-160.00000 }</string>
	
								<string>{ 134.51526,-94.07202 }</string>
	
								<string>{ 150.02771,-85.20776 }</string>

							</array>

							<array>
	
								<string>{ 240.60944,-160.00000 }</string>
	
								<string>{ 116.78671,-99.88919 }</string>
	
								<string>{ 134.51526,-94.07202 }</string>

							</array>

							<array>
	
								<string>{ -109.80609,-69.97230 }</string>
	
								<string>{ -17.28531,-53.62881 }</string>
	
								<string>{ 6.26039,-60.21588 }</string>
	
								<string>{ 9.03047,-84.93075 }</string>
	
								<string>{ -15.90027,-87.97784 }</string>
	
								<string>{ -76.84210,-80.77562 }</string>

							</array>

							<array>
	
								<string>{ 70.52634,-84.09972 }</string>
	
								<string>{ 73.48889,-48.05093 }</string>
	
								<string>{ 79.90689,-38.39335 }</string>

							</array>

							<array>
	
								<string>{ 70.52634,-84.09972 }</string>
	
								<string>{ 66.37119,-54.86819 }</string>
	
								<string>{ 73.48889,-48.05093 }</string>

							</array>

							<array>
	
								<string>{ 9.03047,-84.93075 }</string>
	
								<string>{ 58.59152,-58.59155 }</string>
	
								<string>{ 66.37119,-54.86819 }</string>
	
								<string>{ 70.52634,-84.09972 }</string>

							</array>

							<array>
	
								<string>{ -240.27701,-160.83102 }</string>
	
								<string>{ -142.21606,-141.99446 }</string>
	
								<string>{ 25.92798,-141.99446 }</string>
	
								<string>{ 240.60944,-160.00000 }</string>

							</array>

							<array>
	
								<string>{ -240.27701,-160.83102 }</string>
	
								<string>{ -153.01939,-133.96122 }</string>
	
								<string>{ -142.21606,-141.99446 }</string>

							</array>

							<array>
	
								<string>{ -240.27701,-160.83102 }</string>
	
								<string>{ -159.94460,-120.11080 }</string>
	
								<string>{ -153.01939,-133.96122 }</string>

							</array>

							<array>
	
								<string>{ -240.27701,-160.83102 }</string>
	
								<string>{ -162.43767,-100.99723 }</string>
	
								<string>{ -159.94460,-120.11080 }</string>

							</array>

							<array>
	
								<string>{ -156.62050,-1.55124 }</string>
	
								<string>{ -153.01939,-75.23546 }</string>
	
								<string>{ -159.66759,-84.93075 }</string>

							</array>

							<array>
	
								<string>{ -156.62050,-1.55124 }</string>
	
								<string>{ -144.98615,-70.80332 }</string>
	
								<string>{ -153.01939,-75.23546 }</string>

							</array>

							<array>
	
								<string>{ -65.76176,-37.00831 }</string>
	
								<string>{ -144.98615,-70.80332 }</string>
	
								<string>{ -156.62050,-1.55124 }</string>

							</array>

							<array>
	
								<string>{ -17.28531,-53.62881 }</string>
	
								<string>{ -144.98615,-70.80332 }</string>
	
								<string>{ -65.76176,-37.00831 }</string>

							</array>

							<array>
	
								<string>{ 9.03047,-84.93075 }</string>
	
								<string>{ 49.83524,-61.32391 }</string>
	
								<string>{ 58.59152,-58.59155 }</string>

							</array>

							<array>
	
								<string>{ 9.03047,-84.93075 }</string>
	
								<string>{ 39.81219,-62.34742 }</string>
	
								<string>{ 49.83524,-61.32391 }</string>

							</array>

							<array>
	
								<string>{ 9.03047,-84.93075 }</string>
	
								<string>{ 27.62775,-62.43195 }</string>
	
								<string>{ 39.81219,-62.34742 }</string>

							</array>

							<array>
	
								<string>{ 9.03047,-84.93075 }</string>
	
								<string>{ 6.26039,-60.21588 }</string>
	
								<string>{ 27.62775,-62.43195 }</string>

							</array>

							<array>
	
								<string>{ -131.68975,-69.14127 }</string>
	
								<string>{ -17.28531,-53.62881 }</string>
	
								<string>{ -109.80609,-69.97230 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 50.58173,10.36012 }</string>
	
								<string>{ 65.81717,1.77286 }</string>
	
								<string>{ 61.93906,-10.13850 }</string>

							</array>

							<array>
	
								<string>{ 50.58173,10.36012 }</string>
	
								<string>{ 31.46814,40.83102 }</string>
	
								<string>{ 71.08035,12.02217 }</string>
	
								<string>{ 65.81717,1.77286 }</string>

							</array>

							<array>
	
								<string>{ 184.65375,99.83380 }</string>
	
								<string>{ 112.07758,129.75070 }</string>
	
								<string>{ 240.16623,126.81442 }</string>
	
								<string>{ 239.50140,96.78671 }</string>

							</array>

							<array>
	
								<string>{ 95.45706,35.01385 }</string>
	
								<string>{ 86.31580,28.64267 }</string>
	
								<string>{ 31.46814,40.83102 }</string>
	
								<string>{ 102.93631,64.93076 }</string>
	
								<string>{ 107.36844,47.20222 }</string>

							</array>

							<array>
	
								<string>{ -12.02216,106.59280 }</string>
	
								<string>{ -2.88087,114.79227 }</string>
	
								<string>{ 13.46262,120.33243 }</string>
	
								<string>{ 46.42661,125.87259 }</string>
	
								<string>{ -2.32686,80.99724 }</string>
	
								<string>{ -12.02216,91.80057 }</string>
	
								<string>{ -14.23822,99.27979 }</string>

							</array>

							<array>
	
								<string>{ 46.42661,125.87259 }</string>
	
								<string>{ 112.07758,129.75070 }</string>
	
								<string>{ 123.43491,91.80057 }</string>
	
								<string>{ 15.12466,60.77563 }</string>
	
								<string>{ -2.32686,80.99724 }</string>

							</array>

							<array>
	
								<string>{ 31.46814,40.83102 }</string>
	
								<string>{ 78.55957,21.44044 }</string>
	
								<string>{ 71.08035,12.02217 }</string>

							</array>

							<array>
	
								<string>{ 153.62881,99.55679 }</string>
	
								<string>{ 112.07758,129.75070 }</string>
	
								<string>{ 184.65375,99.83380 }</string>

							</array>

							<array>
	
								<string>{ 140.33243,96.50970 }</string>
	
								<string>{ 112.07758,129.75070 }</string>
	
								<string>{ 153.62881,99.55679 }</string>

							</array>

							<array>
	
								<string>{ 123.43491,91.80057 }</string>
	
								<string>{ 112.07758,129.75070 }</string>
	
								<string>{ 140.33243,96.50970 }</string>

							</array>

							<array>
	
								<string>{ 123.43491,91.80057 }</string>
	
								<string>{ 31.46814,40.83102 }</string>
	
								<string>{ 15.12466,60.77563 }</string>

							</array>

							<array>
	
								<string>{ 31.46814,40.83102 }</string>
	
								<string>{ 86.31580,28.64267 }</string>
	
								<string>{ 78.55957,21.44044 }</string>

							</array>

							<array>
	
								<string>{ 31.46814,40.83102 }</string>
	
								<string>{ 103.21332,75.45708 }</string>
	
								<string>{ 102.93631,64.93076 }</string>

							</array>

							<array>
	
								<string>{ 31.46814,40.83102 }</string>
	
								<string>{ 110.96954,84.59834 }</string>
	
								<string>{ 103.21332,75.45708 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

