<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C37</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -240.55402,-6.98061 }</string>
	
								<string>{ -170.47091,-0.99722 }</string>
	
								<string>{ -205.65097,-35.34626 }</string>
	
								<string>{ -239.72299,-45.31856 }</string>

							</array>

							<array>
	
								<string>{ -170.47091,-0.99722 }</string>
	
								<string>{ -103.04709,-2.27147 }</string>
	
								<string>{ -104.26593,-9.03047 }</string>
	
								<string>{ -118.39335,-23.43491 }</string>
	
								<string>{ -175.18005,-41.16343 }</string>
	
								<string>{ -205.65097,-35.34626 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -6.75900,-84.09972 }</string>
	
								<string>{ -27.53462,-128.42105 }</string>
	
								<string>{ -24.48753,-88.25484 }</string>
	
								<string>{ -19.77838,-78.28255 }</string>

							</array>

							<array>
	
								<string>{ 27.03601,-57.78393 }</string>
	
								<string>{ 13.46262,-58.89196 }</string>
	
								<string>{ -0.66481,-53.07479 }</string>
	
								<string>{ 31.46814,-34.23822 }</string>
	
								<string>{ 35.62329,-52.79778 }</string>

							</array>

							<array>
	
								<string>{ 7.92244,-88.25484 }</string>
	
								<string>{ -27.53462,-128.42105 }</string>
	
								<string>{ -6.75900,-84.09972 }</string>

							</array>

							<array>
	
								<string>{ -0.66481,-53.07479 }</string>
	
								<string>{ -12.29916,-45.31856 }</string>
	
								<string>{ -21.99446,-35.34626 }</string>
	
								<string>{ -35.01384,3.43491 }</string>
	
								<string>{ 31.46814,-19.00276 }</string>
	
								<string>{ 31.46814,-34.23822 }</string>

							</array>

							<array>
	
								<string>{ -128.36565,-69.41828 }</string>
	
								<string>{ -129.75069,-96.84210 }</string>
	
								<string>{ -166.59280,-69.69529 }</string>
	
								<string>{ -133.62881,-60.27701 }</string>

							</array>

							<array>
	
								<string>{ -127.53462,-117.89474 }</string>
	
								<string>{ -166.59280,-69.69529 }</string>
	
								<string>{ -129.75069,-96.84210 }</string>

							</array>

							<array>
	
								<string>{ -54.40443,45.54018 }</string>
	
								<string>{ -54.68144,56.34349 }</string>
	
								<string>{ -7.31302,59.39059 }</string>
	
								<string>{ 42.54849,59.39059 }</string>
	
								<string>{ 34.79227,-0.44321 }</string>
	
								<string>{ 31.46814,-19.00276 }</string>
	
								<string>{ -35.01384,3.43491 }</string>

							</array>

							<array>
	
								<string>{ 21.77286,-89.08587 }</string>
	
								<string>{ -31.13573,-147.25762 }</string>
	
								<string>{ -27.53462,-128.42105 }</string>
	
								<string>{ 7.92244,-88.25484 }</string>

							</array>

							<array>
	
								<string>{ 95.73407,-55.01385 }</string>
	
								<string>{ 117.34073,-56.39889 }</string>
	
								<string>{ 64.43213,-68.03324 }</string>
	
								<string>{ 71.63437,-61.10803 }</string>

							</array>

							<array>
	
								<string>{ -118.39335,-146.70360 }</string>
	
								<string>{ -31.13573,-147.25762 }</string>
	
								<string>{ 240.99725,-159.88920 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -240.55402,-152.68698 }</string>

							</array>

							<array>
	
								<string>{ -121.16343,-139.50138 }</string>
	
								<string>{ -169.08587,-99.88919 }</string>
	
								<string>{ -169.36288,-75.78947 }</string>
	
								<string>{ -166.59280,-69.69529 }</string>
	
								<string>{ -127.53462,-117.89474 }</string>

							</array>

							<array>
	
								<string>{ 35.62329,-86.86980 }</string>
	
								<string>{ -31.13573,-147.25762 }</string>
	
								<string>{ 21.77286,-89.08587 }</string>

							</array>

							<array>
	
								<string>{ -121.16343,-139.50138 }</string>
	
								<string>{ -171.85596,-119.00277 }</string>
	
								<string>{ -169.08587,-99.88919 }</string>

							</array>

							<array>
	
								<string>{ -121.16343,-139.50138 }</string>
	
								<string>{ -118.39335,-146.70360 }</string>
	
								<string>{ -177.39612,-149.19668 }</string>
	
								<string>{ -171.85596,-119.00277 }</string>

							</array>

							<array>
	
								<string>{ 140.88644,-57.78393 }</string>
	
								<string>{ 55.56787,-75.23546 }</string>
	
								<string>{ 64.43213,-68.03324 }</string>
	
								<string>{ 117.34073,-56.39889 }</string>

							</array>

							<array>
	
								<string>{ 140.88644,-57.78393 }</string>
	
								<string>{ 172.46539,-56.39889 }</string>
	
								<string>{ 45.31857,-82.43767 }</string>
	
								<string>{ 55.56787,-75.23546 }</string>

							</array>

							<array>
	
								<string>{ -31.13573,-147.25762 }</string>
	
								<string>{ 35.62329,-86.86980 }</string>
	
								<string>{ 45.31857,-82.43767 }</string>
	
								<string>{ 196.56512,-54.18282 }</string>
	
								<string>{ 210.69254,-52.79778 }</string>
	
								<string>{ 240.05542,-53.90582 }</string>
	
								<string>{ 240.99725,-159.88920 }</string>

							</array>

							<array>
	
								<string>{ 165.81720,48.31026 }</string>
	
								<string>{ 104.04434,36.12189 }</string>
	
								<string>{ 72.46539,36.39890 }</string>
	
								<string>{ 42.54849,59.39059 }</string>
	
								<string>{ 107.09143,56.34349 }</string>

							</array>

							<array>
	
								<string>{ 196.56512,-54.18282 }</string>
	
								<string>{ 45.31857,-82.43767 }</string>
	
								<string>{ 172.46539,-56.39889 }</string>

							</array>

							<array>
	
								<string>{ 213.18561,-30.36011 }</string>
	
								<string>{ 239.50140,39.16898 }</string>
	
								<string>{ 240.05542,-53.90582 }</string>
	
								<string>{ 210.69254,-52.79778 }</string>

							</array>

							<array>
	
								<string>{ 212.63159,-3.21329 }</string>
	
								<string>{ 239.50140,39.16898 }</string>
	
								<string>{ 213.18561,-30.36011 }</string>

							</array>

							<array>
	
								<string>{ 208.19946,18.39336 }</string>
	
								<string>{ 239.50140,39.16898 }</string>
	
								<string>{ 212.63159,-3.21329 }</string>

							</array>

							<array>
	
								<string>{ 208.19946,18.39336 }</string>
	
								<string>{ 168.31027,27.53464 }</string>
	
								<string>{ 165.81720,48.31026 }</string>
	
								<string>{ 239.50140,39.16898 }</string>

							</array>

							<array>
	
								<string>{ 137.00833,33.35181 }</string>
	
								<string>{ 165.81720,48.31026 }</string>
	
								<string>{ 168.31027,27.53464 }</string>

							</array>

							<array>
	
								<string>{ 104.04434,36.12189 }</string>
	
								<string>{ 165.81720,48.31026 }</string>
	
								<string>{ 137.00833,33.35181 }</string>

							</array>

							<array>
	
								<string>{ 56.39890,27.81165 }</string>
	
								<string>{ 42.54849,59.39059 }</string>
	
								<string>{ 72.46539,36.39890 }</string>

							</array>

							<array>
	
								<string>{ 43.10251,15.34627 }</string>
	
								<string>{ 42.54849,59.39059 }</string>
	
								<string>{ 56.39890,27.81165 }</string>

							</array>

							<array>
	
								<string>{ 34.79227,-0.44321 }</string>
	
								<string>{ 42.54849,59.39059 }</string>
	
								<string>{ 43.10251,15.34627 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -241.10803,161.44046 }</string>
	
								<string>{ 242.10529,160.60944 }</string>
	
								<string>{ 240.88644,154.40445 }</string>
	
								<string>{ -240.83102,153.01941 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

