<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C54</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -55.54253,15.36656 }</string>
	
								<string>{ -31.78886,3.04985 }</string>
	
								<string>{ -95.71848,-30.08798 }</string>
	
								<string>{ -96.89149,-12.49268 }</string>
	
								<string>{ -79.00293,22.11143 }</string>

							</array>

							<array>
	
								<string>{ 105.45453,-64.39883 }</string>
	
								<string>{ 125.68915,-72.02346 }</string>
	
								<string>{ 142.40469,-87.27273 }</string>
	
								<string>{ 156.77417,-108.38710 }</string>
	
								<string>{ 50.32257,-128.32845 }</string>
	
								<string>{ 66.15836,-93.72434 }</string>
	
								<string>{ 76.42227,-73.48974 }</string>
	
								<string>{ 88.44574,-61.46628 }</string>

							</array>

							<array>
	
								<string>{ -31.78886,3.04985 }</string>
	
								<string>{ -18.88564,-11.61290 }</string>
	
								<string>{ -14.48682,-28.62170 }</string>
	
								<string>{ -101.29033,-59.12024 }</string>
	
								<string>{ -95.71848,-30.08798 }</string>

							</array>

							<array>
	
								<string>{ 240.76245,-159.29619 }</string>
	
								<string>{ -240.00000,-159.70674 }</string>
	
								<string>{ -167.85924,-148.26980 }</string>
	
								<string>{ 240.05862,-146.51026 }</string>

							</array>

							<array>
	
								<string>{ -14.48682,-28.62170 }</string>
	
								<string>{ -18.00587,-47.68329 }</string>
	
								<string>{ -43.51907,-88.44575 }</string>
	
								<string>{ -80.17596,-130.67449 }</string>
	
								<string>{ -122.69795,-101.93549 }</string>
	
								<string>{ -101.29033,-59.12024 }</string>

							</array>

							<array>
	
								<string>{ 165.57184,-124.80938 }</string>
	
								<string>{ 32.43402,-145.04399 }</string>
	
								<string>{ 50.32257,-128.32845 }</string>
	
								<string>{ 156.77417,-108.38710 }</string>

							</array>

							<array>
	
								<string>{ -167.85924,-148.26980 }</string>
	
								<string>{ -240.00000,-159.70674 }</string>
	
								<string>{ -240.29326,-150.49853 }</string>

							</array>

							<array>
	
								<string>{ -80.17596,-130.67449 }</string>
	
								<string>{ -66.09972,-145.33724 }</string>
	
								<string>{ -152.31672,-138.29912 }</string>
	
								<string>{ -122.69795,-101.93549 }</string>

							</array>

							<array>
	
								<string>{ -66.09972,-145.33724 }</string>
	
								<string>{ -167.85924,-148.26980 }</string>
	
								<string>{ -152.31672,-138.29912 }</string>

							</array>

							<array>
	
								<string>{ 174.36948,-137.12610 }</string>
	
								<string>{ 32.43402,-145.04399 }</string>
	
								<string>{ 165.57184,-124.80938 }</string>

							</array>

							<array>
	
								<string>{ 187.27271,-145.04399 }</string>
	
								<string>{ 32.43402,-145.04399 }</string>
	
								<string>{ 174.36948,-137.12610 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -122.11144,3.04985 }</string>
	
								<string>{ -240.29326,-0.46921 }</string>
	
								<string>{ -240.58651,25.16129 }</string>
	
								<string>{ -178.70968,29.44281 }</string>
	
								<string>{ -109.97067,27.21407 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 58.94427,160.05865 }</string>
	
								<string>{ 45.04398,130.02933 }</string>
	
								<string>{ 30.38123,105.98239 }</string>
	
								<string>{ -1.58359,80.46921 }</string>
	
								<string>{ -18.59238,80.76245 }</string>
	
								<string>{ -48.50441,90.14662 }</string>
	
								<string>{ -123.87097,160.35190 }</string>

							</array>

							<array>
	
								<string>{ -1.58359,80.46921 }</string>
	
								<string>{ 30.38123,105.98239 }</string>
	
								<string>{ 15.13196,87.21407 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 105.74780,20.05864 }</string>
	
								<string>{ 91.37830,33.25513 }</string>
	
								<string>{ 240.76245,43.04985 }</string>
	
								<string>{ 240.05862,22.99120 }</string>

							</array>

							<array>
	
								<string>{ 91.37830,33.25513 }</string>
	
								<string>{ 77.59531,42.75659 }</string>
	
								<string>{ 240.76245,43.04985 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

