<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C26</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -181.71598,11.59763 }</string>
	
								<string>{ -177.86982,-18.87575 }</string>
	
								<string>{ -240.59172,-15.91716 }</string>
	
								<string>{ -239.70414,36.50887 }</string>

							</array>

							<array>
	
								<string>{ 150.53253,19.88165 }</string>
	
								<string>{ 126.56802,26.98224 }</string>
	
								<string>{ 112.36685,61.89348 }</string>
	
								<string>{ 156.44968,29.94083 }</string>
	
								<string>{ 157.33725,22.84023 }</string>

							</array>

							<array>
	
								<string>{ 104.67453,32.89940 }</string>
	
								<string>{ 112.36685,61.89348 }</string>
	
								<string>{ 126.56802,26.98224 }</string>

							</array>

							<array>
	
								<string>{ 81.30176,36.74556 }</string>
	
								<string>{ -68.40237,82.89940 }</string>
	
								<string>{ -70.76924,95.62129 }</string>
	
								<string>{ -10.11835,107.15976 }</string>
	
								<string>{ 34.26035,96.21301 }</string>
	
								<string>{ 77.45560,80.82840 }</string>
	
								<string>{ 112.36685,61.89348 }</string>
	
								<string>{ 104.67453,32.89940 }</string>

							</array>

							<array>
	
								<string>{ -144.14201,2.42603 }</string>
	
								<string>{ -140.88758,-25.68048 }</string>
	
								<string>{ -177.86982,-18.87575 }</string>
	
								<string>{ -181.71598,11.59763 }</string>

							</array>

							<array>
	
								<string>{ -121.36095,0.94675 }</string>
	
								<string>{ -112.18935,-36.03551 }</string>
	
								<string>{ -140.88758,-25.68048 }</string>
	
								<string>{ -144.14201,2.42603 }</string>

							</array>

							<array>
	
								<string>{ -104.20119,5.38461 }</string>
	
								<string>{ 1.12425,21.95265 }</string>
	
								<string>{ -8.93492,12.48520 }</string>
	
								<string>{ -80.23669,-47.57397 }</string>
	
								<string>{ -98.28403,-46.09468 }</string>
	
								<string>{ -112.18935,-36.03551 }</string>
	
								<string>{ -121.36095,0.94675 }</string>

							</array>

							<array>
	
								<string>{ -70.11835,110.47336 }</string>
	
								<string>{ -10.11835,107.15976 }</string>
	
								<string>{ -70.76924,95.62129 }</string>
	
								<string>{ -78.16568,101.53845 }</string>
	
								<string>{ -78.46155,106.27219 }</string>

							</array>

							<array>
	
								<string>{ 81.30176,36.74556 }</string>
	
								<string>{ -68.40237,71.36093 }</string>
	
								<string>{ -68.40237,82.89940 }</string>

							</array>

							<array>
	
								<string>{ 81.30176,36.74556 }</string>
	
								<string>{ 63.84613,37.92899 }</string>
	
								<string>{ -69.88167,53.31360 }</string>
	
								<string>{ -68.40237,71.36093 }</string>

							</array>

							<array>
	
								<string>{ -88.52072,12.78105 }</string>
	
								<string>{ 1.12425,21.95265 }</string>
	
								<string>{ -104.20119,5.38461 }</string>

							</array>

							<array>
	
								<string>{ -80.23669,23.43195 }</string>
	
								<string>{ 1.12425,21.95265 }</string>
	
								<string>{ -88.52072,12.78105 }</string>

							</array>

							<array>
	
								<string>{ -74.02368,36.15384 }</string>
	
								<string>{ 1.12425,21.95265 }</string>
	
								<string>{ -80.23669,23.43195 }</string>

							</array>

							<array>
	
								<string>{ -69.88167,53.31360 }</string>
	
								<string>{ 15.02957,30.23668 }</string>
	
								<string>{ 1.12425,21.95265 }</string>
	
								<string>{ -74.02368,36.15384 }</string>

							</array>

							<array>
	
								<string>{ -69.88167,53.31360 }</string>
	
								<string>{ 27.75146,34.97041 }</string>
	
								<string>{ 15.02957,30.23668 }</string>

							</array>

							<array>
	
								<string>{ -69.88167,53.31360 }</string>
	
								<string>{ 46.09467,37.63313 }</string>
	
								<string>{ 27.75146,34.97041 }</string>

							</array>

							<array>
	
								<string>{ -69.88167,53.31360 }</string>
	
								<string>{ 63.84613,37.92899 }</string>
	
								<string>{ 46.09467,37.63313 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -20.47337,-58.52071 }</string>
	
								<string>{ -61.24261,-70.00000 }</string>
	
								<string>{ -23.43196,-38.34320 }</string>

							</array>

							<array>
	
								<string>{ -14.26036,-86.03551 }</string>
	
								<string>{ -70.76924,-85.44379 }</string>
	
								<string>{ -61.24261,-70.00000 }</string>
	
								<string>{ -20.47337,-58.52071 }</string>

							</array>

							<array>
	
								<string>{ -4.79291,-111.77515 }</string>
	
								<string>{ -70.76924,-102.01184 }</string>
	
								<string>{ -70.76924,-85.44379 }</string>
	
								<string>{ -14.26036,-86.03551 }</string>

							</array>

							<array>
	
								<string>{ 5.56212,-132.48521 }</string>
	
								<string>{ -71.95267,-112.95858 }</string>
	
								<string>{ -70.76924,-102.01184 }</string>
	
								<string>{ -4.79291,-111.77515 }</string>

							</array>

							<array>
	
								<string>{ 241.36093,-160.59172 }</string>
	
								<string>{ -240.59172,-160.59172 }</string>
	
								<string>{ 14.14200,-146.68639 }</string>
	
								<string>{ 148.16568,-145.20710 }</string>
	
								<string>{ 239.88165,-147.57397 }</string>

							</array>

							<array>
	
								<string>{ 5.56212,-132.48521 }</string>
	
								<string>{ 14.14200,-146.68639 }</string>
	
								<string>{ -74.02368,-125.97633 }</string>
	
								<string>{ -71.95267,-112.95858 }</string>

							</array>

							<array>
	
								<string>{ 14.14200,-146.68639 }</string>
	
								<string>{ -79.34912,-137.81065 }</string>
	
								<string>{ -74.02368,-125.97633 }</string>

							</array>

							<array>
	
								<string>{ 14.14200,-146.68639 }</string>
	
								<string>{ -86.15385,-143.72781 }</string>
	
								<string>{ -79.34912,-137.81065 }</string>

							</array>

							<array>
	
								<string>{ -86.15385,-143.72781 }</string>
	
								<string>{ 14.14200,-146.68639 }</string>
	
								<string>{ -240.59172,-160.59172 }</string>
	
								<string>{ -240.29586,-152.01183 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 67.69229,19.58580 }</string>
	
								<string>{ 91.65680,13.07692 }</string>
	
								<string>{ 117.39642,5.08875 }</string>
	
								<string>{ 115.91714,-32.18935 }</string>
	
								<string>{ 94.91122,-18.57988 }</string>
	
								<string>{ 72.72189,0.35503 }</string>
	
								<string>{ 61.47928,11.89348 }</string>
	
								<string>{ 57.92899,17.81064 }</string>

							</array>

							<array>
	
								<string>{ 141.65680,-1.42012 }</string>
	
								<string>{ 136.33136,-44.31953 }</string>
	
								<string>{ 115.91714,-32.18935 }</string>
	
								<string>{ 117.39642,5.08875 }</string>

							</array>

							<array>
	
								<string>{ 162.95856,-4.08284 }</string>
	
								<string>{ 240.17749,-106.44971 }</string>
	
								<string>{ 191.95264,-80.11835 }</string>
	
								<string>{ 160.29584,-61.18343 }</string>
	
								<string>{ 136.33136,-44.31953 }</string>
	
								<string>{ 141.65680,-1.42012 }</string>

							</array>

							<array>
	
								<string>{ 240.53253,159.88165 }</string>
	
								<string>{ 123.60947,110.71005 }</string>
	
								<string>{ 71.83432,160.17749 }</string>

							</array>

							<array>
	
								<string>{ 240.53253,159.88165 }</string>
	
								<string>{ 149.64496,82.30768 }</string>
	
								<string>{ 123.60947,110.71005 }</string>

							</array>

							<array>
	
								<string>{ 240.53253,159.88165 }</string>
	
								<string>{ 168.28400,59.52663 }</string>
	
								<string>{ 149.64496,82.30768 }</string>

							</array>

							<array>
	
								<string>{ 240.53253,159.88165 }</string>
	
								<string>{ 178.63904,44.73372 }</string>
	
								<string>{ 168.28400,59.52663 }</string>

							</array>

							<array>
	
								<string>{ 177.15976,-2.01184 }</string>
	
								<string>{ 240.17749,-106.44971 }</string>
	
								<string>{ 162.95856,-4.08284 }</string>

							</array>

							<array>
	
								<string>{ 240.53253,159.88165 }</string>
	
								<string>{ 186.62720,29.34911 }</string>
	
								<string>{ 178.63904,44.73372 }</string>

							</array>

							<array>
	
								<string>{ 240.17749,-106.44971 }</string>
	
								<string>{ 188.99408,17.21893 }</string>
	
								<string>{ 186.62720,29.34911 }</string>
	
								<string>{ 240.53253,159.88165 }</string>

							</array>

							<array>
	
								<string>{ 186.62720,5.68047 }</string>
	
								<string>{ 240.17749,-106.44971 }</string>
	
								<string>{ 177.15976,-2.01184 }</string>

							</array>

							<array>
	
								<string>{ 188.99408,17.21893 }</string>
	
								<string>{ 240.17749,-106.44971 }</string>
	
								<string>{ 186.62720,5.68047 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

