<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C1</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 218.44156,65.32468 }</string>
	
								<string>{ 226.55844,39.02599 }</string>
	
								<string>{ 214.54547,-20.06493 }</string>
	
								<string>{ 185.32468,9.48053 }</string>
	
								<string>{ 158.05197,82.53247 }</string>
	
								<string>{ 176.23376,91.94806 }</string>
	
								<string>{ 200.25977,92.27274 }</string>

							</array>

							<array>
	
								<string>{ 329.22076,-159.61039 }</string>
	
								<string>{ 241.16885,-86.62337 }</string>
	
								<string>{ 237.92209,-55.45454 }</string>
	
								<string>{ 278.83118,-22.01299 }</string>
	
								<string>{ 328.83118,-53.83117 }</string>

							</array>

							<array>
	
								<string>{ 144.09091,75.71429 }</string>
	
								<string>{ 158.05197,82.53247 }</string>
	
								<string>{ 185.32468,9.48053 }</string>
	
								<string>{ 135.97403,56.88312 }</string>
	
								<string>{ 136.94806,67.27274 }</string>

							</array>

							<array>
	
								<string>{ 245.71429,11.10390 }</string>
	
								<string>{ 214.54547,-20.06493 }</string>
	
								<string>{ 226.55844,39.02599 }</string>

							</array>

							<array>
	
								<string>{ 278.83118,-22.01299 }</string>
	
								<string>{ 229.48053,-37.59740 }</string>
	
								<string>{ 214.54547,-20.06493 }</string>
	
								<string>{ 245.71429,11.10390 }</string>

							</array>

							<array>
	
								<string>{ 278.83118,-22.01299 }</string>
	
								<string>{ 237.92209,-55.45454 }</string>
	
								<string>{ 229.48053,-37.59740 }</string>

							</array>

							<array>
	
								<string>{ 329.22076,-159.61039 }</string>
	
								<string>{ 237.92209,-111.29870 }</string>
	
								<string>{ 241.16885,-86.62337 }</string>

							</array>

							<array>
	
								<string>{ 329.22076,-159.61039 }</string>
	
								<string>{ 223.31171,-130.45454 }</string>
	
								<string>{ 237.92209,-111.29870 }</string>

							</array>

							<array>
	
								<string>{ 329.22076,-159.61039 }</string>
	
								<string>{ 197.01300,-150.58442 }</string>
	
								<string>{ 223.31171,-130.45454 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -240.00000,-153.76623 }</string>
	
								<string>{ 197.01300,-150.58442 }</string>
	
								<string>{ 329.22076,-159.61039 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 38.22739,-133.99496 }</string>
	
								<string>{ -47.79221,-130.77922 }</string>
	
								<string>{ 32.72726,-106.10389 }</string>
	
								<string>{ 53.13434,-114.62687 }</string>

							</array>

							<array>
	
								<string>{ -94.22078,38.37663 }</string>
	
								<string>{ -124.09090,-53.18182 }</string>
	
								<string>{ -129.28571,-66.49351 }</string>
	
								<string>{ -177.98701,-97.33766 }</string>
	
								<string>{ -239.67532,-101.55844 }</string>
	
								<string>{ -240.64935,21.55844 }</string>

							</array>

							<array>
	
								<string>{ -44.54546,6.88312 }</string>
	
								<string>{ -88.05194,-35.97402 }</string>
	
								<string>{ -124.09090,-53.18182 }</string>
	
								<string>{ -94.22078,38.37663 }</string>
	
								<string>{ -28.89610,35.19481 }</string>

							</array>

							<array>
	
								<string>{ -88.05194,-35.97402 }</string>
	
								<string>{ -44.54546,6.88312 }</string>
	
								<string>{ -49.74025,-22.33766 }</string>

							</array>

							<array>
	
								<string>{ -47.79221,-130.77922 }</string>
	
								<string>{ -65.64935,-116.81818 }</string>
	
								<string>{ -99.41559,-79.48051 }</string>
	
								<string>{ -6.23376,-80.45454 }</string>
	
								<string>{ 32.72726,-106.10389 }</string>

							</array>

							<array>
	
								<string>{ -129.28571,-66.49351 }</string>
	
								<string>{ -120.19480,-76.23376 }</string>
	
								<string>{ -111.10390,-98.96104 }</string>
	
								<string>{ -177.98701,-97.33766 }</string>

							</array>

							<array>
	
								<string>{ -99.41559,-79.48051 }</string>
	
								<string>{ -65.64935,-116.81818 }</string>
	
								<string>{ -111.10390,-98.96104 }</string>
	
								<string>{ -120.19480,-76.23376 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 37.92209,-134.35065 }</string>
	
								<string>{ 66.49350,-111.62337 }</string>
	
								<string>{ 133.70129,-85.97402 }</string>
	
								<string>{ 116.16885,-130.12987 }</string>

							</array>

							<array>
	
								<string>{ 197.66235,-113.89610 }</string>
	
								<string>{ 163.89612,-62.92207 }</string>
	
								<string>{ 185.64935,-52.85714 }</string>
	
								<string>{ 215.19482,-68.11688 }</string>
	
								<string>{ 215.84418,-82.72727 }</string>
	
								<string>{ 214.87015,-96.68831 }</string>
	
								<string>{ 210.97403,-107.40260 }</string>

							</array>

							<array>
	
								<string>{ 215.19482,-68.11688 }</string>
	
								<string>{ 185.64935,-52.85714 }</string>
	
								<string>{ 211.36365,-57.33766 }</string>

							</array>

							<array>
	
								<string>{ 66.49350,-111.62337 }</string>
	
								<string>{ 37.92209,-134.35065 }</string>
	
								<string>{ 51.88312,-114.54545 }</string>

							</array>

							<array>
	
								<string>{ 95.38962,-24.61038 }</string>
	
								<string>{ 145.06494,-41.49350 }</string>
	
								<string>{ 81.75327,-79.48051 }</string>
	
								<string>{ 76.88312,-27.14285 }</string>
	
								<string>{ 83.70129,-22.98701 }</string>

							</array>

							<array>
	
								<string>{ 185.64935,-52.85714 }</string>
	
								<string>{ 77.85715,-99.61039 }</string>
	
								<string>{ 81.75327,-79.48051 }</string>
	
								<string>{ 145.06494,-41.49350 }</string>

							</array>

							<array>
	
								<string>{ 77.85715,-99.61039 }</string>
	
								<string>{ 163.89612,-62.92207 }</string>
	
								<string>{ 133.70129,-85.97402 }</string>
	
								<string>{ 66.49350,-111.62337 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 177.53247,117.27274 }</string>
	
								<string>{ 34.67532,121.49350 }</string>
	
								<string>{ 35.00000,160.19482 }</string>
	
								<string>{ 329.87012,159.54547 }</string>
	
								<string>{ 328.50653,120.51950 }</string>

							</array>

							<array>
	
								<string>{ 35.00000,160.19482 }</string>
	
								<string>{ 34.67532,121.49350 }</string>
	
								<string>{ 30.77924,143.89612 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

