<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C22</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -164.37811,4.05336 }</string>
	
								<string>{ -172.33831,-45.69788 }</string>
	
								<string>{ -176.81592,-57.63818 }</string>
	
								<string>{ -240.00000,-166.59341 }</string>
	
								<string>{ -239.50249,-0.72276 }</string>

							</array>

							<array>
	
								<string>{ 66.96518,-139.72774 }</string>
	
								<string>{ 31.14429,-107.88694 }</string>
	
								<string>{ 82.38806,-89.97649 }</string>
	
								<string>{ 93.83084,-94.95161 }</string>

							</array>

							<array>
	
								<string>{ 66.96518,-139.72774 }</string>
	
								<string>{ -26.56717,-121.81729 }</string>
	
								<string>{ 31.14429,-107.88694 }</string>

							</array>

							<array>
	
								<string>{ -18.60696,-21.31978 }</string>
	
								<string>{ -40.00000,-5.89688 }</string>
	
								<string>{ 15.72139,-23.80734 }</string>
	
								<string>{ 5.27364,-27.78743 }</string>

							</array>

							<array>
	
								<string>{ -49.45273,-17.83719 }</string>
	
								<string>{ -40.00000,-5.89688 }</string>
	
								<string>{ -18.60696,-21.31978 }</string>

							</array>

							<array>
	
								<string>{ -78.30846,-16.34465 }</string>
	
								<string>{ -100.69652,2.06331 }</string>
	
								<string>{ -40.00000,-5.89688 }</string>
	
								<string>{ -49.45273,-17.83719 }</string>

							</array>

							<array>
	
								<string>{ -96.21890,-15.84714 }</string>
	
								<string>{ -100.69652,2.06331 }</string>
	
								<string>{ -78.30846,-16.34465 }</string>

							</array>

							<array>
	
								<string>{ -111.64178,-16.84216 }</string>
	
								<string>{ -100.69652,2.06331 }</string>
	
								<string>{ -96.21890,-15.84714 }</string>

							</array>

							<array>
	
								<string>{ -126.56716,-18.83221 }</string>
	
								<string>{ -164.37811,4.05336 }</string>
	
								<string>{ -100.69652,2.06331 }</string>
	
								<string>{ -111.64178,-16.84216 }</string>

							</array>

							<array>
	
								<string>{ -142.98508,-23.30983 }</string>
	
								<string>{ -164.37811,4.05336 }</string>
	
								<string>{ -126.56716,-18.83221 }</string>

							</array>

							<array>
	
								<string>{ -156.41791,-29.77748 }</string>
	
								<string>{ -164.37811,4.05336 }</string>
	
								<string>{ -142.98508,-23.30983 }</string>

							</array>

							<array>
	
								<string>{ -165.37313,-37.24017 }</string>
	
								<string>{ -164.37811,4.05336 }</string>
	
								<string>{ -156.41791,-29.77748 }</string>

							</array>

							<array>
	
								<string>{ -172.33831,-45.69788 }</string>
	
								<string>{ -164.37811,4.05336 }</string>
	
								<string>{ -165.37313,-37.24017 }</string>

							</array>

							<array>
	
								<string>{ 66.96518,-139.72774 }</string>
	
								<string>{ 84.87561,-152.16555 }</string>
	
								<string>{ -240.00000,-166.59341 }</string>
	
								<string>{ -70.84576,-128.28495 }</string>
	
								<string>{ -26.56717,-121.81729 }</string>

							</array>

							<array>
	
								<string>{ 241.29355,-166.39440 }</string>
	
								<string>{ -240.00000,-166.59341 }</string>
	
								<string>{ 84.87561,-152.16555 }</string>
	
								<string>{ 241.09454,-154.65311 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-166.59341 }</string>
	
								<string>{ -101.69154,-129.77748 }</string>
	
								<string>{ -70.84576,-128.28495 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-166.59341 }</string>
	
								<string>{ -125.57214,-127.78744 }</string>
	
								<string>{ -101.69154,-129.77748 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-166.59341 }</string>
	
								<string>{ -141.99005,-124.30485 }</string>
	
								<string>{ -125.57214,-127.78744 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-166.59341 }</string>
	
								<string>{ -156.91542,-118.33470 }</string>
	
								<string>{ -141.99005,-124.30485 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-166.59341 }</string>
	
								<string>{ -166.86567,-109.87699 }</string>
	
								<string>{ -156.91542,-118.33470 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-166.59341 }</string>
	
								<string>{ -173.33334,-98.93171 }</string>
	
								<string>{ -166.86567,-109.87699 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-166.59341 }</string>
	
								<string>{ -177.81094,-85.99639 }</string>
	
								<string>{ -173.33334,-98.93171 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-166.59341 }</string>
	
								<string>{ -179.30348,-71.07101 }</string>
	
								<string>{ -177.81094,-85.99639 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-166.59341 }</string>
	
								<string>{ -176.81592,-57.63818 }</string>
	
								<string>{ -179.30348,-71.07101 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -91.16177,94.26576 }</string>
	
								<string>{ -108.65672,111.14429 }</string>
	
								<string>{ -122.58707,135.52240 }</string>
	
								<string>{ -84.27861,117.61194 }</string>
	
								<string>{ -81.29353,96.21890 }</string>

							</array>

							<array>
	
								<string>{ -122.58707,135.52240 }</string>
	
								<string>{ -128.05970,160.09952 }</string>
	
								<string>{ -70.84576,140.99503 }</string>
	
								<string>{ -84.27861,117.61194 }</string>

							</array>

							<array>
	
								<string>{ -128.05970,160.09952 }</string>
	
								<string>{ -48.95522,153.93036 }</string>
	
								<string>{ -70.84576,140.99503 }</string>

							</array>

							<array>
	
								<string>{ -48.95522,153.93036 }</string>
	
								<string>{ -128.05970,160.09952 }</string>
	
								<string>{ -22.38806,160.09952 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -49.40080,-90.95648 }</string>
	
								<string>{ -85.71921,-93.44405 }</string>
	
								<string>{ -100.14706,-91.45399 }</string>
	
								<string>{ -102.13712,-85.28484 }</string>
	
								<string>{ -1.44060,-60.90673 }</string>
	
								<string>{ 26.71860,-73.04604 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 84.03641,78.09387 }</string>
	
								<string>{ 99.45929,74.61128 }</string>
	
								<string>{ 125.32996,67.14861 }</string>
	
								<string>{ 113.88715,53.21825 }</string>
	
								<string>{ 88.01651,61.67596 }</string>
	
								<string>{ 77.56876,69.13864 }</string>
	
								<string>{ 73.09113,77.29785 }</string>

							</array>

							<array>
	
								<string>{ 94.98169,-25.88623 }</string>
	
								<string>{ 144.73294,-25.38872 }</string>
	
								<string>{ 88.51404,-54.74195 }</string>
	
								<string>{ 50.20557,-42.30414 }</string>

							</array>

							<array>
	
								<string>{ 125.32996,67.14861 }</string>
	
								<string>{ 149.21054,57.69586 }</string>
	
								<string>{ 169.60855,44.76054 }</string>
	
								<string>{ 128.81253,45.25806 }</string>
	
								<string>{ 113.88715,53.21825 }</string>

							</array>

							<array>
	
								<string>{ 123.33990,-11.95587 }</string>
	
								<string>{ 144.73294,-25.38872 }</string>
	
								<string>{ 94.98169,-25.88623 }</string>

							</array>

							<array>
	
								<string>{ 140.25531,1.97447 }</string>
	
								<string>{ 179.55881,30.83018 }</string>
	
								<string>{ 182.24536,15.60631 }</string>
	
								<string>{ 177.07123,2.47198 }</string>
	
								<string>{ 162.64337,-12.95090 }</string>
	
								<string>{ 144.73294,-25.38872 }</string>
	
								<string>{ 123.33990,-11.95587 }</string>

							</array>

							<array>
	
								<string>{ 140.25531,1.97447 }</string>
	
								<string>{ 145.23044,11.42720 }</string>
	
								<string>{ 169.60855,44.76054 }</string>
	
								<string>{ 179.55881,30.83018 }</string>

							</array>

							<array>
	
								<string>{ 169.60855,44.76054 }</string>
	
								<string>{ 138.76279,38.79039 }</string>
	
								<string>{ 128.81253,45.25806 }</string>

							</array>

							<array>
	
								<string>{ 169.60855,44.76054 }</string>
	
								<string>{ 144.73294,30.83018 }</string>
	
								<string>{ 138.76279,38.79039 }</string>

							</array>

							<array>
	
								<string>{ 169.60855,44.76054 }</string>
	
								<string>{ 146.72299,20.38243 }</string>
	
								<string>{ 144.73294,30.83018 }</string>

							</array>

							<array>
	
								<string>{ 169.60855,44.76054 }</string>
	
								<string>{ 145.23044,11.42720 }</string>
	
								<string>{ 146.72299,20.38243 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 153.63623,-46.67787 }</string>
	
								<string>{ 144.68100,-71.05598 }</string>
	
								<string>{ 122.29294,-64.09081 }</string>

							</array>

							<array>
	
								<string>{ 173.53671,-32.25002 }</string>
	
								<string>{ 240.20337,-59.61320 }</string>
	
								<string>{ 144.68100,-71.05598 }</string>
	
								<string>{ 153.63623,-46.67787 }</string>

							</array>

							<array>
	
								<string>{ 187.46707,-20.30971 }</string>
	
								<string>{ 240.20337,-59.61320 }</string>
	
								<string>{ 173.53671,-32.25002 }</string>

							</array>

							<array>
	
								<string>{ 198.90985,-8.36942 }</string>
	
								<string>{ 240.20337,-59.61320 }</string>
	
								<string>{ 187.46707,-20.30971 }</string>

							</array>

							<array>
	
								<string>{ 209.35760,5.06342 }</string>
	
								<string>{ 240.20337,-59.61320 }</string>
	
								<string>{ 198.90985,-8.36942 }</string>

							</array>

							<array>
	
								<string>{ 217.81531,22.47635 }</string>
	
								<string>{ 240.20337,-59.61320 }</string>
	
								<string>{ 209.35760,5.06342 }</string>

							</array>

							<array>
	
								<string>{ 217.81531,22.47635 }</string>
	
								<string>{ 219.80536,36.90422 }</string>
	
								<string>{ 241.39740,126.65546 }</string>
	
								<string>{ 240.20337,-59.61320 }</string>

							</array>

							<array>
	
								<string>{ 98.41232,128.64551 }</string>
	
								<string>{ 177.01929,132.42661 }</string>
	
								<string>{ 134.23325,109.54105 }</string>
	
								<string>{ 102.39243,120.98383 }</string>

							</array>

							<array>
	
								<string>{ 177.01929,132.42661 }</string>
	
								<string>{ 164.58148,95.61069 }</string>
	
								<string>{ 134.23325,109.54105 }</string>

							</array>

							<array>
	
								<string>{ 177.01929,132.42661 }</string>
	
								<string>{ 241.39740,126.65546 }</string>
	
								<string>{ 185.47702,84.66541 }</string>
	
								<string>{ 164.58148,95.61069 }</string>

							</array>

							<array>
	
								<string>{ 241.39740,126.65546 }</string>
	
								<string>{ 199.40735,73.72014 }</string>
	
								<string>{ 185.47702,84.66541 }</string>

							</array>

							<array>
	
								<string>{ 241.39740,126.65546 }</string>
	
								<string>{ 209.35760,63.27237 }</string>
	
								<string>{ 199.40735,73.72014 }</string>

							</array>

							<array>
	
								<string>{ 241.39740,126.65546 }</string>
	
								<string>{ 216.82028,49.83954 }</string>
	
								<string>{ 209.35760,63.27237 }</string>

							</array>

							<array>
	
								<string>{ 241.39740,126.65546 }</string>
	
								<string>{ 219.80536,36.90422 }</string>
	
								<string>{ 216.82028,49.83954 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

