<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C11</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -172.01824,66.29935 }</string>
	
								<string>{ -199.53303,-3.52315 }</string>
	
								<string>{ -284.32787,-160.95160 }</string>
	
								<string>{ -284.62373,57.75438 }</string>

							</array>

							<array>
	
								<string>{ -94.50345,-149.38112 }</string>
	
								<string>{ -284.32787,-160.95160 }</string>
	
								<string>{ -132.07741,-135.77166 }</string>
	
								<string>{ -102.19576,-141.68882 }</string>

							</array>

							<array>
	
								<string>{ 284.01434,-46.26249 }</string>
	
								<string>{ 166.44330,-53.52314 }</string>
	
								<string>{ 145.50140,-44.02367 }</string>

							</array>

							<array>
	
								<string>{ 284.01434,-46.26249 }</string>
	
								<string>{ 181.23618,-62.10302 }</string>
	
								<string>{ 166.44330,-53.52314 }</string>

							</array>

							<array>
	
								<string>{ 284.90192,-160.35988 }</string>
	
								<string>{ 192.47879,-74.23320 }</string>
	
								<string>{ 181.23618,-62.10302 }</string>
	
								<string>{ 284.01434,-46.26249 }</string>

							</array>

							<array>
	
								<string>{ -90.06558,64.52420 }</string>
	
								<string>{ -120.24309,58.60704 }</string>
	
								<string>{ -124.38510,67.18692 }</string>
	
								<string>{ -88.82297,66.65437 }</string>

							</array>

							<array>
	
								<string>{ -141.84073,52.68988 }</string>
	
								<string>{ -172.01824,66.29935 }</string>
	
								<string>{ -124.38510,67.18692 }</string>
	
								<string>{ -120.24309,58.60704 }</string>

							</array>

							<array>
	
								<string>{ -160.18392,43.81413 }</string>
	
								<string>{ -172.01824,66.29935 }</string>
	
								<string>{ -141.84073,52.68988 }</string>

							</array>

							<array>
	
								<string>{ -173.49753,34.05083 }</string>
	
								<string>{ -172.01824,66.29935 }</string>
	
								<string>{ -160.18392,43.81413 }</string>

							</array>

							<array>
	
								<string>{ -184.74013,23.39993 }</string>
	
								<string>{ -172.01824,66.29935 }</string>
	
								<string>{ -173.49753,34.05083 }</string>

							</array>

							<array>
	
								<string>{ -193.91173,10.08632 }</string>
	
								<string>{ -172.01824,66.29935 }</string>
	
								<string>{ -184.74013,23.39993 }</string>

							</array>

							<array>
	
								<string>{ 11.70956,-149.08527 }</string>
	
								<string>{ -284.32787,-160.95160 }</string>
	
								<string>{ -21.13068,-146.71840 }</string>

							</array>

							<array>
	
								<string>{ 284.90192,-160.35988 }</string>
	
								<string>{ 200.17111,-88.43438 }</string>
	
								<string>{ 192.47879,-74.23320 }</string>

							</array>

							<array>
	
								<string>{ 284.90192,-160.35988 }</string>
	
								<string>{ 202.53796,-100.26870 }</string>
	
								<string>{ 200.17111,-88.43438 }</string>

							</array>

							<array>
	
								<string>{ 284.90192,-160.35988 }</string>
	
								<string>{ 202.53796,-110.62373 }</string>
	
								<string>{ 202.53796,-100.26870 }</string>

							</array>

							<array>
	
								<string>{ 284.90192,-160.35988 }</string>
	
								<string>{ 198.39597,-121.86633 }</string>
	
								<string>{ 202.53796,-110.62373 }</string>

							</array>

							<array>
	
								<string>{ 284.90192,-160.35988 }</string>
	
								<string>{ 191.29535,-130.74207 }</string>
	
								<string>{ 198.39597,-121.86633 }</string>

							</array>

							<array>
	
								<string>{ 284.90192,-160.35988 }</string>
	
								<string>{ 180.64447,-138.73024 }</string>
	
								<string>{ 191.29535,-130.74207 }</string>

							</array>

							<array>
	
								<string>{ 284.90192,-160.35988 }</string>
	
								<string>{ 168.21844,-144.94325 }</string>
	
								<string>{ 180.64447,-138.73024 }</string>

							</array>

							<array>
	
								<string>{ 284.90192,-160.35988 }</string>
	
								<string>{ 151.05869,-148.78941 }</string>
	
								<string>{ 168.21844,-144.94325 }</string>

							</array>

							<array>
	
								<string>{ 284.90192,-160.35988 }</string>
	
								<string>{ -284.32787,-160.95160 }</string>
	
								<string>{ 11.70956,-149.08527 }</string>
	
								<string>{ 151.05869,-148.78941 }</string>

							</array>

							<array>
	
								<string>{ -284.32787,-160.95160 }</string>
	
								<string>{ -149.23717,-128.67106 }</string>
	
								<string>{ -132.07741,-135.77166 }</string>

							</array>

							<array>
	
								<string>{ -284.32787,-160.95160 }</string>
	
								<string>{ -162.25493,-120.09118 }</string>
	
								<string>{ -149.23717,-128.67106 }</string>

							</array>

							<array>
	
								<string>{ -284.32787,-160.95160 }</string>
	
								<string>{ -173.20167,-111.21544 }</string>
	
								<string>{ -162.25493,-120.09118 }</string>

							</array>

							<array>
	
								<string>{ -284.32787,-160.95160 }</string>
	
								<string>{ -183.55670,-99.38113 }</string>
	
								<string>{ -173.20167,-111.21544 }</string>

							</array>

							<array>
	
								<string>{ -284.32787,-160.95160 }</string>
	
								<string>{ -191.24901,-85.77166 }</string>
	
								<string>{ -183.55670,-99.38113 }</string>

							</array>

							<array>
	
								<string>{ -284.32787,-160.95160 }</string>
	
								<string>{ -196.87031,-72.16219 }</string>
	
								<string>{ -191.24901,-85.77166 }</string>

							</array>

							<array>
	
								<string>{ -284.32787,-160.95160 }</string>
	
								<string>{ -200.12475,-56.48172 }</string>
	
								<string>{ -196.87031,-72.16219 }</string>

							</array>

							<array>
	
								<string>{ -284.32787,-160.95160 }</string>
	
								<string>{ -202.19576,-37.54681 }</string>
	
								<string>{ -200.12475,-56.48172 }</string>

							</array>

							<array>
	
								<string>{ -284.32787,-160.95160 }</string>
	
								<string>{ -201.89989,-20.68291 }</string>
	
								<string>{ -202.19576,-37.54681 }</string>

							</array>

							<array>
	
								<string>{ -284.32787,-160.95160 }</string>
	
								<string>{ -199.53303,-3.52315 }</string>
	
								<string>{ -201.89989,-20.68291 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 112.73294,-70.85072 }</string>
	
								<string>{ 100.89862,-71.14658 }</string>
	
								<string>{ 73.97556,-59.31226 }</string>
	
								<string>{ 91.49033,-43.86847 }</string>
	
								<string>{ 123.08798,-63.45427 }</string>

							</array>

							<array>
	
								<string>{ 73.97556,-59.31226 }</string>
	
								<string>{ 60.07022,-58.12882 }</string>
	
								<string>{ 38.47260,-50.14066 }</string>
	
								<string>{ 91.49033,-43.86847 }</string>

							</array>

							<array>
	
								<string>{ 38.47260,-50.14066 }</string>
	
								<string>{ 60.07022,-58.12882 }</string>
	
								<string>{ 39.65601,-65.82113 }</string>
	
								<string>{ 5.33649,-64.63770 }</string>
	
								<string>{ -1.76410,-59.25308 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 8.68695,29.77301 }</string>
	
								<string>{ 58.09525,40.12804 }</string>
	
								<string>{ 57.50354,30.36473 }</string>
	
								<string>{ 41.82306,24.74342 }</string>
	
								<string>{ 19.92957,22.96828 }</string>

							</array>

							<array>
	
								<string>{ 238.56860,25.63100 }</string>
	
								<string>{ 138.86447,21.19313 }</string>
	
								<string>{ 95.96506,31.25230 }</string>
	
								<string>{ 271.08679,38.87573 }</string>
	
								<string>{ 258.95081,30.16394 }</string>

							</array>

							<array>
	
								<string>{ -118.23611,34.56590 }</string>
	
								<string>{ 58.09525,40.12804 }</string>
	
								<string>{ 8.68695,29.77301 }</string>
	
								<string>{ -68.53197,24.15170 }</string>
	
								<string>{ -110.83966,25.92685 }</string>

							</array>

							<array>
	
								<string>{ 58.09525,40.12804 }</string>
	
								<string>{ 271.08679,38.87573 }</string>
	
								<string>{ 57.50354,30.36473 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 240.76764,93.87816 }</string>
	
								<string>{ 138.99252,91.51129 }</string>
	
								<string>{ 112.66116,92.39886 }</string>
	
								<string>{ 86.92151,95.65331 }</string>
	
								<string>{ 133.37122,103.04974 }</string>
	
								<string>{ 265.74487,102.84509 }</string>

							</array>

							<array>
	
								<string>{ 86.92151,95.65331 }</string>
	
								<string>{ -3.01932,95.06158 }</string>
	
								<string>{ -4.79446,99.55862 }</string>
	
								<string>{ 133.37122,103.04974 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

