<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C12</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -122.68156,-22.29050 }</string>
	
								<string>{ -150.61452,-59.44134 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -240.27933,-22.23463 }</string>

							</array>

							<array>
	
								<string>{ 240.22348,-160.22346 }</string>
	
								<string>{ 197.98883,-148.54749 }</string>
	
								<string>{ 240.16760,-147.70950 }</string>

							</array>

							<array>
	
								<string>{ -2.01117,-146.31285 }</string>
	
								<string>{ -64.02234,-124.80447 }</string>
	
								<string>{ -43.91061,-122.56983 }</string>

							</array>

							<array>
	
								<string>{ -57.87709,-33.74301 }</string>
	
								<string>{ -122.68156,-22.29050 }</string>
	
								<string>{ -9.83240,-26.48044 }</string>
	
								<string>{ -10.67038,-31.50838 }</string>

							</array>

							<array>
	
								<string>{ -87.76537,-37.65363 }</string>
	
								<string>{ -122.68156,-22.29050 }</string>
	
								<string>{ -57.87709,-33.74301 }</string>

							</array>

							<array>
	
								<string>{ -109.55307,-42.40223 }</string>
	
								<string>{ -122.68156,-22.29050 }</string>
	
								<string>{ -87.76537,-37.65363 }</string>

							</array>

							<array>
	
								<string>{ -122.96089,-46.87151 }</string>
	
								<string>{ -122.68156,-22.29050 }</string>
	
								<string>{ -109.55307,-42.40223 }</string>

							</array>

							<array>
	
								<string>{ -141.11732,-53.29609 }</string>
	
								<string>{ -122.68156,-22.29050 }</string>
	
								<string>{ -122.96089,-46.87151 }</string>

							</array>

							<array>
	
								<string>{ -150.61452,-59.44134 }</string>
	
								<string>{ -122.68156,-22.29050 }</string>
	
								<string>{ -141.11732,-53.29609 }</string>

							</array>

							<array>
	
								<string>{ -2.01117,-146.31285 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -84.41341,-126.75978 }</string>
	
								<string>{ -64.02234,-124.80447 }</string>

							</array>

							<array>
	
								<string>{ 240.22348,-160.22346 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -2.01117,-146.31285 }</string>
	
								<string>{ 144.35754,-144.63687 }</string>
	
								<string>{ 197.98883,-148.54749 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -102.29050,-125.36313 }</string>
	
								<string>{ -84.41341,-126.75978 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -116.81564,-122.84916 }</string>
	
								<string>{ -102.29050,-125.36313 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -132.17877,-119.77654 }</string>
	
								<string>{ -116.81564,-122.84916 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -147.26257,-113.35196 }</string>
	
								<string>{ -132.17877,-119.77654 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -156.75977,-104.41341 }</string>
	
								<string>{ -147.26257,-113.35196 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -161.78770,-94.91620 }</string>
	
								<string>{ -156.75977,-104.41341 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -164.02235,-84.86034 }</string>
	
								<string>{ -161.78770,-94.91620 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -162.34637,-75.64246 }</string>
	
								<string>{ -164.02235,-84.86034 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -157.87709,-67.82123 }</string>
	
								<string>{ -162.34637,-75.64246 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 190.44693,84.69275 }</string>
	
								<string>{ 188.21231,97.82123 }</string>
	
								<string>{ 240.72626,160.39108 }</string>
	
								<string>{ 239.88828,79.38548 }</string>

							</array>

							<array>
	
								<string>{ 184.02237,108.43576 }</string>
	
								<string>{ 240.72626,160.39108 }</string>
	
								<string>{ 188.21231,97.82123 }</string>

							</array>

							<array>
	
								<string>{ 175.92178,116.53632 }</string>
	
								<string>{ 240.72626,160.39108 }</string>
	
								<string>{ 184.02237,108.43576 }</string>

							</array>

							<array>
	
								<string>{ 166.70392,123.79889 }</string>
	
								<string>{ 240.72626,160.39108 }</string>
	
								<string>{ 175.92178,116.53632 }</string>

							</array>

							<array>
	
								<string>{ 166.70392,123.79889 }</string>
	
								<string>{ 152.73743,129.10614 }</string>
	
								<string>{ 80.72626,159.60895 }</string>
	
								<string>{ 240.72626,160.39108 }</string>

							</array>

							<array>
	
								<string>{ -18.49162,133.29608 }</string>
	
								<string>{ 22.84918,146.70392 }</string>
	
								<string>{ 30.11172,127.98883 }</string>
	
								<string>{ -52.84915,111.78772 }</string>
	
								<string>{ -53.96648,116.03354 }</string>

							</array>

							<array>
	
								<string>{ 22.84918,146.70392 }</string>
	
								<string>{ 80.72626,159.60895 }</string>
	
								<string>{ 67.26257,131.89944 }</string>
	
								<string>{ 30.11172,127.98883 }</string>

							</array>

							<array>
	
								<string>{ 80.72626,159.60895 }</string>
	
								<string>{ 96.87152,133.29608 }</string>
	
								<string>{ 67.26257,131.89944 }</string>

							</array>

							<array>
	
								<string>{ 80.72626,159.60895 }</string>
	
								<string>{ 118.37988,133.57544 }</string>
	
								<string>{ 96.87152,133.29608 }</string>

							</array>

							<array>
	
								<string>{ 80.72626,159.60895 }</string>
	
								<string>{ 137.37430,132.45810 }</string>
	
								<string>{ 118.37988,133.57544 }</string>

							</array>

							<array>
	
								<string>{ 80.72626,159.60895 }</string>
	
								<string>{ 152.73743,129.10614 }</string>
	
								<string>{ 137.37430,132.45810 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 240.50281,45.36313 }</string>
	
								<string>{ 240.72626,7.31844 }</string>
	
								<string>{ 195.19553,8.99442 }</string>
	
								<string>{ 195.47488,55.41899 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 103.85477,-79.83240 }</string>
	
								<string>{ 113.91061,-49.66480 }</string>
	
								<string>{ 127.31845,-46.03352 }</string>
	
								<string>{ 164.46927,-45.19553 }</string>
	
								<string>{ 159.72067,-85.69833 }</string>

							</array>

							<array>
	
								<string>{ 172.56985,-16.98323 }</string>
	
								<string>{ 151.34079,6.59792 }</string>
	
								<string>{ 145.24136,15.67827 }</string>
	
								<string>{ 110.27933,72.12291 }</string>
	
								<string>{ 169.27374,58.21230 }</string>

							</array>

							<array>
	
								<string>{ 25.36313,-51.75763 }</string>
	
								<string>{ 62.51398,-54.41341 }</string>
	
								<string>{ 61.67599,-73.40782 }</string>
	
								<string>{ 37.93295,-65.86592 }</string>
	
								<string>{ 22.29050,-56.36871 }</string>

							</array>

							<array>
	
								<string>{ 92.40225,-53.01675 }</string>
	
								<string>{ 103.85477,-79.83240 }</string>
	
								<string>{ 61.67599,-73.40782 }</string>
	
								<string>{ 62.51398,-54.41341 }</string>

							</array>

							<array>
	
								<string>{ 113.91061,-49.66480 }</string>
	
								<string>{ 103.85477,-79.83240 }</string>
	
								<string>{ 92.40225,-53.01675 }</string>

							</array>

							<array>
	
								<string>{ 69.49722,79.94414 }</string>
	
								<string>{ 65.66537,65.15686 }</string>
	
								<string>{ 40.17191,75.14540 }</string>
	
								<string>{ 35.97766,82.51398 }</string>

							</array>

							<array>
	
								<string>{ 69.49722,79.94414 }</string>
	
								<string>{ 110.27933,72.12291 }</string>
	
								<string>{ 81.02563,58.97435 }</string>
	
								<string>{ 65.66537,65.15686 }</string>

							</array>

							<array>
	
								<string>{ 110.27933,72.12291 }</string>
	
								<string>{ 96.48761,51.56998 }</string>
	
								<string>{ 81.02563,58.97435 }</string>

							</array>

							<array>
	
								<string>{ 110.27933,72.12291 }</string>
	
								<string>{ 111.80490,42.68156 }</string>
	
								<string>{ 96.48761,51.56998 }</string>

							</array>

							<array>
	
								<string>{ 110.27933,72.12291 }</string>
	
								<string>{ 124.75003,33.41785 }</string>
	
								<string>{ 111.80490,42.68156 }</string>

							</array>

							<array>
	
								<string>{ 110.27933,72.12291 }</string>
	
								<string>{ 136.06503,24.71280 }</string>
	
								<string>{ 124.75003,33.41785 }</string>

							</array>

							<array>
	
								<string>{ 137.93298,-41.56424 }</string>
	
								<string>{ 164.46927,-45.19553 }</string>
	
								<string>{ 127.31845,-46.03352 }</string>

							</array>

							<array>
	
								<string>{ 145.75421,-36.81564 }</string>
	
								<string>{ 164.46927,-45.19553 }</string>
	
								<string>{ 137.93298,-41.56424 }</string>

							</array>

							<array>
	
								<string>{ 145.75421,-36.81564 }</string>
	
								<string>{ 152.17877,-29.83240 }</string>
	
								<string>{ 172.56985,-16.98323 }</string>
	
								<string>{ 164.46927,-45.19553 }</string>

							</array>

							<array>
	
								<string>{ 154.64691,-21.08150 }</string>
	
								<string>{ 172.56985,-16.98323 }</string>
	
								<string>{ 152.17877,-29.83240 }</string>

							</array>

							<array>
	
								<string>{ 155.89743,-9.74359 }</string>
	
								<string>{ 172.56985,-16.98323 }</string>
	
								<string>{ 154.64691,-21.08150 }</string>

							</array>

							<array>
	
								<string>{ 154.35898,-1.53847 }</string>
	
								<string>{ 172.56985,-16.98323 }</string>
	
								<string>{ 155.89743,-9.74359 }</string>

							</array>

							<array>
	
								<string>{ 151.34079,6.59792 }</string>
	
								<string>{ 172.56985,-16.98323 }</string>
	
								<string>{ 154.35898,-1.53847 }</string>

							</array>

							<array>
	
								<string>{ 110.27933,72.12291 }</string>
	
								<string>{ 145.24136,15.67827 }</string>
	
								<string>{ 136.06503,24.71280 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

