<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C44</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -175.73407,-7.36842 }</string>
	
								<string>{ -146.37119,5.65097 }</string>
	
								<string>{ -155.78947,-15.67867 }</string>

							</array>

							<array>
	
								<string>{ -239.72299,48.97507 }</string>
	
								<string>{ -155.78947,63.54572 }</string>
	
								<string>{ -91.52354,69.63989 }</string>
	
								<string>{ -125.04155,29.75070 }</string>
	
								<string>{ -135.56786,19.77840 }</string>
	
								<string>{ -205.09695,-5.70636 }</string>
	
								<string>{ -240.27701,-12.90858 }</string>

							</array>

							<array>
	
								<string>{ -51.08032,61.32965 }</string>
	
								<string>{ -63.82271,59.39059 }</string>
	
								<string>{ -91.52354,69.63989 }</string>
	
								<string>{ -49.14127,71.57895 }</string>
	
								<string>{ -46.92520,66.59280 }</string>

							</array>

							<array>
	
								<string>{ -74.34903,56.62050 }</string>
	
								<string>{ -91.52354,69.63989 }</string>
	
								<string>{ -63.82271,59.39059 }</string>

							</array>

							<array>
	
								<string>{ -87.09142,52.46538 }</string>
	
								<string>{ -91.52354,69.63989 }</string>
	
								<string>{ -74.34903,56.62050 }</string>

							</array>

							<array>
	
								<string>{ -100.11079,46.09419 }</string>
	
								<string>{ -91.52354,69.63989 }</string>
	
								<string>{ -87.09142,52.46538 }</string>

							</array>

							<array>
	
								<string>{ -113.68420,38.61496 }</string>
	
								<string>{ -91.52354,69.63989 }</string>
	
								<string>{ -100.11079,46.09419 }</string>

							</array>

							<array>
	
								<string>{ -205.09695,-5.70636 }</string>
	
								<string>{ -135.56786,19.77840 }</string>
	
								<string>{ -146.37119,5.65097 }</string>
	
								<string>{ -175.73407,-7.36842 }</string>

							</array>

							<array>
	
								<string>{ -125.04155,29.75070 }</string>
	
								<string>{ -91.52354,69.63989 }</string>
	
								<string>{ -113.68420,38.61496 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -72.40997,10.91414 }</string>
	
								<string>{ -75.18005,-8.47646 }</string>
	
								<string>{ -104.26593,1.77286 }</string>
	
								<string>{ -92.90858,10.36012 }</string>
	
								<string>{ -84.04431,16.17729 }</string>
	
								<string>{ -71.57895,22.27147 }</string>

							</array>

							<array>
	
								<string>{ 23.98892,52.74239 }</string>
	
								<string>{ 104.32135,39.44598 }</string>
	
								<string>{ 17.61774,28.36566 }</string>
	
								<string>{ 11.52356,33.62881 }</string>
	
								<string>{ 9.58449,42.49309 }</string>
	
								<string>{ 10.69254,50.24931 }</string>

							</array>

							<array>
	
								<string>{ -76.28809,-26.20499 }</string>
	
								<string>{ -113.40720,-9.58449 }</string>
	
								<string>{ -104.26593,1.77286 }</string>
	
								<string>{ -75.18005,-8.47646 }</string>

							</array>

							<array>
	
								<string>{ 55.01385,84.32133 }</string>
	
								<string>{ 48.91968,75.18007 }</string>
	
								<string>{ 50.85873,84.32133 }</string>

							</array>

							<array>
	
								<string>{ -76.56509,-43.10249 }</string>
	
								<string>{ -124.21053,-96.84210 }</string>
	
								<string>{ -130.02769,-52.24377 }</string>
	
								<string>{ -126.14958,-35.06925 }</string>
	
								<string>{ -120.33241,-21.49583 }</string>
	
								<string>{ -113.40720,-9.58449 }</string>
	
								<string>{ -76.28809,-26.20499 }</string>

							</array>

							<array>
	
								<string>{ -76.56509,-43.10249 }</string>
	
								<string>{ -74.07202,-60.55402 }</string>
	
								<string>{ -126.98061,-146.98061 }</string>
	
								<string>{ -124.21053,-96.84210 }</string>

							</array>

							<array>
	
								<string>{ 87.97784,85.15236 }</string>
	
								<string>{ 111.80057,79.61220 }</string>
	
								<string>{ 124.81995,71.57895 }</string>
	
								<string>{ 157.22992,37.50693 }</string>
	
								<string>{ 104.32135,39.44598 }</string>
	
								<string>{ 42.82550,65.48477 }</string>
	
								<string>{ 55.01385,84.32133 }</string>

							</array>

							<array>
	
								<string>{ -69.91689,-76.89751 }</string>
	
								<string>{ -126.98061,-146.98061 }</string>
	
								<string>{ -74.07202,-60.55402 }</string>

							</array>

							<array>
	
								<string>{ -64.09972,-92.13297 }</string>
	
								<string>{ -126.98061,-146.98061 }</string>
	
								<string>{ -69.91689,-76.89751 }</string>

							</array>

							<array>
	
								<string>{ -54.95845,-109.58449 }</string>
	
								<string>{ -126.98061,-146.98061 }</string>
	
								<string>{ -64.09972,-92.13297 }</string>

							</array>

							<array>
	
								<string>{ -43.32410,-126.75900 }</string>
	
								<string>{ -126.98061,-146.98061 }</string>
	
								<string>{ -54.95845,-109.58449 }</string>

							</array>

							<array>
	
								<string>{ -26.98061,-141.71745 }</string>
	
								<string>{ -126.98061,-146.98061 }</string>
	
								<string>{ -43.32410,-126.75900 }</string>

							</array>

							<array>
	
								<string>{ 33.40720,57.45152 }</string>
	
								<string>{ 104.32135,39.44598 }</string>
	
								<string>{ 23.98892,52.74239 }</string>

							</array>

							<array>
	
								<string>{ 42.82550,65.48477 }</string>
	
								<string>{ 104.32135,39.44598 }</string>
	
								<string>{ 33.40720,57.45152 }</string>

							</array>

							<array>
	
								<string>{ 142.27148,64.93076 }</string>
	
								<string>{ 157.22992,37.50693 }</string>
	
								<string>{ 124.81995,71.57895 }</string>

							</array>

							<array>
	
								<string>{ 162.21606,61.05264 }</string>
	
								<string>{ 157.22992,37.50693 }</string>
	
								<string>{ 142.27148,64.93076 }</string>

							</array>

							<array>
	
								<string>{ 186.59280,57.45152 }</string>
	
								<string>{ 179.11359,30.58173 }</string>
	
								<string>{ 157.22992,37.50693 }</string>
	
								<string>{ 162.21606,61.05264 }</string>

							</array>

							<array>
	
								<string>{ 186.59280,57.45152 }</string>
	
								<string>{ 239.77841,56.06648 }</string>
	
								<string>{ 197.11914,19.77840 }</string>
	
								<string>{ 179.11359,30.58173 }</string>

							</array>

							<array>
	
								<string>{ 239.77841,56.06648 }</string>
	
								<string>{ 207.36844,2.88089 }</string>
	
								<string>{ 197.11914,19.77840 }</string>

							</array>

							<array>
	
								<string>{ 241.27426,-159.88920 }</string>
	
								<string>{ 203.49033,-16.23268 }</string>
	
								<string>{ 207.36844,2.88089 }</string>
	
								<string>{ 239.77841,56.06648 }</string>

							</array>

							<array>
	
								<string>{ 166.09421,-102.38227 }</string>
	
								<string>{ 180.22162,-70.80332 }</string>
	
								<string>{ 241.27426,-159.88920 }</string>
	
								<string>{ 153.62881,-146.42659 }</string>
	
								<string>{ 158.33795,-123.98892 }</string>

							</array>

							<array>
	
								<string>{ -126.98061,-146.98061 }</string>
	
								<string>{ -16.73129,-146.42659 }</string>
	
								<string>{ 241.27426,-159.88920 }</string>
	
								<string>{ -239.72299,-160.27701 }</string>
	
								<string>{ -240.00000,-152.68698 }</string>

							</array>

							<array>
	
								<string>{ 241.27426,-159.88920 }</string>
	
								<string>{ 192.13297,-43.93352 }</string>
	
								<string>{ 203.49033,-16.23268 }</string>

							</array>

							<array>
	
								<string>{ 241.27426,-159.88920 }</string>
	
								<string>{ 180.22162,-70.80332 }</string>
	
								<string>{ 192.13297,-43.93352 }</string>

							</array>

							<array>
	
								<string>{ 241.27426,-159.88920 }</string>
	
								<string>{ -16.73129,-146.42659 }</string>
	
								<string>{ 153.62881,-146.42659 }</string>

							</array>

							<array>
	
								<string>{ -16.73129,-146.42659 }</string>
	
								<string>{ -126.98061,-146.98061 }</string>
	
								<string>{ -26.98061,-141.71745 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 83.54572,129.47369 }</string>
	
								<string>{ 8.75346,152.74240 }</string>
	
								<string>{ -7.59003,160.88644 }</string>
	
								<string>{ 93.90582,160.60944 }</string>

							</array>

							<array>
	
								<string>{ 38.11636,131.13574 }</string>
	
								<string>{ 83.54572,129.47369 }</string>
	
								<string>{ 70.80334,121.44046 }</string>
	
								<string>{ 43.65652,121.16345 }</string>

							</array>

							<array>
	
								<string>{ 29.25208,140.00000 }</string>
	
								<string>{ 83.54572,129.47369 }</string>
	
								<string>{ 38.11636,131.13574 }</string>

							</array>

							<array>
	
								<string>{ 19.55679,146.64819 }</string>
	
								<string>{ 83.54572,129.47369 }</string>
	
								<string>{ 29.25208,140.00000 }</string>

							</array>

							<array>
	
								<string>{ 8.75346,152.74240 }</string>
	
								<string>{ 83.54572,129.47369 }</string>
	
								<string>{ 19.55679,146.64819 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

