<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C40</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 108.04034,-114.52911 }</string>
	
								<string>{ 88.97876,-112.18307 }</string>
	
								<string>{ 100.70895,-104.85170 }</string>

							</array>

							<array>
	
								<string>{ -144.15907,52.62631 }</string>
	
								<string>{ -156.76904,2.47968 }</string>
	
								<string>{ -160.87461,-8.95728 }</string>
	
								<string>{ -284.57017,-160.92879 }</string>
	
								<string>{ -283.95097,12.93990 }</string>

							</array>

							<array>
	
								<string>{ -39.46700,53.79933 }</string>
	
								<string>{ -114.83356,32.68495 }</string>
	
								<string>{ -144.15907,52.62631 }</string>
	
								<string>{ -46.68106,68.87265 }</string>
	
								<string>{ -38.88048,66.70256 }</string>
	
								<string>{ -36.24118,61.42397 }</string>

							</array>

							<array>
	
								<string>{ 120.65030,-123.91328 }</string>
	
								<string>{ 76.36877,-117.16841 }</string>
	
								<string>{ 88.97876,-112.18307 }</string>
	
								<string>{ 108.04034,-114.52911 }</string>

							</array>

							<array>
	
								<string>{ -136.24118,22.42104 }</string>
	
								<string>{ -144.15907,52.62631 }</string>
	
								<string>{ -114.83356,32.68495 }</string>

							</array>

							<array>
	
								<string>{ -148.26463,13.62338 }</string>
	
								<string>{ -144.15907,52.62631 }</string>
	
								<string>{ -136.24118,22.42104 }</string>

							</array>

							<array>
	
								<string>{ -156.76904,2.47968 }</string>
	
								<string>{ -144.15907,52.62631 }</string>
	
								<string>{ -148.26463,13.62338 }</string>

							</array>

							<array>
	
								<string>{ 143.52420,-138.28278 }</string>
	
								<string>{ 59.94650,-119.51445 }</string>
	
								<string>{ 76.36877,-117.16841 }</string>
	
								<string>{ 120.65030,-123.91328 }</string>
	
								<string>{ 131.79401,-128.60536 }</string>

							</array>

							<array>
	
								<string>{ 284.52179,-159.98366 }</string>
	
								<string>{ -284.57017,-160.92879 }</string>
	
								<string>{ 154.08139,-144.14788 }</string>
	
								<string>{ 284.89679,-148.61208 }</string>

							</array>

							<array>
	
								<string>{ 143.52420,-138.28278 }</string>
	
								<string>{ 154.08139,-144.14788 }</string>
	
								<string>{ -284.57017,-160.92879 }</string>
	
								<string>{ 40.29840,-119.51445 }</string>
	
								<string>{ 59.94650,-119.51445 }</string>

							</array>

							<array>
	
								<string>{ -161.46112,-21.27399 }</string>
	
								<string>{ -284.57017,-160.92879 }</string>
	
								<string>{ -160.87461,-8.95728 }</string>

							</array>

							<array>
	
								<string>{ -157.64880,-32.12442 }</string>
	
								<string>{ -284.57017,-160.92879 }</string>
	
								<string>{ -161.46112,-21.27399 }</string>

							</array>

							<array>
	
								<string>{ -148.85115,-42.38835 }</string>
	
								<string>{ -284.57017,-160.92879 }</string>
	
								<string>{ -157.64880,-32.12442 }</string>

							</array>

							<array>
	
								<string>{ -133.60188,-54.11856 }</string>
	
								<string>{ -284.57017,-160.92879 }</string>
	
								<string>{ -148.85115,-42.38835 }</string>

							</array>

							<array>
	
								<string>{ -113.36728,-65.84876 }</string>
	
								<string>{ -284.57017,-160.92879 }</string>
	
								<string>{ -133.60188,-54.11856 }</string>

							</array>

							<array>
	
								<string>{ -85.21478,-79.33850 }</string>
	
								<string>{ -284.57017,-160.92879 }</string>
	
								<string>{ -113.36728,-65.84876 }</string>

							</array>

							<array>
	
								<string>{ -59.40834,-90.18893 }</string>
	
								<string>{ -284.57017,-160.92879 }</string>
	
								<string>{ -85.21478,-79.33850 }</string>

							</array>

							<array>
	
								<string>{ -31.84236,-100.74612 }</string>
	
								<string>{ -284.57017,-160.92879 }</string>
	
								<string>{ -59.40834,-90.18893 }</string>

							</array>

							<array>
	
								<string>{ -4.27637,-109.83703 }</string>
	
								<string>{ -284.57017,-160.92879 }</string>
	
								<string>{ -31.84236,-100.74612 }</string>

							</array>

							<array>
	
								<string>{ 19.47729,-116.28864 }</string>
	
								<string>{ -284.57017,-160.92879 }</string>
	
								<string>{ -4.27637,-109.83703 }</string>

							</array>

							<array>
	
								<string>{ -284.57017,-160.92879 }</string>
	
								<string>{ 19.47729,-116.28864 }</string>
	
								<string>{ 40.29840,-119.51445 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 199.51959,122.40469 }</string>
	
								<string>{ 10.55139,139.03381 }</string>
	
								<string>{ -4.05328,141.46628 }</string>
	
								<string>{ -28.91339,160.16205 }</string>
	
								<string>{ 284.08527,160.62881 }</string>
	
								<string>{ 283.96802,126.02179 }</string>

							</array>

							<array>
	
								<string>{ 90.56006,71.57794 }</string>
	
								<string>{ 87.46866,81.40625 }</string>
	
								<string>{ 135.00348,95.42522 }</string>
	
								<string>{ 135.88324,76.95013 }</string>

							</array>

							<array>
	
								<string>{ -26.20468,150.48776 }</string>
	
								<string>{ -28.91339,160.16205 }</string>
	
								<string>{ -4.05328,141.46628 }</string>
	
								<string>{ -19.11414,142.88013 }</string>

							</array>

							<array>
	
								<string>{ 81.15451,90.78693 }</string>
	
								<string>{ 141.16183,108.32843 }</string>
	
								<string>{ 135.00348,95.42522 }</string>
	
								<string>{ 87.46866,81.40625 }</string>

							</array>

							<array>
	
								<string>{ 72.47299,101.72879 }</string>
	
								<string>{ 141.16183,108.32843 }</string>
	
								<string>{ 81.15451,90.78693 }</string>

							</array>

							<array>
	
								<string>{ 61.46094,112.04111 }</string>
	
								<string>{ 163.15594,117.12610 }</string>
	
								<string>{ 141.16183,108.32843 }</string>
	
								<string>{ 72.47299,101.72879 }</string>

							</array>

							<array>
	
								<string>{ 51.22357,119.91583 }</string>
	
								<string>{ 163.15594,117.12610 }</string>
	
								<string>{ 61.46094,112.04111 }</string>

							</array>

							<array>
	
								<string>{ 37.57333,128.04596 }</string>
	
								<string>{ 163.15594,117.12610 }</string>
	
								<string>{ 51.22357,119.91583 }</string>

							</array>

							<array>
	
								<string>{ 163.15594,117.12610 }</string>
	
								<string>{ 24.32587,134.72141 }</string>
	
								<string>{ 10.55139,139.03381 }</string>
	
								<string>{ 199.51959,122.40469 }</string>

							</array>

							<array>
	
								<string>{ 24.32587,134.72141 }</string>
	
								<string>{ 163.15594,117.12610 }</string>
	
								<string>{ 37.57333,128.04596 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 240.00513,2.17009 }</string>
	
								<string>{ 184.40396,50.38123 }</string>
	
								<string>{ 283.41418,9.18915 }</string>
	
								<string>{ 284.42102,-33.68421 }</string>

							</array>

							<array>
	
								<string>{ 127.98169,-75.54253 }</string>
	
								<string>{ 149.68256,-70.26393 }</string>
	
								<string>{ 134.43329,-91.96481 }</string>

							</array>

							<array>
	
								<string>{ 119.47729,-55.30792 }</string>
	
								<string>{ 121.53006,-24.51613 }</string>
	
								<string>{ 162.58578,-27.44868 }</string>
	
								<string>{ 149.68256,-70.26393 }</string>
	
								<string>{ 127.98169,-75.54253 }</string>

							</array>

							<array>
	
								<string>{ 118.89078,0.70381 }</string>
	
								<string>{ 184.40396,50.38123 }</string>
	
								<string>{ 194.25735,6.27565 }</string>
	
								<string>{ 162.58578,-27.44868 }</string>
	
								<string>{ 121.53006,-24.51613 }</string>

							</array>

							<array>
	
								<string>{ 194.25735,6.27565 }</string>
	
								<string>{ 184.40396,50.38123 }</string>
	
								<string>{ 240.00513,2.17009 }</string>

							</array>

							<array>
	
								<string>{ 114.49194,21.81818 }</string>
	
								<string>{ 184.40396,50.38123 }</string>
	
								<string>{ 118.89078,0.70381 }</string>

							</array>

							<array>
	
								<string>{ 114.49194,21.81818 }</string>
	
								<string>{ 109.60397,38.55479 }</string>
	
								<string>{ 184.40396,50.38123 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

