<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C59</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -116.93163,-28.83958 }</string>
	
								<string>{ -169.95756,28.79730 }</string>
	
								<string>{ -128.74718,16.11719 }</string>
	
								<string>{ -73.99214,-8.66669 }</string>

							</array>

							<array>
	
								<string>{ 206.12314,-51.31798 }</string>
	
								<string>{ 284.42694,-104.16240 }</string>
	
								<string>{ 284.94568,-160.05764 }</string>
	
								<string>{ 169.52371,-72.64362 }</string>
	
								<string>{ 179.03378,-48.14795 }</string>

							</array>

							<array>
	
								<string>{ -284.00000,-160.64935 }</string>
	
								<string>{ -284.64935,-53.50649 }</string>
	
								<string>{ -238.25727,12.31314 }</string>
	
								<string>{ -202.81059,28.50911 }</string>
	
								<string>{ -169.95756,28.79730 }</string>
	
								<string>{ -116.93163,-28.83958 }</string>

							</array>

							<array>
	
								<string>{ 284.94568,-160.05764 }</string>
	
								<string>{ 141.85800,-105.20847 }</string>
	
								<string>{ 169.52371,-72.64362 }</string>

							</array>

							<array>
	
								<string>{ 284.94568,-160.05764 }</string>
	
								<string>{ 105.25858,-130.85688 }</string>
	
								<string>{ 141.85800,-105.20847 }</string>

							</array>

							<array>
	
								<string>{ -79.75583,-140.36697 }</string>
	
								<string>{ -284.00000,-160.64935 }</string>
	
								<string>{ -128.45900,-111.83671 }</string>
	
								<string>{ -99.64055,-123.07590 }</string>

							</array>

							<array>
	
								<string>{ 284.94568,-160.05764 }</string>
	
								<string>{ 71.25281,-142.67244 }</string>
	
								<string>{ 105.25858,-130.85688 }</string>

							</array>

							<array>
	
								<string>{ -150.07283,-70.04996 }</string>
	
								<string>{ -284.00000,-160.64935 }</string>
	
								<string>{ -141.71548,-48.72432 }</string>

							</array>

							<array>
	
								<string>{ -147.47917,-90.51106 }</string>
	
								<string>{ -284.00000,-160.64935 }</string>
	
								<string>{ -150.07283,-70.04996 }</string>

							</array>

							<array>
	
								<string>{ -128.45900,-111.83671 }</string>
	
								<string>{ -284.00000,-160.64935 }</string>
	
								<string>{ -147.47917,-90.51106 }</string>

							</array>

							<array>
	
								<string>{ -79.75583,-140.36697 }</string>
	
								<string>{ 284.94568,-160.05764 }</string>
	
								<string>{ -284.00000,-160.64935 }</string>

							</array>

							<array>
	
								<string>{ 284.94568,-160.05764 }</string>
	
								<string>{ 30.90698,-146.13066 }</string>
	
								<string>{ 71.25281,-142.67244 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 58.75140,-88.70897 }</string>
	
								<string>{ 87.85803,-109.45825 }</string>
	
								<string>{ 44.91855,-119.83289 }</string>

							</array>

							<array>
	
								<string>{ 214.70132,51.36365 }</string>
	
								<string>{ 240.59576,128.87027 }</string>
	
								<string>{ 283.20782,132.53247 }</string>
	
								<string>{ 285.55853,29.58176 }</string>

							</array>

							<array>
	
								<string>{ 3.70819,-1.10091 }</string>
	
								<string>{ 55.00500,-28.47842 }</string>
	
								<string>{ 13.79465,-50.38044 }</string>
	
								<string>{ -6.19955,-49.30068 }</string>
	
								<string>{ -25.11026,-12.91646 }</string>

							</array>

							<array>
	
								<string>{ 68.26151,-47.49860 }</string>
	
								<string>{ 157.02231,-25.02022 }</string>
	
								<string>{ 148.37677,-54.41502 }</string>
	
								<string>{ 126.47476,-82.94528 }</string>
	
								<string>{ 87.85803,-109.45825 }</string>
	
								<string>{ 58.75140,-88.70897 }</string>

							</array>

							<array>
	
								<string>{ 26.76294,14.46106 }</string>
	
								<string>{ 55.00500,-28.47842 }</string>
	
								<string>{ 3.70819,-1.10091 }</string>

							</array>

							<array>
	
								<string>{ 44.34219,33.48123 }</string>
	
								<string>{ 135.40848,30.59938 }</string>
	
								<string>{ 161.34506,-9.17007 }</string>
	
								<string>{ 157.02231,-25.02022 }</string>
	
								<string>{ 68.26151,-47.49860 }</string>
	
								<string>{ 26.76294,14.46106 }</string>

							</array>

							<array>
	
								<string>{ 159.32779,62.29967 }</string>
	
								<string>{ 172.00790,90.25356 }</string>
	
								<string>{ 189.58716,108.40918 }</string>
	
								<string>{ 209.18369,119.07202 }</string>
	
								<string>{ 240.59576,128.87027 }</string>
	
								<string>{ 214.70132,51.36365 }</string>

							</array>

							<array>
	
								<string>{ -45.28317,102.01147 }</string>
	
								<string>{ -16.46472,113.59650 }</string>
	
								<string>{ 21.86380,115.03741 }</string>
	
								<string>{ 8.03094,84.20169 }</string>
	
								<string>{ -53.92870,87.94809 }</string>

							</array>

							<array>
	
								<string>{ 21.86380,115.03741 }</string>
	
								<string>{ 64.22693,111.00284 }</string>
	
								<string>{ 120.99924,102.35730 }</string>
	
								<string>{ 172.00790,90.25356 }</string>
	
								<string>{ 159.32779,62.29967 }</string>
	
								<string>{ 139.44305,55.38324 }</string>
	
								<string>{ 37.13757,71.80975 }</string>
	
								<string>{ 8.03094,84.20169 }</string>

							</array>

							<array>
	
								<string>{ 44.34219,33.48123 }</string>
	
								<string>{ 46.35947,55.38324 }</string>
	
								<string>{ 139.44305,55.38324 }</string>
	
								<string>{ 135.40848,30.59938 }</string>

							</array>

							<array>
	
								<string>{ 37.13757,71.80975 }</string>
	
								<string>{ 139.44305,55.38324 }</string>
	
								<string>{ 46.35947,55.38324 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -12.53961,60.17291 }</string>
	
								<string>{ 5.61600,57.57925 }</string>
	
								<string>{ 20.25577,49.16426 }</string>
	
								<string>{ 15.99063,39.71181 }</string>
	
								<string>{ 5.03964,29.91354 }</string>
	
								<string>{ -35.30618,7.43515 }</string>
	
								<string>{ -54.61455,60.97983 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -13.87106,-56.43231 }</string>
	
								<string>{ -24.82208,-77.46978 }</string>
	
								<string>{ -53.92870,-99.37180 }</string>
	
								<string>{ -74.38980,-101.67727 }</string>
	
								<string>{ -110.70103,-92.16718 }</string>
	
								<string>{ -100.03821,-47.78678 }</string>
	
								<string>{ -51.39268,-26.51877 }</string>

							</array>

							<array>
	
								<string>{ -121.36386,-63.63692 }</string>
	
								<string>{ -100.03821,-47.78678 }</string>
	
								<string>{ -110.70103,-92.16718 }</string>
	
								<string>{ -124.53389,-78.96834 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

