<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C3</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 76.75980,12.62570 }</string>
	
								<string>{ 85.69833,-16.70390 }</string>
	
								<string>{ 56.08939,-22.84915 }</string>
	
								<string>{ 33.18436,-12.79329 }</string>
	
								<string>{ 18.37988,4.80447 }</string>

							</array>

							<array>
	
								<string>{ 76.75980,12.62570 }</string>
	
								<string>{ 139.32962,23.24023 }</string>
	
								<string>{ 108.88269,-19.21788 }</string>
	
								<string>{ 85.69833,-16.70390 }</string>

							</array>

							<array>
	
								<string>{ 139.32962,23.24023 }</string>
	
								<string>{ 188.77097,34.41341 }</string>
	
								<string>{ 127.87711,-25.08380 }</string>
	
								<string>{ 108.88269,-19.21788 }</string>

							</array>

							<array>
	
								<string>{ -172.40224,39.16202 }</string>
	
								<string>{ -239.72067,-156.36872 }</string>
	
								<string>{ -239.72067,35.53073 }</string>

							</array>

							<array>
	
								<string>{ 188.77097,34.41341 }</string>
	
								<string>{ 144.91620,-37.09497 }</string>
	
								<string>{ 127.87711,-25.08380 }</string>

							</array>

							<array>
	
								<string>{ -62.34636,24.35754 }</string>
	
								<string>{ -71.00558,18.77095 }</string>
	
								<string>{ -82.17877,13.46368 }</string>
	
								<string>{ -110.39105,5.36313 }</string>
	
								<string>{ -125.47486,1.73184 }</string>
	
								<string>{ -172.40224,39.16202 }</string>
	
								<string>{ -109.27374,39.44135 }</string>
	
								<string>{ -56.48044,31.89944 }</string>

							</array>

							<array>
	
								<string>{ -147.82123,-4.97206 }</string>
	
								<string>{ -172.40224,39.16202 }</string>
	
								<string>{ -125.47486,1.73184 }</string>

							</array>

							<array>
	
								<string>{ -165.97765,-13.63129 }</string>
	
								<string>{ -172.40224,39.16202 }</string>
	
								<string>{ -147.82123,-4.97206 }</string>

							</array>

							<array>
	
								<string>{ -181.06145,-23.68715 }</string>
	
								<string>{ -172.40224,39.16202 }</string>
	
								<string>{ -165.97765,-13.63129 }</string>

							</array>

							<array>
	
								<string>{ 188.77097,34.41341 }</string>
	
								<string>{ 153.57544,-47.15083 }</string>
	
								<string>{ 144.91620,-37.09497 }</string>

							</array>

							<array>
	
								<string>{ -192.51397,-34.02235 }</string>
	
								<string>{ -172.40224,39.16202 }</string>
	
								<string>{ -181.06145,-23.68715 }</string>

							</array>

							<array>
	
								<string>{ 188.77097,34.41341 }</string>
	
								<string>{ 201.62012,38.88269 }</string>
	
								<string>{ 160.83798,-61.95531 }</string>
	
								<string>{ 153.57544,-47.15083 }</string>

							</array>

							<array>
	
								<string>{ 60.00000,160.39108 }</string>
	
								<string>{ 240.72626,160.94974 }</string>
	
								<string>{ 178.15643,148.37988 }</string>
	
								<string>{ 56.64804,147.54190 }</string>

							</array>

							<array>
	
								<string>{ 240.72626,160.94974 }</string>
	
								<string>{ 191.84360,145.58661 }</string>
	
								<string>{ 178.15643,148.37988 }</string>

							</array>

							<array>
	
								<string>{ 240.72626,160.94974 }</string>
	
								<string>{ 202.17877,141.67599 }</string>
	
								<string>{ 191.84360,145.58661 }</string>

							</array>

							<array>
	
								<string>{ 240.72626,160.94974 }</string>
	
								<string>{ 209.72067,136.36871 }</string>
	
								<string>{ 202.17877,141.67599 }</string>

							</array>

							<array>
	
								<string>{ 240.72626,160.94974 }</string>
	
								<string>{ 219.77655,127.70950 }</string>
	
								<string>{ 209.72067,136.36871 }</string>

							</array>

							<array>
	
								<string>{ 240.72626,160.94974 }</string>
	
								<string>{ 227.59778,117.09497 }</string>
	
								<string>{ 219.77655,127.70950 }</string>

							</array>

							<array>
	
								<string>{ 240.72626,160.94974 }</string>
	
								<string>{ 232.34637,106.20111 }</string>
	
								<string>{ 227.59778,117.09497 }</string>

							</array>

							<array>
	
								<string>{ 201.62012,38.88269 }</string>
	
								<string>{ 211.39667,45.02794 }</string>
	
								<string>{ 166.42459,-76.48045 }</string>
	
								<string>{ 160.83798,-61.95531 }</string>

							</array>

							<array>
	
								<string>{ 240.72626,160.94974 }</string>
	
								<string>{ 235.13968,93.35196 }</string>
	
								<string>{ 232.34637,106.20111 }</string>

							</array>

							<array>
	
								<string>{ 211.39667,45.02794 }</string>
	
								<string>{ 168.65924,-91.84357 }</string>
	
								<string>{ 166.42459,-76.48045 }</string>

							</array>

							<array>
	
								<string>{ -199.21788,-44.07821 }</string>
	
								<string>{ -172.40224,39.16202 }</string>
	
								<string>{ -192.51397,-34.02235 }</string>

							</array>

							<array>
	
								<string>{ 211.39667,45.02794 }</string>
	
								<string>{ 218.93857,52.56984 }</string>
	
								<string>{ 166.42459,-118.65922 }</string>
	
								<string>{ 168.65924,-91.84357 }</string>

							</array>

							<array>
	
								<string>{ 240.50281,-159.94413 }</string>
	
								<string>{ 235.13968,93.35196 }</string>
	
								<string>{ 240.72626,160.94974 }</string>

							</array>

							<array>
	
								<string>{ 134.30170,-147.98883 }</string>
	
								<string>{ 240.50281,-159.94413 }</string>
	
								<string>{ -239.72067,-156.36872 }</string>
	
								<string>{ -162.90503,-147.98883 }</string>
	
								<string>{ -29.94412,-144.91620 }</string>

							</array>

							<array>
	
								<string>{ -205.08380,-57.20670 }</string>
	
								<string>{ -172.40224,39.16202 }</string>
	
								<string>{ -199.21788,-44.07821 }</string>

							</array>

							<array>
	
								<string>{ 225.08380,63.18436 }</string>
	
								<string>{ 166.42459,-118.65922 }</string>
	
								<string>{ 218.93857,52.56984 }</string>

							</array>

							<array>
	
								<string>{ 230.94974,73.79889 }</string>
	
								<string>{ 240.50281,-159.94413 }</string>
	
								<string>{ 166.42459,-118.65922 }</string>
	
								<string>{ 225.08380,63.18436 }</string>

							</array>

							<array>
	
								<string>{ -239.72067,-156.36872 }</string>
	
								<string>{ -240.00000,-159.72067 }</string>
	
								<string>{ -240.00000,-119.72067 }</string>

							</array>

							<array>
	
								<string>{ -239.72067,-156.36872 }</string>
	
								<string>{ 240.50281,-159.94413 }</string>
	
								<string>{ -240.00000,-159.72067 }</string>

							</array>

							<array>
	
								<string>{ 240.50281,-159.94413 }</string>
	
								<string>{ 234.02237,84.97208 }</string>
	
								<string>{ 235.13968,93.35196 }</string>

							</array>

							<array>
	
								<string>{ 240.50281,-159.94413 }</string>
	
								<string>{ 230.94974,73.79889 }</string>
	
								<string>{ 234.02237,84.97208 }</string>

							</array>

							<array>
	
								<string>{ 240.50281,-159.94413 }</string>
	
								<string>{ 160.27933,-134.86033 }</string>
	
								<string>{ 166.42459,-118.65922 }</string>

							</array>

							<array>
	
								<string>{ 240.50281,-159.94413 }</string>
	
								<string>{ 151.62012,-144.07821 }</string>
	
								<string>{ 160.27933,-134.86033 }</string>

							</array>

							<array>
	
								<string>{ 240.50281,-159.94413 }</string>
	
								<string>{ 134.30170,-147.98883 }</string>
	
								<string>{ 151.62012,-144.07821 }</string>

							</array>

							<array>
	
								<string>{ -239.72067,-156.36872 }</string>
	
								<string>{ -180.22346,-142.12290 }</string>
	
								<string>{ -162.90503,-147.98883 }</string>

							</array>

							<array>
	
								<string>{ -239.72067,-156.36872 }</string>
	
								<string>{ -190.27933,-131.22905 }</string>
	
								<string>{ -180.22346,-142.12290 }</string>

							</array>

							<array>
	
								<string>{ -239.72067,-156.36872 }</string>
	
								<string>{ -199.21788,-114.46927 }</string>
	
								<string>{ -190.27933,-131.22905 }</string>

							</array>

							<array>
	
								<string>{ -239.72067,-156.36872 }</string>
	
								<string>{ -206.48045,-95.75419 }</string>
	
								<string>{ -199.21788,-114.46927 }</string>

							</array>

							<array>
	
								<string>{ -239.72067,-156.36872 }</string>
	
								<string>{ -210.11173,-79.83240 }</string>
	
								<string>{ -206.48045,-95.75419 }</string>

							</array>

							<array>
	
								<string>{ -239.72067,-156.36872 }</string>
	
								<string>{ -208.43575,-67.26257 }</string>
	
								<string>{ -210.11173,-79.83240 }</string>

							</array>

							<array>
	
								<string>{ -208.43575,-67.26257 }</string>
	
								<string>{ -239.72067,-156.36872 }</string>
	
								<string>{ -205.08380,-57.20670 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

