<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C27</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -139.11243,5.08875 }</string>
	
								<string>{ -165.73965,10.71005 }</string>
	
								<string>{ -170.47337,21.95265 }</string>
	
								<string>{ -137.92900,23.72780 }</string>

							</array>

							<array>
	
								<string>{ 104.97040,-62.95858 }</string>
	
								<string>{ 94.91122,-69.76331 }</string>
	
								<string>{ 82.78107,-74.79290 }</string>
	
								<string>{ 73.90530,-68.57989 }</string>
	
								<string>{ 96.09467,-28.63905 }</string>
	
								<string>{ 116.50885,-52.60355 }</string>

							</array>

							<array>
	
								<string>{ -239.70414,-159.70414 }</string>
	
								<string>{ -240.29586,-75.91716 }</string>
	
								<string>{ -190.88758,-138.10651 }</string>
	
								<string>{ -203.31361,-160.29586 }</string>

							</array>

							<array>
	
								<string>{ 160.59171,29.34911 }</string>
	
								<string>{ 138.99408,32.01183 }</string>
	
								<string>{ 82.78107,58.34319 }</string>
	
								<string>{ 165.81720,38.33795 }</string>
	
								<string>{ 172.46539,33.35181 }</string>
	
								<string>{ 173.31360,28.46153 }</string>

							</array>

							<array>
	
								<string>{ -101.83432,-107.04142 }</string>
	
								<string>{ -63.07693,-119.76331 }</string>
	
								<string>{ -83.78699,-121.24260 }</string>
	
								<string>{ -96.50888,-117.69231 }</string>

							</array>

							<array>
	
								<string>{ 24.79288,-83.07693 }</string>
	
								<string>{ 48.75739,-75.08876 }</string>
	
								<string>{ 42.54437,-83.37278 }</string>

							</array>

							<array>
	
								<string>{ -139.11243,5.08875 }</string>
	
								<string>{ -136.15385,-10.88757 }</string>
	
								<string>{ -165.44379,-40.76923 }</string>
	
								<string>{ -165.73965,10.71005 }</string>

							</array>

							<array>
	
								<string>{ -240.29586,-75.91716 }</string>
	
								<string>{ -179.34911,-119.76331 }</string>
	
								<string>{ -190.88758,-138.10651 }</string>

							</array>

							<array>
	
								<string>{ -240.29586,-75.91716 }</string>
	
								<string>{ -220.76923,-81.30178 }</string>
	
								<string>{ -163.96450,-102.30769 }</string>
	
								<string>{ -179.34911,-119.76331 }</string>

							</array>

							<array>
	
								<string>{ -129.05326,-28.04735 }</string>
	
								<string>{ -165.44379,-40.76923 }</string>
	
								<string>{ -136.15385,-10.88757 }</string>

							</array>

							<array>
	
								<string>{ -118.10651,-41.95267 }</string>
	
								<string>{ -169.58580,-55.26627 }</string>
	
								<string>{ -165.44379,-40.76923 }</string>
	
								<string>{ -129.05326,-28.04735 }</string>

							</array>

							<array>
	
								<string>{ -101.83432,-56.15385 }</string>
	
								<string>{ -174.31953,-65.91716 }</string>
	
								<string>{ -169.58580,-55.26627 }</string>
	
								<string>{ -118.10651,-41.95267 }</string>

							</array>

							<array>
	
								<string>{ 73.90530,-68.57989 }</string>
	
								<string>{ 64.73370,-65.02959 }</string>
	
								<string>{ 88.69821,-13.84616 }</string>
	
								<string>{ 96.09467,-28.63905 }</string>

							</array>

							<array>
	
								<string>{ -51.53847,-117.69231 }</string>
	
								<string>{ -63.07693,-119.76331 }</string>
	
								<string>{ -101.83432,-107.04142 }</string>
	
								<string>{ -110.41420,-96.98225 }</string>
	
								<string>{ -31.42012,-104.97042 }</string>
	
								<string>{ -40.29587,-112.95858 }</string>

							</array>

							<array>
	
								<string>{ -90.00000,79.05325 }</string>
	
								<string>{ -32.30769,77.86981 }</string>
	
								<string>{ -61.30179,71.36093 }</string>
	
								<string>{ -87.63315,74.31952 }</string>

							</array>

							<array>
	
								<string>{ -32.30769,77.86981 }</string>
	
								<string>{ -39.11243,67.81064 }</string>
	
								<string>{ -61.30179,71.36093 }</string>

							</array>

							<array>
	
								<string>{ -32.30769,77.86981 }</string>
	
								<string>{ 26.27219,70.47336 }</string>
	
								<string>{ -18.10652,60.11833 }</string>
	
								<string>{ -39.11243,67.81064 }</string>

							</array>

							<array>
	
								<string>{ 26.27219,70.47336 }</string>
	
								<string>{ -2.72191,50.05916 }</string>
	
								<string>{ -18.10652,60.11833 }</string>

							</array>

							<array>
	
								<string>{ 26.27219,70.47336 }</string>
	
								<string>{ 82.78107,58.34319 }</string>
	
								<string>{ 138.99408,32.01183 }</string>
	
								<string>{ 123.90530,32.30768 }</string>
	
								<string>{ 8.22484,39.70413 }</string>
	
								<string>{ -2.72191,50.05916 }</string>

							</array>

							<array>
	
								<string>{ 24.79288,-83.07693 }</string>
	
								<string>{ 6.74556,-84.55621 }</string>
	
								<string>{ 85.14792,-2.01184 }</string>
	
								<string>{ 88.69821,-13.84616 }</string>
	
								<string>{ 53.78699,-68.57989 }</string>
	
								<string>{ 48.75739,-75.08876 }</string>

							</array>

							<array>
	
								<string>{ 53.78699,-68.57989 }</string>
	
								<string>{ 88.69821,-13.84616 }</string>
	
								<string>{ 64.73370,-65.02959 }</string>

							</array>

							<array>
	
								<string>{ -85.26628,-65.02959 }</string>
	
								<string>{ -181.71598,-73.90533 }</string>
	
								<string>{ -174.31953,-65.91716 }</string>
	
								<string>{ -101.83432,-56.15385 }</string>

							</array>

							<array>
	
								<string>{ -110.41420,-96.98225 }</string>
	
								<string>{ -21.36095,-96.39053 }</string>
	
								<string>{ -31.42012,-104.97042 }</string>

							</array>

							<array>
	
								<string>{ -110.41420,-96.98225 }</string>
	
								<string>{ -120.76923,-91.06509 }</string>
	
								<string>{ -6.56805,-88.40237 }</string>
	
								<string>{ -21.36095,-96.39053 }</string>

							</array>

							<array>
	
								<string>{ -67.51480,-71.83432 }</string>
	
								<string>{ -194.14201,-81.00592 }</string>
	
								<string>{ -181.71598,-73.90533 }</string>
	
								<string>{ -85.26628,-65.02959 }</string>

							</array>

							<array>
	
								<string>{ 6.74556,-84.55621 }</string>
	
								<string>{ -6.56805,-88.40237 }</string>
	
								<string>{ 84.26035,9.23076 }</string>
	
								<string>{ 85.14792,-2.01184 }</string>

							</array>

							<array>
	
								<string>{ -6.56805,-88.40237 }</string>
	
								<string>{ 16.80472,-55.56213 }</string>
	
								<string>{ 86.33136,19.28993 }</string>
	
								<string>{ 84.26035,9.23076 }</string>

							</array>

							<array>
	
								<string>{ -50.05917,-74.49705 }</string>
	
								<string>{ -194.14201,-81.00592 }</string>
	
								<string>{ -67.51480,-71.83432 }</string>

							</array>

							<array>
	
								<string>{ -220.76923,-81.30178 }</string>
	
								<string>{ -154.20119,-95.20710 }</string>
	
								<string>{ -163.96450,-102.30769 }</string>

							</array>

							<array>
	
								<string>{ -220.76923,-81.30178 }</string>
	
								<string>{ -207.75148,-82.48521 }</string>
	
								<string>{ -145.32545,-90.76923 }</string>
	
								<string>{ -154.20119,-95.20710 }</string>

							</array>

							<array>
	
								<string>{ -132.60355,-88.99409 }</string>
	
								<string>{ -27.86983,-74.79290 }</string>
	
								<string>{ -6.56805,-88.40237 }</string>
	
								<string>{ -120.76923,-91.06509 }</string>

							</array>

							<array>
	
								<string>{ -27.86983,-74.79290 }</string>
	
								<string>{ -132.60355,-88.99409 }</string>
	
								<string>{ -194.14201,-81.00592 }</string>
	
								<string>{ -50.05917,-74.49705 }</string>

							</array>

							<array>
	
								<string>{ -194.14201,-81.00592 }</string>
	
								<string>{ -132.60355,-88.99409 }</string>
	
								<string>{ -145.32545,-90.76923 }</string>
	
								<string>{ -207.75148,-82.48521 }</string>

							</array>

							<array>
	
								<string>{ -9.23077,-71.53847 }</string>
	
								<string>{ -6.56805,-88.40237 }</string>
	
								<string>{ -27.86983,-74.79290 }</string>

							</array>

							<array>
	
								<string>{ 3.78697,-66.50888 }</string>
	
								<string>{ -6.56805,-88.40237 }</string>
	
								<string>{ -9.23077,-71.53847 }</string>

							</array>

							<array>
	
								<string>{ 16.80472,-55.56213 }</string>
	
								<string>{ -6.56805,-88.40237 }</string>
	
								<string>{ 3.78697,-66.50888 }</string>

							</array>

							<array>
	
								<string>{ 24.79288,-42.84024 }</string>
	
								<string>{ 86.33136,19.28993 }</string>
	
								<string>{ 16.80472,-55.56213 }</string>

							</array>

							<array>
	
								<string>{ 28.63904,-26.56805 }</string>
	
								<string>{ 86.33136,19.28993 }</string>
	
								<string>{ 24.79288,-42.84024 }</string>

							</array>

							<array>
	
								<string>{ 28.93491,-12.07101 }</string>
	
								<string>{ 86.33136,19.28993 }</string>
	
								<string>{ 28.63904,-26.56805 }</string>

							</array>

							<array>
	
								<string>{ 26.86389,1.24260 }</string>
	
								<string>{ 86.33136,19.28993 }</string>
	
								<string>{ 28.93491,-12.07101 }</string>

							</array>

							<array>
	
								<string>{ 22.72189,15.73964 }</string>
	
								<string>{ 86.33136,19.28993 }</string>
	
								<string>{ 26.86389,1.24260 }</string>

							</array>

							<array>
	
								<string>{ 17.10059,28.46153 }</string>
	
								<string>{ 86.33136,19.28993 }</string>
	
								<string>{ 22.72189,15.73964 }</string>

							</array>

							<array>
	
								<string>{ 8.22484,39.70413 }</string>
	
								<string>{ 94.31952,26.39053 }</string>
	
								<string>{ 86.33136,19.28993 }</string>
	
								<string>{ 17.10059,28.46153 }</string>

							</array>

							<array>
	
								<string>{ 8.22484,39.70413 }</string>
	
								<string>{ 103.78696,29.05325 }</string>
	
								<string>{ 94.31952,26.39053 }</string>

							</array>

							<array>
	
								<string>{ 8.22484,39.70413 }</string>
	
								<string>{ 114.14200,31.42010 }</string>
	
								<string>{ 103.78696,29.05325 }</string>

							</array>

							<array>
	
								<string>{ 8.22484,39.70413 }</string>
	
								<string>{ 123.90530,32.30768 }</string>
	
								<string>{ 114.14200,31.42010 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 38.94739,-112.07756 }</string>
	
								<string>{ 30.08310,-147.81163 }</string>
	
								<string>{ -16.73129,-120.94183 }</string>
	
								<string>{ -7.31302,-111.52354 }</string>
	
								<string>{ 8.75346,-106.81440 }</string>
	
								<string>{ 33.13608,-105.20710 }</string>

							</array>

							<array>
	
								<string>{ 147.25763,-62.77008 }</string>
	
								<string>{ 130.63712,-68.58726 }</string>
	
								<string>{ 134.79227,-62.77008 }</string>

							</array>

							<array>
	
								<string>{ 105.15237,-88.80886 }</string>
	
								<string>{ 107.64545,-146.98061 }</string>
	
								<string>{ 94.07202,-93.24100 }</string>

							</array>

							<array>
	
								<string>{ 8.75346,-106.81440 }</string>
	
								<string>{ -7.31302,-111.52354 }</string>
	
								<string>{ -0.38780,-107.64543 }</string>

							</array>

							<array>
	
								<string>{ -58.00554,-140.60942 }</string>
	
								<string>{ 30.08310,-147.81163 }</string>
	
								<string>{ -84.62569,-147.09529 }</string>
	
								<string>{ -77.11911,-142.27147 }</string>

							</array>

							<array>
	
								<string>{ 147.25763,-62.77008 }</string>
	
								<string>{ 163.60110,-60.55402 }</string>
	
								<string>{ 107.64545,-146.98061 }</string>
	
								<string>{ 125.37396,-74.12742 }</string>
	
								<string>{ 130.63712,-68.58726 }</string>

							</array>

							<array>
	
								<string>{ 30.08310,-147.81163 }</string>
	
								<string>{ -21.44043,-125.37396 }</string>
	
								<string>{ -16.73129,-120.94183 }</string>

							</array>

							<array>
	
								<string>{ 30.08310,-147.81163 }</string>
	
								<string>{ -27.81163,-130.08310 }</string>
	
								<string>{ -21.44043,-125.37396 }</string>

							</array>

							<array>
	
								<string>{ 111.52356,-84.93075 }</string>
	
								<string>{ 107.64545,-146.98061 }</string>
	
								<string>{ 105.15237,-88.80886 }</string>

							</array>

							<array>
	
								<string>{ 119.27979,-79.39058 }</string>
	
								<string>{ 107.64545,-146.98061 }</string>
	
								<string>{ 111.52356,-84.93075 }</string>

							</array>

							<array>
	
								<string>{ 30.08310,-147.81163 }</string>
	
								<string>{ -35.56786,-134.23823 }</string>
	
								<string>{ -27.81163,-130.08310 }</string>

							</array>

							<array>
	
								<string>{ 30.08310,-147.81163 }</string>
	
								<string>{ 240.17749,-159.70414 }</string>
	
								<string>{ -201.23883,-159.64761 }</string>
	
								<string>{ -196.46177,-149.58391 }</string>

							</array>

							<array>
	
								<string>{ 30.08310,-147.81163 }</string>
	
								<string>{ -45.26315,-138.11634 }</string>
	
								<string>{ -35.56786,-134.23823 }</string>

							</array>

							<array>
	
								<string>{ 125.37396,-74.12742 }</string>
	
								<string>{ 107.64545,-146.98061 }</string>
	
								<string>{ 119.27979,-79.39058 }</string>

							</array>

							<array>
	
								<string>{ 178.28256,-55.01385 }</string>
	
								<string>{ 240.17749,-159.70414 }</string>
	
								<string>{ 107.64545,-146.98061 }</string>
	
								<string>{ 163.60110,-60.55402 }</string>

							</array>

							<array>
	
								<string>{ 30.08310,-147.81163 }</string>
	
								<string>{ -58.00554,-140.60942 }</string>
	
								<string>{ -45.26315,-138.11634 }</string>

							</array>

							<array>
	
								<string>{ 107.64545,-146.98061 }</string>
	
								<string>{ 240.17749,-159.70414 }</string>
	
								<string>{ 30.08310,-147.81163 }</string>

							</array>

							<array>
	
								<string>{ 189.63989,-48.08864 }</string>
	
								<string>{ 240.17749,-159.70414 }</string>
	
								<string>{ 178.28256,-55.01385 }</string>

							</array>

							<array>
	
								<string>{ 202.38229,-36.45429 }</string>
	
								<string>{ 240.17749,-159.70414 }</string>
	
								<string>{ 189.63989,-48.08864 }</string>

							</array>

							<array>
	
								<string>{ 212.07758,-24.26593 }</string>
	
								<string>{ 240.17749,-159.70414 }</string>
	
								<string>{ 202.38229,-36.45429 }</string>

							</array>

							<array>
	
								<string>{ 221.49585,-7.36842 }</string>
	
								<string>{ 240.17749,-159.70414 }</string>
	
								<string>{ 212.07758,-24.26593 }</string>

							</array>

							<array>
	
								<string>{ 227.86703,6.48199 }</string>
	
								<string>{ 240.17749,-159.70414 }</string>
	
								<string>{ 221.49585,-7.36842 }</string>

							</array>

							<array>
	
								<string>{ 233.96124,23.37950 }</string>
	
								<string>{ 240.17749,-159.70414 }</string>
	
								<string>{ 227.86703,6.48199 }</string>

							</array>

							<array>
	
								<string>{ 237.83936,41.10803 }</string>
	
								<string>{ 240.17749,-159.70414 }</string>
	
								<string>{ 233.96124,23.37950 }</string>

							</array>

							<array>
	
								<string>{ 240.17749,-159.70414 }</string>
	
								<string>{ 237.83936,41.10803 }</string>
	
								<string>{ 240.33243,64.93076 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

