<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-C10</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -111.89349,-6.74556 }</string>
	
								<string>{ -166.03551,-20.94675 }</string>
	
								<string>{ -190.00000,7.15976 }</string>
	
								<string>{ -169.28994,44.43787 }</string>
	
								<string>{ -99.40829,43.60947 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,41.83432 }</string>
	
								<string>{ -169.28994,44.43787 }</string>
	
								<string>{ -190.00000,7.15976 }</string>
	
								<string>{ -240.29586,4.20117 }</string>

							</array>

							<array>
	
								<string>{ -154.49705,-62.36687 }</string>
	
								<string>{ -166.03551,-20.94675 }</string>
	
								<string>{ -111.89349,-6.74556 }</string>
	
								<string>{ -116.92308,-51.71598 }</string>
	
								<string>{ -137.63314,-75.08876 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 40.17749,-20.65089 }</string>
	
								<string>{ 57.33728,-35.73965 }</string>
	
								<string>{ 74.20117,-54.08285 }</string>
	
								<string>{ 11.47928,-87.51479 }</string>
	
								<string>{ 8.22484,-12.36687 }</string>

							</array>

							<array>
	
								<string>{ -114.55622,-147.27811 }</string>
	
								<string>{ -155.38462,-147.27811 }</string>
	
								<string>{ -150.35503,-115.02959 }</string>
	
								<string>{ -136.15385,-107.33728 }</string>
	
								<string>{ -117.21894,-104.67456 }</string>

							</array>

							<array>
	
								<string>{ 74.20117,-54.08285 }</string>
	
								<string>{ 77.45560,-73.90533 }</string>
	
								<string>{ 9.11241,-148.46154 }</string>
	
								<string>{ 11.47928,-87.51479 }</string>

							</array>

							<array>
	
								<string>{ 81.89349,-95.20710 }</string>
	
								<string>{ 9.11241,-148.46154 }</string>
	
								<string>{ 77.45560,-73.90533 }</string>

							</array>

							<array>
	
								<string>{ 90.17749,-115.91716 }</string>
	
								<string>{ 9.11241,-148.46154 }</string>
	
								<string>{ 81.89349,-95.20710 }</string>

							</array>

							<array>
	
								<string>{ 100.53253,-131.89349 }</string>
	
								<string>{ 9.11241,-148.46154 }</string>
	
								<string>{ 90.17749,-115.91716 }</string>

							</array>

							<array>
	
								<string>{ 115.02957,-141.95266 }</string>
	
								<string>{ 9.11241,-148.46154 }</string>
	
								<string>{ 100.53253,-131.89349 }</string>

							</array>

							<array>
	
								<string>{ 240.82840,-159.94083 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ 129.82248,-145.20710 }</string>
	
								<string>{ 240.17749,-147.57397 }</string>

							</array>

							<array>
	
								<string>{ -155.38462,-147.27811 }</string>
	
								<string>{ 9.11241,-148.46154 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -240.29586,-152.54438 }</string>

							</array>

							<array>
	
								<string>{ 129.82248,-145.20710 }</string>
	
								<string>{ 9.11241,-148.46154 }</string>
	
								<string>{ 115.02957,-141.95266 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -8.04735,55.38461 }</string>
	
								<string>{ -17.51480,84.14200 }</string>
	
								<string>{ 112.66272,81.71597 }</string>
	
								<string>{ 98.46152,39.70413 }</string>
	
								<string>{ 65.02957,18.99408 }</string>

							</array>

							<array>
	
								<string>{ 160.88757,51.83430 }</string>
	
								<string>{ 112.66272,81.71597 }</string>
	
								<string>{ 240.23666,72.01183 }</string>
	
								<string>{ 240.17749,52.13017 }</string>

							</array>

							<array>
	
								<string>{ 98.46152,39.70413 }</string>
	
								<string>{ 112.66272,81.71597 }</string>
	
								<string>{ 160.88757,51.83430 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

