<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A26-Cave</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -186.92082,31.20235 }</string>
	
								<string>{ -202.46334,53.78299 }</string>
	
								<string>{ -186.92082,49.97067 }</string>
	
								<string>{ -169.91203,35.60117 }</string>

							</array>

							<array>
	
								<string>{ -239.41349,-11.90616 }</string>
	
								<string>{ -202.46334,53.78299 }</string>
	
								<string>{ -186.92082,31.20235 }</string>
	
								<string>{ -186.33431,-14.54546 }</string>

							</array>

							<array>
	
								<string>{ 74.95599,9.79472 }</string>
	
								<string>{ 53.25513,12.14076 }</string>
	
								<string>{ 30.38123,22.69794 }</string>
	
								<string>{ -66.09972,109.79471 }</string>
	
								<string>{ 137.12610,69.32550 }</string>
	
								<string>{ 121.29031,40.58650 }</string>
	
								<string>{ 99.88269,17.12610 }</string>

							</array>

							<array>
	
								<string>{ -165.80645,-33.60704 }</string>
	
								<string>{ -183.40176,-35.07332 }</string>
	
								<string>{ -180.46921,-14.54546 }</string>
	
								<string>{ -135.60117,-11.61290 }</string>
	
								<string>{ -134.72141,-20.99707 }</string>

							</array>

							<array>
	
								<string>{ -203.63636,-41.23167 }</string>
	
								<string>{ -239.41349,-11.90616 }</string>
	
								<string>{ -180.46921,-14.54546 }</string>
	
								<string>{ -183.40176,-35.07332 }</string>

							</array>

							<array>
	
								<string>{ -206.86217,-57.06745 }</string>
	
								<string>{ -239.41349,-11.90616 }</string>
	
								<string>{ -203.63636,-41.23167 }</string>

							</array>

							<array>
	
								<string>{ -239.41349,-11.90616 }</string>
	
								<string>{ -206.56892,86.33430 }</string>
	
								<string>{ -202.46334,53.78299 }</string>

							</array>

							<array>
	
								<string>{ 7.50732,-84.63343 }</string>
	
								<string>{ -149.38416,-73.48974 }</string>
	
								<string>{ -95.71848,-43.87097 }</string>
	
								<string>{ -67.85924,-41.23167 }</string>
	
								<string>{ -18.00587,-59.12024 }</string>

							</array>

							<array>
	
								<string>{ 31.55426,-108.09384 }</string>
	
								<string>{ -149.38416,-73.48974 }</string>
	
								<string>{ 7.50732,-84.63343 }</string>

							</array>

							<array>
	
								<string>{ -66.09972,109.79471 }</string>
	
								<string>{ -121.81818,133.54837 }</string>
	
								<string>{ 154.72141,86.04105 }</string>
	
								<string>{ 137.12610,69.32550 }</string>

							</array>

							<array>
	
								<string>{ 66.74487,-125.68915 }</string>
	
								<string>{ -194.54546,-66.45161 }</string>
	
								<string>{ 31.55426,-108.09384 }</string>

							</array>

							<array>
	
								<string>{ -121.81818,133.54837 }</string>
	
								<string>{ -149.38416,139.41348 }</string>
	
								<string>{ 184.04691,83.10851 }</string>
	
								<string>{ 154.72141,86.04105 }</string>

							</array>

							<array>
	
								<string>{ -239.41349,-11.90616 }</string>
	
								<string>{ -100.41057,-103.98827 }</string>
	
								<string>{ -121.52493,-159.41349 }</string>
	
								<string>{ -240.00000,-159.70674 }</string>

							</array>

							<array>
	
								<string>{ -0.11731,-158.82698 }</string>
	
								<string>{ 149.44281,159.94135 }</string>
	
								<string>{ 240.46921,160.35190 }</string>
	
								<string>{ 240.35190,-160.29326 }</string>

							</array>

							<array>
	
								<string>{ 13.37242,160.23459 }</string>
	
								<string>{ 47.39001,59.35483 }</string>
	
								<string>{ -27.39003,-90.79179 }</string>
	
								<string>{ -100.41057,-103.98827 }</string>
	
								<string>{ -239.41349,-11.90616 }</string>
	
								<string>{ -240.29326,159.76538 }</string>

							</array>

							<array>
	
								<string>{ 47.39001,59.35483 }</string>
	
								<string>{ 100.17593,61.11436 }</string>
	
								<string>{ -0.11731,-158.82698 }</string>
	
								<string>{ -27.39003,-90.79179 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

