<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A29</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -239.68153,-159.68153 }</string>
	
								<string>{ -223.12102,-91.52866 }</string>
	
								<string>{ -208.15287,-160.31847 }</string>

							</array>

							<array>
	
								<string>{ -239.68153,-159.68153 }</string>
	
								<string>{ -240.31847,67.89809 }</string>
	
								<string>{ -227.26115,-21.46497 }</string>
	
								<string>{ -223.12102,-91.52866 }</string>

							</array>

							<array>
	
								<string>{ -240.31847,67.89809 }</string>
	
								<string>{ -225.35032,14.20381 }</string>
	
								<string>{ -227.26115,-21.46497 }</string>

							</array>

							<array>
	
								<string>{ -240.31847,67.89809 }</string>
	
								<string>{ -205.28662,40.95541 }</string>
	
								<string>{ -225.35032,14.20381 }</string>

							</array>

							<array>
	
								<string>{ -158.47134,61.01910 }</string>
	
								<string>{ -147.64332,45.41400 }</string>
	
								<string>{ -205.28662,40.95541 }</string>
	
								<string>{ -240.31847,67.89809 }</string>

							</array>

							<array>
	
								<string>{ -57.32484,39.55414 }</string>
	
								<string>{ -58.78981,33.63057 }</string>
	
								<string>{ -147.64332,45.41400 }</string>
	
								<string>{ -158.47134,61.01910 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -21.52867,104.96814 }</string>
	
								<string>{ 28.15286,97.64331 }</string>
	
								<string>{ 52.22928,87.00636 }</string>
	
								<string>{ 47.26114,83.31209 }</string>
	
								<string>{ -14.84077,80.44585 }</string>
	
								<string>{ -62.29300,92.86623 }</string>
	
								<string>{ -69.93631,104.84076 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -86.49683,-105.22293 }</string>
	
								<string>{ -60.70064,-119.55414 }</string>
	
								<string>{ -95.41402,-158.72611 }</string>
	
								<string>{ -94.77707,-103.12102 }</string>

							</array>

							<array>
	
								<string>{ -30.44586,-123.37580 }</string>
	
								<string>{ -95.41402,-158.72611 }</string>
	
								<string>{ -60.70064,-119.55414 }</string>

							</array>

							<array>
	
								<string>{ 55.85986,-130.38217 }</string>
	
								<string>{ 240.44583,-159.80892 }</string>
	
								<string>{ -95.41402,-158.72611 }</string>
	
								<string>{ -30.44586,-123.37580 }</string>

							</array>

							<array>
	
								<string>{ -16.75160,-4.58600 }</string>
	
								<string>{ 84.52228,19.61783 }</string>
	
								<string>{ 68.91718,-9.68153 }</string>
	
								<string>{ 18.91718,-13.18472 }</string>
	
								<string>{ -15.15924,-9.36307 }</string>

							</array>

							<array>
	
								<string>{ 84.52228,19.61783 }</string>
	
								<string>{ 138.98087,27.57961 }</string>
	
								<string>{ 112.54776,-13.82166 }</string>
	
								<string>{ 68.91718,-9.68153 }</string>

							</array>

							<array>
	
								<string>{ 138.98087,27.57961 }</string>
	
								<string>{ 183.88535,38.08917 }</string>
	
								<string>{ 143.12100,-24.01274 }</string>
	
								<string>{ 112.54776,-13.82166 }</string>

							</array>

							<array>
	
								<string>{ 183.88535,38.08917 }</string>
	
								<string>{ 206.81528,57.83438 }</string>
	
								<string>{ 168.59872,-43.43949 }</string>
	
								<string>{ 143.12100,-24.01274 }</string>

							</array>

							<array>
	
								<string>{ 206.81528,57.83438 }</string>
	
								<string>{ 172.10190,-67.32484 }</string>
	
								<string>{ 168.59872,-43.43949 }</string>

							</array>

							<array>
	
								<string>{ 115.09552,-128.78981 }</string>
	
								<string>{ 240.44583,-159.80892 }</string>
	
								<string>{ 55.85986,-130.38217 }</string>

							</array>

							<array>
	
								<string>{ 149.17197,-119.55414 }</string>
	
								<string>{ 240.44583,-159.80892 }</string>
	
								<string>{ 115.09552,-128.78981 }</string>

							</array>

							<array>
	
								<string>{ 172.10190,-95.98727 }</string>
	
								<string>{ 240.44583,-159.80892 }</string>
	
								<string>{ 149.17197,-119.55414 }</string>

							</array>

							<array>
	
								<string>{ 172.10190,-95.98727 }</string>
	
								<string>{ 240.25476,159.74521 }</string>
	
								<string>{ 240.44583,-159.80892 }</string>

							</array>

							<array>
	
								<string>{ 206.81528,57.83438 }</string>
	
								<string>{ 218.28024,81.71974 }</string>
	
								<string>{ 172.10190,-95.98727 }</string>
	
								<string>{ 172.10190,-67.32484 }</string>

							</array>

							<array>
	
								<string>{ 240.25476,159.74521 }</string>
	
								<string>{ 232.92993,150.82800 }</string>
	
								<string>{ -39.68153,159.42673 }</string>

							</array>

							<array>
	
								<string>{ 240.25476,159.74521 }</string>
	
								<string>{ 224.96814,110.06369 }</string>
	
								<string>{ 232.92993,150.82800 }</string>

							</array>

							<array>
	
								<string>{ 240.25476,159.74521 }</string>
	
								<string>{ 218.28024,81.71974 }</string>
	
								<string>{ 224.96814,110.06369 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

