<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-E10</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -186.29508,76.06558 }</string>
	
								<string>{ -203.01640,-0.65573 }</string>
	
								<string>{ -212.19672,-28.52458 }</string>
	
								<string>{ -284.00000,-160.00000 }</string>
	
								<string>{ -284.65574,48.52460 }</string>

							</array>

							<array>
	
								<string>{ -57.77049,77.04918 }</string>
	
								<string>{ -100.06557,70.81967 }</string>
	
								<string>{ -111.86885,86.88525 }</string>
	
								<string>{ -78.09836,86.88525 }</string>
	
								<string>{ -56.13115,81.63934 }</string>

							</array>

							<array>
	
								<string>{ -131.21312,61.63934 }</string>
	
								<string>{ -186.29508,76.06558 }</string>
	
								<string>{ -111.86885,86.88525 }</string>
	
								<string>{ -100.06557,70.81967 }</string>

							</array>

							<array>
	
								<string>{ -158.42622,49.50819 }</string>
	
								<string>{ -186.29508,76.06558 }</string>
	
								<string>{ -131.21312,61.63934 }</string>

							</array>

							<array>
	
								<string>{ -185.31148,27.21312 }</string>
	
								<string>{ -186.29508,76.06558 }</string>
	
								<string>{ -158.42622,49.50819 }</string>

							</array>

							<array>
	
								<string>{ -203.01640,-0.65573 }</string>
	
								<string>{ -186.29508,76.06558 }</string>
	
								<string>{ -185.31148,27.21312 }</string>

							</array>

							<array>
	
								<string>{ 219.60657,100.32788 }</string>
	
								<string>{ 260.91803,106.22952 }</string>
	
								<string>{ 209.44263,68.85246 }</string>
	
								<string>{ 198.62296,83.60657 }</string>
	
								<string>{ 199.27869,90.16394 }</string>

							</array>

							<array>
	
								<string>{ 260.91803,106.22952 }</string>
	
								<string>{ 221.24591,45.57378 }</string>
	
								<string>{ 209.44263,68.85246 }</string>

							</array>

							<array>
	
								<string>{ 260.91803,106.22952 }</string>
	
								<string>{ 283.54102,108.52460 }</string>
	
								<string>{ 283.54102,-159.67213 }</string>
	
								<string>{ 230.42621,3.60657 }</string>
	
								<string>{ 221.24591,45.57378 }</string>

							</array>

							<array>
	
								<string>{ 283.54102,-159.67213 }</string>
	
								<string>{ 229.44263,-22.62296 }</string>
	
								<string>{ 230.42621,3.60657 }</string>

							</array>

							<array>
	
								<string>{ 283.54102,-159.67213 }</string>
	
								<string>{ 224.85248,-45.90163 }</string>
	
								<string>{ 229.44263,-22.62296 }</string>

							</array>

							<array>
	
								<string>{ 283.54102,-159.67213 }</string>
	
								<string>{ 213.37704,-75.40984 }</string>
	
								<string>{ 224.85248,-45.90163 }</string>

							</array>

							<array>
	
								<string>{ 283.54102,-159.67213 }</string>
	
								<string>{ 190.75412,-113.77049 }</string>
	
								<string>{ 213.37704,-75.40984 }</string>

							</array>

							<array>
	
								<string>{ 283.54102,-159.67213 }</string>
	
								<string>{ 157.63934,-150.81967 }</string>
	
								<string>{ 190.75412,-113.77049 }</string>

							</array>

							<array>
	
								<string>{ -213.83607,-62.62295 }</string>
	
								<string>{ -284.00000,-160.00000 }</string>
	
								<string>{ -212.19672,-28.52458 }</string>

							</array>

							<array>
	
								<string>{ -210.88525,-109.50820 }</string>
	
								<string>{ -284.00000,-160.00000 }</string>
	
								<string>{ -213.83607,-62.62295 }</string>

							</array>

							<array>
	
								<string>{ -199.73770,-147.21311 }</string>
	
								<string>{ -284.00000,-160.00000 }</string>
	
								<string>{ -210.88525,-109.50820 }</string>

							</array>

							<array>
	
								<string>{ 157.63934,-150.81967 }</string>
	
								<string>{ 283.54102,-159.67213 }</string>
	
								<string>{ -284.00000,-160.00000 }</string>
	
								<string>{ -199.73770,-147.21311 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

