<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-E7</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 201.66553,-75.01707 }</string>
	
								<string>{ 201.66553,-48.05461 }</string>
	
								<string>{ 214.29352,-19.04437 }</string>
	
								<string>{ 285.62457,92.55972 }</string>
	
								<string>{ 284.25940,-48.39590 }</string>

							</array>

							<array>
	
								<string>{ -81.61093,-4.70990 }</string>
	
								<string>{ -79.56314,23.95905 }</string>
	
								<string>{ -3.11264,5.18771 }</string>

							</array>

							<array>
	
								<string>{ -111.64505,-13.24232 }</string>
	
								<string>{ -167.95905,30.44368 }</string>
	
								<string>{ -79.56314,23.95905 }</string>
	
								<string>{ -81.61093,-4.70990 }</string>

							</array>

							<array>
	
								<string>{ -128.02731,-20.40956 }</string>
	
								<string>{ -174.44369,-10.51195 }</string>
	
								<string>{ -167.95905,30.44368 }</string>
	
								<string>{ -111.64505,-13.24232 }</string>

							</array>

							<array>
	
								<string>{ -200.38226,-5.05119 }</string>
	
								<string>{ -283.31741,32.21843 }</string>
	
								<string>{ -167.95905,30.44368 }</string>
	
								<string>{ -174.44369,-10.51195 }</string>

							</array>

							<array>
	
								<string>{ -217.10580,-20.75085 }</string>
	
								<string>{ -283.31741,32.21843 }</string>
	
								<string>{ -200.38226,-5.05119 }</string>

							</array>

							<array>
	
								<string>{ -217.10580,-20.75085 }</string>
	
								<string>{ -215.05802,-38.49830 }</string>
	
								<string>{ -284.00000,-160.00000 }</string>
	
								<string>{ -283.31741,32.21843 }</string>

							</array>

							<array>
	
								<string>{ 184.60068,75.83617 }</string>
	
								<string>{ 237.50171,86.41638 }</string>
	
								<string>{ 188.69623,34.53925 }</string>
	
								<string>{ 154.56653,54.67577 }</string>
	
								<string>{ 150.12967,61.16040 }</string>

							</array>

							<array>
	
								<string>{ 237.50171,86.41638 }</string>
	
								<string>{ 285.62457,92.55972 }</string>
	
								<string>{ 210.88052,7.57678 }</string>
	
								<string>{ 188.69623,34.53925 }</string>

							</array>

							<array>
	
								<string>{ 285.62457,92.55972 }</string>
	
								<string>{ 214.29352,-19.04437 }</string>
	
								<string>{ 210.88052,7.57678 }</string>

							</array>

							<array>
	
								<string>{ 201.66553,-75.01707 }</string>
	
								<string>{ 162.41638,-111.53584 }</string>
	
								<string>{ 177.09213,-71.26280 }</string>
	
								<string>{ 201.66553,-48.05461 }</string>

							</array>

							<array>
	
								<string>{ 162.41638,-111.53584 }</string>
	
								<string>{ 141.59726,-92.42321 }</string>
	
								<string>{ 177.09213,-71.26280 }</string>

							</array>

							<array>
	
								<string>{ 162.41638,-111.53584 }</string>
	
								<string>{ 165.14676,-149.07850 }</string>
	
								<string>{ 100.98294,-110.17065 }</string>
	
								<string>{ 141.59726,-92.42321 }</string>

							</array>

							<array>
	
								<string>{ 165.14676,-149.07850 }</string>
	
								<string>{ 35.11261,-129.96587 }</string>
	
								<string>{ 100.98294,-110.17065 }</string>

							</array>

							<array>
	
								<string>{ 285.01025,-159.93174 }</string>
	
								<string>{ 165.14676,-149.07850 }</string>
	
								<string>{ 284.60065,-147.71331 }</string>

							</array>

							<array>
	
								<string>{ 165.14676,-149.07850 }</string>
	
								<string>{ -19.83618,-137.81570 }</string>
	
								<string>{ 35.11261,-129.96587 }</string>

							</array>

							<array>
	
								<string>{ -193.55631,-77.74744 }</string>
	
								<string>{ -284.00000,-160.00000 }</string>
	
								<string>{ -215.05802,-38.49830 }</string>

							</array>

							<array>
	
								<string>{ -163.18089,-109.48806 }</string>
	
								<string>{ -284.00000,-160.00000 }</string>
	
								<string>{ -193.55631,-77.74744 }</string>

							</array>

							<array>
	
								<string>{ -121.54266,-129.28328 }</string>
	
								<string>{ -284.00000,-160.00000 }</string>
	
								<string>{ -163.18089,-109.48806 }</string>

							</array>

							<array>
	
								<string>{ -74.10239,-138.49829 }</string>
	
								<string>{ -284.00000,-160.00000 }</string>
	
								<string>{ -121.54266,-129.28328 }</string>

							</array>

							<array>
	
								<string>{ -74.10239,-138.49829 }</string>
	
								<string>{ -19.83618,-137.81570 }</string>
	
								<string>{ 285.01025,-159.93174 }</string>
	
								<string>{ -284.00000,-160.00000 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -60.79181,-27.91809 }</string>
	
								<string>{ 23.84982,-33.03754 }</string>
	
								<string>{ -7.54950,-89.69283 }</string>
	
								<string>{ -53.62457,-67.84983 }</string>
	
								<string>{ -86.73038,-43.27645 }</string>
	
								<string>{ -88.43686,-30.58020 }</string>

							</array>

							<array>
	
								<string>{ 52.51877,-29.62457 }</string>
	
								<string>{ -7.54950,-89.69283 }</string>
	
								<string>{ 23.84982,-33.03754 }</string>

							</array>

							<array>
	
								<string>{ 52.51877,-29.62457 }</string>
	
								<string>{ 68.55972,-21.09215 }</string>
	
								<string>{ 131.69965,-6.07509 }</string>
	
								<string>{ -7.54950,-89.69283 }</string>

							</array>

							<array>
	
								<string>{ 36.81909,56.38225 }</string>
	
								<string>{ 84.25937,27.71330 }</string>
	
								<string>{ 44.32764,33.51535 }</string>
	
								<string>{ 8.15018,62.52559 }</string>
	
								<string>{ 8.90103,67.71330 }</string>

							</array>

							<array>
	
								<string>{ 84.25937,27.71330 }</string>
	
								<string>{ 62.41638,11.67235 }</string>
	
								<string>{ 44.32764,33.51535 }</string>

							</array>

							<array>
	
								<string>{ 84.25937,27.71330 }</string>
	
								<string>{ 131.69965,-6.07509 }</string>
	
								<string>{ 71.29010,-5.39250 }</string>
	
								<string>{ 62.41638,11.67235 }</string>

							</array>

							<array>
	
								<string>{ 131.69965,-6.07509 }</string>
	
								<string>{ 68.55972,-21.09215 }</string>
	
								<string>{ 71.29010,-5.39250 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

