<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entities</key>
	<array>
		<dict>
			<key>components</key>
			<dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>overrideBodyName</key>
					<string>E5-Glass</string>
					<key>position</key>
					<string>{112, 152}</string>
				</dict>
				<key>render</key>
				<dict>
					<key>overrideTextureFile</key>
					<string>E5-Glass.png</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{112, 152}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>GLASS-E</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>captured</key>
				<dict>
					<key>containedBeeTypes</key>
					<array>
						<string>SPEEDEE</string>
					</array>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{42, 187}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{42, 187}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{-1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>BEEATER-HANGING-E</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>captured</key>
				<dict>
					<key>containedBeeTypes</key>
					<array>
						<string>BEE</string>
					</array>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{411, 61}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{411, 61}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>BEEATER-LAND-E</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>captured</key>
				<dict>
					<key>containedBeeTypes</key>
					<array>
						<string>SPEEDEE</string>
					</array>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{419, 248}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{419, 248}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>BEEATER-HANGING-E</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>slinger</key>
				<dict>
					<key>queuedBeeTypes</key>
					<array>
						<string>SPEEDEE</string>
					</array>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{75, 72}</string>
					<key>rotation</key>
					<real>325</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>SLINGER</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>captured</key>
				<dict>
					<key>containedBeeTypes</key>
					<array>
						<string>BEE</string>
					</array>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{280, 8}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{280, 8}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{-1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>BEEATER-LAND-E</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>captured</key>
				<dict>
					<key>containedBeeTypes</key>
					<array>
						<string>BEE</string>
					</array>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{303, 205}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{303, 205}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>BEEATER-LAND-E</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>captured</key>
				<dict>
					<key>containedBeeTypes</key>
					<array>
						<string>BOMBEE</string>
					</array>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{194, 59}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{194, 59}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>BEEATER-LAND-E</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{324, 31}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>EYES</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>captured</key>
				<dict>
					<key>containedBeeTypes</key>
					<array>
						<string>BEE</string>
					</array>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{111, 204}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{111, 204}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{-1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>BEEATER-LAND-E</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>-0.034906584769487381</real>
					<key>position</key>
					<string>{49, 202}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{49, 202}</string>
					<key>rotation</key>
					<real>2</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>EGG</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>movement</key>
				<dict>
					<key>positions</key>
					<array>
						<string>{232, 225}</string>
					</array>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{233, 72}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{233, 72}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>HANGNEST-E</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{297, 143}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{297, 143}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>POLLEN-ORANGE</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{298, 104}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{298, 104}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>POLLEN-ORANGE</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{310, 124}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{310, 124}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>POLLEN-ORANGE</string>
		</dict>
	</array>
	<key>format</key>
	<integer>2</integer>
	<key>hasWater</key>
	<false/>
	<key>name</key>
	<string>Level-E5</string>
	<key>pollenForThreeFlowers</key>
	<integer>435</integer>
	<key>pollenForTwoFlowers</key>
	<integer>405</integer>
	<key>version</key>
	<integer>12</integer>
</dict>
</plist>
