<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-E6</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 159.34470,16.79181 }</string>
	
								<string>{ 155.93173,-80.13652 }</string>
	
								<string>{ 127.60410,52.96928 }</string>
	
								<string>{ 123.50851,100.06827 }</string>
	
								<string>{ 158.32080,89.14676 }</string>

							</array>

							<array>
	
								<string>{ 87.33105,-148.05461 }</string>
	
								<string>{ 285.69281,-159.93174 }</string>
	
								<string>{ 55.93173,-159.31741 }</string>
	
								<string>{ 55.93173,-148.05461 }</string>

							</array>

							<array>
	
								<string>{ 285.69281,-159.93174 }</string>
	
								<string>{ 144.32764,-150.44369 }</string>
	
								<string>{ 283.91809,-148.05461 }</string>

							</array>

							<array>
	
								<string>{ 20.43686,-159.31741 }</string>
	
								<string>{ -284.00000,-160.00000 }</string>
	
								<string>{ -121.54266,-147.37201 }</string>
	
								<string>{ 21.46075,-147.37201 }</string>

							</array>

							<array>
	
								<string>{ 73.67917,99.04437 }</string>
	
								<string>{ 77.09213,79.93173 }</string>
	
								<string>{ 23.50851,87.09897 }</string>
	
								<string>{ 19.75427,90.85324 }</string>

							</array>

							<array>
	
								<string>{ 73.67917,99.04437 }</string>
	
								<string>{ 123.50851,100.06827 }</string>
	
								<string>{ 104.73718,73.10579 }</string>
	
								<string>{ 77.09213,79.93173 }</string>

							</array>

							<array>
	
								<string>{ 123.50851,100.06827 }</string>
	
								<string>{ 119.75424,65.59726 }</string>
	
								<string>{ 104.73718,73.10579 }</string>

							</array>

							<array>
	
								<string>{ 123.50851,100.06827 }</string>
	
								<string>{ 127.60410,52.96928 }</string>
	
								<string>{ 119.75424,65.59726 }</string>

							</array>

							<array>
	
								<string>{ -284.00000,-160.00000 }</string>
	
								<string>{ -59.42662,-114.26621 }</string>
	
								<string>{ -121.54266,-147.37201 }</string>

							</array>

							<array>
	
								<string>{ 100.98294,-137.81570 }</string>
	
								<string>{ 144.32764,-150.44369 }</string>
	
								<string>{ 87.33105,-148.05461 }</string>

							</array>

							<array>
	
								<string>{ 109.17404,-103.34471 }</string>
	
								<string>{ 155.93173,-80.13652 }</string>
	
								<string>{ 144.32764,-150.44369 }</string>
	
								<string>{ 100.98294,-137.81570 }</string>

							</array>

							<array>
	
								<string>{ 98.25256,-86.96246 }</string>
	
								<string>{ 155.93173,-80.13652 }</string>
	
								<string>{ 109.17404,-103.34471 }</string>

							</array>

							<array>
	
								<string>{ 68.90100,-77.06485 }</string>
	
								<string>{ 113.61090,19.18088 }</string>
	
								<string>{ 126.23889,38.63481 }</string>
	
								<string>{ 155.93173,-80.13652 }</string>
	
								<string>{ 98.25256,-86.96246 }</string>

							</array>

							<array>
	
								<string>{ -142.70308,-25.18771 }</string>
	
								<string>{ -284.00000,8.66895 }</string>
	
								<string>{ -48.16383,6.21159 }</string>
	
								<string>{ -54.30717,-0.95563 }</string>

							</array>

							<array>
	
								<string>{ -185.70649,-43.95905 }</string>
	
								<string>{ -284.00000,8.66895 }</string>
	
								<string>{ -142.70308,-25.18771 }</string>

							</array>

							<array>
	
								<string>{ -204.13652,-55.56314 }</string>
	
								<string>{ -284.00000,8.66895 }</string>
	
								<string>{ -185.70649,-43.95905 }</string>

							</array>

							<array>
	
								<string>{ -204.13652,-55.56314 }</string>
	
								<string>{ -213.69283,-69.89761 }</string>
	
								<string>{ -284.00000,-160.00000 }</string>
	
								<string>{ -284.00000,8.66895 }</string>

							</array>

							<array>
	
								<string>{ -284.00000,-160.00000 }</string>
	
								<string>{ -177.85666,-105.39249 }</string>
	
								<string>{ -142.36177,-101.29693 }</string>
	
								<string>{ -9.25598,-91.74062 }</string>
	
								<string>{ -59.42662,-114.26621 }</string>

							</array>

							<array>
	
								<string>{ 155.93173,-80.13652 }</string>
	
								<string>{ 126.23889,38.63481 }</string>
	
								<string>{ 127.60410,52.96928 }</string>

							</array>

							<array>
	
								<string>{ 36.13651,-81.50171 }</string>
	
								<string>{ 113.61090,19.18088 }</string>
	
								<string>{ 68.90100,-77.06485 }</string>

							</array>

							<array>
	
								<string>{ -9.25598,-91.74062 }</string>
	
								<string>{ 113.61090,19.18088 }</string>
	
								<string>{ 36.13651,-81.50171 }</string>

							</array>

							<array>
	
								<string>{ -216.42321,-80.81911 }</string>
	
								<string>{ -284.00000,-160.00000 }</string>
	
								<string>{ -213.69283,-69.89761 }</string>

							</array>

							<array>
	
								<string>{ -211.98635,-93.78840 }</string>
	
								<string>{ -284.00000,-160.00000 }</string>
	
								<string>{ -216.42321,-80.81911 }</string>

							</array>

							<array>
	
								<string>{ -200.04095,-102.32082 }</string>
	
								<string>{ -284.00000,-160.00000 }</string>
	
								<string>{ -211.98635,-93.78840 }</string>

							</array>

							<array>
	
								<string>{ -177.85666,-105.39249 }</string>
	
								<string>{ -284.00000,-160.00000 }</string>
	
								<string>{ -200.04095,-102.32082 }</string>

							</array>

							<array>
	
								<string>{ -97.65189,-89.69283 }</string>
	
								<string>{ -9.25598,-91.74062 }</string>
	
								<string>{ -142.36177,-101.29693 }</string>

							</array>

							<array>
	
								<string>{ -22.56656,-62.38908 }</string>
	
								<string>{ -9.25598,-91.74062 }</string>
	
								<string>{ -97.65189,-89.69283 }</string>

							</array>

							<array>
	
								<string>{ 41.25595,-31.33105 }</string>
	
								<string>{ -9.25598,-91.74062 }</string>
	
								<string>{ -22.56656,-62.38908 }</string>

							</array>

							<array>
	
								<string>{ 96.88736,4.84641 }</string>
	
								<string>{ -9.25598,-91.74062 }</string>
	
								<string>{ 41.25595,-31.33105 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 250.12970,23.61774 }</string>
	
								<string>{ 203.03070,127.78156 }</string>
	
								<string>{ 232.72351,120.20477 }</string>
	
								<string>{ 284.66895,91.26279 }</string>
	
								<string>{ 284.94196,46.82593 }</string>

							</array>

							<array>
	
								<string>{ 203.03070,127.78156 }</string>
	
								<string>{ 250.12970,23.61774 }</string>
	
								<string>{ 218.38907,-55.56314 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

