<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-E1</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 34.77133,-36.10921 }</string>
	
								<string>{ -27.00342,-37.13311 }</string>
	
								<string>{ -50.21161,-21.09215 }</string>
	
								<string>{ -44.75085,19.52219 }</string>
	
								<string>{ 11.56314,30.78497 }</string>
	
								<string>{ 74.70306,33.17406 }</string>

							</array>

							<array>
	
								<string>{ -44.75085,19.52219 }</string>
	
								<string>{ -50.21161,-21.09215 }</string>
	
								<string>{ -96.62799,0.75085 }</string>

							</array>

							<array>
	
								<string>{ -182.97611,-13.58362 }</string>
	
								<string>{ -284.34130,48.60068 }</string>
	
								<string>{ -214.03413,49.89761 }</string>
	
								<string>{ -168.30035,46.82593 }</string>
	
								<string>{ -133.48805,36.92833 }</string>

							</array>

							<array>
	
								<string>{ -182.97611,-13.58362 }</string>
	
								<string>{ -199.35836,-42.59386 }</string>
	
								<string>{ -284.00000,-160.00000 }</string>
	
								<string>{ -284.34130,48.60068 }</string>

							</array>

							<array>
	
								<string>{ 221.11945,-73.99318 }</string>
	
								<string>{ 213.26962,-24.50513 }</string>
	
								<string>{ 218.04776,6.89420 }</string>
	
								<string>{ 240.23206,61.16040 }</string>
	
								<string>{ 284.60065,49.89761 }</string>
	
								<string>{ 283.64502,-55.83618 }</string>

							</array>

							<array>
	
								<string>{ 186.98975,63.54948 }</string>
	
								<string>{ 178.45734,46.48463 }</string>
	
								<string>{ 143.30374,57.40614 }</string>

							</array>

							<array>
	
								<string>{ 186.98975,63.54948 }</string>
	
								<string>{ 240.23206,61.16040 }</string>
	
								<string>{ 203.71329,30.44368 }</string>
	
								<string>{ 178.45734,46.48463 }</string>

							</array>

							<array>
	
								<string>{ 240.23206,61.16040 }</string>
	
								<string>{ 218.04776,6.89420 }</string>
	
								<string>{ 203.71329,30.44368 }</string>

							</array>

							<array>
	
								<string>{ 20.77814,-64.43686 }</string>
	
								<string>{ -27.00342,-37.13311 }</string>
	
								<string>{ 34.77133,-36.10921 }</string>

							</array>

							<array>
	
								<string>{ 17.70648,-92.76450 }</string>
	
								<string>{ -20.51877,-54.88055 }</string>
	
								<string>{ -27.00342,-37.13311 }</string>
	
								<string>{ 20.77814,-64.43686 }</string>

							</array>

							<array>
	
								<string>{ 221.11945,-73.99318 }</string>
	
								<string>{ 178.45734,-104.36860 }</string>
	
								<string>{ 192.45050,-51.12628 }</string>
	
								<string>{ 213.26962,-24.50513 }</string>

							</array>

							<array>
	
								<string>{ 178.45734,-104.36860 }</string>
	
								<string>{ 150.12967,-130.98976 }</string>
	
								<string>{ 147.39932,-87.98635 }</string>
	
								<string>{ 192.45050,-51.12628 }</string>

							</array>

							<array>
	
								<string>{ 150.12967,-130.98976 }</string>
	
								<string>{ 142.96243,-149.07850 }</string>
	
								<string>{ 94.49829,-114.26621 }</string>
	
								<string>{ 147.39932,-87.98635 }</string>

							</array>

							<array>
	
								<string>{ 142.96243,-149.07850 }</string>
	
								<string>{ 51.49487,-122.79864 }</string>
	
								<string>{ 94.49829,-114.26621 }</string>

							</array>

							<array>
	
								<string>{ 17.70648,-92.76450 }</string>
	
								<string>{ -29.73380,-69.21502 }</string>
	
								<string>{ -20.51877,-54.88055 }</string>

							</array>

							<array>
	
								<string>{ 17.70648,-92.76450 }</string>
	
								<string>{ 22.82593,-112.90102 }</string>
	
								<string>{ -53.28328,-81.50171 }</string>
	
								<string>{ -29.73380,-69.21502 }</string>

							</array>

							<array>
	
								<string>{ 22.82593,-112.90102 }</string>
	
								<string>{ -95.26280,-89.35154 }</string>
	
								<string>{ -53.28328,-81.50171 }</string>

							</array>

							<array>
	
								<string>{ 22.82593,-112.90102 }</string>
	
								<string>{ 51.49487,-122.79864 }</string>
	
								<string>{ -145.77475,-92.08191 }</string>
	
								<string>{ -95.26280,-89.35154 }</string>

							</array>

							<array>
	
								<string>{ 285.96588,-161.02389 }</string>
	
								<string>{ -284.00000,-160.00000 }</string>
	
								<string>{ 142.96243,-149.07850 }</string>
	
								<string>{ 284.60065,-152.15017 }</string>

							</array>

							<array>
	
								<string>{ 142.96243,-149.07850 }</string>
	
								<string>{ -284.00000,-160.00000 }</string>
	
								<string>{ -189.11945,-86.62116 }</string>
	
								<string>{ 51.49487,-122.79864 }</string>

							</array>

							<array>
	
								<string>{ -284.00000,-160.00000 }</string>
	
								<string>{ -199.69966,-76.04095 }</string>
	
								<string>{ -189.11945,-86.62116 }</string>

							</array>

							<array>
	
								<string>{ -284.00000,-160.00000 }</string>
	
								<string>{ -203.45393,-59.31741 }</string>
	
								<string>{ -199.69966,-76.04095 }</string>

							</array>

							<array>
	
								<string>{ -284.00000,-160.00000 }</string>
	
								<string>{ -199.35836,-42.59386 }</string>
	
								<string>{ -203.45393,-59.31741 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 131.35834,110.30716 }</string>
	
								<string>{ 161.05118,138.63480 }</string>
	
								<string>{ 153.54266,101.43344 }</string>
	
								<string>{ 128.28668,85.73378 }</string>

							</array>

							<array>
	
								<string>{ -28.70990,116.79181 }</string>
	
								<string>{ -3.45392,140.34128 }</string>
	
								<string>{ -4.47781,113.72012 }</string>
	
								<string>{ -52.60069,86.41638 }</string>

							</array>

							<array>
	
								<string>{ -3.45392,140.34128 }</string>
	
								<string>{ 27.26279,159.86346 }</string>
	
								<string>{ 44.66895,135.22183 }</string>
	
								<string>{ -4.47781,113.72012 }</string>

							</array>

							<array>
	
								<string>{ 27.26279,159.86346 }</string>
	
								<string>{ 76.75085,144.43686 }</string>
	
								<string>{ 44.66895,135.22183 }</string>

							</array>

							<array>
	
								<string>{ 128.96927,124.98294 }</string>
	
								<string>{ 161.05118,138.63480 }</string>
	
								<string>{ 131.35834,110.30716 }</string>

							</array>

							<array>
	
								<string>{ 121.46075,136.58704 }</string>
	
								<string>{ 188.76450,159.52219 }</string>
	
								<string>{ 161.05118,138.63480 }</string>
	
								<string>{ 128.96927,124.98294 }</string>

							</array>

							<array>
	
								<string>{ 103.03070,145.80203 }</string>
	
								<string>{ 188.76450,159.52219 }</string>
	
								<string>{ 121.46075,136.58704 }</string>

							</array>

							<array>
	
								<string>{ 103.03070,145.80203 }</string>
	
								<string>{ 76.75085,144.43686 }</string>
	
								<string>{ 27.26279,159.86346 }</string>
	
								<string>{ 188.76450,159.52219 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

