<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-E9</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -69.32423,-98.56656 }</string>
	
								<string>{ -138.60751,-147.71331 }</string>
	
								<string>{ -128.02731,-97.20137 }</string>
	
								<string>{ -102.22081,-73.17851 }</string>

							</array>

							<array>
	
								<string>{ -31.44028,-121.09215 }</string>
	
								<string>{ -138.60751,-147.71331 }</string>
	
								<string>{ -69.32423,-98.56656 }</string>

							</array>

							<array>
	
								<string>{ 73.67917,-150.78498 }</string>
	
								<string>{ 28.96927,-131.67236 }</string>
	
								<string>{ 59.00342,-128.94198 }</string>
	
								<string>{ 69.24231,-134.74403 }</string>

							</array>

							<array>
	
								<string>{ 165.14676,-97.54266 }</string>
	
								<string>{ 285.01025,-159.59044 }</string>
	
								<string>{ 135.45392,-150.78498 }</string>
	
								<string>{ 147.39932,-109.14676 }</string>

							</array>

							<array>
	
								<string>{ 284.60065,113.72012 }</string>
	
								<string>{ 177.77472,92.90102 }</string>
	
								<string>{ 150.81229,106.55289 }</string>

							</array>

							<array>
	
								<string>{ 284.60065,113.72012 }</string>
	
								<string>{ 197.91125,73.78839 }</string>
	
								<string>{ 177.77472,92.90102 }</string>

							</array>

							<array>
	
								<string>{ 284.60065,113.72012 }</string>
	
								<string>{ 208.49146,45.80205 }</string>
	
								<string>{ 197.91125,73.78839 }</string>

							</array>

							<array>
	
								<string>{ 284.60065,113.72012 }</string>
	
								<string>{ 285.01025,-159.59044 }</string>
	
								<string>{ 209.85666,-44.64164 }</string>
	
								<string>{ 208.49146,45.80205 }</string>

							</array>

							<array>
	
								<string>{ 285.01025,-159.59044 }</string>
	
								<string>{ 179.48123,-83.20819 }</string>
	
								<string>{ 189.03754,-66.82594 }</string>
	
								<string>{ 209.85666,-44.64164 }</string>

							</array>

							<array>
	
								<string>{ 285.01025,-159.59044 }</string>
	
								<string>{ 165.14676,-97.54266 }</string>
	
								<string>{ 179.48123,-83.20819 }</string>

							</array>

							<array>
	
								<string>{ 73.67917,-150.78498 }</string>
	
								<string>{ -138.60751,-147.71331 }</string>
	
								<string>{ -2.08875,-129.62457 }</string>
	
								<string>{ 28.96927,-131.67236 }</string>

							</array>

							<array>
	
								<string>{ -2.08875,-129.62457 }</string>
	
								<string>{ -138.60751,-147.71331 }</string>
	
								<string>{ -31.44028,-121.09215 }</string>

							</array>

							<array>
	
								<string>{ 285.01025,-159.59044 }</string>
	
								<string>{ -283.31741,-159.65870 }</string>
	
								<string>{ -282.97611,-147.98635 }</string>

							</array>

							<array>
	
								<string>{ 285.01025,-159.59044 }</string>
	
								<string>{ 73.67917,-150.78498 }</string>
	
								<string>{ 135.45392,-150.78498 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -180.58704,-52.49147 }</string>
	
								<string>{ -181.26963,-23.13994 }</string>
	
								<string>{ -148.50513,-36.45052 }</string>
	
								<string>{ -131.19156,-48.16027 }</string>
	
								<string>{ -144.40956,-74.67577 }</string>

							</array>

							<array>
	
								<string>{ -234.51195,-12.55972 }</string>
	
								<string>{ -181.26963,-23.13994 }</string>
	
								<string>{ -220.17747,-37.47440 }</string>
	
								<string>{ -284.34130,-46.00683 }</string>
	
								<string>{ -284.68259,-12.49147 }</string>

							</array>

							<array>
	
								<string>{ -181.26963,-23.13994 }</string>
	
								<string>{ -180.58704,-52.49147 }</string>
	
								<string>{ -220.17747,-37.47440 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 118.04776,-48.05461 }</string>
	
								<string>{ 136.54608,-0.54608 }</string>
	
								<string>{ 170.60751,-50.10239 }</string>
	
								<string>{ 141.93857,-80.13652 }</string>

							</array>

							<array>
	
								<string>{ 84.94199,-30.98976 }</string>
	
								<string>{ 49.10580,4.50511 }</string>
	
								<string>{ 136.54608,-0.54608 }</string>
	
								<string>{ 118.04776,-48.05461 }</string>

							</array>

							<array>
	
								<string>{ 36.81909,-38.83959 }</string>
	
								<string>{ -16.08191,1.84300 }</string>
	
								<string>{ 49.10580,4.50511 }</string>
	
								<string>{ 84.94199,-30.98976 }</string>

							</array>

							<array>
	
								<string>{ -3.79523,-57.26963 }</string>
	
								<string>{ -16.08191,1.84300 }</string>
	
								<string>{ 36.81909,-38.83959 }</string>

							</array>

							<array>
	
								<string>{ -50.89421,-85.93857 }</string>
	
								<string>{ -69.66553,-68.87373 }</string>
	
								<string>{ -81.61093,-49.76109 }</string>
	
								<string>{ -84.68260,-34.40273 }</string>
	
								<string>{ -75.12628,-16.65529 }</string>
	
								<string>{ -49.87032,-4.36861 }</string>
	
								<string>{ -16.08191,1.84300 }</string>
	
								<string>{ -3.79523,-57.26963 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 67.53583,79.24915 }</string>
	
								<string>{ 107.80887,91.53583 }</string>
	
								<string>{ 143.64505,81.29692 }</string>
	
								<string>{ 167.53583,67.98634 }</string>
	
								<string>{ 182.62115,50.98976 }</string>
	
								<string>{ 52.51877,42.04778 }</string>
	
								<string>{ 51.49487,60.13652 }</string>

							</array>

							<array>
	
								<string>{ 107.80887,91.53583 }</string>
	
								<string>{ 67.53583,79.24915 }</string>
	
								<string>{ 84.60068,89.21501 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -71.03072,96.31400 }</string>
	
								<string>{ -70.34813,119.18088 }</string>
	
								<string>{ -58.06143,141.36517 }</string>
	
								<string>{ -31.78157,103.13992 }</string>
	
								<string>{ -57.16962,70.08250 }</string>

							</array>

							<array>
	
								<string>{ -58.06143,141.36517 }</string>
	
								<string>{ -35.19455,160.20477 }</string>
	
								<string>{ -0.72354,123.27646 }</string>
	
								<string>{ -31.78157,103.13992 }</string>

							</array>

							<array>
	
								<string>{ -35.19455,160.20477 }</string>
	
								<string>{ 34.43002,134.19794 }</string>
	
								<string>{ -0.72354,123.27646 }</string>

							</array>

							<array>
	
								<string>{ 220.43686,140.34128 }</string>
	
								<string>{ 284.66895,159.86346 }</string>
	
								<string>{ 284.25940,132.49146 }</string>

							</array>

							<array>
	
								<string>{ 162.07507,146.48465 }</string>
	
								<string>{ 284.66895,159.86346 }</string>
	
								<string>{ 220.43686,140.34128 }</string>

							</array>

							<array>
	
								<string>{ -35.19455,160.20477 }</string>
	
								<string>{ 65.82935,142.73038 }</string>
	
								<string>{ 34.43002,134.19794 }</string>

							</array>

							<array>
	
								<string>{ 162.07507,146.48465 }</string>
	
								<string>{ 94.15698,145.46075 }</string>
	
								<string>{ -35.19455,160.20477 }</string>
	
								<string>{ 284.66895,159.86346 }</string>

							</array>

							<array>
	
								<string>{ -35.19455,160.20477 }</string>
	
								<string>{ 94.15698,145.46075 }</string>
	
								<string>{ 65.82935,142.73038 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

