<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A37</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -141.74419,-23.08139 }</string>
	
								<string>{ -154.82558,-14.65117 }</string>
	
								<string>{ -113.25581,-7.96512 }</string>
	
								<string>{ -112.67442,-16.97675 }</string>

							</array>

							<array>
	
								<string>{ -174.30233,-37.32558 }</string>
	
								<string>{ -196.68605,-15.52325 }</string>
	
								<string>{ -154.82558,-14.65117 }</string>
	
								<string>{ -141.74419,-23.08139 }</string>

							</array>

							<array>
	
								<string>{ -189.70930,-66.97675 }</string>
	
								<string>{ -200.17442,-72.20930 }</string>
	
								<string>{ -239.70930,-30.63954 }</string>
	
								<string>{ -221.10465,-2.15117 }</string>
	
								<string>{ -196.68605,-15.52325 }</string>
	
								<string>{ -174.30233,-37.32558 }</string>

							</array>

							<array>
	
								<string>{ 65.52325,-158.83721 }</string>
	
								<string>{ -172.84884,-159.70930 }</string>
	
								<string>{ -85.34885,-130.34884 }</string>
	
								<string>{ -30.40698,-120.75581 }</string>
	
								<string>{ -0.17442,-120.46512 }</string>
	
								<string>{ 41.10464,-131.80233 }</string>

							</array>

							<array>
	
								<string>{ -165.00000,66.45349 }</string>
	
								<string>{ -240.00000,75.63953 }</string>
	
								<string>{ -124.70930,76.51163 }</string>
	
								<string>{ -124.59303,69.36046 }</string>

							</array>

							<array>
	
								<string>{ -194.65117,57.73256 }</string>
	
								<string>{ -240.00000,75.63953 }</string>
	
								<string>{ -165.00000,66.45349 }</string>

							</array>

							<array>
	
								<string>{ -215.58140,44.65115 }</string>
	
								<string>{ -240.00000,75.63953 }</string>
	
								<string>{ -194.65117,57.73256 }</string>

							</array>

							<array>
	
								<string>{ -224.88372,20.23256 }</string>
	
								<string>{ -240.00000,75.63953 }</string>
	
								<string>{ -215.58140,44.65115 }</string>

							</array>

							<array>
	
								<string>{ -224.88372,20.23256 }</string>
	
								<string>{ -221.10465,-2.15117 }</string>
	
								<string>{ -239.70930,-30.63954 }</string>
	
								<string>{ -240.00000,75.63953 }</string>

							</array>

							<array>
	
								<string>{ -180.98837,-95.46512 }</string>
	
								<string>{ -172.84884,-159.70930 }</string>
	
								<string>{ -200.17442,-72.20930 }</string>
	
								<string>{ -189.70930,-66.97675 }</string>

							</array>

							<array>
	
								<string>{ -160.93024,-118.13953 }</string>
	
								<string>{ -172.84884,-159.70930 }</string>
	
								<string>{ -180.98837,-95.46512 }</string>

							</array>

							<array>
	
								<string>{ -134.76744,-129.47675 }</string>
	
								<string>{ -172.84884,-159.70930 }</string>
	
								<string>{ -160.93024,-118.13953 }</string>

							</array>

							<array>
	
								<string>{ -85.34885,-130.34884 }</string>
	
								<string>{ -172.84884,-159.70930 }</string>
	
								<string>{ -134.76744,-129.47675 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 155.63953,-87.03488 }</string>
	
								<string>{ 170.75580,-159.41860 }</string>
	
								<string>{ 141.97675,-159.70930 }</string>

							</array>

							<array>
	
								<string>{ 164.65115,15.87209 }</string>
	
								<string>{ 203.77905,13.72093 }</string>
	
								<string>{ 204.76743,7.44186 }</string>
	
								<string>{ 169.59302,-8.54651 }</string>
	
								<string>{ 148.37210,-7.38373 }</string>
	
								<string>{ 126.86047,5.69768 }</string>
	
								<string>{ 125.69766,13.13953 }</string>

							</array>

							<array>
	
								<string>{ 155.63953,-87.03488 }</string>
	
								<string>{ 155.93024,-37.03489 }</string>
	
								<string>{ 169.59302,-8.54651 }</string>
	
								<string>{ 170.75580,-159.41860 }</string>

							</array>

							<array>
	
								<string>{ 148.37210,-7.38373 }</string>
	
								<string>{ 169.59302,-8.54651 }</string>
	
								<string>{ 155.93024,-37.03489 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

