<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>Pollen-Yellow-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Tools/Pollen/Yellow/Pollen-Yellow-Idle-1.png</string>
				<string>Tools/Pollen/Yellow/Pollen-Yellow-Idle-2.png</string>
				<string>Tools/Pollen/Yellow/Pollen-Yellow-Idle-3.png</string>
				<string>Tools/Pollen/Yellow/Pollen-Yellow-Idle-4.png</string>
				<string>Tools/Pollen/Yellow/Pollen-Yellow-Idle-3.png</string>
				<string>Tools/Pollen/Yellow/Pollen-Yellow-Idle-2.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
		<key>Pollen-Yellow-Pickup</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Tools/Pollen/Yellow/Pollen-Yellow-Catch-1.png</string>
				<string>Tools/Pollen/Yellow/Pollen-Yellow-Catch-2.png</string>
				<string>Tools/Pollen/Yellow/Pollen-Yellow-Catch-3.png</string>
				<string>Tools/Pollen/Yellow/Pollen-Yellow-Catch-4.png</string>
				<string>Tools/Pollen/Yellow/Pollen-Yellow-Catch-5.png</string>
				<string>Tools/Pollen/Yellow/Pollen-Yellow-Catch-6.png</string>
				<string>Tools/Pollen/Yellow/Pollen-Yellow-Catch-7.png</string>
				<string>Tools/Pollen/Yellow/Pollen-Yellow-Catch-8.png</string>
				<string>Tools/Pollen/Yellow/Pollen-Yellow-Catch-9.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
		<key>Pollen-Yellow-Static</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Tools/Pollen/Yellow/Pollen-Yellow-Idle-1.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
	</dict>
</dict>
</plist>
