<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>Pollen-Magic-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Tools/Pollen/Magic/Pollen-Magic-Idle-1.png</string>
				<string>Tools/Pollen/Magic/Pollen-Magic-Idle-2.png</string>
				<string>Tools/Pollen/Magic/Pollen-Magic-Idle-3.png</string>
				<string>Tools/Pollen/Magic/Pollen-Magic-Idle-4.png</string>
				<string>Tools/Pollen/Magic/Pollen-Magic-Idle-5.png</string>
			</array>
			<key>delay</key>
			<real>0.1</real>
		</dict>
		<key>Pollen-Magic-Pickup</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Tools/Pollen/Magic/Pollen-Magic-Catch-1.png</string>
				<string>Tools/Pollen/Magic/Pollen-Magic-Catch-2.png</string>
				<string>Tools/Pollen/Magic/Pollen-Magic-Catch-3.png</string>
				<string>Tools/Pollen/Magic/Pollen-Magic-Catch-4.png</string>
				<string>Tools/Pollen/Magic/Pollen-Magic-Catch-5.png</string>
				<string>Tools/Pollen/Magic/Pollen-Magic-Catch-6.png</string>
				<string>Tools/Pollen/Magic/Pollen-Magic-Catch-7.png</string>
				<string>Tools/Pollen/Magic/Pollen-Magic-Catch-8.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
		<key>Pollen-Magic-Still</key>
		<dict>
			<key>frames</key>
			<array>
                <string>Tools/Pollen/Magic/Pollen-Magic-Idle-1.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
        <key>Pollen-Magic-Respawn</key>
        <dict>
            <key>frames</key>
            <array>
                <string>Tools/Pollen/Magic/Pollen-Magic-Renew-1.png</string>
                <string>Tools/Pollen/Magic/Pollen-Magic-Renew-2.png</string>
                <string>Tools/Pollen/Magic/Pollen-Magic-Renew-3.png</string>
                <string>Tools/Pollen/Magic/Pollen-Magic-Renew-4.png</string>
            </array>
            <key>delay</key>
            <real>0.1</real>
        </dict>
        <key>Pollen-Magic-Burn</key>
        <dict>
            <key>frames</key>
            <array>
                <string>Tools/Pollen/Green/Pollen-Green-BurnPop-1.png</string>
                <string>Tools/Pollen/Green/Pollen-Green-BurnPop-2.png</string>
                <string>Tools/Pollen/Green/Pollen-Green-BurnPop-3.png</string>
                <string>Tools/Pollen/Green/Pollen-Green-BurnPop-4.png</string>
            </array>
            <key>delay</key>
            <real>0.08</real>
        </dict>
	</dict>
</dict>
</plist>
