<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Obstacles/Beeater/Body/Bird/A/Beeater-Body-Bird-A-Idle-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,210},{55,19}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{55,19}}</string>
                <key>sourceSize</key>
                <string>{59,39}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Bird/A/Beeater-Body-Bird-A-Idle-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,239},{55,19}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{55,19}}</string>
                <key>sourceSize</key>
                <string>{59,39}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Bird/A/Beeater-Body-Bird-A-Idle-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,319},{53,35}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{53,35}}</string>
                <key>sourceSize</key>
                <string>{59,39}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Bird/A/Beeater-Body-Bird-A-Idle-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,164},{57,23}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{57,23}}</string>
                <key>sourceSize</key>
                <string>{59,39}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Bird/A/Beeater-Body-Bird-A-Idle-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,189},{57,21}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{57,21}}</string>
                <key>sourceSize</key>
                <string>{59,39}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Fish/A/Beeater-Body-Fish-A-Idle-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,231},{54,49}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,49}}</string>
                <key>sourceSize</key>
                <string>{60,49}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Fish/A/Beeater-Body-Fish-A-Idle-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,14},{60,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,45}}</string>
                <key>sourceSize</key>
                <string>{60,49}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Fish/A/Beeater-Body-Fish-A-Idle-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,72},{54,41}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{54,41}}</string>
                <key>sourceSize</key>
                <string>{60,49}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Fish/A/Beeater-Body-Fish-A-Idle-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,282},{54,35}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{54,35}}</string>
                <key>sourceSize</key>
                <string>{60,49}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Fish/A/Beeater-Body-Fish-A-Idle-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,61},{60,33}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{60,33}}</string>
                <key>sourceSize</key>
                <string>{60,49}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Fish/A/Beeater-Body-Fish-A-Idle-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,142},{58,39}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{58,39}}</string>
                <key>sourceSize</key>
                <string>{60,49}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Fish/A/Beeater-Body-Fish-A-Idle-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,95},{58,45}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{58,45}}</string>
                <key>sourceSize</key>
                <string>{60,49}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Hanging/A/Beeater-Body-Hanging-A-Ending-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,435},{34,29}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,29}}</string>
                <key>sourceSize</key>
                <string>{38,35}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Hanging/A/Beeater-Body-Hanging-A-Ending-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,475},{18,25}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{18,25}}</string>
                <key>sourceSize</key>
                <string>{38,35}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Hanging/A/Beeater-Body-Hanging-A-Ending-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,438},{8,7}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{8,7}}</string>
                <key>sourceSize</key>
                <string>{38,35}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Hanging/A/Beeater-Body-Hanging-A-Ending-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,415},{11,9}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,2},{11,9}}</string>
                <key>sourceSize</key>
                <string>{37,35}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Hanging/A/Beeater-Body-Hanging-A-Ending-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,374},{16,13}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{16,13}}</string>
                <key>sourceSize</key>
                <string>{38,35}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Hanging/A/Beeater-Body-Hanging-A-Ending-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,373},{14,11}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{14,11}}</string>
                <key>sourceSize</key>
                <string>{38,35}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Hanging/A/Beeater-Body-Hanging-A-Idle-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,416},{31,35}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{37,35}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Hanging/A/Beeater-Body-Hanging-A-Idle-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,379},{33,35}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{33,35}}</string>
                <key>sourceSize</key>
                <string>{37,35}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Hanging/A/Beeater-Body-Hanging-A-Idle-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,402},{31,35}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{37,35}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Hanging/A/Beeater-Body-Hanging-A-Idle-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,414},{29,35}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{29,35}}</string>
                <key>sourceSize</key>
                <string>{37,35}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Hanging/A/Pieces/Beeater-Body-Hanging-A-Piece-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,490},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Hanging/A/Pieces/Beeater-Body-Hanging-A-Piece-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,412},{11,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,15}}</string>
                <key>sourceSize</key>
                <string>{11,15}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Hanging/A/Pieces/Beeater-Body-Hanging-A-Piece-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,434},{12,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,7}}</string>
                <key>sourceSize</key>
                <string>{12,7}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Land/A/Beeater-Body-Land-A-Ending-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,416},{26,29}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{26,29}}</string>
                <key>sourceSize</key>
                <string>{38,35}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Land/A/Beeater-Body-Land-A-Ending-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,445},{20,23}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,12},{20,23}}</string>
                <key>sourceSize</key>
                <string>{38,35}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Land/A/Beeater-Body-Land-A-Ending-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,392},{22,21}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,14},{22,21}}</string>
                <key>sourceSize</key>
                <string>{38,35}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Land/A/Beeater-Body-Land-A-Ending-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,456},{27,17}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,18},{27,17}}</string>
                <key>sourceSize</key>
                <string>{37,35}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Land/A/Beeater-Body-Land-A-Ending-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,344},{28,13}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,22},{28,13}}</string>
                <key>sourceSize</key>
                <string>{38,35}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Land/A/Beeater-Body-Land-A-Ending-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,443},{22,11}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,24},{22,11}}</string>
                <key>sourceSize</key>
                <string>{38,35}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Land/A/Beeater-Body-Land-A-Ending-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,456},{19,5}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,30},{19,5}}</string>
                <key>sourceSize</key>
                <string>{37,35}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Land/A/Beeater-Body-Land-A-Ending-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,365},{14,3}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,32},{14,3}}</string>
                <key>sourceSize</key>
                <string>{38,35}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Land/A/Beeater-Body-Land-A-Idle-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,407},{31,35}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{37,35}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Land/A/Beeater-Body-Land-A-Idle-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,381},{33,35}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{33,35}}</string>
                <key>sourceSize</key>
                <string>{37,35}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Land/A/Beeater-Body-Land-A-Idle-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,365},{35,35}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{37,35}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Land/A/Beeater-Body-Land-A-Idle-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,402},{37,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,35}}</string>
                <key>sourceSize</key>
                <string>{37,35}</string>
            </dict>
            <key>Obstacles/Beeater/Ending/Fish/A/Beeater-Ending-Fish-A-End-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,14},{56,41}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{56,41}}</string>
                <key>sourceSize</key>
                <string>{60,49}</string>
            </dict>
            <key>Obstacles/Beeater/Ending/Fish/A/Beeater-Ending-Fish-A-End-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,197},{44,9}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,33},{44,9}}</string>
                <key>sourceSize</key>
                <string>{60,49}</string>
            </dict>
            <key>Obstacles/Beeater/Ending/Fish/A/Beeater-Ending-Fish-A-End-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,449},{34,5}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,37},{34,5}}</string>
                <key>sourceSize</key>
                <string>{60,49}</string>
            </dict>
            <key>Obstacles/Beeater/Ending/Fish/A/Beeater-Ending-Fish-A-End-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,260},{54,37}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{54,37}}</string>
                <key>sourceSize</key>
                <string>{60,49}</string>
            </dict>
            <key>Obstacles/Beeater/Ending/Fish/A/Beeater-Ending-Fish-A-End-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,62},{60,31}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{60,31}}</string>
                <key>sourceSize</key>
                <string>{60,49}</string>
            </dict>
            <key>Obstacles/Beeater/Ending/Fish/A/Beeater-Ending-Fish-A-End-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,127},{58,35}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{58,35}}</string>
                <key>sourceSize</key>
                <string>{60,49}</string>
            </dict>
            <key>Obstacles/Beeater/Ending/Fish/A/Beeater-Ending-Fish-A-End-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,96},{60,29}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{60,29}}</string>
                <key>sourceSize</key>
                <string>{60,49}</string>
            </dict>
            <key>Obstacles/Beeater/Ending/Fish/A/Beeater-Ending-Fish-A-End-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,183},{58,25}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{58,25}}</string>
                <key>sourceSize</key>
                <string>{60,49}</string>
            </dict>
            <key>Obstacles/Beeater/Ending/Fish/A/Beeater-Ending-Fish-A-End-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,212},{56,25}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,19},{56,25}}</string>
                <key>sourceSize</key>
                <string>{60,49}</string>
            </dict>
            <key>Obstacles/Beeater/Ending/Fish/A/Beeater-Ending-Fish-A-End-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,244},{42,27}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,19},{42,27}}</string>
                <key>sourceSize</key>
                <string>{60,49}</string>
            </dict>
            <key>Obstacles/Beeater/Ending/Fish/A/Beeater-Ending-Fish-A-End-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,176},{44,19}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,23},{44,19}}</string>
                <key>sourceSize</key>
                <string>{60,49}</string>
            </dict>
            <key>Obstacles/Beeater/Head/A/Beeater-Head-A-Blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,346},{43,36}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{43,36}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>Obstacles/Beeater/Head/A/Beeater-Head-A-Idle.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,328},{43,36}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{43,36}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>Obstacles/Beeater/Head/A/Beeater-Head-A-Licking-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,199},{43,38}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{43,38}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>Obstacles/Beeater/Head/A/Beeater-Head-A-Licking-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,154},{43,38}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{43,38}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>Obstacles/Beeater/Head/A/Beeater-Head-A-Licking-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,109},{43,38}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{43,38}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>Obstacles/Beeater/Head/A/Beeater-Head-A-Licking-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,304},{43,40}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{43,40}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>Obstacles/Beeater/Head/A/Beeater-Head-A-Licking-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,320},{43,40}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{43,40}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>Obstacles/Beeater/Head/A/Beeater-Head-A-Licking-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,341},{43,36}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{43,36}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>Obstacles/Beeater/Head/A/Beeater-Head-A-Show-Bee-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,299},{43,40}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{43,40}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>Obstacles/Beeater/Head/A/Beeater-Head-A-Show-Bee-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,208},{43,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{43,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>Obstacles/Beeater/Head/A/Beeater-Head-A-Show-Bee-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,196},{43,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{43,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>Obstacles/Beeater/Head/A/Beeater-Head-A-Show-Bombee-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,286},{43,40}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{43,40}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>Obstacles/Beeater/Head/A/Beeater-Head-A-Show-Bombee-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,148},{43,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{43,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>Obstacles/Beeater/Head/A/Beeater-Head-A-Show-Bombee-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,128},{43,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{43,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>Obstacles/Beeater/Head/A/Beeater-Head-A-Show-Closing-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,62},{45,36}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{45,36}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>Obstacles/Beeater/Head/A/Beeater-Head-A-Show-Closing-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,366},{43,34}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{43,34}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>Obstacles/Beeater/Head/A/Beeater-Head-A-Show-Sawee-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,244},{43,40}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{43,40}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>Obstacles/Beeater/Head/A/Beeater-Head-A-Show-Sawee-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,100},{43,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{43,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>Obstacles/Beeater/Head/A/Beeater-Head-A-Show-Sawee-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,52},{43,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{43,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>Obstacles/Beeater/Head/A/Beeater-Head-A-Show-Speedee-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,273},{45,40}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{45,40}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>Obstacles/Beeater/Head/A/Beeater-Head-A-Show-Speedee-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,4},{43,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{43,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>Obstacles/Beeater/Head/A/Beeater-Head-A-Show-Speedee-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,256},{45,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>Obstacles/Beeater/Head/A/Beeater-Head-Ending-A-Part-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,384},{40,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,21}}</string>
                <key>sourceSize</key>
                <string>{40,21}</string>
            </dict>
            <key>Obstacles/Beeater/Head/A/Beeater-Head-Ending-A-Part-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,356},{37,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,23}}</string>
                <key>sourceSize</key>
                <string>{37,23}</string>
            </dict>
            <key>Obstacles/Beeater/Head/A/Beeater-Head-Ending-A-Part-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,320},{13,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,12}}</string>
                <key>sourceSize</key>
                <string>{13,12}</string>
            </dict>
            <key>Obstacles/Beeater/Head/A/Beeater-Head-Ending-A-Part-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,425},{13,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,7}}</string>
                <key>sourceSize</key>
                <string>{13,7}</string>
            </dict>
            <key>Obstacles/Beeater/Head/A/Beeater-Head-Ending-A-Part-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,428},{9,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,8}}</string>
                <key>sourceSize</key>
                <string>{9,8}</string>
            </dict>
            <key>Obstacles/Glass/Pieces/A/Glass-Piece-A-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,467},{21,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,19}}</string>
                <key>sourceSize</key>
                <string>{21,19}</string>
            </dict>
            <key>Obstacles/Glass/Pieces/A/Glass-Piece-A-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,466},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>Obstacles/Glass/Pieces/A/Glass-Piece-A-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,356},{15,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,14}}</string>
                <key>sourceSize</key>
                <string>{15,14}</string>
            </dict>
            <key>Obstacles/Glass/Pieces/A/Glass-Piece-A-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,386},{24,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,16}}</string>
                <key>sourceSize</key>
                <string>{24,16}</string>
            </dict>
            <key>Obstacles/Glass/Pieces/A/Glass-Piece-A-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,477},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>Obstacles/Glass/Pieces/A/Glass-Piece-A-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,299},{19,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,12}}</string>
                <key>sourceSize</key>
                <string>{19,12}</string>
            </dict>
            <key>Obstacles/Glass/Pieces/A/Glass-Piece-A-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,335},{12,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,7}}</string>
                <key>sourceSize</key>
                <string>{12,7}</string>
            </dict>
            <key>Obstacles/Glass/Pieces/A/Glass-Piece-A-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,402},{10,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,11}}</string>
                <key>sourceSize</key>
                <string>{10,11}</string>
            </dict>
            <key>Obstacles/Hangnest/A/Hangnest-A-Lian.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{8,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,203}}</string>
                <key>sourceSize</key>
                <string>{8,203}</string>
            </dict>
            <key>Other/Floating-Block/A/Floating-Block-A-Idle.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,14},{98,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,46}}</string>
                <key>sourceSize</key>
                <string>{98,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d24651ea1608b9f6d7abf63197296dd3$</string>
            <key>textureFileName</key>
            <string>A.png</string>
        </dict>
    </dict>
</plist>
