<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Obstacles/Beeater/Body/Bird/B/Beeater-Body-Bird-B-Idle-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,64},{110,38}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{110,38}}</string>
                <key>sourceSize</key>
                <string>{118,78}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Bird/B/Beeater-Body-Bird-B-Idle-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,22},{108,38}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{108,38}}</string>
                <key>sourceSize</key>
                <string>{118,78}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Bird/B/Beeater-Body-Bird-B-Idle-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,62},{104,68}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{104,68}}</string>
                <key>sourceSize</key>
                <string>{118,78}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Bird/B/Beeater-Body-Bird-B-Idle-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,22},{112,46}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{112,46}}</string>
                <key>sourceSize</key>
                <string>{118,78}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Bird/B/Beeater-Body-Bird-B-Idle-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,22},{114,40}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{114,40}}</string>
                <key>sourceSize</key>
                <string>{118,78}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Hanging/B/Beeater-Body-Hanging-B-Ending-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,609},{65,56}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{65,56}}</string>
                <key>sourceSize</key>
                <string>{75,70}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Hanging/B/Beeater-Body-Hanging-B-Ending-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,214},{35,46}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,1},{35,46}}</string>
                <key>sourceSize</key>
                <string>{75,70}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Hanging/B/Beeater-Body-Hanging-B-Ending-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,152},{15,14}}</string>
                <key>offset</key>
                <string>{3,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,6},{15,14}}</string>
                <key>sourceSize</key>
                <string>{75,70}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Hanging/B/Beeater-Body-Hanging-B-Ending-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,104},{20,16}}</string>
                <key>offset</key>
                <string>{4,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,6},{20,16}}</string>
                <key>sourceSize</key>
                <string>{74,70}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Hanging/B/Beeater-Body-Hanging-B-Ending-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,629},{29,24}}</string>
                <key>offset</key>
                <string>{2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,2},{29,24}}</string>
                <key>sourceSize</key>
                <string>{75,70}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Hanging/B/Beeater-Body-Hanging-B-Ending-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,539},{27,22}}</string>
                <key>offset</key>
                <string>{3,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,4},{27,22}}</string>
                <key>sourceSize</key>
                <string>{75,70}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Hanging/B/Beeater-Body-Hanging-B-Idle-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,576},{62,68}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{62,68}}</string>
                <key>sourceSize</key>
                <string>{74,70}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Hanging/B/Beeater-Body-Hanging-B-Idle-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,562},{66,68}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{66,68}}</string>
                <key>sourceSize</key>
                <string>{74,70}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Hanging/B/Beeater-Body-Hanging-B-Idle-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,664},{62,68}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{62,68}}</string>
                <key>sourceSize</key>
                <string>{74,70}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Hanging/B/Beeater-Body-Hanging-B-Idle-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,582},{56,68}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,1},{56,68}}</string>
                <key>sourceSize</key>
                <string>{74,70}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Hanging/B/Pieces/Beeater-Body-Hanging-B-Piece-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,545},{35,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,39}}</string>
                <key>sourceSize</key>
                <string>{35,39}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Hanging/B/Pieces/Beeater-Body-Hanging-B-Piece-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,568},{21,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,29}}</string>
                <key>sourceSize</key>
                <string>{21,29}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Hanging/B/Pieces/Beeater-Body-Hanging-B-Piece-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,168},{23,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,13}}</string>
                <key>sourceSize</key>
                <string>{23,13}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Land/B/Beeater-Body-Land-B-Ending-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,597},{51,56}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,14},{51,56}}</string>
                <key>sourceSize</key>
                <string>{75,70}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Land/B/Beeater-Body-Land-B-Ending-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,175},{37,46}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,24},{37,46}}</string>
                <key>sourceSize</key>
                <string>{75,70}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Land/B/Beeater-Body-Land-B-Ending-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,326},{43,42}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,28},{43,42}}</string>
                <key>sourceSize</key>
                <string>{75,70}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Land/B/Beeater-Body-Land-B-Ending-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,606},{54,34}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,36},{54,34}}</string>
                <key>sourceSize</key>
                <string>{74,70}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Land/B/Beeater-Body-Land-B-Ending-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,642},{53,28}}</string>
                <key>offset</key>
                <string>{4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,42},{53,28}}</string>
                <key>sourceSize</key>
                <string>{75,70}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Land/B/Beeater-Body-Land-B-Ending-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,370},{43,28}}</string>
                <key>offset</key>
                <string>{4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,42},{43,28}}</string>
                <key>sourceSize</key>
                <string>{75,70}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Land/B/Beeater-Body-Land-B-Ending-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,260},{36,6}}</string>
                <key>offset</key>
                <string>{4,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,64},{36,6}}</string>
                <key>sourceSize</key>
                <string>{74,70}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Land/B/Beeater-Body-Land-B-Ending-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,4},{25,4}}</string>
                <key>offset</key>
                <string>{4,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,66},{25,4}}</string>
                <key>sourceSize</key>
                <string>{75,70}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Land/B/Beeater-Body-Land-B-Idle-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,630},{62,68}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{62,68}}</string>
                <key>sourceSize</key>
                <string>{74,70}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Land/B/Beeater-Body-Land-B-Idle-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,598},{64,68}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{64,68}}</string>
                <key>sourceSize</key>
                <string>{74,70}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Land/B/Beeater-Body-Land-B-Idle-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,536},{68,68}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{68,68}}</string>
                <key>sourceSize</key>
                <string>{74,70}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Land/B/Beeater-Body-Land-B-Idle-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,527},{72,68}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{72,68}}</string>
                <key>sourceSize</key>
                <string>{74,70}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-B-Blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,504},{84,70}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,19},{84,70}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,490},{85,70}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{85,70}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-B-Licking-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,416},{85,72}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{85,72}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-B-Licking-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,384},{85,74}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,15},{85,74}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-B-Licking-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,460},{84,74}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{84,74}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-B-Licking-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,449},{84,76}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{84,76}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-B-Licking-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,304},{86,78}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{86,78}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-B-Licking-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,109},{86,70}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,19},{86,70}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Bee-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,426},{84,76}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{84,76}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Bee-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,287},{86,82}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{86,82}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Bee-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,260},{86,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{86,88}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Bee-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,191},{85,88}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{85,88}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Bombee-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,371},{85,76}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{85,76}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Bombee-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,364},{85,82}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{85,82}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Bombee-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,159},{85,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{85,88}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Bombee-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,278},{84,88}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{84,88}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Closing-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,448},{85,70}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,19},{85,70}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Closing-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,22},{85,66}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,23},{85,66}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Sawee-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,348},{85,76}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{85,76}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Sawee-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,332},{85,82}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{85,82}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Sawee-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,104},{85,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{85,88}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Sawee-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,246},{84,88}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{84,88}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Speedee-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,520},{84,76}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{84,76}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Speedee-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,220},{86,82}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{86,82}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Speedee-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,197},{86,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{86,88}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Speedee-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,70},{87,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{87,88}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Sumee-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,180},{89,78}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{89,78}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Sumee-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,94},{89,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{89,84}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Sumee-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,4},{89,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{89,88}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Sumee-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,132},{86,88}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{86,88}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-Ending-B-Part-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,425},{79,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,40}}</string>
                <key>sourceSize</key>
                <string>{79,40}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-Ending-B-Part-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,251},{73,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,45}}</string>
                <key>sourceSize</key>
                <string>{73,45}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-Ending-B-Part-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,70},{26,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,24}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-Ending-B-Part-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,120},{25,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,13}}</string>
                <key>sourceSize</key>
                <string>{25,13}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-Ending-B-Part-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,132},{18,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,15}}</string>
                <key>sourceSize</key>
                <string>{18,15}</string>
            </dict>
            <key>Obstacles/Glass/Pieces/B/Glass-Piece-B-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,506},{39,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,37}}</string>
                <key>sourceSize</key>
                <string>{39,37}</string>
            </dict>
            <key>Obstacles/Glass/Pieces/B/Glass-Piece-B-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,400},{42,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,23}}</string>
                <key>sourceSize</key>
                <string>{42,23}</string>
            </dict>
            <key>Obstacles/Glass/Pieces/B/Glass-Piece-B-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,576},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,31}}</string>
                <key>sourceSize</key>
                <string>{33,31}</string>
            </dict>
            <key>Obstacles/Glass/Pieces/B/Glass-Piece-B-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,504},{33,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,22}}</string>
                <key>sourceSize</key>
                <string>{33,22}</string>
            </dict>
            <key>Obstacles/Glass/Pieces/B/Glass-Piece-B-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,597},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>Obstacles/Glass/Pieces/B/Glass-Piece-B-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,135},{38,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,24}}</string>
                <key>sourceSize</key>
                <string>{38,24}</string>
            </dict>
            <key>Obstacles/Glass/Pieces/B/Glass-Piece-B-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,122},{31,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,19}}</string>
                <key>sourceSize</key>
                <string>{31,19}</string>
            </dict>
            <key>Obstacles/Glass/Pieces/B/Glass-Piece-B-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,96},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>Obstacles/Hangnest/B/Hangnest-B-Lian.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{16,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,406}}</string>
                <key>sourceSize</key>
                <string>{16,406}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B-hd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74adc88c9d625be712178b5c4c199178$</string>
            <key>textureFileName</key>
            <string>B-hd.png</string>
        </dict>
    </dict>
</plist>
