<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Obstacles/Beeater/Body/Bird/B/Beeater-Body-Bird-B-Idle-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,64},{110,38}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{110,38}}</string>
                <key>sourceSize</key>
                <string>{118,78}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Bird/B/Beeater-Body-Bird-B-Idle-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,22},{108,38}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{108,38}}</string>
                <key>sourceSize</key>
                <string>{118,78}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Bird/B/Beeater-Body-Bird-B-Idle-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,62},{104,68}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{104,68}}</string>
                <key>sourceSize</key>
                <string>{118,78}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Bird/B/Beeater-Body-Bird-B-Idle-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,22},{112,46}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{112,46}}</string>
                <key>sourceSize</key>
                <string>{118,78}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Bird/B/Beeater-Body-Bird-B-Idle-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,22},{114,40}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{114,40}}</string>
                <key>sourceSize</key>
                <string>{118,78}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Hanging/B/Beeater-Body-Hanging-B-Ending-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,640},{65,56}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{65,56}}</string>
                <key>sourceSize</key>
                <string>{75,70}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Hanging/B/Beeater-Body-Hanging-B-Ending-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,596},{35,46}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,1},{35,46}}</string>
                <key>sourceSize</key>
                <string>{75,70}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Hanging/B/Beeater-Body-Hanging-B-Ending-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,132},{15,14}}</string>
                <key>offset</key>
                <string>{3,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,6},{15,14}}</string>
                <key>sourceSize</key>
                <string>{75,70}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Hanging/B/Beeater-Body-Hanging-B-Ending-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,127},{20,16}}</string>
                <key>offset</key>
                <string>{4,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,6},{20,16}}</string>
                <key>sourceSize</key>
                <string>{74,70}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Hanging/B/Beeater-Body-Hanging-B-Ending-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,334},{29,24}}</string>
                <key>offset</key>
                <string>{2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,2},{29,24}}</string>
                <key>sourceSize</key>
                <string>{75,70}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Hanging/B/Beeater-Body-Hanging-B-Ending-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,330},{27,22}}</string>
                <key>offset</key>
                <string>{3,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,4},{27,22}}</string>
                <key>sourceSize</key>
                <string>{75,70}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Hanging/B/Beeater-Body-Hanging-B-Idle-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,537},{62,68}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{62,68}}</string>
                <key>sourceSize</key>
                <string>{74,70}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Hanging/B/Beeater-Body-Hanging-B-Idle-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,22},{66,68}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{66,68}}</string>
                <key>sourceSize</key>
                <string>{74,70}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Hanging/B/Beeater-Body-Hanging-B-Idle-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,466},{62,68}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{62,68}}</string>
                <key>sourceSize</key>
                <string>{74,70}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Hanging/B/Beeater-Body-Hanging-B-Idle-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,582},{56,68}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,1},{56,68}}</string>
                <key>sourceSize</key>
                <string>{74,70}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Hanging/B/Pieces/Beeater-Body-Hanging-B-Piece-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,460},{35,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,39}}</string>
                <key>sourceSize</key>
                <string>{35,39}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Hanging/B/Pieces/Beeater-Body-Hanging-B-Piece-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,360},{21,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,29}}</string>
                <key>sourceSize</key>
                <string>{21,29}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Hanging/B/Pieces/Beeater-Body-Hanging-B-Piece-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,437},{23,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,13}}</string>
                <key>sourceSize</key>
                <string>{23,13}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Land/B/Beeater-Body-Land-B-Ending-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,506},{51,56}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,14},{51,56}}</string>
                <key>sourceSize</key>
                <string>{75,70}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Land/B/Beeater-Body-Land-B-Ending-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,523},{37,46}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,24},{37,46}}</string>
                <key>sourceSize</key>
                <string>{75,70}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Land/B/Beeater-Body-Land-B-Ending-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,477},{43,42}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,28},{43,42}}</string>
                <key>sourceSize</key>
                <string>{75,70}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Land/B/Beeater-Body-Land-B-Ending-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,404},{54,34}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,36},{54,34}}</string>
                <key>sourceSize</key>
                <string>{74,70}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Land/B/Beeater-Body-Land-B-Ending-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,383},{53,28}}</string>
                <key>offset</key>
                <string>{4,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,42},{53,28}}</string>
                <key>sourceSize</key>
                <string>{75,70}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Land/B/Beeater-Body-Land-B-Ending-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,359},{43,28}}</string>
                <key>offset</key>
                <string>{4,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,42},{43,28}}</string>
                <key>sourceSize</key>
                <string>{75,70}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Land/B/Beeater-Body-Land-B-Ending-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,4},{36,6}}</string>
                <key>offset</key>
                <string>{4,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,64},{36,6}}</string>
                <key>sourceSize</key>
                <string>{74,70}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Land/B/Beeater-Body-Land-B-Ending-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,42},{25,4}}</string>
                <key>offset</key>
                <string>{4,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,66},{25,4}}</string>
                <key>sourceSize</key>
                <string>{75,70}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Land/B/Beeater-Body-Land-B-Idle-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,518},{62,68}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{62,68}}</string>
                <key>sourceSize</key>
                <string>{74,70}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Land/B/Beeater-Body-Land-B-Idle-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,471},{64,68}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{64,68}}</string>
                <key>sourceSize</key>
                <string>{74,70}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Land/B/Beeater-Body-Land-B-Idle-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,448},{68,68}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{68,68}}</string>
                <key>sourceSize</key>
                <string>{74,70}</string>
            </dict>
            <key>Obstacles/Beeater/Body/Land/B/Beeater-Body-Land-B-Idle-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,401},{72,68}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{72,68}}</string>
                <key>sourceSize</key>
                <string>{74,70}</string>
            </dict>
            <key>Obstacles/Beeater/Ending/Bird/B/Beeater-Ending-Bird-B-Leaf-1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,145},{51,19}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{51,19}}</string>
                <key>sourceSize</key>
                <string>{57,37}</string>
            </dict>
            <key>Obstacles/Beeater/Ending/Bird/B/Beeater-Ending-Bird-B-Leaf-1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,495},{51,17}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{51,17}}</string>
                <key>sourceSize</key>
                <string>{57,37}</string>
            </dict>
            <key>Obstacles/Beeater/Ending/Bird/B/Beeater-Ending-Bird-B-Leaf-1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,530},{51,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{51,21}}</string>
                <key>sourceSize</key>
                <string>{57,37}</string>
            </dict>
            <key>Obstacles/Beeater/Ending/Bird/B/Beeater-Ending-Bird-B-Leaf-1-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,226},{50,27}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{50,27}}</string>
                <key>sourceSize</key>
                <string>{56,37}</string>
            </dict>
            <key>Obstacles/Beeater/Ending/Bird/B/Beeater-Ending-Bird-B-Leaf-1-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,173},{51,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{51,27}}</string>
                <key>sourceSize</key>
                <string>{57,37}</string>
            </dict>
            <key>Obstacles/Beeater/Ending/Bird/B/Beeater-Ending-Bird-B-Leaf-1-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,571},{37,23}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{37,23}}</string>
                <key>sourceSize</key>
                <string>{57,37}</string>
            </dict>
            <key>Obstacles/Beeater/Ending/Bird/B/Beeater-Ending-Bird-B-Leaf-1-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,539},{31,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{31,21}}</string>
                <key>sourceSize</key>
                <string>{57,37}</string>
            </dict>
            <key>Obstacles/Beeater/Ending/Bird/B/Beeater-Ending-Bird-B-Leaf-1-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,261},{19,15}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{19,15}}</string>
                <key>sourceSize</key>
                <string>{57,37}</string>
            </dict>
            <key>Obstacles/Beeater/Ending/Bird/B/Beeater-Ending-Bird-B-Leaf-2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,139},{26,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{26,15}}</string>
                <key>sourceSize</key>
                <string>{42,37}</string>
            </dict>
            <key>Obstacles/Beeater/Ending/Bird/B/Beeater-Ending-Bird-B-Leaf-2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,156},{25,15}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{25,15}}</string>
                <key>sourceSize</key>
                <string>{41,37}</string>
            </dict>
            <key>Obstacles/Beeater/Ending/Bird/B/Beeater-Ending-Bird-B-Leaf-2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,120},{26,17}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{26,17}}</string>
                <key>sourceSize</key>
                <string>{42,37}</string>
            </dict>
            <key>Obstacles/Beeater/Ending/Bird/B/Beeater-Ending-Bird-B-Leaf-2-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,231},{28,19}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{28,19}}</string>
                <key>sourceSize</key>
                <string>{42,37}</string>
            </dict>
            <key>Obstacles/Beeater/Ending/Bird/B/Beeater-Ending-Bird-B-Leaf-2-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,311},{30,21}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{30,21}}</string>
                <key>sourceSize</key>
                <string>{42,37}</string>
            </dict>
            <key>Obstacles/Beeater/Ending/Bird/B/Beeater-Ending-Bird-B-Leaf-2-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,104},{20,21}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{20,21}}</string>
                <key>sourceSize</key>
                <string>{42,37}</string>
            </dict>
            <key>Obstacles/Beeater/Ending/Bird/B/Beeater-Ending-Bird-B-Leaf-2-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,417},{18,15}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{18,15}}</string>
                <key>sourceSize</key>
                <string>{42,37}</string>
            </dict>
            <key>Obstacles/Beeater/Ending/Bird/B/Beeater-Ending-Bird-B-Leaf-2-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,462},{11,13}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{11,13}}</string>
                <key>sourceSize</key>
                <string>{41,37}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-B-Blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,495},{84,70}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,19},{84,70}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-B-Idle.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,345},{85,70}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{85,70}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-B-Licking-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,271},{85,72}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{85,72}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-B-Licking-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,325},{85,74}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,15},{85,74}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-B-Licking-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,430},{84,74}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{84,74}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-B-Licking-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,417},{84,76}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{84,76}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-B-Licking-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,270},{86,78}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{86,78}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-B-Licking-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,92},{86,70}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,19},{86,70}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Bee-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,386},{84,78}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{84,78}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Bee-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,104},{86,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{86,88}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Bee-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,183},{86,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{86,88}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Bombee-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,350},{84,78}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{84,78}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Bombee-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,180},{86,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{86,88}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Bombee-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,132},{86,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{86,88}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Sawee-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,279},{85,78}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{85,78}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Sawee-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,220},{84,88}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{84,88}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Sawee-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,159},{84,88}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{84,88}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Speedee-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,306},{85,78}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{85,78}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Speedee-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,192},{85,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{85,88}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Speedee-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,70},{87,88}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{87,88}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Sumee-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,245},{85,78}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{85,78}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Sumee-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,4},{88,88}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{88,88}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-B-Show-Sumee-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,94},{87,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{87,88}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-Ending-B-Part-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,359},{79,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,40}}</string>
                <key>sourceSize</key>
                <string>{79,40}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-Ending-B-Part-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,401},{73,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,45}}</string>
                <key>sourceSize</key>
                <string>{73,45}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-Ending-B-Part-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,70},{26,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,24}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-Ending-B-Part-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,149},{25,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,13}}</string>
                <key>sourceSize</key>
                <string>{25,13}</string>
            </dict>
            <key>Obstacles/Beeater/Head/B/Beeater-Head-Ending-B-Part-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,278},{18,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,15}}</string>
                <key>sourceSize</key>
                <string>{18,15}</string>
            </dict>
            <key>Obstacles/Glass/Pieces/B/Glass-Piece-B-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,438},{39,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,37}}</string>
                <key>sourceSize</key>
                <string>{39,37}</string>
            </dict>
            <key>Obstacles/Glass/Pieces/B/Glass-Piece-B-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,521},{42,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,23}}</string>
                <key>sourceSize</key>
                <string>{42,23}</string>
            </dict>
            <key>Obstacles/Glass/Pieces/B/Glass-Piece-B-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,506},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,31}}</string>
                <key>sourceSize</key>
                <string>{33,31}</string>
            </dict>
            <key>Obstacles/Glass/Pieces/B/Glass-Piece-B-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,295},{33,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,22}}</string>
                <key>sourceSize</key>
                <string>{33,22}</string>
            </dict>
            <key>Obstacles/Glass/Pieces/B/Glass-Piece-B-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,278},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>Obstacles/Glass/Pieces/B/Glass-Piece-B-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,497},{38,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,24}}</string>
                <key>sourceSize</key>
                <string>{38,24}</string>
            </dict>
            <key>Obstacles/Glass/Pieces/B/Glass-Piece-B-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,198},{31,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,19}}</string>
                <key>sourceSize</key>
                <string>{31,19}</string>
            </dict>
            <key>Obstacles/Glass/Pieces/B/Glass-Piece-B-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,96},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>Obstacles/Hangnest/B/Hangnest-B-Lian.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{16,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,406}}</string>
                <key>sourceSize</key>
                <string>{16,406}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B-hd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e646f45c998fc7577f2effa0c524e1a3$</string>
            <key>textureFileName</key>
            <string>B-hd.png</string>
        </dict>
    </dict>
</plist>
