<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Obstacles/Super-Beeater/A/Super-Beeater-A-Head-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,728},{261,223}}</string>
                <key>offset</key>
                <string>{-66,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,61},{261,223}}</string>
                <key>sourceSize</key>
                <string>{425,355}</string>
            </dict>
            <key>Obstacles/Super-Beeater/A/Super-Beeater-A-Head-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,953},{254,223}}</string>
                <key>offset</key>
                <string>{-71,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,61},{254,223}}</string>
                <key>sourceSize</key>
                <string>{424,355}</string>
            </dict>
            <key>Obstacles/Super-Beeater/A/Super-Beeater-A-Head-Back-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1219},{208,97}}</string>
                <key>offset</key>
                <string>{-82,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,156},{208,97}}</string>
                <key>sourceSize</key>
                <string>{424,355}</string>
            </dict>
            <key>Obstacles/Super-Beeater/A/Super-Beeater-A-Head-Back-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,636},{205,101}}</string>
                <key>offset</key>
                <string>{-81,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,156},{205,101}}</string>
                <key>sourceSize</key>
                <string>{425,355}</string>
            </dict>
            <key>Obstacles/Super-Beeater/A/Super-Beeater-A-Head-Back-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,1220},{200,109}}</string>
                <key>offset</key>
                <string>{-78,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,156},{200,109}}</string>
                <key>sourceSize</key>
                <string>{424,355}</string>
            </dict>
            <key>Obstacles/Super-Beeater/A/Super-Beeater-A-Head-Back-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,1331},{194,117}}</string>
                <key>offset</key>
                <string>{-74,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,157},{194,117}}</string>
                <key>sourceSize</key>
                <string>{424,355}</string>
            </dict>
            <key>Obstacles/Super-Beeater/A/Super-Beeater-A-Head-Back-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1439},{193,117}}</string>
                <key>offset</key>
                <string>{-74,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,157},{193,117}}</string>
                <key>sourceSize</key>
                <string>{425,355}</string>
            </dict>
            <key>Obstacles/Super-Beeater/A/Super-Beeater-A-Head-Front-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,1178},{247,243}}</string>
                <key>offset</key>
                <string>{-70,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,45},{247,243}}</string>
                <key>sourceSize</key>
                <string>{425,355}</string>
            </dict>
            <key>Obstacles/Super-Beeater/A/Super-Beeater-A-Head-Front-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,972},{246,253}}</string>
                <key>offset</key>
                <string>{-68,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,37},{246,253}}</string>
                <key>sourceSize</key>
                <string>{424,355}</string>
            </dict>
            <key>Obstacles/Super-Beeater/A/Super-Beeater-A-Head-Front-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,245},{242,271}}</string>
                <key>offset</key>
                <string>{-63,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,24},{242,271}}</string>
                <key>sourceSize</key>
                <string>{424,355}</string>
            </dict>
            <key>Obstacles/Super-Beeater/A/Super-Beeater-A-Head-Front-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,2},{241,291}}</string>
                <key>offset</key>
                <string>{-57,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,9},{241,291}}</string>
                <key>sourceSize</key>
                <string>{425,355}</string>
            </dict>
            <key>Obstacles/Super-Beeater/A/Super-Beeater-A-Head-Front-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,242},{238,291}}</string>
                <key>offset</key>
                <string>{-59,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,9},{238,291}}</string>
                <key>sourceSize</key>
                <string>{424,355}</string>
            </dict>
            <key>Obstacles/Super-Beeater/A/Super-Beeater-A-Head-Front-Blue-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,1093},{247,243}}</string>
                <key>offset</key>
                <string>{-70,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,45},{247,243}}</string>
                <key>sourceSize</key>
                <string>{425,355}</string>
            </dict>
            <key>Obstacles/Super-Beeater/A/Super-Beeater-A-Head-Front-Blue-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,971},{246,253}}</string>
                <key>offset</key>
                <string>{-68,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,37},{246,253}}</string>
                <key>sourceSize</key>
                <string>{424,355}</string>
            </dict>
            <key>Obstacles/Super-Beeater/A/Super-Beeater-A-Head-Front-Blue-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,245},{242,271}}</string>
                <key>offset</key>
                <string>{-63,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,24},{242,271}}</string>
                <key>sourceSize</key>
                <string>{424,355}</string>
            </dict>
            <key>Obstacles/Super-Beeater/A/Super-Beeater-A-Head-Front-Blue-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{241,291}}</string>
                <key>offset</key>
                <string>{-57,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,9},{241,291}}</string>
                <key>sourceSize</key>
                <string>{425,355}</string>
            </dict>
            <key>Obstacles/Super-Beeater/A/Super-Beeater-A-Head-Front-Blue-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{238,291}}</string>
                <key>offset</key>
                <string>{-59,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,9},{238,291}}</string>
                <key>sourceSize</key>
                <string>{424,355}</string>
            </dict>
            <key>Obstacles/Super-Beeater/A/Super-Beeater-A-Head-Lick-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,741},{254,229}}</string>
                <key>offset</key>
                <string>{-70,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,55},{254,229}}</string>
                <key>sourceSize</key>
                <string>{424,355}</string>
            </dict>
            <key>Obstacles/Super-Beeater/A/Super-Beeater-A-Head-Lick-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,489},{263,237}}</string>
                <key>offset</key>
                <string>{-66,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,47},{263,237}}</string>
                <key>sourceSize</key>
                <string>{425,355}</string>
            </dict>
            <key>Obstacles/Super-Beeater/A/Super-Beeater-A-Head-Lick-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,489},{266,241}}</string>
                <key>offset</key>
                <string>{-65,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,45},{266,241}}</string>
                <key>sourceSize</key>
                <string>{424,355}</string>
            </dict>
            <key>Obstacles/Super-Beeater/A/Super-Beeater-A-Head-Lick-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,482},{267,257}}</string>
                <key>offset</key>
                <string>{-64,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,44},{267,257}}</string>
                <key>sourceSize</key>
                <string>{425,355}</string>
            </dict>
            <key>Obstacles/Super-Beeater/A/Super-Beeater-A-Head-Lick-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{258,237}}</string>
                <key>offset</key>
                <string>{-68,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,50},{258,237}}</string>
                <key>sourceSize</key>
                <string>{424,355}</string>
            </dict>
            <key>Obstacles/Super-Beeater/A/Super-Beeater-A-Head-Lick-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,837},{254,223}}</string>
                <key>offset</key>
                <string>{-71,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,61},{254,223}}</string>
                <key>sourceSize</key>
                <string>{424,355}</string>
            </dict>
            <key>Obstacles/Super-Beeater/A/Super-Beeater-A-Tail-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,342},{140,131}}</string>
                <key>offset</key>
                <string>{-56,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,47},{140,131}}</string>
                <key>sourceSize</key>
                <string>{262,253}</string>
            </dict>
            <key>Obstacles/Super-Beeater/A/Super-Beeater-A-Tail-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1338},{194,99}}</string>
                <key>offset</key>
                <string>{28,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,47},{194,99}}</string>
                <key>sourceSize</key>
                <string>{262,253}</string>
            </dict>
            <key>Obstacles/Super-Beeater/A/Super-Beeater-A-Tail-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1558},{181,95}}</string>
                <key>offset</key>
                <string>{23,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,29},{181,95}}</string>
                <key>sourceSize</key>
                <string>{263,253}</string>
            </dict>
            <key>Obstacles/Super-Beeater/A/Super-Beeater-A-Tail-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,1523},{132,117}}</string>
                <key>offset</key>
                <string>{-2,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,2},{132,117}}</string>
                <key>sourceSize</key>
                <string>{262,253}</string>
            </dict>
            <key>Obstacles/Super-Beeater/A/Super-Beeater-A-Tail-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,197},{143,141}}</string>
                <key>offset</key>
                <string>{-57,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,47},{143,141}}</string>
                <key>sourceSize</key>
                <string>{263,253}</string>
            </dict>
            <key>Obstacles/Super-Beeater/A/Super-Beeater-A-Tail-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,475},{138,159}}</string>
                <key>offset</key>
                <string>{-53,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,47},{138,159}}</string>
                <key>sourceSize</key>
                <string>{262,253}</string>
            </dict>
            <key>Obstacles/Super-Beeater/A/Super-Beeater-A-Tail-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,1338},{119,183}}</string>
                <key>offset</key>
                <string>{-41,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,46},{119,183}}</string>
                <key>sourceSize</key>
                <string>{263,253}</string>
            </dict>
            <key>Obstacles/Super-Beeater/A/Super-Beeater-A-Tail-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,739},{96,205}}</string>
                <key>offset</key>
                <string>{-20,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,47},{96,205}}</string>
                <key>sourceSize</key>
                <string>{262,253}</string>
            </dict>
            <key>Obstacles/Super-Beeater/A/Super-Beeater-A-Tail-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1318},{103,201}}</string>
                <key>offset</key>
                <string>{-17,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,47},{103,201}}</string>
                <key>sourceSize</key>
                <string>{263,253}</string>
            </dict>
            <key>Obstacles/Super-Beeater/A/Super-Beeater-A-Tail-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,2},{141,193}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,47},{141,193}}</string>
                <key>sourceSize</key>
                <string>{263,253}</string>
            </dict>
            <key>Obstacles/Super-Beeater/A/Super-Beeater-A-Tail-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1848},{164,173}}</string>
                <key>offset</key>
                <string>{15,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,47},{164,173}}</string>
                <key>sourceSize</key>
                <string>{262,253}</string>
            </dict>
            <key>Obstacles/Super-Beeater/A/Super-Beeater-A-Tail-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1657},{189,135}}</string>
                <key>offset</key>
                <string>{26,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,48},{189,135}}</string>
                <key>sourceSize</key>
                <string>{263,253}</string>
            </dict>
            <key>Obstacles/Super-Beeater/A/Super-Beeater-A-Wing-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,1318},{76,47}}</string>
                <key>offset</key>
                <string>{-4,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{76,47}}</string>
                <key>sourceSize</key>
                <string>{84,107}</string>
            </dict>
            <key>Obstacles/Super-Beeater/A/Super-Beeater-A-Wing-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,245},{83,31}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,39},{83,31}}</string>
                <key>sourceSize</key>
                <string>{83,107}</string>
            </dict>
            <key>Obstacles/Super-Beeater/A/Super-Beeater-A-Wing-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,1220},{72,53}}</string>
                <key>offset</key>
                <string>{-6,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,53},{72,53}}</string>
                <key>sourceSize</key>
                <string>{84,107}</string>
            </dict>
            <key>Obstacles/Super-Beeater/A/Super-Beeater-A-Wing-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,547},{81,41}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,35},{81,41}}</string>
                <key>sourceSize</key>
                <string>{83,107}</string>
            </dict>
            <key>Obstacles/Super-Beeater/A/Super-Beeater-A-Wing-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,482},{60,63}}</string>
                <key>offset</key>
                <string>{-12,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,63}}</string>
                <key>sourceSize</key>
                <string>{84,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Boss-hd.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb37f973b165b7a3f0ac91cad01f3c72$</string>
            <key>textureFileName</key>
            <string>Boss-hd.png</string>
        </dict>
    </dict>
</plist>
