<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bubble/BubbleBurst-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,570},{449,304}}</string>
                <key>offset</key>
                <string>{-12,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,106},{449,304}}</string>
                <key>sourceSize</key>
                <string>{703,564}</string>
            </dict>
            <key>Bubble/BubbleBurst-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,570},{561,418}}</string>
                <key>offset</key>
                <string>{13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,78},{561,418}}</string>
                <key>sourceSize</key>
                <string>{703,564}</string>
            </dict>
            <key>Bubble/BubbleBurst-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{703,564}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{703,564}}</string>
                <key>sourceSize</key>
                <string>{703,564}</string>
            </dict>
            <key>Bubble/BubbleBurst-pc1.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,679},{60,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,59}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>Bubble/BubbleBurst-pc2.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,679},{60,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,38}}</string>
                <key>sourceSize</key>
                <string>{60,38}</string>
            </dict>
            <key>Bubble/BubbleBurst-pc3.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,719},{43,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,34}}</string>
                <key>sourceSize</key>
                <string>{43,34}</string>
            </dict>
            <key>Bubble/BubbleYel-A10.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,454},{223,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,146}}</string>
                <key>sourceSize</key>
                <string>{223,146}</string>
            </dict>
            <key>Bubble/BubbleYel-A2.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,229},{223,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,146}}</string>
                <key>sourceSize</key>
                <string>{223,146}</string>
            </dict>
            <key>Bubble/BubbleYel-D2.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,4},{223,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,146}}</string>
                <key>sourceSize</key>
                <string>{223,146}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Bubble.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ee93b6e29dbda975ceb1965a8615c8a$</string>
            <key>textureFileName</key>
            <string>Bubble.png</string>
        </dict>
    </dict>
</plist>
