<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tools/Slinger/Slinger-Idle.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,68},{29,45}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{29,45}}</string>
                <key>sourceSize</key>
                <string>{37,101}</string>
            </dict>
            <key>Tools/Slinger/Slinger-Shoot-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{35,93}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{35,93}}</string>
                <key>sourceSize</key>
                <string>{37,101}</string>
            </dict>
            <key>Tools/Slinger/Slinger-Shoot-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,35},{31,45}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{31,45}}</string>
                <key>sourceSize</key>
                <string>{37,101}</string>
            </dict>
            <key>Tools/Slinger/Slinger-Shoot-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{29,75}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{29,75}}</string>
                <key>sourceSize</key>
                <string>{37,101}</string>
            </dict>
            <key>Tools/Slinger/Slinger-Shoot-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,2},{31,85}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{31,85}}</string>
                <key>sourceSize</key>
                <string>{37,101}</string>
            </dict>
            <key>Tools/Slinger/Slinger-addon.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,99},{17,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,19}}</string>
                <key>sourceSize</key>
                <string>{17,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Front.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9fdcef7d69570f1f5037b9fe46974e1c$</string>
            <key>textureFileName</key>
            <string>Front.png</string>
        </dict>
    </dict>
</plist>
