<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bubble/BubbleBurst-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,4},{226,152}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,53},{226,152}}</string>
                <key>sourceSize</key>
                <string>{352,282}</string>
            </dict>
            <key>Bubble/BubbleBurst-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,4},{282,210}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,38},{282,210}}</string>
                <key>sourceSize</key>
                <string>{352,282}</string>
            </dict>
            <key>Bubble/BubbleBurst-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{352,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,282}}</string>
                <key>sourceSize</key>
                <string>{352,282}</string>
            </dict>
            <key>Bubble/BubbleYel-A10.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,216},{223,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,146}}</string>
                <key>sourceSize</key>
                <string>{223,146}</string>
            </dict>
            <key>Bubble/BubbleYel-A2.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,158},{223,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,146}}</string>
                <key>sourceSize</key>
                <string>{223,146}</string>
            </dict>
            <key>Bubble/BubbleYel-D2.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,153},{223,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,146}}</string>
                <key>sourceSize</key>
                <string>{223,146}</string>
            </dict>
            <key>Play/PollenCatchPlay-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,306},{79,87}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,56},{79,87}}</string>
                <key>sourceSize</key>
                <string>{201,197}</string>
            </dict>
            <key>Play/PollenCatchPlay-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,378},{124,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,36},{124,125}}</string>
                <key>sourceSize</key>
                <string>{200,197}</string>
            </dict>
            <key>Play/PollenCatchPlay-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,4},{147,147}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,24},{147,147}}</string>
                <key>sourceSize</key>
                <string>{201,197}</string>
            </dict>
            <key>Play/PollenCatchPlay-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,288},{183,179}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,9},{183,179}}</string>
                <key>sourceSize</key>
                <string>{201,197}</string>
            </dict>
            <key>Play/PollenCatchPlay-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,504},{198,189}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{198,189}}</string>
                <key>sourceSize</key>
                <string>{200,197}</string>
            </dict>
            <key>Play/PollenCatchPlay-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,505},{195,187}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{195,187}}</string>
                <key>sourceSize</key>
                <string>{201,197}</string>
            </dict>
            <key>Play/PollenCatchPlay-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,695},{198,185}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{198,185}}</string>
                <key>sourceSize</key>
                <string>{200,197}</string>
            </dict>
            <key>Play/PollenCatchPlay-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,306},{201,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,197}}</string>
                <key>sourceSize</key>
                <string>{201,197}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Interface.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2bbcf03d14ac730eaf19890f3fd8bafa$</string>
            <key>textureFileName</key>
            <string>Interface.png</string>
        </dict>
    </dict>
</plist>
