<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bubble/BubbleBurst-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,4},{449,305}}</string>
                <key>offset</key>
                <string>{-12,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,105},{449,305}}</string>
                <key>sourceSize</key>
                <string>{703,563}</string>
            </dict>
            <key>Bubble/BubbleBurst-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,4},{561,419}}</string>
                <key>offset</key>
                <string>{13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,77},{561,419}}</string>
                <key>sourceSize</key>
                <string>{703,563}</string>
            </dict>
            <key>Bubble/BubbleBurst-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{703,563}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{703,563}}</string>
                <key>sourceSize</key>
                <string>{703,563}</string>
            </dict>
            <key>Bubble/BubbleYel-A10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,311},{445,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,292}}</string>
                <key>sourceSize</key>
                <string>{445,292}</string>
            </dict>
            <key>Bubble/BubbleYel-A2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1723,4},{445,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,292}}</string>
                <key>sourceSize</key>
                <string>{445,292}</string>
            </dict>
            <key>Bubble/BubbleYel-D2.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,425},{445,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,291}}</string>
                <key>sourceSize</key>
                <string>{445,291}</string>
            </dict>
            <key>Play/PollenCatchPlay-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1559,605},{155,174}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,111},{155,174}}</string>
                <key>sourceSize</key>
                <string>{401,394}</string>
            </dict>
            <key>Play/PollenCatchPlay-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,744},{246,248}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,74},{246,248}}</string>
                <key>sourceSize</key>
                <string>{400,394}</string>
            </dict>
            <key>Play/PollenCatchPlay-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1719,451},{291,292}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,49},{291,292}}</string>
                <key>sourceSize</key>
                <string>{401,394}</string>
            </dict>
            <key>Play/PollenCatchPlay-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1001},{365,358}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,17},{365,358}}</string>
                <key>sourceSize</key>
                <string>{401,394}</string>
            </dict>
            <key>Play/PollenCatchPlay-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1362},{392,376}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,18},{392,376}}</string>
                <key>sourceSize</key>
                <string>{400,394}</string>
            </dict>
            <key>Play/PollenCatchPlay-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,569},{385,372}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{385,372}}</string>
                <key>sourceSize</key>
                <string>{401,394}</string>
            </dict>
            <key>Play/PollenCatchPlay-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1559,992},{396,368}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{396,368}}</string>
                <key>sourceSize</key>
                <string>{400,394}</string>
            </dict>
            <key>Play/PollenCatchPlay-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,605},{401,394}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,394}}</string>
                <key>sourceSize</key>
                <string>{401,394}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Interface-hd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:daaba598d1fd908391789f3e86499b9e$</string>
            <key>textureFileName</key>
            <string>Interface-hd.png</string>
        </dict>
    </dict>
</plist>
