<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bubble/BubbleBurst-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,4},{449,305}}</string>
                <key>offset</key>
                <string>{-12,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,105},{449,305}}</string>
                <key>sourceSize</key>
                <string>{703,563}</string>
            </dict>
            <key>Bubble/BubbleBurst-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,569},{561,419}}</string>
                <key>offset</key>
                <string>{13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,77},{561,419}}</string>
                <key>sourceSize</key>
                <string>{703,563}</string>
            </dict>
            <key>Bubble/BubbleBurst-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{703,563}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{703,563}}</string>
                <key>sourceSize</key>
                <string>{703,563}</string>
            </dict>
            <key>Bubble/BubbleYel-A10.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,902},{445,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,292}}</string>
                <key>sourceSize</key>
                <string>{445,292}</string>
            </dict>
            <key>Bubble/BubbleYel-A2.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,455},{445,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,292}}</string>
                <key>sourceSize</key>
                <string>{445,292}</string>
            </dict>
            <key>Bubble/BubbleYel-D2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,990},{445,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,291}}</string>
                <key>sourceSize</key>
                <string>{445,291}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Interface-hd.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41e56861d3d3aae3c3c74f53885d3da4$</string>
            <key>textureFileName</key>
            <string>Interface-hd.png</string>
        </dict>
    </dict>
</plist>
