<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bubble/BubbleBurst-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,4},{449,305}}</string>
                <key>offset</key>
                <string>{-12,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,105},{449,305}}</string>
                <key>sourceSize</key>
                <string>{703,563}</string>
            </dict>
            <key>Bubble/BubbleBurst-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,4},{561,419}}</string>
                <key>offset</key>
                <string>{13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,77},{561,419}}</string>
                <key>sourceSize</key>
                <string>{703,563}</string>
            </dict>
            <key>Bubble/BubbleBurst-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{703,563}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{703,563}}</string>
                <key>sourceSize</key>
                <string>{703,563}</string>
            </dict>
            <key>Bubble/BubbleYel-A1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1433},{444,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,291}}</string>
                <key>sourceSize</key>
                <string>{444,291}</string>
            </dict>
            <key>Bubble/BubbleYel-A10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,311},{445,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,292}}</string>
                <key>sourceSize</key>
                <string>{445,292}</string>
            </dict>
            <key>Bubble/BubbleYel-A13.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,862},{444,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,291}}</string>
                <key>sourceSize</key>
                <string>{444,291}</string>
            </dict>
            <key>Bubble/BubbleYel-A2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1723,297},{445,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,292}}</string>
                <key>sourceSize</key>
                <string>{445,292}</string>
            </dict>
            <key>Bubble/BubbleYel-A22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,1140},{444,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,291}}</string>
                <key>sourceSize</key>
                <string>{444,291}</string>
            </dict>
            <key>Bubble/BubbleYel-A7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,898},{444,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,291}}</string>
                <key>sourceSize</key>
                <string>{444,291}</string>
            </dict>
            <key>Bubble/BubbleYel-C7.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,718},{444,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,291}}</string>
                <key>sourceSize</key>
                <string>{444,291}</string>
            </dict>
            <key>Bubble/BubbleYel-D11.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,569},{444,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,291}}</string>
                <key>sourceSize</key>
                <string>{444,291}</string>
            </dict>
            <key>Bubble/BubbleYel-D2.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,425},{445,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,291}}</string>
                <key>sourceSize</key>
                <string>{445,291}</string>
            </dict>
            <key>Bubble/BubbleYel-D4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,605},{444,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,291}}</string>
                <key>sourceSize</key>
                <string>{444,291}</string>
            </dict>
            <key>Play/PlayButtonPollen-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,817},{157,174}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,111},{157,174}}</string>
                <key>sourceSize</key>
                <string>{401,394}</string>
            </dict>
            <key>Play/PlayButtonPollen-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,569},{246,248}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,74},{246,248}}</string>
                <key>sourceSize</key>
                <string>{400,394}</string>
            </dict>
            <key>Play/PlayButtonPollen-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1723,4},{291,294}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,48},{291,294}}</string>
                <key>sourceSize</key>
                <string>{401,394}</string>
            </dict>
            <key>Play/PlayButtonPollen-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,1191},{367,358}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,18},{367,358}}</string>
                <key>sourceSize</key>
                <string>{401,394}</string>
            </dict>
            <key>Play/PlayButtonPollen-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,1011},{394,378}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,16},{394,378}}</string>
                <key>sourceSize</key>
                <string>{400,394}</string>
            </dict>
            <key>Play/PlayButtonPollen-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,1433},{387,372}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{387,372}}</string>
                <key>sourceSize</key>
                <string>{401,394}</string>
            </dict>
            <key>Play/PlayButtonPollen-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1433},{396,370}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{396,370}}</string>
                <key>sourceSize</key>
                <string>{400,394}</string>
            </dict>
            <key>Play/PlayButtonPollen-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,744},{401,394}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,394}}</string>
                <key>sourceSize</key>
                <string>{401,394}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Interface-hd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2642e365b341eb309c43bb58e99db2c2$</string>
            <key>textureFileName</key>
            <string>Interface-hd.png</string>
        </dict>
    </dict>
</plist>
