<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pres-Bee-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,783},{132,169}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{132,169}}</string>
                <key>sourceSize</key>
                <string>{150,189}</string>
            </dict>
            <key>Pres-Bee-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,618},{133,159}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{133,159}}</string>
                <key>sourceSize</key>
                <string>{151,189}</string>
            </dict>
            <key>Pres-Bee-Blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,783},{133,169}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{133,169}}</string>
                <key>sourceSize</key>
                <string>{151,189}</string>
            </dict>
            <key>Pres-Bombee-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{129,187}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,2},{129,187}}</string>
                <key>sourceSize</key>
                <string>{151,189}</string>
            </dict>
            <key>Pres-Bombee-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,409},{129,187}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{129,187}}</string>
                <key>sourceSize</key>
                <string>{151,189}</string>
            </dict>
            <key>Pres-Bombee-Blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,409},{129,187}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,2},{129,187}}</string>
                <key>sourceSize</key>
                <string>{151,189}</string>
            </dict>
            <key>Pres-Mumee-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,671},{139,184}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{139,184}}</string>
                <key>sourceSize</key>
                <string>{163,222}</string>
            </dict>
            <key>Pres-Mumee-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,857},{141,160}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{141,160}}</string>
                <key>sourceSize</key>
                <string>{163,222}</string>
            </dict>
            <key>Pres-Mumee-Blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{141,160}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{141,160}}</string>
                <key>sourceSize</key>
                <string>{163,222}</string>
            </dict>
            <key>Pres-Sawee-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,598},{147,183}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{147,183}}</string>
                <key>sourceSize</key>
                <string>{151,189}</string>
            </dict>
            <key>Pres-Sawee-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,671},{135,185}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{135,185}}</string>
                <key>sourceSize</key>
                <string>{151,189}</string>
            </dict>
            <key>Pres-Speedee-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,474},{143,159}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,15},{143,159}}</string>
                <key>sourceSize</key>
                <string>{151,189}</string>
            </dict>
            <key>Pres-Speedee-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,618},{143,159}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{143,159}}</string>
                <key>sourceSize</key>
                <string>{151,189}</string>
            </dict>
            <key>Pres-Speedee-Blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,473},{143,159}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,15},{143,159}}</string>
                <key>sourceSize</key>
                <string>{151,189}</string>
            </dict>
            <key>Pres-Splash.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{331,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,243}}</string>
                <key>sourceSize</key>
                <string>{331,243}</string>
            </dict>
            <key>Pres-Sumee2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,2},{161,216}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,11},{161,216}}</string>
                <key>sourceSize</key>
                <string>{183,310}</string>
            </dict>
            <key>Pres-Sumee2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,165},{160,206}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,21},{160,206}}</string>
                <key>sourceSize</key>
                <string>{182,310}</string>
            </dict>
            <key>Pres-Sumee2-Blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,247},{160,206}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,21},{160,206}}</string>
                <key>sourceSize</key>
                <string>{182,310}</string>
            </dict>
            <key>Pres-Sumee2-Fis-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,165},{161,204}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,23},{161,204}}</string>
                <key>sourceSize</key>
                <string>{183,310}</string>
            </dict>
            <key>Pres-Sumee2-Fis-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,165},{160,216}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,11},{160,216}}</string>
                <key>sourceSize</key>
                <string>{182,310}</string>
            </dict>
            <key>Pres-Sumee2-Fis-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,2},{161,230}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,11},{161,230}}</string>
                <key>sourceSize</key>
                <string>{183,310}</string>
            </dict>
            <key>Pres-Sumee2-Fis-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,2},{161,230}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,21},{161,230}}</string>
                <key>sourceSize</key>
                <string>{183,310}</string>
            </dict>
            <key>Pres-TBee-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,328},{144,204}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{144,204}}</string>
                <key>sourceSize</key>
                <string>{162,222}</string>
            </dict>
            <key>Pres-TBee-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,327},{144,204}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{144,204}}</string>
                <key>sourceSize</key>
                <string>{162,222}</string>
            </dict>
            <key>Pres-TBee-Blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,327},{144,204}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{144,204}}</string>
                <key>sourceSize</key>
                <string>{162,222}</string>
            </dict>
            <key>Pres-Text-Bee.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,446},{59,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,31}}</string>
                <key>sourceSize</key>
                <string>{59,31}</string>
            </dict>
            <key>Pres-Text-Bombee.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,313},{131,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,33}}</string>
                <key>sourceSize</key>
                <string>{131,33}</string>
            </dict>
            <key>Pres-Text-Mumee.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,247},{121,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,33}}</string>
                <key>sourceSize</key>
                <string>{121,33}</string>
            </dict>
            <key>Pres-Text-Sawee.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,315},{110,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,31}}</string>
                <key>sourceSize</key>
                <string>{110,31}</string>
            </dict>
            <key>Pres-Text-Speedee.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,165},{146,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,41}}</string>
                <key>sourceSize</key>
                <string>{146,41}</string>
            </dict>
            <key>Pres-Text-Sumee.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,282},{114,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,31}}</string>
                <key>sourceSize</key>
                <string>{114,31}</string>
            </dict>
            <key>Pres-Text-TBee.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,348},{99,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,32}}</string>
                <key>sourceSize</key>
                <string>{99,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Presentation.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5241c402ef5d0074e746d171b04365f$</string>
            <key>textureFileName</key>
            <string>Presentation.png</string>
        </dict>
    </dict>
</plist>
