<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>type</key>
        <string>BEEATER-LAND-A</string>
        <key>groups</key>
        <array>
            <string>BEEATERS</string>
        </array>
        <key>components</key>
        <dict>
            <key>beeater</key>
            <dict>
                <key>showBeeAnimationFormat</key>
                <string>Beeater-Head-A-%@-%@</string>
                <key>showBeeBetweenAnimations</key>
                <array>
                    <string>Beeater-Head-A-Idle-Between-Short</string>
                    <string>Beeater-Head-A-Idle-Between-Medium</string>
                    <string>Beeater-Head-A-Idle-Between-Long</string>
                </array>
            </dict>
            <key>brittle</key>
            <dict/>
            <key>captured</key>
            <dict>
                <key>defaultContainedBeeType</key>
                <string>BEE</string>
            </dict>
            <key>crumble</key>
            <dict/>
            <key>disposable</key>
            <dict/>
            <key>freezable</key>
            <dict/>
            <key>physics</key>
            <dict>
                <key>body</key>
                <dict>
                    <key>mass</key>
                    <real>0</real>
                </dict>
                <key>shapes</key>
                <array>
                    <dict>
                        <key>type</key>
                        <string>poly</string>
                        <key>vertices</key>
                        <array>
                            <string>{ -15, 0 }</string>
                            <string>{ -15, 40 }</string>
                            <string>{ 15, 40}</string>
                            <string>{ 15, 0 }</string>
                        </array>
                        <key>elasticity</key>
                        <real>0.8</real>
                        <key>friction</key>
                        <real>0.5</real>
                        <key>isSensor</key>
                        <true/>
                        <key>layers</key>
                        <integer>1</integer>
                        <key>group</key>
                        <string>LEVEL</string>
                    </dict>
                </array>
            </dict>
            <key>render</key>
            <dict>
                <key>sprites</key>
                <array>
                    <dict>
                        <key>name</key>
                        <string>body</string>
                        <key>spriteSheetName</key>
                        <string>A</string>
                        <key>animationFile</key>
                        <string>Beeater-Body-Land-A-Animations.plist</string>
                        <key>anchorPoint</key>
                        <string>{ 0.6, 0.0 }</string>
                        <key>defaultIdleAnimation</key>
                        <string>Beeater-Body-Land-A-Idle</string>
                        <key>defaultDestroyAnimation</key>
                        <string>Beeater-Body-Land-A-Destroy</string>
                        <key>defaultStillAnimation</key>
                        <string>Beeater-Body-Land-A-Still</string>
                    </dict>
                    <dict>
                        <key>name</key>
                        <string>head</string>
                        <key>spriteSheetName</key>
                        <string>A</string>
                        <key>animationFile</key>
                        <string>Beeater-Head-A-Animations.plist</string>
                        <key>anchorPoint</key>
                        <string>{ 0.8, -0.3 }</string>
                        <key>defaultIdleAnimation</key>
                        <string>Beeater-Head-A-Idle-NoBee</string>
                    </dict>
                </array>
            </dict>
            <key>shard</key>
            <dict>
                <key>piecesEntityTypes</key>
                <array>
                    <string>BEEATER-HEAD-PIECE-A-1</string>
                    <string>BEEATER-HEAD-PIECE-A-2</string>
                    <string>BEEATER-HEAD-PIECE-A-3</string>
                    <string>BEEATER-HEAD-PIECE-A-4</string>
                    <string>BEEATER-HEAD-PIECE-A-5</string>
                </array>
                <key>piecesCount</key>
                <integer>5</integer>
                <key>piecesSpawnType</key>
                <string>SHARD_PIECES_SPAWN_NORMAL</string>
                <key>piecesDistributionType</key>
                <string>SHARD_PIECES_DISTRIBUTION_SEQUENTIAL</string>
            </dict>
            <key>sound</key>
            <dict>
                <key>defaultDestroySound</key>
                <string>BeeaterKill</string>
            </dict>
            <key>transform</key>
            <dict/>
        </dict>
    </dict>
</plist>
