<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ramp-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{296,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,82}}</string>
                <key>sourceSize</key>
                <string>{296,82}</string>
            </dict>
            <key>Ramp-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{296,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,82}}</string>
                <key>sourceSize</key>
                <string>{296,82}</string>
            </dict>
            <key>Ramp-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{296,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,82}}</string>
                <key>sourceSize</key>
                <string>{296,82}</string>
            </dict>
            <key>Ramp-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{296,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,82}}</string>
                <key>sourceSize</key>
                <string>{296,82}</string>
            </dict>
            <key>Ramp-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,86},{296,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,82}}</string>
                <key>sourceSize</key>
                <string>{296,82}</string>
            </dict>
            <key>Ramp-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,86},{296,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,82}}</string>
                <key>sourceSize</key>
                <string>{296,82}</string>
            </dict>
            <key>Ramp-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{296,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,82}}</string>
                <key>sourceSize</key>
                <string>{296,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ramp.png</string>
            <key>size</key>
            <string>{1024,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cea8b75a3b4392e49f789a98475aa2a9$</string>
            <key>textureFileName</key>
            <string>Ramp.png</string>
        </dict>
    </dict>
</plist>
