<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>tutorials</key>
    <array>
        <!-- Balloons -->
        <dict>
            <key>id</key>
            <string>BALLOON-A3</string>
            <key>type</key>
            <string>balloon</string>
            <key>fileName</key>
            <string>BubbleYel-A3.png</string>
            <key>offset</key>
            <string>{ 90, 50 }</string>
            <key>trigger</key>
            <dict>
                <key>type</key>
                <string>level</string>
                <key>levelName</key>
                <string>Level-A3</string>
            </dict>
        </dict>
        <dict>
            <key>id</key>
            <string>BALLOON-A7</string>
            <key>type</key>
            <string>balloon</string>
            <key>fileName</key>
            <string>BubbleYel-A7.png</string>
            <key>offset</key>
            <string>{ -20, 10 }</string>
            <key>trigger</key>
            <dict>
                <key>type</key>
                <string>level</string>
                <key>levelName</key>
                <string>Level-A7</string>
            </dict>
        </dict>
        <dict>
            <key>id</key>
            <string>BALLOON-A13</string>
            <key>type</key>
            <string>balloon</string>
            <key>fileName</key>
            <string>BubbleYel-A13.png</string>
            <key>offset</key>
            <string>{ -75, 35 }</string>
            <key>trigger</key>
			<dict>
				<key>type</key>
				<string>level</string>
				<key>levelName</key>
				<string>Level-A13</string>
			</dict>
        </dict>
        <dict>
            <key>id</key>
            <string>BALLOON-A39</string>
            <key>type</key>
            <string>balloon</string>
            <key>fileName</key>
            <string>BubbleYel-A10.png</string>
            <key>offset</key>
            <string>{ -105, -65 }</string>
            <key>trigger</key>
            <dict>
                <key>type</key>
                <string>level</string>
                <key>levelName</key>
                <string>Level-A39</string>
            </dict>
        </dict>

        <!-- Strips -->
        <dict>
            <key>id</key>
            <string>STRIP-INTRO</string>
            <key>type</key>
            <string>strip</string>
            <key>fileName</key>
            <string>DescrStrip-IntroGame-A.jpg</string>
            <key>buttonFileName</key>
            <string>Syst-Check-A.png</string>
            <key>trigger</key>
			<dict>
				<key>type</key>
				<string>level</string>
				<key>levelName</key>
				<string>Level-A1</string>
			</dict>
        </dict>
        <dict>
            <key>id</key>
            <string>STRIP-BOMBEE</string>
            <key>type</key>
            <string>strip</string>
            <key>fileName</key>
            <string>DescrStrip-Bombee-A.jpg</string>
            <key>buttonFileName</key>
            <string>Syst-Check-A.png</string>
            <key>trigger</key>
			<dict>
				<key>type</key>
				<string>bee</string>
				<key>beeType</key>
				<string>BOMBEE</string>
			</dict>
        </dict>
        <dict>
            <key>id</key>
            <string>STRIP-SPEEDEE</string>
            <key>type</key>
            <string>strip</string>
            <key>fileName</key>
            <string>DescrStrip-Speedee-A.jpg</string>
            <key>buttonFileName</key>
            <string>Syst-Check-A.png</string>
            <key>trigger</key>
			<dict>
				<key>type</key>
				<string>bee</string>
				<key>beeType</key>
				<string>SPEEDEE</string>
			</dict>
        </dict>
        <dict>
            <key>id</key>
            <string>STRIP-SAWEE</string>
            <key>type</key>
            <string>strip</string>
            <key>fileName</key>
            <string>DescrStrip-Sawee-A.jpg</string>
            <key>buttonFileName</key>
            <string>Syst-Check-A.png</string>
            <key>trigger</key>
			<dict>
				<key>type</key>
				<string>bee</string>
				<key>beeType</key>
				<string>SAWEE</string>
			</dict>
        </dict>
    </array>
</dict>
</plist>
