<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>tutorials</key>
    <array>
        <!-- Balloons -->
        <dict>
            <key>id</key>
            <string>BALLOON-A3</string>
            <key>type</key>
            <string>balloon</string>
            <key>fileName</key>
            <string>BubbleYel-A3.png</string>
            <key>offset</key>
            <string>{ 90, 50 }</string>
            <key>trigger</key>
            <dict>
                <key>type</key>
                <string>level</string>
                <key>levelName</key>
                <string>Level-A3</string>
            </dict>
        </dict>
        <dict>
            <key>id</key>
            <string>BALLOON-A7</string>
            <key>type</key>
            <string>balloon</string>
            <key>fileName</key>
            <string>BubbleYel-A7.png</string>
            <key>offset</key>
            <string>{ -15, 12 }</string>
            <key>trigger</key>
            <dict>
                <key>type</key>
                <string>level</string>
                <key>levelName</key>
                <string>Level-A7</string>
            </dict>
        </dict>
        <dict>
            <key>id</key>
            <string>BALLOON-A10</string>
            <key>type</key>
            <string>balloon</string>
            <key>fileName</key>
            <string>BubbleYel-A10.png</string>
            <key>offset</key>
            <string>{ -60, -37 }</string>
            <key>trigger</key>
			<dict>
				<key>type</key>
				<string>level</string>
				<key>levelName</key>
				<string>Level-A10</string>
			</dict>
        </dict>
        <dict>
            <key>id</key>
            <string>BALLOON-A13</string>
            <key>type</key>
            <string>balloon</string>
            <key>fileName</key>
            <string>BubbleYel-A13.png</string>
            <key>offset</key>
            <string>{ -76, 40 }</string>
            <key>trigger</key>
            <dict>
                <key>type</key>
                <string>level</string>
                <key>levelName</key>
                <string>Level-A13</string>
            </dict>
        </dict>
        <dict>
            <key>id</key>
            <string>BALLOON-A24</string>
            <key>type</key>
            <string>balloon</string>
            <key>fileName</key>
            <string>BubbleYel-A24.png</string>
            <key>offset</key>
            <string>{ -70, 5 }</string>
            <key>trigger</key>
            <dict>
                <key>type</key>
                <string>level</string>
                <key>levelName</key>
                <string>Level-A24</string>
            </dict>
        </dict>
        <dict>
            <key>id</key>
            <string>BALLOON-A30</string>
            <key>type</key>
            <string>balloon</string>
            <key>fileName</key>
            <string>BubbleYel-A30.png</string>
            <key>offset</key>
            <string>{ 0, 15 }</string>
            <key>trigger</key>
            <dict>
                <key>type</key>
                <string>level</string>
                <key>levelName</key>
                <string>Level-A30</string>
            </dict>
        </dict>
        <dict>
            <key>id</key>
            <string>BALLOON-C7</string>
            <key>type</key>
            <string>balloon</string>
            <key>fileName</key>
            <string>BubbleYel-C7.png</string>
            <key>offset</key>
            <string>{ 60, 27 }</string>
            <key>trigger</key>
            <dict>
                <key>type</key>
                <string>level</string>
                <key>levelName</key>
                <string>Level-C7</string>
            </dict>
        </dict>
        <dict>
            <key>id</key>
            <string>BALLOON-D2</string>
            <key>type</key>
            <string>balloon</string>
            <key>fileName</key>
            <string>BubbleYel-D2.png</string>
            <key>offset</key>
            <string>{ 20, 0 }</string>
            <key>trigger</key>
			<dict>
				<key>type</key>
				<string>level</string>
				<key>levelName</key>
				<string>Level-D2</string>
			</dict>
        </dict>
        <dict>
            <key>id</key>
            <string>BALLOON-D4</string>
            <key>type</key>
            <string>balloon</string>
            <key>fileName</key>
            <string>BubbleYel-D4.png</string>
            <key>offset</key>
            <string>{ -30, 48 }</string>
            <key>trigger</key>
            <dict>
                <key>type</key>
                <string>level</string>
                <key>levelName</key>
                <string>Level-D4</string>
            </dict>
        </dict>
        <dict>
            <key>id</key>
            <string>BALLOON-D11</string>
            <key>type</key>
            <string>balloon</string>
            <key>fileName</key>
            <string>BubbleYel-D11.png</string>
            <key>offset</key>
            <string>{ 80, 0 }</string>
            <key>trigger</key>
            <dict>
                <key>type</key>
                <string>level</string>
                <key>levelName</key>
                <string>Level-D11</string>
            </dict>
        </dict>

        <!-- Strips -->
        <dict>
            <key>id</key>
            <string>STRIP-INTRO</string>
            <key>type</key>
            <string>strip</string>
            <key>fileName</key>
            <string>DescrStrip-IntroGame-A.jpg</string>
            <key>buttonFileName</key>
            <string>Syst-Check-A.png</string>
            <key>trigger</key>
			<dict>
				<key>type</key>
				<string>level</string>
				<key>levelName</key>
				<string>Level-A1</string>
			</dict>
        </dict>
        <dict>
            <key>id</key>
            <string>STRIP-BOMBEE</string>
            <key>type</key>
            <string>strip</string>
            <key>fileName</key>
            <string>DescrStrip-Bombee-A.jpg</string>
            <key>buttonFileName</key>
            <string>Syst-Check-A.png</string>
            <key>trigger</key>
			<dict>
				<key>type</key>
				<string>bee</string>
				<key>beeType</key>
				<string>BOMBEE</string>
			</dict>
        </dict>
        <dict>
            <key>id</key>
            <string>STRIP-SPEEDEE</string>
            <key>type</key>
            <string>strip</string>
            <key>fileName</key>
            <string>DescrStrip-Speedee-A.jpg</string>
            <key>buttonFileName</key>
            <string>Syst-Check-A.png</string>
            <key>trigger</key>
			<dict>
				<key>type</key>
				<string>bee</string>
				<key>beeType</key>
				<string>SPEEDEE</string>
			</dict>
        </dict>
        <dict>
            <key>id</key>
            <string>STRIP-SAWEE</string>
            <key>type</key>
            <string>strip</string>
            <key>fileName</key>
            <string>DescrStrip-Sawee-A.jpg</string>
            <key>buttonFileName</key>
            <string>Syst-Check-A.png</string>
            <key>trigger</key>
			<dict>
				<key>type</key>
				<string>bee</string>
				<key>beeType</key>
				<string>SAWEE</string>
			</dict>
        </dict>
        <dict>
            <key>id</key>
            <string>STRIP-MUMEE</string>
            <key>type</key>
            <string>strip</string>
            <key>fileName</key>
            <string>DescrStrip-Mumee-D.jpg</string>
            <key>buttonFileName</key>
            <string>Syst-Check-D.png</string>
            <key>trigger</key>
            <dict>
                <key>type</key>
                <string>bee</string>
                <key>beeType</key>
                <string>MUMEE</string>
            </dict>
        </dict>
        <dict>
            <key>id</key>
            <string>STRIP-SUMEE</string>
            <key>type</key>
            <string>strip</string>
            <key>fileName</key>
            <string>DescrStrip-Sumee-B.jpg</string>
            <key>buttonFileName</key>
            <string>Syst-Check-B.png</string>
            <key>trigger</key>
            <dict>
                <key>type</key>
                <string>bee</string>
                <key>beeType</key>
                <string>SUMEE</string>
            </dict>
        </dict>
        <dict>
            <key>id</key>
            <string>STRIP-TBEE</string>
            <key>type</key>
            <string>strip</string>
            <key>fileName</key>
            <string>DescrStrip-TBee-C.jpg</string>
            <key>buttonFileName</key>
            <string>Syst-Check-C.png</string>
            <key>trigger</key>
            <dict>
                <key>type</key>
                <string>bee</string>
                <key>beeType</key>
                <string>TBEE</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
