<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>music</key>
    <dict>
        <key>MusicA</key>
        <string>Level-A-Music.caf</string>
        <key>MusicB</key>
        <string>Level-B-Music.caf</string>
        <key>MusicC</key>
        <string>Level-C-Music.caf</string>
        <key>MusicD</key>
        <string>Level-D-Music.caf</string>
        <key>MusicE</key>
        <string>Level-A-Music.caf</string>
        <key>MusicBoss</key>
        <string>Boss-Music.caf</string>
        <key>MusicMain</key>
        <string>Main-Music.caf</string>
    </dict>
	<key>sfx</key>
	<dict>
		<key>BeeHitGlass</key>
        <dict>
            <key>fileName</key>
            <string>BeeHitGlass.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
        <key>BeeHitScreen</key>
        <dict>
            <key>fileName</key>
            <string>BeeHitScreen.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
        <key>SaweeHitScreen</key>
        <dict>
            <key>fileName</key>
            <string>SaweeHitScreen.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
        <key>GlassLarge</key>
        <dict>
            <key>fileName</key>
            <string>GlassLarge.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
        <key>GlassSmall</key>
        <dict>
            <key>fileName</key>
            <string>GlassSmall.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
        <key>BombeeBoom</key>
        <dict>
            <key>fileName</key>
            <string>BombeeBoom.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
        <key>BeeaterKill1</key>
        <dict>
            <key>fileName</key>
            <string>BeeaterKill-1.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
        <key>BeeaterKill2</key>
        <dict>
            <key>fileName</key>
            <string>BeeaterKill-2.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
        <key>BeeaterFishKill</key>
        <dict>
            <key>fileName</key>
            <string>BeeaterFishKill.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
        <key>BeeHitWall</key>
        <dict>
            <key>fileName</key>
            <string>BeeHitWall.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
        <key>SlingerStretch</key>
        <dict>
            <key>fileName</key>
            <string>SlingerStretch.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
        <key>SlingerBzzz</key>
        <dict>
            <key>fileName</key>
            <string>SlingerBzzz.caf</string>
            <key>volume</key>
            <real>1.0</real>
        </dict>
        <key>SlingerShoot</key>
        <dict>
            <key>fileName</key>
            <string>SlingerShoot.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
        <key>MushroomBounce</key>
        <dict>
            <key>fileName</key>
            <string>MushroomBounce.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
        <key>SmokeMushroom</key>
        <dict>
            <key>fileName</key>
            <string>SmokeMushroom.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
        <key>WoodSaw</key>
        <dict>
            <key>fileName</key>
            <string>WoodSaw.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
        <key>WoodCrack</key>
        <dict>
            <key>fileName</key>
            <string>WoodCrack.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
        <key>BalloonBurst</key>
        <dict>
            <key>fileName</key>
            <string>BalloonBurst.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
        <key>BlowUpBalloon</key>
        <dict>
            <key>fileName</key>
            <string>BlowUpBalloon.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
        <key>BranchToang</key>
        <dict>
            <key>fileName</key>
            <string>BranchToang.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
        <key>BeeaterKillMix</key>
        <dict>
            <key>fileName</key>
            <string>BeeaterKillMix.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
        <key>BeeInWater</key>
        <dict>
            <key>fileName</key>
            <string>BeeInWater.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
        <key>EggTada</key>
        <dict>
            <key>fileName</key>
            <string>EggTada.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
        <key>HangNestBonk</key>
        <dict>
            <key>fileName</key>
            <string>HangNestBonk.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
        <key>PollenBoost</key>
        <dict>
            <key>fileName</key>
            <string>PollenBoost.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
        <key>PollenCollect</key>
        <dict>
            <key>fileName</key>
            <string>PollenCollect.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
        <key>PulverBeeater</key>
        <dict>
            <key>fileName</key>
            <string>PulverBeeater.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
        <key>PulverWood</key>
        <dict>
            <key>fileName</key>
            <string>PulverWood.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
        <key>FreedTBee</key>
        <dict>
            <key>fileName</key>
            <string>FreedTBee.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
        <key>FreedMumee</key>
        <dict>
            <key>fileName</key>
            <string>FreedMumee.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
        <key>FreedSumee</key>
        <dict>
            <key>fileName</key>
            <string>FreedSumee.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
        <key>SpeedeeSound</key>
        <dict>
            <key>fileName</key>
            <string>SpeedeeSound.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
        <key>LevelCompleted</key>
        <dict>
            <key>fileName</key>
            <string>Level-Completed.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
        <key>GameCompleted?</key>
        <dict>
            <key>fileName</key>
            <string>Game-Completed.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
        <key>GameCompleted!</key>
        <dict>
            <key>fileName</key>
            <string>Game-Completed.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
        <key>BossCompleted</key>
        <dict>
            <key>fileName</key>
            <string>Boss-Completed.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
        <key>LevelFailed</key>
        <dict>
            <key>fileName</key>
            <string>Level-Failed.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
        <key>FlowerCompleted</key>
        <dict>
            <key>fileName</key>
            <string>FlowerCompleted.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
        <key>SlingerBee</key>
        <dict>
            <key>fileName</key>
            <string>SlingerBee.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
        <key>SlingerBombee</key>
        <dict>
            <key>fileName</key>
            <string>SlingerBombee.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
        <key>SlingerSawee</key>
        <dict>
            <key>fileName</key>
            <string>SlingerSawee.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
        <key>SlingerSumee</key>
        <dict>
            <key>fileName</key>
            <string>SlingerSumee.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
        <key>SlingerTBee</key>
        <dict>
            <key>fileName</key>
            <string>SlingerTBee.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
        <key>SumeeEnd</key>
        <dict>
            <key>fileName</key>
            <string>SumeeEnd.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
        <key>FlowerFill</key>
        <dict>
            <key>fileName</key>
            <string>FlowerFill.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
        <key>TransporterBee</key>
        <dict>
            <key>fileName</key>
            <string>TransporterBee.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
        <key>IronBeeBoom</key>
        <dict>
            <key>fileName</key>
            <string>IronBee-Boom.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
        <key>IronBeeSonar</key>
        <dict>
            <key>fileName</key>
            <string>IronBee-Sonar.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
        <key>StingeeShooting</key>
        <dict>
            <key>fileName</key>
            <string>Stingee-Shooting.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
        <key>StingeeFlight</key>
        <dict>
            <key>fileName</key>
            <string>Stingee-Flight.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
        <key>IronBeeFlight</key>
        <dict>
            <key>fileName</key>
            <string>IronBee-Flight.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
        <key>SlingerInstall</key>
        <dict>
            <key>fileName</key>
            <string>Slinger-Install.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
        <key>BurneeBurn</key>
        <dict>
            <key>fileName</key>
            <string>Burnee-Burn.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
        <key>Popcorn</key>
        <dict>
            <key>fileName</key>
            <string>Popcorn.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
        <key>BurneeSteam</key>
        <dict>
            <key>fileName</key>
            <string>Burnee-Steam.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
        <key>SlingerBurnee</key>
        <dict>
            <key>fileName</key>
            <string>Slinger-Burnee.caf</string>
            <key>volume</key>
            <real>1</real>
        </dict>
	</dict>
</dict>
</plist>
