<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sounds</key>
	<dict>
		<key>BeeHitGlass</key>
		<string>BeeHitGlass.mp3</string>
		<key>GlassLarge</key>
		<string>GlassLarge.m4a</string>
		<key>GlassSmall</key>
		<string>GlassSmall3.wav</string>
		<key>BombeeBoom</key>
		<string>BombeeBoom.mp3</string>
		<key>BeeaterKill</key>
		<string>BeeaterKill.mp3</string>
		<key>BeeHitWall</key>
		<string>BeeHitWall4.mp3</string>
		<key>SpeedeeSling</key>
		<string>SpeedeeSling.mp3</string>
		<key>BonusKey</key>
		<string>BonusKey.mp3</string>
		<key>SlingerStretch</key>
		<string>Slinger.m4a</string>
		<key>SmokeMushroom</key>
		<string>SmokeMushroom.mp3</string>
		<key>MusicA</key>
		<string>A-Level-Music1.m4a</string>
		<key>MusicB</key>
		<string>B-Level-Music2.m4a</string>
		<key>CaveDoorOpens</key>
		<string>CaveDoorOpens.m4a</string>
		<key>DripSmall1</key>
		<string>DripSmall.m4a</string>
		<key>DripSmall2</key>
		<string>DripSmall2.m4a</string>
		<key>DripSmall3</key>
		<string>DripSmall3.m4a</string>
	</dict>
</dict>
</plist>
