<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sounds</key>
	<dict>
        <!-- Music -->
        <key>MusicA</key>
        <string>A-Level-Music.caf</string>
        <key>MusicB</key>
        <string>B-Level-Music.caf</string>
        <key>MusicC</key>
        <string>C-Level-Music.caf</string>
        <key>MusicD</key>
        <string>D-Level-Music.caf</string>

        <!-- SFX -->
		<key>BeeHitGlass</key>
		<string>BeeHitGlass.caf</string>
		<key>GlassLarge</key>
		<string>GlassLarge.caf</string>
		<key>GlassSmall</key>
		<string>GlassSmall.caf</string>
		<key>BombeeBoom</key>
		<string>BombeeBoom.caf</string>
		<key>BeeaterKill</key>
		<string>BeeaterKill.caf</string>
		<key>BeeHitWall</key>
		<string>BeeHitWall.caf</string>
        <key>DripSmall1</key>
        <string>DripSmall1.caf</string>
        <key>DripSmall2</key>
        <string>DripSmall2.caf</string>
        <key>DripSmall3</key>
        <string>DripSmall3.caf</string>
        <key>SlingerStretch</key>
        <string>SlingerStretch.caf</string>
		<key>SpeedeeSling</key>
		<string>SpeedeeSling.caf</string>
		<key>SlingerShoot</key>
		<string>SlingerShoot.caf</string>
		<key>MushroomBounce</key>
		<string>MushroomBounce.caf</string>
		<key>SmokeMushroom</key>
		<string>SmokeMushroom.caf</string>
		<key>WoodDestroy</key>
		<string>WoodDestroy.caf</string>
	</dict>
</dict>
</plist>
