<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Level-A2</string>
	<key>version</key>
	<integer>1</integer>
	<key>entities</key>
	<array>
		<dict>
			<key>type</key>
			<string>SLINGER</string>
			<key>position</key>
			<string>{ 60, 150 }</string>
			<key>mirrored</key>
			<false/>
			<key>rotation</key>
			<integer>0</integer>
			<key>bees</key>
			<array>
				<string>BEE</string>
			</array>
		</dict>
		<dict>
			<key>type</key>
			<string>BEEATER</string>
			<key>position</key>
			<string>{ 374, 215 }</string>
			<key>mirrored</key>
			<false/>
			<key>bee</key>
			<string>BEE</string>
		</dict>
		<dict>
			<key>type</key>
			<string>BEEATER</string>
			<key>position</key>
			<string>{ 315, 70 }</string>
			<key>mirrored</key>
			<false/>
			<key>rotation</key>
			<integer>0</integer>
			<key>bee</key>
			<string>BEE</string>
		</dict>
	</array>
</dict>
</plist>
