<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>themes</key>
	<dict>
		<key>A</key>
        <dict>
            <key>requiredNumberOfFlowers</key>
            <integer>0</integer>
            <key>hidden</key>
            <false/>
            <key>levels</key>
            <array>
                <string>Level-A1</string>
                <string>Level-A2</string>
                <string>Level-A3</string>
                <string>Level-A6</string>
                <string>Level-A7</string>
                <string>Level-A10</string>
                <string>Level-A13</string>
                <string>Level-A15</string>
                <string>Level-A16</string>
                <string>Level-A17</string>
                <string>Level-A18</string>
                <string>Level-A20</string>
                <string>Level-A21</string>
                <string>Level-A24</string>
                <string>Level-A25</string>
                <string>Level-A26</string>
                <string>Level-A27</string>
                <string>Level-A28</string>
                <string>Level-A36</string>
                <string>Level-A30</string>
                <string>Level-A31</string>
                <string>Level-A32</string>
                <string>Level-A33</string>
                <string>Level-A34</string>
                <string>Level-A39</string>
                <string>Level-A42</string>
                <string>Level-A44</string>
                <string>Level-A47</string>
                <string>Level-A48</string>
                <string>Level-A49</string>
                <string>Level-A50</string>
                <string>Level-A51</string>
                <string>Level-A52</string>
                <string>Level-A54</string>
                <string>Level-A55</string>
                <string>Level-A56</string>
                <string>Level-A57</string>
                <string>Level-A58</string>
                <string>Level-A59</string>
                <string>Level-A60</string>
            </array>
        </dict>
		<key>B</key>
        <dict>
            <key>requiredNumberOfFlowers</key>
            <integer>70</integer>
            <key>hidden</key>
            <false/>
            <key>levels</key>
            <array>
                <string>Level-B1</string>
                <string>Level-B2</string>
                <string>Level-B4</string>
                <string>Level-B8</string>
                <string>Level-B9</string>
                <string>Level-B10</string>
                <string>Level-B11</string>
                <string>Level-B13</string>
                <string>Level-B14</string>
                <string>Level-B15</string>
                <string>Level-B17</string>
                <string>Level-B19</string>
                <string>Level-B20</string>
                <string>Level-B21</string>
                <string>Level-B23</string>
                <string>Level-B24</string>
                <string>Level-B27</string>
                <string>Level-B28</string>
                <string>Level-B29</string>
                <string>Level-B30</string>
                <string>Level-B33</string>
                <string>Level-B35</string>
                <string>Level-B38</string>
                <string>Level-B39</string>
                <string>Level-B40</string>
                <string>Level-B41</string>
                <string>Level-B42</string>
                <string>Level-B43</string>
                <string>Level-B44</string>
                <string>Level-B45</string>
                <string>Level-B46</string>
                <string>Level-B47</string>
                <string>Level-B48</string>
                <string>Level-B49</string>
                <string>Level-B52</string>
                <string>Level-B53</string>
                <string>Level-B55</string>
                <string>Level-B56</string>
                <string>Level-B59</string>
                <string>Level-B60</string>
            </array>
        </dict>
		<key>C</key>
        <dict>
            <key>requiredNumberOfFlowers</key>
            <integer>140</integer>
            <key>hidden</key>
            <false/>
            <key>levels</key>
            <array>
                <string>Level-C1</string>
                <string>Level-C2</string>
                <string>Level-C4</string>
                <string>Level-C7</string>
                <string>Level-C8</string>
                <string>Level-C10</string>
                <string>Level-C11</string>
                <string>Level-C12</string>
                <string>Level-C14</string>
                <string>Level-C16</string>
                <string>Level-C18</string>
                <string>Level-C19</string>
                <string>Level-C21</string>
                <string>Level-C22</string>
                <string>Level-C23</string>
                <string>Level-C24</string>
                <string>Level-C25</string>
                <string>Level-C27</string>
                <string>Level-C28</string>
                <string>Level-C30</string>
                <string>Level-C31</string>
                <string>Level-C33</string>
                <string>Level-C35</string>
                <string>Level-C38</string>
                <string>Level-C39</string>
                <string>Level-C40</string>
                <string>Level-C41</string>
                <string>Level-C42</string>
                <string>Level-C43</string>
                <string>Level-C45</string>
                <string>Level-C46</string>
                <string>Level-C47</string>
                <string>Level-C51</string>
                <string>Level-C52</string>
                <string>Level-C55</string>
                <string>Level-C56</string>
                <string>Level-C57</string>
                <string>Level-C58</string>
                <string>Level-C59</string>
                <string>Level-C60</string>
            </array>
        </dict>
        <key>D</key>
        <dict>
            <key>requiredNumberOfFlowers</key>
            <integer>210</integer>
            <key>hidden</key>
            <false/>
            <key>levels</key>
            <array>
                <string>Level-D1</string>
                <string>Level-D2</string>
                <string>Level-D3</string>
                <string>Level-D4</string>
                <string>Level-D5</string>
                <string>Level-D6</string>
                <string>Level-D7</string>
                <string>Level-D8</string>
                <string>Level-D9</string>
                <string>Level-D10</string>
                <string>Level-D11</string>
                <string>Level-D12</string>
                <string>Level-D13</string>
                <string>Level-D14</string>
                <string>Level-D15</string>
                <string>Level-D16</string>
                <string>Level-D17</string>
                <string>Level-D18</string>
                <string>Level-D19</string>
                <string>Level-D20</string>
                <string>Level-D21</string>
                <string>Level-D22</string>
                <string>Level-D23</string>
                <string>Level-D24</string>
                <string>Level-D25</string>
                <string>Level-D26</string>
                <string>Level-D27</string>
                <string>Level-D28</string>
                <string>Level-D29</string>
                <string>Level-D30</string>
                <string>Level-D31</string>
                <string>Level-D32</string>
                <string>Level-D33</string>
                <string>Level-D34</string>
                <string>Level-D35</string>
                <string>Level-D36</string>
                <string>Level-D37</string>
                <string>Level-D38</string>
                <string>Level-D39</string>
                <string>Level-D40</string>
                <string>Level-D41</string>
                <string>Level-D42</string>
                <string>Level-D43</string>
                <string>Level-D44</string>
                <string>Level-D45</string>
                <string>Level-D46</string>
                <string>Level-D47</string>
                <string>Level-D48</string>
                <string>Level-D49</string>
                <string>Level-D50</string>
                <string>Level-D51</string>
                <string>Level-D52</string>
                <string>Level-D53</string>
                <string>Level-D54</string>
                <string>Level-D55</string>
                <string>Level-D56</string>
                <string>Level-D57</string>
                <string>Level-D58</string>
                <string>Level-D59</string>
                <string>Level-D60</string>
            </array>
        </dict>
        <key>E</key>
        <dict>
            <key>requiredNumberOfFlowers</key>
            <integer>280</integer>
            <key>hidden</key>
            <true/>
            <key>levels</key>
            <array>
                <string>Level-E1</string>
                <string>Level-E2</string>
                <string>Level-E3</string>
                <string>Level-E4</string>
                <string>Level-E5</string>
            </array>
        </dict>
	</dict>
</dict>
</plist>
