<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A4</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0.4</real>
                        <key>friction</key>
                        <real>0.6</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>isSensor</key>
                        <false/>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        
						<key>polygons</key>
						<array>
							<array>	
								<string>{ -139.33334,61.33333 }</string>	
								<string>{ -167.33334,47.33333 }</string>	
								<string>{ -188.66667,42.66667 }</string>	
								<string>{ -212.66667,61.33333 }</string>
							</array>
							<array>	
								<string>{ -171.33334,-148.00000 }</string>	
								<string>{ -184.66667,-149.33333 }</string>	
								<string>{ -188.66667,42.66667 }</string>	
								<string>{ -167.33334,47.33333 }</string>
							</array>
						</array>
                        
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0.4</real>
                        <key>friction</key>
                        <real>0.6</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>isSensor</key>
                        <false/>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        
						<key>polygons</key>
						<array>
							<array>	
								<string>{ -71.33333,-2.00000 }</string>	
								<string>{ -84.66667,-2.66667 }</string>	
								<string>{ -102.66667,4.66667 }</string>	
								<string>{ -55.33333,8.00000 }</string>
							</array>
							<array>	
								<string>{ -74.66667,-148.00000 }</string>	
								<string>{ -87.33333,-148.66667 }</string>	
								<string>{ -84.66667,-2.66667 }</string>	
								<string>{ -71.33333,-2.00000 }</string>
							</array>
						</array>
                        
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0.4</real>
                        <key>friction</key>
                        <real>0.6</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>isSensor</key>
                        <false/>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        
						<key>polygons</key>
						<array>
							<array>	
								<string>{ -7.33333,39.33333 }</string>	
								<string>{ -24.66667,39.33333 }</string>	
								<string>{ -43.33333,47.33333 }</string>	
								<string>{ 9.33333,50.00000 }</string>
							</array>
							<array>	
								<string>{ -7.33333,39.33333 }</string>	
								<string>{ -4.66667,-149.33333 }</string>	
								<string>{ -14.00000,-149.33333 }</string>	
								<string>{ -24.66667,39.33333 }</string>
							</array>
						</array>
                        
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0.4</real>
                        <key>friction</key>
                        <real>0.6</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>isSensor</key>
                        <false/>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        
						<key>polygons</key>
						<array>
							<array>	
								<string>{ 81.33334,-54.66666 }</string>	
								<string>{ 67.33334,-62.66666 }</string>	
								<string>{ 52.66666,-63.33334 }</string>	
								<string>{ 34.00000,-52.00000 }</string>
							</array>
							<array>	
								<string>{ 66.00000,-148.00000 }</string>	
								<string>{ 54.66666,-148.66667 }</string>	
								<string>{ 52.66666,-63.33334 }</string>	
								<string>{ 67.33334,-62.66666 }</string>
							</array>
						</array>
                        
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0.4</real>
                        <key>friction</key>
                        <real>0.6</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>isSensor</key>
                        <false/>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        
						<key>polygons</key>
						<array>
							<array>	
								<string>{ 153.33334,9.33333 }</string>	
								<string>{ 136.66666,-2.00000 }</string>	
								<string>{ 122.00000,-4.00000 }</string>	
								<string>{ 102.66666,6.00000 }</string>
							</array>
							<array>	
								<string>{ 134.00000,-148.00000 }</string>	
								<string>{ 123.33334,-148.66667 }</string>	
								<string>{ 122.00000,-4.00000 }</string>	
								<string>{ 136.66666,-2.00000 }</string>
							</array>
						</array>
                        
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0.4</real>
                        <key>friction</key>
                        <real>0.6</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>isSensor</key>
                        <false/>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        
						<key>polygons</key>
						<array>
							<array>	
								<string>{ 200.66666,37.33333 }</string>	
								<string>{ 188.66666,39.33333 }</string>	
								<string>{ 174.00000,47.33333 }</string>	
								<string>{ 218.00000,45.33333 }</string>
							</array>
							<array>	
								<string>{ 194.66666,-150.66667 }</string>	
								<string>{ 188.66666,39.33333 }</string>	
								<string>{ 200.66666,37.33333 }</string>	
								<string>{ 206.66666,-149.33333 }</string>
							</array>
						</array>
                        
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>




