<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entities</key>
	<array>
		<dict>
			<key>bees</key>
			<array>
				<string>BEE</string>
				<string>BOMBEE</string>
				<string>BEE</string>
			</array>
			<key>mirrored</key>
			<false/>
			<key>position</key>
			<string>{ 86.00, 307.00 }</string>
			<key>rotation</key>
			<integer>-28</integer>
			<key>type</key>
			<string>SLINGER</string>
		</dict>
		<dict>
			<key>mirrored</key>
			<false/>
			<key>position</key>
			<string>{ 300.00, 285.00 }</string>
			<key>rotation</key>
			<integer>0</integer>
			<key>type</key>
			<string>POLLEN</string>
		</dict>
		<dict>
			<key>bee</key>
			<string>BEE</string>
			<key>mirrored</key>
			<true/>
			<key>position</key>
			<string>{ 73.00, 152.00 }</string>
			<key>rotation</key>
			<integer>0</integer>
			<key>type</key>
			<string>BEEATER</string>
		</dict>
		<dict>
			<key>bee</key>
			<string>BEE</string>
			<key>mirrored</key>
			<true/>
			<key>position</key>
			<string>{ 175.00, 45.00 }</string>
			<key>rotation</key>
			<integer>0</integer>
			<key>type</key>
			<string>BEEATER</string>
		</dict>
		<dict>
			<key>mirrored</key>
			<false/>
			<key>position</key>
			<string>{ 220.00, 171.50 }</string>
			<key>rotation</key>
			<integer>0</integer>
			<key>type</key>
			<string>RAMP</string>
		</dict>
		<dict>
			<key>mirrored</key>
			<false/>
			<key>position</key>
			<string>{ 372.50, 47.50 }</string>
			<key>rotation</key>
			<integer>0</integer>
			<key>type</key>
			<string>NUT</string>
		</dict>
	</array>
	<key>name</key>
	<string>Level-A7</string>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
