<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>themes</key>
	<dict>
		<key>A</key>
		<array>
            <string>Level-A1</string>
            <string>Level-A2</string>
            <string>Level-A3</string>
            <string>Level-A6</string>
            <string>Level-A7</string>
		</array>
		<key>B</key>
		<array>
			<string>Level-B1</string>
			<string>Level-B2</string>
			<string>Level-B3</string>
			<string>Level-B4</string>
			<string>Level-B5</string>
		</array>
		<key>C</key>
		<array>
			<string>Level-C1</string>
			<string>Level-C2</string>
			<string>Level-C3</string>
			<string>Level-C4</string>
			<string>Level-C5</string>
		</array>
	</dict>
</dict>
</plist>
