<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>themes</key>
	<dict>
		<key>A</key>
        <dict>
            <key>requiredNumberOfFlowers</key>
            <integer>0</integer>
            <key>hidden</key>
            <false/>
            <key>levels</key>
            <array>
                <string>Level-A1</string>
                <string>Level-A13</string>
                <string>Level-A27</string>
                <string>Level-A31</string>
                <string>Level-A51</string>
            </array>
        </dict>
		<key>B</key>
        <dict>
            <key>requiredNumberOfFlowers</key>
            <integer>7</integer>
            <key>hidden</key>
            <false/>
            <key>levels</key>
            <array>
                <string>Level-B1</string>
                <string>Level-B4</string>
                <string>Level-B10</string>
                <string>Level-B20</string>
                <string>Level-B35</string>
            </array>
        </dict>
		<key>C</key>
        <dict>
            <key>requiredNumberOfFlowers</key>
            <integer>14</integer>
            <key>hidden</key>
            <false/>
            <key>levels</key>
            <array>
                <string>Level-C1</string>
                <string>Level-C7</string>
                <string>Level-C10</string>
                <string>Level-C22</string>
                <string>Level-C35</string>
            </array>
        </dict>
	</dict>
</dict>
</plist>
