<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>themes</key>
	<dict>
		<key>A</key>
        <dict>
            <key>requiredNumberOfFlowers</key>
            <integer>0</integer>
            <key>hidden</key>
            <false/>
            <key>levels</key>
            <array>
                <string>Level-A1</string>
                <string>Level-A2</string>
                <string>Level-A3</string>
                <string>Level-A7</string>
                <string>Level-A13</string>
                <string>Level-A15</string>
                <string>Level-A18</string>
                <string>Level-A20</string>
                <string>Level-A21</string>
                <string>Level-A24</string>
                <string>Level-A25</string>
                <string>Level-A27</string>
                <string>Level-A31</string>
                <string>Level-A32</string>
                <string>Level-A39</string>
                <string>Level-A42</string>
                <string>Level-A47</string>
                <string>Level-A48</string>
                <string>Level-A50</string>
                <string>Level-A52</string>
                <string>Level-A54</string>
                <string>Level-A55</string>
                <string>Level-A60</string>
            </array>
        </dict>
	</dict>
</dict>
</plist>
