<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entities</key>
	<array>
		<dict>
			<key>bees</key>
			<array>
				<string>BEE</string>
			</array>
			<key>mirrored</key>
			<false/>
			<key>position</key>
			<string>{ 74.00, 292.00 }</string>
			<key>rotation</key>
			<integer>0</integer>
			<key>type</key>
			<string>SLINGER</string>
		</dict>
		<dict>
			<key>mirrored</key>
			<false/>
			<key>position</key>
			<string>{ 208.00, 250.00 }</string>
			<key>rotation</key>
			<integer>0</integer>
			<key>type</key>
			<string>POLLEN</string>
		</dict>
		<dict>
			<key>mirrored</key>
			<false/>
			<key>position</key>
			<string>{ 236.00, 249.00 }</string>
			<key>rotation</key>
			<integer>0</integer>
			<key>type</key>
			<string>POLLEN</string>
		</dict>
		<dict>
			<key>mirrored</key>
			<false/>
			<key>position</key>
			<string>{ 221.00, 275.00 }</string>
			<key>rotation</key>
			<integer>0</integer>
			<key>type</key>
			<string>POLLEN</string>
		</dict>
		<dict>
			<key>bee</key>
			<string>BEE</string>
			<key>mirrored</key>
			<false/>
			<key>position</key>
			<string>{ 162.00, 173.00 }</string>
			<key>rotation</key>
			<integer>0</integer>
			<key>type</key>
			<string>BEEATER</string>
		</dict>
		<dict>
			<key>bee</key>
			<string>BEE</string>
			<key>mirrored</key>
			<false/>
			<key>position</key>
			<string>{ 299.00, 114.00 }</string>
			<key>rotation</key>
			<integer>0</integer>
			<key>type</key>
			<string>BEEATER</string>
		</dict>
		<dict>
			<key>bee</key>
			<string>BEE</string>
			<key>mirrored</key>
			<false/>
			<key>position</key>
			<string>{ 368.00, 171.00 }</string>
			<key>rotation</key>
			<integer>0</integer>
			<key>type</key>
			<string>BEEATER</string>
		</dict>
		<dict>
			<key>bee</key>
			<string>BEE</string>
			<key>mirrored</key>
			<false/>
			<key>position</key>
			<string>{ 437.00, 211.00 }</string>
			<key>rotation</key>
			<integer>0</integer>
			<key>type</key>
			<string>BEEATER</string>
		</dict>
	</array>
	<key>name</key>
	<string>Level-A4</string>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
