<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>Bee-Splash</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Other/BeeOnWater/BeeOnWater-01.png</string>
				<string>Other/BeeOnWater/BeeOnWater-02.png</string>
				<string>Other/BeeOnWater/BeeOnWater-03.png</string>
				<string>Other/BeeOnWater/BeeOnWater-04.png</string>
				<string>Other/BeeOnWater/BeeOnWater-05.png</string>
				<string>Other/BeeOnWater/BeeOnWater-06.png</string>
				<string>Other/BeeOnWater/BeeOnWater-07.png</string>
				<string>Other/BeeOnWater/BeeOnWater-08.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
		<key>Bee-Splash-Lava</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Other/BeeOnLava/BeeOnLava-01.png</string>
				<string>Other/BeeOnLava/BeeOnLava-02.png</string>
				<string>Other/BeeOnLava/BeeOnLava-03.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
        <key>Bee-Turn-Into-Pollen</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Tools/Pollen/Yellow/PollenCatch-01.png</string>
				<string>Tools/Pollen/Yellow/PollenCatch-02.png</string>
				<string>Tools/Pollen/Yellow/PollenCatch-03.png</string>
				<string>Tools/Pollen/Yellow/PollenCatch-04.png</string>
				<string>Tools/Pollen/Yellow/PollenCatch-05.png</string>
				<string>Tools/Pollen/Yellow/PollenCatch-06.png</string>
                <string>Tools/Pollen/Yellow/PollenCatch-07.png</string>
                <string>Tools/Pollen/Yellow/PollenCatch-08.png</string>
                <string>Tools/Pollen/Yellow/PollenCatch-09.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
	</dict>
</dict>
</plist>
