<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>Bombee-Shoot</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/Bombee/Bombee-Idle-1.png</string>
				<string>Bees/Bombee/Bombee-Idle-2.png</string>
				<string>Bees/Bombee/Bombee-Idle-3.png</string>
				<string>Bees/Bombee/Bombee-Idle-4.png</string>
			</array>
			<key>delay</key>
			<real>0.1</real>
		</dict>
		<key>Bombee-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/Bombee/Bombee-Idle-1.png</string>
				<string>Bees/Bombee/Bombee-Idle-2.png</string>
				<string>Bees/Bombee/Bombee-Idle-3.png</string>
				<string>Bees/Bombee/Bombee-Idle-4.png</string>
                <string>Bees/Bombee/Bombee-Idle-1.png</string>
                <string>Bees/Bombee/Bombee-Idle-2.png</string>
                <string>Bees/Bombee/Bombee-Idle-3.png</string>
                <string>Bees/Bombee/Bombee-Blink.png</string>
			</array>
			<key>delay</key>
			<real>0.1</real>
		</dict>
		<key>Bombee-Destroy</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/Ending-General/Bees-Ending-General-1.png</string>
				<string>Bees/Ending-General/Bees-Ending-General-2.png</string>
				<string>Bees/Ending-General/Bees-Ending-General-3.png</string>
				<string>Bees/Ending-General/Bees-Ending-General-4.png</string>
				<string>Bees/Ending-General/Bees-Ending-General-5.png</string>
				<string>Bees/Ending-General/Bees-Ending-General-6.png</string>
				<string>Bees/Ending-General/Bees-Ending-General-7.png</string>
				<string>Bees/Ending-General/Bees-Ending-General-8.png</string>
				<string>Bees/Ending-General/Bees-Ending-General-9.png</string>
				<string>Bees/Ending-General/Bees-Ending-General-10.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
		<key>Bombee-Boom-Start</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/Bombee/Bombee-Boom-1.png</string>
				<string>Bees/Bombee/Bombee-Boom-2.png</string>
				<string>Bees/Bombee/Bombee-Boom-3.png</string>
				<string>Bees/Bombee/Bombee-Boom-4.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
		<key>Bombee-Boom-End</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/Bombee/Bombee-Boom-5.png</string>
				<string>Bees/Bombee/Bombee-Boom-6.png</string>
				<string>Bees/Bombee/Bombee-Boom-7.png</string>
				<string>Bees/Bombee/Bombee-Boom-8.png</string>
				<string>Bees/Bombee/Bombee-Boom-9.png</string>
				<string>Bees/Bombee/Bombee-Boom-10.png</string>
				<string>Bees/Bombee/Bombee-Boom-11.png</string>
				<string>Bees/Bombee/Bombee-Boom-12.png</string>
				<string>Bees/Bombee/Bombee-Boom-13.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
		<key>Bombee-Boom-Full</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/Bombee/Bombee-Boom-1.png</string>
				<string>Bees/Bombee/Bombee-Boom-2.png</string>
				<string>Bees/Bombee/Bombee-Boom-3.png</string>
				<string>Bees/Bombee/Bombee-Boom-4.png</string>
				<string>Bees/Bombee/Bombee-Boom-5.png</string>
				<string>Bees/Bombee/Bombee-Boom-6.png</string>
				<string>Bees/Bombee/Bombee-Boom-7.png</string>
				<string>Bees/Bombee/Bombee-Boom-8.png</string>
				<string>Bees/Bombee/Bombee-Boom-9.png</string>
				<string>Bees/Bombee/Bombee-Boom-10.png</string>
				<string>Bees/Bombee/Bombee-Boom-11.png</string>
				<string>Bees/Bombee/Bombee-Boom-12.png</string>
				<string>Bees/Bombee/Bombee-Boom-13.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
		<key>Bombee-Saved-Leap-Dust</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/Bombee/Bombee-Saved-Leap-Dust-1.png</string>
				<string>Bees/Bombee/Bombee-Saved-Leap-Dust-2.png</string>
				<string>Bees/Bombee/Bombee-Saved-Leap-Dust-3.png</string>
				<string>Bees/Bombee/Bombee-Saved-Leap-Dust-4.png</string>
				<string>Bees/Bombee/Bombee-Saved-Leap-Dust-5.png</string>
				<string>Bees/Bombee/Bombee-Saved-Leap-Dust-6.png</string>
				<string>Bees/Bombee/Bombee-Saved-Leap-Dust-7.png</string>
				<string>Bees/Bombee/Bombee-Saved-Leap-Dust-8.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
		<key>Bombee-Saved-Leap</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/Bombee/Bombee-Idle-1.png</string>
				<string>Bees/Bombee/Bombee-Idle-2.png</string>
				<string>Bees/Bombee/Bombee-Idle-3.png</string>
				<string>Bees/Bombee/Bombee-Idle-4.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
		<key>Bombee-Saved-Look-Down</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/Bombee/Bombee-Saved-Look-Down-1.png</string>
				<string>Bees/Bombee/Bombee-Saved-Look-Down-2.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
		<key>Bombee-Saved-Look-Screen</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/Bombee/Bombee-Saved-Look-Screen-1.png</string>
				<string>Bees/Bombee/Bombee-Saved-Look-Screen-2.png</string>
				<string>Bees/Bombee/Bombee-Saved-Look-Screen-3.png</string>
				<string>Bees/Bombee/Bombee-Saved-Look-Screen-1.png</string>
				<string>Bees/Bombee/Bombee-Saved-Look-Screen-2.png</string>
				<string>Bees/Bombee/Bombee-Saved-Look-Screen-3.png</string>
				<string>Bees/Bombee/Bombee-Saved-Look-Screen-4.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
		<key>Bombee-Saved-Look-Side</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/Bombee/Bombee-Saved-Look-SIde-1.png</string>
				<string>Bees/Bombee/Bombee-Saved-Look-SIde-2.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
		<key>Bombee-Saved-Look-Away</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/Bombee/Bombee-Saved-Look-Away-1.png</string>
				<string>Bees/Bombee/Bombee-Saved-Look-Away-2.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
		
		<key>Bombee-Piece-1</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/Bombee/Bombee-Piece-1.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Bombee-Piece-2</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/Bombee/Bombee-Piece-2.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Bombee-Piece-3</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/Bombee/Bombee-Piece-3.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Bombee-Piece-4</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/Bombee/Bombee-Piece-4.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Bombee-Piece-5</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/Bombee/Bombee-Piece-5.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Bombee-Piece-6</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/Bombee/Bombee-Piece-6.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
	</dict>
</dict>
</plist>