<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>Bombee-Shoot</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/Bombee/Bombee-1.png</string>
				<string>Bees/Bombee/Bombee-2.png</string>
				<string>Bees/Bombee/Bombee-3.png</string>
				<string>Bees/Bombee/Bombee-4.png</string>
			</array>
			<key>delay</key>
			<real>0.1</real>
		</dict>
		<key>Bombee-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/Bombee/Bombee-1.png</string>
				<string>Bees/Bombee/Bombee-2.png</string>
				<string>Bees/Bombee/Bombee-3.png</string>
				<string>Bees/Bombee/Bombee-4.png</string>
			</array>
			<key>delay</key>
			<real>0.1</real>
		</dict>
		<key>Bombee-Crash</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/BeeEnding-General/BeeEnd-1.png</string>
				<string>Bees/BeeEnding-General/BeeEnd-2.png</string>
				<string>Bees/BeeEnding-General/BeeEnd-3.png</string>
				<string>Bees/BeeEnding-General/BeeEnd-4.png</string>
				<string>Bees/BeeEnding-General/BeeEnd-5.png</string>
				<string>Bees/BeeEnding-General/BeeEnd-6.png</string>
				<string>Bees/BeeEnding-General/BeeEnd-7.png</string>
				<string>Bees/BeeEnding-General/BeeEnd-8.png</string>
				<string>Bees/BeeEnding-General/BeeEnd-9.png</string>
				<string>Bees/BeeEnding-General/BeeEnd-10.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
		<key>Bombee-Boom-Start</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/Bombee/BombeeBoom-1.png</string>
				<string>Bees/Bombee/BombeeBoom-2.png</string>
				<string>Bees/Bombee/BombeeBoom-3.png</string>
				<string>Bees/Bombee/BombeeBoom-4.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
		<key>Bombee-Boom-End</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/Bombee/BombeeBoom-5.png</string>
				<string>Bees/Bombee/BombeeBoom-6.png</string>
				<string>Bees/Bombee/BombeeBoom-7.png</string>
				<string>Bees/Bombee/BombeeBoom-8.png</string>
				<string>Bees/Bombee/BombeeBoom-9.png</string>
				<string>Bees/Bombee/BombeeBoom-10.png</string>
				<string>Bees/Bombee/BombeeBoom-11.png</string>
				<string>Bees/Bombee/BombeeBoom-12.png</string>
				<string>Bees/Bombee/BombeeBoom-13.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
		<key>Bombee-Boom-Full</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/Bombee/BombeeBoom-1.png</string>
				<string>Bees/Bombee/BombeeBoom-2.png</string>
				<string>Bees/Bombee/BombeeBoom-3.png</string>
				<string>Bees/Bombee/BombeeBoom-4.png</string>
				<string>Bees/Bombee/BombeeBoom-5.png</string>
				<string>Bees/Bombee/BombeeBoom-6.png</string>
				<string>Bees/Bombee/BombeeBoom-7.png</string>
				<string>Bees/Bombee/BombeeBoom-8.png</string>
				<string>Bees/Bombee/BombeeBoom-9.png</string>
				<string>Bees/Bombee/BombeeBoom-10.png</string>
				<string>Bees/Bombee/BombeeBoom-11.png</string>
				<string>Bees/Bombee/BombeeBoom-12.png</string>
				<string>Bees/Bombee/BombeeBoom-13.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
		<key>Bombee-Saved-Leap-Dust</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/Bombee/BombeeFree-11.png</string>
				<string>Bees/Bombee/BombeeFree-12.png</string>
				<string>Bees/Bombee/BombeeFree-13.png</string>
				<string>Bees/Bombee/BombeeFree-14.png</string>
				<string>Bees/Bombee/BombeeFree-15.png</string>
				<string>Bees/Bombee/BombeeFree-16.png</string>
				<string>Bees/Bombee/BombeeFree-17.png</string>
				<string>Bees/Bombee/BombeeFree-18.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
		<key>Bombee-Saved-Leap</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/Bombee/Bombee-1.png</string>
				<string>Bees/Bombee/Bombee-2.png</string>
				<string>Bees/Bombee/Bombee-3.png</string>
				<string>Bees/Bombee/Bombee-4.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
		<key>Bombee-Saved-LookDown</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/Bombee/BombeeFree-1.png</string>
				<string>Bees/Bombee/BombeeFree-2.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
		<key>Bombee-Saved-LookScreen</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/Bombee/BombeeFree-3.png</string>
				<string>Bees/Bombee/BombeeFree-4.png</string>
				<string>Bees/Bombee/BombeeFree-5.png</string>
				<string>Bees/Bombee/BombeeFree-3.png</string>
				<string>Bees/Bombee/BombeeFree-4.png</string>
				<string>Bees/Bombee/BombeeFree-5.png</string>
				<string>Bees/Bombee/BombeeFree-6.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
		<key>Bombee-Saved-LookSide</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/Bombee/BombeeFree-9.png</string>
				<string>Bees/Bombee/BombeeFree-10.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
		<key>Bombee-Saved-LookAway</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/Bombee/BombeeFree-7.png</string>
				<string>Bees/Bombee/BombeeFree-8.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
	</dict>
</dict>
</plist>