<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>Mumee-Shoot</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/Mumee/Mumee-Idle-1.png</string>
				<string>Bees/Mumee/Mumee-Idle-2.png</string>
			</array>
			<key>delay</key>
			<real>0.3</real>
		</dict>
		<key>Mumee-Idle</key>
		<dict>
			<key>frames</key>
			<array>
                <string>Bees/Mumee/Mumee-Idle-1.png</string>
                <string>Bees/Mumee/Mumee-Idle-2.png</string>
			</array>
			<key>delay</key>
			<real>0.1</real>
		</dict>
		<key>Mumee-Saved-Leap-Dust</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/Bee/Bee-Saved-Leap-Dust-1.png</string>
				<string>Bees/Bee/Bee-Saved-Leap-Dust-2.png</string>
			</array>
			<key>delay</key>
			<real>0.1</real>
		</dict>
		<key>Mumee-Saved-Leap</key>
		<dict>
			<key>frames</key>
			<array>
                <string>Bees/Mumee/Mumee-Idle-1.png</string>
                <string>Bees/Mumee/Mumee-Idle-2.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
		<key>Mumee-Saved-Look-Down</key>
		<dict>
			<key>frames</key>
			<array>
                <string>Bees/Mumee/Mumee-Idle-1.png</string>
                <string>Bees/Mumee/Mumee-Idle-2.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
		<key>Mumee-Saved-Look-Screen</key>
		<dict>
			<key>frames</key>
			<array>
                <string>Bees/Mumee/Mumee-Idle-1.png</string>
                <string>Bees/Mumee/Mumee-Idle-2.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
		<key>Mumee-Saved-Look-Side</key>
		<dict>
			<key>frames</key>
			<array>
                <string>Bees/Mumee/Mumee-Idle-1.png</string>
                <string>Bees/Mumee/Mumee-Idle-2.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
		<key>Mumee-Saved-Look-Away</key>
		<dict>
			<key>frames</key>
			<array>
                <string>Bees/Mumee/Mumee-Idle-1.png</string>
                <string>Bees/Mumee/Mumee-Idle-2.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
        <key>Mumee-Fade-Intro</key>
        <dict>
            <key>frames</key>
            <array>
                <string>Bees/Mumee/MumeeBee-1.png</string>
                <string>Bees/Mumee/MumeeBee-2.png</string>
                <string>Bees/Mumee/MumeeBee-3.png</string>
                <string>Bees/Mumee/MumeeBee-4.png</string>
                <string>Bees/Mumee/MumeeBee-5.png</string>
                <string>Bees/Mumee/MumeeBee-6.png</string>
            </array>
            <key>delay</key>
            <real>0.1</real>
        </dict>
        <key>Mumee-Fade-1</key>
        <dict>
            <key>frames</key>
            <array>
                <string>Bees/Mumee/MumeeBee-7.png</string>
                <string>Bees/Mumee/MumeeBee-8.png</string>
            </array>
            <key>delay</key>
            <real>0.1</real>
        </dict>
        <key>Mumee-Fade-2</key>
        <dict>
            <key>frames</key>
            <array>
                <string>Bees/Mumee/MumeeBee-9.png</string>
                <string>Bees/Mumee/MumeeBee-10.png</string>
            </array>
            <key>delay</key>
            <real>0.1</real>
        </dict>
        <key>Mumee-Fade-3</key>
        <dict>
            <key>frames</key>
            <array>
                <string>Bees/Mumee/MumeeBee-11.png</string>
                <string>Bees/Mumee/MumeeBee-12.png</string>
            </array>
            <key>delay</key>
            <real>0.1</real>
        </dict>
        <key>Mumee-Fade-4</key>
        <dict>
            <key>frames</key>
            <array>
                <string>Bees/Mumee/MumeeBee-13.png</string>
                <string>Bees/Mumee/MumeeBee-14.png</string>
            </array>
            <key>delay</key>
            <real>0.1</real>
        </dict>
        <key>Mumee-Fade-5</key>
        <dict>
            <key>frames</key>
            <array>
                <string>Bees/Mumee/MumeeBee-15.png</string>
                <string>Bees/Mumee/MumeeBee-16.png</string>
            </array>
            <key>delay</key>
            <real>0.1</real>
        </dict>
        <key>Mumee-Fade-6</key>
        <dict>
            <key>frames</key>
            <array>
                <string>Bees/Mumee/MumeeBee-17.png</string>
                <string>Bees/Mumee/MumeeBee-18.png</string>
            </array>
            <key>delay</key>
            <real>0.1</real>
        </dict>
        <key>Mumee-Fade-7</key>
        <dict>
            <key>frames</key>
            <array>
                <string>Bees/Mumee/MumeeBee-19.png</string>
                <string>Bees/Mumee/MumeeBee-20.png</string>
            </array>
            <key>delay</key>
            <real>0.1</real>
        </dict>
        <key>Mumee-Fade-8</key>
        <dict>
            <key>frames</key>
            <array>
                <string>Bees/Mumee/MumeeBee-21.png</string>
                <string>Bees/Mumee/MumeeBee-22.png</string>
            </array>
            <key>delay</key>
            <real>0.1</real>
        </dict>
        <key>Mumee-Fade-9</key>
        <dict>
            <key>frames</key>
            <array>
                <string>Bees/Mumee/MumeeBee-23.png</string>
                <string>Bees/Mumee/MumeeBee-24.png</string>
            </array>
            <key>delay</key>
            <real>0.1</real>
        </dict>
        <key>Mumee-Fade-10</key>
        <dict>
            <key>frames</key>
            <array>
                <string>Bees/Mumee/MumeeBee-25.png</string>
                <string>Bees/Mumee/MumeeBee-26.png</string>
            </array>
            <key>delay</key>
            <real>0.1</real>
        </dict>
	</dict>
</dict>
</plist>
