<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>Mumee-Shoot</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/Mumee/Mumee-Idle-1.png</string>
				<string>Bees/Mumee/Mumee-Idle-2.png</string>
			</array>
			<key>delay</key>
			<real>0.3</real>
		</dict>
		<key>Mumee-Idle</key>
		<dict>
			<key>frames</key>
			<array>
                <string>Bees/Mumee/Mumee-Idle-1.png</string>
                <string>Bees/Mumee/Mumee-Idle-2.png</string>
			</array>
			<key>delay</key>
			<real>0.1</real>
		</dict>
		<key>Mumee-Destroy</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/Ending-General/Bees-Ending-General-1.png</string>
				<string>Bees/Ending-General/Bees-Ending-General-2.png</string>
				<string>Bees/Ending-General/Bees-Ending-General-3.png</string>
				<string>Bees/Ending-General/Bees-Ending-General-4.png</string>
				<string>Bees/Ending-General/Bees-Ending-General-5.png</string>
				<string>Bees/Ending-General/Bees-Ending-General-6.png</string>
				<string>Bees/Ending-General/Bees-Ending-General-7.png</string>
				<string>Bees/Ending-General/Bees-Ending-General-8.png</string>
				<string>Bees/Ending-General/Bees-Ending-General-9.png</string>
				<string>Bees/Ending-General/Bees-Ending-General-10.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
		<key>Mumee-Saved-Leap-Dust</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/Bee/Bee-Saved-Leap-Dust-1.png</string>
				<string>Bees/Bee/Bee-Saved-Leap-Dust-2.png</string>
			</array>
			<key>delay</key>
			<real>0.1</real>
		</dict>
		<key>Mumee-Saved-Leap</key>
		<dict>
			<key>frames</key>
			<array>
                <string>Bees/Mumee/Mumee-Idle-1.png</string>
                <string>Bees/Mumee/Mumee-Idle-2.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
		<key>Mumee-Saved-Look-Down</key>
		<dict>
			<key>frames</key>
			<array>
                <string>Bees/Mumee/Mumee-Idle-1.png</string>
                <string>Bees/Mumee/Mumee-Idle-2.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
		<key>Mumee-Saved-Look-Screen</key>
		<dict>
			<key>frames</key>
			<array>
                <string>Bees/Mumee/Mumee-Idle-1.png</string>
                <string>Bees/Mumee/Mumee-Idle-2.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
		<key>Mumee-Saved-Look-Side</key>
		<dict>
			<key>frames</key>
			<array>
                <string>Bees/Mumee/Mumee-Idle-1.png</string>
                <string>Bees/Mumee/Mumee-Idle-2.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
		<key>Mumee-Saved-Look-Away</key>
		<dict>
			<key>frames</key>
			<array>
                <string>Bees/Mumee/Mumee-Idle-1.png</string>
                <string>Bees/Mumee/Mumee-Idle-2.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
        <key>Mumee-Fade-Intro</key>
        <dict>
            <key>frames</key>
            <array>
                <string>Bees/Mumee/MumeeBee-1a.png</string>
                <string>Bees/Mumee/MumeeBee-1b.png</string>
                <string>Bees/Mumee/MumeeBee-2a.png</string>
                <string>Bees/Mumee/MumeeBee-2b.png</string>
                <string>Bees/Mumee/MumeeBee-3a.png</string>
                <string>Bees/Mumee/MumeeBee-3b.png</string>
            </array>
            <key>delay</key>
            <real>0.1</real>
        </dict>
        <key>Mumee-Fade-1</key>
        <dict>
            <key>frames</key>
            <array>
                <string>Bees/Mumee/MumeeBee-4a.png</string>
                <string>Bees/Mumee/MumeeBee-4b.png</string>
            </array>
            <key>delay</key>
            <real>0.1</real>
        </dict>
        <key>Mumee-Fade-2</key>
        <dict>
            <key>frames</key>
            <array>
                <string>Bees/Mumee/MumeeBee-5a.png</string>
                <string>Bees/Mumee/MumeeBee-5b.png</string>
            </array>
            <key>delay</key>
            <real>0.1</real>
        </dict>
        <key>Mumee-Fade-3</key>
        <dict>
            <key>frames</key>
            <array>
                <string>Bees/Mumee/MumeeBee-6a.png</string>
                <string>Bees/Mumee/MumeeBee-6b.png</string>
            </array>
            <key>delay</key>
            <real>0.1</real>
        </dict>
        <key>Mumee-Fade-4</key>
        <dict>
            <key>frames</key>
            <array>
                <string>Bees/Mumee/MumeeBee-7a.png</string>
                <string>Bees/Mumee/MumeeBee-7b.png</string>
            </array>
            <key>delay</key>
            <real>0.1</real>
        </dict>
        <key>Mumee-Fade-5</key>
        <dict>
            <key>frames</key>
            <array>
                <string>Bees/Mumee/MumeeBee-8a.png</string>
                <string>Bees/Mumee/MumeeBee-8b.png</string>
            </array>
            <key>delay</key>
            <real>0.1</real>
        </dict>
        <key>Mumee-Fade-6</key>
        <dict>
            <key>frames</key>
            <array>
                <string>Bees/Mumee/MumeeBee-9a.png</string>
                <string>Bees/Mumee/MumeeBee-9b.png</string>
            </array>
            <key>delay</key>
            <real>0.1</real>
        </dict>
        <key>Mumee-Fade-7</key>
        <dict>
            <key>frames</key>
            <array>
                <string>Bees/Mumee/MumeeBee-10a.png</string>
                <string>Bees/Mumee/MumeeBee-10b.png</string>
            </array>
            <key>delay</key>
            <real>0.1</real>
        </dict>
        <key>Mumee-Fade-8</key>
        <dict>
            <key>frames</key>
            <array>
                <string>Bees/Mumee/MumeeBee-11a.png</string>
                <string>Bees/Mumee/MumeeBee-11b.png</string>
            </array>
            <key>delay</key>
            <real>0.1</real>
        </dict>
        <key>Mumee-Fade-9</key>
        <dict>
            <key>frames</key>
            <array>
                <string>Bees/Mumee/MumeeBee-12a.png</string>
                <string>Bees/Mumee/MumeeBee-12b.png</string>
            </array>
            <key>delay</key>
            <real>0.1</real>
        </dict>
        <key>Mumee-Fade-10</key>
        <dict>
            <key>frames</key>
            <array>
                <string>Bees/Mumee/MumeeBee-13a.png</string>
                <string>Bees/Mumee/MumeeBee-13b.png</string>
            </array>
            <key>delay</key>
            <real>0.1</real>
        </dict>
        <key>Mumee-Fade-11</key>
        <dict>
            <key>frames</key>
            <array>
                <string>Bees/Mumee/MumeeBee-14a.png</string>
                <string>Bees/Mumee/MumeeBee-14b.png</string>
            </array>
            <key>delay</key>
            <real>0.1</real>
        </dict>
        <key>Mumee-Fade-12</key>
        <dict>
            <key>frames</key>
            <array>
                <string>Bees/Mumee/MumeeBee-15a.png</string>
                <string>Bees/Mumee/MumeeBee-15b.png</string>
            </array>
            <key>delay</key>
            <real>0.1</real>
        </dict>
	</dict>
</dict>
</plist>
