<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>Speedee-Shoot</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/Speedee/Speedee-Idle-1.png</string>
				<string>Bees/Speedee/Speedee-Idle-2.png</string>
			</array>
			<key>delay</key>
			<real>0.2</real>
		</dict>
		<key>Speedee-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/Speedee/Speedee-Idle-1.png</string>
				<string>Bees/Speedee/Speedee-Idle-2.png</string>
                <string>Bees/Speedee/Speedee-Idle-1.png</string>
                <string>Bees/Speedee/Speedee-Idle-2.png</string>
                <string>Bees/Speedee/Speedee-Idle-1.png</string>
                <string>Bees/Speedee/Speedee-Blink.png</string>
			</array>
			<key>delay</key>
			<real>0.1</real>
		</dict>
		<key>Speedee-Destroy</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/Ending-General/Bees-Ending-General-1.png</string>
				<string>Bees/Ending-General/Bees-Ending-General-2.png</string>
				<string>Bees/Ending-General/Bees-Ending-General-3.png</string>
				<string>Bees/Ending-General/Bees-Ending-General-4.png</string>
				<string>Bees/Ending-General/Bees-Ending-General-5.png</string>
				<string>Bees/Ending-General/Bees-Ending-General-6.png</string>
				<string>Bees/Ending-General/Bees-Ending-General-7.png</string>
				<string>Bees/Ending-General/Bees-Ending-General-8.png</string>
				<string>Bees/Ending-General/Bees-Ending-General-9.png</string>
				<string>Bees/Ending-General/Bees-Ending-General-10.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
		<key>Speedee-Saved-Leap-Dust</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/Speedee/Speedee-Saved-Leap-Dust-1.png</string>
				<string>Bees/Speedee/Speedee-Saved-Leap-Dust-2.png</string>
				<string>Bees/Speedee/Speedee-Saved-Leap-Dust-3.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
		<key>Speedee-Saved-Leap</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/Speedee/Speedee-Saved-Leap-1.png</string>
				<string>Bees/Speedee/Speedee-Saved-Leap-2.png</string>
				<string>Bees/Speedee/Speedee-Saved-Leap-3.png</string>
				<string>Bees/Speedee/Speedee-Saved-Leap-4.png</string>
				<string>Bees/Speedee/Speedee-Saved-Leap-5.png</string>
				<string>Bees/Speedee/Speedee-Saved-Leap-6.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
		<key>Speedee-Saved-Look-Down</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/Speedee/Speedee-Saved-Look-Down-1.png</string>
				<string>Bees/Speedee/Speedee-Saved-Look-Down-2.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
		<key>Speedee-Saved-Look-Screen</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/Speedee/Speedee-Saved-Look-Screen-1.png</string>
				<string>Bees/Speedee/Speedee-Saved-Look-Screen-2.png</string>
				<string>Bees/Speedee/Speedee-Saved-Look-Screen-1.png</string>
				<string>Bees/Speedee/Speedee-Saved-Look-Screen-2.png</string>
				<string>Bees/Speedee/Speedee-Saved-Look-Screen-3.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
		<key>Speedee-Saved-Look-Side</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/Speedee/Speedee-Saved-Look-Side-1.png</string>
				<string>Bees/Speedee/Speedee-Saved-Look-Side-2.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
		<key>Speedee-Saved-Look-Away</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/Speedee/Speedee-Saved-Look-Away-1.png</string>
				<string>Bees/Speedee/Speedee-Saved-Look-Away-2.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
		
		<key>Speedee-Puff</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/Speedee/Speedee-Puff-1.png</string>
				<string>Bees/Speedee/Speedee-Puff-2.png</string>
				<string>Bees/Speedee/Speedee-Puff-3.png</string>
			</array>
			<key>delay</key>
			<real>0.1</real>
		</dict>
	</dict>
</dict>
</plist>