<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>Tbee-Shoot</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/T-Bee/T-Bee-Idle-1.png</string>
				<string>Bees/T-Bee/T-Bee-Idle-2.png</string>
			</array>
			<key>delay</key>
			<real>0.3</real>
		</dict>
		<key>Tbee-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/T-Bee/T-Bee-Idle-1.png</string>
				<string>Bees/T-Bee/T-Bee-Idle-2.png</string>
				<string>Bees/T-Bee/T-Bee-Idle-1.png</string>
				<string>Bees/T-Bee/T-Bee-Idle-2.png</string>
				<string>Bees/T-Bee/T-Bee-Idle-1.png</string>
                <string>Bees/T-Bee/T-Bee-Blink.png</string>
			</array>
			<key>delay</key>
			<real>0.1</real>
		</dict>
		<key>Tbee-Destroy</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/T-Bee/T-Bee-End-1.png</string>
				<string>Bees/T-Bee/T-Bee-End-2.png</string>
				<string>Bees/T-Bee/T-Bee-End-3.png</string>
				<string>Bees/T-Bee/T-Bee-End-4.png</string>
				<string>Bees/T-Bee/T-Bee-End-5.png</string>
				<string>Bees/T-Bee/T-Bee-End-6.png</string>
				<string>Bees/T-Bee/T-Bee-End-7.png</string>
				<string>Bees/T-Bee/T-Bee-End-8.png</string>
				<string>Bees/T-Bee/T-Bee-End-9.png</string>
				<string>Bees/T-Bee/T-Bee-End-10.png</string>
				<string>Bees/T-Bee/T-Bee-End-11.png</string>
				<string>Bees/T-Bee/T-Bee-End-12.png</string>
				<string>Bees/T-Bee/T-Bee-End-13.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
		<key>Tbee-Saved-Leap-Dust</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/Bee/Bee-Saved-Leap-Dust-1.png</string>
				<string>Bees/Bee/Bee-Saved-Leap-Dust-2.png</string>
			</array>
			<key>delay</key>
			<real>0.1</real>
		</dict>
		<key>Tbee-Saved-Leap</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/T-Bee/T-Bee-Idle-1.png</string>
				<string>Bees/T-Bee/T-Bee-Idle-2.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
		<key>Tbee-Saved-Look-Down</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/T-Bee/T-Bee-Yeah-1.png</string>
				<string>Bees/T-Bee/T-Bee-Yeah-2.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
		<key>Tbee-Saved-Look-Screen</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/T-Bee/T-Bee-Yeah-1.png</string>
				<string>Bees/T-Bee/T-Bee-Yeah-2.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
		<key>Tbee-Saved-Look-Side</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/T-Bee/T-Bee-Idle-1.png</string>
				<string>Bees/T-Bee/T-Bee-Idle-2.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
		<key>Tbee-Saved-Look-Away</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/T-Bee/T-Bee-Idle-1.png</string>
				<string>Bees/T-Bee/T-Bee-Idle-2.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
		<key>Tbee-Frozen</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/T-Bee/T-Bee-Frozen.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Tbee-Frozen-Hole</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bees/T-Bee/T-Bee-Frozen-Hole.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
	</dict>
</dict>
</plist>
