<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>type</key>
	<string>CLIRR</string>
	<key>components</key>
	<dict>
		<key>breakable</key>
		<dict/>
		<key>brittle</key>
		<dict/>
		<key>disposable</key>
		<dict>
			<key>deleteEntityWhenDisposed</key>
			<true/>
		</dict>
		<key>physics</key>
		<dict>
			<key>body</key>
			<dict>
				<key>mass</key>
				<real>0</real>
			</dict>
			<key>shapes</key>
			<array>
				<dict>
					<key>type</key>
					<string>circle</string>
					<key>radius</key>
					<real>12</real>
					<key>elasticity</key>
					<real>0</real>
					<key>friction</key>
					<real>0</real>
					<key>isSensor</key>
					<true/>
					<key>layers</key>
					<integer>7</integer>
					<key>group</key>
					<string>LEVEL</string>
				</dict>
			</array>
		</dict>
		<key>render</key>
		<dict>
			<key>sprites</key>
			<array>
				<dict>
					<key>spriteSheetName</key>
					<string>C</string>
					<key>animationFile</key>
					<string>Clirr-Animations.plist</string>
				</dict>
			</array>
		</dict>
		<key>shard</key>
		<dict>
			<key>piecesEntityType</key>
			<string>GLASS-PIECE-C</string>
			<key>piecesCount</key>
			<integer>3</integer>
		</dict>
		<key>sound</key>
        <dict>
            <key>defaultDestroySound</key>
            <string>GlassSmall</string>
        </dict>
		<key>transform</key>
		<dict/>
	</dict>
</dict>
</plist>
