<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>type</key>
	<string>HANGNEST-A</string>
	<key>components</key>
	<dict>
		<key>movement</key>
		<dict/>
		<key>physics</key>
		<dict>
			<key>body</key>
			<dict>
				<key>mass</key>
				<real>-1</real>
			</dict>
			<key>shapes</key>
			<array>
				<dict>
					<key>type</key>
					<string>poly</string>
					<key>vertices</key>
					<array>
						<string>{ -8, 0 }</string>
						<string>{ -8, 90 }</string>
						<string>{ 2, 90 }</string>
						<string>{ 2, 0 }</string>
					</array>
					<key>elasticity</key>
					<real>0.8</real>
					<key>friction</key>
					<real>0.5</real>
					<key>collisionType</key>
					<string>HANGNEST</string>
					<key>layers</key>
					<integer>3</integer>
					<key>group</key>
					<string>LEVEL</string>
				</dict>
			</array>
		</dict>
		<key>render</key>
		<dict>
			<key>sprites</key>
			<array>
				<dict>
					<key>name</key>
					<string>main</string>
					<key>spriteSheetName</key>
					<string>Shared</string>
					<key>animationFile</key>
					<string>HangNest-Animations.plist</string>
					<key>z</key>
					<integer>3</integer>
					<key>anchorPoint</key>
					<string>{ 0.6, 0.0 }</string>
					<key>defaultIdleAnimation</key>
					<string>HangNest-Idle</string>
				</dict>
				<dict>
					<key>name</key>
					<string>lian</string>
					<key>spriteSheetName</key>
					<string>Shared</string>
					<key>animationFile</key>
					<string>HangNest-Animations.plist</string>
					<key>z</key>
					<integer>2</integer>
					<key>anchorPoint</key>
					<string>{ 0.8, -0.3 }</string>
					<key>defaultIdleAnimation</key>
					<string>HangNestLian-A-Idle</string>
				</dict>
			</array>
		</dict>
		<key>transform</key>
		<dict/>
	</dict>
</dict>
</plist>
