<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>type</key>
	<string>SAND</string>
	<key>components</key>
	<dict>
		<key>disposable</key>
		<dict>
			<key>deleteEntityWhenDisposed</key>
			<true/>
		</dict>
		<key>render</key>
		<dict>
			<key>sprites</key>
			<array>
				<dict>
					<key>z</key>
					<string>Z_SAND</string>
				</dict>
			</array>
		</dict>
        <key>sand</key>
        <dict/>
		<key>transform</key>
		<dict/>
	</dict>
</dict>
</plist>
