<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A15</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -177.74834,3.90729 }</string>
	
								<string>{ -211.85431,-16.62251 }</string>
	
								<string>{ -239.66887,35.96027 }</string>
	
								<string>{ -182.78146,37.28477 }</string>
	
								<string>{ -175.43047,20.46358 }</string>

							</array>

							<array>
	
								<string>{ -225.76159,-28.21191 }</string>
	
								<string>{ -239.66887,35.96027 }</string>
	
								<string>{ -211.85431,-16.62251 }</string>

							</array>

							<array>
	
								<string>{ -35.69536,-159.66887 }</string>
	
								<string>{ -240.33113,-160.00000 }</string>
	
								<string>{ -150.59602,-121.58941 }</string>
	
								<string>{ -37.35100,-137.48344 }</string>

							</array>

							<array>
	
								<string>{ -240.33113,-160.00000 }</string>
	
								<string>{ -190.66225,-104.70199 }</string>
	
								<string>{ -150.59602,-121.58941 }</string>

							</array>

							<array>
	
								<string>{ -240.33113,-160.00000 }</string>
	
								<string>{ -216.49007,-79.86755 }</string>
	
								<string>{ -190.66225,-104.70199 }</string>

							</array>

							<array>
	
								<string>{ -240.33113,-160.00000 }</string>
	
								<string>{ -225.43046,-61.65563 }</string>
	
								<string>{ -216.49007,-79.86755 }</string>

							</array>

							<array>
	
								<string>{ -239.66887,35.96027 }</string>
	
								<string>{ -225.76159,-28.21191 }</string>
	
								<string>{ -224.76821,-39.80132 }</string>
	
								<string>{ -225.43046,-61.65563 }</string>
	
								<string>{ -240.33113,-160.00000 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -113.17881,34.30464 }</string>
	
								<string>{ -43.70860,27.68211 }</string>
	
								<string>{ -44.30464,15.82782 }</string>
	
								<string>{ -84.03973,12.84769 }</string>
	
								<string>{ -112.18543,21.78809 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -41.65562,-18.67549 }</string>
	
								<string>{ 49.07285,-3.04636 }</string>
	
								<string>{ 44.76822,-18.94040 }</string>
	
								<string>{ 1.05960,-27.54967 }</string>
	
								<string>{ -39.66887,-26.22516 }</string>

							</array>

							<array>
	
								<string>{ 49.07285,-3.04636 }</string>
	
								<string>{ 144.03973,1.52318 }</string>
	
								<string>{ 141.78809,-5.03311 }</string>
	
								<string>{ 83.50995,-17.61589 }</string>
	
								<string>{ 44.76822,-18.94040 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 118.60928,-139.13907 }</string>
	
								<string>{ 177.88080,-140.79470 }</string>
	
								<string>{ 239.80133,-159.00662 }</string>
	
								<string>{ 96.09271,-159.66887 }</string>
	
								<string>{ 101.72186,-146.42384 }</string>

							</array>

							<array>
	
								<string>{ 214.96689,-106.35762 }</string>
	
								<string>{ 239.80133,-159.00662 }</string>
	
								<string>{ 177.88080,-140.79470 }</string>

							</array>

							<array>
	
								<string>{ 228.21191,-67.28477 }</string>
	
								<string>{ 239.80133,-159.00662 }</string>
	
								<string>{ 214.96689,-106.35762 }</string>

							</array>

							<array>
	
								<string>{ 69.93378,40.92715 }</string>
	
								<string>{ 160.00000,47.94702 }</string>
	
								<string>{ 123.57617,32.71524 }</string>
	
								<string>{ 70.92715,36.02649 }</string>

							</array>

							<array>
	
								<string>{ 160.00000,47.94702 }</string>
	
								<string>{ 166.95364,27.08609 }</string>
	
								<string>{ 123.57617,32.71524 }</string>

							</array>

							<array>
	
								<string>{ 160.00000,47.94702 }</string>
	
								<string>{ 239.73511,62.11920 }</string>
	
								<string>{ 198.07947,13.17880 }</string>
	
								<string>{ 166.95364,27.08609 }</string>

							</array>

							<array>
	
								<string>{ 239.73511,62.11920 }</string>
	
								<string>{ 219.27151,-8.34438 }</string>
	
								<string>{ 198.07947,13.17880 }</string>

							</array>

							<array>
	
								<string>{ 239.73511,62.11920 }</string>
	
								<string>{ 228.87418,-27.88080 }</string>
	
								<string>{ 219.27151,-8.34438 }</string>

							</array>

							<array>
	
								<string>{ 239.73511,62.11920 }</string>
	
								<string>{ 231.85431,-52.38410 }</string>
	
								<string>{ 228.87418,-27.88080 }</string>

							</array>

							<array>
	
								<string>{ 239.80133,-159.00662 }</string>
	
								<string>{ 231.85431,-52.38410 }</string>
	
								<string>{ 239.73511,62.11920 }</string>

							</array>

							<array>
	
								<string>{ 231.85431,-52.38410 }</string>
	
								<string>{ 239.80133,-159.00662 }</string>
	
								<string>{ 228.21191,-67.28477 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

