<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A14</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -189.47368,76.49124 }</string>
	
								<string>{ -181.40351,60.00000 }</string>
	
								<string>{ -204.56140,41.40352 }</string>
	
								<string>{ -241.05263,30.52632 }</string>
	
								<string>{ -241.05263,70.52632 }</string>

							</array>

							<array>
	
								<string>{ 52.63159,-59.64912 }</string>
	
								<string>{ 60.70175,-65.26315 }</string>
	
								<string>{ 71.22809,-89.12280 }</string>
	
								<string>{ 12.28072,-80.70175 }</string>
	
								<string>{ 19.29825,-61.40350 }</string>

							</array>

							<array>
	
								<string>{ -56.84210,10.52632 }</string>
	
								<string>{ -47.71930,-51.92982 }</string>
	
								<string>{ -66.31578,-32.98245 }</string>
	
								<string>{ -64.56140,12.63159 }</string>

							</array>

							<array>
	
								<string>{ -47.71930,-51.92982 }</string>
	
								<string>{ -36.14035,-87.01754 }</string>
	
								<string>{ -72.28070,-52.98245 }</string>
	
								<string>{ -66.31578,-32.98245 }</string>

							</array>

							<array>
	
								<string>{ -36.14035,-87.01754 }</string>
	
								<string>{ -27.71928,-98.94736 }</string>
	
								<string>{ -88.07018,-76.49123 }</string>
	
								<string>{ -72.28070,-52.98245 }</string>

							</array>

							<array>
	
								<string>{ 71.22809,-89.12280 }</string>
	
								<string>{ 89.12283,-110.17544 }</string>
	
								<string>{ 1.75439,-95.08772 }</string>
	
								<string>{ 12.28072,-80.70175 }</string>

							</array>

							<array>
	
								<string>{ -12.98245,-104.91228 }</string>
	
								<string>{ -240.35088,-124.56140 }</string>
	
								<string>{ -149.12280,-80.70175 }</string>
	
								<string>{ -88.07018,-76.49123 }</string>

							</array>

							<array>
	
								<string>{ -147.71929,66.31580 }</string>
	
								<string>{ -181.40351,60.00000 }</string>
	
								<string>{ -189.47368,76.49124 }</string>
	
								<string>{ -143.15789,71.92982 }</string>

							</array>

							<array>
	
								<string>{ -220.70175,2.80702 }</string>
	
								<string>{ -241.05263,30.52632 }</string>
	
								<string>{ -204.56140,41.40352 }</string>

							</array>

							<array>
	
								<string>{ -213.68421,-36.49123 }</string>
	
								<string>{ -240.35088,-124.56140 }</string>
	
								<string>{ -241.05263,30.52632 }</string>
	
								<string>{ -220.70175,2.80702 }</string>

							</array>

							<array>
	
								<string>{ -189.12281,-59.64912 }</string>
	
								<string>{ -240.35088,-124.56140 }</string>
	
								<string>{ -213.68421,-36.49123 }</string>

							</array>

							<array>
	
								<string>{ -149.12280,-80.70175 }</string>
	
								<string>{ -240.35088,-124.56140 }</string>
	
								<string>{ -189.12281,-59.64912 }</string>

							</array>

							<array>
	
								<string>{ 89.12283,-110.17544 }</string>
	
								<string>{ -12.98245,-104.91228 }</string>
	
								<string>{ 1.75439,-95.08772 }</string>

							</array>

							<array>
	
								<string>{ 240.35089,142.80704 }</string>
	
								<string>{ 240.70178,-124.56140 }</string>
	
								<string>{ 207.01755,20.35088 }</string>
	
								<string>{ 224.91229,130.17545 }</string>

							</array>

							<array>
	
								<string>{ 240.70178,-124.56140 }</string>
	
								<string>{ 184.56143,-50.17544 }</string>
	
								<string>{ 207.01755,20.35088 }</string>

							</array>

							<array>
	
								<string>{ 240.70178,-124.56140 }</string>
	
								<string>{ 144.91229,-105.26316 }</string>
	
								<string>{ 184.56143,-50.17544 }</string>

							</array>

							<array>
	
								<string>{ 240.70178,-124.56140 }</string>
	
								<string>{ 89.12283,-110.17544 }</string>
	
								<string>{ 144.91229,-105.26316 }</string>

							</array>

							<array>
	
								<string>{ -240.35088,-124.56140 }</string>
	
								<string>{ -12.98245,-104.91228 }</string>
	
								<string>{ 89.12283,-110.17544 }</string>
	
								<string>{ 240.70178,-124.56140 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -53.33333,159.64914 }</string>
	
								<string>{ -55.08771,77.19299 }</string>
	
								<string>{ -63.15788,76.84212 }</string>
	
								<string>{ -68.77193,160.00000 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 34.38599,2.10527 }</string>
	
								<string>{ 32.28070,10.52632 }</string>
	
								<string>{ 54.03510,14.73685 }</string>
	
								<string>{ 49.12280,1.40352 }</string>

							</array>

							<array>
	
								<string>{ -2.10526,22.10527 }</string>
	
								<string>{ 22.80704,14.38597 }</string>
	
								<string>{ 6.66667,12.98247 }</string>

							</array>

							<array>
	
								<string>{ 54.03510,14.73685 }</string>
	
								<string>{ 22.80704,14.38597 }</string>
	
								<string>{ -2.10526,22.10527 }</string>
	
								<string>{ 76.49124,27.01755 }</string>
	
								<string>{ 76.49124,18.94737 }</string>

							</array>

							<array>
	
								<string>{ 22.80704,14.38597 }</string>
	
								<string>{ 54.03510,14.73685 }</string>
	
								<string>{ 32.28070,10.52632 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

