<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A14</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 35.94501,-60.68729 }</string>
	
								<string>{ 51.40894,-67.90379 }</string>
	
								<string>{ 95.05154,-110.85911 }</string>
	
								<string>{ 11.89003,-82.68041 }</string>
	
								<string>{ 20.13745,-60.68729 }</string>

							</array>

							<array>
	
								<string>{ -168.52234,63.02405 }</string>
	
								<string>{ -192.57732,74.70790 }</string>
	
								<string>{ -147.42268,72.43985 }</string>
	
								<string>{ -148.24743,67.14777 }</string>

							</array>

							<array>
	
								<string>{ -187.76632,55.80756 }</string>
	
								<string>{ -192.57732,74.70790 }</string>
	
								<string>{ -168.52234,63.02405 }</string>

							</array>

							<array>
	
								<string>{ -202.19931,41.71820 }</string>
	
								<string>{ -240.68729,69.34708 }</string>
	
								<string>{ -192.57732,74.70790 }</string>
	
								<string>{ -187.76632,55.80756 }</string>

							</array>

							<array>
	
								<string>{ -214.91409,21.44330 }</string>
	
								<string>{ -240.68729,69.34708 }</string>
	
								<string>{ -202.19931,41.71820 }</string>

							</array>

							<array>
	
								<string>{ -49.62199,-51.06529 }</string>
	
								<string>{ -80.20619,-65.49828 }</string>
	
								<string>{ -68.86598,-44.87973 }</string>
	
								<string>{ -51.68385,-31.13402 }</string>
	
								<string>{ -48.24742,-37.66323 }</string>

							</array>

							<array>
	
								<string>{ 95.05154,-110.85911 }</string>
	
								<string>{ 1.23711,-97.80069 }</string>
	
								<string>{ 11.89003,-82.68041 }</string>

							</array>

							<array>
	
								<string>{ 240.06873,144.12369 }</string>
	
								<string>{ 240.06873,-134.57045 }</string>
	
								<string>{ 217.38831,75.05154 }</string>
	
								<string>{ 224.60480,130.37799 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-136.63230 }</string>
	
								<string>{ -240.68729,69.34708 }</string>
	
								<string>{ -214.91409,21.44330 }</string>

							</array>

							<array>
	
								<string>{ -56.83850,11.13402 }</string>
	
								<string>{ -51.68385,-31.13402 }</string>
	
								<string>{ -64.39864,-18.41925 }</string>
	
								<string>{ -62.33678,11.82130 }</string>

							</array>

							<array>
	
								<string>{ -51.68385,-31.13402 }</string>
	
								<string>{ -68.86598,-44.87973 }</string>
	
								<string>{ -64.39864,-18.41925 }</string>

							</array>

							<array>
	
								<string>{ -35.53265,-90.92783 }</string>
	
								<string>{ -95.67010,-78.90034 }</string>
	
								<string>{ -80.20619,-65.49828 }</string>
	
								<string>{ -49.62199,-51.06529 }</string>

							</array>

							<array>
	
								<string>{ -16.28867,-106.04811 }</string>
	
								<string>{ -240.00000,-136.63230 }</string>
	
								<string>{ -122.13058,-82.68041 }</string>
	
								<string>{ -95.67010,-78.90034 }</string>
	
								<string>{ -35.53265,-90.92783 }</string>

							</array>

							<array>
	
								<string>{ 240.06873,-134.57045 }</string>
	
								<string>{ 206.73538,23.50514 }</string>
	
								<string>{ 217.38831,75.05154 }</string>

							</array>

							<array>
	
								<string>{ 240.06873,-134.57045 }</string>
	
								<string>{ 184.05496,-44.19244 }</string>
	
								<string>{ 206.73538,23.50514 }</string>

							</array>

							<array>
	
								<string>{ 240.06873,-134.57045 }</string>
	
								<string>{ 161.37457,-85.77320 }</string>
	
								<string>{ 184.05496,-44.19244 }</string>

							</array>

							<array>
	
								<string>{ 240.06873,-134.57045 }</string>
	
								<string>{ 141.44330,-109.14090 }</string>
	
								<string>{ 161.37457,-85.77320 }</string>

							</array>

							<array>
	
								<string>{ 95.05154,-110.85911 }</string>
	
								<string>{ -16.28867,-106.04811 }</string>
	
								<string>{ 1.23711,-97.80069 }</string>

							</array>

							<array>
	
								<string>{ 240.06873,-134.57045 }</string>
	
								<string>{ -240.00000,-136.63230 }</string>
	
								<string>{ 95.05154,-110.85911 }</string>
	
								<string>{ 141.44330,-109.14090 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-136.63230 }</string>
	
								<string>{ -16.28867,-106.04811 }</string>
	
								<string>{ 95.05154,-110.85911 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-136.63230 }</string>
	
								<string>{ -154.43299,-77.52577 }</string>
	
								<string>{ -122.13058,-82.68041 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-136.63230 }</string>
	
								<string>{ -187.76632,-61.03093 }</string>
	
								<string>{ -154.43299,-77.52577 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-136.63230 }</string>
	
								<string>{ -207.35395,-44.19244 }</string>
	
								<string>{ -187.76632,-61.03093 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-136.63230 }</string>
	
								<string>{ -214.57045,-22.88660 }</string>
	
								<string>{ -207.35395,-44.19244 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-136.63230 }</string>
	
								<string>{ -218.00687,-1.92441 }</string>
	
								<string>{ -214.57045,-22.88660 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -69.55327,101.85565 }</string>
	
								<string>{ -54.98282,161.44330 }</string>
	
								<string>{ -59.58763,73.67697 }</string>
	
								<string>{ -67.14777,71.61511 }</string>

							</array>

							<array>
	
								<string>{ -75.73883,122.47421 }</string>
	
								<string>{ -54.98282,161.44330 }</string>
	
								<string>{ -69.55327,101.85565 }</string>

							</array>

							<array>
	
								<string>{ -85.36082,140.68729 }</string>
	
								<string>{ -54.98282,161.44330 }</string>
	
								<string>{ -75.73883,122.47421 }</string>

							</array>

							<array>
	
								<string>{ -100.82475,153.74570 }</string>
	
								<string>{ -54.98282,161.44330 }</string>
	
								<string>{ -85.36082,140.68729 }</string>

							</array>

							<array>
	
								<string>{ -100.82475,153.74570 }</string>
	
								<string>{ -131.75258,161.78693 }</string>
	
								<string>{ -54.98282,161.44330 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 34.22681,2.88660 }</string>
	
								<string>{ 31.47766,9.75945 }</string>
	
								<string>{ 54.15808,12.50859 }</string>
	
								<string>{ 49.00342,1.51202 }</string>

							</array>

							<array>
	
								<string>{ 0.20618,21.58075 }</string>
	
								<string>{ 75.60138,25.70447 }</string>
	
								<string>{ 75.80756,21.09966 }</string>
	
								<string>{ 25.29208,14.22679 }</string>
	
								<string>{ 3.64261,15.25772 }</string>

							</array>

							<array>
	
								<string>{ 25.29208,14.22679 }</string>
	
								<string>{ 75.80756,21.09966 }</string>
	
								<string>{ 54.15808,12.50859 }</string>
	
								<string>{ 31.47766,9.75945 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

