<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>type</key>
	<string>BEEATER-B-PC</string>
	<key>template</key>
    <string>Beeater-Pc-Template.plist</string>
    <key>templateSubstitutions</key>
    <dict>
		<key>renderDefaultDestroyAnimation1</key>
        <string>Beeater-B-Pc-1-Idle</string>
		<key>renderDefaultDestroyAnimation2</key>
        <string>Beeater-B-Pc-2-Idle</string>
    </dict>
</dict>
</plist>
