<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>type</key>
	<string>BEEATER-LAND-B</string>
	<key>template</key>
    <string>Beeater-Land-Template.plist</string>
    <key>templateSubstitutions</key>
    <dict>
        <key>beeaterShowBeeAnimationFormat</key>
        <string>Beeater-Head-B-%@-%@</string>
		<key>beeaterShowBeeBetweenAnimation1</key>
        <string>Beeater-Head-B-Idle-Between-Short</string>
		<key>beeaterShowBeeBetweenAnimation2</key>
        <string>Beeater-Head-B-Idle-Between-Medium</string>
		<key>beeaterShowBeeBetweenAnimation3</key>
        <string>Beeater-Head-B-Idle-Between-Long</string>
		<key>renderSpriteSheetName</key>
		<string>B</string>
		<key>renderBodyAnimationFile</key>
		<string>Beeater-Body-Land-B-Animations.plist</string>
		<key>renderBodyDefaultIdleAnimation</key>
		<string>Beeater-Body-Land-B-Idle</string>
		<key>renderBodyDefaultDestroyAnimation</key>
		<string>Beeater-Land-B-Destroy</string>
		<key>renderBodyDefaultStillAnimation</key>
		<string>Beeater-Body-Land-B-Still</string>
		<key>renderHeadAnimationFile</key>
		<string>Beeater-Head-B-Animations.plist</string>
		<key>renderHeadDefaultIdleAnimation</key>
		<string>Beeater-Head-B-Idle-NoBee</string>
    </dict>
</dict>
</plist>
