<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>type</key>
	<string>BEEATER-HANGING-B</string>
	<key>template</key>
    <string>Beeater-Hanging-Template.plist</string>
    <key>templateSubstitutions</key>
    <dict>
        <key>beeaterShowBeeAnimationFormat</key>
        <string>Beeater-Head-B-%@-%@</string>
		<key>beeaterShowBeeBetweenAnimation1</key>
        <string>Beeater-Head-B-Idle-Between-Short</string>
		<key>beeaterShowBeeBetweenAnimation2</key>
        <string>Beeater-Head-B-Idle-Between-Medium</string>
		<key>beeaterShowBeeBetweenAnimation3</key>
        <string>Beeater-Head-B-Idle-Between-Long</string>
        <key>beeaterSynchronisedBodyAnimation</key>
        <string></string>
        <key>beeaterSynchronisedHeadAnimation</key>
        <string></string>
        <key>pulverizablePulverAnimationBody</key>
        <string></string>
        <key>pulverizablePulverAnimationHead</key>
        <string></string>
		<key>renderSpriteSheetName</key>
		<string>B</string>
		<key>renderBodyAnimationFile</key>
		<string>Beeater-Body-Hanging-B-Animations.plist</string>
		<key>renderBodyAnchorPoint</key>
		<string>{ 0.6, 1.0 }</string>
		<key>renderBodyDefaultIdleAnimation</key>
		<string>Beeater-Body-Hanging-B-Idle</string>
		<key>renderBodyDefaultDestroyAnimation</key>
		<string>Beeater-Body-Hanging-B-Destroy</string>
		<key>renderBodyDefaultStillAnimation</key>
		<string>Beeater-Body-Hanging-B-Still</string>
		<key>renderHeadAnimationFile</key>
		<string>Beeater-Head-B-Animations.plist</string>
		<key>renderHeadDefaultIdleAnimation</key>
		<string>Beeater-Head-B-Idle-NoBee</string>
		<key>shardPiecesEntityType1</key>
		<string>BEEATER-HEAD-PIECE-B-1</string>
		<key>shardPiecesEntityType2</key>
		<string>BEEATER-HEAD-PIECE-B-2</string>
		<key>shardPiecesEntityType3</key>
		<string>BEEATER-HEAD-PIECE-B-3</string>
		<key>shardPiecesEntityType4</key>
		<string>BEEATER-HEAD-PIECE-B-4</string>
		<key>shardPiecesEntityType5</key>
		<string>BEEATER-HEAD-PIECE-B-5</string>
    </dict>
</dict>
</plist>
