<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>type</key>
    <string>SUPER-BEEATER-B</string>
    <key>groups</key>
    <array>
        <string>BEEATERS</string>
    </array>
    <key>components</key>
    <dict>
        <key>brittle</key>
        <dict/>
        <key>disposable</key>
        <dict>
            <key>deleteEntityWhenDisposed</key>
            <true/>
        </dict>
        <key>health</key>
        <dict>
            <key>totalHealthPoints</key>
            <string>3</string>
            <key>hitAnimations</key>
            <dict>
                <key>tail</key>
                <string>Super-Beeater-B-Tail-Hit</string>
                <key>headBack</key>
                <string>Super-Beeater-B-Head-Back-Hit</string>
                <key>bees</key>
                <string>Super-Beeater-B-Bees-Idle</string>
                <key>headFront</key>
                <string>Super-Beeater-B-Head-Front-Hit</string>
                <key>wing</key>
                <string>Super-Beeater-B-Wing-Hit</string>
            </dict>
        </dict>
        <key>movement</key>
        <dict/>
        <key>physics</key>
        <dict>
            <key>body</key>
            <dict>
                <key>mass</key>
                <real>-1</real>
            </dict>
            <key>shapes</key>
            <array>
                <dict>
                    <key>type</key>
                    <string>poly</string>
                    <key>vertices</key>
                    <array>
                        <string>{ -80, -40 }</string>
                        <string>{ -80, 40 }</string>
                        <string>{ 20, 40 }</string>
                        <string>{ 20, -40 }</string>
                    </array>
                    <key>elasticity</key>
                    <real>0.8</real>
                    <key>friction</key>
                    <real>0.5</real>
                    <key>isSensor</key>
                    <true/>
                    <key>layers</key>
                    <integer>1</integer>
                    <key>group</key>
                    <string>LEVEL</string>
                </dict>
            </array>
        </dict>
        <key>render</key>
        <dict>
            <key>sprites</key>
            <array>
                <dict>
                    <key>name</key>
                    <string>tail</string>
                    <key>spriteSheetName</key>
                    <string>Boss-B</string>
                    <key>animationFile</key>
                    <string>Super-Beeater-B-Animations.plist</string>
                    <key>anchorPoint</key>
                    <string>{ 0.2, 0.75 }</string>
                    <key>defaultIdleAnimation</key>
                    <string>Super-Beeater-B-Tail-Idle</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>headBack</string>
                    <key>spriteSheetName</key>
                    <string>Boss-B</string>
                    <key>animationFile</key>
                    <string>Super-Beeater-B-Animations.plist</string>
                    <key>anchorPoint</key>
                    <string>{ 0.5, 0.5 }</string>
                    <key>defaultIdleAnimation</key>
                    <string>Super-Beeater-B-Head-Back-Idle</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>bees</string>
                    <key>spriteSheetName</key>
                    <string>Boss-B</string>
                    <key>animationFile</key>
                    <string>Super-Beeater-B-Animations.plist</string>
                    <key>anchorPoint</key>
                    <string>{ 1.8, 0.8 }</string>
                    <key>defaultIdleAnimation</key>
                    <string>Super-Beeater-B-Bees-Idle</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>headFront</string>
                    <key>spriteSheetName</key>
                    <string>Boss-B</string>
                    <key>animationFile</key>
                    <string>Super-Beeater-B-Animations.plist</string>
                    <key>anchorPoint</key>
                    <string>{ 0.5, 0.5 }</string>
                    <key>defaultIdleAnimation</key>
                    <string>Super-Beeater-B-Head-Front-Idle</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>wing</string>
                    <key>spriteSheetName</key>
                    <string>Boss-B</string>
                    <key>animationFile</key>
                    <string>Super-Beeater-B-Animations.plist</string>
                    <key>anchorPoint</key>
                    <string>{ 0.5, 0.5 }</string>
                    <key>defaultIdleAnimation</key>
                    <string>Super-Beeater-B-Wing-Idle</string>
                </dict>
            </array>
        </dict>
        <key>shake</key>
        <dict/>
        <key>shard</key>
        <dict>
            <key>piecesSpriteSheet</key>
            <string>Boss-B</string>
            <key>piecesAnimationFile</key>
            <string>Super-Beeater-B-Animations.plist</string>
            <key>piecesAnimations</key>
            <array>
                <dict>
                    <key>pieceAnimation</key>
                    <string>Super-Beeater-B-Piece-Head-Top</string>
                    <key>smallPiecesAnimations</key>
                    <array>
                        <string>Super-Beeater-B-Piece-Head-Part-1</string>
                        <string>Super-Beeater-B-Piece-Head-Part-2</string>
                        <string>Super-Beeater-B-Piece-Head-Part-3</string>
                    </array>
                </dict>
                <dict>
                    <key>pieceAnimation</key>
                    <string>Super-Beeater-B-Piece-Head-Bottom</string>
                    <key>smallPiecesAnimations</key>
                    <array>
                        <string>Super-Beeater-B-Piece-Head-Part-4</string>
                        <string>Super-Beeater-B-Piece-Head-Part-5</string>
                        <string>Super-Beeater-B-Piece-Head-Part-6</string>
                    </array>
                </dict>
                <dict>
                    <key>pieceAnimation</key>
                    <string>Super-Beeater-B-Piece-Tail-Full</string>
                    <key>smallPiecesAnimations</key>
                    <array>
                        <string>Super-Beeater-B-Piece-Tail-1</string>
                        <string>Super-Beeater-B-Piece-Tail-2</string>
                        <string>Super-Beeater-B-Piece-Tail-3</string>
                        <string>Super-Beeater-B-Piece-Tail-4</string>
                        <string>Super-Beeater-B-Piece-Tail-5</string>
                        <string>Super-Beeater-B-Piece-Tail-6</string>
                    </array>
                </dict>
                <dict>
                    <key>pieceAnimation</key>
                    <string>Super-Beeater-B-Piece-Hair-1</string>
                </dict>
                <dict>
                    <key>pieceAnimation</key>
                    <string>Super-Beeater-B-Piece-Hair-2</string>
                </dict>
                <dict>
                    <key>pieceAnimation</key>
                    <string>Super-Beeater-B-Piece-Hair-3</string>
                </dict>
                <dict>
                    <key>pieceAnimation</key>
                    <string>Super-Beeater-B-Piece-Hair-4</string>
                </dict>
                <dict>
                    <key>pieceAnimation</key>
                    <string>Super-Beeater-B-Piece-Hair-5</string>
                </dict>
                <dict>
                    <key>pieceAnimation</key>
                    <string>Super-Beeater-B-Piece-Wing-1</string>
                </dict>
                <dict>
                    <key>pieceAnimation</key>
                    <string>Super-Beeater-B-Piece-Wing-2</string>
                </dict>
            </array>
            <key>piecesSpawnType</key>
            <string>SHARD_PIECES_SPAWN_NORMAL</string>
        </dict>
        <key>sound</key>
        <dict>
            <key>defaultDestroySound</key>
            <string>BeeaterKillMix</string>
        </dict>
        <key>transform</key>
        <dict/>
        <key>void</key>
        <dict>
            <key>instant</key>
            <false/>
        </dict>
    </dict>
</dict>
</plist>
