<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>type</key>
	<string>SUPER_BEEATER-B</string>
	<key>template</key>
	<string>Super-Beeater-Template.plist</string>
	<key>templateSubstitutions</key>
	<dict>
		<key>healthTotalHealthPoints</key>
		<string>3</string>
		<key>healthHitAnimationTail</key>
		<string>Super-Beeater-B-Tail-Hit</string>
		<key>healthHitAnimationHeadBack</key>
		<string>Super-Beeater-B-Head-Back-Hit</string>
		<key>healthHitAnimationBees</key>
		<string>Super-Beeater-B-Bees-Idle</string>
		<key>healthHitAnimationHeadFront</key>
		<string>Super-Beeater-B-Head-Front-Hit</string>
		<key>healthHitAnimationWing</key>
		<string>Super-Beeater-B-Wing-Hit</string>
		<key>renderSpriteSheetName</key>
		<string>Boss-B</string>
		<key>renderAnimationFile</key>
		<string>Super-Beeater-B-Animations.plist</string>
		<key>renderDefaultIdleAnimationTail</key>
		<string>Super-Beeater-B-Tail-Idle</string>
		<key>renderDefaultIdleAnimationHeadBack</key>
		<string>Super-Beeater-B-Head-Back-Idle</string>
		<key>renderDefaultAnimationsBees</key>
		<string>Super-Beeater-B-Bees-Idle</string>
		<key>renderDefaultIdleAnimationHeadFront</key>
		<string>Super-Beeater-B-Head-Front-Idle</string>
		<key>renderDefaultIdleAnimationWing</key>
		<string>Super-Beeater-B-Wing-Idle</string>
		<key>shardPieceAnimationHeadTop</key>
		<string>Super-Beeater-B-Piece-Head-Top</string>
		<key>shardSmallPiecesAnimationHeadTop1</key>
		<string>Super-Beeater-B-Piece-Head-Part-1</string>
		<key>shardSmallPiecesAnimationHeadTop2</key>
		<string>Super-Beeater-B-Piece-Head-Part-2</string>
		<key>shardSmallPiecesAnimationHeadTop3</key>
		<string>Super-Beeater-B-Piece-Head-Part-3</string>
		<key>shardPieceAnimationHeadBottom</key>
		<string>Super-Beeater-B-Piece-Head-Bottom</string>
		<key>shardSmallPiecesAnimationHeadBottom1</key>
		<string>Super-Beeater-B-Piece-Head-Part-4</string>
		<key>shardSmallPiecesAnimationHeadBottom2</key>
		<string>Super-Beeater-B-Piece-Head-Part-5</string>
		<key>shardSmallPiecesAnimationHeadBottom3</key>
		<string>Super-Beeater-B-Piece-Head-Part-6</string>
		<key>shardPieceAnimationTail1</key>
		<string>Super-Beeater-B-Piece-Tail-1</string>
		<key>shardPieceAnimationTail2</key>
		<string>Super-Beeater-B-Piece-Tail-2</string>
		<key>shardPieceAnimationTail3</key>
		<string>Super-Beeater-B-Piece-Tail-3</string>
		<key>shardPieceAnimationTail4</key>
		<string>Super-Beeater-B-Piece-Tail-4</string>
		<key>shardPieceAnimationTail5</key>
		<string>Super-Beeater-B-Piece-Tail-5</string>
		<key>shardPieceAnimationTail6</key>
		<string>Super-Beeater-B-Piece-Tail-6</string>
		<key>shardPieceAnimationHair1</key>
		<string>Super-Beeater-B-Piece-Hair-1</string>
		<key>shardPieceAnimationHair2</key>
		<string>Super-Beeater-B-Piece-Hair-2</string>
		<key>shardPieceAnimationHair3</key>
		<string>Super-Beeater-B-Piece-Hair-3</string>
		<key>shardPieceAnimationHair4</key>
		<string>Super-Beeater-B-Piece-Hair-4</string>
		<key>shardPieceAnimationHair5</key>
		<string>Super-Beeater-B-Piece-Hair-5</string>
		<key>shardPieceAnimationHair6</key>
		<string>Super-Beeater-B-Piece-Hair-6</string>
		<key>shardPieceAnimationWing1</key>
		<string>Super-Beeater-B-Piece-Wing-1</string>
		<key>shardPieceAnimationWing2</key>
		<string>Super-Beeater-B-Piece-Wing-2</string>
	</dict>
</dict>
</plist>
