<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>type</key>
	<string>BEEATER-HEAD-PIECE-C-5</string>
	<key>template</key>
    <string>Beeater-Head-Piece-Template.plist</string>
    <key>templateSubstitutions</key>
    <dict>
		<key>renderSpriteSheetName</key>
		<string>C</string>
		<key>renderAnimationFile</key>
		<string>Beeater-Head-Piece-C-Animations.plist</string>
		<key>renderDefaultIdleAnimation</key>
        <string>Beeater-Head-Piece-C-5</string>
    </dict>
</dict>
</plist>
