<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>type</key>
	<string>GLASS-B56</string>
	<key>template</key>
    <string>Glass-Template.plist</string>
    <key>templateSubstitutions</key>
    <dict>
        <key>physicsFile</key>
        <string>B-Glass-Shapes.plist</string>
        <key>physicsBodyName</key>
        <string>B56-Glass</string>
        <key>renderTextureFile</key>
        <string>B56-Glass.png</string>
        <key>shardPiecesEntityType</key>
        <string>GLASS-PIECE-B</string>
    </dict>
</dict>
</plist>
