<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>Beeater-Body-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Beeater/Body/Body-01.png</string>
			</array>
			<key>delay</key>
			<integer>1</integer>
		</dict>
		<key>Beeater-Body-Wave</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Beeater/Body/Body-02.png</string>
				<string>Beeater/Body/Body-03.png</string>
				<string>Beeater/Body/Body-04.png</string>
			</array>
			<key>delay</key>
			<real>0.1</real>
		</dict>
        <key>Beeater-Body-Destroy</key>
        <dict>
            <key>frames</key>
            <array>
                <string>Beeater/Kill/BeeaterKill-Bee-1.png</string>
                <string>Beeater/Kill/BeeaterKill-Bee-2.png</string>
                <string>Beeater/Kill/BeeaterKill-Bee-3.png</string>
                <string>Beeater/Kill/BeeaterKill-Bee-4.png</string>
                <string>Beeater/Kill/BeeaterKill-Bee-5.png</string>
                <string>Beeater/Kill/BeeaterKill-Bee-6.png</string>
                <string>Beeater/Kill/BeeaterKill-Bee-7.png</string>
                <string>Beeater/Kill/BeeaterKill-Bee-8.png</string>
                <string>Beeater/Kill/BeeaterKill-Bee-9.png</string>
                <string>Beeater/Kill/BeeaterKill-Bee-10.png</string>
                <string>Beeater/Kill/BeeaterKill-Bee-11.png</string>
                <string>Beeater/Kill/BeeaterKill-Bee-12.png</string>
                <string>Beeater/Kill/BeeaterKill-Bee-13.png</string>
                <string>Beeater/Kill/BeeaterKill-Bee-14.png</string>
            </array>
			<key>delay</key>
			<real>0.1</real>
        </dict>
		
		<key>Beeater-Body-Ceiling-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Beeater/Body-Ceiling/Body-01.png</string>
			</array>
			<key>delay</key>
			<integer>1</integer>
		</dict>
		<key>Beeater-Body-Ceiling-Wave</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Beeater/Body-Ceiling/Body-02.png</string>
				<string>Beeater/Body-Ceiling/Body-03.png</string>
				<string>Beeater/Body-Ceiling/Body-04.png</string>
			</array>
			<key>delay</key>
			<real>0.1</real>
		</dict>
		
		<key>Beeater-Body-Bird-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Beeater/Body-Bird/Wings-01.png</string>
				<string>Beeater/Body-Bird/Wings-02.png</string>
				<string>Beeater/Body-Bird/Wings-03.png</string>
				<string>Beeater/Body-Bird/Wings-04.png</string>
				<string>Beeater/Body-Bird/Wings-05.png</string>
			</array>
			<key>delay</key>
			<real>0.2</real>
		</dict>
		
		<key>Beeater-Body-Fish-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Beeater/Body-Fish/Fish-01.png</string>
				<string>Beeater/Body-Fish/Fish-02.png</string>
				<string>Beeater/Body-Fish/Fish-03.png</string>
				<string>Beeater/Body-Fish/Fish-04.png</string>
				<string>Beeater/Body-Fish/Fish-05.png</string>
				<string>Beeater/Body-Fish/Fish-06.png</string>
				<string>Beeater/Body-Fish/Fish-07.png</string>
			</array>
			<key>delay</key>
			<real>0.2</real>
		</dict>
	</dict>
</dict>
</plist>
