<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>Beeater-Head-Idle-NoBee</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Beeater/Head/Orig.png</string>
				<string>Beeater/Head/Orig.png</string>
				<string>Beeater/Head/Orig.png</string>
                <string>Beeater/Head/Orig.png</string>
                <string>Beeater/Head/Orig.png</string>
				<string>Beeater/Head/Blink.png</string>
				<string>Beeater/Head/Orig.png</string>
                <string>Beeater/Head/Orig.png</string>
                <string>Beeater/Head/Orig.png</string>
				<string>Beeater/Head/Orig.png</string>
				<string>Beeater/Head/Lick-1.png</string>
				<string>Beeater/Head/Lick-2.png</string>
				<string>Beeater/Head/Lick-3.png</string>
				<string>Beeater/Head/Lick-4.png</string>
				<string>Beeater/Head/Lick-5.png</string>
				<string>Beeater/Head/Lick-6.png</string>
			</array>
			<key>delay</key>
			<real>0.15</real>
		</dict>
        
		<key>Beeater-Head-Idle-WithBee</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Beeater/Head/Orig.png</string>
				<string>Beeater/Head/Orig.png</string>
				<string>Beeater/Head/Orig.png</string>
                <string>Beeater/Head/Orig.png</string>
                <string>Beeater/Head/Orig.png</string>
				<string>Beeater/Head/Blink.png</string>
				<string>Beeater/Head/Orig.png</string>
                <string>Beeater/Head/Orig.png</string>
                <string>Beeater/Head/Orig.png</string>
				<string>Beeater/Head/Orig.png</string>
                <string>Beeater/Head/Orig.png</string>
				<string>Beeater/Head/ShowBee-1.png</string>
				<string>Beeater/Head/ShowBee-2.png</string>
				<string>Beeater/Head/ShowBee-3.png</string>
				<string>Beeater/Head/ShowBee-4.png</string>
				<string>Beeater/Head/ShowBee-5.png</string>
			</array>
			<key>delay</key>
			<real>0.15</real>
		</dict>
		<key>Beeater-Head-Eat</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Beeater/Head/BeeaterHead271111-14.png</string>
				<string>Beeater/Head/BeeaterHead271111-15.png</string>
				<string>Beeater/Head/BeeaterHead271111-16.png</string>
				<string>Beeater/Head/ShowBee-4.png</string>
				<string>Beeater/Head/ShowBee-5.png</string>
			</array>
			<key>delay</key>
			<real>0.2</real>
		</dict>
	</dict>
</dict>
</plist>
