<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>Mushroom-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Mushroom/Mushroom-01.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>Mushroom-Bounce</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Mushroom/Mushroom-02.png</string>
				<string>Mushroom/Mushroom-03.png</string>
				<string>Mushroom/Mushroom-04.png</string>
				<string>Mushroom/Mushroom-05.png</string>
			</array>
			<key>delay</key>
			<real>0.06</real>
		</dict>
	</dict>
</dict>
</plist>
