<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>SmokeMushroom-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>SmokeMuschroom/SmMush-01.png</string>
			</array>
			<key>delay</key>
			<real>1</real>
		</dict>
		<key>SmokeMushroom-BounceAndPuff</key>
		<dict>
			<key>frames</key>
			<array>
				<string>SmokeMuschroom/SmMush-02.png</string>
				<string>SmokeMuschroom/SmMush-03.png</string>
				<string>SmokeMuschroom/SmMush-04.png</string>
				<string>SmokeMuschroom/SmMush-05.png</string>
				<string>SmokeMuschroom/SmMush-06.png</string>
				<string>SmokeMuschroom/SmMush-07.png</string>
				<string>SmokeMuschroom/SmMush-08.png</string>
				<string>SmokeMuschroom/SmMush-09.png</string>
				<string>SmokeMuschroom/SmMush-10.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
	</dict>
</dict>
</plist>
