<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>Speedee-Idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Speedee/Speedee-01.png</string>
				<string>Speedee/Speedee-02.png</string>
			</array>
			<key>delay</key>
			<real>0.2</real>
		</dict>
		<key>Bee-Crash</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Bee/BeeCrash-01.png</string>
				<string>Bee/BeeCrash-02.png</string>
				<string>Bee/BeeCrash-03.png</string>
				<string>Bee/BeeCrash-04.png</string>
				<string>Bee/BeeCrash-05.png</string>
				<string>Bee/BeeCrash-06.png</string>
				<string>Bee/BeeCrash-07.png</string>
				<string>Bee/BeeCrash-08.png</string>
				<string>Bee/BeeCrash-09.png</string>
				<string>Bee/BeeCrash-10.png</string>
			</array>
			<key>delay</key>
			<real>0.08</real>
		</dict>
		<key>Speedee-Puff</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Speedee/SpeedeePuffAnim-01.png</string>
				<string>Speedee/SpeedeePuffAnim-02.png</string>
				<string>Speedee/SpeedeePuffAnim-03.png</string>
			</array>
			<key>delay</key>
			<real>0.2</real>
		</dict>
	</dict>
</dict>
</plist>