<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A39</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>isSensor</key>
                        <false/>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
						<key>polygons</key>
						<array>
							<array>	
								<string>{ -98.48116,-105.64000 }</string>	
								<string>{ -97.27370,-159.03924 }</string>	
								<string>{ -125.93040,-112.17357 }</string>	
								<string>{ -121.15430,-95.45715 }</string>
							</array>
							<array>	
								<string>{ 21.45453,-93.74289 }</string>	
								<string>{ -37.38791,-93.74289 }</string>	
								<string>{ -11.66443,-70.59177 }</string>
							</array>
							<array>	
								<string>{ -82.72554,-109.82006 }</string>	
								<string>{ -97.27370,-159.03924 }</string>	
								<string>{ -98.48116,-105.64000 }</string>
							</array>
							<array>	
								<string>{ -63.75447,-108.53389 }</string>	
								<string>{ 284.90594,-160.53364 }</string>	
								<string>{ -97.27370,-159.03924 }</string>	
								<string>{ -82.72554,-109.82006 }</string>
							</array>
							<array>	
								<string>{ 108.59280,71.53043 }</string>	
								<string>{ 284.13422,64.30315 }</string>	
								<string>{ 133.99472,44.52078 }</string>	
								<string>{ 108.59280,60.91949 }</string>
							</array>
							<array>	
								<string>{ 68.07834,-117.21556 }</string>	
								<string>{ -51.85736,-104.35382 }</string>	
								<string>{ -37.38791,-93.74289 }</string>	
								<string>{ 21.45453,-93.74289 }</string>
							</array>
							<array>	
								<string>{ 284.13422,64.30315 }</string>	
								<string>{ 154.25195,25.54971 }</string>	
								<string>{ 133.99472,44.52078 }</string>
							</array>
							<array>	
								<string>{ 284.90594,-160.53364 }</string>	
								<string>{ 154.25195,25.54971 }</string>	
								<string>{ 284.13422,64.30315 }</string>
							</array>
							<array>	
								<string>{ 98.62497,-129.43421 }</string>	
								<string>{ -63.75447,-108.53389 }</string>	
								<string>{ -51.85736,-104.35382 }</string>	
								<string>{ 68.07834,-117.21556 }</string>
							</array>
							<array>	
								<string>{ 120.48990,-134.25736 }</string>	
								<string>{ -63.75447,-108.53389 }</string>	
								<string>{ 98.62497,-129.43421 }</string>
							</array>
							<array>	
								<string>{ 138.49634,-134.25736 }</string>	
								<string>{ 284.90594,-160.53364 }</string>	
								<string>{ 120.48990,-134.25736 }</string>
							</array>
							<array>	
								<string>{ 152.64426,-131.36347 }</string>	
								<string>{ 284.90594,-160.53364 }</string>	
								<string>{ 138.49634,-134.25736 }</string>
							</array>
							<array>	
								<string>{ 170.32913,-124.28952 }</string>	
								<string>{ 284.90594,-160.53364 }</string>	
								<string>{ 152.64426,-131.36347 }</string>
							</array>
							<array>	
								<string>{ 181.90469,-114.00013 }</string>	
								<string>{ 284.90594,-160.53364 }</string>	
								<string>{ 170.32913,-124.28952 }</string>
							</array>
							<array>	
								<string>{ 188.97867,-103.71074 }</string>	
								<string>{ 284.90594,-160.53364 }</string>	
								<string>{ 181.90469,-114.00013 }</string>
							</array>
							<array>	
								<string>{ 193.80182,-88.91974 }</string>	
								<string>{ 284.90594,-160.53364 }</string>	
								<string>{ 188.97867,-103.71074 }</string>
							</array>
							<array>	
								<string>{ 195.40952,-72.52103 }</string>	
								<string>{ 284.90594,-160.53364 }</string>	
								<string>{ 193.80182,-88.91974 }</string>
							</array>
							<array>	
								<string>{ 194.76645,-57.73003 }</string>	
								<string>{ 284.90594,-160.53364 }</string>	
								<string>{ 195.40952,-72.52103 }</string>
							</array>
							<array>	
								<string>{ 191.22946,-42.61749 }</string>	
								<string>{ 284.90594,-160.53364 }</string>	
								<string>{ 194.76645,-57.73003 }</string>
							</array>
							<array>	
								<string>{ 187.04941,-28.14804 }</string>	
								<string>{ 284.90594,-160.53364 }</string>	
								<string>{ 191.22946,-42.61749 }</string>
							</array>
							<array>	
								<string>{ 171.29376,1.11241 }</string>	
								<string>{ 284.90594,-160.53364 }</string>	
								<string>{ 187.04941,-28.14804 }</string>
							</array>
						</array>
                        
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>isSensor</key>
                        <false/>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
						<key>polygons</key>
						<array>
							<array>	
								<string>{ 31.36511,-39.03785 }</string>	
								<string>{ -2.47476,-24.85617 }</string>	
								<string>{ -51.99538,-1.84012 }</string>	
								<string>{ 56.26285,-8.76050 }</string>	
								<string>{ 48.21310,-38.47258 }</string>
							</array>
							<array>	
								<string>{ -77.40320,-3.88098 }</string>	
								<string>{ -77.85982,-14.83989 }</string>	
								<string>{ -95.21141,-20.77596 }</string>	
								<string>{ -100.34875,-16.94003 }</string>
							</array>
							<array>	
								<string>{ -77.40320,-3.88098 }</string>	
								<string>{ -51.99538,-1.84012 }</string>	
								<string>{ -55.25339,-14.50072 }</string>	
								<string>{ -77.85982,-14.83989 }</string>
							</array>
							<array>	
								<string>{ -51.99538,-1.84012 }</string>	
								<string>{ -29.11147,-18.37245 }</string>	
								<string>{ -55.25339,-14.50072 }</string>
							</array>
							<array>	
								<string>{ -29.11147,-18.37245 }</string>	
								<string>{ -51.99538,-1.84012 }</string>	
								<string>{ -2.47476,-24.85617 }</string>
							</array>
						</array>
                        
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>isSensor</key>
                        <false/>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
						<key>polygons</key>
						<array>
							<array>	
								<string>{ -200.58990,-69.18849 }</string>	
								<string>{ -189.84363,-47.99446 }</string>	
								<string>{ -166.85855,-62.02431 }</string>
							</array>
							<array>	
								<string>{ -200.58990,-69.18849 }</string>	
								<string>{ -284.96076,-37.08708 }</string>	
								<string>{ -284.62963,23.95572 }</string>	
								<string>{ -202.08244,-33.96461 }</string>	
								<string>{ -189.84363,-47.99446 }</string>
							</array>
							<array>	
								<string>{ -159.09736,35.88614 }</string>	
								<string>{ -284.62963,23.95572 }</string>	
								<string>{ -114.61975,53.49808 }</string>	
								<string>{ -114.91826,45.73688 }</string>
							</array>
							<array>	
								<string>{ -284.62963,23.95572 }</string>	
								<string>{ -208.35109,-21.12878 }</string>	
								<string>{ -202.08244,-33.96461 }</string>
							</array>
							<array>	
								<string>{ -284.62963,23.95572 }</string>	
								<string>{ -210.14214,-9.18849 }</string>	
								<string>{ -208.35109,-21.12878 }</string>
							</array>
							<array>	
								<string>{ -284.62963,23.95572 }</string>	
								<string>{ -208.05258,1.25928 }</string>	
								<string>{ -210.14214,-9.18849 }</string>
							</array>
							<array>	
								<string>{ -284.62963,23.95572 }</string>	
								<string>{ -202.67945,9.61748 }</string>	
								<string>{ -208.05258,1.25928 }</string>
							</array>
							<array>	
								<string>{ -284.62963,23.95572 }</string>	
								<string>{ -194.61975,18.27420 }</string>	
								<string>{ -202.67945,9.61748 }</string>
							</array>
							<array>	
								<string>{ -284.62963,23.95572 }</string>	
								<string>{ -183.87348,26.03539 }</string>	
								<string>{ -194.61975,18.27420 }</string>
							</array>
							<array>	
								<string>{ -284.62963,23.95572 }</string>	
								<string>{ -171.63467,31.40852 }</string>	
								<string>{ -183.87348,26.03539 }</string>
							</array>
							<array>	
								<string>{ -171.63467,31.40852 }</string>	
								<string>{ -284.62963,23.95572 }</string>	
								<string>{ -159.09736,35.88614 }</string>
							</array>
						</array>
                        
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>




