<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A51</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.42254,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 122.23914,-34.30219 }</string>
	
								<string>{ 126.21924,-74.10319 }</string>
	
								<string>{ 95.87097,-50.72010 }</string>
	
								<string>{ 103.33365,-36.29224 }</string>

							</array>

							<array>
	
								<string>{ 126.21924,-74.10319 }</string>
	
								<string>{ 84.92569,-64.65045 }</string>
	
								<string>{ 95.87097,-50.72010 }</string>

							</array>

							<array>
	
								<string>{ -112.58674,50.27492 }</string>
	
								<string>{ -89.50217,63.90677 }</string>
	
								<string>{ -83.23350,57.24010 }</string>

							</array>

							<array>
	
								<string>{ 126.21924,-74.10319 }</string>
	
								<string>{ 127.71176,-87.03851 }</string>
	
								<string>{ 69.00531,-77.58577 }</string>
	
								<string>{ 84.92569,-64.65045 }</string>

							</array>

							<array>
	
								<string>{ 113.78143,93.06099 }</string>
	
								<string>{ 139.15454,136.34457 }</string>
	
								<string>{ 135.17447,103.50876 }</string>
	
								<string>{ 107.81128,57.24010 }</string>
	
								<string>{ 100.34857,62.21523 }</string>

							</array>

							<array>
	
								<string>{ 139.15454,136.34457 }</string>
	
								<string>{ 151.59238,121.91672 }</string>
	
								<string>{ 135.17447,103.50876 }</string>

							</array>

							<array>
	
								<string>{ 139.15454,136.34457 }</string>
	
								<string>{ 165.02521,160.72269 }</string>
	
								<string>{ 169.50281,139.82718 }</string>
	
								<string>{ 151.59238,121.91672 }</string>

							</array>

							<array>
	
								<string>{ 165.02521,160.72269 }</string>
	
								<string>{ 182.43814,145.79730 }</string>
	
								<string>{ 169.50281,139.82718 }</string>

							</array>

							<array>
	
								<string>{ 165.02521,160.72269 }</string>
	
								<string>{ 195.37347,148.78238 }</string>
	
								<string>{ 182.43814,145.79730 }</string>

							</array>

							<array>
	
								<string>{ 132.68689,-101.96388 }</string>
	
								<string>{ 52.08987,-87.03851 }</string>
	
								<string>{ 69.00531,-77.58577 }</string>
	
								<string>{ 127.71176,-87.03851 }</string>

							</array>

							<array>
	
								<string>{ 140.14957,-118.38179 }</string>
	
								<string>{ -25.02455,-130.81960 }</string>
	
								<string>{ 32.68689,-89.02856 }</string>
	
								<string>{ 52.08987,-87.03851 }</string>
	
								<string>{ 132.68689,-101.96388 }</string>

							</array>

							<array>
	
								<string>{ -137.46236,44.30478 }</string>
	
								<string>{ -240.47651,41.45087 }</string>
	
								<string>{ -89.50217,63.90677 }</string>
	
								<string>{ -112.58674,50.27492 }</string>

							</array>

							<array>
	
								<string>{ -24.02953,-54.70020 }</string>
	
								<string>{ -29.50217,-67.63552 }</string>
	
								<string>{ -50.89520,-28.82956 }</string>
	
								<string>{ -48.40764,-23.35692 }</string>

							</array>

							<array>
	
								<string>{ -7.11410,-71.11811 }</string>
	
								<string>{ -18.05937,-101.46637 }</string>
	
								<string>{ -29.50217,-67.63552 }</string>
	
								<string>{ -24.02953,-54.70020 }</string>

							</array>

							<array>
	
								<string>{ 4.82620,-80.07333 }</string>
	
								<string>{ -18.05937,-101.46637 }</string>
	
								<string>{ -7.11410,-71.11811 }</string>

							</array>

							<array>
	
								<string>{ 17.76151,-86.54099 }</string>
	
								<string>{ -17.06435,-116.88926 }</string>
	
								<string>{ -18.05937,-101.46637 }</string>
	
								<string>{ 4.82620,-80.07333 }</string>

							</array>

							<array>
	
								<string>{ 32.68689,-89.02856 }</string>
	
								<string>{ -25.02455,-130.81960 }</string>
	
								<string>{ -17.06435,-116.88926 }</string>
	
								<string>{ 17.76151,-86.54099 }</string>

							</array>

							<array>
	
								<string>{ 146.61725,28.88190 }</string>
	
								<string>{ 202.83615,31.86696 }</string>
	
								<string>{ 212.78641,3.50876 }</string>
	
								<string>{ 150.09982,21.91672 }</string>

							</array>

							<array>
	
								<string>{ 220.24909,34.35452 }</string>
	
								<string>{ 237.66202,-7.93404 }</string>
	
								<string>{ 212.78641,3.50876 }</string>
	
								<string>{ 202.83615,31.86696 }</string>

							</array>

							<array>
	
								<string>{ 236.66699,40.82219 }</string>
	
								<string>{ 237.66202,-7.93404 }</string>
	
								<string>{ 220.24909,34.35452 }</string>

							</array>

							<array>
	
								<string>{ 255.57248,51.26994 }</string>
	
								<string>{ 255.57248,-20.37184 }</string>
	
								<string>{ 237.66202,-7.93404 }</string>
	
								<string>{ 236.66699,40.82219 }</string>

							</array>

							<array>
	
								<string>{ 255.57248,51.26994 }</string>
	
								<string>{ 265.52271,68.18538 }</string>
	
								<string>{ 268.01029,-31.81462 }</string>
	
								<string>{ 255.57248,-20.37184 }</string>

							</array>

							<array>
	
								<string>{ 165.02521,160.72269 }</string>
	
								<string>{ 328.75690,160.39801 }</string>
	
								<string>{ 210.29883,149.27991 }</string>
	
								<string>{ 195.37347,148.78238 }</string>

							</array>

							<array>
	
								<string>{ -154.87530,37.33960 }</string>
	
								<string>{ -240.47651,41.45087 }</string>
	
								<string>{ -137.46236,44.30478 }</string>

							</array>

							<array>
	
								<string>{ -169.80067,26.39433 }</string>
	
								<string>{ -240.47651,41.45087 }</string>
	
								<string>{ -154.87530,37.33960 }</string>

							</array>

							<array>
	
								<string>{ -176.26833,16.94159 }</string>
	
								<string>{ -240.47651,41.45087 }</string>
	
								<string>{ -169.80067,26.39433 }</string>

							</array>

							<array>
	
								<string>{ -180.24843,6.99135 }</string>
	
								<string>{ -240.47651,41.45087 }</string>
	
								<string>{ -176.26833,16.94159 }</string>

							</array>

							<array>
	
								<string>{ -180.24843,6.99135 }</string>
	
								<string>{ -182.23848,-1.96388 }</string>
	
								<string>{ -240.32467,-160.99502 }</string>
	
								<string>{ -240.47651,41.45087 }</string>

							</array>

							<array>
	
								<string>{ 152.58740,-128.33204 }</string>
	
								<string>{ -25.02455,-130.81960 }</string>
	
								<string>{ 140.14957,-118.38179 }</string>

							</array>

							<array>
	
								<string>{ 328.75690,160.39801 }</string>
	
								<string>{ 223.73166,144.80228 }</string>
	
								<string>{ 210.29883,149.27991 }</string>

							</array>

							<array>
	
								<string>{ 328.75690,160.39801 }</string>
	
								<string>{ 236.66699,134.85205 }</string>
	
								<string>{ 223.73166,144.80228 }</string>

							</array>

							<array>
	
								<string>{ 328.75690,160.39801 }</string>
	
								<string>{ 251.59238,119.92667 }</string>
	
								<string>{ 236.66699,134.85205 }</string>

							</array>

							<array>
	
								<string>{ 328.75690,160.39801 }</string>
	
								<string>{ 263.03516,100.02618 }</string>
	
								<string>{ 251.59238,119.92667 }</string>

							</array>

							<array>
	
								<string>{ 330.22839,-161.01602 }</string>
	
								<string>{ 266.51773,83.60826 }</string>
	
								<string>{ 263.03516,100.02618 }</string>
	
								<string>{ 328.75690,160.39801 }</string>

							</array>

							<array>
	
								<string>{ 265.52271,68.18538 }</string>
	
								<string>{ 266.51773,83.60826 }</string>
	
								<string>{ 273.48291,-42.26239 }</string>
	
								<string>{ 268.01029,-31.81462 }</string>

							</array>

							<array>
	
								<string>{ 166.02023,-133.30717 }</string>
	
								<string>{ -39.45241,-134.79970 }</string>
	
								<string>{ -25.02455,-130.81960 }</string>
	
								<string>{ 152.58740,-128.33204 }</string>

							</array>

							<array>
	
								<string>{ 266.51773,83.60826 }</string>
	
								<string>{ 330.22839,-161.01602 }</string>
	
								<string>{ 276.46802,-55.19772 }</string>
	
								<string>{ 273.48291,-42.26239 }</string>

							</array>

							<array>
	
								<string>{ 185.92072,-134.79970 }</string>
	
								<string>{ 330.22839,-161.01602 }</string>
	
								<string>{ -240.32467,-160.99502 }</string>
	
								<string>{ -39.45241,-134.79970 }</string>
	
								<string>{ 166.02023,-133.30717 }</string>

							</array>

							<array>
	
								<string>{ -182.73599,-12.41164 }</string>
	
								<string>{ -240.32467,-160.99502 }</string>
	
								<string>{ -182.23848,-1.96388 }</string>

							</array>

							<array>
	
								<string>{ -180.74594,-26.83951 }</string>
	
								<string>{ -240.32467,-160.99502 }</string>
	
								<string>{ -182.73599,-12.41164 }</string>

							</array>

							<array>
	
								<string>{ -176.26833,-37.78477 }</string>
	
								<string>{ -240.32467,-160.99502 }</string>
	
								<string>{ -180.74594,-26.83951 }</string>

							</array>

							<array>
	
								<string>{ -162.33798,-61.16786 }</string>
	
								<string>{ -240.32467,-160.99502 }</string>
	
								<string>{ -176.26833,-37.78477 }</string>

							</array>

							<array>
	
								<string>{ -136.96485,-83.55592 }</string>
	
								<string>{ -240.32467,-160.99502 }</string>
	
								<string>{ -162.33798,-61.16786 }</string>

							</array>

							<array>
	
								<string>{ -112.58674,-104.45144 }</string>
	
								<string>{ -240.32467,-160.99502 }</string>
	
								<string>{ -136.96485,-83.55592 }</string>

							</array>

							<array>
	
								<string>{ -80.74594,-124.84945 }</string>
	
								<string>{ -240.32467,-160.99502 }</string>
	
								<string>{ -112.58674,-104.45144 }</string>

							</array>

							<array>
	
								<string>{ -58.35788,-131.81463 }</string>
	
								<string>{ -240.32467,-160.99502 }</string>
	
								<string>{ -80.74594,-124.84945 }</string>

							</array>

							<array>
	
								<string>{ -39.45241,-134.79970 }</string>
	
								<string>{ -240.32467,-160.99502 }</string>
	
								<string>{ -58.35788,-131.81463 }</string>

							</array>

							<array>
	
								<string>{ 202.83615,-129.32707 }</string>
	
								<string>{ 330.22839,-161.01602 }</string>
	
								<string>{ 185.92072,-134.79970 }</string>

							</array>

							<array>
	
								<string>{ 222.23914,-118.38179 }</string>
	
								<string>{ 330.22839,-161.01602 }</string>
	
								<string>{ 202.83615,-129.32707 }</string>

							</array>

							<array>
	
								<string>{ 243.63217,-103.95393 }</string>
	
								<string>{ 330.22839,-161.01602 }</string>
	
								<string>{ 222.23914,-118.38179 }</string>

							</array>

							<array>
	
								<string>{ 265.52271,-83.55592 }</string>
	
								<string>{ 330.22839,-161.01602 }</string>
	
								<string>{ 243.63217,-103.95393 }</string>

							</array>

							<array>
	
								<string>{ 272.98541,-69.62557 }</string>
	
								<string>{ 330.22839,-161.01602 }</string>
	
								<string>{ 265.52271,-83.55592 }</string>

							</array>

							<array>
	
								<string>{ 276.46802,-55.19772 }</string>
	
								<string>{ 330.22839,-161.01602 }</string>
	
								<string>{ 272.98541,-69.62557 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

