<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A42</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 158.83896,-25.77493 }</string>
	
								<string>{ 147.31158,-3.00836 }</string>
	
								<string>{ 138.37784,20.91095 }</string>
	
								<string>{ 114.45856,108.51901 }</string>
	
								<string>{ 171.23087,96.70346 }</string>

							</array>

							<array>
	
								<string>{ 59.12714,111.68903 }</string>
	
								<string>{ 114.45856,108.51901 }</string>
	
								<string>{ 84.19919,84.31152 }</string>
	
								<string>{ 59.41531,105.63718 }</string>

							</array>

							<array>
	
								<string>{ 114.45856,108.51901 }</string>
	
								<string>{ 111.86490,56.93399 }</string>
	
								<string>{ 84.19919,84.31152 }</string>

							</array>

							<array>
	
								<string>{ 114.45856,108.51901 }</string>
	
								<string>{ 138.37784,20.91095 }</string>
	
								<string>{ 111.86490,56.93399 }</string>

							</array>

							<array>
	
								<string>{ 284.30389,-161.26014 }</string>
	
								<string>{ 152.78708,-149.00682 }</string>
	
								<string>{ 283.02820,-147.36346 }</string>

							</array>

							<array>
	
								<string>{ 152.78708,-149.00682 }</string>
	
								<string>{ 284.30389,-161.26014 }</string>
	
								<string>{ -282.36424,-160.45857 }</string>
	
								<string>{ -282.73621,-148.91853 }</string>

							</array>

							<array>
	
								<string>{ 158.83896,-25.77493 }</string>
	
								<string>{ 150.48160,-17.70576 }</string>
	
								<string>{ 147.31158,-3.00836 }</string>

							</array>

							<array>
	
								<string>{ 158.83896,-25.77493 }</string>
	
								<string>{ 149.90524,-34.99684 }</string>
	
								<string>{ 150.48160,-17.70576 }</string>

							</array>

							<array>
	
								<string>{ 158.83896,-25.77493 }</string>
	
								<string>{ 152.78708,-149.00682 }</string>
	
								<string>{ 145.00610,-51.99972 }</string>
	
								<string>{ 149.90524,-34.99684 }</string>

							</array>

							<array>
	
								<string>{ 152.78708,-149.00682 }</string>
	
								<string>{ 135.49600,-69.00260 }</string>
	
								<string>{ 145.00610,-51.99972 }</string>

							</array>

							<array>
	
								<string>{ 152.78708,-149.00682 }</string>
	
								<string>{ 117.05222,-86.87003 }</string>
	
								<string>{ 135.49600,-69.00260 }</string>

							</array>

							<array>
	
								<string>{ 152.78708,-149.00682 }</string>
	
								<string>{ 91.11560,-103.29655 }</string>
	
								<string>{ 117.05222,-86.87003 }</string>

							</array>

							<array>
	
								<string>{ 152.78708,-149.00682 }</string>
	
								<string>{ 33.19052,-126.06312 }</string>
	
								<string>{ 91.11560,-103.29655 }</string>

							</array>

							<array>
	
								<string>{ 152.78708,-149.00682 }</string>
	
								<string>{ -7.73166,-136.72594 }</string>
	
								<string>{ 33.19052,-126.06312 }</string>

							</array>

							<array>
	
								<string>{ 152.78708,-149.00682 }</string>
	
								<string>{ -51.53569,-144.21874 }</string>
	
								<string>{ -7.73166,-136.72594 }</string>

							</array>

							<array>
	
								<string>{ 152.78708,-149.00682 }</string>
	
								<string>{ -80.79836,-147.47452 }</string>
	
								<string>{ -51.53569,-144.21874 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -60.85994,-123.28755 }</string>
	
								<string>{ -85.06743,-125.59303 }</string>
	
								<string>{ -115.61497,-107.14922 }</string>
	
								<string>{ -73.54005,-86.39994 }</string>
	
								<string>{ -37.18320,-76.40205 }</string>

							</array>

							<array>
	
								<string>{ -115.61497,-107.14922 }</string>
	
								<string>{ -101.78214,-90.72271 }</string>
	
								<string>{ -73.54005,-86.39994 }</string>

							</array>

							<array>
	
								<string>{ -115.61497,-107.14922 }</string>
	
								<string>{ -177.28645,-99.65643 }</string>
	
								<string>{ -136.94063,-91.58727 }</string>
	
								<string>{ -101.78214,-90.72271 }</string>

							</array>

							<array>
	
								<string>{ -177.28645,-99.65643 }</string>
	
								<string>{ -155.96080,-88.41724 }</string>
	
								<string>{ -136.94063,-91.58727 }</string>

							</array>

							<array>
	
								<string>{ -177.28645,-99.65643 }</string>
	
								<string>{ -173.54005,-81.21262 }</string>
	
								<string>{ -155.96080,-88.41724 }</string>

							</array>

							<array>
	
								<string>{ -177.28645,-99.65643 }</string>
	
								<string>{ -242.41613,-103.40282 }</string>
	
								<string>{ -285.29107,-94.62184 }</string>
	
								<string>{ -199.18847,-59.88698 }</string>
	
								<string>{ -173.54005,-81.21262 }</string>

							</array>

							<array>
	
								<string>{ -285.55198,63.02832 }</string>
	
								<string>{ -209.85130,-41.15499 }</string>
	
								<string>{ -199.18847,-59.88698 }</string>
	
								<string>{ -285.29107,-94.62184 }</string>

							</array>

							<array>
	
								<string>{ -111.58040,52.21677 }</string>
	
								<string>{ -174.56552,63.10686 }</string>
	
								<string>{ -62.64668,58.49919 }</string>
	
								<string>{ -69.21729,50.77585 }</string>

							</array>

							<array>
	
								<string>{ -151.06166,49.62311 }</string>
	
								<string>{ -174.56552,63.10686 }</string>
	
								<string>{ -111.58040,52.21677 }</string>

							</array>

							<array>
	
								<string>{ -170.08184,47.02945 }</string>
	
								<string>{ -174.56552,63.10686 }</string>
	
								<string>{ -151.06166,49.62311 }</string>

							</array>

							<array>
	
								<string>{ -185.06743,41.84213 }</string>
	
								<string>{ -174.56552,63.10686 }</string>
	
								<string>{ -170.08184,47.02945 }</string>

							</array>

							<array>
	
								<string>{ -201.20576,32.04385 }</string>
	
								<string>{ -285.55198,63.02832 }</string>
	
								<string>{ -174.56552,63.10686 }</string>
	
								<string>{ -185.06743,41.84213 }</string>

							</array>

							<array>
	
								<string>{ -212.44495,19.36374 }</string>
	
								<string>{ -285.55198,63.02832 }</string>
	
								<string>{ -201.20576,32.04385 }</string>

							</array>

							<array>
	
								<string>{ -218.78501,0.05539 }</string>
	
								<string>{ -285.55198,63.02832 }</string>
	
								<string>{ -212.44495,19.36374 }</string>

							</array>

							<array>
	
								<string>{ -217.34409,-20.69389 }</string>
	
								<string>{ -285.55198,63.02832 }</string>
	
								<string>{ -218.78501,0.05539 }</string>

							</array>

							<array>
	
								<string>{ -209.85130,-41.15499 }</string>
	
								<string>{ -285.55198,63.02832 }</string>
	
								<string>{ -217.34409,-20.69389 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 7.49435,12.62308 }</string>
	
								<string>{ -43.87021,11.02280 }</string>
	
								<string>{ -72.52261,20.37352 }</string>
	
								<string>{ 3.53766,48.26404 }</string>

							</array>

							<array>
	
								<string>{ -14.06680,-65.96004 }</string>
	
								<string>{ -7.74887,-36.12304 }</string>
	
								<string>{ 10.06323,-22.29019 }</string>
	
								<string>{ 6.41510,-47.39277 }</string>
	
								<string>{ -6.91486,-68.06857 }</string>

							</array>

							<array>
	
								<string>{ -9.59439,-19.07149 }</string>
	
								<string>{ 7.49435,12.62308 }</string>
	
								<string>{ 10.06323,-22.29019 }</string>
	
								<string>{ -7.74887,-36.12304 }</string>

							</array>

							<array>
	
								<string>{ -22.93677,-0.55994 }</string>
	
								<string>{ 7.49435,12.62308 }</string>
	
								<string>{ -9.59439,-19.07149 }</string>

							</array>

							<array>
	
								<string>{ -43.87021,11.02280 }</string>
	
								<string>{ 7.49435,12.62308 }</string>
	
								<string>{ -22.93677,-0.55994 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 284.64661,104.90866 }</string>
	
								<string>{ 284.13879,87.15887 }</string>
	
								<string>{ 226.37192,-27.17398 }</string>
	
								<string>{ 217.77365,-26.88580 }</string>
	
								<string>{ 212.00995,23.25830 }</string>
	
								<string>{ 212.87451,111.96146 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

