<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A57</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -12.07617,-160.19901 }</string>
	
								<string>{ -119.27876,-159.68454 }</string>
	
								<string>{ -87.44595,-134.28261 }</string>
	
								<string>{ -33.42667,-136.85496 }</string>
	
								<string>{ -18.95721,-144.89355 }</string>

							</array>

							<array>
	
								<string>{ -87.44595,-134.28261 }</string>
	
								<string>{ -119.27876,-159.68454 }</string>
	
								<string>{ -109.95399,-143.47876 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -123.24910,-50.85690 }</string>
	
								<string>{ -122.09673,-64.38488 }</string>
	
								<string>{ -283.67237,-74.58707 }</string>
	
								<string>{ -283.99391,-54.17079 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 220.71027,-84.96366 }</string>
	
								<string>{ 161.54626,-78.85433 }</string>
	
								<string>{ 184.69739,-43.80610 }</string>

							</array>

							<array>
	
								<string>{ 220.71027,-84.96366 }</string>
	
								<string>{ 283.20428,-141.18280 }</string>
	
								<string>{ 284.70789,-159.77579 }</string>
	
								<string>{ 141.93213,-100.71929 }</string>
	
								<string>{ 161.54626,-78.85433 }</string>

							</array>

							<array>
	
								<string>{ -80.89746,-49.46526 }</string>
	
								<string>{ -1.66916,-47.21446 }</string>
	
								<string>{ -17.87494,-72.42346 }</string>
	
								<string>{ -76.39586,-64.70642 }</string>

							</array>

							<array>
	
								<string>{ -1.66916,-47.21446 }</string>
	
								<string>{ 18.78101,-89.46526 }</string>
	
								<string>{ -17.87494,-72.42346 }</string>

							</array>

							<array>
	
								<string>{ 49.32761,-104.89935 }</string>
	
								<string>{ 18.78101,-89.46526 }</string>
	
								<string>{ -1.66916,-47.21446 }</string>

							</array>

							<array>
	
								<string>{ 49.32761,-104.89935 }</string>
	
								<string>{ 63.79709,-116.15337 }</string>
	
								<string>{ 24.89032,-127.40739 }</string>
	
								<string>{ 18.78101,-89.46526 }</string>

							</array>

							<array>
	
								<string>{ 63.79709,-116.15337 }</string>
	
								<string>{ 82.44659,-120.33344 }</string>
	
								<string>{ 9.77777,-158.59710 }</string>
	
								<string>{ 24.89032,-127.40739 }</string>

							</array>

							<array>
	
								<string>{ 82.44659,-120.33344 }</string>
	
								<string>{ 93.70062,-121.29807 }</string>
	
								<string>{ 284.70789,-159.77579 }</string>
	
								<string>{ 9.77777,-158.59710 }</string>

							</array>

							<array>
	
								<string>{ 284.70789,-159.77579 }</string>
	
								<string>{ 124.24722,-111.00867 }</string>
	
								<string>{ 141.93213,-100.71929 }</string>

							</array>

							<array>
	
								<string>{ 284.70789,-159.77579 }</string>
	
								<string>{ 104.95462,-119.69035 }</string>
	
								<string>{ 124.24722,-111.00867 }</string>

							</array>

							<array>
	
								<string>{ 284.70789,-159.77579 }</string>
	
								<string>{ 93.70062,-121.29807 }</string>
	
								<string>{ 104.95462,-119.69035 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 265.49719,14.26436 }</string>
	
								<string>{ 210.83481,17.15825 }</string>
	
								<string>{ 219.76123,57.04883 }</string>
	
								<string>{ 284.80652,34.03296 }</string>
	
								<string>{ 285.97388,18.88640 }</string>

							</array>

							<array>
	
								<string>{ 210.83481,17.15825 }</string>
	
								<string>{ 174.17883,11.37047 }</string>
	
								<string>{ 169.35568,37.41548 }</string>
	
								<string>{ 169.35568,48.34796 }</string>
	
								<string>{ 186.62689,77.94435 }</string>
	
								<string>{ 219.76123,57.04883 }</string>

							</array>

							<array>
	
								<string>{ 62.92484,-34.61024 }</string>
	
								<string>{ 92.50681,-25.92857 }</string>
	
								<string>{ 162.60327,-28.50092 }</string>
	
								<string>{ 50.70618,-51.97358 }</string>
	
								<string>{ 50.38464,-45.22117 }</string>

							</array>

							<array>
	
								<string>{ -31.93048,4.29651 }</string>
	
								<string>{ -65.69255,37.41548 }</string>
	
								<string>{ -85.94978,63.78204 }</string>
	
								<string>{ -41.25525,26.80455 }</string>
	
								<string>{ -27.75043,7.19040 }</string>

							</array>

							<array>
	
								<string>{ 162.60327,-28.50092 }</string>
	
								<string>{ 127.23352,-12.74529 }</string>
	
								<string>{ 142.98914,-3.09898 }</string>
	
								<string>{ 174.17883,11.37047 }</string>
	
								<string>{ 171.28494,-23.35622 }</string>

							</array>

							<array>
	
								<string>{ -44.79222,103.65344 }</string>
	
								<string>{ -2.34848,131.62772 }</string>
	
								<string>{ -36.11055,80.82385 }</string>
	
								<string>{ -85.94978,63.78204 }</string>
	
								<string>{ -85.94978,73.87851 }</string>

							</array>

							<array>
	
								<string>{ 110.83481,-19.81924 }</string>
	
								<string>{ 162.60327,-28.50092 }</string>
	
								<string>{ 92.50681,-25.92857 }</string>

							</array>

							<array>
	
								<string>{ 127.23352,-12.74529 }</string>
	
								<string>{ 162.60327,-28.50092 }</string>
	
								<string>{ 110.83481,-19.81924 }</string>

							</array>

							<array>
	
								<string>{ 148.41794,161.22794 }</string>
	
								<string>{ 39.13062,138.05856 }</string>
	
								<string>{ -2.34848,131.62772 }</string>
	
								<string>{ 33.34283,150.59879 }</string>
	
								<string>{ 56.62256,160.05215 }</string>

							</array>

							<array>
	
								<string>{ -85.94978,63.78204 }</string>
	
								<string>{ -43.82759,32.27080 }</string>
	
								<string>{ -41.25525,26.80455 }</string>

							</array>

							<array>
	
								<string>{ -85.94978,63.78204 }</string>
	
								<string>{ -45.11377,39.34474 }</string>
	
								<string>{ -43.82759,32.27080 }</string>

							</array>

							<array>
	
								<string>{ -85.94978,63.78204 }</string>
	
								<string>{ -45.43530,52.52803 }</string>
	
								<string>{ -45.11377,39.34474 }</string>

							</array>

							<array>
	
								<string>{ -85.94978,63.78204 }</string>
	
								<string>{ -44.14914,62.81741 }</string>
	
								<string>{ -45.43530,52.52803 }</string>

							</array>

							<array>
	
								<string>{ -85.94978,63.78204 }</string>
	
								<string>{ -40.93370,72.78526 }</string>
	
								<string>{ -44.14914,62.81741 }</string>

							</array>

							<array>
	
								<string>{ -85.94978,63.78204 }</string>
	
								<string>{ -36.11055,80.82385 }</string>
	
								<string>{ -40.93370,72.78526 }</string>

							</array>

							<array>
	
								<string>{ 156.81549,9.44121 }</string>
	
								<string>{ 174.17883,11.37047 }</string>
	
								<string>{ 142.98914,-3.09898 }</string>

							</array>

							<array>
	
								<string>{ 163.88947,17.80135 }</string>
	
								<string>{ 174.17883,11.37047 }</string>
	
								<string>{ 156.81549,9.44121 }</string>

							</array>

							<array>
	
								<string>{ 167.74799,27.12610 }</string>
	
								<string>{ 174.17883,11.37047 }</string>
	
								<string>{ 163.88947,17.80135 }</string>

							</array>

							<array>
	
								<string>{ 169.35568,37.41548 }</string>
	
								<string>{ 174.17883,11.37047 }</string>
	
								<string>{ 167.74799,27.12610 }</string>

							</array>

							<array>
	
								<string>{ 169.35568,48.34796 }</string>
	
								<string>{ 165.49716,64.10359 }</string>
	
								<string>{ 164.83585,82.42197 }</string>
	
								<string>{ 186.62689,77.94435 }</string>

							</array>

							<array>
	
								<string>{ 157.45859,80.50230 }</string>
	
								<string>{ 164.83585,82.42197 }</string>
	
								<string>{ 165.49716,64.10359 }</string>

							</array>

							<array>
	
								<string>{ 147.49075,95.29330 }</string>
	
								<string>{ 148.41794,161.22794 }</string>
	
								<string>{ 164.83585,82.42197 }</string>
	
								<string>{ 157.45859,80.50230 }</string>

							</array>

							<array>
	
								<string>{ 135.27209,108.79813 }</string>
	
								<string>{ 148.41794,161.22794 }</string>
	
								<string>{ 147.49075,95.29330 }</string>

							</array>

							<array>
	
								<string>{ 120.48111,122.94604 }</string>
	
								<string>{ 148.41794,161.22794 }</string>
	
								<string>{ 135.27209,108.79813 }</string>

							</array>

							<array>
	
								<string>{ 106.33319,131.94925 }</string>
	
								<string>{ 148.41794,161.22794 }</string>
	
								<string>{ 120.48111,122.94604 }</string>

							</array>

							<array>
	
								<string>{ 91.22064,137.41550 }</string>
	
								<string>{ 148.41794,161.22794 }</string>
	
								<string>{ 106.33319,131.94925 }</string>

							</array>

							<array>
	
								<string>{ 72.24957,139.98782 }</string>
	
								<string>{ 148.41794,161.22794 }</string>
	
								<string>{ 91.22064,137.41550 }</string>

							</array>

							<array>
	
								<string>{ 55.52933,139.66629 }</string>
	
								<string>{ 148.41794,161.22794 }</string>
	
								<string>{ 72.24957,139.98782 }</string>

							</array>

							<array>
	
								<string>{ 39.13062,138.05856 }</string>
	
								<string>{ 148.41794,161.22794 }</string>
	
								<string>{ 55.52933,139.66629 }</string>

							</array>

							<array>
	
								<string>{ 23.69653,133.55698 }</string>
	
								<string>{ -2.34848,131.62772 }</string>
	
								<string>{ 39.13062,138.05856 }</string>

							</array>

							<array>
	
								<string>{ 6.65472,123.58911 }</string>
	
								<string>{ -2.34848,131.62772 }</string>
	
								<string>{ 23.69653,133.55698 }</string>

							</array>

							<array>
	
								<string>{ -11.35172,109.76276 }</string>
	
								<string>{ -2.34848,131.62772 }</string>
	
								<string>{ 6.65472,123.58911 }</string>

							</array>

							<array>
	
								<string>{ -26.78580,94.65022 }</string>
	
								<string>{ -2.34848,131.62772 }</string>
	
								<string>{ -11.35172,109.76276 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

