<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entities</key>
	<array>
		<dict>
			<key>components</key>
			<dict>
				<key>slinger</key>
				<dict>
					<key>queuedBeeTypes</key>
					<array>
						<string>BEE</string>
					</array>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{61, 283}</string>
					<key>rotation</key>
					<real>328</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>SLINGER</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>captured</key>
				<dict>
					<key>containedBeeTypes</key>
					<array>
						<string>SAWEE</string>
					</array>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{311, 236}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{311, 236}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>BEEATER-HANGING-A</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{135.5, 167.5}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{135.5, 167.5}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>WOOD</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>captured</key>
				<dict>
					<key>containedBeeTypes</key>
					<array>
						<string>SPEEDEE</string>
					</array>
				</dict>
				<key>movement</key>
				<dict>
					<key>positions</key>
					<array>
						<string>{221.5, 278}</string>
					</array>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{229, 153.5}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{229, 153.5}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>BEEATER-BIRD-A</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>captured</key>
				<dict>
					<key>containedBeeTypes</key>
					<array>
						<string>SPEEDEE</string>
					</array>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{298, 42.5}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{298, 42.5}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>BEEATER-LAND-A</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>captured</key>
				<dict>
					<key>containedBeeTypes</key>
					<array>
						<string>SPEEDEE</string>
					</array>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{86, 194}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{86, 194}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{-1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>BEEATER-HANGING-A</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>captured</key>
				<dict>
					<key>containedBeeTypes</key>
					<array>
						<string>BEE</string>
					</array>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{328, 258}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{328, 258}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>BEEATER-LAND-A</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{164, 122}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{164, 122}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>POLLEN-ORANGE</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>captured</key>
				<dict>
					<key>containedBeeTypes</key>
					<array>
						<string>BEE</string>
					</array>
				</dict>
				<key>movement</key>
				<dict>
					<key>positions</key>
					<array>
						<string>{101, 53}</string>
					</array>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{98, 110}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{98, 110}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{-1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>BEEATER-BIRD-A</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{176, 101}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{176, 101}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>POLLEN-ORANGE</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{195, 86}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{195, 86}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>POLLEN-ORANGE</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>captured</key>
				<dict>
					<key>containedBeeTypes</key>
					<array>
						<string>BEE</string>
					</array>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{373, 261}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{373, 261}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>BEEATER-LAND-A</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{195, 27}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>EYES</string>
		</dict>
	</array>
	<key>format</key>
	<integer>2</integer>
	<key>hasWater</key>
	<true/>
	<key>name</key>
	<string>Level-A44</string>
	<key>pollenForThreeFlowers</key>
	<integer>425</integer>
	<key>pollenForTwoFlowers</key>
	<integer>395</integer>
	<key>version</key>
	<integer>15</integer>
</dict>
</plist>
