<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A6</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>isSensor</key>
                        <false/>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
						<key>polygons</key>
						<array>
							<array>	
								<string>{ -164.68504,53.57616 }</string>	
								<string>{ -179.25458,67.15231 }</string>	
								<string>{ -142.89696,63.77484 }</string>	
								<string>{ -144.48636,58.21193 }</string>
							</array>
							<array>	
								<string>{ -178.26120,40.99338 }</string>	
								<string>{ -219.65193,64.43709 }</string>	
								<string>{ -179.25458,67.15231 }</string>	
								<string>{ -164.68504,53.57616 }</string>
							</array>
							<array>	
								<string>{ -178.26120,40.99338 }</string>	
								<string>{ -174.61882,-160.33113 }</string>	
								<string>{ -190.84398,-160.00000 }</string>	
								<string>{ -219.65193,64.43709 }</string>
							</array>
						</array>
                        
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>isSensor</key>
                        <false/>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
						<key>polygons</key>
						<array>
							<array>	
								<string>{ -126.57977,-4.09950 }</string>	
								<string>{ -98.76520,-0.05977 }</string>	
								<string>{ -109.03011,-11.98030 }</string>	
								<string>{ -125.91751,-10.65581 }</string>
							</array>
							<array>	
								<string>{ -98.76520,-0.05977 }</string>	
								<string>{ -91.14931,-9.00017 }</string>	
								<string>{ -95.45395,-16.28494 }</string>	
								<string>{ -104.72546,-18.60281 }</string>	
								<string>{ -109.03011,-11.98030 }</string>
							</array>
							<array>	
								<string>{ -91.14931,-9.00017 }</string>	
								<string>{ -98.76520,-0.05977 }</string>	
								<string>{ -75.98375,-2.77501 }</string>	
								<string>{ -77.24202,-6.68230 }</string>
							</array>
							<array>	
								<string>{ -104.72546,-18.60281 }</string>	
								<string>{ -95.45395,-16.28494 }</string>	
								<string>{ -94.12944,-159.99355 }</string>	
								<string>{ -106.04997,-159.99355 }</string>
							</array>
						</array>
                        
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>isSensor</key>
                        <false/>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
						<key>polygons</key>
						<array>
							<array>	
								<string>{ 12.48016,-61.65563 }</string>	
								<string>{ 2.54642,-51.39072 }</string>	
								<string>{ 23.00998,-53.44371 }</string>	
								<string>{ 22.41394,-58.67550 }</string>
							</array>
							<array>	
								<string>{ 6.18878,-69.27152 }</string>	
								<string>{ -1.75824,-66.95364 }</string>	
								<string>{ -7.71851,-60.00000 }</string>	
								<string>{ 2.54642,-51.39072 }</string>	
								<string>{ 12.48016,-61.65563 }</string>
							</array>
							<array>	
								<string>{ -26.26154,-53.11258 }</string>	
								<string>{ 2.54642,-51.39072 }</string>	
								<string>{ -7.71851,-60.00000 }</string>	
								<string>{ -25.26816,-59.00662 }</string>
							</array>
							<array>	
								<string>{ -2.75162,-160.00000 }</string>	
								<string>{ -1.75824,-66.95364 }</string>	
								<string>{ 6.18878,-69.27152 }</string>	
								<string>{ 8.17554,-159.66887 }</string>
							</array>
						</array>
                        
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>isSensor</key>
                        <false/>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
						<key>polygons</key>
						<array>
							<array>	
								<string>{ 129.34824,-112.98013 }</string>	
								<string>{ 119.41446,-110.00000 }</string>	
								<string>{ 95.24228,-99.80132 }</string>	
								<string>{ 121.07010,-98.41059 }</string>	
								<string>{ 143.85156,-100.79470 }</string>	
								<string>{ 143.91779,-106.35762 }</string>
							</array>
							<array>	
								<string>{ 118.75223,-160.00000 }</string>	
								<string>{ 119.41446,-110.00000 }</string>	
								<string>{ 129.34824,-112.98013 }</string>	
								<string>{ 130.67276,-160.00000 }</string>
							</array>
							<array>	
								<string>{ 95.24228,-99.80132 }</string>	
								<string>{ 119.41446,-110.00000 }</string>	
								<string>{ 97.22903,-106.35762 }</string>
							</array>
						</array>
                        
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>isSensor</key>
                        <false/>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
						<key>polygons</key>
						<array>
							<array>	
								<string>{ 220.74542,3.90729 }</string>	
								<string>{ 284.37793,63.09323 }</string>	
								<string>{ 284.76880,-159.66887 }</string>	
								<string>{ 228.03021,-160.33113 }</string>
							</array>
							<array>	
								<string>{ 207.50040,26.42384 }</string>	
								<string>{ 284.37793,63.09323 }</string>	
								<string>{ 220.74542,3.90729 }</string>
							</array>
							<array>	
								<string>{ 183.99045,41.32451 }</string>	
								<string>{ 284.37793,63.09323 }</string>	
								<string>{ 207.50040,26.42384 }</string>
							</array>
							<array>	
								<string>{ 92.26862,50.86093 }</string>	
								<string>{ 144.91760,44.30464 }</string>	
								<string>{ 93.59311,40.33113 }</string>
							</array>
							<array>	
								<string>{ 183.99045,41.32451 }</string>	
								<string>{ 144.91760,44.30464 }</string>	
								<string>{ 92.26862,50.86093 }</string>	
								<string>{ 284.37793,63.09323 }</string>
							</array>
						</array>
                        
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>isSensor</key>
                        <false/>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
						<key>polygons</key>
						<array>
							<array>	
								<string>{ 25.74026,153.63638 }</string>	
								<string>{ -26.15833,160.77536 }</string>	
								<string>{ 284.70258,160.77536 }</string>	
								<string>{ 284.43768,146.30429 }</string>
							</array>
						</array>
                        
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>




