<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A48</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 240.51450,-160.19293 }</string>
	
								<string>{ 192.47589,-39.42122 }</string>
	
								<string>{ 188.93893,-24.95177 }</string>
	
								<string>{ 179.29263,42.89389 }</string>
	
								<string>{ 239.74277,29.06754 }</string>

							</array>

							<array>
	
								<string>{ -0.12862,-24.95177 }</string>
	
								<string>{ 34.27655,-67.39549 }</string>
	
								<string>{ 7.26689,-49.71061 }</string>
	
								<string>{ -6.23793,-26.23793 }</string>

							</array>

							<array>
	
								<string>{ 34.27655,-67.39549 }</string>
	
								<string>{ 12.73312,-65.46623 }</string>
	
								<string>{ 7.26689,-49.71061 }</string>

							</array>

							<array>
	
								<string>{ 34.27655,-67.39549 }</string>
	
								<string>{ 60.32156,-87.65273 }</string>
	
								<string>{ 12.73312,-77.68488 }</string>
	
								<string>{ 12.73312,-65.46623 }</string>

							</array>

							<array>
	
								<string>{ 60.32156,-87.65273 }</string>
	
								<string>{ 83.47269,-103.08681 }</string>
	
								<string>{ 8.87460,-87.65273 }</string>
	
								<string>{ 12.73312,-77.68488 }</string>

							</array>

							<array>
	
								<string>{ 93.76205,53.82637 }</string>
	
								<string>{ 179.29263,42.89389 }</string>
	
								<string>{ 123.34406,38.71384 }</string>
	
								<string>{ 93.44052,48.03859 }</string>

							</array>

							<array>
	
								<string>{ 179.29263,42.89389 }</string>
	
								<string>{ 138.45660,31.96143 }</string>
	
								<string>{ 123.34406,38.71384 }</string>

							</array>

							<array>
	
								<string>{ 179.29263,42.89389 }</string>
	
								<string>{ 153.56915,22.63666 }</string>
	
								<string>{ 138.45660,31.96143 }</string>

							</array>

							<array>
	
								<string>{ 179.29263,42.89389 }</string>
	
								<string>{ 166.75241,10.09647 }</string>
	
								<string>{ 153.56915,22.63666 }</string>

							</array>

							<array>
	
								<string>{ 179.29263,42.89389 }</string>
	
								<string>{ 178.64954,-5.65916 }</string>
	
								<string>{ 166.75241,10.09647 }</string>

							</array>

							<array>
	
								<string>{ 179.29263,42.89389 }</string>
	
								<string>{ 188.93893,-24.95177 }</string>
	
								<string>{ 178.64954,-5.65916 }</string>

							</array>

							<array>
	
								<string>{ 83.47269,-103.08681 }</string>
	
								<string>{ 1.15756,-98.58521 }</string>
	
								<string>{ 8.87460,-87.65273 }</string>

							</array>

							<array>
	
								<string>{ 83.47269,-103.08681 }</string>
	
								<string>{ 98.90677,-110.48232 }</string>
	
								<string>{ -15.88423,-110.48232 }</string>
	
								<string>{ 1.15756,-98.58521 }</string>

							</array>

							<array>
	
								<string>{ -173.44051,-59.03537 }</string>
	
								<string>{ -240.32154,-59.87138 }</string>
	
								<string>{ -93.37621,-32.99035 }</string>
	
								<string>{ -93.05466,-39.09968 }</string>

							</array>

							<array>
	
								<string>{ -201.73633,-75.11253 }</string>
	
								<string>{ -240.32154,-59.87138 }</string>
	
								<string>{ -173.44051,-59.03537 }</string>

							</array>

							<array>
	
								<string>{ -209.13183,-89.90353 }</string>
	
								<string>{ -240.32154,-59.87138 }</string>
	
								<string>{ -201.73633,-75.11253 }</string>

							</array>

							<array>
	
								<string>{ -209.13183,-89.90353 }</string>
	
								<string>{ -200.77170,-100.83601 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -240.32154,-59.87138 }</string>

							</array>

							<array>
	
								<string>{ -175.04823,-112.09003 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -200.77170,-100.83601 }</string>

							</array>

							<array>
	
								<string>{ -146.10932,-115.62701 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -175.04823,-112.09003 }</string>

							</array>

							<array>
	
								<string>{ -85.01607,-116.91318 }</string>
	
								<string>{ 240.51450,-160.19293 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -146.10932,-115.62701 }</string>

							</array>

							<array>
	
								<string>{ 98.90677,-110.48232 }</string>
	
								<string>{ 116.59164,-113.37621 }</string>
	
								<string>{ 240.51450,-160.19293 }</string>
	
								<string>{ -33.56912,-114.98392 }</string>
	
								<string>{ -15.88423,-110.48232 }</string>

							</array>

							<array>
	
								<string>{ -33.56912,-114.98392 }</string>
	
								<string>{ 240.51450,-160.19293 }</string>
	
								<string>{ -85.01607,-116.91318 }</string>

							</array>

							<array>
	
								<string>{ 240.51450,-160.19293 }</string>
	
								<string>{ 192.47589,-52.92604 }</string>
	
								<string>{ 192.47589,-39.42122 }</string>

							</array>

							<array>
	
								<string>{ 240.51450,-160.19293 }</string>
	
								<string>{ 187.65274,-67.71704 }</string>
	
								<string>{ 192.47589,-52.92604 }</string>

							</array>

							<array>
	
								<string>{ 240.51450,-160.19293 }</string>
	
								<string>{ 177.04181,-84.43729 }</string>
	
								<string>{ 187.65274,-67.71704 }</string>

							</array>

							<array>
	
								<string>{ 240.51450,-160.19293 }</string>
	
								<string>{ 163.53699,-97.29903 }</string>
	
								<string>{ 177.04181,-84.43729 }</string>

							</array>

							<array>
	
								<string>{ 240.51450,-160.19293 }</string>
	
								<string>{ 149.06754,-106.30225 }</string>
	
								<string>{ 163.53699,-97.29903 }</string>

							</array>

							<array>
	
								<string>{ 240.51450,-160.19293 }</string>
	
								<string>{ 132.99036,-111.76849 }</string>
	
								<string>{ 149.06754,-106.30225 }</string>

							</array>

							<array>
	
								<string>{ 240.51450,-160.19293 }</string>
	
								<string>{ 116.59164,-113.37621 }</string>
	
								<string>{ 132.99036,-111.76849 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 217.55627,88.55307 }</string>
	
								<string>{ 167.07397,104.63025 }</string>
	
								<string>{ 129.45340,119.09970 }</string>
	
								<string>{ 240.83603,160.06433 }</string>
	
								<string>{ 239.09970,85.98071 }</string>

							</array>

							<array>
	
								<string>{ -49.96783,32.92606 }</string>
	
								<string>{ -68.61736,65.40193 }</string>
	
								<string>{ -56.07716,71.83281 }</string>
	
								<string>{ -42.57234,35.17685 }</string>

							</array>

							<array>
	
								<string>{ -68.61736,65.40193 }</string>
	
								<string>{ -85.33762,102.70096 }</string>
	
								<string>{ -59.29260,84.37300 }</string>
	
								<string>{ -56.07716,71.83281 }</string>

							</array>

							<array>
	
								<string>{ -85.33762,102.70096 }</string>
	
								<string>{ -98.52089,139.67847 }</string>
	
								<string>{ -103.66559,159.74277 }</string>
	
								<string>{ -59.29260,95.62701 }</string>
	
								<string>{ -59.29260,84.37300 }</string>

							</array>

							<array>
	
								<string>{ 83.47269,125.85211 }</string>
	
								<string>{ 66.43088,132.28296 }</string>
	
								<string>{ 240.83603,160.06433 }</string>
	
								<string>{ 129.45340,119.09970 }</string>

							</array>

							<array>
	
								<string>{ -103.66559,159.74277 }</string>
	
								<string>{ -58.97105,104.63025 }</string>
	
								<string>{ -59.29260,95.62701 }</string>

							</array>

							<array>
	
								<string>{ -103.66559,159.74277 }</string>
	
								<string>{ -56.39871,112.34729 }</string>
	
								<string>{ -58.97105,104.63025 }</string>

							</array>

							<array>
	
								<string>{ -103.66559,159.74277 }</string>
	
								<string>{ -48.68167,123.27975 }</string>
	
								<string>{ -56.39871,112.34729 }</string>

							</array>

							<array>
	
								<string>{ -103.66559,159.74277 }</string>
	
								<string>{ -39.03537,130.35370 }</string>
	
								<string>{ -48.68167,123.27975 }</string>

							</array>

							<array>
	
								<string>{ -103.66559,159.74277 }</string>
	
								<string>{ -26.81671,136.14148 }</string>
	
								<string>{ -39.03537,130.35370 }</string>

							</array>

							<array>
	
								<string>{ -103.66559,159.74277 }</string>
	
								<string>{ -14.27652,138.39230 }</string>
	
								<string>{ -26.81671,136.14148 }</string>

							</array>

							<array>
	
								<string>{ 240.83603,160.06433 }</string>
	
								<string>{ -2.05788,138.71384 }</string>
	
								<string>{ -14.27652,138.39230 }</string>
	
								<string>{ -103.66559,159.74277 }</string>

							</array>

							<array>
	
								<string>{ 51.63989,135.81995 }</string>
	
								<string>{ 240.83603,160.06433 }</string>
	
								<string>{ 66.43088,132.28296 }</string>

							</array>

							<array>
	
								<string>{ 37.81351,137.10611 }</string>
	
								<string>{ 240.83603,160.06433 }</string>
	
								<string>{ 51.63989,135.81995 }</string>

							</array>

							<array>
	
								<string>{ -2.05788,138.71384 }</string>
	
								<string>{ 240.83603,160.06433 }</string>
	
								<string>{ 37.81351,137.10611 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

