<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A54</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -3.92722,-160.82370 }</string>
	
								<string>{ -45.75281,-139.15497 }</string>
	
								<string>{ 20.16360,-134.33182 }</string>

							</array>

							<array>
	
								<string>{ -3.92722,-160.82370 }</string>
	
								<string>{ -283.83652,-160.30960 }</string>
	
								<string>{ -75.33481,-138.83343 }</string>
	
								<string>{ -45.75281,-139.15497 }</string>

							</array>

							<array>
	
								<string>{ -143.82355,37.69391 }</string>
	
								<string>{ -168.26085,43.16014 }</string>
	
								<string>{ -115.52773,48.94792 }</string>
	
								<string>{ -118.42162,43.80324 }</string>

							</array>

							<array>
	
								<string>{ -158.61455,29.97687 }</string>
	
								<string>{ -168.26085,43.16014 }</string>
	
								<string>{ -143.82355,37.69391 }</string>

							</array>

							<array>
	
								<string>{ -175.01326,19.36594 }</string>
	
								<string>{ -168.26085,43.16014 }</string>
	
								<string>{ -158.61455,29.97687 }</string>

							</array>

							<array>
	
								<string>{ -189.16117,4.89648 }</string>
	
								<string>{ -284.91685,23.30087 }</string>
	
								<string>{ -168.26085,43.16014 }</string>
	
								<string>{ -175.01326,19.36594 }</string>

							</array>

							<array>
	
								<string>{ -199.45056,-11.18069 }</string>
	
								<string>{ -284.91685,23.30087 }</string>
	
								<string>{ -189.16117,4.89648 }</string>

							</array>

							<array>
	
								<string>{ -199.45056,-11.18069 }</string>
	
								<string>{ -204.27371,-24.04243 }</string>
	
								<string>{ -283.83652,-160.30960 }</string>
	
								<string>{ -284.91685,23.30087 }</string>

							</array>

							<array>
	
								<string>{ -283.83652,-160.30960 }</string>
	
								<string>{ -106.84605,-134.97491 }</string>
	
								<string>{ -75.33481,-138.83343 }</string>

							</array>

							<array>
	
								<string>{ -283.83652,-160.30960 }</string>
	
								<string>{ -141.57274,-125.65015 }</string>
	
								<string>{ -106.84605,-134.97491 }</string>

							</array>

							<array>
	
								<string>{ -283.83652,-160.30960 }</string>
	
								<string>{ -164.08079,-117.61156 }</string>
	
								<string>{ -141.57274,-125.65015 }</string>

							</array>

							<array>
	
								<string>{ -283.83652,-160.30960 }</string>
	
								<string>{ -182.08722,-106.35754 }</string>
	
								<string>{ -164.08079,-117.61156 }</string>

							</array>

							<array>
	
								<string>{ -283.83652,-160.30960 }</string>
	
								<string>{ -191.41197,-98.31896 }</string>
	
								<string>{ -182.08722,-106.35754 }</string>

							</array>

							<array>
	
								<string>{ -283.83652,-160.30960 }</string>
	
								<string>{ -198.80747,-87.70802 }</string>
	
								<string>{ -191.41197,-98.31896 }</string>

							</array>

							<array>
	
								<string>{ -283.83652,-160.30960 }</string>
	
								<string>{ -204.59525,-70.98777 }</string>
	
								<string>{ -198.80747,-87.70802 }</string>

							</array>

							<array>
	
								<string>{ -283.83652,-160.30960 }</string>
	
								<string>{ -207.16760,-54.58905 }</string>
	
								<string>{ -204.59525,-70.98777 }</string>

							</array>

							<array>
	
								<string>{ -283.83652,-160.30960 }</string>
	
								<string>{ -206.84606,-38.19034 }</string>
	
								<string>{ -207.16760,-54.58905 }</string>

							</array>

							<array>
	
								<string>{ -283.83652,-160.30960 }</string>
	
								<string>{ -204.27371,-24.04243 }</string>
	
								<string>{ -206.84606,-38.19034 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 35.43384,-60.86839 }</string>
	
								<string>{ 59.22803,-58.29604 }</string>
	
								<string>{ 72.41132,-68.58543 }</string>
	
								<string>{ 72.08978,-79.19637 }</string>
	
								<string>{ 34.46921,-85.62723 }</string>

							</array>

							<array>
	
								<string>{ 35.43384,-60.86839 }</string>
	
								<string>{ 29.96759,-34.18028 }</string>
	
								<string>{ 50.22482,-42.86195 }</string>
	
								<string>{ 59.22803,-58.29604 }</string>

							</array>

							<array>
	
								<string>{ 29.96759,-34.18028 }</string>
	
								<string>{ 47.65247,-23.56935 }</string>
	
								<string>{ 50.22482,-42.86195 }</string>

							</array>

							<array>
	
								<string>{ 29.96759,-34.18028 }</string>
	
								<string>{ -3.79446,28.97084 }</string>
	
								<string>{ 48.93866,1.51103 }</string>
	
								<string>{ 47.65247,-23.56935 }</string>

							</array>

							<array>
	
								<string>{ 79.48529,49.09946 }</string>
	
								<string>{ 65.65891,24.34062 }</string>
	
								<string>{ 48.93866,1.51103 }</string>
	
								<string>{ -3.79446,28.97084 }</string>

							</array>

							<array>
	
								<string>{ 105.53030,46.52711 }</string>
	
								<string>{ 79.48529,49.09946 }</string>
	
								<string>{ 133.95474,56.30203 }</string>
	
								<string>{ 133.50458,52.31490 }</string>

							</array>

							<array>
	
								<string>{ 80.44992,34.95155 }</string>
	
								<string>{ 79.48529,49.09946 }</string>
	
								<string>{ 105.53030,46.52711 }</string>

							</array>

							<array>
	
								<string>{ 65.65891,24.34062 }</string>
	
								<string>{ 79.48529,49.09946 }</string>
	
								<string>{ 80.44992,34.95155 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 140.99805,-159.85425 }</string>
	
								<string>{ 209.80911,-53.57743 }</string>
	
								<string>{ 218.10754,-42.99734 }</string>
	
								<string>{ 286.06274,24.14500 }</string>
	
								<string>{ 285.39874,-160.87278 }</string>

							</array>

							<array>
	
								<string>{ 133.92380,-102.32219 }</string>
	
								<string>{ 136.78790,-144.86492 }</string>
	
								<string>{ 115.11923,-106.39974 }</string>

							</array>

							<array>
	
								<string>{ 150.12122,-94.35862 }</string>
	
								<string>{ 136.78790,-144.86492 }</string>
	
								<string>{ 133.92380,-102.32219 }</string>

							</array>

							<array>
	
								<string>{ 171.57510,-81.68386 }</string>
	
								<string>{ 136.78790,-144.86492 }</string>
	
								<string>{ 150.12122,-94.35862 }</string>

							</array>

							<array>
	
								<string>{ 209.80911,-53.57743 }</string>
	
								<string>{ 140.99805,-159.85425 }</string>
	
								<string>{ 136.78790,-144.86492 }</string>
	
								<string>{ 171.57510,-81.68386 }</string>

							</array>

							<array>
	
								<string>{ 116.85223,121.69458 }</string>
	
								<string>{ 254.15125,51.27657 }</string>
	
								<string>{ 162.83295,85.68172 }</string>
	
								<string>{ 112.02908,118.92929 }</string>

							</array>

							<array>
	
								<string>{ 254.15125,51.27657 }</string>
	
								<string>{ 196.27344,58.35052 }</string>
	
								<string>{ 162.83295,85.68172 }</string>

							</array>

							<array>
	
								<string>{ 254.15125,51.27657 }</string>
	
								<string>{ 211.70752,40.02255 }</string>
	
								<string>{ 196.27344,58.35052 }</string>

							</array>

							<array>
	
								<string>{ 254.15125,51.27657 }</string>
	
								<string>{ 259.42456,35.32802 }</string>
	
								<string>{ 222.31845,23.94537 }</string>
	
								<string>{ 211.70752,40.02255 }</string>

							</array>

							<array>
	
								<string>{ 259.42456,35.32802 }</string>
	
								<string>{ 286.06274,24.14500 }</string>
	
								<string>{ 227.46317,10.44055 }</string>
	
								<string>{ 222.31845,23.94537 }</string>

							</array>

							<array>
	
								<string>{ 286.06274,24.14500 }</string>
	
								<string>{ 229.07086,-1.77809 }</string>
	
								<string>{ 227.46317,10.44055 }</string>

							</array>

							<array>
	
								<string>{ 286.06274,24.14500 }</string>
	
								<string>{ 229.39240,-16.56909 }</string>
	
								<string>{ 229.07086,-1.77809 }</string>

							</array>

							<array>
	
								<string>{ 286.06274,24.14500 }</string>
	
								<string>{ 224.89081,-32.00318 }</string>
	
								<string>{ 229.39240,-16.56909 }</string>

							</array>

							<array>
	
								<string>{ 286.06274,24.14500 }</string>
	
								<string>{ 218.10754,-42.99734 }</string>
	
								<string>{ 224.89081,-32.00318 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

