<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A24</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 79.61417,-81.86495 }</string>
	
								<string>{ 26.55951,-103.08681 }</string>
	
								<string>{ 41.35049,-74.46945 }</string>

							</array>

							<array>
	
								<string>{ 123.66562,-86.04501 }</string>
	
								<string>{ 7.90997,-122.70096 }</string>
	
								<string>{ 26.55951,-103.08681 }</string>
	
								<string>{ 79.61417,-81.86495 }</string>

							</array>

							<array>
	
								<string>{ -71.18971,-4.69453 }</string>
	
								<string>{ -83.72990,8.48875 }</string>
	
								<string>{ -21.67201,-14.98392 }</string>
	
								<string>{ -31.96141,-21.09325 }</string>

							</array>

							<array>
	
								<string>{ 116.59164,130.35370 }</string>
	
								<string>{ 239.74277,135.17685 }</string>
	
								<string>{ 150.99680,115.56271 }</string>
	
								<string>{ 126.55951,121.02896 }</string>

							</array>

							<array>
	
								<string>{ -94.66237,-0.19292 }</string>
	
								<string>{ -83.72990,8.48875 }</string>
	
								<string>{ -71.18971,-4.69453 }</string>

							</array>

							<array>
	
								<string>{ -120.38585,3.34406 }</string>
	
								<string>{ -166.68810,33.56914 }</string>
	
								<string>{ -83.72990,8.48875 }</string>
	
								<string>{ -94.66237,-0.19292 }</string>

							</array>

							<array>
	
								<string>{ -138.39228,4.30869 }</string>
	
								<string>{ -166.68810,33.56914 }</string>
	
								<string>{ -120.38585,3.34406 }</string>

							</array>

							<array>
	
								<string>{ -156.39871,3.66560 }</string>
	
								<string>{ -166.68810,33.56914 }</string>
	
								<string>{ -138.39228,4.30869 }</string>

							</array>

							<array>
	
								<string>{ -172.47588,-0.19292 }</string>
	
								<string>{ -240.00000,51.57558 }</string>
	
								<string>{ -166.68810,33.56914 }</string>
	
								<string>{ -156.39871,3.66560 }</string>

							</array>

							<array>
	
								<string>{ -186.94534,-8.23151 }</string>
	
								<string>{ -240.00000,51.57558 }</string>
	
								<string>{ -172.47588,-0.19292 }</string>

							</array>

							<array>
	
								<string>{ -194.98392,-14.66237 }</string>
	
								<string>{ -240.00000,51.57558 }</string>
	
								<string>{ -186.94534,-8.23151 }</string>

							</array>

							<array>
	
								<string>{ -202.05788,-24.63022 }</string>
	
								<string>{ -240.00000,51.57558 }</string>
	
								<string>{ -194.98392,-14.66237 }</string>

							</array>

							<array>
	
								<string>{ 239.74277,135.17685 }</string>
	
								<string>{ 165.46625,109.77493 }</string>
	
								<string>{ 150.99680,115.56271 }</string>

							</array>

							<array>
	
								<string>{ 239.74277,135.17685 }</string>
	
								<string>{ 175.75565,101.41479 }</string>
	
								<string>{ 165.46625,109.77493 }</string>

							</array>

							<array>
	
								<string>{ 239.74277,135.17685 }</string>
	
								<string>{ 184.11578,91.44696 }</string>
	
								<string>{ 175.75565,101.41479 }</string>

							</array>

							<array>
	
								<string>{ 239.74277,135.17685 }</string>
	
								<string>{ 191.83282,76.33441 }</string>
	
								<string>{ 184.11578,91.44696 }</string>

							</array>

							<array>
	
								<string>{ 240.19293,-159.87138 }</string>
	
								<string>{ 191.83282,76.33441 }</string>
	
								<string>{ 239.74277,135.17685 }</string>

							</array>

							<array>
	
								<string>{ -205.91640,-35.56270 }</string>
	
								<string>{ -240.00000,51.57558 }</string>
	
								<string>{ -202.05788,-24.63022 }</string>

							</array>

							<array>
	
								<string>{ -205.91640,-35.56270 }</string>
	
								<string>{ -208.16720,-50.03215 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -240.00000,51.57558 }</string>

							</array>

							<array>
	
								<string>{ 123.66562,-86.04501 }</string>
	
								<string>{ 141.02896,-82.50803 }</string>
	
								<string>{ -9.13182,-132.34727 }</string>
	
								<string>{ 7.90997,-122.70096 }</string>

							</array>

							<array>
	
								<string>{ -207.84566,-61.28617 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -208.16720,-50.03215 }</string>

							</array>

							<array>
	
								<string>{ -204.30868,-73.50482 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -207.84566,-61.28617 }</string>

							</array>

							<array>
	
								<string>{ -200.45016,-84.43729 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -204.30868,-73.50482 }</string>

							</array>

							<array>
	
								<string>{ -194.34084,-92.79742 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -200.45016,-84.43729 }</string>

							</array>

							<array>
	
								<string>{ -183.40836,-105.33762 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -194.34084,-92.79742 }</string>

							</array>

							<array>
	
								<string>{ -170.54662,-115.94855 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -183.40836,-105.33762 }</string>

							</array>

							<array>
	
								<string>{ -140.32154,-133.31190 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -170.54662,-115.94855 }</string>

							</array>

							<array>
	
								<string>{ -111.06110,-141.99357 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -140.32154,-133.31190 }</string>

							</array>

							<array>
	
								<string>{ -95.62700,-145.53055 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -111.06110,-141.99357 }</string>

							</array>

							<array>
	
								<string>{ -76.97749,-146.81672 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -95.62700,-145.53055 }</string>

							</array>

							<array>
	
								<string>{ -76.97749,-146.81672 }</string>
	
								<string>{ -51.25401,-145.85209 }</string>
	
								<string>{ 240.19293,-159.87138 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>

							</array>

							<array>
	
								<string>{ 141.02896,-82.50803 }</string>
	
								<string>{ 240.19293,-159.87138 }</string>
	
								<string>{ -26.17363,-140.06431 }</string>
	
								<string>{ -9.13182,-132.34727 }</string>

							</array>

							<array>
	
								<string>{ -26.17363,-140.06431 }</string>
	
								<string>{ 240.19293,-159.87138 }</string>
	
								<string>{ -51.25401,-145.85209 }</string>

							</array>

							<array>
	
								<string>{ 156.14148,-73.18327 }</string>
	
								<string>{ 240.19293,-159.87138 }</string>
	
								<string>{ 141.02896,-82.50803 }</string>

							</array>

							<array>
	
								<string>{ 166.43088,-63.85852 }</string>
	
								<string>{ 240.19293,-159.87138 }</string>
	
								<string>{ 156.14148,-73.18327 }</string>

							</array>

							<array>
	
								<string>{ 174.79102,-52.28295 }</string>
	
								<string>{ 240.19293,-159.87138 }</string>
	
								<string>{ 166.43088,-63.85852 }</string>

							</array>

							<array>
	
								<string>{ 182.18652,-40.06431 }</string>
	
								<string>{ 240.19293,-159.87138 }</string>
	
								<string>{ 174.79102,-52.28295 }</string>

							</array>

							<array>
	
								<string>{ 188.29584,-26.23793 }</string>
	
								<string>{ 240.19293,-159.87138 }</string>
	
								<string>{ 182.18652,-40.06431 }</string>

							</array>

							<array>
	
								<string>{ 195.04825,-0.19292 }</string>
	
								<string>{ 240.19293,-159.87138 }</string>
	
								<string>{ 188.29584,-26.23793 }</string>

							</array>

							<array>
	
								<string>{ 197.62061,28.10291 }</string>
	
								<string>{ 240.19293,-159.87138 }</string>
	
								<string>{ 195.04825,-0.19292 }</string>

							</array>

							<array>
	
								<string>{ 195.36978,56.72026 }</string>
	
								<string>{ 240.19293,-159.87138 }</string>
	
								<string>{ 197.62061,28.10291 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 43.60129,-36.52733 }</string>
	
								<string>{ 43.27975,-17.23473 }</string>
	
								<string>{ 60.00000,-18.84244 }</string>
	
								<string>{ 72.21866,-43.27974 }</string>

							</array>

							<array>
	
								<string>{ 43.27975,-17.23473 }</string>
	
								<string>{ 39.42123,0.45016 }</string>
	
								<string>{ 51.63989,1.09325 }</string>
	
								<string>{ 60.00000,-18.84244 }</string>

							</array>

							<array>
	
								<string>{ 39.42123,0.45016 }</string>
	
								<string>{ 33.95499,20.70740 }</string>
	
								<string>{ 45.85211,21.99358 }</string>
	
								<string>{ 51.63989,1.09325 }</string>

							</array>

							<array>
	
								<string>{ 33.95499,20.70740 }</string>
	
								<string>{ 28.16721,38.71384 }</string>
	
								<string>{ 47.13828,35.81995 }</string>
	
								<string>{ 45.85211,21.99358 }</string>

							</array>

							<array>
	
								<string>{ 19.16400,52.21866 }</string>
	
								<string>{ 50.99680,43.53699 }</string>
	
								<string>{ 47.13828,35.81995 }</string>
	
								<string>{ 28.16721,38.71384 }</string>

							</array>

							<array>
	
								<string>{ -33.89067,77.10611 }</string>
	
								<string>{ -12.02571,69.26045 }</string>
	
								<string>{ -31.31831,70.54663 }</string>

							</array>

							<array>
	
								<string>{ 19.16400,52.21866 }</string>
	
								<string>{ 9.19615,60.90033 }</string>
	
								<string>{ 58.71384,51.25403 }</string>
	
								<string>{ 50.99680,43.53699 }</string>

							</array>

							<array>
	
								<string>{ 143.60129,61.22188 }</string>
	
								<string>{ 93.44052,61.86496 }</string>
	
								<string>{ 91.18973,76.01286 }</string>
	
								<string>{ 146.30228,67.78136 }</string>

							</array>

							<array>
	
								<string>{ 70.28940,56.72026 }</string>
	
								<string>{ 0.19293,65.72348 }</string>
	
								<string>{ -12.02571,69.26045 }</string>
	
								<string>{ -33.89067,77.10611 }</string>
	
								<string>{ 91.18973,76.01286 }</string>
	
								<string>{ 93.44052,61.86496 }</string>

							</array>

							<array>
	
								<string>{ 9.19615,60.90033 }</string>
	
								<string>{ 0.19293,65.72348 }</string>
	
								<string>{ 70.28940,56.72026 }</string>
	
								<string>{ 58.71384,51.25403 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

