<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A18</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -221.56028,93.90071 }</string>
	
								<string>{ -240.70922,161.20569 }</string>
	
								<string>{ -195.39007,161.20569 }</string>

							</array>

							<array>
	
								<string>{ -71.20567,-51.84397 }</string>
	
								<string>{ -135.03546,-21.34752 }</string>
	
								<string>{ -69.78723,-26.66666 }</string>

							</array>

							<array>
	
								<string>{ 111.41846,-160.35461 }</string>
	
								<string>{ -240.35461,-159.29078 }</string>
	
								<string>{ 92.26950,-134.11347 }</string>
	
								<string>{ 105.03546,-143.33333 }</string>

							</array>

							<array>
	
								<string>{ -66.24113,-74.18439 }</string>
	
								<string>{ -135.03546,-21.34752 }</string>
	
								<string>{ -71.20567,-51.84397 }</string>

							</array>

							<array>
	
								<string>{ -55.60283,-95.10638 }</string>
	
								<string>{ -240.35461,-159.29078 }</string>
	
								<string>{ -170.85106,-6.45390 }</string>
	
								<string>{ -135.03546,-21.34752 }</string>
	
								<string>{ -66.24113,-74.18439 }</string>

							</array>

							<array>
	
								<string>{ -220.14184,60.56738 }</string>
	
								<string>{ -240.35461,-159.29078 }</string>
	
								<string>{ -240.70922,161.20569 }</string>
	
								<string>{ -221.56028,93.90071 }</string>

							</array>

							<array>
	
								<string>{ -213.75887,32.55319 }</string>
	
								<string>{ -240.35461,-159.29078 }</string>
	
								<string>{ -220.14184,60.56738 }</string>

							</array>

							<array>
	
								<string>{ -196.02837,10.92200 }</string>
	
								<string>{ -240.35461,-159.29078 }</string>
	
								<string>{ -213.75887,32.55319 }</string>

							</array>

							<array>
	
								<string>{ -170.85106,-6.45390 }</string>
	
								<string>{ -240.35461,-159.29078 }</string>
	
								<string>{ -196.02837,10.92200 }</string>

							</array>

							<array>
	
								<string>{ -39.29077,-109.64539 }</string>
	
								<string>{ -240.35461,-159.29078 }</string>
	
								<string>{ -55.60283,-95.10638 }</string>

							</array>

							<array>
	
								<string>{ -10.92198,-121.70213 }</string>
	
								<string>{ -240.35461,-159.29078 }</string>
	
								<string>{ -39.29077,-109.64539 }</string>

							</array>

							<array>
	
								<string>{ 19.21988,-130.21276 }</string>
	
								<string>{ -240.35461,-159.29078 }</string>
	
								<string>{ -10.92198,-121.70213 }</string>

							</array>

							<array>
	
								<string>{ -240.35461,-159.29078 }</string>
	
								<string>{ 19.21988,-130.21276 }</string>
	
								<string>{ 53.26242,-135.88652 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 139.07803,-7.87233 }</string>
	
								<string>{ 163.19150,51.34752 }</string>
	
								<string>{ 240.42554,160.85107 }</string>
	
								<string>{ 239.78723,40.70923 }</string>

							</array>

							<array>
	
								<string>{ -53.82979,59.85815 }</string>
	
								<string>{ -40.35460,111.98581 }</string>
	
								<string>{ -40.35460,74.75179 }</string>
	
								<string>{ -44.96454,58.08511 }</string>

							</array>

							<array>
	
								<string>{ 92.97873,8.08511 }</string>
	
								<string>{ 118.51065,9.85815 }</string>
	
								<string>{ 139.07803,-7.87233 }</string>
	
								<string>{ 95.10638,-8.22694 }</string>
	
								<string>{ 76.66669,-1.84396 }</string>
	
								<string>{ 77.37589,5.95744 }</string>

							</array>

							<array>
	
								<string>{ 141.91492,18.01419 }</string>
	
								<string>{ 139.07803,-7.87233 }</string>
	
								<string>{ 118.51065,9.85815 }</string>

							</array>

							<array>
	
								<string>{ 155.74469,33.26242 }</string>
	
								<string>{ 139.07803,-7.87233 }</string>
	
								<string>{ 141.91492,18.01419 }</string>

							</array>

							<array>
	
								<string>{ -40.35460,111.98581 }</string>
	
								<string>{ -31.84396,86.80852 }</string>
	
								<string>{ -40.35460,74.75179 }</string>

							</array>

							<array>
	
								<string>{ -40.35460,111.98581 }</string>
	
								<string>{ -19.07800,99.21988 }</string>
	
								<string>{ -31.84396,86.80852 }</string>

							</array>

							<array>
	
								<string>{ -40.35460,111.98581 }</string>
	
								<string>{ -32.90779,160.85107 }</string>
	
								<string>{ -3.82979,111.63123 }</string>
	
								<string>{ -19.07800,99.21988 }</string>

							</array>

							<array>
	
								<string>{ -32.90779,160.85107 }</string>
	
								<string>{ 23.12057,124.75177 }</string>
	
								<string>{ -3.82979,111.63123 }</string>

							</array>

							<array>
	
								<string>{ -32.90779,160.85107 }</string>
	
								<string>{ 57.87234,134.68085 }</string>
	
								<string>{ 23.12057,124.75177 }</string>

							</array>

							<array>
	
								<string>{ 240.42554,160.85107 }</string>
	
								<string>{ 93.33334,133.26242 }</string>
	
								<string>{ 57.87234,134.68085 }</string>
	
								<string>{ -32.90779,160.85107 }</string>

							</array>

							<array>
	
								<string>{ 240.42554,160.85107 }</string>
	
								<string>{ 120.28369,124.04257 }</string>
	
								<string>{ 93.33334,133.26242 }</string>

							</array>

							<array>
	
								<string>{ 240.42554,160.85107 }</string>
	
								<string>{ 141.56030,107.37589 }</string>
	
								<string>{ 120.28369,124.04257 }</string>

							</array>

							<array>
	
								<string>{ 240.42554,160.85107 }</string>
	
								<string>{ 154.32626,90.35461 }</string>
	
								<string>{ 141.56030,107.37589 }</string>

							</array>

							<array>
	
								<string>{ 240.42554,160.85107 }</string>
	
								<string>{ 161.77307,69.07802 }</string>
	
								<string>{ 154.32626,90.35461 }</string>

							</array>

							<array>
	
								<string>{ 240.42554,160.85107 }</string>
	
								<string>{ 163.19150,51.34752 }</string>
	
								<string>{ 161.77307,69.07802 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 163.54611,-139.78723 }</string>
	
								<string>{ 208.51065,-141.98582 }</string>
	
								<string>{ 218.15604,-160.35461 }</string>
	
								<string>{ 149.71631,-160.35461 }</string>
	
								<string>{ 150.07092,-146.24114 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

