<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A54</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -240.58140,-160.58140 }</string>
	
								<string>{ -239.70930,59.36046 }</string>
	
								<string>{ -194.36047,-89.94186 }</string>
	
								<string>{ -195.81395,-160.00000 }</string>

							</array>

							<array>
	
								<string>{ -239.70930,59.36046 }</string>
	
								<string>{ -179.82558,-13.77907 }</string>
	
								<string>{ -194.36047,-89.94186 }</string>

							</array>

							<array>
	
								<string>{ -239.70930,59.36046 }</string>
	
								<string>{ -184.18605,70.52325 }</string>
	
								<string>{ -151.62791,42.32558 }</string>
	
								<string>{ -179.82558,-13.77907 }</string>

							</array>

							<array>
	
								<string>{ -128.08140,74.30232 }</string>
	
								<string>{ -126.33721,62.38371 }</string>
	
								<string>{ -151.62791,42.32558 }</string>
	
								<string>{ -184.18605,70.52325 }</string>

							</array>

							<array>
	
								<string>{ -128.08140,74.30232 }</string>
	
								<string>{ -66.56976,74.47675 }</string>
	
								<string>{ -69.36047,63.83720 }</string>
	
								<string>{ -126.33721,62.38371 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 190.23254,123.43024 }</string>
	
								<string>{ 149.82556,115.58139 }</string>
	
								<string>{ 165.81393,127.20929 }</string>

							</array>

							<array>
	
								<string>{ 34.41861,26.33720 }</string>
	
								<string>{ 76.27905,50.46512 }</string>
	
								<string>{ 70.17441,25.46512 }</string>
	
								<string>{ 60.00000,17.32558 }</string>

							</array>

							<array>
	
								<string>{ 36.45349,-5.93024 }</string>
	
								<string>{ 35.58139,-38.19768 }</string>
	
								<string>{ 32.96512,-52.73256 }</string>
	
								<string>{ -8.02325,-159.41860 }</string>
	
								<string>{ -6.56978,2.38371 }</string>

							</array>

							<array>
	
								<string>{ -3.66280,29.82558 }</string>
	
								<string>{ 27.44186,41.16278 }</string>
	
								<string>{ 76.27905,50.46512 }</string>
	
								<string>{ 34.41861,26.33720 }</string>

							</array>

							<array>
	
								<string>{ 53.89536,-26.86047 }</string>
	
								<string>{ 36.45349,-5.93024 }</string>
	
								<string>{ 75.87210,-18.83720 }</string>
	
								<string>{ 74.24417,-24.24419 }</string>

							</array>

							<array>
	
								<string>{ 35.58139,-38.19768 }</string>
	
								<string>{ 36.45349,-5.93024 }</string>
	
								<string>{ 53.89536,-26.86047 }</string>

							</array>

							<array>
	
								<string>{ 27.44186,41.16278 }</string>
	
								<string>{ -3.66280,29.82558 }</string>
	
								<string>{ -3.66280,37.09302 }</string>

							</array>

							<array>
	
								<string>{ 87.61627,111.80231 }</string>
	
								<string>{ 125.40698,117.03488 }</string>
	
								<string>{ 149.82556,115.58139 }</string>
	
								<string>{ 70.46512,78.66278 }</string>
	
								<string>{ 78.02325,102.79068 }</string>

							</array>

							<array>
	
								<string>{ 149.82556,115.58139 }</string>
	
								<string>{ 190.23254,123.43024 }</string>
	
								<string>{ 87.90698,63.54651 }</string>
	
								<string>{ 57.67441,55.98837 }</string>
	
								<string>{ 70.46512,78.66278 }</string>

							</array>

							<array>
	
								<string>{ 240.23254,-160.00000 }</string>
	
								<string>{ 199.53488,-9.41861 }</string>
	
								<string>{ 197.50000,22.84883 }</string>
	
								<string>{ 205.63953,125.46512 }</string>
	
								<string>{ 239.65115,122.55814 }</string>

							</array>

							<array>
	
								<string>{ 57.67441,55.98837 }</string>
	
								<string>{ 87.90698,63.54651 }</string>
	
								<string>{ 76.27905,50.46512 }</string>
	
								<string>{ 27.44186,41.16278 }</string>

							</array>

							<array>
	
								<string>{ 190.23254,123.43024 }</string>
	
								<string>{ 139.36047,78.08139 }</string>
	
								<string>{ 108.54651,74.88371 }</string>

							</array>

							<array>
	
								<string>{ 190.23254,123.43024 }</string>
	
								<string>{ 167.26743,65.29070 }</string>
	
								<string>{ 139.36047,78.08139 }</string>

							</array>

							<array>
	
								<string>{ 190.23254,123.43024 }</string>
	
								<string>{ 205.63953,125.46512 }</string>
	
								<string>{ 186.74417,48.13953 }</string>
	
								<string>{ 167.26743,65.29070 }</string>

							</array>

							<array>
	
								<string>{ 205.63953,125.46512 }</string>
	
								<string>{ 197.50000,22.84883 }</string>
	
								<string>{ 186.74417,48.13953 }</string>

							</array>

							<array>
	
								<string>{ 240.23254,-160.00000 }</string>
	
								<string>{ 198.37210,-46.91861 }</string>
	
								<string>{ 199.53488,-9.41861 }</string>

							</array>

							<array>
	
								<string>{ 240.23254,-160.00000 }</string>
	
								<string>{ 193.72092,-77.15116 }</string>
	
								<string>{ 198.37210,-46.91861 }</string>

							</array>

							<array>
	
								<string>{ 240.23254,-160.00000 }</string>
	
								<string>{ 183.25580,-100.98837 }</string>
	
								<string>{ 193.72092,-77.15116 }</string>

							</array>

							<array>
	
								<string>{ 240.23254,-160.00000 }</string>
	
								<string>{ 160.58139,-124.53489 }</string>
	
								<string>{ 183.25580,-100.98837 }</string>

							</array>

							<array>
	
								<string>{ -8.02325,-159.41860 }</string>
	
								<string>{ 129.47675,-129.76744 }</string>
	
								<string>{ 160.58139,-124.53489 }</string>
	
								<string>{ 240.23254,-160.00000 }</string>

							</array>

							<array>
	
								<string>{ 32.09302,-71.04652 }</string>
	
								<string>{ -8.02325,-159.41860 }</string>
	
								<string>{ 32.96512,-52.73256 }</string>

							</array>

							<array>
	
								<string>{ 34.12790,-91.97675 }</string>
	
								<string>{ -8.02325,-159.41860 }</string>
	
								<string>{ 32.09302,-71.04652 }</string>

							</array>

							<array>
	
								<string>{ 43.72092,-108.25581 }</string>
	
								<string>{ -8.02325,-159.41860 }</string>
	
								<string>{ 34.12790,-91.97675 }</string>

							</array>

							<array>
	
								<string>{ 57.38373,-121.62791 }</string>
	
								<string>{ -8.02325,-159.41860 }</string>
	
								<string>{ 43.72092,-108.25581 }</string>

							</array>

							<array>
	
								<string>{ 82.38373,-127.44186 }</string>
	
								<string>{ -8.02325,-159.41860 }</string>
	
								<string>{ 57.38373,-121.62791 }</string>

							</array>

							<array>
	
								<string>{ 129.47675,-129.76744 }</string>
	
								<string>{ -8.02325,-159.41860 }</string>
	
								<string>{ 82.38373,-127.44186 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

