<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A44</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 37.17044,89.51770 }</string>
	
								<string>{ 239.09970,108.48877 }</string>
	
								<string>{ 60.64310,78.26367 }</string>
	
								<string>{ 37.17044,82.12219 }</string>

							</array>

							<array>
	
								<string>{ -94.66237,-40.38585 }</string>
	
								<string>{ -80.51447,-60.64308 }</string>
	
								<string>{ -108.81029,-93.44051 }</string>
	
								<string>{ -101.41478,-36.84887 }</string>

							</array>

							<array>
	
								<string>{ -61.86494,-81.86495 }</string>
	
								<string>{ -122.31511,-121.09325 }</string>
	
								<string>{ -108.81029,-93.44051 }</string>
	
								<string>{ -80.51447,-60.64308 }</string>

							</array>

							<array>
	
								<string>{ -45.14468,-94.08360 }</string>
	
								<string>{ -122.31511,-121.09325 }</string>
	
								<string>{ -61.86494,-81.86495 }</string>

							</array>

							<array>
	
								<string>{ -29.38905,-102.44373 }</string>
	
								<string>{ -122.31511,-121.09325 }</string>
	
								<string>{ -45.14468,-94.08360 }</string>

							</array>

							<array>
	
								<string>{ -7.84566,-110.16077 }</string>
	
								<string>{ -122.31511,-121.09325 }</string>
	
								<string>{ -29.38905,-102.44373 }</string>

							</array>

							<array>
	
								<string>{ 239.09970,108.48877 }</string>
	
								<string>{ 79.61417,70.54663 }</string>
	
								<string>{ 60.64310,78.26367 }</string>

							</array>

							<array>
	
								<string>{ 239.09970,108.48877 }</string>
	
								<string>{ 98.26367,58.00644 }</string>
	
								<string>{ 79.61417,70.54663 }</string>

							</array>

							<array>
	
								<string>{ 239.09970,108.48877 }</string>
	
								<string>{ 118.52090,40.64310 }</string>
	
								<string>{ 98.26367,58.00644 }</string>

							</array>

							<array>
	
								<string>{ 239.09970,108.48877 }</string>
	
								<string>{ 136.52734,19.74277 }</string>
	
								<string>{ 118.52090,40.64310 }</string>

							</array>

							<array>
	
								<string>{ 239.09970,108.48877 }</string>
	
								<string>{ 156.46304,-13.37621 }</string>
	
								<string>{ 136.52734,19.74277 }</string>

							</array>

							<array>
	
								<string>{ 240.51450,-159.54984 }</string>
	
								<string>{ 160.96463,-30.09647 }</string>
	
								<string>{ 156.46304,-13.37621 }</string>
	
								<string>{ 239.09970,108.48877 }</string>

							</array>

							<array>
	
								<string>{ -104.95177,48.36014 }</string>
	
								<string>{ -146.10932,57.04181 }</string>
	
								<string>{ -57.36334,60.90033 }</string>
	
								<string>{ -61.54340,57.04181 }</string>

							</array>

							<array>
	
								<string>{ -147.07395,36.46303 }</string>
	
								<string>{ -146.10932,57.04181 }</string>
	
								<string>{ -104.95177,48.36014 }</string>

							</array>

							<array>
	
								<string>{ -177.29903,22.31512 }</string>
	
								<string>{ -240.00000,48.16721 }</string>
	
								<string>{ -146.10932,57.04181 }</string>
	
								<string>{ -147.07395,36.46303 }</string>

							</array>

							<array>
	
								<string>{ -194.98392,2.37943 }</string>
	
								<string>{ -240.00000,48.16721 }</string>
	
								<string>{ -177.29903,22.31512 }</string>

							</array>

							<array>
	
								<string>{ -203.98714,-16.91318 }</string>
	
								<string>{ -240.00000,48.16721 }</string>
	
								<string>{ -194.98392,2.37943 }</string>

							</array>

							<array>
	
								<string>{ -203.98714,-16.91318 }</string>
	
								<string>{ -200.45016,-38.45659 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -240.00000,48.16721 }</string>

							</array>

							<array>
	
								<string>{ -188.87460,-64.82315 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -200.45016,-38.45659 }</string>

							</array>

							<array>
	
								<string>{ -172.79742,-93.11897 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -188.87460,-64.82315 }</string>

							</array>

							<array>
	
								<string>{ -155.11253,-114.66238 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -172.79742,-93.11897 }</string>

							</array>

							<array>
	
								<string>{ -135.17684,-125.27331 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -155.11253,-114.66238 }</string>

							</array>

							<array>
	
								<string>{ -122.31511,-121.09325 }</string>
	
								<string>{ 10.16078,-114.98392 }</string>
	
								<string>{ 34.27655,-118.52090 }</string>
	
								<string>{ 240.51450,-159.54984 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>

							</array>

							<array>
	
								<string>{ 10.16078,-114.98392 }</string>
	
								<string>{ -122.31511,-121.09325 }</string>
	
								<string>{ -7.84566,-110.16077 }</string>

							</array>

							<array>
	
								<string>{ 240.51450,-159.54984 }</string>
	
								<string>{ 163.53699,-43.92283 }</string>
	
								<string>{ 160.96463,-30.09647 }</string>

							</array>

							<array>
	
								<string>{ 240.51450,-159.54984 }</string>
	
								<string>{ 161.60773,-61.92926 }</string>
	
								<string>{ 163.53699,-43.92283 }</string>

							</array>

							<array>
	
								<string>{ 240.51450,-159.54984 }</string>
	
								<string>{ 155.49841,-78.64951 }</string>
	
								<string>{ 161.60773,-61.92926 }</string>

							</array>

							<array>
	
								<string>{ 240.51450,-159.54984 }</string>
	
								<string>{ 142.31512,-94.72668 }</string>
	
								<string>{ 155.49841,-78.64951 }</string>

							</array>

							<array>
	
								<string>{ 240.51450,-159.54984 }</string>
	
								<string>{ 126.88104,-104.37299 }</string>
	
								<string>{ 142.31512,-94.72668 }</string>

							</array>

							<array>
	
								<string>{ 240.51450,-159.54984 }</string>
	
								<string>{ 104.69455,-112.09003 }</string>
	
								<string>{ 126.88104,-104.37299 }</string>

							</array>

							<array>
	
								<string>{ 240.51450,-159.54984 }</string>
	
								<string>{ 85.08038,-115.62701 }</string>
	
								<string>{ 104.69455,-112.09003 }</string>

							</array>

							<array>
	
								<string>{ 240.51450,-159.54984 }</string>
	
								<string>{ 64.50162,-117.23473 }</string>
	
								<string>{ 85.08038,-115.62701 }</string>

							</array>

							<array>
	
								<string>{ 240.51450,-159.54984 }</string>
	
								<string>{ 34.27655,-118.52090 }</string>
	
								<string>{ 64.50162,-117.23473 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

