<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A36</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -239.69040,-159.38080 }</string>
	
								<string>{ -240.30960,54.92259 }</string>
	
								<string>{ -211.82663,-75.47987 }</string>
	
								<string>{ -218.63777,-160.00000 }</string>

							</array>

							<array>
	
								<string>{ -123.01992,-96.86699 }</string>
	
								<string>{ -211.82663,-75.47987 }</string>
	
								<string>{ -140.00000,-79.93569 }</string>
	
								<string>{ -74.74660,-96.87894 }</string>
	
								<string>{ -68.00713,-104.61888 }</string>

							</array>

							<array>
	
								<string>{ -211.82663,-75.47987 }</string>
	
								<string>{ -183.40836,-64.18006 }</string>
	
								<string>{ -140.00000,-79.93569 }</string>

							</array>

							<array>
	
								<string>{ -211.82663,-75.47987 }</string>
	
								<string>{ -201.71742,-52.06992 }</string>
	
								<string>{ -183.40836,-64.18006 }</string>

							</array>

							<array>
	
								<string>{ -211.82663,-75.47987 }</string>
	
								<string>{ -240.30960,54.92259 }</string>
	
								<string>{ -207.49226,-27.18266 }</string>
	
								<string>{ -201.71742,-52.06992 }</string>

							</array>

							<array>
	
								<string>{ -240.30960,54.92259 }</string>
	
								<string>{ -183.65325,-8.60681 }</string>
	
								<string>{ -207.49226,-27.18266 }</string>

							</array>

							<array>
	
								<string>{ -125.44891,32.87926 }</string>
	
								<string>{ -157.64706,1.30031 }</string>
	
								<string>{ -183.65325,-8.60681 }</string>
	
								<string>{ -240.30960,54.92259 }</string>

							</array>

							<array>
	
								<string>{ -125.44891,32.87926 }</string>
	
								<string>{ -119.25697,5.94427 }</string>
	
								<string>{ -157.64706,1.30031 }</string>

							</array>

							<array>
	
								<string>{ -125.44891,32.87926 }</string>
	
								<string>{ -78.39009,5.32507 }</string>
	
								<string>{ -119.25697,5.94427 }</string>

							</array>

							<array>
	
								<string>{ -125.44891,32.87926 }</string>
	
								<string>{ -35.66563,2.22910 }</string>
	
								<string>{ -78.39009,5.32507 }</string>

							</array>

							<array>
	
								<string>{ -35.66563,2.22910 }</string>
	
								<string>{ -125.44891,32.87926 }</string>
	
								<string>{ 22.29102,-5.13931 }</string>
	
								<string>{ 21.60989,-11.70279 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 26.23795,65.72348 }</string>
	
								<string>{ 72.99036,62.95821 }</string>
	
								<string>{ 27.20258,38.07074 }</string>
	
								<string>{ -19.42122,54.79100 }</string>
	
								<string>{ -28.74597,65.20901 }</string>

							</array>

							<array>
	
								<string>{ 72.99036,62.95821 }</string>
	
								<string>{ 57.74921,24.88747 }</string>
	
								<string>{ 27.20258,38.07074 }</string>

							</array>

							<array>
	
								<string>{ 72.99036,62.95821 }</string>
	
								<string>{ 89.58200,52.54021 }</string>
	
								<string>{ 143.27975,-2.44373 }</string>
	
								<string>{ 79.29260,14.91962 }</string>
	
								<string>{ 57.74921,24.88747 }</string>

							</array>

							<array>
	
								<string>{ 169.64630,-25.27330 }</string>
	
								<string>{ 89.26047,8.16721 }</string>
	
								<string>{ 79.29260,14.91962 }</string>
	
								<string>{ 143.27975,-2.44373 }</string>

							</array>

							<array>
	
								<string>{ 230.73956,-92.47588 }</string>
	
								<string>{ 239.74277,-56.78456 }</string>
	
								<string>{ 240.06433,-160.00000 }</string>
	
								<string>{ 231.06110,-160.64309 }</string>

							</array>

							<array>
	
								<string>{ 213.37622,-54.53376 }</string>
	
								<string>{ 239.74277,-56.78456 }</string>
	
								<string>{ 230.73956,-92.47588 }</string>

							</array>

							<array>
	
								<string>{ 187.33121,-42.31511 }</string>
	
								<string>{ 169.64630,-25.27330 }</string>
	
								<string>{ 239.74277,-56.78456 }</string>
	
								<string>{ 213.37622,-54.53376 }</string>

							</array>

							<array>
	
								<string>{ 157.42767,-40.38585 }</string>
	
								<string>{ 169.64630,-25.27330 }</string>
	
								<string>{ 187.33121,-42.31511 }</string>

							</array>

							<array>
	
								<string>{ 116.59164,-50.67524 }</string>
	
								<string>{ 96.33441,-26.88103 }</string>
	
								<string>{ 97.62057,-15.94855 }</string>
	
								<string>{ 169.64630,-25.27330 }</string>
	
								<string>{ 157.42767,-40.38585 }</string>

							</array>

							<array>
	
								<string>{ 18.84244,-84.75884 }</string>
	
								<string>{ 86.04501,-91.83279 }</string>
	
								<string>{ -56.72025,-105.98071 }</string>
	
								<string>{ -49.32475,-97.62057 }</string>

							</array>

							<array>
	
								<string>{ 67.07397,-71.25401 }</string>
	
								<string>{ 86.04501,-91.83279 }</string>
	
								<string>{ 18.84244,-84.75884 }</string>

							</array>

							<array>
	
								<string>{ 67.07397,-71.25401 }</string>
	
								<string>{ 75.75565,-66.43086 }</string>
	
								<string>{ 116.59164,-50.67524 }</string>
	
								<string>{ 86.04501,-91.83279 }</string>

							</array>

							<array>
	
								<string>{ 83.47269,-59.67845 }</string>
	
								<string>{ 116.59164,-50.67524 }</string>
	
								<string>{ 75.75565,-66.43086 }</string>

							</array>

							<array>
	
								<string>{ 90.22510,-49.06752 }</string>
	
								<string>{ 116.59164,-50.67524 }</string>
	
								<string>{ 83.47269,-59.67845 }</string>

							</array>

							<array>
	
								<string>{ 94.08362,-38.13505 }</string>
	
								<string>{ 116.59164,-50.67524 }</string>
	
								<string>{ 90.22510,-49.06752 }</string>

							</array>

							<array>
	
								<string>{ 96.33441,-26.88103 }</string>
	
								<string>{ 116.59164,-50.67524 }</string>
	
								<string>{ 94.08362,-38.13505 }</string>

							</array>

							<array>
	
								<string>{ 96.33441,-2.76527 }</string>
	
								<string>{ 169.64630,-25.27330 }</string>
	
								<string>{ 97.62057,-15.94855 }</string>

							</array>

							<array>
	
								<string>{ 89.26047,8.16721 }</string>
	
								<string>{ 169.64630,-25.27330 }</string>
	
								<string>{ 96.33441,-2.76527 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 208.55307,42.25081 }</string>
	
								<string>{ 114.66238,65.20901 }</string>
	
								<string>{ 240.19293,61.35049 }</string>
	
								<string>{ 239.74277,42.89389 }</string>

							</array>

							<array>
	
								<string>{ 141.02896,30.99680 }</string>
	
								<string>{ 126.88104,40.96463 }</string>
	
								<string>{ 117.87784,54.14792 }</string>
	
								<string>{ 114.66238,65.20901 }</string>
	
								<string>{ 176.39874,33.89069 }</string>
	
								<string>{ 157.42767,21.02895 }</string>

							</array>

							<array>
	
								<string>{ 176.39874,33.89069 }</string>
	
								<string>{ 114.66238,65.20901 }</string>
	
								<string>{ 208.55307,42.25081 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

