<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A27</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>isSensor</key>
                        <false/>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
						<key>polygons</key>
						<array>
							<array>	
								<string>{ 241.31250,-17.18750 }</string>	
								<string>{ 180.90384,100.86539 }</string>	
								<string>{ 265.32007,89.42307 }</string>
							</array>
							<array>	
								<string>{ 82.55219,-62.87088 }</string>	
								<string>{ 57.00275,-87.87088 }</string>	
								<string>{ 65.51923,-44.46429 }</string>
							</array>
							<array>	
								<string>{ 97.93680,-78.25549 }</string>	
								<string>{ 57.00275,-87.87088 }</string>	
								<string>{ 82.55219,-62.87088 }</string>
							</array>
							<array>	
								<string>{ -183.65659,56.63461 }</string>	
								<string>{ -192.17308,6.63461 }</string>	
								<string>{ -284.31250,-160.03777 }</string>	
								<string>{ -283.96223,29.37843 }</string>
							</array>
							<array>	
								<string>{ 119.36539,-97.48627 }</string>	
								<string>{ 52.88187,-99.40934 }</string>	
								<string>{ 57.00275,-87.87088 }</string>	
								<string>{ 97.93680,-78.25549 }</string>
							</array>
							<array>	
								<string>{ 284.74658,-161.12294 }</string>	
								<string>{ 241.31250,-17.18750 }</string>	
								<string>{ 284.12500,-48.12500 }</string>
							</array>
							<array>	
								<string>{ -151.23901,54.43681 }</string>	
								<string>{ -183.65659,56.63461 }</string>	
								<string>{ -128.71155,66.52472 }</string>	
								<string>{ -128.43681,61.03021 }</string>
							</array>
							<array>	
								<string>{ -168.82143,45.64560 }</string>	
								<string>{ -183.65659,56.63461 }</string>	
								<string>{ -151.23901,54.43681 }</string>
							</array>
							<array>	
								<string>{ -179.81044,36.57967 }</string>	
								<string>{ -183.65659,56.63461 }</string>	
								<string>{ -168.82143,45.64560 }</string>
							</array>
							<array>	
								<string>{ -186.40385,27.78845 }</string>	
								<string>{ -183.65659,56.63461 }</string>	
								<string>{ -179.81044,36.57967 }</string>
							</array>
							<array>	
								<string>{ 119.36539,-97.48627 }</string>	
								<string>{ 136.12363,-109.57418 }</string>	
								<string>{ 45.46426,-111.22253 }</string>	
								<string>{ 52.88187,-99.40934 }</string>
							</array>
							<array>	
								<string>{ 284.74658,-161.12294 }</string>	
								<string>{ 211.67307,-4.07968 }</string>	
								<string>{ 204.53021,15.70055 }</string>	
								<string>{ 180.90384,100.86539 }</string>	
								<string>{ 241.31250,-17.18750 }</string>
							</array>
							<array>	
								<string>{ 136.12363,-109.57418 }</string>	
								<string>{ 145.46426,-115.89286 }</string>	
								<string>{ 33.10165,-120.01374 }</string>	
								<string>{ 45.46426,-111.22253 }</string>
							</array>
							<array>	
								<string>{ -190.25000,16.79944 }</string>	
								<string>{ -183.65659,56.63461 }</string>	
								<string>{ -186.40385,27.78845 }</string>
							</array>
							<array>	
								<string>{ 86.39835,97.29395 }</string>	
								<string>{ 180.90384,100.86539 }</string>	
								<string>{ 149.58514,67.89835 }</string>	
								<string>{ 87.22250,93.72252 }</string>
							</array>
							<array>	
								<string>{ 180.90384,100.86539 }</string>	
								<string>{ 163.32141,60.75549 }</string>	
								<string>{ 149.58514,67.89835 }</string>
							</array>
							<array>	
								<string>{ 180.90384,100.86539 }</string>	
								<string>{ 174.31042,53.61263 }</string>	
								<string>{ 163.32141,60.75549 }</string>
							</array>
							<array>	
								<string>{ 180.90384,100.86539 }</string>	
								<string>{ 189.69504,37.67856 }</string>	
								<string>{ 174.31042,53.61263 }</string>
							</array>
							<array>	
								<string>{ 180.90384,100.86539 }</string>	
								<string>{ 204.53021,15.70055 }</string>	
								<string>{ 189.69504,37.67856 }</string>
							</array>
							<array>	
								<string>{ 157.55219,-118.64011 }</string>	
								<string>{ 284.74658,-161.12294 }</string>	
								<string>{ 16.34338,-122.76099 }</string>	
								<string>{ 33.10165,-120.01374 }</string>	
								<string>{ 145.46426,-115.89286 }</string>
							</array>
							<array>	
								<string>{ -192.44781,-12.04671 }</string>	
								<string>{ -284.31250,-160.03777 }</string>	
								<string>{ -192.17308,6.63461 }</string>
							</array>
							<array>	
								<string>{ -185.57967,-30.45329 }</string>	
								<string>{ -284.31250,-160.03777 }</string>	
								<string>{ -192.44781,-12.04671 }</string>
							</array>
							<array>	
								<string>{ -169.09615,-56.00275 }</string>	
								<string>{ -284.31250,-160.03777 }</string>	
								<string>{ -185.57967,-30.45329 }</string>
							</array>
							<array>	
								<string>{ -142.99725,-77.98077 }</string>	
								<string>{ -284.31250,-160.03777 }</string>	
								<string>{ -169.09615,-56.00275 }</string>
							</array>
							<array>	
								<string>{ -115.79945,-95.83791 }</string>	
								<string>{ -284.31250,-160.03777 }</string>	
								<string>{ -142.99725,-77.98077 }</string>
							</array>
							<array>	
								<string>{ -74.31593,-110.67308 }</string>	
								<string>{ -284.31250,-160.03777 }</string>	
								<string>{ -115.79945,-95.83791 }</string>
							</array>
							<array>	
								<string>{ -34.20605,-118.91484 }</string>	
								<string>{ -284.31250,-160.03777 }</string>	
								<string>{ -74.31593,-110.67308 }</string>
							</array>
							<array>	
								<string>{ -34.20605,-118.91484 }</string>	
								<string>{ 284.74658,-161.12294 }</string>	
								<string>{ -284.31250,-160.03777 }</string>
							</array>
							<array>	
								<string>{ 284.74658,-161.12294 }</string>	
								<string>{ 214.42032,-27.43132 }</string>	
								<string>{ 211.67307,-4.07968 }</string>
							</array>
							<array>	
								<string>{ 284.74658,-161.12294 }</string>	
								<string>{ 211.94778,-48.58517 }</string>	
								<string>{ 214.42032,-27.43132 }</string>
							</array>
							<array>	
								<string>{ 284.74658,-161.12294 }</string>	
								<string>{ 205.90384,-69.18956 }</string>	
								<string>{ 211.94778,-48.58517 }</string>
							</array>
							<array>	
								<string>{ 284.74658,-161.12294 }</string>	
								<string>{ 201.23349,-80.45330 }</string>	
								<string>{ 205.90384,-69.18956 }</string>
							</array>
							<array>	
								<string>{ 284.74658,-161.12294 }</string>	
								<string>{ 195.73898,-90.34341 }</string>	
								<string>{ 201.23349,-80.45330 }</string>
							</array>
							<array>	
								<string>{ 284.74658,-161.12294 }</string>	
								<string>{ 186.67307,-103.25550 }</string>	
								<string>{ 195.73898,-90.34341 }</string>
							</array>
							<array>	
								<string>{ 284.74658,-161.12294 }</string>	
								<string>{ 179.53021,-110.12363 }</string>	
								<string>{ 186.67307,-103.25550 }</string>
							</array>
							<array>	
								<string>{ 284.74658,-161.12294 }</string>	
								<string>{ 168.54120,-116.71703 }</string>	
								<string>{ 179.53021,-110.12363 }</string>
							</array>
							<array>	
								<string>{ 284.74658,-161.12294 }</string>	
								<string>{ 157.55219,-118.64011 }</string>	
								<string>{ 168.54120,-116.71703 }</string>
							</array>
							<array>	
								<string>{ 284.74658,-161.12294 }</string>	
								<string>{ -4.26099,-122.21154 }</string>	
								<string>{ 16.34338,-122.76099 }</string>
							</array>
						</array>
                        
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>isSensor</key>
                        <false/>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
						<key>polygons</key>
						<array>
							<array>	
								<string>{ -57.83243,66.81319 }</string>	
								<string>{ -33.10715,58.40659 }</string>	
								<string>{ -57.55769,58.40659 }</string>
							</array>
							<array>	
								<string>{ 73.76099,56.48351 }</string>	
								<string>{ 49.58514,70.76923 }</string>	
								<string>{ 102.77197,65.16483 }</string>	
								<string>{ 103.15659,58.40659 }</string>
							</array>
							<array>	
								<string>{ 58.37637,49.61537 }</string>	
								<string>{ 49.58514,70.76923 }</string>	
								<string>{ 73.76099,56.48351 }</string>
							</array>
							<array>	
								<string>{ 47.11264,38.62637 }</string>	
								<string>{ -57.83243,66.81319 }</string>	
								<string>{ 49.58514,70.76923 }</string>	
								<string>{ 58.37637,49.61537 }</string>
							</array>
							<array>	
								<string>{ 44.64011,23.51648 }</string>	
								<string>{ 26.23352,37.25275 }</string>	
								<string>{ 47.11264,38.62637 }</string>	
								<string>{ 47.93680,22.96703 }</string>
							</array>
							<array>	
								<string>{ 5.35440,47.96703 }</string>	
								<string>{ 47.11264,38.62637 }</string>	
								<string>{ 26.23352,37.25275 }</string>
							</array>
							<array>	
								<string>{ -57.83243,66.81319 }</string>	
								<string>{ -11.67859,54.01099 }</string>	
								<string>{ -33.10715,58.40659 }</string>
							</array>
							<array>	
								<string>{ -11.67859,54.01099 }</string>	
								<string>{ 47.11264,38.62637 }</string>	
								<string>{ 5.35440,47.96703 }</string>
							</array>
						</array>
                        
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>isSensor</key>
                        <false/>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
						<key>polygons</key>
						<array>
							<array>	
								<string>{ 7.55219,26.26373 }</string>	
								<string>{ 44.25549,-22.74725 }</string>	
								<string>{ 40.79395,-37.74725 }</string>	
								<string>{ -1.23901,24.89011 }</string>	
								<string>{ -1.78848,32.74725 }</string>
							</array>
						</array>
                        
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>




