<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entities</key>
	<array>
		<dict>
			<key>components</key>
			<dict>
				<key>slinger</key>
				<dict>
					<key>queuedBeeTypes</key>
					<array>
						<string>BEE</string>
					</array>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{ 123.00, 282.00 }</string>
					<key>rotation</key>
					<real>328</real>
					<key>scale</key>
					<string>{ 1.00, 1.00 }</string>
				</dict>
			</dict>
			<key>type</key>
			<string>SLINGER</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{ 263.00, 136.00 }</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{ 263.00, 136.00 }</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{ 1.00, 1.00 }</string>
				</dict>
			</dict>
			<key>type</key>
			<string>POLLEN-ORANGE</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>beeater</key>
				<dict>
					<key>containedBeeType</key>
					<string>BEE</string>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{ 132.00, 44.00 }</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{ 132.00, 44.00 }</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{ -1.00, 1.00 }</string>
				</dict>
			</dict>
			<key>type</key>
			<string>BEEATER-LAND-A</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>beeater</key>
				<dict>
					<key>containedBeeType</key>
					<string>BEE</string>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{ 413.00, 216.00 }</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{ 413.00, 216.00 }</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{ 1.00, 1.00 }</string>
				</dict>
			</dict>
			<key>type</key>
			<string>BEEATER-LAND-A</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>beeater</key>
				<dict>
					<key>containedBeeType</key>
					<string>BEE</string>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{ 378.00, 57.00 }</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{ 378.00, 57.00 }</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{ 1.00, 1.00 }</string>
				</dict>
			</dict>
			<key>type</key>
			<string>BEEATER-LAND-A</string>
		</dict>
	</array>
	<key>format</key>
	<integer>2</integer>
	<key>hasWater</key>
	<true/>
	<key>name</key>
	<string>Level-A9</string>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
