<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A43</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -18.66243,-37.07007 }</string>
	
								<string>{ -5.09555,15.98726 }</string>
	
								<string>{ -6.56052,-68.28026 }</string>
	
								<string>{ -13.56688,-68.59873 }</string>

							</array>

							<array>
	
								<string>{ -31.08281,-17.32484 }</string>
	
								<string>{ -5.09555,15.98726 }</string>
	
								<string>{ -18.66243,-37.07007 }</string>

							</array>

							<array>
	
								<string>{ -57.19746,-2.99364 }</string>
	
								<string>{ -5.09555,15.98726 }</string>
	
								<string>{ -31.08281,-17.32484 }</string>

							</array>

							<array>
	
								<string>{ -93.82166,-2.03822 }</string>
	
								<string>{ -241.27389,20.76433 }</string>
	
								<string>{ -5.09555,15.98726 }</string>
	
								<string>{ -57.19746,-2.99364 }</string>

							</array>

							<array>
	
								<string>{ -156.24204,-18.59872 }</string>
	
								<string>{ -241.27389,20.76433 }</string>
	
								<string>{ -93.82166,-2.03822 }</string>

							</array>

							<array>
	
								<string>{ -175.35032,-43.43949 }</string>
	
								<string>{ -241.27389,20.76433 }</string>
	
								<string>{ -156.24204,-18.59872 }</string>

							</array>

							<array>
	
								<string>{ -175.35032,-43.43949 }</string>
	
								<string>{ -175.66879,-71.78344 }</string>
	
								<string>{ -240.95541,-160.31847 }</string>
	
								<string>{ -241.27389,20.76433 }</string>

							</array>

							<array>
	
								<string>{ -166.43312,-93.12103 }</string>
	
								<string>{ -240.95541,-160.31847 }</string>
	
								<string>{ -175.66879,-71.78344 }</string>

							</array>

							<array>
	
								<string>{ -148.91720,-113.18472 }</string>
	
								<string>{ -240.95541,-160.31847 }</string>
	
								<string>{ -166.43312,-93.12103 }</string>

							</array>

							<array>
	
								<string>{ -120.25478,-130.70064 }</string>
	
								<string>{ -240.95541,-160.31847 }</string>
	
								<string>{ -148.91720,-113.18472 }</string>

							</array>

							<array>
	
								<string>{ -81.08281,-139.93631 }</string>
	
								<string>{ -240.95541,-160.31847 }</string>
	
								<string>{ -120.25478,-130.70064 }</string>

							</array>

							<array>
	
								<string>{ -9.74522,100.19107 }</string>
	
								<string>{ 48.21655,98.91718 }</string>
	
								<string>{ 52.35669,88.40764 }</string>
	
								<string>{ -14.20383,93.50317 }</string>

							</array>

							<array>
	
								<string>{ 48.21655,98.91718 }</string>
	
								<string>{ 239.93628,85.54140 }</string>
	
								<string>{ 95.35031,80.44585 }</string>
	
								<string>{ 52.35669,88.40764 }</string>

							</array>

							<array>
	
								<string>{ 239.93628,85.54140 }</string>
	
								<string>{ 131.97452,65.15923 }</string>
	
								<string>{ 95.35031,80.44585 }</string>

							</array>

							<array>
	
								<string>{ 239.93628,85.54140 }</string>
	
								<string>{ 159.68152,43.18471 }</string>
	
								<string>{ 131.97452,65.15923 }</string>

							</array>

							<array>
	
								<string>{ 239.93628,85.54140 }</string>
	
								<string>{ 175.92355,13.56688 }</string>
	
								<string>{ 159.68152,43.18471 }</string>

							</array>

							<array>
	
								<string>{ 240.89169,-160.00000 }</string>
	
								<string>{ 182.61145,-16.68790 }</string>
	
								<string>{ 175.92355,13.56688 }</string>
	
								<string>{ 239.93628,85.54140 }</string>

							</array>

							<array>
	
								<string>{ -81.08281,-139.93631 }</string>
	
								<string>{ 240.89169,-160.00000 }</string>
	
								<string>{ -240.95541,-160.31847 }</string>

							</array>

							<array>
	
								<string>{ 240.89169,-160.00000 }</string>
	
								<string>{ 181.01910,-46.30573 }</string>
	
								<string>{ 182.61145,-16.68790 }</string>

							</array>

							<array>
	
								<string>{ 240.89169,-160.00000 }</string>
	
								<string>{ 177.19745,-73.05733 }</string>
	
								<string>{ 181.01910,-46.30573 }</string>

							</array>

							<array>
	
								<string>{ 240.89169,-160.00000 }</string>
	
								<string>{ 165.09552,-100.76433 }</string>
	
								<string>{ 177.19745,-73.05733 }</string>

							</array>

							<array>
	
								<string>{ 240.89169,-160.00000 }</string>
	
								<string>{ 150.44586,-118.28025 }</string>
	
								<string>{ 165.09552,-100.76433 }</string>

							</array>

							<array>
	
								<string>{ 240.89169,-160.00000 }</string>
	
								<string>{ 116.68790,-131.33758 }</string>
	
								<string>{ 150.44586,-118.28025 }</string>

							</array>

							<array>
	
								<string>{ 240.89169,-160.00000 }</string>
	
								<string>{ 82.92993,-139.61784 }</string>
	
								<string>{ 116.68790,-131.33758 }</string>

							</array>

							<array>
	
								<string>{ 240.89169,-160.00000 }</string>
	
								<string>{ 29.10828,-142.16561 }</string>
	
								<string>{ 82.92993,-139.61784 }</string>

							</array>

							<array>
	
								<string>{ 240.89169,-160.00000 }</string>
	
								<string>{ -13.24841,-143.12102 }</string>
	
								<string>{ 29.10828,-142.16561 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 230.06369,149.55414 }</string>
	
								<string>{ 239.80890,160.89172 }</string>
	
								<string>{ 240.89169,110.70062 }</string>

							</array>

							<array>
	
								<string>{ -22.48409,156.87897 }</string>
	
								<string>{ -60.38217,161.21017 }</string>
	
								<string>{ 239.80890,160.89172 }</string>
	
								<string>{ 230.06369,149.55414 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

