<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A39</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -99.37402,-119.47928 }</string>
	
								<string>{ -103.16655,-161.87853 }</string>
	
								<string>{ -126.82327,-126.01285 }</string>
	
								<string>{ -122.04715,-109.29644 }</string>

							</array>

							<array>
	
								<string>{ 20.56168,-107.58218 }</string>
	
								<string>{ -38.28076,-107.58218 }</string>
	
								<string>{ -12.55728,-84.43105 }</string>

							</array>

							<array>
	
								<string>{ -83.61839,-123.65935 }</string>
	
								<string>{ -103.16655,-161.87853 }</string>
	
								<string>{ -99.37402,-119.47928 }</string>

							</array>

							<array>
	
								<string>{ -64.64732,-122.37317 }</string>
	
								<string>{ -103.16655,-161.87853 }</string>
	
								<string>{ -83.61839,-123.65935 }</string>

							</array>

							<array>
	
								<string>{ 107.69995,57.69115 }</string>
	
								<string>{ 283.24133,50.46387 }</string>
	
								<string>{ 133.10187,30.68149 }</string>
	
								<string>{ 107.69995,47.08022 }</string>

							</array>

							<array>
	
								<string>{ 67.18549,-131.05485 }</string>
	
								<string>{ -103.16655,-161.87853 }</string>
	
								<string>{ -52.75023,-118.19311 }</string>
	
								<string>{ -38.28076,-107.58218 }</string>
	
								<string>{ 20.56168,-107.58218 }</string>

							</array>

							<array>
	
								<string>{ 283.24133,50.46387 }</string>
	
								<string>{ 153.35910,11.71043 }</string>
	
								<string>{ 133.10187,30.68149 }</string>

							</array>

							<array>
	
								<string>{ 285.01306,-160.37292 }</string>
	
								<string>{ 170.40091,-12.72687 }</string>
	
								<string>{ 153.35910,11.71043 }</string>
	
								<string>{ 283.24133,50.46387 }</string>

							</array>

							<array>
	
								<string>{ -52.75023,-118.19311 }</string>
	
								<string>{ -103.16655,-161.87853 }</string>
	
								<string>{ -64.64732,-122.37317 }</string>

							</array>

							<array>
	
								<string>{ 97.73209,-143.27350 }</string>
	
								<string>{ -103.16655,-161.87853 }</string>
	
								<string>{ 67.18549,-131.05485 }</string>

							</array>

							<array>
	
								<string>{ 119.59705,-148.09665 }</string>
	
								<string>{ -103.16655,-161.87853 }</string>
	
								<string>{ 97.73209,-143.27350 }</string>

							</array>

							<array>
	
								<string>{ 119.59705,-148.09665 }</string>
	
								<string>{ 137.60349,-148.09665 }</string>
	
								<string>{ 285.01306,-160.37292 }</string>
	
								<string>{ -103.16655,-161.87853 }</string>

							</array>

							<array>
	
								<string>{ 151.75140,-145.20276 }</string>
	
								<string>{ 285.01306,-160.37292 }</string>
	
								<string>{ 137.60349,-148.09665 }</string>

							</array>

							<array>
	
								<string>{ 169.43628,-138.12880 }</string>
	
								<string>{ 285.01306,-160.37292 }</string>
	
								<string>{ 151.75140,-145.20276 }</string>

							</array>

							<array>
	
								<string>{ 181.01184,-127.83941 }</string>
	
								<string>{ 285.01306,-160.37292 }</string>
	
								<string>{ 169.43628,-138.12880 }</string>

							</array>

							<array>
	
								<string>{ 188.08578,-117.55002 }</string>
	
								<string>{ 285.01306,-160.37292 }</string>
	
								<string>{ 181.01184,-127.83941 }</string>

							</array>

							<array>
	
								<string>{ 192.90894,-102.75903 }</string>
	
								<string>{ 285.01306,-160.37292 }</string>
	
								<string>{ 188.08578,-117.55002 }</string>

							</array>

							<array>
	
								<string>{ 194.51666,-86.36031 }</string>
	
								<string>{ 285.01306,-160.37292 }</string>
	
								<string>{ 192.90894,-102.75903 }</string>

							</array>

							<array>
	
								<string>{ 193.87360,-71.56931 }</string>
	
								<string>{ 285.01306,-160.37292 }</string>
	
								<string>{ 194.51666,-86.36031 }</string>

							</array>

							<array>
	
								<string>{ 190.33661,-56.45677 }</string>
	
								<string>{ 285.01306,-160.37292 }</string>
	
								<string>{ 193.87360,-71.56931 }</string>

							</array>

							<array>
	
								<string>{ 186.15652,-41.98732 }</string>
	
								<string>{ 285.01306,-160.37292 }</string>
	
								<string>{ 190.33661,-56.45677 }</string>

							</array>

							<array>
	
								<string>{ 170.40091,-12.72687 }</string>
	
								<string>{ 285.01306,-160.37292 }</string>
	
								<string>{ 186.15652,-41.98732 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 31.36511,-54.66285 }</string>
	
								<string>{ -2.47476,-40.48117 }</string>
	
								<string>{ -51.99538,-17.46512 }</string>
	
								<string>{ 56.26285,-24.38550 }</string>
	
								<string>{ 48.21310,-54.09758 }</string>

							</array>

							<array>
	
								<string>{ -77.40320,-19.50598 }</string>
	
								<string>{ -77.85982,-30.46489 }</string>
	
								<string>{ -95.21141,-36.40096 }</string>
	
								<string>{ -100.34875,-32.56504 }</string>

							</array>

							<array>
	
								<string>{ -77.40320,-19.50598 }</string>
	
								<string>{ -51.99538,-17.46512 }</string>
	
								<string>{ -55.25339,-30.12572 }</string>
	
								<string>{ -77.85982,-30.46489 }</string>

							</array>

							<array>
	
								<string>{ -51.99538,-17.46512 }</string>
	
								<string>{ -29.11147,-33.99745 }</string>
	
								<string>{ -55.25339,-30.12572 }</string>

							</array>

							<array>
	
								<string>{ -29.11147,-33.99745 }</string>
	
								<string>{ -51.99538,-17.46512 }</string>
	
								<string>{ -2.47476,-40.48117 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -201.48276,-83.92063 }</string>
	
								<string>{ -190.73649,-62.72660 }</string>
	
								<string>{ -166.41212,-76.31003 }</string>

							</array>

							<array>
	
								<string>{ -201.48276,-83.92063 }</string>
	
								<string>{ -285.85362,-51.81922 }</string>
	
								<string>{ -285.52249,9.22359 }</string>
	
								<string>{ -202.97529,-48.69675 }</string>
	
								<string>{ -190.73649,-62.72660 }</string>

							</array>

							<array>
	
								<string>{ -159.99022,21.15399 }</string>
	
								<string>{ -285.52249,9.22359 }</string>
	
								<string>{ -115.51260,38.76593 }</string>
	
								<string>{ -115.81111,31.00475 }</string>

							</array>

							<array>
	
								<string>{ -285.52249,9.22359 }</string>
	
								<string>{ -209.24395,-35.86093 }</string>
	
								<string>{ -202.97529,-48.69675 }</string>

							</array>

							<array>
	
								<string>{ -285.52249,9.22359 }</string>
	
								<string>{ -211.03500,-23.92064 }</string>
	
								<string>{ -209.24395,-35.86093 }</string>

							</array>

							<array>
	
								<string>{ -285.52249,9.22359 }</string>
	
								<string>{ -208.94544,-13.47287 }</string>
	
								<string>{ -211.03500,-23.92064 }</string>

							</array>

							<array>
	
								<string>{ -285.52249,9.22359 }</string>
	
								<string>{ -203.57230,-5.11467 }</string>
	
								<string>{ -208.94544,-13.47287 }</string>

							</array>

							<array>
	
								<string>{ -285.52249,9.22359 }</string>
	
								<string>{ -195.51260,3.54205 }</string>
	
								<string>{ -203.57230,-5.11467 }</string>

							</array>

							<array>
	
								<string>{ -285.52249,9.22359 }</string>
	
								<string>{ -184.76633,11.30325 }</string>
	
								<string>{ -195.51260,3.54205 }</string>

							</array>

							<array>
	
								<string>{ -285.52249,9.22359 }</string>
	
								<string>{ -172.52753,16.67638 }</string>
	
								<string>{ -184.76633,11.30325 }</string>

							</array>

							<array>
	
								<string>{ -172.52753,16.67638 }</string>
	
								<string>{ -285.52249,9.22359 }</string>
	
								<string>{ -159.99022,21.15399 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

