<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A35</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 239.93628,-136.75159 }</string>
	
								<string>{ 128.48877,-23.66559 }</string>
	
								<string>{ 120.82800,-13.50319 }</string>
	
								<string>{ 114.77707,30.76433 }</string>
	
								<string>{ 240.57324,9.10828 }</string>

							</array>

							<array>
	
								<string>{ -204.33121,-24.33121 }</string>
	
								<string>{ -209.74522,9.10828 }</string>
	
								<string>{ -193.82166,-3.94905 }</string>

							</array>

							<array>
	
								<string>{ -55.60510,-31.65605 }</string>
	
								<string>{ -34.26752,-61.59236 }</string>
	
								<string>{ -133.31210,-60.63695 }</string>
	
								<string>{ -75.66879,-32.92994 }</string>
	
								<string>{ -65.47771,-29.74522 }</string>

							</array>

							<array>
	
								<string>{ -10.06371,-83.24841 }</string>
	
								<string>{ -147.71704,-67.39549 }</string>
	
								<string>{ -133.31210,-60.63695 }</string>
	
								<string>{ -34.26752,-61.59236 }</string>

							</array>

							<array>
	
								<string>{ -16.75160,46.36942 }</string>
	
								<string>{ 114.77707,30.76433 }</string>
	
								<string>{ 31.99603,28.85350 }</string>
	
								<string>{ -15.18074,38.71382 }</string>

							</array>

							<array>
	
								<string>{ 114.77707,30.76433 }</string>
	
								<string>{ 65.09552,18.66241 }</string>
	
								<string>{ 31.99603,28.85350 }</string>

							</array>

							<array>
	
								<string>{ 114.77707,30.76433 }</string>
	
								<string>{ 82.50806,12.02573 }</string>
	
								<string>{ 65.09552,18.66241 }</string>

							</array>

							<array>
	
								<string>{ 114.77707,30.76433 }</string>
	
								<string>{ 98.85349,4.01273 }</string>
	
								<string>{ 82.50806,12.02573 }</string>

							</array>

							<array>
	
								<string>{ 114.77707,30.76433 }</string>
	
								<string>{ 111.44696,-3.72990 }</string>
	
								<string>{ 98.85349,4.01273 }</string>

							</array>

							<array>
	
								<string>{ 114.77707,30.76433 }</string>
	
								<string>{ 120.82800,-13.50319 }</string>
	
								<string>{ 111.44696,-3.72990 }</string>

							</array>

							<array>
	
								<string>{ -158.47134,58.16515 }</string>
	
								<string>{ -182.35669,67.70700 }</string>
	
								<string>{ -128.02548,65.66878 }</string>
	
								<string>{ -127.89502,61.35600 }</string>

							</array>

							<array>
	
								<string>{ -178.51660,55.29890 }</string>
	
								<string>{ -182.35669,67.70700 }</string>
	
								<string>{ -158.47134,58.16515 }</string>

							</array>

							<array>
	
								<string>{ -190.80386,52.21866 }</string>
	
								<string>{ -240.63694,66.62419 }</string>
	
								<string>{ -182.35669,67.70700 }</string>
	
								<string>{ -178.51660,55.29890 }</string>

							</array>

							<array>
	
								<string>{ -199.87261,47.64331 }</string>
	
								<string>{ -240.63694,66.62419 }</string>
	
								<string>{ -190.80386,52.21866 }</string>

							</array>

							<array>
	
								<string>{ -206.23794,43.85852 }</string>
	
								<string>{ -240.63694,66.62419 }</string>
	
								<string>{ -199.87261,47.64331 }</string>

							</array>

							<array>
	
								<string>{ -211.97452,37.77069 }</string>
	
								<string>{ -240.63694,66.62419 }</string>
	
								<string>{ -206.23794,43.85852 }</string>

							</array>

							<array>
	
								<string>{ -214.91961,32.60451 }</string>
	
								<string>{ -240.63694,66.62419 }</string>
	
								<string>{ -211.97452,37.77069 }</string>

							</array>

							<array>
	
								<string>{ -216.75159,24.07643 }</string>
	
								<string>{ -240.63694,66.62419 }</string>
	
								<string>{ -214.91961,32.60451 }</string>

							</array>

							<array>
	
								<string>{ -216.75159,24.07643 }</string>
	
								<string>{ -214.91961,16.52734 }</string>
	
								<string>{ -206.24204,-50.76434 }</string>
	
								<string>{ -240.00000,-140.25478 }</string>
	
								<string>{ -240.63694,66.62419 }</string>

							</array>

							<array>
	
								<string>{ -206.24204,-50.76434 }</string>
	
								<string>{ -214.91961,16.52734 }</string>
	
								<string>{ -209.74522,9.10828 }</string>
	
								<string>{ -204.33121,-24.33121 }</string>

							</array>

							<array>
	
								<string>{ 4.37300,-95.04823 }</string>
	
								<string>{ -169.99467,-71.79573 }</string>
	
								<string>{ -147.71704,-67.39549 }</string>
	
								<string>{ -10.06371,-83.24841 }</string>

							</array>

							<array>
	
								<string>{ 21.78342,-103.94905 }</string>
	
								<string>{ -240.00000,-140.25478 }</string>
	
								<string>{ -169.99467,-71.79573 }</string>
	
								<string>{ 4.37300,-95.04823 }</string>

							</array>

							<array>
	
								<string>{ 133.63345,-50.03215 }</string>
	
								<string>{ 239.93628,-136.75159 }</string>
	
								<string>{ 129.77493,-73.50482 }</string>
	
								<string>{ 131.01910,-63.50319 }</string>

							</array>

							<array>
	
								<string>{ -194.45860,-67.64332 }</string>
	
								<string>{ -240.00000,-140.25478 }</string>
	
								<string>{ -206.24204,-50.76434 }</string>

							</array>

							<array>
	
								<string>{ -169.99467,-71.79573 }</string>
	
								<string>{ -240.00000,-140.25478 }</string>
	
								<string>{ -194.45860,-67.64332 }</string>

							</array>

							<array>
	
								<string>{ 32.99036,-107.58842 }</string>
	
								<string>{ -240.00000,-140.25478 }</string>
	
								<string>{ 21.78342,-103.94905 }</string>

							</array>

							<array>
	
								<string>{ 32.99036,-107.58842 }</string>
	
								<string>{ 239.93628,-136.75159 }</string>
	
								<string>{ -240.00000,-140.25478 }</string>

							</array>

							<array>
	
								<string>{ 239.93628,-136.75159 }</string>
	
								<string>{ 132.92993,-35.15924 }</string>
	
								<string>{ 128.48877,-23.66559 }</string>

							</array>

							<array>
	
								<string>{ 239.93628,-136.75159 }</string>
	
								<string>{ 133.63345,-50.03215 }</string>
	
								<string>{ 132.92993,-35.15924 }</string>

							</array>

							<array>
	
								<string>{ 239.93628,-136.75159 }</string>
	
								<string>{ 124.64966,-85.15924 }</string>
	
								<string>{ 129.77493,-73.50482 }</string>

							</array>

							<array>
	
								<string>{ 239.93628,-136.75159 }</string>
	
								<string>{ 115.62701,-93.44051 }</string>
	
								<string>{ 124.64966,-85.15924 }</string>

							</array>

							<array>
	
								<string>{ 239.93628,-136.75159 }</string>
	
								<string>{ 104.90445,-100.12739 }</string>
	
								<string>{ 115.62701,-93.44051 }</string>

							</array>

							<array>
	
								<string>{ 239.93628,-136.75159 }</string>
	
								<string>{ 94.08362,-105.33762 }</string>
	
								<string>{ 104.90445,-100.12739 }</string>

							</array>

							<array>
	
								<string>{ 239.93628,-136.75159 }</string>
	
								<string>{ 79.42673,-108.72612 }</string>
	
								<string>{ 94.08362,-105.33762 }</string>

							</array>

							<array>
	
								<string>{ 239.93628,-136.75159 }</string>
	
								<string>{ 63.53699,-110.80386 }</string>
	
								<string>{ 79.42673,-108.72612 }</string>

							</array>

							<array>
	
								<string>{ 239.93628,-136.75159 }</string>
	
								<string>{ 47.89807,-109.68153 }</string>
	
								<string>{ 63.53699,-110.80386 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -161.97453,25.98726 }</string>
	
								<string>{ -149.23567,26.62419 }</string>
	
								<string>{ -128.66242,22.67516 }</string>
	
								<string>{ -143.82166,12.61147 }</string>
	
								<string>{ -156.87898,4.64967 }</string>
	
								<string>{ -174.39491,4.33121 }</string>
	
								<string>{ -178.21656,18.21655 }</string>

							</array>

							<array>
	
								<string>{ -143.82166,12.61147 }</string>
	
								<string>{ -128.66242,22.67516 }</string>
	
								<string>{ -128.85351,14.20381 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

