<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A56</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -44.77707,-1.40128 }</string>
	
								<string>{ -6.87898,1.46497 }</string>
	
								<string>{ 13.18471,-5.22293 }</string>
	
								<string>{ -11.33759,-24.64969 }</string>
	
								<string>{ -47.32484,-44.07644 }</string>
	
								<string>{ -67.70702,-10.00000 }</string>

							</array>

							<array>
	
								<string>{ -6.87898,1.46497 }</string>
	
								<string>{ -44.77707,-1.40128 }</string>
	
								<string>{ -27.26115,12.61147 }</string>

							</array>

							<array>
	
								<string>{ 124.96814,149.23566 }</string>
	
								<string>{ 139.61783,120.57324 }</string>
	
								<string>{ 110.95541,126.62421 }</string>
	
								<string>{ 99.49045,135.22293 }</string>
	
								<string>{ 99.17197,146.36942 }</string>

							</array>

							<array>
	
								<string>{ 146.30573,159.42673 }</string>
	
								<string>{ 240.89169,160.38214 }</string>
	
								<string>{ 169.55414,108.78979 }</string>
	
								<string>{ 139.61783,120.57324 }</string>
	
								<string>{ 124.96814,149.23566 }</string>

							</array>

							<array>
	
								<string>{ -206.24204,28.53502 }</string>
	
								<string>{ -240.31847,43.37579 }</string>
	
								<string>{ -180.57325,42.42038 }</string>
	
								<string>{ -180.12739,34.58598 }</string>

							</array>

							<array>
	
								<string>{ -222.80255,13.88535 }</string>
	
								<string>{ -240.31847,43.37579 }</string>
	
								<string>{ -206.24204,28.53502 }</string>

							</array>

							<array>
	
								<string>{ -231.40127,-10.31848 }</string>
	
								<string>{ -240.31847,43.37579 }</string>
	
								<string>{ -222.80255,13.88535 }</string>

							</array>

							<array>
	
								<string>{ 240.89169,160.38214 }</string>
	
								<string>{ 187.38852,94.14012 }</string>
	
								<string>{ 169.55414,108.78979 }</string>

							</array>

							<array>
	
								<string>{ -11.33759,-24.64969 }</string>
	
								<string>{ 13.18471,-5.22293 }</string>
	
								<string>{ 14.45859,-12.54778 }</string>

							</array>

							<array>
	
								<string>{ 240.89169,160.38214 }</string>
	
								<string>{ 197.26114,72.16560 }</string>
	
								<string>{ 187.38852,94.14012 }</string>

							</array>

							<array>
	
								<string>{ 240.89169,-160.31847 }</string>
	
								<string>{ 196.30573,54.64967 }</string>
	
								<string>{ 197.26114,72.16560 }</string>
	
								<string>{ 240.89169,160.38214 }</string>

							</array>

							<array>
	
								<string>{ 90.57324,-6.17834 }</string>
	
								<string>{ 132.29297,-3.94905 }</string>
	
								<string>{ 123.69424,-20.50955 }</string>
	
								<string>{ 90.57324,-11.27390 }</string>

							</array>

							<array>
	
								<string>{ 132.29297,-3.94905 }</string>
	
								<string>{ 161.59235,6.87898 }</string>
	
								<string>{ 141.52866,-32.92994 }</string>
	
								<string>{ 123.69424,-20.50955 }</string>

							</array>

							<array>
	
								<string>{ 161.59235,6.87898 }</string>
	
								<string>{ 178.78979,21.52866 }</string>
	
								<string>{ 151.08279,-49.80892 }</string>
	
								<string>{ 141.52866,-32.92994 }</string>

							</array>

							<array>
	
								<string>{ 178.78979,21.52866 }</string>
	
								<string>{ 191.21017,37.13376 }</string>
	
								<string>{ 154.26752,-68.59873 }</string>
	
								<string>{ 151.08279,-49.80892 }</string>

							</array>

							<array>
	
								<string>{ -27.89810,-40.25478 }</string>
	
								<string>{ -47.32484,-44.07644 }</string>
	
								<string>{ -11.33759,-24.64969 }</string>

							</array>

							<array>
	
								<string>{ -37.13376,-61.27389 }</string>
	
								<string>{ -47.32484,-44.07644 }</string>
	
								<string>{ -27.89810,-40.25478 }</string>

							</array>

							<array>
	
								<string>{ -37.13376,-61.27389 }</string>
	
								<string>{ -28.53503,-89.61784 }</string>
	
								<string>{ -39.36307,-85.47771 }</string>
	
								<string>{ -47.32484,-44.07644 }</string>

							</array>

							<array>
	
								<string>{ -28.53503,-89.61784 }</string>
	
								<string>{ -12.29300,-110.00000 }</string>
	
								<string>{ -45.73250,-115.73249 }</string>
	
								<string>{ -39.36307,-85.47771 }</string>

							</array>

							<array>
	
								<string>{ 17.32483,-130.38217 }</string>
	
								<string>{ -64.84077,-138.34395 }</string>
	
								<string>{ -45.73250,-115.73249 }</string>
	
								<string>{ -12.29300,-110.00000 }</string>

							</array>

							<array>
	
								<string>{ 41.84714,-139.29936 }</string>
	
								<string>{ -91.91083,-149.80892 }</string>
	
								<string>{ -64.84077,-138.34395 }</string>
	
								<string>{ 17.32483,-130.38217 }</string>

							</array>

							<array>
	
								<string>{ -231.40127,-10.31848 }</string>
	
								<string>{ -230.44586,-43.43949 }</string>
	
								<string>{ -239.68153,-160.31847 }</string>
	
								<string>{ -240.31847,43.37579 }</string>

							</array>

							<array>
	
								<string>{ 191.21017,37.13376 }</string>
	
								<string>{ 240.89169,-160.31847 }</string>
	
								<string>{ 151.40128,-94.07644 }</string>
	
								<string>{ 154.26752,-68.59873 }</string>

							</array>

							<array>
	
								<string>{ -224.07643,-68.28026 }</string>
	
								<string>{ -239.68153,-160.31847 }</string>
	
								<string>{ -230.44586,-43.43949 }</string>

							</array>

							<array>
	
								<string>{ -215.79618,-90.89172 }</string>
	
								<string>{ -239.68153,-160.31847 }</string>
	
								<string>{ -224.07643,-68.28026 }</string>

							</array>

							<array>
	
								<string>{ -200.19109,-116.05096 }</string>
	
								<string>{ -239.68153,-160.31847 }</string>
	
								<string>{ -215.79618,-90.89172 }</string>

							</array>

							<array>
	
								<string>{ -179.17198,-138.66242 }</string>
	
								<string>{ -239.68153,-160.31847 }</string>
	
								<string>{ -200.19109,-116.05096 }</string>

							</array>

							<array>
	
								<string>{ -154.96815,-147.89809 }</string>
	
								<string>{ -239.68153,-160.31847 }</string>
	
								<string>{ -179.17198,-138.66242 }</string>

							</array>

							<array>
	
								<string>{ -123.12103,-150.44586 }</string>
	
								<string>{ -239.68153,-160.31847 }</string>
	
								<string>{ -154.96815,-147.89809 }</string>

							</array>

							<array>
	
								<string>{ -123.12103,-150.44586 }</string>
	
								<string>{ -91.91083,-149.80892 }</string>
	
								<string>{ 240.89169,-160.31847 }</string>
	
								<string>{ -239.68153,-160.31847 }</string>

							</array>

							<array>
	
								<string>{ 240.89169,-160.31847 }</string>
	
								<string>{ 191.21017,37.13376 }</string>
	
								<string>{ 196.30573,54.64967 }</string>

							</array>

							<array>
	
								<string>{ 240.89169,-160.31847 }</string>
	
								<string>{ 137.07004,-119.55414 }</string>
	
								<string>{ 151.40128,-94.07644 }</string>

							</array>

							<array>
	
								<string>{ 240.89169,-160.31847 }</string>
	
								<string>{ 104.90445,-134.20382 }</string>
	
								<string>{ 137.07004,-119.55414 }</string>

							</array>

							<array>
	
								<string>{ 240.89169,-160.31847 }</string>
	
								<string>{ 62.86624,-138.66242 }</string>
	
								<string>{ 104.90445,-134.20382 }</string>

							</array>

							<array>
	
								<string>{ 240.89169,-160.31847 }</string>
	
								<string>{ -91.91083,-149.80892 }</string>
	
								<string>{ 41.84714,-139.29936 }</string>
	
								<string>{ 62.86624,-138.66242 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 23.05731,99.23566 }</string>
	
								<string>{ 4.90445,86.17833 }</string>
	
								<string>{ -28.85352,79.49043 }</string>
	
								<string>{ -30.12740,95.73248 }</string>
	
								<string>{ -9.74522,125.03183 }</string>
	
								<string>{ 18.91718,125.35031 }</string>
	
								<string>{ 30.25476,113.43948 }</string>

							</array>

							<array>
	
								<string>{ -28.85352,79.49043 }</string>
	
								<string>{ 4.90445,86.17833 }</string>
	
								<string>{ 2.99362,72.48407 }</string>

							</array>

							<array>
	
								<string>{ -9.74522,125.03183 }</string>
	
								<string>{ -30.12740,95.73248 }</string>
	
								<string>{ -27.57962,112.16559 }</string>

							</array>

							<array>
	
								<string>{ 18.91718,125.35031 }</string>
	
								<string>{ -9.74522,125.03183 }</string>
	
								<string>{ 5.54140,129.49045 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

