<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A26</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 27.84567,-30.41800 }</string>
	
								<string>{ 72.86176,-75.43408 }</string>
	
								<string>{ 31.38266,-53.24758 }</string>
	
								<string>{ 18.19937,-31.38263 }</string>

							</array>

							<array>
	
								<string>{ 72.86176,-75.43408 }</string>
	
								<string>{ 40.06433,-74.46945 }</string>
	
								<string>{ 31.38266,-53.24758 }</string>

							</array>

							<array>
	
								<string>{ 72.86176,-75.43408 }</string>
	
								<string>{ 92.47589,-87.97427 }</string>
	
								<string>{ 44.56592,-91.83279 }</string>
	
								<string>{ 40.06433,-74.46945 }</string>

							</array>

							<array>
	
								<string>{ 92.47589,-87.97427 }</string>
	
								<string>{ 110.16080,-97.62057 }</string>
	
								<string>{ 43.60129,-110.16077 }</string>
	
								<string>{ 44.56592,-91.83279 }</string>

							</array>

							<array>
	
								<string>{ 240.19293,-160.19293 }</string>
	
								<string>{ 183.79422,23.27975 }</string>
	
								<string>{ 173.18329,107.84567 }</string>
	
								<string>{ 240.38586,114.91962 }</string>

							</array>

							<array>
	
								<string>{ -93.69774,-40.38585 }</string>
	
								<string>{ -112.99035,-44.88746 }</string>
	
								<string>{ -83.08681,-21.41478 }</string>
	
								<string>{ -75.04823,-19.48552 }</string>

							</array>

							<array>
	
								<string>{ -106.55948,-61.60771 }</string>
	
								<string>{ -131.31832,-58.07074 }</string>
	
								<string>{ -112.99035,-44.88746 }</string>
	
								<string>{ -93.69774,-40.38585 }</string>

							</array>

							<array>
	
								<string>{ -112.34726,-72.86173 }</string>
	
								<string>{ -144.50160,-65.14469 }</string>
	
								<string>{ -131.31832,-58.07074 }</string>
	
								<string>{ -106.55948,-61.60771 }</string>

							</array>

							<array>
	
								<string>{ -115.24115,-82.82958 }</string>
	
								<string>{ -159.29260,-68.03858 }</string>
	
								<string>{ -144.50160,-65.14469 }</string>
	
								<string>{ -112.34726,-72.86173 }</string>

							</array>

							<array>
	
								<string>{ -34.85530,44.18007 }</string>
	
								<string>{ 41.99359,75.36978 }</string>
	
								<string>{ 15.94856,51.25403 }</string>
	
								<string>{ -28.74597,35.17685 }</string>

							</array>

							<array>
	
								<string>{ 41.99359,75.36978 }</string>
	
								<string>{ 51.96143,61.86496 }</string>
	
								<string>{ 15.94856,51.25403 }</string>

							</array>

							<array>
	
								<string>{ 41.99359,75.36978 }</string>
	
								<string>{ 112.41159,94.66238 }</string>
	
								<string>{ 83.47269,68.61737 }</string>
	
								<string>{ 51.96143,61.86496 }</string>

							</array>

							<array>
	
								<string>{ 112.41159,94.66238 }</string>
	
								<string>{ 110.48233,71.83281 }</string>
	
								<string>{ 83.47269,68.61737 }</string>

							</array>

							<array>
	
								<string>{ 112.41159,94.66238 }</string>
	
								<string>{ 173.18329,107.84567 }</string>
	
								<string>{ 123.98715,70.54663 }</string>
	
								<string>{ 110.48233,71.83281 }</string>

							</array>

							<array>
	
								<string>{ -115.88424,-91.18970 }</string>
	
								<string>{ -159.29260,-68.03858 }</string>
	
								<string>{ -115.24115,-82.82958 }</string>

							</array>

							<array>
	
								<string>{ 173.18329,107.84567 }</string>
	
								<string>{ 133.95499,67.65274 }</string>
	
								<string>{ 123.98715,70.54663 }</string>

							</array>

							<array>
	
								<string>{ 173.18329,107.84567 }</string>
	
								<string>{ 145.85211,62.18651 }</string>
	
								<string>{ 133.95499,67.65274 }</string>

							</array>

							<array>
	
								<string>{ 173.18329,107.84567 }</string>
	
								<string>{ 158.71384,55.43410 }</string>
	
								<string>{ 145.85211,62.18651 }</string>

							</array>

							<array>
	
								<string>{ 173.18329,107.84567 }</string>
	
								<string>{ 169.64630,45.14470 }</string>
	
								<string>{ 158.71384,55.43410 }</string>

							</array>

							<array>
	
								<string>{ -114.59807,-100.83601 }</string>
	
								<string>{ -173.11897,-67.07395 }</string>
	
								<string>{ -159.29260,-68.03858 }</string>
	
								<string>{ -115.88424,-91.18970 }</string>

							</array>

							<array>
	
								<string>{ 173.18329,107.84567 }</string>
	
								<string>{ 178.00644,33.89069 }</string>
	
								<string>{ 169.64630,45.14470 }</string>

							</array>

							<array>
	
								<string>{ 126.88104,-103.72990 }</string>
	
								<string>{ 40.06433,-118.84244 }</string>
	
								<string>{ 43.60129,-110.16077 }</string>
	
								<string>{ 110.16080,-97.62057 }</string>

							</array>

							<array>
	
								<string>{ -109.77492,-111.76849 }</string>
	
								<string>{ -239.67846,-160.00000 }</string>
	
								<string>{ -185.33762,-62.25080 }</string>
	
								<string>{ -173.11897,-67.07395 }</string>
	
								<string>{ -114.59807,-100.83601 }</string>

							</array>

							<array>
	
								<string>{ -157.04180,49.00322 }</string>
	
								<string>{ -239.67846,71.31833 }</string>
	
								<string>{ -101.41478,44.18007 }</string>
	
								<string>{ -103.34404,40.32155 }</string>

							</array>

							<array>
	
								<string>{ -176.65594,47.71706 }</string>
	
								<string>{ -239.67846,71.31833 }</string>
	
								<string>{ -157.04180,49.00322 }</string>

							</array>

							<array>
	
								<string>{ -195.30547,41.92926 }</string>
	
								<string>{ -239.67846,71.31833 }</string>
	
								<string>{ -176.65594,47.71706 }</string>

							</array>

							<array>
	
								<string>{ -206.88103,30.99680 }</string>
	
								<string>{ -239.67846,71.31833 }</string>
	
								<string>{ -195.30547,41.92926 }</string>

							</array>

							<array>
	
								<string>{ -212.02572,15.24117 }</string>
	
								<string>{ -239.67846,71.31833 }</string>
	
								<string>{ -206.88103,30.99680 }</string>

							</array>

							<array>
	
								<string>{ -212.02572,15.24117 }</string>
	
								<string>{ -210.73955,-2.76527 }</string>
	
								<string>{ -239.67846,-160.00000 }</string>
	
								<string>{ -239.67846,71.31833 }</string>

							</array>

							<array>
	
								<string>{ 126.88104,-103.72990 }</string>
	
								<string>{ 33.63345,-126.55948 }</string>
	
								<string>{ 40.06433,-118.84244 }</string>

							</array>

							<array>
	
								<string>{ 173.18329,107.84567 }</string>
	
								<string>{ 183.79422,23.27975 }</string>
	
								<string>{ 178.00644,33.89069 }</string>

							</array>

							<array>
	
								<string>{ 126.88104,-103.72990 }</string>
	
								<string>{ 140.38586,-103.72990 }</string>
	
								<string>{ 23.66562,-133.95498 }</string>
	
								<string>{ 33.63345,-126.55948 }</string>

							</array>

							<array>
	
								<string>{ -203.02251,-36.84887 }</string>
	
								<string>{ -239.67846,-160.00000 }</string>
	
								<string>{ -210.73955,-2.76527 }</string>

							</array>

							<array>
	
								<string>{ -196.59164,-49.06752 }</string>
	
								<string>{ -239.67846,-160.00000 }</string>
	
								<string>{ -203.02251,-36.84887 }</string>

							</array>

							<array>
	
								<string>{ -185.33762,-62.25080 }</string>
	
								<string>{ -239.67846,-160.00000 }</string>
	
								<string>{ -196.59164,-49.06752 }</string>

							</array>

							<array>
	
								<string>{ -99.80707,-121.41479 }</string>
	
								<string>{ -239.67846,-160.00000 }</string>
	
								<string>{ -109.77492,-111.76849 }</string>

							</array>

							<array>
	
								<string>{ -85.33762,-128.81029 }</string>
	
								<string>{ -239.67846,-160.00000 }</string>
	
								<string>{ -99.80707,-121.41479 }</string>

							</array>

							<array>
	
								<string>{ -68.29581,-135.24116 }</string>
	
								<string>{ -239.67846,-160.00000 }</string>
	
								<string>{ -85.33762,-128.81029 }</string>

							</array>

							<array>
	
								<string>{ -52.86172,-138.77813 }</string>
	
								<string>{ -239.67846,-160.00000 }</string>
	
								<string>{ -68.29581,-135.24116 }</string>

							</array>

							<array>
	
								<string>{ -33.56912,-142.63666 }</string>
	
								<string>{ -239.67846,-160.00000 }</string>
	
								<string>{ -52.86172,-138.77813 }</string>

							</array>

							<array>
	
								<string>{ -33.56912,-142.63666 }</string>
	
								<string>{ 240.19293,-160.19293 }</string>
	
								<string>{ -239.67846,-160.00000 }</string>

							</array>

							<array>
	
								<string>{ 140.38586,-103.72990 }</string>
	
								<string>{ 240.19293,-160.19293 }</string>
	
								<string>{ 7.26689,-141.02894 }</string>
	
								<string>{ 23.66562,-133.95498 }</string>

							</array>

							<array>
	
								<string>{ 240.19293,-160.19293 }</string>
	
								<string>{ 189.58200,-13.37621 }</string>
	
								<string>{ 187.00967,11.70419 }</string>

							</array>

							<array>
	
								<string>{ 240.19293,-160.19293 }</string>
	
								<string>{ 188.61737,-36.52733 }</string>
	
								<string>{ 189.58200,-13.37621 }</string>

							</array>

							<array>
	
								<string>{ 240.19293,-160.19293 }</string>
	
								<string>{ 186.04504,-57.10611 }</string>
	
								<string>{ 188.61737,-36.52733 }</string>

							</array>

							<array>
	
								<string>{ 240.19293,-160.19293 }</string>
	
								<string>{ 178.64954,-77.36334 }</string>
	
								<string>{ 186.04504,-57.10611 }</string>

							</array>

							<array>
	
								<string>{ 240.19293,-160.19293 }</string>
	
								<string>{ 172.54019,-86.68810 }</string>
	
								<string>{ 178.64954,-77.36334 }</string>

							</array>

							<array>
	
								<string>{ 240.19293,-160.19293 }</string>
	
								<string>{ 165.46625,-93.76205 }</string>
	
								<string>{ 172.54019,-86.68810 }</string>

							</array>

							<array>
	
								<string>{ 240.19293,-160.19293 }</string>
	
								<string>{ 154.53378,-99.87138 }</string>
	
								<string>{ 165.46625,-93.76205 }</string>

							</array>

							<array>
	
								<string>{ 240.19293,-160.19293 }</string>
	
								<string>{ 140.38586,-103.72990 }</string>
	
								<string>{ 154.53378,-99.87138 }</string>

							</array>

							<array>
	
								<string>{ 240.19293,-160.19293 }</string>
	
								<string>{ -10.09645,-143.92283 }</string>
	
								<string>{ 7.26689,-141.02894 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

