<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A27</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 82.80219,-64.12088 }</string>
	
								<string>{ 57.25275,-89.12088 }</string>
	
								<string>{ 65.76923,-45.71429 }</string>

							</array>

							<array>
	
								<string>{ 98.18680,-79.50549 }</string>
	
								<string>{ 57.25275,-89.12088 }</string>
	
								<string>{ 82.80219,-64.12088 }</string>

							</array>

							<array>
	
								<string>{ 119.61539,-98.73627 }</string>
	
								<string>{ 53.13187,-100.65934 }</string>
	
								<string>{ 57.25275,-89.12088 }</string>
	
								<string>{ 98.18680,-79.50549 }</string>

							</array>

							<array>
	
								<string>{ -183.40659,55.38461 }</string>
	
								<string>{ -191.92308,5.38461 }</string>
	
								<string>{ -240.00000,-159.72527 }</string>
	
								<string>{ -240.27473,39.06593 }</string>

							</array>

							<array>
	
								<string>{ -150.98901,53.18681 }</string>
	
								<string>{ -183.40659,55.38461 }</string>
	
								<string>{ -128.46154,65.27472 }</string>
	
								<string>{ -128.18681,59.78021 }</string>

							</array>

							<array>
	
								<string>{ -168.57143,44.39560 }</string>
	
								<string>{ -183.40659,55.38461 }</string>
	
								<string>{ -150.98901,53.18681 }</string>

							</array>

							<array>
	
								<string>{ -179.56044,35.32967 }</string>
	
								<string>{ -183.40659,55.38461 }</string>
	
								<string>{ -168.57143,44.39560 }</string>

							</array>

							<array>
	
								<string>{ -186.15385,26.53845 }</string>
	
								<string>{ -183.40659,55.38461 }</string>
	
								<string>{ -179.56044,35.32967 }</string>

							</array>

							<array>
	
								<string>{ 119.61539,-98.73627 }</string>
	
								<string>{ 136.37363,-110.82418 }</string>
	
								<string>{ 45.71426,-112.47253 }</string>
	
								<string>{ 53.13187,-100.65934 }</string>

							</array>

							<array>
	
								<string>{ 136.37363,-110.82418 }</string>
	
								<string>{ 145.71426,-117.14286 }</string>
	
								<string>{ 33.35165,-121.26374 }</string>
	
								<string>{ 45.71426,-112.47253 }</string>

							</array>

							<array>
	
								<string>{ -190.00000,15.54944 }</string>
	
								<string>{ -183.40659,55.38461 }</string>
	
								<string>{ -186.15385,26.53845 }</string>

							</array>

							<array>
	
								<string>{ 239.94504,91.92307 }</string>
	
								<string>{ 149.83514,66.64835 }</string>
	
								<string>{ 87.47250,92.47252 }</string>
	
								<string>{ 86.64835,96.04395 }</string>
	
								<string>{ 181.15384,99.61539 }</string>

							</array>

							<array>
	
								<string>{ 239.94504,91.92307 }</string>
	
								<string>{ 163.57141,59.50549 }</string>
	
								<string>{ 149.83514,66.64835 }</string>

							</array>

							<array>
	
								<string>{ 239.94504,91.92307 }</string>
	
								<string>{ 174.56042,52.36263 }</string>
	
								<string>{ 163.57141,59.50549 }</string>

							</array>

							<array>
	
								<string>{ 239.94504,91.92307 }</string>
	
								<string>{ 189.94504,36.42856 }</string>
	
								<string>{ 174.56042,52.36263 }</string>

							</array>

							<array>
	
								<string>{ 239.94504,91.92307 }</string>
	
								<string>{ 204.78021,14.45055 }</string>
	
								<string>{ 189.94504,36.42856 }</string>

							</array>

							<array>
	
								<string>{ 239.94504,91.92307 }</string>
	
								<string>{ 211.92307,-5.32968 }</string>
	
								<string>{ 204.78021,14.45055 }</string>

							</array>

							<array>
	
								<string>{ 240.93405,-159.56044 }</string>
	
								<string>{ 214.67032,-28.68132 }</string>
	
								<string>{ 211.92307,-5.32968 }</string>
	
								<string>{ 239.94504,91.92307 }</string>

							</array>

							<array>
	
								<string>{ 157.80219,-119.89011 }</string>
	
								<string>{ 240.93405,-159.56044 }</string>
	
								<string>{ 16.59341,-124.01099 }</string>
	
								<string>{ 33.35165,-121.26374 }</string>
	
								<string>{ 145.71426,-117.14286 }</string>

							</array>

							<array>
	
								<string>{ 240.93405,-159.56044 }</string>
	
								<string>{ 212.19778,-49.83517 }</string>
	
								<string>{ 214.67032,-28.68132 }</string>

							</array>

							<array>
	
								<string>{ 240.93405,-159.56044 }</string>
	
								<string>{ 206.15384,-70.43956 }</string>
	
								<string>{ 212.19778,-49.83517 }</string>

							</array>

							<array>
	
								<string>{ 240.93405,-159.56044 }</string>
	
								<string>{ 201.48349,-81.70330 }</string>
	
								<string>{ 206.15384,-70.43956 }</string>

							</array>

							<array>
	
								<string>{ 240.93405,-159.56044 }</string>
	
								<string>{ 195.98901,-91.59341 }</string>
	
								<string>{ 201.48349,-81.70330 }</string>

							</array>

							<array>
	
								<string>{ 240.93405,-159.56044 }</string>
	
								<string>{ 186.92307,-104.50550 }</string>
	
								<string>{ 195.98901,-91.59341 }</string>

							</array>

							<array>
	
								<string>{ 240.93405,-159.56044 }</string>
	
								<string>{ 179.78021,-111.37363 }</string>
	
								<string>{ 186.92307,-104.50550 }</string>

							</array>

							<array>
	
								<string>{ 240.93405,-159.56044 }</string>
	
								<string>{ 168.79120,-117.96703 }</string>
	
								<string>{ 179.78021,-111.37363 }</string>

							</array>

							<array>
	
								<string>{ 240.93405,-159.56044 }</string>
	
								<string>{ 157.80219,-119.89011 }</string>
	
								<string>{ 168.79120,-117.96703 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-159.72527 }</string>
	
								<string>{ -4.01100,-123.46154 }</string>
	
								<string>{ 16.59341,-124.01099 }</string>
	
								<string>{ 240.93405,-159.56044 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-159.72527 }</string>
	
								<string>{ -33.95605,-120.16484 }</string>
	
								<string>{ -4.01100,-123.46154 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-159.72527 }</string>
	
								<string>{ -74.06593,-111.92308 }</string>
	
								<string>{ -33.95605,-120.16484 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-159.72527 }</string>
	
								<string>{ -115.54945,-97.08791 }</string>
	
								<string>{ -74.06593,-111.92308 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-159.72527 }</string>
	
								<string>{ -142.74725,-79.23077 }</string>
	
								<string>{ -115.54945,-97.08791 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-159.72527 }</string>
	
								<string>{ -168.84615,-57.25275 }</string>
	
								<string>{ -142.74725,-79.23077 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-159.72527 }</string>
	
								<string>{ -185.32967,-31.70329 }</string>
	
								<string>{ -168.84615,-57.25275 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-159.72527 }</string>
	
								<string>{ -192.19780,-13.29671 }</string>
	
								<string>{ -185.32967,-31.70329 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-159.72527 }</string>
	
								<string>{ -191.92308,5.38461 }</string>
	
								<string>{ -192.19780,-13.29671 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -57.58243,66.81319 }</string>
	
								<string>{ -32.85715,58.40659 }</string>
	
								<string>{ -57.30769,58.40659 }</string>

							</array>

							<array>
	
								<string>{ 74.01099,56.48351 }</string>
	
								<string>{ 49.83514,70.76923 }</string>
	
								<string>{ 103.02197,65.16483 }</string>
	
								<string>{ 103.40659,58.40659 }</string>

							</array>

							<array>
	
								<string>{ 58.62637,49.61537 }</string>
	
								<string>{ 49.83514,70.76923 }</string>
	
								<string>{ 74.01099,56.48351 }</string>

							</array>

							<array>
	
								<string>{ 47.36264,38.62637 }</string>
	
								<string>{ -57.58243,66.81319 }</string>
	
								<string>{ 49.83514,70.76923 }</string>
	
								<string>{ 58.62637,49.61537 }</string>

							</array>

							<array>
	
								<string>{ 44.89011,23.51648 }</string>
	
								<string>{ 26.48352,37.25275 }</string>
	
								<string>{ 47.36264,38.62637 }</string>
	
								<string>{ 48.18680,22.96703 }</string>

							</array>

							<array>
	
								<string>{ 5.60439,47.96703 }</string>
	
								<string>{ 47.36264,38.62637 }</string>
	
								<string>{ 26.48352,37.25275 }</string>

							</array>

							<array>
	
								<string>{ -57.58243,66.81319 }</string>
	
								<string>{ -11.42857,54.01099 }</string>
	
								<string>{ -32.85715,58.40659 }</string>

							</array>

							<array>
	
								<string>{ -11.42857,54.01099 }</string>
	
								<string>{ 47.36264,38.62637 }</string>
	
								<string>{ 5.60439,47.96703 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 7.80219,26.26373 }</string>
	
								<string>{ 44.50549,-22.74725 }</string>
	
								<string>{ 41.04395,-37.74725 }</string>
	
								<string>{ -0.98901,24.89011 }</string>
	
								<string>{ -1.53847,32.74725 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

