<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A39</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -98.52089,-106.30225 }</string>
	
								<string>{ -97.31343,-159.70149 }</string>
	
								<string>{ -125.97015,-112.83582 }</string>
	
								<string>{ -121.19402,-96.11940 }</string>

							</array>

							<array>
	
								<string>{ 21.41479,-94.40514 }</string>
	
								<string>{ -37.42764,-94.40514 }</string>
	
								<string>{ -11.70418,-71.25401 }</string>

							</array>

							<array>
	
								<string>{ -82.76527,-110.48232 }</string>
	
								<string>{ -97.31343,-159.70149 }</string>
	
								<string>{ -98.52089,-106.30225 }</string>

							</array>

							<array>
	
								<string>{ -63.79420,-109.19614 }</string>
	
								<string>{ 120.45016,-134.91961 }</string>
	
								<string>{ 241.15756,-159.87138 }</string>
	
								<string>{ -97.31343,-159.70149 }</string>
	
								<string>{ -82.76527,-110.48232 }</string>

							</array>

							<array>
	
								<string>{ 108.55307,70.86818 }</string>
	
								<string>{ 240.38586,68.93892 }</string>
	
								<string>{ 133.95499,43.85852 }</string>
	
								<string>{ 108.55307,60.25725 }</string>

							</array>

							<array>
	
								<string>{ 240.38586,68.93892 }</string>
	
								<string>{ 154.21222,24.88747 }</string>
	
								<string>{ 133.95499,43.85852 }</string>

							</array>

							<array>
	
								<string>{ 240.38586,68.93892 }</string>
	
								<string>{ 171.25403,0.45016 }</string>
	
								<string>{ 154.21222,24.88747 }</string>

							</array>

							<array>
	
								<string>{ 240.38586,68.93892 }</string>
	
								<string>{ 187.00967,-28.81029 }</string>
	
								<string>{ 171.25403,0.45016 }</string>

							</array>

							<array>
	
								<string>{ 241.15756,-159.87138 }</string>
	
								<string>{ 191.18973,-43.27974 }</string>
	
								<string>{ 187.00967,-28.81029 }</string>
	
								<string>{ 240.38586,68.93892 }</string>

							</array>

							<array>
	
								<string>{ 68.03860,-117.87781 }</string>
	
								<string>{ -51.89709,-105.01608 }</string>
	
								<string>{ -37.42764,-94.40514 }</string>
	
								<string>{ 21.41479,-94.40514 }</string>

							</array>

							<array>
	
								<string>{ 98.58524,-130.09646 }</string>
	
								<string>{ -63.79420,-109.19614 }</string>
	
								<string>{ -51.89709,-105.01608 }</string>
	
								<string>{ 68.03860,-117.87781 }</string>

							</array>

							<array>
	
								<string>{ 241.15756,-159.87138 }</string>
	
								<string>{ 194.72672,-58.39228 }</string>
	
								<string>{ 191.18973,-43.27974 }</string>

							</array>

							<array>
	
								<string>{ 241.15756,-159.87138 }</string>
	
								<string>{ 195.36978,-73.18327 }</string>
	
								<string>{ 194.72672,-58.39228 }</string>

							</array>

							<array>
	
								<string>{ 241.15756,-159.87138 }</string>
	
								<string>{ 193.76208,-89.58199 }</string>
	
								<string>{ 195.36978,-73.18327 }</string>

							</array>

							<array>
	
								<string>{ 241.15756,-159.87138 }</string>
	
								<string>{ 188.93893,-104.37299 }</string>
	
								<string>{ 193.76208,-89.58199 }</string>

							</array>

							<array>
	
								<string>{ 241.15756,-159.87138 }</string>
	
								<string>{ 181.86496,-114.66238 }</string>
	
								<string>{ 188.93893,-104.37299 }</string>

							</array>

							<array>
	
								<string>{ 241.15756,-159.87138 }</string>
	
								<string>{ 170.28940,-124.95177 }</string>
	
								<string>{ 181.86496,-114.66238 }</string>

							</array>

							<array>
	
								<string>{ 241.15756,-159.87138 }</string>
	
								<string>{ 152.60452,-132.02572 }</string>
	
								<string>{ 170.28940,-124.95177 }</string>

							</array>

							<array>
	
								<string>{ 241.15756,-159.87138 }</string>
	
								<string>{ 138.45660,-134.91961 }</string>
	
								<string>{ 152.60452,-132.02572 }</string>

							</array>

							<array>
	
								<string>{ 241.15756,-159.87138 }</string>
	
								<string>{ 120.45016,-134.91961 }</string>
	
								<string>{ 138.45660,-134.91961 }</string>

							</array>

							<array>
	
								<string>{ 120.45016,-134.91961 }</string>
	
								<string>{ -63.79420,-109.19614 }</string>
	
								<string>{ 98.58524,-130.09646 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 31.32538,-40.36235 }</string>
	
								<string>{ -2.51450,-26.18068 }</string>
	
								<string>{ -52.03511,-3.16463 }</string>
	
								<string>{ 56.22311,-10.08501 }</string>
	
								<string>{ 48.17337,-39.79708 }</string>

							</array>

							<array>
	
								<string>{ -77.44293,-5.20549 }</string>
	
								<string>{ -77.89955,-16.16438 }</string>
	
								<string>{ -95.25114,-22.10046 }</string>
	
								<string>{ -100.38849,-18.26454 }</string>

							</array>

							<array>
	
								<string>{ -77.44293,-5.20549 }</string>
	
								<string>{ -52.03511,-3.16463 }</string>
	
								<string>{ -55.29312,-15.82521 }</string>
	
								<string>{ -77.89955,-16.16438 }</string>

							</array>

							<array>
	
								<string>{ -52.03511,-3.16463 }</string>
	
								<string>{ -29.15120,-19.69695 }</string>
	
								<string>{ -55.29312,-15.82521 }</string>

							</array>

							<array>
	
								<string>{ -29.15120,-19.69695 }</string>
	
								<string>{ -52.03511,-3.16463 }</string>
	
								<string>{ -2.51450,-26.18068 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -200.29851,-69.85075 }</string>
	
								<string>{ -189.55224,-48.65672 }</string>
	
								<string>{ -166.56716,-62.68656 }</string>

							</array>

							<array>
	
								<string>{ -200.29851,-69.85075 }</string>
	
								<string>{ -240.29851,-60.59702 }</string>
	
								<string>{ -201.79104,-34.62686 }</string>
	
								<string>{ -189.55224,-48.65672 }</string>

							</array>

							<array>
	
								<string>{ -240.29851,29.25374 }</string>
	
								<string>{ -208.05970,-21.79105 }</string>
	
								<string>{ -201.79104,-34.62686 }</string>
	
								<string>{ -240.29851,-60.59702 }</string>

							</array>

							<array>
	
								<string>{ -158.80597,35.22389 }</string>
	
								<string>{ -240.29851,29.25374 }</string>
	
								<string>{ -114.32835,52.83583 }</string>
	
								<string>{ -114.62686,45.07463 }</string>

							</array>

							<array>
	
								<string>{ -171.34328,30.74628 }</string>
	
								<string>{ -240.29851,29.25374 }</string>
	
								<string>{ -158.80597,35.22389 }</string>

							</array>

							<array>
	
								<string>{ -183.58209,25.37314 }</string>
	
								<string>{ -240.29851,29.25374 }</string>
	
								<string>{ -171.34328,30.74628 }</string>

							</array>

							<array>
	
								<string>{ -194.32836,17.61194 }</string>
	
								<string>{ -240.29851,29.25374 }</string>
	
								<string>{ -183.58209,25.37314 }</string>

							</array>

							<array>
	
								<string>{ -202.38806,8.95523 }</string>
	
								<string>{ -240.29851,29.25374 }</string>
	
								<string>{ -194.32836,17.61194 }</string>

							</array>

							<array>
	
								<string>{ -207.76119,0.59702 }</string>
	
								<string>{ -240.29851,29.25374 }</string>
	
								<string>{ -202.38806,8.95523 }</string>

							</array>

							<array>
	
								<string>{ -209.85075,-9.85074 }</string>
	
								<string>{ -240.29851,29.25374 }</string>
	
								<string>{ -207.76119,0.59702 }</string>

							</array>

							<array>
	
								<string>{ -208.05970,-21.79105 }</string>
	
								<string>{ -240.29851,29.25374 }</string>
	
								<string>{ -209.85075,-9.85074 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

