<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A7</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -29.53488,-159.70930 }</string>
	
								<string>{ -240.29070,-160.29070 }</string>
	
								<string>{ -102.50000,-114.06977 }</string>
	
								<string>{ -54.24419,-111.16279 }</string>
	
								<string>{ -28.95349,-125.11628 }</string>

							</array>

							<array>
	
								<string>{ -91.16280,3.08139 }</string>
	
								<string>{ -141.74419,14.70930 }</string>
	
								<string>{ -34.88373,13.72093 }</string>
	
								<string>{ -46.68605,5.69768 }</string>

							</array>

							<array>
	
								<string>{ -115.29070,-1.56976 }</string>
	
								<string>{ -141.74419,14.70930 }</string>
	
								<string>{ -91.16280,3.08139 }</string>

							</array>

							<array>
	
								<string>{ -142.32558,-10.58139 }</string>
	
								<string>{ -141.74419,14.70930 }</string>
	
								<string>{ -115.29070,-1.56976 }</string>

							</array>

							<array>
	
								<string>{ -163.83721,-22.79070 }</string>
	
								<string>{ -240.58140,5.87209 }</string>
	
								<string>{ -141.74419,14.70930 }</string>
	
								<string>{ -142.32558,-10.58139 }</string>

							</array>

							<array>
	
								<string>{ -173.13953,-38.48837 }</string>
	
								<string>{ -240.58140,5.87209 }</string>
	
								<string>{ -163.83721,-22.79070 }</string>

							</array>

							<array>
	
								<string>{ -173.13953,-38.48837 }</string>
	
								<string>{ -174.59303,-58.25581 }</string>
	
								<string>{ -240.29070,-160.29070 }</string>
	
								<string>{ -240.58140,5.87209 }</string>

							</array>

							<array>
	
								<string>{ -240.29070,-160.29070 }</string>
	
								<string>{ -129.53489,-110.58140 }</string>
	
								<string>{ -102.50000,-114.06977 }</string>

							</array>

							<array>
	
								<string>{ -240.29070,-160.29070 }</string>
	
								<string>{ -147.55814,-101.86047 }</string>
	
								<string>{ -129.53489,-110.58140 }</string>

							</array>

							<array>
	
								<string>{ -240.29070,-160.29070 }</string>
	
								<string>{ -166.74419,-80.05814 }</string>
	
								<string>{ -147.55814,-101.86047 }</string>

							</array>

							<array>
	
								<string>{ -240.29070,-160.29070 }</string>
	
								<string>{ -174.59303,-58.25581 }</string>
	
								<string>{ -166.74419,-80.05814 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 124.24417,-160.29070 }</string>
	
								<string>{ 115.81393,-90.81396 }</string>
	
								<string>{ 240.11627,9.65115 }</string>
	
								<string>{ 240.52325,-160.58140 }</string>

							</array>

							<array>
	
								<string>{ 119.01163,27.79070 }</string>
	
								<string>{ 60.58139,39.12790 }</string>
	
								<string>{ 41.68604,47.84883 }</string>
	
								<string>{ 35.87210,74.30232 }</string>
	
								<string>{ 62.03488,77.50000 }</string>
	
								<string>{ 92.84885,79.82558 }</string>

							</array>

							<array>
	
								<string>{ 91.39536,-53.31396 }</string>
	
								<string>{ 221.33719,4.24419 }</string>
	
								<string>{ 240.11627,9.65115 }</string>
	
								<string>{ 115.81393,-90.81396 }</string>

							</array>

							<array>
	
								<string>{ 57.09302,-27.15117 }</string>
	
								<string>{ 58.54651,-38.19768 }</string>
	
								<string>{ 27.73254,-40.52325 }</string>
	
								<string>{ 26.27905,-33.54652 }</string>

							</array>

							<array>
	
								<string>{ 77.15115,-19.88373 }</string>
	
								<string>{ 91.39536,-53.31396 }</string>
	
								<string>{ 58.54651,-38.19768 }</string>
	
								<string>{ 57.09302,-27.15117 }</string>

							</array>

							<array>
	
								<string>{ 93.43024,-11.74419 }</string>
	
								<string>{ 91.39536,-53.31396 }</string>
	
								<string>{ 77.15115,-19.88373 }</string>

							</array>

							<array>
	
								<string>{ 35.87210,74.30232 }</string>
	
								<string>{ 41.68604,47.84883 }</string>
	
								<string>{ 9.41859,58.60464 }</string>
	
								<string>{ 8.25581,64.59302 }</string>

							</array>

							<array>
	
								<string>{ 147.79068,3.95349 }</string>
	
								<string>{ 82.67441,27.79070 }</string>
	
								<string>{ 60.58139,39.12790 }</string>
	
								<string>{ 119.01163,27.79070 }</string>

							</array>

							<array>
	
								<string>{ 101.86047,-2.15117 }</string>
	
								<string>{ 147.79068,3.95349 }</string>
	
								<string>{ 189.36044,1.33720 }</string>
	
								<string>{ 91.39536,-53.31396 }</string>
	
								<string>{ 93.43024,-11.74419 }</string>

							</array>

							<array>
	
								<string>{ 147.79068,3.95349 }</string>
	
								<string>{ 94.30231,17.90697 }</string>
	
								<string>{ 82.67441,27.79070 }</string>

							</array>

							<array>
	
								<string>{ 147.79068,3.95349 }</string>
	
								<string>{ 101.86047,8.02325 }</string>
	
								<string>{ 94.30231,17.90697 }</string>

							</array>

							<array>
	
								<string>{ 147.79068,3.95349 }</string>
	
								<string>{ 101.86047,-2.15117 }</string>
	
								<string>{ 101.86047,8.02325 }</string>

							</array>

							<array>
	
								<string>{ 221.33719,4.24419 }</string>
	
								<string>{ 91.39536,-53.31396 }</string>
	
								<string>{ 189.36044,1.33720 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

