<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entities</key>
	<array>
		<dict>
			<key>components</key>
			<dict>
				<key>slinger</key>
				<dict>
					<key>queuedBeeTypes</key>
					<array>
						<string>BEE</string>
						<string>BOMBEE</string>
						<string>BEE</string>
					</array>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{ 105.00, 285.50 }</string>
					<key>rotation</key>
					<real>330</real>
					<key>scale</key>
					<string>{ 1.00, 1.00 }</string>
				</dict>
			</dict>
			<key>type</key>
			<string>SLINGER</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{ 304.50, 127.50 }</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{ 304.50, 127.50 }</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{ 1.00, 1.00 }</string>
				</dict>
			</dict>
			<key>type</key>
			<string>GLASS-A51</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>beeater</key>
				<dict>
					<key>containedBeeType</key>
					<string>BEE</string>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{ 217.50, 90.00 }</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{ 217.50, 90.00 }</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{ -1.00, 1.00 }</string>
				</dict>
			</dict>
			<key>type</key>
			<string>BEEATER-LAND-A</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>beeater</key>
				<dict>
					<key>containedBeeType</key>
					<string>BEE</string>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{ 299.50, 19.50 }</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{ 299.50, 19.50 }</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{ -1.00, 1.00 }</string>
				</dict>
			</dict>
			<key>type</key>
			<string>BEEATER-LAND-A</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>beeater</key>
				<dict>
					<key>containedBeeType</key>
					<string>BEE</string>
				</dict>
				<key>movement</key>
				<dict>
					<key>positions</key>
					<array>
						<string>{ 58.00, 21.50 }</string>
					</array>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{ 127.50, 23.50 }</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{ 127.50, 23.50 }</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{ 1.00, 1.00 }</string>
				</dict>
			</dict>
			<key>type</key>
			<string>BEEATER-FISH-A</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>movement</key>
				<dict>
					<key>positions</key>
					<array>
						<string>{ 438.50, 58.50 }</string>
					</array>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{ 437.00, 205.00 }</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{ 437.00, 205.00 }</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{ 1.00, 1.00 }</string>
				</dict>
			</dict>
			<key>type</key>
			<string>HANGNEST-A</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>movement</key>
				<dict>
					<key>positions</key>
					<array/>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{ 407.00, 191.00 }</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{ 407.00, 191.00 }</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{ 1.00, 1.00 }</string>
				</dict>
			</dict>
			<key>type</key>
			<string>HANGNEST-A</string>
		</dict>
	</array>
	<key>format</key>
	<integer>2</integer>
	<key>hasWater</key>
	<false/>
	<key>name</key>
	<string>Level-A51</string>
	<key>version</key>
	<integer>3</integer>
</dict>
</plist>
