<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A1</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.42254,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -167.70701,33.63057 }</string>
	
								<string>{ -169.59048,-18.41925 }</string>
	
								<string>{ -240.93024,-160.87881 }</string>
	
								<string>{ -240.66211,26.01527 }</string>

							</array>

							<array>
	
								<string>{ 328.62891,160.24973 }</string>
	
								<string>{ 329.55914,-160.25828 }</string>
	
								<string>{ 190.89063,-46.94158 }</string>
	
								<string>{ 186.42325,-23.23024 }</string>
	
								<string>{ 226.28580,124.87973 }</string>
	
								<string>{ 240.37515,160.27490 }</string>

							</array>

							<array>
	
								<string>{ -155.50113,5.97937 }</string>
	
								<string>{ -167.70701,33.63057 }</string>
	
								<string>{ -139.69357,18.69415 }</string>
	
								<string>{ -144.16093,11.47766 }</string>

							</array>

							<array>
	
								<string>{ -117.01316,26.59793 }</string>
	
								<string>{ -167.70701,33.63057 }</string>
	
								<string>{ -84.91693,37.04466 }</string>
	
								<string>{ -86.42897,31.40894 }</string>

							</array>

							<array>
	
								<string>{ -139.69357,18.69415 }</string>
	
								<string>{ -167.70701,33.63057 }</string>
	
								<string>{ -117.01316,26.59793 }</string>

							</array>

							<array>
	
								<string>{ -169.59048,-18.41925 }</string>
	
								<string>{ -167.70701,33.63057 }</string>
	
								<string>{ -155.50113,5.97937 }</string>

							</array>

							<array>
	
								<string>{ -167.52862,-47.28522 }</string>
	
								<string>{ -240.93024,-160.87881 }</string>
	
								<string>{ -169.59048,-18.41925 }</string>

							</array>

							<array>
	
								<string>{ -158.25027,-74.43299 }</string>
	
								<string>{ -240.93024,-160.87881 }</string>
	
								<string>{ -167.52862,-47.28522 }</string>

							</array>

							<array>
	
								<string>{ -128.69701,-96.76976 }</string>
	
								<string>{ -240.93024,-160.87881 }</string>
	
								<string>{ -158.25027,-74.43299 }</string>

							</array>

							<array>
	
								<string>{ -87.11626,-115.67010 }</string>
	
								<string>{ -240.93024,-160.87881 }</string>
	
								<string>{ -128.69701,-96.76976 }</string>

							</array>

							<array>
	
								<string>{ -29.04065,-129.07217 }</string>
	
								<string>{ -240.93024,-160.87881 }</string>
	
								<string>{ -87.11626,-115.67010 }</string>

							</array>

							<array>
	
								<string>{ 86.76691,77.45703 }</string>
	
								<string>{ 165.80469,81.23711 }</string>
	
								<string>{ 122.84937,67.49141 }</string>
	
								<string>{ 85.04871,74.70790 }</string>

							</array>

							<array>
	
								<string>{ 165.80469,81.23711 }</string>
	
								<string>{ 158.58820,25.91064 }</string>
	
								<string>{ 122.84937,67.49141 }</string>

							</array>

							<array>
	
								<string>{ 195.01431,93.95189 }</string>
	
								<string>{ 186.42325,-23.23024 }</string>
	
								<string>{ 158.58820,25.91064 }</string>
	
								<string>{ 165.80469,81.23711 }</string>

							</array>

							<array>
	
								<string>{ 209.44733,103.91751 }</string>
	
								<string>{ 186.42325,-23.23024 }</string>
	
								<string>{ 195.01431,93.95189 }</string>

							</array>

							<array>
	
								<string>{ 226.28580,124.87973 }</string>
	
								<string>{ 186.42325,-23.23024 }</string>
	
								<string>{ 209.44733,103.91751 }</string>

							</array>

							<array>
	
								<string>{ 329.55914,-160.25828 }</string>
	
								<string>{ 191.57791,-71.68385 }</string>
	
								<string>{ 190.89063,-46.94158 }</string>

							</array>

							<array>
	
								<string>{ 329.55914,-160.25828 }</string>
	
								<string>{ 182.98685,-92.98969 }</string>
	
								<string>{ 191.57791,-71.68385 }</string>

							</array>

							<array>
	
								<string>{ 329.55914,-160.25828 }</string>
	
								<string>{ 163.39920,-113.26461 }</string>
	
								<string>{ 182.98685,-92.98969 }</string>

							</array>

							<array>
	
								<string>{ 329.55914,-160.25828 }</string>
	
								<string>{ 124.56760,-130.10309 }</string>
	
								<string>{ 163.39920,-113.26461 }</string>

							</array>

							<array>
	
								<string>{ 43.46793,-137.31959 }</string>
	
								<string>{ -240.93024,-160.87881 }</string>
	
								<string>{ -29.04065,-129.07217 }</string>

							</array>

							<array>
	
								<string>{ 86.07962,-135.25773 }</string>
	
								<string>{ 329.55914,-160.25828 }</string>
	
								<string>{ -240.93024,-160.87881 }</string>

							</array>

							<array>
	
								<string>{ 329.55914,-160.25828 }</string>
	
								<string>{ 86.07962,-135.25773 }</string>
	
								<string>{ 124.56760,-130.10309 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -32.05792,-10.85912 }</string>
	
								<string>{ 32.20325,-9.14090 }</string>
	
								<string>{ -23.12321,-24.94846 }</string>
	
								<string>{ -69.51497,-26.66667 }</string>
	
								<string>{ -78.79332,-17.25087 }</string>

							</array>

							<array>
	
								<string>{ 32.20325,-9.14090 }</string>
	
								<string>{ 82.51251,-14.15808 }</string>
	
								<string>{ 84.78055,-20.13747 }</string>
	
								<string>{ 23.61218,-25.97939 }</string>
	
								<string>{ -23.12321,-24.94846 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

