<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A16</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -239.50249,-160.49751 }</string>
	
								<string>{ -239.50249,30.24876 }</string>
	
								<string>{ -207.16418,-160.00000 }</string>

							</array>

							<array>
	
								<string>{ -147.96020,21.59204 }</string>
	
								<string>{ -239.50249,30.24876 }</string>
	
								<string>{ -87.06468,35.72139 }</string>
	
								<string>{ -86.76617,28.05971 }</string>

							</array>

							<array>
	
								<string>{ -192.23880,-4.77612 }</string>
	
								<string>{ -239.50249,30.24876 }</string>
	
								<string>{ -147.96020,21.59204 }</string>

							</array>

							<array>
	
								<string>{ -217.61194,-45.57214 }</string>
	
								<string>{ -239.50249,30.24876 }</string>
	
								<string>{ -192.23880,-4.77612 }</string>

							</array>

							<array>
	
								<string>{ -218.10945,-93.33334 }</string>
	
								<string>{ -239.50249,30.24876 }</string>
	
								<string>{ -217.61194,-45.57214 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 221.19403,-115.72139 }</string>
	
								<string>{ 240.09952,-160.49751 }</string>
	
								<string>{ 209.25372,-160.99502 }</string>

							</array>

							<array>
	
								<string>{ 221.19403,-115.72139 }</string>
	
								<string>{ 219.70151,-77.91045 }</string>
	
								<string>{ 240.29852,-11.54228 }</string>
	
								<string>{ 240.09952,-160.49751 }</string>

							</array>

							<array>
	
								<string>{ 207.26367,-55.02487 }</string>
	
								<string>{ 240.29852,-11.54228 }</string>
	
								<string>{ 219.70151,-77.91045 }</string>

							</array>

							<array>
	
								<string>{ 189.85074,-38.60696 }</string>
	
								<string>{ 240.29852,-11.54228 }</string>
	
								<string>{ 207.26367,-55.02487 }</string>

							</array>

							<array>
	
								<string>{ 165.47263,-24.17911 }</string>
	
								<string>{ 240.29852,-11.54228 }</string>
	
								<string>{ 189.85074,-38.60696 }</string>

							</array>

							<array>
	
								<string>{ 165.47263,-24.17911 }</string>
	
								<string>{ 87.86069,-17.71144 }</string>
	
								<string>{ 86.86566,-9.05473 }</string>
	
								<string>{ 240.29852,-11.54228 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

