<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entities</key>
	<array>
		<dict>
			<key>components</key>
			<dict>
				<key>slinger</key>
				<dict>
					<key>queuedBeeTypes</key>
					<array>
						<string>SPEEDEE</string>
					</array>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{185.5, 297}</string>
					<key>rotation</key>
					<real>320</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>SLINGER</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>captured</key>
				<dict>
					<key>containedBeeType</key>
					<string>BEE</string>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{135, 231}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{135, 231}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{-1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>BEEATER-HANGING-A</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>captured</key>
				<dict>
					<key>containedBeeType</key>
					<string>BEE</string>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{393, 22.5}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{393, 22.5}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>BEEATER-LAND-A</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>captured</key>
				<dict>
					<key>containedBeeType</key>
					<string>BEE</string>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{117, 34}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{117, 34}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{-1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>BEEATER-LAND-A</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{442, 262}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{442, 262}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>EGG</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>movement</key>
				<dict>
					<key>positions</key>
					<array>
						<string>{58, 145}</string>
					</array>
				</dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{58, 57}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{58, 57}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>HANGNEST-A</string>
		</dict>
		<dict>
			<key>components</key>
			<dict>
				<key>physics</key>
				<dict>
					<key>angle</key>
					<real>0.0</real>
					<key>position</key>
					<string>{249, 118}</string>
				</dict>
				<key>transform</key>
				<dict>
					<key>position</key>
					<string>{249, 118}</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1, 1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>POLLEN-ORANGE</string>
		</dict>
	</array>
	<key>format</key>
	<integer>2</integer>
	<key>hasWater</key>
	<true/>
	<key>name</key>
	<string>Level-A12</string>
	<key>version</key>
	<integer>15</integer>
</dict>
</plist>
