<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A18</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 67.07266,-46.18558 }</string>
	
								<string>{ 71.57425,-88.95085 }</string>
	
								<string>{ 51.30981,-60.97451 }</string>
	
								<string>{ 53.23907,-47.15227 }</string>

							</array>

							<array>
	
								<string>{ -171.51257,-5.99265 }</string>
	
								<string>{ -188.87591,-31.07303 }</string>
	
								<string>{ -201.41611,-43.29169 }</string>
	
								<string>{ -217.43653,-52.26006 }</string>
	
								<string>{ -240.96595,-19.36885 }</string>

							</array>

							<array>
	
								<string>{ -244.06192,-88.79257 }</string>
	
								<string>{ -204.63154,-84.44924 }</string>
	
								<string>{ -193.05598,-97.63252 }</string>
	
								<string>{ -285.54799,-160.61920 }</string>
	
								<string>{ -284.61920,-102.41486 }</string>

							</array>

							<array>
	
								<string>{ 71.57425,-88.95085 }</string>
	
								<string>{ 47.45438,-73.83522 }</string>
	
								<string>{ 51.30981,-60.97451 }</string>

							</array>

							<array>
	
								<string>{ 71.57425,-88.95085 }</string>
	
								<string>{ 96.78326,-159.88333 }</string>
	
								<string>{ 40.38043,-90.23393 }</string>
	
								<string>{ 47.45438,-73.83522 }</string>

							</array>

							<array>
	
								<string>{ -141.28749,-15.63895 }</string>
	
								<string>{ -171.51257,-5.99265 }</string>
	
								<string>{ -100.77301,2.36748 }</string>
	
								<string>{ -107.84697,-13.38815 }</string>

							</array>

							<array>
	
								<string>{ -161.22318,-19.81902 }</string>
	
								<string>{ -171.51257,-5.99265 }</string>
	
								<string>{ -141.28749,-15.63895 }</string>

							</array>

							<array>
	
								<string>{ -176.97881,-25.60680 }</string>
	
								<string>{ -171.51257,-5.99265 }</string>
	
								<string>{ -161.22318,-19.81902 }</string>

							</array>

							<array>
	
								<string>{ -188.87591,-31.07303 }</string>
	
								<string>{ -171.51257,-5.99265 }</string>
	
								<string>{ -176.97881,-25.60680 }</string>

							</array>

							<array>
	
								<string>{ 96.78326,-159.88333 }</string>
	
								<string>{ 28.48538,-105.66595 }</string>
	
								<string>{ 40.38043,-90.23393 }</string>

							</array>

							<array>
	
								<string>{ 96.78326,-159.88333 }</string>
	
								<string>{ 12.08871,-118.85439 }</string>
	
								<string>{ 28.48538,-105.66595 }</string>

							</array>

							<array>
	
								<string>{ 96.78326,-159.88333 }</string>
	
								<string>{ -10.09778,-130.75150 }</string>
	
								<string>{ 12.08871,-118.85439 }</string>

							</array>

							<array>
	
								<string>{ -208.81160,-56.15342 }</string>
	
								<string>{ -217.43653,-52.26006 }</string>
	
								<string>{ -201.41611,-43.29169 }</string>

							</array>

							<array>
	
								<string>{ -210.41932,-64.19201 }</string>
	
								<string>{ -240.03715,-79.50465 }</string>
	
								<string>{ -217.43653,-52.26006 }</string>
	
								<string>{ -208.81160,-56.15342 }</string>

							</array>

							<array>
	
								<string>{ -210.09778,-74.48140 }</string>
	
								<string>{ -240.03715,-79.50465 }</string>
	
								<string>{ -210.41932,-64.19201 }</string>

							</array>

							<array>
	
								<string>{ -204.63154,-84.44924 }</string>
	
								<string>{ -244.06192,-88.79257 }</string>
	
								<string>{ -240.03715,-79.50465 }</string>
	
								<string>{ -210.09778,-74.48140 }</string>

							</array>

							<array>
	
								<string>{ -180.19424,-108.56500 }</string>
	
								<string>{ -285.54799,-160.61920 }</string>
	
								<string>{ -193.05598,-97.63252 }</string>

							</array>

							<array>
	
								<string>{ -160.25854,-120.46210 }</string>
	
								<string>{ -285.54799,-160.61920 }</string>
	
								<string>{ -180.19424,-108.56500 }</string>

							</array>

							<array>
	
								<string>{ -143.21675,-128.17915 }</string>
	
								<string>{ -285.54799,-160.61920 }</string>
	
								<string>{ -160.25854,-120.46210 }</string>

							</array>

							<array>
	
								<string>{ 96.78326,-159.88333 }</string>
	
								<string>{ -26.81802,-136.21773 }</string>
	
								<string>{ -10.09778,-130.75150 }</string>

							</array>

							<array>
	
								<string>{ -122.31642,-133.96693 }</string>
	
								<string>{ -285.54799,-160.61920 }</string>
	
								<string>{ -143.21675,-128.17915 }</string>

							</array>

							<array>
	
								<string>{ 96.78326,-159.88333 }</string>
	
								<string>{ -43.85983,-139.75471 }</string>
	
								<string>{ -26.81802,-136.21773 }</string>

							</array>

							<array>
	
								<string>{ -105.59616,-138.14699 }</string>
	
								<string>{ -285.54799,-160.61920 }</string>
	
								<string>{ -122.31642,-133.96693 }</string>

							</array>

							<array>
	
								<string>{ 96.78326,-159.88333 }</string>
	
								<string>{ -65.40324,-141.68397 }</string>
	
								<string>{ -43.85983,-139.75471 }</string>

							</array>

							<array>
	
								<string>{ -285.54799,-160.61920 }</string>
	
								<string>{ -85.98201,-140.71934 }</string>
	
								<string>{ -65.40324,-141.68397 }</string>
	
								<string>{ 96.78326,-159.88333 }</string>

							</array>

							<array>
	
								<string>{ -85.98201,-140.71934 }</string>
	
								<string>{ -285.54799,-160.61920 }</string>
	
								<string>{ -105.59616,-138.14699 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 185.99594,-13.04271 }</string>
	
								<string>{ 171.52649,29.40102 }</string>
	
								<string>{ 175.70654,43.22739 }</string>
	
								<string>{ 282.86829,76.72684 }</string>
	
								<string>{ 283.70435,-43.93278 }</string>

							</array>

							<array>
	
								<string>{ -19.47031,55.44603 }</string>
	
								<string>{ -9.18091,41.61967 }</string>
	
								<string>{ -27.50891,51.71613 }</string>

							</array>

							<array>
	
								<string>{ 41.62292,-10.79190 }</string>
	
								<string>{ 39.37213,-2.75333 }</string>
	
								<string>{ 78.92197,10.75150 }</string>
	
								<string>{ 94.35605,7.21452 }</string>
	
								<string>{ 108.82550,-10.47037 }</string>
	
								<string>{ 89.53290,-18.83049 }</string>

							</array>

							<array>
	
								<string>{ -19.47031,55.44603 }</string>
	
								<string>{ 47.41071,21.36243 }</string>
	
								<string>{ 6.57471,31.33028 }</string>
	
								<string>{ -9.18091,41.61967 }</string>

							</array>

							<array>
	
								<string>{ 47.41071,21.36243 }</string>
	
								<string>{ 22.00879,19.75471 }</string>
	
								<string>{ 6.57471,31.33028 }</string>

							</array>

							<array>
	
								<string>{ 47.41071,21.36243 }</string>
	
								<string>{ 63.16635,15.25311 }</string>
	
								<string>{ 33.90588,6.57144 }</string>
	
								<string>{ 22.00879,19.75471 }</string>

							</array>

							<array>
	
								<string>{ 63.16635,15.25311 }</string>
	
								<string>{ 78.92197,10.75150 }</string>
	
								<string>{ 39.37213,-2.75333 }</string>
	
								<string>{ 33.90588,6.57144 }</string>

							</array>

							<array>
	
								<string>{ 111.39786,5.60681 }</string>
	
								<string>{ 128.76120,-8.21956 }</string>
	
								<string>{ 108.82550,-10.47037 }</string>
	
								<string>{ 94.35605,7.21452 }</string>

							</array>

							<array>
	
								<string>{ 130.69046,5.92834 }</string>
	
								<string>{ 128.76120,-8.21956 }</string>
	
								<string>{ 111.39786,5.60681 }</string>

							</array>

							<array>
	
								<string>{ 149.01843,9.14378 }</string>
	
								<string>{ 155.12778,-8.54111 }</string>
	
								<string>{ 128.76120,-8.21956 }</string>
	
								<string>{ 130.69046,5.92834 }</string>

							</array>

							<array>
	
								<string>{ 162.84482,17.50391 }</string>
	
								<string>{ 185.99594,-13.04271 }</string>
	
								<string>{ 155.12778,-8.54111 }</string>
	
								<string>{ 149.01843,9.14378 }</string>

							</array>

							<array>
	
								<string>{ 171.52649,29.40102 }</string>
	
								<string>{ 185.99594,-13.04271 }</string>
	
								<string>{ 162.84482,17.50391 }</string>

							</array>

							<array>
	
								<string>{ 101.75156,138.72577 }</string>
	
								<string>{ 282.86829,76.72684 }</string>
	
								<string>{ 130.36893,120.71936 }</string>
	
								<string>{ 100.78693,133.25955 }</string>

							</array>

							<array>
	
								<string>{ 176.02808,55.44603 }</string>
	
								<string>{ 282.86829,76.72684 }</string>
	
								<string>{ 175.70654,43.22739 }</string>

							</array>

							<array>
	
								<string>{ 173.13419,69.91550 }</string>
	
								<string>{ 282.86829,76.72684 }</string>
	
								<string>{ 176.02808,55.44603 }</string>

							</array>

							<array>
	
								<string>{ 167.34641,85.02803 }</string>
	
								<string>{ 282.86829,76.72684 }</string>
	
								<string>{ 173.13419,69.91550 }</string>

							</array>

							<array>
	
								<string>{ 158.02167,98.21130 }</string>
	
								<string>{ 282.86829,76.72684 }</string>
	
								<string>{ 167.34641,85.02803 }</string>

							</array>

							<array>
	
								<string>{ 147.41074,108.82224 }</string>
	
								<string>{ 282.86829,76.72684 }</string>
	
								<string>{ 158.02167,98.21130 }</string>

							</array>

							<array>
	
								<string>{ 282.86829,76.72684 }</string>
	
								<string>{ 147.41074,108.82224 }</string>
	
								<string>{ 130.36893,120.71936 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

