<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A24</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -196.10465,51.62790 }</string>
	
								<string>{ -160.93024,43.48837 }</string>
	
								<string>{ -120.81396,29.24419 }</string>
	
								<string>{ -6.56978,-140.81395 }</string>
	
								<string>{ -4.53488,-160.87209 }</string>
	
								<string>{ -240.29070,14.12790 }</string>
	
								<string>{ -240.29070,54.12790 }</string>

							</array>

							<array>
	
								<string>{ -240.29070,14.12790 }</string>
	
								<string>{ -4.53488,-160.87209 }</string>
	
								<string>{ -240.58140,-159.41860 }</string>

							</array>

							<array>
	
								<string>{ 78.02325,-17.55814 }</string>
	
								<string>{ 54.47675,-45.46512 }</string>
	
								<string>{ 60.58139,-27.73256 }</string>
	
								<string>{ 73.83722,-14.47675 }</string>

							</array>

							<array>
	
								<string>{ 54.47675,-45.46512 }</string>
	
								<string>{ 46.04651,-34.12791 }</string>
	
								<string>{ 60.58139,-27.73256 }</string>

							</array>

							<array>
	
								<string>{ 54.47675,-45.46512 }</string>
	
								<string>{ 21.91861,-61.74419 }</string>
	
								<string>{ 22.50000,-38.19768 }</string>
	
								<string>{ 46.04651,-34.12791 }</string>

							</array>

							<array>
	
								<string>{ 21.91861,-61.74419 }</string>
	
								<string>{ -1.91861,-114.06977 }</string>
	
								<string>{ -5.40698,-35.00000 }</string>
	
								<string>{ 22.50000,-38.19768 }</string>

							</array>

							<array>
	
								<string>{ -1.91861,-114.06977 }</string>
	
								<string>{ 21.91861,-61.74419 }</string>
	
								<string>{ 25.11627,-76.86047 }</string>

							</array>

							<array>
	
								<string>{ -1.91861,-114.06977 }</string>
	
								<string>{ -34.47675,-22.20930 }</string>
	
								<string>{ -5.40698,-35.00000 }</string>

							</array>

							<array>
	
								<string>{ -1.91861,-114.06977 }</string>
	
								<string>{ -6.56978,-140.81395 }</string>
	
								<string>{ -120.81396,29.24419 }</string>
	
								<string>{ -68.19768,-0.40698 }</string>
	
								<string>{ -34.47675,-22.20930 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 130.34882,-20.75581 }</string>
	
								<string>{ 160.58139,-59.41861 }</string>
	
								<string>{ 127.73254,-45.75581 }</string>

							</array>

							<array>
	
								<string>{ 239.82556,74.47675 }</string>
	
								<string>{ 223.66278,-25.98837 }</string>
	
								<string>{ 210.00000,58.31395 }</string>
	
								<string>{ 220.17441,72.26744 }</string>

							</array>

							<array>
	
								<string>{ 25.11627,-7.20930 }</string>
	
								<string>{ 85.29068,31.86046 }</string>
	
								<string>{ 102.44186,28.66278 }</string>
	
								<string>{ 51.27905,-6.22093 }</string>
	
								<string>{ 34.41861,-11.74419 }</string>

							</array>

							<array>
	
								<string>{ 85.29068,31.86046 }</string>
	
								<string>{ 147.79068,60.05814 }</string>
	
								<string>{ 152.15115,54.53488 }</string>
	
								<string>{ 115.81393,33.02325 }</string>
	
								<string>{ 102.44186,28.66278 }</string>

							</array>

							<array>
	
								<string>{ 131.22092,-0.40698 }</string>
	
								<string>{ 160.58139,-59.41861 }</string>
	
								<string>{ 130.34882,-20.75581 }</string>

							</array>

							<array>
	
								<string>{ 152.15115,54.53488 }</string>
	
								<string>{ 124.24417,32.44186 }</string>
	
								<string>{ 115.81393,33.02325 }</string>

							</array>

							<array>
	
								<string>{ 152.15115,54.53488 }</string>
	
								<string>{ 129.18604,27.50000 }</string>
	
								<string>{ 124.24417,32.44186 }</string>

							</array>

							<array>
	
								<string>{ 150.11627,1.33720 }</string>
	
								<string>{ 129.18604,27.50000 }</string>
	
								<string>{ 152.15115,54.53488 }</string>

							</array>

							<array>
	
								<string>{ 152.73254,-35.58140 }</string>
	
								<string>{ 130.63953,18.48837 }</string>
	
								<string>{ 129.18604,27.50000 }</string>
	
								<string>{ 150.11627,1.33720 }</string>

							</array>

							<array>
	
								<string>{ 216.10464,-37.90698 }</string>
	
								<string>{ 195.75580,-89.36047 }</string>
	
								<string>{ 160.58139,-59.41861 }</string>
	
								<string>{ 167.26743,-41.10465 }</string>
	
								<string>{ 191.39536,-36.45349 }</string>

							</array>

							<array>
	
								<string>{ 241.10464,-160.00000 }</string>
	
								<string>{ 223.66278,-25.98837 }</string>
	
								<string>{ 239.82556,74.47675 }</string>

							</array>

							<array>
	
								<string>{ 128.60464,-137.90698 }</string>
	
								<string>{ 241.10464,-160.00000 }</string>
	
								<string>{ 30.05814,-160.00000 }</string>
	
								<string>{ 28.89536,-148.95349 }</string>

							</array>

							<array>
	
								<string>{ 186.45349,-126.27907 }</string>
	
								<string>{ 241.10464,-160.00000 }</string>
	
								<string>{ 128.60464,-137.90698 }</string>

							</array>

							<array>
	
								<string>{ 197.50000,-114.65117 }</string>
	
								<string>{ 241.10464,-160.00000 }</string>
	
								<string>{ 186.45349,-126.27907 }</string>

							</array>

							<array>
	
								<string>{ 197.50000,-114.65117 }</string>
	
								<string>{ 223.66278,-25.98837 }</string>
	
								<string>{ 241.10464,-160.00000 }</string>

							</array>

							<array>
	
								<string>{ 130.63953,18.48837 }</string>
	
								<string>{ 152.73254,-35.58140 }</string>
	
								<string>{ 160.58139,-59.41861 }</string>
	
								<string>{ 131.22092,-0.40698 }</string>

							</array>

							<array>
	
								<string>{ 167.26743,-41.10465 }</string>
	
								<string>{ 160.58139,-59.41861 }</string>
	
								<string>{ 152.73254,-35.58140 }</string>

							</array>

							<array>
	
								<string>{ 216.10464,-37.90698 }</string>
	
								<string>{ 223.66278,-25.98837 }</string>
	
								<string>{ 200.98837,-101.56977 }</string>
	
								<string>{ 195.75580,-89.36047 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

