<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A59</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -92.34494,-106.80851 }</string>
	
								<string>{ -284.94235,-160.63840 }</string>
	
								<string>{ -283.14199,12.13399 }</string>
	
								<string>{ -247.22646,26.97083 }</string>
	
								<string>{ -198.51308,35.62056 }</string>
	
								<string>{ -105.13063,34.19882 }</string>

							</array>

							<array>
	
								<string>{ 284.87195,-159.96950 }</string>
	
								<string>{ 200.05627,-145.10638 }</string>
	
								<string>{ 227.37125,-141.60535 }</string>
	
								<string>{ 284.23352,-139.63526 }</string>

							</array>

							<array>
	
								<string>{ -80.18689,-122.61398 }</string>
	
								<string>{ -284.94235,-160.63840 }</string>
	
								<string>{ -92.34494,-106.80851 }</string>

							</array>

							<array>
	
								<string>{ 284.87195,-159.96950 }</string>
	
								<string>{ -284.94235,-160.63840 }</string>
	
								<string>{ 18.90128,-145.41033 }</string>
	
								<string>{ 200.05627,-145.10638 }</string>

							</array>

							<array>
	
								<string>{ -59.82214,-131.73252 }</string>
	
								<string>{ -284.94235,-160.63840 }</string>
	
								<string>{ -80.18689,-122.61398 }</string>

							</array>

							<array>
	
								<string>{ -24.25983,-141.15501 }</string>
	
								<string>{ -284.94235,-160.63840 }</string>
	
								<string>{ -59.82214,-131.73252 }</string>

							</array>

							<array>
	
								<string>{ -284.94235,-160.63840 }</string>
	
								<string>{ -24.25983,-141.15501 }</string>
	
								<string>{ 18.90128,-145.41033 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -48.97137,-82.94782 }</string>
	
								<string>{ -52.92274,-73.82928 }</string>
	
								<string>{ -56.57016,-54.98429 }</string>
	
								<string>{ -35.90147,-54.68034 }</string>
	
								<string>{ -25.56714,-83.55573 }</string>

							</array>

							<array>
	
								<string>{ -56.57016,-54.98429 }</string>
	
								<string>{ -60.21758,-14.25481 }</string>
	
								<string>{ -41.98050,-13.95085 }</string>
	
								<string>{ -35.90147,-54.68034 }</string>

							</array>

							<array>
	
								<string>{ -60.21758,-14.25481 }</string>
	
								<string>{ -60.52153,63.25279 }</string>
	
								<string>{ -31.64615,18.87589 }</string>
	
								<string>{ -41.98050,-13.95085 }</string>

							</array>

							<array>
	
								<string>{ -60.52153,63.25279 }</string>
	
								<string>{ 0.57269,45.62361 }</string>
	
								<string>{ -31.64615,18.87589 }</string>

							</array>

							<array>
	
								<string>{ -60.52153,63.25279 }</string>
	
								<string>{ -57.48203,67.69048 }</string>
	
								<string>{ 34.31128,69.63577 }</string>
	
								<string>{ 68.65781,52.31055 }</string>
	
								<string>{ 0.57269,45.62361 }</string>

							</array>

							<array>
	
								<string>{ 68.65781,52.31055 }</string>
	
								<string>{ 34.31128,69.63577 }</string>
	
								<string>{ 129.32648,58.26799 }</string>
	
								<string>{ 127.62436,48.66313 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

