<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A15</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 31.06110,-136.84887 }</string>
	
								<string>{ -12.02571,-123.98714 }</string>
	
								<string>{ 29.77493,-108.55305 }</string>

							</array>

							<array>
	
								<string>{ 37.94214,-159.87138 }</string>
	
								<string>{ -28.10289,-128.16720 }</string>
	
								<string>{ -12.02571,-123.98714 }</string>
	
								<string>{ 31.06110,-136.84887 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -50.61093,-130.09646 }</string>
	
								<string>{ -28.10289,-128.16720 }</string>
	
								<string>{ 37.94214,-159.87138 }</string>

							</array>

							<array>
	
								<string>{ -104.95177,16.84888 }</string>
	
								<string>{ -151.89710,30.35370 }</string>
	
								<string>{ -59.61414,29.38907 }</string>
	
								<string>{ -60.25723,24.88747 }</string>

							</array>

							<array>
	
								<string>{ -130.67524,10.73956 }</string>
	
								<string>{ -151.89710,30.35370 }</string>
	
								<string>{ -104.95177,16.84888 }</string>

							</array>

							<array>
	
								<string>{ -155.11253,1.73634 }</string>
	
								<string>{ -151.89710,30.35370 }</string>
	
								<string>{ -130.67524,10.73956 }</string>

							</array>

							<array>
	
								<string>{ -168.29581,-4.69453 }</string>
	
								<string>{ -240.64309,27.58842 }</string>
	
								<string>{ -151.89710,30.35370 }</string>
	
								<string>{ -155.11253,1.73634 }</string>

							</array>

							<array>
	
								<string>{ -178.58521,-10.16077 }</string>
	
								<string>{ -240.64309,27.58842 }</string>
	
								<string>{ -168.29581,-4.69453 }</string>

							</array>

							<array>
	
								<string>{ -188.55305,-16.27010 }</string>
	
								<string>{ -240.64309,27.58842 }</string>
	
								<string>{ -178.58521,-10.16077 }</string>

							</array>

							<array>
	
								<string>{ -197.23473,-24.30867 }</string>
	
								<string>{ -240.64309,27.58842 }</string>
	
								<string>{ -188.55305,-16.27010 }</string>

							</array>

							<array>
	
								<string>{ -205.59485,-34.27652 }</string>
	
								<string>{ -240.64309,27.58842 }</string>
	
								<string>{ -197.23473,-24.30867 }</string>

							</array>

							<array>
	
								<string>{ -209.77492,-46.17363 }</string>
	
								<string>{ -240.64309,27.58842 }</string>
	
								<string>{ -205.59485,-34.27652 }</string>

							</array>

							<array>
	
								<string>{ -209.77492,-46.17363 }</string>
	
								<string>{ -203.34405,-63.53697 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -240.64309,27.58842 }</string>

							</array>

							<array>
	
								<string>{ -189.51768,-78.32797 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -203.34405,-63.53697 }</string>

							</array>

							<array>
	
								<string>{ -167.65273,-91.51125 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -189.51768,-78.32797 }</string>

							</array>

							<array>
	
								<string>{ -123.60128,-113.05466 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -167.65273,-91.51125 }</string>

							</array>

							<array>
	
								<string>{ -90.16077,-123.98714 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -123.60128,-113.05466 }</string>

							</array>

							<array>
	
								<string>{ -50.61093,-130.09646 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -90.16077,-123.98714 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 14.98393,-63.21543 }</string>
	
								<string>{ 53.56915,-63.53697 }</string>
	
								<string>{ 34.91962,-83.79421 }</string>
	
								<string>{ 13.69775,-90.86816 }</string>

							</array>

							<array>
	
								<string>{ 11.44696,-43.60128 }</string>
	
								<string>{ 78.64954,-24.63022 }</string>
	
								<string>{ 83.47269,-45.85209 }</string>
	
								<string>{ 53.56915,-63.53697 }</string>
	
								<string>{ 14.98393,-63.21543 }</string>

							</array>

							<array>
	
								<string>{ 78.64954,-24.63022 }</string>
	
								<string>{ 11.44696,-43.60128 }</string>
	
								<string>{ 6.62381,-20.96463 }</string>

							</array>

							<array>
	
								<string>{ 78.64954,-24.63022 }</string>
	
								<string>{ 117.55627,-21.09325 }</string>
	
								<string>{ 108.87460,-36.52733 }</string>
	
								<string>{ 83.47269,-45.85209 }</string>

							</array>

							<array>
	
								<string>{ 142.31512,-16.59163 }</string>
	
								<string>{ 239.74277,-40.38585 }</string>
	
								<string>{ 108.87460,-36.52733 }</string>
	
								<string>{ 117.55627,-21.09325 }</string>

							</array>

							<array>
	
								<string>{ 97.74921,92.86174 }</string>
	
								<string>{ 240.38586,98.84244 }</string>
	
								<string>{ 125.27332,84.37300 }</string>
	
								<string>{ 102.44376,88.55307 }</string>

							</array>

							<array>
	
								<string>{ 156.46304,-9.51768 }</string>
	
								<string>{ 239.74277,-40.38585 }</string>
	
								<string>{ 142.31512,-16.59163 }</string>

							</array>

							<array>
	
								<string>{ 166.10934,-1.47910 }</string>
	
								<string>{ 239.74277,-40.38585 }</string>
	
								<string>{ 156.46304,-9.51768 }</string>

							</array>

							<array>
	
								<string>{ 174.14792,8.81029 }</string>
	
								<string>{ 239.74277,-40.38585 }</string>
	
								<string>{ 166.10934,-1.47910 }</string>

							</array>

							<array>
	
								<string>{ 174.14792,8.81029 }</string>
	
								<string>{ 177.68491,18.45660 }</string>
	
								<string>{ 240.38586,98.84244 }</string>
	
								<string>{ 239.74277,-40.38585 }</string>

							</array>

							<array>
	
								<string>{ 240.38586,98.84244 }</string>
	
								<string>{ 142.31512,78.58522 }</string>
	
								<string>{ 125.27332,84.37300 }</string>

							</array>

							<array>
	
								<string>{ 240.38586,98.84244 }</string>
	
								<string>{ 160.32156,67.33119 }</string>
	
								<string>{ 142.31512,78.58522 }</string>

							</array>

							<array>
	
								<string>{ 240.38586,98.84244 }</string>
	
								<string>{ 170.93250,56.72026 }</string>
	
								<string>{ 160.32156,67.33119 }</string>

							</array>

							<array>
	
								<string>{ 240.38586,98.84244 }</string>
	
								<string>{ 176.72028,45.78778 }</string>
	
								<string>{ 170.93250,56.72026 }</string>

							</array>

							<array>
	
								<string>{ 240.38586,98.84244 }</string>
	
								<string>{ 179.61417,29.71062 }</string>
	
								<string>{ 176.72028,45.78778 }</string>

							</array>

							<array>
	
								<string>{ 240.38586,98.84244 }</string>
	
								<string>{ 177.68491,18.45660 }</string>
	
								<string>{ 179.61417,29.71062 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

