<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A41</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -240.63694,-160.31847 }</string>
	
								<string>{ -232.35669,-71.14650 }</string>
	
								<string>{ -207.19745,-160.00000 }</string>

							</array>

							<array>
	
								<string>{ -155.92357,53.69426 }</string>
	
								<string>{ -158.47134,69.61783 }</string>
	
								<string>{ -115.28663,68.21655 }</string>
	
								<string>{ -115.79618,58.15286 }</string>

							</array>

							<array>
	
								<string>{ -184.58599,45.09554 }</string>
	
								<string>{ -198.59873,62.92993 }</string>
	
								<string>{ -158.47134,69.61783 }</string>
	
								<string>{ -155.92357,53.69426 }</string>

							</array>

							<array>
	
								<string>{ -208.47134,33.94904 }</string>
	
								<string>{ -240.95541,52.61147 }</string>
	
								<string>{ -198.59873,62.92993 }</string>
	
								<string>{ -184.58599,45.09554 }</string>

							</array>

							<array>
	
								<string>{ -219.29936,17.38853 }</string>
	
								<string>{ -240.95541,52.61147 }</string>
	
								<string>{ -208.47134,33.94904 }</string>

							</array>

							<array>
	
								<string>{ -227.89809,-2.99364 }</string>
	
								<string>{ -240.95541,52.61147 }</string>
	
								<string>{ -219.29936,17.38853 }</string>

							</array>

							<array>
	
								<string>{ -234.58599,-30.70064 }</string>
	
								<string>{ -240.95541,52.61147 }</string>
	
								<string>{ -227.89809,-2.99364 }</string>

							</array>

							<array>
	
								<string>{ -240.95541,52.61147 }</string>
	
								<string>{ -232.35669,-71.14650 }</string>
	
								<string>{ -240.63694,-160.31847 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -93.82166,-67.96178 }</string>
	
								<string>{ -9.42676,-43.12103 }</string>
	
								<string>{ 17.00635,-63.50319 }</string>
	
								<string>{ 42.80255,-88.34395 }</string>
	
								<string>{ -71.21019,-94.39491 }</string>
	
								<string>{ -98.59872,-86.75159 }</string>

							</array>

							<array>
	
								<string>{ 241.21017,-160.31847 }</string>
	
								<string>{ 161.91083,-8.72612 }</string>
	
								<string>{ 149.17197,41.91083 }</string>
	
								<string>{ 240.44583,42.42038 }</string>

							</array>

							<array>
	
								<string>{ -182.67516,-5.98726 }</string>
	
								<string>{ -124.71338,-10.95541 }</string>
	
								<string>{ -116.43313,-34.84077 }</string>
	
								<string>{ -154.64968,-31.01912 }</string>
	
								<string>{ -186.17834,-19.87262 }</string>

							</array>

							<array>
	
								<string>{ -59.10829,-7.45224 }</string>
	
								<string>{ -43.50319,-7.45224 }</string>
	
								<string>{ -32.35669,-15.09555 }</string>
	
								<string>{ -9.42676,-43.12103 }</string>
	
								<string>{ -97.64331,-46.94268 }</string>
	
								<string>{ -116.43313,-34.84077 }</string>
	
								<string>{ -124.71338,-10.95541 }</string>

							</array>

							<array>
	
								<string>{ -9.42676,-43.12103 }</string>
	
								<string>{ -93.82166,-67.96178 }</string>
	
								<string>{ -97.64331,-46.94268 }</string>

							</array>

							<array>
	
								<string>{ 92.16559,-129.10828 }</string>
	
								<string>{ 241.21017,-160.31847 }</string>
	
								<string>{ 73.37579,-158.72611 }</string>

							</array>

							<array>
	
								<string>{ 80.70062,-98.53503 }</string>
	
								<string>{ 123.37579,-78.15287 }</string>
	
								<string>{ 147.89807,-68.28026 }</string>
	
								<string>{ 241.21017,-160.31847 }</string>
	
								<string>{ 92.16559,-129.10828 }</string>

							</array>

							<array>
	
								<string>{ 49.80890,35.54140 }</string>
	
								<string>{ 149.17197,41.91083 }</string>
	
								<string>{ 99.49045,22.80254 }</string>
	
								<string>{ 50.76431,29.49043 }</string>

							</array>

							<array>
	
								<string>{ 149.17197,41.91083 }</string>
	
								<string>{ 129.74521,17.07005 }</string>
	
								<string>{ 99.49045,22.80254 }</string>

							</array>

							<array>
	
								<string>{ 149.17197,41.91083 }</string>
	
								<string>{ 148.21655,7.83440 }</string>
	
								<string>{ 129.74521,17.07005 }</string>

							</array>

							<array>
	
								<string>{ 149.17197,41.91083 }</string>
	
								<string>{ 161.91083,-8.72612 }</string>
	
								<string>{ 148.21655,7.83440 }</string>

							</array>

							<array>
	
								<string>{ 55.22293,-78.78981 }</string>
	
								<string>{ 80.70062,-98.53503 }</string>
	
								<string>{ 42.80255,-88.34395 }</string>
	
								<string>{ 17.00635,-63.50319 }</string>

							</array>

							<array>
	
								<string>{ 93.43948,-81.01911 }</string>
	
								<string>{ 80.70062,-98.53503 }</string>
	
								<string>{ 55.22293,-78.78981 }</string>

							</array>

							<array>
	
								<string>{ 123.37579,-78.15287 }</string>
	
								<string>{ 80.70062,-98.53503 }</string>
	
								<string>{ 93.43948,-81.01911 }</string>

							</array>

							<array>
	
								<string>{ 162.54776,-51.40128 }</string>
	
								<string>{ 241.21017,-160.31847 }</string>
	
								<string>{ 147.89807,-68.28026 }</string>

							</array>

							<array>
	
								<string>{ 166.05093,-29.74522 }</string>
	
								<string>{ 241.21017,-160.31847 }</string>
	
								<string>{ 162.54776,-51.40128 }</string>

							</array>

							<array>
	
								<string>{ 241.21017,-160.31847 }</string>
	
								<string>{ 166.05093,-29.74522 }</string>
	
								<string>{ 161.91083,-8.72612 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

