<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A58</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>isSensor</key>
                        <false/>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
						<key>polygons</key>
						<array>
							<array>	
								<string>{ -67.49182,56.09477 }</string>	
								<string>{ -102.86159,40.33914 }</string>	
								<string>{ -98.03844,58.66711 }</string>
							</array>
							<array>	
								<string>{ -137.90982,5.93399 }</string>	
								<string>{ -138.87445,-47.44221 }</string>	
								<string>{ -158.48861,-0.68980 }</string>
							</array>
							<array>	
								<string>{ 105.17700,64.77644 }</string>	
								<string>{ 116.75256,58.02403 }</string>	
								<string>{ 101.96158,37.12370 }</string>	
								<string>{ 92.95834,42.58995 }</string>
							</array>
							<array>	
								<string>{ 105.17700,64.77644 }</string>	
								<string>{ 110.00015,86.96294 }</string>	
								<string>{ 127.04196,67.67033 }</string>	
								<string>{ 116.75256,58.02403 }</string>
							</array>
							<array>	
								<string>{ 284.66040,-159.54984 }</string>	
								<string>{ 200.03232,9.14943 }</string>	
								<string>{ 193.92297,33.26518 }</string>	
								<string>{ 194.24454,85.35522 }</string>	
								<string>{ 284.51416,69.19791 }</string>
							</array>
							<array>	
								<string>{ 110.00015,86.96294 }</string>	
								<string>{ 110.96478,104.64783 }</string>	
								<string>{ 135.08054,73.13657 }</string>	
								<string>{ 127.04196,67.67033 }</string>
							</array>
							<array>	
								<string>{ -124.08347,11.40024 }</string>	
								<string>{ -107.36320,-25.57726 }</string>	
								<string>{ -127.29889,-103.06922 }</string>	
								<string>{ -138.87445,-47.44221 }</string>	
								<string>{ -137.90982,5.93399 }</string>
							</array>
							<array>	
								<string>{ 79.13199,-64.16247 }</string>	
								<string>{ 98.42459,-63.19784 }</string>	
								<string>{ 146.65610,-81.20427 }</string>	
								<string>{ 38.93906,-110.14318 }</string>	
								<string>{ 52.76541,-86.67051 }</string>	
								<string>{ 66.27023,-68.98562 }</string>
							</array>
							<array>	
								<string>{ 110.96478,104.64783 }</string>	
								<string>{ 116.43103,109.14944 }</string>	
								<string>{ 165.62717,100.46777 }</string>	
								<string>{ 142.47604,76.35201 }</string>	
								<string>{ 135.08054,73.13657 }</string>
							</array>
							<array>	
								<string>{ -67.49182,56.09477 }</string>	
								<string>{ -67.17027,49.02081 }</string>	
								<string>{ -102.54005,-13.35861 }</string>	
								<string>{ -107.36320,28.76358 }</string>	
								<string>{ -102.86159,40.33914 }</string>
							</array>
							<array>	
								<string>{ 165.62717,100.46777 }</string>	
								<string>{ 151.47925,77.95972 }</string>	
								<string>{ 142.47604,76.35201 }</string>
							</array>
							<array>	
								<string>{ 194.24454,85.35522 }</string>	
								<string>{ 160.16092,76.99509 }</string>	
								<string>{ 151.47925,77.95972 }</string>	
								<string>{ 165.62717,100.46777 }</string>
							</array>
							<array>	
								<string>{ -102.54005,-13.35861 }</string>	
								<string>{ -114.43716,18.79573 }</string>	
								<string>{ -107.36320,28.76358 }</string>
							</array>
							<array>	
								<string>{ -102.54005,-13.35861 }</string>	
								<string>{ -107.36320,-25.57726 }</string>	
								<string>{ -124.08347,11.40024 }</string>	
								<string>{ -114.43716,18.79573 }</string>
							</array>
							<array>	
								<string>{ 194.24454,85.35522 }</string>	
								<string>{ 168.52106,73.77966 }</string>	
								<string>{ 160.16092,76.99509 }</string>
							</array>
							<array>	
								<string>{ 194.24454,85.35522 }</string>	
								<string>{ 175.59500,67.67033 }</string>	
								<string>{ 168.52106,73.77966 }</string>
							</array>
							<array>	
								<string>{ 194.24454,85.35522 }</string>	
								<string>{ 182.02588,58.66711 }</string>	
								<string>{ 175.59500,67.67033 }</string>
							</array>
							<array>	
								<string>{ 194.24454,85.35522 }</string>	
								<string>{ 188.77829,47.73463 }</string>	
								<string>{ 182.02588,58.66711 }</string>
							</array>
							<array>	
								<string>{ 194.24454,85.35522 }</string>	
								<string>{ 193.92297,33.26518 }</string>	
								<string>{ 188.77829,47.73463 }</string>
							</array>
							<array>	
								<string>{ 146.65610,-81.20427 }</string>	
								<string>{ 167.87796,-84.09816 }</string>	
								<string>{ 30.25739,-121.07565 }</string>	
								<string>{ 38.93906,-110.14318 }</string>
							</array>
							<array>	
								<string>{ 167.87796,-84.09816 }</string>	
								<string>{ 180.41815,-83.77662 }</string>	
								<string>{ 284.66040,-159.54984 }</string>	
								<string>{ 20.61108,-128.79270 }</string>	
								<string>{ 30.25739,-121.07565 }</string>
							</array>
							<array>	
								<string>{ 284.66040,-159.54984 }</string>	
								<string>{ 206.46317,-39.72517 }</string>	
								<string>{ 200.03232,9.14943 }</string>
							</array>
							<array>	
								<string>{ 284.66040,-159.54984 }</string>	
								<string>{ 206.46317,-52.90845 }</string>	
								<string>{ 206.46317,-39.72517 }</string>
							</array>
							<array>	
								<string>{ 284.66040,-159.54984 }</string>	
								<string>{ 203.56927,-66.41328 }</string>	
								<string>{ 206.46317,-52.90845 }</string>
							</array>
							<array>	
								<string>{ 284.66040,-159.54984 }</string>	
								<string>{ 197.78149,-74.45186 }</string>	
								<string>{ 203.56927,-66.41328 }</string>
							</array>
							<array>	
								<string>{ 284.66040,-159.54984 }</string>	
								<string>{ 188.77829,-80.88273 }</string>	
								<string>{ 197.78149,-74.45186 }</string>
							</array>
							<array>	
								<string>{ 284.66040,-159.54984 }</string>	
								<string>{ 180.41815,-83.77662 }</string>	
								<string>{ 188.77829,-80.88273 }</string>
							</array>
							<array>	
								<string>{ 284.66040,-159.54984 }</string>	
								<string>{ 10.96478,-134.90202 }</string>	
								<string>{ 20.61108,-128.79270 }</string>
							</array>
							<array>	
								<string>{ 284.66040,-159.54984 }</string>	
								<string>{ 0.67538,-140.36826 }</string>	
								<string>{ 10.96478,-134.90202 }</string>
							</array>
							<array>	
								<string>{ 284.66040,-159.54984 }</string>	
								<string>{ -11.54327,-144.22678 }</string>	
								<string>{ 0.67538,-140.36826 }</string>
							</array>
							<array>	
								<string>{ -122.15421,-160.30395 }</string>	
								<string>{ -21.83264,-144.86987 }</string>	
								<string>{ -11.54327,-144.22678 }</string>	
								<string>{ 284.66040,-159.54984 }</string>
							</array>
							<array>	
								<string>{ -122.15421,-160.30395 }</string>	
								<string>{ -35.01593,-144.22678 }</string>	
								<string>{ -21.83264,-144.86987 }</string>
							</array>
							<array>	
								<string>{ -122.15421,-160.30395 }</string>	
								<string>{ -44.34070,-141.97598 }</string>	
								<string>{ -35.01593,-144.22678 }</string>
							</array>
							<array>	
								<string>{ -122.15421,-160.30395 }</string>	
								<string>{ -56.23779,-138.11745 }</string>	
								<string>{ -44.34070,-141.97598 }</string>
							</array>
							<array>	
								<string>{ -122.15421,-160.30395 }</string>	
								<string>{ -67.17027,-132.97276 }</string>	
								<string>{ -56.23779,-138.11745 }</string>
							</array>
							<array>	
								<string>{ -127.29889,-103.06922 }</string>	
								<string>{ -87.42751,-118.18176 }</string>	
								<string>{ -67.17027,-132.97276 }</string>	
								<string>{ -122.15421,-160.30395 }</string>
							</array>
							<array>	
								<string>{ -127.29889,-103.06922 }</string>	
								<string>{ -95.46609,-110.46472 }</string>	
								<string>{ -87.42751,-118.18176 }</string>
							</array>
							<array>	
								<string>{ -127.29889,-103.06922 }</string>	
								<string>{ -103.18314,-98.88916 }</string>	
								<string>{ -95.46609,-110.46472 }</string>
							</array>
							<array>	
								<string>{ -127.29889,-103.06922 }</string>	
								<string>{ -108.32784,-89.88594 }</string>	
								<string>{ -103.18314,-98.88916 }</string>
							</array>
							<array>	
								<string>{ -127.29889,-103.06922 }</string>	
								<string>{ -111.86481,-79.27501 }</string>	
								<string>{ -108.32784,-89.88594 }</string>
							</array>
							<array>	
								<string>{ -127.29889,-103.06922 }</string>	
								<string>{ -113.47253,-62.55475 }</string>	
								<string>{ -111.86481,-79.27501 }</string>
							</array>
							<array>	
								<string>{ -127.29889,-103.06922 }</string>	
								<string>{ -112.18636,-49.69302 }</string>	
								<string>{ -113.47253,-62.55475 }</string>
							</array>
							<array>	
								<string>{ -127.29889,-103.06922 }</string>	
								<string>{ -110.57864,-38.11745 }</string>	
								<string>{ -112.18636,-49.69302 }</string>
							</array>
						</array>
                        
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>isSensor</key>
                        <false/>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
						<key>polygons</key>
						<array>
							<array>	
								<string>{ -203.91418,40.00000 }</string>	
								<string>{ -119.54120,61.35049 }</string>	
								<string>{ -162.43509,40.64310 }</string>	
								<string>{ -184.94312,31.31833 }</string>
							</array>
							<array>	
								<string>{ -136.71161,30.03217 }</string>	
								<string>{ -162.43509,40.64310 }</string>	
								<string>{ -119.54120,61.35049 }</string>	
								<string>{ -121.27753,45.78778 }</string>	
								<string>{ -127.70840,34.53377 }</string>
							</array>
							<array>	
								<string>{ -203.91418,40.00000 }</string>	
								<string>{ -238.64088,39.03537 }</string>	
								<string>{ -283.69605,51.24620 }</string>	
								<string>{ -283.71364,61.63684 }</string>	
								<string>{ -119.54120,61.35049 }</string>
							</array>
						</array>
                        
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>isSensor</key>
                        <false/>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
						<key>polygons</key>
						<array>
							<array>	
								<string>{ -10.64899,-1.78305 }</string>	
								<string>{ -10.97055,4.13335 }</string>	
								<string>{ 35.46033,-26.41327 }</string>	
								<string>{ 33.72400,-45.19141 }</string>
							</array>
						</array>
                        
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>isSensor</key>
                        <false/>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
						<key>polygons</key>
						<array>
							<array>	
								<string>{ -59.47083,110.72195 }</string>	
								<string>{ -63.65089,136.76700 }</string>	
								<string>{ -60.43546,160.36826 }</string>	
								<string>{ -30.85345,114.25894 }</string>	
								<string>{ -50.46761,87.89238 }</string>
							</array>
							<array>	
								<string>{ 84.90216,140.94705 }</string>	
								<string>{ 122.65137,160.68982 }</string>	
								<string>{ 132.49060,129.37149 }</string>
							</array>
							<array>	
								<string>{ -60.43546,160.36826 }</string>	
								<string>{ -21.20715,124.54834 }</string>	
								<string>{ -30.85345,114.25894 }</string>
							</array>
							<array>	
								<string>{ -60.43546,160.36826 }</string>	
								<string>{ -10.59622,130.97922 }</string>	
								<string>{ -21.20715,124.54834 }</string>
							</array>
							<array>	
								<string>{ -60.43546,160.36826 }</string>	
								<string>{ 3.55170,135.80237 }</string>	
								<string>{ -10.59622,130.97922 }</string>
							</array>
							<array>	
								<string>{ 70.75427,142.87631 }</string>	
								<string>{ 122.65137,160.68982 }</string>	
								<string>{ 84.90216,140.94705 }</string>
							</array>
							<array>	
								<string>{ 70.75427,142.87631 }</string>	
								<string>{ 55.96326,143.84094 }</string>	
								<string>{ -60.43546,160.36826 }</string>	
								<string>{ 122.65137,160.68982 }</string>
							</array>
							<array>	
								<string>{ -60.43546,160.36826 }</string>	
								<string>{ 15.77032,139.66089 }</string>	
								<string>{ 3.55170,135.80237 }</string>
							</array>
							<array>	
								<string>{ -60.43546,160.36826 }</string>	
								<string>{ 27.98898,141.59015 }</string>	
								<string>{ 15.77032,139.66089 }</string>
							</array>
							<array>	
								<string>{ -60.43546,160.36826 }</string>	
								<string>{ 40.85071,143.51941 }</string>	
								<string>{ 27.98898,141.59015 }</string>
							</array>
							<array>	
								<string>{ -60.43546,160.36826 }</string>	
								<string>{ 55.96326,143.84094 }</string>	
								<string>{ 40.85071,143.51941 }</string>
							</array>
						</array>
                        
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>isSensor</key>
                        <false/>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
						<key>polygons</key>
						<array>
							<array>	
								<string>{ -14.45474,63.16873 }</string>	
								<string>{ 29.40378,29.85683 }</string>	
								<string>{ 22.52274,27.79895 }</string>	
								<string>{ 4.83786,36.48062 }</string>	
								<string>{ -13.16858,48.05618 }</string>	
								<string>{ -23.45795,60.72499 }</string>
							</array>
						</array>
                        
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>




