<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A27</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 242.28809,-38.65092 }</string>
	
								<string>{ 181.87946,79.40196 }</string>
	
								<string>{ 266.29565,67.95966 }</string>

							</array>

							<array>
	
								<string>{ 83.52780,-84.33430 }</string>
	
								<string>{ 57.97836,-109.33430 }</string>
	
								<string>{ 66.49484,-65.92770 }</string>

							</array>

							<array>
	
								<string>{ 98.91241,-99.71891 }</string>
	
								<string>{ 57.97836,-109.33430 }</string>
	
								<string>{ 83.52780,-84.33430 }</string>

							</array>

							<array>
	
								<string>{ -182.68098,35.17119 }</string>
	
								<string>{ -191.19747,-14.82881 }</string>
	
								<string>{ -283.82470,-161.50119 }</string>
	
								<string>{ -282.98662,7.91501 }</string>

							</array>

							<array>
	
								<string>{ 120.34097,-118.94968 }</string>
	
								<string>{ 53.85748,-120.87276 }</string>
	
								<string>{ 57.97836,-109.33430 }</string>
	
								<string>{ 98.91241,-99.71891 }</string>

							</array>

							<array>
	
								<string>{ 285.72217,-162.58635 }</string>
	
								<string>{ 242.28809,-38.65092 }</string>
	
								<string>{ 285.10059,-69.58842 }</string>

							</array>

							<array>
	
								<string>{ -150.26340,32.97339 }</string>
	
								<string>{ -182.68098,35.17119 }</string>
	
								<string>{ -127.73593,45.06131 }</string>
	
								<string>{ -127.46121,39.56680 }</string>

							</array>

							<array>
	
								<string>{ -167.84583,24.18219 }</string>
	
								<string>{ -182.68098,35.17119 }</string>
	
								<string>{ -150.26340,32.97339 }</string>

							</array>

							<array>
	
								<string>{ -178.83483,15.11626 }</string>
	
								<string>{ -182.68098,35.17119 }</string>
	
								<string>{ -167.84583,24.18219 }</string>

							</array>

							<array>
	
								<string>{ -185.42824,6.32504 }</string>
	
								<string>{ -182.68098,35.17119 }</string>
	
								<string>{ -178.83483,15.11626 }</string>

							</array>

							<array>
	
								<string>{ 120.34097,-118.94968 }</string>
	
								<string>{ 137.09921,-131.03759 }</string>
	
								<string>{ 46.43988,-132.68594 }</string>
	
								<string>{ 53.85748,-120.87276 }</string>

							</array>

							<array>
	
								<string>{ 137.09921,-131.03759 }</string>
	
								<string>{ 146.43988,-137.35627 }</string>
	
								<string>{ 34.07724,-141.47715 }</string>
	
								<string>{ 46.43988,-132.68594 }</string>

							</array>

							<array>
	
								<string>{ -189.27439,-4.66397 }</string>
	
								<string>{ -182.68098,35.17119 }</string>
	
								<string>{ -185.42824,6.32504 }</string>

							</array>

							<array>
	
								<string>{ 285.72217,-162.58635 }</string>
	
								<string>{ 212.64868,-25.54309 }</string>
	
								<string>{ 205.50583,-5.76286 }</string>
	
								<string>{ 181.87946,79.40196 }</string>
	
								<string>{ 242.28809,-38.65092 }</string>

							</array>

							<array>
	
								<string>{ 87.37396,75.83054 }</string>
	
								<string>{ 181.87946,79.40196 }</string>
	
								<string>{ 150.56076,46.43494 }</string>
	
								<string>{ 88.19812,72.25911 }</string>

							</array>

							<array>
	
								<string>{ 181.87946,79.40196 }</string>
	
								<string>{ 164.29703,39.29207 }</string>
	
								<string>{ 150.56076,46.43494 }</string>

							</array>

							<array>
	
								<string>{ 181.87946,79.40196 }</string>
	
								<string>{ 175.28604,32.14922 }</string>
	
								<string>{ 164.29703,39.29207 }</string>

							</array>

							<array>
	
								<string>{ 181.87946,79.40196 }</string>
	
								<string>{ 190.67065,16.21515 }</string>
	
								<string>{ 175.28604,32.14922 }</string>

							</array>

							<array>
	
								<string>{ 181.87946,79.40196 }</string>
	
								<string>{ 205.50583,-5.76286 }</string>
	
								<string>{ 190.67065,16.21515 }</string>

							</array>

							<array>
	
								<string>{ 158.52780,-140.10353 }</string>
	
								<string>{ 17.31900,-144.22441 }</string>
	
								<string>{ 34.07724,-141.47715 }</string>
	
								<string>{ 146.43988,-137.35627 }</string>

							</array>

							<array>
	
								<string>{ -191.47219,-33.51012 }</string>
	
								<string>{ -283.82470,-161.50119 }</string>
	
								<string>{ -191.19747,-14.82881 }</string>

							</array>

							<array>
	
								<string>{ -184.60406,-51.91672 }</string>
	
								<string>{ -283.82470,-161.50119 }</string>
	
								<string>{ -191.47219,-33.51012 }</string>

							</array>

							<array>
	
								<string>{ -168.12054,-77.46616 }</string>
	
								<string>{ -283.82470,-161.50119 }</string>
	
								<string>{ -184.60406,-51.91672 }</string>

							</array>

							<array>
	
								<string>{ -142.02165,-99.44419 }</string>
	
								<string>{ -283.82470,-161.50119 }</string>
	
								<string>{ -168.12054,-77.46616 }</string>

							</array>

							<array>
	
								<string>{ -114.82385,-117.30133 }</string>
	
								<string>{ -283.82470,-161.50119 }</string>
	
								<string>{ -142.02165,-99.44419 }</string>

							</array>

							<array>
	
								<string>{ -73.34033,-132.13649 }</string>
	
								<string>{ -283.82470,-161.50119 }</string>
	
								<string>{ -114.82385,-117.30133 }</string>

							</array>

							<array>
	
								<string>{ -33.23044,-140.37825 }</string>
	
								<string>{ -283.82470,-161.50119 }</string>
	
								<string>{ -73.34033,-132.13649 }</string>

							</array>

							<array>
	
								<string>{ -3.28540,-143.67496 }</string>
	
								<string>{ -283.82470,-161.50119 }</string>
	
								<string>{ -33.23044,-140.37825 }</string>

							</array>

							<array>
	
								<string>{ -3.28540,-143.67496 }</string>
	
								<string>{ 17.31900,-144.22441 }</string>
	
								<string>{ 285.72217,-162.58635 }</string>
	
								<string>{ -283.82470,-161.50119 }</string>

							</array>

							<array>
	
								<string>{ 285.72217,-162.58635 }</string>
	
								<string>{ 215.39594,-48.89474 }</string>
	
								<string>{ 212.64868,-25.54309 }</string>

							</array>

							<array>
	
								<string>{ 285.72217,-162.58635 }</string>
	
								<string>{ 212.92340,-70.04858 }</string>
	
								<string>{ 215.39594,-48.89474 }</string>

							</array>

							<array>
	
								<string>{ 285.72217,-162.58635 }</string>
	
								<string>{ 206.87946,-90.65298 }</string>
	
								<string>{ 212.92340,-70.04858 }</string>

							</array>

							<array>
	
								<string>{ 285.72217,-162.58635 }</string>
	
								<string>{ 202.20911,-101.91671 }</string>
	
								<string>{ 206.87946,-90.65298 }</string>

							</array>

							<array>
	
								<string>{ 285.72217,-162.58635 }</string>
	
								<string>{ 196.71460,-111.80682 }</string>
	
								<string>{ 202.20911,-101.91671 }</string>

							</array>

							<array>
	
								<string>{ 285.72217,-162.58635 }</string>
	
								<string>{ 187.64868,-124.71891 }</string>
	
								<string>{ 196.71460,-111.80682 }</string>

							</array>

							<array>
	
								<string>{ 285.72217,-162.58635 }</string>
	
								<string>{ 180.50583,-131.58704 }</string>
	
								<string>{ 187.64868,-124.71891 }</string>

							</array>

							<array>
	
								<string>{ 285.72217,-162.58635 }</string>
	
								<string>{ 169.51682,-138.18045 }</string>
	
								<string>{ 180.50583,-131.58704 }</string>

							</array>

							<array>
	
								<string>{ 285.72217,-162.58635 }</string>
	
								<string>{ 158.52780,-140.10353 }</string>
	
								<string>{ 169.51682,-138.18045 }</string>

							</array>

							<array>
	
								<string>{ 285.72217,-162.58635 }</string>
	
								<string>{ 17.31900,-144.22441 }</string>
	
								<string>{ 158.52780,-140.10353 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -57.34462,46.81319 }</string>
	
								<string>{ -32.61934,38.40659 }</string>
	
								<string>{ -57.06990,38.40659 }</string>

							</array>

							<array>
	
								<string>{ 74.24878,36.48351 }</string>
	
								<string>{ 50.07297,50.76923 }</string>
	
								<string>{ 103.25977,45.16483 }</string>
	
								<string>{ 103.64438,38.40659 }</string>

							</array>

							<array>
	
								<string>{ 58.86417,29.61537 }</string>
	
								<string>{ 50.07297,50.76923 }</string>
	
								<string>{ 74.24878,36.48351 }</string>

							</array>

							<array>
	
								<string>{ 47.60043,18.62637 }</string>
	
								<string>{ -57.34462,46.81319 }</string>
	
								<string>{ 50.07297,50.76923 }</string>
	
								<string>{ 58.86417,29.61537 }</string>

							</array>

							<array>
	
								<string>{ 45.12790,3.51648 }</string>
	
								<string>{ 26.72131,17.25275 }</string>
	
								<string>{ 47.60043,18.62637 }</string>
	
								<string>{ 48.42462,2.96703 }</string>

							</array>

							<array>
	
								<string>{ 5.84219,27.96703 }</string>
	
								<string>{ 47.60043,18.62637 }</string>
	
								<string>{ 26.72131,17.25275 }</string>

							</array>

							<array>
	
								<string>{ -57.34462,46.81319 }</string>
	
								<string>{ -11.19077,34.01099 }</string>
	
								<string>{ -32.61934,38.40659 }</string>

							</array>

							<array>
	
								<string>{ -11.19077,34.01099 }</string>
	
								<string>{ 47.60043,18.62637 }</string>
	
								<string>{ 5.84219,27.96703 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 7.55219,7.23933 }</string>
	
								<string>{ 44.25549,-41.77164 }</string>
	
								<string>{ 40.79395,-56.77164 }</string>
	
								<string>{ -1.23901,5.86571 }</string>
	
								<string>{ -1.78848,13.72285 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

