<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A5</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 62.31787,9.86755 }</string>
	
								<string>{ -9.53642,22.78146 }</string>
	
								<string>{ -100.59602,48.60927 }</string>
	
								<string>{ 58.67551,19.80133 }</string>
	
								<string>{ 63.97351,15.16556 }</string>

							</array>

							<array>
	
								<string>{ 140.46359,-65.29801 }</string>
	
								<string>{ 66.38300,-72.76595 }</string>
	
								<string>{ 83.50995,-58.01324 }</string>
	
								<string>{ 126.55630,-40.79470 }</string>
	
								<string>{ 137.48346,-48.07947 }</string>

							</array>

							<array>
	
								<string>{ 129.20529,26.52013 }</string>
	
								<string>{ 126.55630,-40.79470 }</string>
	
								<string>{ 118.06445,5.49246 }</string>
	
								<string>{ 123.45874,26.90292 }</string>

							</array>

							<array>
	
								<string>{ 198.07947,99.60266 }</string>
	
								<string>{ 218.60928,108.54306 }</string>
	
								<string>{ 204.70200,57.21855 }</string>
	
								<string>{ 190.79471,90.66225 }</string>

							</array>

							<array>
	
								<string>{ 126.55630,-40.79470 }</string>
	
								<string>{ 109.66888,-16.95364 }</string>
	
								<string>{ 118.06445,5.49246 }</string>

							</array>

							<array>
	
								<string>{ 126.55630,-40.79470 }</string>
	
								<string>{ 100.07092,-36.95035 }</string>
	
								<string>{ 109.66888,-16.95364 }</string>

							</array>

							<array>
	
								<string>{ 126.55630,-40.79470 }</string>
	
								<string>{ 83.50995,-58.01324 }</string>
	
								<string>{ 100.07092,-36.95035 }</string>

							</array>

							<array>
	
								<string>{ 149.40396,-80.19868 }</string>
	
								<string>{ 47.74835,-85.82781 }</string>
	
								<string>{ 66.38300,-72.76595 }</string>
	
								<string>{ 140.46359,-65.29801 }</string>

							</array>

							<array>
	
								<string>{ 218.60928,108.54306 }</string>
	
								<string>{ 227.88080,126.09271 }</string>
	
								<string>{ 217.61591,-27.54967 }</string>
	
								<string>{ 204.70200,57.21855 }</string>

							</array>

							<array>
	
								<string>{ -101.58940,32.05298 }</string>
	
								<string>{ -100.59602,48.60927 }</string>
	
								<string>{ -9.53642,22.78146 }</string>

							</array>

							<array>
	
								<string>{ -157.88079,12.18542 }</string>
	
								<string>{ -240.33113,71.05960 }</string>
	
								<string>{ -100.59602,48.60927 }</string>
	
								<string>{ -101.58940,32.05298 }</string>

							</array>

							<array>
	
								<string>{ -177.41722,-10.33113 }</string>
	
								<string>{ -240.33113,71.05960 }</string>
	
								<string>{ -157.88079,12.18542 }</string>

							</array>

							<array>
	
								<string>{ -177.41722,-10.33113 }</string>
	
								<string>{ -183.04636,-35.49669 }</string>
	
								<string>{ -240.33113,-135.49669 }</string>
	
								<string>{ -240.33113,71.05960 }</string>

							</array>

							<array>
	
								<string>{ 149.40396,-80.19868 }</string>
	
								<string>{ 173.57617,-84.17219 }</string>
	
								<string>{ 240.46359,-135.16556 }</string>
	
								<string>{ 21.70215,-95.81560 }</string>
	
								<string>{ 47.74835,-85.82781 }</string>

							</array>

							<array>
	
								<string>{ -176.75497,-60.99338 }</string>
	
								<string>{ -240.33113,-135.49669 }</string>
	
								<string>{ -183.04636,-35.49669 }</string>

							</array>

							<array>
	
								<string>{ -153.24503,-83.84106 }</string>
	
								<string>{ -240.33113,-135.49669 }</string>
	
								<string>{ -176.75497,-60.99338 }</string>

							</array>

							<array>
	
								<string>{ -124.76821,-94.76821 }</string>
	
								<string>{ -240.33113,-135.49669 }</string>
	
								<string>{ -153.24503,-83.84106 }</string>

							</array>

							<array>
	
								<string>{ -96.62251,-101.05960 }</string>
	
								<string>{ -240.33113,-135.49669 }</string>
	
								<string>{ -124.76821,-94.76821 }</string>

							</array>

							<array>
	
								<string>{ -96.62251,-101.05960 }</string>
	
								<string>{ -51.70212,-103.61702 }</string>
	
								<string>{ 240.46359,-135.16556 }</string>
	
								<string>{ -240.33113,-135.49669 }</string>

							</array>

							<array>
	
								<string>{ 239.80133,160.52982 }</string>
	
								<string>{ 230.19867,151.25827 }</string>
	
								<string>{ -46.68874,159.80133 }</string>

							</array>

							<array>
	
								<string>{ 239.80133,160.52982 }</string>
	
								<string>{ 240.46359,-135.16556 }</string>
	
								<string>{ 217.61591,-27.54967 }</string>
	
								<string>{ 230.19867,151.25827 }</string>

							</array>

							<array>
	
								<string>{ 240.46359,-135.16556 }</string>
	
								<string>{ 212.64902,-60.99338 }</string>
	
								<string>{ 217.61591,-27.54967 }</string>

							</array>

							<array>
	
								<string>{ 240.46359,-135.16556 }</string>
	
								<string>{ 201.46118,-77.88079 }</string>
	
								<string>{ 212.64902,-60.99338 }</string>

							</array>

							<array>
	
								<string>{ 240.46359,-135.16556 }</string>
	
								<string>{ 173.57617,-84.17219 }</string>
	
								<string>{ 201.46118,-77.88079 }</string>

							</array>

							<array>
	
								<string>{ 240.46359,-135.16556 }</string>
	
								<string>{ -4.23840,-102.71523 }</string>
	
								<string>{ 21.70215,-95.81560 }</string>

							</array>

							<array>
	
								<string>{ 240.46359,-135.16556 }</string>
	
								<string>{ -51.70212,-103.61702 }</string>
	
								<string>{ -4.23840,-102.71523 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 103.61703,98.79434 }</string>
	
								<string>{ 158.51065,98.43973 }</string>
	
								<string>{ 156.80853,90.00000 }</string>
	
								<string>{ 137.65958,85.39008 }</string>
	
								<string>{ 120.28369,83.61702 }</string>
	
								<string>{ 105.39008,86.09930 }</string>

							</array>

							<array>
	
								<string>{ 127.02127,68.36880 }</string>
	
								<string>{ 120.28369,83.61702 }</string>
	
								<string>{ 137.65958,85.39008 }</string>
	
								<string>{ 132.69504,68.36880 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

