<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A47</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 23.37579,-16.36943 }</string>
	
								<string>{ -17.70702,-15.09555 }</string>
	
								<string>{ -6.56052,2.42038 }</string>
	
								<string>{ 22.92993,2.92993 }</string>
	
								<string>{ 29.42676,-8.40765 }</string>

							</array>

							<array>
	
								<string>{ -17.70702,-15.09555 }</string>
	
								<string>{ -47.96179,-5.54141 }</string>
	
								<string>{ -34.58600,10.38216 }</string>
	
								<string>{ -6.56052,2.42038 }</string>

							</array>

							<array>
	
								<string>{ -47.96179,-5.54141 }</string>
	
								<string>{ -85.22293,13.24840 }</string>
	
								<string>{ -62.29300,23.75795 }</string>
	
								<string>{ -34.58600,10.38216 }</string>

							</array>

							<array>
	
								<string>{ -85.22293,13.24840 }</string>
	
								<string>{ -127.26115,14.84076 }</string>
	
								<string>{ -94.14014,42.22929 }</string>
	
								<string>{ -62.29300,23.75795 }</string>

							</array>

							<array>
	
								<string>{ -127.26115,14.84076 }</string>
	
								<string>{ -152.10191,1.14648 }</string>
	
								<string>{ -240.63694,75.54140 }</string>
	
								<string>{ -140.63695,72.48407 }</string>
	
								<string>{ -94.14014,42.22929 }</string>

							</array>

							<array>
	
								<string>{ 2.67516,-66.36943 }</string>
	
								<string>{ 31.97452,-61.91083 }</string>
	
								<string>{ 112.54776,-60.31847 }</string>
	
								<string>{ -54.33122,-111.59236 }</string>
	
								<string>{ -41.27390,-91.21019 }</string>
	
								<string>{ -27.26115,-74.33121 }</string>

							</array>

							<array>
	
								<string>{ 10.31847,45.41400 }</string>
	
								<string>{ 10.63693,57.19745 }</string>
	
								<string>{ 99.80890,56.56050 }</string>
	
								<string>{ 71.14648,27.57961 }</string>
	
								<string>{ 19.87259,30.12738 }</string>

							</array>

							<array>
	
								<string>{ 240.57324,-160.95541 }</string>
	
								<string>{ 153.63055,-8.08917 }</string>
	
								<string>{ 146.30573,7.51591 }</string>
	
								<string>{ 203.31207,18.66241 }</string>
	
								<string>{ 238.34393,22.48407 }</string>

							</array>

							<array>
	
								<string>{ -166.75159,-13.82166 }</string>
	
								<string>{ -240.63694,75.54140 }</string>
	
								<string>{ -152.10191,1.14648 }</string>

							</array>

							<array>
	
								<string>{ -166.75159,-13.82166 }</string>
	
								<string>{ -174.71338,-31.97453 }</string>
	
								<string>{ -241.27389,-160.31847 }</string>
	
								<string>{ -240.63694,75.54140 }</string>

							</array>

							<array>
	
								<string>{ 99.80890,56.56050 }</string>
	
								<string>{ 145.66876,47.00636 }</string>
	
								<string>{ 107.77069,24.71336 }</string>
	
								<string>{ 71.14648,27.57961 }</string>

							</array>

							<array>
	
								<string>{ 145.66876,47.00636 }</string>
	
								<string>{ 168.28024,30.76433 }</string>
	
								<string>{ 130.38214,17.70700 }</string>
	
								<string>{ 107.77069,24.71336 }</string>

							</array>

							<array>
	
								<string>{ 168.28024,30.76433 }</string>
	
								<string>{ 203.31207,18.66241 }</string>
	
								<string>{ 146.30573,7.51591 }</string>
	
								<string>{ 130.38214,17.70700 }</string>

							</array>

							<array>
	
								<string>{ 131.01910,-55.22293 }</string>
	
								<string>{ 240.57324,-160.95541 }</string>
	
								<string>{ -84.58600,-126.24204 }</string>
	
								<string>{ -54.33122,-111.59236 }</string>

							</array>

							<array>
	
								<string>{ -180.12739,-49.80892 }</string>
	
								<string>{ -241.27389,-160.31847 }</string>
	
								<string>{ -174.71338,-31.97453 }</string>

							</array>

							<array>
	
								<string>{ -181.71975,-69.55415 }</string>
	
								<string>{ -241.27389,-160.31847 }</string>
	
								<string>{ -180.12739,-49.80892 }</string>

							</array>

							<array>
	
								<string>{ -175.35032,-97.89809 }</string>
	
								<string>{ -241.27389,-160.31847 }</string>
	
								<string>{ -181.71975,-69.55415 }</string>

							</array>

							<array>
	
								<string>{ -158.78981,-123.05733 }</string>
	
								<string>{ -241.27389,-160.31847 }</string>
	
								<string>{ -175.35032,-97.89809 }</string>

							</array>

							<array>
	
								<string>{ -132.99364,-128.15287 }</string>
	
								<string>{ -241.27389,-160.31847 }</string>
	
								<string>{ -158.78981,-123.05733 }</string>

							</array>

							<array>
	
								<string>{ -132.99364,-128.15287 }</string>
	
								<string>{ -84.58600,-126.24204 }</string>
	
								<string>{ 240.57324,-160.95541 }</string>
	
								<string>{ -241.27389,-160.31847 }</string>

							</array>

							<array>
	
								<string>{ 144.39490,-42.48408 }</string>
	
								<string>{ 240.57324,-160.95541 }</string>
	
								<string>{ 131.01910,-55.22293 }</string>

							</array>

							<array>
	
								<string>{ 152.67514,-27.19746 }</string>
	
								<string>{ 240.57324,-160.95541 }</string>
	
								<string>{ 144.39490,-42.48408 }</string>

							</array>

							<array>
	
								<string>{ 153.63055,-8.08917 }</string>
	
								<string>{ 240.57324,-160.95541 }</string>
	
								<string>{ 152.67514,-27.19746 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 212.22928,109.10828 }</string>
	
								<string>{ 240.12738,131.27386 }</string>
	
								<string>{ 240.57324,100.19107 }</string>

							</array>

							<array>
	
								<string>{ 149.17197,78.85350 }</string>
	
								<string>{ 150.12738,103.69424 }</string>
	
								<string>{ 172.42038,89.68152 }</string>
	
								<string>{ 162.86624,65.79617 }</string>

							</array>

							<array>
	
								<string>{ 150.12738,103.69424 }</string>
	
								<string>{ 184.84076,104.96814 }</string>
	
								<string>{ 172.42038,89.68152 }</string>

							</array>

							<array>
	
								<string>{ 240.12738,131.27386 }</string>
	
								<string>{ 212.22928,109.10828 }</string>
	
								<string>{ 184.84076,104.96814 }</string>
	
								<string>{ 150.12738,103.69424 }</string>
	
								<string>{ 126.24203,160.25476 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

