<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A14</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 33.54651,-60.00000 }</string>
	
								<string>{ 44.30231,-64.94186 }</string>
	
								<string>{ 83.25580,-101.86047 }</string>
	
								<string>{ 14.65115,-74.82558 }</string>
	
								<string>{ 21.04651,-60.87209 }</string>

							</array>

							<array>
	
								<string>{ 198.66278,133.02325 }</string>
	
								<string>{ 168.72092,109.76743 }</string>
	
								<string>{ 147.20929,118.19766 }</string>

							</array>

							<array>
	
								<string>{ 198.66278,133.02325 }</string>
	
								<string>{ 239.94186,136.51163 }</string>
	
								<string>{ 181.80231,99.88373 }</string>
	
								<string>{ 168.72092,109.76743 }</string>

							</array>

							<array>
	
								<string>{ 83.25580,-101.86047 }</string>
	
								<string>{ 2.15115,-96.62791 }</string>
	
								<string>{ 14.65115,-74.82558 }</string>

							</array>

							<array>
	
								<string>{ 239.94186,136.51163 }</string>
	
								<string>{ 193.72092,87.38371 }</string>
	
								<string>{ 181.80231,99.88373 }</string>

							</array>

							<array>
	
								<string>{ 239.94186,136.51163 }</string>
	
								<string>{ 200.98837,72.55814 }</string>
	
								<string>{ 193.72092,87.38371 }</string>

							</array>

							<array>
	
								<string>{ -169.94186,65.58139 }</string>
	
								<string>{ -192.61628,74.01163 }</string>
	
								<string>{ -146.51163,70.69768 }</string>
	
								<string>{ -149.30233,66.74419 }</string>

							</array>

							<array>
	
								<string>{ -188.25581,57.73256 }</string>
	
								<string>{ -192.61628,74.01163 }</string>
	
								<string>{ -169.94186,65.58139 }</string>

							</array>

							<array>
	
								<string>{ -202.79070,42.90697 }</string>
	
								<string>{ -240.58140,68.37209 }</string>
	
								<string>{ -192.61628,74.01163 }</string>
	
								<string>{ -188.25581,57.73256 }</string>

							</array>

							<array>
	
								<string>{ -211.80233,28.37209 }</string>
	
								<string>{ -240.58140,68.37209 }</string>
	
								<string>{ -202.79070,42.90697 }</string>

							</array>

							<array>
	
								<string>{ -217.32558,8.02325 }</string>
	
								<string>{ -240.58140,68.37209 }</string>
	
								<string>{ -211.80233,28.37209 }</string>

							</array>

							<array>
	
								<string>{ -217.32558,8.02325 }</string>
	
								<string>{ -218.48837,-10.87210 }</string>
	
								<string>{ -239.70930,-139.06977 }</string>
	
								<string>{ -240.58140,68.37209 }</string>

							</array>

							<array>
	
								<string>{ 239.94186,136.51163 }</string>
	
								<string>{ 204.18604,55.98837 }</string>
	
								<string>{ 200.98837,72.55814 }</string>

							</array>

							<array>
	
								<string>{ 240.81393,-144.59302 }</string>
	
								<string>{ 205.34882,40.29070 }</string>
	
								<string>{ 204.18604,55.98837 }</string>
	
								<string>{ 239.94186,136.51163 }</string>

							</array>

							<array>
	
								<string>{ -58.60466,-0.40698 }</string>
	
								<string>{ -49.88373,-47.50000 }</string>
	
								<string>{ -64.41861,-19.01163 }</string>
	
								<string>{ -61.51163,-3.02325 }</string>

							</array>

							<array>
	
								<string>{ -49.88373,-47.50000 }</string>
	
								<string>{ -69.94186,-46.33721 }</string>
	
								<string>{ -64.41861,-19.01163 }</string>

							</array>

							<array>
	
								<string>{ -49.88373,-47.50000 }</string>
	
								<string>{ -37.38373,-82.67442 }</string>
	
								<string>{ -76.62791,-60.29070 }</string>
	
								<string>{ -69.94186,-46.33721 }</string>

							</array>

							<array>
	
								<string>{ -37.38373,-82.67442 }</string>
	
								<string>{ -25.17442,-102.73256 }</string>
	
								<string>{ -84.76744,-73.08140 }</string>
	
								<string>{ -76.62791,-60.29070 }</string>

							</array>

							<array>
	
								<string>{ -25.17442,-102.73256 }</string>
	
								<string>{ -98.43024,-79.76744 }</string>
	
								<string>{ -84.76744,-73.08140 }</string>

							</array>

							<array>
	
								<string>{ 83.25580,-101.86047 }</string>
	
								<string>{ 98.37210,-110.58140 }</string>
	
								<string>{ -9.76744,-104.76744 }</string>
	
								<string>{ 2.15115,-96.62791 }</string>

							</array>

							<array>
	
								<string>{ -25.17442,-102.73256 }</string>
	
								<string>{ -115.58140,-81.80233 }</string>
	
								<string>{ -98.43024,-79.76744 }</string>

							</array>

							<array>
	
								<string>{ -25.17442,-102.73256 }</string>
	
								<string>{ -239.70930,-139.06977 }</string>
	
								<string>{ -133.31396,-82.67442 }</string>
	
								<string>{ -115.58140,-81.80233 }</string>

							</array>

							<array>
	
								<string>{ -213.54651,-33.54652 }</string>
	
								<string>{ -239.70930,-139.06977 }</string>
	
								<string>{ -218.48837,-10.87210 }</string>

							</array>

							<array>
	
								<string>{ -201.04651,-50.98837 }</string>
	
								<string>{ -239.70930,-139.06977 }</string>
	
								<string>{ -213.54651,-33.54652 }</string>

							</array>

							<array>
	
								<string>{ -182.15117,-62.32558 }</string>
	
								<string>{ -239.70930,-139.06977 }</string>
	
								<string>{ -201.04651,-50.98837 }</string>

							</array>

							<array>
	
								<string>{ -153.66279,-77.15116 }</string>
	
								<string>{ -239.70930,-139.06977 }</string>
	
								<string>{ -182.15117,-62.32558 }</string>

							</array>

							<array>
	
								<string>{ -133.31396,-82.67442 }</string>
	
								<string>{ -239.70930,-139.06977 }</string>
	
								<string>{ -153.66279,-77.15116 }</string>

							</array>

							<array>
	
								<string>{ -25.17442,-102.73256 }</string>
	
								<string>{ 240.81393,-144.59302 }</string>
	
								<string>{ -239.70930,-139.06977 }</string>

							</array>

							<array>
	
								<string>{ 114.65115,-112.61628 }</string>
	
								<string>{ 240.81393,-144.59302 }</string>
	
								<string>{ -9.76744,-104.76744 }</string>
	
								<string>{ 98.37210,-110.58140 }</string>

							</array>

							<array>
	
								<string>{ 240.81393,-144.59302 }</string>
	
								<string>{ 204.18604,22.55814 }</string>
	
								<string>{ 205.34882,40.29070 }</string>

							</array>

							<array>
	
								<string>{ 240.81393,-144.59302 }</string>
	
								<string>{ 200.40698,-0.40698 }</string>
	
								<string>{ 204.18604,22.55814 }</string>

							</array>

							<array>
	
								<string>{ 240.81393,-144.59302 }</string>
	
								<string>{ 193.43024,-22.20930 }</string>
	
								<string>{ 200.40698,-0.40698 }</string>

							</array>

							<array>
	
								<string>{ 240.81393,-144.59302 }</string>
	
								<string>{ 187.03488,-41.68605 }</string>
	
								<string>{ 193.43024,-22.20930 }</string>

							</array>

							<array>
	
								<string>{ 240.81393,-144.59302 }</string>
	
								<string>{ 175.40698,-65.52325 }</string>
	
								<string>{ 187.03488,-41.68605 }</string>

							</array>

							<array>
	
								<string>{ 240.81393,-144.59302 }</string>
	
								<string>{ 160.58139,-88.48837 }</string>
	
								<string>{ 175.40698,-65.52325 }</string>

							</array>

							<array>
	
								<string>{ 240.81393,-144.59302 }</string>
	
								<string>{ 147.79068,-103.60465 }</string>
	
								<string>{ 160.58139,-88.48837 }</string>

							</array>

							<array>
	
								<string>{ 240.81393,-144.59302 }</string>
	
								<string>{ 134.41861,-110.29070 }</string>
	
								<string>{ 147.79068,-103.60465 }</string>

							</array>

							<array>
	
								<string>{ 240.81393,-144.59302 }</string>
	
								<string>{ 114.65115,-112.61628 }</string>
	
								<string>{ 134.41861,-110.29070 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -73.43024,97.84885 }</string>
	
								<string>{ -53.77907,160.52325 }</string>
	
								<string>{ -58.02325,73.13953 }</string>
	
								<string>{ -71.97675,77.20930 }</string>

							</array>

							<array>
	
								<string>{ -79.24419,117.90698 }</string>
	
								<string>{ -53.77907,160.52325 }</string>
	
								<string>{ -73.43024,97.84885 }</string>

							</array>

							<array>
	
								<string>{ -87.96512,131.86047 }</string>
	
								<string>{ -53.77907,160.52325 }</string>
	
								<string>{ -79.24419,117.90698 }</string>

							</array>

							<array>
	
								<string>{ -98.13954,141.74417 }</string>
	
								<string>{ -53.77907,160.52325 }</string>
	
								<string>{ -87.96512,131.86047 }</string>

							</array>

							<array>
	
								<string>{ -112.38372,149.88373 }</string>
	
								<string>{ -53.77907,160.52325 }</string>
	
								<string>{ -98.13954,141.74417 }</string>

							</array>

							<array>
	
								<string>{ -125.75581,155.69766 }</string>
	
								<string>{ -53.77907,160.52325 }</string>
	
								<string>{ -112.38372,149.88373 }</string>

							</array>

							<array>
	
								<string>{ -125.75581,155.69766 }</string>
	
								<string>{ -149.88372,160.52325 }</string>
	
								<string>{ -53.77907,160.52325 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 35.00000,73.13953 }</string>
	
								<string>{ 26.56976,83.89534 }</string>
	
								<string>{ 56.22092,83.89534 }</string>
	
								<string>{ 47.50000,71.68604 }</string>

							</array>

							<array>
	
								<string>{ 56.22092,83.89534 }</string>
	
								<string>{ 26.56976,83.89534 }</string>
	
								<string>{ 2.73256,85.05814 }</string>
	
								<string>{ -0.46512,90.75581 }</string>
	
								<string>{ 76.45349,95.40697 }</string>
	
								<string>{ 75.69766,89.41859 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

