<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A12</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 6.75768,-73.65188 }</string>
	
								<string>{ -19.18089,-83.20819 }</string>
	
								<string>{ -8.53242,-49.35154 }</string>

							</array>

							<array>
	
								<string>{ -190.17065,-132.01365 }</string>
	
								<string>{ -240.34130,-161.02389 }</string>
	
								<string>{ -240.34130,-130.92150 }</string>

							</array>

							<array>
	
								<string>{ 28.94199,-90.71673 }</string>
	
								<string>{ -49.89761,-107.09898 }</string>
	
								<string>{ -19.18089,-83.20819 }</string>
	
								<string>{ 6.75768,-73.65188 }</string>

							</array>

							<array>
	
								<string>{ -137.26963,-129.62457 }</string>
	
								<string>{ 133.72012,-140.20478 }</string>
	
								<string>{ 246.00681,-160.34130 }</string>
	
								<string>{ -240.34130,-161.02389 }</string>
	
								<string>{ -190.17065,-132.01365 }</string>

							</array>

							<array>
	
								<string>{ 51.46756,-104.70990 }</string>
	
								<string>{ -49.89761,-107.09898 }</string>
	
								<string>{ 28.94199,-90.71673 }</string>

							</array>

							<array>
	
								<string>{ 176.72354,106.21161 }</string>
	
								<string>{ 246.00681,104.50513 }</string>
	
								<string>{ 205.39249,94.26620 }</string>
	
								<string>{ 183.89078,99.72696 }</string>

							</array>

							<array>
	
								<string>{ 246.00681,104.50513 }</string>
	
								<string>{ 221.43344,76.17747 }</string>
	
								<string>{ 205.39249,94.26620 }</string>

							</array>

							<array>
	
								<string>{ 246.00681,104.50513 }</string>
	
								<string>{ 233.72012,55.01706 }</string>
	
								<string>{ 221.43344,76.17747 }</string>

							</array>

							<array>
	
								<string>{ 246.00681,104.50513 }</string>
	
								<string>{ 237.81567,31.46758 }</string>
	
								<string>{ 233.72012,55.01706 }</string>

							</array>

							<array>
	
								<string>{ 78.08875,-120.40956 }</string>
	
								<string>{ -91.19455,-123.82253 }</string>
	
								<string>{ -49.89761,-107.09898 }</string>
	
								<string>{ 51.46756,-104.70990 }</string>

							</array>

							<array>
	
								<string>{ 106.75766,-132.01365 }</string>
	
								<string>{ -137.26963,-129.62457 }</string>
	
								<string>{ -91.19455,-123.82253 }</string>
	
								<string>{ 78.08875,-120.40956 }</string>

							</array>

							<array>
	
								<string>{ 246.00681,104.50513 }</string>
	
								<string>{ 239.18088,0.40955 }</string>
	
								<string>{ 237.81567,31.46758 }</string>

							</array>

							<array>
	
								<string>{ 246.00681,-160.34130 }</string>
	
								<string>{ 238.49829,-28.60069 }</string>
	
								<string>{ 239.18088,0.40955 }</string>
	
								<string>{ 246.00681,104.50513 }</string>

							</array>

							<array>
	
								<string>{ 133.72012,-140.20478 }</string>
	
								<string>{ -137.26963,-129.62457 }</string>
	
								<string>{ 106.75766,-132.01365 }</string>

							</array>

							<array>
	
								<string>{ 167.84982,-140.54608 }</string>
	
								<string>{ 246.00681,-160.34130 }</string>
	
								<string>{ 133.72012,-140.20478 }</string>

							</array>

							<array>
	
								<string>{ 192.42319,-133.37884 }</string>
	
								<string>{ 246.00681,-160.34130 }</string>
	
								<string>{ 167.84982,-140.54608 }</string>

							</array>

							<array>
	
								<string>{ 216.99658,-116.31400 }</string>
	
								<string>{ 246.00681,-160.34130 }</string>
	
								<string>{ 192.42319,-133.37884 }</string>

							</array>

							<array>
	
								<string>{ 230.64847,-89.69283 }</string>
	
								<string>{ 246.00681,-160.34130 }</string>
	
								<string>{ 216.99658,-116.31400 }</string>

							</array>

							<array>
	
								<string>{ 237.47440,-61.36519 }</string>
	
								<string>{ 246.00681,-160.34130 }</string>
	
								<string>{ 230.64847,-89.69283 }</string>

							</array>

							<array>
	
								<string>{ 238.49829,-28.60069 }</string>
	
								<string>{ 246.00681,-160.34130 }</string>
	
								<string>{ 237.47440,-61.36519 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 0.27303,-5.05119 }</string>
	
								<string>{ 43.61774,-10.17065 }</string>
	
								<string>{ 27.23547,-36.45052 }</string>

							</array>

							<array>
	
								<string>{ -30.10239,26.68942 }</string>
	
								<string>{ -37.61093,73.78839 }</string>
	
								<string>{ 69.21500,54.33447 }</string>
	
								<string>{ 66.14334,9.96587 }</string>
	
								<string>{ 43.61774,-10.17065 }</string>
	
								<string>{ 0.27303,-5.05119 }</string>

							</array>

							<array>
	
								<string>{ 130.98975,26.34811 }</string>
	
								<string>{ 69.21500,54.33447 }</string>
	
								<string>{ 170.64847,33.24232 }</string>
	
								<string>{ 170.92148,21.91125 }</string>

							</array>

							<array>
	
								<string>{ 96.86005,23.61774 }</string>
	
								<string>{ 69.21500,54.33447 }</string>
	
								<string>{ 130.98975,26.34811 }</string>

							</array>

							<array>
	
								<string>{ 66.14334,9.96587 }</string>
	
								<string>{ 69.21500,54.33447 }</string>
	
								<string>{ 96.86005,23.61774 }</string>

							</array>

							<array>
	
								<string>{ -46.82594,41.70648 }</string>
	
								<string>{ -37.61093,73.78839 }</string>
	
								<string>{ -30.10239,26.68942 }</string>

							</array>

							<array>
	
								<string>{ -80.61433,63.89078 }</string>
	
								<string>{ -37.61093,73.78839 }</string>
	
								<string>{ -46.82594,41.70648 }</string>

							</array>

							<array>
	
								<string>{ -80.61433,63.89078 }</string>
	
								<string>{ -114.40273,73.10579 }</string>
	
								<string>{ -143.75426,83.00340 }</string>
	
								<string>{ -146.14335,90.58020 }</string>
	
								<string>{ -37.61093,73.78839 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

