<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A30</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 230.19867,-66.95364 }</string>
	
								<string>{ 214.96689,-160.66225 }</string>
	
								<string>{ 203.04636,-84.50331 }</string>
	
								<string>{ 214.30463,-65.29801 }</string>

							</array>

							<array>
	
								<string>{ 118.27814,-9.33775 }</string>
	
								<string>{ 87.15231,0.92715 }</string>
	
								<string>{ 105.36423,14.83444 }</string>
	
								<string>{ 139.13907,12.18542 }</string>
	
								<string>{ 140.46359,-0.06622 }</string>

							</array>

							<array>
	
								<string>{ 87.15231,0.92715 }</string>
	
								<string>{ 65.62915,-3.04636 }</string>
	
								<string>{ 73.90729,23.77484 }</string>
	
								<string>{ 105.36423,14.83444 }</string>

							</array>

							<array>
	
								<string>{ 65.62915,-3.04636 }</string>
	
								<string>{ 40.13245,40.33113 }</string>
	
								<string>{ 73.90729,23.77484 }</string>

							</array>

							<array>
	
								<string>{ 21.25827,59.86755 }</string>
	
								<string>{ 5.36424,54.56953 }</string>
	
								<string>{ -28.07947,50.92715 }</string>
	
								<string>{ -25.76158,57.21855 }</string>
	
								<string>{ 0.39735,69.13907 }</string>

							</array>

							<array>
	
								<string>{ -129.40398,-29.86755 }</string>
	
								<string>{ 112.98013,-117.61589 }</string>
	
								<string>{ 214.96689,-160.66225 }</string>
	
								<string>{ -240.33113,-75.56291 }</string>
	
								<string>{ -240.33113,-35.56291 }</string>

							</array>

							<array>
	
								<string>{ -87.35100,6.88742 }</string>
	
								<string>{ -79.07285,44.63576 }</string>
	
								<string>{ -76.42384,21.78809 }</string>
	
								<string>{ -83.04636,-12.98013 }</string>
	
								<string>{ -89.66887,-12.98013 }</string>

							</array>

							<array>
	
								<string>{ -79.07285,44.63576 }</string>
	
								<string>{ -54.90067,44.63576 }</string>
	
								<string>{ -76.42384,21.78809 }</string>

							</array>

							<array>
	
								<string>{ -83.37749,75.76160 }</string>
	
								<string>{ -80.46358,79.33775 }</string>
	
								<string>{ -61.19205,56.55629 }</string>
	
								<string>{ -54.90067,44.63576 }</string>
	
								<string>{ -79.07285,44.63576 }</string>

							</array>

							<array>
	
								<string>{ 214.96689,-160.66225 }</string>
	
								<string>{ 175.23178,-118.27814 }</string>
	
								<string>{ 203.04636,-84.50331 }</string>

							</array>

							<array>
	
								<string>{ 214.96689,-160.66225 }</string>
	
								<string>{ 132.51657,-121.92053 }</string>
	
								<string>{ 175.23178,-118.27814 }</string>

							</array>

							<array>
	
								<string>{ 60.00000,-31.52318 }</string>
	
								<string>{ 42.45035,5.23180 }</string>
	
								<string>{ 38.14569,31.39073 }</string>
	
								<string>{ 40.13245,40.33113 }</string>
	
								<string>{ 65.62915,-3.04636 }</string>

							</array>

							<array>
	
								<string>{ -61.19205,56.55629 }</string>
	
								<string>{ -25.76158,57.21855 }</string>
	
								<string>{ -28.07947,50.92715 }</string>
	
								<string>{ -54.90067,44.63576 }</string>

							</array>

							<array>
	
								<string>{ 21.25827,59.86755 }</string>
	
								<string>{ 40.13245,40.33113 }</string>
	
								<string>{ 38.14569,31.39073 }</string>
	
								<string>{ 5.36424,54.56953 }</string>

							</array>

							<array>
	
								<string>{ 60.00000,-31.52318 }</string>
	
								<string>{ 32.18542,-16.95364 }</string>
	
								<string>{ 42.45035,5.23180 }</string>

							</array>

							<array>
	
								<string>{ 60.00000,-31.52318 }</string>
	
								<string>{ 65.62915,-57.35099 }</string>
	
								<string>{ 18.94040,-30.52980 }</string>
	
								<string>{ 32.18542,-16.95364 }</string>

							</array>

							<array>
	
								<string>{ 88.14569,-90.46358 }</string>
	
								<string>{ -129.40398,-29.86755 }</string>
	
								<string>{ 18.94040,-30.52980 }</string>
	
								<string>{ 65.62915,-57.35099 }</string>

							</array>

							<array>
	
								<string>{ 112.98013,-117.61589 }</string>
	
								<string>{ -129.40398,-29.86755 }</string>
	
								<string>{ 88.14569,-90.46358 }</string>

							</array>

							<array>
	
								<string>{ 214.96689,-160.66225 }</string>
	
								<string>{ 112.98013,-117.61589 }</string>
	
								<string>{ 132.51657,-121.92053 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 56.35760,109.20529 }</string>
	
								<string>{ 23.57617,109.86755 }</string>
	
								<string>{ -30.39735,115.16556 }</string>
	
								<string>{ -33.04636,120.39734 }</string>
	
								<string>{ 30.52982,122.11920 }</string>
	
								<string>{ 60.59604,118.07947 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 240.46359,145.96027 }</string>
	
								<string>{ -42.98013,160.13245 }</string>
	
								<string>{ 240.72849,160.46359 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

