<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A47</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>isSensor</key>
                        <false/>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
						<key>polygons</key>
						<array>
							<array>	
								<string>{ -54.85204,-24.61827 }</string>	
								<string>{ -65.14142,-7.25493 }</string>	
								<string>{ -47.13499,17.50391 }</string>	
								<string>{ -24.81989,3.16307 }</string>	
								<string>{ -36.20251,-33.62149 }</string>
							</array>
							<array>	
								<string>{ -86.04175,15.25311 }</string>	
								<string>{ -47.13499,17.50391 }</string>	
								<string>{ -65.14142,-7.25493 }</string>
							</array>
							<array>	
								<string>{ -283.71429,64.23143 }</string>	
								<string>{ -187.64947,33.58109 }</string>	
								<string>{ -285.25034,35.36699 }</string>
							</array>
							<array>	
								<string>{ -47.13499,17.50391 }</string>	
								<string>{ -86.04175,15.25311 }</string>	
								<string>{ -187.64947,33.58109 }</string>	
								<string>{ -283.71429,64.23143 }</string>
							</array>
						</array>
                        
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>isSensor</key>
                        <false/>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
						<key>polygons</key>
						<array>
							<array>	
								<string>{ 64.80991,127.74551 }</string>	
								<string>{ 117.54303,129.03171 }</string>	
								<string>{ 86.35330,117.45615 }</string>	
								<string>{ 35.54944,116.16995 }</string>	
								<string>{ 27.18933,122.92236 }</string>
							</array>
							<array>	
								<string>{ 117.54303,129.03171 }</string>	
								<string>{ 128.15396,122.60083 }</string>	
								<string>{ 117.86456,116.81305 }</string>	
								<string>{ 86.35330,117.45615 }</string>
							</array>
							<array>	
								<string>{ 128.15396,122.60083 }</string>	
								<string>{ 142.94495,119.70694 }</string>	
								<string>{ 139.08643,114.88379 }</string>	
								<string>{ 117.86456,116.81305 }</string>
							</array>
							<array>	
								<string>{ 142.94495,119.70694 }</string>	
								<string>{ 157.73596,122.27930 }</string>	
								<string>{ 155.48514,112.31143 }</string>	
								<string>{ 139.08643,114.88379 }</string>
							</array>
							<array>	
								<string>{ 157.73596,122.27930 }</string>	
								<string>{ 170.59769,108.45291 }</string>	
								<string>{ 155.48514,112.31143 }</string>
							</array>
							<array>	
								<string>{ 103.07358,7.80983 }</string>	
								<string>{ 75.09930,-3.76573 }</string>	
								<string>{ 52.26971,40.60725 }</string>	
								<string>{ 59.66519,53.14745 }</string>
							</array>
							<array>	
								<string>{ 103.07358,7.80983 }</string>	
								<string>{ 128.47549,-14.37666 }</string>	
								<string>{ 93.10571,-44.60175 }</string>	
								<string>{ 75.09930,-3.76573 }</string>
							</array>
							<array>	
								<string>{ 149.05429,-24.02296 }</string>	
								<string>{ 93.10571,-44.60175 }</string>	
								<string>{ 128.47549,-14.37666 }</string>
							</array>
							<array>	
								<string>{ 158.05750,129.67477 }</string>	
								<string>{ 202.10895,128.06708 }</string>	
								<string>{ 182.81635,102.66513 }</string>	
								<string>{ 170.59769,108.45291 }</string>	
								<string>{ 157.73596,122.27930 }</string>
							</array>
							<array>	
								<string>{ 202.10895,128.06708 }</string>	
								<string>{ 254.08771,115.54898 }</string>	
								<string>{ 195.99960,93.34038 }</string>	
								<string>{ 182.81635,102.66513 }</string>
							</array>
							<array>	
								<string>{ 254.08771,115.54898 }</string>	
								<string>{ 254.08051,110.89783 }</string>	
								<string>{ 231.47986,96.96594 }</string>	
								<string>{ 204.68127,82.08635 }</string>	
								<string>{ 195.99960,93.34038 }</string>
							</array>
							<array>	
								<string>{ 125.90314,-159.39275 }</string>	
								<string>{ 100.17969,-117.59211 }</string>	
								<string>{ 103.39511,-103.12265 }</string>	
								<string>{ 115.76825,-70.24439 }</string>	
								<string>{ 130.29340,-119.40640 }</string>
							</array>
							<array>	
								<string>{ -137.11937,-47.81718 }</string>	
								<string>{ -94.99718,-78.04227 }</string>	
								<string>{ -104.96503,-86.08085 }</string>	
								<string>{ -145.15796,-52.19018 }</string>
							</array>
							<array>	
								<string>{ -50.62419,-102.80111 }</string>	
								<string>{ -34.86856,-133.34773 }</string>	
								<string>{ -104.96503,-86.08085 }</string>	
								<string>{ -94.99718,-78.04227 }</string>
							</array>
							<array>	
								<string>{ -19.11295,-115.98439 }</string>	
								<string>{ -34.86856,-133.34773 }</string>	
								<string>{ -50.62419,-102.80111 }</string>
							</array>
							<array>	
								<string>{ 13.68451,-127.88150 }</string>	
								<string>{ -28.75923,-159.07121 }</string>	
								<string>{ -34.86856,-133.34773 }</string>	
								<string>{ -19.11295,-115.98439 }</string>
							</array>
							<array>	
								<string>{ 41.98032,-136.88471 }</string>	
								<string>{ -28.75923,-159.07121 }</string>	
								<string>{ 13.68451,-127.88150 }</string>
							</array>
							<array>	
								<string>{ 41.98032,-136.88471 }</string>	
								<string>{ 64.16681,-138.49243 }</string>	
								<string>{ 125.90314,-159.39275 }</string>	
								<string>{ -28.75923,-159.07121 }</string>
							</array>
							<array>	
								<string>{ 284.00195,-59.11700 }</string>	
								<string>{ 186.15930,-31.97623 }</string>	
								<string>{ 232.71826,-32.44582 }</string>	
								<string>{ 283.18268,-48.85449 }</string>
							</array>
							<array>	
								<string>{ 186.15930,-31.97623 }</string>	
								<string>{ 218.47678,27.30650 }</string>	
								<string>{ 232.71826,-32.44582 }</string>
							</array>
							<array>	
								<string>{ 186.15930,-31.97623 }</string>	
								<string>{ 204.03821,27.74551 }</string>	
								<string>{ 231.47986,96.96594 }</string>	
								<string>{ 218.47678,27.30650 }</string>
							</array>
							<array>	
								<string>{ 165.13144,-26.59532 }</string>	
								<string>{ 129.45538,-38.40081 }</string>	
								<string>{ 93.10571,-44.60175 }</string>	
								<string>{ 149.05429,-24.02296 }</string>
							</array>
							<array>	
								<string>{ 231.47986,96.96594 }</string>	
								<string>{ 207.25363,69.22462 }</string>	
								<string>{ 204.68127,82.08635 }</string>
							</array>
							<array>	
								<string>{ 231.47986,96.96594 }</string>	
								<string>{ 207.89673,54.11208 }</string>	
								<string>{ 207.25363,69.22462 }</string>
							</array>
							<array>	
								<string>{ 231.47986,96.96594 }</string>	
								<string>{ 204.03821,27.74551 }</string>	
								<string>{ 207.89673,54.11208 }</string>
							</array>
							<array>	
								<string>{ 83.13788,-135.27699 }</string>	
								<string>{ 125.90314,-159.39275 }</string>	
								<string>{ 64.16681,-138.49243 }</string>
							</array>
							<array>	
								<string>{ 93.74881,-128.52458 }</string>	
								<string>{ 125.90314,-159.39275 }</string>	
								<string>{ 83.13788,-135.27699 }</string>
							</array>
							<array>	
								<string>{ 100.17969,-117.59211 }</string>	
								<string>{ 125.90314,-159.39275 }</string>	
								<string>{ 93.74881,-128.52458 }</string>
							</array>
							<array>	
								<string>{ 102.43048,-84.15159 }</string>	
								<string>{ 115.76825,-70.24439 }</string>	
								<string>{ 103.39511,-103.12265 }</string>
							</array>
							<array>	
								<string>{ 98.57196,-63.57281 }</string>	
								<string>{ 129.45538,-38.40081 }</string>	
								<string>{ 115.76825,-70.24439 }</string>	
								<string>{ 102.43048,-84.15159 }</string>
							</array>
							<array>	
								<string>{ 93.10571,-44.60175 }</string>	
								<string>{ 129.45538,-38.40081 }</string>	
								<string>{ 98.57196,-63.57281 }</string>
							</array>
							<array>	
								<string>{ 165.13144,-26.59532 }</string>	
								<string>{ 178.95782,-23.70143 }</string>	
								<string>{ 186.15930,-31.97623 }</string>	
								<string>{ 129.45538,-38.40081 }</string>
							</array>
							<array>	
								<string>{ 186.99640,-16.94902 }</string>	
								<string>{ 186.15930,-31.97623 }</string>	
								<string>{ 178.95782,-23.70143 }</string>
							</array>
							<array>	
								<string>{ 196.32117,2.66513 }</string>	
								<string>{ 186.15930,-31.97623 }</string>	
								<string>{ 186.99640,-16.94902 }</string>
							</array>
						</array>
                        
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>




