<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A44</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -180.98837,-100.40698 }</string>
	
								<string>{ -160.63953,-110.00000 }</string>
	
								<string>{ -146.39535,-117.84884 }</string>
	
								<string>{ -135.63953,-126.27907 }</string>
	
								<string>{ -117.03489,-159.41860 }</string>
	
								<string>{ -168.19768,-160.00000 }</string>

							</array>

							<array>
	
								<string>{ 241.10464,-160.29070 }</string>
	
								<string>{ 158.25580,-15.81395 }</string>
	
								<string>{ 126.86047,102.20929 }</string>
	
								<string>{ 240.23254,108.89536 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,48.31395 }</string>
	
								<string>{ -199.30233,-40.52325 }</string>
	
								<string>{ -180.98837,-100.40698 }</string>
	
								<string>{ -239.70930,-83.54652 }</string>

							</array>

							<array>
	
								<string>{ -83.89536,-55.34884 }</string>
	
								<string>{ -108.02325,-91.10465 }</string>
	
								<string>{ -101.04651,-36.45349 }</string>
	
								<string>{ -92.32558,-36.45349 }</string>

							</array>

							<array>
	
								<string>{ -71.10466,-74.82558 }</string>
	
								<string>{ -108.02325,-91.10465 }</string>
	
								<string>{ -83.89536,-55.34884 }</string>

							</array>

							<array>
	
								<string>{ -43.19768,-91.97675 }</string>
	
								<string>{ -31.86047,-100.98837 }</string>
	
								<string>{ -117.61628,-114.06977 }</string>
	
								<string>{ -108.02325,-91.10465 }</string>
	
								<string>{ -71.10466,-74.82558 }</string>

							</array>

							<array>
	
								<string>{ 37.03488,90.00000 }</string>
	
								<string>{ 126.86047,102.20929 }</string>
	
								<string>{ 75.11627,72.55814 }</string>
	
								<string>{ 37.90698,81.56976 }</string>

							</array>

							<array>
	
								<string>{ 126.86047,102.20929 }</string>
	
								<string>{ 121.62790,37.67441 }</string>
	
								<string>{ 75.11627,72.55814 }</string>

							</array>

							<array>
	
								<string>{ 126.86047,102.20929 }</string>
	
								<string>{ 139.06976,16.74419 }</string>
	
								<string>{ 121.62790,37.67441 }</string>

							</array>

							<array>
	
								<string>{ -41.16280,-121.91861 }</string>
	
								<string>{ 32.09302,-117.84884 }</string>
	
								<string>{ 83.25580,-117.26744 }</string>
	
								<string>{ 241.10464,-160.29070 }</string>
	
								<string>{ -18.48837,-160.00000 }</string>

							</array>

							<array>
	
								<string>{ 126.86047,102.20929 }</string>
	
								<string>{ 158.25580,-15.81395 }</string>
	
								<string>{ 139.06976,16.74419 }</string>

							</array>

							<array>
	
								<string>{ -3.95349,-112.03489 }</string>
	
								<string>{ -41.16280,-121.91861 }</string>
	
								<string>{ -70.23256,-110.87209 }</string>
	
								<string>{ -31.86047,-100.98837 }</string>
	
								<string>{ -15.87210,-105.34884 }</string>

							</array>

							<array>
	
								<string>{ 32.09302,-117.84884 }</string>
	
								<string>{ -41.16280,-121.91861 }</string>
	
								<string>{ -3.95349,-112.03489 }</string>
	
								<string>{ 20.75580,-113.48837 }</string>

							</array>

							<array>
	
								<string>{ -31.86047,-100.98837 }</string>
	
								<string>{ -127.50000,-125.11628 }</string>
	
								<string>{ -117.61628,-114.06977 }</string>

							</array>

							<array>
	
								<string>{ 241.10464,-160.29070 }</string>
	
								<string>{ 162.61627,-42.26744 }</string>
	
								<string>{ 158.25580,-15.81395 }</string>

							</array>

							<array>
	
								<string>{ 241.10464,-160.29070 }</string>
	
								<string>{ 160.87210,-70.75581 }</string>
	
								<string>{ 162.61627,-42.26744 }</string>

							</array>

							<array>
	
								<string>{ 241.10464,-160.29070 }</string>
	
								<string>{ 140.81393,-94.59303 }</string>
	
								<string>{ 160.87210,-70.75581 }</string>

							</array>

							<array>
	
								<string>{ 241.10464,-160.29070 }</string>
	
								<string>{ 117.26743,-108.54651 }</string>
	
								<string>{ 140.81393,-94.59303 }</string>

							</array>

							<array>
	
								<string>{ 241.10464,-160.29070 }</string>
	
								<string>{ 83.25580,-117.26744 }</string>
	
								<string>{ 117.26743,-108.54651 }</string>

							</array>

							<array>
	
								<string>{ -147.26744,35.63953 }</string>
	
								<string>{ -157.73256,57.73256 }</string>
	
								<string>{ -56.97675,63.72093 }</string>
	
								<string>{ -57.15117,57.44186 }</string>

							</array>

							<array>
	
								<string>{ -171.10465,22.26744 }</string>
	
								<string>{ -240.00000,48.31395 }</string>
	
								<string>{ -157.73256,57.73256 }</string>
	
								<string>{ -147.26744,35.63953 }</string>

							</array>

							<array>
	
								<string>{ -186.80233,12.96512 }</string>
	
								<string>{ -240.00000,48.31395 }</string>
	
								<string>{ -171.10465,22.26744 }</string>

							</array>

							<array>
	
								<string>{ -199.59303,-5.05814 }</string>
	
								<string>{ -240.00000,48.31395 }</string>
	
								<string>{ -186.80233,12.96512 }</string>

							</array>

							<array>
	
								<string>{ -205.11628,-19.01163 }</string>
	
								<string>{ -240.00000,48.31395 }</string>
	
								<string>{ -199.59303,-5.05814 }</string>

							</array>

							<array>
	
								<string>{ -199.30233,-40.52325 }</string>
	
								<string>{ -240.00000,48.31395 }</string>
	
								<string>{ -205.11628,-19.01163 }</string>

							</array>

							<array>
	
								<string>{ -188.54651,-61.16280 }</string>
	
								<string>{ -180.98837,-100.40698 }</string>
	
								<string>{ -199.30233,-40.52325 }</string>

							</array>

							<array>
	
								<string>{ -172.84884,-88.77907 }</string>
	
								<string>{ -180.98837,-100.40698 }</string>
	
								<string>{ -188.54651,-61.16280 }</string>

							</array>

							<array>
	
								<string>{ -160.63953,-110.00000 }</string>
	
								<string>{ -180.98837,-100.40698 }</string>
	
								<string>{ -172.84884,-88.77907 }</string>

							</array>

							<array>
	
								<string>{ -127.50000,-125.11628 }</string>
	
								<string>{ -117.03489,-159.41860 }</string>
	
								<string>{ -135.63953,-126.27907 }</string>

							</array>

							<array>
	
								<string>{ -127.50000,-125.11628 }</string>
	
								<string>{ -70.23256,-110.87209 }</string>
	
								<string>{ -117.03489,-159.41860 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

