<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A17</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -109.18605,10.34883 }</string>
	
								<string>{ -39.41861,15.58139 }</string>
	
								<string>{ -53.66280,-11.45349 }</string>
	
								<string>{ -80.40698,-25.11629 }</string>

							</array>

							<array>
	
								<string>{ -109.18605,10.34883 }</string>
	
								<string>{ -131.86047,50.75581 }</string>
	
								<string>{ 8.13953,58.19768 }</string>
	
								<string>{ 7.67441,52.50000 }</string>
	
								<string>{ -39.41861,15.58139 }</string>

							</array>

							<array>
	
								<string>{ -240.58140,39.59302 }</string>
	
								<string>{ -131.86047,50.75581 }</string>
	
								<string>{ -160.34884,27.50000 }</string>
	
								<string>{ -240.00000,18.48837 }</string>

							</array>

							<array>
	
								<string>{ -131.86047,50.75581 }</string>
	
								<string>{ -109.18605,10.34883 }</string>
	
								<string>{ -160.34884,27.50000 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 239.94186,-9.12791 }</string>
	
								<string>{ 146.91861,40.00000 }</string>
	
								<string>{ 138.19766,50.75581 }</string>
	
								<string>{ 82.67441,137.09302 }</string>
	
								<string>{ 80.23254,159.36047 }</string>
	
								<string>{ 240.81393,160.05814 }</string>

							</array>

							<array>
	
								<string>{ -37.67442,109.06976 }</string>
	
								<string>{ -0.75581,103.66278 }</string>
	
								<string>{ 37.03488,87.96512 }</string>
	
								<string>{ -31.86047,98.13953 }</string>
	
								<string>{ -38.25581,101.62790 }</string>

							</array>

							<array>
	
								<string>{ 72.50000,-98.95349 }</string>
	
								<string>{ 52.73254,-47.20930 }</string>
	
								<string>{ 52.44186,-35.29070 }</string>
	
								<string>{ 87.90698,-21.62791 }</string>
	
								<string>{ 96.91861,-53.89535 }</string>
	
								<string>{ 96.04651,-104.18605 }</string>

							</array>

							<array>
	
								<string>{ 116.39536,-8.54651 }</string>
	
								<string>{ 239.94186,-9.12791 }</string>
	
								<string>{ 96.91861,-53.89535 }</string>
	
								<string>{ 87.90698,-21.62791 }</string>

							</array>

							<array>
	
								<string>{ 25.69766,102.50000 }</string>
	
								<string>{ 37.03488,87.96512 }</string>
	
								<string>{ -0.75581,103.66278 }</string>

							</array>

							<array>
	
								<string>{ 54.18604,106.56976 }</string>
	
								<string>{ 73.66278,78.37209 }</string>
	
								<string>{ 37.03488,87.96512 }</string>
	
								<string>{ 25.69766,102.50000 }</string>

							</array>

							<array>
	
								<string>{ 77.73254,117.03488 }</string>
	
								<string>{ 104.47675,69.94186 }</string>
	
								<string>{ 73.66278,78.37209 }</string>
	
								<string>{ 54.18604,106.56976 }</string>

							</array>

							<array>
	
								<string>{ 82.67441,137.09302 }</string>
	
								<string>{ 122.50000,60.93022 }</string>
	
								<string>{ 104.47675,69.94186 }</string>
	
								<string>{ 77.73254,117.03488 }</string>

							</array>

							<array>
	
								<string>{ 137.32556,4.82558 }</string>
	
								<string>{ 239.94186,-9.12791 }</string>
	
								<string>{ 116.39536,-8.54651 }</string>

							</array>

							<array>
	
								<string>{ 146.91861,16.74419 }</string>
	
								<string>{ 239.94186,-9.12791 }</string>
	
								<string>{ 137.32556,4.82558 }</string>

							</array>

							<array>
	
								<string>{ 150.40698,29.82558 }</string>
	
								<string>{ 239.94186,-9.12791 }</string>
	
								<string>{ 146.91861,16.74419 }</string>

							</array>

							<array>
	
								<string>{ 82.67441,137.09302 }</string>
	
								<string>{ 138.19766,50.75581 }</string>
	
								<string>{ 122.50000,60.93022 }</string>

							</array>

							<array>
	
								<string>{ 146.91861,40.00000 }</string>
	
								<string>{ 239.94186,-9.12791 }</string>
	
								<string>{ 150.40698,29.82558 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -91.16280,-159.41860 }</string>
	
								<string>{ -87.38373,-116.68605 }</string>
	
								<string>{ -36.22093,-105.93023 }</string>
	
								<string>{ -6.86047,-159.41860 }</string>

							</array>

							<array>
	
								<string>{ -87.38373,-116.68605 }</string>
	
								<string>{ -174.01163,-110.87209 }</string>
	
								<string>{ -174.59303,-95.87209 }</string>
	
								<string>{ -50.00000,-72.32558 }</string>
	
								<string>{ -36.22093,-105.93023 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

