<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A52</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -188.35681,-5.53992 }</string>
	
								<string>{ -241.40845,4.09160 }</string>
	
								<string>{ -143.75587,5.72769 }</string>
	
								<string>{ -145.16432,-2.25352 }</string>

							</array>

							<array>
	
								<string>{ -202.44131,-11.64320 }</string>
	
								<string>{ -241.40845,4.09160 }</string>
	
								<string>{ -188.35681,-5.53992 }</string>

							</array>

							<array>
	
								<string>{ -214.17841,-19.62442 }</string>
	
								<string>{ -241.40845,4.09160 }</string>
	
								<string>{ -202.44131,-11.64320 }</string>

							</array>

							<array>
	
								<string>{ -224.50704,-31.83099 }</string>
	
								<string>{ -241.40845,4.09160 }</string>
	
								<string>{ -214.17841,-19.62442 }</string>

							</array>

							<array>
	
								<string>{ 165.14471,-54.53376 }</string>
	
								<string>{ 239.42123,-129.13183 }</string>
	
								<string>{ 149.71063,-74.46945 }</string>
	
								<string>{ 160.00000,-55.17684 }</string>

							</array>

							<array>
	
								<string>{ 239.42123,-129.13183 }</string>
	
								<string>{ 240.51450,-160.19293 }</string>
	
								<string>{ 136.84888,-94.40514 }</string>
	
								<string>{ 149.71063,-74.46945 }</string>

							</array>

							<array>
	
								<string>{ -29.06752,-3.72990 }</string>
	
								<string>{ -43.21542,-39.74276 }</string>
	
								<string>{ -46.88072,-20.64943 }</string>
	
								<string>{ -32.92604,-2.12218 }</string>

							</array>

							<array>
	
								<string>{ -43.21542,-39.74276 }</string>
	
								<string>{ -48.36012,-63.21543 }</string>
	
								<string>{ -59.12503,-33.95498 }</string>
	
								<string>{ -46.88072,-20.64943 }</string>

							</array>

							<array>
	
								<string>{ -48.36012,-63.21543 }</string>
	
								<string>{ -73.22162,-47.50509 }</string>
	
								<string>{ -59.12503,-33.95498 }</string>

							</array>

							<array>
	
								<string>{ -48.36012,-63.21543 }</string>
	
								<string>{ -49.64630,-78.00643 }</string>
	
								<string>{ -94.36650,-66.51540 }</string>
	
								<string>{ -73.22162,-47.50509 }</string>

							</array>

							<array>
	
								<string>{ -49.64630,-78.00643 }</string>
	
								<string>{ -86.94836,-83.47418 }</string>
	
								<string>{ -118.87325,-82.53522 }</string>
	
								<string>{ -94.36650,-66.51540 }</string>

							</array>

							<array>
	
								<string>{ -227.32394,-45.91550 }</string>
	
								<string>{ -241.40845,4.09160 }</string>
	
								<string>{ -224.50704,-31.83099 }</string>

							</array>

							<array>
	
								<string>{ 240.51450,-160.19293 }</string>
	
								<string>{ 123.98715,-106.94534 }</string>
	
								<string>{ 136.84888,-94.40514 }</string>

							</array>

							<array>
	
								<string>{ -227.32394,-45.91550 }</string>
	
								<string>{ -224.03756,-60.46949 }</string>
	
								<string>{ -240.00000,-160.32154 }</string>
	
								<string>{ -241.40845,4.09160 }</string>

							</array>

							<array>
	
								<string>{ 240.51450,-160.19293 }</string>
	
								<string>{ 109.51770,-115.62701 }</string>
	
								<string>{ 123.98715,-106.94534 }</string>

							</array>

							<array>
	
								<string>{ 240.51450,-160.19293 }</string>
	
								<string>{ 92.79742,-123.34405 }</string>
	
								<string>{ 109.51770,-115.62701 }</string>

							</array>

							<array>
	
								<string>{ 240.51450,-160.19293 }</string>
	
								<string>{ 78.32797,-129.13183 }</string>
	
								<string>{ 92.79742,-123.34405 }</string>

							</array>

							<array>
	
								<string>{ 240.51450,-160.19293 }</string>
	
								<string>{ 51.63989,-135.88424 }</string>
	
								<string>{ 78.32797,-129.13183 }</string>

							</array>

							<array>
	
								<string>{ -65.82161,-160.00000 }</string>
	
								<string>{ 28.81030,-139.74277 }</string>
	
								<string>{ 51.63989,-135.88424 }</string>
	
								<string>{ 240.51450,-160.19293 }</string>

							</array>

							<array>
	
								<string>{ -217.93427,-73.61503 }</string>
	
								<string>{ -240.00000,-160.32154 }</string>
	
								<string>{ -224.03756,-60.46949 }</string>

							</array>

							<array>
	
								<string>{ -206.66667,-86.76057 }</string>
	
								<string>{ -240.00000,-160.32154 }</string>
	
								<string>{ -217.93427,-73.61503 }</string>

							</array>

							<array>
	
								<string>{ -189.29578,-96.15024 }</string>
	
								<string>{ -240.00000,-160.32154 }</string>
	
								<string>{ -206.66667,-86.76057 }</string>

							</array>

							<array>
	
								<string>{ -169.57747,-99.43662 }</string>
	
								<string>{ -240.00000,-160.32154 }</string>
	
								<string>{ -189.29578,-96.15024 }</string>

							</array>

							<array>
	
								<string>{ -169.57747,-99.43662 }</string>
	
								<string>{ -151.26761,-96.15024 }</string>
	
								<string>{ -133.89672,-95.68076 }</string>
	
								<string>{ -240.00000,-160.32154 }</string>

							</array>

							<array>
	
								<string>{ -118.87325,-82.53522 }</string>
	
								<string>{ -86.94836,-83.47418 }</string>
	
								<string>{ -133.89672,-95.68076 }</string>
	
								<string>{ -151.26761,-96.15024 }</string>

							</array>

							<array>
	
								<string>{ -49.64630,-78.00643 }</string>
	
								<string>{ -49.32475,-90.86816 }</string>
	
								<string>{ -61.12677,-106.94836 }</string>
	
								<string>{ -86.94836,-83.47418 }</string>

							</array>

							<array>
	
								<string>{ -47.39549,-104.05145 }</string>
	
								<string>{ -61.12677,-106.94836 }</string>
	
								<string>{ -49.32475,-90.86816 }</string>

							</array>

							<array>
	
								<string>{ -42.89389,-114.34084 }</string>
	
								<string>{ -65.82161,-160.00000 }</string>
	
								<string>{ -61.12677,-106.94836 }</string>
	
								<string>{ -47.39549,-104.05145 }</string>

							</array>

							<array>
	
								<string>{ -38.07074,-121.73633 }</string>
	
								<string>{ -65.82161,-160.00000 }</string>
	
								<string>{ -42.89389,-114.34084 }</string>

							</array>

							<array>
	
								<string>{ -30.03215,-128.48874 }</string>
	
								<string>{ -65.82161,-160.00000 }</string>
	
								<string>{ -38.07074,-121.73633 }</string>

							</array>

							<array>
	
								<string>{ -17.81349,-135.56270 }</string>
	
								<string>{ -65.82161,-160.00000 }</string>
	
								<string>{ -30.03215,-128.48874 }</string>

							</array>

							<array>
	
								<string>{ -2.05788,-139.74277 }</string>
	
								<string>{ -65.82161,-160.00000 }</string>
	
								<string>{ -17.81349,-135.56270 }</string>

							</array>

							<array>
	
								<string>{ 11.12541,-141.02894 }</string>
	
								<string>{ -65.82161,-160.00000 }</string>
	
								<string>{ -2.05788,-139.74277 }</string>

							</array>

							<array>
	
								<string>{ 28.81030,-139.74277 }</string>
	
								<string>{ -65.82161,-160.00000 }</string>
	
								<string>{ 11.12541,-141.02894 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 120.45016,-23.17044 }</string>
	
								<string>{ 157.42767,17.66557 }</string>
	
								<string>{ 147.13828,-22.20581 }</string>
	
								<string>{ 135.24118,-40.85533 }</string>

							</array>

							<array>
	
								<string>{ -1.73633,80.36653 }</string>
	
								<string>{ 15.30548,82.93889 }</string>
	
								<string>{ 5.08704,63.22208 }</string>
	
								<string>{ -8.28947,62.03856 }</string>

							</array>

							<array>
	
								<string>{ -2.05788,94.51445 }</string>
	
								<string>{ 24.30869,93.87137 }</string>
	
								<string>{ 15.30548,82.93889 }</string>
	
								<string>{ -1.73633,80.36653 }</string>

							</array>

							<array>
	
								<string>{ 240.06433,25.38261 }</string>
	
								<string>{ 185.40195,82.29579 }</string>
	
								<string>{ 141.67203,134.38583 }</string>
	
								<string>{ 242.12219,121.65271 }</string>

							</array>

							<array>
	
								<string>{ -101.01172,147.02899 }</string>
	
								<string>{ -95.39906,130.14084 }</string>
	
								<string>{ -117.12210,117.49045 }</string>

							</array>

							<array>
	
								<string>{ -101.01172,147.02899 }</string>
	
								<string>{ -76.61972,136.24411 }</string>
	
								<string>{ -95.39906,130.14084 }</string>

							</array>

							<array>
	
								<string>{ -4.63022,106.73309 }</string>
	
								<string>{ 37.49197,107.37619 }</string>
	
								<string>{ 24.30869,93.87137 }</string>
	
								<string>{ -2.05788,94.51445 }</string>

							</array>

							<array>
	
								<string>{ 105.65918,-8.70099 }</string>
	
								<string>{ 157.42767,17.66557 }</string>
	
								<string>{ 120.45016,-23.17044 }</string>

							</array>

							<array>
	
								<string>{ 84.43732,8.01927 }</string>
	
								<string>{ 152.28296,26.99033 }</string>
	
								<string>{ 157.42767,17.66557 }</string>
	
								<string>{ 105.65918,-8.70099 }</string>

							</array>

							<array>
	
								<string>{ -10.73955,117.66559 }</string>
	
								<string>{ 52.28296,117.02249 }</string>
	
								<string>{ 37.49197,107.37619 }</string>
	
								<string>{ -4.63022,106.73309 }</string>

							</array>

							<array>
	
								<string>{ -101.01172,147.02899 }</string>
	
								<string>{ -60.65729,139.06100 }</string>
	
								<string>{ -76.61972,136.24411 }</string>

							</array>

							<array>
	
								<string>{ 127.20258,20.23792 }</string>
	
								<string>{ 84.43732,8.01927 }</string>
	
								<string>{ 84.75885,15.09322 }</string>

							</array>

							<array>
	
								<string>{ 152.28296,26.99033 }</string>
	
								<string>{ 173.50485,35.35046 }</string>
	
								<string>{ 169.32477,23.45335 }</string>
	
								<string>{ 157.42767,17.66557 }</string>

							</array>

							<array>
	
								<string>{ 173.50485,35.35046 }</string>
	
								<string>{ 186.68811,42.74596 }</string>
	
								<string>{ 185.08041,26.02570 }</string>
	
								<string>{ 169.32477,23.45335 }</string>

							</array>

							<array>
	
								<string>{ 186.68811,42.74596 }</string>
	
								<string>{ 194.08362,53.35689 }</string>
	
								<string>{ 240.06433,25.38261 }</string>
	
								<string>{ 185.08041,26.02570 }</string>

							</array>

							<array>
	
								<string>{ 194.72672,61.07393 }</string>
	
								<string>{ 240.06433,25.38261 }</string>
	
								<string>{ 194.08362,53.35689 }</string>

							</array>

							<array>
	
								<string>{ -19.09967,125.70416 }</string>
	
								<string>{ 65.46625,123.13181 }</string>
	
								<string>{ 52.28296,117.02249 }</string>
	
								<string>{ -10.73955,117.66559 }</string>

							</array>

							<array>
	
								<string>{ 193.76208,68.46944 }</string>
	
								<string>{ 240.06433,25.38261 }</string>
	
								<string>{ 194.72672,61.07393 }</string>

							</array>

							<array>
	
								<string>{ -33.56912,134.06430 }</string>
	
								<string>{ 89.26047,127.95496 }</string>
	
								<string>{ 65.46625,123.13181 }</string>
	
								<string>{ -19.09967,125.70416 }</string>

							</array>

							<array>
	
								<string>{ 185.40195,82.29579 }</string>
	
								<string>{ 240.06433,25.38261 }</string>
	
								<string>{ 193.76208,68.46944 }</string>

							</array>

							<array>
	
								<string>{ 56.46304,141.13824 }</string>
	
								<string>{ 141.67203,134.38583 }</string>
	
								<string>{ -60.65729,139.06100 }</string>
	
								<string>{ -101.01172,147.02899 }</string>

							</array>

							<array>
	
								<string>{ 169.64630,97.08679 }</string>
	
								<string>{ 141.67203,134.38583 }</string>
	
								<string>{ 185.40195,82.29579 }</string>

							</array>

							<array>
	
								<string>{ 150.35370,109.62698 }</string>
	
								<string>{ 141.67203,134.38583 }</string>
	
								<string>{ 169.64630,97.08679 }</string>

							</array>

							<array>
	
								<string>{ 132.99036,118.95175 }</string>
	
								<string>{ 141.67203,134.38583 }</string>
	
								<string>{ 150.35370,109.62698 }</string>

							</array>

							<array>
	
								<string>{ 109.51770,126.02570 }</string>
	
								<string>{ 141.67203,134.38583 }</string>
	
								<string>{ 132.99036,118.95175 }</string>

							</array>

							<array>
	
								<string>{ 89.26047,127.95496 }</string>
	
								<string>{ 141.67203,134.38583 }</string>
	
								<string>{ 109.51770,126.02570 }</string>

							</array>

							<array>
	
								<string>{ -33.56912,134.06430 }</string>
	
								<string>{ -47.32454,138.56589 }</string>
	
								<string>{ 141.67203,134.38583 }</string>
	
								<string>{ 89.26047,127.95496 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

