<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A52</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>isSensor</key>
                        <false/>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
						<key>polygons</key>
						<array>
							<array>	
								<string>{ -284.13457,2.49924 }</string>	
								<string>{ -228.01184,-46.23397 }</string>	
								<string>{ -224.72546,-60.78796 }</string>	
								<string>{ -240.68790,-160.64001 }</string>	
								<string>{ -284.95541,-160.31847 }</string>
							</array>
							<array>	
								<string>{ -189.04471,-5.85838 }</string>	
								<string>{ -284.13457,2.49924 }</string>	
								<string>{ -144.44377,5.40923 }</string>	
								<string>{ -145.85222,-2.57201 }</string>
							</array>
							<array>	
								<string>{ 164.45682,-54.85223 }</string>	
								<string>{ 238.73334,-129.45030 }</string>	
								<string>{ 149.02274,-74.78792 }</string>	
								<string>{ 159.31210,-55.49532 }</string>
							</array>
							<array>	
								<string>{ 238.73334,-129.45030 }</string>	
								<string>{ 239.82660,-160.51140 }</string>	
								<string>{ 136.16098,-94.72362 }</string>	
								<string>{ 149.02274,-74.78792 }</string>
							</array>
							<array>	
								<string>{ -29.75542,-4.04837 }</string>	
								<string>{ -43.90332,-40.06123 }</string>	
								<string>{ -47.56862,-20.96790 }</string>	
								<string>{ -33.61394,-2.44066 }</string>
							</array>
							<array>	
								<string>{ -43.90332,-40.06123 }</string>	
								<string>{ -49.04802,-63.53391 }</string>	
								<string>{ -59.81293,-34.27345 }</string>	
								<string>{ -47.56862,-20.96790 }</string>
							</array>
							<array>	
								<string>{ -49.04802,-63.53391 }</string>	
								<string>{ -73.90952,-47.82356 }</string>	
								<string>{ -59.81293,-34.27345 }</string>
							</array>
							<array>	
								<string>{ -49.04802,-63.53391 }</string>	
								<string>{ -50.33420,-78.32490 }</string>	
								<string>{ -95.05440,-66.83387 }</string>	
								<string>{ -73.90952,-47.82356 }</string>
							</array>
							<array>	
								<string>{ -50.33420,-78.32490 }</string>	
								<string>{ -87.63626,-83.79266 }</string>	
								<string>{ -119.56114,-82.85368 }</string>	
								<string>{ -95.05440,-66.83387 }</string>
							</array>
							<array>	
								<string>{ 239.82660,-160.51140 }</string>	
								<string>{ 123.29926,-107.26381 }</string>	
								<string>{ 136.16098,-94.72362 }</string>
							</array>
							<array>	
								<string>{ 239.82660,-160.51140 }</string>	
								<string>{ 108.82980,-115.94548 }</string>	
								<string>{ 123.29926,-107.26381 }</string>
							</array>
							<array>	
								<string>{ -203.12922,-11.96167 }</string>	
								<string>{ -284.13457,2.49924 }</string>	
								<string>{ -189.04471,-5.85838 }</string>
							</array>
							<array>	
								<string>{ -214.86630,-19.94289 }</string>	
								<string>{ -284.13457,2.49924 }</string>	
								<string>{ -203.12922,-11.96167 }</string>
							</array>
							<array>	
								<string>{ -225.19494,-32.14947 }</string>	
								<string>{ -284.13457,2.49924 }</string>	
								<string>{ -214.86630,-19.94289 }</string>
							</array>
							<array>	
								<string>{ -228.01184,-46.23397 }</string>	
								<string>{ -284.13457,2.49924 }</string>	
								<string>{ -225.19494,-32.14947 }</string>
							</array>
							<array>	
								<string>{ 239.82660,-160.51140 }</string>	
								<string>{ 92.10953,-123.66252 }</string>	
								<string>{ 108.82980,-115.94548 }</string>
							</array>
							<array>	
								<string>{ 239.82660,-160.51140 }</string>	
								<string>{ 77.64008,-129.45030 }</string>	
								<string>{ 92.10953,-123.66252 }</string>
							</array>
							<array>	
								<string>{ 239.82660,-160.51140 }</string>	
								<string>{ 50.95200,-136.20271 }</string>	
								<string>{ 77.64008,-129.45030 }</string>
							</array>
							<array>	
								<string>{ -66.50951,-160.31847 }</string>	
								<string>{ 28.12241,-140.06124 }</string>	
								<string>{ 50.95200,-136.20271 }</string>	
								<string>{ 239.82660,-160.51140 }</string>
							</array>
							<array>	
								<string>{ -218.62217,-73.93350 }</string>	
								<string>{ -240.68790,-160.64001 }</string>	
								<string>{ -224.72546,-60.78796 }</string>
							</array>
							<array>	
								<string>{ -207.35457,-87.07904 }</string>	
								<string>{ -240.68790,-160.64001 }</string>	
								<string>{ -218.62217,-73.93350 }</string>
							</array>
							<array>	
								<string>{ -189.98367,-96.46871 }</string>	
								<string>{ -240.68790,-160.64001 }</string>	
								<string>{ -207.35457,-87.07904 }</string>
							</array>
							<array>	
								<string>{ -170.26537,-99.75509 }</string>	
								<string>{ -240.68790,-160.64001 }</string>	
								<string>{ -189.98367,-96.46871 }</string>
							</array>
							<array>	
								<string>{ -170.26537,-99.75509 }</string>	
								<string>{ -151.95551,-96.46871 }</string>	
								<string>{ -134.58463,-95.99923 }</string>	
								<string>{ -240.68790,-160.64001 }</string>
							</array>
							<array>	
								<string>{ -119.56114,-82.85368 }</string>	
								<string>{ -87.63626,-83.79266 }</string>	
								<string>{ -134.58463,-95.99923 }</string>	
								<string>{ -151.95551,-96.46871 }</string>
							</array>
							<array>	
								<string>{ -50.33420,-78.32490 }</string>	
								<string>{ -50.01265,-91.18664 }</string>	
								<string>{ -61.81467,-107.26683 }</string>	
								<string>{ -87.63626,-83.79266 }</string>
							</array>
							<array>	
								<string>{ -48.08339,-104.36992 }</string>	
								<string>{ -61.81467,-107.26683 }</string>	
								<string>{ -50.01265,-91.18664 }</string>
							</array>
							<array>	
								<string>{ -43.58179,-114.65931 }</string>	
								<string>{ -66.50951,-160.31847 }</string>	
								<string>{ -61.81467,-107.26683 }</string>	
								<string>{ -48.08339,-104.36992 }</string>
							</array>
							<array>	
								<string>{ -38.75864,-122.05481 }</string>	
								<string>{ -66.50951,-160.31847 }</string>	
								<string>{ -43.58179,-114.65931 }</string>
							</array>
							<array>	
								<string>{ -30.72005,-128.80722 }</string>	
								<string>{ -66.50951,-160.31847 }</string>	
								<string>{ -38.75864,-122.05481 }</string>
							</array>
							<array>	
								<string>{ -18.50140,-135.88117 }</string>	
								<string>{ -66.50951,-160.31847 }</string>	
								<string>{ -30.72005,-128.80722 }</string>
							</array>
							<array>	
								<string>{ -2.74576,-140.06124 }</string>	
								<string>{ -66.50951,-160.31847 }</string>	
								<string>{ -18.50140,-135.88117 }</string>
							</array>
							<array>	
								<string>{ 10.43750,-141.34741 }</string>	
								<string>{ -66.50951,-160.31847 }</string>	
								<string>{ -2.74576,-140.06124 }</string>
							</array>
							<array>	
								<string>{ 28.12241,-140.06124 }</string>	
								<string>{ -66.50951,-160.31847 }</string>	
								<string>{ 10.43750,-141.34741 }</string>
							</array>
						</array>
                        
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>isSensor</key>
                        <false/>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
						<key>polygons</key>
						<array>
							<array>	
								<string>{ 120.08075,-23.17044 }</string>	
								<string>{ 157.05823,17.66557 }</string>	
								<string>{ 146.76886,-22.20581 }</string>	
								<string>{ 134.87173,-40.85533 }</string>
							</array>
							<array>	
								<string>{ -2.10574,80.36653 }</string>	
								<string>{ 14.93604,82.93889 }</string>	
								<string>{ 4.71762,63.22208 }</string>	
								<string>{ -8.65891,62.03856 }</string>
							</array>
							<array>	
								<string>{ -2.42731,94.51445 }</string>	
								<string>{ 23.93927,93.87137 }</string>	
								<string>{ 14.93604,82.93889 }</string>	
								<string>{ -2.10574,80.36653 }</string>
							</array>
							<array>	
								<string>{ -101.38115,147.02899 }</string>	
								<string>{ -95.76849,130.14084 }</string>	
								<string>{ -117.49153,117.49045 }</string>
							</array>
							<array>	
								<string>{ -101.38115,147.02899 }</string>	
								<string>{ -76.98915,136.24411 }</string>	
								<string>{ -95.76849,130.14084 }</string>
							</array>
							<array>	
								<string>{ -4.99963,106.73309 }</string>	
								<string>{ 37.12253,107.37619 }</string>	
								<string>{ 23.93927,93.87137 }</string>	
								<string>{ -2.42731,94.51445 }</string>
							</array>
							<array>	
								<string>{ 105.28973,-8.70099 }</string>	
								<string>{ 157.05823,17.66557 }</string>	
								<string>{ 120.08075,-23.17044 }</string>
							</array>
							<array>	
								<string>{ 84.06787,8.01927 }</string>	
								<string>{ 151.91354,26.99033 }</string>	
								<string>{ 157.05823,17.66557 }</string>	
								<string>{ 105.28973,-8.70099 }</string>
							</array>
							<array>	
								<string>{ -11.10898,117.66559 }</string>	
								<string>{ 51.91354,117.02249 }</string>	
								<string>{ 37.12253,107.37619 }</string>	
								<string>{ -4.99963,106.73309 }</string>
							</array>
							<array>	
								<string>{ -101.38115,147.02899 }</string>	
								<string>{ -61.02672,139.06100 }</string>	
								<string>{ -76.98915,136.24411 }</string>
							</array>
							<array>	
								<string>{ 284.28088,22.19791 }</string>	
								<string>{ 184.71097,26.02570 }</string>	
								<string>{ 244.66241,47.96178 }</string>	
								<string>{ 284.15283,32.67516 }</string>
							</array>
							<array>	
								<string>{ 184.71097,26.02570 }</string>	
								<string>{ 186.31870,42.74596 }</string>	
								<string>{ 193.71420,53.35689 }</string>	
								<string>{ 210.58597,69.93629 }</string>	
								<string>{ 244.66241,47.96178 }</string>
							</array>
							<array>	
								<string>{ 126.83316,20.23792 }</string>	
								<string>{ 84.06787,8.01927 }</string>	
								<string>{ 84.38943,15.09322 }</string>
							</array>
							<array>	
								<string>{ 151.91354,26.99033 }</string>	
								<string>{ 173.13541,35.35046 }</string>	
								<string>{ 168.95535,23.45335 }</string>	
								<string>{ 157.05823,17.66557 }</string>
							</array>
							<array>	
								<string>{ 173.13541,35.35046 }</string>	
								<string>{ 186.31870,42.74596 }</string>	
								<string>{ 184.71097,26.02570 }</string>	
								<string>{ 168.95535,23.45335 }</string>
							</array>
							<array>	
								<string>{ 194.35727,61.07393 }</string>	
								<string>{ 210.58597,69.93629 }</string>	
								<string>{ 193.71420,53.35689 }</string>
							</array>
							<array>	
								<string>{ 193.39264,68.46944 }</string>	
								<string>{ 210.58597,69.93629 }</string>	
								<string>{ 194.35727,61.07393 }</string>
							</array>
							<array>	
								<string>{ 185.03250,82.29579 }</string>	
								<string>{ 242.75159,115.79617 }</string>	
								<string>{ 210.58597,69.93629 }</string>	
								<string>{ 193.39264,68.46944 }</string>
							</array>
							<array>	
								<string>{ 169.27689,97.08679 }</string>	
								<string>{ 242.75159,115.79617 }</string>	
								<string>{ 185.03250,82.29579 }</string>
							</array>
							<array>	
								<string>{ 149.98428,109.62698 }</string>	
								<string>{ 242.75159,115.79617 }</string>	
								<string>{ 169.27689,97.08679 }</string>
							</array>
							<array>	
								<string>{ -19.46909,125.70416 }</string>	
								<string>{ 65.09683,123.13181 }</string>	
								<string>{ 51.91354,117.02249 }</string>	
								<string>{ -11.10898,117.66559 }</string>
							</array>
							<array>	
								<string>{ 132.62094,118.95175 }</string>	
								<string>{ 141.30261,134.38583 }</string>	
								<string>{ 241.75275,121.65271 }</string>	
								<string>{ 242.75159,115.79617 }</string>	
								<string>{ 149.98428,109.62698 }</string>
							</array>
							<array>	
								<string>{ -33.93855,134.06430 }</string>	
								<string>{ 56.09360,141.13824 }</string>	
								<string>{ 88.89102,127.95496 }</string>	
								<string>{ 65.09683,123.13181 }</string>	
								<string>{ -19.46909,125.70416 }</string>
							</array>
							<array>	
								<string>{ 109.14825,126.02570 }</string>	
								<string>{ 141.30261,134.38583 }</string>	
								<string>{ 132.62094,118.95175 }</string>
							</array>
							<array>	
								<string>{ 109.14825,126.02570 }</string>	
								<string>{ 88.89102,127.95496 }</string>	
								<string>{ 56.09360,141.13824 }</string>	
								<string>{ 141.30261,134.38583 }</string>
							</array>
							<array>	
								<string>{ 56.09360,141.13824 }</string>	
								<string>{ -47.69397,138.56589 }</string>	
								<string>{ -61.02672,139.06100 }</string>	
								<string>{ -101.38115,147.02899 }</string>
							</array>
							<array>	
								<string>{ -47.69397,138.56589 }</string>	
								<string>{ 56.09360,141.13824 }</string>	
								<string>{ -33.93855,134.06430 }</string>
							</array>
						</array>
                        
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>




