<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A55</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -25.20900,19.42123 }</string>
	
								<string>{ -69.58199,27.45981 }</string>
	
								<string>{ -95.30547,42.25081 }</string>
	
								<string>{ -126.17363,66.04503 }</string>
	
								<string>{ -29.90353,71.96143 }</string>

							</array>

							<array>
	
								<string>{ -240.64309,53.63345 }</string>
	
								<string>{ -126.17363,66.04503 }</string>
	
								<string>{ -185.98071,44.82315 }</string>
	
								<string>{ -240.00000,32.60451 }</string>

							</array>

							<array>
	
								<string>{ -38.39227,-68.36012 }</string>
	
								<string>{ -44.18005,-7.58842 }</string>
	
								<string>{ -25.20900,19.42123 }</string>
	
								<string>{ -24.24437,-30.09647 }</string>
	
								<string>{ -27.13826,-68.03858 }</string>

							</array>

							<array>
	
								<string>{ -55.11253,10.41801 }</string>
	
								<string>{ -25.20900,19.42123 }</string>
	
								<string>{ -44.18005,-7.58842 }</string>

							</array>

							<array>
	
								<string>{ -69.58199,27.45981 }</string>
	
								<string>{ -25.20900,19.42123 }</string>
	
								<string>{ -55.11253,10.41801 }</string>

							</array>

							<array>
	
								<string>{ -126.17363,66.04503 }</string>
	
								<string>{ -133.89067,48.03859 }</string>
	
								<string>{ -185.98071,44.82315 }</string>

							</array>

							<array>
	
								<string>{ -126.17363,66.04503 }</string>
	
								<string>{ -95.30547,42.25081 }</string>
	
								<string>{ -133.89067,48.03859 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 85.72348,71.83281 }</string>
	
								<string>{ 73.82639,46.43088 }</string>
	
								<string>{ 47.13828,5.27332 }</string>
	
								<string>{ 45.53055,57.36336 }</string>
	
								<string>{ 47.78137,72.60451 }</string>

							</array>

							<array>
	
								<string>{ 47.13828,5.27332 }</string>
	
								<string>{ 61.92926,7.52412 }</string>
	
								<string>{ 66.10934,-53.56913 }</string>
	
								<string>{ 50.99680,-60.96463 }</string>

							</array>

							<array>
	
								<string>{ 47.13828,5.27332 }</string>
	
								<string>{ 73.82639,46.43088 }</string>
	
								<string>{ 61.92926,7.52412 }</string>

							</array>

							<array>
	
								<string>{ 105.98071,61.54341 }</string>
	
								<string>{ 85.72348,71.83281 }</string>
	
								<string>{ 119.80710,66.68811 }</string>
	
								<string>{ 149.83923,56.52734 }</string>

							</array>

							<array>
	
								<string>{ 73.82639,46.43088 }</string>
	
								<string>{ 85.72348,71.83281 }</string>
	
								<string>{ 105.98071,61.54341 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 182.18933,-38.40237 }</string>
	
								<string>{ 240.70740,69.26045 }</string>
	
								<string>{ 239.87122,-1.79305 }</string>

							</array>

							<array>
	
								<string>{ 240.70740,69.26045 }</string>
	
								<string>{ 77.49197,146.23795 }</string>
	
								<string>{ 201.15756,131.96143 }</string>

							</array>

							<array>
	
								<string>{ -104.95177,-160.00000 }</string>
	
								<string>{ 1.80064,-102.12218 }</string>
	
								<string>{ 27.84567,-100.83601 }</string>
	
								<string>{ 121.24258,-101.12426 }</string>
	
								<string>{ 122.72189,-160.29586 }</string>

							</array>

							<array>
	
								<string>{ -120.70739,-71.25401 }</string>
	
								<string>{ -126.81672,-87.33118 }</string>
	
								<string>{ -154.14790,-53.76205 }</string>
	
								<string>{ -147.07395,-48.74598 }</string>

							</array>

							<array>
	
								<string>{ -106.55948,-79.29260 }</string>
	
								<string>{ -109.45337,-122.70096 }</string>
	
								<string>{ -126.81672,-87.33118 }</string>
	
								<string>{ -120.70739,-71.25401 }</string>

							</array>

							<array>
	
								<string>{ -87.26688,-87.00964 }</string>
	
								<string>{ -109.45337,-122.70096 }</string>
	
								<string>{ -106.55948,-79.29260 }</string>

							</array>

							<array>
	
								<string>{ -69.26044,-91.83279 }</string>
	
								<string>{ -104.95177,-160.00000 }</string>
	
								<string>{ -109.45337,-122.70096 }</string>
	
								<string>{ -87.26688,-87.00964 }</string>

							</array>

							<array>
	
								<string>{ -51.57556,-95.36977 }</string>
	
								<string>{ -104.95177,-160.00000 }</string>
	
								<string>{ -69.26044,-91.83279 }</string>

							</array>

							<array>
	
								<string>{ -22.95819,-100.51447 }</string>
	
								<string>{ -104.95177,-160.00000 }</string>
	
								<string>{ -51.57556,-95.36977 }</string>

							</array>

							<array>
	
								<string>{ 77.49197,146.23795 }</string>
	
								<string>{ 119.48553,123.60129 }</string>
	
								<string>{ 77.04181,137.42767 }</string>

							</array>

							<array>
	
								<string>{ 1.80064,-102.12218 }</string>
	
								<string>{ -104.95177,-160.00000 }</string>
	
								<string>{ -22.95819,-100.51447 }</string>

							</array>

							<array>
	
								<string>{ 77.49197,146.23795 }</string>
	
								<string>{ 146.49518,112.66882 }</string>
	
								<string>{ 119.48553,123.60129 }</string>

							</array>

							<array>
	
								<string>{ 54.21222,-96.65594 }</string>
	
								<string>{ 121.24258,-101.12426 }</string>
	
								<string>{ 27.84567,-100.83601 }</string>

							</array>

							<array>
	
								<string>{ 82.18649,-88.61736 }</string>
	
								<string>{ 121.24258,-101.12426 }</string>
	
								<string>{ 54.21222,-96.65594 }</string>

							</array>

							<array>
	
								<string>{ 115.62701,-74.79099 }</string>
	
								<string>{ 121.24258,-101.12426 }</string>
	
								<string>{ 82.18649,-88.61736 }</string>

							</array>

							<array>
	
								<string>{ 182.18933,-38.40237 }</string>
	
								<string>{ 121.24258,-101.12426 }</string>
	
								<string>{ 115.62701,-74.79099 }</string>

							</array>

							<array>
	
								<string>{ 160.00000,-45.53054 }</string>
	
								<string>{ 182.18933,-38.40237 }</string>
	
								<string>{ 137.49197,-62.25080 }</string>

							</array>

							<array>
	
								<string>{ 185.40195,-21.73633 }</string>
	
								<string>{ 182.18933,-38.40237 }</string>
	
								<string>{ 160.00000,-45.53054 }</string>

							</array>

							<array>
	
								<string>{ 201.47913,-0.83601 }</string>
	
								<string>{ 182.18933,-38.40237 }</string>
	
								<string>{ 185.40195,-21.73633 }</string>

							</array>

							<array>
	
								<string>{ 208.87460,11.38264 }</string>
	
								<string>{ 182.18933,-38.40237 }</string>
	
								<string>{ 201.47913,-0.83601 }</string>

							</array>

							<array>
	
								<string>{ 240.70740,69.26045 }</string>
	
								<string>{ 171.25403,99.16400 }</string>
	
								<string>{ 146.49518,112.66882 }</string>

							</array>

							<array>
	
								<string>{ 240.70740,69.26045 }</string>
	
								<string>{ 197.62061,77.94212 }</string>
	
								<string>{ 171.25403,99.16400 }</string>

							</array>

							<array>
	
								<string>{ 240.70740,69.26045 }</string>
	
								<string>{ 209.51770,60.57878 }</string>
	
								<string>{ 197.62061,77.94212 }</string>

							</array>

							<array>
	
								<string>{ 240.70740,69.26045 }</string>
	
								<string>{ 214.66238,41.60773 }</string>
	
								<string>{ 209.51770,60.57878 }</string>

							</array>

							<array>
	
								<string>{ 240.70740,69.26045 }</string>
	
								<string>{ 213.69775,26.17365 }</string>
	
								<string>{ 214.66238,41.60773 }</string>

							</array>

							<array>
	
								<string>{ 240.70740,69.26045 }</string>
	
								<string>{ 208.87460,11.38264 }</string>
	
								<string>{ 213.69775,26.17365 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

