<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A58</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -185.63953,-35.00000 }</string>
	
								<string>{ -204.53489,-60.29070 }</string>
	
								<string>{ -200.46512,-12.90698 }</string>
	
								<string>{ -186.80233,-24.53488 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-159.70930 }</string>
	
								<string>{ -240.29070,71.56976 }</string>
	
								<string>{ -204.53489,-60.29070 }</string>
	
								<string>{ -212.09302,-159.70930 }</string>

							</array>

							<array>
	
								<string>{ -156.56977,-45.75581 }</string>
	
								<string>{ -204.53489,-60.29070 }</string>
	
								<string>{ -185.63953,-35.00000 }</string>
	
								<string>{ -157.15116,-38.48837 }</string>

							</array>

							<array>
	
								<string>{ 6.51163,56.27907 }</string>
	
								<string>{ -72.55814,70.23256 }</string>
	
								<string>{ 50.87210,64.88371 }</string>
	
								<string>{ 51.27905,55.69768 }</string>

							</array>

							<array>
	
								<string>{ -240.29070,71.56976 }</string>
	
								<string>{ -200.46512,-12.90698 }</string>
	
								<string>{ -204.53489,-60.29070 }</string>

							</array>

							<array>
	
								<string>{ -240.29070,71.56976 }</string>
	
								<string>{ -184.47675,12.67442 }</string>
	
								<string>{ -200.46512,-12.90698 }</string>

							</array>

							<array>
	
								<string>{ -240.29070,71.56976 }</string>
	
								<string>{ -147.26744,32.73256 }</string>
	
								<string>{ -162.96512,20.52325 }</string>
	
								<string>{ -184.47675,12.67442 }</string>

							</array>

							<array>
	
								<string>{ -72.55814,70.23256 }</string>
	
								<string>{ -105.69768,47.84883 }</string>
	
								<string>{ -147.26744,32.73256 }</string>
	
								<string>{ -240.29070,71.56976 }</string>

							</array>

							<array>
	
								<string>{ -45.52325,54.53488 }</string>
	
								<string>{ -72.55814,70.23256 }</string>
	
								<string>{ 6.51163,56.27907 }</string>

							</array>

							<array>
	
								<string>{ -105.69768,47.84883 }</string>
	
								<string>{ -72.55814,70.23256 }</string>
	
								<string>{ -45.52325,54.53488 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 179.47675,83.60464 }</string>
	
								<string>{ 191.68604,101.62790 }</string>
	
								<string>{ 240.52325,159.47675 }</string>
	
								<string>{ 240.23254,-160.29070 }</string>
	
								<string>{ 177.73254,-160.00000 }</string>

							</array>

							<array>
	
								<string>{ 240.52325,159.47675 }</string>
	
								<string>{ 196.62790,123.43024 }</string>
	
								<string>{ 193.60464,159.06976 }</string>

							</array>

							<array>
	
								<string>{ 155.63953,66.45349 }</string>
	
								<string>{ 124.24417,46.10464 }</string>
	
								<string>{ 125.69766,64.70930 }</string>

							</array>

							<array>
	
								<string>{ 155.63953,66.45349 }</string>
	
								<string>{ 148.08139,-53.02325 }</string>
	
								<string>{ 121.33719,-41.97675 }</string>
	
								<string>{ 117.84885,25.17441 }</string>
	
								<string>{ 124.24417,46.10464 }</string>

							</array>

							<array>
	
								<string>{ -81.86047,-36.56977 }</string>
	
								<string>{ -6.27907,-35.29070 }</string>
	
								<string>{ -12.38373,-51.27907 }</string>
	
								<string>{ -44.94186,-50.69768 }</string>
	
								<string>{ -81.27907,-46.62791 }</string>

							</array>

							<array>
	
								<string>{ -6.27907,-35.29070 }</string>
	
								<string>{ 39.65115,-27.73256 }</string>
	
								<string>{ 28.31393,-52.15116 }</string>
	
								<string>{ -12.38373,-51.27907 }</string>

							</array>

							<array>
	
								<string>{ 39.65115,-27.73256 }</string>
	
								<string>{ 64.36047,-17.55814 }</string>
	
								<string>{ 78.31393,-14.65117 }</string>
	
								<string>{ 104.76743,-40.52325 }</string>
	
								<string>{ 61.45349,-55.05814 }</string>
	
								<string>{ 28.31393,-52.15116 }</string>

							</array>

							<array>
	
								<string>{ 103.60464,3.66278 }</string>
	
								<string>{ 121.33719,-41.97675 }</string>
	
								<string>{ 104.76743,-40.52325 }</string>
	
								<string>{ 78.31393,-14.65117 }</string>

							</array>

							<array>
	
								<string>{ 117.84885,25.17441 }</string>
	
								<string>{ 121.33719,-41.97675 }</string>
	
								<string>{ 103.60464,3.66278 }</string>

							</array>

							<array>
	
								<string>{ 148.08139,-53.02325 }</string>
	
								<string>{ 155.63953,66.45349 }</string>
	
								<string>{ 179.47675,83.60464 }</string>
	
								<string>{ 177.15115,-94.88372 }</string>
	
								<string>{ 150.11627,-71.33721 }</string>

							</array>

							<array>
	
								<string>{ 240.52325,159.47675 }</string>
	
								<string>{ 191.68604,101.62790 }</string>
	
								<string>{ 196.62790,123.43024 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

