<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A51</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>isSensor</key>
                        <false/>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
						<key>polygons</key>
						<array>
							<array>	
								<string>{ 78.23914,-34.30219 }</string>	
								<string>{ 82.21924,-74.10319 }</string>	
								<string>{ 51.87097,-50.72010 }</string>	
								<string>{ 59.33365,-36.29224 }</string>
							</array>
							<array>	
								<string>{ 82.21924,-74.10319 }</string>	
								<string>{ 40.92569,-64.65045 }</string>	
								<string>{ 51.87097,-50.72010 }</string>
							</array>
							<array>	
								<string>{ -156.58674,50.27492 }</string>	
								<string>{ -133.50217,63.90677 }</string>	
								<string>{ -127.23351,57.24010 }</string>
							</array>
							<array>	
								<string>{ 82.21924,-74.10319 }</string>	
								<string>{ 83.71176,-87.03851 }</string>	
								<string>{ 25.00531,-77.58577 }</string>	
								<string>{ 40.92569,-64.65045 }</string>
							</array>
							<array>	
								<string>{ 69.78143,93.06099 }</string>	
								<string>{ 95.15454,136.34457 }</string>	
								<string>{ 91.17447,103.50876 }</string>	
								<string>{ 63.81128,57.24010 }</string>	
								<string>{ 56.34857,62.21523 }</string>
							</array>
							<array>	
								<string>{ 95.15454,136.34457 }</string>	
								<string>{ 107.59238,121.91672 }</string>	
								<string>{ 91.17447,103.50876 }</string>
							</array>
							<array>	
								<string>{ 95.15454,136.34457 }</string>	
								<string>{ 121.02521,160.72269 }</string>	
								<string>{ 125.50281,139.82718 }</string>	
								<string>{ 107.59238,121.91672 }</string>
							</array>
							<array>	
								<string>{ 121.02521,160.72269 }</string>	
								<string>{ 138.43814,145.79730 }</string>	
								<string>{ 125.50281,139.82718 }</string>
							</array>
							<array>	
								<string>{ 121.02521,160.72269 }</string>	
								<string>{ 151.37347,148.78238 }</string>	
								<string>{ 138.43814,145.79730 }</string>
							</array>
							<array>	
								<string>{ 88.68689,-101.96388 }</string>	
								<string>{ 8.08987,-87.03851 }</string>	
								<string>{ 25.00531,-77.58577 }</string>	
								<string>{ 83.71176,-87.03851 }</string>
							</array>
							<array>	
								<string>{ 96.14957,-118.38179 }</string>	
								<string>{ -69.02455,-130.81960 }</string>	
								<string>{ -11.31311,-89.02856 }</string>	
								<string>{ 8.08987,-87.03851 }</string>	
								<string>{ 88.68689,-101.96388 }</string>
							</array>
							<array>	
								<string>{ -181.46236,44.30478 }</string>	
								<string>{ -284.47651,41.45087 }</string>	
								<string>{ -133.50217,63.90677 }</string>	
								<string>{ -156.58674,50.27492 }</string>
							</array>
							<array>	
								<string>{ -68.02953,-54.70020 }</string>	
								<string>{ -73.50217,-67.63552 }</string>	
								<string>{ -94.89520,-28.82956 }</string>	
								<string>{ -92.40764,-23.35692 }</string>
							</array>
							<array>	
								<string>{ -51.11411,-71.11811 }</string>	
								<string>{ -62.05937,-101.46637 }</string>	
								<string>{ -73.50217,-67.63552 }</string>	
								<string>{ -68.02953,-54.70020 }</string>
							</array>
							<array>	
								<string>{ -39.17380,-80.07333 }</string>	
								<string>{ -62.05937,-101.46637 }</string>	
								<string>{ -51.11411,-71.11811 }</string>
							</array>
							<array>	
								<string>{ -26.23849,-86.54099 }</string>	
								<string>{ -61.06435,-116.88926 }</string>	
								<string>{ -62.05937,-101.46637 }</string>	
								<string>{ -39.17380,-80.07333 }</string>
							</array>
							<array>	
								<string>{ -11.31311,-89.02856 }</string>	
								<string>{ -69.02455,-130.81960 }</string>	
								<string>{ -61.06435,-116.88926 }</string>	
								<string>{ -26.23849,-86.54099 }</string>
							</array>
							<array>	
								<string>{ 102.61725,28.88190 }</string>	
								<string>{ 158.83615,31.86696 }</string>	
								<string>{ 168.78641,3.50876 }</string>	
								<string>{ 106.09982,21.91672 }</string>
							</array>
							<array>	
								<string>{ 176.24908,34.35452 }</string>	
								<string>{ 193.66202,-7.93404 }</string>	
								<string>{ 168.78641,3.50876 }</string>	
								<string>{ 158.83615,31.86696 }</string>
							</array>
							<array>	
								<string>{ 192.66699,40.82219 }</string>	
								<string>{ 193.66202,-7.93404 }</string>	
								<string>{ 176.24908,34.35452 }</string>
							</array>
							<array>	
								<string>{ 211.57248,51.26994 }</string>	
								<string>{ 211.57248,-20.37184 }</string>	
								<string>{ 193.66202,-7.93404 }</string>	
								<string>{ 192.66699,40.82219 }</string>
							</array>
							<array>	
								<string>{ 211.57248,51.26994 }</string>	
								<string>{ 221.52271,68.18538 }</string>	
								<string>{ 224.01028,-31.81462 }</string>	
								<string>{ 211.57248,-20.37184 }</string>
							</array>
							<array>	
								<string>{ 121.02521,160.72269 }</string>	
								<string>{ 284.75690,160.39801 }</string>	
								<string>{ 166.29883,149.27991 }</string>	
								<string>{ 151.37347,148.78238 }</string>
							</array>
							<array>	
								<string>{ -198.87530,37.33960 }</string>	
								<string>{ -284.47651,41.45087 }</string>	
								<string>{ -181.46236,44.30478 }</string>
							</array>
							<array>	
								<string>{ -213.80067,26.39433 }</string>	
								<string>{ -284.47651,41.45087 }</string>	
								<string>{ -198.87530,37.33960 }</string>
							</array>
							<array>	
								<string>{ -220.26833,16.94159 }</string>	
								<string>{ -284.47651,41.45087 }</string>	
								<string>{ -213.80067,26.39433 }</string>
							</array>
							<array>	
								<string>{ -224.24843,6.99135 }</string>	
								<string>{ -284.47651,41.45087 }</string>	
								<string>{ -220.26833,16.94159 }</string>
							</array>
							<array>	
								<string>{ -224.24843,6.99135 }</string>	
								<string>{ -226.23848,-1.96388 }</string>	
								<string>{ -284.32468,-160.99502 }</string>	
								<string>{ -284.47651,41.45087 }</string>
							</array>
							<array>	
								<string>{ 108.58740,-128.33204 }</string>	
								<string>{ -69.02455,-130.81960 }</string>	
								<string>{ 96.14957,-118.38179 }</string>
							</array>
							<array>	
								<string>{ 284.75690,160.39801 }</string>	
								<string>{ 179.73166,144.80228 }</string>	
								<string>{ 166.29883,149.27991 }</string>
							</array>
							<array>	
								<string>{ 284.75690,160.39801 }</string>	
								<string>{ 192.66699,134.85205 }</string>	
								<string>{ 179.73166,144.80228 }</string>
							</array>
							<array>	
								<string>{ 284.75690,160.39801 }</string>	
								<string>{ 207.59238,119.92667 }</string>	
								<string>{ 192.66699,134.85205 }</string>
							</array>
							<array>	
								<string>{ 284.75690,160.39801 }</string>	
								<string>{ 219.03516,100.02618 }</string>	
								<string>{ 207.59238,119.92667 }</string>
							</array>
							<array>	
								<string>{ 286.22839,-161.01602 }</string>	
								<string>{ 222.51773,83.60826 }</string>	
								<string>{ 219.03516,100.02618 }</string>	
								<string>{ 284.75690,160.39801 }</string>
							</array>
							<array>	
								<string>{ 221.52271,68.18538 }</string>	
								<string>{ 222.51773,83.60826 }</string>	
								<string>{ 229.48291,-42.26239 }</string>	
								<string>{ 224.01028,-31.81462 }</string>
							</array>
							<array>	
								<string>{ 122.02023,-133.30717 }</string>	
								<string>{ -83.45241,-134.79970 }</string>	
								<string>{ -69.02455,-130.81960 }</string>	
								<string>{ 108.58740,-128.33204 }</string>
							</array>
							<array>	
								<string>{ 222.51773,83.60826 }</string>	
								<string>{ 286.22839,-161.01602 }</string>	
								<string>{ 232.46802,-55.19772 }</string>	
								<string>{ 229.48291,-42.26239 }</string>
							</array>
							<array>	
								<string>{ 141.92072,-134.79970 }</string>	
								<string>{ 286.22839,-161.01602 }</string>	
								<string>{ -284.32468,-160.99502 }</string>	
								<string>{ -83.45241,-134.79970 }</string>	
								<string>{ 122.02023,-133.30717 }</string>
							</array>
							<array>	
								<string>{ -226.73599,-12.41164 }</string>	
								<string>{ -284.32468,-160.99502 }</string>	
								<string>{ -226.23848,-1.96388 }</string>
							</array>
							<array>	
								<string>{ -224.74594,-26.83951 }</string>	
								<string>{ -284.32468,-160.99502 }</string>	
								<string>{ -226.73599,-12.41164 }</string>
							</array>
							<array>	
								<string>{ -220.26833,-37.78477 }</string>	
								<string>{ -284.32468,-160.99502 }</string>	
								<string>{ -224.74594,-26.83951 }</string>
							</array>
							<array>	
								<string>{ -206.33798,-61.16786 }</string>	
								<string>{ -284.32468,-160.99502 }</string>	
								<string>{ -220.26833,-37.78477 }</string>
							</array>
							<array>	
								<string>{ -180.96485,-83.55592 }</string>	
								<string>{ -284.32468,-160.99502 }</string>	
								<string>{ -206.33798,-61.16786 }</string>
							</array>
							<array>	
								<string>{ -156.58674,-104.45144 }</string>	
								<string>{ -284.32468,-160.99502 }</string>	
								<string>{ -180.96485,-83.55592 }</string>
							</array>
							<array>	
								<string>{ -124.74594,-124.84945 }</string>	
								<string>{ -284.32468,-160.99502 }</string>	
								<string>{ -156.58674,-104.45144 }</string>
							</array>
							<array>	
								<string>{ -102.35788,-131.81463 }</string>	
								<string>{ -284.32468,-160.99502 }</string>	
								<string>{ -124.74594,-124.84945 }</string>
							</array>
							<array>	
								<string>{ -83.45241,-134.79970 }</string>	
								<string>{ -284.32468,-160.99502 }</string>	
								<string>{ -102.35788,-131.81463 }</string>
							</array>
							<array>	
								<string>{ 158.83615,-129.32707 }</string>	
								<string>{ 286.22839,-161.01602 }</string>	
								<string>{ 141.92072,-134.79970 }</string>
							</array>
							<array>	
								<string>{ 178.23914,-118.38179 }</string>	
								<string>{ 286.22839,-161.01602 }</string>	
								<string>{ 158.83615,-129.32707 }</string>
							</array>
							<array>	
								<string>{ 199.63217,-103.95393 }</string>	
								<string>{ 286.22839,-161.01602 }</string>	
								<string>{ 178.23914,-118.38179 }</string>
							</array>
							<array>	
								<string>{ 221.52271,-83.55592 }</string>	
								<string>{ 286.22839,-161.01602 }</string>	
								<string>{ 199.63217,-103.95393 }</string>
							</array>
							<array>	
								<string>{ 228.98541,-69.62557 }</string>	
								<string>{ 286.22839,-161.01602 }</string>	
								<string>{ 221.52271,-83.55592 }</string>
							</array>
							<array>	
								<string>{ 232.46802,-55.19772 }</string>	
								<string>{ 286.22839,-161.01602 }</string>	
								<string>{ 228.98541,-69.62557 }</string>
							</array>
						</array>
                        
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>




