<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A47</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.60000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 23.37579,-48.36943 }</string>
	
								<string>{ -17.70702,-47.09555 }</string>
	
								<string>{ -6.56052,-29.57962 }</string>
	
								<string>{ 22.92993,-29.07007 }</string>
	
								<string>{ 29.42676,-40.40765 }</string>

							</array>

							<array>
	
								<string>{ -17.70702,-47.09555 }</string>
	
								<string>{ -47.96179,-37.54141 }</string>
	
								<string>{ -34.58600,-21.61784 }</string>
	
								<string>{ -6.56052,-29.57962 }</string>

							</array>

							<array>
	
								<string>{ -47.96179,-37.54141 }</string>
	
								<string>{ -85.22293,-18.75160 }</string>
	
								<string>{ -62.29300,-8.24205 }</string>
	
								<string>{ -34.58600,-21.61784 }</string>

							</array>

							<array>
	
								<string>{ -85.22293,-18.75160 }</string>
	
								<string>{ -127.26115,-17.15924 }</string>
	
								<string>{ -94.14014,10.22929 }</string>
	
								<string>{ -62.29300,-8.24205 }</string>

							</array>

							<array>
	
								<string>{ -127.26115,-17.15924 }</string>
	
								<string>{ -152.10191,-30.85352 }</string>
	
								<string>{ -240.63694,43.54140 }</string>
	
								<string>{ -140.63695,40.48407 }</string>
	
								<string>{ -94.14014,10.22929 }</string>

							</array>

							<array>
	
								<string>{ 2.67516,-98.36943 }</string>
	
								<string>{ 31.97452,-93.91083 }</string>
	
								<string>{ 112.54776,-92.31847 }</string>
	
								<string>{ -54.33122,-143.59236 }</string>
	
								<string>{ -41.27390,-123.21019 }</string>
	
								<string>{ -27.26115,-106.33121 }</string>

							</array>

							<array>
	
								<string>{ 10.31847,13.41400 }</string>
	
								<string>{ 10.63693,25.19745 }</string>
	
								<string>{ 99.80890,24.56050 }</string>
	
								<string>{ 71.14648,-4.42039 }</string>
	
								<string>{ 19.87259,-1.87262 }</string>

							</array>

							<array>
	
								<string>{ 240.57324,-192.95541 }</string>
	
								<string>{ 153.63055,-40.08917 }</string>
	
								<string>{ 146.30573,-24.48409 }</string>
	
								<string>{ 203.31207,-13.33759 }</string>
	
								<string>{ 238.34393,-9.51593 }</string>

							</array>

							<array>
	
								<string>{ -166.75159,-45.82166 }</string>
	
								<string>{ -240.63694,43.54140 }</string>
	
								<string>{ -152.10191,-30.85352 }</string>

							</array>

							<array>
	
								<string>{ -166.75159,-45.82166 }</string>
	
								<string>{ -174.71338,-63.97453 }</string>
	
								<string>{ -241.27389,-192.31847 }</string>
	
								<string>{ -240.63694,43.54140 }</string>

							</array>

							<array>
	
								<string>{ 99.80890,24.56050 }</string>
	
								<string>{ 145.66876,15.00636 }</string>
	
								<string>{ 107.77069,-7.28664 }</string>
	
								<string>{ 71.14648,-4.42039 }</string>

							</array>

							<array>
	
								<string>{ 145.66876,15.00636 }</string>
	
								<string>{ 168.28024,-1.23567 }</string>
	
								<string>{ 130.38214,-14.29300 }</string>
	
								<string>{ 107.77069,-7.28664 }</string>

							</array>

							<array>
	
								<string>{ 168.28024,-1.23567 }</string>
	
								<string>{ 203.31207,-13.33759 }</string>
	
								<string>{ 146.30573,-24.48409 }</string>
	
								<string>{ 130.38214,-14.29300 }</string>

							</array>

							<array>
	
								<string>{ 131.01910,-87.22293 }</string>
	
								<string>{ 240.57324,-192.95541 }</string>
	
								<string>{ -84.58600,-158.24204 }</string>
	
								<string>{ -54.33122,-143.59236 }</string>

							</array>

							<array>
	
								<string>{ -180.12739,-81.80892 }</string>
	
								<string>{ -241.27389,-192.31847 }</string>
	
								<string>{ -174.71338,-63.97453 }</string>

							</array>

							<array>
	
								<string>{ -181.71975,-101.55415 }</string>
	
								<string>{ -241.27389,-192.31847 }</string>
	
								<string>{ -180.12739,-81.80892 }</string>

							</array>

							<array>
	
								<string>{ -175.35032,-129.89809 }</string>
	
								<string>{ -241.27389,-192.31847 }</string>
	
								<string>{ -181.71975,-101.55415 }</string>

							</array>

							<array>
	
								<string>{ -158.78981,-155.05733 }</string>
	
								<string>{ -241.27389,-192.31847 }</string>
	
								<string>{ -175.35032,-129.89809 }</string>

							</array>

							<array>
	
								<string>{ -132.99364,-160.15287 }</string>
	
								<string>{ -241.27389,-192.31847 }</string>
	
								<string>{ -158.78981,-155.05733 }</string>

							</array>

							<array>
	
								<string>{ -132.99364,-160.15287 }</string>
	
								<string>{ -84.58600,-158.24204 }</string>
	
								<string>{ 240.57324,-192.95541 }</string>
	
								<string>{ -241.27389,-192.31847 }</string>

							</array>

							<array>
	
								<string>{ 144.39490,-74.48408 }</string>
	
								<string>{ 240.57324,-192.95541 }</string>
	
								<string>{ 131.01910,-87.22293 }</string>

							</array>

							<array>
	
								<string>{ 152.67514,-59.19746 }</string>
	
								<string>{ 240.57324,-192.95541 }</string>
	
								<string>{ 144.39490,-74.48408 }</string>

							</array>

							<array>
	
								<string>{ 153.63055,-40.08917 }</string>
	
								<string>{ 240.57324,-192.95541 }</string>
	
								<string>{ 152.67514,-59.19746 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 212.22928,77.10828 }</string>
	
								<string>{ 240.12738,99.27386 }</string>
	
								<string>{ 240.57324,68.19107 }</string>

							</array>

							<array>
	
								<string>{ 149.17197,46.85350 }</string>
	
								<string>{ 150.12738,71.69424 }</string>
	
								<string>{ 172.42038,57.68152 }</string>
	
								<string>{ 162.86624,33.79617 }</string>

							</array>

							<array>
	
								<string>{ 150.12738,71.69424 }</string>
	
								<string>{ 184.84076,72.96814 }</string>
	
								<string>{ 172.42038,57.68152 }</string>

							</array>

							<array>
	
								<string>{ 240.12738,99.27386 }</string>
	
								<string>{ 212.22928,77.10828 }</string>
	
								<string>{ 184.84076,72.96814 }</string>
	
								<string>{ 150.12738,71.69424 }</string>
	
								<string>{ 126.24203,128.25476 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

