<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A50</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -240.28169,67.88733 }</string>
	
								<string>{ -188.16901,65.63380 }</string>
	
								<string>{ -201.97183,55.77466 }</string>
	
								<string>{ -240.00000,50.98592 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 110.70422,-16.33803 }</string>
	
								<string>{ 18.59155,-65.07042 }</string>
	
								<string>{ 30.14084,-43.38028 }</string>
	
								<string>{ 72.95776,-11.26761 }</string>
	
								<string>{ 98.02817,-1.69014 }</string>

							</array>

							<array>
	
								<string>{ 72.95776,-11.26761 }</string>
	
								<string>{ 30.14084,-43.38028 }</string>
	
								<string>{ 42.53522,-20.28169 }</string>

							</array>

							<array>
	
								<string>{ -228.16901,-59.43661 }</string>
	
								<string>{ -240.00000,-129.01408 }</string>
	
								<string>{ -239.71831,-45.07042 }</string>

							</array>

							<array>
	
								<string>{ -205.91549,-67.88732 }</string>
	
								<string>{ -167.88732,-84.50704 }</string>
	
								<string>{ -240.00000,-129.01408 }</string>
	
								<string>{ -228.16901,-59.43661 }</string>

							</array>

							<array>
	
								<string>{ -128.73239,-97.18310 }</string>
	
								<string>{ -240.00000,-129.01408 }</string>
	
								<string>{ -167.88732,-84.50704 }</string>

							</array>

							<array>
	
								<string>{ 124.78873,-21.97183 }</string>
	
								<string>{ 18.59155,-65.07042 }</string>
	
								<string>{ 110.70422,-16.33803 }</string>

							</array>

							<array>
	
								<string>{ -128.73239,-97.18310 }</string>
	
								<string>{ 240.28171,-136.33803 }</string>
	
								<string>{ -240.00000,-129.01408 }</string>

							</array>

							<array>
	
								<string>{ 149.01410,-24.22536 }</string>
	
								<string>{ 0.84508,-81.40845 }</string>
	
								<string>{ 18.59155,-65.07042 }</string>
	
								<string>{ 124.78873,-21.97183 }</string>

							</array>

							<array>
	
								<string>{ 163.66199,71.54930 }</string>
	
								<string>{ 179.15494,62.53522 }</string>
	
								<string>{ 76.90140,64.78874 }</string>
	
								<string>{ 77.74649,70.70422 }</string>

							</array>

							<array>
	
								<string>{ 163.66199,71.54930 }</string>
	
								<string>{ 239.43661,67.60564 }</string>
	
								<string>{ 202.53522,57.74648 }</string>
	
								<string>{ 179.15494,62.53522 }</string>

							</array>

							<array>
	
								<string>{ 239.43661,67.60564 }</string>
	
								<string>{ 218.02817,49.85916 }</string>
	
								<string>{ 202.53522,57.74648 }</string>

							</array>

							<array>
	
								<string>{ 239.43661,67.60564 }</string>
	
								<string>{ 225.07043,37.74648 }</string>
	
								<string>{ 218.02817,49.85916 }</string>

							</array>

							<array>
	
								<string>{ 239.43661,67.60564 }</string>
	
								<string>{ 227.04227,23.38028 }</string>
	
								<string>{ 225.07043,37.74648 }</string>

							</array>

							<array>
	
								<string>{ 240.28171,-136.33803 }</string>
	
								<string>{ 223.94366,10.14085 }</string>
	
								<string>{ 227.04227,23.38028 }</string>
	
								<string>{ 239.43661,67.60564 }</string>

							</array>

							<array>
	
								<string>{ 173.80283,-23.09859 }</string>
	
								<string>{ 240.28171,-136.33803 }</string>
	
								<string>{ -23.38028,-95.49296 }</string>
	
								<string>{ 0.84508,-81.40845 }</string>
	
								<string>{ 149.01410,-24.22536 }</string>

							</array>

							<array>
	
								<string>{ 240.28171,-136.33803 }</string>
	
								<string>{ 214.36621,-5.07042 }</string>
	
								<string>{ 223.94366,10.14085 }</string>

							</array>

							<array>
	
								<string>{ 240.28171,-136.33803 }</string>
	
								<string>{ 196.33804,-16.05634 }</string>
	
								<string>{ 214.36621,-5.07042 }</string>

							</array>

							<array>
	
								<string>{ 240.28171,-136.33803 }</string>
	
								<string>{ 173.80283,-23.09859 }</string>
	
								<string>{ 196.33804,-16.05634 }</string>

							</array>

							<array>
	
								<string>{ 240.28171,-136.33803 }</string>
	
								<string>{ -53.52112,-100.84507 }</string>
	
								<string>{ -23.38028,-95.49296 }</string>

							</array>

							<array>
	
								<string>{ 240.28171,-136.33803 }</string>
	
								<string>{ -92.95775,-100.84507 }</string>
	
								<string>{ -53.52112,-100.84507 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -87.88733,46.76056 }</string>
	
								<string>{ -76.33803,40.56339 }</string>
	
								<string>{ -85.07042,17.18311 }</string>
	
								<string>{ -105.35211,34.36620 }</string>
	
								<string>{ -106.47887,48.45071 }</string>

							</array>

							<array>
	
								<string>{ -33.52112,30.70422 }</string>
	
								<string>{ -47.04225,17.46480 }</string>
	
								<string>{ -65.35211,13.80283 }</string>
	
								<string>{ -52.11267,38.87325 }</string>
	
								<string>{ -37.46478,41.97183 }</string>

							</array>

							<array>
	
								<string>{ -65.35211,13.80283 }</string>
	
								<string>{ -85.07042,17.18311 }</string>
	
								<string>{ -67.32394,38.02817 }</string>
	
								<string>{ -52.11267,38.87325 }</string>

							</array>

							<array>
	
								<string>{ -85.07042,17.18311 }</string>
	
								<string>{ -76.33803,40.56339 }</string>
	
								<string>{ -67.32394,38.02817 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -74.92958,114.92960 }</string>
	
								<string>{ -12.67606,107.04227 }</string>
	
								<string>{ -34.08450,82.53522 }</string>
	
								<string>{ -70.42253,88.16902 }</string>

							</array>

							<array>
	
								<string>{ 154.36621,145.63382 }</string>
	
								<string>{ 240.00000,160.56339 }</string>
	
								<string>{ 239.71832,126.76056 }</string>

							</array>

							<array>
	
								<string>{ -74.92958,114.92960 }</string>
	
								<string>{ -80.00000,135.49295 }</string>
	
								<string>{ 19.15494,130.70422 }</string>
	
								<string>{ -12.67606,107.04227 }</string>

							</array>

							<array>
	
								<string>{ -80.00000,135.49295 }</string>
	
								<string>{ -89.01408,149.01410 }</string>
	
								<string>{ 60.00000,146.76056 }</string>
	
								<string>{ 19.15494,130.70422 }</string>

							</array>

							<array>
	
								<string>{ 89.85916,152.11267 }</string>
	
								<string>{ 240.00000,160.56339 }</string>
	
								<string>{ 154.36621,145.63382 }</string>

							</array>

							<array>
	
								<string>{ -112.67606,160.00000 }</string>
	
								<string>{ 89.85916,152.11267 }</string>
	
								<string>{ 60.00000,146.76056 }</string>
	
								<string>{ -89.01408,149.01410 }</string>

							</array>

							<array>
	
								<string>{ 89.85916,152.11267 }</string>
	
								<string>{ -112.67606,160.00000 }</string>
	
								<string>{ 240.00000,160.56339 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

