<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A6</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -142.53326,11.41461 }</string>
	
								<string>{ -139.88164,-160.91010 }</string>
	
								<string>{ -152.93219,-160.57898 }</string>
	
								<string>{ -182.93062,8.69939 }</string>

							</array>

							<array>
	
								<string>{ -127.96373,-2.16154 }</string>
	
								<string>{ -142.53326,11.41461 }</string>
	
								<string>{ -106.17564,8.03712 }</string>
	
								<string>{ -107.76506,2.47421 }</string>

							</array>

							<array>
	
								<string>{ -141.53989,-14.74432 }</string>
	
								<string>{ -142.53326,11.41461 }</string>
	
								<string>{ -127.96373,-2.16154 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -84.28468,-35.90279 }</string>
	
								<string>{ -56.47012,-31.86305 }</string>
	
								<string>{ -66.73502,-43.78358 }</string>
	
								<string>{ -83.62244,-42.45908 }</string>

							</array>

							<array>
	
								<string>{ -56.47012,-31.86305 }</string>
	
								<string>{ -48.85422,-40.80345 }</string>
	
								<string>{ -53.15886,-48.08822 }</string>
	
								<string>{ -62.43039,-50.40610 }</string>
	
								<string>{ -66.73502,-43.78358 }</string>

							</array>

							<array>
	
								<string>{ -48.85422,-40.80345 }</string>
	
								<string>{ -56.47012,-31.86305 }</string>
	
								<string>{ -33.68866,-34.57829 }</string>
	
								<string>{ -34.94695,-38.48557 }</string>

							</array>

							<array>
	
								<string>{ -62.43039,-50.40610 }</string>
	
								<string>{ -53.15886,-48.08822 }</string>
	
								<string>{ -51.83435,-159.65397 }</string>
	
								<string>{ -63.75488,-160.05080 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 24.61133,-118.70481 }</string>
	
								<string>{ 14.67755,-108.43991 }</string>
	
								<string>{ 35.14111,-110.49289 }</string>
	
								<string>{ 34.54510,-115.72468 }</string>

							</array>

							<array>
	
								<string>{ 18.31995,-126.32071 }</string>
	
								<string>{ 10.37292,-124.00282 }</string>
	
								<string>{ 4.41266,-117.04918 }</string>
	
								<string>{ 14.67755,-108.43991 }</string>
	
								<string>{ 24.61133,-118.70481 }</string>

							</array>

							<array>
	
								<string>{ -14.13040,-110.16176 }</string>
	
								<string>{ 14.67755,-108.43991 }</string>
	
								<string>{ 4.41266,-117.04918 }</string>
	
								<string>{ -13.13702,-116.05580 }</string>

							</array>

							<array>
	
								<string>{ 10.17319,-160.30315 }</string>
	
								<string>{ 10.37292,-124.00282 }</string>
	
								<string>{ 18.31995,-126.32071 }</string>
	
								<string>{ 19.90985,-160.76567 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 161.47940,-92.32439 }</string>
	
								<string>{ 151.54562,-89.34426 }</string>
	
								<string>{ 127.37344,-79.14558 }</string>
	
								<string>{ 153.20123,-77.75486 }</string>
	
								<string>{ 175.98270,-80.13896 }</string>
	
								<string>{ 176.04892,-85.70187 }</string>

							</array>

							<array>
	
								<string>{ 127.37344,-79.14558 }</string>
	
								<string>{ 151.54562,-89.34426 }</string>
	
								<string>{ 129.36020,-85.70187 }</string>

							</array>

							<array>
	
								<string>{ 150.88336,-160.98361 }</string>
	
								<string>{ 151.54562,-89.34426 }</string>
	
								<string>{ 161.47940,-92.32439 }</string>
	
								<string>{ 162.47601,-160.00000 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 220.74542,3.90729 }</string>
	
								<string>{ 284.37793,63.09323 }</string>
	
								<string>{ 284.76880,-159.66887 }</string>
	
								<string>{ 228.03021,-160.33113 }</string>

							</array>

							<array>
	
								<string>{ 207.50040,26.42384 }</string>
	
								<string>{ 284.37793,63.09323 }</string>
	
								<string>{ 220.74542,3.90729 }</string>

							</array>

							<array>
	
								<string>{ 183.99045,41.32451 }</string>
	
								<string>{ 284.37793,63.09323 }</string>
	
								<string>{ 207.50040,26.42384 }</string>

							</array>

							<array>
	
								<string>{ 92.26862,50.86093 }</string>
	
								<string>{ 144.91760,44.30464 }</string>
	
								<string>{ 93.59311,40.33113 }</string>

							</array>

							<array>
	
								<string>{ 183.99045,41.32451 }</string>
	
								<string>{ 144.91760,44.30464 }</string>
	
								<string>{ 92.26862,50.86093 }</string>
	
								<string>{ 284.37793,63.09323 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 25.74026,153.63638 }</string>
	
								<string>{ -26.15833,160.77536 }</string>
	
								<string>{ 284.70258,160.77536 }</string>
	
								<string>{ 284.43768,146.30429 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

