<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A39-Cave</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -22.01057,81.79895 }</string>
	
								<string>{ -62.22221,98.20105 }</string>
	
								<string>{ 8.67725,115.13226 }</string>
	
								<string>{ 4.44444,91.85185 }</string>

							</array>

							<array>
	
								<string>{ 127.72488,-10.79366 }</string>
	
								<string>{ 185.39682,-6.03174 }</string>
	
								<string>{ 241.48148,-24.55026 }</string>
	
								<string>{ 153.65079,-29.84126 }</string>
	
								<string>{ 124.02118,-24.55026 }</string>

							</array>

							<array>
	
								<string>{ 204.97354,34.70900 }</string>
	
								<string>{ 241.48148,-24.55026 }</string>
	
								<string>{ 185.39682,-6.03174 }</string>

							</array>

							<array>
	
								<string>{ 204.97354,34.70900 }</string>
	
								<string>{ 205.50266,82.85715 }</string>
	
								<string>{ 242.32803,159.89420 }</string>
	
								<string>{ 241.48148,-24.55026 }</string>

							</array>

							<array>
	
								<string>{ -100.31746,113.01587 }</string>
	
								<string>{ 20.31747,133.12170 }</string>
	
								<string>{ 8.67725,115.13226 }</string>
	
								<string>{ -62.22221,98.20105 }</string>

							</array>

							<array>
	
								<string>{ -165.39683,-40.95238 }</string>
	
								<string>{ -238.94180,-36.71957 }</string>
	
								<string>{ -184.44444,-28.25397 }</string>
	
								<string>{ -164.33862,-36.19048 }</string>

							</array>

							<array>
	
								<string>{ -238.94180,-36.71957 }</string>
	
								<string>{ -196.08466,16.19048 }</string>
	
								<string>{ -184.44444,-28.25397 }</string>

							</array>

							<array>
	
								<string>{ -238.94180,-36.71957 }</string>
	
								<string>{ -240.52910,160.42328 }</string>
	
								<string>{ -198.20106,63.28043 }</string>
	
								<string>{ -196.08466,16.19048 }</string>

							</array>

							<array>
	
								<string>{ -240.52910,160.42328 }</string>
	
								<string>{ -186.03175,104.02118 }</string>
	
								<string>{ -198.20106,63.28043 }</string>

							</array>

							<array>
	
								<string>{ -240.52910,160.42328 }</string>
	
								<string>{ -160.10582,117.77777 }</string>
	
								<string>{ -186.03175,104.02118 }</string>

							</array>

							<array>
	
								<string>{ 184.86774,115.13226 }</string>
	
								<string>{ 242.32803,159.89420 }</string>
	
								<string>{ 205.50266,82.85715 }</string>

							</array>

							<array>
	
								<string>{ 157.88361,132.59259 }</string>
	
								<string>{ 242.32803,159.89420 }</string>
	
								<string>{ 184.86774,115.13226 }</string>

							</array>

							<array>
	
								<string>{ 120.84656,147.93652 }</string>
	
								<string>{ 242.32803,159.89420 }</string>
	
								<string>{ 157.88361,132.59259 }</string>

							</array>

							<array>
	
								<string>{ -240.52910,160.42328 }</string>
	
								<string>{ -133.12169,116.71957 }</string>
	
								<string>{ -160.10582,117.77777 }</string>

							</array>

							<array>
	
								<string>{ -100.31746,113.01587 }</string>
	
								<string>{ -133.12169,116.71957 }</string>
	
								<string>{ -240.52910,160.42328 }</string>
	
								<string>{ 53.65079,148.99472 }</string>
	
								<string>{ 20.31747,133.12170 }</string>

							</array>

							<array>
	
								<string>{ -240.52910,160.42328 }</string>
	
								<string>{ 242.32803,159.89420 }</string>
	
								<string>{ 120.84656,147.93652 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -184.97355,-123.49206 }</string>
	
								<string>{ -240.00000,-161.05820 }</string>
	
								<string>{ -238.94180,-38.51852 }</string>
	
								<string>{ -185.18518,-40.10582 }</string>

							</array>

							<array>
	
								<string>{ 239.89420,-27.72487 }</string>
	
								<string>{ 208.67725,-46.77248 }</string>
	
								<string>{ 208.14816,-26.13756 }</string>

							</array>

							<array>
	
								<string>{ 239.89420,-27.72487 }</string>
	
								<string>{ 241.48148,-158.94180 }</string>
	
								<string>{ 194.39154,-83.28043 }</string>
	
								<string>{ 208.67725,-46.77248 }</string>

							</array>

							<array>
	
								<string>{ 241.48148,-158.94180 }</string>
	
								<string>{ 161.05820,-108.67725 }</string>
	
								<string>{ 194.39154,-83.28043 }</string>

							</array>

							<array>
	
								<string>{ 241.48148,-158.94180 }</string>
	
								<string>{ 103.38626,-128.78307 }</string>
	
								<string>{ 161.05820,-108.67725 }</string>

							</array>

							<array>
	
								<string>{ -130.47619,-96.50793 }</string>
	
								<string>{ -184.97355,-87.51323 }</string>
	
								<string>{ -106.13756,-86.98412 }</string>
	
								<string>{ -106.66667,-94.92063 }</string>

							</array>

							<array>
	
								<string>{ -159.04762,-102.85714 }</string>
	
								<string>{ -184.97355,-87.51323 }</string>
	
								<string>{ -130.47619,-96.50793 }</string>

							</array>

							<array>
	
								<string>{ -179.68254,-108.14815 }</string>
	
								<string>{ -184.97355,-87.51323 }</string>
	
								<string>{ -159.04762,-102.85714 }</string>

							</array>

							<array>
	
								<string>{ -184.97355,-123.49206 }</string>
	
								<string>{ -184.97355,-87.51323 }</string>
	
								<string>{ -179.68254,-108.14815 }</string>

							</array>

							<array>
	
								<string>{ -171.74603,-134.60317 }</string>
	
								<string>{ -240.00000,-161.05820 }</string>
	
								<string>{ -184.97355,-123.49206 }</string>

							</array>

							<array>
	
								<string>{ -92.91005,-144.12698 }</string>
	
								<string>{ -240.00000,-161.05820 }</string>
	
								<string>{ -171.74603,-134.60317 }</string>

							</array>

							<array>
	
								<string>{ 241.48148,-158.94180 }</string>
	
								<string>{ 44.65610,-142.01058 }</string>
	
								<string>{ 103.38626,-128.78307 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-161.05820 }</string>
	
								<string>{ -92.91005,-144.12698 }</string>
	
								<string>{ 44.65610,-142.01058 }</string>
	
								<string>{ 241.48148,-158.94180 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

