<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A58</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -1.77051,-8.79239 }</string>
	
								<string>{ -2.09204,-2.87599 }</string>
	
								<string>{ 46.20798,-27.34785 }</string>
	
								<string>{ 48.20996,-46.59328 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -12.58560,55.69209 }</string>
	
								<string>{ 33.14209,25.65121 }</string>
	
								<string>{ 25.79376,22.65877 }</string>
	
								<string>{ 8.10889,31.34044 }</string>
	
								<string>{ -9.89755,41.51413 }</string>
	
								<string>{ -20.65424,48.10817 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -128.85982,4.48598 }</string>
	
								<string>{ -283.06542,10.09344 }</string>
	
								<string>{ -284.46729,25.32710 }</string>
	
								<string>{ -120.16823,39.81308 }</string>
	
								<string>{ -118.11215,24.11214 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -78.39253,1.68224 }</string>
	
								<string>{ -99.88786,9.15887 }</string>
	
								<string>{ -92.59814,37.94392 }</string>
	
								<string>{ -61.10281,36.72896 }</string>

							</array>

							<array>
	
								<string>{ -78.39253,1.68224 }</string>
	
								<string>{ -92.41122,-45.51402 }</string>
	
								<string>{ -116.24300,-9.53271 }</string>
	
								<string>{ -99.88786,9.15887 }</string>

							</array>

							<array>
	
								<string>{ -92.41122,-45.51402 }</string>
	
								<string>{ -95.21497,-81.02804 }</string>
	
								<string>{ -145.21497,-25.14020 }</string>
	
								<string>{ -116.24300,-9.53271 }</string>

							</array>

							<array>
	
								<string>{ -95.21497,-81.02804 }</string>
	
								<string>{ -82.13084,-116.54206 }</string>
	
								<string>{ -97.55141,-160.46729 }</string>
	
								<string>{ -145.21497,-25.14020 }</string>

							</array>

							<array>
	
								<string>{ -60.63553,-135.23365 }</string>
	
								<string>{ -97.55141,-160.46729 }</string>
	
								<string>{ -82.13084,-116.54206 }</string>

							</array>

							<array>
	
								<string>{ -36.33646,-147.38318 }</string>
	
								<string>{ -97.55141,-160.46729 }</string>
	
								<string>{ -60.63553,-135.23365 }</string>

							</array>

							<array>
	
								<string>{ 98.24298,47.00934 }</string>
	
								<string>{ 108.05606,78.31775 }</string>
	
								<string>{ 123.94391,68.97195 }</string>
	
								<string>{ 106.18689,40.93457 }</string>

							</array>

							<array>
	
								<string>{ 108.05606,78.31775 }</string>
	
								<string>{ 110.39252,114.29904 }</string>
	
								<string>{ 137.49530,84.39252 }</string>
	
								<string>{ 123.94391,68.97195 }</string>

							</array>

							<array>
	
								<string>{ 110.39252,114.29904 }</string>
	
								<string>{ 151.98129,89.53270 }</string>
	
								<string>{ 137.49530,84.39252 }</string>

							</array>

							<array>
	
								<string>{ 113.19623,-59.06542 }</string>
	
								<string>{ 152.91586,-67.94393 }</string>
	
								<string>{ 68.33643,-99.71963 }</string>
	
								<string>{ 81.88782,-71.21496 }</string>
	
								<string>{ 90.29904,-62.33646 }</string>

							</array>

							<array>
	
								<string>{ 152.91586,-67.94393 }</string>
	
								<string>{ 177.21494,-71.21496 }</string>
	
								<string>{ 47.77570,-127.28972 }</string>
	
								<string>{ 68.33643,-99.71963 }</string>

							</array>

							<array>
	
								<string>{ 284.69159,95.14017 }</string>
	
								<string>{ 168.33643,88.13083 }</string>
	
								<string>{ 151.98129,89.53270 }</string>
	
								<string>{ 110.39252,114.29904 }</string>

							</array>

							<array>
	
								<string>{ -12.97198,-151.58879 }</string>
	
								<string>{ -97.55141,-160.46729 }</string>
	
								<string>{ -36.33646,-147.38318 }</string>

							</array>

							<array>
	
								<string>{ 197.30838,-68.41122 }</string>
	
								<string>{ 283.28967,-160.00000 }</string>
	
								<string>{ 9.45792,-150.18692 }</string>
	
								<string>{ 47.77570,-127.28972 }</string>
	
								<string>{ 177.21494,-71.21496 }</string>

							</array>

							<array>
	
								<string>{ -12.97198,-151.58879 }</string>
	
								<string>{ 9.45792,-150.18692 }</string>
	
								<string>{ 283.28967,-160.00000 }</string>
	
								<string>{ -97.55141,-160.46729 }</string>

							</array>

							<array>
	
								<string>{ 284.69159,95.14017 }</string>
	
								<string>{ 184.22427,73.64485 }</string>
	
								<string>{ 168.33643,88.13083 }</string>

							</array>

							<array>
	
								<string>{ 284.69159,95.14017 }</string>
	
								<string>{ 201.04669,47.47662 }</string>
	
								<string>{ 184.22427,73.64485 }</string>

							</array>

							<array>
	
								<string>{ 283.28967,-160.00000 }</string>
	
								<string>{ 213.66351,9.15887 }</string>
	
								<string>{ 201.04669,47.47662 }</string>
	
								<string>{ 284.69159,95.14017 }</string>

							</array>

							<array>
	
								<string>{ 283.28967,-160.00000 }</string>
	
								<string>{ 219.73828,-18.87851 }</string>
	
								<string>{ 213.66351,9.15887 }</string>

							</array>

							<array>
	
								<string>{ 283.28967,-160.00000 }</string>
	
								<string>{ 221.14017,-41.77570 }</string>
	
								<string>{ 219.73828,-18.87851 }</string>

							</array>

							<array>
	
								<string>{ 283.28967,-160.00000 }</string>
	
								<string>{ 214.59811,-58.13084 }</string>
	
								<string>{ 221.14017,-41.77570 }</string>

							</array>

							<array>
	
								<string>{ 283.28967,-160.00000 }</string>
	
								<string>{ 197.30838,-68.41122 }</string>
	
								<string>{ 214.59811,-58.13084 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -69.04674,114.76633 }</string>
	
								<string>{ -69.98132,159.90652 }</string>
	
								<string>{ -33.06543,106.35513 }</string>
	
								<string>{ -51.75702,76.44859 }</string>

							</array>

							<array>
	
								<string>{ -69.98132,159.90652 }</string>
	
								<string>{ -17.17758,121.30841 }</string>
	
								<string>{ -33.06543,106.35513 }</string>

							</array>

							<array>
	
								<string>{ -69.98132,159.90652 }</string>
	
								<string>{ 115.34576,159.43924 }</string>
	
								<string>{ 123.94391,137.66354 }</string>

							</array>

							<array>
	
								<string>{ -69.98132,159.90652 }</string>
	
								<string>{ 5.25232,132.52335 }</string>
	
								<string>{ -17.17758,121.30841 }</string>

							</array>

							<array>
	
								<string>{ -69.98132,159.90652 }</string>
	
								<string>{ 23.00934,138.59811 }</string>
	
								<string>{ 5.25232,132.52335 }</string>

							</array>

							<array>
	
								<string>{ 23.00934,138.59811 }</string>
	
								<string>{ -69.98132,159.90652 }</string>
	
								<string>{ 53.38315,144.20560 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

