<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A2</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>isSensor</key>
                        <false/>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
						<key>polygons</key>
						<array>
							<array>	
								<string>{ -169.19314,-86.09792 }</string>	
								<string>{ -96.34546,-91.72705 }</string>	
								<string>{ 285.19061,-160.36051 }</string>	
								<string>{ -284.68259,-160.40639 }</string>	
								<string>{ -285.37536,-92.67975 }</string>
							</array>
							<array>	
								<string>{ 128.15787,-86.09792 }</string>	
								<string>{ 285.19061,-160.36051 }</string>	
								<string>{ -96.34546,-91.72705 }</string>
							</array>
							<array>	
								<string>{ 170.87308,-71.85950 }</string>	
								<string>{ 285.19061,-160.36051 }</string>	
								<string>{ 128.15787,-86.09792 }</string>
							</array>
							<array>	
								<string>{ 198.68765,-57.95222 }</string>	
								<string>{ 285.19061,-160.36051 }</string>	
								<string>{ 170.87308,-71.85950 }</string>
							</array>
							<array>	
								<string>{ 198.68765,-57.95222 }</string>	
								<string>{ 194.05191,-40.07143 }</string>	
								<string>{ 196.36978,-27.48865 }</string>	
								<string>{ 284.16150,61.59935 }</string>	
								<string>{ 285.19061,-160.36051 }</string>
							</array>
							<array>	
								<string>{ 191.73401,-1.66083 }</string>	
								<string>{ 284.16150,61.59935 }</string>	
								<string>{ 196.36978,-27.48865 }</string>
							</array>
							<array>	
								<string>{ 169.21747,18.53784 }</string>	
								<string>{ 284.16150,61.59935 }</string>	
								<string>{ 191.73401,-1.66083 }</string>
							</array>
							<array>	
								<string>{ 118.22409,31.12064 }</string>	
								<string>{ 284.16150,61.59935 }</string>	
								<string>{ 169.21747,18.53784 }</string>
							</array>
							<array>	
								<string>{ 118.22409,31.12064 }</string>	
								<string>{ -40.38519,30.78951 }</string>	
								<string>{ -45.35208,43.04115 }</string>	
								<string>{ 284.16150,61.59935 }</string>
							</array>
						</array>
                        
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>isSensor</key>
                        <false/>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
						<key>polygons</key>
						<array>
							<array>	
								<string>{ 30.67575,155.35837 }</string>	
								<string>{ 1.09482,160.47375 }</string>	
								<string>{ 285.13458,160.14261 }</string>	
								<string>{ 284.20740,137.69229 }</string>
							</array>
						</array>
                        
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>




