<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A57</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -36.65594,-160.51447 }</string>
	
								<string>{ -143.85852,-160.00000 }</string>
	
								<string>{ -112.02572,-134.59807 }</string>
	
								<string>{ -58.00642,-137.17042 }</string>
	
								<string>{ -43.53697,-145.20900 }</string>

							</array>

							<array>
	
								<string>{ -112.02572,-134.59807 }</string>
	
								<string>{ -143.85852,-160.00000 }</string>
	
								<string>{ -134.53376,-143.79421 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -148.55305,-52.15434 }</string>
	
								<string>{ -145.78778,-65.14469 }</string>
	
								<string>{ -239.35691,-75.75562 }</string>
	
								<string>{ -239.67846,-53.76205 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 197.29904,-85.72347 }</string>
	
								<string>{ 138.13507,-79.61414 }</string>
	
								<string>{ 161.28619,-44.56591 }</string>

							</array>

							<array>
	
								<string>{ 240.06433,-126.55948 }</string>
	
								<string>{ 241.35049,-160.32154 }</string>
	
								<string>{ 118.52090,-101.47910 }</string>
	
								<string>{ 138.13507,-79.61414 }</string>
	
								<string>{ 197.29904,-85.72347 }</string>

							</array>

							<array>
	
								<string>{ -104.30867,-50.22507 }</string>
	
								<string>{ -25.08038,-47.97427 }</string>
	
								<string>{ -41.28616,-73.18327 }</string>
	
								<string>{ -99.80707,-65.46623 }</string>

							</array>

							<array>
	
								<string>{ -25.08038,-47.97427 }</string>
	
								<string>{ -4.63022,-90.22507 }</string>
	
								<string>{ -41.28616,-73.18327 }</string>

							</array>

							<array>
	
								<string>{ 25.91641,-105.65916 }</string>
	
								<string>{ -4.63022,-90.22507 }</string>
	
								<string>{ -25.08038,-47.97427 }</string>

							</array>

							<array>
	
								<string>{ 25.91641,-105.65916 }</string>
	
								<string>{ 40.38586,-116.91318 }</string>
	
								<string>{ 1.47911,-128.16720 }</string>
	
								<string>{ -4.63022,-90.22507 }</string>

							</array>

							<array>
	
								<string>{ 40.38586,-116.91318 }</string>
	
								<string>{ 59.03537,-121.09325 }</string>
	
								<string>{ -13.63344,-159.35691 }</string>
	
								<string>{ 1.47911,-128.16720 }</string>

							</array>

							<array>
	
								<string>{ 59.03537,-121.09325 }</string>
	
								<string>{ 70.28940,-122.05788 }</string>
	
								<string>{ 241.35049,-160.32154 }</string>
	
								<string>{ -13.63344,-159.35691 }</string>

							</array>

							<array>
	
								<string>{ 241.35049,-160.32154 }</string>
	
								<string>{ 100.83603,-111.76849 }</string>
	
								<string>{ 118.52090,-101.47910 }</string>

							</array>

							<array>
	
								<string>{ 241.35049,-160.32154 }</string>
	
								<string>{ 81.54343,-120.45016 }</string>
	
								<string>{ 100.83603,-111.76849 }</string>

							</array>

							<array>
	
								<string>{ 241.35049,-160.32154 }</string>
	
								<string>{ 70.28940,-122.05788 }</string>
	
								<string>{ 81.54343,-120.45016 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 185.40195,16.52734 }</string>
	
								<string>{ 240.70740,160.25723 }</string>
	
								<string>{ 240.06433,13.63345 }</string>

							</array>

							<array>
	
								<string>{ 37.49197,-35.24115 }</string>
	
								<string>{ 67.07397,-26.55948 }</string>
	
								<string>{ 137.17044,-29.13184 }</string>
	
								<string>{ 25.27332,-52.60450 }</string>
	
								<string>{ 24.95178,-45.85209 }</string>

							</array>

							<array>
	
								<string>{ -57.36334,3.66560 }</string>
	
								<string>{ -91.12540,36.78458 }</string>
	
								<string>{ -111.38263,63.15114 }</string>
	
								<string>{ -66.68810,26.17365 }</string>
	
								<string>{ -53.18327,6.55949 }</string>

							</array>

							<array>
	
								<string>{ 137.17044,-29.13184 }</string>
	
								<string>{ 101.80066,-13.37621 }</string>
	
								<string>{ 117.55627,-3.72990 }</string>
	
								<string>{ 148.74600,10.73956 }</string>
	
								<string>{ 145.85211,-23.98714 }</string>

							</array>

							<array>
	
								<string>{ 148.74600,10.73956 }</string>
	
								<string>{ 143.92285,36.78458 }</string>
	
								<string>{ 143.92285,47.71706 }</string>
	
								<string>{ 240.70740,160.25723 }</string>
	
								<string>{ 185.40195,16.52734 }</string>

							</array>

							<array>
	
								<string>{ -70.22507,103.02252 }</string>
	
								<string>{ -27.78134,130.99680 }</string>
	
								<string>{ 7.90997,149.96786 }</string>
	
								<string>{ -18.77812,122.95822 }</string>
	
								<string>{ -36.78456,109.13184 }</string>
	
								<string>{ -111.38263,63.15114 }</string>
	
								<string>{ -111.38263,73.24759 }</string>

							</array>

							<array>
	
								<string>{ 85.40195,-20.45015 }</string>
	
								<string>{ 137.17044,-29.13184 }</string>
	
								<string>{ 67.07397,-26.55948 }</string>

							</array>

							<array>
	
								<string>{ 101.80066,-13.37621 }</string>
	
								<string>{ 137.17044,-29.13184 }</string>
	
								<string>{ 85.40195,-20.45015 }</string>

							</array>

							<array>
	
								<string>{ -111.38263,63.15114 }</string>
	
								<string>{ -69.26044,31.63988 }</string>
	
								<string>{ -66.68810,26.17365 }</string>

							</array>

							<array>
	
								<string>{ -111.38263,63.15114 }</string>
	
								<string>{ -70.54662,38.71384 }</string>
	
								<string>{ -69.26044,31.63988 }</string>

							</array>

							<array>
	
								<string>{ -111.38263,63.15114 }</string>
	
								<string>{ -70.86816,51.89711 }</string>
	
								<string>{ -70.54662,38.71384 }</string>

							</array>

							<array>
	
								<string>{ -111.38263,63.15114 }</string>
	
								<string>{ -69.58199,62.18651 }</string>
	
								<string>{ -70.86816,51.89711 }</string>

							</array>

							<array>
	
								<string>{ -111.38263,63.15114 }</string>
	
								<string>{ -66.36655,72.15434 }</string>
	
								<string>{ -69.58199,62.18651 }</string>

							</array>

							<array>
	
								<string>{ -111.38263,63.15114 }</string>
	
								<string>{ -61.54340,80.19293 }</string>
	
								<string>{ -66.36655,72.15434 }</string>

							</array>

							<array>
	
								<string>{ -111.38263,63.15114 }</string>
	
								<string>{ -52.21864,94.01930 }</string>
	
								<string>{ -61.54340,80.19293 }</string>

							</array>

							<array>
	
								<string>{ -111.38263,63.15114 }</string>
	
								<string>{ -36.78456,109.13184 }</string>
	
								<string>{ -52.21864,94.01930 }</string>

							</array>

							<array>
	
								<string>{ 7.90997,149.96786 }</string>
	
								<string>{ -1.73633,132.92606 }</string>
	
								<string>{ -18.77812,122.95822 }</string>

							</array>

							<array>
	
								<string>{ 7.90997,149.96786 }</string>
	
								<string>{ 13.69775,137.42767 }</string>
	
								<string>{ -1.73633,132.92606 }</string>

							</array>

							<array>
	
								<string>{ 7.90997,149.96786 }</string>
	
								<string>{ 31.18973,159.42123 }</string>
	
								<string>{ 30.09647,139.03537 }</string>
	
								<string>{ 13.69775,137.42767 }</string>

							</array>

							<array>
	
								<string>{ 31.18973,159.42123 }</string>
	
								<string>{ 46.81674,139.35693 }</string>
	
								<string>{ 30.09647,139.03537 }</string>

							</array>

							<array>
	
								<string>{ 31.18973,159.42123 }</string>
	
								<string>{ 240.70740,160.25723 }</string>
	
								<string>{ 65.78778,136.78458 }</string>
	
								<string>{ 46.81674,139.35693 }</string>

							</array>

							<array>
	
								<string>{ 240.70740,160.25723 }</string>
	
								<string>{ 80.90033,131.31833 }</string>
	
								<string>{ 65.78778,136.78458 }</string>

							</array>

							<array>
	
								<string>{ 240.70740,160.25723 }</string>
	
								<string>{ 95.04825,122.31512 }</string>
	
								<string>{ 80.90033,131.31833 }</string>

							</array>

							<array>
	
								<string>{ 240.70740,160.25723 }</string>
	
								<string>{ 109.83923,108.16721 }</string>
	
								<string>{ 95.04825,122.31512 }</string>

							</array>

							<array>
	
								<string>{ 240.70740,160.25723 }</string>
	
								<string>{ 122.05789,94.66238 }</string>
	
								<string>{ 109.83923,108.16721 }</string>

							</array>

							<array>
	
								<string>{ 240.70740,160.25723 }</string>
	
								<string>{ 132.02573,79.87138 }</string>
	
								<string>{ 122.05789,94.66238 }</string>

							</array>

							<array>
	
								<string>{ 240.70740,160.25723 }</string>
	
								<string>{ 140.06433,63.47267 }</string>
	
								<string>{ 132.02573,79.87138 }</string>

							</array>

							<array>
	
								<string>{ 240.70740,160.25723 }</string>
	
								<string>{ 143.92285,47.71706 }</string>
	
								<string>{ 140.06433,63.47267 }</string>

							</array>

							<array>
	
								<string>{ 148.74600,10.73956 }</string>
	
								<string>{ 142.31512,26.49518 }</string>
	
								<string>{ 143.92285,36.78458 }</string>

							</array>

							<array>
	
								<string>{ 148.74600,10.73956 }</string>
	
								<string>{ 138.45660,17.17043 }</string>
	
								<string>{ 142.31512,26.49518 }</string>

							</array>

							<array>
	
								<string>{ 148.74600,10.73956 }</string>
	
								<string>{ 131.38266,8.81029 }</string>
	
								<string>{ 138.45660,17.17043 }</string>

							</array>

							<array>
	
								<string>{ 148.74600,10.73956 }</string>
	
								<string>{ 117.55627,-3.72990 }</string>
	
								<string>{ 131.38266,8.81029 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

