<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A14</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -55.69966,6.21159 }</string>
	
								<string>{ -52.96928,-30.30717 }</string>
	
								<string>{ -63.54950,-15.97270 }</string>
	
								<string>{ -64.23209,10.64845 }</string>
	
								<string>{ -59.11263,10.30716 }</string>

							</array>

							<array>
	
								<string>{ -52.96928,-30.30717 }</string>
	
								<string>{ -43.07167,-66.48464 }</string>
	
								<string>{ -67.64505,-36.79181 }</string>
	
								<string>{ -63.54950,-15.97270 }</string>

							</array>

							<array>
	
								<string>{ -43.07167,-66.48464 }</string>
	
								<string>{ -74.12970,-56.92833 }</string>
	
								<string>{ -67.64505,-36.79181 }</string>

							</array>

							<array>
	
								<string>{ -43.07167,-66.48464 }</string>
	
								<string>{ -33.51537,-93.44710 }</string>
	
								<string>{ -85.39250,-74.33447 }</string>
	
								<string>{ -74.12970,-56.92833 }</string>

							</array>

							<array>
	
								<string>{ 32.01364,-60.34130 }</string>
	
								<string>{ 44.64163,-65.11945 }</string>
	
								<string>{ 65.46075,-83.20819 }</string>
	
								<string>{ 13.24231,-83.89079 }</string>
	
								<string>{ 21.09213,-60.00000 }</string>

							</array>

							<array>
	
								<string>{ 65.46075,-83.20819 }</string>
	
								<string>{ 81.50171,-99.24915 }</string>
	
								<string>{ -7.23550,-104.02731 }</string>
	
								<string>{ 13.24231,-83.89079 }</string>

							</array>

							<array>
	
								<string>{ -33.51537,-93.44710 }</string>
	
								<string>{ -19.52219,-104.02731 }</string>
	
								<string>{ -105.18771,-80.81911 }</string>
	
								<string>{ -85.39250,-74.33447 }</string>

							</array>

							<array>
	
								<string>{ -177.88396,60.81911 }</string>
	
								<string>{ -190.51195,74.12968 }</string>
	
								<string>{ -147.78157,71.80887 }</string>
	
								<string>{ -150.23891,65.93857 }</string>

							</array>

							<array>
	
								<string>{ -197.33789,45.80205 }</string>
	
								<string>{ -240.34130,70.10239 }</string>
	
								<string>{ -190.51195,74.12968 }</string>
	
								<string>{ -177.88396,60.81911 }</string>

							</array>

							<array>
	
								<string>{ -212.01365,27.37201 }</string>
	
								<string>{ -240.34130,70.10239 }</string>
	
								<string>{ -197.33789,45.80205 }</string>

							</array>

							<array>
	
								<string>{ -218.49829,4.16382 }</string>
	
								<string>{ -240.34130,70.10239 }</string>
	
								<string>{ -212.01365,27.37201 }</string>

							</array>

							<array>
	
								<string>{ 240.88736,-133.37884 }</string>
	
								<string>{ 206.07507,53.31058 }</string>
	
								<string>{ 195.49487,132.49146 }</string>
	
								<string>{ 239.86346,138.29352 }</string>

							</array>

							<array>
	
								<string>{ -218.49829,4.16382 }</string>
	
								<string>{ -218.15700,-20.06827 }</string>
	
								<string>{ -240.00000,-134.74403 }</string>
	
								<string>{ -240.34130,70.10239 }</string>

							</array>

							<array>
	
								<string>{ 148.39590,119.18088 }</string>
	
								<string>{ 195.49487,132.49146 }</string>
	
								<string>{ 172.28668,108.25937 }</string>
	
								<string>{ 146.00681,115.76791 }</string>

							</array>

							<array>
	
								<string>{ 195.49487,132.49146 }</string>
	
								<string>{ 184.23209,98.70306 }</string>
	
								<string>{ 172.28668,108.25937 }</string>

							</array>

							<array>
	
								<string>{ 195.49487,132.49146 }</string>
	
								<string>{ 197.88394,78.90784 }</string>
	
								<string>{ 184.23209,98.70306 }</string>

							</array>

							<array>
	
								<string>{ 98.90784,-111.19454 }</string>
	
								<string>{ -7.23550,-104.02731 }</string>
	
								<string>{ 81.50171,-99.24915 }</string>

							</array>

							<array>
	
								<string>{ 195.49487,132.49146 }</string>
	
								<string>{ 206.07507,53.31058 }</string>
	
								<string>{ 197.88394,78.90784 }</string>

							</array>

							<array>
	
								<string>{ -19.52219,-104.02731 }</string>
	
								<string>{ -240.00000,-134.74403 }</string>
	
								<string>{ -134.19795,-82.52560 }</string>
	
								<string>{ -105.18771,-80.81911 }</string>

							</array>

							<array>
	
								<string>{ -207.57679,-43.95905 }</string>
	
								<string>{ -240.00000,-134.74403 }</string>
	
								<string>{ -218.15700,-20.06827 }</string>

							</array>

							<array>
	
								<string>{ -189.48806,-60.00000 }</string>
	
								<string>{ -240.00000,-134.74403 }</string>
	
								<string>{ -207.57679,-43.95905 }</string>

							</array>

							<array>
	
								<string>{ -161.16041,-74.33447 }</string>
	
								<string>{ -240.00000,-134.74403 }</string>
	
								<string>{ -189.48806,-60.00000 }</string>

							</array>

							<array>
	
								<string>{ -134.19795,-82.52560 }</string>
	
								<string>{ -240.00000,-134.74403 }</string>
	
								<string>{ -161.16041,-74.33447 }</string>

							</array>

							<array>
	
								<string>{ -19.52219,-104.02731 }</string>
	
								<string>{ -7.23550,-104.02731 }</string>
	
								<string>{ 98.90784,-111.19454 }</string>
	
								<string>{ 240.88736,-133.37884 }</string>
	
								<string>{ -240.00000,-134.74403 }</string>

							</array>

							<array>
	
								<string>{ 240.88736,-133.37884 }</string>
	
								<string>{ 205.05118,18.83958 }</string>
	
								<string>{ 206.07507,53.31058 }</string>

							</array>

							<array>
	
								<string>{ 240.88736,-133.37884 }</string>
	
								<string>{ 195.83618,-15.63141 }</string>
	
								<string>{ 205.05118,18.83958 }</string>

							</array>

							<array>
	
								<string>{ 240.88736,-133.37884 }</string>
	
								<string>{ 183.54947,-49.41980 }</string>
	
								<string>{ 195.83618,-15.63141 }</string>

							</array>

							<array>
	
								<string>{ 240.88736,-133.37884 }</string>
	
								<string>{ 164.43686,-81.50171 }</string>
	
								<string>{ 183.54947,-49.41980 }</string>

							</array>

							<array>
	
								<string>{ 240.88736,-133.37884 }</string>
	
								<string>{ 142.59384,-105.39249 }</string>
	
								<string>{ 164.43686,-81.50171 }</string>

							</array>

							<array>
	
								<string>{ 240.88736,-133.37884 }</string>
	
								<string>{ 123.13992,-114.60751 }</string>
	
								<string>{ 142.59384,-105.39249 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -67.98636,98.70306 }</string>
	
								<string>{ -57.74745,72.08191 }</string>
	
								<string>{ -66.27986,72.08191 }</string>

							</array>

							<array>
	
								<string>{ -52.21843,163.95905 }</string>
	
								<string>{ -93.92491,150.58020 }</string>
	
								<string>{ -123.61775,163.27646 }</string>

							</array>

							<array>
	
								<string>{ -52.21843,163.95905 }</string>
	
								<string>{ -80.27304,136.92831 }</string>
	
								<string>{ -93.92491,150.58020 }</string>

							</array>

							<array>
	
								<string>{ -52.21843,163.95905 }</string>
	
								<string>{ -72.76451,121.22867 }</string>
	
								<string>{ -80.27304,136.92831 }</string>

							</array>

							<array>
	
								<string>{ -57.74745,72.08191 }</string>
	
								<string>{ -67.98636,98.70306 }</string>
	
								<string>{ -72.76451,121.22867 }</string>
	
								<string>{ -52.21843,163.95905 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 27.91809,84.36859 }</string>
	
								<string>{ 58.29352,85.73378 }</string>
	
								<string>{ 47.71332,71.05801 }</string>
	
								<string>{ 35.08533,72.08191 }</string>

							</array>

							<array>
	
								<string>{ 58.29352,85.73378 }</string>
	
								<string>{ 27.91809,84.36859 }</string>
	
								<string>{ 3.00340,84.36859 }</string>
	
								<string>{ -0.06827,90.92149 }</string>
	
								<string>{ 76.45050,96.04095 }</string>
	
								<string>{ 76.72354,90.17064 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

