<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A57</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 163.48837,18.48837 }</string>
	
								<string>{ 239.65115,49.59302 }</string>
	
								<string>{ 191.97675,-0.11629 }</string>
	
								<string>{ 176.86044,5.40697 }</string>

							</array>

							<array>
	
								<string>{ -8.60466,-32.67442 }</string>
	
								<string>{ 2.44186,-96.33721 }</string>
	
								<string>{ -21.39536,-68.72093 }</string>
	
								<string>{ -15.87210,-32.09303 }</string>

							</array>

							<array>
	
								<string>{ 2.44186,-96.33721 }</string>
	
								<string>{ -35.05814,-96.33721 }</string>
	
								<string>{ -21.39536,-68.72093 }</string>

							</array>

							<array>
	
								<string>{ 2.44186,-96.33721 }</string>
	
								<string>{ 13.77907,-103.60465 }</string>
	
								<string>{ 28.02325,-116.39535 }</string>
	
								<string>{ -62.09303,-121.62791 }</string>
	
								<string>{ -35.05814,-96.33721 }</string>

							</array>

							<array>
	
								<string>{ 191.97675,-0.11629 }</string>
	
								<string>{ 239.65115,49.59302 }</string>
	
								<string>{ 201.56976,-22.79070 }</string>
	
								<string>{ 195.46512,-15.81395 }</string>

							</array>

							<array>
	
								<string>{ 25.69766,53.95349 }</string>
	
								<string>{ 98.37210,56.56976 }</string>
	
								<string>{ 85.87210,42.61627 }</string>
	
								<string>{ 25.98837,44.36046 }</string>

							</array>

							<array>
	
								<string>{ 98.37210,56.56976 }</string>
	
								<string>{ 239.65115,49.59302 }</string>
	
								<string>{ 119.59302,37.09302 }</string>
	
								<string>{ 85.87210,42.61627 }</string>

							</array>

							<array>
	
								<string>{ -99.01163,51.33720 }</string>
	
								<string>{ -104.24419,57.44186 }</string>
	
								<string>{ -45.93024,54.12790 }</string>
	
								<string>{ -46.10466,46.10464 }</string>

							</array>

							<array>
	
								<string>{ 53.89536,-129.47675 }</string>
	
								<string>{ -87.96512,-129.18605 }</string>
	
								<string>{ -62.09303,-121.62791 }</string>
	
								<string>{ 28.02325,-116.39535 }</string>

							</array>

							<array>
	
								<string>{ 119.59302,37.09302 }</string>
	
								<string>{ 239.65115,49.59302 }</string>
	
								<string>{ 147.79068,28.66278 }</string>
	
								<string>{ 126.86047,32.15115 }</string>

							</array>

							<array>
	
								<string>{ 239.65115,49.59302 }</string>
	
								<string>{ 163.48837,18.48837 }</string>
	
								<string>{ 147.79068,28.66278 }</string>

							</array>

							<array>
	
								<string>{ 239.65115,-160.00000 }</string>
	
								<string>{ 199.82556,-57.38372 }</string>
	
								<string>{ 201.56976,-22.79070 }</string>
	
								<string>{ 239.65115,49.59302 }</string>

							</array>

							<array>
	
								<string>{ -148.13953,46.10464 }</string>
	
								<string>{ -159.47675,58.89534 }</string>
	
								<string>{ -104.24419,57.44186 }</string>
	
								<string>{ -99.01163,51.33720 }</string>

							</array>

							<array>
	
								<string>{ -183.02326,29.24419 }</string>
	
								<string>{ -240.29070,55.00000 }</string>
	
								<string>{ -159.47675,58.89534 }</string>
	
								<string>{ -148.13953,46.10464 }</string>

							</array>

							<array>
	
								<string>{ -199.88372,3.95349 }</string>
	
								<string>{ -240.29070,55.00000 }</string>
	
								<string>{ -183.02326,29.24419 }</string>

							</array>

							<array>
	
								<string>{ -210.63954,-28.02325 }</string>
	
								<string>{ -240.29070,55.00000 }</string>
	
								<string>{ -199.88372,3.95349 }</string>

							</array>

							<array>
	
								<string>{ -210.63954,-28.02325 }</string>
	
								<string>{ -207.73256,-69.01163 }</string>
	
								<string>{ -239.70930,-159.12791 }</string>
	
								<string>{ -240.29070,55.00000 }</string>

							</array>

							<array>
	
								<string>{ -202.79070,-87.90697 }</string>
	
								<string>{ -239.70930,-159.12791 }</string>
	
								<string>{ -207.73256,-69.01163 }</string>

							</array>

							<array>
	
								<string>{ -195.52326,-100.69767 }</string>
	
								<string>{ -239.70930,-159.12791 }</string>
	
								<string>{ -202.79070,-87.90697 }</string>

							</array>

							<array>
	
								<string>{ -177.79070,-120.17442 }</string>
	
								<string>{ -239.70930,-159.12791 }</string>
	
								<string>{ -195.52326,-100.69767 }</string>

							</array>

							<array>
	
								<string>{ -156.56977,-128.02326 }</string>
	
								<string>{ -239.70930,-159.12791 }</string>
	
								<string>{ -177.79070,-120.17442 }</string>

							</array>

							<array>
	
								<string>{ 82.96512,-135.58140 }</string>
	
								<string>{ 239.65115,-160.00000 }</string>
	
								<string>{ -239.70930,-159.12791 }</string>
	
								<string>{ -156.56977,-128.02326 }</string>

							</array>

							<array>
	
								<string>{ 239.65115,-160.00000 }</string>
	
								<string>{ 183.25580,-97.79070 }</string>
	
								<string>{ 199.82556,-57.38372 }</string>

							</array>

							<array>
	
								<string>{ 239.65115,-160.00000 }</string>
	
								<string>{ 156.80231,-121.91861 }</string>
	
								<string>{ 183.25580,-97.79070 }</string>

							</array>

							<array>
	
								<string>{ 239.65115,-160.00000 }</string>
	
								<string>{ 133.54651,-134.70930 }</string>
	
								<string>{ 156.80231,-121.91861 }</string>

							</array>

							<array>
	
								<string>{ 239.65115,-160.00000 }</string>
	
								<string>{ 82.96512,-135.58140 }</string>
	
								<string>{ 133.54651,-134.70930 }</string>

							</array>

							<array>
	
								<string>{ 82.96512,-135.58140 }</string>
	
								<string>{ -87.96512,-129.18605 }</string>
	
								<string>{ 53.89536,-129.47675 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

