<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A60</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -173.13953,69.94186 }</string>
	
								<string>{ -107.55814,67.79070 }</string>
	
								<string>{ -105.11629,58.02325 }</string>
	
								<string>{ -100.17442,-46.62791 }</string>
	
								<string>{ -118.48837,-159.70930 }</string>
	
								<string>{ -240.29070,23.13953 }</string>
	
								<string>{ -240.29070,63.13953 }</string>

							</array>

							<array>
	
								<string>{ 239.94186,-160.29070 }</string>
	
								<string>{ 186.16278,-145.75581 }</string>
	
								<string>{ 239.36044,-139.65116 }</string>

							</array>

							<array>
	
								<string>{ 239.94186,-160.29070 }</string>
	
								<string>{ -118.48837,-159.70930 }</string>
	
								<string>{ 84.41861,-147.50000 }</string>
	
								<string>{ 186.16278,-145.75581 }</string>

							</array>

							<array>
	
								<string>{ -118.48837,-159.70930 }</string>
	
								<string>{ -11.80232,-143.43023 }</string>
	
								<string>{ 84.41861,-147.50000 }</string>

							</array>

							<array>
	
								<string>{ -118.48837,-159.70930 }</string>
	
								<string>{ -41.45349,-137.90698 }</string>
	
								<string>{ -11.80232,-143.43023 }</string>

							</array>

							<array>
	
								<string>{ -118.48837,-159.70930 }</string>
	
								<string>{ -70.23256,-129.18605 }</string>
	
								<string>{ -41.45349,-137.90698 }</string>

							</array>

							<array>
	
								<string>{ -118.48837,-159.70930 }</string>
	
								<string>{ -86.22093,-115.81395 }</string>
	
								<string>{ -70.23256,-129.18605 }</string>

							</array>

							<array>
	
								<string>{ -118.48837,-159.70930 }</string>
	
								<string>{ -95.81395,-95.75581 }</string>
	
								<string>{ -86.22093,-115.81395 }</string>

							</array>

							<array>
	
								<string>{ -118.48837,-159.70930 }</string>
	
								<string>{ -100.17442,-46.62791 }</string>
	
								<string>{ -95.81395,-95.75581 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -56.86047,-55.93024 }</string>
	
								<string>{ -60.93024,-18.43024 }</string>
	
								<string>{ -40.87210,-39.06977 }</string>
	
								<string>{ -28.37210,-84.41861 }</string>
	
								<string>{ -50.46512,-84.41861 }</string>

							</array>

							<array>
	
								<string>{ -60.93024,-18.43024 }</string>
	
								<string>{ -60.34885,58.89534 }</string>
	
								<string>{ -40.29070,0.17442 }</string>
	
								<string>{ -40.87210,-39.06977 }</string>

							</array>

							<array>
	
								<string>{ -60.34885,58.89534 }</string>
	
								<string>{ -31.27907,19.65115 }</string>
	
								<string>{ -40.29070,0.17442 }</string>

							</array>

							<array>
	
								<string>{ -60.34885,58.89534 }</string>
	
								<string>{ -1.62791,40.87209 }</string>
	
								<string>{ -31.27907,19.65115 }</string>

							</array>

							<array>
	
								<string>{ -60.34885,58.89534 }</string>
	
								<string>{ -57.44186,65.17441 }</string>
	
								<string>{ 64.36047,66.16278 }</string>
	
								<string>{ 41.68604,50.75581 }</string>
	
								<string>{ -1.62791,40.87209 }</string>

							</array>

							<array>
	
								<string>{ 127.73254,47.55814 }</string>
	
								<string>{ 41.68604,50.75581 }</string>
	
								<string>{ 64.36047,66.16278 }</string>
	
								<string>{ 125.29068,57.32558 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

