<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A56</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 2.71524,7.54967 }</string>
	
								<string>{ -33.70860,-44.76821 }</string>
	
								<string>{ -43.31126,-54.70199 }</string>
	
								<string>{ -31.05960,8.21191 }</string>
	
								<string>{ -22.45033,22.11920 }</string>
	
								<string>{ -2.25165,24.43709 }</string>

							</array>

							<array>
	
								<string>{ 127.21854,151.25827 }</string>
	
								<string>{ 138.80795,122.78146 }</string>
	
								<string>{ 110.33112,127.41721 }</string>
	
								<string>{ 101.39072,134.37085 }</string>
	
								<string>{ 97.41721,145.96027 }</string>

							</array>

							<array>
	
								<string>{ 145.09933,159.86755 }</string>
	
								<string>{ 240.79471,159.86755 }</string>
	
								<string>{ 171.92053,104.90067 }</string>
	
								<string>{ 138.80795,122.78146 }</string>
	
								<string>{ 127.21854,151.25827 }</string>

							</array>

							<array>
	
								<string>{ 16.29138,-10.33113 }</string>
	
								<string>{ -11.52318,-22.91391 }</string>
	
								<string>{ 6.35762,-1.39073 }</string>
	
								<string>{ 16.29138,-5.36424 }</string>

							</array>

							<array>
	
								<string>{ -202.25166,31.05960 }</string>
	
								<string>{ -240.33113,42.58278 }</string>
	
								<string>{ -181.12583,42.25166 }</string>
	
								<string>{ -181.05960,35.03311 }</string>

							</array>

							<array>
	
								<string>{ 240.79471,159.86755 }</string>
	
								<string>{ 191.78809,87.68211 }</string>
	
								<string>{ 171.92053,104.90067 }</string>

							</array>

							<array>
	
								<string>{ -219.13907,22.11920 }</string>
	
								<string>{ -240.33113,42.58278 }</string>
	
								<string>{ -202.25166,31.05960 }</string>

							</array>

							<array>
	
								<string>{ -231.05960,-11.32451 }</string>
	
								<string>{ -240.33113,42.58278 }</string>
	
								<string>{ -219.13907,22.11920 }</string>

							</array>

							<array>
	
								<string>{ -47.28476,-3.37749 }</string>
	
								<string>{ -56.22516,-32.18543 }</string>
	
								<string>{ -70.79471,-18.27814 }</string>
	
								<string>{ -72.45033,-10.99338 }</string>

							</array>

							<array>
	
								<string>{ -47.28476,-3.37749 }</string>
	
								<string>{ -31.05960,8.21191 }</string>
	
								<string>{ -43.31126,-54.70199 }</string>
	
								<string>{ -56.22516,-32.18543 }</string>

							</array>

							<array>
	
								<string>{ -11.52318,-22.91391 }</string>
	
								<string>{ -33.70860,-44.76821 }</string>
	
								<string>{ 2.71524,7.54967 }</string>
	
								<string>{ 6.35762,-1.39073 }</string>

							</array>

							<array>
	
								<string>{ 240.79471,159.86755 }</string>
	
								<string>{ 197.08609,62.18542 }</string>
	
								<string>{ 191.78809,87.68211 }</string>

							</array>

							<array>
	
								<string>{ 239.47021,-160.00000 }</string>
	
								<string>{ 194.76822,40.33113 }</string>
	
								<string>{ 197.08609,62.18542 }</string>
	
								<string>{ 240.79471,159.86755 }</string>

							</array>

							<array>
	
								<string>{ 133.84106,-4.03973 }</string>
	
								<string>{ 133.50995,-25.23178 }</string>
	
								<string>{ 91.78809,-12.98013 }</string>
	
								<string>{ 91.45697,-6.35762 }</string>

							</array>

							<array>
	
								<string>{ 163.31125,8.87418 }</string>
	
								<string>{ 147.41721,-40.13245 }</string>
	
								<string>{ 133.50995,-25.23178 }</string>
	
								<string>{ 133.84106,-4.03973 }</string>

							</array>

							<array>
	
								<string>{ 194.76822,40.33113 }</string>
	
								<string>{ 155.36423,-61.98676 }</string>
	
								<string>{ 147.41721,-40.13245 }</string>
	
								<string>{ 163.31125,8.87418 }</string>

							</array>

							<array>
	
								<string>{ -231.05960,-11.32451 }</string>
	
								<string>{ -230.06623,-47.41722 }</string>
	
								<string>{ -240.00000,-159.66887 }</string>
	
								<string>{ -240.33113,42.58278 }</string>

							</array>

							<array>
	
								<string>{ 194.76822,40.33113 }</string>
	
								<string>{ 239.47021,-160.00000 }</string>
	
								<string>{ 152.05298,-94.10596 }</string>
	
								<string>{ 155.36423,-61.98676 }</string>

							</array>

							<array>
	
								<string>{ 239.47021,-160.00000 }</string>
	
								<string>{ 140.13245,-117.28477 }</string>
	
								<string>{ 152.05298,-94.10596 }</string>

							</array>

							<array>
	
								<string>{ 239.47021,-160.00000 }</string>
	
								<string>{ 108.34436,-135.16556 }</string>
	
								<string>{ 140.13245,-117.28477 }</string>

							</array>

							<array>
	
								<string>{ 239.47021,-160.00000 }</string>
	
								<string>{ 73.90729,-139.13907 }</string>
	
								<string>{ 108.34436,-135.16556 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-159.66887 }</string>
	
								<string>{ 73.90729,-139.13907 }</string>
	
								<string>{ 239.47021,-160.00000 }</string>

							</array>

							<array>
	
								<string>{ -35.69536,-72.25166 }</string>
	
								<string>{ -40.66225,-88.80795 }</string>
	
								<string>{ -43.31126,-54.70199 }</string>
	
								<string>{ -33.70860,-44.76821 }</string>

							</array>

							<array>
	
								<string>{ -22.78145,-101.05960 }</string>
	
								<string>{ -46.95364,-114.63576 }</string>
	
								<string>{ -40.66225,-88.80795 }</string>
	
								<string>{ -35.69536,-72.25166 }</string>

							</array>

							<array>
	
								<string>{ 1.72186,-120.59603 }</string>
	
								<string>{ -62.84769,-135.82781 }</string>
	
								<string>{ -46.95364,-114.63576 }</string>
	
								<string>{ -22.78145,-101.05960 }</string>

							</array>

							<array>
	
								<string>{ 32.84769,-137.15232 }</string>
	
								<string>{ -93.31126,-149.40397 }</string>
	
								<string>{ -62.84769,-135.82781 }</string>
	
								<string>{ 1.72186,-120.59603 }</string>

							</array>

							<array>
	
								<string>{ 73.90729,-139.13907 }</string>
	
								<string>{ -93.31126,-149.40397 }</string>
	
								<string>{ 32.84769,-137.15232 }</string>

							</array>

							<array>
	
								<string>{ -221.45695,-84.17219 }</string>
	
								<string>{ -240.00000,-159.66887 }</string>
	
								<string>{ -230.06623,-47.41722 }</string>

							</array>

							<array>
	
								<string>{ -200.59603,-113.31126 }</string>
	
								<string>{ -240.00000,-159.66887 }</string>
	
								<string>{ -221.45695,-84.17219 }</string>

							</array>

							<array>
	
								<string>{ -174.10596,-139.13907 }</string>
	
								<string>{ -240.00000,-159.66887 }</string>
	
								<string>{ -200.59603,-113.31126 }</string>

							</array>

							<array>
	
								<string>{ -137.01987,-147.41722 }</string>
	
								<string>{ -240.00000,-159.66887 }</string>
	
								<string>{ -174.10596,-139.13907 }</string>

							</array>

							<array>
	
								<string>{ -93.31126,-149.40397 }</string>
	
								<string>{ -240.00000,-159.66887 }</string>
	
								<string>{ -137.01987,-147.41722 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -25.76158,112.84769 }</string>
	
								<string>{ -1.58940,129.66888 }</string>
	
								<string>{ 6.68874,88.01324 }</string>
	
								<string>{ 3.70862,75.43047 }</string>
	
								<string>{ -6.88742,71.45695 }</string>
	
								<string>{ -29.73509,81.05960 }</string>

							</array>

							<array>
	
								<string>{ 22.91391,99.60266 }</string>
	
								<string>{ 6.68874,88.01324 }</string>
	
								<string>{ -1.58940,129.66888 }</string>
	
								<string>{ 17.28476,127.41721 }</string>
	
								<string>{ 28.14569,113.44370 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

