<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A60</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -202.54296,8.04123 }</string>
	
								<string>{ -240.34364,39.79381 }</string>
	
								<string>{ -186.73540,22.81787 }</string>
	
								<string>{ -190.85911,12.50859 }</string>

							</array>

							<array>
	
								<string>{ 219.10651,160.96219 }</string>
	
								<string>{ 223.91751,-159.31271 }</string>
	
								<string>{ 148.65979,-46.25430 }</string>
	
								<string>{ 140.75601,-14.63918 }</string>
	
								<string>{ 177.52576,117.31958 }</string>
	
								<string>{ 196.08246,160.27490 }</string>

							</array>

							<array>
	
								<string>{ 56.21991,75.39519 }</string>
	
								<string>{ 121.16837,85.01718 }</string>
	
								<string>{ 76.49484,66.46048 }</string>
	
								<string>{ 62.74915,68.52232 }</string>

							</array>

							<array>
	
								<string>{ 41.78693,80.89346 }</string>
	
								<string>{ 121.16837,85.01718 }</string>
	
								<string>{ 56.21991,75.39519 }</string>
	
								<string>{ 41.78693,77.11339 }</string>

							</array>

							<array>
	
								<string>{ -186.73540,22.81787 }</string>
	
								<string>{ -240.34364,39.79381 }</string>
	
								<string>{ -128.17870,41.16838 }</string>
	
								<string>{ -127.97251,35.18900 }</string>

							</array>

							<array>
	
								<string>{ -214.22680,-13.95189 }</string>
	
								<string>{ -240.34364,39.79381 }</string>
	
								<string>{ -202.54296,8.04123 }</string>

							</array>

							<array>
	
								<string>{ -214.22680,-13.95189 }</string>
	
								<string>{ -212.50859,-42.13058 }</string>
	
								<string>{ -240.00000,-159.65636 }</string>
	
								<string>{ -240.34364,39.79381 }</string>

							</array>

							<array>
	
								<string>{ 121.16837,85.01718 }</string>
	
								<string>{ 91.95874,57.18213 }</string>
	
								<string>{ 76.49484,66.46048 }</string>

							</array>

							<array>
	
								<string>{ 121.16837,85.01718 }</string>
	
								<string>{ 158.62543,100.48108 }</string>
	
								<string>{ 113.60825,35.18900 }</string>
	
								<string>{ 91.95874,57.18213 }</string>

							</array>

							<array>
	
								<string>{ 158.62543,100.48108 }</string>
	
								<string>{ 177.52576,117.31958 }</string>
	
								<string>{ 140.75601,-14.63918 }</string>
	
								<string>{ 122.88660,15.94501 }</string>
	
								<string>{ 113.60825,35.18900 }</string>

							</array>

							<array>
	
								<string>{ 223.91751,-159.31271 }</string>
	
								<string>{ 145.91064,-73.40206 }</string>
	
								<string>{ 148.65979,-46.25430 }</string>

							</array>

							<array>
	
								<string>{ 223.91751,-159.31271 }</string>
	
								<string>{ 134.91409,-96.76976 }</string>
	
								<string>{ 145.91064,-73.40206 }</string>

							</array>

							<array>
	
								<string>{ 223.91751,-159.31271 }</string>
	
								<string>{ 109.48453,-115.67010 }</string>
	
								<string>{ 134.91409,-96.76976 }</string>

							</array>

							<array>
	
								<string>{ 223.91751,-159.31271 }</string>
	
								<string>{ 67.90378,-129.75945 }</string>
	
								<string>{ 109.48453,-115.67010 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-159.65636 }</string>
	
								<string>{ 67.90378,-129.75945 }</string>
	
								<string>{ 223.91751,-159.31271 }</string>

							</array>

							<array>
	
								<string>{ -204.60481,-62.74915 }</string>
	
								<string>{ -240.00000,-159.65636 }</string>
	
								<string>{ -212.50859,-42.13058 }</string>

							</array>

							<array>
	
								<string>{ -187.42268,-81.99313 }</string>
	
								<string>{ -240.00000,-159.65636 }</string>
	
								<string>{ -204.60481,-62.74915 }</string>

							</array>

							<array>
	
								<string>{ -149.96564,-103.29897 }</string>
	
								<string>{ -240.00000,-159.65636 }</string>
	
								<string>{ -187.42268,-81.99313 }</string>

							</array>

							<array>
	
								<string>{ -103.23024,-121.51203 }</string>
	
								<string>{ -240.00000,-159.65636 }</string>
	
								<string>{ -149.96564,-103.29897 }</string>

							</array>

							<array>
	
								<string>{ -15.94502,-132.16495 }</string>
	
								<string>{ -240.00000,-159.65636 }</string>
	
								<string>{ -103.23024,-121.51203 }</string>

							</array>

							<array>
	
								<string>{ 26.32303,-133.53952 }</string>
	
								<string>{ -240.00000,-159.65636 }</string>
	
								<string>{ -15.94502,-132.16495 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

