<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A56</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 22.50000,100.46512 }</string>
	
								<string>{ -22.84885,65.58139 }</string>
	
								<string>{ -28.95349,84.18604 }</string>
	
								<string>{ -28.95349,99.01163 }</string>
	
								<string>{ -24.59303,112.96512 }</string>
	
								<string>{ -7.44186,127.20929 }</string>
	
								<string>{ 15.23256,130.11627 }</string>
	
								<string>{ 29.76743,116.16278 }</string>

							</array>

							<array>
	
								<string>{ 124.53488,150.17441 }</string>
	
								<string>{ 135.87210,123.43024 }</string>
	
								<string>{ 110.29068,128.95349 }</string>
	
								<string>{ 100.98837,134.47675 }</string>
	
								<string>{ 98.66278,147.26743 }</string>

							</array>

							<array>
	
								<string>{ 144.88373,160.05814 }</string>
	
								<string>{ 214.36044,160.05814 }</string>
	
								<string>{ 167.84882,110.34885 }</string>
	
								<string>{ 154.76743,112.67441 }</string>
	
								<string>{ 135.87210,123.43024 }</string>
	
								<string>{ 124.53488,150.17441 }</string>

							</array>

							<array>
	
								<string>{ -49.01163,-3.89536 }</string>
	
								<string>{ -56.86047,-34.41861 }</string>
	
								<string>{ -72.84885,-19.88373 }</string>
	
								<string>{ -73.13954,-10.87210 }</string>

							</array>

							<array>
	
								<string>{ -49.01163,-3.89536 }</string>
	
								<string>{ -32.44186,6.27907 }</string>
	
								<string>{ -46.39536,-48.95349 }</string>
	
								<string>{ -56.86047,-34.41861 }</string>

							</array>

							<array>
	
								<string>{ -4.24419,-18.43024 }</string>
	
								<string>{ 4.47675,5.11627 }</string>
	
								<string>{ 14.94185,-5.34885 }</string>
	
								<string>{ 15.81395,-11.74419 }</string>

							</array>

							<array>
	
								<string>{ -25.17442,-32.67442 }</string>
	
								<string>{ -1.33722,23.72093 }</string>
	
								<string>{ 4.47675,5.11627 }</string>
	
								<string>{ -4.24419,-18.43024 }</string>

							</array>

							<array>
	
								<string>{ -205.40698,29.82558 }</string>
	
								<string>{ -240.00000,42.50000 }</string>
	
								<string>{ -180.52325,41.91859 }</string>
	
								<string>{ -180.98837,34.76744 }</string>

							</array>

							<array>
	
								<string>{ -224.01163,14.12790 }</string>
	
								<string>{ -240.00000,42.50000 }</string>
	
								<string>{ -205.40698,29.82558 }</string>

							</array>

							<array>
	
								<string>{ -231.27907,-6.80232 }</string>
	
								<string>{ -240.00000,42.50000 }</string>
	
								<string>{ -224.01163,14.12790 }</string>

							</array>

							<array>
	
								<string>{ 90.52325,-6.22093 }</string>
	
								<string>{ 137.61627,-1.56976 }</string>
	
								<string>{ 130.93024,-21.04651 }</string>
	
								<string>{ 116.10464,-20.75581 }</string>
	
								<string>{ 91.10464,-12.03488 }</string>

							</array>

							<array>
	
								<string>{ 137.61627,-1.56976 }</string>
	
								<string>{ 159.70929,7.73256 }</string>
	
								<string>{ 149.82556,-41.68605 }</string>
	
								<string>{ 130.93024,-21.04651 }</string>

							</array>

							<array>
	
								<string>{ 185.29068,26.04651 }</string>
	
								<string>{ 154.76743,-80.05814 }</string>
	
								<string>{ 149.82556,-41.68605 }</string>
	
								<string>{ 159.70929,7.73256 }</string>

							</array>

							<array>
	
								<string>{ -25.17442,-32.67442 }</string>
	
								<string>{ -33.60466,-49.53489 }</string>
	
								<string>{ -20.81395,25.46512 }</string>
	
								<string>{ -4.53488,54.24419 }</string>
	
								<string>{ -1.33722,23.72093 }</string>

							</array>

							<array>
	
								<string>{ -32.44186,6.27907 }</string>
	
								<string>{ -20.81395,25.46512 }</string>
	
								<string>{ -40.29070,-83.83721 }</string>
	
								<string>{ -46.39536,-48.95349 }</string>

							</array>

							<array>
	
								<string>{ 214.36044,160.05814 }</string>
	
								<string>{ 189.65115,96.39536 }</string>
	
								<string>{ 167.84882,110.34885 }</string>

							</array>

							<array>
	
								<string>{ 214.36044,160.05814 }</string>
	
								<string>{ 196.33719,73.43022 }</string>
	
								<string>{ 189.65115,96.39536 }</string>

							</array>

							<array>
	
								<string>{ 214.06976,-159.41860 }</string>
	
								<string>{ 196.33719,73.43022 }</string>
	
								<string>{ 214.36044,160.05814 }</string>

							</array>

							<array>
	
								<string>{ -231.27907,-6.80232 }</string>
	
								<string>{ -230.69767,-30.34885 }</string>
	
								<string>{ -239.12791,-159.70930 }</string>
	
								<string>{ -240.00000,42.50000 }</string>

							</array>

							<array>
	
								<string>{ 14.36046,-127.73256 }</string>
	
								<string>{ -74.88373,-144.30233 }</string>
	
								<string>{ -53.08141,-128.31395 }</string>
	
								<string>{ -15.00000,-107.96512 }</string>
	
								<string>{ 2.15115,-118.43023 }</string>

							</array>

							<array>
	
								<string>{ 193.72092,40.29070 }</string>
	
								<string>{ 214.06976,-159.41860 }</string>
	
								<string>{ 150.98837,-96.33721 }</string>
	
								<string>{ 154.76743,-80.05814 }</string>
	
								<string>{ 185.29068,26.04651 }</string>

							</array>

							<array>
	
								<string>{ 12.03488,90.87209 }</string>
	
								<string>{ -22.84885,65.58139 }</string>
	
								<string>{ 22.50000,100.46512 }</string>

							</array>

							<array>
	
								<string>{ 0.98837,72.55814 }</string>
	
								<string>{ -22.84885,65.58139 }</string>
	
								<string>{ 12.03488,90.87209 }</string>

							</array>

							<array>
	
								<string>{ -4.53488,54.24419 }</string>
	
								<string>{ -19.65117,44.94186 }</string>
	
								<string>{ -22.84885,65.58139 }</string>
	
								<string>{ 0.98837,72.55814 }</string>

							</array>

							<array>
	
								<string>{ -4.53488,54.24419 }</string>
	
								<string>{ -20.81395,25.46512 }</string>
	
								<string>{ -19.65117,44.94186 }</string>

							</array>

							<array>
	
								<string>{ -224.88372,-69.01163 }</string>
	
								<string>{ -239.12791,-159.70930 }</string>
	
								<string>{ -230.69767,-30.34885 }</string>

							</array>

							<array>
	
								<string>{ -212.09302,-99.53489 }</string>
	
								<string>{ -239.12791,-159.70930 }</string>
	
								<string>{ -224.88372,-69.01163 }</string>

							</array>

							<array>
	
								<string>{ -190.00000,-128.31395 }</string>
	
								<string>{ -239.12791,-159.70930 }</string>
	
								<string>{ -212.09302,-99.53489 }</string>

							</array>

							<array>
	
								<string>{ -162.09303,-144.88372 }</string>
	
								<string>{ -239.12791,-159.70930 }</string>
	
								<string>{ -190.00000,-128.31395 }</string>

							</array>

							<array>
	
								<string>{ -129.53489,-148.95349 }</string>
	
								<string>{ -239.12791,-159.70930 }</string>
	
								<string>{ -162.09303,-144.88372 }</string>

							</array>

							<array>
	
								<string>{ -129.53489,-148.95349 }</string>
	
								<string>{ -93.19768,-148.66279 }</string>
	
								<string>{ 214.06976,-159.41860 }</string>
	
								<string>{ -239.12791,-159.70930 }</string>

							</array>

							<array>
	
								<string>{ -35.05814,-69.01163 }</string>
	
								<string>{ -40.29070,-83.83721 }</string>
	
								<string>{ -33.60466,-49.53489 }</string>

							</array>

							<array>
	
								<string>{ -28.66280,-90.52325 }</string>
	
								<string>{ -43.48837,-106.51163 }</string>
	
								<string>{ -40.29070,-83.83721 }</string>
	
								<string>{ -35.05814,-69.01163 }</string>

							</array>

							<array>
	
								<string>{ -15.00000,-107.96512 }</string>
	
								<string>{ -53.08141,-128.31395 }</string>
	
								<string>{ -43.48837,-106.51163 }</string>
	
								<string>{ -28.66280,-90.52325 }</string>

							</array>

							<array>
	
								<string>{ 37.03488,-137.61628 }</string>
	
								<string>{ -93.19768,-148.66279 }</string>
	
								<string>{ -74.88373,-144.30233 }</string>
	
								<string>{ 14.36046,-127.73256 }</string>

							</array>

							<array>
	
								<string>{ 75.11627,-137.61628 }</string>
	
								<string>{ 214.06976,-159.41860 }</string>
	
								<string>{ -93.19768,-148.66279 }</string>
	
								<string>{ 37.03488,-137.61628 }</string>

							</array>

							<array>
	
								<string>{ 109.41861,-132.96512 }</string>
	
								<string>{ 214.06976,-159.41860 }</string>
	
								<string>{ 75.11627,-137.61628 }</string>

							</array>

							<array>
	
								<string>{ 139.94186,-118.72093 }</string>
	
								<string>{ 214.06976,-159.41860 }</string>
	
								<string>{ 109.41861,-132.96512 }</string>

							</array>

							<array>
	
								<string>{ 150.98837,-96.33721 }</string>
	
								<string>{ 214.06976,-159.41860 }</string>
	
								<string>{ 139.94186,-118.72093 }</string>

							</array>

							<array>
	
								<string>{ 197.20929,59.18605 }</string>
	
								<string>{ 214.06976,-159.41860 }</string>
	
								<string>{ 193.72092,40.29070 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

