<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D16</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 30.77252,-139.04688 }</string>
	
								<string>{ -13.92020,-144.63347 }</string>
	
								<string>{ -3.30566,-129.82900 }</string>
	
								<string>{ 13.45410,-123.11319 }</string>
	
								<string>{ 32.13293,-123.51851 }</string>

							</array>

							<array>
	
								<string>{ 152.00159,-150.49939 }</string>
	
								<string>{ 77.14124,-149.66140 }</string>
	
								<string>{ 90.77301,-140.40000 }</string>
	
								<string>{ 113.04816,-135.05317 }</string>
	
								<string>{ 136.96362,-130.57531 }</string>
	
								<string>{ 152.00159,-131.52080 }</string>

							</array>

							<array>
	
								<string>{ -23.64401,9.57536 }</string>
	
								<string>{ -11.96490,4.52855 }</string>
	
								<string>{ -24.53473,-11.95190 }</string>
	
								<string>{ -35.29332,-6.28340 }</string>

							</array>

							<array>
	
								<string>{ -11.96490,4.52855 }</string>
	
								<string>{ 12.05746,-3.29268 }</string>
	
								<string>{ -3.86435,-28.99101 }</string>
	
								<string>{ -24.53473,-11.95190 }</string>

							</array>

							<array>
	
								<string>{ 11.49878,-59.15861 }</string>
	
								<string>{ 77.69992,-42.95749 }</string>
	
								<string>{ 45.06061,-93.20361 }</string>
	
								<string>{ 10.93106,-85.46088 }</string>

							</array>

							<array>
	
								<string>{ 36.07980,-5.24799 }</string>
	
								<string>{ 5.63287,-41.56084 }</string>
	
								<string>{ -3.86435,-28.99101 }</string>
	
								<string>{ 12.05746,-3.29268 }</string>

							</array>

							<array>
	
								<string>{ 135.24182,-96.64313 }</string>
	
								<string>{ 118.48203,-89.60553 }</string>
	
								<string>{ 112.89545,-54.96866 }</string>
	
								<string>{ 163.45410,-44.63346 }</string>
	
								<string>{ 156.47086,-97.14743 }</string>

							</array>

							<array>
	
								<string>{ 112.89545,-54.96866 }</string>
	
								<string>{ 102.83957,-37.92955 }</string>
	
								<string>{ 111.21945,22.40564 }</string>
	
								<string>{ 129.09656,38.88609 }</string>
	
								<string>{ 170.71667,-4.68933 }</string>
	
								<string>{ 163.45410,-44.63346 }</string>

							</array>

							<array>
	
								<string>{ 64.57141,-1.89603 }</string>
	
								<string>{ 77.69992,-42.95749 }</string>
	
								<string>{ 11.49878,-59.15861 }</string>
	
								<string>{ 5.63287,-41.56084 }</string>
	
								<string>{ 36.07980,-5.24799 }</string>

							</array>

							<array>
	
								<string>{ 91.66638,8.15984 }</string>
	
								<string>{ 89.99042,-33.73961 }</string>
	
								<string>{ 77.69992,-42.95749 }</string>
	
								<string>{ 64.57141,-1.89603 }</string>

							</array>

							<array>
	
								<string>{ 284.13586,-159.01358 }</string>
	
								<string>{ 200.32562,-38.48821 }</string>
	
								<string>{ 183.84515,9.83582 }</string>
	
								<string>{ 196.13568,87.21011 }</string>
	
								<string>{ 223.23065,86.65146 }</string>
	
								<string>{ 283.56720,74.09608 }</string>

							</array>

							<array>
	
								<string>{ 111.21945,22.40564 }</string>
	
								<string>{ 102.83957,-37.92955 }</string>
	
								<string>{ 89.99042,-33.73961 }</string>
	
								<string>{ 91.66638,8.15984 }</string>

							</array>

							<array>
	
								<string>{ 146.69434,62.07045 }</string>
	
								<string>{ 162.05746,77.71291 }</string>
	
								<string>{ 175.46527,83.85815 }</string>
	
								<string>{ 196.13568,87.21011 }</string>
	
								<string>{ 183.84515,9.83582 }</string>
	
								<string>{ 170.71667,-4.68933 }</string>
	
								<string>{ 129.09656,38.88609 }</string>

							</array>

							<array>
	
								<string>{ 57.04138,-143.22890 }</string>
	
								<string>{ 77.14124,-149.66140 }</string>
	
								<string>{ -31.51797,-150.22006 }</string>
	
								<string>{ -13.92020,-144.63347 }</string>
	
								<string>{ 30.77252,-139.04688 }</string>

							</array>

							<array>
	
								<string>{ -185.66631,-142.67816 }</string>
	
								<string>{ -101.80376,-149.45678 }</string>
	
								<string>{ -283.58226,-161.72863 }</string>
	
								<string>{ -283.22907,-152.87513 }</string>

							</array>

							<array>
	
								<string>{ 284.13586,-159.01358 }</string>
	
								<string>{ 213.45410,-147.70609 }</string>
	
								<string>{ 200.32562,-38.48821 }</string>

							</array>

							<array>
	
								<string>{ 284.13586,-159.01358 }</string>
	
								<string>{ 152.00159,-150.49939 }</string>
	
								<string>{ 213.45410,-147.70609 }</string>

							</array>

							<array>
	
								<string>{ -101.80376,-149.45678 }</string>
	
								<string>{ 284.13586,-159.01358 }</string>
	
								<string>{ -283.58226,-161.72863 }</string>

							</array>

							<array>
	
								<string>{ 284.13586,-159.01358 }</string>
	
								<string>{ -31.51797,-150.22006 }</string>
	
								<string>{ 152.00159,-150.49939 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 56.70435,91.54099 }</string>
	
								<string>{ 79.60938,100.20020 }</string>
	
								<string>{ 109.21832,101.87616 }</string>
	
								<string>{ 62.84961,86.79237 }</string>
	
								<string>{ 50.25336,84.08900 }</string>

							</array>

							<array>
	
								<string>{ 284.33813,110.13391 }</string>
	
								<string>{ 217.31888,123.66388 }</string>
	
								<string>{ 194.41385,141.82031 }</string>
	
								<string>{ 221.22949,144.05493 }</string>
	
								<string>{ 284.26428,145.87186 }</string>

							</array>

							<array>
	
								<string>{ 182.12335,124.78119 }</string>
	
								<string>{ 166.76022,135.95438 }</string>
	
								<string>{ 194.41385,141.82031 }</string>
	
								<string>{ 217.31888,123.66388 }</string>

							</array>

							<array>
	
								<string>{ 149.72110,117.51865 }</string>
	
								<string>{ 113.96692,118.35663 }</string>
	
								<string>{ 134.63730,126.73651 }</string>
	
								<string>{ 166.76022,135.95438 }</string>
	
								<string>{ 182.12335,124.78119 }</string>

							</array>

							<array>
	
								<string>{ 109.21832,101.87616 }</string>
	
								<string>{ 79.60938,100.20020 }</string>
	
								<string>{ 113.96692,118.35663 }</string>
	
								<string>{ 149.72110,117.51865 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -67.29088,4.20900 }</string>
	
								<string>{ -124.44012,11.43286 }</string>
	
								<string>{ -131.07997,20.95377 }</string>
	
								<string>{ -101.70370,31.95599 }</string>
	
								<string>{ -68.70572,31.35237 }</string>
	
								<string>{ -45.22432,21.55739 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 13.52881,82.06892 }</string>
	
								<string>{ -11.80417,85.17746 }</string>
	
								<string>{ -25.68747,89.80522 }</string>
	
								<string>{ -34.15729,96.31439 }</string>
	
								<string>{ 20.93326,98.93008 }</string>
	
								<string>{ 27.23004,93.42696 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

