<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D16</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -43.29921,8.45464 }</string>
	
								<string>{ -31.62010,3.40782 }</string>
	
								<string>{ -44.18994,-13.07262 }</string>
	
								<string>{ -58.08089,-6.37848 }</string>

							</array>

							<array>
	
								<string>{ 11.11732,-140.16760 }</string>
	
								<string>{ -33.57541,-145.75419 }</string>
	
								<string>{ -22.96089,-130.94972 }</string>
	
								<string>{ -6.20111,-123.12849 }</string>
	
								<string>{ 11.39665,-125.17977 }</string>

							</array>

							<array>
	
								<string>{ 132.34637,-151.62011 }</string>
	
								<string>{ 102.45810,-142.12290 }</string>
	
								<string>{ 117.30841,-131.69603 }</string>
	
								<string>{ 132.34637,-131.50838 }</string>

							</array>

							<array>
	
								<string>{ -31.62010,3.40782 }</string>
	
								<string>{ -7.59776,-4.41341 }</string>
	
								<string>{ -23.51955,-30.11172 }</string>
	
								<string>{ -44.18994,-13.07262 }</string>

							</array>

							<array>
	
								<string>{ 16.42459,-6.36871 }</string>
	
								<string>{ -14.02234,-42.68156 }</string>
	
								<string>{ -23.51955,-30.11172 }</string>
	
								<string>{ -7.59776,-4.41341 }</string>

							</array>

							<array>
	
								<string>{ 115.58661,-99.38548 }</string>
	
								<string>{ 98.82681,-90.72626 }</string>
	
								<string>{ 93.24023,-56.08939 }</string>
	
								<string>{ 143.79889,-45.75419 }</string>
	
								<string>{ 136.81564,-98.26815 }</string>

							</array>

							<array>
	
								<string>{ 93.24023,-56.08939 }</string>
	
								<string>{ 83.18436,-39.05028 }</string>
	
								<string>{ 91.56424,21.28493 }</string>
	
								<string>{ 109.44135,37.76537 }</string>
	
								<string>{ 151.06146,-5.81006 }</string>
	
								<string>{ 143.79889,-45.75419 }</string>

							</array>

							<array>
	
								<string>{ -8.15642,-60.27933 }</string>
	
								<string>{ 58.04471,-44.07821 }</string>
	
								<string>{ 22.84918,-97.24252 }</string>
	
								<string>{ 1.34079,-97.15084 }</string>
	
								<string>{ -8.99442,-87.93296 }</string>

							</array>

							<array>
	
								<string>{ 44.91620,-3.01675 }</string>
	
								<string>{ 58.04471,-44.07821 }</string>
	
								<string>{ -8.15642,-60.27933 }</string>
	
								<string>{ -14.02234,-42.68156 }</string>
	
								<string>{ 16.42459,-6.36871 }</string>

							</array>

							<array>
	
								<string>{ 72.01117,7.03911 }</string>
	
								<string>{ 70.33521,-34.86034 }</string>
	
								<string>{ 58.04471,-44.07821 }</string>
	
								<string>{ 44.91620,-3.01675 }</string>

							</array>

							<array>
	
								<string>{ 91.56424,21.28493 }</string>
	
								<string>{ 83.18436,-39.05028 }</string>
	
								<string>{ 70.33521,-34.86034 }</string>
	
								<string>{ 72.01117,7.03911 }</string>

							</array>

							<array>
	
								<string>{ 127.03912,60.94972 }</string>
	
								<string>{ 142.40225,76.59218 }</string>
	
								<string>{ 155.81006,82.73744 }</string>
	
								<string>{ 176.48047,86.08939 }</string>
	
								<string>{ 203.57544,85.53073 }</string>
	
								<string>{ 164.18994,8.71509 }</string>
	
								<string>{ 151.06146,-5.81006 }</string>
	
								<string>{ 109.44135,37.76537 }</string>

							</array>

							<array>
	
								<string>{ 240.44693,78.82683 }</string>
	
								<string>{ 240.50281,-159.94413 }</string>
	
								<string>{ 180.67041,-39.60893 }</string>
	
								<string>{ 164.18994,8.71509 }</string>
	
								<string>{ 203.57544,85.53073 }</string>

							</array>

							<array>
	
								<string>{ -198.93855,-143.79888 }</string>
	
								<string>{ -51.17319,-151.34078 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -240.55866,-151.56425 }</string>

							</array>

							<array>
	
								<string>{ 132.34637,-151.62011 }</string>
	
								<string>{ 57.48605,-150.78212 }</string>
	
								<string>{ 75.08380,-144.63687 }</string>
	
								<string>{ 102.45810,-142.12290 }</string>

							</array>

							<array>
	
								<string>{ 36.53632,-144.91620 }</string>
	
								<string>{ 57.48605,-150.78212 }</string>
	
								<string>{ -51.17319,-151.34078 }</string>
	
								<string>{ -33.57541,-145.75419 }</string>
	
								<string>{ 11.11732,-140.16760 }</string>

							</array>

							<array>
	
								<string>{ 240.50281,-159.94413 }</string>
	
								<string>{ 193.79889,-148.82682 }</string>
	
								<string>{ 180.67041,-39.60893 }</string>

							</array>

							<array>
	
								<string>{ 240.50281,-159.94413 }</string>
	
								<string>{ 132.34637,-151.62011 }</string>
	
								<string>{ 193.79889,-148.82682 }</string>

							</array>

							<array>
	
								<string>{ -51.17319,-151.34078 }</string>
	
								<string>{ 132.34637,-151.62011 }</string>
	
								<string>{ 240.50281,-159.94413 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 239.88828,111.78772 }</string>
	
								<string>{ 197.15085,122.96091 }</string>
	
								<string>{ 174.24582,141.11734 }</string>
	
								<string>{ 240.72626,145.58661 }</string>

							</array>

							<array>
	
								<string>{ 36.53632,90.83800 }</string>
	
								<string>{ 59.44135,99.49722 }</string>
	
								<string>{ 89.05029,101.17319 }</string>
	
								<string>{ 42.68158,86.08939 }</string>
	
								<string>{ 30.08533,83.38602 }</string>

							</array>

							<array>
	
								<string>{ 161.95532,124.07822 }</string>
	
								<string>{ 146.59219,135.25140 }</string>
	
								<string>{ 174.24582,141.11734 }</string>
	
								<string>{ 197.15085,122.96091 }</string>

							</array>

							<array>
	
								<string>{ 129.55307,116.81564 }</string>
	
								<string>{ 93.79889,117.65363 }</string>
	
								<string>{ 114.46927,126.03354 }</string>
	
								<string>{ 146.59219,135.25140 }</string>
	
								<string>{ 161.95532,124.07822 }</string>

							</array>

							<array>
	
								<string>{ 89.05029,101.17319 }</string>
	
								<string>{ 59.44135,99.49722 }</string>
	
								<string>{ 93.79889,117.65363 }</string>
	
								<string>{ 129.55307,116.81564 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -83.05835,2.27747 }</string>
	
								<string>{ -145.63380,10.82495 }</string>
	
								<string>{ -152.27364,20.34587 }</string>
	
								<string>{ -122.89738,31.34810 }</string>
	
								<string>{ -89.89938,30.74448 }</string>
	
								<string>{ -65.39235,20.94949 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -4.60663,81.15706 }</string>
	
								<string>{ -29.93964,84.26561 }</string>
	
								<string>{ -43.82292,88.89337 }</string>
	
								<string>{ -52.29276,95.40254 }</string>
	
								<string>{ 2.79779,98.01822 }</string>
	
								<string>{ 9.09457,92.51511 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

