<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D22</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -46.79401,53.96649 }</string>
	
								<string>{ 17.73114,27.98883 }</string>
	
								<string>{ 10.18924,11.78772 }</string>
	
								<string>{ -31.15155,6.75978 }</string>
	
								<string>{ -45.39735,21.56425 }</string>
	
								<string>{ -56.01189,38.88269 }</string>

							</array>

							<array>
	
								<string>{ 285.63562,-160.82127 }</string>
	
								<string>{ 205.16132,30.50279 }</string>
	
								<string>{ 284.47131,14.20381 }</string>

							</array>

							<array>
	
								<string>{ -16.06775,-2.17877 }</string>
	
								<string>{ -31.15155,6.75978 }</string>
	
								<string>{ 10.18924,11.78772 }</string>
	
								<string>{ -1.26328,-0.50279 }</string>

							</array>

							<array>
	
								<string>{ -46.79401,53.96649 }</string>
	
								<string>{ -40.27657,62.00439 }</string>
	
								<string>{ -17.57062,69.53065 }</string>
	
								<string>{ 26.94901,41.67598 }</string>
	
								<string>{ 17.73114,27.98883 }</string>

							</array>

							<array>
	
								<string>{ 127.78702,70.72626 }</string>
	
								<string>{ 89.79819,90.55867 }</string>
	
								<string>{ 99.01605,93.07263 }</string>

							</array>

							<array>
	
								<string>{ -17.57062,69.53065 }</string>
	
								<string>{ 42.03281,51.45251 }</string>
	
								<string>{ 26.94901,41.67598 }</string>

							</array>

							<array>
	
								<string>{ -79.75490,-115.30726 }</string>
	
								<string>{ -58.52585,-99.94413 }</string>
	
								<string>{ -35.34149,-91.28491 }</string>
	
								<string>{ -9.08450,-85.13966 }</string>
	
								<string>{ 21.36243,-85.97765 }</string>
	
								<string>{ 60.46857,-90.44692 }</string>
	
								<string>{ -97.35266,-150.50279 }</string>
	
								<string>{ -90.36943,-129.55307 }</string>

							</array>

							<array>
	
								<string>{ 285.63562,-160.82127 }</string>
	
								<string>{ 170.52444,45.58659 }</string>
	
								<string>{ 205.16132,30.50279 }</string>

							</array>

							<array>
	
								<string>{ 127.78702,70.72626 }</string>
	
								<string>{ 80.58029,89.44135 }</string>
	
								<string>{ 89.79819,90.55867 }</string>

							</array>

							<array>
	
								<string>{ 51.53003,91.67598 }</string>
	
								<string>{ 59.90991,90.00000 }</string>
	
								<string>{ 11.58588,75.19554 }</string>
	
								<string>{ 18.84845,82.17877 }</string>
	
								<string>{ 26.26581,87.12859 }</string>
	
								<string>{ 43.47589,92.09355 }</string>

							</array>

							<array>
	
								<string>{ -17.57062,69.53065 }</string>
	
								<string>{ -2.10126,69.60895 }</string>
	
								<string>{ 64.65851,53.12849 }</string>
	
								<string>{ 42.03281,51.45251 }</string>

							</array>

							<array>
	
								<string>{ 100.13336,-96.03352 }</string>
	
								<string>{ -97.35266,-150.50279 }</string>
	
								<string>{ 60.46857,-90.44692 }</string>

							</array>

							<array>
	
								<string>{ 285.63562,-160.82127 }</string>
	
								<string>{ 212.70322,-66.14525 }</string>
	
								<string>{ 197.06076,-43.51955 }</string>
	
								<string>{ 127.78702,70.72626 }</string>
	
								<string>{ 170.52444,45.58659 }</string>

							</array>

							<array>
	
								<string>{ -97.35266,-150.50279 }</string>
	
								<string>{ -284.31847,-160.63694 }</string>
	
								<string>{ -284.00000,-153.39145 }</string>
	
								<string>{ -194.00071,-144.35754 }</string>

							</array>

							<array>
	
								<string>{ 139.79819,-101.62011 }</string>
	
								<string>{ -97.35266,-150.50279 }</string>
	
								<string>{ 100.13336,-96.03352 }</string>

							</array>

							<array>
	
								<string>{ 71.36243,89.44135 }</string>
	
								<string>{ 127.78702,70.72626 }</string>
	
								<string>{ 93.70880,43.63129 }</string>
	
								<string>{ 64.65851,53.12849 }</string>
	
								<string>{ 11.58588,75.19554 }</string>
	
								<string>{ 59.90991,90.00000 }</string>

							</array>

							<array>
	
								<string>{ 127.78702,70.72626 }</string>
	
								<string>{ 71.36243,89.44135 }</string>
	
								<string>{ 80.58029,89.44135 }</string>

							</array>

							<array>
	
								<string>{ 3.76465,71.00558 }</string>
	
								<string>{ 64.65851,53.12849 }</string>
	
								<string>{ -2.10126,69.60895 }</string>

							</array>

							<array>
	
								<string>{ 11.58588,75.19554 }</string>
	
								<string>{ 64.65851,53.12849 }</string>
	
								<string>{ 3.76465,71.00558 }</string>

							</array>

							<array>
	
								<string>{ 127.78702,70.72626 }</string>
	
								<string>{ 127.50766,21.56425 }</string>
	
								<string>{ 93.70880,43.63129 }</string>

							</array>

							<array>
	
								<string>{ 127.78702,70.72626 }</string>
	
								<string>{ 153.48532,0.89386 }</string>
	
								<string>{ 127.50766,21.56425 }</string>

							</array>

							<array>
	
								<string>{ 127.78702,70.72626 }</string>
	
								<string>{ 173.87640,-17.82123 }</string>
	
								<string>{ 153.48532,0.89386 }</string>

							</array>

							<array>
	
								<string>{ 127.78702,70.72626 }</string>
	
								<string>{ 197.06076,-43.51955 }</string>
	
								<string>{ 173.87640,-17.82123 }</string>

							</array>

							<array>
	
								<string>{ 164.37918,-104.41341 }</string>
	
								<string>{ 285.63562,-160.82127 }</string>
	
								<string>{ -97.35266,-150.50279 }</string>
	
								<string>{ 139.79819,-101.62011 }</string>

							</array>

							<array>
	
								<string>{ -97.35266,-150.50279 }</string>
	
								<string>{ 285.63562,-160.82127 }</string>
	
								<string>{ -284.31847,-160.63694 }</string>

							</array>

							<array>
	
								<string>{ 187.28421,-106.64804 }</string>
	
								<string>{ 285.63562,-160.82127 }</string>
	
								<string>{ 164.37918,-104.41341 }</string>

							</array>

							<array>
	
								<string>{ 200.97137,-104.41341 }</string>
	
								<string>{ 285.63562,-160.82127 }</string>
	
								<string>{ 187.28421,-106.64804 }</string>

							</array>

							<array>
	
								<string>{ 210.46857,-98.82681 }</string>
	
								<string>{ 285.63562,-160.82127 }</string>
	
								<string>{ 200.97137,-104.41341 }</string>

							</array>

							<array>
	
								<string>{ 214.93784,-91.56425 }</string>
	
								<string>{ 285.63562,-160.82127 }</string>
	
								<string>{ 210.46857,-98.82681 }</string>

							</array>

							<array>
	
								<string>{ 217.17249,-83.74301 }</string>
	
								<string>{ 285.63562,-160.82127 }</string>
	
								<string>{ 214.93784,-91.56425 }</string>

							</array>

							<array>
	
								<string>{ 216.61383,-75.08379 }</string>
	
								<string>{ 285.63562,-160.82127 }</string>
	
								<string>{ 217.17249,-83.74301 }</string>

							</array>

							<array>
	
								<string>{ 212.70322,-66.14525 }</string>
	
								<string>{ 285.63562,-160.82127 }</string>
	
								<string>{ 216.61383,-75.08379 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -71.03981,160.12845 }</string>
	
								<string>{ -87.29680,132.13965 }</string>
	
								<string>{ -97.63199,125.43573 }</string>
	
								<string>{ -111.03981,160.12845 }</string>

							</array>

							<array>
	
								<string>{ 66.52097,115.58179 }</string>
	
								<string>{ 56.27863,116.21783 }</string>
	
								<string>{ 46.50208,118.73181 }</string>
	
								<string>{ 74.99371,160.07260 }</string>
	
								<string>{ 87.28421,117.83191 }</string>

							</array>

							<array>
	
								<string>{ -86.17947,96.38544 }</string>
	
								<string>{ -64.67110,77.67036 }</string>
	
								<string>{ -73.88898,69.84914 }</string>

							</array>

							<array>
	
								<string>{ -86.17947,96.38544 }</string>
	
								<string>{ -82.82753,103.08936 }</string>
	
								<string>{ -78.35825,107.83795 }</string>
	
								<string>{ -68.58171,112.30722 }</string>
	
								<string>{ -59.36383,112.58655 }</string>
	
								<string>{ -50.14597,111.74857 }</string>
	
								<string>{ -56.84987,83.81561 }</string>
	
								<string>{ -64.67110,77.67036 }</string>

							</array>

							<array>
	
								<string>{ -18.58173,118.45248 }</string>
	
								<string>{ -56.84987,83.81561 }</string>
	
								<string>{ -31.43088,115.10052 }</string>
	
								<string>{ -25.28561,118.45248 }</string>

							</array>

							<array>
	
								<string>{ -40.36943,111.18991 }</string>
	
								<string>{ -56.84987,83.81561 }</string>
	
								<string>{ -50.14597,111.74857 }</string>

							</array>

							<array>
	
								<string>{ -56.84987,137.16757 }</string>
	
								<string>{ -71.03981,160.12845 }</string>
	
								<string>{ -24.16830,143.87149 }</string>
	
								<string>{ -28.35825,141.63684 }</string>
	
								<string>{ -42.21799,136.60892 }</string>

							</array>

							<array>
	
								<string>{ 37.56354,119.84912 }</string>
	
								<string>{ 74.99371,160.07260 }</string>
	
								<string>{ 46.50208,118.73181 }</string>

							</array>

							<array>
	
								<string>{ -31.43088,115.10052 }</string>
	
								<string>{ -56.84987,83.81561 }</string>
	
								<string>{ -40.36943,111.18991 }</string>

							</array>

							<array>
	
								<string>{ -71.03981,160.12845 }</string>
	
								<string>{ -78.35825,135.77094 }</string>
	
								<string>{ -87.29680,132.13965 }</string>

							</array>

							<array>
	
								<string>{ -71.03981,160.12845 }</string>
	
								<string>{ -68.30238,137.16757 }</string>
	
								<string>{ -78.35825,135.77094 }</string>

							</array>

							<array>
	
								<string>{ -71.03981,160.12845 }</string>
	
								<string>{ -56.84987,137.16757 }</string>
	
								<string>{ -68.30238,137.16757 }</string>

							</array>

							<array>
	
								<string>{ -12.49838,95.76488 }</string>
	
								<string>{ -31.71021,94.43013 }</string>
	
								<string>{ 14.65851,111.18991 }</string>
	
								<string>{ 8.51324,105.04468 }</string>
	
								<string>{ 2.67828,100.79282 }</string>

							</array>

							<array>
	
								<string>{ 30.58029,119.29047 }</string>
	
								<string>{ 74.99371,160.07260 }</string>
	
								<string>{ 37.56354,119.84912 }</string>

							</array>

							<array>
	
								<string>{ 74.99371,160.07260 }</string>
	
								<string>{ -17.46439,144.43015 }</string>
	
								<string>{ -24.16830,143.87149 }</string>
	
								<string>{ -71.03981,160.12845 }</string>

							</array>

							<array>
	
								<string>{ -11.03983,120.12845 }</string>
	
								<string>{ -56.84987,83.81561 }</string>
	
								<string>{ -18.58173,118.45248 }</string>

							</array>

							<array>
	
								<string>{ 22.47974,116.77652 }</string>
	
								<string>{ 74.99371,160.07260 }</string>
	
								<string>{ 30.58029,119.29047 }</string>

							</array>

							<array>
	
								<string>{ -31.71021,94.43013 }</string>
	
								<string>{ -42.60406,91.91617 }</string>
	
								<string>{ 74.99371,160.07260 }</string>
	
								<string>{ 22.47974,116.77652 }</string>
	
								<string>{ 14.65851,111.18991 }</string>

							</array>

							<array>
	
								<string>{ -51.54260,88.00555 }</string>
	
								<string>{ -11.03983,120.12845 }</string>
	
								<string>{ 74.99371,160.07260 }</string>
	
								<string>{ -42.60406,91.91617 }</string>

							</array>

							<array>
	
								<string>{ 74.99371,160.07260 }</string>
	
								<string>{ -12.71579,144.15082 }</string>
	
								<string>{ -17.46439,144.43015 }</string>

							</array>

							<array>
	
								<string>{ 74.99371,160.07260 }</string>
	
								<string>{ -3.49792,132.97763 }</string>
	
								<string>{ -12.71579,144.15082 }</string>

							</array>

							<array>
	
								<string>{ 74.99371,160.07260 }</string>
	
								<string>{ -11.03983,120.12845 }</string>
	
								<string>{ -3.49792,132.97763 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -186.18482,62.34637 }</string>
	
								<string>{ -196.79935,72.40224 }</string>
	
								<string>{ -199.59264,83.85475 }</string>
	
								<string>{ -167.41387,64.91620 }</string>

							</array>

							<array>
	
								<string>{ -284.27933,97.74899 }</string>
	
								<string>{ -218.86639,90.27933 }</string>
	
								<string>{ -199.59264,83.85475 }</string>
	
								<string>{ -226.40828,77.98883 }</string>
	
								<string>{ -283.00544,73.60318 }</string>

							</array>

							<array>
	
								<string>{ -226.40828,77.98883 }</string>
	
								<string>{ -199.59264,83.85475 }</string>
	
								<string>{ -196.79935,72.40224 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -237.14557,-16.21214 }</string>
	
								<string>{ -200.55339,-26.04454 }</string>
	
								<string>{ -167.87183,-42.52499 }</string>
	
								<string>{ -193.29082,-59.28477 }</string>
	
								<string>{ -237.14557,-56.21214 }</string>
	
								<string>{ -283.68153,-47.89809 }</string>
	
								<string>{ -283.68153,-8.08917 }</string>

							</array>

							<array>
	
								<string>{ -167.87183,-42.52499 }</string>
	
								<string>{ -141.89418,-61.51941 }</string>
	
								<string>{ -125.69305,-79.39651 }</string>
	
								<string>{ -193.29082,-59.28477 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

