<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D47</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 3.04846,44.50705 }</string>
	
								<string>{ 76.28790,49.57747 }</string>
	
								<string>{ 75.44284,10.14085 }</string>
	
								<string>{ 22.76678,28.45071 }</string>
	
								<string>{ 3.33017,36.61972 }</string>
	
								<string>{ -4.27548,43.38028 }</string>

							</array>

							<array>
	
								<string>{ 31.49918,-145.63380 }</string>
	
								<string>{ 8.40057,-98.30986 }</string>
	
								<string>{ 32.06256,-86.19718 }</string>
	
								<string>{ 57.41467,-118.59155 }</string>

							</array>

							<array>
	
								<string>{ 79.94989,-53.23943 }</string>
	
								<string>{ 107.27383,-83.94366 }</string>
	
								<string>{ 81.07666,-98.30986 }</string>
	
								<string>{ 57.69635,-69.29578 }</string>

							</array>

							<array>
	
								<string>{ -95.54308,-105.63380 }</string>
	
								<string>{ -155.82477,-136.05634 }</string>
	
								<string>{ -141.17688,-103.09859 }</string>
	
								<string>{ -118.35997,-89.85915 }</string>

							</array>

							<array>
	
								<string>{ 285.55615,-160.63092 }</string>
	
								<string>{ 240.79498,-53.80282 }</string>
	
								<string>{ 283.82330,-23.09149 }</string>

							</array>

							<array>
	
								<string>{ 90.65411,-40.84507 }</string>
	
								<string>{ 134.87946,-89.85915 }</string>
	
								<string>{ 107.27383,-83.94366 }</string>
	
								<string>{ 79.94989,-53.23943 }</string>

							</array>

							<array>
	
								<string>{ 88.96396,48.45071 }</string>
	
								<string>{ 102.76678,46.47888 }</string>
	
								<string>{ 114.31607,41.97183 }</string>
	
								<string>{ 126.99213,35.49297 }</string>
	
								<string>{ 141.07666,25.07042 }</string>
	
								<string>{ 90.93579,0.84508 }</string>
	
								<string>{ 75.44284,10.14085 }</string>
	
								<string>{ 76.28790,49.57747 }</string>

							</array>

							<array>
	
								<string>{ 31.49918,-145.63380 }</string>
	
								<string>{ -20.89517,-108.45070 }</string>
	
								<string>{ 8.40057,-98.30986 }</string>

							</array>

							<array>
	
								<string>{ 151.78088,12.39436 }</string>
	
								<string>{ 156.56961,-1.12675 }</string>
	
								<string>{ 156.28790,-24.22536 }</string>
	
								<string>{ 90.93579,0.84508 }</string>
	
								<string>{ 141.07666,25.07042 }</string>

							</array>

							<array>
	
								<string>{ 285.55615,-160.63092 }</string>
	
								<string>{ 216.85129,-65.07042 }</string>
	
								<string>{ 240.79498,-53.80282 }</string>

							</array>

							<array>
	
								<string>{ 160.23157,-43.66197 }</string>
	
								<string>{ 90.93579,0.84508 }</string>
	
								<string>{ 156.28790,-24.22536 }</string>

							</array>

							<array>
	
								<string>{ 96.85129,-28.73239 }</string>
	
								<string>{ 134.87946,-89.85915 }</string>
	
								<string>{ 90.65411,-40.84507 }</string>

							</array>

							<array>
	
								<string>{ 285.55615,-160.63092 }</string>
	
								<string>{ 193.75272,-67.60563 }</string>
	
								<string>{ 216.85129,-65.07042 }</string>

							</array>

							<array>
	
								<string>{ 31.49918,-145.63380 }</string>
	
								<string>{ -35.26138,-111.54929 }</string>
	
								<string>{ -20.89517,-108.45070 }</string>

							</array>

							<array>
	
								<string>{ -83.14871,-110.42253 }</string>
	
								<string>{ -170.75434,-149.29577 }</string>
	
								<string>{ -155.82477,-136.05634 }</string>
	
								<string>{ -95.54308,-105.63380 }</string>

							</array>

							<array>
	
								<string>{ -206.24730,-143.94366 }</string>
	
								<string>{ -170.75434,-149.29577 }</string>
	
								<string>{ -284.59715,-160.66468 }</string>
	
								<string>{ -285.54352,-152.34905 }</string>

							</array>

							<array>
	
								<string>{ 99.38651,-19.15492 }</string>
	
								<string>{ 134.87946,-89.85915 }</string>
	
								<string>{ 96.85129,-28.73239 }</string>

							</array>

							<array>
	
								<string>{ 31.49918,-145.63380 }</string>
	
								<string>{ -47.09238,-112.95774 }</string>
	
								<string>{ -35.26138,-111.54929 }</string>

							</array>

							<array>
	
								<string>{ 174.87946,-61.40845 }</string>
	
								<string>{ 90.93579,0.84508 }</string>
	
								<string>{ 160.23157,-43.66197 }</string>

							</array>

							<array>
	
								<string>{ 285.55615,-160.63092 }</string>
	
								<string>{ 174.87946,-61.40845 }</string>
	
								<string>{ 193.75272,-67.60563 }</string>

							</array>

							<array>
	
								<string>{ -72.44449,-112.39437 }</string>
	
								<string>{ -170.75434,-149.29577 }</string>
	
								<string>{ -83.14871,-110.42253 }</string>

							</array>

							<array>
	
								<string>{ 31.49918,-145.63380 }</string>
	
								<string>{ -170.75434,-149.29577 }</string>
	
								<string>{ -59.76843,-113.23944 }</string>
	
								<string>{ -47.09238,-112.95774 }</string>

							</array>

							<array>
	
								<string>{ -59.76843,-113.23944 }</string>
	
								<string>{ -170.75434,-149.29577 }</string>
	
								<string>{ -72.44449,-112.39437 }</string>

							</array>

							<array>
	
								<string>{ 99.66818,-12.11267 }</string>
	
								<string>{ 285.55615,-160.63092 }</string>
	
								<string>{ 145.02029,-105.07042 }</string>
	
								<string>{ 134.87946,-89.85915 }</string>
	
								<string>{ 99.38651,-19.15492 }</string>

							</array>

							<array>
	
								<string>{ 285.55615,-160.63092 }</string>
	
								<string>{ 96.56961,-5.63380 }</string>
	
								<string>{ 90.93579,0.84508 }</string>
	
								<string>{ 174.87946,-61.40845 }</string>

							</array>

							<array>
	
								<string>{ 31.49918,-145.63380 }</string>
	
								<string>{ 138.25974,-147.88732 }</string>
	
								<string>{ 285.55615,-160.63092 }</string>
	
								<string>{ -284.59715,-160.66468 }</string>
	
								<string>{ -170.75434,-149.29577 }</string>

							</array>

							<array>
	
								<string>{ 145.02029,-105.07042 }</string>
	
								<string>{ 285.55615,-160.63092 }</string>
	
								<string>{ 138.25974,-147.88732 }</string>

							</array>

							<array>
	
								<string>{ 96.56961,-5.63380 }</string>
	
								<string>{ 285.55615,-160.63092 }</string>
	
								<string>{ 99.66818,-12.11267 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 153.22308,48.66486 }</string>
	
								<string>{ 152.09634,76.83388 }</string>
	
								<string>{ 165.33575,63.31274 }</string>
	
								<string>{ 170.12451,48.10149 }</string>
	
								<string>{ 169.84280,32.32683 }</string>

							</array>

							<array>
	
								<string>{ 139.13858,58.24232 }</string>
	
								<string>{ 132.09634,84.43951 }</string>
	
								<string>{ 152.09634,76.83388 }</string>
	
								<string>{ 153.22308,48.66486 }</string>

							</array>

							<array>
	
								<string>{ 123.92731,65.00288 }</string>
	
								<string>{ 132.09634,84.43951 }</string>
	
								<string>{ 139.13858,58.24232 }</string>

							</array>

							<array>
	
								<string>{ 103.08224,70.63669 }</string>
	
								<string>{ 98.29352,92.32683 }</string>
	
								<string>{ 132.09634,84.43951 }</string>
	
								<string>{ 123.92731,65.00288 }</string>

							</array>

							<array>
	
								<string>{ 74.06815,74.01698 }</string>
	
								<string>{ 59.98364,90.63669 }</string>
	
								<string>{ 76.03998,94.29866 }</string>
	
								<string>{ 98.29352,92.32683 }</string>
	
								<string>{ 103.08224,70.63669 }</string>

							</array>

							<array>
	
								<string>{ 48.99774,74.58035 }</string>
	
								<string>{ -19.45297,78.80571 }</string>
	
								<string>{ -19.45297,86.97472 }</string>
	
								<string>{ 59.98364,90.63669 }</string>
	
								<string>{ 74.06815,74.01698 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -283.96623,56.22429 }</string>
	
								<string>{ -169.59382,26.72679 }</string>
	
								<string>{ -239.52050,-2.27130 }</string>
	
								<string>{ -283.96623,-3.13235 }</string>

							</array>

							<array>
	
								<string>{ -169.59382,26.72679 }</string>
	
								<string>{ -201.70649,-8.76616 }</string>
	
								<string>{ -239.52050,-2.27130 }</string>

							</array>

							<array>
	
								<string>{ -169.59382,26.72679 }</string>
	
								<string>{ -127.62198,10.95215 }</string>
	
								<string>{ -164.80508,-25.38588 }</string>
	
								<string>{ -201.70649,-8.76616 }</string>

							</array>

							<array>
	
								<string>{ -127.62198,10.95215 }</string>
	
								<string>{ -92.12903,-7.07602 }</string>
	
								<string>{ -71.84734,-22.00560 }</string>
	
								<string>{ -59.73466,-36.93517 }</string>
	
								<string>{ -68.74875,-71.01968 }</string>
	
								<string>{ -82.83325,-82.85067 }</string>
	
								<string>{ -164.80508,-25.38588 }</string>

							</array>

							<array>
	
								<string>{ -59.73466,-36.93517 }</string>
	
								<string>{ -58.60789,-47.35771 }</string>
	
								<string>{ -61.14311,-58.62531 }</string>
	
								<string>{ -68.74875,-71.01968 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

