<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D11</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 46.99942,103.48007 }</string>
	
								<string>{ 79.40167,62.41862 }</string>
	
								<string>{ 17.66980,70.79852 }</string>

							</array>

							<array>
	
								<string>{ 145.60278,11.85997 }</string>
	
								<string>{ 153.14468,5.15605 }</string>
	
								<string>{ 159.84860,-1.82718 }</string>
	
								<string>{ 158.44226,-32.57282 }</string>
	
								<string>{ 107.05530,-52.66517 }</string>
	
								<string>{ 126.88770,10.46332 }</string>
	
								<string>{ 135.54691,15.77058 }</string>

							</array>

							<array>
	
								<string>{ 184.15027,-37.58138 }</string>
	
								<string>{ 203.42401,-68.86629 }</string>
	
								<string>{ 187.81769,-63.72997 }</string>
	
								<string>{ 179.88806,-54.44248 }</string>

							</array>

							<array>
	
								<string>{ 46.99942,103.48007 }</string>
	
								<string>{ 56.77597,100.40747 }</string>
	
								<string>{ 134.18640,48.23538 }</string>
	
								<string>{ 79.40167,62.41862 }</string>

							</array>

							<array>
	
								<string>{ 158.44226,-32.57282 }</string>
	
								<string>{ 159.84860,-1.82718 }</string>
	
								<string>{ 163.47986,-17.19031 }</string>

							</array>

							<array>
	
								<string>{ -9.98383,-75.29087 }</string>
	
								<string>{ -1.60394,-89.81601 }</string>
	
								<string>{ 6.21729,-111.60372 }</string>
	
								<string>{ -104.95589,-101.54786 }</string>
	
								<string>{ -77.02292,-80.03947 }</string>
	
								<string>{ -50.76595,-63.00037 }</string>
	
								<string>{ -37.63745,-59.64841 }</string>
	
								<string>{ -21.71567,-63.55903 }</string>

							</array>

							<array>
	
								<string>{ 283.88452,-159.94413 }</string>
	
								<string>{ 183.87094,4.87672 }</string>
	
								<string>{ 178.84299,14.37393 }</string>
	
								<string>{ 217.94916,78.61975 }</string>
	
								<string>{ 239.73688,64.09460 }</string>
	
								<string>{ 285.08514,17.91798 }</string>

							</array>

							<array>
	
								<string>{ 14.03854,-146.79925 }</string>
	
								<string>{ -156.91119,-137.58138 }</string>
	
								<string>{ -116.96706,-106.01713 }</string>
	
								<string>{ -104.95589,-101.54786 }</string>
	
								<string>{ 6.21729,-111.60372 }</string>

							</array>

							<array>
	
								<string>{ 187.07837,-25.11992 }</string>
	
								<string>{ 203.42401,-68.86629 }</string>
	
								<string>{ 184.15027,-37.58138 }</string>

							</array>

							<array>
	
								<string>{ -116.96706,-106.01713 }</string>
	
								<string>{ -156.91119,-137.58138 }</string>
	
								<string>{ -137.91678,-110.20707 }</string>
	
								<string>{ -125.06761,-104.89981 }</string>

							</array>

							<array>
	
								<string>{ 158.44226,-32.57282 }</string>
	
								<string>{ 155.37930,-49.31322 }</string>
	
								<string>{ 86.94357,-99.31322 }</string>
	
								<string>{ 107.05530,-52.66517 }</string>

							</array>

							<array>
	
								<string>{ 156.21732,-66.63165 }</string>
	
								<string>{ 57.61395,-145.68193 }</string>
	
								<string>{ 86.94357,-99.31322 }</string>
	
								<string>{ 155.37930,-49.31322 }</string>

							</array>

							<array>
	
								<string>{ 162.83926,-79.85883 }</string>
	
								<string>{ 57.61395,-145.68193 }</string>
	
								<string>{ 156.21732,-66.63165 }</string>

							</array>

							<array>
	
								<string>{ 173.25641,-86.74339 }</string>
	
								<string>{ 57.61395,-145.68193 }</string>
	
								<string>{ 162.83926,-79.85883 }</string>

							</array>

							<array>
	
								<string>{ 188.34021,-14.39702 }</string>
	
								<string>{ 203.42401,-68.86629 }</string>
	
								<string>{ 187.07837,-25.11992 }</string>

							</array>

							<array>
	
								<string>{ 171.30112,100.68680 }</string>
	
								<string>{ 196.99942,90.63092 }</string>
	
								<string>{ 217.94916,78.61975 }</string>
	
								<string>{ 134.18640,48.23538 }</string>
	
								<string>{ 56.77597,100.40747 }</string>
	
								<string>{ 85.54691,106.55270 }</string>
	
								<string>{ 111.52457,108.50803 }</string>
	
								<string>{ 140.85419,107.39069 }</string>

							</array>

							<array>
	
								<string>{ 190.21356,-91.07784 }</string>
	
								<string>{ 283.88452,-159.94413 }</string>
	
								<string>{ 57.61395,-145.68193 }</string>
	
								<string>{ 173.25641,-86.74339 }</string>

							</array>

							<array>
	
								<string>{ -167.52572,-144.84395 }</string>
	
								<string>{ 14.03854,-146.79925 }</string>
	
								<string>{ 46.44077,-150.15121 }</string>
	
								<string>{ -284.31546,-160.94637 }</string>
	
								<string>{ -284.55866,-152.06034 }</string>

							</array>

							<array>
	
								<string>{ 14.03854,-146.79925 }</string>
	
								<string>{ -167.52572,-144.84395 }</string>
	
								<string>{ -156.91119,-137.58138 }</string>

							</array>

							<array>
	
								<string>{ 217.94916,78.61975 }</string>
	
								<string>{ 152.02734,38.67561 }</string>
	
								<string>{ 134.18640,48.23538 }</string>

							</array>

							<array>
	
								<string>{ 217.94916,78.61975 }</string>
	
								<string>{ 163.47986,30.29573 }</string>
	
								<string>{ 152.02734,38.67561 }</string>

							</array>

							<array>
	
								<string>{ 217.94916,78.61975 }</string>
	
								<string>{ 172.13910,23.31248 }</string>
	
								<string>{ 163.47986,30.29573 }</string>

							</array>

							<array>
	
								<string>{ 217.94916,78.61975 }</string>
	
								<string>{ 178.84299,14.37393 }</string>
	
								<string>{ 172.13910,23.31248 }</string>

							</array>

							<array>
	
								<string>{ 186.66425,-4.34116 }</string>
	
								<string>{ 283.88452,-159.94413 }</string>
	
								<string>{ 203.42401,-68.86629 }</string>
	
								<string>{ 188.34021,-14.39702 }</string>

							</array>

							<array>
	
								<string>{ 46.44077,-150.15121 }</string>
	
								<string>{ 283.88452,-159.94413 }</string>
	
								<string>{ -284.31546,-160.94637 }</string>

							</array>

							<array>
	
								<string>{ 57.61395,-145.68193 }</string>
	
								<string>{ 283.88452,-159.94413 }</string>
	
								<string>{ 46.44077,-150.15121 }</string>

							</array>

							<array>
	
								<string>{ 204.26199,-87.02271 }</string>
	
								<string>{ 283.88452,-159.94413 }</string>
	
								<string>{ 190.21356,-91.07784 }</string>

							</array>

							<array>
	
								<string>{ 203.42401,-68.86629 }</string>
	
								<string>{ 283.88452,-159.94413 }</string>
	
								<string>{ 204.26199,-87.02271 }</string>

							</array>

							<array>
	
								<string>{ 183.87094,4.87672 }</string>
	
								<string>{ 283.88452,-159.94413 }</string>
	
								<string>{ 186.66425,-4.34116 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -284.59479,-4.01830 }</string>
	
								<string>{ -197.41399,16.29312 }</string>
	
								<string>{ -240.15142,-22.81303 }</string>
	
								<string>{ -284.63091,-50.85174 }</string>

							</array>

							<array>
	
								<string>{ -155.51454,-70.85773 }</string>
	
								<string>{ -161.10114,-50.46666 }</string>
	
								<string>{ -121.99500,-27.56163 }</string>
	
								<string>{ -128.14024,-77.00298 }</string>
	
								<string>{ -141.54807,-83.14823 }</string>

							</array>

							<array>
	
								<string>{ -197.41399,16.29312 }</string>
	
								<string>{ -209.70449,-16.10912 }</string>
	
								<string>{ -240.15142,-22.81303 }</string>

							</array>

							<array>
	
								<string>{ -197.41399,16.29312 }</string>
	
								<string>{ -151.32460,21.87970 }</string>
	
								<string>{ -186.52013,-20.85773 }</string>
	
								<string>{ -209.70449,-16.10912 }</string>

							</array>

							<array>
	
								<string>{ -161.10114,-50.46666 }</string>
	
								<string>{ -170.31902,-34.26555 }</string>
	
								<string>{ -151.32460,21.87970 }</string>
	
								<string>{ -116.91119,21.65625 }</string>
	
								<string>{ -111.10114,16.01378 }</string>
	
								<string>{ -121.99500,-27.56163 }</string>

							</array>

							<array>
	
								<string>{ -151.32460,21.87970 }</string>
	
								<string>{ -170.31902,-34.26555 }</string>
	
								<string>{ -186.52013,-20.85773 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -40.91714,-6.68417 }</string>
	
								<string>{ -21.92273,20.69014 }</string>
	
								<string>{ -2.64899,45.32701 }</string>
	
								<string>{ 46.01022,41.41640 }</string>
	
								<string>{ -18.57077,-8.36015 }</string>
	
								<string>{ -35.05122,-18.13669 }</string>
	
								<string>{ -43.71045,-18.41602 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

