<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D30</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -192.51397,24.63687 }</string>
	
								<string>{ -194.46927,-18.65921 }</string>
	
								<string>{ -196.14525,-28.43575 }</string>
	
								<string>{ -240.27933,-160.00000 }</string>
	
								<string>{ -240.55866,24.69273 }</string>

							</array>

							<array>
	
								<string>{ -152.56983,19.88828 }</string>
	
								<string>{ -178.26815,3.68715 }</string>
	
								<string>{ -192.51397,24.63687 }</string>
	
								<string>{ -151.73184,22.68156 }</string>

							</array>

							<array>
	
								<string>{ -185.81005,-3.01675 }</string>
	
								<string>{ -192.51397,24.63687 }</string>
	
								<string>{ -178.26815,3.68715 }</string>

							</array>

							<array>
	
								<string>{ -191.11732,-10.83798 }</string>
	
								<string>{ -192.51397,24.63687 }</string>
	
								<string>{ -185.81005,-3.01675 }</string>

							</array>

							<array>
	
								<string>{ -194.46927,-18.65921 }</string>
	
								<string>{ -192.51397,24.63687 }</string>
	
								<string>{ -191.11732,-10.83798 }</string>

							</array>

							<array>
	
								<string>{ 100.50281,94.18996 }</string>
	
								<string>{ 115.58661,81.34079 }</string>
	
								<string>{ 51.34079,84.97208 }</string>
	
								<string>{ 49.94415,88.32402 }</string>

							</array>

							<array>
	
								<string>{ 100.50281,94.18996 }</string>
	
								<string>{ 175.92178,92.23465 }</string>
	
								<string>{ 140.16760,77.43018 }</string>
	
								<string>{ 115.58661,81.34079 }</string>

							</array>

							<array>
	
								<string>{ 175.92178,92.23465 }</string>
	
								<string>{ 167.26257,68.77095 }</string>
	
								<string>{ 140.16760,77.43018 }</string>

							</array>

							<array>
	
								<string>{ 175.92178,92.23465 }</string>
	
								<string>{ 240.16760,81.89944 }</string>
	
								<string>{ 181.22906,60.67039 }</string>
	
								<string>{ 167.26257,68.77095 }</string>

							</array>

							<array>
	
								<string>{ 240.16760,81.89944 }</string>
	
								<string>{ 189.05029,52.29051 }</string>
	
								<string>{ 181.22906,60.67039 }</string>

							</array>

							<array>
	
								<string>{ 240.16760,81.89944 }</string>
	
								<string>{ 194.91620,42.23463 }</string>
	
								<string>{ 189.05029,52.29051 }</string>

							</array>

							<array>
	
								<string>{ 240.16760,81.89944 }</string>
	
								<string>{ 197.70950,31.89944 }</string>
	
								<string>{ 194.91620,42.23463 }</string>

							</array>

							<array>
	
								<string>{ 241.06146,-160.22346 }</string>
	
								<string>{ 196.87152,19.88828 }</string>
	
								<string>{ 197.70950,31.89944 }</string>
	
								<string>{ 240.16760,81.89944 }</string>

							</array>

							<array>
	
								<string>{ 241.06146,-160.22346 }</string>
	
								<string>{ 193.24023,7.87711 }</string>
	
								<string>{ 196.87152,19.88828 }</string>

							</array>

							<array>
	
								<string>{ 241.06146,-160.22346 }</string>
	
								<string>{ 186.25699,-5.25139 }</string>
	
								<string>{ 193.24023,7.87711 }</string>

							</array>

							<array>
	
								<string>{ 241.06146,-160.22346 }</string>
	
								<string>{ 177.03912,-19.77654 }</string>
	
								<string>{ 186.25699,-5.25139 }</string>

							</array>

							<array>
	
								<string>{ 241.06146,-160.22346 }</string>
	
								<string>{ 164.46927,-35.13966 }</string>
	
								<string>{ 177.03912,-19.77654 }</string>

							</array>

							<array>
	
								<string>{ 241.06146,-160.22346 }</string>
	
								<string>{ 145.47485,-54.13408 }</string>
	
								<string>{ 164.46927,-35.13966 }</string>

							</array>

							<array>
	
								<string>{ 241.06146,-160.22346 }</string>
	
								<string>{ 110.00000,-85.13966 }</string>
	
								<string>{ 145.47485,-54.13408 }</string>

							</array>

							<array>
	
								<string>{ 241.06146,-160.22346 }</string>
	
								<string>{ 26.75980,-144.35754 }</string>
	
								<string>{ 110.00000,-85.13966 }</string>

							</array>

							<array>
	
								<string>{ 241.06146,-160.22346 }</string>
	
								<string>{ 19.77655,-147.43017 }</string>
	
								<string>{ 26.75980,-144.35754 }</string>

							</array>

							<array>
	
								<string>{ 241.06146,-160.22346 }</string>
	
								<string>{ 10.27933,-149.38547 }</string>
	
								<string>{ 19.77655,-147.43017 }</string>

							</array>

							<array>
	
								<string>{ -240.27933,-160.00000 }</string>
	
								<string>{ -67.93295,-148.82682 }</string>
	
								<string>{ 10.27933,-149.38547 }</string>
	
								<string>{ 241.06146,-160.22346 }</string>

							</array>

							<array>
	
								<string>{ -240.27933,-160.00000 }</string>
	
								<string>{ -81.62010,-145.47486 }</string>
	
								<string>{ -67.93295,-148.82682 }</string>

							</array>

							<array>
	
								<string>{ -240.27933,-160.00000 }</string>
	
								<string>{ -105.08380,-133.74302 }</string>
	
								<string>{ -81.62010,-145.47486 }</string>

							</array>

							<array>
	
								<string>{ -240.27933,-160.00000 }</string>
	
								<string>{ -126.59218,-120.05587 }</string>
	
								<string>{ -105.08380,-133.74302 }</string>

							</array>

							<array>
	
								<string>{ -240.27933,-160.00000 }</string>
	
								<string>{ -141.39664,-108.88268 }</string>
	
								<string>{ -126.59218,-120.05587 }</string>

							</array>

							<array>
	
								<string>{ -240.27933,-160.00000 }</string>
	
								<string>{ -153.12849,-99.94413 }</string>
	
								<string>{ -141.39664,-108.88268 }</string>

							</array>

							<array>
	
								<string>{ -240.27933,-160.00000 }</string>
	
								<string>{ -165.69833,-87.93296 }</string>
	
								<string>{ -153.12849,-99.94413 }</string>

							</array>

							<array>
	
								<string>{ -240.27933,-160.00000 }</string>
	
								<string>{ -176.03352,-75.36313 }</string>
	
								<string>{ -165.69833,-87.93296 }</string>

							</array>

							<array>
	
								<string>{ -240.27933,-160.00000 }</string>
	
								<string>{ -185.25140,-62.51396 }</string>
	
								<string>{ -176.03352,-75.36313 }</string>

							</array>

							<array>
	
								<string>{ -240.27933,-160.00000 }</string>
	
								<string>{ -191.95531,-50.78212 }</string>
	
								<string>{ -185.25140,-62.51396 }</string>

							</array>

							<array>
	
								<string>{ -240.27933,-160.00000 }</string>
	
								<string>{ -195.30726,-39.05028 }</string>
	
								<string>{ -191.95531,-50.78212 }</string>

							</array>

							<array>
	
								<string>{ -240.27933,-160.00000 }</string>
	
								<string>{ -196.14525,-28.43575 }</string>
	
								<string>{ -195.30726,-39.05028 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

