<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D60</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -162.07085,-26.75749 }</string>
	
								<string>{ -162.07085,-9.59128 }</string>
	
								<string>{ -143.26976,-23.76022 }</string>

							</array>

							<array>
	
								<string>{ 130.08310,126.42661 }</string>
	
								<string>{ 189.63989,100.94183 }</string>
	
								<string>{ 240.93549,71.02116 }</string>
	
								<string>{ 148.36566,78.78117 }</string>
	
								<string>{ 119.20126,93.85812 }</string>

							</array>

							<array>
	
								<string>{ -174.87739,-30.84470 }</string>
	
								<string>{ -170.51772,5.12262 }</string>
	
								<string>{ -162.07085,-9.59128 }</string>
	
								<string>{ -162.07085,-26.75749 }</string>

							</array>

							<array>
	
								<string>{ -50.35423,-112.58856 }</string>
	
								<string>{ -98.85559,-108.22889 }</string>
	
								<string>{ -83.05177,-96.51226 }</string>

							</array>

							<array>
	
								<string>{ -166.43052,66.43051 }</string>
	
								<string>{ -194.49591,71.93445 }</string>
	
								<string>{ -163.52910,100.10852 }</string>
	
								<string>{ -154.54633,91.92961 }</string>

							</array>

							<array>
	
								<string>{ -172.97003,49.80927 }</string>
	
								<string>{ -194.49591,71.93445 }</string>
	
								<string>{ -166.43052,66.43051 }</string>

							</array>

							<array>
	
								<string>{ -192.31608,-42.28883 }</string>
	
								<string>{ -240.00000,86.42101 }</string>
	
								<string>{ -209.19169,81.78900 }</string>
	
								<string>{ -194.49591,71.93445 }</string>
	
								<string>{ -173.78747,30.73569 }</string>
	
								<string>{ -170.51772,5.12262 }</string>
	
								<string>{ -174.87739,-30.84470 }</string>

							</array>

							<array>
	
								<string>{ -173.78747,30.73569 }</string>
	
								<string>{ -194.49591,71.93445 }</string>
	
								<string>{ -172.97003,49.80927 }</string>

							</array>

							<array>
	
								<string>{ -50.35423,-112.58856 }</string>
	
								<string>{ -13.84196,-125.39510 }</string>
	
								<string>{ -119.01907,-116.94823 }</string>
	
								<string>{ -98.85559,-108.22889 }</string>

							</array>

							<array>
	
								<string>{ -205.12262,-54.55041 }</string>
	
								<string>{ -240.00000,86.42101 }</string>
	
								<string>{ -192.31608,-42.28883 }</string>

							</array>

							<array>
	
								<string>{ 240.93549,71.02116 }</string>
	
								<string>{ 174.95847,60.49863 }</string>
	
								<string>{ 148.36566,78.78117 }</string>

							</array>

							<array>
	
								<string>{ 240.93549,71.02116 }</string>
	
								<string>{ 187.97784,50.24931 }</string>
	
								<string>{ 174.95847,60.49863 }</string>

							</array>

							<array>
	
								<string>{ 240.93549,71.02116 }</string>
	
								<string>{ 200.44324,38.06094 }</string>
	
								<string>{ 187.97784,50.24931 }</string>

							</array>

							<array>
	
								<string>{ 240.93549,71.02116 }</string>
	
								<string>{ 209.03049,26.14960 }</string>
	
								<string>{ 200.44324,38.06094 }</string>

							</array>

							<array>
	
								<string>{ 240.93549,71.02116 }</string>
	
								<string>{ 218.44876,8.97507 }</string>
	
								<string>{ 209.03049,26.14960 }</string>

							</array>

							<array>
	
								<string>{ 240.93549,71.02116 }</string>
	
								<string>{ 224.26593,-7.64543 }</string>
	
								<string>{ 218.44876,8.97507 }</string>

							</array>

							<array>
	
								<string>{ -215.47684,-71.17166 }</string>
	
								<string>{ -240.00000,86.42101 }</string>
	
								<string>{ -205.12262,-54.55041 }</string>

							</array>

							<array>
	
								<string>{ -215.47684,-71.17166 }</string>
	
								<string>{ -217.65668,-87.52044 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -240.00000,86.42101 }</string>

							</array>

							<array>
	
								<string>{ 240.93549,71.02116 }</string>
	
								<string>{ 227.86703,-20.11079 }</string>
	
								<string>{ 224.26593,-7.64543 }</string>

							</array>

							<array>
	
								<string>{ -13.84196,-125.39510 }</string>
	
								<string>{ 12.31607,-131.66213 }</string>
	
								<string>{ -137.00272,-121.03542 }</string>
	
								<string>{ -119.01907,-116.94823 }</string>

							</array>

							<array>
	
								<string>{ 240.93549,71.02116 }</string>
	
								<string>{ 229.25211,-33.13019 }</string>
	
								<string>{ 227.86703,-20.11079 }</string>

							</array>

							<array>
	
								<string>{ 240.87192,-159.78202 }</string>
	
								<string>{ 229.52911,-48.36565 }</string>
	
								<string>{ 229.25211,-33.13019 }</string>
	
								<string>{ 240.93549,71.02116 }</string>

							</array>

							<array>
	
								<string>{ -213.84196,-99.50954 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -217.65668,-87.52044 }</string>

							</array>

							<array>
	
								<string>{ -203.48774,-110.95368 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -213.84196,-99.50954 }</string>

							</array>

							<array>
	
								<string>{ -187.68393,-117.22071 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -203.48774,-110.95368 }</string>

							</array>

							<array>
	
								<string>{ -171.88011,-120.76294 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -187.68393,-117.22071 }</string>

							</array>

							<array>
	
								<string>{ 240.87192,-159.78202 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -171.88011,-120.76294 }</string>

							</array>

							<array>
	
								<string>{ 35.20435,-136.56676 }</string>
	
								<string>{ -154.16894,-121.85286 }</string>
	
								<string>{ -137.00272,-121.03542 }</string>
	
								<string>{ 12.31607,-131.66213 }</string>

							</array>

							<array>
	
								<string>{ 240.87192,-159.78202 }</string>
	
								<string>{ 227.84741,-64.63216 }</string>
	
								<string>{ 229.52911,-48.36565 }</string>

							</array>

							<array>
	
								<string>{ 240.87192,-159.78202 }</string>
	
								<string>{ 224.03268,-77.43869 }</string>
	
								<string>{ 227.84741,-64.63216 }</string>

							</array>

							<array>
	
								<string>{ 240.87192,-159.78202 }</string>
	
								<string>{ 218.58310,-90.79019 }</string>
	
								<string>{ 224.03268,-77.43869 }</string>

							</array>

							<array>
	
								<string>{ 240.87192,-159.78202 }</string>
	
								<string>{ 209.59128,-103.05177 }</string>
	
								<string>{ 218.58310,-90.79019 }</string>

							</array>

							<array>
	
								<string>{ 240.87192,-159.78202 }</string>
	
								<string>{ 200.32697,-113.67847 }</string>
	
								<string>{ 209.59128,-103.05177 }</string>

							</array>

							<array>
	
								<string>{ 240.87192,-159.78202 }</string>
	
								<string>{ 190.24521,-122.39782 }</string>
	
								<string>{ 200.32697,-113.67847 }</string>

							</array>

							<array>
	
								<string>{ 240.87192,-159.78202 }</string>
	
								<string>{ 179.07355,-128.93733 }</string>
	
								<string>{ 190.24521,-122.39782 }</string>

							</array>

							<array>
	
								<string>{ 240.87192,-159.78202 }</string>
	
								<string>{ 166.26703,-134.65940 }</string>
	
								<string>{ 179.07355,-128.93733 }</string>

							</array>

							<array>
	
								<string>{ 240.87192,-159.78202 }</string>
	
								<string>{ 143.65121,-139.29155 }</string>
	
								<string>{ 166.26703,-134.65940 }</string>

							</array>

							<array>
	
								<string>{ 240.87192,-159.78202 }</string>
	
								<string>{ 113.95096,-142.01635 }</string>
	
								<string>{ 143.65121,-139.29155 }</string>

							</array>

							<array>
	
								<string>{ 240.87192,-159.78202 }</string>
	
								<string>{ 79.34604,-141.74387 }</string>
	
								<string>{ 113.95096,-142.01635 }</string>

							</array>

							<array>
	
								<string>{ 56.73022,-139.83651 }</string>
	
								<string>{ -154.16894,-121.85286 }</string>
	
								<string>{ 35.20435,-136.56676 }</string>

							</array>

							<array>
	
								<string>{ 240.87192,-159.78202 }</string>
	
								<string>{ 56.73022,-139.83651 }</string>
	
								<string>{ 79.34604,-141.74387 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 62.77008,112.57617 }</string>
	
								<string>{ 36.45432,123.10251 }</string>
	
								<string>{ 30.91412,150.24933 }</string>
	
								<string>{ 77.83936,142.32687 }</string>

							</array>

							<array>
	
								<string>{ 15.67868,128.64267 }</string>
	
								<string>{ 30.91412,150.24933 }</string>
	
								<string>{ 36.45432,123.10251 }</string>

							</array>

							<array>
	
								<string>{ -3.71190,132.79779 }</string>
	
								<string>{ -34.45982,150.52634 }</string>
	
								<string>{ 30.91412,150.24933 }</string>
	
								<string>{ 15.67868,128.64267 }</string>

							</array>

							<array>
	
								<string>{ -27.81163,135.29086 }</string>
	
								<string>{ -34.45982,150.52634 }</string>
	
								<string>{ -3.71190,132.79779 }</string>

							</array>

							<array>
	
								<string>{ -63.54570,136.95291 }</string>
	
								<string>{ -79.61218,141.77286 }</string>
	
								<string>{ -34.45982,150.52634 }</string>
	
								<string>{ -27.81163,135.29086 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

