<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D50</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -70.70422,-46.47887 }</string>
	
								<string>{ -123.66197,-112.39437 }</string>
	
								<string>{ -86.19717,-13.23944 }</string>
	
								<string>{ -76.90141,-13.23944 }</string>
	
								<string>{ -65.91550,-16.61972 }</string>

							</array>

							<array>
	
								<string>{ -62.25352,-83.38028 }</string>
	
								<string>{ -64.22536,-69.85915 }</string>
	
								<string>{ -56.90141,-72.67606 }</string>

							</array>

							<array>
	
								<string>{ -10.42253,-77.46479 }</string>
	
								<string>{ 9.57747,-109.29577 }</string>
	
								<string>{ -24.50703,-102.53521 }</string>
	
								<string>{ -34.08450,-91.54929 }</string>
	
								<string>{ -32.39436,-78.59155 }</string>

							</array>

							<array>
	
								<string>{ 6.19719,-75.49296 }</string>
	
								<string>{ 9.57747,-109.29577 }</string>
	
								<string>{ -10.42253,-77.46479 }</string>

							</array>

							<array>
	
								<string>{ 30.98593,-72.39436 }</string>
	
								<string>{ 109.29578,-81.12676 }</string>
	
								<string>{ 90.14084,-112.11267 }</string>
	
								<string>{ 9.57747,-109.29577 }</string>
	
								<string>{ 6.19719,-75.49296 }</string>

							</array>

							<array>
	
								<string>{ 240.56339,-159.43662 }</string>
	
								<string>{ 175.21127,5.07042 }</string>
	
								<string>{ 240.84506,-7.88733 }</string>

							</array>

							<array>
	
								<string>{ 73.52112,62.25352 }</string>
	
								<string>{ 2.81691,70.70422 }</string>
	
								<string>{ 104.50705,81.97183 }</string>
	
								<string>{ 105.35211,70.42253 }</string>

							</array>

							<array>
	
								<string>{ -80.56339,48.45071 }</string>
	
								<string>{ -67.32394,54.64789 }</string>
	
								<string>{ 51.83099,-21.12675 }</string>
	
								<string>{ -5.91550,-5.35211 }</string>
	
								<string>{ -44.50703,7.04225 }</string>
	
								<string>{ -73.23944,20.28169 }</string>
	
								<string>{ -84.50703,31.54930 }</string>
	
								<string>{ -85.91550,39.15494 }</string>

							</array>

							<array>
	
								<string>{ 240.56339,-159.43662 }</string>
	
								<string>{ 161.40845,-72.67606 }</string>
	
								<string>{ 102.81689,27.88733 }</string>
	
								<string>{ 175.21127,5.07042 }</string>

							</array>

							<array>
	
								<string>{ 65.35211,43.94366 }</string>
	
								<string>{ -51.26761,60.56339 }</string>
	
								<string>{ 2.81691,70.70422 }</string>
	
								<string>{ 73.52112,62.25352 }</string>

							</array>

							<array>
	
								<string>{ -125.91549,33.52113 }</string>
	
								<string>{ -130.14085,17.18311 }</string>
	
								<string>{ -143.38028,-1.69014 }</string>
	
								<string>{ -167.88732,-26.47887 }</string>
	
								<string>{ -240.28169,71.83099 }</string>
	
								<string>{ -188.45070,64.78874 }</string>
	
								<string>{ -146.47887,52.11269 }</string>
	
								<string>{ -128.73239,41.97183 }</string>

							</array>

							<array>
	
								<string>{ -192.67606,-41.40845 }</string>
	
								<string>{ -220.84507,-55.77464 }</string>
	
								<string>{ -240.28169,71.83099 }</string>
	
								<string>{ -167.88732,-26.47887 }</string>

							</array>

							<array>
	
								<string>{ -62.25352,-83.38028 }</string>
	
								<string>{ -64.22536,-101.12676 }</string>
	
								<string>{ -123.66197,-112.39437 }</string>
	
								<string>{ -70.14084,-60.00000 }</string>
	
								<string>{ -64.22536,-69.85915 }</string>

							</array>

							<array>
	
								<string>{ -70.14084,-60.00000 }</string>
	
								<string>{ -123.66197,-112.39437 }</string>
	
								<string>{ -70.70422,-46.47887 }</string>

							</array>

							<array>
	
								<string>{ -60.56339,-113.23944 }</string>
	
								<string>{ -133.80282,-127.04225 }</string>
	
								<string>{ -123.66197,-112.39437 }</string>
	
								<string>{ -64.22536,-101.12676 }</string>

							</array>

							<array>
	
								<string>{ -60.56339,-113.23944 }</string>
	
								<string>{ -51.83098,-120.56338 }</string>
	
								<string>{ -143.09859,-138.87324 }</string>
	
								<string>{ -133.80282,-127.04225 }</string>

							</array>

							<array>
	
								<string>{ 30.98593,-72.39436 }</string>
	
								<string>{ 67.32394,-65.07042 }</string>
	
								<string>{ 161.40845,-72.67606 }</string>
	
								<string>{ 109.29578,-81.12676 }</string>

							</array>

							<array>
	
								<string>{ -51.26761,60.56339 }</string>
	
								<string>{ 65.35211,43.94366 }</string>
	
								<string>{ 102.81689,27.88733 }</string>
	
								<string>{ 81.12677,-29.29578 }</string>
	
								<string>{ 51.83099,-21.12675 }</string>
	
								<string>{ -67.32394,54.64789 }</string>

							</array>

							<array>
	
								<string>{ 102.81689,27.88733 }</string>
	
								<string>{ 96.05634,-35.77464 }</string>
	
								<string>{ 81.12677,-29.29578 }</string>

							</array>

							<array>
	
								<string>{ -228.45070,-79.71831 }</string>
	
								<string>{ -240.28169,71.83099 }</string>
	
								<string>{ -220.84507,-55.77464 }</string>

							</array>

							<array>
	
								<string>{ -228.45070,-79.71831 }</string>
	
								<string>{ -228.73239,-116.33803 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -240.28169,71.83099 }</string>

							</array>

							<array>
	
								<string>{ -222.53521,-147.88732 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -228.73239,-116.33803 }</string>

							</array>

							<array>
	
								<string>{ -159.71831,-148.73239 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -222.53521,-147.88732 }</string>

							</array>

							<array>
	
								<string>{ -38.02817,-125.63380 }</string>
	
								<string>{ -159.71831,-148.73239 }</string>
	
								<string>{ -143.09859,-138.87324 }</string>
	
								<string>{ -51.83098,-120.56338 }</string>

							</array>

							<array>
	
								<string>{ 102.81689,27.88733 }</string>
	
								<string>{ 161.40845,-72.67606 }</string>
	
								<string>{ 100.28171,-41.69014 }</string>
	
								<string>{ 96.05634,-35.77464 }</string>

							</array>

							<array>
	
								<string>{ -21.69014,-129.01408 }</string>
	
								<string>{ -159.71831,-148.73239 }</string>
	
								<string>{ -38.02817,-125.63380 }</string>

							</array>

							<array>
	
								<string>{ 80.56339,-61.12676 }</string>
	
								<string>{ 161.40845,-72.67606 }</string>
	
								<string>{ 67.32394,-65.07042 }</string>

							</array>

							<array>
	
								<string>{ 90.14084,-57.46479 }</string>
	
								<string>{ 161.40845,-72.67606 }</string>
	
								<string>{ 80.56339,-61.12676 }</string>

							</array>

							<array>
	
								<string>{ 96.33804,-54.08450 }</string>
	
								<string>{ 161.40845,-72.67606 }</string>
	
								<string>{ 90.14084,-57.46479 }</string>

							</array>

							<array>
	
								<string>{ 100.28171,-48.16901 }</string>
	
								<string>{ 161.40845,-72.67606 }</string>
	
								<string>{ 96.33804,-54.08450 }</string>

							</array>

							<array>
	
								<string>{ 100.28171,-41.69014 }</string>
	
								<string>{ 161.40845,-72.67606 }</string>
	
								<string>{ 100.28171,-48.16901 }</string>

							</array>

							<array>
	
								<string>{ 240.56339,-159.43662 }</string>
	
								<string>{ 179.43661,-111.26760 }</string>
	
								<string>{ 161.40845,-72.67606 }</string>

							</array>

							<array>
	
								<string>{ 240.56339,-159.43662 }</string>
	
								<string>{ 170.70422,-135.21127 }</string>
	
								<string>{ 179.43661,-111.26760 }</string>

							</array>

							<array>
	
								<string>{ 240.56339,-159.43662 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -3.38028,-130.70423 }</string>
	
								<string>{ 170.70422,-135.21127 }</string>

							</array>

							<array>
	
								<string>{ -3.38028,-130.70423 }</string>
	
								<string>{ -159.71831,-148.73239 }</string>
	
								<string>{ -21.69014,-129.01408 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 240.28171,76.61972 }</string>
	
								<string>{ 149.29578,73.52113 }</string>
	
								<string>{ 148.73239,86.47888 }</string>
	
								<string>{ 241.12677,89.85916 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

