<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D36</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 89.45944,59.18919 }</string>
	
								<string>{ 133.24323,54.59459 }</string>
	
								<string>{ 112.97296,24.59459 }</string>
	
								<string>{ 78.10809,50.54054 }</string>
	
								<string>{ 74.05405,57.29729 }</string>

							</array>

							<array>
	
								<string>{ -7.56757,-75.67567 }</string>
	
								<string>{ -35.94595,-41.89189 }</string>
	
								<string>{ 6.48648,-47.83784 }</string>
	
								<string>{ 37.56757,-53.51351 }</string>
	
								<string>{ 83.51352,-69.18919 }</string>

							</array>

							<array>
	
								<string>{ -44.59460,-92.43243 }</string>
	
								<string>{ -112.97298,-89.45946 }</string>
	
								<string>{ -35.94595,-41.89189 }</string>
	
								<string>{ -7.56757,-75.67567 }</string>

							</array>

							<array>
	
								<string>{ -60.00000,-125.40541 }</string>
	
								<string>{ -141.08109,-102.97297 }</string>
	
								<string>{ -112.97298,-89.45946 }</string>
	
								<string>{ -44.59460,-92.43243 }</string>

							</array>

							<array>
	
								<string>{ 133.24323,54.59459 }</string>
	
								<string>{ 182.70270,45.40540 }</string>
	
								<string>{ 240.27026,30.00000 }</string>
	
								<string>{ 132.43243,7.29730 }</string>
	
								<string>{ 112.97296,24.59459 }</string>

							</array>

							<array>
	
								<string>{ 240.27026,30.00000 }</string>
	
								<string>{ 147.83783,-10.27028 }</string>
	
								<string>{ 132.43243,7.29730 }</string>

							</array>

							<array>
	
								<string>{ 241.08109,-160.00000 }</string>
	
								<string>{ 157.56757,-32.70271 }</string>
	
								<string>{ 147.83783,-10.27028 }</string>
	
								<string>{ 240.27026,30.00000 }</string>

							</array>

							<array>
	
								<string>{ -10.81081,-146.75676 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -162.97298,-108.37838 }</string>
	
								<string>{ -141.08109,-102.97297 }</string>
	
								<string>{ -29.45946,-134.86486 }</string>

							</array>

							<array>
	
								<string>{ 38.64865,-149.72973 }</string>
	
								<string>{ -10.81081,-146.75676 }</string>
	
								<string>{ 5.40540,-144.32432 }</string>

							</array>

							<array>
	
								<string>{ 21.62161,7.02702 }</string>
	
								<string>{ -47.83784,20.27026 }</string>
	
								<string>{ -82.16217,53.51350 }</string>
	
								<string>{ -23.51352,36.75676 }</string>
	
								<string>{ 24.32431,11.62161 }</string>

							</array>

							<array>
	
								<string>{ -108.91891,22.16216 }</string>
	
								<string>{ -147.02703,63.78378 }</string>
	
								<string>{ -82.16217,53.51350 }</string>
	
								<string>{ -47.83784,20.27026 }</string>

							</array>

							<array>
	
								<string>{ -154.86487,12.97298 }</string>
	
								<string>{ -240.00000,62.70270 }</string>
	
								<string>{ -147.02703,63.78378 }</string>
	
								<string>{ -108.91891,22.16216 }</string>

							</array>

							<array>
	
								<string>{ -187.29730,-21.35135 }</string>
	
								<string>{ -240.00000,62.70270 }</string>
	
								<string>{ -154.86487,12.97298 }</string>

							</array>

							<array>
	
								<string>{ -187.29730,-21.35135 }</string>
	
								<string>{ -195.13514,-63.78378 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -240.00000,62.70270 }</string>

							</array>

							<array>
	
								<string>{ -185.40541,-98.64865 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -195.13514,-63.78378 }</string>

							</array>

							<array>
	
								<string>{ -162.97298,-108.37838 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -185.40541,-98.64865 }</string>

							</array>

							<array>
	
								<string>{ 241.08109,-160.00000 }</string>
	
								<string>{ 161.08109,-51.89189 }</string>
	
								<string>{ 157.56757,-32.70271 }</string>

							</array>

							<array>
	
								<string>{ 241.08109,-160.00000 }</string>
	
								<string>{ 157.29730,-71.35135 }</string>
	
								<string>{ 161.08109,-51.89189 }</string>

							</array>

							<array>
	
								<string>{ 241.08109,-160.00000 }</string>
	
								<string>{ 149.18918,-88.91892 }</string>
	
								<string>{ 157.29730,-71.35135 }</string>

							</array>

							<array>
	
								<string>{ 241.08109,-160.00000 }</string>
	
								<string>{ 137.83783,-104.86486 }</string>
	
								<string>{ 149.18918,-88.91892 }</string>

							</array>

							<array>
	
								<string>{ 241.08109,-160.00000 }</string>
	
								<string>{ 123.24323,-122.70270 }</string>
	
								<string>{ 137.83783,-104.86486 }</string>

							</array>

							<array>
	
								<string>{ 241.08109,-160.00000 }</string>
	
								<string>{ 101.35135,-139.72973 }</string>
	
								<string>{ 123.24323,-122.70270 }</string>

							</array>

							<array>
	
								<string>{ 241.08109,-160.00000 }</string>
	
								<string>{ 78.91891,-148.91892 }</string>
	
								<string>{ 101.35135,-139.72973 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ 78.91891,-148.91892 }</string>
	
								<string>{ 241.08109,-160.00000 }</string>

							</array>

							<array>
	
								<string>{ 38.64865,-149.72973 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -10.81081,-146.75676 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

