<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D56</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 91.91751,-74.44240 }</string>
	
								<string>{ 39.24146,-132.75226 }</string>
	
								<string>{ 46.84708,-104.86493 }</string>
	
								<string>{ 57.55133,-87.40015 }</string>
	
								<string>{ 71.07245,-71.62550 }</string>
	
								<string>{ 85.43863,-67.68183 }</string>

							</array>

							<array>
	
								<string>{ 138.67807,-81.48465 }</string>
	
								<string>{ 195.01611,-127.11845 }</string>
	
								<string>{ 199.97659,-144.50080 }</string>
	
								<string>{ 35.33640,-147.95195 }</string>
	
								<string>{ 39.24146,-132.75226 }</string>
	
								<string>{ 91.91751,-74.44240 }</string>
	
								<string>{ 120.93161,-72.47057 }</string>

							</array>

							<array>
	
								<string>{ 35.33640,-147.95195 }</string>
	
								<string>{ -17.97382,-149.26264 }</string>
	
								<string>{ -5.84055,-142.23840 }</string>

							</array>

							<array>
	
								<string>{ -188.63686,-143.87194 }</string>
	
								<string>{ -17.97382,-149.26264 }</string>
	
								<string>{ -282.66390,-160.59715 }</string>
	
								<string>{ -283.54338,-148.49348 }</string>

							</array>

							<array>
	
								<string>{ 283.91040,-159.66163 }</string>
	
								<string>{ -282.66390,-160.59715 }</string>
	
								<string>{ 199.97659,-144.50080 }</string>
	
								<string>{ 282.85919,-150.91417 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -233.49224,42.91257 }</string>
	
								<string>{ -194.31599,31.97377 }</string>
	
								<string>{ -283.93310,-3.62711 }</string>
	
								<string>{ -283.68454,24.39134 }</string>

							</array>

							<array>
	
								<string>{ -223.04838,52.25545 }</string>
	
								<string>{ -196.85120,50.28363 }</string>
	
								<string>{ -171.78078,40.42447 }</string>
	
								<string>{ -194.31599,31.97377 }</string>
	
								<string>{ -233.49224,42.91257 }</string>

							</array>

							<array>
	
								<string>{ -174.03429,58.45264 }</string>
	
								<string>{ -147.55542,58.17094 }</string>
	
								<string>{ -109.80894,54.79066 }</string>
	
								<string>{ -79.66811,42.95969 }</string>
	
								<string>{ -106.71036,35.91742 }</string>
	
								<string>{ -171.78078,40.42447 }</string>
	
								<string>{ -196.85120,50.28363 }</string>

							</array>

							<array>
	
								<string>{ -71.21739,33.66391 }</string>
	
								<string>{ -106.71036,35.91742 }</string>
	
								<string>{ -79.66811,42.95969 }</string>

							</array>

							<array>
	
								<string>{ -59.10472,22.95969 }</string>
	
								<string>{ -106.71036,35.91742 }</string>
	
								<string>{ -71.21739,33.66391 }</string>
	
								<string>{ -58.25964,26.33997 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -226.61844,-88.91549 }</string>
	
								<string>{ -221.63866,-115.03536 }</string>
	
								<string>{ -268.25882,-102.79562 }</string>
	
								<string>{ -284.17493,-55.77033 }</string>

							</array>

							<array>
	
								<string>{ 192.16415,69.75337 }</string>
	
								<string>{ 201.17825,51.16182 }</string>
	
								<string>{ 205.12192,34.26042 }</string>
	
								<string>{ 188.22049,52.57027 }</string>
	
								<string>{ 182.58670,68.34492 }</string>
	
								<string>{ 185.68530,72.57028 }</string>

							</array>

							<array>
	
								<string>{ 205.12192,34.26042 }</string>
	
								<string>{ 205.12192,12.57027 }</string>
	
								<string>{ 186.24866,27.78154 }</string>
	
								<string>{ 188.22049,52.57027 }</string>

							</array>

							<array>
	
								<string>{ 205.12192,12.57027 }</string>
	
								<string>{ 199.20642,1.58435 }</string>
	
								<string>{ 182.58670,-4.61282 }</string>
	
								<string>{ 171.88248,9.47168 }</string>
	
								<string>{ 173.57260,18.48576 }</string>
	
								<string>{ 186.24866,27.78154 }</string>

							</array>

							<array>
	
								<string>{ -213.36923,-86.07638 }</string>
	
								<string>{ -171.77950,-93.06353 }</string>
	
								<string>{ -167.55415,-124.30155 }</string>
	
								<string>{ -221.63866,-115.03536 }</string>
	
								<string>{ -226.61844,-88.91549 }</string>

							</array>

							<array>
	
								<string>{ -132.06119,-91.09170 }</string>
	
								<string>{ -156.28654,-115.88043 }</string>
	
								<string>{ -167.55415,-124.30155 }</string>
	
								<string>{ -171.77950,-93.06353 }</string>

							</array>

							<array>
	
								<string>{ 97.51627,62.71112 }</string>
	
								<string>{ 70.47403,53.97873 }</string>
	
								<string>{ 39.76981,56.79562 }</string>
	
								<string>{ 55.82614,74.54210 }</string>
	
								<string>{ 69.34726,81.86604 }</string>
	
								<string>{ 85.96698,79.33084 }</string>

							</array>

							<array>
	
								<string>{ 130.19232,47.49985 }</string>
	
								<string>{ 134.98108,19.33084 }</string>
	
								<string>{ 131.88248,1.58435 }</string>
	
								<string>{ 124.27682,12.57027 }</string>
	
								<string>{ 123.71347,32.00690 }</string>
	
								<string>{ 124.27682,47.49985 }</string>

							</array>

							<array>
	
								<string>{ 152.16415,13.97873 }</string>
	
								<string>{ 159.76981,6.37309 }</string>
	
								<string>{ 153.85431,-11.37338 }</string>
	
								<string>{ 142.30502,-6.30296 }</string>
	
								<string>{ 131.88248,1.58435 }</string>
	
								<string>{ 134.98108,19.33084 }</string>

							</array>

							<array>
	
								<string>{ 171.88248,9.47168 }</string>
	
								<string>{ 182.58670,-4.61282 }</string>
	
								<string>{ 162.86838,-22.07762 }</string>
	
								<string>{ 153.85431,-11.37338 }</string>
	
								<string>{ 159.76981,6.37309 }</string>

							</array>

							<array>
	
								<string>{ 105.96698,-20.38747 }</string>
	
								<string>{ 97.51627,-3.20438 }</string>
	
								<string>{ 92.44586,21.58437 }</string>
	
								<string>{ 113.85431,-1.79593 }</string>
	
								<string>{ 136.10782,-37.85226 }</string>
	
								<string>{ 118.36136,-34.19029 }</string>

							</array>

							<array>
	
								<string>{ 162.86838,-22.07762 }</string>
	
								<string>{ 147.37543,-33.90860 }</string>
	
								<string>{ 147.37543,-18.69733 }</string>
	
								<string>{ 153.85431,-11.37338 }</string>

							</array>

							<array>
	
								<string>{ 147.37543,-33.90860 }</string>
	
								<string>{ 136.10782,-37.85226 }</string>
	
								<string>{ 136.38953,-23.20438 }</string>
	
								<string>{ 147.37543,-18.69733 }</string>

							</array>

							<array>
	
								<string>{ 136.10782,-37.85226 }</string>
	
								<string>{ 124.84021,-19.26071 }</string>
	
								<string>{ 136.38953,-23.20438 }</string>

							</array>

							<array>
	
								<string>{ 92.44586,21.58437 }</string>
	
								<string>{ 83.99515,51.16182 }</string>
	
								<string>{ 97.51627,62.71112 }</string>
	
								<string>{ 103.71347,40.45760 }</string>
	
								<string>{ 113.85431,-1.79593 }</string>

							</array>

							<array>
	
								<string>{ 70.47403,53.97873 }</string>
	
								<string>{ 97.51627,62.71112 }</string>
	
								<string>{ 83.99515,51.16182 }</string>

							</array>

							<array>
	
								<string>{ 70.47403,53.97873 }</string>
	
								<string>{ 58.92471,44.96465 }</string>
	
								<string>{ 28.78387,36.23224 }</string>
	
								<string>{ 39.76981,56.79562 }</string>

							</array>

							<array>
	
								<string>{ -88.68091,-104.33113 }</string>
	
								<string>{ -6.99075,-58.69733 }</string>
	
								<string>{ -41.07527,-89.68325 }</string>
	
								<string>{ -85.58232,-111.65508 }</string>

							</array>

							<array>
	
								<string>{ -156.28654,-115.88043 }</string>
	
								<string>{ -132.06119,-91.09170 }</string>
	
								<string>{ -6.99075,-58.69733 }</string>
	
								<string>{ -88.68091,-104.33113 }</string>
	
								<string>{ -126.14571,-116.44381 }</string>

							</array>

							<array>
	
								<string>{ 46.81204,27.49985 }</string>
	
								<string>{ 28.78387,36.23224 }</string>
	
								<string>{ 58.92471,44.96465 }</string>

							</array>

							<array>
	
								<string>{ 33.57260,-1.79593 }</string>
	
								<string>{ 15.26276,-30.24663 }</string>
	
								<string>{ 13.00925,4.96465 }</string>
	
								<string>{ 28.78387,36.23224 }</string>
	
								<string>{ 46.81204,27.49985 }</string>

							</array>

							<array>
	
								<string>{ 15.26276,-30.24663 }</string>
	
								<string>{ -6.99075,-58.69733 }</string>
	
								<string>{ -17.13162,-31.65508 }</string>
	
								<string>{ 13.00925,4.96465 }</string>

							</array>

							<array>
	
								<string>{ -6.99075,-58.69733 }</string>
	
								<string>{ -52.06119,-61.23254 }</string>
	
								<string>{ -17.13162,-31.65508 }</string>

							</array>

							<array>
	
								<string>{ -6.99075,-58.69733 }</string>
	
								<string>{ -87.83585,-79.54240 }</string>
	
								<string>{ -52.06119,-61.23254 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

