<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D57</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -177.24815,-81.57590 }</string>
	
								<string>{ -284.33750,-160.95670 }</string>
	
								<string>{ -239.50168,-105.51956 }</string>
	
								<string>{ -201.75520,-70.30829 }</string>
	
								<string>{ -182.03689,-70.58998 }</string>

							</array>

							<array>
	
								<string>{ -239.50168,-105.51956 }</string>
	
								<string>{ -284.33750,-160.95670 }</string>
	
								<string>{ -284.61920,-130.27864 }</string>

							</array>

							<array>
	
								<string>{ 284.74286,-161.21048 }</string>
	
								<string>{ 147.54059,-19.32237 }</string>
	
								<string>{ 153.17438,12.50862 }</string>
	
								<string>{ 166.13214,29.69171 }</string>
	
								<string>{ 240.78003,-31.99843 }</string>
	
								<string>{ 285.04022,-74.55109 }</string>

							</array>

							<array>
	
								<string>{ 97.39972,-84.67448 }</string>
	
								<string>{ 121.06171,-68.89983 }</string>
	
								<string>{ 284.74286,-161.21048 }</string>
	
								<string>{ 78.52649,-152.56181 }</string>
	
								<string>{ 77.39972,-102.42096 }</string>

							</array>

							<array>
	
								<string>{ 209.51242,9.69171 }</string>
	
								<string>{ 176.27298,41.80438 }</string>
	
								<string>{ 183.59692,53.35368 }</string>

							</array>

							<array>
	
								<string>{ 209.51242,9.69171 }</string>
	
								<string>{ 240.78003,-31.99843 }</string>
	
								<string>{ 166.13214,29.69171 }</string>
	
								<string>{ 176.27298,41.80438 }</string>

							</array>

							<array>
	
								<string>{ 166.13214,29.69171 }</string>
	
								<string>{ 153.17438,12.50862 }</string>
	
								<string>{ 157.96310,22.36777 }</string>

							</array>

							<array>
	
								<string>{ -170.76929,-94.25195 }</string>
	
								<string>{ -284.33750,-160.95670 }</string>
	
								<string>{ -177.24815,-81.57590 }</string>

							</array>

							<array>
	
								<string>{ -163.72703,-105.51956 }</string>
	
								<string>{ -284.33750,-160.95670 }</string>
	
								<string>{ -170.76929,-94.25195 }</string>

							</array>

							<array>
	
								<string>{ -156.96647,-114.53364 }</string>
	
								<string>{ -284.33750,-160.95670 }</string>
	
								<string>{ -163.72703,-105.51956 }</string>

							</array>

							<array>
	
								<string>{ -149.36084,-123.54773 }</string>
	
								<string>{ -284.33750,-160.95670 }</string>
	
								<string>{ -156.96647,-114.53364 }</string>

							</array>

							<array>
	
								<string>{ -141.19182,-131.15336 }</string>
	
								<string>{ -284.33750,-160.95670 }</string>
	
								<string>{ -149.36084,-123.54773 }</string>

							</array>

							<array>
	
								<string>{ -129.92421,-138.47730 }</string>
	
								<string>{ -284.33750,-160.95670 }</string>
	
								<string>{ -141.19182,-131.15336 }</string>

							</array>

							<array>
	
								<string>{ 78.52649,-152.56181 }</string>
	
								<string>{ -80.62843,-155.66040 }</string>
	
								<string>{ 28.66733,-147.49139 }</string>

							</array>

							<array>
	
								<string>{ 284.74286,-161.21048 }</string>
	
								<string>{ 143.59692,-32.56181 }</string>
	
								<string>{ 147.54059,-19.32237 }</string>

							</array>

							<array>
	
								<string>{ 284.74286,-161.21048 }</string>
	
								<string>{ 139.65326,-43.54772 }</string>
	
								<string>{ 143.59692,-32.56181 }</string>

							</array>

							<array>
	
								<string>{ 284.74286,-161.21048 }</string>
	
								<string>{ 133.73776,-56.22378 }</string>
	
								<string>{ 139.65326,-43.54772 }</string>

							</array>

							<array>
	
								<string>{ -117.24815,-144.39280 }</string>
	
								<string>{ -284.33750,-160.95670 }</string>
	
								<string>{ -129.92421,-138.47730 }</string>

							</array>

							<array>
	
								<string>{ -99.50168,-151.71674 }</string>
	
								<string>{ -284.33750,-160.95670 }</string>
	
								<string>{ -117.24815,-144.39280 }</string>

							</array>

							<array>
	
								<string>{ 284.74286,-161.21048 }</string>
	
								<string>{ 128.66733,-62.70265 }</string>
	
								<string>{ 133.73776,-56.22378 }</string>

							</array>

							<array>
	
								<string>{ 284.74286,-161.21048 }</string>
	
								<string>{ 121.06171,-68.89983 }</string>
	
								<string>{ 128.66733,-62.70265 }</string>

							</array>

							<array>
	
								<string>{ 284.74286,-161.21048 }</string>
	
								<string>{ -284.33750,-160.95670 }</string>
	
								<string>{ 78.52649,-152.56181 }</string>

							</array>

							<array>
	
								<string>{ -80.62843,-155.66040 }</string>
	
								<string>{ -284.33750,-160.95670 }</string>
	
								<string>{ -99.50168,-151.71674 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -161.64357,-41.07095 }</string>
	
								<string>{ -155.72807,3.15440 }</string>
	
								<string>{ -107.27737,23.71779 }</string>
	
								<string>{ -107.55907,1.74596 }</string>
	
								<string>{ -112.34779,-24.16954 }</string>
	
								<string>{ -123.61540,-51.21179 }</string>
	
								<string>{ -142.20695,-87.26813 }</string>

							</array>

							<array>
	
								<string>{ -155.72807,3.15440 }</string>
	
								<string>{ -161.64357,-41.07095 }</string>
	
								<string>{ -169.24921,-25.85968 }</string>

							</array>

							<array>
	
								<string>{ -158.54498,24.28117 }</string>
	
								<string>{ -159.95343,59.21075 }</string>
	
								<string>{ -134.88301,56.39384 }</string>
	
								<string>{ -120.79849,48.22484 }</string>
	
								<string>{ -112.91118,37.52060 }</string>
	
								<string>{ -107.27737,23.71779 }</string>
	
								<string>{ -155.72807,3.15440 }</string>

							</array>

							<array>
	
								<string>{ -177.69991,36.39384 }</string>
	
								<string>{ -185.58723,57.52060 }</string>
	
								<string>{ -159.95343,59.21075 }</string>
	
								<string>{ -158.54498,24.28117 }</string>

							</array>

							<array>
	
								<string>{ -212.06611,35.54878 }</string>
	
								<string>{ -214.31963,52.45018 }</string>
	
								<string>{ -185.58723,57.52060 }</string>
	
								<string>{ -177.69991,36.39384 }</string>

							</array>

							<array>
	
								<string>{ -212.06611,35.54878 }</string>
	
								<string>{ -285.18258,20.65495 }</string>
	
								<string>{ -284.81716,32.94031 }</string>
	
								<string>{ -214.31963,52.45018 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 106.24374,-47.60564 }</string>
	
								<string>{ 89.90573,-57.46479 }</string>
	
								<string>{ 33.00433,-36.61972 }</string>
	
								<string>{ 98.63812,-5.91550 }</string>

							</array>

							<array>
	
								<string>{ -79.67174,-129.01408 }</string>
	
								<string>{ -92.06610,-125.91549 }</string>
	
								<string>{ -108.12244,-118.59155 }</string>
	
								<string>{ 2.86346,-1.12675 }</string>
	
								<string>{ -36.85484,-93.23943 }</string>
	
								<string>{ -58.54498,-122.53521 }</string>

							</array>

							<array>
	
								<string>{ 2.86346,-1.12675 }</string>
	
								<string>{ 1.17334,-53.23943 }</string>
	
								<string>{ -36.85484,-93.23943 }</string>

							</array>

							<array>
	
								<string>{ 2.86346,-1.12675 }</string>
	
								<string>{ 24.83530,-9.57747 }</string>
	
								<string>{ 33.00433,-36.61972 }</string>
	
								<string>{ 1.17334,-53.23943 }</string>

							</array>

							<array>
	
								<string>{ 39.20151,-12.95775 }</string>
	
								<string>{ 33.00433,-36.61972 }</string>
	
								<string>{ 24.83530,-9.57747 }</string>

							</array>

							<array>
	
								<string>{ 55.53952,-15.21127 }</string>
	
								<string>{ 33.00433,-36.61972 }</string>
	
								<string>{ 39.20151,-12.95775 }</string>

							</array>

							<array>
	
								<string>{ 69.06067,-15.49295 }</string>
	
								<string>{ 33.00433,-36.61972 }</string>
	
								<string>{ 55.53952,-15.21127 }</string>

							</array>

							<array>
	
								<string>{ 33.00433,-36.61972 }</string>
	
								<string>{ 69.06067,-15.49295 }</string>
	
								<string>{ 83.14517,-12.95775 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -36.40309,54.61998 }</string>
	
								<string>{ -19.78336,95.74675 }</string>
	
								<string>{ -24.29041,51.52139 }</string>
	
								<string>{ -35.27632,46.45097 }</string>

							</array>

							<array>
	
								<string>{ 23.31522,90.67632 }</string>
	
								<string>{ -16.68478,108.98618 }</string>
	
								<string>{ 28.38565,109.54956 }</string>
	
								<string>{ 58.52649,108.70450 }</string>

							</array>

							<array>
	
								<string>{ -1.75519,72.08478 }</string>
	
								<string>{ -16.68478,108.98618 }</string>
	
								<string>{ 23.31522,90.67632 }</string>

							</array>

							<array>
	
								<string>{ -24.29041,51.52139 }</string>
	
								<string>{ -19.78336,95.74675 }</string>
	
								<string>{ -16.68478,108.98618 }</string>
	
								<string>{ -1.75519,72.08478 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 241.42712,130.05713 }</string>
	
								<string>{ 284.37744,159.94418 }</string>
	
								<string>{ 284.11145,118.94736 }</string>

							</array>

							<array>
	
								<string>{ 152.13135,72.87402 }</string>
	
								<string>{ 152.13135,82.73318 }</string>
	
								<string>{ 181.70880,111.18390 }</string>
	
								<string>{ 173.25812,82.45149 }</string>
	
								<string>{ 159.45529,61.88811 }</string>
	
								<string>{ 152.69473,60.19797 }</string>

							</array>

							<array>
	
								<string>{ -32.09401,144.42331 }</string>
	
								<string>{ 10.44119,134.00079 }</string>
	
								<string>{ -21.67148,132.87402 }</string>

							</array>

							<array>
	
								<string>{ 149.31445,92.59233 }</string>
	
								<string>{ 181.70880,111.18390 }</string>
	
								<string>{ 152.13135,82.73318 }</string>

							</array>

							<array>
	
								<string>{ 145.37079,101.32474 }</string>
	
								<string>{ 181.70880,111.18390 }</string>
	
								<string>{ 149.31445,92.59233 }</string>

							</array>

							<array>
	
								<string>{ 136.07501,112.02896 }</string>
	
								<string>{ 192.41302,125.26840 }</string>
	
								<string>{ 181.70880,111.18390 }</string>
	
								<string>{ 145.37079,101.32474 }</string>

							</array>

							<array>
	
								<string>{ 78.04684,132.02896 }</string>
	
								<string>{ 61.42712,133.43741 }</string>
	
								<string>{ -43.64331,151.74725 }</string>
	
								<string>{ -65.33345,159.63458 }</string>
	
								<string>{ 284.37744,159.94418 }</string>
	
								<string>{ 241.42712,130.05713 }</string>

							</array>

							<array>
	
								<string>{ 123.68063,119.35291 }</string>
	
								<string>{ 192.41302,125.26840 }</string>
	
								<string>{ 136.07501,112.02896 }</string>

							</array>

							<array>
	
								<string>{ -32.09401,144.42331 }</string>
	
								<string>{ -43.64331,151.74725 }</string>
	
								<string>{ 38.04684,134.28247 }</string>
	
								<string>{ 10.44119,134.00079 }</string>

							</array>

							<array>
	
								<string>{ 111.56796,124.70502 }</string>
	
								<string>{ 214.94824,130.33881 }</string>
	
								<string>{ 192.41302,125.26840 }</string>
	
								<string>{ 123.68063,119.35291 }</string>

							</array>

							<array>
	
								<string>{ -43.64331,151.74725 }</string>
	
								<string>{ 61.42712,133.43741 }</string>
	
								<string>{ 38.04684,134.28247 }</string>

							</array>

							<array>
	
								<string>{ 101.99051,127.24023 }</string>
	
								<string>{ 214.94824,130.33881 }</string>
	
								<string>{ 111.56796,124.70502 }</string>

							</array>

							<array>
	
								<string>{ 92.41302,129.77545 }</string>
	
								<string>{ 214.94824,130.33881 }</string>
	
								<string>{ 101.99051,127.24023 }</string>

							</array>

							<array>
	
								<string>{ 78.04684,132.02896 }</string>
	
								<string>{ 214.94824,130.33881 }</string>
	
								<string>{ 92.41302,129.77545 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 32.97641,28.56233 }</string>
	
								<string>{ 42.83557,34.19614 }</string>
	
								<string>{ 52.41302,37.01305 }</string>
	
								<string>{ 61.99051,37.85811 }</string>
	
								<string>{ 58.32852,12.22430 }</string>
	
								<string>{ 34.66656,15.88628 }</string>
	
								<string>{ 23.11725,19.82994 }</string>

							</array>

							<array>
	
								<string>{ 80.30035,14.47783 }</string>
	
								<string>{ 67.90601,11.66093 }</string>
	
								<string>{ 58.32852,12.22430 }</string>
	
								<string>{ 61.99051,37.85811 }</string>
	
								<string>{ 74.10318,33.63275 }</string>
	
								<string>{ 81.70880,27.43558 }</string>
	
								<string>{ 89.31445,17.85811 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

