<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D2</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -131.49561,-107.80059 }</string>
	
								<string>{ -142.63930,-97.82991 }</string>
	
								<string>{ -111.84750,-100.46921 }</string>
	
								<string>{ -113.31379,-117.77126 }</string>

							</array>

							<array>
	
								<string>{ -142.63930,-97.82991 }</string>
	
								<string>{ -149.97068,-87.85924 }</string>
	
								<string>{ -151.14370,-58.82698 }</string>
	
								<string>{ -118.29913,-28.03519 }</string>
	
								<string>{ -102.46335,-85.80645 }</string>
	
								<string>{ -111.84750,-100.46921 }</string>

							</array>

							<array>
	
								<string>{ 10.26456,15.13228 }</string>
	
								<string>{ -2.75661,-3.40176 }</string>
	
								<string>{ -29.44283,-28.62170 }</string>
	
								<string>{ -118.29913,-28.03519 }</string>
	
								<string>{ -30.61584,34.13489 }</string>
	
								<string>{ -10.38124,34.72141 }</string>
	
								<string>{ 1.05571,32.96187 }</string>
	
								<string>{ 8.67725,25.71429 }</string>

							</array>

							<array>
	
								<string>{ -151.14370,-58.82698 }</string>
	
								<string>{ -149.97068,-87.85924 }</string>
	
								<string>{ -155.54253,-75.54253 }</string>

							</array>

							<array>
	
								<string>{ -118.29913,-28.03519 }</string>
	
								<string>{ -85.74780,-69.38416 }</string>
	
								<string>{ -102.46335,-85.80645 }</string>

							</array>

							<array>
	
								<string>{ -118.29913,-28.03519 }</string>
	
								<string>{ -29.44283,-28.62170 }</string>
	
								<string>{ -85.74780,-69.38416 }</string>

							</array>

							<array>
	
								<string>{ -240.58651,-15.01466 }</string>
	
								<string>{ -131.78886,15.65982 }</string>
	
								<string>{ -151.14370,-12.78593 }</string>
	
								<string>{ -240.58651,-33.90030 }</string>

							</array>

							<array>
	
								<string>{ -131.78886,15.65982 }</string>
	
								<string>{ -78.41643,27.39003 }</string>
	
								<string>{ -30.61584,34.13489 }</string>
	
								<string>{ -123.57771,-14.54546 }</string>
	
								<string>{ -151.14370,-12.78593 }</string>

							</array>

							<array>
	
								<string>{ -30.61584,34.13489 }</string>
	
								<string>{ -118.29913,-28.03519 }</string>
	
								<string>{ -123.57771,-14.54546 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 239.76538,-49.44282 }</string>
	
								<string>{ 240.35190,-148.56305 }</string>
	
								<string>{ 207.74316,-115.64865 }</string>
	
								<string>{ 211.38947,-48.56305 }</string>

							</array>

							<array>
	
								<string>{ -188.97361,-86.68622 }</string>
	
								<string>{ -170.49854,-102.52200 }</string>
	
								<string>{ -162.28739,-112.78593 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -240.00000,-120.00000 }</string>

							</array>

							<array>
	
								<string>{ 240.35190,-148.56305 }</string>
	
								<string>{ 202.64301,-131.19738 }</string>
	
								<string>{ 207.74316,-115.64865 }</string>

							</array>

							<array>
	
								<string>{ -170.49854,-102.52200 }</string>
	
								<string>{ -188.97361,-86.68622 }</string>
	
								<string>{ -176.65689,-91.37830 }</string>

							</array>

							<array>
	
								<string>{ 240.35190,-148.56305 }</string>
	
								<string>{ 240.76245,-160.17595 }</string>
	
								<string>{ 189.91202,-141.22547 }</string>
	
								<string>{ 202.64301,-131.19738 }</string>

							</array>

							<array>
	
								<string>{ 240.76245,-160.17595 }</string>
	
								<string>{ 169.09091,-145.50327 }</string>
	
								<string>{ 189.91202,-141.22547 }</string>

							</array>

							<array>
	
								<string>{ -153.78300,-122.75660 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -162.28739,-112.78593 }</string>

							</array>

							<array>
	
								<string>{ -140.87977,-131.84751 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -153.78300,-122.75660 }</string>

							</array>

							<array>
	
								<string>{ -130.02933,-138.00587 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -140.87977,-131.84751 }</string>

							</array>

							<array>
	
								<string>{ 240.76245,-160.17595 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ 169.09091,-145.50327 }</string>

							</array>

							<array>
	
								<string>{ -120.93842,-142.40469 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -130.02933,-138.00587 }</string>

							</array>

							<array>
	
								<string>{ -106.56892,-147.39003 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -120.93842,-142.40469 }</string>

							</array>

							<array>
	
								<string>{ -80.46921,-152.66862 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -106.56892,-147.39003 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -107.58987,80.81366 }</string>
	
								<string>{ -83.67639,91.19861 }</string>
	
								<string>{ -48.72163,101.29031 }</string>
	
								<string>{ -4.22289,107.74194 }</string>
	
								<string>{ -44.39883,67.56598 }</string>
	
								<string>{ -68.86934,65.87006 }</string>
	
								<string>{ -104.55026,65.92593 }</string>
	
								<string>{ -112.48677,71.74603 }</string>

							</array>

							<array>
	
								<string>{ 181.11435,-70.55719 }</string>
	
								<string>{ 144.75073,-121.58358 }</string>
	
								<string>{ 50.24655,-122.75039 }</string>
	
								<string>{ 168.21112,-43.87097 }</string>
	
								<string>{ 183.16714,-46.21701 }</string>

							</array>

							<array>
	
								<string>{ -4.22289,107.74194 }</string>
	
								<string>{ 19.47339,107.09802 }</string>
	
								<string>{ 0.76245,68.73900 }</string>
	
								<string>{ -44.39883,67.56598 }</string>

							</array>

							<array>
	
								<string>{ 204.28152,38.24046 }</string>
	
								<string>{ 182.58063,6.56891 }</string>
	
								<string>{ 159.41348,-5.16130 }</string>
	
								<string>{ 142.69794,46.45161 }</string>
	
								<string>{ 192.27515,46.34921 }</string>
	
								<string>{ 204.51736,44.39261 }</string>

							</array>

							<array>
	
								<string>{ 19.47339,107.09802 }</string>
	
								<string>{ 37.24341,104.92667 }</string>
	
								<string>{ 18.35776,66.09970 }</string>
	
								<string>{ 0.76245,68.73900 }</string>

							</array>

							<array>
	
								<string>{ 159.41348,-5.16130 }</string>
	
								<string>{ 146.51025,-16.01173 }</string>
	
								<string>{ 115.42520,49.97067 }</string>
	
								<string>{ 142.69794,46.45161 }</string>

							</array>

							<array>
	
								<string>{ 37.24341,104.92667 }</string>
	
								<string>{ 50.90909,99.53079 }</string>
	
								<string>{ 60.29324,92.78592 }</string>
	
								<string>{ 69.09091,81.05571 }</string>
	
								<string>{ 77.88855,68.15248 }</string>
	
								<string>{ 32.43402,61.70087 }</string>
	
								<string>{ 18.35776,66.09970 }</string>

							</array>

							<array>
	
								<string>{ 146.51025,-16.01173 }</string>
	
								<string>{ 75.24927,11.84750 }</string>
	
								<string>{ 69.97067,26.51025 }</string>
	
								<string>{ 90.49854,58.47507 }</string>
	
								<string>{ 115.42520,49.97067 }</string>

							</array>

							<array>
	
								<string>{ 90.49854,58.47507 }</string>
	
								<string>{ 42.69794,56.71553 }</string>
	
								<string>{ 32.43402,61.70087 }</string>
	
								<string>{ 77.88855,68.15248 }</string>

							</array>

							<array>
	
								<string>{ 90.49854,58.47507 }</string>
	
								<string>{ 54.72141,49.09090 }</string>
	
								<string>{ 42.69794,56.71553 }</string>

							</array>

							<array>
	
								<string>{ 90.49854,58.47507 }</string>
	
								<string>{ 62.93256,39.12022 }</string>
	
								<string>{ 54.72141,49.09090 }</string>

							</array>

							<array>
	
								<string>{ 90.49854,58.47507 }</string>
	
								<string>{ 69.97067,26.51025 }</string>
	
								<string>{ 62.93256,39.12022 }</string>

							</array>

							<array>
	
								<string>{ 146.51025,-16.01173 }</string>
	
								<string>{ 79.94135,-14.54546 }</string>
	
								<string>{ 75.24927,11.84750 }</string>

							</array>

							<array>
	
								<string>{ 146.51025,-16.01173 }</string>
	
								<string>{ 80.52786,-31.55426 }</string>
	
								<string>{ 79.94135,-14.54546 }</string>

							</array>

							<array>
	
								<string>{ 146.51025,-16.01173 }</string>
	
								<string>{ 80.52786,-46.51027 }</string>
	
								<string>{ 80.52786,-31.55426 }</string>

							</array>

							<array>
	
								<string>{ 146.51025,-16.01173 }</string>
	
								<string>{ 79.35483,-62.34605 }</string>
	
								<string>{ 80.52786,-46.51027 }</string>

							</array>

							<array>
	
								<string>{ 146.51025,-16.01173 }</string>
	
								<string>{ 77.00879,-77.88857 }</string>
	
								<string>{ 79.35483,-62.34605 }</string>

							</array>

							<array>
	
								<string>{ 146.51025,-16.01173 }</string>
	
								<string>{ 144.16422,-26.27567 }</string>
	
								<string>{ 73.48972,-95.02460 }</string>
	
								<string>{ 77.00879,-77.88857 }</string>

							</array>

							<array>
	
								<string>{ 50.24655,-122.75039 }</string>
	
								<string>{ 156.77417,-39.17889 }</string>
	
								<string>{ 168.21112,-43.87097 }</string>

							</array>

							<array>
	
								<string>{ 50.24655,-122.75039 }</string>
	
								<string>{ 148.26978,-33.02053 }</string>
	
								<string>{ 156.77417,-39.17889 }</string>

							</array>

							<array>
	
								<string>{ 148.26978,-33.02053 }</string>
	
								<string>{ 64.15677,-109.51512 }</string>
	
								<string>{ 73.48972,-95.02460 }</string>
	
								<string>{ 144.16422,-26.27567 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 228.91495,54.43932 }</string>
	
								<string>{ 240.70505,57.08110 }</string>
	
								<string>{ 240.05862,27.68327 }</string>
	
								<string>{ 226.27563,24.28152 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

