<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D18</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 8.60336,-51.62011 }</string>
	
								<string>{ -19.05028,-42.68156 }</string>
	
								<string>{ -0.89384,-30.11172 }</string>

							</array>

							<array>
	
								<string>{ 214.46927,58.15643 }</string>
	
								<string>{ 239.88828,56.48045 }</string>
	
								<string>{ 208.60336,27.15085 }</string>
	
								<string>{ 201.89944,45.30727 }</string>

							</array>

							<array>
	
								<string>{ 72.29050,-112.23463 }</string>
	
								<string>{ 62.79330,-103.29609 }</string>
	
								<string>{ 77.59778,-107.20670 }</string>

							</array>

							<array>
	
								<string>{ 8.60336,-51.62011 }</string>
	
								<string>{ 16.42459,-66.14525 }</string>
	
								<string>{ -45.86592,-53.57542 }</string>
	
								<string>{ -19.05028,-42.68156 }</string>

							</array>

							<array>
	
								<string>{ 239.88828,56.48045 }</string>
	
								<string>{ 216.98325,-8.32402 }</string>
	
								<string>{ 213.07263,6.48045 }</string>
	
								<string>{ 208.60336,27.15085 }</string>

							</array>

							<array>
	
								<string>{ -177.15084,50.89386 }</string>
	
								<string>{ -191.67598,-75.08379 }</string>
	
								<string>{ -193.63128,-80.94972 }</string>
	
								<string>{ -240.27933,-160.27933 }</string>
	
								<string>{ -240.55866,55.13966 }</string>

							</array>

							<array>
	
								<string>{ -93.35196,12.06705 }</string>
	
								<string>{ -99.21788,-1.89944 }</string>
	
								<string>{ -122.12290,-22.56982 }</string>
	
								<string>{ -147.54190,-39.60893 }</string>
	
								<string>{ -177.15084,50.89386 }</string>
	
								<string>{ -136.92738,43.91061 }</string>
	
								<string>{ -100.61452,31.06146 }</string>
	
								<string>{ -94.46927,23.51956 }</string>

							</array>

							<array>
	
								<string>{ -186.64804,-66.42458 }</string>
	
								<string>{ -177.15084,50.89386 }</string>
	
								<string>{ -147.54190,-39.60893 }</string>

							</array>

							<array>
	
								<string>{ -3.40782,-94.35754 }</string>
	
								<string>{ 41.28491,-91.56425 }</string>
	
								<string>{ 51.34079,-97.43017 }</string>
	
								<string>{ 72.29050,-112.23463 }</string>
	
								<string>{ 24.80447,-112.51397 }</string>

							</array>

							<array>
	
								<string>{ 16.42459,-66.14525 }</string>
	
								<string>{ -38.04469,-89.60894 }</string>
	
								<string>{ -91.95531,-102.73743 }</string>
	
								<string>{ -78.82681,-63.63129 }</string>
	
								<string>{ -45.86592,-53.57542 }</string>

							</array>

							<array>
	
								<string>{ 240.50281,-160.22346 }</string>
	
								<string>{ 217.82123,-20.89384 }</string>
	
								<string>{ 216.98325,-8.32402 }</string>
	
								<string>{ 239.88828,56.48045 }</string>

							</array>

							<array>
	
								<string>{ 72.29050,-112.23463 }</string>
	
								<string>{ 51.34079,-97.43017 }</string>
	
								<string>{ 62.79330,-103.29609 }</string>

							</array>

							<array>
	
								<string>{ -3.40782,-94.35754 }</string>
	
								<string>{ 31.78772,-84.02235 }</string>
	
								<string>{ 41.28491,-91.56425 }</string>

							</array>

							<array>
	
								<string>{ -3.40782,-94.35754 }</string>
	
								<string>{ 23.40784,-77.03910 }</string>
	
								<string>{ 31.78772,-84.02235 }</string>

							</array>

							<array>
	
								<string>{ -3.40782,-94.35754 }</string>
	
								<string>{ -38.04469,-89.60894 }</string>
	
								<string>{ 16.42459,-66.14525 }</string>
	
								<string>{ 23.40784,-77.03910 }</string>

							</array>

							<array>
	
								<string>{ -91.95531,-102.73743 }</string>
	
								<string>{ -138.04469,-127.59776 }</string>
	
								<string>{ -128.82681,-77.03910 }</string>
	
								<string>{ -78.82681,-63.63129 }</string>

							</array>

							<array>
	
								<string>{ -138.04469,-127.59776 }</string>
	
								<string>{ -162.34637,-144.35754 }</string>
	
								<string>{ -165.13966,-84.86034 }</string>
	
								<string>{ -128.82681,-77.03910 }</string>

							</array>

							<array>
	
								<string>{ -162.34637,-144.35754 }</string>
	
								<string>{ -180.50279,-86.53631 }</string>
	
								<string>{ -165.13966,-84.86034 }</string>

							</array>

							<array>
	
								<string>{ -162.34637,-144.35754 }</string>
	
								<string>{ -189.16201,-85.69833 }</string>
	
								<string>{ -180.50279,-86.53631 }</string>

							</array>

							<array>
	
								<string>{ 88.77097,-136.25698 }</string>
	
								<string>{ 4.69275,-149.66480 }</string>
	
								<string>{ 28.15643,-138.77095 }</string>

							</array>

							<array>
	
								<string>{ -191.67598,-75.08379 }</string>
	
								<string>{ -177.15084,50.89386 }</string>
	
								<string>{ -186.64804,-66.42458 }</string>

							</array>

							<array>
	
								<string>{ -162.34637,-144.35754 }</string>
	
								<string>{ -240.27933,-160.27933 }</string>
	
								<string>{ -193.63128,-80.94972 }</string>
	
								<string>{ -189.16201,-85.69833 }</string>

							</array>

							<array>
	
								<string>{ 123.40784,-134.30168 }</string>
	
								<string>{ 240.50281,-160.22346 }</string>
	
								<string>{ 4.69275,-149.66480 }</string>
	
								<string>{ 88.77097,-136.25698 }</string>

							</array>

							<array>
	
								<string>{ -77.15083,-150.22346 }</string>
	
								<string>{ -240.27933,-160.27933 }</string>
	
								<string>{ -162.34637,-144.35754 }</string>

							</array>

							<array>
	
								<string>{ -77.15083,-150.22346 }</string>
	
								<string>{ 4.69275,-149.66480 }</string>
	
								<string>{ 240.50281,-160.22346 }</string>
	
								<string>{ -240.27933,-160.27933 }</string>

							</array>

							<array>
	
								<string>{ 134.58102,-132.90503 }</string>
	
								<string>{ 240.50281,-160.22346 }</string>
	
								<string>{ 123.40784,-134.30168 }</string>

							</array>

							<array>
	
								<string>{ 146.03354,-128.43575 }</string>
	
								<string>{ 240.50281,-160.22346 }</string>
	
								<string>{ 134.58102,-132.90503 }</string>

							</array>

							<array>
	
								<string>{ 160.83798,-120.33519 }</string>
	
								<string>{ 240.50281,-160.22346 }</string>
	
								<string>{ 146.03354,-128.43575 }</string>

							</array>

							<array>
	
								<string>{ 173.68716,-109.44134 }</string>
	
								<string>{ 240.50281,-160.22346 }</string>
	
								<string>{ 160.83798,-120.33519 }</string>

							</array>

							<array>
	
								<string>{ 185.69833,-94.35754 }</string>
	
								<string>{ 240.50281,-160.22346 }</string>
	
								<string>{ 173.68716,-109.44134 }</string>

							</array>

							<array>
	
								<string>{ 197.70950,-75.64246 }</string>
	
								<string>{ 240.50281,-160.22346 }</string>
	
								<string>{ 185.69833,-94.35754 }</string>

							</array>

							<array>
	
								<string>{ 208.88269,-56.36871 }</string>
	
								<string>{ 240.50281,-160.22346 }</string>
	
								<string>{ 197.70950,-75.64246 }</string>

							</array>

							<array>
	
								<string>{ 214.46927,-42.40223 }</string>
	
								<string>{ 240.50281,-160.22346 }</string>
	
								<string>{ 208.88269,-56.36871 }</string>

							</array>

							<array>
	
								<string>{ 216.98325,-30.67039 }</string>
	
								<string>{ 240.50281,-160.22346 }</string>
	
								<string>{ 214.46927,-42.40223 }</string>

							</array>

							<array>
	
								<string>{ 217.82123,-20.89384 }</string>
	
								<string>{ 240.50281,-160.22346 }</string>
	
								<string>{ 216.98325,-30.67039 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 169.77655,33.29610 }</string>
	
								<string>{ 169.21790,52.84917 }</string>
	
								<string>{ 182.34637,24.07822 }</string>

							</array>

							<array>
	
								<string>{ 157.76538,38.32402 }</string>
	
								<string>{ 145.75421,74.07822 }</string>
	
								<string>{ 169.21790,52.84917 }</string>
	
								<string>{ 169.77655,33.29610 }</string>

							</array>

							<array>
	
								<string>{ 144.63687,41.67598 }</string>
	
								<string>{ 145.75421,74.07822 }</string>
	
								<string>{ 157.76538,38.32402 }</string>

							</array>

							<array>
	
								<string>{ 128.43576,44.18994 }</string>
	
								<string>{ 116.98325,94.46928 }</string>
	
								<string>{ 145.75421,74.07822 }</string>
	
								<string>{ 144.63687,41.67598 }</string>

							</array>

							<array>
	
								<string>{ 111.11734,43.35196 }</string>
	
								<string>{ 30.67041,51.45251 }</string>
	
								<string>{ 116.98325,94.46928 }</string>
	
								<string>{ 128.43576,44.18994 }</string>

							</array>

							<array>
	
								<string>{ 30.67041,51.45251 }</string>
	
								<string>{ 21.73184,65.13966 }</string>
	
								<string>{ 111.95532,120.44693 }</string>
	
								<string>{ 116.98325,94.46928 }</string>

							</array>

							<array>
	
								<string>{ -56.20111,159.88828 }</string>
	
								<string>{ 136.03354,159.60895 }</string>
	
								<string>{ 121.73184,143.07263 }</string>
	
								<string>{ -27.98882,109.55307 }</string>
	
								<string>{ -40.83798,124.07822 }</string>
	
								<string>{ -53.12849,140.27933 }</string>
	
								<string>{ -57.03911,151.17319 }</string>

							</array>

							<array>
	
								<string>{ 6.92738,81.34079 }</string>
	
								<string>{ 121.73184,143.07263 }</string>
	
								<string>{ 111.95532,120.44693 }</string>
	
								<string>{ 21.73184,65.13966 }</string>

							</array>

							<array>
	
								<string>{ -6.48044,92.23465 }</string>
	
								<string>{ 121.73184,143.07263 }</string>
	
								<string>{ 6.92738,81.34079 }</string>

							</array>

							<array>
	
								<string>{ -27.98882,109.55307 }</string>
	
								<string>{ 121.73184,143.07263 }</string>
	
								<string>{ -6.48044,92.23465 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 41.84357,-54.13408 }</string>
	
								<string>{ 59.16202,-51.34078 }</string>
	
								<string>{ 59.44135,-67.54190 }</string>

							</array>

							<array>
	
								<string>{ 41.84357,-54.13408 }</string>
	
								<string>{ 35.41901,-43.24022 }</string>
	
								<string>{ 33.46368,-31.78770 }</string>
	
								<string>{ 60.00000,-28.99442 }</string>
	
								<string>{ 59.16202,-51.34078 }</string>

							</array>

							<array>
	
								<string>{ 33.46368,-31.78770 }</string>
	
								<string>{ 30.11172,-24.24580 }</string>
	
								<string>{ 49.94415,19.60895 }</string>
	
								<string>{ 64.74860,16.81564 }</string>
	
								<string>{ 65.58661,-9.72067 }</string>
	
								<string>{ 60.00000,-28.99442 }</string>

							</array>

							<array>
	
								<string>{ 74.52515,4.80447 }</string>
	
								<string>{ 79.83240,16.53632 }</string>
	
								<string>{ 99.16202,20.78212 }</string>

							</array>

							<array>
	
								<string>{ 74.52515,4.80447 }</string>
	
								<string>{ 65.58661,-9.72067 }</string>
	
								<string>{ 64.74860,16.81564 }</string>
	
								<string>{ 79.83240,16.53632 }</string>

							</array>

							<array>
	
								<string>{ 49.94415,19.60895 }</string>
	
								<string>{ 30.11172,-24.24580 }</string>
	
								<string>{ 21.45251,-14.46927 }</string>
	
								<string>{ 35.97766,22.45810 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

