<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D41</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 213.80042,108.15216 }</string>
	
								<string>{ 239.60199,98.20895 }</string>
	
								<string>{ 198.32114,42.14226 }</string>
	
								<string>{ 180.22467,114.19843 }</string>

							</array>

							<array>
	
								<string>{ 21.19403,20.59702 }</string>
	
								<string>{ 33.63184,-48.55721 }</string>
	
								<string>{ 9.75125,-57.51244 }</string>
	
								<string>{ -2.68657,-19.70149 }</string>
	
								<string>{ 2.78607,16.11940 }</string>

							</array>

							<array>
	
								<string>{ 9.75125,-57.51244 }</string>
	
								<string>{ -11.64178,-42.58707 }</string>
	
								<string>{ -2.68657,-19.70149 }</string>

							</array>

							<array>
	
								<string>{ 9.75125,-57.51244 }</string>
	
								<string>{ -17.11443,-91.34328 }</string>
	
								<string>{ -21.59204,-59.50249 }</string>
	
								<string>{ -11.64178,-42.58707 }</string>

							</array>

							<array>
	
								<string>{ -17.11443,-91.34328 }</string>
	
								<string>{ -32.03979,-72.43781 }</string>
	
								<string>{ -21.59204,-59.50249 }</string>

							</array>

							<array>
	
								<string>{ -17.11443,-91.34328 }</string>
	
								<string>{ -50.44775,-150.54726 }</string>
	
								<string>{ -42.98508,-81.89055 }</string>
	
								<string>{ -32.03979,-72.43781 }</string>

							</array>

							<array>
	
								<string>{ 239.60199,98.20895 }</string>
	
								<string>{ 241.79105,-160.29851 }</string>
	
								<string>{ 202.28857,6.16916 }</string>
	
								<string>{ 198.32114,42.14226 }</string>

							</array>

							<array>
	
								<string>{ -50.44775,-150.54726 }</string>
	
								<string>{ -56.91542,-89.85075 }</string>
	
								<string>{ -42.98508,-81.89055 }</string>

							</array>

							<array>
	
								<string>{ -50.44775,-150.54726 }</string>
	
								<string>{ -73.33333,-97.31343 }</string>
	
								<string>{ -56.91542,-89.85075 }</string>

							</array>

							<array>
	
								<string>{ -50.44775,-150.54726 }</string>
	
								<string>{ -93.23383,-102.28856 }</string>
	
								<string>{ -73.33333,-97.31343 }</string>

							</array>

							<array>
	
								<string>{ -50.44775,-150.54726 }</string>
	
								<string>{ -114.62686,-102.78607 }</string>
	
								<string>{ -93.23383,-102.28856 }</string>

							</array>

							<array>
	
								<string>{ -131.54229,20.59702 }</string>
	
								<string>{ -240.00000,35.52238 }</string>
	
								<string>{ -78.80597,44.97513 }</string>
	
								<string>{ -85.77115,31.54228 }</string>

							</array>

							<array>
	
								<string>{ 112.73633,-125.67164 }</string>
	
								<string>{ 241.79105,-160.29851 }</string>
	
								<string>{ 75.42288,-148.55721 }</string>
	
								<string>{ 89.35324,-135.62189 }</string>

							</array>

							<array>
	
								<string>{ -50.44775,-150.54726 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -135.52238,-99.80099 }</string>
	
								<string>{ -114.62686,-102.78607 }</string>

							</array>

							<array>
	
								<string>{ -148.45771,15.12437 }</string>
	
								<string>{ -240.00000,35.52238 }</string>
	
								<string>{ -131.54229,20.59702 }</string>

							</array>

							<array>
	
								<string>{ -161.39304,8.65672 }</string>
	
								<string>{ -240.00000,35.52238 }</string>
	
								<string>{ -148.45771,15.12437 }</string>

							</array>

							<array>
	
								<string>{ -173.33334,-0.29851 }</string>
	
								<string>{ -240.00000,35.52238 }</string>
	
								<string>{ -161.39304,8.65672 }</string>

							</array>

							<array>
	
								<string>{ -179.80099,-7.76120 }</string>
	
								<string>{ -240.00000,35.52238 }</string>
	
								<string>{ -173.33334,-0.29851 }</string>

							</array>

							<array>
	
								<string>{ -187.19462,-17.72554 }</string>
	
								<string>{ -240.00000,35.52238 }</string>
	
								<string>{ -179.80099,-7.76120 }</string>

							</array>

							<array>
	
								<string>{ -187.19462,-17.72554 }</string>
	
								<string>{ -190.14164,-29.12181 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -240.00000,35.52238 }</string>

							</array>

							<array>
	
								<string>{ 241.79105,-160.29851 }</string>
	
								<string>{ 203.28357,-14.22885 }</string>
	
								<string>{ 202.28857,6.16916 }</string>

							</array>

							<array>
	
								<string>{ 241.79105,-160.29851 }</string>
	
								<string>{ 200.79602,-35.62189 }</string>
	
								<string>{ 203.28357,-14.22885 }</string>

							</array>

							<array>
	
								<string>{ 241.79105,-160.29851 }</string>
	
								<string>{ 198.52692,-48.10198 }</string>
	
								<string>{ 200.79602,-35.62189 }</string>

							</array>

							<array>
	
								<string>{ 241.79105,-160.29851 }</string>
	
								<string>{ 193.83084,-60.00000 }</string>
	
								<string>{ 198.52692,-48.10198 }</string>

							</array>

							<array>
	
								<string>{ 241.79105,-160.29851 }</string>
	
								<string>{ 185.77905,-75.01416 }</string>
	
								<string>{ 193.83084,-60.00000 }</string>

							</array>

							<array>
	
								<string>{ 241.79105,-160.29851 }</string>
	
								<string>{ 174.42786,-88.85572 }</string>
	
								<string>{ 185.77905,-75.01416 }</string>

							</array>

							<array>
	
								<string>{ 241.79105,-160.29851 }</string>
	
								<string>{ 144.07959,-107.76119 }</string>
	
								<string>{ 174.42786,-88.85572 }</string>

							</array>

							<array>
	
								<string>{ 241.79105,-160.29851 }</string>
	
								<string>{ 112.73633,-125.67164 }</string>
	
								<string>{ 144.07959,-107.76119 }</string>

							</array>

							<array>
	
								<string>{ 241.79105,-160.29851 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ 75.42288,-148.55721 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -151.94030,-93.33334 }</string>
	
								<string>{ -135.52238,-99.80099 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -167.36318,-85.87064 }</string>
	
								<string>{ -151.94030,-93.33334 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -179.80099,-74.42786 }</string>
	
								<string>{ -167.36318,-85.87064 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -184.75920,-65.94901 }</string>
	
								<string>{ -179.80099,-74.42786 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -187.76119,-58.00995 }</string>
	
								<string>{ -184.75920,-65.94901 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -190.42493,-47.81870 }</string>
	
								<string>{ -187.76119,-58.00995 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -190.14164,-29.12181 }</string>
	
								<string>{ -190.42493,-47.81870 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 102.78607,-94.82587 }</string>
	
								<string>{ 73.93036,-59.00497 }</string>
	
								<string>{ 104.77612,-22.18906 }</string>
	
								<string>{ 124.67661,-57.51244 }</string>
	
								<string>{ 125.67163,-83.38309 }</string>

							</array>

							<array>
	
								<string>{ 73.93036,-59.00497 }</string>
	
								<string>{ 53.53235,-51.54229 }</string>
	
								<string>{ 47.56219,24.77612 }</string>
	
								<string>{ 66.16916,28.25871 }</string>
	
								<string>{ 89.85074,16.11940 }</string>
	
								<string>{ 104.77612,-22.18906 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -12.13930,73.83084 }</string>
	
								<string>{ -3.60143,122.28699 }</string>
	
								<string>{ 16.71643,58.40796 }</string>
	
								<string>{ -9.29234,53.50894 }</string>

							</array>

							<array>
	
								<string>{ -12.13930,73.83084 }</string>
	
								<string>{ -30.76434,131.08279 }</string>
	
								<string>{ -3.60143,122.28699 }</string>

							</array>

							<array>
	
								<string>{ -63.88060,132.23880 }</string>
	
								<string>{ -30.76434,131.08279 }</string>
	
								<string>{ -47.46269,116.11942 }</string>
	
								<string>{ -63.38309,124.57712 }</string>

							</array>

							<array>
	
								<string>{ -30.76434,131.08279 }</string>
	
								<string>{ -36.51741,108.94000 }</string>
	
								<string>{ -47.46269,116.11942 }</string>

							</array>

							<array>
	
								<string>{ -30.76434,131.08279 }</string>
	
								<string>{ -23.72725,97.78052 }</string>
	
								<string>{ -36.51741,108.94000 }</string>

							</array>

							<array>
	
								<string>{ -30.76434,131.08279 }</string>
	
								<string>{ -16.19551,85.55692 }</string>
	
								<string>{ -23.72725,97.78052 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 21.75638,131.55807 }</string>
	
								<string>{ 122.73883,119.93631 }</string>
	
								<string>{ 117.22379,82.49292 }</string>
	
								<string>{ 35.63739,62.94618 }</string>

							</array>

							<array>
	
								<string>{ 145.83569,72.29462 }</string>
	
								<string>{ 122.73883,119.93631 }</string>
	
								<string>{ 155.30936,107.76746 }</string>
	
								<string>{ 174.16431,54.44760 }</string>

							</array>

							<array>
	
								<string>{ 122.73883,119.93631 }</string>
	
								<string>{ 132.23798,79.94334 }</string>
	
								<string>{ 117.22379,82.49292 }</string>

							</array>

							<array>
	
								<string>{ 132.23798,79.94334 }</string>
	
								<string>{ 122.73883,119.93631 }</string>
	
								<string>{ 145.83569,72.29462 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

