<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D17</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 182.06705,-121.73184 }</string>
	
								<string>{ 190.72626,-124.24581 }</string>
	
								<string>{ 203.85477,-133.18436 }</string>
	
								<string>{ 214.18994,-142.96089 }</string>
	
								<string>{ 173.96649,-135.97765 }</string>
	
								<string>{ 174.80447,-125.36313 }</string>

							</array>

							<array>
	
								<string>{ 155.81006,-149.10614 }</string>
	
								<string>{ 134.58102,-152.73743 }</string>
	
								<string>{ 146.03354,-145.47486 }</string>

							</array>

							<array>
	
								<string>{ -36.36871,-109.44134 }</string>
	
								<string>{ -17.65363,-119.21788 }</string>
	
								<string>{ -33.57541,-127.31844 }</string>
	
								<string>{ -54.24580,-112.23463 }</string>
	
								<string>{ -50.05586,-106.92737 }</string>

							</array>

							<array>
	
								<string>{ -17.65363,-119.21788 }</string>
	
								<string>{ 31.50839,-130.11173 }</string>
	
								<string>{ 54.13409,-138.21229 }</string>
	
								<string>{ 66.70392,-151.62011 }</string>
	
								<string>{ -31.06145,-147.43017 }</string>
	
								<string>{ -33.57541,-127.31844 }</string>

							</array>

							<array>
	
								<string>{ 240.50281,-159.94413 }</string>
	
								<string>{ 155.81006,-149.10614 }</string>
	
								<string>{ 169.77655,-144.35754 }</string>
	
								<string>{ 214.18994,-142.96089 }</string>
	
								<string>{ 240.16760,-149.94413 }</string>

							</array>

							<array>
	
								<string>{ 214.18994,-142.96089 }</string>
	
								<string>{ 169.77655,-144.35754 }</string>
	
								<string>{ 173.96649,-135.97765 }</string>

							</array>

							<array>
	
								<string>{ -202.29050,-144.63687 }</string>
	
								<string>{ -101.17319,-149.66480 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -240.27933,-152.12291 }</string>

							</array>

							<array>
	
								<string>{ 240.50281,-159.94413 }</string>
	
								<string>{ 134.58102,-152.73743 }</string>
	
								<string>{ 155.81006,-149.10614 }</string>

							</array>

							<array>
	
								<string>{ 240.50281,-159.94413 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -101.17319,-149.66480 }</string>
	
								<string>{ -31.06145,-147.43017 }</string>

							</array>

							<array>
	
								<string>{ 240.50281,-159.94413 }</string>
	
								<string>{ 66.70392,-151.62011 }</string>
	
								<string>{ 134.58102,-152.73743 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 72.01117,23.24023 }</string>
	
								<string>{ 51.62012,2.01117 }</string>
	
								<string>{ 23.40784,-17.54190 }</string>
	
								<string>{ 44.63687,11.78772 }</string>
	
								<string>{ 69.77655,31.62012 }</string>
	
								<string>{ 77.59778,34.41341 }</string>

							</array>

							<array>
	
								<string>{ 23.40784,-17.54190 }</string>
	
								<string>{ -5.64246,-35.41899 }</string>
	
								<string>{ 15.02794,-8.60335 }</string>
	
								<string>{ 44.63687,11.78772 }</string>

							</array>

							<array>
	
								<string>{ -5.64246,-35.41899 }</string>
	
								<string>{ -32.17877,-48.26815 }</string>
	
								<string>{ -30.50279,-27.87709 }</string>
	
								<string>{ 15.02794,-8.60335 }</string>

							</array>

							<array>
	
								<string>{ -32.17877,-48.26815 }</string>
	
								<string>{ -50.89384,-69.21787 }</string>
	
								<string>{ -110.94972,-80.94972 }</string>
	
								<string>{ -62.01117,-34.80447 }</string>
	
								<string>{ -30.50279,-27.87709 }</string>

							</array>

							<array>
	
								<string>{ -110.94972,-80.94972 }</string>
	
								<string>{ -173.24022,-70.33519 }</string>
	
								<string>{ -121.56424,-34.58100 }</string>
	
								<string>{ -62.01117,-34.80447 }</string>

							</array>

							<array>
	
								<string>{ -173.24022,-70.33519 }</string>
	
								<string>{ -186.92737,-37.93296 }</string>
	
								<string>{ -178.26815,-28.43575 }</string>
	
								<string>{ -121.56424,-34.58100 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-41.56424 }</string>
	
								<string>{ -239.72067,-27.82123 }</string>
	
								<string>{ -186.92737,-37.93296 }</string>
	
								<string>{ -173.24022,-70.33519 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 81.78772,-31.78770 }</string>
	
								<string>{ 104.13409,-50.22346 }</string>
	
								<string>{ 97.98883,-101.34078 }</string>
	
								<string>{ 68.37988,-72.84916 }</string>
	
								<string>{ 58.04471,-46.31284 }</string>

							</array>

							<array>
	
								<string>{ 116.70392,-108.88268 }</string>
	
								<string>{ 97.98883,-101.34078 }</string>
	
								<string>{ 104.13409,-50.22346 }</string>
	
								<string>{ 118.10056,-54.13408 }</string>
	
								<string>{ 141.28491,-81.78770 }</string>
	
								<string>{ 136.25699,-109.72067 }</string>

							</array>

							<array>
	
								<string>{ 95.75421,-20.61452 }</string>
	
								<string>{ 170.61453,32.73743 }</string>
	
								<string>{ 165.30728,10.11174 }</string>
	
								<string>{ 145.19553,-15.58659 }</string>
	
								<string>{ 104.13409,-50.22346 }</string>
	
								<string>{ 81.78772,-31.78770 }</string>

							</array>

							<array>
	
								<string>{ 170.61453,32.73743 }</string>
	
								<string>{ 124.24582,52.29051 }</string>
	
								<string>{ 116.98325,56.75978 }</string>
	
								<string>{ 100.55865,89.49721 }</string>
	
								<string>{ 137.09497,79.94414 }</string>
	
								<string>{ 158.04471,69.32962 }</string>
	
								<string>{ 167.82123,56.48045 }</string>

							</array>

							<array>
	
								<string>{ 14.46928,93.07263 }</string>
	
								<string>{ 100.55865,89.49721 }</string>
	
								<string>{ 68.93857,68.21230 }</string>
	
								<string>{ -72.96089,68.77095 }</string>
	
								<string>{ -91.39665,86.98325 }</string>

							</array>

							<array>
	
								<string>{ 100.55865,89.49721 }</string>
	
								<string>{ 87.65363,66.81564 }</string>
	
								<string>{ 68.93857,68.21230 }</string>

							</array>

							<array>
	
								<string>{ 100.55865,89.49721 }</string>
	
								<string>{ 105.81006,61.50838 }</string>
	
								<string>{ 87.65363,66.81564 }</string>

							</array>

							<array>
	
								<string>{ 100.55865,89.49721 }</string>
	
								<string>{ 116.98325,56.75978 }</string>
	
								<string>{ 105.81006,61.50838 }</string>

							</array>

							<array>
	
								<string>{ 107.48605,-8.32402 }</string>
	
								<string>{ 170.61453,32.73743 }</string>
	
								<string>{ 95.75421,-20.61452 }</string>

							</array>

							<array>
	
								<string>{ 118.65924,4.80447 }</string>
	
								<string>{ 170.61453,32.73743 }</string>
	
								<string>{ 107.48605,-8.32402 }</string>

							</array>

							<array>
	
								<string>{ 125.08380,16.25699 }</string>
	
								<string>{ 170.61453,32.73743 }</string>
	
								<string>{ 118.65924,4.80447 }</string>

							</array>

							<array>
	
								<string>{ 129.55307,25.19554 }</string>
	
								<string>{ 170.61453,32.73743 }</string>
	
								<string>{ 125.08380,16.25699 }</string>

							</array>

							<array>
	
								<string>{ 132.34637,36.08939 }</string>
	
								<string>{ 170.61453,32.73743 }</string>
	
								<string>{ 129.55307,25.19554 }</string>

							</array>

							<array>
	
								<string>{ 130.39108,45.02794 }</string>
	
								<string>{ 170.61453,32.73743 }</string>
	
								<string>{ 132.34637,36.08939 }</string>

							</array>

							<array>
	
								<string>{ 124.24582,52.29051 }</string>
	
								<string>{ 170.61453,32.73743 }</string>
	
								<string>{ 130.39108,45.02794 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

