<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D40</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -222.68156,-137.09497 }</string>
	
								<string>{ -239.72067,-160.00000 }</string>
	
								<string>{ -240.55866,-146.53631 }</string>

							</array>

							<array>
	
								<string>{ -8.15642,-57.48603 }</string>
	
								<string>{ 24.24582,-77.59776 }</string>
	
								<string>{ -26.87151,-85.41899 }</string>
	
								<string>{ -46.70390,-67.82123 }</string>
	
								<string>{ -31.34077,-58.60335 }</string>
	
								<string>{ -17.93295,-51.89944 }</string>

							</array>

							<array>
	
								<string>{ 1.89944,78.26816 }</string>
	
								<string>{ 20.89386,83.01677 }</string>
	
								<string>{ 79.55307,85.53073 }</string>
	
								<string>{ 47.98883,52.01118 }</string>
	
								<string>{ 9.44135,66.81564 }</string>
	
								<string>{ 1.06146,73.51956 }</string>

							</array>

							<array>
	
								<string>{ 79.55307,85.53073 }</string>
	
								<string>{ 85.69833,70.44693 }</string>
	
								<string>{ 68.65921,41.11732 }</string>
	
								<string>{ 47.98883,52.01118 }</string>

							</array>

							<array>
	
								<string>{ -179.94413,-59.16201 }</string>
	
								<string>{ -150.89385,-61.11732 }</string>
	
								<string>{ -218.21229,-111.67598 }</string>
	
								<string>{ -211.78771,-91.56425 }</string>
	
								<string>{ -199.77654,-68.93855 }</string>

							</array>

							<array>
	
								<string>{ 100.50281,57.59776 }</string>
	
								<string>{ 68.65921,41.11732 }</string>
	
								<string>{ 85.69833,70.44693 }</string>

							</array>

							<array>
	
								<string>{ 128.15643,43.63129 }</string>
	
								<string>{ 80.11172,31.62012 }</string>
	
								<string>{ 68.65921,41.11732 }</string>
	
								<string>{ 100.50281,57.59776 }</string>

							</array>

							<array>
	
								<string>{ -59.83240,-76.48045 }</string>
	
								<string>{ -46.70390,-67.82123 }</string>
	
								<string>{ -26.87151,-85.41899 }</string>
	
								<string>{ -64.30167,-87.09497 }</string>
	
								<string>{ -64.58101,-82.34637 }</string>

							</array>

							<array>
	
								<string>{ -150.33519,-73.40782 }</string>
	
								<string>{ -150.89385,-61.11732 }</string>
	
								<string>{ -116.81564,-73.12849 }</string>
	
								<string>{ -115.41899,-80.94972 }</string>

							</array>

							<array>
	
								<string>{ -173.24022,-78.15643 }</string>
	
								<string>{ -150.89385,-61.11732 }</string>
	
								<string>{ -150.33519,-73.40782 }</string>

							</array>

							<array>
	
								<string>{ 162.23465,35.25140 }</string>
	
								<string>{ 84.30170,23.51956 }</string>
	
								<string>{ 80.11172,31.62012 }</string>
	
								<string>{ 128.15643,43.63129 }</string>

							</array>

							<array>
	
								<string>{ 241.06146,-159.66481 }</string>
	
								<string>{ 185.13968,-18.10056 }</string>
	
								<string>{ 183.18436,-10.83798 }</string>
	
								<string>{ 204.13409,30.22346 }</string>
	
								<string>{ 240.16760,30.50279 }</string>

							</array>

							<array>
	
								<string>{ 168.37988,-43.24022 }</string>
	
								<string>{ 165.58661,-84.86034 }</string>
	
								<string>{ 152.45810,-76.48045 }</string>
	
								<string>{ 143.79889,-58.04469 }</string>
	
								<string>{ 163.35196,-40.72626 }</string>

							</array>

							<array>
	
								<string>{ 4.41341,-61.11732 }</string>
	
								<string>{ 24.24582,-77.59776 }</string>
	
								<string>{ -8.15642,-57.48603 }</string>

							</array>

							<array>
	
								<string>{ 19.21790,-63.07262 }</string>
	
								<string>{ 24.24582,-77.59776 }</string>
	
								<string>{ 4.41341,-61.11732 }</string>

							</array>

							<array>
	
								<string>{ 37.65363,-63.35195 }</string>
	
								<string>{ 24.24582,-77.59776 }</string>
	
								<string>{ 19.21790,-63.07262 }</string>

							</array>

							<array>
	
								<string>{ 55.25140,-61.11732 }</string>
	
								<string>{ 77.31845,-71.73184 }</string>
	
								<string>{ 24.24582,-77.59776 }</string>
	
								<string>{ 37.65363,-63.35195 }</string>

							</array>

							<array>
	
								<string>{ 69.49722,-57.76536 }</string>
	
								<string>{ 83.74301,-56.92738 }</string>
	
								<string>{ 111.67599,-60.00000 }</string>
	
								<string>{ 123.96649,-72.01117 }</string>
	
								<string>{ 77.31845,-71.73184 }</string>
	
								<string>{ 55.25140,-61.11732 }</string>

							</array>

							<array>
	
								<string>{ 128.71509,-60.55865 }</string>
	
								<string>{ 123.96649,-72.01117 }</string>
	
								<string>{ 111.67599,-60.00000 }</string>

							</array>

							<array>
	
								<string>{ 143.79889,-58.04469 }</string>
	
								<string>{ 152.45810,-76.48045 }</string>
	
								<string>{ 123.96649,-72.01117 }</string>
	
								<string>{ 128.71509,-60.55865 }</string>

							</array>

							<array>
	
								<string>{ 180.67041,-36.25698 }</string>
	
								<string>{ 169.49722,-92.68156 }</string>
	
								<string>{ 165.58661,-84.86034 }</string>
	
								<string>{ 168.37988,-43.24022 }</string>

							</array>

							<array>
	
								<string>{ 113.07263,-35.41899 }</string>
	
								<string>{ 81.78772,7.87711 }</string>
	
								<string>{ 84.58102,15.13966 }</string>
	
								<string>{ 204.13409,30.22346 }</string>
	
								<string>{ 161.95532,-18.10056 }</string>
	
								<string>{ 154.41342,-24.80447 }</string>
	
								<string>{ 144.63687,-30.67039 }</string>
	
								<string>{ 131.78772,-35.13966 }</string>

							</array>

							<array>
	
								<string>{ 62.51398,-6.64804 }</string>
	
								<string>{ 71.17319,-33.74301 }</string>
	
								<string>{ 52.45810,-36.81564 }</string>
	
								<string>{ 34.02234,-38.77095 }</string>
	
								<string>{ 19.49722,-38.21229 }</string>
	
								<string>{ 8.88269,-35.97765 }</string>

							</array>

							<array>
	
								<string>{ 73.68716,0.33521 }</string>
	
								<string>{ 84.02234,-32.62569 }</string>
	
								<string>{ 71.17319,-33.74301 }</string>
	
								<string>{ 62.51398,-6.64804 }</string>

							</array>

							<array>
	
								<string>{ 73.68716,0.33521 }</string>
	
								<string>{ 81.78772,7.87711 }</string>
	
								<string>{ 99.94415,-33.46368 }</string>
	
								<string>{ 84.02234,-32.62569 }</string>

							</array>

							<array>
	
								<string>{ 81.78772,7.87711 }</string>
	
								<string>{ 113.07263,-35.41899 }</string>
	
								<string>{ 99.94415,-33.46368 }</string>

							</array>

							<array>
	
								<string>{ 185.13968,-18.10056 }</string>
	
								<string>{ 180.67041,-36.25698 }</string>
	
								<string>{ 182.06705,-25.64246 }</string>

							</array>

							<array>
	
								<string>{ 162.23465,35.25140 }</string>
	
								<string>{ 204.13409,30.22346 }</string>
	
								<string>{ 84.58102,15.13966 }</string>
	
								<string>{ 84.30170,23.51956 }</string>

							</array>

							<array>
	
								<string>{ 204.13409,30.22346 }</string>
	
								<string>{ 173.68716,-12.79329 }</string>
	
								<string>{ 161.95532,-18.10056 }</string>

							</array>

							<array>
	
								<string>{ 204.13409,30.22346 }</string>
	
								<string>{ 183.18436,-10.83798 }</string>
	
								<string>{ 173.68716,-12.79329 }</string>

							</array>

							<array>
	
								<string>{ -14.30167,-150.22346 }</string>
	
								<string>{ -84.69273,-153.01676 }</string>
	
								<string>{ -45.86592,-148.54749 }</string>

							</array>

							<array>
	
								<string>{ 180.67041,-36.25698 }</string>
	
								<string>{ 185.13968,-18.10056 }</string>
	
								<string>{ 241.06146,-159.66481 }</string>
	
								<string>{ 171.73184,-100.50279 }</string>
	
								<string>{ 169.49722,-92.68156 }</string>

							</array>

							<array>
	
								<string>{ 61.11734,-153.85475 }</string>
	
								<string>{ -239.72067,-160.00000 }</string>
	
								<string>{ -14.30167,-150.22346 }</string>

							</array>

							<array>
	
								<string>{ 241.06146,-159.66481 }</string>
	
								<string>{ 168.93857,-110.55866 }</string>
	
								<string>{ 171.73184,-100.50279 }</string>

							</array>

							<array>
	
								<string>{ 241.06146,-159.66481 }</string>
	
								<string>{ 160.83798,-124.52514 }</string>
	
								<string>{ 168.93857,-110.55866 }</string>

							</array>

							<array>
	
								<string>{ 241.06146,-159.66481 }</string>
	
								<string>{ 147.98883,-135.69832 }</string>
	
								<string>{ 160.83798,-124.52514 }</string>

							</array>

							<array>
	
								<string>{ 241.06146,-159.66481 }</string>
	
								<string>{ 135.97766,-145.19553 }</string>
	
								<string>{ 147.98883,-135.69832 }</string>

							</array>

							<array>
	
								<string>{ 241.06146,-159.66481 }</string>
	
								<string>{ 125.08380,-149.66480 }</string>
	
								<string>{ 135.97766,-145.19553 }</string>

							</array>

							<array>
	
								<string>{ 241.06146,-159.66481 }</string>
	
								<string>{ 61.11734,-153.85475 }</string>
	
								<string>{ 125.08380,-149.66480 }</string>

							</array>

							<array>
	
								<string>{ -239.72067,-160.00000 }</string>
	
								<string>{ 61.11734,-153.85475 }</string>
	
								<string>{ 241.06146,-159.66481 }</string>

							</array>

							<array>
	
								<string>{ -239.72067,-160.00000 }</string>
	
								<string>{ -168.49162,-146.59218 }</string>
	
								<string>{ -84.69273,-153.01676 }</string>

							</array>

							<array>
	
								<string>{ -239.72067,-160.00000 }</string>
	
								<string>{ -180.22346,-117.26257 }</string>
	
								<string>{ -168.49162,-146.59218 }</string>

							</array>

							<array>
	
								<string>{ -239.72067,-160.00000 }</string>
	
								<string>{ -182.17877,-95.75419 }</string>
	
								<string>{ -180.22346,-117.26257 }</string>

							</array>

							<array>
	
								<string>{ -239.72067,-160.00000 }</string>
	
								<string>{ -222.68156,-137.09497 }</string>
	
								<string>{ -173.24022,-78.15643 }</string>
	
								<string>{ -182.17877,-95.75419 }</string>

							</array>

							<array>
	
								<string>{ -218.21229,-111.67598 }</string>
	
								<string>{ -173.24022,-78.15643 }</string>
	
								<string>{ -222.68156,-137.09497 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

