<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D59</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -198.43222,-32.24032 }</string>
	
								<string>{ -184.91109,-74.21215 }</string>
	
								<string>{ -183.78433,-85.19806 }</string>
	
								<string>{ -284.62500,-161.25000 }</string>
	
								<string>{ -285.18838,-54.13292 }</string>

							</array>

							<array>
	
								<string>{ -184.91109,-74.21215 }</string>
	
								<string>{ -198.43222,-32.24032 }</string>
	
								<string>{ -182.65757,-39.00088 }</string>

							</array>

							<array>
	
								<string>{ -63.50264,98.18222 }</string>
	
								<string>{ -52.79842,105.22449 }</string>
	
								<string>{ -40.12236,107.75967 }</string>
	
								<string>{ -8.85474,105.78784 }</string>
	
								<string>{ -37.58714,77.05547 }</string>
	
								<string>{ -70.26320,87.47800 }</string>

							</array>

							<array>
	
								<string>{ -8.85474,105.78784 }</string>
	
								<string>{ 62.41284,90.29489 }</string>
	
								<string>{ 18.18750,51.70335 }</string>
	
								<string>{ -37.58714,77.05547 }</string>

							</array>

							<array>
	
								<string>{ 62.41284,90.29489 }</string>
	
								<string>{ 93.11710,66.35124 }</string>
	
								<string>{ 126.35651,-1.25439 }</string>
	
								<string>{ 63.25793,28.32306 }</string>
	
								<string>{ 18.18750,51.70335 }</string>

							</array>

							<array>
	
								<string>{ 123.25793,48.32306 }</string>
	
								<string>{ 126.35651,-1.25439 }</string>
	
								<string>{ 93.11710,66.35124 }</string>

							</array>

							<array>
	
								<string>{ 158.75089,31.98503 }</string>
	
								<string>{ 126.35651,-1.25439 }</string>
	
								<string>{ 123.25793,48.32306 }</string>

							</array>

							<array>
	
								<string>{ 197.62411,19.02730 }</string>
	
								<string>{ 137.90582,-7.73328 }</string>
	
								<string>{ 126.35651,-1.25439 }</string>
	
								<string>{ 158.75089,31.98503 }</string>

							</array>

							<array>
	
								<string>{ 284.65759,-158.46831 }</string>
	
								<string>{ 238.15668,12.05106 }</string>
	
								<string>{ 283.81250,10.00000 }</string>

							</array>

							<array>
	
								<string>{ 284.65759,-158.46831 }</string>
	
								<string>{ 163.25793,-34.77553 }</string>
	
								<string>{ 156.49738,-24.63467 }</string>
	
								<string>{ 197.62411,19.02730 }</string>
	
								<string>{ 238.15668,12.05106 }</string>

							</array>

							<array>
	
								<string>{ 197.62411,19.02730 }</string>
	
								<string>{ 147.48328,-15.33891 }</string>
	
								<string>{ 137.90582,-7.73328 }</string>

							</array>

							<array>
	
								<string>{ 197.62411,19.02730 }</string>
	
								<string>{ 156.49738,-24.63467 }</string>
	
								<string>{ 147.48328,-15.33891 }</string>

							</array>

							<array>
	
								<string>{ 64.38467,-110.83187 }</string>
	
								<string>{ -39.84067,-113.08539 }</string>
	
								<string>{ -12.51672,-108.57835 }</string>

							</array>

							<array>
	
								<string>{ -181.53081,-93.08539 }</string>
	
								<string>{ -284.62500,-161.25000 }</string>
	
								<string>{ -183.78433,-85.19806 }</string>

							</array>

							<array>
	
								<string>{ -175.33363,-100.69102 }</string>
	
								<string>{ -284.62500,-161.25000 }</string>
	
								<string>{ -181.53081,-93.08539 }</string>

							</array>

							<array>
	
								<string>{ -168.00968,-105.47975 }</string>
	
								<string>{ -284.62500,-161.25000 }</string>
	
								<string>{ -175.33363,-100.69102 }</string>

							</array>

							<array>
	
								<string>{ -158.71391,-109.42342 }</string>
	
								<string>{ -284.62500,-161.25000 }</string>
	
								<string>{ -168.00968,-105.47975 }</string>

							</array>

							<array>
	
								<string>{ -141.24911,-113.64877 }</string>
	
								<string>{ -284.62500,-161.25000 }</string>
	
								<string>{ -158.71391,-109.42342 }</string>

							</array>

							<array>
	
								<string>{ -124.62939,-116.46567 }</string>
	
								<string>{ -284.62500,-161.25000 }</string>
	
								<string>{ -141.24911,-113.64877 }</string>

							</array>

							<array>
	
								<string>{ -124.62939,-116.46567 }</string>
	
								<string>{ -106.31953,-117.59243 }</string>
	
								<string>{ 284.65759,-158.46831 }</string>
	
								<string>{ -284.62500,-161.25000 }</string>

							</array>

							<array>
	
								<string>{ 64.38467,-110.83187 }</string>
	
								<string>{ 284.65759,-158.46831 }</string>
	
								<string>{ -60.68575,-116.46567 }</string>
	
								<string>{ -39.84067,-113.08539 }</string>

							</array>

							<array>
	
								<string>{ 284.65759,-158.46831 }</string>
	
								<string>{ 165.51144,-42.94454 }</string>
	
								<string>{ 163.25793,-34.77553 }</string>

							</array>

							<array>
	
								<string>{ 284.65759,-158.46831 }</string>
	
								<string>{ 166.35651,-51.39525 }</string>
	
								<string>{ 165.51144,-42.94454 }</string>

							</array>

							<array>
	
								<string>{ 284.65759,-158.46831 }</string>
	
								<string>{ 165.79315,-59.28257 }</string>
	
								<string>{ 166.35651,-51.39525 }</string>

							</array>

							<array>
	
								<string>{ 284.65759,-158.46831 }</string>
	
								<string>{ 162.97623,-66.60651 }</string>
	
								<string>{ 165.79315,-59.28257 }</string>

							</array>

							<array>
	
								<string>{ 284.65759,-158.46831 }</string>
	
								<string>{ 157.62411,-75.05722 }</string>
	
								<string>{ 162.97623,-66.60651 }</string>

							</array>

							<array>
	
								<string>{ 284.65759,-158.46831 }</string>
	
								<string>{ 149.45511,-83.22623 }</string>
	
								<string>{ 157.62411,-75.05722 }</string>

							</array>

							<array>
	
								<string>{ 284.65759,-158.46831 }</string>
	
								<string>{ 137.06073,-91.95863 }</string>
	
								<string>{ 149.45511,-83.22623 }</string>

							</array>

							<array>
	
								<string>{ 284.65759,-158.46831 }</string>
	
								<string>{ 123.25793,-99.28257 }</string>
	
								<string>{ 137.06073,-91.95863 }</string>

							</array>

							<array>
	
								<string>{ 284.65759,-158.46831 }</string>
	
								<string>{ 108.89172,-104.35299 }</string>
	
								<string>{ 123.25793,-99.28257 }</string>

							</array>

							<array>
	
								<string>{ 284.65759,-158.46831 }</string>
	
								<string>{ 90.58188,-109.14172 }</string>
	
								<string>{ 108.89172,-104.35299 }</string>

							</array>

							<array>
	
								<string>{ 284.65759,-158.46831 }</string>
	
								<string>{ 64.38467,-110.83187 }</string>
	
								<string>{ 90.58188,-109.14172 }</string>

							</array>

							<array>
	
								<string>{ 284.65759,-158.46831 }</string>
	
								<string>{ -87.16461,-117.59243 }</string>
	
								<string>{ -60.68575,-116.46567 }</string>

							</array>

							<array>
	
								<string>{ 284.65759,-158.46831 }</string>
	
								<string>{ -106.31953,-117.59243 }</string>
	
								<string>{ -87.16461,-117.59243 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -154.27289,-29.51584 }</string>
	
								<string>{ -146.94894,-14.30458 }</string>
	
								<string>{ -119.90669,0.34331 }</string>
	
								<string>{ -132.86444,-47.26232 }</string>
	
								<string>{ -141.87852,-53.17782 }</string>
	
								<string>{ -155.39964,-50.92429 }</string>

							</array>

							<array>
	
								<string>{ 44.03699,-5.85387 }</string>
	
								<string>{ 33.89612,-35.43134 }</string>
	
								<string>{ -0.47006,-3.88203 }</string>
	
								<string>{ 8.54401,10.20247 }</string>
	
								<string>{ 31.36093,14.42783 }</string>
	
								<string>{ 41.78345,9.63908 }</string>

							</array>

							<array>
	
								<string>{ -62.72359,31.89261 }</string>
	
								<string>{ -150.25000,51.25000 }</string>
	
								<string>{ -85.82219,64.28697 }</string>
	
								<string>{ -64.97711,59.21655 }</string>
	
								<string>{ -58.49825,48.79402 }</string>

							</array>

							<array>
	
								<string>{ 33.89612,-35.43134 }</string>
	
								<string>{ 29.95245,-65.85387 }</string>
	
								<string>{ 20.93839,-84.16373 }</string>
	
								<string>{ -27.23062,-84.16373 }</string>
	
								<string>{ -53.14612,-79.37500 }</string>
	
								<string>{ -18.77994,-19.65669 }</string>
	
								<string>{ -0.47006,-3.88203 }</string>

							</array>

							<array>
	
								<string>{ -65.25880,4.85036 }</string>
	
								<string>{ -150.25000,51.25000 }</string>
	
								<string>{ -62.72359,31.89261 }</string>

							</array>

							<array>
	
								<string>{ -53.14612,-79.37500 }</string>
	
								<string>{ -37.65317,-30.07922 }</string>
	
								<string>{ -18.77994,-19.65669 }</string>

							</array>

							<array>
	
								<string>{ -87.79401,-56.83979 }</string>
	
								<string>{ -37.65317,-30.07922 }</string>
	
								<string>{ -53.14612,-79.37500 }</string>

							</array>

							<array>
	
								<string>{ -104.97711,-49.23415 }</string>
	
								<string>{ -46.66725,-31.20598 }</string>
	
								<string>{ -37.65317,-30.07922 }</string>
	
								<string>{ -87.79401,-56.83979 }</string>

							</array>

							<array>
	
								<string>{ -119.90669,0.34331 }</string>
	
								<string>{ -123.00528,-45.57218 }</string>
	
								<string>{ -132.86444,-47.26232 }</string>

							</array>

							<array>
	
								<string>{ -119.90669,0.34331 }</string>
	
								<string>{ -117.65317,10.48416 }</string>
	
								<string>{ -57.65317,-26.98064 }</string>
	
								<string>{ -104.97711,-49.23415 }</string>
	
								<string>{ -123.00528,-45.57218 }</string>

							</array>

							<array>
	
								<string>{ -64.97711,-15.43134 }</string>
	
								<string>{ -122.44189,18.08980 }</string>
	
								<string>{ -150.25000,51.25000 }</string>
	
								<string>{ -65.25880,4.85036 }</string>

							</array>

							<array>
	
								<string>{ -284.25088,44.75792 }</string>
	
								<string>{ -150.25000,51.25000 }</string>
	
								<string>{ -159.62500,26.54050 }</string>
	
								<string>{ -283.34419,28.19983 }</string>

							</array>

							<array>
	
								<string>{ -150.25000,51.25000 }</string>
	
								<string>{ -122.44189,18.08980 }</string>
	
								<string>{ -159.62500,26.54050 }</string>

							</array>

							<array>
	
								<string>{ -57.65317,-26.98064 }</string>
	
								<string>{ -117.65317,10.48416 }</string>
	
								<string>{ -122.44189,18.08980 }</string>
	
								<string>{ -64.97711,-15.43134 }</string>

							</array>

							<array>
	
								<string>{ -46.66725,-31.20598 }</string>
	
								<string>{ -104.97711,-49.23415 }</string>
	
								<string>{ -57.65317,-26.98064 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

