<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D27</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 108.61478,46.66138 }</string>
	
								<string>{ 97.76434,0.91357 }</string>
	
								<string>{ 43.51215,24.37398 }</string>

							</array>

							<array>
	
								<string>{ -165.87202,18.80214 }</string>
	
								<string>{ -167.92481,-38.08936 }</string>
	
								<string>{ -171.15062,-56.27118 }</string>
	
								<string>{ -284.23621,-159.48881 }</string>
	
								<string>{ -284.43780,-7.36743 }</string>

							</array>

							<array>
	
								<string>{ 198.64410,54.28601 }</string>
	
								<string>{ 283.01923,159.50146 }</string>
	
								<string>{ 283.02740,81.68484 }</string>

							</array>

							<array>
	
								<string>{ 108.61478,46.66138 }</string>
	
								<string>{ 130.60892,57.21855 }</string>
	
								<string>{ 120.93149,-11.69640 }</string>
	
								<string>{ 97.76434,0.91357 }</string>

							</array>

							<array>
	
								<string>{ 20.63824,126.72003 }</string>
	
								<string>{ 27.96960,101.79333 }</string>
	
								<string>{ -0.18289,75.98689 }</string>

							</array>

							<array>
	
								<string>{ 20.63824,126.72003 }</string>
	
								<string>{ 41.45935,160.15109 }</string>
	
								<string>{ 49.67050,118.80212 }</string>
	
								<string>{ 27.96960,101.79333 }</string>

							</array>

							<array>
	
								<string>{ 41.45935,160.15109 }</string>
	
								<string>{ 67.55905,129.94583 }</string>
	
								<string>{ 49.67050,118.80212 }</string>

							</array>

							<array>
	
								<string>{ -128.04211,0.03381 }</string>
	
								<string>{ -165.87202,18.80214 }</string>
	
								<string>{ -117.77818,25.25375 }</string>
	
								<string>{ -67.92482,26.42677 }</string>

							</array>

							<array>
	
								<string>{ -145.93068,-11.10989 }</string>
	
								<string>{ -165.87202,18.80214 }</string>
	
								<string>{ -128.04211,0.03381 }</string>

							</array>

							<array>
	
								<string>{ -159.71367,-21.66707 }</string>
	
								<string>{ -165.87202,18.80214 }</string>
	
								<string>{ -145.93068,-11.10989 }</string>

							</array>

							<array>
	
								<string>{ 41.45935,160.15109 }</string>
	
								<string>{ 83.98135,136.69070 }</string>
	
								<string>{ 67.55905,129.94583 }</string>

							</array>

							<array>
	
								<string>{ 285.06512,-159.59553 }</string>
	
								<string>{ 135.88748,-76.79903 }</string>
	
								<string>{ 142.04587,-57.73745 }</string>
	
								<string>{ 187.79364,-27.82542 }</string>
	
								<string>{ 285.20435,-93.95606 }</string>

							</array>

							<array>
	
								<string>{ 2.45642,-10.52338 }</string>
	
								<string>{ 3.62943,-45.12748 }</string>
	
								<string>{ -58.83391,-58.91047 }</string>
	
								<string>{ -7.51425,2.08659 }</string>

							</array>

							<array>
	
								<string>{ 9.49454,-77.97205 }</string>
	
								<string>{ -89.91895,-87.35622 }</string>
	
								<string>{ -58.83391,-58.91047 }</string>
	
								<string>{ 3.62943,-45.12748 }</string>

							</array>

							<array>
	
								<string>{ 20.63824,-105.24478 }</string>
	
								<string>{ -112.49959,-99.08642 }</string>
	
								<string>{ -89.91895,-87.35622 }</string>
	
								<string>{ 9.49454,-77.97205 }</string>

							</array>

							<array>
	
								<string>{ -167.92481,-38.08936 }</string>
	
								<string>{ -165.87202,18.80214 }</string>
	
								<string>{ -159.71367,-21.66707 }</string>

							</array>

							<array>
	
								<string>{ 130.60892,57.21855 }</string>
	
								<string>{ 147.03119,67.18924 }</string>
	
								<string>{ 134.12796,-22.84009 }</string>
	
								<string>{ 120.93149,-11.69640 }</string>

							</array>

							<array>
	
								<string>{ 41.45935,160.15109 }</string>
	
								<string>{ 99.81711,140.20975 }</string>
	
								<string>{ 83.98135,136.69070 }</string>

							</array>

							<array>
	
								<string>{ 283.01923,159.50146 }</string>
	
								<string>{ 112.42709,139.62326 }</string>
	
								<string>{ 99.81711,140.20975 }</string>
	
								<string>{ 41.45935,160.15109 }</string>

							</array>

							<array>
	
								<string>{ 32.66168,-121.37381 }</string>
	
								<string>{ -284.23621,-159.48881 }</string>
	
								<string>{ -134.20047,-102.31223 }</string>
	
								<string>{ -112.49959,-99.08642 }</string>
	
								<string>{ 20.63824,-105.24478 }</string>

							</array>

							<array>
	
								<string>{ 147.03119,67.18924 }</string>
	
								<string>{ 156.70862,80.09245 }</string>
	
								<string>{ 141.75259,-39.84889 }</string>
	
								<string>{ 134.12796,-22.84009 }</string>

							</array>

							<array>
	
								<string>{ -166.45853,-74.74625 }</string>
	
								<string>{ -284.23621,-159.48881 }</string>
	
								<string>{ -171.15062,-56.27118 }</string>

							</array>

							<array>
	
								<string>{ -156.78112,-90.58202 }</string>
	
								<string>{ -284.23621,-159.48881 }</string>
	
								<string>{ -166.45853,-74.74625 }</string>

							</array>

							<array>
	
								<string>{ -134.20047,-102.31223 }</string>
	
								<string>{ -284.23621,-159.48881 }</string>
	
								<string>{ -156.78112,-90.58202 }</string>

							</array>

							<array>
	
								<string>{ 47.32446,-129.87821 }</string>
	
								<string>{ -284.23621,-159.48881 }</string>
	
								<string>{ 32.66168,-121.37381 }</string>

							</array>

							<array>
	
								<string>{ 47.32446,-129.87821 }</string>
	
								<string>{ 66.09277,-131.34449 }</string>
	
								<string>{ 285.06512,-159.59553 }</string>
	
								<string>{ -284.23621,-159.48881 }</string>

							</array>

							<array>
	
								<string>{ 177.23648,33.75815 }</string>
	
								<string>{ 161.10745,96.80801 }</string>
	
								<string>{ 283.01923,159.50146 }</string>
	
								<string>{ 198.64410,54.28601 }</string>

							</array>

							<array>
	
								<string>{ 156.70862,80.09245 }</string>
	
								<string>{ 161.10745,96.80801 }</string>
	
								<string>{ 177.23648,33.75815 }</string>
	
								<string>{ 171.07812,6.19217 }</string>
	
								<string>{ 142.04587,-57.73745 }</string>
	
								<string>{ 141.75259,-39.84889 }</string>

							</array>

							<array>
	
								<string>{ 283.01923,159.50146 }</string>
	
								<string>{ 125.33032,137.27722 }</string>
	
								<string>{ 112.42709,139.62326 }</string>

							</array>

							<array>
	
								<string>{ 283.01923,159.50146 }</string>
	
								<string>{ 137.94028,131.99863 }</string>
	
								<string>{ 125.33032,137.27722 }</string>

							</array>

							<array>
	
								<string>{ 283.01923,159.50146 }</string>
	
								<string>{ 148.79071,123.78748 }</string>
	
								<string>{ 137.94028,131.99863 }</string>

							</array>

							<array>
	
								<string>{ 283.01923,159.50146 }</string>
	
								<string>{ 157.29514,111.47076 }</string>
	
								<string>{ 148.79071,123.78748 }</string>

							</array>

							<array>
	
								<string>{ 283.01923,159.50146 }</string>
	
								<string>{ 161.10745,96.80801 }</string>
	
								<string>{ 157.29514,111.47076 }</string>

							</array>

							<array>
	
								<string>{ 187.79364,-27.82542 }</string>
	
								<string>{ 142.04587,-57.73745 }</string>
	
								<string>{ 171.07812,6.19217 }</string>

							</array>

							<array>
	
								<string>{ 285.06512,-159.59553 }</string>
	
								<string>{ 128.26288,-92.04830 }</string>
	
								<string>{ 135.88748,-76.79903 }</string>

							</array>

							<array>
	
								<string>{ 285.06512,-159.59553 }</string>
	
								<string>{ 117.11917,-107.00431 }</string>
	
								<string>{ 128.26288,-92.04830 }</string>

							</array>

							<array>
	
								<string>{ 285.06512,-159.59553 }</string>
	
								<string>{ 103.33618,-119.61428 }</string>
	
								<string>{ 117.11917,-107.00431 }</string>

							</array>

							<array>
	
								<string>{ 285.06512,-159.59553 }</string>
	
								<string>{ 85.44760,-127.53217 }</string>
	
								<string>{ 103.33618,-119.61428 }</string>

							</array>

							<array>
	
								<string>{ 285.06512,-159.59553 }</string>
	
								<string>{ 66.09277,-131.34449 }</string>
	
								<string>{ 85.44760,-127.53217 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

