<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D46</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -209.29577,-141.12676 }</string>
	
								<string>{ -183.94366,-140.84507 }</string>
	
								<string>{ -142.81690,-147.88732 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -239.71831,-148.16901 }</string>

							</array>

							<array>
	
								<string>{ 189.85916,21.12677 }</string>
	
								<string>{ 172.39438,7.32394 }</string>
	
								<string>{ 181.40845,34.36620 }</string>
	
								<string>{ 196.61972,63.09859 }</string>
	
								<string>{ 201.12677,47.04225 }</string>
	
								<string>{ 199.43661,31.54930 }</string>

							</array>

							<array>
	
								<string>{ 241.12677,-159.43662 }</string>
	
								<string>{ 130.14084,-150.14085 }</string>
	
								<string>{ 213.52112,-144.50704 }</string>
	
								<string>{ 240.56339,-149.85915 }</string>

							</array>

							<array>
	
								<string>{ -34.64789,12.11267 }</string>
	
								<string>{ -25.91550,2.53522 }</string>
	
								<string>{ -44.78873,-1.12675 }</string>
	
								<string>{ -47.88731,1.97183 }</string>

							</array>

							<array>
	
								<string>{ -28.16901,24.50705 }</string>
	
								<string>{ -0.56337,70.98592 }</string>
	
								<string>{ 3.09860,54.64789 }</string>
	
								<string>{ -1.40845,24.50705 }</string>
	
								<string>{ -11.26761,12.11267 }</string>
	
								<string>{ -25.91550,2.53522 }</string>
	
								<string>{ -34.64789,12.11267 }</string>

							</array>

							<array>
	
								<string>{ 115.21127,-107.32394 }</string>
	
								<string>{ 130.14084,-150.14085 }</string>
	
								<string>{ 85.35211,-120.84507 }</string>
	
								<string>{ 99.43661,-109.85915 }</string>

							</array>

							<array>
	
								<string>{ 167.88733,106.19717 }</string>
	
								<string>{ 186.19717,83.94366 }</string>
	
								<string>{ 170.70422,86.19719 }</string>
	
								<string>{ 149.85916,116.33804 }</string>
	
								<string>{ 145.63382,126.47888 }</string>

							</array>

							<array>
	
								<string>{ 186.19717,83.94366 }</string>
	
								<string>{ 196.61972,63.09859 }</string>
	
								<string>{ 180.00000,68.73239 }</string>
	
								<string>{ 170.70422,86.19719 }</string>

							</array>

							<array>
	
								<string>{ 196.61972,63.09859 }</string>
	
								<string>{ 186.47888,50.14085 }</string>
	
								<string>{ 180.00000,68.73239 }</string>

							</array>

							<array>
	
								<string>{ 80.28171,89.29578 }</string>
	
								<string>{ 87.60565,67.04225 }</string>
	
								<string>{ 87.04227,46.47888 }</string>
	
								<string>{ 82.81689,21.40845 }</string>
	
								<string>{ 34.92960,112.11267 }</string>
	
								<string>{ 51.83099,110.70422 }</string>
	
								<string>{ 67.04227,103.94366 }</string>

							</array>

							<array>
	
								<string>{ 196.61972,63.09859 }</string>
	
								<string>{ 181.40845,34.36620 }</string>
	
								<string>{ 186.47888,50.14085 }</string>

							</array>

							<array>
	
								<string>{ -66.19717,73.23944 }</string>
	
								<string>{ -57.18309,58.30986 }</string>
	
								<string>{ -97.74648,47.32394 }</string>
	
								<string>{ -100.00000,52.67606 }</string>

							</array>

							<array>
	
								<string>{ -66.19717,73.23944 }</string>
	
								<string>{ -25.35211,94.92958 }</string>
	
								<string>{ 11.26761,108.16901 }</string>
	
								<string>{ -41.97183,55.77466 }</string>
	
								<string>{ -57.18309,58.30986 }</string>

							</array>

							<array>
	
								<string>{ 11.26761,108.16901 }</string>
	
								<string>{ 34.92960,112.11267 }</string>
	
								<string>{ 18.02817,85.63380 }</string>
	
								<string>{ -0.56337,70.98592 }</string>
	
								<string>{ -30.98592,48.73239 }</string>
	
								<string>{ -41.97183,55.77466 }</string>

							</array>

							<array>
	
								<string>{ 167.32394,24.22536 }</string>
	
								<string>{ 181.40845,34.36620 }</string>
	
								<string>{ 153.80283,-21.40845 }</string>
	
								<string>{ 121.69016,-73.23943 }</string>
	
								<string>{ 141.97183,-15.77464 }</string>
	
								<string>{ 153.52112,9.01408 }</string>

							</array>

							<array>
	
								<string>{ -27.04225,36.90141 }</string>
	
								<string>{ -0.56337,70.98592 }</string>
	
								<string>{ -28.16901,24.50705 }</string>

							</array>

							<array>
	
								<string>{ -30.98592,48.73239 }</string>
	
								<string>{ -0.56337,70.98592 }</string>
	
								<string>{ -27.04225,36.90141 }</string>

							</array>

							<array>
	
								<string>{ 36.33804,-33.80282 }</string>
	
								<string>{ 60.84506,26.19719 }</string>
	
								<string>{ 62.81689,-35.49296 }</string>
	
								<string>{ 55.49295,-71.54929 }</string>
	
								<string>{ 27.32394,-133.80282 }</string>
	
								<string>{ 25.63382,-106.47887 }</string>
	
								<string>{ 27.32394,-69.29578 }</string>

							</array>

							<array>
	
								<string>{ 85.35211,-120.84507 }</string>
	
								<string>{ 130.14084,-150.14085 }</string>
	
								<string>{ 20.28171,-146.47887 }</string>
	
								<string>{ 27.32394,-133.80282 }</string>
	
								<string>{ 52.11267,-110.42253 }</string>
	
								<string>{ 66.19717,-112.67606 }</string>

							</array>

							<array>
	
								<string>{ 34.92960,112.11267 }</string>
	
								<string>{ 33.52112,87.88733 }</string>
	
								<string>{ 18.02817,85.63380 }</string>

							</array>

							<array>
	
								<string>{ 34.92960,112.11267 }</string>
	
								<string>{ 46.19717,84.50705 }</string>
	
								<string>{ 33.52112,87.88733 }</string>

							</array>

							<array>
	
								<string>{ 34.92960,112.11267 }</string>
	
								<string>{ 57.18311,69.85916 }</string>
	
								<string>{ 46.19717,84.50705 }</string>

							</array>

							<array>
	
								<string>{ 153.80283,-21.40845 }</string>
	
								<string>{ 181.40845,34.36620 }</string>
	
								<string>{ 172.39438,7.32394 }</string>

							</array>

							<array>
	
								<string>{ -67.04225,-150.98592 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -142.81690,-147.88732 }</string>

							</array>

							<array>
	
								<string>{ 62.81689,-35.49296 }</string>
	
								<string>{ 60.84506,26.19719 }</string>
	
								<string>{ 61.69016,46.19719 }</string>
	
								<string>{ 82.81689,21.40845 }</string>
	
								<string>{ 75.49295,-5.91550 }</string>

							</array>

							<array>
	
								<string>{ 137.46478,-65.35211 }</string>
	
								<string>{ 115.21127,-107.32394 }</string>
	
								<string>{ 121.69016,-73.23943 }</string>
	
								<string>{ 153.80283,-21.40845 }</string>

							</array>

							<array>
	
								<string>{ 130.14084,-150.14085 }</string>
	
								<string>{ 115.21127,-107.32394 }</string>
	
								<string>{ 137.46478,-65.35211 }</string>

							</array>

							<array>
	
								<string>{ -67.04225,-150.98592 }</string>
	
								<string>{ 130.14084,-150.14085 }</string>
	
								<string>{ 241.12677,-159.43662 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>

							</array>

							<array>
	
								<string>{ 20.28171,-146.47887 }</string>
	
								<string>{ 130.14084,-150.14085 }</string>
	
								<string>{ 3.66197,-150.14085 }</string>

							</array>

							<array>
	
								<string>{ 27.32394,-133.80282 }</string>
	
								<string>{ 55.49295,-71.54929 }</string>
	
								<string>{ 52.11267,-110.42253 }</string>

							</array>

							<array>
	
								<string>{ 57.18311,69.85916 }</string>
	
								<string>{ 82.81689,21.40845 }</string>
	
								<string>{ 61.69016,46.19719 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -101.40845,-75.49296 }</string>
	
								<string>{ -60.84506,-69.29578 }</string>
	
								<string>{ -59.43661,-89.29578 }</string>
	
								<string>{ -62.25352,-109.01408 }</string>
	
								<string>{ -92.67606,-109.01408 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-15.77464 }</string>
	
								<string>{ -194.08451,-11.83098 }</string>
	
								<string>{ -207.60563,-23.94366 }</string>
	
								<string>{ -239.71831,-32.67606 }</string>

							</array>

							<array>
	
								<string>{ -118.87324,-47.04225 }</string>
	
								<string>{ -91.83098,-27.60564 }</string>
	
								<string>{ -69.57747,-50.42253 }</string>
	
								<string>{ -60.84506,-69.29578 }</string>
	
								<string>{ -101.40845,-75.49296 }</string>

							</array>

							<array>
	
								<string>{ -194.08451,-11.83098 }</string>
	
								<string>{ -165.91549,-12.95775 }</string>
	
								<string>{ -127.88732,-18.30986 }</string>
	
								<string>{ -161.97183,-30.70422 }</string>
	
								<string>{ -207.60563,-23.94366 }</string>

							</array>

							<array>
	
								<string>{ -127.88732,-18.30986 }</string>
	
								<string>{ -91.83098,-27.60564 }</string>
	
								<string>{ -118.87324,-47.04225 }</string>
	
								<string>{ -161.97183,-30.70422 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

