<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D51</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 127.10046,86.44463 }</string>
	
								<string>{ 133.07059,20.27547 }</string>
	
								<string>{ 100.73230,44.15607 }</string>

							</array>

							<array>
	
								<string>{ -203.61414,-2.44373 }</string>
	
								<string>{ -178.86970,-51.86383 }</string>
	
								<string>{ -183.84483,-65.79418 }</string>
	
								<string>{ -285.28617,-160.32154 }</string>
	
								<string>{ -284.14557,-40.52439 }</string>

							</array>

							<array>
	
								<string>{ -77.86633,6.31873 }</string>
	
								<string>{ -83.34731,30.22572 }</string>
	
								<string>{ -44.90822,-7.41151 }</string>

							</array>

							<array>
	
								<string>{ -111.20801,1.86751 }</string>
	
								<string>{ -107.15112,24.24438 }</string>
	
								<string>{ -83.34731,30.22572 }</string>
	
								<string>{ -77.86633,6.31873 }</string>

							</array>

							<array>
	
								<string>{ 44.51340,-114.55040 }</string>
	
								<string>{ -22.89539,-92.69460 }</string>
	
								<string>{ -8.43277,-72.33133 }</string>

							</array>

							<array>
	
								<string>{ -101.25777,64.55408 }</string>
	
								<string>{ -83.34731,30.22572 }</string>
	
								<string>{ -107.15112,24.24438 }</string>
	
								<string>{ -113.19806,63.55905 }</string>

							</array>

							<array>
	
								<string>{ -127.62592,-5.09766 }</string>
	
								<string>{ -203.61414,-2.44373 }</string>
	
								<string>{ -164.70739,21.99358 }</string>
	
								<string>{ -107.15112,24.24438 }</string>
	
								<string>{ -111.20801,1.86751 }</string>

							</array>

							<array>
	
								<string>{ 44.51340,-114.55040 }</string>
	
								<string>{ 64.91141,-126.49070 }</string>
	
								<string>{ -42.05379,-109.07776 }</string>
	
								<string>{ -22.89539,-92.69460 }</string>

							</array>

							<array>
	
								<string>{ 127.10046,86.44463 }</string>
	
								<string>{ 141.03079,85.94711 }</string>
	
								<string>{ 159.93628,-10.57030 }</string>
	
								<string>{ 133.07059,20.27547 }</string>

							</array>

							<array>
	
								<string>{ 284.11023,-160.12254 }</string>
	
								<string>{ 243.83350,68.09746 }</string>
	
								<string>{ 284.16724,68.93892 }</string>

							</array>

							<array>
	
								<string>{ 284.11023,-160.12254 }</string>
	
								<string>{ 181.32932,-47.38622 }</string>
	
								<string>{ 172.87158,-28.97826 }</string>
	
								<string>{ 141.03079,85.94711 }</string>
	
								<string>{ 140.53329,102.86255 }</string>
	
								<string>{ 243.83350,68.09746 }</string>

							</array>

							<array>
	
								<string>{ -143.04881,-14.55040 }</string>
	
								<string>{ -203.61414,-2.44373 }</string>
	
								<string>{ -127.62592,-5.09766 }</string>

							</array>

							<array>
	
								<string>{ -157.97418,-25.49567 }</string>
	
								<string>{ -203.61414,-2.44373 }</string>
	
								<string>{ -143.04881,-14.55040 }</string>

							</array>

							<array>
	
								<string>{ -169.91447,-37.93349 }</string>
	
								<string>{ -203.61414,-2.44373 }</string>
	
								<string>{ -157.97418,-25.49567 }</string>

							</array>

							<array>
	
								<string>{ -178.86970,-51.86383 }</string>
	
								<string>{ -203.61414,-2.44373 }</string>
	
								<string>{ -169.91447,-37.93349 }</string>

							</array>

							<array>
	
								<string>{ 64.91141,-126.49070 }</string>
	
								<string>{ 86.30444,-135.94343 }</string>
	
								<string>{ -63.44681,-118.03299 }</string>
	
								<string>{ -42.05379,-109.07776 }</string>

							</array>

							<array>
	
								<string>{ 141.03079,85.94711 }</string>
	
								<string>{ 172.87158,-28.97826 }</string>
	
								<string>{ 159.93628,-10.57030 }</string>

							</array>

							<array>
	
								<string>{ -184.83985,-78.72950 }</string>
	
								<string>{ -285.28617,-160.32154 }</string>
	
								<string>{ -183.84483,-65.79418 }</string>

							</array>

							<array>
	
								<string>{ -181.85477,-94.15239 }</string>
	
								<string>{ -285.28617,-160.32154 }</string>
	
								<string>{ -184.83985,-78.72950 }</string>

							</array>

							<array>
	
								<string>{ -172.89955,-109.07776 }</string>
	
								<string>{ -285.28617,-160.32154 }</string>
	
								<string>{ -181.85477,-94.15239 }</string>

							</array>

							<array>
	
								<string>{ -157.97418,-120.52055 }</string>
	
								<string>{ -285.28617,-160.32154 }</string>
	
								<string>{ -172.89955,-109.07776 }</string>

							</array>

							<array>
	
								<string>{ -142.05379,-125.99319 }</string>
	
								<string>{ -285.28617,-160.32154 }</string>
	
								<string>{ -157.97418,-120.52055 }</string>

							</array>

							<array>
	
								<string>{ 86.30444,-135.94343 }</string>
	
								<string>{ -80.36224,-123.50562 }</string>
	
								<string>{ -63.44681,-118.03299 }</string>

							</array>

							<array>
	
								<string>{ -124.64084,-128.97826 }</string>
	
								<string>{ -285.28617,-160.32154 }</string>
	
								<string>{ -142.05379,-125.99319 }</string>

							</array>

							<array>
	
								<string>{ -124.64084,-128.97826 }</string>
	
								<string>{ 123.61786,-142.90861 }</string>
	
								<string>{ 284.11023,-160.12254 }</string>
	
								<string>{ -285.28617,-160.32154 }</string>

							</array>

							<array>
	
								<string>{ 284.11023,-160.12254 }</string>
	
								<string>{ 189.28949,-65.79418 }</string>
	
								<string>{ 181.32932,-47.38622 }</string>

							</array>

							<array>
	
								<string>{ 284.11023,-160.12254 }</string>
	
								<string>{ 192.77209,-84.69965 }</string>
	
								<string>{ 189.28949,-65.79418 }</string>

							</array>

							<array>
	
								<string>{ 284.11023,-160.12254 }</string>
	
								<string>{ 195.25964,-99.62503 }</string>
	
								<string>{ 192.77209,-84.69965 }</string>

							</array>

							<array>
	
								<string>{ 284.11023,-160.12254 }</string>
	
								<string>{ 194.26462,-117.03796 }</string>
	
								<string>{ 195.25964,-99.62503 }</string>

							</array>

							<array>
	
								<string>{ 284.11023,-160.12254 }</string>
	
								<string>{ 188.29449,-129.47577 }</string>
	
								<string>{ 194.26462,-117.03796 }</string>

							</array>

							<array>
	
								<string>{ 284.11023,-160.12254 }</string>
	
								<string>{ 176.35419,-138.92851 }</string>
	
								<string>{ 188.29449,-129.47577 }</string>

							</array>

							<array>
	
								<string>{ 284.11023,-160.12254 }</string>
	
								<string>{ 158.94125,-141.91358 }</string>
	
								<string>{ 176.35419,-138.92851 }</string>

							</array>

							<array>
	
								<string>{ 86.30444,-135.94343 }</string>
	
								<string>{ 106.20493,-140.91856 }</string>
	
								<string>{ -102.25279,-127.48572 }</string>
	
								<string>{ -80.36224,-123.50562 }</string>

							</array>

							<array>
	
								<string>{ 284.11023,-160.12254 }</string>
	
								<string>{ 141.03079,-143.40612 }</string>
	
								<string>{ 158.94125,-141.91358 }</string>

							</array>

							<array>
	
								<string>{ 106.20493,-140.91856 }</string>
	
								<string>{ 123.61786,-142.90861 }</string>
	
								<string>{ -124.64084,-128.97826 }</string>
	
								<string>{ -102.25279,-127.48572 }</string>

							</array>

							<array>
	
								<string>{ 284.11023,-160.12254 }</string>
	
								<string>{ 123.61786,-142.90861 }</string>
	
								<string>{ 141.03079,-143.40612 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 16.12479,92.73631 }</string>
	
								<string>{ -4.24283,120.74258 }</string>
	
								<string>{ 60.10489,107.36319 }</string>
	
								<string>{ 46.47305,75.32338 }</string>

							</array>

							<array>
	
								<string>{ -37.32724,102.80887 }</string>
	
								<string>{ -59.49712,121.59204 }</string>
	
								<string>{ -4.24283,120.74258 }</string>
	
								<string>{ 16.12479,92.73631 }</string>

							</array>

							<array>
	
								<string>{ -37.32724,102.80887 }</string>
	
								<string>{ -103.77571,91.44278 }</string>
	
								<string>{ -89.34785,109.65173 }</string>
	
								<string>{ -59.49712,121.59204 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

