<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D21</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 17.82123,86.08939 }</string>
	
								<string>{ 28.99442,98.37988 }</string>
	
								<string>{ 36.81564,76.03352 }</string>
	
								<string>{ 14.74861,71.84358 }</string>

							</array>

							<array>
	
								<string>{ -219.05028,-131.50838 }</string>
	
								<string>{ -190.83799,-141.28492 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -240.27933,-131.73184 }</string>

							</array>

							<array>
	
								<string>{ 28.99442,98.37988 }</string>
	
								<string>{ 36.25699,104.80447 }</string>
	
								<string>{ 58.04471,78.54749 }</string>
	
								<string>{ 36.81564,76.03352 }</string>

							</array>

							<array>
	
								<string>{ -96.14525,-114.74860 }</string>
	
								<string>{ -120.72626,-105.53072 }</string>
	
								<string>{ -112.62569,-96.87151 }</string>

							</array>

							<array>
	
								<string>{ 8.88269,-8.88268 }</string>
	
								<string>{ -43.63129,-51.62011 }</string>
	
								<string>{ -35.53072,-22.01117 }</string>
	
								<string>{ -18.49162,-9.72067 }</string>
	
								<string>{ 4.41341,1.73184 }</string>

							</array>

							<array>
	
								<string>{ -190.83799,-141.28492 }</string>
	
								<string>{ -219.05028,-131.50838 }</string>
	
								<string>{ -199.49721,-130.39106 }</string>

							</array>

							<array>
	
								<string>{ -96.14525,-114.74860 }</string>
	
								<string>{ -71.00558,-152.73743 }</string>
	
								<string>{ -129.10614,-114.18994 }</string>
	
								<string>{ -120.72626,-105.53072 }</string>

							</array>

							<array>
	
								<string>{ -35.53072,-22.01117 }</string>
	
								<string>{ -43.63129,-51.62011 }</string>
	
								<string>{ -43.91061,-32.34637 }</string>

							</array>

							<array>
	
								<string>{ 36.25699,104.80447 }</string>
	
								<string>{ 45.75418,110.67041 }</string>
	
								<string>{ 65.58661,115.97766 }</string>
	
								<string>{ 77.87711,80.78214 }</string>
	
								<string>{ 58.04471,78.54749 }</string>

							</array>

							<array>
	
								<string>{ 65.58661,115.97766 }</string>
	
								<string>{ 93.24023,81.62012 }</string>
	
								<string>{ 77.87711,80.78214 }</string>

							</array>

							<array>
	
								<string>{ 65.58661,115.97766 }</string>
	
								<string>{ 240.44693,111.78772 }</string>
	
								<string>{ 122.01117,81.06146 }</string>
	
								<string>{ 93.24023,81.62012 }</string>

							</array>

							<array>
	
								<string>{ -71.00558,-152.73743 }</string>
	
								<string>{ -138.32402,-122.84916 }</string>
	
								<string>{ -129.10614,-114.18994 }</string>

							</array>

							<array>
	
								<string>{ -71.00558,-152.73743 }</string>
	
								<string>{ -153.12849,-131.50838 }</string>
	
								<string>{ -138.32402,-122.84916 }</string>

							</array>

							<array>
	
								<string>{ 12.51398,-16.70390 }</string>
	
								<string>{ -43.63129,-51.62011 }</string>
	
								<string>{ 8.88269,-8.88268 }</string>

							</array>

							<array>
	
								<string>{ 17.26257,-23.68715 }</string>
	
								<string>{ -43.63129,-51.62011 }</string>
	
								<string>{ 12.51398,-16.70390 }</string>

							</array>

							<array>
	
								<string>{ 25.08380,-30.39105 }</string>
	
								<string>{ 82.62570,-87.65363 }</string>
	
								<string>{ 24.24582,-78.99442 }</string>
	
								<string>{ -15.69832,-68.93855 }</string>
	
								<string>{ -38.88268,-57.48603 }</string>
	
								<string>{ -43.63129,-51.62011 }</string>
	
								<string>{ 17.26257,-23.68715 }</string>

							</array>

							<array>
	
								<string>{ -153.12849,-131.50838 }</string>
	
								<string>{ -71.00558,-152.73743 }</string>
	
								<string>{ -177.15084,-140.72626 }</string>
	
								<string>{ -167.37430,-135.69832 }</string>

							</array>

							<array>
	
								<string>{ 240.44693,111.78772 }</string>
	
								<string>{ 146.03354,79.10616 }</string>
	
								<string>{ 122.01117,81.06146 }</string>

							</array>

							<array>
	
								<string>{ 240.44693,111.78772 }</string>
	
								<string>{ 162.79330,75.75420 }</string>
	
								<string>{ 146.03354,79.10616 }</string>

							</array>

							<array>
	
								<string>{ 240.44693,111.78772 }</string>
	
								<string>{ 176.20114,71.56425 }</string>
	
								<string>{ 162.79330,75.75420 }</string>

							</array>

							<array>
	
								<string>{ 240.44693,111.78772 }</string>
	
								<string>{ 184.86035,66.81564 }</string>
	
								<string>{ 176.20114,71.56425 }</string>

							</array>

							<array>
	
								<string>{ 240.44693,111.78772 }</string>
	
								<string>{ 195.47488,57.31844 }</string>
	
								<string>{ 184.86035,66.81564 }</string>

							</array>

							<array>
	
								<string>{ 240.44693,111.78772 }</string>
	
								<string>{ 200.50281,46.14525 }</string>
	
								<string>{ 195.47488,57.31844 }</string>

							</array>

							<array>
	
								<string>{ 240.50281,-159.94413 }</string>
	
								<string>{ 216.70392,-110.55866 }</string>
	
								<string>{ 199.66483,34.69275 }</string>
	
								<string>{ 200.50281,46.14525 }</string>
	
								<string>{ 240.44693,111.78772 }</string>

							</array>

							<array>
	
								<string>{ -177.15084,-140.72626 }</string>
	
								<string>{ -71.00558,-152.73743 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -190.83799,-141.28492 }</string>

							</array>

							<array>
	
								<string>{ 34.02234,-35.41899 }</string>
	
								<string>{ 82.62570,-87.65363 }</string>
	
								<string>{ 25.08380,-30.39105 }</string>

							</array>

							<array>
	
								<string>{ 34.02234,-35.41899 }</string>
	
								<string>{ 178.99442,-94.63687 }</string>
	
								<string>{ 144.07822,-92.96089 }</string>
	
								<string>{ 82.62570,-87.65363 }</string>

							</array>

							<array>
	
								<string>{ -71.00558,-152.73743 }</string>
	
								<string>{ 147.43018,-151.89944 }</string>
	
								<string>{ 240.50281,-159.94413 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>

							</array>

							<array>
	
								<string>{ 147.43018,-151.89944 }</string>
	
								<string>{ -71.00558,-152.73743 }</string>
	
								<string>{ -3.12848,-149.38547 }</string>

							</array>

							<array>
	
								<string>{ 163.07263,-147.70950 }</string>
	
								<string>{ 240.50281,-159.94413 }</string>
	
								<string>{ 147.43018,-151.89944 }</string>

							</array>

							<array>
	
								<string>{ 181.22906,-139.32961 }</string>
	
								<string>{ 240.50281,-159.94413 }</string>
	
								<string>{ 163.07263,-147.70950 }</string>

							</array>

							<array>
	
								<string>{ 199.38550,-128.99441 }</string>
	
								<string>{ 240.50281,-159.94413 }</string>
	
								<string>{ 181.22906,-139.32961 }</string>

							</array>

							<array>
	
								<string>{ 213.91061,-118.93855 }</string>
	
								<string>{ 240.50281,-159.94413 }</string>
	
								<string>{ 199.38550,-128.99441 }</string>

							</array>

							<array>
	
								<string>{ 216.70392,-110.55866 }</string>
	
								<string>{ 240.50281,-159.94413 }</string>
	
								<string>{ 213.91061,-118.93855 }</string>

							</array>

							<array>
	
								<string>{ 216.70392,-110.55866 }</string>
	
								<string>{ 194.35754,22.68156 }</string>
	
								<string>{ 199.66483,34.69275 }</string>

							</array>

							<array>
	
								<string>{ 216.70392,-110.55866 }</string>
	
								<string>{ 187.37430,11.78772 }</string>
	
								<string>{ 194.35754,22.68156 }</string>

							</array>

							<array>
	
								<string>{ 46.59219,-40.16759 }</string>
	
								<string>{ 203.29611,-97.43017 }</string>
	
								<string>{ 178.99442,-94.63687 }</string>

							</array>

							<array>
	
								<string>{ 214.74863,-103.01676 }</string>
	
								<string>{ 178.71509,2.29051 }</string>
	
								<string>{ 187.37430,11.78772 }</string>

							</array>

							<array>
	
								<string>{ 214.74863,-103.01676 }</string>
	
								<string>{ 167.54190,-8.32402 }</string>
	
								<string>{ 178.71509,2.29051 }</string>

							</array>

							<array>
	
								<string>{ 214.74863,-103.01676 }</string>
	
								<string>{ 151.06146,-20.61452 }</string>
	
								<string>{ 167.54190,-8.32402 }</string>

							</array>

							<array>
	
								<string>{ 214.74863,-103.01676 }</string>
	
								<string>{ 130.94974,-32.06704 }</string>
	
								<string>{ 151.06146,-20.61452 }</string>

							</array>

							<array>
	
								<string>{ 214.74863,-103.01676 }</string>
	
								<string>{ 203.29611,-97.43017 }</string>
	
								<string>{ 105.81006,-42.12290 }</string>
	
								<string>{ 130.94974,-32.06704 }</string>

							</array>

							<array>
	
								<string>{ 203.29611,-97.43017 }</string>
	
								<string>{ 91.28491,-45.75419 }</string>
	
								<string>{ 105.81006,-42.12290 }</string>

							</array>

							<array>
	
								<string>{ 203.29611,-97.43017 }</string>
	
								<string>{ 74.52515,-46.87151 }</string>
	
								<string>{ 91.28491,-45.75419 }</string>

							</array>

							<array>
	
								<string>{ 203.29611,-97.43017 }</string>
	
								<string>{ 60.00000,-44.91620 }</string>
	
								<string>{ 74.52515,-46.87151 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -136.36871,80.78214 }</string>
	
								<string>{ -128.54749,94.74861 }</string>
	
								<string>{ -104.52513,114.02234 }</string>
	
								<string>{ -17.09497,67.93297 }</string>
	
								<string>{ -71.84357,64.86034 }</string>
	
								<string>{ -110.39105,67.09497 }</string>
	
								<string>{ -126.87151,70.72626 }</string>
	
								<string>{ -133.85474,74.91620 }</string>

							</array>

							<array>
	
								<string>{ -78.54749,131.95532 }</string>
	
								<string>{ -28.54749,160.39108 }</string>
	
								<string>{ -15.69832,78.26816 }</string>
	
								<string>{ -17.09497,67.93297 }</string>
	
								<string>{ -104.52513,114.02234 }</string>

							</array>

							<array>
	
								<string>{ 76.48047,153.68716 }</string>
	
								<string>{ -28.54749,160.39108 }</string>
	
								<string>{ 240.16760,160.39108 }</string>
	
								<string>{ 240.22348,151.22906 }</string>

							</array>

							<array>
	
								<string>{ -28.54749,160.39108 }</string>
	
								<string>{ -12.62569,87.76537 }</string>
	
								<string>{ -15.69832,78.26816 }</string>

							</array>

							<array>
	
								<string>{ -28.54749,160.39108 }</string>
	
								<string>{ -8.15642,96.42459 }</string>
	
								<string>{ -12.62569,87.76537 }</string>

							</array>

							<array>
	
								<string>{ -28.54749,160.39108 }</string>
	
								<string>{ -3.68715,103.12851 }</string>
	
								<string>{ -8.15642,96.42459 }</string>

							</array>

							<array>
	
								<string>{ -28.54749,160.39108 }</string>
	
								<string>{ 1.34079,108.99442 }</string>
	
								<string>{ -3.68715,103.12851 }</string>

							</array>

							<array>
	
								<string>{ -28.54749,160.39108 }</string>
	
								<string>{ 24.24582,132.73743 }</string>
	
								<string>{ 7.48604,114.86035 }</string>
	
								<string>{ 1.34079,108.99442 }</string>

							</array>

							<array>
	
								<string>{ -28.54749,160.39108 }</string>
	
								<string>{ 51.62012,153.96649 }</string>
	
								<string>{ 24.24582,132.73743 }</string>

							</array>

							<array>
	
								<string>{ 51.62012,153.96649 }</string>
	
								<string>{ -28.54749,160.39108 }</string>
	
								<string>{ 76.48047,153.68716 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -210.94972,-26.20111 }</string>
	
								<string>{ -186.08939,-38.21229 }</string>
	
								<string>{ -208.99441,-58.32402 }</string>
	
								<string>{ -240.27933,-57.48603 }</string>
	
								<string>{ -240.27933,-22.23463 }</string>

							</array>

							<array>
	
								<string>{ -186.08939,-38.21229 }</string>
	
								<string>{ -165.13966,-49.66480 }</string>
	
								<string>{ -148.10056,-62.79330 }</string>
	
								<string>{ -181.34078,-74.52514 }</string>
	
								<string>{ -208.99441,-58.32402 }</string>

							</array>

							<array>
	
								<string>{ -148.10056,-62.79330 }</string>
	
								<string>{ -131.56425,-78.37989 }</string>
	
								<string>{ -147.82123,-97.98883 }</string>
	
								<string>{ -155.64246,-103.01676 }</string>
	
								<string>{ -181.34078,-74.52514 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

