<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D54</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -63.09859,-113.52113 }</string>
	
								<string>{ -133.80282,-147.04225 }</string>
	
								<string>{ -115.49296,-117.18310 }</string>
	
								<string>{ -98.02817,-110.14085 }</string>
	
								<string>{ -87.60564,-106.76056 }</string>
	
								<string>{ -74.08450,-104.78873 }</string>

							</array>

							<array>
	
								<string>{ -213.80282,-143.66197 }</string>
	
								<string>{ -176.33803,-141.40845 }</string>
	
								<string>{ -133.80282,-147.04225 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -240.00000,-150.70423 }</string>

							</array>

							<array>
	
								<string>{ 194.36621,-111.83099 }</string>
	
								<string>{ 207.32394,-121.12676 }</string>
	
								<string>{ 241.12677,-160.28169 }</string>
	
								<string>{ 147.04227,-119.15493 }</string>
	
								<string>{ 158.30988,-111.54929 }</string>
	
								<string>{ 170.42255,-107.32394 }</string>
	
								<string>{ 182.25354,-106.47887 }</string>

							</array>

							<array>
	
								<string>{ 241.12677,-160.28169 }</string>
	
								<string>{ 235.21127,-125.63380 }</string>
	
								<string>{ 240.56339,-116.61972 }</string>

							</array>

							<array>
	
								<string>{ 241.12677,-160.28169 }</string>
	
								<string>{ 226.19720,-128.16901 }</string>
	
								<string>{ 235.21127,-125.63380 }</string>

							</array>

							<array>
	
								<string>{ 241.12677,-160.28169 }</string>
	
								<string>{ 217.46478,-126.47887 }</string>
	
								<string>{ 226.19720,-128.16901 }</string>

							</array>

							<array>
	
								<string>{ -49.57747,-120.56338 }</string>
	
								<string>{ -133.80282,-147.04225 }</string>
	
								<string>{ -63.09859,-113.52113 }</string>

							</array>

							<array>
	
								<string>{ 30.14084,-94.64789 }</string>
	
								<string>{ 45.07043,-93.80282 }</string>
	
								<string>{ 59.43661,-96.05634 }</string>
	
								<string>{ 77.46478,-102.53521 }</string>
	
								<string>{ 89.29578,-109.29577 }</string>
	
								<string>{ -12.39436,-117.74648 }</string>
	
								<string>{ 3.66197,-105.91549 }</string>
	
								<string>{ 18.59155,-97.18310 }</string>

							</array>

							<array>
	
								<string>{ 241.12677,-160.28169 }</string>
	
								<string>{ 207.32394,-121.12676 }</string>
	
								<string>{ 217.46478,-126.47887 }</string>

							</array>

							<array>
	
								<string>{ 241.12677,-160.28169 }</string>
	
								<string>{ 132.67606,-124.50704 }</string>
	
								<string>{ 147.04227,-119.15493 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ 122.53522,-124.78873 }</string>
	
								<string>{ 132.67606,-124.50704 }</string>
	
								<string>{ 241.12677,-160.28169 }</string>

							</array>

							<array>
	
								<string>{ -28.73239,-123.94366 }</string>
	
								<string>{ -133.80282,-147.04225 }</string>
	
								<string>{ -49.57747,-120.56338 }</string>

							</array>

							<array>
	
								<string>{ 111.54929,-121.40845 }</string>
	
								<string>{ -28.73239,-123.94366 }</string>
	
								<string>{ -12.39436,-117.74648 }</string>
	
								<string>{ 89.29578,-109.29577 }</string>

							</array>

							<array>
	
								<string>{ 111.54929,-121.40845 }</string>
	
								<string>{ 122.53522,-124.78873 }</string>
	
								<string>{ -133.80282,-147.04225 }</string>
	
								<string>{ -28.73239,-123.94366 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -141.12676,-94.64789 }</string>
	
								<string>{ -152.11268,-95.49296 }</string>
	
								<string>{ -179.15493,-74.92957 }</string>
	
								<string>{ -139.15493,-65.07042 }</string>
	
								<string>{ -115.21127,-77.18310 }</string>

							</array>

							<array>
	
								<string>{ -201.69014,-40.28168 }</string>
	
								<string>{ -168.16901,-52.11267 }</string>
	
								<string>{ -204.22535,-64.50704 }</string>
	
								<string>{ -240.28169,-59.43661 }</string>
	
								<string>{ -240.84507,-31.54930 }</string>

							</array>

							<array>
	
								<string>{ -168.16901,-52.11267 }</string>
	
								<string>{ -139.15493,-65.07042 }</string>
	
								<string>{ -179.15493,-74.92957 }</string>
	
								<string>{ -204.22535,-64.50704 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -182.53521,75.21127 }</string>
	
								<string>{ -139.43661,64.50705 }</string>
	
								<string>{ -165.91549,46.76056 }</string>
	
								<string>{ -202.25352,25.07042 }</string>
	
								<string>{ -240.56338,5.63380 }</string>
	
								<string>{ -240.84507,78.59155 }</string>

							</array>

							<array>
	
								<string>{ -46.19717,-34.08450 }</string>
	
								<string>{ -18.30986,-43.66197 }</string>
	
								<string>{ -32.67606,-53.23943 }</string>

							</array>

							<array>
	
								<string>{ -105.91550,26.76056 }</string>
	
								<string>{ -79.71831,-9.29578 }</string>
	
								<string>{ -101.69014,-23.94366 }</string>

							</array>

							<array>
	
								<string>{ -165.91549,46.76056 }</string>
	
								<string>{ -139.43661,64.50705 }</string>
	
								<string>{ -124.50704,32.11269 }</string>
	
								<string>{ -144.22535,27.88733 }</string>

							</array>

							<array>
	
								<string>{ -202.25352,25.07042 }</string>
	
								<string>{ -165.91549,46.76056 }</string>
	
								<string>{ -190.14085,18.30986 }</string>

							</array>

							<array>
	
								<string>{ 65.91550,-40.00000 }</string>
	
								<string>{ 68.73239,-29.01408 }</string>
	
								<string>{ 76.90140,-23.09859 }</string>

							</array>

							<array>
	
								<string>{ 65.91550,-40.00000 }</string>
	
								<string>{ 63.66199,-32.11267 }</string>
	
								<string>{ 68.73239,-29.01408 }</string>

							</array>

							<array>
	
								<string>{ 65.91550,-40.00000 }</string>
	
								<string>{ 46.47888,-54.36620 }</string>
	
								<string>{ 25.63382,-64.22535 }</string>
	
								<string>{ 56.61972,-34.36620 }</string>
	
								<string>{ 63.66199,-32.11267 }</string>

							</array>

							<array>
	
								<string>{ -6.19717,-50.42253 }</string>
	
								<string>{ 56.61972,-34.36620 }</string>
	
								<string>{ 25.63382,-64.22535 }</string>
	
								<string>{ 11.83099,-63.94366 }</string>

							</array>

							<array>
	
								<string>{ -79.71831,-9.29578 }</string>
	
								<string>{ -105.91550,26.76056 }</string>
	
								<string>{ -49.57747,-0.28169 }</string>
	
								<string>{ -36.05634,-11.26761 }</string>
	
								<string>{ -18.30986,-43.66197 }</string>
	
								<string>{ -46.19717,-34.08450 }</string>
	
								<string>{ -63.38028,-24.50703 }</string>

							</array>

							<array>
	
								<string>{ -90.70422,40.56339 }</string>
	
								<string>{ -71.54929,22.53522 }</string>
	
								<string>{ -61.40845,11.83099 }</string>
	
								<string>{ -139.43661,64.50705 }</string>
	
								<string>{ -111.54930,54.08450 }</string>

							</array>

							<array>
	
								<string>{ -49.57747,-0.28169 }</string>
	
								<string>{ -105.91550,26.76056 }</string>
	
								<string>{ -139.43661,64.50705 }</string>
	
								<string>{ -61.40845,11.83099 }</string>

							</array>

							<array>
	
								<string>{ -139.43661,64.50705 }</string>
	
								<string>{ -105.91550,26.76056 }</string>
	
								<string>{ -124.50704,32.11269 }</string>

							</array>

							<array>
	
								<string>{ -24.78873,-19.71831 }</string>
	
								<string>{ -18.30986,-43.66197 }</string>
	
								<string>{ -36.05634,-11.26761 }</string>

							</array>

							<array>
	
								<string>{ -14.08450,-26.47887 }</string>
	
								<string>{ -18.30986,-43.66197 }</string>
	
								<string>{ -24.78873,-19.71831 }</string>

							</array>

							<array>
	
								<string>{ -4.22534,-31.54930 }</string>
	
								<string>{ -6.19717,-50.42253 }</string>
	
								<string>{ -18.30986,-43.66197 }</string>
	
								<string>{ -14.08450,-26.47887 }</string>

							</array>

							<array>
	
								<string>{ 10.98592,-34.92957 }</string>
	
								<string>{ -6.19717,-50.42253 }</string>
	
								<string>{ -4.22534,-31.54930 }</string>

							</array>

							<array>
	
								<string>{ 21.12677,-36.90141 }</string>
	
								<string>{ -6.19717,-50.42253 }</string>
	
								<string>{ 10.98592,-34.92957 }</string>

							</array>

							<array>
	
								<string>{ 40.84506,-36.90141 }</string>
	
								<string>{ -6.19717,-50.42253 }</string>
	
								<string>{ 21.12677,-36.90141 }</string>

							</array>

							<array>
	
								<string>{ 50.42255,-35.77464 }</string>
	
								<string>{ -6.19717,-50.42253 }</string>
	
								<string>{ 40.84506,-36.90141 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 66.76056,54.64789 }</string>
	
								<string>{ 63.94366,37.18311 }</string>
	
								<string>{ 45.35211,33.52113 }</string>

							</array>

							<array>
	
								<string>{ 66.76056,54.64789 }</string>
	
								<string>{ 92.67606,73.23944 }</string>
	
								<string>{ 116.61972,85.35211 }</string>
	
								<string>{ 144.50705,94.64789 }</string>
	
								<string>{ 172.39438,100.84506 }</string>
	
								<string>{ 120.84506,51.83099 }</string>
	
								<string>{ 81.12677,36.90141 }</string>
	
								<string>{ 63.94366,37.18311 }</string>

							</array>

							<array>
	
								<string>{ 148.73239,32.95775 }</string>
	
								<string>{ 153.23944,38.59155 }</string>
	
								<string>{ 163.38028,47.04225 }</string>
	
								<string>{ 170.14084,50.70422 }</string>
	
								<string>{ 177.74649,53.23944 }</string>
	
								<string>{ 194.08450,29.85916 }</string>
	
								<string>{ 152.39438,10.70422 }</string>
	
								<string>{ 142.81689,23.94366 }</string>

							</array>

							<array>
	
								<string>{ 239.71832,7.60564 }</string>
	
								<string>{ 198.87326,60.84508 }</string>
	
								<string>{ 203.38028,105.63382 }</string>
	
								<string>{ 240.28171,107.04227 }</string>

							</array>

							<array>
	
								<string>{ 81.12677,36.90141 }</string>
	
								<string>{ 120.84506,51.83099 }</string>
	
								<string>{ 94.36621,28.73239 }</string>

							</array>

							<array>
	
								<string>{ 194.08450,29.85916 }</string>
	
								<string>{ 189.85916,55.49297 }</string>
	
								<string>{ 198.87326,60.84508 }</string>
	
								<string>{ 239.71832,7.60564 }</string>
	
								<string>{ 218.30988,9.85916 }</string>

							</array>

							<array>
	
								<string>{ 189.85916,55.49297 }</string>
	
								<string>{ 194.08450,29.85916 }</string>
	
								<string>{ 177.74649,53.23944 }</string>

							</array>

							<array>
	
								<string>{ 172.39438,100.84506 }</string>
	
								<string>{ 129.57748,59.43663 }</string>
	
								<string>{ 120.84506,51.83099 }</string>

							</array>

							<array>
	
								<string>{ 203.38028,105.63382 }</string>
	
								<string>{ 139.71832,65.35211 }</string>
	
								<string>{ 129.57748,59.43663 }</string>
	
								<string>{ 172.39438,100.84506 }</string>

							</array>

							<array>
	
								<string>{ 203.38028,105.63382 }</string>
	
								<string>{ 153.23944,71.83099 }</string>
	
								<string>{ 139.71832,65.35211 }</string>

							</array>

							<array>
	
								<string>{ 203.38028,105.63382 }</string>
	
								<string>{ 170.42255,77.18311 }</string>
	
								<string>{ 153.23944,71.83099 }</string>

							</array>

							<array>
	
								<string>{ 203.38028,105.63382 }</string>
	
								<string>{ 187.32394,80.84508 }</string>
	
								<string>{ 170.42255,77.18311 }</string>

							</array>

							<array>
	
								<string>{ 203.38028,105.63382 }</string>
	
								<string>{ 195.49295,79.43663 }</string>
	
								<string>{ 187.32394,80.84508 }</string>

							</array>

							<array>
	
								<string>{ 203.38028,105.63382 }</string>
	
								<string>{ 200.00000,72.39436 }</string>
	
								<string>{ 195.49295,79.43663 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

