<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D39</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 125.08151,-138.87751 }</string>
	
								<string>{ 102.00461,-161.95443 }</string>
	
								<string>{ 103.54306,-132.72367 }</string>

							</array>

							<array>
	
								<string>{ 283.91614,-160.41597 }</string>
	
								<string>{ 196.36356,-27.59546 }</string>
	
								<string>{ 166.31992,69.84996 }</string>
	
								<string>{ 284.33215,31.29317 }</string>

							</array>

							<array>
	
								<string>{ 146.10715,-142.98008 }</string>
	
								<string>{ 102.00461,-161.95443 }</string>
	
								<string>{ 125.08151,-138.87751 }</string>

							</array>

							<array>
	
								<string>{ -2.61078,79.58401 }</string>
	
								<string>{ -20.04669,63.68658 }</string>
	
								<string>{ -45.17488,63.17377 }</string>

							</array>

							<array>
	
								<string>{ -2.61078,79.58401 }</string>
	
								<string>{ 28.67126,84.19940 }</string>
	
								<string>{ 25.59433,61.63530 }</string>
	
								<string>{ -20.04669,63.68658 }</string>

							</array>

							<array>
	
								<string>{ 28.67126,84.19940 }</string>
	
								<string>{ 58.92767,86.25069 }</string>
	
								<string>{ 54.82510,58.55838 }</string>
	
								<string>{ 25.59433,61.63530 }</string>

							</array>

							<array>
	
								<string>{ 58.92767,86.25069 }</string>
	
								<string>{ 92.17368,85.33142 }</string>
	
								<string>{ 78.92767,53.43018 }</string>
	
								<string>{ 54.82510,58.55838 }</string>

							</array>

							<array>
	
								<string>{ 92.17368,85.33142 }</string>
	
								<string>{ 166.31992,69.84996 }</string>
	
								<string>{ 100.46613,45.73787 }</string>
	
								<string>{ 78.92767,53.43018 }</string>

							</array>

							<array>
	
								<string>{ 166.31992,69.84996 }</string>
	
								<string>{ 120.97894,35.99428 }</string>
	
								<string>{ 100.46613,45.73787 }</string>

							</array>

							<array>
	
								<string>{ 166.31992,69.84996 }</string>
	
								<string>{ 142.51743,22.66095 }</string>
	
								<string>{ 120.97894,35.99428 }</string>

							</array>

							<array>
	
								<string>{ 166.31992,69.84996 }</string>
	
								<string>{ 163.54306,5.22505 }</string>
	
								<string>{ 142.51743,22.66095 }</string>

							</array>

							<array>
	
								<string>{ 166.31992,69.84996 }</string>
	
								<string>{ 181.49176,-11.69803 }</string>
	
								<string>{ 163.54306,5.22505 }</string>

							</array>

							<array>
	
								<string>{ 168.15845,-146.05700 }</string>
	
								<string>{ 102.00461,-161.95443 }</string>
	
								<string>{ 146.10715,-142.98008 }</string>

							</array>

							<array>
	
								<string>{ 168.15845,-146.05700 }</string>
	
								<string>{ 187.64563,-144.00572 }</string>
	
								<string>{ 283.91614,-160.41597 }</string>
	
								<string>{ 102.00461,-161.95443 }</string>

							</array>

							<array>
	
								<string>{ 166.31992,69.84996 }</string>
	
								<string>{ 196.36356,-27.59546 }</string>
	
								<string>{ 181.49176,-11.69803 }</string>

							</array>

							<array>
	
								<string>{ 203.03024,-137.85187 }</string>
	
								<string>{ 283.91614,-160.41597 }</string>
	
								<string>{ 187.64563,-144.00572 }</string>

							</array>

							<array>
	
								<string>{ 214.31229,-125.54418 }</string>
	
								<string>{ 283.91614,-160.41597 }</string>
	
								<string>{ 203.03024,-137.85187 }</string>

							</array>

							<array>
	
								<string>{ 221.49176,-109.64674 }</string>
	
								<string>{ 283.91614,-160.41597 }</string>
	
								<string>{ 214.31229,-125.54418 }</string>

							</array>

							<array>
	
								<string>{ 223.03024,-92.21085 }</string>
	
								<string>{ 283.91614,-160.41597 }</string>
	
								<string>{ 221.49176,-109.64674 }</string>

							</array>

							<array>
	
								<string>{ 220.97894,-76.82623 }</string>
	
								<string>{ 283.91614,-160.41597 }</string>
	
								<string>{ 223.03024,-92.21085 }</string>

							</array>

							<array>
	
								<string>{ 215.85074,-61.95444 }</string>
	
								<string>{ 283.91614,-160.41597 }</string>
	
								<string>{ 220.97894,-76.82623 }</string>

							</array>

							<array>
	
								<string>{ 207.13281,-44.00572 }</string>
	
								<string>{ 283.91614,-160.41597 }</string>
	
								<string>{ 215.85074,-61.95444 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -285.43209,-50.55489 }</string>
	
								<string>{ -237.65722,-55.37509 }</string>
	
								<string>{ -284.30960,-94.67493 }</string>

							</array>

							<array>
	
								<string>{ 45.93253,-158.96483 }</string>
	
								<string>{ -57.14441,-158.45201 }</string>
	
								<string>{ -68.95833,-113.64293 }</string>
	
								<string>{ 29.00943,-115.37509 }</string>
	
								<string>{ 53.62482,-124.09304 }</string>

							</array>

							<array>
	
								<string>{ -38.68286,21.54799 }</string>
	
								<string>{ -43.81107,0.00952 }</string>
	
								<string>{ -94.58031,15.39413 }</string>
	
								<string>{ -82.78543,27.70183 }</string>
	
								<string>{ -56.63158,36.41978 }</string>
	
								<string>{ -46.88800,35.90695 }</string>

							</array>

							<array>
	
								<string>{ -42.78543,-21.01611 }</string>
	
								<string>{ -285.43209,-50.55489 }</string>
	
								<string>{ -150.99055,-0.50330 }</string>
	
								<string>{ -94.58031,15.39413 }</string>
	
								<string>{ -43.81107,0.00952 }</string>

							</array>

							<array>
	
								<string>{ -285.43209,-50.55489 }</string>
	
								<string>{ -192.52901,-39.47765 }</string>
	
								<string>{ -237.65722,-55.37509 }</string>

							</array>

							<array>
	
								<string>{ -74.69620,-95.47194 }</string>
	
								<string>{ 29.00943,-115.37509 }</string>
	
								<string>{ -68.95833,-113.64293 }</string>

							</array>

							<array>
	
								<string>{ -83.72375,-79.77773 }</string>
	
								<string>{ 29.00943,-115.37509 }</string>
	
								<string>{ -74.69620,-95.47194 }</string>

							</array>

							<array>
	
								<string>{ -94.58031,-67.68279 }</string>
	
								<string>{ 29.00943,-115.37509 }</string>
	
								<string>{ -83.72375,-79.77773 }</string>

							</array>

							<array>
	
								<string>{ -111.50337,-54.86227 }</string>
	
								<string>{ 11.06073,-105.11868 }</string>
	
								<string>{ 29.00943,-115.37509 }</string>
	
								<string>{ -94.58031,-67.68279 }</string>

							</array>

							<array>
	
								<string>{ -111.50337,-54.86227 }</string>
	
								<string>{ -6.88800,-89.73406 }</string>
	
								<string>{ 11.06073,-105.11868 }</string>

							</array>

							<array>
	
								<string>{ -111.50337,-54.86227 }</string>
	
								<string>{ -18.68286,-74.86227 }</string>
	
								<string>{ -6.88800,-89.73406 }</string>

							</array>

							<array>
	
								<string>{ -111.50337,-54.86227 }</string>
	
								<string>{ -29.45210,-58.96484 }</string>
	
								<string>{ -18.68286,-74.86227 }</string>

							</array>

							<array>
	
								<string>{ -111.50337,-54.86227 }</string>
	
								<string>{ -37.65723,-38.96484 }</string>
	
								<string>{ -29.45210,-58.96484 }</string>

							</array>

							<array>
	
								<string>{ -111.50337,-54.86227 }</string>
	
								<string>{ -132.52902,-45.11868 }</string>
	
								<string>{ -42.78543,-21.01611 }</string>
	
								<string>{ -37.65723,-38.96484 }</string>

							</array>

							<array>
	
								<string>{ -152.52902,-39.47765 }</string>
	
								<string>{ -42.78543,-21.01611 }</string>
	
								<string>{ -132.52902,-45.11868 }</string>

							</array>

							<array>
	
								<string>{ -173.04184,-37.93919 }</string>
	
								<string>{ -42.78543,-21.01611 }</string>
	
								<string>{ -152.52902,-39.47765 }</string>

							</array>

							<array>
	
								<string>{ -192.52901,-39.47765 }</string>
	
								<string>{ -42.78543,-21.01611 }</string>
	
								<string>{ -173.04184,-37.93919 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -109.66484,-159.17758 }</string>
	
								<string>{ -139.40843,-145.84425 }</string>
	
								<string>{ -116.84433,-128.40835 }</string>

							</array>

							<array>
	
								<string>{ -109.66484,-159.17758 }</string>
	
								<string>{ -284.30960,-160.61920 }</string>
	
								<string>{ -284.41597,-153.15869 }</string>
	
								<string>{ -184.53664,-142.76733 }</string>
	
								<string>{ -139.40843,-145.84425 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

