<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D48</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -57.41293,30.04976 }</string>
	
								<string>{ -113.63184,74.82587 }</string>
	
								<string>{ -62.88557,67.36319 }</string>
	
								<string>{ -27.06468,49.95026 }</string>
	
								<string>{ -7.66170,28.55722 }</string>
	
								<string>{ -15.62189,1.69154 }</string>

							</array>

							<array>
	
								<string>{ 69.45273,-123.68159 }</string>
	
								<string>{ 32.13931,-124.17910 }</string>
	
								<string>{ 54.02985,-110.74627 }</string>

							</array>

							<array>
	
								<string>{ 242.28857,-160.79602 }</string>
	
								<string>{ 148.55722,-139.60199 }</string>
	
								<string>{ 172.43781,-127.66169 }</string>
	
								<string>{ 242.08957,-132.13930 }</string>

							</array>

							<array>
	
								<string>{ 5.27364,55.42288 }</string>
	
								<string>{ -27.06468,49.95026 }</string>
	
								<string>{ 19.70151,86.76617 }</string>
	
								<string>{ 34.62686,83.78110 }</string>

							</array>

							<array>
	
								<string>{ -7.66170,28.55722 }</string>
	
								<string>{ -27.06468,49.95026 }</string>
	
								<string>{ 5.27364,55.42288 }</string>

							</array>

							<array>
	
								<string>{ 83.88058,-134.12935 }</string>
	
								<string>{ 10.24876,-129.15423 }</string>
	
								<string>{ 32.13931,-124.17910 }</string>
	
								<string>{ 69.45273,-123.68159 }</string>

							</array>

							<array>
	
								<string>{ -206.66667,59.90050 }</string>
	
								<string>{ -199.20398,-5.77115 }</string>
	
								<string>{ -198.20895,-26.16916 }</string>
	
								<string>{ -239.50249,-160.49751 }</string>
	
								<string>{ -240.49751,44.97513 }</string>

							</array>

							<array>
	
								<string>{ 10.24876,-129.15423 }</string>
	
								<string>{ 83.88058,-134.12935 }</string>
	
								<string>{ 98.80597,-142.58706 }</string>
	
								<string>{ -41.99005,-140.09950 }</string>
	
								<string>{ -14.12935,-131.14428 }</string>

							</array>

							<array>
	
								<string>{ -113.63184,74.82587 }</string>
	
								<string>{ -140.49751,50.44777 }</string>
	
								<string>{ -159.40298,45.47264 }</string>
	
								<string>{ -206.66667,59.90050 }</string>
	
								<string>{ -166.36816,71.84079 }</string>

							</array>

							<array>
	
								<string>{ 242.28857,-160.79602 }</string>
	
								<string>{ 129.15424,-144.57711 }</string>
	
								<string>{ 148.55722,-139.60199 }</string>

							</array>

							<array>
	
								<string>{ -239.50249,-160.49751 }</string>
	
								<string>{ 113.73135,-144.57711 }</string>
	
								<string>{ 129.15424,-144.57711 }</string>
	
								<string>{ 242.28857,-160.79602 }</string>

							</array>

							<array>
	
								<string>{ -77.81094,40.49751 }</string>
	
								<string>{ -113.63184,74.82587 }</string>
	
								<string>{ -57.41293,30.04976 }</string>

							</array>

							<array>
	
								<string>{ -97.21393,47.96021 }</string>
	
								<string>{ -113.63184,74.82587 }</string>
	
								<string>{ -77.81094,40.49751 }</string>

							</array>

							<array>
	
								<string>{ -120.09950,51.94029 }</string>
	
								<string>{ -113.63184,74.82587 }</string>
	
								<string>{ -97.21393,47.96021 }</string>

							</array>

							<array>
	
								<string>{ -140.49751,50.44777 }</string>
	
								<string>{ -113.63184,74.82587 }</string>
	
								<string>{ -120.09950,51.94029 }</string>

							</array>

							<array>
	
								<string>{ -173.33334,37.51244 }</string>
	
								<string>{ -206.66667,59.90050 }</string>
	
								<string>{ -159.40298,45.47264 }</string>

							</array>

							<array>
	
								<string>{ -185.27363,27.56219 }</string>
	
								<string>{ -206.66667,59.90050 }</string>
	
								<string>{ -173.33334,37.51244 }</string>

							</array>

							<array>
	
								<string>{ -194.22886,15.12437 }</string>
	
								<string>{ -206.66667,59.90050 }</string>
	
								<string>{ -185.27363,27.56219 }</string>

							</array>

							<array>
	
								<string>{ -199.20398,-5.77115 }</string>
	
								<string>{ -206.66667,59.90050 }</string>
	
								<string>{ -194.22886,15.12437 }</string>

							</array>

							<array>
	
								<string>{ -191.74129,-46.56716 }</string>
	
								<string>{ -239.50249,-160.49751 }</string>
	
								<string>{ -198.20895,-26.16916 }</string>

							</array>

							<array>
	
								<string>{ -182.28856,-64.97512 }</string>
	
								<string>{ -239.50249,-160.49751 }</string>
	
								<string>{ -191.74129,-46.56716 }</string>

							</array>

							<array>
	
								<string>{ -165.37313,-87.36318 }</string>
	
								<string>{ -239.50249,-160.49751 }</string>
	
								<string>{ -182.28856,-64.97512 }</string>

							</array>

							<array>
	
								<string>{ -147.96020,-103.78109 }</string>
	
								<string>{ -239.50249,-160.49751 }</string>
	
								<string>{ -165.37313,-87.36318 }</string>

							</array>

							<array>
	
								<string>{ -127.06467,-118.20895 }</string>
	
								<string>{ -239.50249,-160.49751 }</string>
	
								<string>{ -147.96020,-103.78109 }</string>

							</array>

							<array>
	
								<string>{ -106.66667,-128.65672 }</string>
	
								<string>{ -239.50249,-160.49751 }</string>
	
								<string>{ -127.06467,-118.20895 }</string>

							</array>

							<array>
	
								<string>{ -86.26866,-136.61691 }</string>
	
								<string>{ -239.50249,-160.49751 }</string>
	
								<string>{ -106.66667,-128.65672 }</string>

							</array>

							<array>
	
								<string>{ -64.37811,-140.59702 }</string>
	
								<string>{ -239.50249,-160.49751 }</string>
	
								<string>{ -86.26866,-136.61691 }</string>

							</array>

							<array>
	
								<string>{ 113.73135,-144.57711 }</string>
	
								<string>{ -239.50249,-160.49751 }</string>
	
								<string>{ -64.37811,-140.59702 }</string>
	
								<string>{ -41.99005,-140.09950 }</string>
	
								<string>{ 98.80597,-142.58706 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 97.31345,-69.95025 }</string>
	
								<string>{ 115.22388,-56.51741 }</string>
	
								<string>{ 240.09952,-10.74626 }</string>
	
								<string>{ 167.46268,-83.38309 }</string>

							</array>

							<array>
	
								<string>{ 240.09952,-10.74626 }</string>
	
								<string>{ 157.51245,64.87563 }</string>
	
								<string>{ 149.55225,79.80099 }</string>
	
								<string>{ 157.51245,108.65671 }</string>
	
								<string>{ 204.77612,86.26866 }</string>
	
								<string>{ 240.29852,49.65175 }</string>

							</array>

							<array>
	
								<string>{ 108.75623,115.62189 }</string>
	
								<string>{ 157.51245,108.65671 }</string>
	
								<string>{ 123.18408,96.71643 }</string>
	
								<string>{ 62.98508,107.86069 }</string>

							</array>

							<array>
	
								<string>{ 157.51245,108.65671 }</string>
	
								<string>{ 137.61194,89.75125 }</string>
	
								<string>{ 123.18408,96.71643 }</string>

							</array>

							<array>
	
								<string>{ 157.51245,108.65671 }</string>
	
								<string>{ 149.55225,79.80099 }</string>
	
								<string>{ 137.61194,89.75125 }</string>

							</array>

							<array>
	
								<string>{ 240.09952,-10.74626 }</string>
	
								<string>{ 160.49753,47.46269 }</string>
	
								<string>{ 157.51245,64.87563 }</string>

							</array>

							<array>
	
								<string>{ 240.09952,-10.74626 }</string>
	
								<string>{ 159.50250,28.55722 }</string>
	
								<string>{ 160.49753,47.46269 }</string>

							</array>

							<array>
	
								<string>{ 240.09952,-10.74626 }</string>
	
								<string>{ 156.51743,9.65175 }</string>
	
								<string>{ 159.50250,28.55722 }</string>

							</array>

							<array>
	
								<string>{ 240.09952,-10.74626 }</string>
	
								<string>{ 150.04974,-7.26369 }</string>
	
								<string>{ 156.51743,9.65175 }</string>

							</array>

							<array>
	
								<string>{ 240.09952,-10.74626 }</string>
	
								<string>{ 144.07959,-18.70647 }</string>
	
								<string>{ 150.04974,-7.26369 }</string>

							</array>

							<array>
	
								<string>{ 240.09952,-10.74626 }</string>
	
								<string>{ 137.61194,-30.14925 }</string>
	
								<string>{ 144.07959,-18.70647 }</string>

							</array>

							<array>
	
								<string>{ 240.09952,-10.74626 }</string>
	
								<string>{ 127.66168,-43.58209 }</string>
	
								<string>{ 137.61194,-30.14925 }</string>

							</array>

							<array>
	
								<string>{ 240.09952,-10.74626 }</string>
	
								<string>{ 115.22388,-56.51741 }</string>
	
								<string>{ 127.66168,-43.58209 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

