<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D4</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 189.68298,114.06339 }</string>
	
								<string>{ 137.23343,160.40344 }</string>
	
								<string>{ 241.49857,160.97983 }</string>
	
								<string>{ 240.11526,103.40057 }</string>

							</array>

							<array>
	
								<string>{ 135.79251,119.82709 }</string>
	
								<string>{ 68.35736,146.91641 }</string>
	
								<string>{ 137.23343,160.40344 }</string>
	
								<string>{ 189.68298,114.06339 }</string>

							</array>

							<array>
	
								<string>{ 14.75504,131.64264 }</string>
	
								<string>{ 68.35736,146.91641 }</string>
	
								<string>{ 70.66281,121.26801 }</string>
	
								<string>{ 12.44957,119.82709 }</string>
	
								<string>{ 7.26225,122.99710 }</string>

							</array>

							<array>
	
								<string>{ 70.66281,121.26801 }</string>
	
								<string>{ 68.35736,146.91641 }</string>
	
								<string>{ 135.79251,119.82709 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 240.38461,-160.38461 }</string>
	
								<string>{ 138.29669,-97.08791 }</string>
	
								<string>{ 135.27472,-75.93407 }</string>
	
								<string>{ 189.12088,-38.57143 }</string>
	
								<string>{ 241.31866,-43.24176 }</string>

							</array>

							<array>
	
								<string>{ -163.90110,27.36263 }</string>
	
								<string>{ -195.49451,-59.17583 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -239.72527,-1.04396 }</string>

							</array>

							<array>
	
								<string>{ -54.01100,24.89011 }</string>
	
								<string>{ -74.89012,-4.50549 }</string>
	
								<string>{ -125.98901,-15.21979 }</string>
	
								<string>{ -163.90110,27.36263 }</string>
	
								<string>{ -94.39561,46.86812 }</string>
	
								<string>{ -52.63737,49.34065 }</string>
	
								<string>{ -45.49451,44.94505 }</string>

							</array>

							<array>
	
								<string>{ -166.92308,-30.32968 }</string>
	
								<string>{ -163.90110,27.36263 }</string>
	
								<string>{ -125.98901,-15.21979 }</string>

							</array>

							<array>
	
								<string>{ -189.72528,-44.34066 }</string>
	
								<string>{ -163.90110,27.36263 }</string>
	
								<string>{ -166.92308,-30.32968 }</string>

							</array>

							<array>
	
								<string>{ 107.80219,-13.84616 }</string>
	
								<string>{ 135.27472,-22.91209 }</string>
	
								<string>{ 119.61539,-45.43956 }</string>
	
								<string>{ 96.81317,-13.57143 }</string>

							</array>

							<array>
	
								<string>{ 135.27472,-22.91209 }</string>
	
								<string>{ 189.12088,-38.57143 }</string>
	
								<string>{ 135.27472,-75.93407 }</string>
	
								<string>{ 119.61539,-45.43956 }</string>

							</array>

							<array>
	
								<string>{ 240.38461,-160.38461 }</string>
	
								<string>{ 133.35162,-112.47253 }</string>
	
								<string>{ 138.29669,-97.08791 }</string>

							</array>

							<array>
	
								<string>{ 240.38461,-160.38461 }</string>
	
								<string>{ 121.53845,-124.83517 }</string>
	
								<string>{ 133.35162,-112.47253 }</string>

							</array>

							<array>
	
								<string>{ 240.38461,-160.38461 }</string>
	
								<string>{ 102.58240,-132.80220 }</string>
	
								<string>{ 121.53845,-124.83517 }</string>

							</array>

							<array>
	
								<string>{ 240.38461,-160.38461 }</string>
	
								<string>{ 74.56042,-135.54945 }</string>
	
								<string>{ 102.58240,-132.80220 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ 40.21976,-134.45055 }</string>
	
								<string>{ 74.56042,-135.54945 }</string>
	
								<string>{ 240.38461,-160.38461 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -38.35165,-124.28572 }</string>
	
								<string>{ 40.21976,-134.45055 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -123.79121,-101.75824 }</string>
	
								<string>{ -38.35165,-124.28572 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -166.92308,-84.45055 }</string>
	
								<string>{ -123.79121,-101.75824 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -188.07692,-72.91209 }</string>
	
								<string>{ -166.92308,-84.45055 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -195.49451,-59.17583 }</string>
	
								<string>{ -188.07692,-72.91209 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -8.68132,95.49449 }</string>
	
								<string>{ -11.15385,66.64835 }</string>
	
								<string>{ -51.26375,78.35164 }</string>

							</array>

							<array>
	
								<string>{ 48.18680,27.63736 }</string>
	
								<string>{ 18.51648,49.89011 }</string>
	
								<string>{ -8.68132,95.49449 }</string>
	
								<string>{ 33.35165,104.01099 }</string>
	
								<string>{ 89.94504,71.86812 }</string>
	
								<string>{ 82.80219,30.38461 }</string>

							</array>

							<array>
	
								<string>{ 89.94504,71.86812 }</string>
	
								<string>{ 33.35165,104.01099 }</string>
	
								<string>{ 105.21976,106.64835 }</string>

							</array>

							<array>
	
								<string>{ -8.68132,95.49449 }</string>
	
								<string>{ 18.51648,49.89011 }</string>
	
								<string>{ -11.15385,66.64835 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

