<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D21</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -83.05949,-41.58640 }</string>
	
								<string>{ -175.41077,3.17281 }</string>
	
								<string>{ -240.28329,38.07365 }</string>
	
								<string>{ -117.33711,63.22946 }</string>
	
								<string>{ -32.06799,4.87253 }</string>

							</array>

							<array>
	
								<string>{ 58.86685,-80.96317 }</string>
	
								<string>{ -39.15015,-95.69405 }</string>
	
								<string>{ 6.45892,-54.05099 }</string>

							</array>

							<array>
	
								<string>{ 156.88385,-39.60340 }</string>
	
								<string>{ 241.30313,-97.39377 }</string>
	
								<string>{ 241.35977,-160.22663 }</string>
	
								<string>{ 111.55807,-68.78187 }</string>
	
								<string>{ 90.59491,-43.00283 }</string>
	
								<string>{ 90.02832,-34.78754 }</string>
	
								<string>{ 118.07367,-19.49008 }</string>

							</array>

							<array>
	
								<string>{ -190.42493,-1.35977 }</string>
	
								<string>{ -240.28329,38.07365 }</string>
	
								<string>{ -175.41077,3.17281 }</string>

							</array>

							<array>
	
								<string>{ -190.42493,-1.35977 }</string>
	
								<string>{ -189.85836,-21.47308 }</string>
	
								<string>{ -240.00000,-159.71671 }</string>
	
								<string>{ -240.28329,38.07365 }</string>

							</array>

							<array>
	
								<string>{ 58.86685,-80.96317 }</string>
	
								<string>{ 88.04532,-89.74504 }</string>
	
								<string>{ 241.35977,-160.22663 }</string>
	
								<string>{ -66.06232,-117.79037 }</string>
	
								<string>{ -39.15015,-95.69405 }</string>

							</array>

							<array>
	
								<string>{ 241.35977,-160.22663 }</string>
	
								<string>{ 88.04532,-89.74504 }</string>
	
								<string>{ 111.55807,-68.78187 }</string>

							</array>

							<array>
	
								<string>{ 241.35977,-160.22663 }</string>
	
								<string>{ -96.65723,-130.82153 }</string>
	
								<string>{ -66.06232,-117.79037 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-159.71671 }</string>
	
								<string>{ -115.07082,-131.38810 }</string>
	
								<string>{ -96.65723,-130.82153 }</string>
	
								<string>{ 241.35977,-160.22663 }</string>

							</array>

							<array>
	
								<string>{ -178.52691,-51.21813 }</string>
	
								<string>{ -240.00000,-159.71671 }</string>
	
								<string>{ -189.85836,-21.47308 }</string>

							</array>

							<array>
	
								<string>{ -155.86402,-94.56091 }</string>
	
								<string>{ -240.00000,-159.71671 }</string>
	
								<string>{ -178.52691,-51.21813 }</string>

							</array>

							<array>
	
								<string>{ -128.66856,-125.43909 }</string>
	
								<string>{ -240.00000,-159.71671 }</string>
	
								<string>{ -155.86402,-94.56091 }</string>

							</array>

							<array>
	
								<string>{ -115.07082,-131.38810 }</string>
	
								<string>{ -240.00000,-159.71671 }</string>
	
								<string>{ -128.66856,-125.43909 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -8.83853,39.71672 }</string>
	
								<string>{ -18.18697,20.16997 }</string>
	
								<string>{ -92.40793,68.95184 }</string>
	
								<string>{ -56.37393,68.38527 }</string>
	
								<string>{ -27.53542,65.21246 }</string>
	
								<string>{ -10.53824,55.58073 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 73.31445,51.61473 }</string>
	
								<string>{ 118.07367,82.49292 }</string>
	
								<string>{ 130.82153,24.70255 }</string>
	
								<string>{ 107.08215,3.22946 }</string>
	
								<string>{ 73.59775,-12.69122 }</string>
	
								<string>{ 43.85269,23.34277 }</string>

							</array>

							<array>
	
								<string>{ 177.28046,31.78470 }</string>
	
								<string>{ 118.07367,82.49292 }</string>
	
								<string>{ 159.15015,101.75638 }</string>
	
								<string>{ 195.41077,112.52124 }</string>
	
								<string>{ 240.16998,117.33713 }</string>
	
								<string>{ 240.16998,28.66856 }</string>

							</array>

							<array>
	
								<string>{ 130.82153,24.70255 }</string>
	
								<string>{ 118.07367,82.49292 }</string>
	
								<string>{ 177.28046,31.78470 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

