<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D45</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -167.37430,44.46928 }</string>
	
								<string>{ -171.44476,-26.00566 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -240.00000,53.18436 }</string>

							</array>

							<array>
	
								<string>{ 207.76538,19.88828 }</string>
	
								<string>{ 181.22906,-23.68715 }</string>
	
								<string>{ 154.13409,-5.81006 }</string>
	
								<string>{ 137.37430,8.15643 }</string>
	
								<string>{ 132.06705,20.44693 }</string>
	
								<string>{ 132.62570,29.94414 }</string>
	
								<string>{ 142.40225,41.95531 }</string>
	
								<string>{ 167.54190,51.17319 }</string>

							</array>

							<array>
	
								<string>{ 240.78214,-159.94413 }</string>
	
								<string>{ 202.45810,-72.29050 }</string>
	
								<string>{ 207.76538,19.88828 }</string>
	
								<string>{ 240.44693,6.20113 }</string>

							</array>

							<array>
	
								<string>{ 207.76538,19.88828 }</string>
	
								<string>{ 195.47488,-35.97765 }</string>
	
								<string>{ 181.22906,-23.68715 }</string>

							</array>

							<array>
	
								<string>{ 207.76538,19.88828 }</string>
	
								<string>{ 203.29611,-51.62011 }</string>
	
								<string>{ 195.47488,-35.97765 }</string>

							</array>

							<array>
	
								<string>{ 240.78214,-159.94413 }</string>
	
								<string>{ 194.91620,-90.44692 }</string>
	
								<string>{ 202.45810,-72.29050 }</string>

							</array>

							<array>
	
								<string>{ 240.78214,-159.94413 }</string>
	
								<string>{ 173.96649,-112.23463 }</string>
	
								<string>{ 194.91620,-90.44692 }</string>

							</array>

							<array>
	
								<string>{ 240.78214,-159.94413 }</string>
	
								<string>{ 134.02237,-142.40224 }</string>
	
								<string>{ 173.96649,-112.23463 }</string>

							</array>

							<array>
	
								<string>{ 240.78214,-159.94413 }</string>
	
								<string>{ 97.70950,-149.94413 }</string>
	
								<string>{ 134.02237,-142.40224 }</string>

							</array>

							<array>
	
								<string>{ 10.00000,-20.61452 }</string>
	
								<string>{ 8.04469,-23.96648 }</string>
	
								<string>{ -70.72626,-12.51396 }</string>
	
								<string>{ -167.37430,44.46928 }</string>
	
								<string>{ -106.75978,30.78212 }</string>
	
								<string>{ -47.26257,9.55307 }</string>

							</array>

							<array>
	
								<string>{ -147.93201,-6.45892 }</string>
	
								<string>{ -167.37430,44.46928 }</string>
	
								<string>{ -70.72626,-12.51396 }</string>

							</array>

							<array>
	
								<string>{ -159.81261,-8.31215 }</string>
	
								<string>{ -167.37430,44.46928 }</string>
	
								<string>{ -147.93201,-6.45892 }</string>

							</array>

							<array>
	
								<string>{ -167.76204,-12.97450 }</string>
	
								<string>{ -167.37430,44.46928 }</string>
	
								<string>{ -159.81261,-8.31215 }</string>

							</array>

							<array>
	
								<string>{ -171.00558,-18.93854 }</string>
	
								<string>{ -167.37430,44.46928 }</string>
	
								<string>{ -167.76204,-12.97450 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ 4.97208,-147.70950 }</string>
	
								<string>{ 97.70950,-149.94413 }</string>
	
								<string>{ 240.78214,-159.94413 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -22.68156,-140.44693 }</string>
	
								<string>{ 4.97208,-147.70950 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -122.96089,-75.36313 }</string>
	
								<string>{ -22.68156,-140.44693 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -159.27374,-43.24022 }</string>
	
								<string>{ -122.96089,-75.36313 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -168.21229,-33.18436 }</string>
	
								<string>{ -159.27374,-43.24022 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -171.44476,-26.00566 }</string>
	
								<string>{ -168.21229,-33.18436 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 37.09497,79.38548 }</string>
	
								<string>{ 16.70392,44.18994 }</string>
	
								<string>{ -19.27374,76.92738 }</string>

							</array>

							<array>
	
								<string>{ 37.09497,79.38548 }</string>
	
								<string>{ 86.53632,75.75420 }</string>
	
								<string>{ 140.72626,64.86034 }</string>
	
								<string>{ 114.18994,46.70392 }</string>
	
								<string>{ 47.18646,14.59683 }</string>
	
								<string>{ 16.70392,44.18994 }</string>

							</array>

							<array>
	
								<string>{ 114.18994,46.70392 }</string>
	
								<string>{ 107.48605,36.36871 }</string>
	
								<string>{ 70.09543,-11.65224 }</string>
	
								<string>{ 47.18646,14.59683 }</string>

							</array>

							<array>
	
								<string>{ 127.03912,-116.14525 }</string>
	
								<string>{ 94.91620,-125.64246 }</string>
	
								<string>{ 59.44135,-124.24581 }</string>
	
								<string>{ 74.44760,-43.56940 }</string>
	
								<string>{ 110.27933,7.59776 }</string>
	
								<string>{ 152.45810,-33.46368 }</string>
	
								<string>{ 165.30728,-74.52514 }</string>
	
								<string>{ 151.89944,-100.22346 }</string>

							</array>

							<array>
	
								<string>{ 165.30728,-74.52514 }</string>
	
								<string>{ 152.45810,-33.46368 }</string>
	
								<string>{ 164.46927,-54.41341 }</string>

							</array>

							<array>
	
								<string>{ 21.45648,-52.47788 }</string>
	
								<string>{ 59.44135,-124.24581 }</string>
	
								<string>{ 24.52515,-113.91061 }</string>
	
								<string>{ -16.25697,-86.53631 }</string>
	
								<string>{ -45.86592,-55.81005 }</string>
	
								<string>{ -47.80144,-42.88920 }</string>

							</array>

							<array>
	
								<string>{ 48.10199,-53.20113 }</string>
	
								<string>{ 59.44135,-124.24581 }</string>
	
								<string>{ 21.45648,-52.47788 }</string>

							</array>

							<array>
	
								<string>{ 58.01700,-52.06799 }</string>
	
								<string>{ 59.44135,-124.24581 }</string>
	
								<string>{ 48.10199,-53.20113 }</string>

							</array>

							<array>
	
								<string>{ 67.08215,-49.12592 }</string>
	
								<string>{ 59.44135,-124.24581 }</string>
	
								<string>{ 58.01700,-52.06799 }</string>

							</array>

							<array>
	
								<string>{ 74.44760,-43.56940 }</string>
	
								<string>{ 59.44135,-124.24581 }</string>
	
								<string>{ 67.08215,-49.12592 }</string>

							</array>

							<array>
	
								<string>{ 74.44760,-43.56940 }</string>
	
								<string>{ 104.13409,24.91620 }</string>
	
								<string>{ 110.27933,7.59776 }</string>

							</array>

							<array>
	
								<string>{ 74.44760,-43.56940 }</string>
	
								<string>{ 77.70459,-34.18298 }</string>
	
								<string>{ 107.48605,36.36871 }</string>
	
								<string>{ 104.13409,24.91620 }</string>

							</array>

							<array>
	
								<string>{ 107.48605,36.36871 }</string>
	
								<string>{ 77.06680,-23.60406 }</string>
	
								<string>{ 70.09543,-11.65224 }</string>

							</array>

							<array>
	
								<string>{ 107.48605,36.36871 }</string>
	
								<string>{ 77.70459,-34.18298 }</string>
	
								<string>{ 77.06680,-23.60406 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 216.14526,118.77097 }</string>
	
								<string>{ 240.50281,143.68716 }</string>
	
								<string>{ 239.88828,120.72626 }</string>

							</array>

							<array>
	
								<string>{ 149.94415,105.08380 }</string>
	
								<string>{ 189.88828,110.94974 }</string>
	
								<string>{ 166.98325,93.35196 }</string>

							</array>

							<array>
	
								<string>{ 119.77655,117.93295 }</string>
	
								<string>{ 240.50281,143.68716 }</string>
	
								<string>{ 216.14526,118.77097 }</string>
	
								<string>{ 189.88828,110.94974 }</string>
	
								<string>{ 149.94415,105.08380 }</string>

							</array>

							<array>
	
								<string>{ 119.77655,117.93295 }</string>
	
								<string>{ 67.82123,131.89944 }</string>
	
								<string>{ 64.74860,134.74860 }</string>
	
								<string>{ 240.50281,143.68716 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

