<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D35</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -89.75845,50.14493 }</string>
	
								<string>{ -130.33816,13.42996 }</string>
	
								<string>{ -173.81642,19.22707 }</string>
	
								<string>{ -111.49757,69.46861 }</string>
	
								<string>{ -88.30917,68.01933 }</string>

							</array>

							<array>
	
								<string>{ -145.31400,-4.44444 }</string>
	
								<string>{ -173.81642,19.22707 }</string>
	
								<string>{ -130.33816,13.42996 }</string>

							</array>

							<array>
	
								<string>{ -160.28986,-25.70049 }</string>
	
								<string>{ -240.00000,15.26570 }</string>
	
								<string>{ -205.21739,20.67633 }</string>
	
								<string>{ -173.81642,19.22707 }</string>
	
								<string>{ -145.31400,-4.44444 }</string>

							</array>

							<array>
	
								<string>{ -21.15941,-100.09661 }</string>
	
								<string>{ -60.28986,-94.29951 }</string>
	
								<string>{ -41.93236,-86.57005 }</string>

							</array>

							<array>
	
								<string>{ -160.28986,-25.70049 }</string>
	
								<string>{ -169.95169,-45.99033 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -240.00000,15.26570 }</string>

							</array>

							<array>
	
								<string>{ -11.98067,112.46378 }</string>
	
								<string>{ 41.64252,121.15942 }</string>
	
								<string>{ 94.78262,121.64252 }</string>
	
								<string>{ 105.41064,95.07248 }</string>
	
								<string>{ -58.35748,99.90338 }</string>

							</array>

							<array>
	
								<string>{ -21.15941,-100.09661 }</string>
	
								<string>{ -6.66666,-109.75845 }</string>
	
								<string>{ -87.34299,-104.44444 }</string>
	
								<string>{ -60.28986,-94.29951 }</string>

							</array>

							<array>
	
								<string>{ 94.78262,121.64252 }</string>
	
								<string>{ 159.51691,111.49759 }</string>
	
								<string>{ 129.08212,93.62320 }</string>
	
								<string>{ 105.41064,95.07248 }</string>

							</array>

							<array>
	
								<string>{ 159.51691,111.49759 }</string>
	
								<string>{ 202.02899,98.45410 }</string>
	
								<string>{ 145.99036,86.85991 }</string>
	
								<string>{ 129.08212,93.62320 }</string>

							</array>

							<array>
	
								<string>{ 202.02899,98.45410 }</string>
	
								<string>{ 240.67633,82.02899 }</string>
	
								<string>{ 158.55075,76.23189 }</string>
	
								<string>{ 145.99036,86.85991 }</string>

							</array>

							<array>
	
								<string>{ 240.67633,82.02899 }</string>
	
								<string>{ 168.21259,61.73914 }</string>
	
								<string>{ 158.55075,76.23189 }</string>

							</array>

							<array>
	
								<string>{ 240.67633,82.02899 }</string>
	
								<string>{ 177.39133,43.86475 }</string>
	
								<string>{ 168.21259,61.73914 }</string>

							</array>

							<array>
	
								<string>{ 240.67633,82.02899 }</string>
	
								<string>{ 241.06281,-160.57971 }</string>
	
								<string>{ 177.39133,43.86475 }</string>

							</array>

							<array>
	
								<string>{ -6.66666,-109.75845 }</string>
	
								<string>{ 7.82610,-115.07246 }</string>
	
								<string>{ -116.81159,-110.24154 }</string>
	
								<string>{ -87.34299,-104.44444 }</string>

							</array>

							<array>
	
								<string>{ 22.80194,-119.90338 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -142.41546,-113.14009 }</string>
	
								<string>{ -116.81159,-110.24154 }</string>
	
								<string>{ 7.82610,-115.07246 }</string>

							</array>

							<array>
	
								<string>{ 241.06281,-160.57971 }</string>
	
								<string>{ 191.88406,-14.58937 }</string>
	
								<string>{ 185.60388,17.29469 }</string>

							</array>

							<array>
	
								<string>{ 241.06281,-160.57971 }</string>
	
								<string>{ 192.85025,-44.05797 }</string>
	
								<string>{ 191.88406,-14.58937 }</string>

							</array>

							<array>
	
								<string>{ 241.06281,-160.57971 }</string>
	
								<string>{ 190.43478,-69.17874 }</string>
	
								<string>{ 192.85025,-44.05797 }</string>

							</array>

							<array>
	
								<string>{ 241.06281,-160.57971 }</string>
	
								<string>{ 187.05316,-82.22222 }</string>
	
								<string>{ 190.43478,-69.17874 }</string>

							</array>

							<array>
	
								<string>{ 241.06281,-160.57971 }</string>
	
								<string>{ 180.28986,-95.26570 }</string>
	
								<string>{ 187.05316,-82.22222 }</string>

							</array>

							<array>
	
								<string>{ 241.06281,-160.57971 }</string>
	
								<string>{ 170.14493,-106.37681 }</string>
	
								<string>{ 180.28986,-95.26570 }</string>

							</array>

							<array>
	
								<string>{ 241.06281,-160.57971 }</string>
	
								<string>{ 153.71982,-113.62319 }</string>
	
								<string>{ 170.14493,-106.37681 }</string>

							</array>

							<array>
	
								<string>{ 241.06281,-160.57971 }</string>
	
								<string>{ 130.04831,-117.48792 }</string>
	
								<string>{ 153.71982,-113.62319 }</string>

							</array>

							<array>
	
								<string>{ 241.06281,-160.57971 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ 130.04831,-117.48792 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ 40.19324,-121.83575 }</string>
	
								<string>{ 85.60388,-121.83575 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ 22.80194,-119.90338 }</string>
	
								<string>{ 40.19324,-121.83575 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -162.70531,-105.41063 }</string>
	
								<string>{ -142.41546,-113.14009 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -175.74879,-89.46860 }</string>
	
								<string>{ -162.70531,-105.41063 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -175.74879,-68.69565 }</string>
	
								<string>{ -175.74879,-89.46860 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -169.95169,-45.99033 }</string>
	
								<string>{ -175.74879,-68.69565 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 29.08212,-16.03864 }</string>
	
								<string>{ 65.79712,-89.46860 }</string>
	
								<string>{ -1.83574,-35.36231 }</string>

							</array>

							<array>
	
								<string>{ 81.73914,-95.74879 }</string>
	
								<string>{ 65.79712,-89.46860 }</string>
	
								<string>{ 29.08212,-16.03864 }</string>
	
								<string>{ 45.02417,-1.54588 }</string>
	
								<string>{ 101.54590,-22.31883 }</string>
	
								<string>{ 117.00485,-76.42512 }</string>
	
								<string>{ 110.72464,-92.85024 }</string>

							</array>

							<array>
	
								<string>{ 84.15460,61.25604 }</string>
	
								<string>{ 90.91788,60.77295 }</string>
	
								<string>{ 99.13043,28.88890 }</string>
	
								<string>{ 65.31403,30.33817 }</string>
	
								<string>{ 68.69565,51.49759 }</string>

							</array>

							<array>
	
								<string>{ 99.13043,28.88890 }</string>
	
								<string>{ 90.91788,60.77295 }</string>
	
								<string>{ 101.44928,61.15942 }</string>

							</array>

							<array>
	
								<string>{ 45.02417,-1.54588 }</string>
	
								<string>{ 56.61838,11.98068 }</string>
	
								<string>{ 99.13043,28.88890 }</string>
	
								<string>{ 101.54590,-22.31883 }</string>

							</array>

							<array>
	
								<string>{ 99.13043,28.88890 }</string>
	
								<string>{ 56.61838,11.98068 }</string>
	
								<string>{ 65.31403,30.33817 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

