<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D21</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -84.95271,-69.54339 }</string>
	
								<string>{ -177.30399,-24.78418 }</string>
	
								<string>{ -196.46735,21.50673 }</string>
	
								<string>{ -119.23033,35.27248 }</string>
	
								<string>{ -33.96121,-23.08447 }</string>

							</array>

							<array>
	
								<string>{ 56.97363,-108.92016 }</string>
	
								<string>{ -42.11862,-118.81233 }</string>
	
								<string>{ 4.56570,-82.00798 }</string>

							</array>

							<array>
	
								<string>{ -177.30399,-24.78418 }</string>
	
								<string>{ -192.31815,-29.31676 }</string>
	
								<string>{ -285.10076,-0.16454 }</string>
	
								<string>{ -196.46735,21.50673 }</string>

							</array>

							<array>
	
								<string>{ 154.99063,-67.56039 }</string>
	
								<string>{ 282.62756,-144.90912 }</string>
	
								<string>{ 109.66486,-96.73886 }</string>
	
								<string>{ 88.70169,-70.95982 }</string>
	
								<string>{ 88.13510,-62.74452 }</string>
	
								<string>{ 116.18045,-47.44707 }</string>

							</array>

							<array>
	
								<string>{ 282.62756,-144.90912 }</string>
	
								<string>{ 86.15210,-117.70203 }</string>
	
								<string>{ 109.66486,-96.73886 }</string>

							</array>

							<array>
	
								<string>{ 56.97363,-108.92016 }</string>
	
								<string>{ 86.15210,-117.70203 }</string>
	
								<string>{ -71.71898,-134.45704 }</string>
	
								<string>{ -42.11862,-118.81233 }</string>

							</array>

							<array>
	
								<string>{ 282.62756,-144.90912 }</string>
	
								<string>{ 284.07495,-159.24464 }</string>
	
								<string>{ -71.71898,-134.45704 }</string>
	
								<string>{ 86.15210,-117.70203 }</string>

							</array>

							<array>
	
								<string>{ -192.31815,-29.31676 }</string>
	
								<string>{ -191.75158,-49.43008 }</string>
	
								<string>{ -284.40874,-159.80999 }</string>
	
								<string>{ -285.10076,-0.16454 }</string>

							</array>

							<array>
	
								<string>{ -185.25884,-81.86329 }</string>
	
								<string>{ -284.40874,-159.80999 }</string>
	
								<string>{ -191.75158,-49.43008 }</string>

							</array>

							<array>
	
								<string>{ -157.75724,-122.51789 }</string>
	
								<string>{ -284.40874,-159.80999 }</string>
	
								<string>{ -185.25884,-81.86329 }</string>

							</array>

							<array>
	
								<string>{ -116.96404,-138.91498 }</string>
	
								<string>{ -284.40874,-159.80999 }</string>
	
								<string>{ -157.75724,-122.51789 }</string>

							</array>

							<array>
	
								<string>{ -71.71898,-134.45704 }</string>
	
								<string>{ 284.07495,-159.24464 }</string>
	
								<string>{ -284.40874,-159.80999 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -8.45230,11.31537 }</string>
	
								<string>{ -17.80075,-8.23137 }</string>
	
								<string>{ -92.02171,40.55051 }</string>
	
								<string>{ -55.98772,39.98393 }</string>
	
								<string>{ -27.14920,36.81113 }</string>
	
								<string>{ -10.15204,27.17940 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 175.83160,5.08954 }</string>
	
								<string>{ 116.62479,55.79776 }</string>
	
								<string>{ 157.70126,75.06122 }</string>
	
								<string>{ 193.96191,85.82610 }</string>
	
								<string>{ 238.72113,90.64195 }</string>
	
								<string>{ 283.47223,88.06824 }</string>
	
								<string>{ 283.20062,-1.49663 }</string>

							</array>

							<array>
	
								<string>{ 71.86557,24.91957 }</string>
	
								<string>{ 116.62479,55.79776 }</string>
	
								<string>{ 129.37268,-1.99261 }</string>
	
								<string>{ 105.63330,-23.46570 }</string>
	
								<string>{ 72.14886,-39.38638 }</string>
	
								<string>{ 42.40384,-3.35239 }</string>

							</array>

							<array>
	
								<string>{ 116.62479,55.79776 }</string>
	
								<string>{ 175.83160,5.08954 }</string>
	
								<string>{ 129.37268,-1.99261 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

