<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D10</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -199.72088,-104.41341 }</string>
	
								<string>{ -284.63091,-160.91024 }</string>
	
								<string>{ -283.92774,-53.26842 }</string>

							</array>

							<array>
	
								<string>{ 125.69812,-136.25698 }</string>
	
								<string>{ 120.11154,-153.57542 }</string>
	
								<string>{ 115.64224,-139.88827 }</string>

							</array>

							<array>
	
								<string>{ 285.03796,-160.50279 }</string>
	
								<string>{ 211.17297,-68.10056 }</string>
	
								<string>{ 212.84897,-39.28378 }</string>
	
								<string>{ 284.49567,-44.83425 }</string>

							</array>

							<array>
	
								<string>{ 80.72604,52.29051 }</string>
	
								<string>{ 62.01096,67.65364 }</string>
	
								<string>{ 78.77075,72.96089 }</string>
	
								<string>{ 89.38528,72.68156 }</string>

							</array>

							<array>
	
								<string>{ 77.65341,29.38548 }</string>
	
								<string>{ 32.68137,48.93855 }</string>
	
								<string>{ 45.80984,59.27374 }</string>
	
								<string>{ 62.01096,67.65364 }</string>
	
								<string>{ 80.72604,52.29051 }</string>

							</array>

							<array>
	
								<string>{ 179.05008,-75.92178 }</string>
	
								<string>{ 161.17297,-77.59776 }</string>
	
								<string>{ 137.70929,-40.16759 }</string>
	
								<string>{ 160.61432,-47.98882 }</string>
	
								<string>{ 185.47467,-65.30726 }</string>
	
								<string>{ 184.63666,-72.01117 }</string>

							</array>

							<array>
	
								<string>{ 185.47467,-65.30726 }</string>
	
								<string>{ 160.61432,-47.98882 }</string>
	
								<string>{ 183.79868,-52.73743 }</string>

							</array>

							<array>
	
								<string>{ 94.69254,-93.79888 }</string>
	
								<string>{ 126.81543,-98.82681 }</string>
	
								<string>{ 120.67020,-109.72067 }</string>
	
								<string>{ 113.68695,-113.63128 }</string>
	
								<string>{ 105.58640,-115.58659 }</string>

							</array>

							<array>
	
								<string>{ 81.28470,8.99442 }</string>
	
								<string>{ 57.26236,-53.01675 }</string>
	
								<string>{ 31.00537,-47.98882 }</string>
	
								<string>{ 20.67020,37.20671 }</string>
	
								<string>{ 32.68137,48.93855 }</string>
	
								<string>{ 77.65341,29.38548 }</string>

							</array>

							<array>
	
								<string>{ 80.72604,-73.40782 }</string>
	
								<string>{ 113.12830,-26.75978 }</string>
	
								<string>{ 137.70929,-40.16759 }</string>
	
								<string>{ 136.87131,-86.25698 }</string>
	
								<string>{ 126.81543,-98.82681 }</string>
	
								<string>{ 94.69254,-93.79888 }</string>

							</array>

							<array>
	
								<string>{ 150.55844,-79.55307 }</string>
	
								<string>{ 137.70929,-40.16759 }</string>
	
								<string>{ 161.17297,-77.59776 }</string>

							</array>

							<array>
	
								<string>{ 136.87131,-86.25698 }</string>
	
								<string>{ 137.70929,-40.16759 }</string>
	
								<string>{ 150.55844,-79.55307 }</string>

							</array>

							<array>
	
								<string>{ 57.26236,-53.01675 }</string>
	
								<string>{ 96.36850,-12.23463 }</string>
	
								<string>{ 113.12830,-26.75978 }</string>
	
								<string>{ 80.72604,-73.40782 }</string>

							</array>

							<array>
	
								<string>{ 57.26236,-53.01675 }</string>
	
								<string>{ 81.28470,8.99442 }</string>
	
								<string>{ 96.36850,-12.23463 }</string>

							</array>

							<array>
	
								<string>{ 132.96069,-132.62570 }</string>
	
								<string>{ 285.03796,-160.50279 }</string>
	
								<string>{ 120.11154,-153.57542 }</string>
	
								<string>{ 125.69812,-136.25698 }</string>

							</array>

							<array>
	
								<string>{ -163.40804,-116.70391 }</string>
	
								<string>{ -284.63091,-160.91024 }</string>
	
								<string>{ -199.72088,-104.41341 }</string>

							</array>

							<array>
	
								<string>{ 167.03891,-101.89944 }</string>
	
								<string>{ 174.86014,-101.62011 }</string>
	
								<string>{ 143.01654,-121.17318 }</string>
	
								<string>{ 147.48584,-113.91061 }</string>
	
								<string>{ 153.07242,-106.92737 }</string>
	
								<string>{ 158.93835,-103.01676 }</string>

							</array>

							<array>
	
								<string>{ 13.68695,-59.16201 }</string>
	
								<string>{ 20.67020,37.20671 }</string>
	
								<string>{ 31.00537,-47.98882 }</string>

							</array>

							<array>
	
								<string>{ -6.14545,-79.55307 }</string>
	
								<string>{ -45.25160,-64.74860 }</string>
	
								<string>{ -16.75998,-11.39665 }</string>
	
								<string>{ -2.79352,9.55307 }</string>
	
								<string>{ 9.49701,25.75420 }</string>
	
								<string>{ 20.67020,37.20671 }</string>
	
								<string>{ 13.68695,-59.16201 }</string>

							</array>

							<array>
	
								<string>{ 51.67578,-154.41341 }</string>
	
								<string>{ -41.34099,-149.10614 }</string>
	
								<string>{ -4.74881,-145.47486 }</string>

							</array>

							<array>
	
								<string>{ 183.51935,-100.78212 }</string>
	
								<string>{ 285.03796,-160.50279 }</string>
	
								<string>{ 137.42996,-127.59776 }</string>
	
								<string>{ 143.01654,-121.17318 }</string>
	
								<string>{ 174.86014,-101.62011 }</string>

							</array>

							<array>
	
								<string>{ -23.74323,-110.27933 }</string>
	
								<string>{ -58.38010,-84.58100 }</string>
	
								<string>{ -45.25160,-64.74860 }</string>
	
								<string>{ -6.14545,-79.55307 }</string>

							</array>

							<array>
	
								<string>{ -41.34099,-149.10614 }</string>
	
								<string>{ -75.97786,-102.17877 }</string>
	
								<string>{ -58.38010,-84.58100 }</string>
	
								<string>{ -23.74323,-110.27933 }</string>

							</array>

							<array>
	
								<string>{ -41.34099,-149.10614 }</string>
	
								<string>{ -89.94434,-111.11732 }</string>
	
								<string>{ -75.97786,-102.17877 }</string>

							</array>

							<array>
	
								<string>{ -41.34099,-149.10614 }</string>
	
								<string>{ -103.63150,-116.98324 }</string>
	
								<string>{ -89.94434,-111.11732 }</string>

							</array>

							<array>
	
								<string>{ -41.34099,-149.10614 }</string>
	
								<string>{ -121.22926,-120.61452 }</string>
	
								<string>{ -103.63150,-116.98324 }</string>

							</array>

							<array>
	
								<string>{ -141.34099,-120.61452 }</string>
	
								<string>{ -41.34099,-149.10614 }</string>
	
								<string>{ -284.63091,-160.91024 }</string>
	
								<string>{ -163.40804,-116.70391 }</string>

							</array>

							<array>
	
								<string>{ 285.03796,-160.50279 }</string>
	
								<string>{ 209.77634,-78.99442 }</string>
	
								<string>{ 211.17297,-68.10056 }</string>

							</array>

							<array>
	
								<string>{ 285.03796,-160.50279 }</string>
	
								<string>{ 205.02774,-88.21229 }</string>
	
								<string>{ 209.77634,-78.99442 }</string>

							</array>

							<array>
	
								<string>{ 285.03796,-160.50279 }</string>
	
								<string>{ 198.04449,-94.35754 }</string>
	
								<string>{ 205.02774,-88.21229 }</string>

							</array>

							<array>
	
								<string>{ 285.03796,-160.50279 }</string>
	
								<string>{ 190.78192,-98.54749 }</string>
	
								<string>{ 198.04449,-94.35754 }</string>

							</array>

							<array>
	
								<string>{ -41.34099,-149.10614 }</string>
	
								<string>{ -141.34099,-120.61452 }</string>
	
								<string>{ -121.22926,-120.61452 }</string>

							</array>

							<array>
	
								<string>{ 285.03796,-160.50279 }</string>
	
								<string>{ 183.51935,-100.78212 }</string>
	
								<string>{ 190.78192,-98.54749 }</string>

							</array>

							<array>
	
								<string>{ 285.03796,-160.50279 }</string>
	
								<string>{ 132.96069,-132.62570 }</string>
	
								<string>{ 137.42996,-127.59776 }</string>

							</array>

							<array>
	
								<string>{ 51.67578,-154.41341 }</string>
	
								<string>{ -284.63091,-160.91024 }</string>
	
								<string>{ -41.34099,-149.10614 }</string>

							</array>

							<array>
	
								<string>{ 120.11154,-153.57542 }</string>
	
								<string>{ 285.03796,-160.50279 }</string>
	
								<string>{ -284.63091,-160.91024 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 211.23553,8.12999 }</string>
	
								<string>{ 185.81656,12.87860 }</string>
	
								<string>{ 214.86682,86.47710 }</string>
	
								<string>{ 284.21637,87.65028 }</string>
	
								<string>{ 283.67743,6.96016 }</string>

							</array>

							<array>
	
								<string>{ -39.60245,62.59927 }</string>
	
								<string>{ -36.52983,70.14117 }</string>
	
								<string>{ -30.94324,76.84508 }</string>
	
								<string>{ -19.21140,84.66631 }</string>
	
								<string>{ 12.63220,99.19144 }</string>
	
								<string>{ -2.73093,71.53781 }</string>
	
								<string>{ -28.70859,51.14676 }</string>
	
								<string>{ -36.52983,54.49870 }</string>

							</array>

							<array>
	
								<string>{ 185.81656,12.87860 }</string>
	
								<string>{ 187.77185,89.69424 }</string>
	
								<string>{ 214.86682,86.47710 }</string>

							</array>

							<array>
	
								<string>{ 185.81656,12.87860 }</string>
	
								<string>{ 162.07355,20.69983 }</string>
	
								<string>{ 148.38638,34.38698 }</string>
	
								<string>{ 152.01767,66.78922 }</string>
	
								<string>{ 159.00092,96.95682 }</string>
	
								<string>{ 187.77185,89.69424 }</string>

							</array>

							<array>
	
								<string>{ 126.04001,113.43726 }</string>
	
								<string>{ 111.79419,99.75009 }</string>
	
								<string>{ 90.00650,100.86743 }</string>
	
								<string>{ 55.64896,113.43726 }</string>
	
								<string>{ 107.32492,126.00708 }</string>

							</array>

							<array>
	
								<string>{ 12.63220,99.19144 }</string>
	
								<string>{ 19.33609,84.38698 }</string>
	
								<string>{ -2.73093,71.53781 }</string>

							</array>

							<array>
	
								<string>{ 12.63220,99.19144 }</string>
	
								<string>{ 55.64896,113.43726 }</string>
	
								<string>{ 42.79977,93.88419 }</string>
	
								<string>{ 19.33609,84.38698 }</string>

							</array>

							<array>
	
								<string>{ 55.64896,113.43726 }</string>
	
								<string>{ 67.38080,99.47076 }</string>
	
								<string>{ 42.79977,93.88419 }</string>

							</array>

							<array>
	
								<string>{ 55.64896,113.43726 }</string>
	
								<string>{ 90.00650,100.86743 }</string>
	
								<string>{ 67.38080,99.47076 }</string>

							</array>

							<array>
	
								<string>{ 126.04001,113.43726 }</string>
	
								<string>{ 124.92270,97.51547 }</string>
	
								<string>{ 111.79419,99.75009 }</string>

							</array>

							<array>
	
								<string>{ 126.04001,113.43726 }</string>
	
								<string>{ 159.00092,96.95682 }</string>
	
								<string>{ 137.21320,92.20821 }</string>
	
								<string>{ 124.92270,97.51547 }</string>

							</array>

							<array>
	
								<string>{ 159.00092,96.95682 }</string>
	
								<string>{ 146.71039,84.94563 }</string>
	
								<string>{ 137.21320,92.20821 }</string>

							</array>

							<array>
	
								<string>{ 159.00092,96.95682 }</string>
	
								<string>{ 151.45901,76.56575 }</string>
	
								<string>{ 146.71039,84.94563 }</string>

							</array>

							<array>
	
								<string>{ 148.94504,58.12999 }</string>
	
								<string>{ 152.01767,66.78922 }</string>
	
								<string>{ 148.38638,34.38698 }</string>
	
								<string>{ 146.43106,40.25290 }</string>
	
								<string>{ 146.15173,48.35345 }</string>

							</array>

							<array>
	
								<string>{ 159.00092,96.95682 }</string>
	
								<string>{ 152.01767,66.78922 }</string>
	
								<string>{ 151.45901,76.56575 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -79.53690,98.69534 }</string>
	
								<string>{ -71.99500,112.66183 }</string>
	
								<string>{ -59.14583,123.27637 }</string>
	
								<string>{ -36.24080,136.40485 }</string>
	
								<string>{ -33.44751,102.04730 }</string>
	
								<string>{ -79.25757,83.89088 }</string>

							</array>

							<array>
	
								<string>{ -36.24080,136.40485 }</string>
	
								<string>{ -0.48660,148.41602 }</string>
	
								<string>{ -1.60394,113.77914 }</string>
	
								<string>{ -33.44751,102.04730 }</string>

							</array>

							<array>
	
								<string>{ -0.48660,148.41602 }</string>
	
								<string>{ 66.27316,161.60037 }</string>
	
								<string>{ 39.17819,126.06964 }</string>
	
								<string>{ -1.60394,113.77914 }</string>

							</array>

							<array>
	
								<string>{ 66.27316,161.60037 }</string>
	
								<string>{ 79.12231,135.84619 }</string>
	
								<string>{ 39.17819,126.06964 }</string>

							</array>

							<array>
	
								<string>{ 66.27316,161.60037 }</string>
	
								<string>{ 128.56366,144.78473 }</string>
	
								<string>{ 79.12231,135.84619 }</string>

							</array>

							<array>
	
								<string>{ 239.79272,152.10318 }</string>
	
								<string>{ 284.77502,160.31882 }</string>
	
								<string>{ 284.13879,148.83279 }</string>

							</array>

							<array>
	
								<string>{ 66.27316,161.60037 }</string>
	
								<string>{ 188.06088,150.92999 }</string>
	
								<string>{ 128.56366,144.78473 }</string>

							</array>

							<array>
	
								<string>{ 284.77502,160.31882 }</string>
	
								<string>{ 239.79272,152.10318 }</string>
	
								<string>{ 188.06088,150.92999 }</string>
	
								<string>{ 66.27316,161.60037 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

