<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D60</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -162.07085,-26.75749 }</string>
	
								<string>{ -162.07085,-9.59128 }</string>
	
								<string>{ -143.26976,-23.76022 }</string>

							</array>

							<array>
	
								<string>{ -174.87739,-30.84470 }</string>
	
								<string>{ -170.51772,5.12262 }</string>
	
								<string>{ -162.07085,-9.59128 }</string>
	
								<string>{ -162.07085,-26.75749 }</string>

							</array>

							<array>
	
								<string>{ -166.43052,66.43051 }</string>
	
								<string>{ -172.97003,49.80927 }</string>
	
								<string>{ -194.49591,68.61035 }</string>
	
								<string>{ -174.33243,90.13623 }</string>
	
								<string>{ -164.79564,82.23433 }</string>

							</array>

							<array>
	
								<string>{ -50.35423,-112.58856 }</string>
	
								<string>{ -98.85559,-108.22889 }</string>
	
								<string>{ -83.05177,-96.51226 }</string>

							</array>

							<array>
	
								<string>{ -173.78747,30.73569 }</string>
	
								<string>{ -192.31608,-42.28883 }</string>
	
								<string>{ -205.12262,-54.55041 }</string>
	
								<string>{ -240.00000,77.00272 }</string>
	
								<string>{ -210.29973,75.69482 }</string>
	
								<string>{ -194.49591,68.61035 }</string>
	
								<string>{ -172.97003,49.80927 }</string>

							</array>

							<array>
	
								<string>{ -192.31608,-42.28883 }</string>
	
								<string>{ -173.78747,30.73569 }</string>
	
								<string>{ -170.51772,5.12262 }</string>
	
								<string>{ -174.87739,-30.84470 }</string>

							</array>

							<array>
	
								<string>{ 240.38147,-43.10627 }</string>
	
								<string>{ 240.87192,-159.78202 }</string>
	
								<string>{ 227.84741,-64.63216 }</string>
	
								<string>{ 231.38965,-50.46322 }</string>

							</array>

							<array>
	
								<string>{ -50.35423,-112.58856 }</string>
	
								<string>{ -13.84196,-125.39510 }</string>
	
								<string>{ -119.01907,-116.94823 }</string>
	
								<string>{ -98.85559,-108.22889 }</string>

							</array>

							<array>
	
								<string>{ -215.47684,-71.17166 }</string>
	
								<string>{ -240.00000,77.00272 }</string>
	
								<string>{ -205.12262,-54.55041 }</string>

							</array>

							<array>
	
								<string>{ -215.47684,-71.17166 }</string>
	
								<string>{ -217.65668,-87.52044 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -240.00000,77.00272 }</string>

							</array>

							<array>
	
								<string>{ 240.87192,-159.78202 }</string>
	
								<string>{ 224.03268,-77.43869 }</string>
	
								<string>{ 227.84741,-64.63216 }</string>

							</array>

							<array>
	
								<string>{ 240.87192,-159.78202 }</string>
	
								<string>{ 218.58310,-90.79019 }</string>
	
								<string>{ 224.03268,-77.43869 }</string>

							</array>

							<array>
	
								<string>{ 240.87192,-159.78202 }</string>
	
								<string>{ 209.59128,-103.05177 }</string>
	
								<string>{ 218.58310,-90.79019 }</string>

							</array>

							<array>
	
								<string>{ 240.87192,-159.78202 }</string>
	
								<string>{ 200.32697,-113.67847 }</string>
	
								<string>{ 209.59128,-103.05177 }</string>

							</array>

							<array>
	
								<string>{ 240.87192,-159.78202 }</string>
	
								<string>{ 190.24521,-122.39782 }</string>
	
								<string>{ 200.32697,-113.67847 }</string>

							</array>

							<array>
	
								<string>{ 240.87192,-159.78202 }</string>
	
								<string>{ 179.07355,-128.93733 }</string>
	
								<string>{ 190.24521,-122.39782 }</string>

							</array>

							<array>
	
								<string>{ 240.87192,-159.78202 }</string>
	
								<string>{ 166.26703,-134.65940 }</string>
	
								<string>{ 179.07355,-128.93733 }</string>

							</array>

							<array>
	
								<string>{ 240.87192,-159.78202 }</string>
	
								<string>{ 143.65121,-139.29155 }</string>
	
								<string>{ 166.26703,-134.65940 }</string>

							</array>

							<array>
	
								<string>{ 240.87192,-159.78202 }</string>
	
								<string>{ 113.95096,-142.01635 }</string>
	
								<string>{ 143.65121,-139.29155 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ 79.34604,-141.74387 }</string>
	
								<string>{ 113.95096,-142.01635 }</string>
	
								<string>{ 240.87192,-159.78202 }</string>

							</array>

							<array>
	
								<string>{ -13.84196,-125.39510 }</string>
	
								<string>{ 12.31607,-131.66213 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -137.00272,-121.03542 }</string>
	
								<string>{ -119.01907,-116.94823 }</string>

							</array>

							<array>
	
								<string>{ -213.84196,-99.50954 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -217.65668,-87.52044 }</string>

							</array>

							<array>
	
								<string>{ -203.48774,-110.95368 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -213.84196,-99.50954 }</string>

							</array>

							<array>
	
								<string>{ -187.68393,-117.22071 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -203.48774,-110.95368 }</string>

							</array>

							<array>
	
								<string>{ -171.88011,-120.76294 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -187.68393,-117.22071 }</string>

							</array>

							<array>
	
								<string>{ -154.16894,-121.85286 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -171.88011,-120.76294 }</string>

							</array>

							<array>
	
								<string>{ -137.00272,-121.03542 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -154.16894,-121.85286 }</string>

							</array>

							<array>
	
								<string>{ 35.20435,-136.56676 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ 12.31607,-131.66213 }</string>

							</array>

							<array>
	
								<string>{ 56.73022,-139.83651 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ 35.20435,-136.56676 }</string>

							</array>

							<array>
	
								<string>{ 79.34604,-141.74387 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ 56.73022,-139.83651 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 233.02451,-37.92916 }</string>
	
								<string>{ 240.38147,-43.37875 }</string>
	
								<string>{ 231.11716,-51.55314 }</string>

							</array>

							<array>
	
								<string>{ 233.29700,-27.30246 }</string>
	
								<string>{ 240.38147,-43.37875 }</string>
	
								<string>{ 233.02451,-37.92916 }</string>

							</array>

							<array>
	
								<string>{ -51.44415,137.27521 }</string>
	
								<string>{ 4.14168,138.63760 }</string>
	
								<string>{ 53.46048,132.37057 }</string>
	
								<string>{ 14.49591,118.47412 }</string>
	
								<string>{ -71.06267,126.10355 }</string>
	
								<string>{ -92.31609,131.22617 }</string>

							</array>

							<array>
	
								<string>{ 53.46048,132.37057 }</string>
	
								<string>{ 61.63486,109.48227 }</string>
	
								<string>{ 14.49591,118.47412 }</string>

							</array>

							<array>
	
								<string>{ 53.46048,132.37057 }</string>
	
								<string>{ 108.22888,117.92914 }</string>
	
								<string>{ 82.34332,103.48773 }</string>
	
								<string>{ 61.63486,109.48227 }</string>

							</array>

							<array>
	
								<string>{ 108.22888,117.92914 }</string>
	
								<string>{ 103.59671,95.85831 }</string>
	
								<string>{ 82.34332,103.48773 }</string>

							</array>

							<array>
	
								<string>{ 108.22888,117.92914 }</string>
	
								<string>{ 154.82288,100.49045 }</string>
	
								<string>{ 124.03268,87.68391 }</string>
	
								<string>{ 103.59671,95.85831 }</string>

							</array>

							<array>
	
								<string>{ 154.82288,100.49045 }</string>
	
								<string>{ 143.92371,77.60217 }</string>
	
								<string>{ 124.03268,87.68391 }</string>

							</array>

							<array>
	
								<string>{ 154.82288,100.49045 }</string>
	
								<string>{ 192.15259,82.77928 }</string>
	
								<string>{ 165.44958,65.06812 }</string>
	
								<string>{ 143.92371,77.60217 }</string>

							</array>

							<array>
	
								<string>{ 192.15259,82.77928 }</string>
	
								<string>{ 239.50952,56.83923 }</string>
	
								<string>{ 185.61307,49.53677 }</string>
	
								<string>{ 165.44958,65.06812 }</string>

							</array>

							<array>
	
								<string>{ 239.50952,56.83923 }</string>
	
								<string>{ 204.95911,30.73569 }</string>
	
								<string>{ 185.61307,49.53677 }</string>

							</array>

							<array>
	
								<string>{ 239.50952,56.83923 }</string>
	
								<string>{ 218.85559,13.56947 }</string>
	
								<string>{ 204.95911,30.73569 }</string>

							</array>

							<array>
	
								<string>{ 239.50952,56.83923 }</string>
	
								<string>{ 228.66483,-5.50409 }</string>
	
								<string>{ 218.85559,13.56947 }</string>

							</array>

							<array>
	
								<string>{ 232.47955,-16.67575 }</string>
	
								<string>{ 239.50952,56.83923 }</string>
	
								<string>{ 240.38147,-43.37875 }</string>
	
								<string>{ 233.29700,-27.30246 }</string>

							</array>

							<array>
	
								<string>{ 228.66483,-5.50409 }</string>
	
								<string>{ 239.50952,56.83923 }</string>
	
								<string>{ 232.47955,-16.67575 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

