<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D6</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -230.55346,-145.00000 }</string>
	
								<string>{ -128.05345,-152.50000 }</string>
	
								<string>{ -283.67846,-160.00000 }</string>
	
								<string>{ -283.36596,-150.62500 }</string>

							</array>

							<array>
	
								<string>{ 284.39728,-159.35691 }</string>
	
								<string>{ 183.16437,-147.28698 }</string>
	
								<string>{ 209.56915,-141.35048 }</string>
	
								<string>{ 285.71967,-150.94654 }</string>

							</array>

							<array>
	
								<string>{ 55.38403,-152.50000 }</string>
	
								<string>{ -128.05345,-152.50000 }</string>
	
								<string>{ -40.55347,-147.18750 }</string>

							</array>

							<array>
	
								<string>{ 284.39728,-159.35691 }</string>
	
								<string>{ 55.38403,-152.50000 }</string>
	
								<string>{ 126.94653,-147.18750 }</string>
	
								<string>{ 183.16437,-147.28698 }</string>

							</array>

							<array>
	
								<string>{ 284.39728,-159.35691 }</string>
	
								<string>{ -283.67846,-160.00000 }</string>
	
								<string>{ -128.05345,-152.50000 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -284.64309,-60.00000 }</string>
	
								<string>{ -236.41158,-57.42765 }</string>
	
								<string>{ -220.25201,-111.24096 }</string>
	
								<string>{ -284.64309,-145.20298 }</string>

							</array>

							<array>
	
								<string>{ -213.90353,-29.77492 }</string>
	
								<string>{ -195.87701,-35.61596 }</string>
	
								<string>{ -184.31451,-60.92846 }</string>
	
								<string>{ -220.25201,-111.24096 }</string>
	
								<string>{ -236.41158,-57.42765 }</string>

							</array>

							<array>
	
								<string>{ 75.37299,-70.30346 }</string>
	
								<string>{ 36.62299,-100.30346 }</string>
	
								<string>{ 39.43549,-84.99096 }</string>
	
								<string>{ 71.62299,-66.24096 }</string>

							</array>

							<array>
	
								<string>{ 36.62299,-100.30346 }</string>
	
								<string>{ 8.18549,-113.11596 }</string>
	
								<string>{ 1.31049,-99.05346 }</string>
	
								<string>{ 39.43549,-84.99096 }</string>

							</array>

							<array>
	
								<string>{ 8.18549,-113.11596 }</string>
	
								<string>{ -29.93951,-122.80346 }</string>
	
								<string>{ -24.62701,-105.30346 }</string>
	
								<string>{ 1.31049,-99.05346 }</string>

							</array>

							<array>
	
								<string>{ -29.93951,-122.80346 }</string>
	
								<string>{ -70.87701,-124.99096 }</string>
	
								<string>{ -47.12701,-107.80346 }</string>
	
								<string>{ -24.62701,-105.30346 }</string>

							</array>

							<array>
	
								<string>{ -70.87701,-124.99096 }</string>
	
								<string>{ -64.93951,-107.49096 }</string>
	
								<string>{ -47.12701,-107.80346 }</string>

							</array>

							<array>
	
								<string>{ -70.87701,-124.99096 }</string>
	
								<string>{ -98.06451,-102.49096 }</string>
	
								<string>{ -64.93951,-107.49096 }</string>

							</array>

							<array>
	
								<string>{ -70.87701,-124.99096 }</string>
	
								<string>{ -220.25201,-111.24096 }</string>
	
								<string>{ -129.93951,-93.74096 }</string>
	
								<string>{ -98.06451,-102.49096 }</string>

							</array>

							<array>
	
								<string>{ -220.25201,-111.24096 }</string>
	
								<string>{ -159.31451,-81.24096 }</string>
	
								<string>{ -129.93951,-93.74096 }</string>

							</array>

							<array>
	
								<string>{ -220.25201,-111.24096 }</string>
	
								<string>{ -184.31451,-60.92846 }</string>
	
								<string>{ -159.31451,-81.24096 }</string>

							</array>

							<array>
	
								<string>{ -213.90353,-29.77492 }</string>
	
								<string>{ -245.73633,24.24438 }</string>
	
								<string>{ -192.43951,-17.80345 }</string>
	
								<string>{ -195.87701,-35.61596 }</string>

							</array>

							<array>
	
								<string>{ -245.73633,24.24438 }</string>
	
								<string>{ -170.56451,-5.61595 }</string>
	
								<string>{ -192.43951,-17.80345 }</string>

							</array>

							<array>
	
								<string>{ -245.73633,24.24438 }</string>
	
								<string>{ -239.93951,29.69655 }</string>
	
								<string>{ -195.87701,25.00903 }</string>
	
								<string>{ -133.06451,10.63405 }</string>
	
								<string>{ -139.31451,6.25905 }</string>
	
								<string>{ -170.56451,-5.61595 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -56.20760,-13.75000 }</string>
	
								<string>{ -31.83260,-23.43750 }</string>
	
								<string>{ -4.33261,-37.81250 }</string>
	
								<string>{ -8.70761,-40.31250 }</string>
	
								<string>{ -77.77010,-19.68750 }</string>
	
								<string>{ -78.39510,-8.75000 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 35.68549,74.67845 }</string>
	
								<string>{ 104.43549,93.74095 }</string>
	
								<string>{ 75.37299,74.99095 }</string>
	
								<string>{ 45.68549,65.61595 }</string>
	
								<string>{ 36.62299,67.49095 }</string>

							</array>

							<array>
	
								<string>{ 240.99799,-24.38405 }</string>
	
								<string>{ 227.56049,-16.88405 }</string>
	
								<string>{ 217.24799,-4.07155 }</string>
	
								<string>{ 211.62299,12.17845 }</string>
	
								<string>{ 212.24799,32.80345 }</string>
	
								<string>{ 284.07574,128.93088 }</string>
	
								<string>{ 284.16724,-34.59807 }</string>

							</array>

							<array>
	
								<string>{ 104.43549,93.74095 }</string>
	
								<string>{ 116.31049,82.80345 }</string>
	
								<string>{ 75.37299,74.99095 }</string>

							</array>

							<array>
	
								<string>{ 104.43549,93.74095 }</string>
	
								<string>{ 284.07574,128.93088 }</string>
	
								<string>{ 149.12299,85.61595 }</string>
	
								<string>{ 116.31049,82.80345 }</string>

							</array>

							<array>
	
								<string>{ 65.99799,18.42845 }</string>
	
								<string>{ 108.49799,22.17845 }</string>
	
								<string>{ 110.06049,8.74095 }</string>
	
								<string>{ 61.31049,13.74095 }</string>

							</array>

							<array>
	
								<string>{ 144.43549,28.74095 }</string>
	
								<string>{ 166.62299,14.67845 }</string>
	
								<string>{ 110.06049,8.74095 }</string>
	
								<string>{ 108.49799,22.17845 }</string>

							</array>

							<array>
	
								<string>{ 169.74799,36.55345 }</string>
	
								<string>{ 189.74799,21.55345 }</string>
	
								<string>{ 166.62299,14.67845 }</string>
	
								<string>{ 144.43549,28.74095 }</string>

							</array>

							<array>
	
								<string>{ 185.99799,44.99095 }</string>
	
								<string>{ 212.24799,32.80345 }</string>
	
								<string>{ 189.74799,21.55345 }</string>
	
								<string>{ 169.74799,36.55345 }</string>

							</array>

							<array>
	
								<string>{ 195.99799,55.30345 }</string>
	
								<string>{ 212.24799,32.80345 }</string>
	
								<string>{ 185.99799,44.99095 }</string>

							</array>

							<array>
	
								<string>{ 198.49799,66.55345 }</string>
	
								<string>{ 284.07574,128.93088 }</string>
	
								<string>{ 212.24799,32.80345 }</string>
	
								<string>{ 195.99799,55.30345 }</string>

							</array>

							<array>
	
								<string>{ 191.62299,78.74095 }</string>
	
								<string>{ 284.07574,128.93088 }</string>
	
								<string>{ 198.49799,66.55345 }</string>

							</array>

							<array>
	
								<string>{ 173.81049,84.67845 }</string>
	
								<string>{ 284.07574,128.93088 }</string>
	
								<string>{ 191.62299,78.74095 }</string>

							</array>

							<array>
	
								<string>{ 149.12299,85.61595 }</string>
	
								<string>{ 284.07574,128.93088 }</string>
	
								<string>{ 173.81049,84.67845 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 241.64105,-102.17846 }</string>
	
								<string>{ 207.89108,-71.24096 }</string>
	
								<string>{ 284.10291,-70.31250 }</string>
	
								<string>{ 284.81030,-120.12862 }</string>

							</array>

							<array>
	
								<string>{ 166.95358,-128.11596 }</string>
	
								<string>{ 127.26608,-107.80346 }</string>
	
								<string>{ 106.64108,-93.42846 }</string>
	
								<string>{ 135.39108,-84.05346 }</string>
	
								<string>{ 168.51608,-76.55346 }</string>
	
								<string>{ 207.89108,-71.24096 }</string>
	
								<string>{ 241.64105,-102.17846 }</string>

							</array>

							<array>
	
								<string>{ 106.64108,-93.42846 }</string>
	
								<string>{ 127.26608,-107.80346 }</string>
	
								<string>{ 75.39108,-109.99096 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

