<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D1</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -284.24979,159.90259 }</string>
	
								<string>{ -202.79665,86.56717 }</string>
	
								<string>{ -286.03462,58.70958 }</string>

							</array>

							<array>
	
								<string>{ -284.24979,159.90259 }</string>
	
								<string>{ -137.12500,131.94031 }</string>
	
								<string>{ -137.12500,124.47763 }</string>
	
								<string>{ -165.48321,92.23882 }</string>
	
								<string>{ -202.79665,86.56717 }</string>

							</array>

							<array>
	
								<string>{ -95.63246,78.50748 }</string>
	
								<string>{ -126.08022,88.65672 }</string>
	
								<string>{ -111.15485,93.43285 }</string>
	
								<string>{ -95.33395,83.28358 }</string>

							</array>

							<array>
	
								<string>{ -126.08022,88.65672 }</string>
	
								<string>{ -165.48321,92.23882 }</string>
	
								<string>{ -124.88620,104.77612 }</string>
	
								<string>{ -111.15485,93.43285 }</string>

							</array>

							<array>
	
								<string>{ -165.48321,92.23882 }</string>
	
								<string>{ -133.24440,114.62686 }</string>
	
								<string>{ -124.88620,104.77612 }</string>

							</array>

							<array>
	
								<string>{ -165.48321,92.23882 }</string>
	
								<string>{ -137.12500,124.47763 }</string>
	
								<string>{ -133.24440,114.62686 }</string>

							</array>

							<array>
	
								<string>{ -65.48320,153.43283 }</string>
	
								<string>{ -284.24979,159.90259 }</string>
	
								<string>{ -1.60260,160.59702 }</string>
	
								<string>{ -17.72202,154.62686 }</string>

							</array>

							<array>
	
								<string>{ -284.24979,159.90259 }</string>
	
								<string>{ -126.08022,140.89554 }</string>
	
								<string>{ -137.12500,131.94031 }</string>

							</array>

							<array>
	
								<string>{ -284.24979,159.90259 }</string>
	
								<string>{ -115.33395,146.26868 }</string>
	
								<string>{ -126.08022,140.89554 }</string>

							</array>

							<array>
	
								<string>{ -284.24979,159.90259 }</string>
	
								<string>{ -98.61754,150.44778 }</string>
	
								<string>{ -115.33395,146.26868 }</string>

							</array>

							<array>
	
								<string>{ -98.61754,150.44778 }</string>
	
								<string>{ -284.24979,159.90259 }</string>
	
								<string>{ -65.48320,153.43283 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 69.89926,-119.20190 }</string>
	
								<string>{ 101.83957,-113.82877 }</string>
	
								<string>{ 66.01868,-140.69444 }</string>
	
								<string>{ 60.34702,-127.26161 }</string>

							</array>

							<array>
	
								<string>{ 285.53461,26.34846 }</string>
	
								<string>{ 285.38849,-161.29146 }</string>
	
								<string>{ 213.77988,-10.24667 }</string>
	
								<string>{ 212.28732,9.15631 }</string>
	
								<string>{ 225.42166,39.70149 }</string>

							</array>

							<array>
	
								<string>{ 123.92911,-106.96310 }</string>
	
								<string>{ 58.85449,-149.64967 }</string>
	
								<string>{ 66.01868,-140.69444 }</string>
	
								<string>{ 101.83957,-113.82877 }</string>

							</array>

							<array>
	
								<string>{ -81.14552,-145.47056 }</string>
	
								<string>{ 58.85449,-149.64967 }</string>
	
								<string>{ -123.23508,-150.84370 }</string>
	
								<string>{ -103.53358,-147.26161 }</string>

							</array>

							<array>
	
								<string>{ 58.85449,-149.64967 }</string>
	
								<string>{ 285.38849,-161.29146 }</string>
	
								<string>{ -284.34722,-161.04167 }</string>
	
								<string>{ -284.69444,-153.91998 }</string>

							</array>

							<array>
	
								<string>{ 140.34702,-100.99295 }</string>
	
								<string>{ 285.38849,-161.29146 }</string>
	
								<string>{ 58.85449,-149.64967 }</string>
	
								<string>{ 123.92911,-106.96310 }</string>

							</array>

							<array>
	
								<string>{ 285.38849,-161.29146 }</string>
	
								<string>{ 212.88434,-23.67952 }</string>
	
								<string>{ 213.77988,-10.24667 }</string>

							</array>

							<array>
	
								<string>{ 285.38849,-161.29146 }</string>
	
								<string>{ 207.21271,-40.39594 }</string>
	
								<string>{ 212.88434,-23.67952 }</string>

							</array>

							<array>
	
								<string>{ 285.38849,-161.29146 }</string>
	
								<string>{ 198.25748,-55.61981 }</string>
	
								<string>{ 207.21271,-40.39594 }</string>

							</array>

							<array>
	
								<string>{ 285.38849,-161.29146 }</string>
	
								<string>{ 187.21271,-68.75414 }</string>
	
								<string>{ 198.25748,-55.61981 }</string>

							</array>

							<array>
	
								<string>{ 285.38849,-161.29146 }</string>
	
								<string>{ 174.37686,-81.29146 }</string>
	
								<string>{ 187.21271,-68.75414 }</string>

							</array>

							<array>
	
								<string>{ 285.38849,-161.29146 }</string>
	
								<string>{ 156.46643,-92.63474 }</string>
	
								<string>{ 174.37686,-81.29146 }</string>

							</array>

							<array>
	
								<string>{ 285.38849,-161.29146 }</string>
	
								<string>{ 140.34702,-100.99295 }</string>
	
								<string>{ 156.46643,-92.63474 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -284.79187,-42.84515 }</string>
	
								<string>{ -235.73611,-46.80556 }</string>
	
								<string>{ -239.70170,-72.88454 }</string>
	
								<string>{ -285.38889,-87.77778 }</string>

							</array>

							<array>
	
								<string>{ 28.05951,102.04083 }</string>
	
								<string>{ 18.80576,71.89159 }</string>
	
								<string>{ -8.65692,78.45876 }</string>

							</array>

							<array>
	
								<string>{ 28.05951,102.04083 }</string>
	
								<string>{ 48.65652,106.81696 }</string>
	
								<string>{ 42.38785,65.02592 }</string>
	
								<string>{ 18.80576,71.89159 }</string>

							</array>

							<array>
	
								<string>{ -116.41812,-114.07856 }</string>
	
								<string>{ -141.49274,-102.43677 }</string>
	
								<string>{ -120.89572,-19.45169 }</string>
	
								<string>{ -86.86588,2.63786 }</string>
	
								<string>{ -86.26886,-77.36214 }</string>
	
								<string>{ -87.16438,-106.01886 }</string>

							</array>

							<array>
	
								<string>{ -192.23901,-44.22781 }</string>
	
								<string>{ -174.32857,-77.36214 }</string>
	
								<string>{ -239.70170,-72.88454 }</string>
	
								<string>{ -235.73611,-46.80556 }</string>

							</array>

							<array>
	
								<string>{ -162.98528,-38.25767 }</string>
	
								<string>{ -141.49274,-102.43677 }</string>
	
								<string>{ -174.32857,-77.36214 }</string>
	
								<string>{ -192.23901,-44.22781 }</string>

							</array>

							<array>
	
								<string>{ -120.89572,-19.45169 }</string>
	
								<string>{ -141.49274,-102.43677 }</string>
	
								<string>{ -162.98528,-38.25767 }</string>

							</array>

							<array>
	
								<string>{ 48.65652,106.81696 }</string>
	
								<string>{ 67.46249,108.60800 }</string>
	
								<string>{ 85.07443,106.51846 }</string>
	
								<string>{ 64.77591,56.66771 }</string>
	
								<string>{ 42.38785,65.02592 }</string>

							</array>

							<array>
	
								<string>{ -54.62708,10.10054 }</string>
	
								<string>{ -86.86588,2.63786 }</string>
	
								<string>{ -61.19423,23.23488 }</string>

							</array>

							<array>
	
								<string>{ -41.79124,-6.01886 }</string>
	
								<string>{ -86.86588,2.63786 }</string>
	
								<string>{ -54.62708,10.10054 }</string>

							</array>

							<array>
	
								<string>{ 85.07443,106.51846 }</string>
	
								<string>{ 102.38785,99.95129 }</string>
	
								<string>{ 83.28339,48.60800 }</string>
	
								<string>{ 64.77591,56.66771 }</string>

							</array>

							<array>
	
								<string>{ 102.38785,99.95129 }</string>
	
								<string>{ 114.62668,90.99606 }</string>
	
								<string>{ 124.17889,76.36920 }</string>
	
								<string>{ 99.40277,38.45876 }</string>
	
								<string>{ 83.28339,48.60800 }</string>

							</array>

							<array>
	
								<string>{ -9.25394,-71.39200 }</string>
	
								<string>{ 91.34308,-89.60095 }</string>
	
								<string>{ 69.85056,-93.18304 }</string>
	
								<string>{ 41.79083,-95.57110 }</string>
	
								<string>{ 12.23862,-91.09349 }</string>

							</array>

							<array>
	
								<string>{ 141.79083,57.86174 }</string>
	
								<string>{ 113.73114,27.71248 }</string>
	
								<string>{ 99.40277,38.45876 }</string>
	
								<string>{ 124.17889,76.36920 }</string>

							</array>

							<array>
	
								<string>{ 162.68637,42.04085 }</string>
	
								<string>{ 126.86548,12.19009 }</string>
	
								<string>{ 113.73114,27.71248 }</string>
	
								<string>{ 141.79083,57.86174 }</string>

							</array>

							<array>
	
								<string>{ 177.91025,32.19009 }</string>
	
								<string>{ 185.07443,21.74234 }</string>
	
								<string>{ 131.34308,-2.13826 }</string>
	
								<string>{ 126.86548,12.19009 }</string>
	
								<string>{ 162.68637,42.04085 }</string>

							</array>

							<array>
	
								<string>{ 185.07443,21.74234 }</string>
	
								<string>{ 186.56696,11.29457 }</string>
	
								<string>{ 188.05951,-9.30244 }</string>
	
								<string>{ 131.04459,-15.86961 }</string>
	
								<string>{ 131.34308,-2.13826 }</string>

							</array>

							<array>
	
								<string>{ -24.17932,-21.83975 }</string>
	
								<string>{ -60.59721,-47.80991 }</string>
	
								<string>{ -77.31364,-54.97408 }</string>
	
								<string>{ -86.86588,2.63786 }</string>
	
								<string>{ -41.79124,-6.01886 }</string>

							</array>

							<array>
	
								<string>{ -86.86588,2.63786 }</string>
	
								<string>{ -77.31364,-54.97408 }</string>
	
								<string>{ -86.26886,-77.36214 }</string>

							</array>

							<array>
	
								<string>{ 188.05951,-9.30244 }</string>
	
								<string>{ 186.86548,-20.94423 }</string>
	
								<string>{ 183.28339,-32.28751 }</string>
	
								<string>{ 175.52219,-43.92931 }</string>
	
								<string>{ 165.67145,-55.27259 }</string>
	
								<string>{ 149.55203,-67.51140 }</string>
	
								<string>{ 124.77591,-30.49648 }</string>
	
								<string>{ 131.04459,-15.86961 }</string>

							</array>

							<array>
	
								<string>{ 132.83563,-77.06364 }</string>
	
								<string>{ 112.83563,-84.22781 }</string>
	
								<string>{ 91.34308,-89.60095 }</string>
	
								<string>{ 117.61176,-40.94424 }</string>
	
								<string>{ 124.77591,-30.49648 }</string>
	
								<string>{ 149.55203,-67.51140 }</string>

							</array>

							<array>
	
								<string>{ -37.31363,-53.78005 }</string>
	
								<string>{ 19.40277,-47.21289 }</string>
	
								<string>{ 44.77591,-55.86961 }</string>
	
								<string>{ 91.34308,-89.60095 }</string>
	
								<string>{ -9.25394,-71.39200 }</string>

							</array>

							<array>
	
								<string>{ -24.17932,-21.83975 }</string>
	
								<string>{ -3.58231,-35.86961 }</string>
	
								<string>{ -37.31363,-53.78005 }</string>
	
								<string>{ -60.59721,-47.80991 }</string>

							</array>

							<array>
	
								<string>{ 19.40277,-47.21289 }</string>
	
								<string>{ -37.31363,-53.78005 }</string>
	
								<string>{ -3.58231,-35.86961 }</string>

							</array>

							<array>
	
								<string>{ 62.68637,-58.85468 }</string>
	
								<string>{ 91.34308,-89.60095 }</string>
	
								<string>{ 44.77591,-55.86961 }</string>

							</array>

							<array>
	
								<string>{ 77.01474,-59.15319 }</string>
	
								<string>{ 91.34308,-89.60095 }</string>
	
								<string>{ 62.68637,-58.85468 }</string>

							</array>

							<array>
	
								<string>{ 94.62668,-56.16811 }</string>
	
								<string>{ 91.34308,-89.60095 }</string>
	
								<string>{ 77.01474,-59.15319 }</string>

							</array>

							<array>
	
								<string>{ 107.46249,-49.60095 }</string>
	
								<string>{ 91.34308,-89.60095 }</string>
	
								<string>{ 94.62668,-56.16811 }</string>

							</array>

							<array>
	
								<string>{ 117.61176,-40.94424 }</string>
	
								<string>{ 91.34308,-89.60095 }</string>
	
								<string>{ 107.46249,-49.60095 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 105.17184,127.46271 }</string>
	
								<string>{ 95.02261,160.00000 }</string>
	
								<string>{ 143.38080,142.68658 }</string>
	
								<string>{ 122.18680,119.40298 }</string>

							</array>

							<array>
	
								<string>{ 46.06738,142.38806 }</string>
	
								<string>{ 40.69424,131.34329 }</string>
	
								<string>{ 26.06738,127.46271 }</string>

							</array>

							<array>
	
								<string>{ 46.06738,142.38806 }</string>
	
								<string>{ 53.23157,132.83582 }</string>
	
								<string>{ 40.69424,131.34329 }</string>

							</array>

							<array>
	
								<string>{ 46.06738,142.38806 }</string>
	
								<string>{ 95.02261,160.00000 }</string>
	
								<string>{ 64.57483,133.43283 }</string>
	
								<string>{ 53.23157,132.83582 }</string>

							</array>

							<array>
	
								<string>{ 143.38080,142.68658 }</string>
	
								<string>{ 95.02261,160.00000 }</string>
	
								<string>{ 167.55991,159.70151 }</string>

							</array>

							<array>
	
								<string>{ 88.45544,132.23880 }</string>
	
								<string>{ 95.02261,160.00000 }</string>
	
								<string>{ 105.17184,127.46271 }</string>

							</array>

							<array>
	
								<string>{ 75.61963,133.13434 }</string>
	
								<string>{ 95.02261,160.00000 }</string>
	
								<string>{ 88.45544,132.23880 }</string>

							</array>

							<array>
	
								<string>{ 64.57483,133.43283 }</string>
	
								<string>{ 95.02261,160.00000 }</string>
	
								<string>{ 75.61963,133.13434 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

