<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D14</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 36.53632,-119.21788 }</string>
	
								<string>{ 58.32404,-123.96648 }</string>
	
								<string>{ 76.75980,-139.05028 }</string>
	
								<string>{ 10.55867,-145.75419 }</string>
	
								<string>{ -6.75977,-119.21788 }</string>

							</array>

							<array>
	
								<string>{ 168.65924,-117.54190 }</string>
	
								<string>{ 187.37430,-121.73184 }</string>
	
								<string>{ 209.44135,-144.63687 }</string>
	
								<string>{ 141.84360,-134.86033 }</string>
	
								<string>{ 143.24023,-118.10056 }</string>

							</array>

							<array>
	
								<string>{ -58.15642,-55.25140 }</string>
	
								<string>{ 3.29610,-3.29608 }</string>
	
								<string>{ 29.83240,-71.17318 }</string>
	
								<string>{ 22.01117,-85.13966 }</string>
	
								<string>{ -31.34077,-85.97765 }</string>

							</array>

							<array>
	
								<string>{ 241.34079,-159.94413 }</string>
	
								<string>{ -56.48044,-153.01676 }</string>
	
								<string>{ 10.55867,-145.75419 }</string>
	
								<string>{ 103.29608,-141.00559 }</string>
	
								<string>{ 209.44135,-144.63687 }</string>
	
								<string>{ 240.44693,-150.50279 }</string>

							</array>

							<array>
	
								<string>{ -87.76537,-28.43575 }</string>
	
								<string>{ -124.91620,18.21230 }</string>
	
								<string>{ -71.56424,21.28493 }</string>
	
								<string>{ -11.50838,9.55307 }</string>
	
								<string>{ 3.29610,-3.29608 }</string>
	
								<string>{ -58.15642,-55.25140 }</string>

							</array>

							<array>
	
								<string>{ -111.50838,-21.17319 }</string>
	
								<string>{ -124.91620,18.21230 }</string>
	
								<string>{ -87.76537,-28.43575 }</string>

							</array>

							<array>
	
								<string>{ -128.82681,-30.39105 }</string>
	
								<string>{ -181.34078,-19.77654 }</string>
	
								<string>{ -163.18436,-0.50279 }</string>
	
								<string>{ -151.17318,10.11174 }</string>
	
								<string>{ -139.72066,16.25699 }</string>
	
								<string>{ -124.91620,18.21230 }</string>
	
								<string>{ -111.50838,-21.17319 }</string>

							</array>

							<array>
	
								<string>{ -137.76536,-66.42458 }</string>
	
								<string>{ -181.34078,-19.77654 }</string>
	
								<string>{ -128.82681,-30.39105 }</string>

							</array>

							<array>
	
								<string>{ -134.13408,-107.20670 }</string>
	
								<string>{ -194.18994,-27.87709 }</string>
	
								<string>{ -181.34078,-19.77654 }</string>
	
								<string>{ -137.76536,-66.42458 }</string>

							</array>

							<array>
	
								<string>{ -125.47486,-148.82682 }</string>
	
								<string>{ -240.00000,-159.72067 }</string>
	
								<string>{ -207.59776,-32.34637 }</string>
	
								<string>{ -194.18994,-27.87709 }</string>
	
								<string>{ -134.13408,-107.20670 }</string>

							</array>

							<array>
	
								<string>{ -224.07821,-34.02235 }</string>
	
								<string>{ -240.00000,-159.72067 }</string>
	
								<string>{ -240.55866,-31.73184 }</string>

							</array>

							<array>
	
								<string>{ -207.59776,-32.34637 }</string>
	
								<string>{ -240.00000,-159.72067 }</string>
	
								<string>{ -224.07821,-34.02235 }</string>

							</array>

							<array>
	
								<string>{ 209.44135,-144.63687 }</string>
	
								<string>{ 103.29608,-141.00559 }</string>
	
								<string>{ 141.84360,-134.86033 }</string>

							</array>

							<array>
	
								<string>{ -56.48044,-153.01676 }</string>
	
								<string>{ -240.00000,-159.72067 }</string>
	
								<string>{ -125.47486,-148.82682 }</string>

							</array>

							<array>
	
								<string>{ 103.29608,-141.00559 }</string>
	
								<string>{ 10.55867,-145.75419 }</string>
	
								<string>{ 76.75980,-139.05028 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-159.72067 }</string>
	
								<string>{ -56.48044,-153.01676 }</string>
	
								<string>{ 241.34079,-159.94413 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -33.85475,77.20671 }</string>
	
								<string>{ -22.40224,85.25140 }</string>
	
								<string>{ -6.42458,85.02794 }</string>
	
								<string>{ 6.08939,79.38548 }</string>
	
								<string>{ -4.24580,36.92738 }</string>
	
								<string>{ -18.49162,37.48604 }</string>
	
								<string>{ -51.17319,44.46928 }</string>

							</array>

							<array>
	
								<string>{ 189.60895,34.97208 }</string>
	
								<string>{ 160.55865,51.73184 }</string>
	
								<string>{ 241.28491,63.46370 }</string>
	
								<string>{ 240.72626,34.41341 }</string>

							</array>

							<array>
	
								<string>{ 148.54749,22.96089 }</string>
	
								<string>{ 122.01117,48.10057 }</string>
	
								<string>{ 160.55865,51.73184 }</string>
	
								<string>{ 189.60895,34.97208 }</string>

							</array>

							<array>
	
								<string>{ 126.20111,2.84917 }</string>
	
								<string>{ 32.34637,24.63687 }</string>
	
								<string>{ 75.92178,48.10057 }</string>
	
								<string>{ 122.01117,48.10057 }</string>
	
								<string>{ 148.54749,22.96089 }</string>

							</array>

							<array>
	
								<string>{ 32.34637,24.63687 }</string>
	
								<string>{ 44.63687,53.68715 }</string>
	
								<string>{ 75.92178,48.10057 }</string>

							</array>

							<array>
	
								<string>{ 32.34637,24.63687 }</string>
	
								<string>{ -4.24580,36.92738 }</string>
	
								<string>{ 21.17319,65.41901 }</string>
	
								<string>{ 44.63687,53.68715 }</string>

							</array>

							<array>
	
								<string>{ -4.24580,36.92738 }</string>
	
								<string>{ 6.08939,79.38548 }</string>
	
								<string>{ 21.17319,65.41901 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 120.89386,-86.81564 }</string>
	
								<string>{ 59.16202,-8.82681 }</string>
	
								<string>{ 121.78772,-22.51396 }</string>
	
								<string>{ 133.18436,-42.68156 }</string>
	
								<string>{ 153.85477,-84.86034 }</string>

							</array>

							<array>
	
								<string>{ 133.18436,-42.68156 }</string>
	
								<string>{ 121.78772,-22.51396 }</string>
	
								<string>{ 128.15643,-30.11172 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

