<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D44</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 241.12677,-159.43662 }</string>
	
								<string>{ 184.78873,-89.01408 }</string>
	
								<string>{ 240.56339,-102.81690 }</string>

							</array>

							<array>
	
								<string>{ 23.66199,-31.83098 }</string>
	
								<string>{ 30.42255,-25.91550 }</string>
	
								<string>{ 38.30988,-21.40845 }</string>
	
								<string>{ 71.26761,-38.30986 }</string>
	
								<string>{ 89.01410,-51.26760 }</string>
	
								<string>{ 26.47888,-46.76056 }</string>
	
								<string>{ 20.00000,-39.71831 }</string>

							</array>

							<array>
	
								<string>{ 7.60564,-108.45070 }</string>
	
								<string>{ -16.61972,-141.69014 }</string>
	
								<string>{ -6.76056,-114.36620 }</string>

							</array>

							<array>
	
								<string>{ 241.12677,-159.43662 }</string>
	
								<string>{ 30.98593,-56.33803 }</string>
	
								<string>{ 26.47888,-46.76056 }</string>
	
								<string>{ 123.09860,-69.85915 }</string>
	
								<string>{ 184.78873,-89.01408 }</string>

							</array>

							<array>
	
								<string>{ -56.05634,-145.07042 }</string>
	
								<string>{ -128.45071,-148.16901 }</string>
	
								<string>{ -101.69014,-137.18310 }</string>
	
								<string>{ -78.87323,-136.05634 }</string>

							</array>

							<array>
	
								<string>{ -185.63380,-143.66197 }</string>
	
								<string>{ -128.45071,-148.16901 }</string>
	
								<string>{ -240.00000,-159.43662 }</string>
	
								<string>{ -239.71831,-149.57747 }</string>

							</array>

							<array>
	
								<string>{ 123.09860,-69.85915 }</string>
	
								<string>{ 26.47888,-46.76056 }</string>
	
								<string>{ 89.01410,-51.26760 }</string>

							</array>

							<array>
	
								<string>{ 18.59155,-100.28169 }</string>
	
								<string>{ 241.12677,-159.43662 }</string>
	
								<string>{ -16.61972,-141.69014 }</string>
	
								<string>{ 7.60564,-108.45070 }</string>

							</array>

							<array>
	
								<string>{ -128.45071,-148.16901 }</string>
	
								<string>{ -56.05634,-145.07042 }</string>
	
								<string>{ 241.12677,-159.43662 }</string>
	
								<string>{ -240.00000,-159.43662 }</string>

							</array>

							<array>
	
								<string>{ 241.12677,-159.43662 }</string>
	
								<string>{ 32.95776,-67.04225 }</string>
	
								<string>{ 30.98593,-56.33803 }</string>

							</array>

							<array>
	
								<string>{ 241.12677,-159.43662 }</string>
	
								<string>{ 32.11267,-76.61972 }</string>
	
								<string>{ 32.95776,-67.04225 }</string>

							</array>

							<array>
	
								<string>{ 241.12677,-159.43662 }</string>
	
								<string>{ 26.19717,-90.70422 }</string>
	
								<string>{ 32.11267,-76.61972 }</string>

							</array>

							<array>
	
								<string>{ 241.12677,-159.43662 }</string>
	
								<string>{ 18.59155,-100.28169 }</string>
	
								<string>{ 26.19717,-90.70422 }</string>

							</array>

							<array>
	
								<string>{ 241.12677,-159.43662 }</string>
	
								<string>{ -56.05634,-145.07042 }</string>
	
								<string>{ -16.61972,-141.69014 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -240.56338,-53.52113 }</string>
	
								<string>{ -229.85915,-43.94366 }</string>
	
								<string>{ -216.33803,-38.30986 }</string>
	
								<string>{ -199.43662,-36.05634 }</string>
	
								<string>{ -167.32394,-36.61972 }</string>
	
								<string>{ -183.66197,-70.42253 }</string>
	
								<string>{ -240.84507,-89.01408 }</string>

							</array>

							<array>
	
								<string>{ 4.22536,-78.02817 }</string>
	
								<string>{ -7.60564,-88.16901 }</string>
	
								<string>{ -136.61972,-32.39436 }</string>
	
								<string>{ -49.85915,-36.61972 }</string>
	
								<string>{ -11.26761,-47.60564 }</string>
	
								<string>{ 0.28169,-55.21127 }</string>
	
								<string>{ 6.47888,-63.09859 }</string>
	
								<string>{ 8.16902,-69.85915 }</string>

							</array>

							<array>
	
								<string>{ -106.76056,-112.67606 }</string>
	
								<string>{ -133.80282,-97.46479 }</string>
	
								<string>{ -150.42253,-76.90141 }</string>
	
								<string>{ -167.32394,-36.61972 }</string>
	
								<string>{ -143.38028,-35.77464 }</string>
	
								<string>{ -72.39436,-80.00000 }</string>
	
								<string>{ -89.85915,-110.42253 }</string>

							</array>

							<array>
	
								<string>{ -121.12676,-21.97183 }</string>
	
								<string>{ -96.90141,-24.50703 }</string>
	
								<string>{ -49.85915,-36.61972 }</string>
	
								<string>{ -136.61972,-32.39436 }</string>
	
								<string>{ -130.98592,-25.63380 }</string>

							</array>

							<array>
	
								<string>{ -167.32394,-36.61972 }</string>
	
								<string>{ -150.42253,-76.90141 }</string>
	
								<string>{ -183.66197,-70.42253 }</string>

							</array>

							<array>
	
								<string>{ -7.60564,-88.16901 }</string>
	
								<string>{ 4.22536,-78.02817 }</string>
	
								<string>{ -0.84506,-83.94366 }</string>

							</array>

							<array>
	
								<string>{ -23.38028,-95.21127 }</string>
	
								<string>{ -72.39436,-80.00000 }</string>
	
								<string>{ -143.38028,-35.77464 }</string>
	
								<string>{ -136.61972,-32.39436 }</string>
	
								<string>{ -7.60564,-88.16901 }</string>
	
								<string>{ -15.77464,-92.95775 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 124.78873,0.28169 }</string>
	
								<string>{ 185.07043,7.04225 }</string>
	
								<string>{ 240.56339,-11.26761 }</string>
	
								<string>{ 100.56339,-25.63380 }</string>
	
								<string>{ 74.08450,-9.29578 }</string>

							</array>

							<array>
	
								<string>{ 240.56339,-11.26761 }</string>
	
								<string>{ 185.07043,7.04225 }</string>
	
								<string>{ 240.56339,10.98592 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 183.94366,78.87325 }</string>
	
								<string>{ 154.64789,112.67606 }</string>
	
								<string>{ 240.56339,112.39438 }</string>
	
								<string>{ 240.56339,80.56339 }</string>

							</array>

							<array>
	
								<string>{ 140.84506,62.81691 }</string>
	
								<string>{ 122.81689,73.52113 }</string>
	
								<string>{ 91.83099,105.07043 }</string>
	
								<string>{ 154.64789,112.67606 }</string>
	
								<string>{ 183.94366,78.87325 }</string>

							</array>

							<array>
	
								<string>{ -60.56339,39.43661 }</string>
	
								<string>{ -26.19717,63.94366 }</string>
	
								<string>{ -34.36620,45.07042 }</string>
	
								<string>{ -55.21126,37.74648 }</string>

							</array>

							<array>
	
								<string>{ -26.19717,63.94366 }</string>
	
								<string>{ 5.35211,81.40845 }</string>
	
								<string>{ 0.28169,55.77466 }</string>
	
								<string>{ -34.36620,45.07042 }</string>

							</array>

							<array>
	
								<string>{ 5.35211,81.40845 }</string>
	
								<string>{ 44.78873,95.49297 }</string>
	
								<string>{ 91.83099,105.07043 }</string>
	
								<string>{ 82.25354,67.88733 }</string>
	
								<string>{ 37.74649,56.33803 }</string>
	
								<string>{ 0.28169,55.77466 }</string>

							</array>

							<array>
	
								<string>{ 91.83099,105.07043 }</string>
	
								<string>{ 122.81689,73.52113 }</string>
	
								<string>{ 82.25354,67.88733 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

