<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D23</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 132.62570,29.38548 }</string>
	
								<string>{ 123.96649,-37.09497 }</string>
	
								<string>{ 85.97766,-12.23463 }</string>
	
								<string>{ 75.64246,46.14525 }</string>
	
								<string>{ 95.19553,53.96649 }</string>
	
								<string>{ 112.79330,56.48045 }</string>
	
								<string>{ 134.30170,51.73184 }</string>

							</array>

							<array>
	
								<string>{ 56.64804,31.06146 }</string>
	
								<string>{ 75.64246,46.14525 }</string>
	
								<string>{ 85.97766,-12.23463 }</string>
	
								<string>{ 42.12292,13.46368 }</string>

							</array>

							<array>
	
								<string>{ 132.62570,29.38548 }</string>
	
								<string>{ 151.89944,-58.60335 }</string>
	
								<string>{ 123.96649,-37.09497 }</string>

							</array>

							<array>
	
								<string>{ 240.50281,-159.94413 }</string>
	
								<string>{ 200.22348,-4.41341 }</string>
	
								<string>{ 240.16760,-2.17877 }</string>

							</array>

							<array>
	
								<string>{ -207.31844,-144.63687 }</string>
	
								<string>{ -179.10614,-144.91620 }</string>
	
								<string>{ -97.82123,-152.45810 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -240.00000,-151.56425 }</string>

							</array>

							<array>
	
								<string>{ 240.50281,-159.94413 }</string>
	
								<string>{ 166.98325,-1.06145 }</string>
	
								<string>{ 200.22348,-4.41341 }</string>

							</array>

							<array>
	
								<string>{ 132.62570,29.38548 }</string>
	
								<string>{ 142.40225,10.94972 }</string>
	
								<string>{ 164.74863,-72.29050 }</string>
	
								<string>{ 151.89944,-58.60335 }</string>

							</array>

							<array>
	
								<string>{ 240.50281,-159.94413 }</string>
	
								<string>{ 172.84918,-82.90503 }</string>
	
								<string>{ 164.74863,-72.29050 }</string>
	
								<string>{ 142.40225,10.94972 }</string>
	
								<string>{ 166.98325,-1.06145 }</string>

							</array>

							<array>
	
								<string>{ 11.95531,-131.78771 }</string>
	
								<string>{ 74.52515,-127.03910 }</string>
	
								<string>{ 131.78772,-125.64246 }</string>
	
								<string>{ 240.50281,-159.94413 }</string>
	
								<string>{ -97.82123,-152.45810 }</string>
	
								<string>{ -61.78770,-141.56425 }</string>

							</array>

							<array>
	
								<string>{ -97.82123,-152.45810 }</string>
	
								<string>{ 240.50281,-159.94413 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>

							</array>

							<array>
	
								<string>{ 156.36871,-122.84916 }</string>
	
								<string>{ 240.50281,-159.94413 }</string>
	
								<string>{ 131.78772,-125.64246 }</string>

							</array>

							<array>
	
								<string>{ 166.14526,-118.37989 }</string>
	
								<string>{ 240.50281,-159.94413 }</string>
	
								<string>{ 156.36871,-122.84916 }</string>

							</array>

							<array>
	
								<string>{ 173.68716,-113.63128 }</string>
	
								<string>{ 240.50281,-159.94413 }</string>
	
								<string>{ 166.14526,-118.37989 }</string>

							</array>

							<array>
	
								<string>{ 177.59778,-108.32402 }</string>
	
								<string>{ 240.50281,-159.94413 }</string>
	
								<string>{ 173.68716,-113.63128 }</string>

							</array>

							<array>
	
								<string>{ 178.71509,-101.06145 }</string>
	
								<string>{ 240.50281,-159.94413 }</string>
	
								<string>{ 177.59778,-108.32402 }</string>

							</array>

							<array>
	
								<string>{ 177.59778,-91.84357 }</string>
	
								<string>{ 240.50281,-159.94413 }</string>
	
								<string>{ 178.71509,-101.06145 }</string>

							</array>

							<array>
	
								<string>{ 172.84918,-82.90503 }</string>
	
								<string>{ 240.50281,-159.94413 }</string>
	
								<string>{ 177.59778,-91.84357 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 213.07263,91.39665 }</string>
	
								<string>{ 208.60336,82.73744 }</string>
	
								<string>{ 150.50281,84.41341 }</string>
	
								<string>{ 22.84918,104.24582 }</string>
	
								<string>{ 69.49722,108.71509 }</string>
	
								<string>{ 148.60336,111.00558 }</string>
	
								<string>{ 206.08939,108.43576 }</string>
	
								<string>{ 212.51398,102.84918 }</string>

							</array>

							<array>
	
								<string>{ 125.36313,-92.96089 }</string>
	
								<string>{ 116.14526,-97.98883 }</string>
	
								<string>{ 104.69275,-99.66480 }</string>
	
								<string>{ 88.77097,-100.78212 }</string>
	
								<string>{ 98.26816,-55.25140 }</string>
	
								<string>{ 116.42459,-66.42458 }</string>
	
								<string>{ 126.75980,-75.92178 }</string>
	
								<string>{ 129.27374,-86.25698 }</string>

							</array>

							<array>
	
								<string>{ -45.02792,83.57542 }</string>
	
								<string>{ -14.30167,95.02794 }</string>
	
								<string>{ 22.84918,104.24582 }</string>
	
								<string>{ 8.32402,77.98883 }</string>
	
								<string>{ -0.89384,70.72626 }</string>
	
								<string>{ -74.91620,33.29610 }</string>
	
								<string>{ -64.02234,71.34079 }</string>

							</array>

							<array>
	
								<string>{ 88.77097,-100.78212 }</string>
	
								<string>{ 67.26257,-100.50279 }</string>
	
								<string>{ 11.11732,-73.12849 }</string>
	
								<string>{ 73.40784,-41.28491 }</string>
	
								<string>{ 98.26816,-55.25140 }</string>

							</array>

							<array>
	
								<string>{ 11.11732,-73.12849 }</string>
	
								<string>{ -31.34077,-58.88268 }</string>
	
								<string>{ 48.82681,-25.64246 }</string>
	
								<string>{ 73.40784,-41.28491 }</string>

							</array>

							<array>
	
								<string>{ -31.34077,-58.88268 }</string>
	
								<string>{ 30.67041,-11.11731 }</string>
	
								<string>{ 48.82681,-25.64246 }</string>

							</array>

							<array>
	
								<string>{ -31.34077,-58.88268 }</string>
	
								<string>{ -61.50838,-57.48603 }</string>
	
								<string>{ -72.68156,-46.31284 }</string>
	
								<string>{ -79.10614,-18.93854 }</string>
	
								<string>{ -78.54749,3.96648 }</string>
	
								<string>{ -74.91620,33.29610 }</string>
	
								<string>{ 16.14526,2.01117 }</string>
	
								<string>{ 30.67041,-11.11731 }</string>

							</array>

							<array>
	
								<string>{ 199.66483,76.03352 }</string>
	
								<string>{ 150.50281,84.41341 }</string>
	
								<string>{ 208.60336,82.73744 }</string>
	
								<string>{ 203.85477,77.98883 }</string>

							</array>

							<array>
	
								<string>{ -74.91620,33.29610 }</string>
	
								<string>{ 4.97208,15.13966 }</string>
	
								<string>{ 16.14526,2.01117 }</string>

							</array>

							<array>
	
								<string>{ -74.91620,33.29610 }</string>
	
								<string>{ -4.80446,31.34079 }</string>
	
								<string>{ 4.97208,15.13966 }</string>

							</array>

							<array>
	
								<string>{ -74.91620,33.29610 }</string>
	
								<string>{ -8.15642,40.55867 }</string>
	
								<string>{ -4.80446,31.34079 }</string>

							</array>

							<array>
	
								<string>{ -74.91620,33.29610 }</string>
	
								<string>{ -9.55307,50.33521 }</string>
	
								<string>{ -8.15642,40.55867 }</string>

							</array>

							<array>
	
								<string>{ -74.91620,33.29610 }</string>
	
								<string>{ -7.31844,61.50838 }</string>
	
								<string>{ -9.55307,50.33521 }</string>

							</array>

							<array>
	
								<string>{ -74.91620,33.29610 }</string>
	
								<string>{ -0.89384,70.72626 }</string>
	
								<string>{ -7.31844,61.50838 }</string>

							</array>

							<array>
	
								<string>{ 22.84918,104.24582 }</string>
	
								<string>{ 16.70392,82.45810 }</string>
	
								<string>{ 8.32402,77.98883 }</string>

							</array>

							<array>
	
								<string>{ 22.84918,104.24582 }</string>
	
								<string>{ 27.87711,86.64806 }</string>
	
								<string>{ 16.70392,82.45810 }</string>

							</array>

							<array>
	
								<string>{ 22.84918,104.24582 }</string>
	
								<string>{ 43.79889,89.16202 }</string>
	
								<string>{ 27.87711,86.64806 }</string>

							</array>

							<array>
	
								<string>{ 22.84918,104.24582 }</string>
	
								<string>{ 65.30728,90.83800 }</string>
	
								<string>{ 43.79889,89.16202 }</string>

							</array>

							<array>
	
								<string>{ 22.84918,104.24582 }</string>
	
								<string>{ 90.16760,91.11732 }</string>
	
								<string>{ 65.30728,90.83800 }</string>

							</array>

							<array>
	
								<string>{ 22.84918,104.24582 }</string>
	
								<string>{ 119.77655,88.60336 }</string>
	
								<string>{ 90.16760,91.11732 }</string>

							</array>

							<array>
	
								<string>{ 119.77655,88.60336 }</string>
	
								<string>{ 22.84918,104.24582 }</string>
	
								<string>{ 150.50281,84.41341 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -184.41341,74.91620 }</string>
	
								<string>{ -177.43017,97.26257 }</string>
	
								<string>{ -159.83240,79.10616 }</string>
	
								<string>{ -179.94413,65.97766 }</string>
	
								<string>{ -184.13408,65.41901 }</string>

							</array>

							<array>
	
								<string>{ -177.43017,97.26257 }</string>
	
								<string>{ -167.93296,117.65363 }</string>
	
								<string>{ -153.12849,140.83798 }</string>
	
								<string>{ -136.36871,90.27933 }</string>
	
								<string>{ -159.83240,79.10616 }</string>

							</array>

							<array>
	
								<string>{ -153.12849,140.83798 }</string>
	
								<string>{ -133.01675,160.44693 }</string>
	
								<string>{ -93.01675,160.44693 }</string>
	
								<string>{ -102.29050,103.96649 }</string>
	
								<string>{ -136.36871,90.27933 }</string>

							</array>

							<array>
	
								<string>{ -93.01675,160.44693 }</string>
	
								<string>{ -57.03911,117.65363 }</string>
	
								<string>{ -102.29050,103.96649 }</string>

							</array>

							<array>
	
								<string>{ -93.01675,160.44693 }</string>
	
								<string>{ 102.73743,159.83240 }</string>
	
								<string>{ -57.03911,117.65363 }</string>

							</array>

							<array>
	
								<string>{ 117.82123,133.85477 }</string>
	
								<string>{ 60.55865,133.29608 }</string>
	
								<string>{ 102.73743,159.83240 }</string>
	
								<string>{ 121.73184,138.32404 }</string>

							</array>

							<array>
	
								<string>{ 26.75980,131.62012 }</string>
	
								<string>{ 102.73743,159.83240 }</string>
	
								<string>{ 60.55865,133.29608 }</string>

							</array>

							<array>
	
								<string>{ 4.97208,129.94415 }</string>
	
								<string>{ 102.73743,159.83240 }</string>
	
								<string>{ 26.75980,131.62012 }</string>

							</array>

							<array>
	
								<string>{ -17.65363,126.31287 }</string>
	
								<string>{ 102.73743,159.83240 }</string>
	
								<string>{ 4.97208,129.94415 }</string>

							</array>

							<array>
	
								<string>{ -37.76537,122.40225 }</string>
	
								<string>{ 102.73743,159.83240 }</string>
	
								<string>{ -17.65363,126.31287 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 234.30170,79.66481 }</string>
	
								<string>{ 241.56427,65.69833 }</string>
	
								<string>{ 229.55307,69.05028 }</string>

							</array>

							<array>
	
								<string>{ 239.94415,161.00558 }</string>
	
								<string>{ 214.46927,136.92737 }</string>
	
								<string>{ 203.85477,140.27933 }</string>
	
								<string>{ 205.53073,159.32962 }</string>

							</array>

							<array>
	
								<string>{ 236.53632,89.44135 }</string>
	
								<string>{ 241.56427,65.69833 }</string>
	
								<string>{ 234.30170,79.66481 }</string>

							</array>

							<array>
	
								<string>{ 239.94415,161.00558 }</string>
	
								<string>{ 222.56985,131.34079 }</string>
	
								<string>{ 214.46927,136.92737 }</string>

							</array>

							<array>
	
								<string>{ 239.94415,161.00558 }</string>
	
								<string>{ 228.15643,126.03354 }</string>
	
								<string>{ 222.56985,131.34079 }</string>

							</array>

							<array>
	
								<string>{ 239.94415,161.00558 }</string>
	
								<string>{ 233.18436,119.60895 }</string>
	
								<string>{ 228.15643,126.03354 }</string>

							</array>

							<array>
	
								<string>{ 239.94415,161.00558 }</string>
	
								<string>{ 236.81564,105.36313 }</string>
	
								<string>{ 233.18436,119.60895 }</string>

							</array>

							<array>
	
								<string>{ 236.81564,105.36313 }</string>
	
								<string>{ 239.94415,161.00558 }</string>
	
								<string>{ 241.56427,65.69833 }</string>
	
								<string>{ 236.53632,89.44135 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

