<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D42</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 20.00000,97.46478 }</string>
	
								<string>{ 32.67606,106.47888 }</string>
	
								<string>{ 49.29578,113.52112 }</string>
	
								<string>{ 110.98593,50.98592 }</string>
	
								<string>{ 63.66199,54.08450 }</string>
	
								<string>{ -18.30986,63.66197 }</string>

							</array>

							<array>
	
								<string>{ -146.47887,-149.29577 }</string>
	
								<string>{ -183.09859,-145.35211 }</string>
	
								<string>{ -170.14085,-117.18310 }</string>
	
								<string>{ -154.08450,-111.26760 }</string>
	
								<string>{ -139.15493,-110.42253 }</string>

							</array>

							<array>
	
								<string>{ 50.98593,-124.78873 }</string>
	
								<string>{ 27.88733,-129.29577 }</string>
	
								<string>{ 35.49295,-123.66197 }</string>

							</array>

							<array>
	
								<string>{ -208.45070,-143.38028 }</string>
	
								<string>{ -146.47887,-149.29577 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -240.56338,-151.54930 }</string>

							</array>

							<array>
	
								<string>{ 96.33804,111.54929 }</string>
	
								<string>{ 125.07043,100.84506 }</string>
	
								<string>{ 158.02817,83.09860 }</string>
	
								<string>{ 185.63382,66.19719 }</string>
	
								<string>{ 141.97183,48.73239 }</string>
	
								<string>{ 110.98593,50.98592 }</string>
	
								<string>{ 49.29578,113.52112 }</string>
	
								<string>{ 70.98593,116.61972 }</string>

							</array>

							<array>
	
								<string>{ 209.01410,52.95775 }</string>
	
								<string>{ 154.92960,43.94366 }</string>
	
								<string>{ 141.97183,48.73239 }</string>
	
								<string>{ 185.63382,66.19719 }</string>

							</array>

							<array>
	
								<string>{ 67.88733,-114.08451 }</string>
	
								<string>{ 50.98593,-124.78873 }</string>
	
								<string>{ 63.09860,-114.92958 }</string>

							</array>

							<array>
	
								<string>{ 209.01410,52.95775 }</string>
	
								<string>{ 170.70422,35.77464 }</string>
	
								<string>{ 154.92960,43.94366 }</string>

							</array>

							<array>
	
								<string>{ 209.01410,52.95775 }</string>
	
								<string>{ 184.78873,26.19719 }</string>
	
								<string>{ 170.70422,35.77464 }</string>

							</array>

							<array>
	
								<string>{ 209.01410,52.95775 }</string>
	
								<string>{ 226.76056,47.88733 }</string>
	
								<string>{ 196.90143,15.49297 }</string>
	
								<string>{ 184.78873,26.19719 }</string>

							</array>

							<array>
	
								<string>{ 226.76056,47.88733 }</string>
	
								<string>{ 240.84506,46.47888 }</string>
	
								<string>{ 204.78873,3.94366 }</string>
	
								<string>{ 196.90143,15.49297 }</string>

							</array>

							<array>
	
								<string>{ 240.84506,46.47888 }</string>
	
								<string>{ 209.29578,-8.45070 }</string>
	
								<string>{ 204.78873,3.94366 }</string>

							</array>

							<array>
	
								<string>{ 240.56339,-160.28169 }</string>
	
								<string>{ 210.42255,-21.40845 }</string>
	
								<string>{ 209.29578,-8.45070 }</string>
	
								<string>{ 240.84506,46.47888 }</string>

							</array>

							<array>
	
								<string>{ 240.56339,-160.28169 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -146.47887,-149.29577 }</string>

							</array>

							<array>
	
								<string>{ 110.42255,-96.05634 }</string>
	
								<string>{ 240.56339,-160.28169 }</string>
	
								<string>{ 50.98593,-124.78873 }</string>
	
								<string>{ 67.88733,-114.08451 }</string>

							</array>

							<array>
	
								<string>{ 50.98593,-124.78873 }</string>
	
								<string>{ 240.56339,-160.28169 }</string>
	
								<string>{ -8.16901,-141.69014 }</string>
	
								<string>{ 10.98592,-134.36620 }</string>
	
								<string>{ 27.88733,-129.29577 }</string>

							</array>

							<array>
	
								<string>{ -8.16901,-141.69014 }</string>
	
								<string>{ 240.56339,-160.28169 }</string>
	
								<string>{ -46.19717,-151.26761 }</string>

							</array>

							<array>
	
								<string>{ 189.29578,-60.56338 }</string>
	
								<string>{ 240.56339,-160.28169 }</string>
	
								<string>{ 110.42255,-96.05634 }</string>

							</array>

							<array>
	
								<string>{ 198.87326,-51.26760 }</string>
	
								<string>{ 240.56339,-160.28169 }</string>
	
								<string>{ 189.29578,-60.56338 }</string>

							</array>

							<array>
	
								<string>{ 205.91550,-41.12676 }</string>
	
								<string>{ 240.56339,-160.28169 }</string>
	
								<string>{ 198.87326,-51.26760 }</string>

							</array>

							<array>
	
								<string>{ 209.29578,-30.70422 }</string>
	
								<string>{ 240.56339,-160.28169 }</string>
	
								<string>{ 205.91550,-41.12676 }</string>

							</array>

							<array>
	
								<string>{ 210.42255,-21.40845 }</string>
	
								<string>{ 240.56339,-160.28169 }</string>
	
								<string>{ 209.29578,-30.70422 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 94.36621,0.56339 }</string>
	
								<string>{ 65.07043,16.33803 }</string>
	
								<string>{ 74.36621,27.04225 }</string>
	
								<string>{ 97.74649,25.63380 }</string>

							</array>

							<array>
	
								<string>{ 74.64789,-83.94366 }</string>
	
								<string>{ 65.91550,-77.18310 }</string>
	
								<string>{ 95.77466,-48.45071 }</string>
	
								<string>{ 98.59155,-73.52113 }</string>

							</array>

							<array>
	
								<string>{ 94.36621,-26.47887 }</string>
	
								<string>{ 65.91550,-77.18310 }</string>
	
								<string>{ 65.07043,16.33803 }</string>
	
								<string>{ 94.36621,0.56339 }</string>

							</array>

							<array>
	
								<string>{ 95.77466,-48.45071 }</string>
	
								<string>{ 65.91550,-77.18310 }</string>
	
								<string>{ 94.36621,-26.47887 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -154.92957,-63.38028 }</string>
	
								<string>{ -163.94366,-60.00000 }</string>
	
								<string>{ -173.52113,-46.76056 }</string>
	
								<string>{ -115.49296,-46.76056 }</string>
	
								<string>{ -125.35211,-69.29578 }</string>

							</array>

							<array>
	
								<string>{ -17.46478,21.69014 }</string>
	
								<string>{ -43.38028,40.00000 }</string>
	
								<string>{ -7.32394,36.05634 }</string>

							</array>

							<array>
	
								<string>{ -25.35211,4.50705 }</string>
	
								<string>{ -80.56339,-34.36620 }</string>
	
								<string>{ -101.69014,-33.23943 }</string>
	
								<string>{ -43.38028,40.00000 }</string>
	
								<string>{ -17.46478,21.69014 }</string>

							</array>

							<array>
	
								<string>{ -16.61972,-117.18310 }</string>
	
								<string>{ -40.84506,-108.73240 }</string>
	
								<string>{ -62.53520,-62.81690 }</string>
	
								<string>{ -18.02817,-62.53521 }</string>
	
								<string>{ 5.07042,-96.33803 }</string>
	
								<string>{ 7.88733,-106.76056 }</string>

							</array>

							<array>
	
								<string>{ -62.53520,-62.81690 }</string>
	
								<string>{ -80.56339,-34.36620 }</string>
	
								<string>{ -23.94366,-42.81690 }</string>
	
								<string>{ -18.02817,-62.53521 }</string>

							</array>

							<array>
	
								<string>{ -80.56339,-34.36620 }</string>
	
								<string>{ -27.60564,-22.53520 }</string>
	
								<string>{ -23.94366,-42.81690 }</string>

							</array>

							<array>
	
								<string>{ -80.56339,-34.36620 }</string>
	
								<string>{ -25.35211,4.50705 }</string>
	
								<string>{ -27.60564,-22.53520 }</string>

							</array>

							<array>
	
								<string>{ -240.84507,45.07042 }</string>
	
								<string>{ -216.05634,-45.35211 }</string>
	
								<string>{ -240.56338,-55.77464 }</string>

							</array>

							<array>
	
								<string>{ -240.84507,45.07042 }</string>
	
								<string>{ -191.83099,-41.69014 }</string>
	
								<string>{ -216.05634,-45.35211 }</string>

							</array>

							<array>
	
								<string>{ -173.52113,-46.76056 }</string>
	
								<string>{ -83.09859,23.09859 }</string>
	
								<string>{ -55.49295,36.61972 }</string>
	
								<string>{ -43.38028,40.00000 }</string>
	
								<string>{ -101.69014,-33.23943 }</string>
	
								<string>{ -115.49296,-46.76056 }</string>

							</array>

							<array>
	
								<string>{ -240.84507,45.07042 }</string>
	
								<string>{ -224.50704,31.83099 }</string>
	
								<string>{ -173.52113,-46.76056 }</string>
	
								<string>{ -191.83099,-41.69014 }</string>

							</array>

							<array>
	
								<string>{ -209.57747,22.53522 }</string>
	
								<string>{ -173.52113,-46.76056 }</string>
	
								<string>{ -224.50704,31.83099 }</string>

							</array>

							<array>
	
								<string>{ -189.85915,13.23944 }</string>
	
								<string>{ -173.52113,-46.76056 }</string>
	
								<string>{ -209.57747,22.53522 }</string>

							</array>

							<array>
	
								<string>{ -166.47887,8.16902 }</string>
	
								<string>{ -173.52113,-46.76056 }</string>
	
								<string>{ -189.85915,13.23944 }</string>

							</array>

							<array>
	
								<string>{ -143.66197,7.04225 }</string>
	
								<string>{ -173.52113,-46.76056 }</string>
	
								<string>{ -166.47887,8.16902 }</string>

							</array>

							<array>
	
								<string>{ -115.49296,10.98592 }</string>
	
								<string>{ -173.52113,-46.76056 }</string>
	
								<string>{ -143.66197,7.04225 }</string>

							</array>

							<array>
	
								<string>{ -83.09859,23.09859 }</string>
	
								<string>{ -173.52113,-46.76056 }</string>
	
								<string>{ -115.49296,10.98592 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

