<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D24</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 239.32962,-51.06145 }</string>
	
								<string>{ 240.78214,-159.94413 }</string>
	
								<string>{ 166.70392,-147.98883 }</string>
	
								<string>{ 179.83240,-76.20112 }</string>
	
								<string>{ 193.79889,-53.29609 }</string>
	
								<string>{ 213.91061,-33.74301 }</string>

							</array>

							<array>
	
								<string>{ 118.65924,33.57542 }</string>
	
								<string>{ 62.51398,14.30168 }</string>
	
								<string>{ 46.87152,39.44135 }</string>
	
								<string>{ 42.40225,104.80447 }</string>
	
								<string>{ 66.70392,102.29050 }</string>
	
								<string>{ 111.11734,91.11732 }</string>
	
								<string>{ 131.22906,62.34637 }</string>

							</array>

							<array>
	
								<string>{ -190.27933,-65.86592 }</string>
	
								<string>{ -161.50838,-67.54190 }</string>
	
								<string>{ -93.07262,-94.63687 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -239.44134,-95.13966 }</string>

							</array>

							<array>
	
								<string>{ 22.56982,103.12851 }</string>
	
								<string>{ 42.40225,104.80447 }</string>
	
								<string>{ 46.87152,39.44135 }</string>
	
								<string>{ 25.08380,69.32962 }</string>
	
								<string>{ 16.98325,84.13408 }</string>
	
								<string>{ 15.58659,96.14526 }</string>

							</array>

							<array>
	
								<string>{ 177.59778,-28.43575 }</string>
	
								<string>{ 73.12851,-6.08939 }</string>
	
								<string>{ 62.51398,14.30168 }</string>
	
								<string>{ 118.65924,33.57542 }</string>

							</array>

							<array>
	
								<string>{ 177.59778,-28.43575 }</string>
	
								<string>{ 78.99442,-18.93854 }</string>
	
								<string>{ 73.12851,-6.08939 }</string>

							</array>

							<array>
	
								<string>{ 80.11172,-112.79330 }</string>
	
								<string>{ 63.63129,-86.81564 }</string>
	
								<string>{ 73.96649,-77.31844 }</string>
	
								<string>{ 177.59778,-28.43575 }</string>
	
								<string>{ 173.96649,-37.65363 }</string>
	
								<string>{ 155.81006,-65.02793 }</string>

							</array>

							<array>
	
								<string>{ 177.59778,-28.43575 }</string>
	
								<string>{ 82.06705,-29.55307 }</string>
	
								<string>{ 78.99442,-18.93854 }</string>

							</array>

							<array>
	
								<string>{ 177.59778,-28.43575 }</string>
	
								<string>{ 83.74301,-39.88827 }</string>
	
								<string>{ 82.06705,-29.55307 }</string>

							</array>

							<array>
	
								<string>{ 177.59778,-28.43575 }</string>
	
								<string>{ 83.74301,-51.62011 }</string>
	
								<string>{ 83.74301,-39.88827 }</string>

							</array>

							<array>
	
								<string>{ 177.59778,-28.43575 }</string>
	
								<string>{ 80.67041,-64.74860 }</string>
	
								<string>{ 83.74301,-51.62011 }</string>

							</array>

							<array>
	
								<string>{ -65.41899,-101.34078 }</string>
	
								<string>{ 41.56424,-151.62011 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -93.07262,-94.63687 }</string>

							</array>

							<array>
	
								<string>{ 177.59778,-28.43575 }</string>
	
								<string>{ 73.96649,-77.31844 }</string>
	
								<string>{ 80.67041,-64.74860 }</string>

							</array>

							<array>
	
								<string>{ 240.78214,-159.94413 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ 166.70392,-147.98883 }</string>

							</array>

							<array>
	
								<string>{ 41.56424,-151.62011 }</string>
	
								<string>{ 51.62012,-93.79888 }</string>
	
								<string>{ 63.63129,-86.81564 }</string>
	
								<string>{ 80.11172,-112.79330 }</string>

							</array>

							<array>
	
								<string>{ 41.56424,-151.62011 }</string>
	
								<string>{ 35.13968,-99.10614 }</string>
	
								<string>{ 51.62012,-93.79888 }</string>

							</array>

							<array>
	
								<string>{ 41.56424,-151.62011 }</string>
	
								<string>{ 19.21790,-101.89944 }</string>
	
								<string>{ 35.13968,-99.10614 }</string>

							</array>

							<array>
	
								<string>{ 41.56424,-151.62011 }</string>
	
								<string>{ 1.62012,-103.85475 }</string>
	
								<string>{ 19.21790,-101.89944 }</string>

							</array>

							<array>
	
								<string>{ 41.56424,-151.62011 }</string>
	
								<string>{ -18.77095,-104.97206 }</string>
	
								<string>{ 1.62012,-103.85475 }</string>

							</array>

							<array>
	
								<string>{ 41.56424,-151.62011 }</string>
	
								<string>{ -40.55865,-104.41341 }</string>
	
								<string>{ -18.77095,-104.97206 }</string>

							</array>

							<array>
	
								<string>{ 41.56424,-151.62011 }</string>
	
								<string>{ -65.41899,-101.34078 }</string>
	
								<string>{ -40.55865,-104.41341 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -240.55866,73.57542 }</string>
	
								<string>{ -158.71508,53.96649 }</string>
	
								<string>{ -193.91061,41.11732 }</string>
	
								<string>{ -240.27933,47.54190 }</string>

							</array>

							<array>
	
								<string>{ -83.85475,-70.33519 }</string>
	
								<string>{ -140.55865,-49.10614 }</string>
	
								<string>{ -145.30726,-29.27374 }</string>
	
								<string>{ -137.20670,-10.00000 }</string>
	
								<string>{ -74.35754,22.96089 }</string>
	
								<string>{ -48.65921,2.29051 }</string>
	
								<string>{ -62.34636,-50.50279 }</string>
	
								<string>{ -69.60893,-66.14525 }</string>

							</array>

							<array>
	
								<string>{ -158.71508,53.96649 }</string>
	
								<string>{ -115.41899,39.72067 }</string>
	
								<string>{ -156.48045,29.94414 }</string>
	
								<string>{ -193.91061,41.11732 }</string>

							</array>

							<array>
	
								<string>{ -115.41899,39.72067 }</string>
	
								<string>{ -74.35754,22.96089 }</string>
	
								<string>{ -139.44134,11.22905 }</string>
	
								<string>{ -156.48045,29.94414 }</string>

							</array>

							<array>
	
								<string>{ -74.35754,22.96089 }</string>
	
								<string>{ -137.20670,-10.00000 }</string>
	
								<string>{ -139.44134,11.22905 }</string>

							</array>

							<array>
	
								<string>{ -48.65921,2.29051 }</string>
	
								<string>{ -42.73743,-11.62010 }</string>
	
								<string>{ -42.79329,-23.68715 }</string>
	
								<string>{ -49.77654,-39.32961 }</string>
	
								<string>{ -62.34636,-50.50279 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 241.06146,43.40782 }</string>
	
								<string>{ 241.00558,25.47487 }</string>
	
								<string>{ 170.61453,51.45251 }</string>
	
								<string>{ 154.97208,76.64806 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

