<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D7</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 139.72488,66.04639 }</string>
	
								<string>{ 161.32254,54.21207 }</string>
	
								<string>{ 188.24561,13.67952 }</string>
	
								<string>{ 127.34970,4.41718 }</string>
	
								<string>{ 83.76416,48.85693 }</string>

							</array>

							<array>
	
								<string>{ -104.65379,49.18248 }</string>
	
								<string>{ -154.65379,-32.47432 }</string>
	
								<string>{ -285.53374,-160.92025 }</string>
	
								<string>{ -284.60261,20.86288 }</string>

							</array>

							<array>
	
								<string>{ 284.24078,-159.94083 }</string>
	
								<string>{ 175.61084,-70.93586 }</string>
	
								<string>{ 168.83878,-51.66153 }</string>
	
								<string>{ 216.05624,-24.48616 }</string>
	
								<string>{ 284.81689,-77.89851 }</string>

							</array>

							<array>
	
								<string>{ 188.24561,13.67952 }</string>
	
								<string>{ 216.05624,-24.48616 }</string>
	
								<string>{ 154.83542,-29.04564 }</string>
	
								<string>{ 127.34970,4.41718 }</string>

							</array>

							<array>
	
								<string>{ 216.05624,-24.48616 }</string>
	
								<string>{ 168.83878,-51.66153 }</string>
	
								<string>{ 154.83542,-29.04564 }</string>

							</array>

							<array>
	
								<string>{ -33.64789,46.22391 }</string>
	
								<string>{ -83.94374,26.69728 }</string>
	
								<string>{ -104.65379,49.18248 }</string>
	
								<string>{ -30.39345,53.62035 }</string>

							</array>

							<array>
	
								<string>{ -107.02066,14.86296 }</string>
	
								<string>{ -104.65379,49.18248 }</string>
	
								<string>{ -83.94374,26.69728 }</string>

							</array>

							<array>
	
								<string>{ -128.32243,-0.52165 }</string>
	
								<string>{ -104.65379,49.18248 }</string>
	
								<string>{ -107.02066,14.86296 }</string>

							</array>

							<array>
	
								<string>{ -144.00291,-15.90628 }</string>
	
								<string>{ -104.65379,49.18248 }</string>
	
								<string>{ -128.32243,-0.52165 }</string>

							</array>

							<array>
	
								<string>{ 284.24078,-159.94083 }</string>
	
								<string>{ 174.34027,-90.46249 }</string>
	
								<string>{ 175.61084,-70.93586 }</string>

							</array>

							<array>
	
								<string>{ 284.24078,-159.94083 }</string>
	
								<string>{ 166.94382,-105.55124 }</string>
	
								<string>{ 174.34027,-90.46249 }</string>

							</array>

							<array>
	
								<string>{ 284.24078,-159.94083 }</string>
	
								<string>{ 153.92609,-117.08970 }</string>
	
								<string>{ 166.94382,-105.55124 }</string>

							</array>

							<array>
	
								<string>{ 284.24078,-159.94083 }</string>
	
								<string>{ 126.70715,-124.48615 }</string>
	
								<string>{ 153.92609,-117.08970 }</string>

							</array>

							<array>
	
								<string>{ -285.53374,-160.92025 }</string>
	
								<string>{ 89.42905,-126.55716 }</string>
	
								<string>{ 126.70715,-124.48615 }</string>
	
								<string>{ 284.24078,-159.94083 }</string>

							</array>

							<array>
	
								<string>{ -158.20409,-49.04237 }</string>
	
								<string>{ -285.53374,-160.92025 }</string>
	
								<string>{ -154.65379,-32.47432 }</string>

							</array>

							<array>
	
								<string>{ -153.17450,-65.31456 }</string>
	
								<string>{ -285.53374,-160.92025 }</string>
	
								<string>{ -158.20409,-49.04237 }</string>

							</array>

							<array>
	
								<string>{ -140.45261,-75.96545 }</string>
	
								<string>{ -285.53374,-160.92025 }</string>
	
								<string>{ -153.17450,-65.31456 }</string>

							</array>

							<array>
	
								<string>{ -121.22185,-86.32047 }</string>
	
								<string>{ -285.53374,-160.92025 }</string>
	
								<string>{ -140.45261,-75.96545 }</string>

							</array>

							<array>
	
								<string>{ -87.78989,-100.52166 }</string>
	
								<string>{ -285.53374,-160.92025 }</string>
	
								<string>{ -121.22185,-86.32047 }</string>

							</array>

							<array>
	
								<string>{ -57.31651,-109.69325 }</string>
	
								<string>{ -285.53374,-160.92025 }</string>
	
								<string>{ -87.78989,-100.52166 }</string>

							</array>

							<array>
	
								<string>{ -29.80173,-116.49799 }</string>
	
								<string>{ -285.53374,-160.92025 }</string>
	
								<string>{ -57.31651,-109.69325 }</string>

							</array>

							<array>
	
								<string>{ 19.60657,-123.89444 }</string>
	
								<string>{ -285.53374,-160.92025 }</string>
	
								<string>{ -29.80173,-116.49799 }</string>

							</array>

							<array>
	
								<string>{ 89.42905,-126.55716 }</string>
	
								<string>{ -285.53374,-160.92025 }</string>
	
								<string>{ 19.60657,-123.89444 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 197.74573,125.55740 }</string>
	
								<string>{ 145.73389,162.00711 }</string>
	
								<string>{ 286.05481,160.42508 }</string>
	
								<string>{ 285.72626,83.20070 }</string>

							</array>

							<array>
	
								<string>{ 164.60965,132.95386 }</string>
	
								<string>{ 145.73389,162.00711 }</string>
	
								<string>{ 197.74573,125.55740 }</string>

							</array>

							<array>
	
								<string>{ 141.23685,127.62842 }</string>
	
								<string>{ 98.95959,150.71716 }</string>
	
								<string>{ 145.73389,162.00711 }</string>
	
								<string>{ 164.60965,132.95386 }</string>

							</array>

							<array>
	
								<string>{ 128.81082,94.78818 }</string>
	
								<string>{ 52.19226,71.40300 }</string>
	
								<string>{ 33.32339,86.77301 }</string>
	
								<string>{ 49.67136,132.30298 }</string>
	
								<string>{ 98.95959,150.71716 }</string>
	
								<string>{ 141.23685,127.62842 }</string>

							</array>

							<array>
	
								<string>{ 7.71780,96.44171 }</string>
	
								<string>{ 49.67136,132.30298 }</string>
	
								<string>{ 33.32339,86.77301 }</string>

							</array>

							<array>
	
								<string>{ 7.71780,96.44171 }</string>
	
								<string>{ -20.14551,102.24548 }</string>
	
								<string>{ 49.67136,132.30298 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

