<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D19</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -35.81006,-89.32961 }</string>
	
								<string>{ -45.30725,-99.10614 }</string>
	
								<string>{ -60.39105,-110.83799 }</string>
	
								<string>{ -78.82681,-120.33519 }</string>
	
								<string>{ -104.24580,-131.22905 }</string>
	
								<string>{ -84.97206,-65.02793 }</string>
	
								<string>{ -44.46927,-68.93855 }</string>
	
								<string>{ -29.10614,-77.31844 }</string>

							</array>

							<array>
	
								<string>{ 186.25699,-66.14525 }</string>
	
								<string>{ 177.59778,-95.47486 }</string>
	
								<string>{ 107.48605,-38.21229 }</string>
	
								<string>{ 179.27374,-54.97206 }</string>
	
								<string>{ 186.25699,-58.60335 }</string>

							</array>

							<array>
	
								<string>{ 189.88828,87.76537 }</string>
	
								<string>{ 183.74301,74.07822 }</string>
	
								<string>{ 165.58661,53.96649 }</string>
	
								<string>{ 101.89944,35.25140 }</string>
	
								<string>{ 131.22906,68.77095 }</string>
	
								<string>{ 165.02795,87.76537 }</string>
	
								<string>{ 178.43576,92.51398 }</string>
	
								<string>{ 187.37430,93.35196 }</string>

							</array>

							<array>
	
								<string>{ -188.32402,-58.88268 }</string>
	
								<string>{ -166.81564,-64.18994 }</string>
	
								<string>{ -119.60893,-135.41899 }</string>
	
								<string>{ -114.02235,-151.89944 }</string>
	
								<string>{ -239.72067,-160.27933 }</string>
	
								<string>{ -239.72067,-75.02793 }</string>

							</array>

							<array>
	
								<string>{ 101.89944,35.25140 }</string>
	
								<string>{ 105.25140,56.75978 }</string>
	
								<string>{ 131.22906,68.77095 }</string>

							</array>

							<array>
	
								<string>{ 101.89944,35.25140 }</string>
	
								<string>{ 80.67041,26.03352 }</string>
	
								<string>{ 74.80447,45.86592 }</string>
	
								<string>{ 105.25140,56.75978 }</string>

							</array>

							<array>
	
								<string>{ 61.67599,15.41899 }</string>
	
								<string>{ 44.91620,40.00000 }</string>
	
								<string>{ 74.80447,45.86592 }</string>
	
								<string>{ 80.67041,26.03352 }</string>

							</array>

							<array>
	
								<string>{ 61.67599,15.41899 }</string>
	
								<string>{ 56.08939,5.36313 }</string>
	
								<string>{ -3.68715,-22.84915 }</string>
	
								<string>{ -8.71507,4.80447 }</string>
	
								<string>{ -1.73184,36.92738 }</string>
	
								<string>{ 44.91620,40.00000 }</string>

							</array>

							<array>
	
								<string>{ -3.68715,-22.84915 }</string>
	
								<string>{ 56.36871,-61.95531 }</string>
	
								<string>{ -4.80446,-49.94413 }</string>

							</array>

							<array>
	
								<string>{ -44.46927,-68.93855 }</string>
	
								<string>{ -84.97206,-65.02793 }</string>
	
								<string>{ -57.03911,-57.20670 }</string>

							</array>

							<array>
	
								<string>{ -79.38547,-151.89944 }</string>
	
								<string>{ -102.56982,-151.62011 }</string>
	
								<string>{ -92.79329,-146.59218 }</string>

							</array>

							<array>
	
								<string>{ -1.73184,36.92738 }</string>
	
								<string>{ -8.71507,4.80447 }</string>
	
								<string>{ -13.18436,26.03352 }</string>
	
								<string>{ -9.55307,33.57542 }</string>

							</array>

							<array>
	
								<string>{ -104.24580,-131.22905 }</string>
	
								<string>{ -106.75978,-68.10056 }</string>
	
								<string>{ -84.97206,-65.02793 }</string>

							</array>

							<array>
	
								<string>{ -104.24580,-131.22905 }</string>
	
								<string>{ -119.60893,-135.41899 }</string>
	
								<string>{ -130.78212,-68.37988 }</string>
	
								<string>{ -106.75978,-68.10056 }</string>

							</array>

							<array>
	
								<string>{ -119.60893,-135.41899 }</string>
	
								<string>{ -151.17318,-67.26257 }</string>
	
								<string>{ -130.78212,-68.37988 }</string>

							</array>

							<array>
	
								<string>{ 175.92178,-120.61452 }</string>
	
								<string>{ 101.89944,-77.03910 }</string>
	
								<string>{ 73.96649,-24.80447 }</string>
	
								<string>{ 107.48605,-38.21229 }</string>
	
								<string>{ 177.59778,-95.47486 }</string>

							</array>

							<array>
	
								<string>{ -19.32961,-122.84916 }</string>
	
								<string>{ 48.54749,-112.51397 }</string>
	
								<string>{ -24.63687,-150.50279 }</string>
	
								<string>{ -24.35754,-130.39106 }</string>

							</array>

							<array>
	
								<string>{ 241.62012,-160.50279 }</string>
	
								<string>{ -239.72067,-160.27933 }</string>
	
								<string>{ 187.65363,-144.35754 }</string>
	
								<string>{ 240.44693,-150.50279 }</string>

							</array>

							<array>
	
								<string>{ -119.60893,-135.41899 }</string>
	
								<string>{ -166.81564,-64.18994 }</string>
	
								<string>{ -151.17318,-67.26257 }</string>

							</array>

							<array>
	
								<string>{ -3.68715,-22.84915 }</string>
	
								<string>{ 60.83798,-16.42458 }</string>
	
								<string>{ 73.96649,-24.80447 }</string>
	
								<string>{ 91.28491,-71.73184 }</string>
	
								<string>{ 56.36871,-61.95531 }</string>

							</array>

							<array>
	
								<string>{ 55.25140,-5.53072 }</string>
	
								<string>{ -3.68715,-22.84915 }</string>
	
								<string>{ 56.08939,5.36313 }</string>

							</array>

							<array>
	
								<string>{ 60.83798,-16.42458 }</string>
	
								<string>{ -3.68715,-22.84915 }</string>
	
								<string>{ 55.25140,-5.53072 }</string>

							</array>

							<array>
	
								<string>{ 73.96649,-24.80447 }</string>
	
								<string>{ 101.89944,-77.03910 }</string>
	
								<string>{ 91.28491,-71.73184 }</string>

							</array>

							<array>
	
								<string>{ 187.65363,-144.35754 }</string>
	
								<string>{ 106.92737,-85.41899 }</string>
	
								<string>{ 101.89944,-77.03910 }</string>
	
								<string>{ 175.92178,-120.61452 }</string>

							</array>

							<array>
	
								<string>{ 68.37988,-108.32402 }</string>
	
								<string>{ 187.65363,-144.35754 }</string>
	
								<string>{ -24.63687,-150.50279 }</string>
	
								<string>{ 48.54749,-112.51397 }</string>

							</array>

							<array>
	
								<string>{ 187.65363,-144.35754 }</string>
	
								<string>{ 105.53073,-92.12290 }</string>
	
								<string>{ 106.92737,-85.41899 }</string>

							</array>

							<array>
	
								<string>{ 187.65363,-144.35754 }</string>
	
								<string>{ 97.15085,-98.82681 }</string>
	
								<string>{ 105.53073,-92.12290 }</string>

							</array>

							<array>
	
								<string>{ 187.65363,-144.35754 }</string>
	
								<string>{ 84.86035,-103.57542 }</string>
	
								<string>{ 97.15085,-98.82681 }</string>

							</array>

							<array>
	
								<string>{ 187.65363,-144.35754 }</string>
	
								<string>{ 68.37988,-108.32402 }</string>
	
								<string>{ 84.86035,-103.57542 }</string>

							</array>

							<array>
	
								<string>{ -79.38547,-151.89944 }</string>
	
								<string>{ -239.72067,-160.27933 }</string>
	
								<string>{ -114.02235,-151.89944 }</string>
	
								<string>{ -102.56982,-151.62011 }</string>

							</array>

							<array>
	
								<string>{ -239.72067,-160.27933 }</string>
	
								<string>{ -79.38547,-151.89944 }</string>
	
								<string>{ -24.63687,-150.50279 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -121.84357,-42.12290 }</string>
	
								<string>{ -125.19553,-30.94972 }</string>
	
								<string>{ -109.55307,-15.86592 }</string>
	
								<string>{ -74.63687,-11.11731 }</string>
	
								<string>{ -68.21228,-34.86034 }</string>

							</array>

							<array>
	
								<string>{ -109.55307,-15.86592 }</string>
	
								<string>{ -109.27374,-4.97206 }</string>
	
								<string>{ -78.26816,31.89944 }</string>
	
								<string>{ -76.03352,13.74303 }</string>
	
								<string>{ -74.63687,-11.11731 }</string>

							</array>

							<array>
	
								<string>{ -240.27933,37.26257 }</string>
	
								<string>{ -164.58100,32.73743 }</string>
	
								<string>{ -167.93296,10.67039 }</string>
	
								<string>{ -240.27933,12.06705 }</string>

							</array>

							<array>
	
								<string>{ -164.58100,32.73743 }</string>
	
								<string>{ -78.26816,31.89944 }</string>
	
								<string>{ -125.47486,5.08380 }</string>
	
								<string>{ -167.93296,10.67039 }</string>

							</array>

							<array>
	
								<string>{ -78.26816,31.89944 }</string>
	
								<string>{ -109.27374,-4.97206 }</string>
	
								<string>{ -125.47486,5.08380 }</string>

							</array>

							<array>
	
								<string>{ -76.03352,13.74303 }</string>
	
								<string>{ -78.26816,31.89944 }</string>
	
								<string>{ -74.63687,27.43018 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

