<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D3</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -47.45738,72.00754 }</string>
	
								<string>{ -38.53372,69.03226 }</string>
	
								<string>{ -0.70381,-17.77127 }</string>
	
								<string>{ -17.12610,0.11729 }</string>
	
								<string>{ -32.08212,19.47214 }</string>
	
								<string>{ -44.10558,39.41348 }</string>
	
								<string>{ -52.02347,55.24927 }</string>
	
								<string>{ -58.89433,73.47382 }</string>

							</array>

							<array>
	
								<string>{ -189.85337,-64.39883 }</string>
	
								<string>{ -188.09384,-69.97068 }</string>
	
								<string>{ -186.04106,-87.27273 }</string>
	
								<string>{ -240.00000,-159.70674 }</string>
	
								<string>{ -240.00000,-77.77126 }</string>

							</array>

							<array>
	
								<string>{ 72.90323,44.69208 }</string>
	
								<string>{ 78.76831,49.09090 }</string>
	
								<string>{ 93.43109,54.66275 }</string>
	
								<string>{ 128.91495,60.52785 }</string>
	
								<string>{ 113.37244,17.71260 }</string>
	
								<string>{ 90.20526,25.33723 }</string>
	
								<string>{ 75.54251,33.25513 }</string>
	
								<string>{ 71.14368,39.12022 }</string>

							</array>

							<array>
	
								<string>{ 128.91495,60.52785 }</string>
	
								<string>{ 194.01758,67.27272 }</string>
	
								<string>{ 240.05862,69.61876 }</string>
	
								<string>{ 184.34018,1.58357 }</string>
	
								<string>{ 141.23166,10.38123 }</string>
	
								<string>{ 113.37244,17.71260 }</string>

							</array>

							<array>
	
								<string>{ 132.43402,-20.99707 }</string>
	
								<string>{ 135.36655,-46.21701 }</string>
	
								<string>{ 130.08798,-70.55719 }</string>
	
								<string>{ 118.65103,-90.49854 }</string>
	
								<string>{ 100.46921,-110.73314 }</string>
	
								<string>{ 89.61877,-2.81525 }</string>
	
								<string>{ 125.98239,-7.80058 }</string>

							</array>

							<array>
	
								<string>{ 30.96774,55.54251 }</string>
	
								<string>{ 21.87683,62.87390 }</string>
	
								<string>{ 47.22202,66.26770 }</string>
	
								<string>{ 49.44281,63.75366 }</string>

							</array>

							<array>
	
								<string>{ 22.46335,51.73019 }</string>
	
								<string>{ 6.29231,61.74287 }</string>
	
								<string>{ 21.87683,62.87390 }</string>
	
								<string>{ 30.96774,55.54251 }</string>

							</array>

							<array>
	
								<string>{ 14.54544,46.15836 }</string>
	
								<string>{ -7.53268,61.61688 }</string>
	
								<string>{ 6.29231,61.74287 }</string>
	
								<string>{ 22.46335,51.73019 }</string>

							</array>

							<array>
	
								<string>{ 8.38708,40.29324 }</string>
	
								<string>{ -20.93842,61.99413 }</string>
	
								<string>{ -7.53268,61.61688 }</string>
	
								<string>{ 14.54544,46.15836 }</string>

							</array>

							<array>
	
								<string>{ 4.86803,35.01466 }</string>
	
								<string>{ -20.93842,61.99413 }</string>
	
								<string>{ 8.38708,40.29324 }</string>

							</array>

							<array>
	
								<string>{ 82.87390,-123.63636 }</string>
	
								<string>{ 72.02344,0.41055 }</string>
	
								<string>{ 89.61877,-2.81525 }</string>
	
								<string>{ 100.46921,-110.73314 }</string>

							</array>

							<array>
	
								<string>{ 82.87390,-123.63636 }</string>
	
								<string>{ 70.85043,-81.99414 }</string>
	
								<string>{ 54.13489,4.51613 }</string>
	
								<string>{ 72.02344,0.41055 }</string>

							</array>

							<array>
	
								<string>{ 4.28152,28.26979 }</string>
	
								<string>{ -31.20235,65.21994 }</string>
	
								<string>{ -20.93842,61.99413 }</string>
	
								<string>{ 4.86803,35.01466 }</string>

							</array>

							<array>
	
								<string>{ 240.05862,69.61876 }</string>
	
								<string>{ 194.01758,-1.64223 }</string>
	
								<string>{ 184.34018,1.58357 }</string>

							</array>

							<array>
	
								<string>{ 240.05862,69.61876 }</string>
	
								<string>{ 204.28152,-7.80058 }</string>
	
								<string>{ 194.01758,-1.64223 }</string>

							</array>

							<array>
	
								<string>{ 240.05862,69.61876 }</string>
	
								<string>{ 211.02637,-13.95895 }</string>
	
								<string>{ 204.28152,-7.80058 }</string>

							</array>

							<array>
	
								<string>{ 240.05862,69.61876 }</string>
	
								<string>{ 216.01172,-23.34311 }</string>
	
								<string>{ 211.02637,-13.95895 }</string>

							</array>

							<array>
	
								<string>{ -38.53372,69.03226 }</string>
	
								<string>{ -31.20235,65.21994 }</string>
	
								<string>{ 4.28152,28.26979 }</string>
	
								<string>{ 52.37537,-60.58651 }</string>
	
								<string>{ 28.91495,-44.16422 }</string>
	
								<string>{ -0.70381,-17.77127 }</string>

							</array>

							<array>
	
								<string>{ -180.91943,-96.01587 }</string>
	
								<string>{ -240.00000,-159.70674 }</string>
	
								<string>{ -186.04106,-87.27273 }</string>

							</array>

							<array>
	
								<string>{ -174.14731,-101.90823 }</string>
	
								<string>{ -240.00000,-159.70674 }</string>
	
								<string>{ -180.91943,-96.01587 }</string>

							</array>

							<array>
	
								<string>{ -166.46815,-106.06831 }</string>
	
								<string>{ -240.00000,-159.70674 }</string>
	
								<string>{ -174.14731,-101.90823 }</string>

							</array>

							<array>
	
								<string>{ -155.43349,-108.97361 }</string>
	
								<string>{ -240.00000,-159.70674 }</string>
	
								<string>{ -166.46815,-106.06831 }</string>

							</array>

							<array>
	
								<string>{ -139.12024,-111.90616 }</string>
	
								<string>{ -240.00000,-159.70674 }</string>
	
								<string>{ -155.43349,-108.97361 }</string>

							</array>

							<array>
	
								<string>{ -62.28740,-118.06452 }</string>
	
								<string>{ -240.00000,-159.70674 }</string>
	
								<string>{ -139.12024,-111.90616 }</string>

							</array>

							<array>
	
								<string>{ -19.47215,-119.23754 }</string>
	
								<string>{ -240.00000,-159.70674 }</string>
	
								<string>{ -62.28740,-118.06452 }</string>

							</array>

							<array>
	
								<string>{ 240.05862,69.61876 }</string>
	
								<string>{ 218.65100,-30.96774 }</string>
	
								<string>{ 216.01172,-23.34311 }</string>

							</array>

							<array>
	
								<string>{ 242.40469,-145.63050 }</string>
	
								<string>{ 240.76245,-159.58944 }</string>
	
								<string>{ 219.53079,-41.81818 }</string>
	
								<string>{ 218.65100,-30.96774 }</string>
	
								<string>{ 240.05862,69.61876 }</string>

							</array>

							<array>
	
								<string>{ 4.28152,28.26979 }</string>
	
								<string>{ 60.00000,-66.74487 }</string>
	
								<string>{ 52.37537,-60.58651 }</string>

							</array>

							<array>
	
								<string>{ 4.28152,28.26979 }</string>
	
								<string>{ 7.80058,23.87096 }</string>
	
								<string>{ 66.15836,-72.90323 }</string>
	
								<string>{ 60.00000,-66.74487 }</string>

							</array>

							<array>
	
								<string>{ 17.47800,-116.30499 }</string>
	
								<string>{ 76.42227,-148.85631 }</string>
	
								<string>{ -240.00000,-159.70674 }</string>
	
								<string>{ -19.47215,-119.23754 }</string>

							</array>

							<array>
	
								<string>{ 240.76245,-159.58944 }</string>
	
								<string>{ 218.06451,-53.54839 }</string>
	
								<string>{ 219.53079,-41.81818 }</string>

							</array>

							<array>
	
								<string>{ 240.76245,-159.58944 }</string>
	
								<string>{ 214.54544,-65.57185 }</string>
	
								<string>{ 218.06451,-53.54839 }</string>

							</array>

							<array>
	
								<string>{ 240.76245,-159.58944 }</string>
	
								<string>{ 204.57477,-91.67155 }</string>
	
								<string>{ 214.54544,-65.57185 }</string>

							</array>

							<array>
	
								<string>{ 240.76245,-159.58944 }</string>
	
								<string>{ 191.37830,-115.42522 }</string>
	
								<string>{ 204.57477,-91.67155 }</string>

							</array>

							<array>
	
								<string>{ 240.76245,-159.58944 }</string>
	
								<string>{ 179.56262,-132.72948 }</string>
	
								<string>{ 191.37830,-115.42522 }</string>

							</array>

							<array>
	
								<string>{ 240.76245,-159.58944 }</string>
	
								<string>{ 166.57761,-145.50524 }</string>
	
								<string>{ 179.56262,-132.72948 }</string>

							</array>

							<array>
	
								<string>{ 240.76245,-159.58944 }</string>
	
								<string>{ 149.40375,-150.40584 }</string>
	
								<string>{ 166.57761,-145.50524 }</string>

							</array>

							<array>
	
								<string>{ 240.76245,-159.58944 }</string>
	
								<string>{ -240.00000,-159.70674 }</string>
	
								<string>{ 76.42227,-148.85631 }</string>
	
								<string>{ 149.40375,-150.40584 }</string>

							</array>

							<array>
	
								<string>{ 42.69794,-111.31965 }</string>
	
								<string>{ 76.42227,-148.85631 }</string>
	
								<string>{ 17.47800,-116.30499 }</string>

							</array>

							<array>
	
								<string>{ 57.94720,-104.28152 }</string>
	
								<string>{ 76.42227,-148.85631 }</string>
	
								<string>{ 42.69794,-111.31965 }</string>

							</array>

							<array>
	
								<string>{ 66.74487,-98.41642 }</string>
	
								<string>{ 76.42227,-148.85631 }</string>
	
								<string>{ 57.94720,-104.28152 }</string>

							</array>

							<array>
	
								<string>{ 71.73019,-91.08504 }</string>
	
								<string>{ 77.88855,-136.83285 }</string>
	
								<string>{ 76.42227,-148.85631 }</string>
	
								<string>{ 66.74487,-98.41642 }</string>

							</array>

							<array>
	
								<string>{ 71.73019,-91.08504 }</string>
	
								<string>{ 70.85043,-81.99414 }</string>
	
								<string>{ 82.87390,-123.63636 }</string>
	
								<string>{ 77.88855,-136.83285 }</string>

							</array>

							<array>
	
								<string>{ 70.85043,-81.99414 }</string>
	
								<string>{ 35.95306,9.20821 }</string>
	
								<string>{ 54.13489,4.51613 }</string>

							</array>

							<array>
	
								<string>{ 70.85043,-81.99414 }</string>
	
								<string>{ 23.92963,13.60704 }</string>
	
								<string>{ 35.95306,9.20821 }</string>

							</array>

							<array>
	
								<string>{ 14.25220,18.88562 }</string>
	
								<string>{ 66.15836,-72.90323 }</string>
	
								<string>{ 7.80058,23.87096 }</string>

							</array>

							<array>
	
								<string>{ 23.92963,13.60704 }</string>
	
								<string>{ 66.15836,-72.90323 }</string>
	
								<string>{ 14.25220,18.88562 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -172.25806,39.12022 }</string>
	
								<string>{ -139.12024,27.09677 }</string>
	
								<string>{ -165.80645,4.51613 }</string>
	
								<string>{ -240.00000,28.85629 }</string>
	
								<string>{ -240.29326,60.64516 }</string>

							</array>

							<array>
	
								<string>{ -139.12024,27.09677 }</string>
	
								<string>{ -107.74194,13.60704 }</string>
	
								<string>{ -147.33138,-5.45454 }</string>
	
								<string>{ -165.80645,4.51613 }</string>

							</array>

							<array>
	
								<string>{ -107.74194,13.60704 }</string>
	
								<string>{ -87.50734,4.22287 }</string>
	
								<string>{ -63.75368,-9.26686 }</string>
	
								<string>{ -49.67743,-46.80352 }</string>
	
								<string>{ -61.40762,-55.89443 }</string>
	
								<string>{ -71.37830,-59.41349 }</string>
	
								<string>{ -134.72141,-20.41057 }</string>
	
								<string>{ -147.33138,-5.45454 }</string>

							</array>

							<array>
	
								<string>{ -49.67743,-46.80352 }</string>
	
								<string>{ -63.75368,-9.26686 }</string>
	
								<string>{ -49.38417,-22.17009 }</string>
	
								<string>{ -44.57478,-35.24927 }</string>

							</array>

							<array>
	
								<string>{ -158.18182,-59.12024 }</string>
	
								<string>{ -148.21114,-47.68329 }</string>
	
								<string>{ -135.89443,-35.07332 }</string>
	
								<string>{ -71.37830,-59.41349 }</string>
	
								<string>{ -93.07918,-66.15836 }</string>
	
								<string>{ -158.47507,-80.23460 }</string>

							</array>

							<array>
	
								<string>{ -134.72141,-20.41057 }</string>
	
								<string>{ -71.37830,-59.41349 }</string>
	
								<string>{ -135.89443,-35.07332 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -64.04692,107.15543 }</string>
	
								<string>{ -60.82112,118.00586 }</string>
	
								<string>{ -53.78299,127.97653 }</string>
	
								<string>{ -41.17302,130.73312 }</string>
	
								<string>{ -25.92375,127.68329 }</string>
	
								<string>{ -53.78004,98.85880 }</string>
	
								<string>{ -63.46042,99.61331 }</string>

							</array>

							<array>
	
								<string>{ 8.88593,87.33711 }</string>
	
								<string>{ -7.66089,87.12787 }</string>
	
								<string>{ -20.64664,88.80414 }</string>
	
								<string>{ -30.65784,91.61142 }</string>
	
								<string>{ -39.07750,95.08849 }</string>
	
								<string>{ -25.92375,127.68329 }</string>
	
								<string>{ -5.10265,116.24634 }</string>
	
								<string>{ 26.26917,88.58618 }</string>

							</array>

							<array>
	
								<string>{ -46.53267,97.53769 }</string>
	
								<string>{ -25.92375,127.68329 }</string>
	
								<string>{ -39.07750,95.08849 }</string>

							</array>

							<array>
	
								<string>{ -53.78004,98.85880 }</string>
	
								<string>{ -25.92375,127.68329 }</string>
	
								<string>{ -46.53267,97.53769 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

