<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D34</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -32.45810,-16.14525 }</string>
	
								<string>{ -48.65921,-51.06145 }</string>
	
								<string>{ -63.46368,-37.93296 }</string>
	
								<string>{ -39.16200,-10.27933 }</string>
	
								<string>{ -31.62010,-8.04469 }</string>

							</array>

							<array>
	
								<string>{ 107.76538,85.25140 }</string>
	
								<string>{ 106.36871,66.25699 }</string>
	
								<string>{ 100.22348,52.01118 }</string>
	
								<string>{ 94.63687,42.51398 }</string>
	
								<string>{ 81.78772,58.71509 }</string>
	
								<string>{ 92.96091,83.85475 }</string>
	
								<string>{ 103.29608,90.27933 }</string>

							</array>

							<array>
	
								<string>{ 94.63687,42.51398 }</string>
	
								<string>{ 86.81564,34.41341 }</string>
	
								<string>{ 66.98325,49.49721 }</string>
	
								<string>{ 81.78772,58.71509 }</string>

							</array>

							<array>
	
								<string>{ 91.56424,6.48045 }</string>
	
								<string>{ 72.84918,33.29610 }</string>
	
								<string>{ 66.98325,49.49721 }</string>
	
								<string>{ 86.81564,34.41341 }</string>

							</array>

							<array>
	
								<string>{ 241.06146,-159.10615 }</string>
	
								<string>{ 160.27933,-149.94413 }</string>
	
								<string>{ 206.08939,-143.24022 }</string>
	
								<string>{ 240.44693,-147.98883 }</string>

							</array>

							<array>
	
								<string>{ 133.74301,26.59218 }</string>
	
								<string>{ 130.39108,7.59776 }</string>
	
								<string>{ 123.96649,22.68156 }</string>
	
								<string>{ 123.12851,43.07263 }</string>
	
								<string>{ 128.71509,43.07263 }</string>

							</array>

							<array>
	
								<string>{ 146.87152,21.56425 }</string>
	
								<string>{ 155.81006,10.67039 }</string>
	
								<string>{ 153.85477,-4.97206 }</string>
	
								<string>{ 141.28491,-2.17877 }</string>
	
								<string>{ 130.39108,7.59776 }</string>
	
								<string>{ 133.74301,26.59218 }</string>

							</array>

							<array>
	
								<string>{ 169.21790,12.06705 }</string>
	
								<string>{ 153.85477,-4.97206 }</string>
	
								<string>{ 155.81006,10.67039 }</string>

							</array>

							<array>
	
								<string>{ 6.92738,63.46370 }</string>
	
								<string>{ 29.27374,56.48045 }</string>
	
								<string>{ 46.03354,48.93855 }</string>
	
								<string>{ 48.82681,34.97208 }</string>
	
								<string>{ 21.17319,44.18994 }</string>

							</array>

							<array>
	
								<string>{ 192.96091,19.60895 }</string>
	
								<string>{ 189.60895,40.55867 }</string>
	
								<string>{ 189.60895,60.94972 }</string>
	
								<string>{ 192.68158,64.02235 }</string>
	
								<string>{ 199.38550,40.27933 }</string>

							</array>

							<array>
	
								<string>{ 4.69275,95.30727 }</string>
	
								<string>{ 14.18996,75.19554 }</string>
	
								<string>{ 6.92738,63.46370 }</string>
	
								<string>{ 1.89944,77.43018 }</string>
	
								<string>{ -0.05586,94.74861 }</string>

							</array>

							<array>
	
								<string>{ 29.27374,56.48045 }</string>
	
								<string>{ 6.92738,63.46370 }</string>
	
								<string>{ 14.18996,75.19554 }</string>

							</array>

							<array>
	
								<string>{ 183.18436,28.54749 }</string>
	
								<string>{ 192.96091,19.60895 }</string>
	
								<string>{ 178.99442,5.08380 }</string>
	
								<string>{ 165.58661,-4.41341 }</string>
	
								<string>{ 169.21790,12.06705 }</string>
	
								<string>{ 174.52515,22.68156 }</string>

							</array>

							<array>
	
								<string>{ -48.65921,-51.06145 }</string>
	
								<string>{ -44.46927,-60.00000 }</string>
	
								<string>{ -79.94414,-55.25140 }</string>
	
								<string>{ -63.46368,-37.93296 }</string>

							</array>

							<array>
	
								<string>{ -44.46927,-60.00000 }</string>
	
								<string>{ -25.19553,-70.05586 }</string>
	
								<string>{ -105.92178,-69.21787 }</string>
	
								<string>{ -79.94414,-55.25140 }</string>

							</array>

							<array>
	
								<string>{ 66.98325,49.49721 }</string>
	
								<string>{ 72.84918,33.29610 }</string>
	
								<string>{ 48.82681,34.97208 }</string>
	
								<string>{ 46.03354,48.93855 }</string>

							</array>

							<array>
	
								<string>{ 169.21790,12.06705 }</string>
	
								<string>{ 165.58661,-4.41341 }</string>
	
								<string>{ 139.60895,-93.24022 }</string>
	
								<string>{ 146.03354,-36.25698 }</string>
	
								<string>{ 153.85477,-4.97206 }</string>

							</array>

							<array>
	
								<string>{ -134.13408,-106.64804 }</string>
	
								<string>{ -131.34078,-78.71508 }</string>
	
								<string>{ -61.50838,-84.02235 }</string>
	
								<string>{ -101.45251,-105.25140 }</string>

							</array>

							<array>
	
								<string>{ 71.73184,-74.24581 }</string>
	
								<string>{ 52.45810,-90.72626 }</string>
	
								<string>{ 67.82123,-47.98882 }</string>
	
								<string>{ 91.56424,6.48045 }</string>
	
								<string>{ 91.84360,-28.15642 }</string>
	
								<string>{ 85.41901,-53.57542 }</string>

							</array>

							<array>
	
								<string>{ 39.05029,-149.38547 }</string>
	
								<string>{ -26.03351,-148.82682 }</string>
	
								<string>{ -3.96648,-142.12290 }</string>

							</array>

							<array>
	
								<string>{ 57.20670,-121.73184 }</string>
	
								<string>{ 54.97208,-101.89944 }</string>
	
								<string>{ 95.19553,-96.87151 }</string>
	
								<string>{ 129.83240,-100.78212 }</string>
	
								<string>{ 96.03354,-115.58659 }</string>
	
								<string>{ 79.55307,-121.45251 }</string>

							</array>

							<array>
	
								<string>{ 139.60895,-93.24022 }</string>
	
								<string>{ 165.58661,-4.41341 }</string>
	
								<string>{ 165.02795,-34.58100 }</string>
	
								<string>{ 158.60336,-62.23463 }</string>

							</array>

							<array>
	
								<string>{ 192.96091,19.60895 }</string>
	
								<string>{ 183.18436,28.54749 }</string>
	
								<string>{ 189.60895,40.55867 }</string>

							</array>

							<array>
	
								<string>{ -61.50838,-84.02235 }</string>
	
								<string>{ 3.29610,-75.92178 }</string>
	
								<string>{ 30.39105,-73.96648 }</string>
	
								<string>{ 52.45810,-90.72626 }</string>
	
								<string>{ 54.97208,-101.89944 }</string>
	
								<string>{ 57.20670,-121.73184 }</string>
	
								<string>{ 6.64806,-117.54190 }</string>
	
								<string>{ -21.84357,-110.27933 }</string>

							</array>

							<array>
	
								<string>{ -212.90503,50.61453 }</string>
	
								<string>{ -207.87709,-2.73743 }</string>
	
								<string>{ -208.71508,-18.65921 }</string>
	
								<string>{ -240.00000,-159.16201 }</string>
	
								<string>{ -239.72067,43.68715 }</string>

							</array>

							<array>
	
								<string>{ 139.60895,-93.24022 }</string>
	
								<string>{ 136.81564,-59.44134 }</string>
	
								<string>{ 146.03354,-36.25698 }</string>

							</array>

							<array>
	
								<string>{ 139.60895,-93.24022 }</string>
	
								<string>{ 129.83240,-100.78212 }</string>
	
								<string>{ 110.55865,-89.60894 }</string>
	
								<string>{ 119.21790,-77.59776 }</string>
	
								<string>{ 136.81564,-59.44134 }</string>

							</array>

							<array>
	
								<string>{ 129.83240,-100.78212 }</string>
	
								<string>{ 95.19553,-96.87151 }</string>
	
								<string>{ 110.55865,-89.60894 }</string>

							</array>

							<array>
	
								<string>{ -25.19553,-70.05586 }</string>
	
								<string>{ 3.29610,-75.92178 }</string>
	
								<string>{ -61.50838,-84.02235 }</string>
	
								<string>{ -131.34078,-78.71508 }</string>
	
								<string>{ -105.92178,-69.21787 }</string>

							</array>

							<array>
	
								<string>{ 91.56424,6.48045 }</string>
	
								<string>{ 78.15643,2.56984 }</string>
	
								<string>{ 72.84918,33.29610 }</string>

							</array>

							<array>
	
								<string>{ 91.56424,6.48045 }</string>
	
								<string>{ 76.20111,-27.59776 }</string>
	
								<string>{ 78.15643,2.56984 }</string>

							</array>

							<array>
	
								<string>{ -82.73743,71.00558 }</string>
	
								<string>{ -87.76537,79.10616 }</string>
	
								<string>{ -29.66479,79.94414 }</string>
	
								<string>{ -30.50279,76.03352 }</string>

							</array>

							<array>
	
								<string>{ -121.28491,63.74303 }</string>
	
								<string>{ -130.78212,72.12291 }</string>
	
								<string>{ -87.76537,79.10616 }</string>
	
								<string>{ -82.73743,71.00558 }</string>

							</array>

							<array>
	
								<string>{ -156.48045,50.33521 }</string>
	
								<string>{ -180.50279,59.27374 }</string>
	
								<string>{ -130.78212,72.12291 }</string>
	
								<string>{ -121.28491,63.74303 }</string>

							</array>

							<array>
	
								<string>{ -185.53072,33.85475 }</string>
	
								<string>{ -212.90503,50.61453 }</string>
	
								<string>{ -180.50279,59.27374 }</string>
	
								<string>{ -156.48045,50.33521 }</string>

							</array>

							<array>
	
								<string>{ -202.01117,13.18436 }</string>
	
								<string>{ -212.90503,50.61453 }</string>
	
								<string>{ -185.53072,33.85475 }</string>

							</array>

							<array>
	
								<string>{ -207.87709,-2.73743 }</string>
	
								<string>{ -212.90503,50.61453 }</string>
	
								<string>{ -202.01117,13.18436 }</string>

							</array>

							<array>
	
								<string>{ 241.06146,-159.10615 }</string>
	
								<string>{ -240.00000,-159.16201 }</string>
	
								<string>{ 39.05029,-149.38547 }</string>
	
								<string>{ 160.27933,-149.94413 }</string>

							</array>

							<array>
	
								<string>{ -203.68715,-31.22905 }</string>
	
								<string>{ -240.00000,-159.16201 }</string>
	
								<string>{ -208.71508,-18.65921 }</string>

							</array>

							<array>
	
								<string>{ -194.18994,-52.73743 }</string>
	
								<string>{ -240.00000,-159.16201 }</string>
	
								<string>{ -203.68715,-31.22905 }</string>

							</array>

							<array>
	
								<string>{ -176.31285,-70.61452 }</string>
	
								<string>{ -240.00000,-159.16201 }</string>
	
								<string>{ -194.18994,-52.73743 }</string>

							</array>

							<array>
	
								<string>{ -158.43575,-81.22905 }</string>
	
								<string>{ -240.00000,-159.16201 }</string>
	
								<string>{ -176.31285,-70.61452 }</string>

							</array>

							<array>
	
								<string>{ -131.34078,-78.71508 }</string>
	
								<string>{ -134.13408,-106.64804 }</string>
	
								<string>{ -143.07262,-138.77095 }</string>
	
								<string>{ -240.00000,-159.16201 }</string>
	
								<string>{ -158.43575,-81.22905 }</string>

							</array>

							<array>
	
								<string>{ 52.45810,-90.72626 }</string>
	
								<string>{ 52.45810,-64.74860 }</string>
	
								<string>{ 67.82123,-47.98882 }</string>

							</array>

							<array>
	
								<string>{ 52.45810,-90.72626 }</string>
	
								<string>{ 30.39105,-73.96648 }</string>
	
								<string>{ 52.45810,-64.74860 }</string>

							</array>

							<array>
	
								<string>{ -134.97206,-148.26816 }</string>
	
								<string>{ -240.00000,-159.16201 }</string>
	
								<string>{ -143.07262,-138.77095 }</string>

							</array>

							<array>
	
								<string>{ 39.05029,-149.38547 }</string>
	
								<string>{ -240.00000,-159.16201 }</string>
	
								<string>{ -134.97206,-148.26816 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

