<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D22</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -31.51016,53.09312 }</string>
	
								<string>{ 33.01498,27.11546 }</string>
	
								<string>{ 25.47308,10.91435 }</string>
	
								<string>{ -15.86771,5.88641 }</string>
	
								<string>{ -30.11351,20.69089 }</string>
	
								<string>{ -40.72804,38.00932 }</string>

							</array>

							<array>
	
								<string>{ 300.91949,-161.69463 }</string>
	
								<string>{ 220.44516,29.62944 }</string>
	
								<string>{ 299.75519,13.33046 }</string>

							</array>

							<array>
	
								<string>{ -0.78391,-3.05212 }</string>
	
								<string>{ -15.86771,5.88641 }</string>
	
								<string>{ 25.47308,10.91435 }</string>
	
								<string>{ 14.02057,-1.37616 }</string>

							</array>

							<array>
	
								<string>{ -31.51016,53.09312 }</string>
	
								<string>{ -24.99271,61.13104 }</string>
	
								<string>{ -2.28677,68.65730 }</string>
	
								<string>{ 42.23285,40.80261 }</string>
	
								<string>{ 33.01498,27.11546 }</string>

							</array>

							<array>
	
								<string>{ -2.28677,68.65730 }</string>
	
								<string>{ 57.31665,50.57916 }</string>
	
								<string>{ 42.23285,40.80261 }</string>

							</array>

							<array>
	
								<string>{ 143.07086,69.85291 }</string>
	
								<string>{ 95.86414,88.56798 }</string>
	
								<string>{ 105.08203,89.68530 }</string>
	
								<string>{ 116.87338,88.90829 }</string>

							</array>

							<array>
	
								<string>{ -64.47105,-116.18063 }</string>
	
								<string>{ -43.24200,-100.81749 }</string>
	
								<string>{ -20.05765,-92.15828 }</string>
	
								<string>{ 6.19934,-86.01302 }</string>
	
								<string>{ 36.64627,-86.85101 }</string>
	
								<string>{ 75.31573,-91.75697 }</string>
	
								<string>{ -82.06882,-151.37616 }</string>
	
								<string>{ -75.08559,-130.42643 }</string>

							</array>

							<array>
	
								<string>{ 300.91949,-161.69463 }</string>
	
								<string>{ 185.80829,44.71324 }</string>
	
								<string>{ 220.44516,29.62944 }</string>

							</array>

							<array>
	
								<string>{ 114.98053,-99.52697 }</string>
	
								<string>{ -82.06882,-151.37616 }</string>
	
								<string>{ 75.31573,-91.75697 }</string>

							</array>

							<array>
	
								<string>{ 66.81387,90.80263 }</string>
	
								<string>{ 75.19376,89.12665 }</string>
	
								<string>{ 26.86972,74.32217 }</string>
	
								<string>{ 34.13229,81.30542 }</string>
	
								<string>{ 41.54965,86.25522 }</string>
	
								<string>{ 58.75974,91.22018 }</string>

							</array>

							<array>
	
								<string>{ -2.28677,68.65730 }</string>
	
								<string>{ 13.18259,68.73558 }</string>
	
								<string>{ 79.94235,52.25513 }</string>
	
								<string>{ 57.31665,50.57916 }</string>

							</array>

							<array>
	
								<string>{ 300.91949,-161.69463 }</string>
	
								<string>{ 212.34460,-44.39291 }</string>
	
								<string>{ 143.07086,69.85291 }</string>
	
								<string>{ 185.80829,44.71324 }</string>

							</array>

							<array>
	
								<string>{ -82.06882,-151.37616 }</string>
	
								<string>{ -278.20493,-160.20026 }</string>
	
								<string>{ -276.57642,-154.26482 }</string>
	
								<string>{ -178.71687,-145.23090 }</string>

							</array>

							<array>
	
								<string>{ 151.58856,-105.98692 }</string>
	
								<string>{ -82.06882,-151.37616 }</string>
	
								<string>{ 114.98053,-99.52697 }</string>

							</array>

							<array>
	
								<string>{ 86.64627,88.56798 }</string>
	
								<string>{ 143.07086,69.85291 }</string>
	
								<string>{ 108.99265,42.75792 }</string>
	
								<string>{ 79.94235,52.25513 }</string>
	
								<string>{ 26.86972,74.32217 }</string>
	
								<string>{ 75.19376,89.12665 }</string>

							</array>

							<array>
	
								<string>{ 143.07086,69.85291 }</string>
	
								<string>{ 86.64627,88.56798 }</string>
	
								<string>{ 95.86414,88.56798 }</string>

							</array>

							<array>
	
								<string>{ 19.04849,70.13223 }</string>
	
								<string>{ 79.94235,52.25513 }</string>
	
								<string>{ 13.18259,68.73558 }</string>

							</array>

							<array>
	
								<string>{ 26.86972,74.32217 }</string>
	
								<string>{ 79.94235,52.25513 }</string>
	
								<string>{ 19.04849,70.13223 }</string>

							</array>

							<array>
	
								<string>{ 143.07086,69.85291 }</string>
	
								<string>{ 142.79150,20.69089 }</string>
	
								<string>{ 108.99265,42.75792 }</string>

							</array>

							<array>
	
								<string>{ 143.07086,69.85291 }</string>
	
								<string>{ 168.76917,0.02049 }</string>
	
								<string>{ 142.79150,20.69089 }</string>

							</array>

							<array>
	
								<string>{ 143.07086,69.85291 }</string>
	
								<string>{ 189.16025,-18.69460 }</string>
	
								<string>{ 168.76917,0.02049 }</string>

							</array>

							<array>
	
								<string>{ 143.07086,69.85291 }</string>
	
								<string>{ 212.34460,-44.39291 }</string>
	
								<string>{ 189.16025,-18.69460 }</string>

							</array>

							<array>
	
								<string>{ 178.78967,-110.09026 }</string>
	
								<string>{ 300.91949,-161.69463 }</string>
	
								<string>{ -82.06882,-151.37616 }</string>
	
								<string>{ 151.58856,-105.98692 }</string>

							</array>

							<array>
	
								<string>{ 300.91949,-161.69463 }</string>
	
								<string>{ 226.24033,-69.20202 }</string>
	
								<string>{ 212.34460,-44.39291 }</string>

							</array>

							<array>
	
								<string>{ 300.91949,-161.69463 }</string>
	
								<string>{ 229.83624,-85.05306 }</string>
	
								<string>{ 226.24033,-69.20202 }</string>

							</array>

							<array>
	
								<string>{ 300.91949,-161.69463 }</string>
	
								<string>{ 226.72824,-93.74765 }</string>
	
								<string>{ 229.83624,-85.05306 }</string>

							</array>

							<array>
	
								<string>{ 300.91949,-161.69463 }</string>
	
								<string>{ 216.25522,-105.28677 }</string>
	
								<string>{ 226.72824,-93.74765 }</string>

							</array>

							<array>
	
								<string>{ 300.91949,-161.69463 }</string>
	
								<string>{ 200.38464,-109.26813 }</string>
	
								<string>{ 216.25522,-105.28677 }</string>

							</array>

							<array>
	
								<string>{ 300.91949,-161.69463 }</string>
	
								<string>{ 178.78967,-110.09026 }</string>
	
								<string>{ 200.38464,-109.26813 }</string>

							</array>

							<array>
	
								<string>{ -278.20493,-160.20026 }</string>
	
								<string>{ -82.06882,-151.37616 }</string>
	
								<string>{ 300.91949,-161.69463 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -56.62933,159.69177 }</string>
	
								<string>{ -72.88632,131.70294 }</string>
	
								<string>{ -83.22151,124.99905 }</string>
	
								<string>{ -96.62933,159.69177 }</string>

							</array>

							<array>
	
								<string>{ 60.91257,118.29514 }</string>
	
								<string>{ 51.97403,119.41245 }</string>
	
								<string>{ 89.40417,159.63593 }</string>
	
								<string>{ 101.69470,117.39523 }</string>

							</array>

							<array>
	
								<string>{ -54.17123,111.87054 }</string>
	
								<string>{ -44.95335,112.14987 }</string>
	
								<string>{ -35.73547,111.31189 }</string>
	
								<string>{ -55.11168,72.46922 }</string>
	
								<string>{ -66.53275,94.58516 }</string>
	
								<string>{ -64.82114,105.21786 }</string>

							</array>

							<array>
	
								<string>{ -4.17123,118.01581 }</string>
	
								<string>{ -17.02039,114.66385 }</string>
	
								<string>{ -10.87515,118.01581 }</string>

							</array>

							<array>
	
								<string>{ -42.43939,136.73090 }</string>
	
								<string>{ -56.62933,159.69177 }</string>
	
								<string>{ -9.75781,143.43478 }</string>
	
								<string>{ -13.94778,141.20016 }</string>
	
								<string>{ -27.80750,136.17224 }</string>

							</array>

							<array>
	
								<string>{ -25.95895,110.75323 }</string>
	
								<string>{ -55.11168,72.46922 }</string>
	
								<string>{ -35.73547,111.31189 }</string>

							</array>

							<array>
	
								<string>{ -17.29971,93.99345 }</string>
	
								<string>{ 89.40417,159.63593 }</string>
	
								<string>{ 36.89023,116.33981 }</string>
	
								<string>{ 29.06900,110.75323 }</string>
	
								<string>{ 1.15283,95.89520 }</string>

							</array>

							<array>
	
								<string>{ -56.62933,159.69177 }</string>
	
								<string>{ -63.94777,135.33423 }</string>
	
								<string>{ -72.88632,131.70294 }</string>

							</array>

							<array>
	
								<string>{ -56.62933,159.69177 }</string>
	
								<string>{ -53.89191,136.73090 }</string>
	
								<string>{ -63.94777,135.33423 }</string>

							</array>

							<array>
	
								<string>{ -56.62933,159.69177 }</string>
	
								<string>{ -42.43939,136.73090 }</string>
	
								<string>{ -53.89191,136.73090 }</string>

							</array>

							<array>
	
								<string>{ -17.02039,114.66385 }</string>
	
								<string>{ -50.26062,77.23367 }</string>
	
								<string>{ -55.11168,72.46922 }</string>
	
								<string>{ -25.95895,110.75323 }</string>

							</array>

							<array>
	
								<string>{ 44.99078,118.85379 }</string>
	
								<string>{ 89.40417,159.63593 }</string>
	
								<string>{ 51.97403,119.41245 }</string>

							</array>

							<array>
	
								<string>{ 89.40417,159.63593 }</string>
	
								<string>{ -3.05392,143.99347 }</string>
	
								<string>{ -9.75781,143.43478 }</string>
	
								<string>{ -56.62933,159.69177 }</string>

							</array>

							<array>
	
								<string>{ 36.89023,116.33981 }</string>
	
								<string>{ 89.40417,159.63593 }</string>
	
								<string>{ 44.99078,118.85379 }</string>

							</array>

							<array>
	
								<string>{ -28.19357,91.47949 }</string>
	
								<string>{ 89.40417,159.63593 }</string>
	
								<string>{ -17.29971,93.99345 }</string>

							</array>

							<array>
	
								<string>{ 3.37067,119.69177 }</string>
	
								<string>{ -50.26062,77.23367 }</string>
	
								<string>{ -17.02039,114.66385 }</string>
	
								<string>{ -4.17123,118.01581 }</string>

							</array>

							<array>
	
								<string>{ -37.13213,87.56888 }</string>
	
								<string>{ 3.37067,119.69177 }</string>
	
								<string>{ 89.40417,159.63593 }</string>
	
								<string>{ -28.19357,91.47949 }</string>

							</array>

							<array>
	
								<string>{ 89.40417,159.63593 }</string>
	
								<string>{ 1.69470,143.71414 }</string>
	
								<string>{ -3.05392,143.99347 }</string>

							</array>

							<array>
	
								<string>{ 89.40417,159.63593 }</string>
	
								<string>{ 10.91257,132.54095 }</string>
	
								<string>{ 1.69470,143.71414 }</string>

							</array>

							<array>
	
								<string>{ 89.40417,159.63593 }</string>
	
								<string>{ 3.37067,119.69177 }</string>
	
								<string>{ 10.91257,132.54095 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -154.30710,61.47301 }</string>
	
								<string>{ -164.92162,71.52887 }</string>
	
								<string>{ -167.71491,82.98138 }</string>
	
								<string>{ -135.53615,64.04285 }</string>

							</array>

							<array>
	
								<string>{ -278.60247,99.49573 }</string>
	
								<string>{ -186.98866,89.40598 }</string>
	
								<string>{ -194.53056,77.11546 }</string>
	
								<string>{ -218.93449,69.25764 }</string>
	
								<string>{ -278.63863,80.15340 }</string>

							</array>

							<array>
	
								<string>{ -194.53056,77.11546 }</string>
	
								<string>{ -186.98866,89.40598 }</string>
	
								<string>{ -167.71491,82.98138 }</string>
	
								<string>{ -164.92162,71.52887 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -208.76129,-14.02873 }</string>
	
								<string>{ -172.16911,-23.86115 }</string>
	
								<string>{ -139.48755,-40.34159 }</string>
	
								<string>{ -164.90655,-57.10136 }</string>
	
								<string>{ -277.13131,-48.77145 }</string>
	
								<string>{ -276.69463,-8.08917 }</string>

							</array>

							<array>
	
								<string>{ -139.48755,-40.34159 }</string>
	
								<string>{ -113.50989,-59.33601 }</string>
	
								<string>{ -97.30878,-77.21310 }</string>
	
								<string>{ -105.39737,-84.45415 }</string>
	
								<string>{ -149.90144,-67.84792 }</string>
	
								<string>{ -164.90655,-57.10136 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

