<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D5</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -12.71942,-4.71495 }</string>
	
								<string>{ -13.88220,-28.55215 }</string>
	
								<string>{ -50.51012,-43.66843 }</string>
	
								<string>{ -58.35895,7.78505 }</string>

							</array>

							<array>
	
								<string>{ -148.18452,-17.50565 }</string>
	
								<string>{ -181.90546,36.85483 }</string>
	
								<string>{ -151.67290,21.73854 }</string>
	
								<string>{ -121.14964,1.68040 }</string>

							</array>

							<array>
	
								<string>{ 7.33871,58.65715 }</string>
	
								<string>{ 39.60617,67.37808 }</string>
	
								<string>{ 100.65268,72.61064 }</string>
	
								<string>{ 99.48990,53.71529 }</string>
	
								<string>{ 53.55966,7.78505 }</string>
	
								<string>{ 8.21082,29.00598 }</string>
	
								<string>{ -6.03336,50.80832 }</string>

							</array>

							<array>
	
								<string>{ 283.46252,-161.14192 }</string>
	
								<string>{ 177.97824,20.86646 }</string>
	
								<string>{ 285.27081,42.28456 }</string>

							</array>

							<array>
	
								<string>{ -15.04498,-55.58704 }</string>
	
								<string>{ -48.76593,-68.08704 }</string>
	
								<string>{ -50.51012,-43.66843 }</string>
	
								<string>{ -13.88220,-28.55215 }</string>

							</array>

							<array>
	
								<string>{ -11.84732,-78.55215 }</string>
	
								<string>{ -49.63802,-97.15680 }</string>
	
								<string>{ -48.76593,-68.08704 }</string>
	
								<string>{ -15.04498,-55.58704 }</string>

							</array>

							<array>
	
								<string>{ -2.54498,-94.83122 }</string>
	
								<string>{ -51.96361,-110.23820 }</string>
	
								<string>{ -49.63802,-97.15680 }</string>
	
								<string>{ -11.84732,-78.55215 }</string>

							</array>

							<array>
	
								<string>{ -165.33569,-33.49401 }</string>
	
								<string>{ -284.00000,50.64304 }</string>
	
								<string>{ -223.76592,46.62227 }</string>
	
								<string>{ -181.90546,36.85483 }</string>
	
								<string>{ -148.18452,-17.50565 }</string>

							</array>

							<array>
	
								<string>{ -165.33569,-33.49401 }</string>
	
								<string>{ -176.67290,-51.80797 }</string>
	
								<string>{ -285.79941,-160.94637 }</string>
	
								<string>{ -284.00000,50.64304 }</string>

							</array>

							<array>
	
								<string>{ 12.86197,-107.91262 }</string>
	
								<string>{ -58.35895,-121.57541 }</string>
	
								<string>{ -51.96361,-110.23820 }</string>
	
								<string>{ -2.54498,-94.83122 }</string>

							</array>

							<array>
	
								<string>{ 283.46252,-161.14192 }</string>
	
								<string>{ 134.95499,19.99435 }</string>
	
								<string>{ 177.97824,20.86646 }</string>

							</array>

							<array>
	
								<string>{ 105.59454,33.36646 }</string>
	
								<string>{ 53.55966,7.78505 }</string>
	
								<string>{ 99.48990,53.71529 }</string>

							</array>

							<array>
	
								<string>{ 105.59454,33.36646 }</string>
	
								<string>{ 176.81546,-44.83122 }</string>
	
								<string>{ 53.55966,7.78505 }</string>

							</array>

							<array>
	
								<string>{ 29.14105,-118.08704 }</string>
	
								<string>{ -68.82407,-130.58703 }</string>
	
								<string>{ -58.35895,-121.57541 }</string>
	
								<string>{ 12.86197,-107.91262 }</string>

							</array>

							<array>
	
								<string>{ 49.48990,-125.06378 }</string>
	
								<string>{ -68.82407,-130.58703 }</string>
	
								<string>{ 29.14105,-118.08704 }</string>

							</array>

							<array>
	
								<string>{ 105.59454,33.36646 }</string>
	
								<string>{ 117.80383,24.35483 }</string>
	
								<string>{ 196.29221,-57.33122 }</string>
	
								<string>{ 176.81546,-44.83122 }</string>

							</array>

							<array>
	
								<string>{ 73.32709,-128.84285 }</string>
	
								<string>{ -86.55663,-135.23820 }</string>
	
								<string>{ -68.82407,-130.58703 }</string>
	
								<string>{ 49.48990,-125.06378 }</string>

							</array>

							<array>
	
								<string>{ -180.16127,-60.81960 }</string>
	
								<string>{ -285.79941,-160.94637 }</string>
	
								<string>{ -176.67290,-51.80797 }</string>

							</array>

							<array>
	
								<string>{ -181.03336,-72.15680 }</string>
	
								<string>{ -285.79941,-160.94637 }</string>
	
								<string>{ -180.16127,-60.81960 }</string>

							</array>

							<array>
	
								<string>{ -177.25430,-85.52889 }</string>
	
								<string>{ -285.79941,-160.94637 }</string>
	
								<string>{ -181.03336,-72.15680 }</string>

							</array>

							<array>
	
								<string>{ -169.69616,-94.83122 }</string>
	
								<string>{ -285.79941,-160.94637 }</string>
	
								<string>{ -177.25430,-85.52889 }</string>

							</array>

							<array>
	
								<string>{ -158.64964,-105.00564 }</string>
	
								<string>{ -285.79941,-160.94637 }</string>
	
								<string>{ -169.69616,-94.83122 }</string>

							</array>

							<array>
	
								<string>{ -133.94034,-119.54052 }</string>
	
								<string>{ -285.79941,-160.94637 }</string>
	
								<string>{ -158.64964,-105.00564 }</string>

							</array>

							<array>
	
								<string>{ -108.06825,-130.58703 }</string>
	
								<string>{ -285.79941,-160.94637 }</string>
	
								<string>{ -133.94034,-119.54052 }</string>

							</array>

							<array>
	
								<string>{ -86.55663,-135.23820 }</string>
	
								<string>{ -285.79941,-160.94637 }</string>
	
								<string>{ -108.06825,-130.58703 }</string>

							</array>

							<array>
	
								<string>{ -86.55663,-135.23820 }</string>
	
								<string>{ 73.32709,-128.84285 }</string>
	
								<string>{ 98.61780,-128.84285 }</string>
	
								<string>{ 283.46252,-161.14192 }</string>
	
								<string>{ -285.79941,-160.94637 }</string>

							</array>

							<array>
	
								<string>{ 128.55966,-126.22657 }</string>
	
								<string>{ 283.46252,-161.14192 }</string>
	
								<string>{ 98.61780,-128.84285 }</string>

							</array>

							<array>
	
								<string>{ 154.14105,-119.83122 }</string>
	
								<string>{ 283.46252,-161.14192 }</string>
	
								<string>{ 128.55966,-126.22657 }</string>

							</array>

							<array>
	
								<string>{ 173.03641,-113.14518 }</string>
	
								<string>{ 283.46252,-161.14192 }</string>
	
								<string>{ 154.14105,-119.83122 }</string>

							</array>

							<array>
	
								<string>{ 188.15268,-104.42424 }</string>
	
								<string>{ 283.46252,-161.14192 }</string>
	
								<string>{ 173.03641,-113.14518 }</string>

							</array>

							<array>
	
								<string>{ 199.78058,-94.24982 }</string>
	
								<string>{ 283.46252,-161.14192 }</string>
	
								<string>{ 188.15268,-104.42424 }</string>

							</array>

							<array>
	
								<string>{ 204.72244,-81.16843 }</string>
	
								<string>{ 283.46252,-161.14192 }</string>
	
								<string>{ 199.78058,-94.24982 }</string>

							</array>

							<array>
	
								<string>{ 203.85034,-67.50564 }</string>
	
								<string>{ 283.46252,-161.14192 }</string>
	
								<string>{ 204.72244,-81.16843 }</string>

							</array>

							<array>
	
								<string>{ 134.95499,19.99435 }</string>
	
								<string>{ 196.29221,-57.33122 }</string>
	
								<string>{ 117.80383,24.35483 }</string>

							</array>

							<array>
	
								<string>{ 283.46252,-161.14192 }</string>
	
								<string>{ 203.85034,-67.50564 }</string>
	
								<string>{ 196.29221,-57.33122 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

