<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D26</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 52.16223,72.96089 }</string>
	
								<string>{ 57.19019,47.54190 }</string>
	
								<string>{ 40.15106,31.06146 }</string>
	
								<string>{ 41.26837,56.20113 }</string>
	
								<string>{ 44.34100,72.40224 }</string>
	
								<string>{ 48.25162,79.66481 }</string>

							</array>

							<array>
	
								<string>{ 84.00583,-3.01675 }</string>
	
								<string>{ 78.69855,19.32962 }</string>
	
								<string>{ 98.53094,10.94972 }</string>

							</array>

							<array>
	
								<string>{ 69.20135,-20.89384 }</string>
	
								<string>{ 45.17899,-28.15642 }</string>
	
								<string>{ 61.10080,-0.22346 }</string>
	
								<string>{ 78.69855,19.32962 }</string>
	
								<string>{ 84.00583,-3.01675 }</string>

							</array>

							<array>
	
								<string>{ 67.52536,27.70950 }</string>
	
								<string>{ 61.10080,-0.22346 }</string>
	
								<string>{ 48.53094,9.55307 }</string>
	
								<string>{ 40.15106,31.06146 }</string>
	
								<string>{ 57.19019,47.54190 }</string>

							</array>

							<array>
	
								<string>{ 78.69855,19.32962 }</string>
	
								<string>{ 61.10080,-0.22346 }</string>
	
								<string>{ 67.52536,27.70950 }</string>

							</array>

							<array>
	
								<string>{ 51.60358,-50.22346 }</string>
	
								<string>{ 14.45273,-58.32402 }</string>
	
								<string>{ 45.17899,-28.15642 }</string>
	
								<string>{ 69.20135,-20.89384 }</string>

							</array>

							<array>
	
								<string>{ 44.89966,-64.74860 }</string>
	
								<string>{ 14.45273,-58.32402 }</string>
	
								<string>{ 51.60358,-50.22346 }</string>

							</array>

							<array>
	
								<string>{ 37.91641,-82.90503 }</string>
	
								<string>{ -67.11151,-152.73743 }</string>
	
								<string>{ -74.65341,-137.65363 }</string>
	
								<string>{ -27.44672,-90.72626 }</string>
	
								<string>{ 14.45273,-58.32402 }</string>
	
								<string>{ 44.89966,-64.74860 }</string>

							</array>

							<array>
	
								<string>{ -150.07240,24.07822 }</string>
	
								<string>{ -132.19531,-5.53072 }</string>
	
								<string>{ -179.68134,2.29051 }</string>
	
								<string>{ -182.19531,14.02235 }</string>

							</array>

							<array>
	
								<string>{ -127.44670,33.29610 }</string>
	
								<string>{ -100.91039,40.55867 }</string>
	
								<string>{ -89.17854,28.26816 }</string>
	
								<string>{ -97.83777,12.90503 }</string>
	
								<string>{ -112.64224,-7.76537 }</string>
	
								<string>{ -132.19531,-5.53072 }</string>
	
								<string>{ -150.07240,24.07822 }</string>

							</array>

							<array>
	
								<string>{ -81.07799,51.45251 }</string>
	
								<string>{ -89.17854,28.26816 }</string>
	
								<string>{ -100.91039,40.55867 }</string>
	
								<string>{ -83.87129,56.48045 }</string>

							</array>

							<array>
	
								<string>{ -112.64224,-7.76537 }</string>
	
								<string>{ -108.45229,-43.51955 }</string>
	
								<string>{ -124.93274,-82.34637 }</string>
	
								<string>{ -135.54726,-44.35754 }</string>
	
								<string>{ -132.19531,-5.53072 }</string>

							</array>

							<array>
	
								<string>{ -97.83777,-71.17318 }</string>
	
								<string>{ -114.87688,-104.13408 }</string>
	
								<string>{ -124.93274,-82.34637 }</string>
	
								<string>{ -108.45229,-43.51955 }</string>

							</array>

							<array>
	
								<string>{ -84.70927,-89.32961 }</string>
	
								<string>{ -74.65341,-137.65363 }</string>
	
								<string>{ -100.63106,-120.89385 }</string>
	
								<string>{ -114.87688,-104.13408 }</string>
	
								<string>{ -97.83777,-71.17318 }</string>

							</array>

							<array>
	
								<string>{ -69.62547,-97.70950 }</string>
	
								<string>{ -74.65341,-137.65363 }</string>
	
								<string>{ -84.70927,-89.32961 }</string>

							</array>

							<array>
	
								<string>{ -52.86569,-98.26815 }</string>
	
								<string>{ -74.65341,-137.65363 }</string>
	
								<string>{ -69.62547,-97.70950 }</string>

							</array>

							<array>
	
								<string>{ -27.44672,-90.72626 }</string>
	
								<string>{ -74.65341,-137.65363 }</string>
	
								<string>{ -52.86569,-98.26815 }</string>

							</array>

							<array>
	
								<string>{ 178.97787,20.72626 }</string>
	
								<string>{ 132.05051,-6.92737 }</string>
	
								<string>{ 151.60358,33.29610 }</string>
	
								<string>{ 162.49744,53.40782 }</string>
	
								<string>{ 180.93320,78.82683 }</string>
	
								<string>{ 189.31308,60.94972 }</string>
	
								<string>{ 189.87173,41.39665 }</string>

							</array>

							<array>
	
								<string>{ 162.21811,103.12851 }</string>
	
								<string>{ 180.93320,78.82683 }</string>
	
								<string>{ 161.65945,78.26816 }</string>
	
								<string>{ 140.70972,113.74301 }</string>
	
								<string>{ 144.62033,117.65363 }</string>

							</array>

							<array>
	
								<string>{ 180.93320,78.82683 }</string>
	
								<string>{ 162.49744,53.40782 }</string>
	
								<string>{ 161.65945,78.26816 }</string>

							</array>

							<array>
	
								<string>{ 101.32425,-13.63129 }</string>
	
								<string>{ 108.86615,-2.45810 }</string>
	
								<string>{ 128.97787,10.39107 }</string>
	
								<string>{ 101.04492,-67.26257 }</string>
	
								<string>{ 96.85498,-51.34078 }</string>
	
								<string>{ 96.01700,-38.49162 }</string>
	
								<string>{ 96.57565,-24.52513 }</string>

							</array>

							<array>
	
								<string>{ 82.60916,-96.59218 }</string>
	
								<string>{ 135.68179,-150.78212 }</string>
	
								<string>{ -67.11151,-152.73743 }</string>
	
								<string>{ 46.29633,-91.84357 }</string>
	
								<string>{ 69.20135,-91.00558 }</string>

							</array>

							<array>
	
								<string>{ 135.68179,-150.78212 }</string>
	
								<string>{ 105.23486,-86.25698 }</string>
	
								<string>{ 106.91083,-78.99442 }</string>
	
								<string>{ 132.05051,-6.92737 }</string>
	
								<string>{ 144.06168,-46.03352 }</string>
	
								<string>{ 149.08960,-81.50838 }</string>
	
								<string>{ 148.81027,-107.76536 }</string>
	
								<string>{ 144.89966,-134.02235 }</string>

							</array>

							<array>
	
								<string>{ 282.94055,-153.12574 }</string>
	
								<string>{ 283.94244,-159.74091 }</string>
	
								<string>{ 176.46393,-152.45810 }</string>
	
								<string>{ 230.09521,-144.91620 }</string>

							</array>

							<array>
	
								<string>{ 151.60358,33.29610 }</string>
	
								<string>{ 101.04492,-67.26257 }</string>
	
								<string>{ 128.97787,10.39107 }</string>

							</array>

							<array>
	
								<string>{ 46.29633,-91.84357 }</string>
	
								<string>{ -67.11151,-152.73743 }</string>
	
								<string>{ 37.91641,-82.90503 }</string>

							</array>

							<array>
	
								<string>{ -184.98860,-143.79888 }</string>
	
								<string>{ -67.11151,-152.73743 }</string>
	
								<string>{ -282.87751,-160.33987 }</string>
	
								<string>{ -283.73624,-152.27425 }</string>

							</array>

							<array>
	
								<string>{ 105.23486,-86.25698 }</string>
	
								<string>{ 135.68179,-150.78212 }</string>
	
								<string>{ 82.60916,-96.59218 }</string>
	
								<string>{ 97.13431,-88.49162 }</string>

							</array>

							<array>
	
								<string>{ 135.68179,-150.78212 }</string>
	
								<string>{ 283.94244,-159.74091 }</string>
	
								<string>{ -282.87751,-160.33987 }</string>

							</array>

							<array>
	
								<string>{ 132.05051,-6.92737 }</string>
	
								<string>{ 106.91083,-78.99442 }</string>
	
								<string>{ 101.04492,-67.26257 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

