<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D51</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 137.97116,87.42024 }</string>
	
								<string>{ 155.66495,86.92273 }</string>
	
								<string>{ 147.70474,21.25108 }</string>
	
								<string>{ 112.67825,45.13168 }</string>

							</array>

							<array>
	
								<string>{ -188.98000,-1.46811 }</string>
	
								<string>{ -164.23556,-50.88822 }</string>
	
								<string>{ -169.21068,-64.81857 }</string>
	
								<string>{ -283.33495,-159.34593 }</string>
	
								<string>{ -285.12118,-38.57317 }</string>

							</array>

							<array>
	
								<string>{ -63.23219,7.29433 }</string>
	
								<string>{ -68.71317,31.20132 }</string>
	
								<string>{ -30.27408,-6.43590 }</string>

							</array>

							<array>
	
								<string>{ -96.57387,2.84312 }</string>
	
								<string>{ -92.51697,25.21999 }</string>
	
								<string>{ -68.71317,31.20132 }</string>
	
								<string>{ -63.23219,7.29433 }</string>

							</array>

							<array>
	
								<string>{ 59.14752,-113.57479 }</string>
	
								<string>{ -8.26123,-91.71899 }</string>
	
								<string>{ 6.20135,-71.35571 }</string>

							</array>

							<array>
	
								<string>{ -86.62361,65.52969 }</string>
	
								<string>{ -68.71317,31.20132 }</string>
	
								<string>{ -92.51697,25.21999 }</string>
	
								<string>{ -98.56392,64.53467 }</string>

							</array>

							<array>
	
								<string>{ -112.99178,-4.12206 }</string>
	
								<string>{ -188.98000,-1.46811 }</string>
	
								<string>{ -150.07324,22.96919 }</string>
	
								<string>{ -92.51697,25.21999 }</string>
	
								<string>{ -96.57387,2.84312 }</string>

							</array>

							<array>
	
								<string>{ 155.66495,86.92273 }</string>
	
								<string>{ 258.46765,69.07306 }</string>
	
								<string>{ 174.57040,-9.59470 }</string>
	
								<string>{ 147.70474,21.25108 }</string>

							</array>

							<array>
	
								<string>{ 59.14752,-113.57479 }</string>
	
								<string>{ 79.54553,-125.51509 }</string>
	
								<string>{ -27.41965,-108.10215 }</string>
	
								<string>{ -8.26123,-91.71899 }</string>

							</array>

							<array>
	
								<string>{ -128.41466,-13.57478 }</string>
	
								<string>{ -188.98000,-1.46811 }</string>
	
								<string>{ -112.99178,-4.12206 }</string>

							</array>

							<array>
	
								<string>{ -143.34003,-24.52007 }</string>
	
								<string>{ -188.98000,-1.46811 }</string>
	
								<string>{ -128.41466,-13.57478 }</string>

							</array>

							<array>
	
								<string>{ -155.28033,-36.95787 }</string>
	
								<string>{ -188.98000,-1.46811 }</string>
	
								<string>{ -143.34003,-24.52007 }</string>

							</array>

							<array>
	
								<string>{ -164.23556,-50.88822 }</string>
	
								<string>{ -188.98000,-1.46811 }</string>
	
								<string>{ -155.28033,-36.95787 }</string>

							</array>

							<array>
	
								<string>{ 258.46765,69.07306 }</string>
	
								<string>{ 155.66495,86.92273 }</string>
	
								<string>{ 155.16742,103.83813 }</string>

							</array>

							<array>
	
								<string>{ 258.46765,69.07306 }</string>
	
								<string>{ 284.28522,70.45216 }</string>
	
								<string>{ 284.76593,-159.14693 }</string>
	
								<string>{ 174.57040,-9.59470 }</string>

							</array>

							<array>
	
								<string>{ 79.54553,-125.51509 }</string>
	
								<string>{ 100.93857,-134.96782 }</string>
	
								<string>{ -48.81267,-117.05738 }</string>
	
								<string>{ -27.41965,-108.10215 }</string>

							</array>

							<array>
	
								<string>{ -170.20570,-77.75389 }</string>
	
								<string>{ -283.33495,-159.34593 }</string>
	
								<string>{ -169.21068,-64.81857 }</string>

							</array>

							<array>
	
								<string>{ -167.22063,-93.17678 }</string>
	
								<string>{ -283.33495,-159.34593 }</string>
	
								<string>{ -170.20570,-77.75389 }</string>

							</array>

							<array>
	
								<string>{ -158.26540,-108.10215 }</string>
	
								<string>{ -283.33495,-159.34593 }</string>
	
								<string>{ -167.22063,-93.17678 }</string>

							</array>

							<array>
	
								<string>{ -143.34003,-119.54494 }</string>
	
								<string>{ -283.33495,-159.34593 }</string>
	
								<string>{ -158.26540,-108.10215 }</string>

							</array>

							<array>
	
								<string>{ -127.41963,-125.01757 }</string>
	
								<string>{ -283.33495,-159.34593 }</string>
	
								<string>{ -143.34003,-119.54494 }</string>

							</array>

							<array>
	
								<string>{ 100.93857,-134.96782 }</string>
	
								<string>{ -65.72809,-122.53001 }</string>
	
								<string>{ -48.81267,-117.05738 }</string>

							</array>

							<array>
	
								<string>{ -110.00670,-128.00265 }</string>
	
								<string>{ -283.33495,-159.34593 }</string>
	
								<string>{ -127.41963,-125.01757 }</string>

							</array>

							<array>
	
								<string>{ -110.00670,-128.00265 }</string>
	
								<string>{ -87.61864,-126.51011 }</string>
	
								<string>{ 120.83908,-139.94295 }</string>
	
								<string>{ 284.76593,-159.14693 }</string>
	
								<string>{ -283.33495,-159.34593 }</string>

							</array>

							<array>
	
								<string>{ 100.93857,-134.96782 }</string>
	
								<string>{ 120.83908,-139.94295 }</string>
	
								<string>{ -87.61864,-126.51011 }</string>
	
								<string>{ -65.72809,-122.53001 }</string>

							</array>

							<array>
	
								<string>{ 284.76593,-159.14693 }</string>
	
								<string>{ 195.96344,-46.41061 }</string>
	
								<string>{ 187.50574,-28.00266 }</string>

							</array>

							<array>
	
								<string>{ 284.76593,-159.14693 }</string>
	
								<string>{ 203.92365,-64.81857 }</string>
	
								<string>{ 195.96344,-46.41061 }</string>

							</array>

							<array>
	
								<string>{ 284.76593,-159.14693 }</string>
	
								<string>{ 207.40625,-83.72404 }</string>
	
								<string>{ 203.92365,-64.81857 }</string>

							</array>

							<array>
	
								<string>{ 284.76593,-159.14693 }</string>
	
								<string>{ 209.89380,-98.64941 }</string>
	
								<string>{ 207.40625,-83.72404 }</string>

							</array>

							<array>
	
								<string>{ 284.76593,-159.14693 }</string>
	
								<string>{ 208.89877,-116.06235 }</string>
	
								<string>{ 209.89380,-98.64941 }</string>

							</array>

							<array>
	
								<string>{ 284.76593,-159.14693 }</string>
	
								<string>{ 202.92862,-128.50016 }</string>
	
								<string>{ 208.89877,-116.06235 }</string>

							</array>

							<array>
	
								<string>{ 284.76593,-159.14693 }</string>
	
								<string>{ 190.98834,-137.95290 }</string>
	
								<string>{ 202.92862,-128.50016 }</string>

							</array>

							<array>
	
								<string>{ 284.76593,-159.14693 }</string>
	
								<string>{ 173.57538,-140.93797 }</string>
	
								<string>{ 190.98834,-137.95290 }</string>

							</array>

							<array>
	
								<string>{ 284.76593,-159.14693 }</string>
	
								<string>{ 155.66495,-142.43051 }</string>
	
								<string>{ 173.57538,-140.93797 }</string>

							</array>

							<array>
	
								<string>{ 284.76593,-159.14693 }</string>
	
								<string>{ 138.25201,-141.93300 }</string>
	
								<string>{ 155.66495,-142.43051 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 30.75894,93.71193 }</string>
	
								<string>{ 10.39133,121.71820 }</string>
	
								<string>{ 74.73901,108.33881 }</string>
	
								<string>{ 61.10718,76.29900 }</string>

							</array>

							<array>
	
								<string>{ -22.69308,103.78448 }</string>
	
								<string>{ -44.86296,122.56766 }</string>
	
								<string>{ 10.39133,121.71820 }</string>
	
								<string>{ 30.75894,93.71193 }</string>

							</array>

							<array>
	
								<string>{ -22.69308,103.78448 }</string>
	
								<string>{ -89.14157,92.41840 }</string>
	
								<string>{ -74.71371,110.62735 }</string>
	
								<string>{ -44.86296,122.56766 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

