<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D13</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 33.46368,20.72626 }</string>
	
								<string>{ 34.30170,27.43018 }</string>
	
								<string>{ 38.77097,47.54190 }</string>
	
								<string>{ 47.15085,69.60895 }</string>
	
								<string>{ 65.86594,40.55867 }</string>
	
								<string>{ 42.12292,17.09497 }</string>
	
								<string>{ 35.97766,16.25699 }</string>

							</array>

							<array>
	
								<string>{ -184.41341,-61.11732 }</string>
	
								<string>{ -115.13966,-87.65363 }</string>
	
								<string>{ -105.64246,-108.04469 }</string>
	
								<string>{ -239.16201,-160.27933 }</string>
	
								<string>{ -238.60335,-68.60335 }</string>

							</array>

							<array>
	
								<string>{ 86.81564,95.02794 }</string>
	
								<string>{ 103.57544,71.84358 }</string>
	
								<string>{ 65.86594,40.55867 }</string>
	
								<string>{ 47.15085,69.60895 }</string>
	
								<string>{ 55.81006,89.72067 }</string>

							</array>

							<array>
	
								<string>{ -115.13966,-87.65363 }</string>
	
								<string>{ -184.41341,-61.11732 }</string>
	
								<string>{ -123.51955,-60.83799 }</string>

							</array>

							<array>
	
								<string>{ -75.19553,-0.50279 }</string>
	
								<string>{ 37.09497,-11.95531 }</string>
	
								<string>{ 37.93295,-59.44134 }</string>
	
								<string>{ 0.78214,-46.31284 }</string>
	
								<string>{ -28.82681,-34.58100 }</string>
	
								<string>{ -89.72067,-6.64804 }</string>
	
								<string>{ -88.88268,-1.62010 }</string>

							</array>

							<array>
	
								<string>{ 115.58661,105.08380 }</string>
	
								<string>{ 131.22906,90.00000 }</string>
	
								<string>{ 103.57544,71.84358 }</string>
	
								<string>{ 86.81564,95.02794 }</string>

							</array>

							<array>
	
								<string>{ 141.00558,124.91620 }</string>
	
								<string>{ 170.05588,102.84918 }</string>
	
								<string>{ 131.22906,90.00000 }</string>
	
								<string>{ 115.58661,105.08380 }</string>

							</array>

							<array>
	
								<string>{ 149.66483,143.35196 }</string>
	
								<string>{ 194.07822,100.05588 }</string>
	
								<string>{ 170.05588,102.84918 }</string>
	
								<string>{ 141.00558,124.91620 }</string>

							</array>

							<array>
	
								<string>{ 179.27374,-63.07262 }</string>
	
								<string>{ 122.56985,-97.43017 }</string>
	
								<string>{ 89.60895,-80.11173 }</string>
	
								<string>{ 37.09497,-11.95531 }</string>
	
								<string>{ 158.88269,-27.87709 }</string>

							</array>

							<array>
	
								<string>{ 153.57544,160.39108 }</string>
	
								<string>{ 240.44693,160.39108 }</string>
	
								<string>{ 194.07822,100.05588 }</string>
	
								<string>{ 149.66483,143.35196 }</string>

							</array>

							<array>
	
								<string>{ 240.44693,160.39108 }</string>
	
								<string>{ 212.23465,79.10616 }</string>
	
								<string>{ 194.07822,100.05588 }</string>

							</array>

							<array>
	
								<string>{ 37.09497,-11.95531 }</string>
	
								<string>{ 89.60895,-80.11173 }</string>
	
								<string>{ 37.93295,-59.44134 }</string>

							</array>

							<array>
	
								<string>{ 179.27374,-63.07262 }</string>
	
								<string>{ 191.28491,-78.15643 }</string>
	
								<string>{ 139.32962,-108.60335 }</string>
	
								<string>{ 122.56985,-97.43017 }</string>

							</array>

							<array>
	
								<string>{ 191.28491,-78.15643 }</string>
	
								<string>{ 201.89944,-79.83240 }</string>
	
								<string>{ 147.15085,-118.37989 }</string>
	
								<string>{ 139.32962,-108.60335 }</string>

							</array>

							<array>
	
								<string>{ 240.44693,160.39108 }</string>
	
								<string>{ 221.73184,42.51398 }</string>
	
								<string>{ 212.23465,79.10616 }</string>

							</array>

							<array>
	
								<string>{ 201.89944,-79.83240 }</string>
	
								<string>{ 149.66483,-126.48045 }</string>
	
								<string>{ 147.15085,-118.37989 }</string>

							</array>

							<array>
	
								<string>{ 241.89944,-160.22346 }</string>
	
								<string>{ 221.17319,3.96648 }</string>
	
								<string>{ 221.73184,42.51398 }</string>
	
								<string>{ 240.44693,160.39108 }</string>

							</array>

							<array>
	
								<string>{ -97.26257,-117.26257 }</string>
	
								<string>{ -239.16201,-160.27933 }</string>
	
								<string>{ -105.64246,-108.04469 }</string>

							</array>

							<array>
	
								<string>{ -86.92737,-126.20112 }</string>
	
								<string>{ -239.16201,-160.27933 }</string>
	
								<string>{ -97.26257,-117.26257 }</string>

							</array>

							<array>
	
								<string>{ -73.24022,-135.13966 }</string>
	
								<string>{ -239.16201,-160.27933 }</string>
	
								<string>{ -86.92737,-126.20112 }</string>

							</array>

							<array>
	
								<string>{ 201.89944,-79.83240 }</string>
	
								<string>{ 211.95532,-73.40782 }</string>
	
								<string>{ 241.89944,-160.22346 }</string>
	
								<string>{ 146.03354,-135.41899 }</string>
	
								<string>{ 149.66483,-126.48045 }</string>

							</array>

							<array>
	
								<string>{ -59.55307,-141.84357 }</string>
	
								<string>{ -239.16201,-160.27933 }</string>
	
								<string>{ -73.24022,-135.13966 }</string>

							</array>

							<array>
	
								<string>{ -47.82123,-146.31285 }</string>
	
								<string>{ -239.16201,-160.27933 }</string>
	
								<string>{ -59.55307,-141.84357 }</string>

							</array>

							<array>
	
								<string>{ 241.89944,-160.22346 }</string>
	
								<string>{ 219.77655,-47.15083 }</string>
	
								<string>{ 221.17319,3.96648 }</string>

							</array>

							<array>
	
								<string>{ 241.89944,-160.22346 }</string>
	
								<string>{ 217.54190,-60.27933 }</string>
	
								<string>{ 219.77655,-47.15083 }</string>

							</array>

							<array>
	
								<string>{ 241.89944,-160.22346 }</string>
	
								<string>{ 211.95532,-73.40782 }</string>
	
								<string>{ 217.54190,-60.27933 }</string>

							</array>

							<array>
	
								<string>{ 241.89944,-160.22346 }</string>
	
								<string>{ 138.49164,-141.00559 }</string>
	
								<string>{ 146.03354,-135.41899 }</string>

							</array>

							<array>
	
								<string>{ 241.89944,-160.22346 }</string>
	
								<string>{ 128.71509,-145.19553 }</string>
	
								<string>{ 138.49164,-141.00559 }</string>

							</array>

							<array>
	
								<string>{ 241.89944,-160.22346 }</string>
	
								<string>{ 113.35196,-149.94413 }</string>
	
								<string>{ 128.71509,-145.19553 }</string>

							</array>

							<array>
	
								<string>{ 241.89944,-160.22346 }</string>
	
								<string>{ 87.93295,-153.29609 }</string>
	
								<string>{ 113.35196,-149.94413 }</string>

							</array>

							<array>
	
								<string>{ -239.16201,-160.27933 }</string>
	
								<string>{ -29.66479,-150.22346 }</string>
	
								<string>{ 241.89944,-160.22346 }</string>

							</array>

							<array>
	
								<string>{ -38.60335,-149.10614 }</string>
	
								<string>{ -239.16201,-160.27933 }</string>
	
								<string>{ -47.82123,-146.31285 }</string>

							</array>

							<array>
	
								<string>{ -239.16201,-160.27933 }</string>
	
								<string>{ -38.60335,-149.10614 }</string>
	
								<string>{ -29.66479,-150.22346 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 84.02234,-108.32402 }</string>
	
								<string>{ 73.12851,-108.60335 }</string>
	
								<string>{ 44.63687,-106.36871 }</string>
	
								<string>{ 24.80447,-81.78770 }</string>
	
								<string>{ 55.53073,-88.77095 }</string>
	
								<string>{ 78.43576,-95.75419 }</string>
	
								<string>{ 89.60895,-101.06145 }</string>
	
								<string>{ 93.01675,-105.47486 }</string>

							</array>

							<array>
	
								<string>{ 1.62012,-101.89944 }</string>
	
								<string>{ -0.33519,-77.03910 }</string>
	
								<string>{ 24.80447,-81.78770 }</string>
	
								<string>{ 44.63687,-106.36871 }</string>

							</array>

							<array>
	
								<string>{ -43.91061,-97.43017 }</string>
	
								<string>{ -49.49721,-67.82123 }</string>
	
								<string>{ -0.33519,-77.03910 }</string>
	
								<string>{ 1.62012,-101.89944 }</string>

							</array>

							<array>
	
								<string>{ -81.34077,-97.43017 }</string>
	
								<string>{ -88.04469,-87.93296 }</string>
	
								<string>{ -93.07262,-76.48045 }</string>
	
								<string>{ -97.54190,-61.62011 }</string>
	
								<string>{ -49.49721,-67.82123 }</string>
	
								<string>{ -43.91061,-97.43017 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -31.89943,50.89386 }</string>
	
								<string>{ -43.35194,31.62012 }</string>
	
								<string>{ -108.99442,78.82683 }</string>
	
								<string>{ -119.05028,90.27933 }</string>
	
								<string>{ -72.96089,103.40784 }</string>
	
								<string>{ -32.17877,92.23465 }</string>

							</array>

							<array>
	
								<string>{ -240.27933,160.72626 }</string>
	
								<string>{ -134.63687,160.16760 }</string>
	
								<string>{ -196.70391,140.27933 }</string>
	
								<string>{ -239.44134,142.51398 }</string>

							</array>

							<array>
	
								<string>{ -134.63687,160.16760 }</string>
	
								<string>{ -115.13966,131.62012 }</string>
	
								<string>{ -165.13966,130.50281 }</string>
	
								<string>{ -196.70391,140.27933 }</string>

							</array>

							<array>
	
								<string>{ -115.13966,131.62012 }</string>
	
								<string>{ -142.51396,116.81564 }</string>
	
								<string>{ -165.13966,130.50281 }</string>

							</array>

							<array>
	
								<string>{ -115.13966,131.62012 }</string>
	
								<string>{ -95.86592,116.25699 }</string>
	
								<string>{ -119.05028,90.27933 }</string>
	
								<string>{ -142.51396,116.81564 }</string>

							</array>

							<array>
	
								<string>{ -72.96089,103.40784 }</string>
	
								<string>{ -119.05028,90.27933 }</string>
	
								<string>{ -95.86592,116.25699 }</string>

							</array>

							<array>
	
								<string>{ -43.35194,31.62012 }</string>
	
								<string>{ -31.89943,50.89386 }</string>
	
								<string>{ -36.64804,34.41341 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

