<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D12</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 50.22348,-6.64804 }</string>
	
								<string>{ 39.05029,-2.45810 }</string>
	
								<string>{ 12.51398,9.27374 }</string>
	
								<string>{ 13.91061,29.38548 }</string>
	
								<string>{ 32.06705,23.51956 }</string>
	
								<string>{ 46.59219,14.02235 }</string>
	
								<string>{ 61.39667,2.84917 }</string>

							</array>

							<array>
	
								<string>{ -8.43575,13.46368 }</string>
	
								<string>{ -24.35754,28.54749 }</string>
	
								<string>{ -9.83240,33.01677 }</string>
	
								<string>{ 0.78214,31.89944 }</string>
	
								<string>{ 13.91061,29.38548 }</string>
	
								<string>{ 12.51398,9.27374 }</string>

							</array>

							<array>
	
								<string>{ 25.36313,-119.77654 }</string>
	
								<string>{ -2.56982,-117.82123 }</string>
	
								<string>{ -21.56424,-113.07262 }</string>
	
								<string>{ -53.40782,-94.07821 }</string>
	
								<string>{ 6.64806,-97.15084 }</string>
	
								<string>{ 27.59778,-100.22346 }</string>
	
								<string>{ 41.28491,-108.32402 }</string>
	
								<string>{ 42.12292,-118.93855 }</string>

							</array>

							<array>
	
								<string>{ -27.43016,3.68715 }</string>
	
								<string>{ -45.86592,22.12291 }</string>
	
								<string>{ -24.35754,28.54749 }</string>
	
								<string>{ -8.43575,13.46368 }</string>

							</array>

							<array>
	
								<string>{ -41.95531,-16.70390 }</string>
	
								<string>{ -65.13966,18.77095 }</string>
	
								<string>{ -45.86592,22.12291 }</string>
	
								<string>{ -27.43016,3.68715 }</string>

							</array>

							<array>
	
								<string>{ 181.22906,95.30727 }</string>
	
								<string>{ 154.41342,79.38548 }</string>
	
								<string>{ 144.35754,86.92738 }</string>
	
								<string>{ 162.79330,98.65921 }</string>
	
								<string>{ 180.39108,101.45251 }</string>

							</array>

							<array>
	
								<string>{ 149.66483,63.46370 }</string>
	
								<string>{ 112.79330,78.82683 }</string>
	
								<string>{ 144.35754,86.92738 }</string>
	
								<string>{ 154.41342,79.38548 }</string>

							</array>

							<array>
	
								<string>{ 149.10614,46.70392 }</string>
	
								<string>{ 143.51956,34.69275 }</string>
	
								<string>{ 112.79330,78.82683 }</string>
	
								<string>{ 149.66483,63.46370 }</string>

							</array>

							<array>
	
								<string>{ -207.03910,-141.84357 }</string>
	
								<string>{ -178.54749,-141.56425 }</string>
	
								<string>{ -139.72066,-146.31285 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -239.72067,-147.93296 }</string>

							</array>

							<array>
	
								<string>{ 241.62012,-159.94413 }</string>
	
								<string>{ 140.72626,-148.82682 }</string>
	
								<string>{ 208.04471,-143.24022 }</string>
	
								<string>{ 240.44693,-148.54749 }</string>

							</array>

							<array>
	
								<string>{ -49.49721,-35.13966 }</string>
	
								<string>{ -67.09497,-7.48602 }</string>
	
								<string>{ -65.13966,18.77095 }</string>
	
								<string>{ -41.95531,-16.70390 }</string>

							</array>

							<array>
	
								<string>{ -79.38547,-47.43017 }</string>
	
								<string>{ -75.75418,-20.61452 }</string>
	
								<string>{ -67.09497,-7.48602 }</string>
	
								<string>{ -48.65921,-46.03352 }</string>
	
								<string>{ -44.74860,-58.60335 }</string>
	
								<string>{ -53.40782,-94.07821 }</string>
	
								<string>{ -72.96089,-75.92178 }</string>

							</array>

							<array>
	
								<string>{ -143.07262,37.20671 }</string>
	
								<string>{ -191.67598,-84.30167 }</string>
	
								<string>{ -193.63128,-46.59218 }</string>
	
								<string>{ -192.51397,-15.86592 }</string>
	
								<string>{ -182.45810,10.11174 }</string>
	
								<string>{ -172.40224,25.47487 }</string>
	
								<string>{ -159.55307,35.25140 }</string>

							</array>

							<array>
	
								<string>{ 112.79330,78.82683 }</string>
	
								<string>{ 111.95532,62.90503 }</string>
	
								<string>{ 75.92178,70.16760 }</string>
	
								<string>{ 76.48047,76.87152 }</string>

							</array>

							<array>
	
								<string>{ 112.79330,78.82683 }</string>
	
								<string>{ 132.06705,50.61453 }</string>
	
								<string>{ 111.95532,62.90503 }</string>

							</array>

							<array>
	
								<string>{ 155.25140,13.46368 }</string>
	
								<string>{ 157.20673,-34.30167 }</string>
	
								<string>{ 142.12292,4.52515 }</string>
	
								<string>{ 143.51956,34.69275 }</string>
	
								<string>{ 149.10614,46.70392 }</string>

							</array>

							<array>
	
								<string>{ 157.20673,-34.30167 }</string>
	
								<string>{ 149.94415,-98.82681 }</string>
	
								<string>{ 123.12851,-60.00000 }</string>
	
								<string>{ 142.12292,4.52515 }</string>

							</array>

							<array>
	
								<string>{ 149.94415,-98.82681 }</string>
	
								<string>{ 142.12292,-130.67039 }</string>
	
								<string>{ 106.64804,-112.51397 }</string>
	
								<string>{ 123.12851,-60.00000 }</string>

							</array>

							<array>
	
								<string>{ 142.12292,-130.67039 }</string>
	
								<string>{ 140.72626,-148.82682 }</string>
	
								<string>{ 91.56424,-134.30168 }</string>
	
								<string>{ 106.64804,-112.51397 }</string>

							</array>

							<array>
	
								<string>{ 140.72626,-148.82682 }</string>
	
								<string>{ 65.58661,-147.15084 }</string>
	
								<string>{ 91.56424,-134.30168 }</string>

							</array>

							<array>
	
								<string>{ 41.84357,-150.22346 }</string>
	
								<string>{ -15.13966,-149.10614 }</string>
	
								<string>{ -6.48044,-143.24022 }</string>

							</array>

							<array>
	
								<string>{ -53.40782,-94.07821 }</string>
	
								<string>{ -6.75977,-92.68156 }</string>
	
								<string>{ 6.64806,-97.15084 }</string>

							</array>

							<array>
	
								<string>{ -53.40782,-94.07821 }</string>
	
								<string>{ -20.16759,-85.41899 }</string>
	
								<string>{ -6.75977,-92.68156 }</string>

							</array>

							<array>
	
								<string>{ -53.40782,-94.07821 }</string>
	
								<string>{ -31.89943,-76.20112 }</string>
	
								<string>{ -20.16759,-85.41899 }</string>

							</array>

							<array>
	
								<string>{ -53.40782,-94.07821 }</string>
	
								<string>{ -39.44133,-67.54190 }</string>
	
								<string>{ -31.89943,-76.20112 }</string>

							</array>

							<array>
	
								<string>{ -53.40782,-94.07821 }</string>
	
								<string>{ -44.74860,-58.60335 }</string>
	
								<string>{ -39.44133,-67.54190 }</string>

							</array>

							<array>
	
								<string>{ -191.67598,-84.30167 }</string>
	
								<string>{ -161.78770,-42.40223 }</string>
	
								<string>{ -155.08379,-84.86034 }</string>
	
								<string>{ -178.54749,-141.56425 }</string>
	
								<string>{ -187.20670,-114.18994 }</string>

							</array>

							<array>
	
								<string>{ -99.49721,31.89944 }</string>
	
								<string>{ -65.13966,18.77095 }</string>
	
								<string>{ -102.56982,11.50838 }</string>
	
								<string>{ -131.34078,15.69833 }</string>
	
								<string>{ -143.07262,37.20671 }</string>
	
								<string>{ -122.68156,36.36871 }</string>

							</array>

							<array>
	
								<string>{ -139.72066,-146.31285 }</string>
	
								<string>{ -178.54749,-141.56425 }</string>
	
								<string>{ -155.08379,-84.86034 }</string>
	
								<string>{ -143.07262,-123.12849 }</string>

							</array>

							<array>
	
								<string>{ 241.62012,-159.94413 }</string>
	
								<string>{ 41.84357,-150.22346 }</string>
	
								<string>{ 65.58661,-147.15084 }</string>
	
								<string>{ 140.72626,-148.82682 }</string>

							</array>

							<array>
	
								<string>{ -67.09497,-7.48602 }</string>
	
								<string>{ -49.49721,-35.13966 }</string>
	
								<string>{ -48.65921,-46.03352 }</string>

							</array>

							<array>
	
								<string>{ -102.56982,11.50838 }</string>
	
								<string>{ -65.13966,18.77095 }</string>
	
								<string>{ -67.09497,-7.48602 }</string>

							</array>

							<array>
	
								<string>{ -147.26257,10.39107 }</string>
	
								<string>{ -143.07262,37.20671 }</string>
	
								<string>{ -131.34078,15.69833 }</string>

							</array>

							<array>
	
								<string>{ -160.11173,-6.08939 }</string>
	
								<string>{ -143.07262,37.20671 }</string>
	
								<string>{ -147.26257,10.39107 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -15.13966,-149.10614 }</string>
	
								<string>{ 241.62012,-159.94413 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -139.72066,-146.31285 }</string>
	
								<string>{ -84.97206,-151.06145 }</string>

							</array>

							<array>
	
								<string>{ -191.67598,-84.30167 }</string>
	
								<string>{ -160.11173,-6.08939 }</string>
	
								<string>{ -161.78770,-42.40223 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

