<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D38</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -180.99723,4.54294 }</string>
	
								<string>{ -137.22991,23.37950 }</string>
	
								<string>{ -144.15512,-22.88089 }</string>
	
								<string>{ -240.27701,-60.83102 }</string>
	
								<string>{ -240.55402,-25.65097 }</string>

							</array>

							<array>
	
								<string>{ -137.22991,23.37950 }</string>
	
								<string>{ -99.27977,36.39890 }</string>
	
								<string>{ -64.93074,45.26317 }</string>
	
								<string>{ -103.71191,-16.23268 }</string>
	
								<string>{ -144.15512,-22.88089 }</string>

							</array>

							<array>
	
								<string>{ -64.93074,45.26317 }</string>
	
								<string>{ -30.30470,47.20222 }</string>
	
								<string>{ -25.31856,33.35181 }</string>
	
								<string>{ -37.50691,-28.14404 }</string>
	
								<string>{ -74.62604,-31.19113 }</string>
	
								<string>{ -103.71191,-16.23268 }</string>

							</array>

							<array>
	
								<string>{ 165.26318,108.97507 }</string>
	
								<string>{ 157.78394,84.04433 }</string>
	
								<string>{ 124.26593,97.61774 }</string>
	
								<string>{ 81.88367,124.76456 }</string>
	
								<string>{ 114.57065,128.64267 }</string>
	
								<string>{ 149.47369,128.36566 }</string>

							</array>

							<array>
	
								<string>{ 81.88367,124.76456 }</string>
	
								<string>{ 124.26593,97.61774 }</string>
	
								<string>{ 53.07480,115.90030 }</string>

							</array>

							<array>
	
								<string>{ 165.26318,108.97507 }</string>
	
								<string>{ 179.39059,101.21884 }</string>
	
								<string>{ 183.26871,70.47092 }</string>
	
								<string>{ 157.78394,84.04433 }</string>

							</array>

							<array>
	
								<string>{ 200.16623,96.78671 }</string>
	
								<string>{ 201.55127,57.72853 }</string>
	
								<string>{ 183.26871,70.47092 }</string>
	
								<string>{ 179.39059,101.21884 }</string>

							</array>

							<array>
	
								<string>{ 219.00278,102.32687 }</string>
	
								<string>{ 214.01663,44.98616 }</string>
	
								<string>{ 201.55127,57.72853 }</string>
	
								<string>{ 200.16623,96.78671 }</string>

							</array>

							<array>
	
								<string>{ -165.48476,-144.48753 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -239.72299,-147.42382 }</string>

							</array>

							<array>
	
								<string>{ 219.00278,102.32687 }</string>
	
								<string>{ 229.80612,116.45432 }</string>
	
								<string>{ 224.54294,28.08865 }</string>
	
								<string>{ 214.01663,44.98616 }</string>

							</array>

							<array>
	
								<string>{ -39.72299,-59.44598 }</string>
	
								<string>{ -80.99722,-78.28255 }</string>
	
								<string>{ -74.62604,-31.19113 }</string>
	
								<string>{ -37.50691,-28.14404 }</string>

							</array>

							<array>
	
								<string>{ -37.50691,-87.14681 }</string>
	
								<string>{ -103.98892,-117.06371 }</string>
	
								<string>{ -80.99722,-78.28255 }</string>
	
								<string>{ -39.72299,-59.44598 }</string>

							</array>

							<array>
	
								<string>{ -31.96675,-107.36842 }</string>
	
								<string>{ -103.98892,-117.06371 }</string>
	
								<string>{ -37.50691,-87.14681 }</string>

							</array>

							<array>
	
								<string>{ -24.21053,-120.94183 }</string>
	
								<string>{ -134.18282,-135.62327 }</string>
	
								<string>{ -103.98892,-117.06371 }</string>
	
								<string>{ -31.96675,-107.36842 }</string>

							</array>

							<array>
	
								<string>{ 240.05542,147.75626 }</string>
	
								<string>{ 228.69809,9.80611 }</string>
	
								<string>{ 224.54294,28.08865 }</string>
	
								<string>{ 229.80612,116.45432 }</string>
	
								<string>{ 235.34628,143.60110 }</string>

							</array>

							<array>
	
								<string>{ -14.23822,-130.08310 }</string>
	
								<string>{ -165.48476,-144.48753 }</string>
	
								<string>{ -134.18282,-135.62327 }</string>
	
								<string>{ -24.21053,-120.94183 }</string>

							</array>

							<array>
	
								<string>{ 240.99725,-159.88920 }</string>
	
								<string>{ 228.69809,9.80611 }</string>
	
								<string>{ 240.05542,147.75626 }</string>

							</array>

							<array>
	
								<string>{ -3.15788,-135.90028 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -165.48476,-144.48753 }</string>
	
								<string>{ -14.23822,-130.08310 }</string>

							</array>

							<array>
	
								<string>{ 240.99725,-159.88920 }</string>
	
								<string>{ 224.54294,-9.86150 }</string>
	
								<string>{ 228.69809,9.80611 }</string>

							</array>

							<array>
	
								<string>{ 240.99725,-159.88920 }</string>
	
								<string>{ 216.50970,-24.26593 }</string>
	
								<string>{ 224.54294,-9.86150 }</string>

							</array>

							<array>
	
								<string>{ 240.99725,-159.88920 }</string>
	
								<string>{ 200.99725,-42.54847 }</string>
	
								<string>{ 216.50970,-24.26593 }</string>

							</array>

							<array>
	
								<string>{ 240.99725,-159.88920 }</string>
	
								<string>{ 180.22162,-61.93906 }</string>
	
								<string>{ 200.99725,-42.54847 }</string>

							</array>

							<array>
	
								<string>{ 240.99725,-159.88920 }</string>
	
								<string>{ 129.52908,-96.28809 }</string>
	
								<string>{ 180.22162,-61.93906 }</string>

							</array>

							<array>
	
								<string>{ 240.99725,-159.88920 }</string>
	
								<string>{ 90.19391,-118.44875 }</string>
	
								<string>{ 129.52908,-96.28809 }</string>

							</array>

							<array>
	
								<string>{ 240.99725,-159.88920 }</string>
	
								<string>{ 56.39890,-132.57618 }</string>
	
								<string>{ 90.19391,-118.44875 }</string>

							</array>

							<array>
	
								<string>{ 240.99725,-159.88920 }</string>
	
								<string>{ 41.16345,-137.56233 }</string>
	
								<string>{ 56.39890,-132.57618 }</string>

							</array>

							<array>
	
								<string>{ 240.99725,-159.88920 }</string>
	
								<string>{ 22.88089,-139.77839 }</string>
	
								<string>{ 41.16345,-137.56233 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ 9.30748,-139.22438 }</string>
	
								<string>{ 22.88089,-139.77839 }</string>
	
								<string>{ 240.99725,-159.88920 }</string>

							</array>

							<array>
	
								<string>{ 9.30748,-139.22438 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -3.15788,-135.90028 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 55.56787,16.17729 }</string>
	
								<string>{ 35.90030,43.87813 }</string>
	
								<string>{ 51.96677,43.32411 }</string>
	
								<string>{ 68.03326,37.50693 }</string>
	
								<string>{ 79.11359,30.85873 }</string>

							</array>

							<array>
	
								<string>{ 42.82550,-0.72021 }</string>
	
								<string>{ 6.81441,-44.76454 }</string>
	
								<string>{ 5.98338,-21.77284 }</string>
	
								<string>{ 7.09142,4.81995 }</string>
	
								<string>{ 10.69254,26.98062 }</string>
	
								<string>{ 16.78671,39.44598 }</string>
	
								<string>{ 35.90030,43.87813 }</string>
	
								<string>{ 55.56787,16.17729 }</string>

							</array>

							<array>
	
								<string>{ 64.15512,83.76732 }</string>
	
								<string>{ 124.26593,64.93076 }</string>
	
								<string>{ 73.29642,62.71469 }</string>
	
								<string>{ 51.41275,69.36288 }</string>
	
								<string>{ -0.55402,96.06650 }</string>

							</array>

							<array>
	
								<string>{ 124.26593,64.93076 }</string>
	
								<string>{ 89.91690,53.57341 }</string>
	
								<string>{ 73.29642,62.71469 }</string>

							</array>

							<array>
	
								<string>{ 124.26593,64.93076 }</string>
	
								<string>{ 151.41275,51.08034 }</string>
	
								<string>{ 100.44324,43.32411 }</string>
	
								<string>{ 89.91690,53.57341 }</string>

							</array>

							<array>
	
								<string>{ 12.63159,-61.38504 }</string>
	
								<string>{ 6.81441,-44.76454 }</string>
	
								<string>{ 134.79227,-38.67036 }</string>
	
								<string>{ 105.98340,-56.12188 }</string>
	
								<string>{ 78.83658,-70.24931 }</string>
	
								<string>{ 56.95291,-76.34349 }</string>
	
								<string>{ 39.22440,-77.45152 }</string>
	
								<string>{ 23.98892,-72.90858 }</string>

							</array>

							<array>
	
								<string>{ 178.55957,12.85320 }</string>
	
								<string>{ 174.95847,-0.44321 }</string>
	
								<string>{ 168.03326,-10.69252 }</string>
	
								<string>{ 154.18283,-24.54294 }</string>
	
								<string>{ 134.79227,-38.67036 }</string>
	
								<string>{ 110.69254,21.99446 }</string>
	
								<string>{ 165.81720,41.38504 }</string>
	
								<string>{ 176.06650,27.53464 }</string>

							</array>

							<array>
	
								<string>{ 151.41275,51.08034 }</string>
	
								<string>{ 106.81442,34.18283 }</string>
	
								<string>{ 100.44324,43.32411 }</string>

							</array>

							<array>
	
								<string>{ 151.41275,51.08034 }</string>
	
								<string>{ 165.81720,41.38504 }</string>
	
								<string>{ 110.69254,21.99446 }</string>
	
								<string>{ 106.81442,34.18283 }</string>

							</array>

							<array>
	
								<string>{ 38.94739,-14.84764 }</string>
	
								<string>{ 6.81441,-44.76454 }</string>
	
								<string>{ 42.82550,-0.72021 }</string>

							</array>

							<array>
	
								<string>{ 42.54849,-26.20499 }</string>
	
								<string>{ 6.81441,-44.76454 }</string>
	
								<string>{ 38.94739,-14.84764 }</string>

							</array>

							<array>
	
								<string>{ 55.01385,-33.68420 }</string>
	
								<string>{ 6.81441,-44.76454 }</string>
	
								<string>{ 42.54849,-26.20499 }</string>

							</array>

							<array>
	
								<string>{ 55.01385,-33.68420 }</string>
	
								<string>{ 134.79227,-38.67036 }</string>
	
								<string>{ 6.81441,-44.76454 }</string>

							</array>

							<array>
	
								<string>{ 134.79227,-38.67036 }</string>
	
								<string>{ 110.96954,10.36012 }</string>
	
								<string>{ 110.69254,21.99446 }</string>

							</array>

							<array>
	
								<string>{ 134.79227,-38.67036 }</string>
	
								<string>{ 107.64545,-2.10526 }</string>
	
								<string>{ 110.96954,10.36012 }</string>

							</array>

							<array>
	
								<string>{ 134.79227,-38.67036 }</string>
	
								<string>{ 99.88922,-14.29362 }</string>
	
								<string>{ 107.64545,-2.10526 }</string>

							</array>

							<array>
	
								<string>{ 134.79227,-38.67036 }</string>
	
								<string>{ 89.08588,-25.37396 }</string>
	
								<string>{ 99.88922,-14.29362 }</string>

							</array>

							<array>
	
								<string>{ 134.79227,-38.67036 }</string>
	
								<string>{ 73.29642,-34.51523 }</string>
	
								<string>{ 89.08588,-25.37396 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

