<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D53</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -53.44917,136.08310 }</string>
	
								<string>{ -31.35487,135.96198 }</string>
	
								<string>{ 17.57620,122.67899 }</string>
	
								<string>{ 18.58731,106.42398 }</string>
	
								<string>{ -50.43631,123.27097 }</string>
	
								<string>{ -59.44632,130.81262 }</string>

							</array>

							<array>
	
								<string>{ 7.87762,-60.46451 }</string>
	
								<string>{ 2.24384,-118.21099 }</string>
	
								<string>{ -0.49039,-138.39452 }</string>
	
								<string>{ -24.37100,-77.24820 }</string>
	
								<string>{ -32.68576,-41.59127 }</string>
	
								<string>{ -0.57309,-48.63352 }</string>
	
								<string>{ 6.75085,-52.29549 }</string>

							</array>

							<array>
	
								<string>{ -176.06604,71.64816 }</string>
	
								<string>{ -130.71393,72.21155 }</string>
	
								<string>{ -129.02379,1.78902 }</string>
	
								<string>{ -135.50266,-55.11240 }</string>
	
								<string>{ -184.79843,17.28197 }</string>
	
								<string>{ -192.96745,47.98619 }</string>
	
								<string>{ -195.22097,61.78902 }</string>
	
								<string>{ -191.55900,70.52141 }</string>

							</array>

							<array>
	
								<string>{ 63.73938,-24.01489 }</string>
	
								<string>{ 49.56369,-78.66142 }</string>
	
								<string>{ 43.93533,-31.01768 }</string>

							</array>

							<array>
	
								<string>{ -183.10829,-62.15465 }</string>
	
								<string>{ -181.98153,-20.46451 }</string>
	
								<string>{ -135.50266,-55.11240 }</string>
	
								<string>{ -169.66882,-72.05463 }</string>

							</array>

							<array>
	
								<string>{ -184.79843,17.28197 }</string>
	
								<string>{ -135.50266,-55.11240 }</string>
	
								<string>{ -181.98153,-20.46451 }</string>

							</array>

							<array>
	
								<string>{ 81.80362,-127.89905 }</string>
	
								<string>{ 47.83646,-136.05008 }</string>
	
								<string>{ 88.44101,-65.81662 }</string>
	
								<string>{ 96.89172,-106.38000 }</string>

							</array>

							<array>
	
								<string>{ 187.59595,98.12704 }</string>
	
								<string>{ 182.52551,11.08479 }</string>
	
								<string>{ 143.97617,51.04941 }</string>
	
								<string>{ 136.53110,59.41983 }</string>
	
								<string>{ 125.62411,102.35239 }</string>
	
								<string>{ 169.56778,106.85944 }</string>
	
								<string>{ 183.08890,104.88760 }</string>

							</array>

							<array>
	
								<string>{ 90.38699,-13.14601 }</string>
	
								<string>{ 46.75085,-121.30958 }</string>
	
								<string>{ 49.56369,-78.66142 }</string>
	
								<string>{ 63.73938,-24.01489 }</string>

							</array>

							<array>
	
								<string>{ 172.94806,-44.40817 }</string>
	
								<string>{ 129.24118,-30.80812 }</string>
	
								<string>{ 182.52551,11.08479 }</string>
	
								<string>{ 188.72269,-39.61944 }</string>

							</array>

							<array>
	
								<string>{ -28.84860,-111.57655 }</string>
	
								<string>{ -0.49039,-138.39452 }</string>
	
								<string>{ -25.52957,-138.27184 }</string>
	
								<string>{ -41.73622,-133.67156 }</string>
	
								<string>{ -45.26651,-126.99944 }</string>

							</array>

							<array>
	
								<string>{ -22.38095,-94.16362 }</string>
	
								<string>{ -0.49039,-138.39452 }</string>
	
								<string>{ -28.84860,-111.57655 }</string>

							</array>

							<array>
	
								<string>{ 57.57620,113.10016 }</string>
	
								<string>{ 68.80569,92.62115 }</string>
	
								<string>{ 18.58731,106.42398 }</string>
	
								<string>{ 17.57620,122.67899 }</string>

							</array>

							<array>
	
								<string>{ 97.09311,105.73404 }</string>
	
								<string>{ 109.04794,76.72403 }</string>
	
								<string>{ 68.80569,92.62115 }</string>
	
								<string>{ 57.57620,113.10016 }</string>

							</array>

							<array>
	
								<string>{ 125.62411,102.35239 }</string>
	
								<string>{ 125.94800,67.83107 }</string>
	
								<string>{ 109.04794,76.72403 }</string>
	
								<string>{ 97.09311,105.73404 }</string>

							</array>

							<array>
	
								<string>{ 23.65228,-129.19690 }</string>
	
								<string>{ -0.49039,-138.39452 }</string>
	
								<string>{ 2.24384,-118.21099 }</string>
	
								<string>{ 13.79312,-120.46451 }</string>

							</array>

							<array>
	
								<string>{ 46.75085,-121.30958 }</string>
	
								<string>{ 47.83646,-136.05008 }</string>
	
								<string>{ 23.65228,-129.19690 }</string>
	
								<string>{ 35.76495,-121.30958 }</string>

							</array>

							<array>
	
								<string>{ 125.62411,102.35239 }</string>
	
								<string>{ 136.53110,59.41983 }</string>
	
								<string>{ 125.94800,67.83107 }</string>

							</array>

							<array>
	
								<string>{ 3.08890,42.63408 }</string>
	
								<string>{ -1.41815,34.18338 }</string>
	
								<string>{ -47.89702,29.67635 }</string>
	
								<string>{ -90.43224,69.39465 }</string>
	
								<string>{ -54.09421,65.45099 }</string>
	
								<string>{ -25.08011,60.38057 }</string>
	
								<string>{ 3.65228,50.52141 }</string>

							</array>

							<array>
	
								<string>{ -68.74210,26.85944 }</string>
	
								<string>{ -90.43224,69.39465 }</string>
	
								<string>{ -47.89702,29.67635 }</string>

							</array>

							<array>
	
								<string>{ -96.91110,22.63408 }</string>
	
								<string>{ -130.71393,72.21155 }</string>
	
								<string>{ -90.43224,69.39465 }</string>
	
								<string>{ -68.74210,26.85944 }</string>

							</array>

							<array>
	
								<string>{ -118.60124,16.71860 }</string>
	
								<string>{ -130.71393,72.21155 }</string>
	
								<string>{ -96.91110,22.63408 }</string>

							</array>

							<array>
	
								<string>{ 96.12964,-38.81519 }</string>
	
								<string>{ 109.37454,-3.28549 }</string>
	
								<string>{ 126.63791,8.42711 }</string>
	
								<string>{ 182.52551,11.08479 }</string>
	
								<string>{ 129.24118,-30.80812 }</string>

							</array>

							<array>
	
								<string>{ -125.92519,9.39465 }</string>
	
								<string>{ -130.71393,72.21155 }</string>
	
								<string>{ -118.60124,16.71860 }</string>

							</array>

							<array>
	
								<string>{ 109.37454,-3.28549 }</string>
	
								<string>{ 96.12964,-38.81519 }</string>
	
								<string>{ 47.83646,-136.05008 }</string>
	
								<string>{ 46.75085,-121.30958 }</string>
	
								<string>{ 90.38699,-13.14601 }</string>

							</array>

							<array>
	
								<string>{ -24.37100,-77.24820 }</string>
	
								<string>{ -0.49039,-138.39452 }</string>
	
								<string>{ -22.38095,-94.16362 }</string>

							</array>

							<array>
	
								<string>{ -96.94920,-55.07293 }</string>
	
								<string>{ -121.13646,-11.16873 }</string>
	
								<string>{ -63.67447,-53.86511 }</string>
	
								<string>{ -84.67790,-56.41574 }</string>

							</array>

							<array>
	
								<string>{ 47.83646,-136.05008 }</string>
	
								<string>{ 96.12964,-38.81519 }</string>
	
								<string>{ 88.44101,-65.81662 }</string>

							</array>

							<array>
	
								<string>{ -129.02379,1.78902 }</string>
	
								<string>{ -130.71393,72.21155 }</string>
	
								<string>{ -125.92519,9.39465 }</string>

							</array>

							<array>
	
								<string>{ -128.17871,-4.40817 }</string>
	
								<string>{ -135.50266,-55.11240 }</string>
	
								<string>{ -129.02379,1.78902 }</string>

							</array>

							<array>
	
								<string>{ -128.17871,-4.40817 }</string>
	
								<string>{ -121.13646,-11.16873 }</string>
	
								<string>{ -96.94920,-55.07293 }</string>
	
								<string>{ -135.50266,-55.11240 }</string>

							</array>

							<array>
	
								<string>{ -121.13646,-11.16873 }</string>
	
								<string>{ -49.24661,-55.35765 }</string>
	
								<string>{ -63.67447,-53.86511 }</string>

							</array>

							<array>
	
								<string>{ -121.13646,-11.16873 }</string>
	
								<string>{ -100.57307,-21.30957 }</string>
	
								<string>{ -36.80881,-58.84023 }</string>
	
								<string>{ -49.24661,-55.35765 }</string>

							</array>

							<array>
	
								<string>{ -83.67168,-27.22507 }</string>
	
								<string>{ -36.80881,-58.84023 }</string>
	
								<string>{ -100.57307,-21.30957 }</string>

							</array>

							<array>
	
								<string>{ -62.54491,-34.26733 }</string>
	
								<string>{ -36.80881,-58.84023 }</string>
	
								<string>{ -83.67168,-27.22507 }</string>

							</array>

							<array>
	
								<string>{ -32.68576,-41.59127 }</string>
	
								<string>{ -36.80881,-58.84023 }</string>
	
								<string>{ -62.54491,-34.26733 }</string>

							</array>

							<array>
	
								<string>{ -32.68576,-41.59127 }</string>
	
								<string>{ -24.37100,-77.24820 }</string>
	
								<string>{ -36.80881,-58.84023 }</string>

							</array>

							<array>
	
								<string>{ 23.65228,-129.19690 }</string>
	
								<string>{ 47.83646,-136.05008 }</string>
	
								<string>{ -0.49039,-138.39452 }</string>

							</array>

							<array>
	
								<string>{ 138.34778,18.32845 }</string>
	
								<string>{ 182.52551,11.08479 }</string>
	
								<string>{ 126.63791,8.42711 }</string>

							</array>

							<array>
	
								<string>{ 145.83231,29.27626 }</string>
	
								<string>{ 182.52551,11.08479 }</string>
	
								<string>{ 138.34778,18.32845 }</string>

							</array>

							<array>
	
								<string>{ 147.11694,40.74663 }</string>
	
								<string>{ 182.52551,11.08479 }</string>
	
								<string>{ 145.83231,29.27626 }</string>

							</array>

							<array>
	
								<string>{ 143.97617,51.04941 }</string>
	
								<string>{ 182.52551,11.08479 }</string>
	
								<string>{ 147.11694,40.74663 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -47.42294,-96.81592 }</string>
	
								<string>{ -60.85579,-104.77612 }</string>
	
								<string>{ -79.26375,-82.38806 }</string>
	
								<string>{ -59.86076,-77.91045 }</string>
	
								<string>{ -47.92046,-84.87562 }</string>

							</array>

							<array>
	
								<string>{ -72.79608,-118.20895 }</string>
	
								<string>{ -122.54733,-130.64677 }</string>
	
								<string>{ -79.26375,-82.38806 }</string>
	
								<string>{ -60.85579,-104.77612 }</string>

							</array>

							<array>
	
								<string>{ -72.79608,-135.62189 }</string>
	
								<string>{ -122.54733,-130.64677 }</string>
	
								<string>{ -72.79608,-118.20895 }</string>

							</array>

							<array>
	
								<string>{ -64.33838,-155.52239 }</string>
	
								<string>{ -136.97519,-143.58209 }</string>
	
								<string>{ -122.54733,-130.64677 }</string>
	
								<string>{ -72.79608,-135.62189 }</string>

							</array>

							<array>
	
								<string>{ -200.65678,-145.07463 }</string>
	
								<string>{ -136.97519,-143.58209 }</string>
	
								<string>{ -64.33838,-155.52239 }</string>
	
								<string>{ -284.33113,-161.65563 }</string>
	
								<string>{ -283.83526,-153.49478 }</string>

							</array>

							<array>
	
								<string>{ 283.35034,-153.53069 }</string>
	
								<string>{ 283.71570,-160.46325 }</string>
	
								<string>{ 128.19894,-154.52736 }</string>
	
								<string>{ 196.85565,-146.06965 }</string>

							</array>

							<array>
	
								<string>{ 283.71570,-160.46325 }</string>
	
								<string>{ -284.33113,-161.65563 }</string>
	
								<string>{ 128.19894,-154.52736 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

