<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D28</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 100.22348,-139.05028 }</string>
	
								<string>{ 101.89944,-160.55866 }</string>
	
								<string>{ 69.78839,-125.22092 }</string>
	
								<string>{ 91.56424,-120.37752 }</string>

							</array>

							<array>
	
								<string>{ -77.98883,-90.44692 }</string>
	
								<string>{ -126.59218,-97.43017 }</string>
	
								<string>{ -100.21669,-72.45641 }</string>

							</array>

							<array>
	
								<string>{ 101.89944,-160.55866 }</string>
	
								<string>{ 46.06061,-128.48485 }</string>
	
								<string>{ 69.78839,-125.22092 }</string>

							</array>

							<array>
	
								<string>{ -52.84915,-106.36871 }</string>
	
								<string>{ -139.16201,-145.75419 }</string>
	
								<string>{ -136.08939,-110.00000 }</string>
	
								<string>{ -126.59218,-97.43017 }</string>
	
								<string>{ -77.98883,-90.44692 }</string>

							</array>

							<array>
	
								<string>{ -199.77654,-142.40224 }</string>
	
								<string>{ -139.16201,-145.75419 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -240.27933,-149.88827 }</string>

							</array>

							<array>
	
								<string>{ -28.26816,-116.42458 }</string>
	
								<string>{ -139.16201,-145.75419 }</string>
	
								<string>{ -52.84915,-106.36871 }</string>

							</array>

							<array>
	
								<string>{ 101.89944,-160.55866 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ 23.96649,-127.59776 }</string>
	
								<string>{ 46.06061,-128.48485 }</string>

							</array>

							<array>
	
								<string>{ -2.56982,-123.96648 }</string>
	
								<string>{ -139.16201,-145.75419 }</string>
	
								<string>{ -28.26816,-116.42458 }</string>

							</array>

							<array>
	
								<string>{ 23.96649,-127.59776 }</string>
	
								<string>{ -139.16201,-145.75419 }</string>
	
								<string>{ -2.56982,-123.96648 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -141.11732,-75.92178 }</string>
	
								<string>{ -185.81005,-47.15083 }</string>
	
								<string>{ -201.17318,-17.54190 }</string>
	
								<string>{ -175.75419,-25.64246 }</string>
	
								<string>{ -146.98324,-37.93296 }</string>
	
								<string>{ -122.11444,-52.35484 }</string>

							</array>

							<array>
	
								<string>{ -240.27933,-36.81564 }</string>
	
								<string>{ -240.00000,-14.13408 }</string>
	
								<string>{ -201.17318,-17.54190 }</string>
	
								<string>{ -185.81005,-47.15083 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 149.94415,-111.11732 }</string>
	
								<string>{ 166.98325,-97.15084 }</string>
	
								<string>{ 240.44693,-159.72067 }</string>
	
								<string>{ 147.43018,-160.00000 }</string>

							</array>

							<array>
	
								<string>{ 199.66483,108.43576 }</string>
	
								<string>{ 172.01117,95.30727 }</string>
	
								<string>{ 154.97208,105.13968 }</string>

							</array>

							<array>
	
								<string>{ 199.66483,108.43576 }</string>
	
								<string>{ 182.90503,88.04469 }</string>
	
								<string>{ 172.01117,95.30727 }</string>

							</array>

							<array>
	
								<string>{ 199.66483,108.43576 }</string>
	
								<string>{ 239.66483,109.88828 }</string>
	
								<string>{ 194.35754,78.26816 }</string>
	
								<string>{ 182.90503,88.04469 }</string>

							</array>

							<array>
	
								<string>{ 239.66483,109.88828 }</string>
	
								<string>{ 201.62012,68.21230 }</string>
	
								<string>{ 194.35754,78.26816 }</string>

							</array>

							<array>
	
								<string>{ 239.66483,109.88828 }</string>
	
								<string>{ 208.32404,53.40782 }</string>
	
								<string>{ 201.62012,68.21230 }</string>

							</array>

							<array>
	
								<string>{ 204.41342,-57.76536 }</string>
	
								<string>{ 240.44693,-159.72067 }</string>
	
								<string>{ 184.58102,-79.27374 }</string>
	
								<string>{ 191.56427,-67.54190 }</string>

							</array>

							<array>
	
								<string>{ 239.66483,109.88828 }</string>
	
								<string>{ 213.07263,33.29610 }</string>
	
								<string>{ 208.32404,53.40782 }</string>

							</array>

							<array>
	
								<string>{ 240.44693,-159.72067 }</string>
	
								<string>{ 215.30728,7.03911 }</string>
	
								<string>{ 213.07263,33.29610 }</string>
	
								<string>{ 239.66483,109.88828 }</string>

							</array>

							<array>
	
								<string>{ 176.75980,-89.05028 }</string>
	
								<string>{ 240.44693,-159.72067 }</string>
	
								<string>{ 166.98325,-97.15084 }</string>

							</array>

							<array>
	
								<string>{ 184.58102,-79.27374 }</string>
	
								<string>{ 240.44693,-159.72067 }</string>
	
								<string>{ 176.75980,-89.05028 }</string>

							</array>

							<array>
	
								<string>{ 211.39667,-42.40223 }</string>
	
								<string>{ 240.44693,-159.72067 }</string>
	
								<string>{ 204.41342,-57.76536 }</string>

							</array>

							<array>
	
								<string>{ 213.91061,-17.54190 }</string>
	
								<string>{ 240.44693,-159.72067 }</string>
	
								<string>{ 211.39667,-42.40223 }</string>

							</array>

							<array>
	
								<string>{ 215.30728,7.03911 }</string>
	
								<string>{ 240.44693,-159.72067 }</string>
	
								<string>{ 213.91061,-17.54190 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 176.75980,48.65923 }</string>
	
								<string>{ 120.33521,49.21788 }</string>
	
								<string>{ 112.79330,91.11732 }</string>
	
								<string>{ 137.65363,85.25140 }</string>
	
								<string>{ 156.36871,75.75420 }</string>
	
								<string>{ 172.01117,64.86034 }</string>
	
								<string>{ 180.72626,53.18436 }</string>

							</array>

							<array>
	
								<string>{ 84.58102,46.70392 }</string>
	
								<string>{ 91.84360,92.56984 }</string>
	
								<string>{ 112.79330,91.11732 }</string>
	
								<string>{ 120.33521,49.21788 }</string>

							</array>

							<array>
	
								<string>{ 55.53073,42.23463 }</string>
	
								<string>{ 52.73743,51.45251 }</string>
	
								<string>{ 53.57544,62.62570 }</string>
	
								<string>{ 60.83798,75.19554 }</string>
	
								<string>{ 74.24582,84.69275 }</string>
	
								<string>{ 91.84360,92.56984 }</string>
	
								<string>{ 84.58102,46.70392 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 132.06705,-65.86592 }</string>
	
								<string>{ 160.83798,-68.37988 }</string>
	
								<string>{ 154.41342,-74.52514 }</string>
	
								<string>{ 145.25140,-78.37989 }</string>
	
								<string>{ 136.25699,-76.75977 }</string>

							</array>

							<array>
	
								<string>{ -64.30167,-65.58659 }</string>
	
								<string>{ -74.82140,-47.91772 }</string>
	
								<string>{ 1.89944,-56.36871 }</string>
	
								<string>{ -45.30725,-83.18436 }</string>

							</array>

							<array>
	
								<string>{ 173.12851,-49.10614 }</string>
	
								<string>{ 167.26257,-59.44134 }</string>
	
								<string>{ 116.70392,-46.31284 }</string>
	
								<string>{ 93.79889,-34.02235 }</string>
	
								<string>{ 60.83798,5.08380 }</string>
	
								<string>{ 139.05029,-1.34077 }</string>

							</array>

							<array>
	
								<string>{ 116.70392,-46.31284 }</string>
	
								<string>{ 167.26257,-59.44134 }</string>
	
								<string>{ 160.83798,-68.37988 }</string>
	
								<string>{ 132.06705,-65.86592 }</string>

							</array>

							<array>
	
								<string>{ -60.67038,-13.57542 }</string>
	
								<string>{ -40.27933,-5.25139 }</string>
	
								<string>{ -7.31844,-0.50279 }</string>
	
								<string>{ 60.83798,5.08380 }</string>
	
								<string>{ 38.21231,-40.16759 }</string>
	
								<string>{ -74.82140,-47.91772 }</string>
	
								<string>{ -75.77281,-34.11715 }</string>
	
								<string>{ -71.42204,-22.84915 }</string>

							</array>

							<array>
	
								<string>{ -74.82140,-47.91772 }</string>
	
								<string>{ 38.21231,-40.16759 }</string>
	
								<string>{ 1.89944,-56.36871 }</string>

							</array>

							<array>
	
								<string>{ 67.54190,-32.62569 }</string>
	
								<string>{ 60.83798,5.08380 }</string>
	
								<string>{ 93.79889,-34.02235 }</string>

							</array>

							<array>
	
								<string>{ 38.21231,-40.16759 }</string>
	
								<string>{ 60.83798,5.08380 }</string>
	
								<string>{ 67.54190,-32.62569 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -64.58101,98.37988 }</string>
	
								<string>{ -64.86034,115.97766 }</string>
	
								<string>{ -40.28441,95.30727 }</string>
	
								<string>{ -55.03639,72.28374 }</string>

							</array>

							<array>
	
								<string>{ -64.86034,115.97766 }</string>
	
								<string>{ -60.94972,129.38547 }</string>
	
								<string>{ -49.49721,146.48044 }</string>
	
								<string>{ -27.50804,105.93027 }</string>
	
								<string>{ -40.28441,95.30727 }</string>

							</array>

							<array>
	
								<string>{ 173.12851,143.35196 }</string>
	
								<string>{ 240.72626,160.67041 }</string>
	
								<string>{ 240.78214,135.58661 }</string>

							</array>

							<array>
	
								<string>{ -49.49721,146.48044 }</string>
	
								<string>{ -32.17877,160.39108 }</string>
	
								<string>{ -5.15150,118.18182 }</string>
	
								<string>{ -27.50804,105.93027 }</string>

							</array>

							<array>
	
								<string>{ -32.17877,160.39108 }</string>
	
								<string>{ 13.63637,126.36365 }</string>
	
								<string>{ -5.15150,118.18182 }</string>

							</array>

							<array>
	
								<string>{ -32.17877,160.39108 }</string>
	
								<string>{ 30.67041,131.34079 }</string>
	
								<string>{ 13.63637,126.36365 }</string>

							</array>

							<array>
	
								<string>{ -32.17877,160.39108 }</string>
	
								<string>{ 76.75980,140.55865 }</string>
	
								<string>{ 30.67041,131.34079 }</string>

							</array>

							<array>
	
								<string>{ 240.72626,160.67041 }</string>
	
								<string>{ 125.92178,144.46927 }</string>
	
								<string>{ 76.75980,140.55865 }</string>
	
								<string>{ -32.17877,160.39108 }</string>

							</array>

							<array>
	
								<string>{ 125.92178,144.46927 }</string>
	
								<string>{ 240.72626,160.67041 }</string>
	
								<string>{ 173.12851,143.35196 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

