<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D27</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 98.93735,46.12373 }</string>
	
								<string>{ 88.08691,0.37595 }</string>
	
								<string>{ 33.83472,23.83635 }</string>

							</array>

							<array>
	
								<string>{ 188.96667,53.74837 }</string>
	
								<string>{ 285.16974,161.11435 }</string>
	
								<string>{ 283.56500,80.60957 }</string>

							</array>

							<array>
	
								<string>{ -175.54945,18.26450 }</string>
	
								<string>{ -177.60223,-38.62699 }</string>
	
								<string>{ -180.82804,-56.80881 }</string>
	
								<string>{ -285.31148,-161.63934 }</string>
	
								<string>{ -286.58834,-5.75453 }</string>

							</array>

							<array>
	
								<string>{ 98.93735,46.12373 }</string>
	
								<string>{ 120.93149,56.68092 }</string>
	
								<string>{ 111.25406,-12.23402 }</string>
	
								<string>{ 88.08691,0.37595 }</string>

							</array>

							<array>
	
								<string>{ 10.96082,126.18237 }</string>
	
								<string>{ 18.29221,101.25571 }</string>
	
								<string>{ -9.86029,75.44925 }</string>

							</array>

							<array>
	
								<string>{ 10.96082,126.18237 }</string>
	
								<string>{ 31.78192,159.61346 }</string>
	
								<string>{ 39.99307,118.26450 }</string>
	
								<string>{ 18.29221,101.25571 }</string>

							</array>

							<array>
	
								<string>{ 31.78192,159.61346 }</string>
	
								<string>{ 57.88162,129.40820 }</string>
	
								<string>{ 39.99307,118.26450 }</string>

							</array>

							<array>
	
								<string>{ -137.71953,-0.50383 }</string>
	
								<string>{ -175.54945,18.26450 }</string>
	
								<string>{ -127.45561,24.71611 }</string>
	
								<string>{ -77.60223,25.88913 }</string>

							</array>

							<array>
	
								<string>{ -155.60809,-11.64752 }</string>
	
								<string>{ -175.54945,18.26450 }</string>
	
								<string>{ -137.71953,-0.50383 }</string>

							</array>

							<array>
	
								<string>{ -169.39109,-22.20471 }</string>
	
								<string>{ -175.54945,18.26450 }</string>
	
								<string>{ -155.60809,-11.64752 }</string>

							</array>

							<array>
	
								<string>{ 31.78192,159.61346 }</string>
	
								<string>{ 74.30392,136.15308 }</string>
	
								<string>{ 57.88162,129.40820 }</string>

							</array>

							<array>
	
								<string>{ 284.52747,-161.74607 }</string>
	
								<string>{ 126.21008,-77.33667 }</string>
	
								<string>{ 132.36844,-58.27509 }</string>
	
								<string>{ 178.11624,-28.36307 }</string>
	
								<string>{ 285.20435,-100.40768 }</string>

							</array>

							<array>
	
								<string>{ -7.22101,-11.06100 }</string>
	
								<string>{ -6.04797,-45.66512 }</string>
	
								<string>{ -68.51132,-59.44810 }</string>
	
								<string>{ -17.19168,1.54897 }</string>

							</array>

							<array>
	
								<string>{ -0.18289,-78.50969 }</string>
	
								<string>{ -99.59637,-87.89385 }</string>
	
								<string>{ -68.51132,-59.44810 }</string>
	
								<string>{ -6.04797,-45.66512 }</string>

							</array>

							<array>
	
								<string>{ 10.96082,-105.78242 }</string>
	
								<string>{ -122.17702,-99.62406 }</string>
	
								<string>{ -99.59637,-87.89385 }</string>
	
								<string>{ -0.18289,-78.50969 }</string>

							</array>

							<array>
	
								<string>{ -177.60223,-38.62699 }</string>
	
								<string>{ -175.54945,18.26450 }</string>
	
								<string>{ -169.39109,-22.20471 }</string>

							</array>

							<array>
	
								<string>{ 120.93149,56.68092 }</string>
	
								<string>{ 137.35376,66.65160 }</string>
	
								<string>{ 124.45056,-23.37773 }</string>
	
								<string>{ 111.25406,-12.23402 }</string>

							</array>

							<array>
	
								<string>{ 31.78192,159.61346 }</string>
	
								<string>{ 90.13971,139.67212 }</string>
	
								<string>{ 74.30392,136.15308 }</string>

							</array>

							<array>
	
								<string>{ 22.98428,-121.91145 }</string>
	
								<string>{ -285.31148,-161.63934 }</string>
	
								<string>{ -143.87790,-102.84986 }</string>
	
								<string>{ -122.17702,-99.62406 }</string>
	
								<string>{ 10.96082,-105.78242 }</string>

							</array>

							<array>
	
								<string>{ 285.16974,161.11435 }</string>
	
								<string>{ 102.74966,139.08560 }</string>
	
								<string>{ 90.13971,139.67212 }</string>
	
								<string>{ 31.78192,159.61346 }</string>

							</array>

							<array>
	
								<string>{ 137.35376,66.65160 }</string>
	
								<string>{ 147.03119,79.55482 }</string>
	
								<string>{ 132.07516,-40.38652 }</string>
	
								<string>{ 124.45056,-23.37773 }</string>

							</array>

							<array>
	
								<string>{ -176.13596,-75.28388 }</string>
	
								<string>{ -285.31148,-161.63934 }</string>
	
								<string>{ -180.82804,-56.80881 }</string>

							</array>

							<array>
	
								<string>{ -166.45853,-91.11966 }</string>
	
								<string>{ -285.31148,-161.63934 }</string>
	
								<string>{ -176.13596,-75.28388 }</string>

							</array>

							<array>
	
								<string>{ -143.87790,-102.84986 }</string>
	
								<string>{ -285.31148,-161.63934 }</string>
	
								<string>{ -166.45853,-91.11966 }</string>

							</array>

							<array>
	
								<string>{ 37.64703,-130.41585 }</string>
	
								<string>{ -285.31148,-161.63934 }</string>
	
								<string>{ 22.98428,-121.91145 }</string>

							</array>

							<array>
	
								<string>{ 37.64703,-130.41585 }</string>
	
								<string>{ 56.41534,-131.88212 }</string>
	
								<string>{ 284.52747,-161.74607 }</string>
	
								<string>{ -285.31148,-161.63934 }</string>

							</array>

							<array>
	
								<string>{ 147.03119,79.55482 }</string>
	
								<string>{ 151.43002,96.27036 }</string>
	
								<string>{ 167.55905,33.22052 }</string>
	
								<string>{ 161.40070,5.65453 }</string>
	
								<string>{ 132.36844,-58.27509 }</string>
	
								<string>{ 132.07516,-40.38652 }</string>

							</array>

							<array>
	
								<string>{ 167.55905,33.22052 }</string>
	
								<string>{ 151.43002,96.27036 }</string>
	
								<string>{ 285.16974,161.11435 }</string>
	
								<string>{ 188.96667,53.74837 }</string>

							</array>

							<array>
	
								<string>{ 285.16974,161.11435 }</string>
	
								<string>{ 115.65289,136.73956 }</string>
	
								<string>{ 102.74966,139.08560 }</string>

							</array>

							<array>
	
								<string>{ 285.16974,161.11435 }</string>
	
								<string>{ 128.26288,131.46097 }</string>
	
								<string>{ 115.65289,136.73956 }</string>

							</array>

							<array>
	
								<string>{ 285.16974,161.11435 }</string>
	
								<string>{ 139.11331,123.24985 }</string>
	
								<string>{ 128.26288,131.46097 }</string>

							</array>

							<array>
	
								<string>{ 285.16974,161.11435 }</string>
	
								<string>{ 147.61771,110.93314 }</string>
	
								<string>{ 139.11331,123.24985 }</string>

							</array>

							<array>
	
								<string>{ 285.16974,161.11435 }</string>
	
								<string>{ 151.43002,96.27036 }</string>
	
								<string>{ 147.61771,110.93314 }</string>

							</array>

							<array>
	
								<string>{ 178.11624,-28.36307 }</string>
	
								<string>{ 132.36844,-58.27509 }</string>
	
								<string>{ 161.40070,5.65453 }</string>

							</array>

							<array>
	
								<string>{ 284.52747,-161.74607 }</string>
	
								<string>{ 118.58545,-92.58594 }</string>
	
								<string>{ 126.21008,-77.33667 }</string>

							</array>

							<array>
	
								<string>{ 284.52747,-161.74607 }</string>
	
								<string>{ 107.44174,-107.54195 }</string>
	
								<string>{ 118.58545,-92.58594 }</string>

							</array>

							<array>
	
								<string>{ 284.52747,-161.74607 }</string>
	
								<string>{ 93.65875,-120.15192 }</string>
	
								<string>{ 107.44174,-107.54195 }</string>

							</array>

							<array>
	
								<string>{ 284.52747,-161.74607 }</string>
	
								<string>{ 75.77020,-128.06981 }</string>
	
								<string>{ 93.65875,-120.15192 }</string>

							</array>

							<array>
	
								<string>{ 284.52747,-161.74607 }</string>
	
								<string>{ 56.41534,-131.88212 }</string>
	
								<string>{ 75.77020,-128.06981 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

