<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D30</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 145.74734,-54.13408 }</string>
	
								<string>{ 159.45505,-91.06268 }</string>
	
								<string>{ 134.38690,-76.89374 }</string>
	
								<string>{ 130.84467,-66.81199 }</string>

							</array>

							<array>
	
								<string>{ 164.74176,-35.13966 }</string>
	
								<string>{ 159.45505,-91.06268 }</string>
	
								<string>{ 145.74734,-54.13408 }</string>

							</array>

							<array>
	
								<string>{ 159.45505,-91.06268 }</string>
	
								<string>{ 155.91281,-112.04360 }</string>
	
								<string>{ 154.00543,-101.68937 }</string>

							</array>

							<array>
	
								<string>{ -191.96901,25.45432 }</string>
	
								<string>{ -194.19679,-18.65921 }</string>
	
								<string>{ -195.87277,-28.43575 }</string>
	
								<string>{ -240.00685,-160.00000 }</string>
	
								<string>{ -240.28618,25.23770 }</string>

							</array>

							<array>
	
								<string>{ 241.33395,-160.22346 }</string>
	
								<string>{ 184.91364,91.68968 }</string>
	
								<string>{ 240.44009,81.89944 }</string>

							</array>

							<array>
	
								<string>{ 144.46866,-119.40055 }</string>
	
								<string>{ 241.33395,-160.22346 }</string>
	
								<string>{ 20.04901,-147.43017 }</string>
	
								<string>{ 27.03226,-144.35754 }</string>
	
								<string>{ 121.03540,-118.03815 }</string>
	
								<string>{ 133.29700,-116.40327 }</string>

							</array>

							<array>
	
								<string>{ 177.31158,-19.77654 }</string>
	
								<string>{ 159.45505,-91.06268 }</string>
	
								<string>{ 164.74176,-35.13966 }</string>

							</array>

							<array>
	
								<string>{ -166.43052,11.93460 }</string>
	
								<string>{ -191.96901,25.45432 }</string>
	
								<string>{ -151.18688,23.49901 }</string>
	
								<string>{ -152.29735,19.88828 }</string>

							</array>

							<array>
	
								<string>{ -177.99567,3.68715 }</string>
	
								<string>{ -191.96901,25.45432 }</string>
	
								<string>{ -166.43052,11.93460 }</string>

							</array>

							<array>
	
								<string>{ -185.53757,-3.01675 }</string>
	
								<string>{ -191.96901,25.45432 }</string>
	
								<string>{ -177.99567,3.68715 }</string>

							</array>

							<array>
	
								<string>{ -190.84484,-10.83798 }</string>
	
								<string>{ -191.96901,25.45432 }</string>
	
								<string>{ -185.53757,-3.01675 }</string>

							</array>

							<array>
	
								<string>{ 49.94415,89.68643 }</string>
	
								<string>{ 99.68536,95.00739 }</string>
	
								<string>{ 82.34332,84.14168 }</string>
	
								<string>{ 52.15823,86.06200 }</string>

							</array>

							<array>
	
								<string>{ 99.68536,95.00739 }</string>
	
								<string>{ 139.83652,95.04086 }</string>
	
								<string>{ 115.85907,81.34079 }</string>
	
								<string>{ 82.34332,84.14168 }</string>

							</array>

							<array>
	
								<string>{ 139.83652,95.04086 }</string>
	
								<string>{ 140.44009,77.43018 }</string>
	
								<string>{ 115.85907,81.34079 }</string>

							</array>

							<array>
	
								<string>{ 139.83652,95.04086 }</string>
	
								<string>{ 184.91364,91.68968 }</string>
	
								<string>{ 167.53506,68.77095 }</string>
	
								<string>{ 140.44009,77.43018 }</string>

							</array>

							<array>
	
								<string>{ 184.91364,91.68968 }</string>
	
								<string>{ 181.50153,60.67039 }</string>
	
								<string>{ 167.53506,68.77095 }</string>

							</array>

							<array>
	
								<string>{ 184.91364,91.68968 }</string>
	
								<string>{ 189.32275,52.29051 }</string>
	
								<string>{ 181.50153,60.67039 }</string>

							</array>

							<array>
	
								<string>{ 184.91364,91.68968 }</string>
	
								<string>{ 195.18869,42.23463 }</string>
	
								<string>{ 189.32275,52.29051 }</string>

							</array>

							<array>
	
								<string>{ 98.01089,-108.02795 }</string>
	
								<string>{ 121.03540,-118.03815 }</string>
	
								<string>{ 27.03226,-144.35754 }</string>
	
								<string>{ 88.88281,-105.23161 }</string>

							</array>

							<array>
	
								<string>{ -194.19679,-18.65921 }</string>
	
								<string>{ -191.96901,25.45432 }</string>
	
								<string>{ -190.84484,-10.83798 }</string>

							</array>

							<array>
	
								<string>{ 186.52948,-5.25139 }</string>
	
								<string>{ 155.91281,-112.04360 }</string>
	
								<string>{ 159.45505,-91.06268 }</string>
	
								<string>{ 177.31158,-19.77654 }</string>

							</array>

							<array>
	
								<string>{ 193.51273,7.87711 }</string>
	
								<string>{ 241.33395,-160.22346 }</string>
	
								<string>{ 155.91281,-112.04360 }</string>
	
								<string>{ 186.52948,-5.25139 }</string>

							</array>

							<array>
	
								<string>{ 184.91364,91.68968 }</string>
	
								<string>{ 197.98199,31.89944 }</string>
	
								<string>{ 195.18869,42.23463 }</string>

							</array>

							<array>
	
								<string>{ -195.03478,-39.05028 }</string>
	
								<string>{ -240.00685,-160.00000 }</string>
	
								<string>{ -195.87277,-28.43575 }</string>

							</array>

							<array>
	
								<string>{ -191.68283,-50.78212 }</string>
	
								<string>{ -240.00685,-160.00000 }</string>
	
								<string>{ -195.03478,-39.05028 }</string>

							</array>

							<array>
	
								<string>{ -184.97892,-62.51396 }</string>
	
								<string>{ -240.00685,-160.00000 }</string>
	
								<string>{ -191.68283,-50.78212 }</string>

							</array>

							<array>
	
								<string>{ -175.76104,-75.36313 }</string>
	
								<string>{ -240.00685,-160.00000 }</string>
	
								<string>{ -184.97892,-62.51396 }</string>

							</array>

							<array>
	
								<string>{ -165.42584,-87.93296 }</string>
	
								<string>{ -240.00685,-160.00000 }</string>
	
								<string>{ -175.76104,-75.36313 }</string>

							</array>

							<array>
	
								<string>{ -152.85601,-99.94413 }</string>
	
								<string>{ -240.00685,-160.00000 }</string>
	
								<string>{ -165.42584,-87.93296 }</string>

							</array>

							<array>
	
								<string>{ -141.12417,-108.88268 }</string>
	
								<string>{ -240.00685,-160.00000 }</string>
	
								<string>{ -152.85601,-99.94413 }</string>

							</array>

							<array>
	
								<string>{ -126.31969,-120.05587 }</string>
	
								<string>{ -240.00685,-160.00000 }</string>
	
								<string>{ -141.12417,-108.88268 }</string>

							</array>

							<array>
	
								<string>{ -104.81131,-133.74302 }</string>
	
								<string>{ -240.00685,-160.00000 }</string>
	
								<string>{ -126.31969,-120.05587 }</string>

							</array>

							<array>
	
								<string>{ -81.34763,-145.47486 }</string>
	
								<string>{ -240.00685,-160.00000 }</string>
	
								<string>{ -104.81131,-133.74302 }</string>

							</array>

							<array>
	
								<string>{ -67.66048,-148.82682 }</string>
	
								<string>{ -240.00685,-160.00000 }</string>
	
								<string>{ -81.34763,-145.47486 }</string>

							</array>

							<array>
	
								<string>{ -67.66048,-148.82682 }</string>
	
								<string>{ 10.55182,-149.38547 }</string>
	
								<string>{ 241.33395,-160.22346 }</string>
	
								<string>{ -240.00685,-160.00000 }</string>

							</array>

							<array>
	
								<string>{ 20.04901,-147.43017 }</string>
	
								<string>{ 241.33395,-160.22346 }</string>
	
								<string>{ 10.55182,-149.38547 }</string>

							</array>

							<array>
	
								<string>{ 155.91281,-112.04360 }</string>
	
								<string>{ 241.33395,-160.22346 }</string>
	
								<string>{ 144.46866,-119.40055 }</string>

							</array>

							<array>
	
								<string>{ 197.14401,19.88828 }</string>
	
								<string>{ 241.33395,-160.22346 }</string>
	
								<string>{ 193.51273,7.87711 }</string>

							</array>

							<array>
	
								<string>{ 197.98199,31.89944 }</string>
	
								<string>{ 241.33395,-160.22346 }</string>
	
								<string>{ 197.14401,19.88828 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

