<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D35</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -60.19138,38.92542 }</string>
	
								<string>{ -100.77109,2.21045 }</string>
	
								<string>{ -144.24934,8.00755 }</string>
	
								<string>{ -81.93051,58.24910 }</string>
	
								<string>{ -58.74210,56.79982 }</string>

							</array>

							<array>
	
								<string>{ -115.74693,-15.66396 }</string>
	
								<string>{ -144.24934,8.00755 }</string>
	
								<string>{ -100.77109,2.21045 }</string>

							</array>

							<array>
	
								<string>{ -130.72278,-36.91999 }</string>
	
								<string>{ -285.77591,-161.25000 }</string>
	
								<string>{ -210.43293,4.04619 }</string>
	
								<string>{ -175.65031,9.45682 }</string>
	
								<string>{ -144.24934,8.00755 }</string>
	
								<string>{ -115.74693,-15.66396 }</string>

							</array>

							<array>
	
								<string>{ 8.40765,-111.31613 }</string>
	
								<string>{ -30.72278,-105.51903 }</string>
	
								<string>{ -12.36530,-97.78956 }</string>

							</array>

							<array>
	
								<string>{ -210.43293,4.04619 }</string>
	
								<string>{ -285.77591,-161.25000 }</string>
	
								<string>{ -284.13720,-4.38263 }</string>

							</array>

							<array>
	
								<string>{ 17.58640,101.24426 }</string>
	
								<string>{ 71.20959,109.93991 }</string>
	
								<string>{ 124.34970,110.42300 }</string>
	
								<string>{ 134.97772,83.85297 }</string>
	
								<string>{ -28.79041,88.68388 }</string>

							</array>

							<array>
	
								<string>{ 283.39661,-159.65590 }</string>
	
								<string>{ 221.45114,-25.80888 }</string>
	
								<string>{ 215.17096,6.07518 }</string>
	
								<string>{ 231.59607,87.23460 }</string>
	
								<string>{ 284.79187,64.70183 }</string>

							</array>

							<array>
	
								<string>{ 8.40765,-111.31613 }</string>
	
								<string>{ 22.90042,-120.97797 }</string>
	
								<string>{ -57.77592,-115.66396 }</string>
	
								<string>{ -30.72278,-105.51903 }</string>

							</array>

							<array>
	
								<string>{ 124.34970,110.42300 }</string>
	
								<string>{ 189.08398,100.27808 }</string>
	
								<string>{ 158.64920,82.40369 }</string>
	
								<string>{ 134.97772,83.85297 }</string>

							</array>

							<array>
	
								<string>{ 189.08398,100.27808 }</string>
	
								<string>{ 231.59607,87.23460 }</string>
	
								<string>{ 175.55743,75.64040 }</string>
	
								<string>{ 158.64920,82.40369 }</string>

							</array>

							<array>
	
								<string>{ 231.59607,87.23460 }</string>
	
								<string>{ 188.11780,65.01237 }</string>
	
								<string>{ 175.55743,75.64040 }</string>

							</array>

							<array>
	
								<string>{ 231.59607,87.23460 }</string>
	
								<string>{ 197.77963,50.51962 }</string>
	
								<string>{ 188.11780,65.01237 }</string>

							</array>

							<array>
	
								<string>{ 231.59607,87.23460 }</string>
	
								<string>{ 206.95840,32.64523 }</string>
	
								<string>{ 197.77963,50.51962 }</string>

							</array>

							<array>
	
								<string>{ 231.59607,87.23460 }</string>
	
								<string>{ 215.17096,6.07518 }</string>
	
								<string>{ 206.95840,32.64523 }</string>

							</array>

							<array>
	
								<string>{ 22.90042,-120.97797 }</string>
	
								<string>{ 37.39316,-126.29197 }</string>
	
								<string>{ -87.24452,-121.46106 }</string>
	
								<string>{ -57.77592,-115.66396 }</string>

							</array>

							<array>
	
								<string>{ -140.38461,-57.20985 }</string>
	
								<string>{ -285.77591,-161.25000 }</string>
	
								<string>{ -130.72278,-36.91999 }</string>

							</array>

							<array>
	
								<string>{ -146.18172,-79.91516 }</string>
	
								<string>{ -285.77591,-161.25000 }</string>
	
								<string>{ -140.38461,-57.20985 }</string>

							</array>

							<array>
	
								<string>{ -146.18172,-100.68811 }</string>
	
								<string>{ -285.77591,-161.25000 }</string>
	
								<string>{ -146.18172,-79.91516 }</string>

							</array>

							<array>
	
								<string>{ -133.13824,-116.63014 }</string>
	
								<string>{ -285.77591,-161.25000 }</string>
	
								<string>{ -146.18172,-100.68811 }</string>

							</array>

							<array>
	
								<string>{ -112.84839,-124.35961 }</string>
	
								<string>{ -285.77591,-161.25000 }</string>
	
								<string>{ -133.13824,-116.63014 }</string>

							</array>

							<array>
	
								<string>{ -112.84839,-124.35961 }</string>
	
								<string>{ -87.24452,-121.46106 }</string>
	
								<string>{ 52.36902,-131.12289 }</string>
	
								<string>{ 283.39661,-159.65590 }</string>
	
								<string>{ -285.77591,-161.25000 }</string>

							</array>

							<array>
	
								<string>{ 283.39661,-159.65590 }</string>
	
								<string>{ 222.41733,-55.27748 }</string>
	
								<string>{ 221.45114,-25.80888 }</string>

							</array>

							<array>
	
								<string>{ 283.39661,-159.65590 }</string>
	
								<string>{ 220.00186,-80.39825 }</string>
	
								<string>{ 222.41733,-55.27748 }</string>

							</array>

							<array>
	
								<string>{ 283.39661,-159.65590 }</string>
	
								<string>{ 216.62024,-93.44173 }</string>
	
								<string>{ 220.00186,-80.39825 }</string>

							</array>

							<array>
	
								<string>{ 283.39661,-159.65590 }</string>
	
								<string>{ 209.85693,-106.48521 }</string>
	
								<string>{ 216.62024,-93.44173 }</string>

							</array>

							<array>
	
								<string>{ 283.39661,-159.65590 }</string>
	
								<string>{ 199.71201,-117.59632 }</string>
	
								<string>{ 209.85693,-106.48521 }</string>

							</array>

							<array>
	
								<string>{ 283.39661,-159.65590 }</string>
	
								<string>{ 183.28690,-124.84270 }</string>
	
								<string>{ 199.71201,-117.59632 }</string>

							</array>

							<array>
	
								<string>{ 283.39661,-159.65590 }</string>
	
								<string>{ 159.61539,-128.70743 }</string>
	
								<string>{ 183.28690,-124.84270 }</string>

							</array>

							<array>
	
								<string>{ 283.39661,-159.65590 }</string>
	
								<string>{ 115.17096,-133.05526 }</string>
	
								<string>{ 159.61539,-128.70743 }</string>

							</array>

							<array>
	
								<string>{ 283.39661,-159.65590 }</string>
	
								<string>{ 69.76031,-133.05526 }</string>
	
								<string>{ 115.17096,-133.05526 }</string>

							</array>

							<array>
	
								<string>{ 52.36902,-131.12289 }</string>
	
								<string>{ -87.24452,-121.46106 }</string>
	
								<string>{ 37.39316,-126.29197 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 53.53488,-25.52036 }</string>
	
								<string>{ 90.24985,-98.95031 }</string>
	
								<string>{ 22.61700,-44.84402 }</string>

							</array>

							<array>
	
								<string>{ 106.19189,-105.23050 }</string>
	
								<string>{ 90.24985,-98.95031 }</string>
	
								<string>{ 53.53488,-25.52036 }</string>
	
								<string>{ 69.47690,-11.02760 }</string>
	
								<string>{ 125.99866,-31.80054 }</string>
	
								<string>{ 141.45758,-85.90682 }</string>
	
								<string>{ 135.17740,-102.33195 }</string>

							</array>

							<array>
	
								<string>{ 108.60733,51.77434 }</string>
	
								<string>{ 115.37064,51.29124 }</string>
	
								<string>{ 123.58319,19.40718 }</string>
	
								<string>{ 89.76675,20.85646 }</string>
	
								<string>{ 93.14841,42.01588 }</string>

							</array>

							<array>
	
								<string>{ 123.58319,19.40718 }</string>
	
								<string>{ 115.37064,51.29124 }</string>
	
								<string>{ 125.90204,51.67772 }</string>

							</array>

							<array>
	
								<string>{ 69.47690,-11.02760 }</string>
	
								<string>{ 81.07111,2.49898 }</string>
	
								<string>{ 123.58319,19.40718 }</string>
	
								<string>{ 125.99866,-31.80054 }</string>

							</array>

							<array>
	
								<string>{ 123.58319,19.40718 }</string>
	
								<string>{ 81.07111,2.49898 }</string>
	
								<string>{ 89.76675,20.85646 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

