<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D6</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 240.93750,-160.00000 }</string>
	
								<string>{ 170.62500,-147.18750 }</string>
	
								<string>{ 216.87500,-143.75000 }</string>
	
								<string>{ 239.68750,-150.62500 }</string>

							</array>

							<array>
	
								<string>{ -186.87500,-145.00000 }</string>
	
								<string>{ -84.37500,-152.50000 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -239.68750,-150.62500 }</string>

							</array>

							<array>
	
								<string>{ 240.93750,-160.00000 }</string>
	
								<string>{ 99.06250,-152.50000 }</string>
	
								<string>{ 170.62500,-147.18750 }</string>

							</array>

							<array>
	
								<string>{ 99.06250,-152.50000 }</string>
	
								<string>{ -84.37500,-152.50000 }</string>
	
								<string>{ 3.12500,-147.18750 }</string>

							</array>

							<array>
	
								<string>{ 240.93750,-160.00000 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -84.37500,-152.50000 }</string>
	
								<string>{ 99.06250,-152.50000 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -196.25000,24.68750 }</string>
	
								<string>{ -192.81250,-18.12500 }</string>
	
								<string>{ -196.25000,-35.93750 }</string>
	
								<string>{ -220.62500,-111.56250 }</string>
	
								<string>{ -240.00000,-126.87500 }</string>
	
								<string>{ -240.31250,29.37500 }</string>

							</array>

							<array>
	
								<string>{ 75.00000,-70.62500 }</string>
	
								<string>{ 36.25000,-100.62500 }</string>
	
								<string>{ 39.06250,-85.31250 }</string>
	
								<string>{ 71.25000,-66.56250 }</string>

							</array>

							<array>
	
								<string>{ 36.25000,-100.62500 }</string>
	
								<string>{ 7.81250,-113.43750 }</string>
	
								<string>{ 0.93750,-99.37500 }</string>
	
								<string>{ 39.06250,-85.31250 }</string>

							</array>

							<array>
	
								<string>{ 7.81250,-113.43750 }</string>
	
								<string>{ -30.31250,-123.12500 }</string>
	
								<string>{ -25.00000,-105.62500 }</string>
	
								<string>{ 0.93750,-99.37500 }</string>

							</array>

							<array>
	
								<string>{ -30.31250,-123.12500 }</string>
	
								<string>{ -71.25000,-125.31250 }</string>
	
								<string>{ -47.50000,-108.12500 }</string>
	
								<string>{ -25.00000,-105.62500 }</string>

							</array>

							<array>
	
								<string>{ -71.25000,-125.31250 }</string>
	
								<string>{ -65.31250,-107.81250 }</string>
	
								<string>{ -47.50000,-108.12500 }</string>

							</array>

							<array>
	
								<string>{ -71.25000,-125.31250 }</string>
	
								<string>{ -98.43750,-102.81250 }</string>
	
								<string>{ -65.31250,-107.81250 }</string>

							</array>

							<array>
	
								<string>{ -71.25000,-125.31250 }</string>
	
								<string>{ -220.62500,-111.56250 }</string>
	
								<string>{ -130.31250,-94.06250 }</string>
	
								<string>{ -98.43750,-102.81250 }</string>

							</array>

							<array>
	
								<string>{ -220.62500,-111.56250 }</string>
	
								<string>{ -159.68750,-81.56250 }</string>
	
								<string>{ -130.31250,-94.06250 }</string>

							</array>

							<array>
	
								<string>{ -220.62500,-111.56250 }</string>
	
								<string>{ -184.68750,-61.25000 }</string>
	
								<string>{ -159.68750,-81.56250 }</string>

							</array>

							<array>
	
								<string>{ -220.62500,-111.56250 }</string>
	
								<string>{ -196.25000,-35.93750 }</string>
	
								<string>{ -184.68750,-61.25000 }</string>

							</array>

							<array>
	
								<string>{ -139.68750,5.93750 }</string>
	
								<string>{ -170.93750,-5.93750 }</string>
	
								<string>{ -196.25000,24.68750 }</string>
	
								<string>{ -133.43750,10.31250 }</string>

							</array>

							<array>
	
								<string>{ -192.81250,-18.12500 }</string>
	
								<string>{ -196.25000,24.68750 }</string>
	
								<string>{ -170.93750,-5.93750 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -55.93750,-13.75000 }</string>
	
								<string>{ -31.56250,-23.43750 }</string>
	
								<string>{ -4.06250,-37.81250 }</string>
	
								<string>{ -8.43750,-40.31250 }</string>
	
								<string>{ -77.50000,-19.68750 }</string>
	
								<string>{ -78.12500,-8.75000 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 35.31250,75.00000 }</string>
	
								<string>{ 104.06250,94.06250 }</string>
	
								<string>{ 75.00000,75.31250 }</string>
	
								<string>{ 45.31250,65.93750 }</string>
	
								<string>{ 36.25000,67.81250 }</string>

							</array>

							<array>
	
								<string>{ 104.06250,94.06250 }</string>
	
								<string>{ 115.93750,83.12500 }</string>
	
								<string>{ 75.00000,75.31250 }</string>

							</array>

							<array>
	
								<string>{ 104.06250,94.06250 }</string>
	
								<string>{ 240.93750,122.50000 }</string>
	
								<string>{ 148.75000,85.93750 }</string>
	
								<string>{ 115.93750,83.12500 }</string>

							</array>

							<array>
	
								<string>{ 216.87500,-3.75000 }</string>
	
								<string>{ 211.25000,12.50000 }</string>
	
								<string>{ 211.87500,33.12500 }</string>
	
								<string>{ 240.93750,122.50000 }</string>
	
								<string>{ 240.62500,-24.06250 }</string>
	
								<string>{ 227.18750,-16.56250 }</string>

							</array>

							<array>
	
								<string>{ 240.93750,122.50000 }</string>
	
								<string>{ 173.43750,85.00000 }</string>
	
								<string>{ 148.75000,85.93750 }</string>

							</array>

							<array>
	
								<string>{ 240.93750,122.50000 }</string>
	
								<string>{ 191.25000,79.06250 }</string>
	
								<string>{ 173.43750,85.00000 }</string>

							</array>

							<array>
	
								<string>{ 240.93750,122.50000 }</string>
	
								<string>{ 198.12500,66.87500 }</string>
	
								<string>{ 191.25000,79.06250 }</string>

							</array>

							<array>
	
								<string>{ 65.62500,18.75000 }</string>
	
								<string>{ 108.12500,22.50000 }</string>
	
								<string>{ 109.68750,9.06250 }</string>
	
								<string>{ 60.93750,14.06250 }</string>

							</array>

							<array>
	
								<string>{ 144.06250,29.06250 }</string>
	
								<string>{ 166.25000,15.00000 }</string>
	
								<string>{ 109.68750,9.06250 }</string>
	
								<string>{ 108.12500,22.50000 }</string>

							</array>

							<array>
	
								<string>{ 169.37500,36.87500 }</string>
	
								<string>{ 189.37500,21.87500 }</string>
	
								<string>{ 166.25000,15.00000 }</string>
	
								<string>{ 144.06250,29.06250 }</string>

							</array>

							<array>
	
								<string>{ 185.62500,45.31250 }</string>
	
								<string>{ 211.87500,33.12500 }</string>
	
								<string>{ 189.37500,21.87500 }</string>
	
								<string>{ 169.37500,36.87500 }</string>

							</array>

							<array>
	
								<string>{ 195.62500,55.62500 }</string>
	
								<string>{ 211.87500,33.12500 }</string>
	
								<string>{ 185.62500,45.31250 }</string>

							</array>

							<array>
	
								<string>{ 198.12500,66.87500 }</string>
	
								<string>{ 240.93750,122.50000 }</string>
	
								<string>{ 211.87500,33.12500 }</string>
	
								<string>{ 195.62500,55.62500 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 240.62500,-102.50000 }</string>
	
								<string>{ 165.93750,-128.43750 }</string>
	
								<string>{ 126.25000,-108.12500 }</string>
	
								<string>{ 105.62500,-93.75000 }</string>
	
								<string>{ 134.37500,-84.37500 }</string>
	
								<string>{ 167.50000,-76.87500 }</string>
	
								<string>{ 206.87500,-71.56250 }</string>
	
								<string>{ 240.00000,-70.31250 }</string>

							</array>

							<array>
	
								<string>{ 105.62500,-93.75000 }</string>
	
								<string>{ 126.25000,-108.12500 }</string>
	
								<string>{ 74.37500,-110.31250 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

