<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D32</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -65.41899,-92.40224 }</string>
	
								<string>{ -78.82681,-98.54749 }</string>
	
								<string>{ -93.35196,-101.06145 }</string>
	
								<string>{ -115.13966,-92.40224 }</string>
	
								<string>{ -106.48044,-51.62011 }</string>
	
								<string>{ -90.83798,-50.50279 }</string>
	
								<string>{ -57.31844,-73.12849 }</string>
	
								<string>{ -53.12849,-83.74301 }</string>

							</array>

							<array>
	
								<string>{ -28.26816,-108.60335 }</string>
	
								<string>{ -50.89384,-112.23463 }</string>
	
								<string>{ -37.76537,-102.73743 }</string>

							</array>

							<array>
	
								<string>{ -47.82123,8.71509 }</string>
	
								<string>{ -87.48602,-8.88268 }</string>
	
								<string>{ -208.15642,50.05588 }</string>
	
								<string>{ -139.16201,41.39665 }</string>
	
								<string>{ -90.83798,32.73743 }</string>
	
								<string>{ -42.23463,19.60895 }</string>
	
								<string>{ -40.55865,14.86034 }</string>

							</array>

							<array>
	
								<string>{ -58.99442,-56.64804 }</string>
	
								<string>{ -90.83798,-50.50279 }</string>
	
								<string>{ -59.55307,-44.63687 }</string>

							</array>

							<array>
	
								<string>{ -57.31844,-73.12849 }</string>
	
								<string>{ -90.83798,-50.50279 }</string>
	
								<string>{ -58.99442,-56.64804 }</string>

							</array>

							<array>
	
								<string>{ -59.55307,-117.82123 }</string>
	
								<string>{ -77.15083,-135.13966 }</string>
	
								<string>{ -73.24022,-123.68715 }</string>

							</array>

							<array>
	
								<string>{ -181.62011,-39.32961 }</string>
	
								<string>{ -115.41899,-49.66480 }</string>
	
								<string>{ -106.48044,-51.62011 }</string>
	
								<string>{ -115.13966,-92.40224 }</string>

							</array>

							<array>
	
								<string>{ 241.06146,-159.94413 }</string>
	
								<string>{ 120.33521,-151.06145 }</string>
	
								<string>{ 210.27933,-144.91620 }</string>
	
								<string>{ 241.00558,-149.94413 }</string>

							</array>

							<array>
	
								<string>{ 98.26816,-143.79888 }</string>
	
								<string>{ 39.60895,-119.49721 }</string>
	
								<string>{ 65.02795,-120.61452 }</string>
	
								<string>{ 89.05029,-129.27374 }</string>

							</array>

							<array>
	
								<string>{ -59.55307,-117.82123 }</string>
	
								<string>{ -50.89384,-112.23463 }</string>
	
								<string>{ -15.69832,-111.95531 }</string>
	
								<string>{ -3.40782,-115.02793 }</string>
	
								<string>{ -84.13408,-151.34078 }</string>
	
								<string>{ -77.15083,-135.13966 }</string>

							</array>

							<array>
	
								<string>{ -104.52513,-21.73184 }</string>
	
								<string>{ -208.15642,50.05588 }</string>
	
								<string>{ -87.48602,-8.88268 }</string>

							</array>

							<array>
	
								<string>{ -118.49162,-35.97765 }</string>
	
								<string>{ -208.15642,50.05588 }</string>
	
								<string>{ -104.52513,-21.73184 }</string>

							</array>

							<array>
	
								<string>{ -15.69832,-111.95531 }</string>
	
								<string>{ -50.89384,-112.23463 }</string>
	
								<string>{ -28.26816,-108.60335 }</string>

							</array>

							<array>
	
								<string>{ -208.15642,50.05588 }</string>
	
								<string>{ -196.70391,-37.93296 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -239.72067,54.02235 }</string>

							</array>

							<array>
	
								<string>{ 98.26816,-143.79888 }</string>
	
								<string>{ -84.13408,-151.34078 }</string>
	
								<string>{ 10.83800,-116.98324 }</string>
	
								<string>{ 39.60895,-119.49721 }</string>

							</array>

							<array>
	
								<string>{ 10.83800,-116.98324 }</string>
	
								<string>{ -84.13408,-151.34078 }</string>
	
								<string>{ -3.40782,-115.02793 }</string>

							</array>

							<array>
	
								<string>{ -119.05028,-42.68156 }</string>
	
								<string>{ -181.62011,-39.32961 }</string>
	
								<string>{ -196.70391,-37.93296 }</string>
	
								<string>{ -208.15642,50.05588 }</string>
	
								<string>{ -118.49162,-35.97765 }</string>

							</array>

							<array>
	
								<string>{ 120.33521,-151.06145 }</string>
	
								<string>{ -84.13408,-151.34078 }</string>
	
								<string>{ 98.26816,-143.79888 }</string>

							</array>

							<array>
	
								<string>{ 241.06146,-159.94413 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -84.13408,-151.34078 }</string>
	
								<string>{ 120.33521,-151.06145 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -170.72626,-146.59218 }</string>
	
								<string>{ -84.13408,-151.34078 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -185.81005,-109.72067 }</string>
	
								<string>{ -170.72626,-146.59218 }</string>

							</array>

							<array>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -202.84916,-56.36871 }</string>
	
								<string>{ -185.81005,-109.72067 }</string>

							</array>

							<array>
	
								<string>{ -115.41899,-49.66480 }</string>
	
								<string>{ -181.62011,-39.32961 }</string>
	
								<string>{ -119.05028,-42.68156 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 213.91061,69.88828 }</string>
	
								<string>{ 239.66483,71.34079 }</string>
	
								<string>{ 209.72067,53.68715 }</string>
	
								<string>{ 207.48605,62.34637 }</string>

							</array>

							<array>
	
								<string>{ -10.94972,57.59776 }</string>
	
								<string>{ 36.53632,43.91061 }</string>
	
								<string>{ 92.12292,22.96089 }</string>
	
								<string>{ 11.11732,9.83241 }</string>
	
								<string>{ -26.87151,51.73184 }</string>
	
								<string>{ -26.87151,58.21230 }</string>

							</array>

							<array>
	
								<string>{ -14.58099,-11.95531 }</string>
	
								<string>{ -8.99442,-12.79329 }</string>
	
								<string>{ -9.27374,-39.32961 }</string>
	
								<string>{ -33.85475,-44.35754 }</string>
	
								<string>{ -37.20670,-29.83240 }</string>

							</array>

							<array>
	
								<string>{ 58.88269,-94.63687 }</string>
	
								<string>{ 23.12851,-92.12290 }</string>
	
								<string>{ -8.99442,-87.93296 }</string>
	
								<string>{ -25.19553,-81.22905 }</string>
	
								<string>{ -30.50279,-72.56983 }</string>
	
								<string>{ 66.42459,-46.59218 }</string>
	
								<string>{ 74.80447,-86.25698 }</string>

							</array>

							<array>
	
								<string>{ 194.35754,-65.30726 }</string>
	
								<string>{ 208.32404,25.47487 }</string>
	
								<string>{ 210.83801,33.85475 }</string>
	
								<string>{ 239.66483,71.34079 }</string>
	
								<string>{ 240.44693,-107.20670 }</string>

							</array>

							<array>
	
								<string>{ 92.12292,22.96089 }</string>
	
								<string>{ 139.05029,6.20113 }</string>
	
								<string>{ 22.29050,-6.08939 }</string>
	
								<string>{ 11.11732,9.83241 }</string>

							</array>

							<array>
	
								<string>{ 239.66483,71.34079 }</string>
	
								<string>{ 210.83801,44.18994 }</string>
	
								<string>{ 209.72067,53.68715 }</string>

							</array>

							<array>
	
								<string>{ -30.50279,-72.56983 }</string>
	
								<string>{ -1.45251,-53.57542 }</string>
	
								<string>{ 11.95531,-46.59218 }</string>
	
								<string>{ 72.56982,-18.37988 }</string>
	
								<string>{ 66.42459,-46.59218 }</string>

							</array>

							<array>
	
								<string>{ -9.27374,-39.32961 }</string>
	
								<string>{ -1.45251,-53.57542 }</string>
	
								<string>{ -30.50279,-72.56983 }</string>
	
								<string>{ -33.57541,-60.27933 }</string>
	
								<string>{ -33.85475,-44.35754 }</string>

							</array>

							<array>
	
								<string>{ 239.66483,71.34079 }</string>
	
								<string>{ 210.83801,33.85475 }</string>
	
								<string>{ 210.83801,44.18994 }</string>

							</array>

							<array>
	
								<string>{ 139.05029,6.20113 }</string>
	
								<string>{ 86.81564,-6.08939 }</string>
	
								<string>{ 25.64246,-14.46927 }</string>
	
								<string>{ 22.29050,-6.08939 }</string>

							</array>

							<array>
	
								<string>{ 194.35754,-65.30726 }</string>
	
								<string>{ 204.41342,20.44693 }</string>
	
								<string>{ 208.32404,25.47487 }</string>

							</array>

							<array>
	
								<string>{ 194.35754,-65.30726 }</string>
	
								<string>{ 197.98883,12.90503 }</string>
	
								<string>{ 204.41342,20.44693 }</string>

							</array>

							<array>
	
								<string>{ 146.31287,-28.99442 }</string>
	
								<string>{ 189.32962,6.48045 }</string>
	
								<string>{ 197.98883,12.90503 }</string>
	
								<string>{ 194.35754,-65.30726 }</string>

							</array>

							<array>
	
								<string>{ 146.31287,-28.99442 }</string>
	
								<string>{ 179.55307,1.45251 }</string>
	
								<string>{ 189.32962,6.48045 }</string>

							</array>

							<array>
	
								<string>{ 109.44135,-8.60335 }</string>
	
								<string>{ 166.42459,0.33521 }</string>
	
								<string>{ 179.55307,1.45251 }</string>
	
								<string>{ 146.31287,-28.99442 }</string>

							</array>

							<array>
	
								<string>{ 86.81564,-6.08939 }</string>
	
								<string>{ 154.69275,2.01117 }</string>
	
								<string>{ 166.42459,0.33521 }</string>
	
								<string>{ 109.44135,-8.60335 }</string>

							</array>

							<array>
	
								<string>{ 86.81564,-6.08939 }</string>
	
								<string>{ 139.05029,6.20113 }</string>
	
								<string>{ 154.69275,2.01117 }</string>

							</array>

							<array>
	
								<string>{ 72.56982,-18.37988 }</string>
	
								<string>{ 25.64246,-24.24580 }</string>
	
								<string>{ 25.64246,-14.46927 }</string>
	
								<string>{ 86.81564,-6.08939 }</string>

							</array>

							<array>
	
								<string>{ 72.56982,-18.37988 }</string>
	
								<string>{ 18.10056,-37.09497 }</string>
	
								<string>{ 25.64246,-24.24580 }</string>

							</array>

							<array>
	
								<string>{ 72.56982,-18.37988 }</string>
	
								<string>{ 11.95531,-46.59218 }</string>
	
								<string>{ 18.10056,-37.09497 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -86.92737,130.78214 }</string>
	
								<string>{ -73.51955,152.01117 }</string>
	
								<string>{ -45.30725,105.92178 }</string>
	
								<string>{ -84.41341,101.45251 }</string>

							</array>

							<array>
	
								<string>{ -73.51955,152.01117 }</string>
	
								<string>{ -55.36313,160.67041 }</string>
	
								<string>{ -0.89384,106.75980 }</string>
	
								<string>{ -45.30725,105.92178 }</string>

							</array>

							<array>
	
								<string>{ 180.44693,31.95531 }</string>
	
								<string>{ 156.36871,50.89386 }</string>
	
								<string>{ 142.68158,86.36871 }</string>
	
								<string>{ 175.08380,69.32962 }</string>
	
								<string>{ 180.94974,60.11174 }</string>
	
								<string>{ 184.86035,49.77654 }</string>
	
								<string>{ 185.13968,41.67598 }</string>
	
								<string>{ 184.58102,36.08939 }</string>

							</array>

							<array>
	
								<string>{ 127.59778,70.72626 }</string>
	
								<string>{ 112.23465,108.15643 }</string>
	
								<string>{ 142.68158,86.36871 }</string>
	
								<string>{ 156.36871,50.89386 }</string>

							</array>

							<array>
	
								<string>{ 90.72626,88.04469 }</string>
	
								<string>{ 93.79889,130.22348 }</string>
	
								<string>{ 112.23465,108.15643 }</string>
	
								<string>{ 127.59778,70.72626 }</string>

							</array>

							<array>
	
								<string>{ 43.79889,101.45251 }</string>
	
								<string>{ -55.36313,160.67041 }</string>
	
								<string>{ 81.22906,160.39108 }</string>
	
								<string>{ 93.79889,130.22348 }</string>
	
								<string>{ 90.72626,88.04469 }</string>

							</array>

							<array>
	
								<string>{ -0.89384,106.75980 }</string>
	
								<string>{ -55.36313,160.67041 }</string>
	
								<string>{ 43.79889,101.45251 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

