<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D30</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 144.78140,-54.13408 }</string>
	
								<string>{ 158.48907,-91.06268 }</string>
	
								<string>{ 133.42096,-76.89374 }</string>
	
								<string>{ 129.87872,-66.81199 }</string>

							</array>

							<array>
	
								<string>{ 163.77582,-35.13966 }</string>
	
								<string>{ 158.48907,-91.06268 }</string>
	
								<string>{ 144.78140,-54.13408 }</string>

							</array>

							<array>
	
								<string>{ -208.10523,27.93109 }</string>
	
								<string>{ -191.81078,-10.83798 }</string>
	
								<string>{ -195.16273,-18.65921 }</string>
	
								<string>{ -284.62605,-160.61920 }</string>
	
								<string>{ -284.59578,25.85689 }</string>

							</array>

							<array>
	
								<string>{ 284.64044,-160.84266 }</string>
	
								<string>{ 197.01605,31.89944 }</string>
	
								<string>{ 194.22275,42.23463 }</string>
	
								<string>{ 183.94766,91.68968 }</string>
	
								<string>{ 285.29456,77.25548 }</string>

							</array>

							<array>
	
								<string>{ 158.48907,-91.06268 }</string>
	
								<string>{ 154.94687,-112.04360 }</string>
	
								<string>{ 153.03949,-101.68937 }</string>

							</array>

							<array>
	
								<string>{ 284.64044,-160.84266 }</string>
	
								<string>{ 19.08307,-147.43017 }</string>
	
								<string>{ 26.06631,-144.35754 }</string>
	
								<string>{ 120.06946,-118.03815 }</string>
	
								<string>{ 132.33105,-116.40327 }</string>

							</array>

							<array>
	
								<string>{ 176.34564,-19.77654 }</string>
	
								<string>{ 158.48907,-91.06268 }</string>
	
								<string>{ 163.77582,-35.13966 }</string>

							</array>

							<array>
	
								<string>{ -167.39646,11.93460 }</string>
	
								<string>{ -208.10523,27.93109 }</string>
	
								<string>{ -152.15283,23.49901 }</string>
	
								<string>{ -153.26329,19.88828 }</string>

							</array>

							<array>
	
								<string>{ -178.96162,3.68715 }</string>
	
								<string>{ -208.10523,27.93109 }</string>
	
								<string>{ -167.39646,11.93460 }</string>

							</array>

							<array>
	
								<string>{ -186.50352,-3.01675 }</string>
	
								<string>{ -208.10523,27.93109 }</string>
	
								<string>{ -178.96162,3.68715 }</string>

							</array>

							<array>
	
								<string>{ -191.81078,-10.83798 }</string>
	
								<string>{ -208.10523,27.93109 }</string>
	
								<string>{ -186.50352,-3.01675 }</string>

							</array>

							<array>
	
								<string>{ 48.97821,89.68643 }</string>
	
								<string>{ 98.71942,95.00739 }</string>
	
								<string>{ 81.37738,84.14168 }</string>
	
								<string>{ 51.19229,86.06200 }</string>

							</array>

							<array>
	
								<string>{ 98.71942,95.00739 }</string>
	
								<string>{ 138.87057,95.04086 }</string>
	
								<string>{ 114.89313,81.34079 }</string>
	
								<string>{ 81.37738,84.14168 }</string>

							</array>

							<array>
	
								<string>{ 138.87057,95.04086 }</string>
	
								<string>{ 139.47415,77.43018 }</string>
	
								<string>{ 114.89313,81.34079 }</string>

							</array>

							<array>
	
								<string>{ 138.87057,95.04086 }</string>
	
								<string>{ 183.94766,91.68968 }</string>
	
								<string>{ 166.56912,68.77095 }</string>
	
								<string>{ 139.47415,77.43018 }</string>

							</array>

							<array>
	
								<string>{ 183.94766,91.68968 }</string>
	
								<string>{ 180.53558,60.67039 }</string>
	
								<string>{ 166.56912,68.77095 }</string>

							</array>

							<array>
	
								<string>{ 183.94766,91.68968 }</string>
	
								<string>{ 188.35681,52.29051 }</string>
	
								<string>{ 180.53558,60.67039 }</string>

							</array>

							<array>
	
								<string>{ 183.94766,91.68968 }</string>
	
								<string>{ 194.22275,42.23463 }</string>
	
								<string>{ 188.35681,52.29051 }</string>

							</array>

							<array>
	
								<string>{ 97.04495,-108.02795 }</string>
	
								<string>{ 120.06946,-118.03815 }</string>
	
								<string>{ 26.06631,-144.35754 }</string>
	
								<string>{ 87.91687,-105.23161 }</string>

							</array>

							<array>
	
								<string>{ 185.56354,-5.25139 }</string>
	
								<string>{ 154.94687,-112.04360 }</string>
	
								<string>{ 158.48907,-91.06268 }</string>
	
								<string>{ 176.34564,-19.77654 }</string>

							</array>

							<array>
	
								<string>{ 192.54675,7.87711 }</string>
	
								<string>{ 284.64044,-160.84266 }</string>
	
								<string>{ 154.94687,-112.04360 }</string>
	
								<string>{ 185.56354,-5.25139 }</string>

							</array>

							<array>
	
								<string>{ 284.64044,-160.84266 }</string>
	
								<string>{ 196.17804,19.88828 }</string>
	
								<string>{ 197.01605,31.89944 }</string>

							</array>

							<array>
	
								<string>{ 284.64044,-160.84266 }</string>
	
								<string>{ 192.54675,7.87711 }</string>
	
								<string>{ 196.17804,19.88828 }</string>

							</array>

							<array>
	
								<string>{ 284.64044,-160.84266 }</string>
	
								<string>{ 143.50272,-119.40055 }</string>
	
								<string>{ 154.94687,-112.04360 }</string>

							</array>

							<array>
	
								<string>{ 284.64044,-160.84266 }</string>
	
								<string>{ 9.58588,-149.38547 }</string>
	
								<string>{ 19.08307,-147.43017 }</string>

							</array>

							<array>
	
								<string>{ -284.62605,-160.61920 }</string>
	
								<string>{ -68.62642,-148.82682 }</string>
	
								<string>{ 284.64044,-160.84266 }</string>

							</array>

							<array>
	
								<string>{ -284.62605,-160.61920 }</string>
	
								<string>{ -82.31357,-145.47486 }</string>
	
								<string>{ -68.62642,-148.82682 }</string>

							</array>

							<array>
	
								<string>{ -284.62605,-160.61920 }</string>
	
								<string>{ -105.77727,-133.74302 }</string>
	
								<string>{ -82.31357,-145.47486 }</string>

							</array>

							<array>
	
								<string>{ -284.62605,-160.61920 }</string>
	
								<string>{ -127.28564,-120.05587 }</string>
	
								<string>{ -105.77727,-133.74302 }</string>

							</array>

							<array>
	
								<string>{ -284.62605,-160.61920 }</string>
	
								<string>{ -142.09012,-108.88268 }</string>
	
								<string>{ -127.28564,-120.05587 }</string>

							</array>

							<array>
	
								<string>{ -284.62605,-160.61920 }</string>
	
								<string>{ -153.82196,-99.94413 }</string>
	
								<string>{ -142.09012,-108.88268 }</string>

							</array>

							<array>
	
								<string>{ -284.62605,-160.61920 }</string>
	
								<string>{ -166.39178,-87.93296 }</string>
	
								<string>{ -153.82196,-99.94413 }</string>

							</array>

							<array>
	
								<string>{ -284.62605,-160.61920 }</string>
	
								<string>{ -176.72698,-75.36313 }</string>
	
								<string>{ -166.39178,-87.93296 }</string>

							</array>

							<array>
	
								<string>{ -284.62605,-160.61920 }</string>
	
								<string>{ -185.94486,-62.51396 }</string>
	
								<string>{ -176.72698,-75.36313 }</string>

							</array>

							<array>
	
								<string>{ -284.62605,-160.61920 }</string>
	
								<string>{ -192.64877,-50.78212 }</string>
	
								<string>{ -185.94486,-62.51396 }</string>

							</array>

							<array>
	
								<string>{ -284.62605,-160.61920 }</string>
	
								<string>{ -196.00072,-39.05028 }</string>
	
								<string>{ -192.64877,-50.78212 }</string>

							</array>

							<array>
	
								<string>{ -284.62605,-160.61920 }</string>
	
								<string>{ -196.83871,-28.43575 }</string>
	
								<string>{ -196.00072,-39.05028 }</string>

							</array>

							<array>
	
								<string>{ -284.62605,-160.61920 }</string>
	
								<string>{ -195.16273,-18.65921 }</string>
	
								<string>{ -196.83871,-28.43575 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

