<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D6</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -230.55346,-145.00000 }</string>
	
								<string>{ -128.05345,-152.50000 }</string>
	
								<string>{ -283.67846,-160.00000 }</string>
	
								<string>{ -283.36596,-150.62500 }</string>

							</array>

							<array>
	
								<string>{ 284.39728,-159.35691 }</string>
	
								<string>{ 183.16437,-147.28698 }</string>
	
								<string>{ 209.56915,-141.35048 }</string>
	
								<string>{ 285.71967,-150.94654 }</string>

							</array>

							<array>
	
								<string>{ 55.38403,-152.50000 }</string>
	
								<string>{ -128.05345,-152.50000 }</string>
	
								<string>{ -40.55347,-147.18750 }</string>

							</array>

							<array>
	
								<string>{ 284.39728,-159.35691 }</string>
	
								<string>{ 55.38403,-152.50000 }</string>
	
								<string>{ 126.94653,-147.18750 }</string>
	
								<string>{ 183.16437,-147.28698 }</string>

							</array>

							<array>
	
								<string>{ 284.39728,-159.35691 }</string>
	
								<string>{ -283.67846,-160.00000 }</string>
	
								<string>{ -128.05345,-152.50000 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -283.17967,-63.41463 }</string>
	
								<string>{ -214.46036,-57.42765 }</string>
	
								<string>{ -198.30079,-111.24096 }</string>
	
								<string>{ -283.66748,-156.91029 }</string>

							</array>

							<array>
	
								<string>{ -191.95232,-29.77492 }</string>
	
								<string>{ -173.92579,-35.61596 }</string>
	
								<string>{ -162.36329,-60.92846 }</string>
	
								<string>{ -198.30079,-111.24096 }</string>
	
								<string>{ -214.46036,-57.42765 }</string>

							</array>

							<array>
	
								<string>{ 97.32422,-70.30346 }</string>
	
								<string>{ 58.57422,-100.30346 }</string>
	
								<string>{ 61.38672,-84.99096 }</string>
	
								<string>{ 93.57422,-66.24096 }</string>

							</array>

							<array>
	
								<string>{ 58.57422,-100.30346 }</string>
	
								<string>{ 30.13672,-113.11596 }</string>
	
								<string>{ 23.26172,-99.05346 }</string>
	
								<string>{ 61.38672,-84.99096 }</string>

							</array>

							<array>
	
								<string>{ 30.13672,-113.11596 }</string>
	
								<string>{ -7.98828,-122.80346 }</string>
	
								<string>{ -2.67578,-105.30346 }</string>
	
								<string>{ 23.26172,-99.05346 }</string>

							</array>

							<array>
	
								<string>{ -7.98828,-122.80346 }</string>
	
								<string>{ -48.92580,-124.99096 }</string>
	
								<string>{ -25.17578,-107.80346 }</string>
	
								<string>{ -2.67578,-105.30346 }</string>

							</array>

							<array>
	
								<string>{ -48.92580,-124.99096 }</string>
	
								<string>{ -42.98830,-107.49096 }</string>
	
								<string>{ -25.17578,-107.80346 }</string>

							</array>

							<array>
	
								<string>{ -48.92580,-124.99096 }</string>
	
								<string>{ -76.11330,-102.49096 }</string>
	
								<string>{ -42.98830,-107.49096 }</string>

							</array>

							<array>
	
								<string>{ -48.92580,-124.99096 }</string>
	
								<string>{ -198.30079,-111.24096 }</string>
	
								<string>{ -107.98830,-93.74096 }</string>
	
								<string>{ -76.11330,-102.49096 }</string>

							</array>

							<array>
	
								<string>{ -198.30079,-111.24096 }</string>
	
								<string>{ -137.36330,-81.24096 }</string>
	
								<string>{ -107.98830,-93.74096 }</string>

							</array>

							<array>
	
								<string>{ -198.30079,-111.24096 }</string>
	
								<string>{ -162.36329,-60.92846 }</string>
	
								<string>{ -137.36330,-81.24096 }</string>

							</array>

							<array>
	
								<string>{ -191.95232,-29.77492 }</string>
	
								<string>{ -223.78511,24.24438 }</string>
	
								<string>{ -170.48829,-17.80345 }</string>
	
								<string>{ -173.92579,-35.61596 }</string>

							</array>

							<array>
	
								<string>{ -223.78511,24.24438 }</string>
	
								<string>{ -148.61330,-5.61595 }</string>
	
								<string>{ -170.48829,-17.80345 }</string>

							</array>

							<array>
	
								<string>{ -223.78511,24.24438 }</string>
	
								<string>{ -217.98829,29.69655 }</string>
	
								<string>{ -173.92579,25.00903 }</string>
	
								<string>{ -111.11330,10.63405 }</string>
	
								<string>{ -117.36330,6.25905 }</string>
	
								<string>{ -148.61330,-5.61595 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -33.76857,-12.77440 }</string>
	
								<string>{ -9.39359,-22.46190 }</string>
	
								<string>{ 18.10641,-36.83689 }</string>
	
								<string>{ 13.73141,-39.33689 }</string>
	
								<string>{ -55.33107,-18.71190 }</string>
	
								<string>{ -55.95607,-7.77440 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 56.66110,75.65407 }</string>
	
								<string>{ 125.41110,94.71657 }</string>
	
								<string>{ 96.34860,75.96657 }</string>
	
								<string>{ 66.66110,66.59157 }</string>
	
								<string>{ 57.59860,68.46657 }</string>

							</array>

							<array>
	
								<string>{ 125.41110,94.71657 }</string>
	
								<string>{ 137.28610,83.77907 }</string>
	
								<string>{ 96.34860,75.96657 }</string>

							</array>

							<array>
	
								<string>{ 125.41110,94.71657 }</string>
	
								<string>{ 281.63672,123.07721 }</string>
	
								<string>{ 170.09860,86.59157 }</string>
	
								<string>{ 137.28610,83.77907 }</string>

							</array>

							<array>
	
								<string>{ 238.22357,-3.09593 }</string>
	
								<string>{ 232.59857,13.15407 }</string>
	
								<string>{ 233.22357,33.77907 }</string>
	
								<string>{ 281.63672,123.07721 }</string>
	
								<string>{ 285.14282,-30.69563 }</string>
	
								<string>{ 261.97357,-23.40843 }</string>
	
								<string>{ 248.53607,-15.90843 }</string>

							</array>

							<array>
	
								<string>{ 210.72360,22.52907 }</string>
	
								<string>{ 216.97360,56.27907 }</string>
	
								<string>{ 219.47360,67.52907 }</string>
	
								<string>{ 281.63672,123.07721 }</string>
	
								<string>{ 233.22357,33.77907 }</string>

							</array>

							<array>
	
								<string>{ 86.97360,19.40407 }</string>
	
								<string>{ 129.47360,23.15407 }</string>
	
								<string>{ 131.03610,9.71657 }</string>
	
								<string>{ 82.28610,14.71657 }</string>

							</array>

							<array>
	
								<string>{ 165.41110,29.71657 }</string>
	
								<string>{ 187.59860,15.65407 }</string>
	
								<string>{ 131.03610,9.71657 }</string>
	
								<string>{ 129.47360,23.15407 }</string>

							</array>

							<array>
	
								<string>{ 190.72360,37.52907 }</string>
	
								<string>{ 210.72360,22.52907 }</string>
	
								<string>{ 187.59860,15.65407 }</string>
	
								<string>{ 165.41110,29.71657 }</string>

							</array>

							<array>
	
								<string>{ 206.97360,45.96657 }</string>
	
								<string>{ 210.72360,22.52907 }</string>
	
								<string>{ 190.72360,37.52907 }</string>

							</array>

							<array>
	
								<string>{ 216.97360,56.27907 }</string>
	
								<string>{ 210.72360,22.52907 }</string>
	
								<string>{ 206.97360,45.96657 }</string>

							</array>

							<array>
	
								<string>{ 281.63672,123.07721 }</string>
	
								<string>{ 194.78610,85.65407 }</string>
	
								<string>{ 170.09860,86.59157 }</string>

							</array>

							<array>
	
								<string>{ 281.63672,123.07721 }</string>
	
								<string>{ 212.59860,79.71657 }</string>
	
								<string>{ 194.78610,85.65407 }</string>

							</array>

							<array>
	
								<string>{ 281.63672,123.07721 }</string>
	
								<string>{ 219.47360,67.52907 }</string>
	
								<string>{ 212.59860,79.71657 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 282.85907,-110.86032 }</string>
	
								<string>{ 263.10449,-102.17846 }</string>
	
								<string>{ 229.35449,-71.24096 }</string>
	
								<string>{ 284.10291,-71.77592 }</string>

							</array>

							<array>
	
								<string>{ 128.10449,-93.42846 }</string>
	
								<string>{ 156.85449,-84.05346 }</string>
	
								<string>{ 148.72949,-107.80346 }</string>
	
								<string>{ 96.85449,-109.99096 }</string>

							</array>

							<array>
	
								<string>{ 156.85449,-84.05346 }</string>
	
								<string>{ 189.97949,-76.55346 }</string>
	
								<string>{ 229.35449,-71.24096 }</string>
	
								<string>{ 263.10449,-102.17846 }</string>
	
								<string>{ 188.41699,-128.11596 }</string>
	
								<string>{ 148.72949,-107.80346 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

