<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D57</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -176.90141,-79.71831 }</string>
	
								<string>{ -239.71831,-159.71831 }</string>
	
								<string>{ -239.15493,-103.66197 }</string>
	
								<string>{ -201.40845,-68.45071 }</string>
	
								<string>{ -181.69014,-68.73239 }</string>

							</array>

							<array>
	
								<string>{ 97.74649,-82.81690 }</string>
	
								<string>{ 121.40845,-67.04225 }</string>
	
								<string>{ 241.12677,-160.28169 }</string>
	
								<string>{ 78.87323,-150.70423 }</string>
	
								<string>{ 77.74649,-100.56338 }</string>

							</array>

							<array>
	
								<string>{ 209.85916,11.54930 }</string>
	
								<string>{ 176.61972,43.66197 }</string>
	
								<string>{ 183.94366,55.21127 }</string>

							</array>

							<array>
	
								<string>{ 209.85916,11.54930 }</string>
	
								<string>{ 241.12677,-30.14084 }</string>
	
								<string>{ 241.12677,-160.28169 }</string>
	
								<string>{ 147.88733,-17.46478 }</string>
	
								<string>{ 153.52112,14.36620 }</string>
	
								<string>{ 166.47888,31.54930 }</string>
	
								<string>{ 176.61972,43.66197 }</string>

							</array>

							<array>
	
								<string>{ 166.47888,31.54930 }</string>
	
								<string>{ 153.52112,14.36620 }</string>
	
								<string>{ 158.30988,24.22536 }</string>

							</array>

							<array>
	
								<string>{ -170.42253,-92.39436 }</string>
	
								<string>{ -239.71831,-159.71831 }</string>
	
								<string>{ -176.90141,-79.71831 }</string>

							</array>

							<array>
	
								<string>{ -163.38028,-103.66197 }</string>
	
								<string>{ -239.71831,-159.71831 }</string>
	
								<string>{ -170.42253,-92.39436 }</string>

							</array>

							<array>
	
								<string>{ -156.61972,-112.67606 }</string>
	
								<string>{ -239.71831,-159.71831 }</string>
	
								<string>{ -163.38028,-103.66197 }</string>

							</array>

							<array>
	
								<string>{ -149.01408,-121.69014 }</string>
	
								<string>{ -239.71831,-159.71831 }</string>
	
								<string>{ -156.61972,-112.67606 }</string>

							</array>

							<array>
	
								<string>{ -140.84507,-129.29577 }</string>
	
								<string>{ -239.71831,-159.71831 }</string>
	
								<string>{ -149.01408,-121.69014 }</string>

							</array>

							<array>
	
								<string>{ -129.57746,-136.61972 }</string>
	
								<string>{ -239.71831,-159.71831 }</string>
	
								<string>{ -140.84507,-129.29577 }</string>

							</array>

							<array>
	
								<string>{ -116.90141,-142.53521 }</string>
	
								<string>{ -239.71831,-159.71831 }</string>
	
								<string>{ -129.57746,-136.61972 }</string>

							</array>

							<array>
	
								<string>{ -99.15492,-149.85915 }</string>
	
								<string>{ -239.71831,-159.71831 }</string>
	
								<string>{ -116.90141,-142.53521 }</string>

							</array>

							<array>
	
								<string>{ 78.87323,-150.70423 }</string>
	
								<string>{ -80.28169,-153.80282 }</string>
	
								<string>{ 29.01410,-145.63380 }</string>

							</array>

							<array>
	
								<string>{ 241.12677,-160.28169 }</string>
	
								<string>{ 143.94366,-30.70422 }</string>
	
								<string>{ 147.88733,-17.46478 }</string>

							</array>

							<array>
	
								<string>{ 241.12677,-160.28169 }</string>
	
								<string>{ 140.00000,-41.69014 }</string>
	
								<string>{ 143.94366,-30.70422 }</string>

							</array>

							<array>
	
								<string>{ 241.12677,-160.28169 }</string>
	
								<string>{ 134.08450,-54.36620 }</string>
	
								<string>{ 140.00000,-41.69014 }</string>

							</array>

							<array>
	
								<string>{ 241.12677,-160.28169 }</string>
	
								<string>{ 129.01410,-60.84507 }</string>
	
								<string>{ 134.08450,-54.36620 }</string>

							</array>

							<array>
	
								<string>{ 241.12677,-160.28169 }</string>
	
								<string>{ 121.40845,-67.04225 }</string>
	
								<string>{ 129.01410,-60.84507 }</string>

							</array>

							<array>
	
								<string>{ 241.12677,-160.28169 }</string>
	
								<string>{ -239.71831,-159.71831 }</string>
	
								<string>{ 78.87323,-150.70423 }</string>

							</array>

							<array>
	
								<string>{ -80.28169,-153.80282 }</string>
	
								<string>{ -239.71831,-159.71831 }</string>
	
								<string>{ -99.15492,-149.85915 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -162.53521,-41.69014 }</string>
	
								<string>{ -156.61972,2.53522 }</string>
	
								<string>{ -121.69014,47.60564 }</string>
	
								<string>{ -108.16901,23.09859 }</string>
	
								<string>{ -108.45070,1.12677 }</string>
	
								<string>{ -113.23943,-24.78873 }</string>
	
								<string>{ -124.50704,-51.83099 }</string>
	
								<string>{ -143.09859,-87.88732 }</string>

							</array>

							<array>
	
								<string>{ -241.12676,45.63380 }</string>
	
								<string>{ -215.21127,51.83099 }</string>
	
								<string>{ -186.47887,56.90141 }</string>
	
								<string>{ -212.95775,34.92958 }</string>
	
								<string>{ -240.56338,29.01408 }</string>

							</array>

							<array>
	
								<string>{ -186.47887,56.90141 }</string>
	
								<string>{ -160.84507,58.59155 }</string>
	
								<string>{ -178.59155,35.77464 }</string>
	
								<string>{ -212.95775,34.92958 }</string>

							</array>

							<array>
	
								<string>{ -160.84507,58.59155 }</string>
	
								<string>{ -135.77465,55.77464 }</string>
	
								<string>{ -121.69014,47.60564 }</string>
	
								<string>{ -159.43661,23.66197 }</string>
	
								<string>{ -178.59155,35.77464 }</string>

							</array>

							<array>
	
								<string>{ -121.69014,47.60564 }</string>
	
								<string>{ -156.61972,2.53522 }</string>
	
								<string>{ -159.43661,23.66197 }</string>

							</array>

							<array>
	
								<string>{ -156.61972,2.53522 }</string>
	
								<string>{ -162.53521,-41.69014 }</string>
	
								<string>{ -170.14085,-26.47887 }</string>

							</array>

							<array>
	
								<string>{ -108.16901,23.09859 }</string>
	
								<string>{ -121.69014,47.60564 }</string>
	
								<string>{ -113.80282,36.90141 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 105.35211,-47.60564 }</string>
	
								<string>{ 89.01410,-57.46479 }</string>
	
								<string>{ 32.11267,-36.61972 }</string>
	
								<string>{ 97.74649,-5.91550 }</string>

							</array>

							<array>
	
								<string>{ -80.56339,-129.01408 }</string>
	
								<string>{ -92.95775,-125.91549 }</string>
	
								<string>{ -109.01408,-118.59155 }</string>
	
								<string>{ 1.97183,-1.12675 }</string>
	
								<string>{ -37.74648,-93.23943 }</string>
	
								<string>{ -59.43661,-122.53521 }</string>

							</array>

							<array>
	
								<string>{ 1.97183,-1.12675 }</string>
	
								<string>{ 0.28169,-53.23943 }</string>
	
								<string>{ -37.74648,-93.23943 }</string>

							</array>

							<array>
	
								<string>{ 1.97183,-1.12675 }</string>
	
								<string>{ 23.94366,-9.57747 }</string>
	
								<string>{ 32.11267,-36.61972 }</string>
	
								<string>{ 0.28169,-53.23943 }</string>

							</array>

							<array>
	
								<string>{ 38.30988,-12.95775 }</string>
	
								<string>{ 32.11267,-36.61972 }</string>
	
								<string>{ 23.94366,-9.57747 }</string>

							</array>

							<array>
	
								<string>{ 54.64789,-15.21127 }</string>
	
								<string>{ 32.11267,-36.61972 }</string>
	
								<string>{ 38.30988,-12.95775 }</string>

							</array>

							<array>
	
								<string>{ 68.16901,-15.49295 }</string>
	
								<string>{ 32.11267,-36.61972 }</string>
	
								<string>{ 54.64789,-15.21127 }</string>

							</array>

							<array>
	
								<string>{ 32.11267,-36.61972 }</string>
	
								<string>{ 68.16901,-15.49295 }</string>
	
								<string>{ 82.25354,-12.95775 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -36.05634,54.92958 }</string>
	
								<string>{ -19.43661,96.05634 }</string>
	
								<string>{ -23.94366,51.83099 }</string>
	
								<string>{ -34.92958,46.76056 }</string>

							</array>

							<array>
	
								<string>{ 23.66199,90.98592 }</string>
	
								<string>{ -16.33803,109.29578 }</string>
	
								<string>{ 28.73239,109.85916 }</string>
	
								<string>{ 58.87323,109.01410 }</string>

							</array>

							<array>
	
								<string>{ -1.40845,72.39436 }</string>
	
								<string>{ -16.33803,109.29578 }</string>
	
								<string>{ 23.66199,90.98592 }</string>

							</array>

							<array>
	
								<string>{ -23.94366,51.83099 }</string>
	
								<string>{ -19.43661,96.05634 }</string>
	
								<string>{ -16.33803,109.29578 }</string>
	
								<string>{ -1.40845,72.39436 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 214.36621,131.26761 }</string>
	
								<string>{ 241.69016,160.56339 }</string>
	
								<string>{ 240.84506,130.98593 }</string>

							</array>

							<array>
	
								<string>{ 151.54929,73.80283 }</string>
	
								<string>{ 151.54929,83.66197 }</string>
	
								<string>{ 181.12677,112.11267 }</string>
	
								<string>{ 172.67606,83.38028 }</string>
	
								<string>{ 158.87323,62.81691 }</string>
	
								<string>{ 152.11267,61.12677 }</string>

							</array>

							<array>
	
								<string>{ -32.67606,145.35211 }</string>
	
								<string>{ 9.85916,134.92960 }</string>
	
								<string>{ -22.25352,133.80283 }</string>

							</array>

							<array>
	
								<string>{ 148.73239,93.52113 }</string>
	
								<string>{ 181.12677,112.11267 }</string>
	
								<string>{ 151.54929,83.66197 }</string>

							</array>

							<array>
	
								<string>{ 144.78873,102.25351 }</string>
	
								<string>{ 181.12677,112.11267 }</string>
	
								<string>{ 148.73239,93.52113 }</string>

							</array>

							<array>
	
								<string>{ 135.49295,112.95776 }</string>
	
								<string>{ 191.83099,126.19717 }</string>
	
								<string>{ 181.12677,112.11267 }</string>
	
								<string>{ 144.78873,102.25351 }</string>

							</array>

							<array>
	
								<string>{ 191.83099,126.19717 }</string>
	
								<string>{ 241.69016,160.56339 }</string>
	
								<string>{ 214.36621,131.26761 }</string>

							</array>

							<array>
	
								<string>{ 135.49295,112.95776 }</string>
	
								<string>{ 123.09860,120.28171 }</string>
	
								<string>{ 241.69016,160.56339 }</string>
	
								<string>{ 191.83099,126.19717 }</string>

							</array>

							<array>
	
								<string>{ -32.67606,145.35211 }</string>
	
								<string>{ -44.22536,152.67606 }</string>
	
								<string>{ 37.46478,135.21127 }</string>
	
								<string>{ 9.85916,134.92960 }</string>

							</array>

							<array>
	
								<string>{ 110.98593,125.63382 }</string>
	
								<string>{ 241.69016,160.56339 }</string>
	
								<string>{ 123.09860,120.28171 }</string>

							</array>

							<array>
	
								<string>{ -44.22536,152.67606 }</string>
	
								<string>{ -65.91550,160.56339 }</string>
	
								<string>{ 241.69016,160.56339 }</string>
	
								<string>{ 60.84506,134.36621 }</string>
	
								<string>{ 37.46478,135.21127 }</string>

							</array>

							<array>
	
								<string>{ 91.83099,130.70422 }</string>
	
								<string>{ 241.69016,160.56339 }</string>
	
								<string>{ 110.98593,125.63382 }</string>

							</array>

							<array>
	
								<string>{ 77.46478,132.95776 }</string>
	
								<string>{ 241.69016,160.56339 }</string>
	
								<string>{ 91.83099,130.70422 }</string>

							</array>

							<array>
	
								<string>{ 60.84506,134.36621 }</string>
	
								<string>{ 241.69016,160.56339 }</string>
	
								<string>{ 77.46478,132.95776 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 32.39438,27.32394 }</string>
	
								<string>{ 42.25354,32.95775 }</string>
	
								<string>{ 51.83099,35.77464 }</string>
	
								<string>{ 61.40845,36.61972 }</string>
	
								<string>{ 57.74649,10.98592 }</string>
	
								<string>{ 34.08450,14.64789 }</string>
	
								<string>{ 22.53522,18.59155 }</string>

							</array>

							<array>
	
								<string>{ 79.71832,13.23944 }</string>
	
								<string>{ 67.32394,10.42253 }</string>
	
								<string>{ 57.74649,10.98592 }</string>
	
								<string>{ 61.40845,36.61972 }</string>
	
								<string>{ 73.52112,32.39436 }</string>
	
								<string>{ 81.12677,26.19719 }</string>
	
								<string>{ 88.73239,16.61972 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

