<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D26</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 35.75198,72.96089 }</string>
	
								<string>{ 40.77991,47.54190 }</string>
	
								<string>{ 23.74081,31.06146 }</string>
	
								<string>{ 24.85812,56.20113 }</string>
	
								<string>{ 27.93076,72.40224 }</string>
	
								<string>{ 31.84137,79.66481 }</string>

							</array>

							<array>
	
								<string>{ 67.59555,-3.01675 }</string>
	
								<string>{ 62.28830,19.32962 }</string>
	
								<string>{ 82.12070,10.94972 }</string>

							</array>

							<array>
	
								<string>{ 52.79108,-20.89384 }</string>
	
								<string>{ 28.76874,-28.15642 }</string>
	
								<string>{ 44.69052,-0.22346 }</string>
	
								<string>{ 62.28830,19.32962 }</string>
	
								<string>{ 67.59555,-3.01675 }</string>

							</array>

							<array>
	
								<string>{ 51.11511,27.70950 }</string>
	
								<string>{ 44.69052,-0.22346 }</string>
	
								<string>{ 32.12070,9.55307 }</string>
	
								<string>{ 23.74081,31.06146 }</string>
	
								<string>{ 40.77991,47.54190 }</string>

							</array>

							<array>
	
								<string>{ 62.28830,19.32962 }</string>
	
								<string>{ 44.69052,-0.22346 }</string>
	
								<string>{ 51.11511,27.70950 }</string>

							</array>

							<array>
	
								<string>{ 35.19333,-50.22346 }</string>
	
								<string>{ -1.95752,-58.32402 }</string>
	
								<string>{ 28.76874,-28.15642 }</string>
	
								<string>{ 52.79108,-20.89384 }</string>

							</array>

							<array>
	
								<string>{ 28.48941,-64.74860 }</string>
	
								<string>{ -1.95752,-58.32402 }</string>
	
								<string>{ 35.19333,-50.22346 }</string>

							</array>

							<array>
	
								<string>{ 21.50616,-82.90503 }</string>
	
								<string>{ -83.52176,-152.73743 }</string>
	
								<string>{ -91.06366,-137.65363 }</string>
	
								<string>{ -43.85696,-90.72626 }</string>
	
								<string>{ -1.95752,-58.32402 }</string>
	
								<string>{ 28.48941,-64.74860 }</string>

							</array>

							<array>
	
								<string>{ -166.48266,24.07822 }</string>
	
								<string>{ -148.60556,-5.53072 }</string>
	
								<string>{ -196.09160,2.29051 }</string>
	
								<string>{ -198.60557,14.02235 }</string>

							</array>

							<array>
	
								<string>{ -143.85696,33.29610 }</string>
	
								<string>{ -117.32065,40.55867 }</string>
	
								<string>{ -105.58881,28.26816 }</string>
	
								<string>{ -114.24802,12.90503 }</string>
	
								<string>{ -129.05249,-7.76537 }</string>
	
								<string>{ -148.60556,-5.53072 }</string>
	
								<string>{ -166.48266,24.07822 }</string>

							</array>

							<array>
	
								<string>{ -97.48825,51.45251 }</string>
	
								<string>{ -105.58881,28.26816 }</string>
	
								<string>{ -117.32065,40.55867 }</string>
	
								<string>{ -100.28154,56.48045 }</string>

							</array>

							<array>
	
								<string>{ -129.05249,-7.76537 }</string>
	
								<string>{ -124.86255,-43.51955 }</string>
	
								<string>{ -141.34299,-82.34637 }</string>
	
								<string>{ -151.95752,-44.35754 }</string>
	
								<string>{ -148.60556,-5.53072 }</string>

							</array>

							<array>
	
								<string>{ -114.24802,-71.17318 }</string>
	
								<string>{ -131.28712,-104.13408 }</string>
	
								<string>{ -141.34299,-82.34637 }</string>
	
								<string>{ -124.86255,-43.51955 }</string>

							</array>

							<array>
	
								<string>{ -101.11952,-89.32961 }</string>
	
								<string>{ -91.06366,-137.65363 }</string>
	
								<string>{ -117.04132,-120.89385 }</string>
	
								<string>{ -131.28712,-104.13408 }</string>
	
								<string>{ -114.24802,-71.17318 }</string>

							</array>

							<array>
	
								<string>{ -86.03574,-97.70950 }</string>
	
								<string>{ -91.06366,-137.65363 }</string>
	
								<string>{ -101.11952,-89.32961 }</string>

							</array>

							<array>
	
								<string>{ -69.27596,-98.26815 }</string>
	
								<string>{ -91.06366,-137.65363 }</string>
	
								<string>{ -86.03574,-97.70950 }</string>

							</array>

							<array>
	
								<string>{ -43.85696,-90.72626 }</string>
	
								<string>{ -91.06366,-137.65363 }</string>
	
								<string>{ -69.27596,-98.26815 }</string>

							</array>

							<array>
	
								<string>{ 162.56763,20.72626 }</string>
	
								<string>{ 115.64026,-6.92737 }</string>
	
								<string>{ 135.19333,33.29610 }</string>
	
								<string>{ 146.08719,53.40782 }</string>
	
								<string>{ 164.52295,78.82683 }</string>
	
								<string>{ 172.90283,60.94972 }</string>
	
								<string>{ 173.46149,41.39665 }</string>

							</array>

							<array>
	
								<string>{ 145.80786,103.12851 }</string>
	
								<string>{ 164.52295,78.82683 }</string>
	
								<string>{ 145.24918,78.26816 }</string>
	
								<string>{ 124.29947,113.74301 }</string>
	
								<string>{ 128.21008,117.65363 }</string>

							</array>

							<array>
	
								<string>{ 164.52295,78.82683 }</string>
	
								<string>{ 146.08719,53.40782 }</string>
	
								<string>{ 145.24918,78.26816 }</string>

							</array>

							<array>
	
								<string>{ 84.91400,-13.63129 }</string>
	
								<string>{ 92.45590,-2.45810 }</string>
	
								<string>{ 112.56763,10.39107 }</string>
	
								<string>{ 84.63467,-67.26257 }</string>
	
								<string>{ 80.44473,-51.34078 }</string>
	
								<string>{ 79.60672,-38.49162 }</string>
	
								<string>{ 80.16541,-24.52513 }</string>

							</array>

							<array>
	
								<string>{ 66.19891,-96.59218 }</string>
	
								<string>{ 119.27155,-150.78212 }</string>
	
								<string>{ -83.52176,-152.73743 }</string>
	
								<string>{ 29.88605,-91.84357 }</string>
	
								<string>{ 52.79108,-91.00558 }</string>

							</array>

							<array>
	
								<string>{ 119.27155,-150.78212 }</string>
	
								<string>{ 88.82462,-86.25698 }</string>
	
								<string>{ 90.50058,-78.99442 }</string>
	
								<string>{ 115.64026,-6.92737 }</string>
	
								<string>{ 127.65143,-46.03352 }</string>
	
								<string>{ 132.67935,-81.50838 }</string>
	
								<string>{ 132.40002,-107.76536 }</string>
	
								<string>{ 128.48941,-134.02235 }</string>

							</array>

							<array>
	
								<string>{ 284.99182,-155.17702 }</string>
	
								<string>{ 281.89117,-160.25373 }</string>
	
								<string>{ 160.05365,-152.45810 }</string>
	
								<string>{ 213.68494,-144.91620 }</string>

							</array>

							<array>
	
								<string>{ 135.19333,33.29610 }</string>
	
								<string>{ 84.63467,-67.26257 }</string>
	
								<string>{ 112.56763,10.39107 }</string>

							</array>

							<array>
	
								<string>{ 29.88605,-91.84357 }</string>
	
								<string>{ -83.52176,-152.73743 }</string>
	
								<string>{ 21.50616,-82.90503 }</string>

							</array>

							<array>
	
								<string>{ -201.39886,-143.79888 }</string>
	
								<string>{ -83.52176,-152.73743 }</string>
	
								<string>{ -284.92879,-160.33987 }</string>
	
								<string>{ -284.24906,-152.27425 }</string>

							</array>

							<array>
	
								<string>{ 88.82462,-86.25698 }</string>
	
								<string>{ 119.27155,-150.78212 }</string>
	
								<string>{ 66.19891,-96.59218 }</string>
	
								<string>{ 80.72406,-88.49162 }</string>

							</array>

							<array>
	
								<string>{ 119.27155,-150.78212 }</string>
	
								<string>{ 281.89117,-160.25373 }</string>
	
								<string>{ -284.92879,-160.33987 }</string>

							</array>

							<array>
	
								<string>{ 115.64026,-6.92737 }</string>
	
								<string>{ 90.50058,-78.99442 }</string>
	
								<string>{ 84.63467,-67.26257 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

