<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-D53</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -53.15779,135.42084 }</string>
	
								<string>{ -31.06348,135.29971 }</string>
	
								<string>{ 17.86758,122.01675 }</string>
	
								<string>{ 18.87869,105.76172 }</string>
	
								<string>{ -50.14493,122.60870 }</string>
	
								<string>{ -59.15492,130.15036 }</string>

							</array>

							<array>
	
								<string>{ 8.16902,-61.12676 }</string>
	
								<string>{ 2.53522,-118.87324 }</string>
	
								<string>{ -32.39436,-42.25352 }</string>
	
								<string>{ -0.28169,-49.29578 }</string>
	
								<string>{ 7.04225,-52.95775 }</string>

							</array>

							<array>
	
								<string>{ -175.77465,70.98592 }</string>
	
								<string>{ -130.42253,71.54930 }</string>
	
								<string>{ -128.73239,1.12677 }</string>
	
								<string>{ -135.21127,-55.77464 }</string>
	
								<string>{ -184.50704,16.61972 }</string>
	
								<string>{ -192.67606,47.32394 }</string>
	
								<string>{ -194.92958,61.12677 }</string>
	
								<string>{ -191.26760,69.85916 }</string>

							</array>

							<array>
	
								<string>{ 64.03076,-24.67714 }</string>
	
								<string>{ 49.85507,-79.32367 }</string>
	
								<string>{ 44.22672,-31.67993 }</string>

							</array>

							<array>
	
								<string>{ 240.84506,-160.00000 }</string>
	
								<string>{ 111.26761,-153.23944 }</string>
	
								<string>{ 210.98593,-145.07042 }</string>
	
								<string>{ 240.84506,-149.29577 }</string>

							</array>

							<array>
	
								<string>{ -182.81690,-62.81690 }</string>
	
								<string>{ -181.69014,-21.12675 }</string>
	
								<string>{ -135.21127,-55.77464 }</string>
	
								<string>{ -169.37743,-72.71688 }</string>

							</array>

							<array>
	
								<string>{ -184.50704,16.61972 }</string>
	
								<string>{ -135.21127,-55.77464 }</string>
	
								<string>{ -181.69014,-21.12675 }</string>

							</array>

							<array>
	
								<string>{ 187.88733,97.46478 }</string>
	
								<string>{ 182.81689,10.42253 }</string>
	
								<string>{ 144.26755,50.38716 }</string>
	
								<string>{ 136.82248,58.75757 }</string>
	
								<string>{ 125.91550,101.69016 }</string>
	
								<string>{ 169.85916,106.19717 }</string>
	
								<string>{ 183.38028,104.22534 }</string>

							</array>

							<array>
	
								<string>{ 90.67838,-13.80826 }</string>
	
								<string>{ 47.04227,-121.97183 }</string>
	
								<string>{ 49.85507,-79.32367 }</string>
	
								<string>{ 64.03076,-24.67714 }</string>

							</array>

							<array>
	
								<string>{ 173.23944,-45.07042 }</string>
	
								<string>{ 129.53256,-31.47037 }</string>
	
								<string>{ 182.81689,10.42253 }</string>
	
								<string>{ 189.01410,-40.28168 }</string>

							</array>

							<array>
	
								<string>{ -211.83099,-142.81690 }</string>
	
								<string>{ -171.26760,-143.09859 }</string>
	
								<string>{ -129.57746,-149.57747 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>
	
								<string>{ -240.56338,-150.98592 }</string>

							</array>

							<array>
	
								<string>{ 57.86758,112.43793 }</string>
	
								<string>{ 69.09711,91.95891 }</string>
	
								<string>{ 18.87869,105.76172 }</string>
	
								<string>{ 17.86758,122.01675 }</string>

							</array>

							<array>
	
								<string>{ 97.38449,105.07178 }</string>
	
								<string>{ 109.33932,76.06178 }</string>
	
								<string>{ 69.09711,91.95891 }</string>
	
								<string>{ 57.86758,112.43793 }</string>

							</array>

							<array>
	
								<string>{ 125.91550,101.69016 }</string>
	
								<string>{ 126.23938,67.16881 }</string>
	
								<string>{ 109.33932,76.06178 }</string>
	
								<string>{ 97.38449,105.07178 }</string>

							</array>

							<array>
	
								<string>{ 23.94366,-129.85915 }</string>
	
								<string>{ -129.57746,-149.57747 }</string>
	
								<string>{ 2.53522,-118.87324 }</string>
	
								<string>{ 14.08450,-121.12676 }</string>

							</array>

							<array>
	
								<string>{ 47.04227,-121.97183 }</string>
	
								<string>{ 23.94366,-129.85915 }</string>
	
								<string>{ 36.05634,-121.97183 }</string>

							</array>

							<array>
	
								<string>{ 125.91550,101.69016 }</string>
	
								<string>{ 136.82248,58.75757 }</string>
	
								<string>{ 126.23938,67.16881 }</string>

							</array>

							<array>
	
								<string>{ 3.38028,41.97183 }</string>
	
								<string>{ -1.12675,33.52113 }</string>
	
								<string>{ -47.60564,29.01408 }</string>
	
								<string>{ -90.14084,68.73239 }</string>
	
								<string>{ -53.80281,64.78874 }</string>
	
								<string>{ -24.78873,59.71831 }</string>
	
								<string>{ 3.94366,49.85916 }</string>

							</array>

							<array>
	
								<string>{ -68.45070,26.19719 }</string>
	
								<string>{ -90.14084,68.73239 }</string>
	
								<string>{ -47.60564,29.01408 }</string>

							</array>

							<array>
	
								<string>{ -96.61972,21.97183 }</string>
	
								<string>{ -130.42253,71.54930 }</string>
	
								<string>{ -90.14084,68.73239 }</string>
	
								<string>{ -68.45070,26.19719 }</string>

							</array>

							<array>
	
								<string>{ -118.30986,16.05634 }</string>
	
								<string>{ -130.42253,71.54930 }</string>
	
								<string>{ -96.61972,21.97183 }</string>

							</array>

							<array>
	
								<string>{ 2.53522,-118.87324 }</string>
	
								<string>{ -62.25352,-34.92957 }</string>
	
								<string>{ -32.39436,-42.25352 }</string>

							</array>

							<array>
	
								<string>{ 96.42105,-39.47744 }</string>
	
								<string>{ 109.66592,-3.94774 }</string>
	
								<string>{ 126.92932,7.76485 }</string>
	
								<string>{ 182.81689,10.42253 }</string>
	
								<string>{ 129.53256,-31.47037 }</string>

							</array>

							<array>
	
								<string>{ -125.63380,8.73239 }</string>
	
								<string>{ -130.42253,71.54930 }</string>
	
								<string>{ -118.30986,16.05634 }</string>

							</array>

							<array>
	
								<string>{ 109.66592,-3.94774 }</string>
	
								<string>{ 96.42105,-39.47744 }</string>
	
								<string>{ 47.04227,-121.97183 }</string>
	
								<string>{ 90.67838,-13.80826 }</string>

							</array>

							<array>
	
								<string>{ 2.53522,-118.87324 }</string>
	
								<string>{ -83.38028,-27.88733 }</string>
	
								<string>{ -62.25352,-34.92957 }</string>

							</array>

							<array>
	
								<string>{ 2.53522,-118.87324 }</string>
	
								<string>{ -89.85915,-83.94366 }</string>
	
								<string>{ -96.65782,-55.73518 }</string>
	
								<string>{ -100.28169,-21.97183 }</string>
	
								<string>{ -83.38028,-27.88733 }</string>

							</array>

							<array>
	
								<string>{ -128.73239,1.12677 }</string>
	
								<string>{ -130.42253,71.54930 }</string>
	
								<string>{ -125.63380,8.73239 }</string>

							</array>

							<array>
	
								<string>{ -127.88732,-5.07042 }</string>
	
								<string>{ -135.21127,-55.77464 }</string>
	
								<string>{ -128.73239,1.12677 }</string>

							</array>

							<array>
	
								<string>{ -127.88732,-5.07042 }</string>
	
								<string>{ -120.84507,-11.83098 }</string>
	
								<string>{ -96.65782,-55.73518 }</string>
	
								<string>{ -135.21127,-55.77464 }</string>

							</array>

							<array>
	
								<string>{ -100.28169,-21.97183 }</string>
	
								<string>{ -96.65782,-55.73518 }</string>
	
								<string>{ -120.84507,-11.83098 }</string>

							</array>

							<array>
	
								<string>{ 2.53522,-118.87324 }</string>
	
								<string>{ -129.57746,-149.57747 }</string>
	
								<string>{ -89.85915,-83.94366 }</string>

							</array>

							<array>
	
								<string>{ -129.57746,-149.57747 }</string>
	
								<string>{ 111.26761,-153.23944 }</string>
	
								<string>{ 240.84506,-160.00000 }</string>
	
								<string>{ -240.00000,-160.00000 }</string>

							</array>

							<array>
	
								<string>{ 23.94366,-129.85915 }</string>
	
								<string>{ 111.26761,-153.23944 }</string>
	
								<string>{ -129.57746,-149.57747 }</string>

							</array>

							<array>
	
								<string>{ 23.94366,-129.85915 }</string>
	
								<string>{ 47.04227,-121.97183 }</string>
	
								<string>{ 97.18311,-107.04225 }</string>
	
								<string>{ 111.26761,-153.23944 }</string>

							</array>

							<array>
	
								<string>{ 47.04227,-121.97183 }</string>
	
								<string>{ 88.73239,-66.47887 }</string>
	
								<string>{ 97.18311,-107.04225 }</string>

							</array>

							<array>
	
								<string>{ 47.04227,-121.97183 }</string>
	
								<string>{ 96.42105,-39.47744 }</string>
	
								<string>{ 88.73239,-66.47887 }</string>

							</array>

							<array>
	
								<string>{ 138.63919,17.66620 }</string>
	
								<string>{ 182.81689,10.42253 }</string>
	
								<string>{ 126.92932,7.76485 }</string>

							</array>

							<array>
	
								<string>{ 146.12372,28.61400 }</string>
	
								<string>{ 182.81689,10.42253 }</string>
	
								<string>{ 138.63919,17.66620 }</string>

							</array>

							<array>
	
								<string>{ 147.40833,40.08438 }</string>
	
								<string>{ 182.81689,10.42253 }</string>
	
								<string>{ 146.12372,28.61400 }</string>

							</array>

							<array>
	
								<string>{ 144.26755,50.38716 }</string>
	
								<string>{ 182.81689,10.42253 }</string>
	
								<string>{ 147.40833,40.08438 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

