<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>type</key>
		<string>WOOD-4</string>
		<key>components</key>
		<dict>
			<key>disposable</key>
			<dict/>
			<key>physics</key>
			<dict>
				<key>body</key>
				<dict>
					<key>mass</key>
					<real>0</real>
				</dict>
				<key>shapes</key>
				<array>
					<dict>
						<key>type</key>
						<string>poly</string>
						<key>vertices</key>
						<array>
							<string>{ -5, -120 }</string>
							<string>{ -5, 120 }</string>
							<string>{ 5, 120 }</string>
							<string>{ 5, -120 }</string>
						</array>
						<key>elasticity</key>
						<real>0.8</real>
						<key>friction</key>
						<real>0.5</real>
						<key>collisionType</key>
						<string>WOOD</string>
						<key>layers</key>
						<integer>7</integer>
						<key>group</key>
						<string>LEVEL</string>
					</dict>
				</array>
			</dict>
			<key>render</key>
			<dict>
				<key>sprites</key>
				<array>
					<dict>
						<key>name</key>
						<string>top2</string>
						<key>spriteSheetName</key>
						<string>Sprites</string>
						<key>animationFile</key>
						<string>Wood-Animations.plist</string>
						<key>z</key>
						<integer>2</integer>
						<key>anchorPoint</key>
						<string>{ 0.5, -0.7 }</string>
						<key>defaultIdleAnimation</key>
						<string>Wood-Idle</string>
						<key>defaultDestroyAnimation</key>
						<string>Wood-Destroy</string>
					</dict>
					<dict>
						<key>name</key>
						<string>top</string>
						<key>spriteSheetName</key>
						<string>Sprites</string>
						<key>animationFile</key>
						<string>Wood-Animations.plist</string>
						<key>z</key>
						<integer>2</integer>
						<key>anchorPoint</key>
						<string>{ 0.5, 0.1 }</string>
						<key>defaultIdleAnimation</key>
						<string>Wood-Idle</string>
						<key>defaultDestroyAnimation</key>
						<string>Wood-Destroy</string>
					</dict>
					<dict>
						<key>name</key>
						<string>bottom</string>
						<key>spriteSheetName</key>
						<string>Sprites</string>
						<key>animationFile</key>
						<string>Wood-Animations.plist</string>
						<key>z</key>
						<integer>2</integer>
						<key>anchorPoint</key>
						<string>{ 0.5, 0.9 }</string>
						<key>defaultIdleAnimation</key>
						<string>Wood-Idle</string>
						<key>defaultDestroyAnimation</key>
						<string>Wood-Destroy</string>
					</dict>
					<dict>
						<key>name</key>
						<string>bottom2</string>
						<key>spriteSheetName</key>
						<string>Sprites</string>
						<key>animationFile</key>
						<string>Wood-Animations.plist</string>
						<key>z</key>
						<integer>2</integer>
						<key>anchorPoint</key>
						<string>{ 0.5, 1.7 }</string>
						<key>defaultIdleAnimation</key>
						<string>Wood-Idle</string>
						<key>defaultDestroyAnimation</key>
						<string>Wood-Destroy</string>
					</dict>
				</array>
			</dict>
			<key>transform</key>
			<dict/>
		</dict>
	</dict>
</plist>
