<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>type</key>
	<string>GLASS-PC-SMALL</string>
	<key>components</key>
	<dict>
		<key>physics</key>
		<dict>
			<key>body</key>
			<dict>
				<key>mass</key>
				<real>1</real>
				<key>moment</key>
				<real>1</real>
			</dict>
			<key>shapes</key>
			<array>
				<dict>
					<key>type</key>
					<string>poly</string>
					<key>vertices</key>
					<array>
						<string>{ -3, -1 }</string>
						<string>{ -3, 1 }</string>
						<string>{ 3, 1 }</string>
						<string>{ 3, -1 }</string>
					</array>
					<key>elasticity</key>
					<real>0.5</real>
					<key>friction</key>
					<real>0.3</real>
					<key>layers</key>
					<integer>2</integer>
					<key>group</key>
					<string>OBJECT</string>
				</dict>
			</array>
		</dict>
		<key>render</key>
		<dict>
			<key>sprites</key>
			<array>
				<dict>
					<key>name</key>
					<string>default</string>
					<key>spriteSheetName</key>
					<string>Sprites</string>
					<key>animationFile</key>
					<string>Glass-Animations.plist</string>
					<key>z</key>
					<integer>2</integer>
					<key>anchorPoint</key>
					<string>{ 0.5, 0.5 }</string>
				</dict>
			</array>
		</dict>
		<key>transform</key>
		<dict>
			<key>scale</key>
			<string>{ 0.5, 0.5 }</string>
		</dict>
	</dict>
</dict>
</plist>
