<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>components</key>
	<dict>
		<key>brittle</key>
		<dict/>
		<key>crumble</key>
		<dict/>
		<key>disposable</key>
		<dict>
			<key>deleteEntityWhenDisposed</key>
			<true/>
		</dict>
		<key>physics</key>
		<dict>
			<key>file</key>
			<string>%physicsFile%</string>
			<key>elasticity</key>
			<real>0.4</real>
			<key>friction</key>
			<real>0.4</real>
			<key>layers</key>
			<integer>7</integer>
			<key>group</key>
			<string>LEVEL</string>
		</dict>
		<key>render</key>
		<dict>
			<key>sprites</key>
			<array>
				<dict>
					<key>z</key>
					<string>Z_GLASS</string>
				</dict>
			</array>
		</dict>
		<key>shard</key>
		<dict>
			<key>piecesEntityType</key>
			<string>%shardPiecesEntityType%</string>
			<key>cacheShardPieceEntities</key>
			<true/>
		</dict>
		<key>sound</key>
        <dict>
            <key>defaultCollisionSound</key>
			<string>BeeHitGlass</string>
            <key>defaultDestroySound</key>
            <string>GlassLarge</string>
        </dict>
		<key>transform</key>
		<dict/>
	</dict>
</dict>
</plist>
