<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>components</key>
	<dict>
		<key>physics</key>
		<dict>
			<key>body</key>
			<dict>
				<key>mass</key>
				<real>1</real>
				<key>moment</key>
				<real>1</real>
			</dict>
			<key>shapes</key>
			<array>
				<dict>
					<key>type</key>
					<string>poly</string>
					<key>vertices</key>
					<array>
						<string>{ -3, -1 }</string>
						<string>{ -3, 1 }</string>
						<string>{ 3, 1 }</string>
						<string>{ 3, -1 }</string>
					</array>
					<key>elasticity</key>
					<real>0.5</real>
					<key>friction</key>
					<real>0.3</real>
					<key>layers</key>
					<integer>2</integer>
					<key>group</key>
					<string>OBJECT</string>
				</dict>
			</array>
		</dict>
		<key>render</key>
		<dict>
			<key>sprites</key>
			<array>
				<dict>
					<key>spriteSheetName</key>
					<string>Back</string>
					<key>animationFile</key>
					<string>Glass-Piece-Animations.plist</string>
					<key>defaultIdleAnimations</key>
					<array>						
						<string>%renderDefaultIdleAnimation1%</string>
						<string>%renderDefaultIdleAnimation2%</string>
						<string>%renderDefaultIdleAnimation3%</string>
						<string>%renderDefaultIdleAnimation4%</string>
						<string>%renderDefaultIdleAnimation5%</string>
						<string>%renderDefaultIdleAnimation6%</string>
						<string>%renderDefaultIdleAnimation7%</string>
						<string>%renderDefaultIdleAnimation8%</string>
					</array>
				</dict>
			</array>
		</dict>
		<key>transform</key>
		<dict>
			<key>scale</key>
			<string>{ 0.5, 0.5 }</string>
		</dict>
	</dict>
</dict>
</plist>
