<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>type</key>
	<string>BEEATER-PC4</string>
	<key>components</key>
	<dict>
		<key>physics</key>
		<dict>
			<key>body</key>
			<dict>
				<key>mass</key>
				<real>1</real>
				<key>moment</key>
				<real>1</real>
			</dict>
			<key>shapes</key>
			<array>
				<dict>
					<key>type</key>
					<string>circle</string>
					<key>radius</key>
					<real>1</real>
					<key>elasticity</key>
					<real>0.7</real>
					<key>friction</key>
					<real>0.7</real>
					<key>layers</key>
					<integer>2</integer>
					<key>group</key>
					<string>OBJECT</string>
				</dict>
			</array>
		</dict>
		<key>render</key>
		<dict>
			<key>sprites</key>
			<array>
				<dict>
					<key>name</key>
					<string>default</string>
					<key>spriteSheetName</key>
					<string>Sprites</string>
					<key>animationFile</key>
					<string>Beeater-Pc-Animations.plist</string>
					<key>z</key>
					<integer>2</integer>
					<key>anchorPoint</key>
					<string>{ 0.5, 0.5 }</string>
					<key>defaultDestroyAnimations</key>
					<array>
						<string>Beeater-Pc4-1-Idle</string>
						<string>Beeater-Pc4-2-Idle</string>
					</array>
				</dict>
			</array>
		</dict>
		<key>transform</key>
		<dict/>
	</dict>
</dict>
</plist>
