<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>type</key>
    <string>SUPER-BEEATER</string>
	<key>groups</key>
	<array>
		<string>BEEATERS</string>
	</array>
	<key>components</key>
	<dict>
		<key>collision</key>
		<dict>
			<key>destroyCollidingEntityOnCollision</key>
			<true/>
		</dict>
		<key>brittle</key>
		<dict/>
		<key>disposable</key>
		<dict>
			<key>deleteEntityWhenDisposed</key>
			<true/>
		</dict>
		<key>health</key>
		<dict>
			<key>totalHealthPoints</key>
			<integer>3</integer>
		</dict>
		<key>movement</key>
		<dict/>
		<key>physics</key>
		<dict>
			<key>body</key>
			<dict>
				<key>mass</key>
				<real>-1</real>
			</dict>
			<key>shapes</key>
			<array>
				<dict>
					<key>type</key>
					<string>poly</string>
					<key>vertices</key>
					<array>
						<string>{ -80, -40 }</string>
						<string>{ -80, 40 }</string>
						<string>{ 20, 40 }</string>
						<string>{ 20, -40 }</string>
					</array>
					<key>elasticity</key>
					<real>0.8</real>
					<key>friction</key>
					<real>0.5</real>
					<key>isSensor</key>
					<true/>
					<key>layers</key>
					<integer>1</integer>
					<key>group</key>
					<string>LEVEL</string>
				</dict>
			</array>
		</dict>
		<key>render</key>
		<dict>
			<key>sprites</key>
			<array>
                <dict>
					<key>name</key>
					<string>tail</string>
					<key>spriteSheetName</key>
					<string>Boss</string>
					<key>animationFile</key>
					<string>Super-Beeater-A-Animations.plist</string>
					<key>anchorPoint</key>
					<string>{ 0.2, 0.75 }</string>
					<key>defaultIdleAnimation</key>
					<string>Super-Beeater-A-Tail-Idle</string>
					<key>defaultHitAnimation</key>
					<string>Super-Beeater-A-Tail-Hit</string>
					<key>defaultDestroyAnimation</key>
					<string>Super-Beeater-A-Tail-Destroy</string>
				</dict>
                <dict>
					<key>name</key>
					<string>headBack</string>
					<key>spriteSheetName</key>
					<string>Boss</string>
					<key>animationFile</key>
					<string>Super-Beeater-A-Animations.plist</string>
					<key>anchorPoint</key>
					<string>{ 0.5, 0.5 }</string>
					<key>defaultIdleAnimation</key>
					<string>Super-Beeater-A-Head-Back-Idle</string>
					<key>defaultHitAnimation</key>
					<string>Super-Beeater-A-Head-Back-Hit</string>
					<key>defaultDestroyAnimation</key>
					<string>Super-Beeater-A-Head-Back-Destroy</string>
				</dict>
				<dict>
					<key>name</key>
					<string>headFront</string>
					<key>spriteSheetName</key>
					<string>Boss</string>
					<key>animationFile</key>
					<string>Super-Beeater-A-Animations.plist</string>
					<key>anchorPoint</key>
					<string>{ 0.5, 0.5 }</string>
					<key>defaultIdleAnimation</key>
					<string>Super-Beeater-A-Head-Front-Idle</string>
					<key>defaultHitAnimation</key>
					<string>Super-Beeater-A-Head-Front-Hit</string>
					<key>defaultDestroyAnimation</key>
					<string>Super-Beeater-A-Head-Front-Destroy</string>
				</dict>
                <dict>
					<key>name</key>
					<string>wing</string>
					<key>spriteSheetName</key>
					<string>Boss</string>
					<key>animationFile</key>
					<string>Super-Beeater-A-Animations.plist</string>
					<key>anchorPoint</key>
					<string>{ 0.5, 0.5 }</string>
					<key>defaultIdleAnimation</key>
					<string>Super-Beeater-A-Wing-Idle</string>
					<key>defaultHitAnimation</key>
					<string>Super-Beeater-A-Wing-Hit</string>
					<key>defaultDestroyAnimation</key>
					<string>Super-Beeater-A-Wing-Destroy</string>
				</dict>
			</array>
		</dict>
		<key>shake</key>
		<dict/>
		<key>shard</key>
		<dict>
			<key>piecesEntityType</key>
			<string>BEEATER-PIECE-A</string>
			<key>piecesCount</key>
			<integer>15</integer>
            <key>piecesSpawnType</key>
            <string>SHARD_PIECES_SPAWN_ANIMATE_AND_DELETE</string>
		</dict>
		<key>sound</key>
		<dict>
			<key>defaultDestroySound</key>
			<string>BeeaterKill</string>
		</dict>
		<key>transform</key>
		<dict/>
        <key>void</key>
		<dict>
			<key>instant</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
