<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>type</key>
	<string>RAMP-C</string>
	<key>template</key>
    <string>Ramp-Template.plist</string>
    <key>templateSubstitutions</key>
    <dict>
		<key>renderSpriteSheetName</key>
		<string>C</string>
        <key>renderDefaultIdleAnimation</key>
		<string>Ramp-C-Idle</string>
		<key>renderDefaultDestroyAnimation</key>
		<string>Ramp-C-Destroy</string>
		<key>shardPiecesEntityType</key>
		<string>RAMP-PIECE-C</string>
    </dict>
</dict>
</plist>
