<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level-A16</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ -202.45614,60.35089 }</string>
	
								<string>{ -240.70175,66.66667 }</string>
	
								<string>{ -186.31579,67.36842 }</string>
	
								<string>{ -187.36842,61.75439 }</string>

							</array>

							<array>
	
								<string>{ -66.31578,24.56142 }</string>
	
								<string>{ -16.84210,-66.31579 }</string>
	
								<string>{ -89.82455,1.40352 }</string>
	
								<string>{ -75.78947,23.15790 }</string>

							</array>

							<array>
	
								<string>{ -16.84210,-66.31579 }</string>
	
								<string>{ -111.92982,-16.14035 }</string>
	
								<string>{ -89.82455,1.40352 }</string>

							</array>

							<array>
	
								<string>{ -226.31579,37.54387 }</string>
	
								<string>{ -240.70175,66.66667 }</string>
	
								<string>{ -202.45614,60.35089 }</string>

							</array>

							<array>
	
								<string>{ -225.96491,12.28070 }</string>
	
								<string>{ -239.64912,-125.96491 }</string>
	
								<string>{ -240.70175,66.66667 }</string>
	
								<string>{ -226.31579,37.54387 }</string>

							</array>

							<array>
	
								<string>{ 240.35089,-122.10526 }</string>
	
								<string>{ 231.22809,-59.29824 }</string>
	
								<string>{ 240.70178,-41.40350 }</string>

							</array>

							<array>
	
								<string>{ 240.35089,-122.10526 }</string>
	
								<string>{ 142.45615,-92.63158 }</string>
	
								<string>{ 210.87720,-63.50877 }</string>
	
								<string>{ 231.22809,-59.29824 }</string>

							</array>

							<array>
	
								<string>{ -16.84210,-66.31579 }</string>
	
								<string>{ 24.91229,-95.08772 }</string>
	
								<string>{ -239.64912,-125.96491 }</string>
	
								<string>{ -138.24561,-22.80701 }</string>
	
								<string>{ -111.92982,-16.14035 }</string>

							</array>

							<array>
	
								<string>{ 240.35089,-122.10526 }</string>
	
								<string>{ 109.82458,-100.00000 }</string>
	
								<string>{ 142.45615,-92.63158 }</string>

							</array>

							<array>
	
								<string>{ -204.91228,-12.63158 }</string>
	
								<string>{ -239.64912,-125.96491 }</string>
	
								<string>{ -225.96491,12.28070 }</string>

							</array>

							<array>
	
								<string>{ -171.92982,-22.80701 }</string>
	
								<string>{ -239.64912,-125.96491 }</string>
	
								<string>{ -204.91228,-12.63158 }</string>

							</array>

							<array>
	
								<string>{ -138.24561,-22.80701 }</string>
	
								<string>{ -239.64912,-125.96491 }</string>
	
								<string>{ -171.92982,-22.80701 }</string>

							</array>

							<array>
	
								<string>{ -239.64912,-125.96491 }</string>
	
								<string>{ 63.15790,-100.00000 }</string>
	
								<string>{ 109.82458,-100.00000 }</string>
	
								<string>{ 240.35089,-122.10526 }</string>

							</array>

							<array>
	
								<string>{ 63.15790,-100.00000 }</string>
	
								<string>{ -239.64912,-125.96491 }</string>
	
								<string>{ 24.91229,-95.08772 }</string>

							</array>

						</array>
					</dict>

					<dict>
                        <key>mass</key>
                        <real>0</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        <key>isSensor</key>

                           <false/>

                        <key>polygons</key>
						<array>

							<array>
	
								<string>{ 193.33334,131.92984 }</string>
	
								<string>{ 184.56143,140.35089 }</string>
	
								<string>{ 239.64914,160.00000 }</string>
	
								<string>{ 240.00003,127.36844 }</string>

							</array>

							<array>
	
								<string>{ -57.89473,82.80702 }</string>
	
								<string>{ -72.98245,91.57895 }</string>
	
								<string>{ -78.59648,128.07019 }</string>
	
								<string>{ -5.96490,117.19299 }</string>
	
								<string>{ -33.33333,83.85965 }</string>

							</array>

							<array>
	
								<string>{ -90.17543,149.47369 }</string>
	
								<string>{ 23.85965,134.73685 }</string>
	
								<string>{ 5.61404,119.29825 }</string>
	
								<string>{ -5.96490,117.19299 }</string>
	
								<string>{ -78.59648,128.07019 }</string>

							</array>

							<array>
	
								<string>{ 76.84210,153.33334 }</string>
	
								<string>{ 239.64914,160.00000 }</string>
	
								<string>{ 184.56143,140.35089 }</string>

							</array>

							<array>
	
								<string>{ -90.17543,149.47369 }</string>
	
								<string>{ -112.28070,156.14035 }</string>
	
								<string>{ -113.68420,160.00000 }</string>
	
								<string>{ 76.84210,153.33334 }</string>
	
								<string>{ 23.85965,134.73685 }</string>

							</array>

							<array>
	
								<string>{ 76.84210,153.33334 }</string>
	
								<string>{ -113.68420,160.00000 }</string>
	
								<string>{ 239.64914,160.00000 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

